<body class="pg-forgotpassword pg-auth">

  <main>

    <header class="panel-row">
      <div class="content">

        <section class="logo-nav">

          <a href="/" class="logo">
          <img src="/assets/images/logo/medicarecostreport_logo.png" alt="MedicareCostReport Logo" />
          </a>

          {{> home/nav }}

        </section>

      </div>
    </header>

    <section class="panel-row">
      <div class="content">

        <h1>Reset Your Password</h1>

        <form action="/api/user/resetpassword" method="POST" class="auth use-ajax card" novalidate>

          <p>Enter your email address and we'll send
          you instructions to reset your password.</p>

          <label>Email</label>
          <input class="textbox" type="email" name="email" autocomplete="email" required />

          <input type="submit" class="btn full-width" value="Reset My Password" />

        </form>

      </div>
    </section>

  </main>

{{> scripts }}
