<body class="pg-external pg-404">

  <a class="logo" href="/">
  <img src="/assets/images/logo/medicarecostreport_logo.png" alt="MedicareCostReport Logo" />
  </a>

  <div class="message">
    <h1>Password Reset</h1>
    <p>Your new password is on it's way – please check your inbox</p>
    <a href="/signin" class="btn btn-green">Sign In</a>
  </div>
