<body class="pg-signin pg-auth">

  <main>

    <div class="container mt-4 mb-2">
      <div class="row login-container no-gutters">
        <aside class="col-md-6 ">
          <img src="/assets/images/img_login.png" alt="login" class="img-fluid" />
        </aside>
        <aside class="col-md-6">
          <a href="/" class="close"><img src="/assets/images/icon_close.svg" alt="close" /></a>
          <section class="login-holder">
            <center>
              <form action="/api/user/auth" class="auth use-ajax" method="POST" data-redirect="/dashboard" novalidate>
                <figure><img src="/assets/images/img_logo.png" alt="logo" class="img-fluid" /></figure>
                <h4>Sign in to your Account</h4>
                <div class="input-group mt-3 mb-3">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <img src="/assets/images/icon_email.svg" alt="email" />
                    </div>
                  </div>
                  <input type="text" class="form-control" name="email" autocomplete="email" required
                    placeholder="Email Address">
                </div>

                <div class="input-group mt-3 mb-3">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <img src="/assets/images/icon_password.svg" alt="email" />
                    </div>
                  </div>
                  <input type="password" class="form-control" placeholder="Password" name="password"
                    autocomplete="current-password" required>
                </div>

                <div class="row mt-4 mb-5">
                  <div class="col-md-6">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Remember Me</label>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <a href="/forgotpassword" class="forgot">Forgot Password ?</a>
                  </div>
                </div>

                <div class=" btn-loader full-width">
                    <input type="submit" style="cursor: pointer;" class="btn-plan" value="Sign In" />
                </div>
                <p class="mt-3">New Here ? <a href="/signup" class="text-yellow">Register</a></p>
              </form>
            </center>
          </section>
        </aside>
      </div>


    </div>


  </main>

  {{> scripts }}
