<body class="pg-signup-user pg-auth">

  <main>

    <header class="panel-row">
      <div class="content">

        <section class="logo-nav">

          {{> home/nav }}

        </section>

      </div>
    </header>

    <section class="panel-row">
      <div class="content">

        <h1>Create Your Account</h1>

        <form action="/api/user" method="POST" class="auth signup-user card" novalidate data-redirect="/dashboard">

          <label>First Name</label>
          <input class="textbox" type="text" name="name" required data-error="Please enter your name" />

          <label>Email</label>
          <input class="textbox" type="email" name="email" required />

          <label>Password</label>
          <input class="password" type="password" name="password" required />

          <input type="hidden" name="inviteId" />

          <div class="btn btn-loader full-width">
          <input type="submit" value="Sign Up" />
          </div>

          <span>Already registered? <a href="/signin">Sign In</a></span>

        </form>

      </div>
    </section>

  </main>

{{> scripts }}
