<body class="pg-signup-account pg-auth">
<main>
    <div class="container mt-4 mb-2">
        <div class="row login-container no-gutters">
            <aside class="col-md-6 ">
                <img src="/assets/images/img_reg.png" alt="login" class="img-fluid" />
            </aside>
            <aside class="col-md-6">
                <a href="/" class="close"><img src="/assets/images/icon_close.svg" alt="close" /></a>
                <section class="login-holder">
                    <center>

                        <form action="/api/account" novalidate method="POST" class="auth signup-account" data-redirect="/dashboard">
                            <figure><img src="/assets/images/img_logo.png" alt="logo" class="img-fluid" /></figure>
                            <h4>Create Your Account</h4>
                            <div class="input-group mt-3 mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <img src="/assets/images/icon_user.svg" alt="email" />
                                    </div>
                                </div>
                                <input type="text" class="form-control" name="name" required placeholder="Name">
                            </div>
                              <!--<label>First Name</label>
                              <input class="textbox" type="text" name="name" required data-error="Please enter your name" />-->
                            <div class="input-group mt-3 mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <img src="/assets/images/icon_email.svg" alt="email" />
                                    </div>
                                </div>
                                <input type="text" class="form-control" name="email" required placeholder="Email address">
                            </div>
                              <!--<label>Email</label>
                              <input class="textbox" type="email" name="email" required />-->
                            <div class="input-group mt-3 mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <img src="/assets/images/icon_password.svg" alt="email" />
                                    </div>
                                </div>
                                <input type="password" class="form-control" placeholder="Password" name="password" autocomplete="current-password" required>
                            </div>
                              <!--<label>Password</label>
                              <input class="textbox" type="password" name="password" required />-->
                            <div class="input-group mt-3 mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <img src="/assets/images/icon_shopping.png" alt="email" />
                                    </div>
                                </div>
                                <select name="plan" class="form-control" id="plan">
                                    <option value="" disabled selected>Select Plan</option>
                                    {{#each content.plans}}
                                        <option value="{{this.id}}">{{this.name}} ({{../content.currency}}{{this.price}}/{{../content.billingInterval}})</option>
                                    {{/each}}
                                </select>
                            </div>

                          <!--<label>Card Details</label>-->
                          <span id="card"></span>
                          <input type="hidden" name="source" />
                          <input type="hidden" name="referrer" /><br>
                          <div class="btn btn-loader full-width">
                          <input type="submit" value="Create Account" class="btn-plan"/>
                          </div>
                            <p class="mt-3">Already a Member? <a href="/signin" class="text-yellow">Sign In</a></p>
                        </form>
                    </center>
                </section>
            </aside>
        </div>
    </div>
  </main>



<script src="https://js.stripe.com/v3/"></script>
{{> scripts }}

<script>

    $('#plan').on('change', function() {
        $('#card').append(' <div class="creditcard signup-creditcard"></div>');
        if(this.value != 'FREE-PLAN-0'){
            initStripe();
        }else{
            $('.creditcard').remove();
            //removeStripe();
        }
    });
</script>
