{{!-- <input type="button" id="btnExport" value="Export"/> --}}
<div class="report"><table class="A000000" border="1" width="100%" cellpadding="1" cellspacing="1">
<colgroup>
    <col width="3%">
    <col width="5%">
    <col width="20%">
    <col width="9%">
    <col width="9%">
    <col width="9%">
    <col width="9%">
    <col width="9%">
    <col width="9%">
    <col width="9%">

    <col width="3%">

</colgroup><thead id="thead"><tr><td class="center" valign="top" colspan="5">RECLASSIFICATION AND ADJUSTMENT OF TRIAL BALANCE OF EXPENSES</td>
<td valign="top" colspan="2">Provider CCN: <span class="data">{{pId}}</span></td>
<td valign="top" colspan="2"><div>PERIOD: FROM <span class="data">{{year.start}}</span></div><div>TO <span class="data">{{year.end}}</span></div></td>
<td valign="top" colspan="2"> WORKSHEET A</td>
</tr>
<tr><td class="center" valign="middle" colspan="3" rowspan="2">     COST CENTER DESCRIPTIONS   (omit cents) </td>
<td class="center">  SALARIES </td>
<td class="center">  OTHER </td>
<td class="center"> TOTAL (col. 1 + col. 2) </td>
<td class="center"> RECLASSIFI- CATIONS </td>
<td class="center">RECLASSIFIED TRIAL BALANCE (col. 3 ± col. 4) </td>
<td class="center">  ADJUSTMENTS </td>
<td class="center">NET EXPENSES FOR ALLOCATION (col. 5 ± col. 6) </td>
<td rowspan="2">&nbsp;</td>
</tr>
<tr><td class="center">1</td>
<td class="center">2</td>
<td class="center">3</td>
<td class="center">4</td>
<td class="center">5</td>
<td class="center">6</td>
<td class="center">7</td>
</tr>
</thead><tbody>
<tr><td colspan="2">&nbsp;</td>
<td>    GENERAL SERVICE COST CENTERS </td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr><td class="right">1</td>
<td class="center">00100</td>
<td> Capital Related Costs-Buildings and Fixtures</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00100-00100}}</td>
<td class="data right">{{NumberFormat data-1.00100-00200}}</td>
<td class="data right">{{NumberFormat data-1.00100-00300}}</td>
<td class="data right">{{NumberFormat data-1.00100-00400}}</td>
<td class="data right">{{NumberFormat data-1.00100-00500}}</td>
<td class="data right">{{NumberFormat data-1.00100-00600}}</td>
<td class="data right">{{NumberFormat data-1.00100-00700}}</td>
<td class="right">1</td>
</tr>
<tr><td class="right">2</td>
<td class="center">00200</td>
<td> Capital Related Costs-Movable Equipment</td>
<td class="data fillgrey right">{{NumberFormat data-1.00200-00100}}</td>
<td class="data right">{{NumberFormat data-1.00200-00200}}</td>
<td class="data right">{{NumberFormat data-1.00200-00300}}</td>
<td class="data right">{{NumberFormat data-1.00200-00400}}</td>
<td class="data right">{{NumberFormat data-1.00200-00500}}</td>
<td class="data right">{{NumberFormat data-1.00200-00600}}</td>
<td class="data right">{{NumberFormat data-1.00200-00700}}</td>
<td class="right">2</td>
</tr>
<tr><td class="right">3</td>
<td class="center">00300</td>
<td> Other Capital Related Costs</td>
<td class="data fillgrey right">{{NumberFormat data-1.00300-00100}}</td>
<td class="data right">{{NumberFormat data-1.00300-00200}}</td>
<td class="data right">{{NumberFormat data-1.00300-00300}}</td>
<td class="data right">{{NumberFormat data-1.00300-00400}}</td>
<td class="data right">{{NumberFormat data-1.00300-00500}}</td>
<td class="data right">{{NumberFormat data-1.00300-00600}}</td>
<td class="data right">-0-</td>
<td class="right">3</td>
</tr>
<tr><td class="right">4</td>
<td class="center">00400</td>
<td> Employee Benefits Department</td>
<td class="data right">{{NumberFormat data-1.00400-00100}}</td>
<td class="data right">{{NumberFormat data-1.00400-00200}}</td>
<td class="data right">{{NumberFormat data-1.00400-00300}}</td>
<td class="data right">{{NumberFormat data-1.00400-00400}}</td>
<td class="data right">{{NumberFormat data-1.00400-00500}}</td>
<td class="data right">{{NumberFormat data-1.00400-00600}}</td>
<td class="data right">{{NumberFormat data-1.00400-00700}}</td>
<td class="right">4</td>
</tr>
<tr><td class="right">5</td>
<td class="center">00500</td>
<td> Administrative and General</td>
<td class="data right">{{NumberFormat data-1.00500-00100}}</td>
<td class="data right">{{NumberFormat data-1.00500-00200}}</td>
<td class="data right">{{NumberFormat data-1.00500-00300}}</td>
<td class="data right">{{NumberFormat data-1.00500-00400}}</td>
<td class="data right">{{NumberFormat data-1.00500-00500}}</td>
<td class="data right">{{NumberFormat data-1.00500-00600}}</td>
<td class="data right">{{NumberFormat data-1.00500-00700}}</td>
<td class="right">5</td>
</tr>
<tr><td class="right">6</td>
<td class="center">00600</td>
<td> Maintenance and Repairs</td>
<td class="data right">{{NumberFormat data-1.00600-00100}}</td>
<td class="data right">{{NumberFormat data-1.00600-00200}}</td>
<td class="data right">{{NumberFormat data-1.00600-00300}}</td>
<td class="data right">{{NumberFormat data-1.00600-00400}}</td>
<td class="data right">{{NumberFormat data-1.00600-00500}}</td>
<td class="data right">{{NumberFormat data-1.00600-00600}}</td>
<td class="data right">{{NumberFormat data-1.00600-00700}}</td>
<td class="right">6</td>
</tr>
<tr><td class="right">7</td>
<td class="center">00700</td>
<td> Operation of Plant</td>
<td class="data right">{{NumberFormat data-1.00700-00100}}</td>
<td class="data right">{{NumberFormat data-1.00700-00200}}</td>
<td class="data right">{{NumberFormat data-1.00700-00300}}</td>
<td class="data right">{{NumberFormat data-1.00700-00400}}</td>
<td class="data right">{{NumberFormat data-1.00700-00500}}</td>
<td class="data right">{{NumberFormat data-1.00700-00600}}</td>
<td class="data right">{{NumberFormat data-1.00700-00700}}</td>
<td class="right">7</td>
</tr>
<tr><td class="right">8</td>
<td class="center">00800</td>
<td> Laundry and Linen Service</td>
<td class="data right">{{NumberFormat data-1.00800-00100}}</td>
<td class="data right">{{NumberFormat data-1.00800-00200}}</td>
<td class="data right">{{NumberFormat data-1.00800-00300}}</td>
<td class="data right">{{NumberFormat data-1.00800-00400}}</td>
<td class="data right">{{NumberFormat data-1.00800-00500}}</td>
<td class="data right">{{NumberFormat data-1.00800-00600}}</td>
<td class="data right">{{NumberFormat data-1.00800-00700}}</td>
<td class="right">8</td>
</tr>
<tr><td class="right">9</td>
<td class="center">00900</td>
<td> Housekeeping</td>
<td class="data right">{{NumberFormat data-1.00900-00100}}</td>
<td class="data right">{{NumberFormat data-1.00900-00200}}</td>
<td class="data right">{{NumberFormat data-1.00900-00300}}</td>
<td class="data right">{{NumberFormat data-1.00900-00400}}</td>
<td class="data right">{{NumberFormat data-1.00900-00500}}</td>
<td class="data right">{{NumberFormat data-1.00900-00600}}</td>
<td class="data right">{{NumberFormat data-1.00900-00700}}</td>
<td class="right">9</td>
</tr>
<tr><td class="right">10</td>
<td class="center">01000</td>
<td> Dietary</td>
<td class="data right">{{NumberFormat data-1.01000-00100}}</td>
<td class="data right">{{NumberFormat data-1.01000-00200}}</td>
<td class="data right">{{NumberFormat data-1.01000-00300}}</td>
<td class="data right">{{NumberFormat data-1.01000-00400}}</td>
<td class="data right">{{NumberFormat data-1.01000-00500}}</td>
<td class="data right">{{NumberFormat data-1.01000-00600}}</td>
<td class="data right">{{NumberFormat data-1.01000-00700}}</td>
<td class="right">10</td>
</tr>
<tr><td class="right">11</td>
<td class="center">01100</td>
<td> Cafeteria</td>
<td class="data right">{{NumberFormat data-1.01100-00100}}</td>
<td class="data right">{{NumberFormat data-1.01100-00200}}</td>
<td class="data right">{{NumberFormat data-1.01100-00300}}</td>
<td class="data right">{{NumberFormat data-1.01100-00400}}</td>
<td class="data right">{{NumberFormat data-1.01100-00500}}</td>
<td class="data right">{{NumberFormat data-1.01100-00600}}</td>
<td class="data right">{{NumberFormat data-1.01100-00700}}</td>
<td class="right">11</td>
</tr>
<tr><td class="right">12</td>
<td class="center">01200</td>
<td> Maintenance of Personnel</td>
<td class="data right">{{NumberFormat data-1.01200-00100}}</td>
<td class="data right">{{NumberFormat data-1.01200-00200}}</td>
<td class="data right">{{NumberFormat data-1.01200-00300}}</td>
<td class="data right">{{NumberFormat data-1.01200-00400}}</td>
<td class="data right">{{NumberFormat data-1.01200-00500}}</td>
<td class="data right">{{NumberFormat data-1.01200-00600}}</td>
<td class="data right">{{NumberFormat data-1.01200-00700}}</td>
<td class="right">12</td>
</tr>
<tr><td class="right">13</td>
<td class="center">01300</td>
<td> Nursing Administration</td>
<td class="data right">{{NumberFormat data-1.01300-00100}}</td>
<td class="data right">{{NumberFormat data-1.01300-00200}}</td>
<td class="data right">{{NumberFormat data-1.01300-00300}}</td>
<td class="data right">{{NumberFormat data-1.01300-00400}}</td>
<td class="data right">{{NumberFormat data-1.01300-00500}}</td>
<td class="data right">{{NumberFormat data-1.01300-00600}}</td>
<td class="data right">{{NumberFormat data-1.01300-00700}}</td>
<td class="right">13</td>
</tr>
<tr><td class="right">14</td>
<td class="center">01400</td>
<td> Central Services and Supply</td>
<td class="data right">{{NumberFormat data-1.01400-00100}}</td>
<td class="data right">{{NumberFormat data-1.01400-00200}}</td>
<td class="data right">{{NumberFormat data-1.01400-00300}}</td>
<td class="data right">{{NumberFormat data-1.01400-00400}}</td>
<td class="data right">{{NumberFormat data-1.01400-00500}}</td>
<td class="data right">{{NumberFormat data-1.01400-00600}}</td>
<td class="data right">{{NumberFormat data-1.01400-00700}}</td>  
<td class="right">14</td>
</tr>
<tr><td class="right">15</td>
<td class="center">01500</td>
<td> Pharmacy</td>
<td class="data right">{{NumberFormat data-1.01500-00100}}</td>
<td class="data right">{{NumberFormat data-1.01500-00200}}</td>
<td class="data right">{{NumberFormat data-1.01500-00300}}</td>
<td class="data right">{{NumberFormat data-1.01500-00400}}</td>
<td class="data right">{{NumberFormat data-1.01500-00500}}</td>
<td class="data right">{{NumberFormat data-1.01500-00600}}</td>
<td class="data right">{{NumberFormat data-1.01500-00700}}</td>
<td class="right">15</td>
</tr>
<tr><td class="right">16</td>
<td class="center">01600</td>
<td> Medical Records &amp; Medical Records Library</td>
<td class="data right">{{NumberFormat data-1.01600-00100}}</td>
<td class="data right">{{NumberFormat data-1.01600-00200}}</td>
<td class="data right">{{NumberFormat data-1.01600-00300}}</td>
<td class="data right">{{NumberFormat data-1.01600-00400}}</td>
<td class="data right">{{NumberFormat data-1.01600-00500}}</td>
<td class="data right">{{NumberFormat data-1.01600-00600}}</td>
<td class="data right">{{NumberFormat data-1.01600-00700}}</td>
<td class="right">16</td>
</tr>
<tr><td class="right">17</td>
<td class="center">01700</td>
<td> Social Service</td>
<td class="data right">{{NumberFormat data-1.01700-00100}}</td> 
<td class="data right">{{NumberFormat data-1.01700-00200}}</td>
<td class="data right">{{NumberFormat data-1.01700-00300}}</td>
<td class="data right">{{NumberFormat data-1.01700-00400}}</td>
<td class="data right">{{NumberFormat data-1.01700-00500}}</td>
<td class="data right">{{NumberFormat data-1.01700-00600}}</td>
<td class="data right">{{NumberFormat data-1.01700-00700}}</td>
<td class="right">17</td>
</tr>
<tr><td class="right">18</td>
<td class="center">&nbsp;</td>
<td> Other General Service (specify)</td>
<td class="data right">{{NumberFormat data-1.01800-00100}}</td>
<td class="data right">{{NumberFormat data-1.01800-00200}}</td>
<td class="data right">{{NumberFormat data-1.01800-00300}}</td>
<td class="data right">{{NumberFormat data-1.01800-00400}}</td>
<td class="data right">{{NumberFormat data-1.01800-00500}}</td>
<td class="data right">{{NumberFormat data-1.01800-00600}}</td>
<td class="data right">{{NumberFormat data-1.01800-00700}}</td>
<td class="right">18</td>
</tr>
<tr><td class="right">19</td>
<td class="center">01900</td>
<td> Nonphysician Anesthetists</td>
<td class="data right">{{NumberFormat data-1.01900-00100}}</td>
<td class="data right">{{NumberFormat data-1.01900-00200}}</td>
<td class="data right">{{NumberFormat data-1.01900-00300}}</td>
<td class="data right">{{NumberFormat data-1.01900-00400}}</td>
<td class="data right">{{NumberFormat data-1.01900-00500}}</td>
<td class="data right">{{NumberFormat data-1.01900-00600}}</td>
<td class="data right">{{NumberFormat data-1.01900-00700}}</td>
<td class="right">19</td>
</tr>
<tr><td class="right">20</td>
<td class="center">02000</td>
<td> Nursing School</td>
<td class="data right">{{NumberFormat data-1.02000-00100}}</td>
<td class="data right">{{NumberFormat data-1.02000-00200}}</td>
<td class="data right">{{NumberFormat data-1.02000-00300}}</td>
<td class="data right">{{NumberFormat data-1.02000-00400}}</td>
<td class="data right">{{NumberFormat data-1.02000-00500}}</td>
<td class="data right">{{NumberFormat data-1.02000-00600}}</td>
<td class="data right">{{NumberFormat data-1.02000-00700}}</td>
<td class="right">20</td>
</tr>
<tr><td class="right">21</td>
<td class="center">02100</td>
<td> Intern &amp; Res. Service-Salary &amp; Fringes (Approved)</td>
<td class="data right">{{NumberFormat data-1.02100-00100}}</td>
<td class="data right">{{NumberFormat data-1.02100-00200}}</td>
<td class="data right">{{NumberFormat data-1.02100-00300}}</td>
<td class="data right">{{NumberFormat data-1.02100-00400}}</td>
<td class="data right">{{NumberFormat data-1.02100-00500}}</td>
<td class="data right">{{NumberFormat data-1.02100-00600}}</td>
<td class="data right">{{NumberFormat data-1.02100-00700}}</td>
<td class="right">21</td>
</tr>
<tr><td class="right">22</td>
<td class="center">02200</td>
<td> Intern &amp; Res. Other Program Costs (Approved)</td>
<td class="data right">{{NumberFormat data-1.02200-00100}}</td>
<td class="data right">{{NumberFormat data-1.02200-00200}}</td>
<td class="data right">{{NumberFormat data-1.02200-00300}}</td>
<td class="data right">{{NumberFormat data-1.02200-00400}}</td>
<td class="data right">{{NumberFormat data-1.02200-00500}}</td>
<td class="data right">{{NumberFormat data-1.02200-00600}}</td>
<td class="data right">{{NumberFormat data-1.02200-00700}}</td>
<td class="right">22</td>
</tr>
<tr><td class="right">23</td>
<td class="center">02300</td>
<td> Paramedical Ed. Program (specify) </td>
<td class="data right">{{NumberFormat data-1.02300-00100}}</td>
<td class="data right">{{NumberFormat data-1.02300-00200}}</td>
<td class="data right">{{NumberFormat data-1.02300-00300}}</td>
<td class="data right">{{NumberFormat data-1.02300-00400}}</td>
<td class="data right">{{NumberFormat data-1.02300-00500}}</td>
<td class="data right">{{NumberFormat data-1.02300-00600}}</td>
<td class="data right">{{NumberFormat data-1.02300-00700}}</td>
<td class="right">23</td>
</tr>
<tr><td class="right" colspan="2">&nbsp;</td>
<td>    INPATIENT ROUTINE SERVICE COST CENTERS </td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class=" right" class="fillgrey">&nbsp;</td>
<td class="right">&nbsp;</td>
</tr>
<tr><td class="right">30</td>
<td class="dcenter">03000</td>
<td> Adults and Pediatrics (General Routine Care)</td>
<td class="data right">{{NumberFormat data-1.03000-00100}}</td>
<td class="data right">{{NumberFormat data-1.03000-00200}}</td>
<td class="data right">{{NumberFormat data-1.03000-00300}}</td>
<td class="data right">{{NumberFormat data-1.03000-00400}}</td>
<td class="data right">{{NumberFormat data-1.03000-00500}}</td>
<td class="data right">{{NumberFormat data-1.03000-00600}}</td>
<td class="data right">{{NumberFormat data-1.03000-00700}}</td>
<td class="right">30</td>
</tr>
<tr><td class="right">31</td>
<td class="center">03100</td>
<td> Intensive Care Unit</td>
<td class="data right">{{NumberFormat data-1.03100-00100}}</td>
<td class="data right">{{NumberFormat data-1.03100-00200}}</td>
<td class="data right">{{NumberFormat data-1.03100-00300}}</td>
<td class="data right">{{NumberFormat data-1.03100-00400}}</td>
<td class="data right">{{NumberFormat data-1.03100-00500}}</td>
<td class="data right">{{NumberFormat data-1.03100-00600}}</td>
<td class="data right">{{NumberFormat data-1.03100-00700}}</td>
<td class="right">31</td>
</tr>
<tr><td class="right">32</td>
<td class="center">03200</td>
<td> Coronary Care Unit</td>
<td class="data right">{{NumberFormat data-1.03200-00100}}</td>
<td class="data right">{{NumberFormat data-1.03200-00200}}</td>
<td class="data right">{{NumberFormat data-1.03200-00300}}</td>
<td class="data right">{{NumberFormat data-1.03200-00400}}</td>
<td class="data right">{{NumberFormat data-1.03200-00500}}</td>
<td class="data right">{{NumberFormat data-1.03200-00600}}</td>
<td class="data right">{{NumberFormat data-1.03200-00700}}</td>
<td class="right">32</td>
</tr>
<tr><td class="right">33</td>
<td class="center">03300</td>
<td> Burn Intensive Care Unit</td>
<td class="data right">{{NumberFormat data-1.03300-00100}}</td>
<td class="data right">{{NumberFormat data-1.03300-00200}}</td>
<td class="data right">{{NumberFormat data-1.03300-00300}}</td>
<td class="data right">{{NumberFormat data-1.03300-00400}}</td>
<td class="data right">{{NumberFormat data-1.03300-00500}}</td>
<td class="data right">{{NumberFormat data-1.03300-00600}}</td>
<td class="data right">{{NumberFormat data-1.03300-00700}}</td>
<td class="right">33</td>
</tr>
<tr><td class="right">34</td>
<td class="center">03400</td>
<td> Surgical Intensive Care Unit</td>
<td class="data right">{{NumberFormat data-1.03400-00100}}</td>
<td class="data right">{{NumberFormat data-1.03400-00200}}</td>
<td class="data right">{{NumberFormat data-1.03400-00300}}</td>
<td class="data right">{{NumberFormat data-1.03400-00400}}</td>
<td class="data right">{{NumberFormat data-1.03400-00500}}</td>
<td class="data right">{{NumberFormat data-1.03400-00600}}</td>
<td class="data right">{{NumberFormat data-1.03400-00700}}</td>
<td class="right">34</td>
</tr>
<tr><td class="right">35</td>
<td class="center">&nbsp;</td>
<td> Other Special Care (specify)</td>
<td class="data right">{{NumberFormat data-1.03500-00100}}</td>
<td class="data right">{{NumberFormat data-1.03500-00200}}</td>
<td class="data right">{{NumberFormat data-1.03500-00300}}</td>
<td class="data right">{{NumberFormat data-1.03500-00400}}</td>
<td class="data right">{{NumberFormat data-1.03500-00500}}</td>
<td class="data right">{{NumberFormat data-1.03500-00600}}</td>
<td class="data right">{{NumberFormat data-1.03500-00700}}</td>
<td class="right">35</td>
</tr>
<tr><td class="right">40</td>
<td class="center">04000</td>
<td> Subprovider - IPF</td>
<td class="data right">{{NumberFormat data-1.04000-00100}}</td>
<td class="data right">{{NumberFormat data-1.04000-00200}}</td>
<td class="data right">{{NumberFormat data-1.04000-00300}}</td>
<td class="data right">{{NumberFormat data-1.04000-00400}}</td>
<td class="data right">{{NumberFormat data-1.04000-00500}}</td>
<td class="data right">{{NumberFormat data-1.04000-00600}}</td>
<td class="data right">{{NumberFormat data-1.04000-00700}}</td>
<td class="right">40</td>
</tr>
<tr><td class="right">41</td>
<td class="center">04100</td>
<td> Subprovider - IRF</td>
<td class="data right">{{NumberFormat data-1.04100-00100}}</td>
<td class="data right">{{NumberFormat data-1.04100-00200}}</td>
<td class="data right">{{NumberFormat data-1.04100-00300}}</td>
<td class="data right">{{NumberFormat data-1.04100-00400}}</td>
<td class="data right">{{NumberFormat data-1.04100-00500}}</td>
<td class="data right">{{NumberFormat data-1.04100-00600}}</td>
<td class="data right">{{NumberFormat data-1.04100-00700}}</td>
<td class="right">41</td>
</tr>
<tr><td class="right">42</td>
<td class="center">04200</td>
<td> Subprovider (specify)</td>
<td class="data right">{{NumberFormat data-1.04200-00100}}</td>
<td class="data right">{{NumberFormat data-1.04200-00200}}</td>
<td class="data right">{{NumberFormat data-1.04200-00300}}</td>
<td class="data right">{{NumberFormat data-1.04200-00400}}</td>
<td class="data right">{{NumberFormat data-1.04200-00500}}</td>
<td class="data right">{{NumberFormat data-1.04200-00600}}</td>
<td class="data right">{{NumberFormat data-1.04200-00700}}</td>
<td class="right">42</td>
</tr>
<tr><td class="right">43</td>
<td class="center">04300</td>
<td> Nursery</td>
<td class="data right">{{NumberFormat data-1.04300-00100}}</td>
<td class="data right">{{NumberFormat data-1.04300-00200}}</td>
<td class="data right">{{NumberFormat data-1.04300-00300}}</td>
<td class="data right">{{NumberFormat data-1.04300-00400}}</td>
<td class="data right">{{NumberFormat data-1.04300-00500}}</td>
<td class="data right">{{NumberFormat data-1.04300-00600}}</td>
<td class="data right">{{NumberFormat data-1.04300-00700}}</td>
<td class="right">43</td>
</tr>
<tr><td class="right">44</td>
<td class="center">04400</td>
<td> Skilled Nursing Facility</td>
<td class="data right">{{NumberFormat data-1.04400-00100}}</td>
<td class="data right">{{NumberFormat data-1.04400-00200}}</td>
<td class="data right">{{NumberFormat data-1.04400-00300}}</td>
<td class="data right">{{NumberFormat data-1.04400-00400}}</td>
<td class="data right">{{NumberFormat data-1.04400-00500}}</td>
<td class="data right">{{NumberFormat data-1.04400-00600}}</td>
<td class="data right">{{NumberFormat data-1.04400-00700}}</td>
<td class="right">44</td>
</tr>
<tr><td class="right">45</td>
<td class="center">04500</td>
<td> Nursing Facility</td>
<td class="data right">{{NumberFormat data-1.04500-00100}}</td>
<td class="data right">{{NumberFormat data-1.04400-00100}}</td>
<td class="data right">{{NumberFormat data-1.04500-00100}}</td>
<td class="data right">{{NumberFormat data-1.04500-00100}}</td>
<td class="data right">{{NumberFormat data-1.04500-00100}}</td>
<td class="data right">{{NumberFormat data-1.04500-00100}}</td>
<td class="data right"></td>
<td class="right">45</td>
</tr>
<tr><td class="right">46</td>
<td class="center">04600</td>
<td> Other Long Term Care</td>
<td class="data right">{{NumberFormat data-1.04600-00100}}</td>
<td class="data right">{{NumberFormat data-1.04600-00200}}</td>
<td class="data right">{{NumberFormat data-1.04600-00300}}</td>
<td class="data right">{{NumberFormat data-1.04600-00400}}</td>
<td class="data right">{{NumberFormat data-1.04600-00500}}</td>
<td class="data right">{{NumberFormat data-1.04600-00600}}</td>
<td class="data right">{{NumberFormat data-1.04600-00700}}</td>
<td class="right">46</td>
</tr>
<tr><td class="right" colspan="2">&nbsp;</td>
<td>    ANCILLARY SERVICE COST CENTERS </td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="right">&nbsp;</td>
</tr>
<tr><td class="right">50</td>
<td class="center">05000</td>
<td> Operating Room</td>
<td class="data right">{{NumberFormat data-1.05000-00100}}</td>
<td class="data right">{{NumberFormat data-1.05000-00200}}</td>
<td class="data right">{{NumberFormat data-1.05000-00300}}</td>
<td class="data right">{{NumberFormat data-1.05000-00400}}</td>
<td class="data right">{{NumberFormat data-1.05000-00500}}</td>
<td class="data right">{{NumberFormat data-1.05000-00600}}</td>
<td class="data right">{{NumberFormat data-1.05000-00700}}</td>
<td class="right">50</td>
</tr>
<tr><td class="right">51</td>
<td class="center">05100</td>
<td> Recovery Room</td>
<td class="data right">{{NumberFormat data-1.05100-00100}}</td>
<td class="data right">{{NumberFormat data-1.05100-00200}}</td>
<td class="data right">{{NumberFormat data-1.05100-00300}}</td>
<td class="data right">{{NumberFormat data-1.05100-00400}}</td>
<td class="data right">{{NumberFormat data-1.05100-00500}}</td>
<td class="data right">{{NumberFormat data-1.05100-00600}}</td>
<td class="data right">{{NumberFormat data-1.05100-00700}}</td>
<td class="right">51</td>
</tr>
<tr><td class="right">52</td>
<td class="center">05200</td>
<td> Labor Room and Delivery Room</td>
<td class="data right">{{NumberFormat data-1.05200-00100}}</td>
<td class="data right">{{NumberFormat data-1.05200-00200}}</td>
<td class="data right">{{NumberFormat data-1.05200-00300}}</td>
<td class="data right">{{NumberFormat data-1.05200-00400}}</td>
<td class="data right">{{NumberFormat data-1.05200-00500}}</td>
<td class="data right">{{NumberFormat data-1.05200-00600}}</td>
<td class="data right">{{NumberFormat data-1.05200-00700}}</td>
<td class="right">52</td>
</tr>
<tr><td class="right">53</td>
<td class="center">05300</td>
<td> Anesthesiology</td>
<td class="data right">{{NumberFormat data-1.05300-00100}}</td>
<td class="data right">{{NumberFormat data-1.05300-00200}}</td>
<td class="data right">{{NumberFormat data-1.05300-00300}}</td>
<td class="data right">{{NumberFormat data-1.05300-00400}}</td>
<td class="data right">{{NumberFormat data-1.05300-00500}}</td>
<td class="data right">{{NumberFormat data-1.05300-00600}}</td>
<td class="data right">{{NumberFormat data-1.05300-00700}}</td>
<td class="data right">{{NumberFormat data-1.05300-00800}}</td>
</tr>
<tr><td class="right">54</td>
<td class="center">05400</td>
<td> Radiology-Diagnostic</td>
<td class="data right">{{NumberFormat data-1.05400-00100}}</td>
<td class="data right">{{NumberFormat data-1.05400-00200}}</td>
<td class="data right">{{NumberFormat data-1.05400-00300}}</td>
<td class="data right">{{NumberFormat data-1.05400-00400}}</td>
<td class="data right">{{NumberFormat data-1.05400-00500}}</td>
<td class="data right">{{NumberFormat data-1.05400-00600}}</td>
<td class="data right">{{NumberFormat data-1.05400-00700}}</td>
<td class="right">54</td>
</tr>
<tr><td class="right">55</td>
<td class="center">05500</td>
<td> Radiology-Therapeutic</td>
<td class="data right">{{NumberFormat data-1.05500-00100}}</td>
<td class="data right">{{NumberFormat data-1.05500-00200}}</td>
<td class="data right">{{NumberFormat data-1.05500-00300}}</td>
<td class="data right">{{NumberFormat data-1.05500-00400}}</td>
<td class="data right">{{NumberFormat data-1.05500-00500}}</td>
<td class="data right">{{NumberFormat data-1.05500-00600}}</td>
<td class="data right">{{NumberFormat data-1.05500-00700}}</td>
<td class="right">55</td>
</tr>
<tr><td class="right">56</td>
<td class="center">05600</td>
<td> Radioisotope</td>
<td class="data right">{{NumberFormat data-1.05600-00100}}</td>
<td class="data right">{{NumberFormat data-1.05600-00200}}</td>
<td class="data right">{{NumberFormat data-1.05600-00300}}</td>
<td class="data right">{{NumberFormat data-1.05600-00400}}</td>
<td class="data right">{{NumberFormat data-1.05600-00500}}</td>
<td class="data right">{{NumberFormat data-1.05600-00600}}</td>
<td class="data right">{{NumberFormat data-1.05600-00700}}</td>
<td class="right">56</td>
</tr>
<tr><td class="right">57</td>
<td class="center">05700</td>
<td> Computed Tomography (CT) Scan</td>
<td class="data right">{{NumberFormat data-1.05700-00100}}</td>
<td class="data right">{{NumberFormat data-1.05700-00200}}</td>
<td class="data right">{{NumberFormat data-1.05700-00300}}</td>
<td class="data right">{{NumberFormat data-1.05700-00400}}</td>
<td class="data right">{{NumberFormat data-1.05700-00500}}</td>
<td class="data right">{{NumberFormat data-1.05700-00600}}</td>
<td class="data right">{{NumberFormat data-1.05700-00700}}</td>
<td class="right">57</td>
</tr>
<tr><td class="right">58</td>
<td class="center">05800</td>
<td> Magnetic Resonance Imaging (MRI)</td>
<td class="data right">{{NumberFormat data-1.05800-00100}}</td>
<td class="data right">{{NumberFormat data-1.05800-00200}}</td>
<td class="data right">{{NumberFormat data-1.05800-00300}}</td>
<td class="data right">{{NumberFormat data-1.05800-00400}}</td>
<td class="data right">{{NumberFormat data-1.05800-00500}}</td>
<td class="data right">{{NumberFormat data-1.05800-00600}}</td>
<td class="data right">{{NumberFormat data-1.05800-00700}}</td>
<td class="right">58</td>
</tr>
<tr><td class="right">59</td>
<td class="center">05900</td>
<td> Cardiac Catheterization</td>
<td class="data right">{{NumberFormat data-1.05900-00100}}</td>
<td class="data right">{{NumberFormat data-1.05900-00200}}</td>
<td class="data right">{{NumberFormat data-1.05900-00300}}</td>
<td class="data right">{{NumberFormat data-1.05900-00400}}</td>
<td class="data right">{{NumberFormat data-1.05900-00500}}</td>
<td class="data right">{{NumberFormat data-1.05900-00600}}</td>
<td class="data right">{{NumberFormat data-1.05900-00700}}</td>
<td class="right">59</td>
</tr>
<tr><td class="right">60</td>
<td class="center">06000</td>
<td> Laboratory</td>
<td class="data right">{{NumberFormat data-1.06000-00100}}</td>
<td class="data right">{{NumberFormat data-1.06000-00200}}</td>
<td class="data right">{{NumberFormat data-1.06000-00300}}</td>
<td class="data right">{{NumberFormat data-1.06000-00400}}</td>
<td class="data right">{{NumberFormat data-1.06000-00500}}</td>
<td class="data right">{{NumberFormat data-1.06000-00600}}</td>
<td class="data right">{{NumberFormat data-1.06000-00700}}</td>
<td class="right">60</td>
</tr>
<tr><td class="right">61</td>
<td class="center">06100</td>
<td> PBP Clinical Laboratory Services-Program Only</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.06100-00100}}</td>
<td class="data right">{{NumberFormat data-1.06100-00200}}</td>
<td class="data right">{{NumberFormat data-1.06100-00300}}</td>
<td class="data right">{{NumberFormat data-1.06100-00400}}</td>
<td class="data right">{{NumberFormat data-1.06100-00500}}</td>
<td class="data right">{{NumberFormat data-1.06100-00600}}</td>
<td class="data right">{{NumberFormat data-1.06100-00700}}</td>
<td class="right">61</td>
</tr>
<tr><td class="right">62</td>
<td class="center">06200</td>
<td> Whole Blood &amp; Packed Red Blood Cells</td>
<td class="data right">{{NumberFormat data-1.06200-00100}}</td>
<td class="data right">{{NumberFormat data-1.06200-00200}}</td>
<td class="data right">{{NumberFormat data-1.06200-00300}}</td>
<td class="data right">{{NumberFormat data-1.06200-00400}}</td>
<td class="data right">{{NumberFormat data-1.06200-00500}}</td>
<td class="data right">{{NumberFormat data-1.06200-00600}}</td>
<td class="data right">{{NumberFormat data-1.06200-00700}}</td>
<td class="right">62</td>
</tr>
<tr><td class="right">63</td>
<td class="center">06300</td>
<td> Blood Storing, Processing, &amp; Trans.</td>
<td class="data right">{{NumberFormat data-1.06300-00100}}</td>
<td class="data right">{{NumberFormat data-1.06300-00200}}</td>
<td class="data right">{{NumberFormat data-1.06300-00300}}</td>
<td class="data right">{{NumberFormat data-1.06300-00400}}</td>
<td class="data right">{{NumberFormat data-1.06300-00500}}</td>
<td class="data right">{{NumberFormat data-1.06300-00600}}</td>
<td class="data right">{{NumberFormat data-1.06300-00700}}</td>
<td class="right">63</td>
</tr>
<tr><td class="right">64</td>
<td class="center">06400</td>
<td> Intravenous Therapy</td>
<td class="data right">{{NumberFormat data-1.06400-00100}}</td>
<td class="data right">{{NumberFormat data-1.06400-00200}}</td>
<td class="data right">{{NumberFormat data-1.06400-00300}}</td>
<td class="data right">{{NumberFormat data-1.06400-00400}}</td>
<td class="data right">{{NumberFormat data-1.06400-00500}}</td>
<td class="data right">{{NumberFormat data-1.06400-00600}}</td>
<td class="data right">{{NumberFormat data-1.06400-00700}}</td>
<td class="right">64</td>
</tr>
<tr><td class="right">65</td>
<td class="center">06500</td>
<td> Respiratory Therapy</td>
<td class="data right">{{NumberFormat data-1.06500-00100}}</td>
<td class="data right">{{NumberFormat data-1.06500-00200}}</td>
<td class="data right">{{NumberFormat data-1.06500-00300}}</td>
<td class="data right">{{NumberFormat data-1.06500-00400}}</td>
<td class="data right">{{NumberFormat data-1.06500-00500}}</td>
<td class="data right">{{NumberFormat data-1.06500-00600}}</td>
<td class="data right">{{NumberFormat data-1.06500-00700}}</td>
<td class="right">65</td>
</tr>
<tr><td class="right">66</td>
<td class="center">06600</td>
<td> Physical Therapy</td>
<td class="data right">{{NumberFormat data-1.06600-00100}}</td>
<td class="data right">{{NumberFormat data-1.06600-00200}}</td>
<td class="data right">{{NumberFormat data-1.06600-00300}}</td>
<td class="data right">{{NumberFormat data-1.06600-00400}}</td>
<td class="data right">{{NumberFormat data-1.06600-00500}}</td>
<td class="data right">{{NumberFormat data-1.06600-00600}}</td>
<td class="data right">{{NumberFormat data-1.06600-00700}}</td>
<td class="right">66</td>
</tr>
<tr><td class="right">67</td>
<td class="center">06700</td>
<td> Occupational Therapy</td>
<td class="data right">{{NumberFormat data-1.06700-00100}}</td>
<td class="data right">{{NumberFormat data-1.06700-00200}}</td>
<td class="data right">{{NumberFormat data-1.06700-00300}}</td>
<td class="data right">{{NumberFormat data-1.06700-00400}}</td>
<td class="data right">{{NumberFormat data-1.06700-00500}}</td>
<td class="data right">{{NumberFormat data-1.06700-00600}}</td>
<td class="data right">{{NumberFormat data-1.06700-00700}}</td>
<td class="right">67</td>
</tr>
<tr><td class="right">68</td>
<td class="center">06800</td>
<td> Speech Pathology</td>
<td class="data right">{{NumberFormat data-1.06800-00100}}</td>
<td class="data right">{{NumberFormat data-1.06800-00200}}</td>
<td class="data right">{{NumberFormat data-1.06800-00300}}</td>
<td class="data right">{{NumberFormat data-1.06800-00400}}</td>
<td class="data right">{{NumberFormat data-1.06800-00500}}</td>
<td class="data right">{{NumberFormat data-1.06800-00600}}</td>
<td class="data right">{{NumberFormat data-1.06800-00700}}</td>
<td class="right">68</td>
</tr>
<tr><td class="right">69</td>
<td class="center">06900</td>
<td> Electrocardiology</td>
<td class="data right">{{NumberFormat data-1.06900-00100}}</td>
<td class="data right">{{NumberFormat data-1.06900-00200}}</td>
<td class="data right">{{NumberFormat data-1.06900-00300}}</td>
<td class="data right">{{NumberFormat data-1.06900-00400}}</td>
<td class="data right">{{NumberFormat data-1.06900-00500}}</td>
<td class="data right">{{NumberFormat data-1.06900-00600}}</td>
<td class="data right">{{NumberFormat data-1.06900-00700}}</td>
<td class="right">69</td>
</tr>
<tr><td class="right">70</td>
<td class="center">07000</td>
<td> Electroencephalography</td>
<td class="data right">{{NumberFormat data-1.07000-00100}}</td>
<td class="data right">{{NumberFormat data-1.07000-00200}}</td>
<td class="data right">{{NumberFormat data-1.07000-00300}}</td>
<td class="data right">{{NumberFormat data-1.07000-00400}}</td>
<td class="data right">{{NumberFormat data-1.07000-00500}}</td>
<td class="data right">{{NumberFormat data-1.07000-00600}}</td>
<td class="data right">{{NumberFormat data-1.07000-00700}}</td>
<td class="right">70</td>
</tr>
<tr><td class="right">71</td>
<td class="center">07100</td>
<td> Medical Supplies Charged to Patients</td>
<td class="data right">{{NumberFormat data-1.07100-00100}}</td>
<td class="data right">{{NumberFormat data-1.07100-00200}}</td>
<td class="data right">{{NumberFormat data-1.07100-00300}}</td>
<td class="data right">{{NumberFormat data-1.07100-00400}}</td>
<td class="data right">{{NumberFormat data-1.07100-00500}}</td>
<td class="data right">{{NumberFormat data-1.07100-00600}}</td>
<td class="data right">{{NumberFormat data-1.07100-00700}}</td>
<td class="right">71</td>
</tr>
<tr><td class="right">72</td>
<td class="center">07200</td>
<td> Implantable Devices Charged to Patients</td>
<td class="data right">{{NumberFormat data-1.07200-00100}}</td>
<td class="data right">{{NumberFormat data-1.07200-00200}}</td>
<td class="data right">{{NumberFormat data-1.07200-00300}}</td>
<td class="data right">{{NumberFormat data-1.07200-00400}}</td>
<td class="data right">{{NumberFormat data-1.07200-00500}}</td>
<td class="data right">{{NumberFormat data-1.07200-00600}}</td>
<td class="data right">{{NumberFormat data-1.07200-00700}}</td>
<td class="right">72</td>
</tr>
<tr><td class="right">73</td>
<td class="center">07300</td>
<td> Drugs Charged to Patients</td>
<td class="data right">{{NumberFormat data-1.07300-00100}}</td>
<td class="data right">{{NumberFormat data-1.07300-00200}}</td>
<td class="data right">{{NumberFormat data-1.07300-00300}}</td>
<td class="data right">{{NumberFormat data-1.07300-00400}}</td>
<td class="data right">{{NumberFormat data-1.07300-00500}}</td>
<td class="data right">{{NumberFormat data-1.07300-00600}}</td>
<td class="data right">{{NumberFormat data-1.07300-00700}}</td>
<td class="right">73</td>
</tr>
<tr><td class="right">74</td>
<td class="center">07400</td>
<td> Renal Dialysis</td>
<td class="data right">{{NumberFormat data-1.07400-00100}}</td>
<td class="data right">{{NumberFormat data-1.07400-00200}}</td>
<td class="data right">{{NumberFormat data-1.07400-00300}}</td>
<td class="data right">{{NumberFormat data-1.07400-00400}}</td>
<td class="data right">{{NumberFormat data-1.07400-00500}}</td>
<td class="data right">{{NumberFormat data-1.07400-00600}}</td>
<td class="data right">{{NumberFormat data-1.07400-00700}}</td>
<td class="right">74</td>
</tr>
<tr><td class="right">75</td>
<td class="center">07500</td>
<td> ASC (Non-Distinct Part)</td>
<td class="data right">{{NumberFormat data-1.07500-00100}}</td>
<td class="data right">{{NumberFormat data-1.07500-00200}}</td>
<td class="data right">{{NumberFormat data-1.07500-00300}}</td>
<td class="data right">{{NumberFormat data-1.07500-00400}}</td>
<td class="data right">{{NumberFormat data-1.07500-00500}}</td>
<td class="data right">{{NumberFormat data-1.07500-00600}}</td>
<td class="data right">{{NumberFormat data-1.07500-00700}}</td>
<td class="right">75</td>
</tr>
<tr><td class="right">76</td>
<td>&nbsp;</td>
<td> Other Ancillary (specify)</td>
<td class="data right">{{NumberFormat data-1.07600-00100}}</td>
<td class="data right">{{NumberFormat data-1.07600-00200}}</td>
<td class="data right">{{NumberFormat data-1.07600-00300}}</td>
<td class="data right">{{NumberFormat data-1.07600-00400}}</td>
<td class="data right">{{NumberFormat data-1.07600-00500}}</td>
<td class="data right">{{NumberFormat data-1.07600-00600}}</td>
<td class="data right">{{NumberFormat data-1.07600-00700}}</td>
<td class="right">76</td>
</tr>

<tr><td class="right">77</td>
<td class="center">07700</td>
<td>Allogeneic Stem Cell Acquisition</td>
<td class="data right">{{NumberFormat data-1.07700-00100}}</td>
<td class="data right">{{NumberFormat data-1.07700-00200}}</td>
<td class="data right">{{NumberFormat data-1.07700-00300}}</td>
<td class="data right">{{NumberFormat data-1.07700-00400}}</td>
<td class="data right">{{NumberFormat data-1.07700-00500}}</td>
<td class="data right">{{NumberFormat data-1.07700-00600}}</td>
<td class="data right">{{NumberFormat data-1.07700-00700}}</td>
<td class="right">77</td>
</tr>

<tr><td class="right" colspan="2">&nbsp;</td>
<td>    OUTPATIENT SERVICE COST CENTERS </td>
<td class="data fillgrey right">&nbsp;</td>
<td class="data fillgrey right">&nbsp;</td>
<td class="data fillgrey right">&nbsp;</td>
<td class="data fillgrey right">&nbsp;</td>
<td class="data fillgrey right">&nbsp;</td>
<td class="data fillgrey right">&nbsp;</td>
<td class="data fillgrey right">&nbsp;</td>
<td class="data right">&nbsp;</td>
</tr>


<tr><td class="right">88</td>
<td class="center">08800</td>
<td> Rural Health Clinic (RHC)</td>
<td class="data right">{{NumberFormat data-1.08800-00100}}</td>
<td class="data right">{{NumberFormat data-1.08800-00200}}</td>
<td class="data right">{{NumberFormat data-1.08800-00300}}</td>
<td class="data right">{{NumberFormat data-1.08800-00400}}</td>
<td class="data right">{{NumberFormat data-1.08800-00500}}</td>
<td class="data right">{{NumberFormat data-1.08800-00600}}</td>
<td class="data right">{{NumberFormat data-1.08800-00700}}</td>
<td class="right">88</td>
</tr>

<tr><td class="right">89</td>
<td class="center">08900</td>
<td> Federally Qualified Health Center (FQHC)</td>
<td class="data right">{{NumberFormat data-1.08900-00100}}</td>
<td class="data right">{{NumberFormat data-1.08900-00200}}</td>
<td class="data right">{{NumberFormat data-1.08900-00300}}</td>
<td class="data right">{{NumberFormat data-1.08900-00400}}</td>
<td class="data right">{{NumberFormat data-1.08900-00500}}</td>
<td class="data right">{{NumberFormat data-1.08900-00600}}</td>
<td class="data right">{{NumberFormat data-1.08900-00700}}</td>
<td class="right">89</td>
</tr>
<tr><td class="right">90</td>
<td class="center">09000</td>
<td> Clinic</td>
<td class="data right">{{NumberFormat data-1.09000-00100}}</td>
<td class="data right">{{NumberFormat data-1.09000-00200}}</td>
<td class="data right">{{NumberFormat data-1.09000-00300}}</td>
<td class="data right">{{NumberFormat data-1.09000-00400}}</td>
<td class="data right">{{NumberFormat data-1.09000-00500}}</td>
<td class="data right">{{NumberFormat data-1.09000-00600}}</td>
<td class="data right">{{NumberFormat data-1.09000-00700}}</td>
<td class="right">90</td>
</tr>
<tr><td class="right">91</td>
<td class="center">09100</td>
<td> Emergency</td>
<td class="data right">{{NumberFormat data-1.09100-00100}}</td>
<td class="data right">{{NumberFormat data-1.09100-00200}}</td>
<td class="data right">{{NumberFormat data-1.09100-00300}}</td>
<td class="data right">{{NumberFormat data-1.09100-00400}}</td>
<td class="data right">{{NumberFormat data-1.09100-00500}}</td>
<td class="data right">{{NumberFormat data-1.09100-00600}}</td>
<td class="data right">{{NumberFormat data-1.09100-00700}}</td>
<td class="right">91</td>
</tr>
<tr><td class="right">92</td>
<td class="center">09200</td>
<td> Observation Beds (Non-Distinct Part)</td>
<td class="data fillgrey right">{{NumberFormat data-1.09200-00100}}</td>
<td class="data fillgrey right">{{NumberFormat data-1.09200-00200}}</td></td>
<td class="data fillgrey right">{{NumberFormat data-1.09200-00300}}</td></td>
<td class="data fillgrey right">{{NumberFormat data-1.09200-00400}}</td></td>
<td class="data fillgrey right">{{NumberFormat data-1.09200-00500}}</td></td>
<td class="data fillgrey right">{{NumberFormat data-1.09200-00600}}</td></td>
<td class="data fillgrey right">{{NumberFormat data-1.09200-00700}}</td></td>
<td class="right">92</td>
</tr>
<tr><td class="right">92.01</td>
<td class="center">09201</td>
<td> Observation Beds (Distinct Part)</td>
<td class="data right">{{NumberFormat data-1.09201-00100}}</td>
<td class="data right">{{NumberFormat data-1.09201-00200}}</td>
<td class="data right">{{NumberFormat data-1.09201-00300}}</td>
<td class="data right">{{NumberFormat data-1.09201-00400}}</td>
<td class="data right">{{NumberFormat data-1.09201-00500}}</td>
<td class="data right">{{NumberFormat data-1.09201-00600}}</td>
<td class="data right">{{NumberFormat data-1.09201-00700}}</td>
<td class="right">92.01</td>
</tr>
<tr><td class="right">93</td>
<td>&nbsp;</td>
<td> Other Outpatient Service (specify)</td>
<td class="data right">{{NumberFormat data-1.09300-00100}}</td>
<td class="data right">{{NumberFormat data-1.09300-00200}}</td>
<td class="data right">{{NumberFormat data-1.09300-00300}}</td>
<td class="data right">{{NumberFormat data-1.09300-00400}}</td>
<td class="data right">{{NumberFormat data-1.09300-00500}}</td>
<td class="data right">{{NumberFormat data-1.09300-00600}}</td>
<td class="data right">{{NumberFormat data-1.09300-00700}}</td>
<td class="right">93</td>
</tr>

<tr><td class="right" colspan="2">&nbsp;</td>
<td>    OTHER REIMBURSABLE COST CENTERS </td>
<td class="data fillgrey right">&nbsp;</td>
<td class="data fillgrey right">&nbsp;</td>
<td class="data fillgrey right">&nbsp;</td>
<td class="data fillgrey right">&nbsp;</td>
<td class="data fillgrey right">&nbsp;</td>
<td class="data fillgrey right">&nbsp;</td>
<td class="data fillgrey right">&nbsp;</td>
<td class="data right">&nbsp;</td>
</tr>

<tr><td class="right">93.99</td>
<td class="center">09400</td>
<td>Partial Hospitalization Program</td>
<td class="data right">{{NumberFormat data-1.09399-00100}}</td>
<td class="data right">{{NumberFormat data-1.09399-00200}}</td>
<td class="data right">{{NumberFormat data-1.09399-00300}}</td>
<td class="data right">{{NumberFormat data-1.09399-00400}}</td>
<td class="data right">{{NumberFormat data-1.09399-00500}}</td>
<td class="data right">{{NumberFormat data-1.09399-00600}}</td>
<td class="data right">{{NumberFormat data-1.09399-00700}}</td>
<td class="right">93.99</td>
</tr>

<tr><td class="right">94</td>
<td class="center">09400</td>
<td> Home Program Dialysis</td>
<td class="data right">{{NumberFormat data-1.09400-00100}}</td>
<td class="data right">{{NumberFormat data-1.09400-00200}}</td>
<td class="data right">{{NumberFormat data-1.09400-00300}}</td>
<td class="data right">{{NumberFormat data-1.09400-00400}}</td>
<td class="data right">{{NumberFormat data-1.09400-00500}}</td>
<td class="data right">{{NumberFormat data-1.09400-00600}}</td>
<td class="data right">{{NumberFormat data-1.09400-00700}}</td>
<td class="right">94</td>
</tr>

<tr><td class="right">95</td>
<td class="center">09500</td>
<td> Ambulance Services</td>
<td class="data right">{{NumberFormat data-1.09500-00100}}</td>
<td class="data right">{{NumberFormat data-1.09500-00200}}</td>
<td class="data right">{{NumberFormat data-1.09500-00300}}</td>
<td class="data right">{{NumberFormat data-1.09500-00400}}</td>
<td class="data right">{{NumberFormat data-1.09500-00500}}</td>
<td class="data right">{{NumberFormat data-1.09500-00600}}</td>
<td class="data right">{{NumberFormat data-1.09500-00700}}</td>
<td class="right">95</td>
</tr>

<tr><td class="right">96</td>
<td class="center">09600</td>
<td> Durable Medical Equipment-Rented</td>
<td class="data right">{{NumberFormat data-1.09600-00100}}</td>
<td class="data right">{{NumberFormat data-1.09600-00200}}</td>
<td class="data right">{{NumberFormat data-1.09600-00300}}</td>
<td class="data right">{{NumberFormat data-1.09600-00400}}</td>
<td class="data right">{{NumberFormat data-1.09600-00500}}</td>
<td class="data right">{{NumberFormat data-1.09600-00600}}</td>
<td class="data right">{{NumberFormat data-1.09600-00700}}</td>
<td class="right">96</td>
</tr>



<tr><td class="right">97</td>
<td class="center">09700</td>
<td> Durable Medical Equipment-Sold</td>
<td class="data right">{{NumberFormat data-1.09700-00100}}</td>
<td class="data right">{{NumberFormat data-1.09700-00200}}</td>
<td class="data right">{{NumberFormat data-1.09700-00300}}</td>
<td class="data right">{{NumberFormat data-1.09700-00400}}</td>
<td class="data right">{{NumberFormat data-1.09700-00500}}</td>
<td class="data right">{{NumberFormat data-1.09700-00600}}</td>
<td class="data right">{{NumberFormat data-1.09700-00700}}</td>
<td class="right">97</td>
</tr>
<tr><td class="right">98</td>
<td>&nbsp;</td>
<td> Other Reimbursable (specify)</td>
<td class="data right">{{NumberFormat data-1.09800-00100}}</td>
<td class="data right">{{NumberFormat data-1.09800-00200}}</td>
<td class="data right">{{NumberFormat data-1.09800-00300}}</td>
<td class="data right">{{NumberFormat data-1.09800-00400}}</td>
<td class="data right">{{NumberFormat data-1.09800-00500}}</td>
<td class="data right">{{NumberFormat data-1.09800-00600}}</td>
<td class="data right">{{NumberFormat data-1.09800-00700}}</td>
<td class="right">98</td>
</tr>




<tr><td class="right">99</td>
<td>&nbsp;</td>
<td> Outpatient Rehabilitation Provider (specify)</td>
<td class="data right">{{NumberFormat data-1.09900-00100}}</td>
<td class="data right">{{NumberFormat data-1.09900-00200}}</td>
<td class="data right">{{NumberFormat data-1.09900-00300}}</td>
<td class="data right">{{NumberFormat data-1.09900-00400}}</td>
<td class="data right">{{NumberFormat data-1.09900-00500}}</td>
<td class="data right">{{NumberFormat data-1.09900-00600}}</td>
<td class="data right">{{NumberFormat data-1.09900-00700}}</td>
<td class="right">99</td>
</tr>
<tr><td class="right">100</td>
<td class="center">10000</td>
<td> Intern-Resident Service (not appvd. tchng. prgm.)</td>
<td class="data right">{{NumberFormat data-1.10000-00100}}</td>
<td class="data right">{{NumberFormat data-1.10000-00200}}</td>
<td class="data right">{{NumberFormat data-1.10000-00300}}</td>
<td class="data right">{{NumberFormat data-1.10000-00400}}</td>
<td class="data right">{{NumberFormat data-1.10000-00500}}</td>
<td class="data right">{{NumberFormat data-1.10000-00600}}</td>
<td class="data right">{{NumberFormat data-1.10000-00700}}</td>
<td class="right">100</td>
</tr>
<tr><td class="right">101</td>
<td class="center">10100</td>
<td> Home Health Agency</td>
<td class="data right">{{NumberFormat data-1.10100-00100}}</td>
<td class="data right">{{NumberFormat data-1.10100-00200}}</td>
<td class="data right">{{NumberFormat data-1.10100-00300}}</td>
<td class="data right">{{NumberFormat data-1.10100-00400}}</td>
<td class="data right">{{NumberFormat data-1.10100-00500}}</td>
<td class="data right">{{NumberFormat data-1.10100-00600}}</td>
<td class="data right">{{NumberFormat data-1.10100-00700}}</td>
<td class="right">101</td>
</tr>
<tr><td class="right" colspan="2">&nbsp;</td>
<td>    SPECIAL PURPOSE COST CENTERS </td>
<td class="data fillgrey right">&nbsp;</td>
<td class="data fillgrey right">&nbsp;</td>
<td class="data fillgrey right">&nbsp;</td>
<td class="data fillgrey right">&nbsp;</td>
<td class="data fillgrey right">&nbsp;</td>
<td class="data fillgrey right">&nbsp;</td>
<td class="data fillgrey right">&nbsp;</td>
<td class="data right">&nbsp;</td>
</tr>
<tr><td class="right">105</td>
<td class="center">10500</td>
<td> Kidney Acquisition</td>
<td class="data right">{{NumberFormat data-1.10500-00100}}</td>
<td class="data right">{{NumberFormat data-1.10500-00200}}</td>
<td class="data right">{{NumberFormat data-1.10500-00300}}</td>
<td class="data right">{{NumberFormat data-1.10500-00400}}</td>
<td class="data right">{{NumberFormat data-1.10500-00500}}</td>
<td class="data right">{{NumberFormat data-1.10500-00600}}</td>
<td class="data right">{{NumberFormat data-1.10500-00700}}</td>
<td class="right">105</td>
</tr>
<tr><td class="right">106</td>
<td class="center">10600</td>
<td> Heart Acquisition</td>
<td class="data right">{{NumberFormat data-1.10600-00100}}</td>
<td class="data right">{{NumberFormat data-1.10600-00200}}</td>
<td class="data right">{{NumberFormat data-1.10600-00300}}</td>
<td class="data right">{{NumberFormat data-1.10600-00400}}</td>
<td class="data right">{{NumberFormat data-1.10600-00500}}</td>
<td class="data right">{{NumberFormat data-1.10600-00600}}</td>
<td class="data right">{{NumberFormat data-1.10600-00700}}</td>
<td class="right">106</td>
</tr>
<tr><td class="right">107</td>
<td class="center">10700</td>
<td> Liver Acquisition</td>
<td class="data right">{{NumberFormat data-1.10700-00100}}</td>
<td class="data right">{{NumberFormat data-1.10700-00200}}</td>
<td class="data right">{{NumberFormat data-1.10700-00300}}</td>
<td class="data right">{{NumberFormat data-1.10700-00400}}</td>
<td class="data right">{{NumberFormat data-1.10700-00500}}</td>
<td class="data right">{{NumberFormat data-1.10700-00600}}</td>
<td class="data right">{{NumberFormat data-1.10700-00700}}</td>
<td class="right">107</td>
</tr>
<tr><td class="right">108</td>
<td class="center">10800</td>
<td> Lung Acquisition</td>
<td class="data right">{{NumberFormat data-1.10800-00100}}</td>
<td class="data right">{{NumberFormat data-1.10800-00200}}</td>
<td class="data right">{{NumberFormat data-1.10800-00300}}</td>
<td class="data right">{{NumberFormat data-1.10800-00400}}</td>
<td class="data right">{{NumberFormat data-1.10800-00500}}</td>
<td class="data right">{{NumberFormat data-1.10800-00600}}</td>
<td class="data right">{{NumberFormat data-1.10800-00700}}</td>
<td class="right">108</td>
</tr>
<tr><td class="right">109</td>
<td class="center">10900</td>
<td> Pancreas Acquisition</td>
<td class="data right">{{NumberFormat data-1.10900-00100}}</td>
<td class="data right">{{NumberFormat data-1.10900-00200}}</td>
<td class="data right">{{NumberFormat data-1.10900-00300}}</td>
<td class="data right">{{NumberFormat data-1.10900-00400}}</td>
<td class="data right">{{NumberFormat data-1.10900-00500}}</td>
<td class="data right">{{NumberFormat data-1.10900-00600}}</td>
<td class="data right">{{NumberFormat data-1.10900-00700}}</td>
<td class="right">109</td>
</tr>
<tr><td class="right">110</td>
<td class="center">11000</td>
<td> Intestinal Acquisition</td>
<td class="data right">{{NumberFormat data-1.11000-00100}}</td>
<td class="data right">{{NumberFormat data-1.11000-00200}}</td>
<td class="data right">{{NumberFormat data-1.11000-00300}}</td>
<td class="data right">{{NumberFormat data-1.11000-00400}}</td>
<td class="data right">{{NumberFormat data-1.11000-00500}}</td>
<td class="data right">{{NumberFormat data-1.11000-00600}}</td>
<td class="data right">{{NumberFormat data-1.11000-00700}}</td>
<td class="right">110</td>
</tr>
<tr><td class="right">111</td>
<td class="center">11100</td>
<td> Islet Acquisition</td>
<td class="data right">{{NumberFormat data-1.11100-00100}}</td>
<td class="data right">{{NumberFormat data-1.11100-00200}}</td>
<td class="data right">{{NumberFormat data-1.11100-00300}}</td>
<td class="data right">{{NumberFormat data-1.11100-00400}}</td>
<td class="data right">{{NumberFormat data-1.11100-00500}}</td>
<td class="data right">{{NumberFormat data-1.11100-00600}}</td>
<td class="data right">{{NumberFormat data-1.11100-00700}}</td>
<td class="right">111</td>
</tr>
<tr><td class="right">112</td>
<td>&nbsp;</td>
<td> Other Organ Acquisition (specify)</td>
<td class="data right">{{NumberFormat data-1.11200-00100}}</td>
<td class="data right">{{NumberFormat data-1.11200-00200}}</td>
<td class="data right">{{NumberFormat data-1.11200-00300}}</td>
<td class="data right">{{NumberFormat data-1.11200-00400}}</td>
<td class="data right">{{NumberFormat data-1.11200-00500}}</td>
<td class="data right">{{NumberFormat data-1.11200-00600}}</td>
<td class="data right">{{NumberFormat data-1.11200-00700}}</td>
<td class="right">112</td>
</tr>
<tr><td class="right">113</td>
<td class="center">11300</td>
<td> Interest Expense</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.11300-00100}}</td>
<td class="data right">{{NumberFormat data-1.11300-00200}}</td>
<td class="data right">{{NumberFormat data-1.11300-00300}}</td>
<td class="data right">{{NumberFormat data-1.11300-00400}}</td>
<td class="data right">{{NumberFormat data-1.11300-00500}}</td>
<td class="data right">{{NumberFormat data-1.11300-00600}}</td>
<td class="data right">{{NumberFormat data-1.11300-00700}}</td>
<td class="right">113</td>
</tr>
<tr><td class="right">114</td>
<td class="center">11400</td>
<td> Utilization Review-SNF</td>
<td class="data right">{{NumberFormat data-1.11400-00100}}</td>
<td class="data right">{{NumberFormat data-1.11400-00200}}</td>
<td class="data right">{{NumberFormat data-1.11400-00300}}</td>
<td class="data right">{{NumberFormat data-1.11400-00400}}</td>
<td class="data right">{{NumberFormat data-1.11400-00500}}</td>
<td class="data right">{{NumberFormat data-1.11400-00600}}</td>
<td class="data right">{{NumberFormat data-1.11400-00700}}</td>
<td class="right">114</td>
</tr>
<tr><td class="right">115</td>
<td class=" center">11500</td>
<td> Ambulatory Surgical Center (Distinct Part)</td>
<td class="data right">{{NumberFormat data-1.11500-00100}}</td>
<td class="data right">{{NumberFormat data-1.11500-00200}}</td>
<td class="data right">{{NumberFormat data-1.11500-00300}}</td>
<td class="data right">{{NumberFormat data-1.11500-00400}}</td>
<td class="data right">{{NumberFormat data-1.11500-00500}}</td>
<td class="data right">{{NumberFormat data-1.11500-00600}}</td>
<td class="data right">{{NumberFormat data-1.11500-00700}}</td>
<td class="right">115</td>
</tr>
<tr><td class="right">116</td>
<td class="center">11600</td>
<td> Hospice</td>
<td class="data right">{{NumberFormat data-1.11600-00100}}</td>
<td class="data right">{{NumberFormat data-1.11600-00200}}</td>
<td class="data right">{{NumberFormat data-1.11600-00300}}</td>
<td class="data right">{{NumberFormat data-1.11600-00400}}</td>
<td class="data right">{{NumberFormat data-1.11600-00500}}</td>
<td class="data right">{{NumberFormat data-1.11600-00600}}</td>
<td class="data right">{{NumberFormat data-1.11600-00700}}</td>
<td class="right">116</td>
</tr>
<tr><td class="right">117</td>
<td>&nbsp;</td>
<td> Other Special Purpose (specify)</td>
<td class="data right">{{NumberFormat data-1.11700-00100}}</td>
<td class="data right">{{NumberFormat data-1.11700-00200}}</td>
<td class="data right">{{NumberFormat data-1.11700-00300}}</td>
<td class="data right">{{NumberFormat data-1.11700-00400}}</td>
<td class="data right">{{NumberFormat data-1.11700-00500}}</td>
<td class="data right">{{NumberFormat data-1.11700-00600}}</td>
<td class="data right">{{NumberFormat data-1.11700-00700}}</td>
<td class="right">117</td>
</tr>
<tr><td class="right">118</td>
<td class="fillgrey">&nbsp;</td>
<td> SUBTOTALS (sum of lines 1 through 117)</td>
<td class="data right">{{NumberFormat data-1.11800-00100}}</td>
<td class="data right">{{NumberFormat data-1.11800-00200}}</td>
<td class="data right">{{NumberFormat data-1.11800-00300}}</td>
<td class="data right">{{NumberFormat data-1.11800-00400}}</td>
<td class="data right">{{NumberFormat data-1.11800-00500}}</td>
<td class="data right">{{NumberFormat data-1.11800-00600}}</td>
<td class="data right">{{NumberFormat data-1.11800-00700}}</td>
<td class="right">118</td>
</tr>
<tr><td class="right" colspan="2">&nbsp;</td>
<td>    NONREIMBURSABLE COST CENTERS </td>
<td class="data fillgrey right">&nbsp;</td>
<td class="data fillgrey right">&nbsp;</td>
<td class="data fillgrey right">&nbsp;</td>
<td class="data fillgrey right">&nbsp;</td>
<td class="data fillgrey right">&nbsp;</td>
<td class="data fillgrey right">&nbsp;</td>
<td class="data fillgrey right">&nbsp;</td>
<td class="data right">&nbsp;</td>
</tr>
<tr><td class="right">190</td>
<td class="center">19000</td>
<td> Gift, Flower, Coffee Shop, &amp; Canteen</td>
<td class="data right">{{NumberFormat data-1.19000-00100}}</td>
<td class="data right">{{NumberFormat data-1.19000-00200}}</td>
<td class="data right">{{NumberFormat data-1.19000-00300}}</td>
<td class="data right">{{NumberFormat data-1.19000-00400}}</td>
<td class="data right">{{NumberFormat data-1.19000-00500}}</td>
<td class="data right">{{NumberFormat data-1.19000-00600}}</td>
<td class="data right">{{NumberFormat data-1.19000-00700}}</td>
<td class="right">190</td>
</tr>
<tr><td class="right">191</td>
<td class="center">19100</td>
<td> Research</td>
<td class="data right">{{NumberFormat data-1.19100-00100}}</td>
<td class="data right">{{NumberFormat data-1.19100-00200}}</td>
<td class="data right">{{NumberFormat data-1.19100-00300}}</td>
<td class="data right">{{NumberFormat data-1.19100-00400}}</td>
<td class="data right">{{NumberFormat data-1.19100-00500}}</td>
<td class="data right">{{NumberFormat data-1.19100-00600}}</td>
<td class="data right">{{NumberFormat data-1.19100-00700}}</td>
<td class="right">191</td>
</tr>
<tr><td class="right">192</td>
<td class="center">19200</td>
<td> Physicians' Private Offices</td>
<td class="data right">{{NumberFormat data-1.19200-00100}}</td>
<td class="data right">{{NumberFormat data-1.19200-00200}}</td>
<td class="data right">{{NumberFormat data-1.19200-00300}}</td>
<td class="data right">{{NumberFormat data-1.19200-00400}}</td>
<td class="data right">{{NumberFormat data-1.19200-00500}}</td>
<td class="data right">{{NumberFormat data-1.19200-00600}}</td>
<td class="data right">{{NumberFormat data-1.19200-00700}}</td>
<td class="right">192</td>
</tr>
<tr><td class="right">193</td>
<td class="center">19300</td>
<td> Nonpaid Workers</td>
<td class="data right">{{NumberFormat data-1.19300-00100}}</td>
<td class="data right">{{NumberFormat data-1.19300-00200}}</td>
<td class="data right">{{NumberFormat data-1.19300-00300}}</td>
<td class="data right">{{NumberFormat data-1.19300-00400}}</td>
<td class="data right">{{NumberFormat data-1.19300-00500}}</td>
<td class="data right">{{NumberFormat data-1.19300-00600}}</td>
<td class="data right">{{NumberFormat data-1.19300-00700}}</td>
<td class="right">193</td>
</tr>
<tr><td class="right">194</td>
<td>&nbsp;</td>
<td> Other Nonreimbursable (specify)</td>
<td class="data right">{{NumberFormat data-1.19400-00100}}</td>
<td class="data right">{{NumberFormat data-1.19400-00200}}</td>
<td class="data right">{{NumberFormat data-1.19400-00300}}</td>
<td class="data right">{{NumberFormat data-1.19400-00400}}</td>
<td class="data right">{{NumberFormat data-1.19400-00500}}</td>
<td class="data right">{{NumberFormat data-1.19400-00600}}</td>
<td class="data right">{{NumberFormat data-1.19400-00700}}</td>
<td class="right">194</td>
</tr>
<tr><td class="right">200</td>
<td class="fillgrey">&nbsp;</td>
<td> TOTAL (sum of lines 118 through 199)</td>
<td class="data right">{{NumberFormat data-1.20000-00100}}</td>
<td class="data right">{{NumberFormat data-1.20000-00200}}</td>
<td class="data right">{{NumberFormat data-1.20000-00300}}</td>
<td class="data right">- 0 -</td>
<td class="data right">{{NumberFormat data-1.20000-00500}}</td>
<td class="data right">{{NumberFormat data-1.20000-00600}}</td>
<td class="data right">{{NumberFormat data-1.20000-00700}}</td>
<td class="right">200</td>
</tr>
<tr><td colspan="11">FORM CMS-2552-10 (11/2017)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-II, § 4013)</td>
</tr>
<tr><td colspan="2">40-524 - 11-17</td>
<td colspan="7">&nbsp;</td>
<td colspan="2"> Rev. 12</td>
</tr>
</tbody></table>
</div>
