
<div class="report"><table id="report_table" border="1" width="100%" cellpadding="1" cellspacing="1">
<colgroup><col width="3%">
<col width="24%">
<col width="7%">
<col width="7%">
<col width="7%">
<col width="7%">
<col width="7%">
<col width="7%">
<col width="7%">
<col width="7%">
<col width="7%">
<col width="7%">

<col width="3%">
</colgroup><thead><tr><td class="left" colspan="7">RECLASSIFICATIONS</td>
<td>Provider CCN: <span class="data">{{pId}}</span></td>
<td colspan="2"><div>PERIOD:</div><div>FROM <span class="data">{{year.start}}</span></div><div>TO <span class="data">{{year.end}}</span></div></td>
<td colspan="3"> WORKSHEET A-6</td>
</tr>
</thead><tbody><tr><td class="component" colspan="13"><form action="/report.php" method="get"><input type="hidden" name="report" id="report" value="QTM3Nw=="><input type="hidden" name="rpt_rec_num" id="rpt_rec_num" value="Mjg2Njk2"><input type="hidden" name="version" id="version" value="OTc4Nw=="><select name="component" id="component" onchange="this.form.submit()" style="width: auto;">
<option value="000B" selected="selected">B - TO RECLASS DIETARY EXP TO </option>
<option value="000C">C - TO RECLASS RENTAL EXP     </option>
<option value="000D">D - TO RECLASS LEASED EQUIPMEN</option>
<option value="000G">G - TO RECLASS BILLABLE AND NO</option>
<option value="000M">M - TO RECLASS CAPITAL COSTS  </option>
<option value="000O">O - RECLASS OF INS PREMIUMS   </option>
<option value="000P">P - TO RECLASS DRUGS TO PATIEN</option>
<option value="000X">X - TO RECLASS ER COSTS ASSC W</option>
<option value="000Y">Y - RECLASS OR TECH TO LAB    </option>
<option value="000Z">Z - TO CLASS RN BLOOD PICKUPS </option>
<option value="00AA">AA - TO RECLASS BLOOD ADM TO L</option>
<option value="00BB">BB - TO RECLASS ADMITTING COST</option>
<option value="00KK">KK - TO RECLASS STAFF POOL    </option>
</select>
</form> - <strong>Select other programs and provider types available</strong></td>
</tr>
<tr><td colspan="2" rowspan="2">  EXPLANATION OF RECLASSIFICATION(S)  </td>
<td class="center" rowspan="2"><div>CODE</div><div>(1)</div></td>
<td class="center" colspan="4"> INCREASES   </td>
<td class="center" colspan="4"> DECREASES   </td>
<td class="center" rowspan="2"><div>Wkst.</div><div>A-7</div><div>Ref.</div></td>
<td rowspan="3">&nbsp;</td>
</tr>
<tr><td class="center">COST CENTER</td>
<td class="center">LINE #</td>
<td class="center">SALARY</td>
<td class="center">OTHER</td>
<td class="center">COST CENTER</td>
<td class="center">LINE #</td>
<td class="center">SALARY</td>
<td class="center">OTHER</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td class="center">1</td>
<td class="center">2</td>
<td class="center">3</td>
<td class="center">4</td>
<td class="center">5</td>
<td class="center">6</td>
<td class="center">7</td>
<td class="center">8</td>
<td class="center">9</td>
<td class="center">10</td>
</tr>
<tr><td class="right">1</td>
<td>TO RECLASS DIETARY EXP TO CAFETERIA</td>
<td class="data center">{{data-1.00000-00100}}</td>
<td class="data">{{data-1.00000-00200}}</td>
<td class="data right">{{data-1.00000-00300}}</td>
<td class="data right">{{data-1.00000-00400}}</td>
<td class="data right">{{data-1.00000-00500}}</td>
<td class="data right">{{data-1.00000-00600}}</td>
<td class="data right">{{data-1.00000-00700}}</td>
<td class="data right">{{data-1.00000-00800}}</td>
<td class="data right">{{data-1.00000-00900}}</td>
<td class="data right">{{data-1.00000-01000}}</td>
<td class="right">1</td>
</tr>
<tr><td class="right">2</td>
<td class="data">{{data-1.00100-00000}}</td>
<td class="data center">{{data-1.00100-00100}}</td>
<td class="data">{{data-1.00100-00200}}</td>
<td class="data right">{{data-1.00100-00300}}</td>
<td class="data right">{{data-1.00100-00400}}</td>
<td class="data right">{{data-1.00100-00500}}</td>
<td class="data right">{{data-1.00100-00600}}</td>
<td class="data right">{{data-1.00100-00700}}</td>
<td class="data right">{{data-1.00100-00800}}</td>
<td class="data right">{{data-1.00100-00900}}</td>
<td class="data right">{{data-1.00100-01000}}</td>
<td class="right">2</td>
</tr>
<tr><td class="right">3</td>
<td class="data">{{data-1.00200-00000}}</td>
<td class="data center">{{data-1.00200-00100}}</td>
<td class="data">{{data-1.00200-00200}}</td>
<td class="data right">{{data-1.00200-00300}}</td>
<td class="data right">{{data-1.00200-00400}}</td>
<td class="data right">{{data-1.00200-00500}}</td>
<td class="data right">{{data-1.00200-00600}}</td>
<td class="data right">{{data-1.00200-00700}}</td>
<td class="data right">{{data-1.00200-00800}}</td>
<td class="data right">{{data-1.00200-00900}}</td>
<td class="data right">{{data-1.00200-01000}}</td>
<td class="right">3</td>
</tr>
<tr><td class="right">4</td>
<td class="data">{{data-1.00300-00000}}</td>
<td class="data center">{{data-1.00300-00100}}</td>
<td class="data">{{data-1.00300-00200}}</td>
<td class="data right">{{data-1.00300-00300}}</td>
<td class="data right">{{data-1.00300-00400}}</td>
<td class="data right">{{data-1.00300-00500}}</td>
<td class="data right">{{data-1.00300-00600}}</td>
<td class="data right">{{data-1.00300-00700}}</td>
<td class="data right">{{data-1.00300-00800}}</td>
<td class="data right">{{data-1.00300-00900}}</td>
<td class="data right">{{data-1.00300-01000}}</td>
<td class="right">4</td>
</tr>
<tr><td class="right">5</td>
<td class="data">{{data-1.00400-00000}}</td>
<td class="data center">{{data-1.00400-00100}}</td>
<td class="data">{{data-1.00400-00200}}</td>
<td class="data right">{{data-1.00400-00300}}</td>
<td class="data right">{{data-1.00400-00400}}</td>
<td class="data right">{{data-1.00400-00500}}</td>
<td class="data right">{{data-1.00400-00600}}</td>
<td class="data right">{{data-1.00400-00700}}</td>
<td class="data right">{{data-1.00400-00800}}</td>
<td class="data right">{{data-1.00400-00900}}</td>
<td class="data right">{{data-1.00400-01000}}</td>
<td class="right">5</td>
</tr>
<tr><td class="right">6</td>
<td class="data">{{data-1.00500-00000}}</td>
<td class="data center">{{data-1.00500-00100}}</td>
<td class="data">{{data-1.00500-00200}}</td>
<td class="data right">{{data-1.00500-00300}}</td>
<td class="data right">{{data-1.00500-00400}}</td>
<td class="data right">{{data-1.00500-00500}}</td>
<td class="data right">{{data-1.00500-00600}}</td>
<td class="data right">{{data-1.00500-00700}}</td>
<td class="data right">{{data-1.00500-00800}}</td>
<td class="data right">{{data-1.00500-00900}}</td>
<td class="data right">{{data-1.00500-01000}}</td>
<td class="right">6</td>
</tr>
<tr><td class="right">7</td>
<td class="data">{{data-1.00600-00000}}</td>
<td class="data center">{{data-1.00600-00100}}</td>
<td class="data">{{data-1.00600-00200}}</td>
<td class="data right">{{data-1.00600-00300}}</td>
<td class="data right">{{data-1.00600-00400}}</td>
<td class="data right">{{data-1.00600-00500}}</td>
<td class="data right">{{data-1.00600-00600}}</td>
<td class="data right">{{data-1.00600-00700}}</td>
<td class="data right">{{data-1.00600-00800}}</td>
<td class="data right">{{data-1.00600-00900}}</td>
<td class="data right">{{data-1.00600-01000}}</td>
<td class="right">7</td>
</tr>
<tr><td class="right">8</td>
<td class="data">{{data-1.00700-00000}}</td>
<td class="data center">{{data-1.00700-00100}}</td>
<td class="data">{{data-1.00700-00200}}</td>
<td class="data right">{{data-1.00700-00300}}</td>
<td class="data right">{{data-1.00700-00400}}</td>
<td class="data right">{{data-1.00700-00500}}</td>
<td class="data right">{{data-1.00700-00600}}</td>
<td class="data right">{{data-1.00700-00700}}</td>
<td class="data right">{{data-1.00700-00800}}</td>
<td class="data right">{{data-1.00700-00900}}</td>
<td class="data right">{{data-1.00700-01000}}</td>
<td class="right">8</td>
</tr>
<tr><td class="right">9</td>
<td class="data">{{data-1.00800-00000}}</td>
<td class="data center">{{data-1.00800-00100}}</td>
<td class="data">{{data-1.00800-00200}}</td>
<td class="data right">{{data-1.00800-00300}}</td>
<td class="data right">{{data-1.00800-00400}}</td>
<td class="data right">{{data-1.00800-00500}}</td>
<td class="data right">{{data-1.00800-00600}}</td>
<td class="data right">{{data-1.00800-00700}}</td>
<td class="data right">{{data-1.00800-00800}}</td>
<td class="data right">{{data-1.00800-00900}}</td>
<td class="data right">{{data-1.00800-01000}}</td>
<td class="right">9</td>
</tr>
<tr><td class="right">10</td>
<td class="data">{{data-1.00900-00000}}</td>
<td class="data center">{{data-1.00900-00100}}</td>
<td class="data">{{data-1.00900-00200}}</td>
<td class="data right">{{data-1.00900-00300}}</td>
<td class="data right">{{data-1.00900-00400}}</td>
<td class="data right">{{data-1.00900-00500}}</td>
<td class="data right">{{data-1.00900-00600}}</td>
<td class="data right">{{data-1.00900-00700}}</td>
<td class="data right">{{data-1.00900-00800}}</td>
<td class="data right">{{data-1.00900-00900}}</td>
<td class="data right">{{data-1.00900-01000}}</td>
<td class="right">10</td>
</tr>
<tr><td class="right">11</td>
<td class="data">{{data-1.01000-00000}}</td>
<td class="data center">{{data-1.01000-00100}}</td>
<td class="data">{{data-1.01000-00200}}</td>
<td class="data right">{{data-1.01000-00300}}</td>
<td class="data right">{{data-1.01000-00400}}</td>
<td class="data right">{{data-1.01000-00500}}</td>
<td class="data right">{{data-1.01000-00600}}</td>
<td class="data right">{{data-1.01000-00700}}</td>
<td class="data right">{{data-1.01000-00800}}</td>
<td class="data right">{{data-1.01000-00900}}</td>
<td class="data right">{{data-1.01000-01000}}</td>
<td class="right">11</td>
</tr>
<tr><td class="right">12</td>
<td class="data">{{data-1.01200-00000}}</td>
<td class="data center">{{data-1.01200-00100}}</td>
<td class="data">{{data-1.01200-00200}}</td>
<td class="data right">{{data-1.01200-00300}}</td>
<td class="data right">{{data-1.01200-00400}}</td>
<td class="data right">{{data-1.01200-00500}}</td>
<td class="data right">{{data-1.01200-00600}}</td>
<td class="data right">{{data-1.01200-00700}}</td>
<td class="data right">{{data-1.01200-00800}}</td>
<td class="data right">{{data-1.01200-00900}}</td>
<td class="data right">{{data-1.01200-01000}}</td>
<td class="right">12</td>
</tr>
<tr><td class="right">13</td>
<td class="data">{{data-1.01300-00000}}</td>
<td class="data center">{{data-1.01300-00100}}</td>
<td class="data">{{data-1.01300-00200}}</td>
<td class="data right">{{data-1.01300-00300}}</td>
<td class="data right">{{data-1.01300-00400}}</td>
<td class="data right">{{data-1.01300-00500}}</td>
<td class="data right">{{data-1.01300-00600}}</td>
<td class="data right">{{data-1.01300-00700}}</td>
<td class="data right">{{data-1.01300-00800}}</td>
<td class="data right">{{data-1.01300-00900}}</td>
<td class="data right">{{data-1.01300-01000}}</td>
<td class="right">13</td>
</tr>
<tr><td class="right">14</td>
<td class="data">{{data-1.01400-00000}}</td>
<td class="data center">{{data-1.01400-00100}}</td>
<td class="data">{{data-1.01400-00200}}</td>
<td class="data right">{{data-1.01400-00300}}</td>
<td class="data right">{{data-1.01400-00400}}</td>
<td class="data right">{{data-1.01400-00500}}</td>
<td class="data right">{{data-1.01400-00600}}</td>
<td class="data right">{{data-1.01400-00700}}</td>
<td class="data right">{{data-1.01400-00800}}</td>
<td class="data right">{{data-1.01400-00900}}</td>
<td class="data right">{{data-1.01400-01000}}</td>
<td class="right">14</td>
</tr>
<tr><td class="right">15</td>
<td class="data">{{data-1.01500-00000}}</td>
<td class="data center">{{data-1.01500-00100}}</td>
<td class="data">{{data-1.01500-00200}}</td>
<td class="data right">{{data-1.01500-00300}}</td>
<td class="data right">{{data-1.01500-00400}}</td>
<td class="data right">{{data-1.01500-00500}}</td>
<td class="data right">{{data-1.01500-00600}}</td>
<td class="data right">{{data-1.01500-00700}}</td>
<td class="data right">{{data-1.01500-00800}}</td>
<td class="data right">{{data-1.01500-00900}}</td>
<td class="data right">{{data-1.01500-01000}}</td>
<td class="right">15</td>
</tr>
<tr><td class="right">16</td>
<td class="data">{{data-1.01600-00000}}</td>
<td class="data center">{{data-1.01600-00100}}</td>
<td class="data">{{data-1.01600-00200}}</td>
<td class="data right">{{data-1.01600-00300}}</td>
<td class="data right">{{data-1.01600-00400}}</td>
<td class="data right">{{data-1.01600-00500}}</td>
<td class="data right">{{data-1.01600-00600}}</td>
<td class="data right">{{data-1.01600-00700}}</td>
<td class="data right">{{data-1.01600-00800}}</td>
<td class="data right">{{data-1.01600-00900}}</td>
<td class="data right">{{data-1.01600-01000}}</td>
<td class="right">16</td>
</tr>
<tr><td class="right">17</td>
<td class="data">{{data-1.01700-00000}}</td>
<td class="data center">{{data-1.01700-00100}}</td>
<td class="data">{{data-1.01700-00200}}</td>
<td class="data right">{{data-1.01700-00300}}</td>
<td class="data right">{{data-1.01700-00400}}</td>
<td class="data right">{{data-1.01700-00500}}</td>
<td class="data right">{{data-1.01700-00600}}</td>
<td class="data right">{{data-1.01700-00700}}</td>
<td class="data right">{{data-1.01700-00800}}</td>
<td class="data right">{{data-1.01700-00900}}</td>
<td class="data right">{{data-1.01700-01000}}</td>
<td class="right">17</td>
</tr>
<tr><td class="right">18</td>
<td class="data">{{data-1.01800-00000}}</td>
<td class="data center">{{data-1.01800-00100}}</td>
<td class="data">{{data-1.01800-00200}}</td>
<td class="data right">{{data-1.01800-00300}}</td>
<td class="data right">{{data-1.01800-00400}}</td>
<td class="data right">{{data-1.01800-00500}}</td>
<td class="data right">{{data-1.01800-00600}}</td>
<td class="data right">{{data-1.01800-00700}}</td>
<td class="data right">{{data-1.01800-00800}}</td>
<td class="data right">{{data-1.01800-00900}}</td>
<td class="data right">{{data-1.01800-01000}}</td>
<td class="right">18</td>
</tr>
<tr><td class="right">19</td>
<td class="data">{{data-1.01900-00000}}</td>
<td class="data center">{{data-1.01900-00100}}</td>
<td class="data">{{data-1.01900-00200}}</td>
<td class="data right">{{data-1.01900-00300}}</td>
<td class="data right">{{data-1.01900-00400}}</td>
<td class="data right">{{data-1.01900-00500}}</td>
<td class="data right">{{data-1.01900-00600}}</td>
<td class="data right">{{data-1.01900-00700}}</td>
<td class="data right">{{data-1.01900-00800}}</td>
<td class="data right">{{data-1.01900-00900}}</td>
<td class="data right">{{data-1.01900-01000}}</td>
<td class="right">19</td>
</tr>
<tr><td class="right">20</td>
<td class="data">{{data-1.02000-00000}}</td>
<td class="data center">{{data-1.02000-00100}}</td>
<td class="data">{{data-1.02000-00200}}</td>
<td class="data right">{{data-1.02000-00300}}</td>
<td class="data right">{{data-1.02000-00400}}</td>
<td class="data right">{{data-1.02000-00500}}</td>
<td class="data right">{{data-1.02000-00600}}</td>
<td class="data right">{{data-1.02000-00700}}</td>
<td class="data right">{{data-1.02000-00800}}</td>
<td class="data right">{{data-1.02000-00900}}</td>
<td class="data right">{{data-1.02000-01000}}</td>
<td class="right">20</td>
</tr>
<tr><td class="right">21</td>
<td class="data">{{data-1.02100-00000}}</td>
<td class="data center">{{data-1.02100-00100}}</td>
<td class="data">{{data-1.02100-00200}}</td>
<td class="data right">{{data-1.02100-00300}}</td>
<td class="data right">{{data-1.02100-00400}}</td>
<td class="data right">{{data-1.02100-00500}}</td>
<td class="data right">{{data-1.02100-00600}}</td>
<td class="data right">{{data-1.02100-00700}}</td>
<td class="data right">{{data-1.02100-00800}}</td>
<td class="data right">{{data-1.02100-00900}}</td>
<td class="data right">{{data-1.02100-01000}}</td>
<td class="right">21</td>
</tr>
<tr><td class="right">22</td>
<td class="data">{{data-1.02200-00000}}</td>
<td class="data center">{{data-1.02200-00100}}</td>
<td class="data">{{data-1.02200-00200}}</td>
<td class="data right">{{data-1.02200-00300}}</td>
<td class="data right">{{data-1.02200-00400}}</td>
<td class="data right">{{data-1.02200-00500}}</td>
<td class="data right">{{data-1.02200-00600}}</td>
<td class="data right">{{data-1.02200-00700}}</td>
<td class="data right">{{data-1.02200-00800}}</td>
<td class="data right">{{data-1.02200-00900}}</td>
<td class="data right">{{data-1.02200-01000}}</td>
<td class="right">22</td>
</tr>
<tr><td class="right">23</td>
<td class="data">{{data-1.02300-00000}}</td>
<td class="data center">{{data-1.02300-00100}}</td>
<td class="data">{{data-1.02300-00200}}</td>
<td class="data right">{{data-1.02300-00300}}</td>
<td class="data right">{{data-1.02300-00400}}</td>
<td class="data right">{{data-1.02300-00500}}</td>
<td class="data right">{{data-1.02300-00600}}</td>
<td class="data right">{{data-1.02300-00700}}</td>
<td class="data right">{{data-1.02300-00800}}</td>
<td class="data right">{{data-1.02300-00900}}</td>
<td class="data right">{{data-1.02300-01000}}</td>
<td class="right">23</td>
</tr>
<tr><td class="right">24</td>
<td class="data">{{data-1.02400-00000}}</td>
<td class="data center">{{data-1.02400-00100}}</td>
<td class="data">{{data-1.02400-00200}}</td>
<td class="data right">{{data-1.02400-00300}}</td>
<td class="data right">{{data-1.02400-00400}}</td>
<td class="data right">{{data-1.02400-00500}}</td>
<td class="data right">{{data-1.02400-00600}}</td>
<td class="data right">{{data-1.02400-00700}}</td>
<td class="data right">{{data-1.02400-00800}}</td>
<td class="data right">{{data-1.02400-00900}}</td>
<td class="data right">{{data-1.02400-01000}}</td>
<td class="right">24</td>
</tr>
<tr><td class="right">25</td>
<td class="data">{{data-1.02500-00000}}</td>
<td class="data center">{{data-1.02500-00100}}</td>
<td class="data">{{data-1.02500-00200}}</td>
<td class="data right">{{data-1.02500-00300}}</td>
<td class="data right">{{data-1.02500-00400}}</td>
<td class="data right">{{data-1.02500-00500}}</td>
<td class="data right">{{data-1.02500-00600}}</td>
<td class="data right">{{data-1.02500-00700}}</td>
<td class="data right">{{data-1.02500-00800}}</td>
<td class="data right">{{data-1.02500-00900}}</td>
<td class="data right">{{data-1.02500-01000}}</td>
<td class="right">25</td>
</tr>
<tr><td class="right">26</td>
<td class="data">{{data-1.02600-00000}}</td>
<td class="data center">{{data-1.02600-00100}}</td>
<td class="data">{{data-1.02600-00200}}</td>
<td class="data right">{{data-1.02600-00300}}</td>
<td class="data right">{{data-1.02600-00400}}</td>
<td class="data right">{{data-1.02600-00500}}</td>
<td class="data right">{{data-1.02600-00600}}</td>
<td class="data right">{{data-1.02600-00700}}</td>
<td class="data right">{{data-1.02600-00800}}</td>
<td class="data right">{{data-1.02600-00900}}</td>
<td class="data right">{{data-1.02600-01000}}</td>
<td class="right">26</td>
</tr>
<tr><td class="right">27</td>
<td class="data">{{data-1.02700-00000}}</td>
<td class="data center">{{data-1.02700-00100}}</td>
<td class="data">{{data-1.02700-00200}}</td>
<td class="data right">{{data-1.02700-00300}}</td>
<td class="data right">{{data-1.02700-00400}}</td>
<td class="data right">{{data-1.02700-00500}}</td>
<td class="data right">{{data-1.02700-00600}}</td>
<td class="data right">{{data-1.02700-00700}}</td>
<td class="data right">{{data-1.02700-00800}}</td>
<td class="data right">{{data-1.02700-00900}}</td>
<td class="data right">{{data-1.02700-01000}}</td>
<td class="right">27</td>
</tr>
<tr><td class="right">28</td>
<td class="data">{{data-1.02800-00000}}</td>
<td class="data center">{{data-1.02800-00100}}</td>
<td class="data">{{data-1.02800-00200}}</td>
<td class="data right">{{data-1.02800-00300}}</td>
<td class="data right">{{data-1.02800-00400}}</td>
<td class="data right">{{data-1.02800-00500}}</td>
<td class="data right">{{data-1.02800-00600}}</td>
<td class="data right">{{data-1.02800-00700}}</td>
<td class="data right">{{data-1.02800-00800}}</td>
<td class="data right">{{data-1.02800-00900}}</td>
<td class="data right">{{data-1.02800-01000}}</td>
<td class="right">28</td>
</tr>
<tr><td class="right">29</td>
<td class="data">{{data-1.02900-00000}}</td>
<td class="data center">{{data-1.02900-00100}}</td>
<td class="data">{{data-1.02900-00200}}</td>
<td class="data right">{{data-1.02900-00300}}</td>
<td class="data right">{{data-1.02900-00400}}</td>
<td class="data right">{{data-1.02900-00500}}</td>
<td class="data right">{{data-1.02900-00600}}</td>
<td class="data right">{{data-1.02900-00700}}</td>
<td class="data right">{{data-1.02900-00800}}</td>
<td class="data right">{{data-1.02900-00900}}</td>
<td class="data right">{{data-1.02900-01000}}</td>
<td class="right">29</td>
</tr>






<tr><td class="right">500</td>
<td colspan="4">Total reclassifications (sum of columns 4 and 5 must equal sum of columns 8 and 9) </td>
<td class="data right">{{data-1.50000-00400}}</td>
<td class="data right">{{data-1.50000-00500}}</td>
<td class="data right">&nbsp;</td>
<td class="data right">&nbsp;</td>
<td class="data right">{{data-1.50000-00800}}</td>
<td class="data right">{{data-1.50000-00900}}</td>
<td class="data right">{{data-1.50000-01000}}</td>
<td class="right">500</td>
</tr>
<tr><td colspan="13"> (1) A letter (A, B, etc.) must be entered on each line to identify each reclassification entry.</td>
</tr>
<tr><td colspan="13"> Transfer the amounts in columns 4, 5, 8, and 9 to Worksheet A, column 4, lines as appropriate. </td>
</tr>
<tr><td colspan="13">FORM CMS-2552-10 (08/2011) (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-II, SECTION 4014) </td>
</tr>
<tr><td colspan="2">40-527 - 10-12</td>
<td colspan="9">&nbsp;</td>
<td colspan="2">Rev. 3</td>
</tr>
</tbody></table>
</div>
