
<div class="report"><table id="report_table" border="1" width="100%" cellpadding="1" cellspacing="1">
<colgroup><col width="3%">
<col width="29%">
<col width="8%">
<col width="8%">
<col width="8%">
<col width="8%">
<col width="8%">
<col width="8%">
<col width="8%">
<col width="8%">

<col width="3%">


</colgroup><thead><tr><td colspan="5">RECONCILIATION OF CAPITAL COSTS CENTERS</td>
<td colspan="2">Provider CCN: <span class="data">{{pId}}</span></td>
<td colspan="2"><div>PERIOD:</div><div>FROM <span class="data">{{year.start}}</span></div><div>TO <span class="data">{{year.end}}</span></div></td>
<td colspan="2"> WORKSHEET A-7,  PARTS I, II &amp; III </td>
</tr>
</thead><tbody><tr><td colspan="11">PART I - ANALYSIS OF CHANGES IN CAPITAL ASSET BALANCES</td>
</tr>
<tr><td colspan="3" rowspan="3">Description   </td>
<td class="center" rowspan="2"> Beginning Balances </td>
<td class="center" colspan="3">Acquisitions</td>
<td class="center" rowspan="2">Disposals and Retirements </td>
<td class="center" rowspan="2"> Ending Balance </td>
<td class="center" rowspan="2">Fully Depreciated Assets </td>
<td rowspan="3">&nbsp;</td>
</tr>
<tr><td class="center"> Purchases </td>
<td class="center"> Donation </td>
<td class="center"> Total </td>
</tr>
<tr><td class="center">1</td>
<td class="center">2</td>
<td class="center">3</td>
<td class="center">4</td>
<td class="center">5</td>
<td class="center">6</td>
<td class="center">7</td>
</tr>
<tr><td class="right">1</td>
<td colspan="2"> Land</td>
<td class="data right">{{NumberFormat data-1.00100-00100}}</td>
<td class="data right">{{NumberFormat data-1.00100-00200}}</td>
<td class="data right">{{NumberFormat data-1.00100-00300}}</td>
<td class="data right">{{NumberFormat data-1.00100-00400}}</td>
<td class="data right">{{NumberFormat data-1.00100-00500}}</td>
<td class="data right">{{NumberFormat data-1.00100-00600}}</td>
<td class="data right">{{NumberFormat data-1.00100-00700}}</td>
<td class="right">1</td>
</tr>
<tr><td class="right">2</td>
<td colspan="2"> Land Improvements</td>
<td class="data right">{{NumberFormat data-1.00200-00100}}</td>
<td class="data right">{{NumberFormat data-1.00200-00200}}</td>
<td class="data right">{{NumberFormat data-1.00200-00300}}</td>
<td class="data right">{{NumberFormat data-1.00200-00400}}</td>
<td class="data right">{{NumberFormat data-1.00200-00500}}</td>
<td class="data right">{{NumberFormat data-1.00200-00600}}</td>
<td class="data right">{{NumberFormat data-1.00200-00700}}</td>
<td class="right">2</td>
</tr>
<tr><td class="right">3</td>
<td colspan="2"> Buildings and Fixtures</td>
<td class="data right">{{NumberFormat data-1.00300-00100}}</td>
<td class="data right">{{NumberFormat data-1.00300-00200}}</td>
<td class="data right">{{NumberFormat data-1.00300-00300}}</td>
<td class="data right">{{NumberFormat data-1.00300-00400}}</td>
<td class="data right">{{NumberFormat data-1.00300-00500}}</td>
<td class="data right">{{NumberFormat data-1.00300-00600}}</td>
<td class="data right">{{NumberFormat data-1.00300-00700}}</td>
<td class="right">3</td>
</tr>
<tr><td class="right">4</td>
<td colspan="2"> Building Improvements</td>
<td class="data right">{{NumberFormat data-1.00400-00100}}</td>
<td class="data right">{{NumberFormat data-1.00400-00200}}</td>
<td class="data right">{{NumberFormat data-1.00400-00300}}</td>
<td class="data right">{{NumberFormat data-1.00400-00400}}</td>
<td class="data right">{{NumberFormat data-1.00400-00500}}</td>
<td class="data right">{{NumberFormat data-1.00400-00600}}</td>
<td class="data right">{{NumberFormat data-1.00400-00700}}</td>
<td class="right">4</td>
</tr>
<tr><td class="right">5</td>
<td colspan="2"> Fixed Equipment</td>
<td class="data right">{{NumberFormat data-1.00500-00100}}</td>
<td class="data right">{{NumberFormat data-1.00500-00200}}</td>
<td class="data right">{{NumberFormat data-1.00500-00300}}</td>
<td class="data right">{{NumberFormat data-1.00500-00400}}</td>
<td class="data right">{{NumberFormat data-1.00500-00500}}</td>
<td class="data right">{{NumberFormat data-1.00500-00600}}</td>
<td class="data right"></td>
<td class="right">5</td>
</tr>
<tr><td class="right">6</td>
<td colspan="2"> Movable Equipment</td>
<td class="data right">{{NumberFormat data-1.00600-00100}}</td>
<td class="data right">{{NumberFormat data-1.00600-00200}}</td>
<td class="data right">{{NumberFormat data-1.00600-00300}}</td>
<td class="data right">{{NumberFormat data-1.00600-00400}}</td>
<td class="data right">{{NumberFormat data-1.00600-00500}}</td>
<td class="data right">{{NumberFormat data-1.00600-00600}}</td>
<td class="data right">{{NumberFormat data-1.00600-00700}}</td>
<td class="right">6</td>
</tr>
<tr><td class="right">7</td>
<td colspan="2"> HIT-designated Assets</td>
<td class="data right">{{NumberFormat data-1.00700-00100}}</td>
<td class="data right">{{NumberFormat data-1.00700-00200}}</td>
<td class="data right">{{NumberFormat data-1.00700-00300}}</td>
<td class="data right">{{NumberFormat data-1.00700-00400}}</td>
<td class="data right">{{NumberFormat data-1.00700-00500}}</td>
<td class="data right">{{NumberFormat data-1.00700-00600}}</td>
<td class="data right">{{NumberFormat data-1.00700-00700}}</td>
<td class="right">7</td>
</tr>
<tr><td class="right">8</td>
<td colspan="2"> Subtotal (sum of lines 1-7)</td>
<td class="data right">{{NumberFormat data-1.00800-00100}}</td>
<td class="data right">{{NumberFormat data-1.00800-00200}}</td>
<td class="data right">{{NumberFormat data-1.00800-00300}}</td>
<td class="data right">{{NumberFormat data-1.00800-00400}}</td>
<td class="data right">{{NumberFormat data-1.00800-00500}}</td>
<td class="data right">{{NumberFormat data-1.00800-00600}}</td>
<td class="data right">{{NumberFormat data-1.00800-00700}}</td>
<td class="right">8</td>
</tr>
<tr><td class="right">9</td>
<td colspan="2"> Reconciling Items</td>
<td class="data right">{{NumberFormat data-1.00900-00100}}</td>
<td class="data right">{{NumberFormat data-1.00900-00200}}</td>
<td class="data right">{{NumberFormat data-1.00900-00300}}</td>
<td class="data right">{{NumberFormat data-1.00900-00400}}</td>
<td class="data right">{{NumberFormat data-1.00900-00500}}</td>
<td class="data right">{{NumberFormat data-1.00900-00600}}</td>
<td class="data right">{{NumberFormat data-1.00900-00700}}</td>
<td class="right">9</td>
</tr>
<tr><td class="right">10</td>
<td colspan="2"> Total (line 7 minus line 9)</td>
<td class="data right">{{NumberFormat data-1.01000-00100}}</td>
<td class="data right">{{NumberFormat data-1.01000-00200}}</td>
<td class="data right">{{NumberFormat data-1.01000-00300}}</td>
<td class="data right">{{NumberFormat data-1.01000-00400}}</td>
<td class="data right">{{NumberFormat data-1.01000-00500}}</td>
<td class="data right">{{NumberFormat data-1.01000-00600}}</td>
<td class="data right">{{NumberFormat data-1.01000-00700}}</td>
<td class="right">10</td>
</tr>
<tr><td colspan="11">PART II - RECONCILIATION OF AMOUNTS FROM WORKSHEET A, COLUMN 2, LINES 1 AND 2</td>
</tr>
<tr><td colspan="3" rowspan="2">Description  </td>
<td class="center" colspan="7">   SUMMARY OF CAPITAL</td>
<td rowspan="3">&nbsp;</td>
</tr>
<tr><td class="center">  Depreciation </td>
<td class="center">  Lease </td>
<td class="center">  Interest </td>
<td class="center"> Insurance (see instructions) </td>
<td class="dcenter"> Taxes (see instructions) </td>
<td class="center">Other Capital- Related Costs (see instructions) </td>
<td class="center">Total (1) (sum of cols. 9 through 14) </td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td class="center">9</td>
<td class="center">10</td>
<td class="center">11</td>
<td class="center">12</td>
<td class="center">13</td>
<td class="center">14</td>
<td class="center">15</td>
</tr>
<tr><td class="right">1</td>
<td colspan="2"> Capital Related Costs-Buildings and Fixtures</td>
<td class="data right">{{NumberFormat data-2.00100-00100}}</td>
<td class="data right">{{NumberFormat data-2.00100-00200}}</td>
<td class="data right">{{NumberFormat data-2.00100-00300}}</td>
<td class="data right">{{NumberFormat data-2.00100-00400}}</td>
<td class="data right">{{NumberFormat data-2.00100-00500}}</td>
<td class="data right">{{NumberFormat data-2.00100-00600}}</td>
<td class="data right">{{NumberFormat data-2.00100-00700}}</td>
<td class="right">1</td>
</tr>
<tr><td class="right">2</td>
<td colspan="2"> Capital Related Costs-Movable Equipment</td>
<td class="data right">{{NumberFormat data-2.00200-00100}}</td>
<td class="data right">{{NumberFormat data-2.00200-00200}}</td>
<td class="data right">{{NumberFormat data-2.00200-00300}}</td>
<td class="data right">{{NumberFormat data-2.00200-00400}}</td>
<td class="data right">{{NumberFormat data-2.00200-00500}}</td>
<td class="data right">{{NumberFormat data-2.00200-00600}}</td>
<td class="data right">{{NumberFormat data-2.00200-00700}}</td>
<td class="right">2</td>
</tr>
<tr><td class="right">3</td>
<td colspan="2"> Total (sum of lines 1-2)</td>
<td class="data right">{{NumberFormat data-2.00300-00100}}</td>
<td class="data right">{{NumberFormat data-2.00300-00200}}</td>
<td class="data right">{{NumberFormat data-2.00300-00300}}</td>
<td class="data right">{{NumberFormat data-2.00300-00400}}</td>
<td class="data right">{{NumberFormat data-2.00300-00500}}</td>
<td class="data right">{{NumberFormat data-2.00300-00600}}</td>
<td class="data right">{{NumberFormat data-2.00300-00700}}</td>
<td class="right">3</td>
</tr>
<tr><td colspan="11">(1)  The amount in columns 9 through 14 must equal the amount on Worksheet A, column 2, lines 1 and 2.  Enter in each column the appropriate amounts including any directly assigned cost that may have been included in Worksheet A,  column 2, lines 1 and 2. All lines numbers are to be consistent with Worksheet A line numbers for capital cost centers. </td>
</tr>
<tr><td colspan="11">PART III - RECONCILIATION OF CAPITAL COSTS CENTERS</td>
</tr>
<tr><td colspan="2" rowspan="3">Description </td>
<td class="center" colspan="4">    COMPUTATION OF RATIOS</td>
<td class="center" colspan="4">ALLOCATION OF OTHER CAPITAL</td>
<td>&nbsp;</td>
</tr>
<tr><td class="center">  Gross Assets </td>
<td class="center"> Capitalized Leases </td>
<td class="center">Gross Assets for Ratio (col. 1 - col. 2) </td>
<td class="center"> Ratio (see instructions) </td>
<td class="center">  Insurance </td>
<td class="center">  Taxes </td>
<td class="center"> Other Capital- Related Costs </td>
<td class="center">Total (sum of cols. 5 through 7) </td>
<td>&nbsp;</td>
</tr>
<tr><td class="center">1</td>
<td class="center">2</td>
<td class="center">3</td>
<td class="center">4</td>
<td class="center">5</td>
<td class="center">6</td>
<td class="center">7</td>
<td class="center">8</td>
<td>&nbsp;</td>
</tr>
<tr><td class="right">1</td>
<td> Capital Related Costs-Buildings and Fixtures</td>
<td class="data right">{{NumberFormat data-3.00100-00100}}</td>
<td class="data right">{{NumberFormat data-3.00100-00200}}</td>
<td class="data right">{{data-3.00100-00300}}</td>
<td class="data right">{{data-3.00100-00400}}</td>
<td class="data right">{{NumberFormat data-3.00100-00500}}</td>
<td class="data right">{{NumberFormat data-3.00100-00600}}</td>
<td class="data right">{{NumberFormat data-3.00100-00700}}</td>
<td class="data right">{{NumberFormat data-3.00100-00800}}</td>
<td class="right">1</td>
</tr>
<tr><td class="right">2</td>
<td> Capital Related Costs-Movable Equipment</td>
<td class="data right">{{NumberFormat data-3.00200-00100}}</td>
<td class="data right">{{NumberFormat data-3.00200-00200}}</td>
<td class="data right">{{data-3.00200-00300}}</td>
<td class="data right">{{data-3.00200-00400}}</td>
<td class="data right">{{NumberFormat data-3.00200-00500}}</td>
<td class="data right">{{NumberFormat data-3.00200-00600}}</td>
<td class="data right">{{NumberFormat data-3.00200-00700}}</td>
<td class="data right">{{NumberFormat data-3.00200-00800}}</td>
<td class="right">2</td>
</tr>
<tr><td class="right">3</td>
<td> Total (sum of lines 1-2)</td>
<td class="data right">{{NumberFormat data-3.00300-00100}}</td>
<td class="data right">{{NumberFormat data-3.00300-00200}}</td>
<td class="data right">{{data-3.00300-00300}}</td>
<td class="data right">1.000000</td>
<td class="data right">{{NumberFormat data-3.00300-00500}}</td>
<td class="data right">{{NumberFormat data-3.00300-00600}}</td>
<td class="data right">{{NumberFormat data-3.00300-00700}}</td>
<td class="data right">{{NumberFormat data-3.00300-00800}}</td>
<td class="right">3</td>
</tr>
<tr><td colspan="3" rowspan="3">Description </td>
<td class="center" colspan="7">   SUMMARY  OF CAPITAL</td>
<td rowspan="3">&nbsp;</td>
</tr>
<tr><td class="center">  Depreciation </td>
<td class="center">  Lease </td>
<td class="center">  Interest </td>
<td class="center"> Insurance (see instructions) </td>
<td class="center"> Taxes (see instructions) </td>
<td class="center">Other Capital- Related Costs (see instructions) </td>
<td class="center">Total (2) (sum of cols. 9 through 14) </td>
</tr>
<tr><td class="center">9</td>
<td class="center">10</td>
<td class="center">11</td>
<td class="center">12</td>
<td class="center">13</td>
<td class="center">14</td>
<td class="center">15</td>
</tr>
<tr><td class="right">1</td>
<td colspan="2"> Capital Related Costs-Buildings and Fixtures</td>
<td class="data right">{{NumberFormat data-3.00100-00900}}</td>
<td class="data right">{{NumberFormat data-3.00100-01000}}</td>
<td class="data right">{{NumberFormat data-3.00100-01100}}</td>
<td class="data right">{{NumberFormat data-3.00100-01200}}</td>
<td class="data right">{{NumberFormat data-3.00100-01300}}</td>
<td class="data right">{{NumberFormat data-3.00100-01400}}</td>
<td class="data right">{{NumberFormat data-3.00100-01500}}</td>
<td class="right">1</td>
</tr>
<tr><td class="right">2</td>
<td colspan="2"> Capital Related Costs-Movable Equipment</td>
<td class="data right">{{NumberFormat data-3.00200-00900}}</td>
<td class="data right">{{NumberFormat data-3.00200-01000}}</td>
<td class="data right">{{NumberFormat data-3.00200-01100}}</td>
<td class="data right">{{NumberFormat data-3.00200-01200}}</td>
<td class="data right">{{NumberFormat data-3.00200-01300}}</td>
<td class="data right">{{NumberFormat data-3.00200-01400}}</td>
<td class="data right">{{NumberFormat data-3.00200-01500}}</td>
<td class="right">2</td>
</tr>
<tr><td class="right">3</td>
<td colspan="2"> Total (sum of lines 1-2)</td>
<td class="data right">{{NumberFormat data-3.00300-00900}}</td>
<td class="data right">{{NumberFormat data-3.00300-01000}}</td>
<td class="data right">{{NumberFormat data-3.00300-01100}}</td>
<td class="data right">{{NumberFormat data-3.00300-01200}}</td>
<td class="data right">{{NumberFormat data-3.00300-01300}}</td>
<td class="data right">{{NumberFormat data-3.00300-01400}}</td>
<td class="data right">{{NumberFormat data-3.00300-01500}}</td>
<td class="right">3</td>
</tr>
<tr><td colspan="11">(2)  The amounts on lines 1 and 2 must equal the corresponding amounts on Worksheet A, column 7, lines 1 and 2.  Columns 9 through 14 should include related  Worksheet A-6 reclassifications, Worksheet A-8 adjustments, and Worksheet A-8-1  related organizations and home office costs. (See instructions.) </td>
</tr>
<tr><td colspan="11">FORM CMS-2552-10 (08/2011) (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-II, SECTIONS 4015)</td>
</tr>
<tr><td colspan="2">40-528 - 10-12</td>
<td colspan="7">&nbsp;</td>
<td colspan="2"> Rev. 3</td>
</tr>
</tbody></table></div>
