
<div class="report"><table id="report_table" border="1" width="100%" cellpadding="1" cellspacing="1">
<colgroup><col width="4%">
<col width="35%">
<col width="6%">
<col width="9%">
<col width="30%">
<col width="6%">
<col width="6%">

<col width="4%">

</colgroup><thead><tr><td class="left" colspan="2">ADJUSTMENTS TO EXPENSES</td>
<td colspan="2">Provider CCN: <span class="data">{{pId}}</span></td>
<td><div>PERIOD:</div><div>FROM <span class="data">{{year.start}}</span></div><div>TO <span class="data">{{year.end}}</span></div></td>
<td colspan="3"> WORKSHEET A-8</td>
</tr>
</thead><tbody><tr><td colspan="2" rowspan="3">  DESCRIPTION (1) </td>
<td class="center" rowspan="2">  BASIS/CODE (2) </td>
<td class="center" rowspan="2">  AMOUNT </td>
<td class="center" colspan="2"><div>EXPENSE CLASSIFICATION ON</div><div>WORKSHEET A TO/FROM WHICH</div><div>THE AMOUNT IS TO BE ADJUSTED</div></td>
<td class="center" rowspan="2"> Wkst. A-7 Ref. </td>
<td rowspan="3">&nbsp;</td>
</tr>
<tr><td class="center">    COST CENTER </td>
<td class="center"> LINE # </td>
</tr>
<tr><td class="center">1</td>
<td class="center">2</td>
<td class="center">3</td>
<td class="center">4</td>
<td class="center">5</td>
</tr>
<tr><td class="right">1</td>
<td> Investment income - buildings and fixtures (chapter 2)</td>
<td class="data center">{{data-1.00100-00100}}</td>
<td class="data right">{{NumberFormat data-1.00100-00100}}</td>
<td class="fillgrey left"> Buildings and Fixtures</td>
<td class="fillgrey left">1</td>
<td class="data right">{{data-1.00100-00500}}</td>
<td class="right">1</td>
</tr>

<tr><td class="right">2</td>
<td> Investment income - movable equipment (chapter 2)</td>
<td class="data center">{{data-1.00200-00100}}</td>
<td class="data right">{{NumberFormat data-1.00200-00200}}</td>
<td class="fillgrey left"> Movable Equipment</td>
<td class="fillgrey left">2</td>
<td class="data right">{{data-1.00200-00500}}</td>
<td class="right">2</td>
</tr>
<tr><td class="right">3</td>
<td> Investment income - other (chapter 2)</td>
<td class="data center">{{data-1.00300-00100}}</td>
<td class="data right">{{NumberFormat data-1.00300-00200}}</td>
<td class="data left">{{data-1.00300-00300}}</td>
<td class="data right">{{data-1.00300-00400}}</td>
<td class="data right">{{data-1.00300-00500}}</td>
<td class="right">3</td>
</tr>
<tr><td class="right">4</td>
<td> Trade, quantity, and time discounts (chapter 8)</td>
<td class="data center">{{data-1.00400-00100}}</td>
<td class="data right">{{NumberFormat data-1.00400-00200}}</td>
<td class="data left">{{data-1.00400-00300}}</td>
<td class="data right">{{data-1.00400-00400}}</td>
<td class="data right">{{data-1.00400-00500}}</td>
<td class="right">4</td>
</tr>
<tr><td class="right">5</td>
<td> Refunds and rebates of expenses (chapter 8)</td>
<td class="data center">{{data-1.00500-00100}}</td>
<td class="data right">{{NumberFormat data-1.00500-00200}}</td>
<td class="data left">{{data-1.00500-00300}}</td>
<td class="data right">{{data-1.00500-00400}}</td>
<td class="data right">{{data-1.00500-00500}}</td>
<td class="right">5</td>
</tr>
<tr><td class="right">6</td>
<td> Rental of provider space by suppliers (chapter 8)</td>
<td class="data center">{{data-1.00600-00100}}</td>
<td class="data right">{{NumberFormat data-1.00600-00200}}</td>
<td class="data left">{{data-1.00600-00300}}</td>
<td class="data right">{{data-1.00600-00400}}</td>
<td class="data right">{{data-1.00600-00500}}</td>
<td class="right">6</td>
</tr>
<tr><td class="right">7</td>
<td> Telephone services (pay stations excluded) (chapter 21)</td>
<td class="data center">{{data-1.00700-00100}}</td>
<td class="data right">{{NumberFormat data-1.00700-00200}}</td>
<td class="data left">{{data-1.00700-00300}}</td>
<td class="data right">{{data-1.00700-00400}}</td>
<td class="data right">{{data-1.00700-00500}}</td>
<td class="right">7</td>
</tr>
<tr><td class="right">8</td>
<td> Television and radio service (chapter 21)</td>
<td class="data center">{{data-1.00800-00100}}</td>
<td class="data right">{{NumberFormat data-1.00800-00200}}</td>
<td class="data left">{{data-1.00800-00300}}</td>
<td class="data right">{{data-1.00800-00400}}</td>
<td class="data right">{{data-1.00800-00500}}</td>
<td class="right">8</td>
</tr>
<tr><td class="right">9</td>
<td> Parking lot (chapter 21)</td>
<td class="data center">{{data-1.00900-00100}}</td>
<td class="data right">{{NumberFormat data-1.00900-00200}}</td>
<td class="data left">{{data-1.00900-00300}}</td>
<td class="data right">{{data-1.00900-00400}}</td>
<td class="data right">{{data-1.00900-00500}}</td>
<td class="right">9</td>
</tr>
<tr><td class="right">10</td>
<td> Provider-based physician adjustment</td>
<td class="fillgrey center">Worksheet A-8-2</td>
<td class="data right">{{NumberFormat data-1.01000-00200}}</td>
<td class="data fillgrey left">&nbsp;{{data-1.01000-00300}}</td>
<td class="data fillgrey right">&nbsp;{{data-1.01000-00400}}</td>
<td class="data right">{{data-1.01000-00500}}</td>
<td class="right">10</td>
</tr>
<tr><td class="right">11</td>
<td> Sale of scrap, waste, etc. (chapter 23)</td>
<td class="data center">{{data-1.01100-00100}}</td>
<td class="data right">{{NumberFormat data-1.01100-00200}}</td>
<td class="data left">{{data-1.01100-00300}}</td>
<td class="data right">{{data-1.01100-00400}}</td>
<td class="data right">{{data-1.01100-00500}}</td>
<td class="right">11</td>
</tr>
<tr><td class="right">12</td>
<td> Related organization transactions (chapter 10)</td>
<td class="fillgrey center">Worksheet A-8-1</td>
<td class="data right">{{NumberFormat data-1.01200-00200}}</td>
<td class="data fillgrey left">&nbsp;{{data-1.01200-00300}}</td>
<td class="data fillgrey right">&nbsp;{{data-1.01200-00400}}</td>
<td class="data right">{{data-1.01200-00500}}</td>
<td class="right">12</td>
</tr>
<tr><td class="right">13</td>
<td> Laundry and linen service</td>
<td class="data center">{{data-1.01300-00100}}</td>
<td class="data right">{{NumberFormat data-1.01300-00200}}</td>
<td class="data left">{{data-1.01300-00300}}</td>
<td class="data right">{{data-1.01300-00400}}</td>
<td class="data right">{{data-1.01300-00500}}</td>
<td class="right">13</td>
</tr>
<tr><td class="right">14</td>
<td> Cafeteria-employees and guests</td>
<td class="data center">{{data-1.01400-00100}}</td>
<td class="data right">{{NumberFormat data-1.01400-00200}}</td>
<td class="data left">{{data-1.01400-00300}}</td>
<td class="data right">{{data-1.01400-00400}}</td>
<td class="data right">{{data-1.01400-00500}}</td>
<td class="right">14</td>
</tr>
<tr><td class="right">15</td>
<td> Rental of quarters to employee and others</td>
<td class="data center">{{data-1.01500-00100}}</td>
<td class="data right">{{NumberFormat data-1.01500-00200}}</td>
<td class="data left">{{data-1.01500-00300}}</td>
<td class="data right">{{data-1.01500-00400}}</td>
<td class="data right">{{data-1.01500-00500}}</td>
<td class="right">15</td>
</tr>
<tr><td class="right">16</td>
<td> Sale of medical and surgical  supplies to other than patients </td>
<td class="data center">{{data-1.01600-00100}}</td>
<td class="data right">{{NumberFormat data-1.01600-00200}}</td>
<td class="data left">{{data-1.01600-00300}}</td>
<td class="data right">{{data-1.01600-00400}}</td>
<td class="data right">{{data-1.01600-00500}}</td>
<td class="right">16</td>
</tr>
<tr><td class="right">17</td>
<td> Sale of drugs to other than patients</td>
<td class="data center">{{data-1.01700-00100}}</td>
<td class="data right">{{NumberFormat data-1.01700-00200}}</td>
<td class="data left">{{data-1.01700-00300}}</td>
<td class="data right">{{data-1.01700-00400}}</td>
<td class="data right">{{data-1.01700-00500}}</td>
<td class="right">17</td>
</tr>
<tr><td class="right">18</td>
<td> Sale of medical records and abstracts</td>
<td class="data center">{{data-1.01800-00100}}</td>
<td class="data right">{{NumberFormat data-1.01800-00200}}</td>
<td class="data left">{{data-1.01800-00300}}</td>
<td class="data right">{{data-1.01800-00400}}</td>
<td class="data right">{{data-1.01800-00500}}</td>
<td class="right">18</td>
</tr>
<tr><td class="right">19</td>
<td> Nursing school and allied health education (tuition, fees, books, etc.)</td>
<td class="data center">{{data-1.01900-00100}}</td>
<td class="data right">{{NumberFormat data-1.01900-00200}}</td>
<td class="data left">{{data-1.01900-00300}}</td>
<td class="data right">{{data-1.01900-00400}}</td>
<td class="data right">{{data-1.01900-00500}}</td>
<td class="right">19</td>
</tr>

<tr><td class="right">20</td>
<td> Vending machines</td>
<td class="data center">{{data-1.02000-00100}}</td>
<td class="data right">{{NumberFormat data-1.02000-00200}}</td>
<td class="data left">{{data-1.02000-00300}}</td>
<td class="data right">{{data-1.02000-00400}}</td>
<td class="data right">{{data-1.02000-00500}}</td>
<td class="right">20</td>
</tr>
<tr><td class="right">21</td>
<td> Income from imposition of interest, finance or penalty charges (chapter 21) </td>
<td class="data center">{{data-1.02100-00100}}</td>
<td class="data right">{{NumberFormat data-1.02100-00200}}</td>
<td class="data left">{{data-1.02100-00300}}</td>
<td class="data right">{{data-1.02100-00400}}</td>
<td class="data right">{{data-1.02100-00500}}</td>
<td class="right">21</td>
</tr>
<tr><td class="right">22</td>
<td> Interest expense on Medicare overpayments and borrowings to repay Medicare overpayments </td>
<td class="data center">{{data-1.02200-00100}}</td>
<td class="data right">{{NumberFormat data-1.02200-00200}}</td>
<td class="data left">{{data-1.02200-00300}}</td>
<td class="data right">{{data-1.02200-00400}}</td>
<td class="data right">{{data-1.02200-00500}}</td>
<td class="right">22</td>
</tr>
<tr><td class="right">23</td>
<td> Adjustment for respiratory therapy costs in excess of limitation (chapter 14) </td>
<td class="center"> Worksheet A-8-3 </td>
<td class="data right">{{NumberFormat data-1.02300-00200}}</td>
<td class="fillgrey left"> Respiratory Therapy </td>
<td class="fillgrey left"> 65 </td>
<td class="fillgrey left">{{data-1.02300-00500}} </td>
<td class="right">23</td>
</tr>
<tr><td class="right">24</td>
<td> Adjustment for physical therapy costs in excess of limitation (chapter 14) </td>
<td class="center"> Worksheet A-8-3 </td>
<td class="data right">{{NumberFormat data-1.02400-00200}}</td>
<td class="fillgrey left"> Physical Therapy </td>
<td class="fillgrey left">66 </td>
<td class="data fillgrey right">&nbsp;{{data-1.02400-00500}}</td>
<td class="right">24</td>
</tr>
<tr><td class="right">25</td>
<td> Utilization review - physicians' compensation (chapter 21)</td>
<td class="data center">{{data-1.02500-00100}}</td>
<td class="data right">{{NumberFormat data-1.02500-00200}}</td>
<td class="fillgrey left"> Utilization Review - SNF</td>
<td class="fillgrey left">114</td>
<td class="data fillgrey right">&nbsp;{{data-1.02500-00500}}</td>
<td class="right">25</td>
</tr>
<tr><td class="right">26</td>
<td> Depreciation - buildings and fixtures</td>
<td class="data center">{{data-1.02600-00100}}</td>
<td class="data right">{{NumberFormat data-1.02600-00200}}</td>
<td class="fillgrey left"> Buildings and Fixtures</td>
<td class="fillgrey left">1</td>
<td class="data right">{{data-1.02600-00500}}</td>
<td class="right">26</td>
</tr>
<tr><td class="right">27</td>
<td> Depreciation - movable equipment</td>
<td class="data center">{{data-1.02700-00100}}</td>
<td class="data right">{{NumberFormat data-1.02700-00200}}</td>
<td class="fillgrey left"> Movable Equipment</td>
<td class="fillgrey left">2</td>
<td class="data right">{{data-1.02700-00500}}</td>
<td class="right">(\d+)</td>
</tr>
<tr><td class="right">28</td>
<td> Non-physician Anesthetist</td>
<td class="data center">{{data-1.02800-00100}}</td>
<td class="data right">{{NumberFormat data-1.02800-00200}}</td>
<td class="fillgrey left"> Nonphysician Anesthetist</td>
<td class="fillgrey left">19</td>
<td class="data right">&nbsp;{{data-1.02800-00500}}</td>
<td class="right">28</td>
</tr>
<tr><td class="right">29</td>
<td> Physicians' assistant</td>
<td class="data center">{{data-1.02900-00100}}</td>
<td class="data right">{{NumberFormat data-1.02900-00200}}</td>
<td class="data left">{{data-1.02900-00300}}</td>
<td class="data right">{{data-1.02900-00400}}</td>
<td class="data right">{{data-1.02900-00500}}</td>
<td class="right">29</td>
</tr>
<tr><td class="right">30</td>
<td> Adjustment for occupational therapy costs in excess of limitation (chapter 14) </td>
<td class="fillgrey center"> Worksheet A-8-3 </td>
<td class="data right"> {{NumberFormat data-1.03000-00200}}</td>
<td class="fillgrey left"> Occupational Therapy </td>
<td class="fillgrey left">67 </td>
<td class="data fillgrey right">{{data-1.03000-00500}} </td>
<td class="right">30</td>
</tr>
<tr><td class="right">30.99</td>
<td>Hospice (non-distinct) (see intructions)</td>
<td class="data center">{{data-1.03099-00100}} </td>
<td class="data right"> {{NumberFormat data-1.03099-00200}}</td>
<td class="left">Adults and Pediatrics </td>
<td class="right">30</td>
<td class="data fillgrey right">&nbsp;{{data-1.03099-00500}}</td>
<td class="right">30.99</td>
</tr>
<tr><td class="right">31</td>
<td> Adjustment for speech pathology costs in excess of limitation (chapter 14) </td>
<td class="fillgrey center"> Worksheet A-8-3 </td>
<td class="data right">{{NumberFormat data-1.03100-00200}} </td>
<td class="fillgrey left"> Speech Pathology </td>
<td class="fillgrey left"> 68 </td>
<td class="data fillgrey right">&nbsp;{{data-1.03100-00500}}</td>
<td class="right">31</td>
</tr>
<tr><td class="right">32</td>
<td> CAH HIT Adjustment for Depreciation and Interest </td>
<td class="data center"> {{data-1.03200-00100}}</td>
<td class="data right">{{NumberFormat data-1.03200-00200}} </td>
<td class="data left"> {{data-1.03200-00300}}</td>
<td class="data right">{{data-1.03200-00400}} </td>
<td class="data right">{{data-1.03200-00500}}</td>
<td class="right">32</td>
</tr>
<tr><td class="right">33</td>
<td> Other adjustments (specify) (3)</td>
<td class="data center">{{data-1.03300-00100}} </td>
<td class="data right">{{NumberFormat data-1.03300-00200}}</td>
<td class="data left">{{data-1.03300-00300}}</td>
<td class="data center">{{data-1.03300-00400}}</td>
<td class="data right">{{data-1.03300-00500}}</td>
<td class="right">33</td>
</tr>
<tr><td class="right">33.01</td>
<td>OTHER INCOME ADJ</td>
<td class="data center">{{data-1.03301-00100}}</td>
<td class="data right"{{NumberFormat data-1.03301-00200}}</td>
<td class="data left">{{data-1.03301-00300}}</td>
<td class="data right">{{data-1.03301-00400}}</td>
<td class="data right">{{data-1.03301-00500}}</td>
<td class="right">33.01</td>
</tr>
<tr><td class="right">33.02</td>
<td>ADJ FOR HOSP ADM</td>
<td class="data center">{{data-1.03302-00100}}</td>
<td class="data right">{{NumberFormat data-1.03302-00200}}</td>
<td class="data left">{{data-1.03302-00300}}</td>
<td class="data right">{{data-1.03302-00400}}</td>
<td class="data right">{{data-1.03302-00500}}</td>
<td class="right">33.02</td>
</tr>
<tr><td class="right">33.03</td>
<td>ADJ FOR PSYCH PHYS</td>
<td class="data center">{{data-1.03303-00100}}</td>
<td class="data right">{{NumberFormat data-1.03303-00200}}</td>
<td class="data left">{{data-1.03303-00300}}</td>
<td class="data right">{{data-1.03303-00400}}</td>
<td class="data right">{{data-1.03303-00500}}</td>
<td class="right">33.03</td>
</tr>
<tr><td class="right">33.04</td>
<td>ADJ FOR HOSP ADM</td>
<td class="data center">{{data-1.03304-00100}}</td>
<td class="data right">{{NumberFormat data-1.03304-00200}}</td>
<td class="data left">{{data-1.03304-00300}}</td>
<td class="data right">{{data-1.03304-00400}}</td>
<td class="data right">{{data-1.03304-00500}}</td>
<td class="right">33.04</td>
</tr>
<tr><td class="right">33.05</td>
<td>ADJ FOR LAB</td>
<td class="data center">{{data-1.03305-00100}}</td>
<td class="data right">{{NumberFormat data-1.03305-00200}}</td>
<td class="data left">{{data-1.03305-00300}}</td>
<td class="data right">{{data-1.03305-00400}}</td>
<td class="data right">{{data-1.03305-00500}}</td>
<td class="right">33.05</td>
</tr>
<tr><td class="right">33.06</td>
<td>ADJ FOR MED ONC</td>
<td class="data center">{{data-1.03306-00100}}</td>
<td class="data right">{{NumberFormat data-1.03306-00200}}</td>
<td class="data left">{{data-1.03306-00300}}</td>
<td class="data right">{{data-1.03306-00400}}</td>
<td class="data right">{{data-1.03306-00500}}</td>
<td class="right">33.06</td>
</tr>
<tr><td class="right">33.07</td>
<td>ADJ FOR TRAUMA</td>
<td class="data center">{{data-1.03307-00100}}</td>
<td class="data right">{{NumberFormat data-1.03307-00200}}</td>
<td class="data left">{{data-1.03307-00300}}</td>
<td class="data right">{{data-1.03307-00400}}</td>
<td class="data right">{{data-1.03307-00500}}</td>
<td class="right">33.07</td>
</tr>
<tr><td class="right">33.08</td>
<td>ADJ FOR IVC</td>
<td class="data center">{{data-1.03308-00100}}</td>
<td class="data right">{{NumberFormat data-1.03308-00200}}</td>
<td class="data left">{{data-1.03308-00300}}</td>
<td class="data right">{{data-1.03308-00400}}</td>
<td class="data right">{{data-1.03308-00500}}</td>
<td class="right">33.08</td>
</tr>
<tr><td class="right">33.09</td>
<td>ADJ FOR HOUSEKEEPING</td>
<td class="data center">{{data-1.03309-00100}}</td>
<td class="data right">{{NumberFormat data-1.03309-00200}}</td>
<td class="data left">{{data-1.03309-00300}}</td>
<td class="data right">{{data-1.03309-00400}}</td>
<td class="data right">{{data-1.03309-00500}}</td>
<td class="right">33.09</td>
</tr>
<tr><td class="right">33.10</td>
<td>ADJ FOR BAD DEBT</td>
<td class="data center">{{data-1.03310-00100}}</td>
<td class="data right">{{NumberFormat data-1.03310-00200}}</td>
<td class="data left">{{data-1.03310-00300}}</td>
<td class="data right">{{data-1.03310-00400}}</td>
<td class="data right">{{data-1.03310-00500}}</td>
<td class="right">33.10</td>
</tr>
<tr><td class="right">33.11</td>
<td>ADJ FOR FNRC BAD DEBT</td>
<td class="data center">{{data-1.03311-00100}}</td>
<td class="data right">{{NumberFormat data-1.03311-00200}}</td>
<td class="data left">{{data-1.03311-00300}}</td>
<td class="data right">{{data-1.03311-00400}}</td>
<td class="data right">{{data-1.03311-00500}}</td>
<td class="right">33.11</td>
</tr>
<tr><td class="right">33.12</td>
<td>ADJ FOR COMMUNITY RELATIONS EXP</td>
<td class="data center">{{data-1.03312-00100}}</td>
<td class="data right">{{NumberFormat data-1.03312-00200}}</td>
<td class="data left">{{data-1.03312-00300}}</td>
<td class="data right">{{data-1.03312-00400}}</td>
<td class="data right">{{data-1.03312-00500}}</td>
<td class="right">33.12</td>
</tr>
<tr><td class="right">33.13</td>
<td>ADJ FOR SHARED DEPT</td>
<td class="data center">{{data-1.03313-00100}}</td>
<td class="data right">{{NumberFormat data-1.03313-00200}}</td>
<td class="data left">{{data-1.03313-00300}}</td>
<td class="data right">{{data-1.03313-00400}}</td>
<td class="data right">{{data-1.03313-00500}}</td>
<td class="right">33.13</td>
</tr>
<tr><td class="right">33.14</td>
<td>ADJ FOR SHARED DEPT</td>
<td class="data center">{{data-1.03314-00100}}</td>
<td class="data right">{{NumberFormat data-1.03314-00200}}</td>
<td class="data left">{{data-1.03314-00300}}</td>
<td class="data right">{{data-1.03314-00400}}</td>
<td class="data right">{{data-1.03314-00500}}</td>
<td class="right">33.14</td>
</tr>
<tr><td class="right">33.15</td>
<td>ADJ FOR SHARED DEPT</td>
<td class="data center">{{data-1.03315-00100}}</td>
<td class="data right">{{NumberFormat data-1.03315-00200}}</td>
<td class="data left">{{data-1.03315-00300}}</td>
<td class="data right">{{data-1.03315-00400}}</td>
<td class="data right">{{data-1.03315-00500}}</td>
<td class="right">33.15</td>
</tr>
<tr><td class="right">33.16</td>
<td>ADJ FOR SHARED DEPT</td>
<td class="data center">{{data-1.03316-00100}}</td>
<td class="data right">{{NumberFormat data-1.03316-00200}}</td>
<td class="data left">{{data-1.03316-00300}}</td>
<td class="data right">{{data-1.03316-00400}}</td>
<td class="data right">{{data-1.03316-00500}}</td>
<td class="right">33.16</td>
</tr>
<tr><td class="right">33.17</td>
<td>ADJ FOR SHARED DEPT</td>
<td class="data center">{{data-1.03317-00100}}</td>
<td class="data right">{{NumberFormat data-1.03317-00200}}</td>
<td class="data left">{{data-1.03317-00300}}</td>
<td class="data right">{{data-1.03317-00400}}</td>
<td class="data right">{{data-1.03317-00500}}</td>
<td class="right">33.17</td>
</tr>
<tr><td class="right">33.18</td>
<td>ADJ FOR SHARED DEPT</td>
<td class="data center">{{data-1.03318-00100}}</td>
<td class="data right">{{NumberFormat data-1.03318-00200}}</td>
<td class="data left">{{data-1.03318-00300}}</td>
<td class="data right">{{data-1.03318-00400}}</td>
<td class="data right">{{data-1.03318-00500}}</td>
<td class="right">33.18</td>
</tr>
<tr><td class="right">33.19</td>
<td>ADJ FOR SHARED DEPT</td>
<td class="data center">{{data-1.03319-00100}}</td>
<td class="data right">{{NumberFormat data-1.03319-00200}}</td>
<td class="data left">{{data-1.03319-00300}}</td>
<td class="data right">{{data-1.03319-00400}}</td>
<td class="data right">{{data-1.03319-00500}}</td>
<td class="right">33.19</td>
</tr>
<tr><td class="right">33.20</td>
<td>ADJ FOR SHARED DEPT</td>
<td class="data center">{{data-1.03320-00100}}</td>
<td class="data right">{{NumberFormat data-1.03320-00200}}</td>
<td class="data left">{{data-1.03320-00300}}</td>
<td class="data right">{{data-1.03320-00400}}</td>
<td class="data right">{{data-1.03320-00500}}</td>
<td class="dright">33.20</td>
</tr>
<tr><td class="right">34</td>
 <td class="data">{{data-1.03400-00000}}</td>
<td class="data center">{{data-1.03400-00100}}</td>
<td class="data right">{{NumberFormat data-1.03400-00200}}</td>
<td class="data left">{{data-1.03400-00300}}</td>
<td class="data right">{{data-1.03400-00400}}</td>
<td class="data right">{{data-1.03400-00500}}</td>
<td class="right">34</td>
</tr>
<tr><td class="right">35</td>
 <td class="data">{{data-1.03500-00000}}</td>
<td class="data center">{{data-1.03500-00100}}</td>
<td class="data right">{{NumberFormat data-1.03500-00200}}</td>
<td class="data left">{{data-1.03500-00300}}</td>
<td class="data right">{{data-1.03500-00400}}</td>
<td class="data right">{{data-1.03500-00500}}</td>
<td class="right">35</td>
</tr>
<tr><td class="right">36</td>
<td class="data">{{data-1.03600-00000}}</td>
<td class="data center">{{data-1.03600-00100}}</td>
<td class="data right">{{NumberFormat data-1.03600-00200}}</td>
<td class="data left">{{data-1.03600-00300}}</td>
<td class="data right">{{data-1.03600-00400}}</td>
<td class="data right">{{data-1.03600-00500}}</td>
<td class="right">36</td>
</tr>
<tr><td class="right">37</td>
<td class="data">{{data-1.03700-00000}}</td>
<td class="data center">{{data-1.03700-00100}}</td>
<td class="data right">{{NumberFormat data-1.03700-00200}}</td>
<td class="data left">{{data-1.03700-00300}}</td>
<td class="data right">{{data-1.03700-00400}}</td>
<td class="data right">{{data-1.03700-00500}}</td>
<td class="right">37</td>
</tr>
<tr><td class="right">38</td>
<td class="data">{{data-1.03800-00000}}</td>
<td class="data center">{{data-1.03800-00100}}</td>
<td class="data right">{{NumberFormat data-1.03800-00200}}</td>
<td class="data left">{{data-1.03800-00200}}</td>
<td class="data right">{{data-1.03800-00300}}</td>
<td class="data right">{{data-1.03800-00400}}</td>
<td class="right">38</td>
</tr>
<tr><td class="right">39</td>
<td class="data">{{data-1.03900-00000}}</td>
<td class="data center">{{data-1.03900-00100}}</td>
<td class="data right">{{NumberFormat data-1.03900-00200}}</td>
<td class="data left">{{data-1.03900-00300}}</td>
<td class="data right">{{data-1.03900-00400}}</td>
<td class="data right">{{data-1.03900-00500}}</td>
<td class="right">39</td>
</tr>
<tr><td class="right">40</td>
<td class="data">{{data-1.04000-00000}}</td>
<td class="data center">{{data-1.04000-00100}}</td>
<td class="data right">{{NumberFormat data-1.04000-00200}}</td>
<td class="data left">{{data-1.04000-00300}}</td>
<td class="data right">{{data-1.04000-00400}}</td>
<td class="data right">{{data-1.04000-00500}}</td>
<td class="right">40</td>
</tr>
<tr><td class="right">41</td>
<td class="data">{{data-1.04100-00000}}</td>
<td class="data center">{{data-1.04100-00100}}</td>
<td class="data right">{{NumberFormat data-1.04100-00200}}</td>
<td class="data left">{{data-1.04100-00300}}</td>
<td class="data right">{{data-1.04100-00400}}</td>
<td class="data right">{{data-1.04100-00500}}</td>
<td class="right">41</td>
</tr>
<tr><td class="right">42</td>
<td class="data">{{data-1.04200-00000}}</td>
<td class="data center">{{data-1.04200-00100}}</td>
<td class="data right">{{NumberFormat data-1.04200-00200}}</td>
<td class="data left">{{data-1.04200-00300}}</td>
<td class="data right">{{data-1.04200-00400}}</td>
<td class="data right">{{data-1.04200-00500}}</td>
<td class="right">42</td>
</tr>
<tr><td class="right">43</td>
<td class="data">{{data-1.04300-00000}}</td>
<td class="data center">{{data-1.04300-00100}}</td>
<td class="data right">{{NumberFormat data-1.04300-00200}}</td>
<td class="data left">{{data-1.04300-00300}}</td>
<td class="data right">{{data-1.04300-00400}}</td>
<td class="data right">{{data-1.04300-00500}}</td>
<td class="right">43</td>
</tr>
<tr><td class="right">44</td>
<td class="data">{{data-1.04400-00000}}</td>
<td class="data center">{{data-1.04400-00100}}</td>
<td class="data right">{{NumberFormat data-1.04400-00200}}</td>
<td class="data left">{{data-1.04400-00300}}</td>
<td class="data right">{{data-1.04400-00400}}</td>
<td class="data right">{{data-1.04400-00500}}</td>
<td class="right">44</td>
</tr>
<tr><td class="right">45</td>
<td class="data">{{data-1.04500-00000}}</td>
<td class="data center">{{data-1.04500-00100}}</td>
<td class="data right">{{NumberFormat data-1.04500-00200}}</td>
<td class="data left">{{data-1.04500-00300}}</td>
<td class="data right">{{data-1.04500-00400}}</td>
<td class="data right">{{data-1.04500-00500}}</td>
<td class="right">45</td>
</tr>
<tr><td class="right">46</td>
<td class="data">{{data-1.04600-00000}}</td>
<td class="data center">{{data-1.04600-00100}}</td>
<td class="data right">{{NumberFormat data-1.04600-00200}}</td>
<td class="data left">{{data-1.04600-00300}}</td>
<td class="data right">{{data-1.04600-00400}}</td>
<td class="data right"{{data-1.04600-00500}}></td>
<td class="right">46</td>
</tr>
<tr><td class="right">47</td>
<td class="data">{{data-1.04700-00000}}</td>
<td class="data center">{{data-1.04700-00100}}</td>
<td class="data right">{{NumberFormat data-1.04700-00200}}</td>
<td class="data left">{{data-1.04700-00300}}</td>
<td class="data right">{{data-1.04700-00400}}</td>
<td class="data right">{{data-1.04700-00500}}</td>
<td class="right">47</td>
</tr>
<tr><td class="right">48</td>
<td class="data">{{data-1.04800-00000}}</td>
<td class="data center">{{data-1.04800-00100}}</td>
<td class="data right">{{NumberFormat data-1.04800-00200}}</td>
<td class="data left">{{data-1.04800-00300}}</td>
<td class="data right">{{data-1.04800-00400}}</td>
<td class="data right">{{data-1.04800-00500}}</td>
<td class="right">48</td>
</tr>
<tr><td class="right">49</td>
<td class="data">{{data-1.04900-00000}}</td>
<td class="data center">{{data-1.04900-00100}}</td>
<td class="data right">{{NumberFormat data-1.04900-00200}}</td>
<td class="data left">{{data-1.04900-00300}}</td>
<td class="data right">{{data-1.04900-00400}}</td>
<td class="data right">{{data-1.04900-00500}}</td>
<td class="right">49</td>
</tr>
<tr><td class="right">50</td>
<td> TOTAL (sum of lines 1 thru 49) (Transfer to Worksheet A, column 6, line 200) </td>
<td class="data fillgrey center">&nbsp;</td>
<td class="data right">{{NumberFormat data-1.05000-00200}}</td>
<td class="data fillgrey left">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="right">50</td>
</tr>
<tr><td colspan="8">(1) Description - all chapter references in this column pertain to CMS Pub. 15-1 </td>
</tr>
<tr><td colspan="8"><div>(2) Basis for adjustment (see instructions) </div><div>   A. Costs - if cost, including applicable overhead, can be determined </div><div>   B. Amount Received - if cost cannot be determined </div></td>
</tr>
<tr><td colspan="8">(3) Additional adjustments may be made on lines 33 thru 49 and subscripts thereof. </td>
</tr>
<tr><td colspan="8">&nbsp;</td>
</tr>
<tr><td colspan="8"> Note: See instructions for column 5 referencing to Worksheet A-7. </td>
</tr>
<tr><td colspan="8">FORM CMS-2552-10 (11/2017) (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-II, §4016)</td>
</tr>
<tr><td colspan="2">40-529 - 11-17</td>
<td colspan="4">&nbsp;</td>
<td colspan="2">Rev. 12</td>
</tr>
</tbody></table>
</div>
