
<div class="report">
    <table id="report_table" border="1" width="100%" cellpadding="1" cellspacing="1">
    <colgroup>
        <col width="3%">
        <col width="6%">
        <col width="27%">
        <col width="10%">
        <col width="24%">
        <col width="9%">
        <col width="9%">
        <col width="9%">
        <col width="3%">
    </colgroup>
    <thead>
        <tr>
            <td class="left" colspan="4">STATEMENT OF COSTS OF SERVICES FROM RELATED ORGANIZATIONS AND HOME OFFICE COSTS </td>
            <td>Provider CCN: <span class="data">{{pId}}</span></td>
            <td>
                <div>PERIOD:</div>
                <div>FROM <span class="data">{{year.start}}</span></div>
                <div>TO <span class="data">{{year.end}}</span></div>
            </td>
            <td  colspan="3"> WORKSHEET A-8-1</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="9">B.  INTERRELATIONSHIP TO RELATED ORGANIZATION(S) AND/OR HOME OFFICE: </td>
        </tr>
        <tr>
            <td colspan="9">The Secretary, by virtue of the authority granted under section 1814(b)(1) of the Social Security Act, requires that you furnish the information requested under Part B of this worksheet. </td>
        </tr>
        <tr>
            <td colspan="9">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="9">This information is used by the Centers for Medicare and Medicaid Services and its intermediaries/contractors in determining that the costs applicable to services, facilities, and supplies furnished by organizations related to you by common ownership or control represent reasonable costs as determined under section 1861 of the Social Security Act.  If you do not provide all or any part of the requested information, the cost report is considered incomplete and not acceptable for purposes of claiming reimbursement under title XVIII. </td>
        </tr>
        <tr>
            <td rowspan="2">&nbsp;</td>
            <td class="center" rowspan="2">  Symbol (1) </td>
            <td class="center" rowspan="2">   Name </td>
            <td class="center" rowspan="2"> Percentage of Ownership </td>
            <td class="center" colspan="4">Related Organization(s) and/or Home Office</td>
            <td rowspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td class="center">  Name </td>
            <td class="center">Percentage of Ownership </td>
            <td class="center" colspan="2"> Type of Business </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td class="center">1</td>
            <td class="center">2</td>
            <td class="center">3</td>
            <td class="center">4</td>
            <td class="center">5</td>
            <td class="center" colspan="2">6</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="right">6</td>
            <td class="data center">{{data-1.00600-00100}}</td>
            <td class="data left">{{data-1.00600-00200}}</td>
            <td class="data center">{{data-1.00600-00300}}</td>
            <td class="data left">{{data-1.00600-00400}}</td>
            <td class="data center">{{data-1.00600-00500}}</td>
            <td class="data left" colspan="2">{{data-1.00600-00600}}</td>
            <td class="right">6</td>
        </tr>
        <tr>
            <td class="right">7</td>
            <td class="data center">{{data-1.00700-00100}}</td>
            <td class="data left">{{data-1.00700-00200}}</td>
            <td class="data center">{{data-1.00700-00300}}</td>
            <td class="data left">{{data-1.00700-00400}}</td>
            <td class="data center">{{data-1.00700-00500}}</td>
            <td class="data left" colspan="2">{{data-1.00700-00600}}</td>
            <td class="right">7</td>
        </tr>
        <tr>
            <td class="right">8</td>
            <td class="data center">{{data-1.00800-00100}}</td>
            <td class="data left">{{data-1.00800-00200}}</td>
            <td class="data center">{{data-1.00800-00300}}</td>
            <td class="data left">{{data-1.00800-00400}}</td>
            <td class="data center">{{data-1.00800-00500}}</td>
            <td class="data left" colspan="2">{{data-1.00800-00600}}</td>
            <td class="right">8</td>
        </tr>
        <tr>
            <td class="right">9</td>
            <td class="data center">{{data-1.00900-00100}}</td>
            <td class="data left">{{data-1.00900-00200}}</td>
            <td class="data center">{{data-1.00900-00300}}</td>
            <td class="data left">{{data-1.00900-00400}}</td>
            <td class="data center">{{data-1.00900-00500}}</td>
            <td class="data left" colspan="2">{{data-1.00900-00600}}</td>
            <td class="right">9</td>
        </tr>


        <tr><td class="right">10</td>
        <td class="data center">{{data-1.01000-00100}}</td>
        <td class="data left">{{data-1.01000-00200}}</td>
        <td class="data center">{{data-1.01000-00300}}</td>
        <td class="data left">{{data-1.01000-00400}}</td>
        <td class="data center">{{data-1.01000-00500}}</td>
        <td class="data left" colspan="2">{{data-1.01000-00600}}</td>
        <td class="right">10</td>
        </tr>


        <tr><td colspan="9"> (1) Use the following symbols to indicate interrelationship to related organizations: </td>
        </tr>
        <tr><td rowspan="7">&nbsp;</td>
        <td colspan="8"> A. Individual has financial interest (stockholder, partner, etc.) in both related       organization and in provider.  </td>
        </tr>
        <tr><td colspan="8"> B. Corporation, partnership, or other organization has financial interest in provider. </td>
        </tr>
        <tr><td colspan="8"> C. Provider has financial interest in corporation, partnership, or other organization. </td>
        </tr>
        <tr><td colspan="8"> D. Director, officer, administrator, or key person of provider or relative of such       person has financial interest in related organization.  </td>
        </tr>
        <tr><td colspan="8"> E. Individual is director, officer, administrator, or key person of provider and       related organization.  </td>
        </tr>
        <tr><td colspan="8"> F. Director, officer, administrator, or key person of related organization or relative       of such person has financial interest in provider.  </td>
        </tr>
        <tr><td colspan="8"> G. Other (financial or non-financial) specify __ </td>
        </tr>
        <tr><td colspan="9">FORM CMS-2552-10 (10/2012)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-II, §4017)</td>
        </tr>
        <tr><td colspan="2">40-530 - 11-17</td>
        <td colspan="5">&nbsp;</td>
        <td colspan="2"> Rev. 12</td>
        </tr>
        </tbody>
    </table>
</div>
