

<div class="report"><table id="report_table" border="1" width="100%" cellpadding="1" cellspacing="1">
<colgroup><col width="3%">
<col width="5%">
<col width="24%">
<col width="24%">
<col width="10%">
<col width="10%">
<col width="10%">
<col width="10%">

<col width="3%">

</colgroup><thead><tr><td class="left" colspan="4">STATEMENT OF COSTS OF SERVICES FROM RELATED ORGANIZATIONS AND HOME OFFICE COSTS </td>
<td>Provider CCN: <span class="data">{{pId}}</span></td>
<td><div>PERIOD:</div><div>FROM <span class="data">{{year.start}}</span></div><div>TO <span class="data">{{year.end}}</span></div></td>
<td colspan="3"> WORKSHEET A-8-1</td>
</tr>
</thead><tbody><tr><td colspan="9">A.  COSTS INCURRED AND ADJUSTMENTS REQUIRED AS A RESULT OF TRANSACTIONS WITH RELATED ORGANIZATIONS OR CLAIMED HOME OFFICE COSTS:  </td>
</tr>
<tr><td rowspan="2">&nbsp;</td>
<td class="center">   Line No. </td>
<td class="center">    Cost Center </td>
<td class="center">    Expense Items </td>
<td class="center">  Amount of Allowable Cost </td>
<td class="center"> Amount included in Wkst. A column 5 </td>
<td class="center"> Net Adjustments (col. 4 minus col. 5) * </td>
<td class="center">  Wkst. A-7 Ref. </td>
<td rowspan="2">&nbsp;</td>
</tr>
<tr><td class="center">1</td>
<td class="center">2</td>
<td class="center">3</td>
<td class="center">4</td>
<td class="center">5</td>
<td class="center">6</td>
<td class="center">7</td>
</tr>
<tr><td class="right">1</td>
<td class="data center">{{data-1.00100-00100}}</td>
<td class="data">{{data-1.00100-00200}}</td>
<td class="data">{{data-1.00100-00300}}</td>
<td class="data right">{{NumberFormat data-1.00100-00400}}</td>
<td class="data right">{{NumberFormat data-1.00100-00500}}</td>
<td class="data right">{{NumberFormat data-1.00100-00600}}</td>
<td class="data center">{{data-1.00100-00700}}</td>
<td class="right">1</td>
</tr>
<tr><td class="right">2</td>
<td class="data center">{{data-1.00200-00100}}</td>
<td class="data">{{data-1.00200-00200}}</td>
<td class="data">{{data-1.00200-00300}}</td>
<td class="data right">{{NumberFormat data-1.00200-00400}}</td>
<td class="data right">{{NumberFormat data-1.00200-00500}}</td>
<td class="data right">{{NumberFormat data-1.00200-00600}}</td>
<td class="data center">{{data-1.00200-00700}}</td>
<td class="right">2</td>
</tr>
<tr><td class="right">3</td>
<td class="data center">{{data-1.00300-00100}}</td>
<td class="data">{{data-1.00300-00200}}</td>
<td class="data">{{data-1.00300-00300}}</td>
<td class="data right">{{NumberFormat data-1.00300-00400}}</td>
<td class="data right">{{NumberFormat data-1.00300-00500}}</td>
<td class="data right">{{NumberFormat data-1.00300-00600}}</td>
<td class="data center">{{data-1.00300-00700}}</td>
<td class="right">3</td>
</tr>


<tr><td class="right">4</td>
<td class="data center">{{data-1.00400-00100}}</td>
<td class="data">{{data-1.00400-00200}}</td>
<td class="data">{{data-1.00400-00300}}</td>
<td class="data right">{{NumberFormat data-1.00400-00400}}</td>
<td class="data right">{{NumberFormat data-1.00400-00500}}</td>
<td class="data right">{{NumberFormat data-1.00400-00600}}</td>
<td class="data center">{{data-1.00400-00700}}</td>
<td class="right">4</td>
</tr>


<tr><td class="right">4.10</td>
<td class="data center">{{data-1.00410-00100}}</td>
<td class="data">{{data-1.00410-00200}}</td>
<td class="data">{{data-1.00410-00300}}</td>
<td class="data right">{{NumberFormat data-1.00410-00400}}</td>
<td class="data right">{{NumberFormat data-1.00410-00500}}</td>
<td class="data right">{{NumberFormat data-1.00410-00600}}</td>
<td class="data center">{{data-1.00410-00700}}</td>
<td class="right">4.10</td>
</tr>


<tr><td class="right">4.11</td>
<td class="data center">{{data-1.00411-00100}}</td>
<td class="data">{{data-1.00411-00200}}</td>
<td class="data">{{data-1.00411-00300}}</td>
<td class="data right">{{NumberFormat data-1.00411-00400}}</td>
<td class="data right">{{NumberFormat data-1.00411-00500}}</td>
<td class="data right">{{NumberFormat data-1.00411-00600}}</td>
<td class="data center">{{data-1.00411-00700}}</td>
<td class="right">4.11</td>
</tr>


<tr><td class="right">4.12</td>
<td class="data center">{{data-1.00412-00100}}</td>
<td class="data">{{data-1.00412-00200}}</td>
<td class="data">{{data-1.00412-00300}}</td>
<td class="data right">{{NumberFormat data-1.00412-00400}}</td>
<td class="data right">{{NumberFormat data-1.00412-00500}}</td>
<td class="data right">{{NumberFormat data-1.00412-00600}}</td>
<td class="data center">{{data-1.00412-00700}}</td>
<td class="right">4.12</td>
</tr>


<tr><td class="right">4.13</td>
<td class="data center">{{data-1.00413-00100}}</td>
<td class="data">{{data-1.00413-00200}}</td>
<td class="data">{{data-1.00413-00300}}</td>
<td class="data right">{{NumberFormat data-1.00413-00400}}</td>
<td class="data right">{{NumberFormat data-1.00413-00500}}</td>
<td class="data right">{{NumberFormat data-1.00413-00600}}</td>
<td class="data center">{{data-1.00413-00700}}</td>
<td class="right">4.13</td>
</tr>


<tr><td class="right">4.14</td>
<td class="data center">{{data-1.00414-00100}}</td>
<td class="data">{{data-1.00414-00200}}</td>
<td class="data">{{data-1.00414-00300}}</td>
<td class="data right">{{NumberFormat data-1.00414-00400}}</td>
<td class="data right">{{NumberFormat data-1.00414-00500}}</td>
<td class="data right">{{NumberFormat data-1.00414-00600}}</td>
<td class="data center">{{data-1.00414-00700}}</td>
<td class="right">4.14</td>
</tr>


<tr><td class="right">4.15</td>
<td class="data center">{{data-1.00415-00100}}</td>
<td class="data">{{data-1.00415-00200}}</td>
<td class="data">{{data-1.00415-00300}}</td>
<td class="data right">{{NumberFormat data-1.00415-00400}}</td>
<td class="data right">{{NumberFormat data-1.00415-00500}}</td>
<td class="data right">{{NumberFormat data-1.00415-00600}}</td>
<td class="data center">{{data-1.00415-00700}}</td>
<td class="right">4.15</td>
</tr>


<tr><td class="right">4.16</td>
<td class="data center">{{data-1.00416-00100}}</td>
<td class="data">{{data-1.00416-00200}}</td>
<td class="data">{{data-1.00416-00300}}</td>
<td class="data right">{{NumberFormat data-1.00416-00400}}</td>
<td class="data right">{{NumberFormat data-1.00416-00500}}</td>
<td class="data right">{{NumberFormat data-1.00416-00600}}</td>
<td class="data center">{{data-1.00416-00700}}</td>
<td class="right">4.16</td>
</tr>


<tr><td class="right">4.17</td>
<td class="data center">{{data-1.00417-00100}}</td>
<td class="data">{{data-1.00417-00200}}</td>
<td class="data">{{data-1.00417-00300}}</td>
<td class="data right">{{NumberFormat data-1.00417-00400}}</td>
<td class="data right">{{NumberFormat data-1.00417-00500}}</td>
<td class="data right">{{NumberFormat data-1.00417-00600}}</td>
<td class="data center">{{data-1.00417-00700}}</td>
<td class="right">4.17</td>
</tr>


<tr><td class="right">4.18</td>
<td class="data center">{{data-1.00418-00100}}</td>
<td class="data">{{data-1.00418-00200}}</td>
<td class="data">{{data-1.00418-00300}}</td>
<td class="data right">{{NumberFormat data-1.00418-00400}}</td>
<td class="data right">{{NumberFormat data-1.00418-00500}}</td>
<td class="data right">{{NumberFormat data-1.00418-00600}}</td>
<td class="data center">{{data-1.00418-00700}}</td>
<td class="right">4.18</td>
</tr>


<tr><td class="right">4.19</td>
<td class="data center">{{data-1.00419-00100}}</td>
<td class="data">{{data-1.00419-00200}}</td>
<td class="data">{{data-1.00419-00300}}</td>
<td class="data right">{{NumberFormat data-1.00419-00400}}</td>
<td class="data right">{{NumberFormat data-1.00419-00500}}</td>
<td class="data right">{{NumberFormat data-1.00419-00600}}</td>
<td class="data center">{{data-1.00419-00700}}</td>
<td class="right">4.19</td>
</tr>


<tr><td class="right">4.20</td>
<td class="data center">{{data-1.00420-00100}}</td>
<td class="data">{{data-1.00420-00200}}</td>
<td class="data">{{data-1.00420-00300}}</td>
<td class="data right">{{NumberFormat data-1.00420-00400}}</td>
<td class="data right">{{NumberFormat data-1.00420-00500}}</td>
<td class="data right">{{NumberFormat data-1.00420-00600}}</td>
<td class="data center">{{data-1.00420-00700}}</td>
<td class="right">4.20</td>
</tr>


<tr><td class="right">4.21</td>
<td class="data center">{{data-1.00421-00100}}</td>
<td class="data">{{data-1.00421-00200}}</td>
<td class="data">{{data-1.00421-00300}}</td>
<td class="data right">{{NumberFormat data-1.00421-00400}}</td>
<td class="data right">{{NumberFormat data-1.00421-00500}}</td>
<td class="data right">{{NumberFormat data-1.00421-00600}}</td>
<td class="data center">{{data-1.00421-00700}}</td>
<td class="right">4.21</td>
</tr>


<tr><td class="right">4.22</td>
<td class="data center">{{data-1.00422-00100}}</td>
<td class="data">{{data-1.00422-00200}}</td>
<td class="data">{{data-1.00422-00300}}</td>
<td class="data right">{{NumberFormat data-1.00422-00400}}</td>
<td class="data right">{{NumberFormat data-1.00422-00500}}</td>
<td class="data right">{{NumberFormat data-1.00422-00600}}</td>
<td class="data center">{{data-1.00422-00700}}</td>
<td class="right">4.22</td>
</tr>


<tr><td class="right">4.23</td>
<td class="data center">{{data-1.00423-00100}}</td>
<td class="data">{{data-1.00423-00200}}</td>
<td class="data">{{data-1.00423-00300}}</td>
<td class="data right">{{NumberFormat data-1.00423-00400}}</td>
<td class="data right">{{NumberFormat data-1.00423-00500}}</td>
<td class="data right">{{NumberFormat data-1.00423-00600}}</td>
<td class="data center">{{data-1.00423-00700}}</td>
<td class="right">4.23</td>
</tr>


<tr><td class="right">4.24</td>
<td class="data center">{{data-1.00424-00100}}</td>
<td class="data">{{data-1.00424-00200}}</td>
<td class="data">{{data-1.00424-00300}}</td>
<td class="data right">{{NumberFormat data-1.00424-00400}}</td>
<td class="data right">{{NumberFormat data-1.00424-00500}}</td>
<td class="data right">{{NumberFormat data-1.00424-00600}}</td>
<td class="data center">{{data-1.00424-00700}}</td>
<td class="right">4.24</td>
</tr>


<tr><td class="right">4.25</td>
<td class="data center">{{data-1.00425-00100}}</td>
<td class="data">{{data-1.00425-00200}}</td>
<td class="data">{{data-1.00425-00300}}</td>
<td class="data right">{{NumberFormat data-1.00425-00400}}</td>
<td class="data right">{{NumberFormat data-1.00425-00500}}</td>
<td class="data right">{{NumberFormat data-1.00425-00600}}</td>
<td class="data center">{{data-1.00425-00700}}</td>
<td class="right">4.25</td>
</tr>


<tr><td class="right">4.26</td>
<td class="data center">{{data-1.00426-00100}}</td>
<td class="data">{{data-1.00426-00200}}</td>
<td class="data">{{data-1.00426-00300}}</td>
<td class="data right">{{NumberFormat data-1.00426-00400}}</td>
<td class="data right">{{NumberFormat data-1.00426-00500}}</td>
<td class="data right">{{NumberFormat data-1.00426-00600}}</td>
<td class="data center">{{data-1.00426-00700}}</td>
<td class="right">4.26</td>
</tr>


<tr><td class="right">4.27</td>
<td class="data center">{{data-1.00427-00100}}</td>
<td class="data">{{data-1.00427-00200}}</td>
<td class="data">{{data-1.00427-00300}}</td>
<td class="data right">{{NumberFormat data-1.00427-00400}}</td>
<td class="data right">{{NumberFormat data-1.00427-00500}}</td>
<td class="data right">{{NumberFormat data-1.00427-00600}}</td>
<td class="data center">{{data-1.00427-00700}}</td>
<td class="right">4.27</td>
</tr>


<tr><td class="right">4.28</td>
<td class="data center">{{data-1.00428-00100}}</td>
<td class="data">{{data-1.00428-00200}}</td>
<td class="data">{{data-1.00428-00300}}</td>
<td class="data right">{{NumberFormat data-1.00428-00400}}</td>
<td class="data right">{{NumberFormat data-1.00428-00500}}</td>
<td class="data right">{{NumberFormat data-1.00428-00600}}</td>
<td class="data center">{{data-1.00428-00700}}</td>
<td class="right">4.28</td>
</tr>


<tr><td class="right">4.29</td>
<td class="data center">{{data-1.00429-00100}}</td>
<td class="data">{{data-1.00429-00200}}</td>
<td class="data">{{data-1.00429-00300}}</td>
<td class="data right">{{NumberFormat data-1.00429-00400}}</td>
<td class="data right">{{NumberFormat data-1.00429-00500}}</td>
<td class="data right">{{NumberFormat data-1.00429-00600}}</td>
<td class="data center">{{data-1.00429-00700}}</td>
<td class="right">4.29</td>
</tr>


<tr><td class="right">4.30</td>
<td class="data center">{{data-1.00430-00100}}</td>
<td class="data">{{data-1.00430-00200}}</td>
<td class="data">{{data-1.00430-00300}}</td>
<td class="data right">{{NumberFormat data-1.00430-00400}}</td>
<td class="data right">{{NumberFormat data-1.00430-00500}}</td>
<td class="data right">{{NumberFormat data-1.00430-00600}}</td>
<td class="data center">{{data-1.00430-00700}}</td>
<td class="right">4.30</td>
</tr>


<tr><td class="right">4.31</td>
<td class="data center">{{data-1.00431-00100}}</td>
<td class="data">{{data-1.00431-00200}}</td>
<td class="data">{{data-1.00431-00300}}</td>
<td class="data right">{{NumberFormat data-1.00431-00400}}</td>
<td class="data right">{{NumberFormat data-1.00431-00500}}</td>
<td class="data right">{{NumberFormat data-1.00431-00600}}</td>
<td class="data center">{{data-1.00431-00700}}</td>
<td class="right">4.31</td>
</tr>


<tr><td class="right">4.32</td>
<td class="data center">{{data-1.00432-00100}}</td>
<td class="data">{{data-1.00432-00200}}</td>
<td class="data">{{data-1.00432-00300}}</td>
<td class="data right">{{NumberFormat data-1.00432-00400}}</td>
<td class="data right">{{NumberFormat data-1.00432-00500}}</td>
<td class="data right">{{NumberFormat data-1.00432-00600}}</td>
<td class="data center">{{data-1.00432-00700}}</td>
<td class="right">4.32</td>
</tr>


<tr><td class="right">4.33</td>
<td class="data center">{{data-1.00433-00100}}</td>
<td class="data">{{data-1.00433-00200}}</td>
<td class="data">{{data-1.00433-00300}}</td>
<td class="data right">{{NumberFormat data-1.00433-00400}}</td>
<td class="data right">{{NumberFormat data-1.00433-00500}}</td>
<td class="data right">{{NumberFormat data-1.00433-00600}}</td>
<td class="data center">{{data-1.00433-00700}}</td>
<td class="right">4.33</td>
</tr>


<tr><td class="right">4.34</td>
<td class="data center">{{data-1.00434-00100}}</td>
<td class="data">{{data-1.00434-00200}}</td>
<td class="data">{{data-1.00434-00300}}</td>
<td class="data right">{{NumberFormat data-1.00434-00400}}</td>
<td class="data right">{{NumberFormat data-1.00434-00500}}</td>
<td class="data right">{{NumberFormat data-1.00434-00600}}</td>
<td class="data center">{{data-1.00434-00700}}</td>
<td class="right">4.34</td>
</tr>


<tr><td class="right">4.35</td>
<td class="data center">{{data-1.00435-00100}}</td>
<td class="data">{{data-1.00435-00200}}</td>
<td class="data">{{data-1.00435-00300}}</td>
<td class="data right">{{NumberFormat data-1.00435-00400}}</td>
<td class="data right">{{NumberFormat data-1.00435-00500}}</td>
<td class="data right">{{NumberFormat data-1.00435-00600}}</td>
<td class="data center">{{data-1.00435-00700}}</td>
<td class="right">4.35</td>
</tr>


<tr><td class="right">4.36</td>
<td class="data center">{{data-1.00436-00100}}</td>
<td class="data">{{data-1.00436-00200}}</td>
<td class="data">{{data-1.00436-00300}}</td>
<td class="data right">{{NumberFormat data-1.00436-00400}}</td>
<td class="data right">{{NumberFormat data-1.00436-00500}}</td>
<td class="data right">{{NumberFormat data-1.00436-00600}}</td>
<td class="data center">{{data-1.00436-00700}}</td>
<td class="right">4.36</td>
</tr>


<tr><td class="right">5</td>
<td colspan="3"> TOTALS (sum of lines 1-4) Transfer column 6, line 5 to Worksheet  A-8, column 2, line 12.  </td>
<td class="data right">{{NumberFormat data-1.00500-00100}}</td>
<td class="data right">{{NumberFormat data-1.00500-00200}}</td>
<td class="data right">{{NumberFormat data-1.00500-00300}}</td>
<td>&nbsp;</td>
<td class="right">5</td>
</tr>
<tr><td colspan="9"> *  The amounts on lines 1 through 4 (and subscripts as appropriate) are transferred in detail to Worksheet A, column 6, lines as appropriate.   Positive amounts increase cost and negative amounts decrease cost.  For related organization or home office cost which have not    been posted to Worksheet A, columns 1 and/or 2, the amount allowable should be indicated in column 4 of this part. </td>
</tr>
<tr><td colspan="9">FORM CMS-2552-10 (10/2012)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-II, §4017)</td>
</tr>
<tr><td colspan="3">40-530 - 11-17</td>
<td colspan="4">&nbsp;</td>
<td colspan="2"> Rev. 12</td>
</tr>
</tbody></table>
</div>
