
<div class="report"><table id="report_table" border="1" width="100%" cellpadding="1" cellspacing="1">
<colgroup><col width="3%">
<col width="5%">
<col width="30%">
<col width="9%">
<col width="9%">
<col width="9%">
<col width="9%">
<col width="9%">
<col width="9%">
<col width="9%">

<col width="3%">
</colgroup><tbody>
<tr><td colspan="5">PROVIDER-BASED PHYSICIANS ADJUSTMENTS</td>
<td colspan="2">Provider CCN: <span class="data">{{pId}}</span></td>
<td colspan="2"><div>PERIOD:</div><div>FROM <span class="data">{{year.start}}</span></div><div>TO <span class="data">{{year.end}}</span></div></td>
<td colspan="2"> WORKSHEET A-8-2</td>
</tr>
<tr><td>&nbsp;</td>
<td> Wkst. A Line # </td>
<td>Cost Center/ Physician Identifier </td>
<td> Total Remuneration </td>
<td> Professional Component </td>
<td> Provider Component </td>
<td> RCE Amount </td>
<td>Physician/ Provider Component Hours </td>
<td> Unadjusted RCE Limit </td>
<td>5 Percent of Unadjusted RCE Limit </td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td class="center">1</td>
<td class="center">2</td>
<td class="center">3</td>
<td class="center">4</td>
<td class="center">5</td>
<td class="center">6</td>
<td class="center">7</td>
<td class="center">8</td>
<td class="center">9</td>
<td>&nbsp;</td>
</tr>
<tr><td class="right">1</td>
<td class="data center">{{data-1.00100-00100}}</td>
<td class="data left">{{data-1.00100-00200}}</td>
<td class="data right">{{data-1.00100-00300}}</td>
<td class="data right">{{data-1.00100-00400}}</td>
<td class="data right">{{data-1.00100-00500}}</td>
<td class="data right">{{NumberFormat data-1.00100-00600}}</td>
<td class="data right">{{data-1.00100-00700}}</td>
<td class="data right">{{data-1.00100-00800}}</td>
<td class="data right">{{data-1.00100-00900}}</td>
<td class="left">1</td>
</tr>
<tr><td class="right">2</td>
<td class="data center">{{data-1.00200-00100}}</td>
<td class="data left">{{data-1.00200-00200}}</td>
<td class="data right">{{data-1.00200-00300}}</td>
<td class="data right">{{data-1.00200-00400}}</td>
<td class="data right">{{data-1.00200-00500}}</td>
<td class="data right">{{NumberFormat data-1.00200-00600}}</td>
<td class="data right">{{data-1.00200-00700}}</td>
<td class="data right">{{data-1.00200-00800}}</td>
<td class="data right">{{data-1.00200-00900}}</td>
<td class="left">2</td>
</tr>
<tr><td class="right">3</td>
<td class="data center">{{data-1.00300-00100}}</td>
<td class="data left">{{data-1.00300-00200}}</td>
<td class="data right">{{data-1.00300-00300}}</td>
<td class="data right">{{data-1.00300-00400}}</td>
<td class="data right">{{data-1.00300-00500}}</td>
<td class="data right">{{NumberFormat data-1.00300-00600}}</td>
<td class="data right">{{data-1.00300-00700}}</td>
<td class="data right">{{data-1.00300-00800}}</td>
<td class="data right">{{data-1.00300-00900}}</td>
<td class="left">3</td>
</tr>
<tr><td class="right">4</td>
<td class="data center">{{data-1.00400-00100}}</td>
<td class="data left">{{data-1.00400-00200}}</td>
<td class="data right">{{data-1.00400-00300}}</td>
<td class="data right">{{data-1.00400-00400}}</td>
<td class="data right">{{data-1.00400-00500}}</td>
<td class="data right">{{NumberFormat data-1.00400-00600}}</td>
<td class="data right">{{data-1.00400-00700}}</td>
<td class="data right">{{data-1.00400-00800}}</td>
<td class="data right">{{data-1.00400-00900}}</td>
<td class="left">4</td>
</tr>
<tr><td class="right">5</td>
<td class="data center">{{data-1.00500-00100}}</td>
<td class="data left">{{data-1.00500-00200}}</td>
<td class="data right">{{data-1.00500-00300}}</td>
<td class="data right">{{data-1.00500-00400}}</td>
<td class="data right">{{data-1.00500-00500}}</td>
<td class="data right">{{NumberFormat data-1.00500-00600}}</td>
<td class="data right">{{data-1.00500-00700}}</td>
<td class="data right">{{data-1.00500-00800}}</td>
<td class="data right">{{data-1.00500-00900}}</td>
<td class="left">5</td>
</tr>
<tr><td class="right">6</td>
<td class="data center">{{data-1.00600-00100}}</td>
<td class="data left">{{data-1.00600-00200}}</td>
<td class="data right">{{data-1.00600-00300}}</td>
<td class="data right">{{data-1.00600-00400}}</td>
<td class="data right">{{data-1.00600-00500}}</td>
<td class="data right">{{NumberFormat data-1.00600-00600}}</td>
<td class="data right">{{data-1.00600-00700}}</td>
<td class="data right">{{data-1.00600-00800}}</td>
<td class="data right">{{data-1.00600-00900}}</td>
<td class="left">6</td>
</tr>
<tr><td class="right">7</td>
<td class="data center">{{data-1.00700-00100}}</td>
<td class="data left">{{data-1.00700-00200}}</td>
<td class="data right">{{data-1.00700-00300}}</td>
<td class="data right">{{data-1.00700-00400}}</td>
<td class="data right">{{data-1.00700-00500}}</td>
<td class="data right">{{NumberFormat data-1.00700-00600}}</td>
<td class="data right">{{data-1.00700-00700}}</td>
<td class="data right">{{data-1.00700-00800}}</td>
<td class="data right">{{data-1.00700-00900}}</td>
<td class="left">7</td>
</tr>
<tr><td class="right">8</td>
<td class="data center">{{data-1.00800-00100}}</td>
<td class="data left">{{data-1.00800-00200}}</td>
<td class="data right">{{data-1.00800-00300}}</td>
<td class="data right">{{data-1.00800-00400}}</td>
<td class="data right">{{data-1.00800-00500}}</td>
<td class="data right">{{NumberFormat data-1.00800-00600}}</td>
<td class="data right">{{data-1.00800-00700}}</td>
<td class="data right">{{data-1.00800-00800}}</td>
<td class="data right">{{data-1.00800-00900}}</td>
<td class="left">8</td>
</tr>
<tr><td class="right">9</td>
<td class="data center">{{data-1.00900-00100}}</td>
<td class="data left">{{data-1.00900-00200}}</td>
<td class="data right">{{data-1.00900-00300}}</td>
<td class="data right">{{data-1.00900-00400}}</td>
<td class="data right">{{data-1.00900-00500}}</td>
<td class="data right">{{NumberFormat data-1.00900-00600}}</td>
<td class="data right">{{data-1.00900-00700}}</td>
<td class="data right">{{data-1.00900-00800}}</td>
<td class="data right">{{data-1.00900-00900}}</td>
<td class="left">9</td>
</tr>
<tr><td class="right">10</td>
<td class="data center">{{data-1.01000-00100}}</td>
<td class="data left">{{data-1.01000-00200}}</td>
<td class="data right">{{data-1.01000-00300}}</td>
<td class="data right">{{data-1.01000-00400}}</td>
<td class="data right">{{data-1.01000-00500}}</td>
<td class="data right">{{NumberFormat data-1.01000-00600}}</td>
<td class="data right">{{data-1.01000-00700}}</td>
<td class="data right">{{data-1.01000-00800}}</td>
<td class="data right">{{data-1.01000-00900}}</td>
<td class="left">10</td>
</tr>
<tr><td class="right">11</td>
<td class="data center">{{data-1.01100-00100}}</td>
<td class="data left">{{data-1.01100-00200}}</td>
<td class="data right">{{data-1.01100-00300}}</td>
<td class="data right">{{data-1.01100-00400}}</td>
<td class="data right">{{data-1.01100-00500}}</td>
<td class="data right">{{NumberFormat data-1.01100-00600}}</td>
<td class="data right">{{data-1.01100-00700}}</td>
<td class="data right">{{data-1.01100-00800}}</td>
<td class="data right">{{data-1.01100-00900}}</td>
<td class="left">11</td>
</tr>





<tr><td class="right">200</td>
<td>TOTAL</td>
<td class="data fillgrey">&nbsp;{{data-1.20000-00200}}</td>
<td class="data right">{{data-1.20000-00300}}</td>
<td class="data right">{{data-1.20000-00400}}</td>
<td class="data right">{{data-1.20000-00500}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.20000-00600}}</td>
<td class="data right">{{data-1.20000-00700}}</td>
<td class="data right">{{data-1.20000-00800}}</td>
<td class="data right">{{data-1.20000-00900}}</td>
<td class="left">200</td>
</tr>
<tr><td class="right">&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td class="left">&nbsp;</td>
</tr>
<tr><td class="right">&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td class="left">&nbsp;</td>
</tr>
<tr><td class="right">&nbsp;</td>
<td>  Wkst. A Line # </td>
<td> Cost Center/ Physician Identifier </td>
<td>Cost of Memberships &amp; Continuing Education </td>
<td>Provider Component Share of col. 12 </td>
<td>Physician Cost of Malpractice Insurance </td>
<td>Provider Component Share of col. 14 </td>
<td>  Adjusted RCE Limit </td>
<td>  RCE Disallowance </td>
<td>   Adjustment </td>
<td class="left">&nbsp;</td>
</tr>
<tr><td class="right">&nbsp;</td>
<td class="center">10</td>
<td class="center">11</td>
<td class="center">12</td>
<td class="center">13</td>
<td class="center">14</td>
<td class="center">15</td>
<td class="center">16</td>
<td class="center">17</td>
<td class="center">18</td>
<td class="left">&nbsp;</td>
</tr>
<tr><td class="right">1</td>
<td class="data center">{{data-1.00100-01000}}</td>
<td class="data left">{{data-1.00100-01100}}</td>
<td class="data right">{{NumberFormat data-1.00100-01200}}</td>
<td class="data right">{{data-1.00100-01300}}</td>
<td class="data right">{{NumberFormat data-1.00100-01400}}</td>
<td class="data right">{{data-1.00100-01500}}</td>
<td class="data right">{{data-1.00100-01600}}</td>
<td class="data right">{{data-1.00100-01700}}</td>
<td class="data right">{{data-1.00100-01800}}</td>
<td class="left">1</td>
</tr>
<tr><td class="right">2</td>
<td class="data center">{{data-1.00200-01000}}</td>
<td class="data left">{{data-1.00200-01100}}</td>
<td class="data right">{{NumberFormat data-1.00200-01200}}</td>
<td class="data right">{{data-1.00200-01300}}</td>
<td class="data right">{{NumberFormat data-1.00200-01400}}</td>
<td class="data right">{{data-1.00200-01500}}</td>
<td class="data right">{{data-1.00200-01600}}</td>
<td class="data right">{{data-1.00200-01700}}</td>
<td class="data right">{{data-1.00200-01800}}</td>
<td class="left">2</td>
</tr>
<tr><td class="right">3</td>
<td class="data center">{{data-1.00300-01000}}</td>
<td class="data left">{{data-1.00300-01100}}</td>
<td class="data right">{{NumberFormat data-1.00300-01200}}</td>
<td class="data right">{{data-1.00300-01300}}</td>
<td class="data right">{{NumberFormat data-1.00300-01400}}</td>
<td class="data right">{{data-1.00300-01500}}</td>
<td class="data right">{{data-1.00300-01600}}</td>
<td class="data right">{{data-1.00300-01700}}</td>
<td class="data right">{{data-1.00300-01800}}</td>
<td class="left">3</td>
</tr>
<tr><td class="right">4</td>
<td class="data center">{{data-1.00400-01000}}</td>
<td class="data left">{{data-1.00400-01100}}</td>
<td class="data right">{{NumberFormat data-1.00400-01200}}</td>
<td class="data right">{{data-1.00400-01300}}</td>
<td class="data right">{{NumberFormat data-1.00400-01400}}</td>
<td class="data right">{{data-1.00400-01500}}</td>
<td class="data right">{{data-1.00400-01600}}</td>
<td class="data right">{{data-1.00400-01700}}</td>
<td class="data right">{{data-1.00400-01800}}</td>
<td class="left">4</td>
</tr>
<tr><td class="right">5</td>
<td class="data center">{{data-1.00500-01000}}</td>
<td class="data left">{{data-1.00500-01100}}</td>
<td class="data right">{{NumberFormat data-1.00500-01200}}</td>
<td class="data right">{{data-1.00500-01300}}</td>
<td class="data right">{{NumberFormat data-1.00500-01400}}</td>
<td class="data right">{{data-1.00500-01500}}</td>
<td class="data right">{{data-1.00500-01600}}</td>
<td class="data right">{{data-1.00500-01700}}</td>
<td class="data right">{{data-1.00500-01800}}</td>
<td class="left">5</td>
</tr>
<tr><td class="right">6</td>
<td class="data center">{{data-1.00600-01000}}</td>
<td class="data left">{{data-1.00600-01100}}</td>
<td class="data right">{{NumberFormat data-1.00600-01200}}</td>
<td class="data right">{{data-1.00600-01300}}</td>
<td class="data right">{{NumberFormat data-1.00600-01400}}</td>
<td class="data right">{{data-1.00600-01500}}</td>
<td class="data right">{{data-1.00600-01600}}</td>
<td class="data right">{{data-1.00600-01700}}</td>
<td class="data right">{{data-1.00600-01800}}</td>
<td class="left">6</td>
</tr>
<tr><td class="right">7</td>
<td class="data center">{{data-1.00700-01000}}</td>
<td class="data left">{{data-1.00700-01100}}</td>
<td class="data right">{{NumberFormat data-1.00700-01200}}</td>
<td class="data right">{{data-1.00700-01300}}</td>
<td class="data right">{{NumberFormat data-1.00700-01400}}</td>
<td class="data right">{{data-1.00700-01500}}</td>
<td class="data right">{{data-1.00700-01600}}</td>
<td class="data right">{{data-1.00700-01700}}</td>
<td class="data right">{{data-1.00700-01800}}</td>
<td class="left">7</td>
</tr>
<tr><td class="right">8</td>
<td class="data center">{{data-1.00800-01000}}</td>
<td class="data left">{{data-1.00800-01100}}</td>
<td class="data right">{{NumberFormat data-1.00800-01200}}</td>
<td class="data right">{{data-1.00800-01300}}</td>
<td class="data right">{{NumberFormat data-1.00800-01400}}</td>
<td class="data right">{{data-1.00800-01500}}</td>
<td class="data right">{{data-1.00800-01600}}</td>
<td class="data right">{{data-1.00800-01700}}</td>
<td class="data right">{{data-1.00800-01800}}</td>
<td class="left">8</td>
</tr>
<tr><td class="right">9</td>
<td class="data center">{{data-1.00900-01000}}</td>
<td class="data left">{{data-1.00900-01100}}</td>
<td class="data right">{{NumberFormat data-1.00900-01200}}</td>
<td class="data right">{{data-1.00900-01300}}</td>
<td class="data right">{{NumberFormat data-1.00900-01400}}</td>
<td class="data right">{{data-1.00900-01500}}</td>
<td class="data right">{{data-1.00900-01600}}</td>
<td class="data right">{{data-1.00900-01700}}</td>
<td class="data right">{{data-1.00900-01800}}</td>
<td class="left">9</td>
</tr>
<tr><td class="right">10</td>
<td class="data center">{{data-1.01000-01000}}</td>
<td class="data left">{{data-1.01000-01100}}</td>
<td class="data right">{{NumberFormat data-1.01000-01200}}</td>
<td class="data right">{{data-1.01000-01300}}</td>
<td class="data right">{{NumberFormat data-1.01000-01400}}</td>
<td class="data right">{{data-1.01000-01500}}</td>
<td class="data right">{{data-1.01000-01600}}</td>
<td class="data right">{{data-1.01000-01700}}</td>
<td class="data right">{{data-1.01000-01800}}</td>
<td class="left">10</td>
</tr>
<tr><td class="right">11</td>
<td class="data center">{{data-1.01100-01000}}</td>
<td class="data left">{{data-1.01100-01100}}</td>
<td class="data right">{{NumberFormat data-1.01100-01200}}</td>
<td class="data right">{{data-1.01100-01300}}</td>
<td class="data right">{{NumberFormat data-1.01100-01400}}</td>
<td class="data right">{{data-1.01100-01500}}</td>
<td class="data right">{{data-1.01100-01600}}</td>
<td class="data right">{{data-1.01100-01700}}</td>
<td class="data right">{{data-1.01100-01800}}</td>
<td class="left">11</td>
</tr>


<tr><td class="right">200</td>
<td>TOTAL</td>
<td class="data fillgrey">&nbsp;{{data-1.20000-01100}}</td>
<td class="data right">{{NumberFormat data-1.20000-01200}}</td>
<td class="data right">{{data-1.20000-01300}}</td>
<td class="data right">{{NumberFormat data-1.20000-01400}}</td>
<td class="data right">{{data-1.20000-01500}}</td>
<td class="data right">{{data-1.20000-01600}}</td>
<td class="data right">{{data-1.20000-01700}}</td>
<td class="data right">{{data-1.20000-01800}}</td>
<td class="left">200</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr><td colspan="11">FORM CMS-2552-9 (10/2012)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-II, SECTION 4018)</td>
</tr>
<tr><td colspan="2">Rev. 3</td>
<td colspan="7">&nbsp;</td>
<td colspan="2"> 40-531     10-12</td>
</tr>
</tbody></table>
</div>
