
<div class="report"><table id="report_table" border="1" width="100%" cellpadding="1" cellspacing="1">
<colgroup><col width="3%">
<col width="42%">
<col width="18%">
<col width="8%">
<col width="8%">
<col width="18%">

<col width="3%"></colgroup><thead><tr><td colspan="2">POST STEPDOWN ADJUSTMENTS</td>
<td>Provider CCN: <span class="data">{{pId}}</span></td>
<td colspan="2"><div>PERIOD:</div><div>FROM <span class="data">{{year.start}}</span></div><div>TO <span class="data">{{year.end}}</span></div></td>
<td colspan="2"> WORKSHEET B-2</td>
</tr>
</thead><tbody><tr><td class="component" colspan="7"> Sheet 1</td>
</tr>


<tr><td rowspan="3">&nbsp;</td>
<td class="center" rowspan="2" colspan="2">DESCRIPTION  </td>
<td class="center" colspan="2">WORKSHEET   </td>
<td class="center" rowspan="2"> AMOUNT </td>
<td rowspan="3">&nbsp;</td>
</tr>
<tr>
<td class="center">CODE </td>
<td class="center"> LINE NO. </td>
</tr>

<tr><td class="center" colspan="2">1</td>
<td class="center">2</td>
<td class="center">3</td>
<td class="center">4</td>
</tr>

<tr><td class="right">1</td>
<td colspan="2"> Adjustment for EPO costs in Renal Dialysis cost center</td>
<td class="center">1</td>
<td class="center">74</td>
<td class="data right">{{NumberFormat data-1.00100-00400}}</td>
<td class="right">1</td>
</tr>
<tr><td class="right">2</td>
<td colspan="2"> Adjustment for EPO costs in Home Program Dialysis cost center</td>
<td class="center">1</td>
<td class="center">94</td>
<td class="data right">{{NumberFormat data-1.00200-00400}}</td>
<td class="right">2</td>
</tr>
<tr><td class="right">3</td>
<td colspan="2"> Adjustment for ARANESP costs in Renal Dialysis cost center</td>
<td class="center">1</td>
<td class="center">74</td>
<td class="data right">{{NumberFormat data-1.00300-00400}}</td>
<td class="right">3</td>
</tr>
<tr><td class="right">4</td>
<td colspan="2"> Adjustment for ARANESP costs in Home Program Dialysis cost center</td>
<td class="center">1</td>
<td class="center">94</td>
<td class="data right">{{NumberFormat data-1.00400-00400}}</td>
<td class="right">4</td>
</tr>
<tr><td class="right">5</td>
<td colspan="2">Adjustment for ESA costs in Renal Dialysis cost center (see instructions)</td>
<td class="center">1</td>
<td class="center">74</td>
<td class="data right">{{NumberFormat data-1.00500-00400}}</td>
<td class="right">5</td>
</tr>
<tr><td class="right">6</td>
<td colspan="2">Adjustment for ESA costs in Home Program Dialysis cost center (see instructions)</td>
<td class="center">1</td>
<td class="center">94</td>
<td class="data right">{{NumberFormat data-1.00600-00400}}</td>
<td class="right">6</td>
</tr>
<tr><td class="right">7</td>
<td class="data" colspan="2">{{data-1.00700-00100}}</td>
<td class="data center">{{NumberFormat data-1.00700-00200}}</td>
<td class="data center">{{NumberFormat data-1.00700-00300}}</td>
<td class="data right">{{NumberFormat data-1.00700-00400}}</td>
<td class="right">7</td>
</tr>
<tr><td class="right">8</td>
<td class="data" colspan="2">{{data-1.00800-00100}}</td>
<td class="data center">{{NumberFormat data-1.00800-00200}}</td>
<td class="data center">{{NumberFormat data-1.00800-00300}}</td>
<td class="data right">{{NumberFormat data-1.00800-00400}}</td>
<td class="right">8</td>
</tr>
<tr><td class="right">9</td>
<td class="data" colspan="2">{{data-1.00900-00100}}</td>
<td class="data center">{{NumberFormat data-1.00900-00200}}</td>
<td class="data center">{{NumberFormat data-1.00900-00300}}</td>
<td class="data right">{{NumberFormat data-1.00900-00400}}</td>
<td class="right">9</td>
</tr>
<tr><td class="right">10</td>
<td class="data" colspan="2">{{data-1.01000-00100}}</td>
<td class="data center">{{NumberFormat data-1.01000-00200}}</td>
<td class="data center">{{NumberFormat data-1.01000-00300}}</td>
<td class="data right">{{NumberFormat data-1.01000-00400}}</td>
<td class="right">10</td>
</tr>
<tr><td class="right">11</td>
<td class="data" colspan="2">{{data-1.01100-00100}}</td>
<td class="data center">{{NumberFormat data-1.01100-00200}}</td>
<td class="data center">{{NumberFormat data-1.01100-00300}}</td>
<td class="data right">{{NumberFormat data-1.01100-00400}}</td>
<td class="right">11</td>
</tr>
<tr><td class="right">12</td>
<td class="data" colspan="2">{{data-1.01200-00100}}</td>
<td class="data center">{{NumberFormat data-1.01200-00200}}</td>
<td class="data center">{{NumberFormat data-1.01200-00300}}</td>
<td class="data right">{{NumberFormat data-1.01200-00400}}</td>
<td class="right">12</td>
</tr>
<tr><td class="right">13</td>
<td class="data" colspan="2">{{data-1.01300-00100}}</td>
<td class="data center">{{NumberFormat data-1.01300-00200}}</td>
<td class="data center">{{NumberFormat data-1.01300-00300}}</td>
<td class="data right">{{NumberFormat data-1.01300-00400}}</td>
<td class="right">13</td>
</tr>
<tr><td class="right">14</td>
<td class="data" colspan="2">{{data-1.01400-00100}}</td>
<td class="data center">{{NumberFormat data-1.01400-00200}}</td>
<td class="data center">{{NumberFormat data-1.01400-00300}}</td>
<td class="data right">{{NumberFormat data-1.01400-00400}}</td>
<td class="right">14</td>
</tr>
<tr><td class="right">15</td>
<td class="data" colspan="2">{{data-1.01500-00100}}</td>
<td class="data center">{{NumberFormat data-1.01500-00200}}</td>
<td class="data center">{{NumberFormat data-1.01500-00300}}</td>
<td class="data right">{{NumberFormat data-1.01500-00400}}</td>
<td class="right">15</td>
</tr>
<tr><td class="right">16</td>
<td class="data" colspan="2">{{data-1.01600-00100}}</td>
<td class="data center">{{NumberFormat data-1.01600-00200}}</td>
<td class="data center">{{NumberFormat data-1.01600-00300}}</td>
<td class="data right">{{NumberFormat data-1.01600-00400}}</td>
<td class="right">16</td>
</tr>
<tr><td class="right">17</td>
<td class="data" colspan="2">{{data-1.01700-00100}}</td>
<td class="data center">{{NumberFormat data-1.01700-00200}}</td>
<td class="data center">{{NumberFormat data-1.01700-00300}}</td>
<td class="data right">{{NumberFormat data-1.01700-00400}}</td>
<td class="right">17</td>
</tr>
<tr><td class="right">18</td>
<td class="data" colspan="2">{{data-1.01800-00100}}</td>
<td class="data center">{{NumberFormat data-1.01800-00200}}</td>
<td class="data center">{{NumberFormat data-1.01800-00300}}</td>
<td class="data right">{{NumberFormat data-1.01800-00400}}</td>
<td class="right">18</td>
</tr>
<tr><td class="right">19</td>
<td class="data" colspan="2">{{data-1.01900-00100}}</td>
<td class="data center">{{NumberFormat data-1.01900-00200}}</td>
<td class="data center">{{NumberFormat data-1.01900-00300}}</td>
<td class="data right">{{NumberFormat data-1.01900-00400}}</td>
<td class="right">19</td>
</tr>
<tr><td class="right">20</td>
<td class="data" colspan="2">{{data-1.02000-00100}}</td>
<td class="data center">{{NumberFormat data-1.02000-00200}}</td>
<td class="data center">{{NumberFormat data-1.02000-00300}}</td>
<td class="data right">{{NumberFormat data-1.02000-00400}}</td>
<td class="right">20</td>
</tr>
<tr><td class="right">21</td>
<td class="data" colspan="2">{{data-1.02100-00100}}</td>
<td class="data center">{{NumberFormat data-1.02100-00200}}</td>
<td class="data center">{{NumberFormat data-1.02100-00300}}</td>
<td class="data right">{{NumberFormat data-1.02100-00400}}</td>
<td class="right">21</td>
</tr>
<tr><td class="right">22</td>
<td class="data" colspan="2">{{data-1.02200-00100}}</td>
<td class="data center">{{NumberFormat data-1.02200-00200}}</td>
<td class="data center">{{NumberFormat data-1.02200-00300}}</td>
<td class="data right">{{NumberFormat data-1.02200-00400}}</td>
<td class="right">22</td>
</tr>
<tr><td class="right">23</td>
<td class="data" colspan="2">{{data-1.02300-00100}}</td>
<td class="data center">{{NumberFormat data-1.02300-00200}}</td>
<td class="data center">{{NumberFormat data-1.02300-00300}}</td>
<td class="data right">{{NumberFormat data-1.02300-00400}}</td>
<td class="right">23</td>
</tr>
<tr><td class="right">24</td>
<td class="data" colspan="2">{{data-1.02400-00100}}</td>
<td class="data center">{{NumberFormat data-1.02400-00200}}</td>
<td class="data center">{{NumberFormat data-1.02400-00300}}</td>
<td class="data right">{{NumberFormat data-1.02400-00400}}</td>
<td class="right">24</td>
</tr>
<tr><td class="right">25</td>
<td class="data" colspan="2">{{data-1.02500-00100}}</td>
<td class="data center">{{NumberFormat data-1.02500-00200}}</td>
<td class="data center">{{NumberFormat data-1.02500-00300}}</td>
<td class="data right">{{NumberFormat data-1.02500-00400}}</td>
<td class="right">25</td>
</tr>
<tr><td class="right">26</td>
<td class="data" colspan="2">{{data-1.02600-00100}}</td>
<td class="data center">{{NumberFormat data-1.02600-00200}}</td>
<td class="data center">{{NumberFormat data-1.02600-00300}}</td>
<td class="data right">{{NumberFormat data-1.02600-00400}}</td>
<td class="right">26</td>
</tr>
<tr><td class="right">27</td>
<td class="data" colspan="2">{{data-1.02700-00100}}</td>
<td class="data center">{{NumberFormat data-1.02700-00200}}</td>
<td class="data center">{{NumberFormat data-1.02700-00300}}</td>
<td class="data right">{{NumberFormat data-1.02700-00400}}</td>
<td class="right">27</td>
</tr>
<tr><td class="right">28</td>
<td class="data" colspan="2">{{data-1.02800-00100}}</td>
<td class="data center">{{NumberFormat data-1.02800-00200}}</td>
<td class="data center">{{NumberFormat data-1.02800-00300}}</td>
<td class="data right">{{NumberFormat data-1.02800-00400}}</td>
<td class="right">28</td>
</tr>
<tr><td class="right">29</td>
<td class="data" colspan="2">{{data-1.02900-00100}}</td>
<td class="data center">{{NumberFormat data-1.02900-00200}}</td>
<td class="data center">{{NumberFormat data-1.02900-00300}}</td>
<td class="data right">{{NumberFormat data-1.02900-00400}}</td>
<td class="right">29</td>
</tr>
<tr><td class="right">30</td>
<td class="data" colspan="2">{{data-1.03000-00100}}</td>
<td class="data center">{{NumberFormat data-1.03000-00200}}</td>
<td class="data center">{{NumberFormat data-1.03000-00300}}</td>
<td class="data right">{{NumberFormat data-1.03000-00400}}</td>
<td class="right">30</td>
</tr>
<tr><td class="right">31</td>
<td class="data" colspan="2">{{data-1.03100-00100}}</td>
<td class="data center">{{NumberFormat data-1.03100-00200}}</td>
<td class="data center">{{NumberFormat data-1.03100-00300}}</td>
<td class="data right">{{NumberFormat data-1.03100-00400}}</td>
<td class="right">31</td>
</tr>
<tr><td class="right">32</td>
<td class="data" colspan="2">{{data-1.03200-00100}}</td>
<td class="data center">{{NumberFormat data-1.03200-00200}}</td>
<td class="data center">{{NumberFormat data-1.03200-00300}}</td>
<td class="data right">{{NumberFormat data-1.03200-00400}}</td>
<td class="right">32</td>
</tr>
<tr><td class="right">33</td>
<td class="data" colspan="2">{{data-1.03300-00100}}</td>
<td class="data center">{{NumberFormat data-1.03300-00200}}</td>
<td class="data center">{{NumberFormat data-1.03300-00300}}</td>
<td class="data right">{{NumberFormat data-1.03300-00400}}</td>
<td class="right">33</td>
</tr>
<tr><td class="right">34</td>
<td class="data" colspan="2">{{data-1.03400-00100}}</td>
<td class="data center">{{NumberFormat data-1.03400-00200}}</td>
<td class="data center">{{NumberFormat data-1.03400-00300}}</td>
<td class="data right">{{NumberFormat data-1.03400-00400}}</td>
<td class="right">34</td>
</tr>
<tr><td class="right">35</td>
<td class="data" colspan="2">{{data-1.03500-00100}}</td>
<td class="data center">{{NumberFormat data-1.03500-00200}}</td>
<td class="data center">{{NumberFormat data-1.03500-00300}}</td>
<td class="data right">{{NumberFormat data-1.03500-00400}}</td>
<td class="right">35</td>
</tr>
<tr><td class="right">36</td>
<td class="data" colspan="2">{{data-1.03600-00100}}</td>
<td class="data center">{{NumberFormat data-1.03600-00200}}</td>
<td class="data center">{{NumberFormat data-1.03600-00300}}</td>
<td class="data right">{{NumberFormat data-1.03600-00400}}</td>
<td class="right">36</td>
</tr>
<tr><td class="right">37</td>
<td class="data" colspan="2">{{data-1.03700-00100}}</td>
<td class="data center">{{NumberFormat data-1.03700-00200}}</td>
<td class="data center">{{NumberFormat data-1.03700-00300}}</td>
<td class="data right">{{NumberFormat data-1.03700-00400}}</td>
<td class="right">37</td>
</tr>
<tr><td class="right">38</td>
<td class="data" colspan="2">{{data-1.03800-00100}}</td>
<td class="data center">{{NumberFormat data-1.03800-00200}}</td>
<td class="data center">{{NumberFormat data-1.03800-00300}}</td>
<td class="data right">{{NumberFormat data-1.03800-00400}}</td>
<td class="right">38</td>
</tr>
<tr><td class="right">39</td>
<td class="data" colspan="2">{{data-1.03900-00100}}</td>
<td class="data center">{{NumberFormat data-1.03900-00200}}</td>
<td class="data center">{{NumberFormat data-1.03900-00300}}</td>
<td class="data right">{{NumberFormat data-1.03900-00400}}</td>
<td class="right">39</td>
</tr>
<tr><td class="right">40</td>
<td class="data" colspan="2">{{data-1.04000-00100}}</td>
<td class="data center">{{NumberFormat data-1.04000-00200}}</td>
<td class="data center">{{NumberFormat data-1.04000-00300}}</td>
<td class="data right">{{NumberFormat data-1.04000-00400}}</td>
<td class="right">40</td>
</tr>
<tr><td class="right">41</td>
<td class="data" colspan="2">{{data-1.04100-00100}}</td>
<td class="data center">{{NumberFormat data-1.04100-00200}}</td>
<td class="data center">{{NumberFormat data-1.04100-00300}}</td>
<td class="data right">{{NumberFormat data-1.04100-00400}}</td>
<td class="right">41</td>
</tr>
<tr><td class="right">42</td>
<td class="data" colspan="2">{{data-1.04200-00100}}</td>
<td class="data center">{{NumberFormat data-1.04200-00200}}</td>
<td class="data center">{{NumberFormat data-1.04200-00300}}</td>
<td class="data right">{{NumberFormat data-1.04200-00400}}</td>
<td class="right">42</td>
</tr>
<tr><td class="right">43</td>
<td class="data" colspan="2">{{data-1.04300-00100}}</td>
<td class="data center">{{NumberFormat data-1.04300-00200}}</td>
<td class="data center">{{NumberFormat data-1.04300-00300}}</td>
<td class="data right">{{NumberFormat data-1.04300-00400}}</td>
<td class="right">43</td>
</tr>
<tr><td class="right">44</td>
<td class="data" colspan="2">{{data-1.04400-00100}}</td>
<td class="data center">{{NumberFormat data-1.04400-00200}}</td>
<td class="data center">{{NumberFormat data-1.04400-00300}}</td>
<td class="data right">{{NumberFormat data-1.04400-00400}}</td>
<td class="right">44</td>
</tr>
<tr><td class="right">45</td>
<td class="data" colspan="2">{{data-1.04500-00100}}</td>
<td class="data center">{{NumberFormat data-1.04500-00200}}</td>
<td class="data center">{{NumberFormat data-1.04500-00300}}</td>
<td class="data right">{{NumberFormat data-1.04500-00400}}</td>
<td class="right">45</td>
</tr>
<tr><td class="right">46</td>
<td class="data" colspan="2">{{data-1.04600-00100}}</td>
<td class="data center">{{NumberFormat data-1.04600-00200}}</td>
<td class="data center">{{NumberFormat data-1.04600-00300}}</td>
<td class="data right">{{NumberFormat data-1.04600-00400}}</td>
<td class="right">46</td>
</tr>
<tr><td class="right">47</td>
<td class="data" colspan="2">{{data-1.04700-00100}}</td>
<td class="data center">{{NumberFormat data-1.04700-00200}}</td>
<td class="data center">{{NumberFormat data-1.04700-00300}}</td>
<td class="data right">{{NumberFormat data-1.04700-00400}}</td>
<td class="right">47</td>
</tr>
<tr><td class="right">48</td>
<td class="data" colspan="2">{{data-1.04800-00100}}</td>
<td class="data center">{{NumberFormat data-1.04800-00200}}</td>
<td class="data center">{{NumberFormat data-1.04800-00300}}</td>
<td class="data right">{{NumberFormat data-1.04800-00400}}</td>
<td class="right">48</td>
</tr>
<tr><td class="right">49</td>
<td class="data" colspan="2">{{data-1.04900-00100}}</td>
<td class="data center">{{NumberFormat data-1.04900-00200}}</td>
<td class="data center">{{NumberFormat data-1.04900-00300}}</td>
<td class="data right">{{NumberFormat data-1.04900-00400}}</td>
<td class="right">49</td>
</tr>
<tr><td class="right">50</td>
<td class="data" colspan="2">{{data-1.05000-00100}}</td>
<td class="data center">{{NumberFormat data-1.05000-00200}}</td>
<td class="data center">{{NumberFormat data-1.05000-00300}}</td>
<td class="data right">{{NumberFormat data-1.05000-00400}}</td>
<td class="right">50</td>
</tr>


<tr><td colspan="7">&nbsp;</td>
</tr>
<tr><td colspan="7">FORM CMS-2552-10 (11/2017) (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-II, SECTION 4022)</td>
</tr>
<tr><td colspan="2">40-562 - 11-17 </td>
<td colspan="3">&nbsp;</td>
<td colspan="2"> Rev. 12</td>
</tr>
</tbody></table>
</div>