
<div class="report"><table id="report_table" border="1" width="100%" cellpadding="1" cellspacing="1">
<colgroup><col width="3%">
<col width="17%">
<col width="7%">
<col width="7%">
<col width="7%">
<col width="7%">
<col width="7%">
<col width="7%">
<col width="7%">
<col width="7%">
<col width="7%">
<col width="7%">
<col width="7%">

<col width="3%">
</colgroup><thead><tr><td colspan="8">COMPUTATION OF RATIO OF COSTS TO CHARGES</td>
<td colspan="2">Provider CCN: <span class="data">{{pId}}</span></td>
<td colspan="2"><div>PERIOD:</div><div>FROM <span class="data">{{year.start}}</span></div><div>TO <span class="data">{{year.end}}</span></div></td>
<td colspan="2"><div> WORKSHEET C</div><div> PART I</div></td>
</tr>
<tr><td colspan="2" rowspan="3">     COST CENTER DESCRIPTIONS   </td>
<td class="center" rowspan="2">Total Cost (from Wkst. B, Part I, col. 26) </td>
<td class="center" rowspan="2"> Therapy Limit Adj. </td>
<td class="center" colspan="3">Costs</td>
<td class="center" colspan="3">Charges</td>
<td class="center" rowspan="2">  Cost or  Other Ratio </td>
<td class="center" rowspan="2"> TEFRA Inpatient Ratio </td>
<td class="center" rowspan="2"> PPS Inpatient Ratio </td>
<td rowspan="3">&nbsp;</td>
</tr>
<tr><td class="center"> Total Costs </td>
<td class="center">RCE Dis- allowance </td>
<td class="center"> Total Costs </td>
<td class="center">  Inpatient </td>
<td class="center">  Outpatient </td>
<td class="center"><div>Total</div><div>(column 6</div><div>+ column 7)</div></td>
</tr>
<tr><td class="center">1</td>
<td class="center">2</td>
<td class="center">3</td>
<td class="center">4</td>
<td class="center">5</td>
<td class="center">6</td>
<td class="center">7</td>
<td class="center">8</td>
<td class="center">9</td>
<td class="center">10</td>
<td class="center">11</td>
</tr>
<tr><td class="component" colspan="14"><form action="/report.php" method="get"><input type="hidden" name="report" id="report" value="Qzc3OA=="><input type="hidden" name="rpt_rec_num" id="rpt_rec_num" value="MzA1NjA0"><input type="hidden" name="version" id="version" value="OTc4Nw=="><select name="component" id="component" onchange="this.form.submit()" style="width: auto;">
<option value="0000">Consolidated                  </option>
<option value="0019" selected="selected">Medicaid - Title XIX          </option>
</select>
</form> - <strong>Select other programs and provider types available</strong></td>
</tr>

</thead><tbody>
<tr><td colspan="2"> INPATIENT ROUTINE SERVICE COST CENTERS </td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr><td class="right">30</td>
<td> Adults and Pediatrics (General Routine Care)</td>
<td class="data right">{{NumberFormat data-1.03000-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03000-00200}}</td>
<td class="data right">{{NumberFormat data-1.03000-00300}}</td>
<td class="data right">{{NumberFormat data-1.03000-00400}}</td>
<td class="data right">{{NumberFormat data-1.03000-00500}}</td>
<td class="data right">{{NumberFormat data-1.03000-00600}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03000-00700}}</td>
<td class="data right">{{NumberFormat data-1.03000-00800}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03000-00900}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03000-01000}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03000-01100}}</td>
<td class="right">30</td>
</tr>
<tr><td class="right">31</td>
<td> Intensive Care Unit</td>
<td class="data right">{{NumberFormat data-1.03100-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03100-00200}}</td>
<td class="data right">{{NumberFormat data-1.03100-00300}}</td>
<td class="data right">{{NumberFormat data-1.03100-00400}}</td>
<td class="data right">{{NumberFormat data-1.03100-00500}}</td>
<td class="data right">{{NumberFormat data-1.03100-00600}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03100-00700}}</td>
<td class="data right">{{NumberFormat data-1.03100-00800}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03100-00900}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03100-01000}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03100-01100}}</td>
<td class="right">31</td>
</tr>
<tr><td class="right">32</td>
<td> Coronary Care Unit</td>
<td class="data right">{{NumberFormat data-1.03200-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03200-00200}}</td>
<td class="data right">{{NumberFormat data-1.03200-00300}}</td>
<td class="data right">{{NumberFormat data-1.03200-00400}}</td>
<td class="data right">{{NumberFormat data-1.03200-00500}}</td>
<td class="data right">{{NumberFormat data-1.03200-00600}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03200-00700}}</td>
<td class="data right">{{NumberFormat data-1.03200-00800}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03200-00900}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03200-01000}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03200-01100}}</td>
<td class="right">32</td>
</tr>
<tr><td class="right">33</td>
<td> Burn Intensive Care Unit</td>
<td class="data right">{{NumberFormat data-1.03300-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03300-00200}}</td>
<td class="data right">{{NumberFormat data-1.03300-00300}}</td>
<td class="data right">{{NumberFormat data-1.03300-00400}}</td>
<td class="data right">{{NumberFormat data-1.03300-00500}}</td>
<td class="data right">{{NumberFormat data-1.03300-00600}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03300-00700}}</td>
<td class="data right">{{NumberFormat data-1.03300-00800}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03300-00900}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03300-01000}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03300-01100}}</td>
<td class="right">33</td>
</tr>
<tr><td class="right">34</td>
<td> Surgical Intensive Care Unit</td>
<td class="data right">{{NumberFormat data-1.03400-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03400-00200}}</td>
<td class="data right">{{NumberFormat data-1.03400-00300}}</td>
<td class="data right">{{NumberFormat data-1.03400-00400}}</td>
<td class="data right">{{NumberFormat data-1.03400-00500}}</td>
<td class="data right">{{NumberFormat data-1.03400-00600}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03400-00700}}</td>
<td class="data right">{{NumberFormat data-1.03400-00800}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03400-00900}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03400-01000}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03400-01100}}</td>
<td class="right">34</td>
</tr>
<tr><td class="right">35</td>
<td> Other Special Care (specify)</td>
<td class="data right">{{NumberFormat data-1.03500-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03500-00200}}</td>
<td class="data right">{{NumberFormat data-1.03500-00300}}</td>
<td class="data right">{{NumberFormat data-1.03500-00400}}</td>
<td class="data right">{{NumberFormat data-1.03500-00500}}</td>
<td class="data right">{{NumberFormat data-1.03500-00600}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03500-00700}}</td>
<td class="data right">{{NumberFormat data-1.03500-00800}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03500-00900}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03500-01000}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03500-01100}}</td>
<td class="right">35</td>
</tr>
<tr><td class="right">40</td>
<td> Subprovider IPF</td>
<td class="data right">{{NumberFormat data-1.04000-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.04000-00200}}</td>
<td class="data right">{{NumberFormat data-1.04000-00300}}</td>
<td class="data right">{{NumberFormat data-1.04000-00400}}</td>
<td class="data right">{{NumberFormat data-1.04000-00500}}</td>
<td class="data right">{{NumberFormat data-1.04000-00600}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.04000-00700}}</td>
<td class="data right">{{NumberFormat data-1.04000-00800}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.04000-00900}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.04000-01000}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.04000-01100}}</td>
<td class="right">40</td>
</tr>
<tr><td class="right">41</td>
<td> Subprovider IRF</td>
<td class="data right">{{NumberFormat data-1.04100-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.04100-00200}}</td>
<td class="data right">{{NumberFormat data-1.04100-00300}}</td>
<td class="data right">{{NumberFormat data-1.04100-00400}}</td>
<td class="data right">{{NumberFormat data-1.04100-00500}}</td>
<td class="data right">{{NumberFormat data-1.04100-00600}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.04100-00700}}</td>
<td class="data right">{{NumberFormat data-1.04100-00800}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.04100-00900}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.04100-01000}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.04100-01100}}</td>
<td class="right">41</td>
</tr>
<tr><td class="right">42</td>
<td> Subprovider (Specify)</td>
<td class="data right">{{NumberFormat data-1.04200-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.04200-00200}}</td>
<td class="data right">{{NumberFormat data-1.04200-00300}}</td>
<td class="data right">{{NumberFormat data-1.04200-00400}}</td>
<td class="data right">{{NumberFormat data-1.04200-00500}}</td>
<td class="data right">{{NumberFormat data-1.04200-00600}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.04200-00700}}</td>
<td class="data right">{{NumberFormat data-1.04200-00800}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.04200-00900}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.04200-01000}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.04200-01100}}</td>
<td class="right">42</td>
</tr>
<tr><td class="right">43</td>
<td> Nursery</td>
<td class="data right">{{NumberFormat data-1.04300-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.04300-00200}}</td>
<td class="data right">{{NumberFormat data-1.04300-00300}}</td>
<td class="data right">{{NumberFormat data-1.04300-00400}}</td>
<td class="data right">{{NumberFormat data-1.04300-00500}}</td>
<td class="data right">{{NumberFormat data-1.04300-00600}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.04300-00700}}</td>
<td class="data right">{{NumberFormat data-1.04300-00800}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.04300-00900}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.04300-01000}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.04300-01100}}</td>
<td class="right">43</td>
</tr>
<tr><td class="right">44</td>
<td> Skilled Nursing Facility</td>
<td class="data right">{{NumberFormat data-1.04400-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.04400-00200}}</td>
<td class="data right">{{NumberFormat data-1.04400-00300}}</td>
<td class="data right">{{NumberFormat data-1.04400-00400}}</td>
<td class="data right">{{NumberFormat data-1.04400-00500}}</td>
<td class="data right">{{NumberFormat data-1.04400-00600}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.04400-00700}}</td>
<td class="data right">{{NumberFormat data-1.04400-00800}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.04400-00900}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.04400-01000}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.04400-01100}}</td>
<td class="right">44</td>
</tr>
<tr><td class="right">45</td>
<td> Nursing Facility</td>
<td class="data right">{{NumberFormat data-1.04500-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.04500-00200}}</td>
<td class="data right">{{NumberFormat data-1.04500-00300}}</td>
<td class="data right">{{NumberFormat data-1.04500-00400}}</td>
<td class="data right">{{NumberFormat data-1.04500-00500}}</td>
<td class="data right">{{NumberFormat data-1.04500-00600}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.04500-00700}}</td>
<td class="data right">{{NumberFormat data-1.04500-00800}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.04500-00900}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.04500-01000}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.04500-01100}}</td>
<td class="right">45</td>
</tr>
<tr><td class="right">46</td>
<td> Other Long Term Care</td>
<td class="data right">{{NumberFormat data-1.04600-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.04600-00200}}</td>
<td class="data right">{{NumberFormat data-1.04600-00300}}</td>
<td class="data right">{{NumberFormat data-1.04600-00400}}</td>
<td class="data right">{{NumberFormat data-1.04600-00500}}</td>
<td class="data right">{{NumberFormat data-1.04600-00600}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.04600-00700}}</td>
<td class="data right">{{NumberFormat data-1.04600-00800}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.04600-00900}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.04600-01000}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.04600-01100}}</td>
<td class="right">46</td>
</tr>
<tr><td colspan="2"> ANCILLARY SERVICE COST CENTERS </td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="right">&nbsp;</td>
</tr>
<tr><td class="right">50</td>
<td> Operating Room</td>
<td class="data right">{{NumberFormat data-1.05000-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.05000-00200}}</td>
<td class="data right">{{NumberFormat data-1.05000-00300}}</td>
<td class="data right">{{NumberFormat data-1.05000-00400}}</td>
<td class="data right">{{NumberFormat data-1.05000-00500}}</td>
<td class="data right">{{NumberFormat data-1.05000-00600}}</td>
<td class="data right">{{NumberFormat data-1.05000-00700}}</td>
<td class="data right">{{NumberFormat data-1.05000-00800}}</td>
<td class="data right">{{NumberFormat data-1.05000-00900}}</td>
<td class="data right">{{NumberFormat data-1.05000-01000}}</td>
<td class="data right">{{NumberFormat data-1.05000-01100}}</td>
<td class="right">50</td>
</tr>
<tr><td class="right">51</td>
<td> Recovery Room</td>
<td class="data right">{{NumberFormat data-1.05100-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.05100-00200}}</td>
<td class="data right">{{NumberFormat data-1.05100-00300}}</td>
<td class="data right">{{NumberFormat data-1.05100-00400}}</td>
<td class="data right">{{NumberFormat data-1.05100-00500}}</td>
<td class="data right">{{NumberFormat data-1.05100-00600}}</td>
<td class="data right">{{NumberFormat data-1.05100-00700}}</td>
<td class="data right">{{NumberFormat data-1.05100-00800}}</td>
<td class="data right">{{NumberFormat data-1.05100-00900}}</td>
<td class="data right">{{NumberFormat data-1.05100-01000}}</td>
<td class="data right">{{NumberFormat data-1.05100-01100}}</td>
<td class="right">51</td>
</tr>
<tr><td class="right">52</td>
<td> Labor Room and Delivery Room </td>
<td class="data right">{{NumberFormat data-1.05200-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.05200-00200}}</td>
<td class="data right">{{NumberFormat data-1.05200-00300}}</td>
<td class="data right">{{NumberFormat data-1.05200-00400}}</td>
<td class="data right">{{NumberFormat data-1.05200-00500}}</td>
<td class="data right">{{NumberFormat data-1.05200-00600}}</td>
<td class="data right">{{NumberFormat data-1.05200-00700}}</td>
<td class="data right">{{NumberFormat data-1.05200-00800}}</td>
<td class="data right">{{NumberFormat data-1.05200-00900}}</td>
<td class="data right">{{NumberFormat data-1.05200-01000}}</td>
<td class="data right">{{NumberFormat data-1.05200-01100}}</td>
<td class="right">52</td>
</tr>
<tr><td class="right">53</td>
<td> Anesthesiology</td>
<td class="data right">{{NumberFormat data-1.05300-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.05300-00200}}</td>
<td class="data right">{{NumberFormat data-1.05300-00300}}</td>
<td class="data right">{{NumberFormat data-1.05300-00400}}</td>
<td class="data right">{{NumberFormat data-1.05300-00500}}</td>
<td class="data right">{{NumberFormat data-1.05300-00600}}</td>
<td class="data right">{{NumberFormat data-1.05300-00700}}</td>
<td class="data right">{{NumberFormat data-1.05300-00800}}</td>
<td class="data right">{{NumberFormat data-1.05300-00900}}</td>
<td class="data right">{{NumberFormat data-1.05300-01000}}</td>
<td class="data right">{{NumberFormat data-1.05300-01100}}</td>
<td class="right">53</td>
</tr>
<tr><td class="right">54</td>
<td> Radiology-Diagnostic</td>
<td class="data right">{{NumberFormat data-1.05400-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.05400-00200}}</td>
<td class="data right">{{NumberFormat data-1.05400-00300}}</td>
<td class="data right">{{NumberFormat data-1.05400-00400}}</td>
<td class="data right">{{NumberFormat data-1.05400-00500}}</td>
<td class="data right">{{NumberFormat data-1.05400-00600}}</td>
<td class="data right">{{NumberFormat data-1.05400-00700}}</td>
<td class="data right">{{NumberFormat data-1.05400-00800}}</td>
<td class="data right">{{NumberFormat data-1.05400-00900}}</td>
<td class="data right">{{NumberFormat data-1.05400-01000}}</td>
<td class="data right">{{NumberFormat data-1.05400-01100}}</td>
<td class="right">54</td>
</tr>
<tr><td class="right">55</td>
<td> Radiology-Therapeutic</td>
<td class="data right">{{NumberFormat data-1.05500-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.05500-00200}}</td>
<td class="data right">{{NumberFormat data-1.05500-00300}}</td>
<td class="data right">{{NumberFormat data-1.05500-00400}}</td>
<td class="data right">{{NumberFormat data-1.05500-00500}}</td>
<td class="data right">{{NumberFormat data-1.05500-00600}}</td>
<td class="data right">{{NumberFormat data-1.05500-00700}}</td>
<td class="data right">{{NumberFormat data-1.05500-00800}}</td>
<td class="data right">{{NumberFormat data-1.05500-00900}}</td>
<td class="data right">{{NumberFormat data-1.05500-01000}}</td>
<td class="data right">{{NumberFormat data-1.05500-01100}}</td>
<td class="right">55</td>
</tr>
<tr><td class="right">56</td>
<td> Radioisotope</td>
<td class="data right">{{NumberFormat data-1.05600-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.05600-00200}}</td>
<td class="data right">{{NumberFormat data-1.05600-00300}}</td>
<td class="data right">{{NumberFormat data-1.05600-00400}}</td>
<td class="data right">{{NumberFormat data-1.05600-00500}}</td>
<td class="data right">{{NumberFormat data-1.05600-00600}}</td>
<td class="data right">{{NumberFormat data-1.05600-00700}}</td>
<td class="data right">{{NumberFormat data-1.05600-00800}}</td>
<td class="data right">{{NumberFormat data-1.05600-00900}}</td>
<td class="data right">{{NumberFormat data-1.05600-01000}}</td>
<td class="data right">{{NumberFormat data-1.05600-01100}}</td>
<td class="right">56</td>
</tr>
<tr><td class="right">57</td>
<td> Computed Tomography (CT) Scan</td>
<td class="data right">{{NumberFormat data-1.05700-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.05700-00200}}</td>
<td class="data right">{{NumberFormat data-1.05700-00300}}</td>
<td class="data right">{{NumberFormat data-1.05700-00400}}</td>
<td class="data right">{{NumberFormat data-1.05700-00500}}</td>
<td class="data right">{{NumberFormat data-1.05700-00600}}</td>
<td class="data right">{{NumberFormat data-1.05700-00700}}</td>
<td class="data right">{{NumberFormat data-1.05700-00800}}</td>
<td class="data right">{{NumberFormat data-1.05700-00900}}</td>
<td class="data right">{{NumberFormat data-1.05700-01000}}</td>
<td class="data right">{{NumberFormat data-1.05700-01100}}</td>
<td class="right">57</td>
</tr>
<tr><td class="right">58</td>
<td> Magnetic Resonance Imaging (MRI)</td>
<td class="data right">{{NumberFormat data-1.05800-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.05800-00200}}</td>
<td class="data right">{{NumberFormat data-1.05800-00300}}</td>
<td class="data right">{{NumberFormat data-1.05800-00400}}</td>
<td class="data right">{{NumberFormat data-1.05800-00500}}</td>
<td class="data right">{{NumberFormat data-1.05800-00600}}</td>
<td class="data right">{{NumberFormat data-1.05800-00700}}</td>
<td class="data right">{{NumberFormat data-1.05800-00800}}</td>
<td class="data right">{{NumberFormat data-1.05800-00900}}</td>
<td class="data right">{{NumberFormat data-1.05800-01000}}</td>
<td class="data right">{{NumberFormat data-1.05800-01100}}</td>
<td class="right">58</td>
</tr>
<tr><td class="right">59</td>
<td> Cardiac Catheterization</td>
<td class="data right">{{NumberFormat data-1.05900-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.05900-00200}}</td>
<td class="data right">{{NumberFormat data-1.05900-00300}}</td>
<td class="data right">{{NumberFormat data-1.05900-00400}}</td>
<td class="data right">{{NumberFormat data-1.05900-00500}}</td>
<td class="data right">{{NumberFormat data-1.05900-00600}}</td>
<td class="data right">{{NumberFormat data-1.05900-00700}}</td>
<td class="data right">{{NumberFormat data-1.05900-00800}}</td>
<td class="data right">{{NumberFormat data-1.05900-00900}}</td>
<td class="data right">{{NumberFormat data-1.05900-01000}}</td>
<td class="data right">{{NumberFormat data-1.05900-01100}}</td>
<td class="right">59</td>
</tr>
<tr><td class="right">60</td>
<td> Laboratory</td>
<td class="data right">{{NumberFormat data-1.06000-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.06000-00200}}</td>
<td class="data right">{{NumberFormat data-1.06000-00300}}</td>
<td class="data right">{{NumberFormat data-1.06000-00400}}</td>
<td class="data right">{{NumberFormat data-1.06000-00500}}</td>
<td class="data right">{{NumberFormat data-1.06000-00600}}</td>
<td class="data right">{{NumberFormat data-1.06000-00700}}</td>
<td class="data right">{{NumberFormat data-1.06000-00800}}</td>
<td class="data right">{{NumberFormat data-1.06000-00900}}</td>
<td class="data right">{{NumberFormat data-1.06000-01000}}</td>
<td class="data right">{{NumberFormat data-1.06000-01100}}</td>
<td class="right">60</td>
</tr>
<tr><td class="right">61</td>
<td> PBP Clinical Laboratory Services-Prgm. Only</td>
<td class="data right">{{NumberFormat data-1.06100-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.06100-00200}}</td>
<td class="data right">{{NumberFormat data-1.06100-00300}}</td>
<td class="data right">{{NumberFormat data-1.06100-00400}}</td>
<td class="data right">{{NumberFormat data-1.06100-00500}}</td>
<td class="data right">{{NumberFormat data-1.06100-00600}}</td>
<td class="data right">{{NumberFormat data-1.06100-00700}}</td>
<td class="data right">{{NumberFormat data-1.06100-00800}}</td>
<td class="data right">{{NumberFormat data-1.06100-00900}}</td>
<td class="data right">{{NumberFormat data-1.06100-01000}}</td>
<td class="data right">{{NumberFormat data-1.06100-01100}}</td>
<td class="right">61</td>
</tr>
<tr><td class="right">62</td>
<td> Whole Blood &amp; Packed Red Blood Cells</td>
<td class="data right">{{NumberFormat data-1.06200-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.06200-00200}}</td>
<td class="data right">{{NumberFormat data-1.06200-00300}}</td>
<td class="data right">{{NumberFormat data-1.06200-00400}}</td>
<td class="data right">{{NumberFormat data-1.06200-00500}}</td>
<td class="data right">{{NumberFormat data-1.06200-00600}}</td>
<td class="data right">{{NumberFormat data-1.06200-00700}}</td>
<td class="data right">{{NumberFormat data-1.06200-00800}}</td>
<td class="data right">{{NumberFormat data-1.06200-00900}}</td>
<td class="data right">{{NumberFormat data-1.06200-01000}}</td>
<td class="data right">{{NumberFormat data-1.06200-01100}}</td>
<td class="right">62</td>
</tr>
<tr><td class="right">63</td>
<td> Blood Storing, Processing, &amp; Trans.</td>
<td class="data right">{{NumberFormat data-1.06300-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.06300-00200}}</td>
<td class="data right">{{NumberFormat data-1.06300-00300}}</td>
<td class="data right">{{NumberFormat data-1.06300-00400}}</td>
<td class="data right">{{NumberFormat data-1.06300-00500}}</td>
<td class="data right">{{NumberFormat data-1.06300-00600}}</td>
<td class="data right">{{NumberFormat data-1.06300-00700}}</td>
<td class="data right">{{NumberFormat data-1.06300-00800}}</td>
<td class="data right">{{NumberFormat data-1.06300-00900}}</td>
<td class="data right">{{NumberFormat data-1.06300-01000}}</td>
<td class="data right">{{NumberFormat data-1.06300-01100}}</td>
<td class="right">63</td>
</tr>
<tr><td class="right">64</td>
<td> Intravenous Therapy</td>
<td class="data right">{{NumberFormat data-1.06400-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.06400-00200}}</td>
<td class="data right">{{NumberFormat data-1.06400-00300}}</td>
<td class="data right">{{NumberFormat data-1.06400-00400}}</td>
<td class="data right">{{NumberFormat data-1.06400-00500}}</td>
<td class="data right">{{NumberFormat data-1.06400-00600}}</td>
<td class="data right">{{NumberFormat data-1.06400-00700}}</td>
<td class="data right">{{NumberFormat data-1.06400-00800}}</td>
<td class="data right">{{NumberFormat data-1.06400-00900}}</td>
<td class="data right">{{NumberFormat data-1.06400-01000}}</td>
<td class="data right">{{NumberFormat data-1.06400-01100}}</td>
<td class="right">64</td>
</tr>
<tr><td class="right">65</td>
<td> Respiratory Therapy</td>
<td class="data right">{{NumberFormat data-1.06500-00100}}</td>
<td class="data right">{{NumberFormat data-1.06500-00200}}</td>
<td class="data right">{{NumberFormat data-1.06500-00300}}</td>
<td class="data right">{{NumberFormat data-1.06500-00400}}</td>
<td class="data right">{{NumberFormat data-1.06500-00500}}</td>
<td class="data right">{{NumberFormat data-1.06500-00600}}</td>
<td class="data right">{{NumberFormat data-1.06500-00700}}</td>
<td class="data right">{{NumberFormat data-1.06500-00800}}</td>
<td class="data right">{{NumberFormat data-1.06500-00900}}</td>
<td class="data right">{{NumberFormat data-1.06500-01000}}</td>
<td class="data right">{{NumberFormat data-1.06500-01100}}</td>
<td class="right">65</td>
</tr>
<tr><td class="right">66</td>
<td> Physical Therapy</td>
<td class="data right">{{NumberFormat data-1.06600-00100}}</td>
<td class="data right">{{NumberFormat data-1.06600-00200}}</td>
<td class="data right">{{NumberFormat data-1.06600-00300}}</td>
<td class="data right">{{NumberFormat data-1.06600-00400}}</td>
<td class="data right">{{NumberFormat data-1.06600-00500}}</td>
<td class="data right">{{NumberFormat data-1.06600-00600}}</td>
<td class="data right">{{NumberFormat data-1.06600-00700}}</td>
<td class="data right">{{NumberFormat data-1.06600-00800}}</td>
<td class="data right">{{NumberFormat data-1.06600-00900}}</td>
<td class="data right">{{NumberFormat data-1.06600-01000}}</td>
<td class="data right">{{NumberFormat data-1.06600-01100}}</td>
<td class="right">66</td>
</tr>
<tr><td class="right">67</td>
<td> Occupational Therapy</td>
<td class="data right">{{NumberFormat data-1.06700-00100}}</td>
<td class="data right">{{NumberFormat data-1.06700-00200}}</td>
<td class="data right">{{NumberFormat data-1.06700-00300}}</td>
<td class="data right">{{NumberFormat data-1.06700-00400}}</td>
<td class="data right">{{NumberFormat data-1.06700-00500}}</td>
<td class="data right">{{NumberFormat data-1.06700-00600}}</td>
<td class="data right">{{NumberFormat data-1.06700-00700}}</td>
<td class="data right">{{NumberFormat data-1.06700-00800}}</td>
<td class="data right">{{NumberFormat data-1.06700-00900}}</td>
<td class="data right">{{NumberFormat data-1.06700-01000}}</td>
<td class="data right">{{NumberFormat data-1.06700-01100}}</td>
<td class="right">67</td>
</tr>
<tr><td class="right">68</td>
<td> Speech Pathology</td>
<td class="data right">{{NumberFormat data-1.06800-00100}}</td>
<td class="data right">{{NumberFormat data-1.06800-00200}}</td>
<td class="data right">{{NumberFormat data-1.06800-00300}}</td>
<td class="data right">{{NumberFormat data-1.06800-00400}}</td>
<td class="data right">{{NumberFormat data-1.06800-00500}}</td>
<td class="data right">{{NumberFormat data-1.06800-00600}}</td>
<td class="data right">{{NumberFormat data-1.06800-00700}}</td>
<td class="data right">{{NumberFormat data-1.06800-00800}}</td>
<td class="data right">{{NumberFormat data-1.06800-00900}}</td>
<td class="data right">{{NumberFormat data-1.06800-01000}}</td>
<td class="data right">{{NumberFormat data-1.06800-01100}}</td>
<td class="right">68</td>
</tr>
<tr><td class="right">69</td>
<td> Electrocardiology</td>
<td class="data right">{{NumberFormat data-1.06900-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.06900-00200}}</td>
<td class="data right">{{NumberFormat data-1.06900-00300}}</td>
<td class="data right">{{NumberFormat data-1.06900-00400}}</td>
<td class="data right">{{NumberFormat data-1.06900-00500}}</td>
<td class="data right">{{NumberFormat data-1.06900-00600}}</td>
<td class="data right">{{NumberFormat data-1.06900-00700}}</td>
<td class="data right">{{NumberFormat data-1.06900-00800}}</td>
<td class="data right">{{NumberFormat data-1.06900-00900}}</td>
<td class="data right">{{NumberFormat data-1.06900-01000}}</td>
<td class="data right">{{NumberFormat data-1.06900-01100}}</td>
<td class="right">69</td>
</tr>
<tr><td class="right">70</td>
<td> Electroencephalography</td>
<td class="data right">{{NumberFormat data-1.07000-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.07000-00200}}</td>
<td class="data right">{{NumberFormat data-1.07000-00300}}</td>
<td class="data right">{{NumberFormat data-1.07000-00400}}</td>
<td class="data right">{{NumberFormat data-1.07000-00500}}</td>
<td class="data right">{{NumberFormat data-1.07000-00600}}</td>
<td class="data right">{{NumberFormat data-1.07000-00700}}</td>
<td class="data right">{{NumberFormat data-1.07000-00800}}</td>
<td class="data right">{{NumberFormat data-1.07000-00900}}</td>
<td class="data right">{{NumberFormat data-1.07000-01000}}</td>
<td class="data right">{{NumberFormat data-1.07000-01100}}</td>
<td class="right">70</td>
</tr>
<tr><td class="right">71</td>
<td> Medical Supplies Charged to Patients</td>
<td class="data right">{{NumberFormat data-1.07100-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.07100-00200}}</td>
<td class="data right">{{NumberFormat data-1.07100-00300}}</td>
<td class="data right">{{NumberFormat data-1.07100-00400}}</td>
<td class="data right">{{NumberFormat data-1.07100-00500}}</td>
<td class="data right">{{NumberFormat data-1.07100-00600}}</td>
<td class="data right">{{NumberFormat data-1.07100-00700}}</td>
<td class="data right">{{NumberFormat data-1.07100-00800}}</td>
<td class="data right">{{NumberFormat data-1.07100-00900}}</td>
<td class="data right">{{NumberFormat data-1.07100-01000}}</td>
<td class="data right">{{NumberFormat data-1.07100-01100}}</td>
<td class="right">71</td>
</tr>
<tr><td class="right">72</td>
<td> Implantable Devices Charged to Patients</td>
<td class="data right">{{NumberFormat data-1.07200-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.07200-00200}}</td>
<td class="data right">{{NumberFormat data-1.07200-00300}}</td>
<td class="data right">{{NumberFormat data-1.07200-00400}}</td>
<td class="data right">{{NumberFormat data-1.07200-00500}}</td>
<td class="data right">{{NumberFormat data-1.07200-00600}}</td>
<td class="data right">{{NumberFormat data-1.07200-00700}}</td>
<td class="data right">{{NumberFormat data-1.07200-00800}}</td>
<td class="data right">{{NumberFormat data-1.07200-00900}}</td>
<td class="data right">{{NumberFormat data-1.07200-01000}}</td>
<td class="data right">{{NumberFormat data-1.07200-01100}}</td>
<td class="right">72</td>
</tr>
<tr><td class="right">73</td>
<td> Drugs Charged to Patients</td>
<td class="data right">{{NumberFormat data-1.07300-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.07300-00200}}</td>
<td class="data right">{{NumberFormat data-1.07300-00300}}</td>
<td class="data right">{{NumberFormat data-1.07300-00400}}</td>
<td class="data right">{{NumberFormat data-1.07300-00500}}</td>
<td class="data right">{{NumberFormat data-1.07300-00600}}</td>
<td class="data right">{{NumberFormat data-1.07300-00700}}</td>
<td class="data right">{{NumberFormat data-1.07300-00800}}</td>
<td class="data right">{{NumberFormat data-1.07300-00900}}</td>
<td class="data right">{{NumberFormat data-1.07300-01000}}</td>
<td class="data right">{{NumberFormat data-1.07300-01100}}</td>
<td class="right">73</td>
</tr>
<tr><td class="right">74</td>
<td> Renal Dialysis</td>
<td class="data right">{{NumberFormat data-1.07400-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.07400-00200}}</td>
<td class="data right">{{NumberFormat data-1.07400-00300}}</td>
<td class="data right">{{NumberFormat data-1.07400-00400}}</td>
<td class="data right">{{NumberFormat data-1.07400-00500}}</td>
<td class="data right">{{NumberFormat data-1.07400-00600}}</td>
<td class="data right">{{NumberFormat data-1.07400-00700}}</td>
<td class="data right">{{NumberFormat data-1.07400-00800}}</td>
<td class="data right">{{NumberFormat data-1.07400-00900}}</td>
<td class="data right">{{NumberFormat data-1.07400-01000}}</td>
<td class="data right">{{NumberFormat data-1.07400-01100}}</td>
<td class="right">74</td>
</tr>
<tr><td class="right">75</td>
<td> ASC (Non-Distinct Part)</td>
<td class="data right">{{NumberFormat data-1.07500-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.07500-00200}}</td>
<td class="data right">{{NumberFormat data-1.07500-00300}}</td>
<td class="data right">{{NumberFormat data-1.07500-00400}}</td>
<td class="data right">{{NumberFormat data-1.07500-00500}}</td>
<td class="data right">{{NumberFormat data-1.07500-00600}}</td>
<td class="data right">{{NumberFormat data-1.07500-00700}}</td>
<td class="data right">{{NumberFormat data-1.07500-00800}}</td>
<td class="data right">{{NumberFormat data-1.07500-00900}}</td>
<td class="data right">{{NumberFormat data-1.07500-01000}}</td>
<td class="data right">{{NumberFormat data-1.07500-01100}}</td>
<td class="right">75</td>
</tr>
<tr><td class="right">76</td>
<td> Other Ancillary (specify)</td>
<td class="data right">{{NumberFormat data-1.07600-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.07600-00200}}</td>
<td class="data right">{{NumberFormat data-1.07600-00300}}</td>
<td class="data right">{{NumberFormat data-1.07600-00400}}</td>
<td class="data right">{{NumberFormat data-1.07600-00500}}</td>
<td class="data right">{{NumberFormat data-1.07600-00600}}</td>
<td class="data right">{{NumberFormat data-1.07600-00700}}</td>
<td class="data right">{{NumberFormat data-1.07600-00800}}</td>
<td class="data right">{{NumberFormat data-1.07600-00900}}</td>
<td class="data right">{{NumberFormat data-1.07600-01000}}</td>
<td class="data right">{{NumberFormat data-1.07600-01100}}</td>
<td class="right">76</td>
</tr>

<tr><td class="right">77</td>
<td>Allogeneic Stem Cell Acquisition</td>
<td class="data right">{{NumberFormat data-1.07700-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.07700-00200}}</td>
<td class="data right">{{NumberFormat data-1.07700-00300}}</td>
<td class="data right">{{NumberFormat data-1.07700-00400}}</td>
<td class="data right">{{NumberFormat data-1.07700-00500}}</td>
<td class="data right">{{NumberFormat data-1.07700-00600}}</td>
<td class="data right">{{NumberFormat data-1.07700-00700}}</td>
<td class="data right">{{NumberFormat data-1.07700-00800}}</td>
<td class="data right">{{NumberFormat data-1.07700-00900}}</td>
<td class="data right">{{NumberFormat data-1.07700-01000}}</td>
<td class="data right">{{NumberFormat data-1.07700-01100}}</td>
<td class="right">77</td>
</tr>
<tr><td colspan="2"> OUTPATIENT SERVICE COST CENTERS </td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="right">&nbsp;</td>
</tr>
<tr><td class="right">88</td>
<td> Rural Health Clinic (RHC)</td>
<td class="data right">{{NumberFormat data-1.08800-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.08800-00200}}</td>
<td class="data right">{{NumberFormat data-1.08800-00300}}</td>
<td class="data right">{{NumberFormat data-1.08800-00400}}</td>
<td class="data right">{{NumberFormat data-1.08800-00500}}</td>
<td class="data right">{{NumberFormat data-1.08800-00600}}</td>
<td class="data right">{{NumberFormat data-1.08800-00700}}</td>
<td class="data right">{{NumberFormat data-1.08800-00800}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.08800-00900}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.08800-01000}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.08800-01100}}</td>
<td class="right">88</td>
</tr>
<tr><td class="right">89</td>
<td> Federally Qualified Health Center (FQHC)</td>
<td class="data right">{{NumberFormat data-1.08900-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.08900-00200}}</td>
<td class="data right">{{NumberFormat data-1.08900-00300}}</td>
<td class="data right">{{NumberFormat data-1.08900-00400}}</td>
<td class="data right">{{NumberFormat data-1.08900-00500}}</td>
<td class="data right">{{NumberFormat data-1.08900-00600}}</td>
<td class="data right">{{NumberFormat data-1.08900-00700}}</td>
<td class="data right">{{NumberFormat data-1.08900-00800}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.08900-00900}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.08900-01000}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.08900-01100}}</td>
<td class="right">89</td>
</tr>
<tr><td class="right">90</td>
<td> Clinic</td>
<td class="data right">{{NumberFormat data-1.09000-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.09000-00200}}</td>
<td class="data right">{{NumberFormat data-1.09000-00300}}</td>
<td class="data right">{{NumberFormat data-1.09000-00400}}</td>
<td class="data right">{{NumberFormat data-1.09000-00500}}</td>
<td class="data right">{{NumberFormat data-1.09000-00600}}</td>
<td class="data right">{{NumberFormat data-1.09000-00700}}</td>
<td class="data right">{{NumberFormat data-1.09000-00800}}</td>
<td class="data right">{{NumberFormat data-1.09000-00900}}</td>
<td class="data right">{{NumberFormat data-1.09000-01000}}</td>
<td class="data right">{{NumberFormat data-1.09000-01100}}</td>
<td class="right">90</td>
</tr>
<tr><td class="right">91</td>
<td> Emergency</td>
<td class="data right">{{NumberFormat data-1.09100-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.09100-00200}}</td>
<td class="data right">{{NumberFormat data-1.09100-00300}}</td>
<td class="data right">{{NumberFormat data-1.09100-00400}}</td>
<td class="data right">{{NumberFormat data-1.09100-00500}}</td>
<td class="data right">{{NumberFormat data-1.09100-00600}}</td>
<td class="data right">{{NumberFormat data-1.09100-00700}}</td>
<td class="data right">{{NumberFormat data-1.09100-00800}}</td>
<td class="data right">{{NumberFormat data-1.09100-00900}}</td>
<td class="data right">{{NumberFormat data-1.09100-01000}}</td>
<td class="data right">{{NumberFormat data-1.09100-01100}}</td>
<td class="right">91</td>
</tr>
<tr><td class="right">92</td>
<td> Observation Beds (Non-Distinct Part)</td>
<td class="data right">{{NumberFormat data-1.09200-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.09200-00200}}</td>
<td class="data right">{{NumberFormat data-1.09200-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.09200-00400}}</td>
<td class="data right">{{NumberFormat data-1.09200-00500}}</td>
<td class="data right">{{NumberFormat data-1.09200-00600}}</td>
<td class="data right">{{NumberFormat data-1.09200-00700}}</td>
<td class="data right">{{NumberFormat data-1.09200-00800}}</td>
<td class="data right">{{NumberFormat data-1.09200-00900}}</td>
<td class="data right">{{NumberFormat data-1.09200-01000}}</td>
<td class="data right">{{NumberFormat data-1.09200-01100}}</td>
<td class="right">92</td>
</tr>
<tr><td class="right">92.01</td>
<td> Observation Beds (Distinct Part)</td>
<td class="data right">{{NumberFormat data-1.09201-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.09201-00200}}</td>
<td class="data right">{{NumberFormat data-1.09201-00300}}</td>
<td class="data right">{{NumberFormat data-1.09201-00400}}</td>
<td class="data right">{{NumberFormat data-1.09201-00500}}</td>
<td class="data right">{{NumberFormat data-1.09201-00600}}</td>
<td class="data right">{{NumberFormat data-1.09201-00700}}</td>
<td class="data right">{{NumberFormat data-1.09201-00800}}</td>
<td class="data right">{{NumberFormat data-1.09201-00900}}</td>
<td class="data right">{{NumberFormat data-1.09201-01000}}</td>
<td class="data right">{{NumberFormat data-1.09201-01100}}</td>
<td class="right">92.01</td>
</tr>
<tr><td class="right">93</td>
<td> Other Outpatient Service (specify)</td>
<td class="data right">{{NumberFormat data-1.09300-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.09300-00200}}</td>
<td class="data right">{{NumberFormat data-1.09300-00300}}</td>
<td class="data right">{{NumberFormat data-1.09300-00400}}</td>
<td class="data right">{{NumberFormat data-1.09300-00500}}</td>
<td class="data right">{{NumberFormat data-1.09300-00600}}</td>
<td class="data right">{{NumberFormat data-1.09300-00700}}</td>
<td class="data right">{{NumberFormat data-1.09300-00800}}</td>
<td class="data right">{{NumberFormat data-1.09300-00900}}</td>
<td class="data right">{{NumberFormat data-1.09300-01000}}</td>
<td class="data right">{{NumberFormat data-1.09300-01100}}</td>
<td class="right">93</td>
</tr>

<tr><td class="right">93.99</td>
<td> Partial Hospitalization Program </td>
<td class="data right">{{NumberFormat data-1.09399-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.09399-00200}}</td>
<td class="data right">{{NumberFormat data-1.09399-00300}}</td>
<td class="data right">{{NumberFormat data-1.09399-00400}}</td>
<td class="data right">{{NumberFormat data-1.09399-00500}}</td>
<td class="data right">{{NumberFormat data-1.09399-00600}}</td>
<td class="data right">{{NumberFormat data-1.09399-00700}}</td>
<td class="data right">{{NumberFormat data-1.09399-00800}}</td>
<td class="data right">{{NumberFormat data-1.09399-00900}}</td>
<td class="data right">{{NumberFormat data-1.09399-01000}}</td>
<td class="data right">{{NumberFormat data-1.09399-01100}}</td>
<td class="right">93.99</td>
</tr>
<tr><td colspan="2"> OTHER REIMBURSABLE COST CENTERS </td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="right">&nbsp;</td>
</tr>
<tr><td class="right">94</td>
<td> Home Program Dialysis</td>
<td class="data right">{{NumberFormat data-1.09400-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.09400-00200}}</td>
<td class="data right">{{NumberFormat data-1.09400-00300}}</td>
<td class="data right">{{NumberFormat data-1.09400-00400}}</td>
<td class="data right">{{NumberFormat data-1.09400-00500}}</td>
<td class="data right">{{NumberFormat data-1.09400-00600}}</td>
<td class="data right">{{NumberFormat data-1.09400-00700}}</td>
<td class="data right">{{NumberFormat data-1.09400-00800}}</td>
<td class="data right">{{NumberFormat data-1.09400-00900}}</td>
<td class="data right">{{NumberFormat data-1.09400-01000}}</td>
<td class="data right">{{NumberFormat data-1.09400-01100}}</td>
<td class="right">94</td>
</tr>
<tr><td class="right">95</td>
<td> Ambulance Services</td>
<td class="data right">{{NumberFormat data-1.09500-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.09500-00200}}</td>
<td class="data right">{{NumberFormat data-1.09500-00300}}</td>
<td class="data right">{{NumberFormat data-1.09500-00400}}</td>
<td class="data right">{{NumberFormat data-1.09500-00500}}</td>
<td class="data right">{{NumberFormat data-1.09500-00600}}</td>
<td class="data right">{{NumberFormat data-1.09500-00700}}</td>
<td class="data right">{{NumberFormat data-1.09500-00800}}</td>
<td class="data right">{{NumberFormat data-1.09500-00900}}</td>
<td class="data right">{{NumberFormat data-1.09500-01000}}</td>
<td class="data right">{{NumberFormat data-1.09500-01100}}</td>
<td class="right">95</td>
</tr>
<tr><td class="right">96</td>
<td> Durable Medical Equipment-Rented</td>
<td class="data right">{{NumberFormat data-1.09600-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.09600-00200}}</td>
<td class="data right">{{NumberFormat data-1.09600-00300}}</td>
<td class="data right">{{NumberFormat data-1.09600-00400}}</td>
<td class="data right">{{NumberFormat data-1.09600-00500}}</td>
<td class="data right">{{NumberFormat data-1.09600-00600}}</td>
<td class="data right">{{NumberFormat data-1.09600-00700}}</td>
<td class="data right">{{NumberFormat data-1.09600-00800}}</td>
<td class="data right">{{NumberFormat data-1.09600-00900}}</td>
<td class="data right">{{NumberFormat data-1.09600-01000}}</td>
<td class="data right">{{NumberFormat data-1.09600-01100}}</td>
<td class="right">96</td>
</tr>






<tr><td class="right">97</td>
<td> Durable Medical Equipment-Sold</td>
<td class="data right">{{NumberFormat data-1.09700-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.09700-00200}}</td>
<td class="data right">{{NumberFormat data-1.09700-00300}}</td>
<td class="data right">{{NumberFormat data-1.09700-00400}}</td>
<td class="data right">{{NumberFormat data-1.09700-00500}}</td>
<td class="data right">{{NumberFormat data-1.09700-00600}}</td>
<td class="data right">{{NumberFormat data-1.09700-00700}}</td>
<td class="data right">{{NumberFormat data-1.09700-00800}}</td>
<td class="data right">{{NumberFormat data-1.09700-00900}}</td>
<td class="data right">{{NumberFormat data-1.09700-01000}}</td>
<td class="data right">{{NumberFormat data-1.09700-01100}}</td>
<td class="right">97</td>
</tr>
<tr><td class="right">98</td>
<td> Other Reimbursable (specify)</td>
<td class="data right">{{NumberFormat data-1.09800-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.09800-00200}}</td>
<td class="data right">{{NumberFormat data-1.09800-00300}}</td>
<td class="data right">{{NumberFormat data-1.09800-00400}}</td>
<td class="data right">{{NumberFormat data-1.09800-00500}}</td>
<td class="data right">{{NumberFormat data-1.09800-00600}}</td>
<td class="data right">{{NumberFormat data-1.09800-00700}}</td>
<td class="data right">{{NumberFormat data-1.09800-00800}}</td>
<td class="data right">{{NumberFormat data-1.09800-00900}}</td>
<td class="data right">{{NumberFormat data-1.09800-01000}}</td>
<td class="data right">{{NumberFormat data-1.09800-01100}}</td>
<td class="right">98</td>
</tr>



<tr><td class="right">99</td>
<td> Outpatient Rehabilitation Provider (specify)</td>
<td class="data right">{{NumberFormat data-1.09900-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.09900-00200}}</td>
<td class="data right">{{NumberFormat data-1.09900-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.09900-00400}}</td>
<td class="data right">{{NumberFormat data-1.09900-00500}}</td>
<td class="data right">{{NumberFormat data-1.09900-00600}}</td>
<td class="data right">{{NumberFormat data-1.09900-00700}}</td>
<td class="data right">{{NumberFormat data-1.09900-00800}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.09900-00900}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.09900-01000}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.09900-01100}}</td>
<td class="right">99</td>
</tr>
<tr><td class="right">100</td>
<td> Intern-Resident Service (not appvd. tchng. prgm.)</td>
<td class="data right">{{NumberFormat data-1.10000-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.10000-00200}}</td>
<td class="data right">{{NumberFormat data-1.10000-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.10000-00400}}</td>
<td class="data right">{{NumberFormat data-1.10000-00500}}</td>
<td class="data right">{{NumberFormat data-1.10000-00600}}</td>
<td class="data right">{{NumberFormat data-1.10000-00700}}</td>
<td class="data right">{{NumberFormat data-1.10000-00800}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.10000-00900}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.10000-01000}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.10000-01100}}</td>
<td class="right">100</td>
</tr>
<tr><td class="right">101</td>
<td> Home Health Agency</td>
<td class="data right">{{NumberFormat data-1.10100-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.10100-00200}}</td>
<td class="data right">{{NumberFormat data-1.10100-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.10100-00400}}</td>
<td class="data right">{{NumberFormat data-1.10100-00500}}</td>
<td class="data right">{{NumberFormat data-1.10100-00600}}</td>
<td class="data right">{{NumberFormat data-1.10100-00700}}</td>
<td class="data right">{{NumberFormat data-1.10100-00800}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.10100-00900}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.10100-01000}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.10100-01100}}</td>
<td class="right">101</td>
</tr>
<tr><td colspan="2"> SPECIAL PURPOSE COST CENTERS </td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="data right"></td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="right">&nbsp;</td>
</tr>
<tr><td class="right">105</td>
<td> Kidney Acquisition</td>
<td class="data right">{{NumberFormat data-1.10500-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.10500-00200}}</td>
<td class="data right">{{NumberFormat data-1.10500-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.10500-00400}}</td>
<td class="data right">{{NumberFormat data-1.10500-00500}}</td>
<td class="data right">{{NumberFormat data-1.10500-00600}}</td>
<td class="data right">{{NumberFormat data-1.10500-00700}}</td>
<td class="data right">{{NumberFormat data-1.10500-00800}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.10500-00900}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.10500-01000}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.10500-01100}}</td>
<td class="right">105</td>
</tr>
<tr><td class="right">106</td>
<td> Heart Acquisition</td>
<td class="data right">{{NumberFormat data-1.10600-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.10600-00200}}</td>
<td class="data right">{{NumberFormat data-1.10600-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.10600-00400}}</td>
<td class="data right">{{NumberFormat data-1.10600-00500}}</td>
<td class="data right">{{NumberFormat data-1.10600-00600}}</td>
<td class="data right">{{NumberFormat data-1.10600-00700}}</td>
<td class="data right">{{NumberFormat data-1.10600-00800}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.10600-00900}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.10600-01000}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.10600-01100}}</td>
<td class="right">106</td>
</tr>
<tr><td class="right">107</td>
<td> Liver Acquisition</td>
<td class="data right">{{NumberFormat data-1.10700-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.10700-00200}}</td>
<td class="data right">{{NumberFormat data-1.10700-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.10700-00400}}</td>
<td class="data right">{{NumberFormat data-1.10700-00500}}</td>
<td class="data right">{{NumberFormat data-1.10700-00600}}</td>
<td class="data right">{{NumberFormat data-1.10700-00700}}</td>
<td class="data right">{{NumberFormat data-1.10700-00800}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.10700-00900}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.10700-01000}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.10700-01100}}</td>
<td class="right">107</td>
</tr>
<tr><td class="right">108</td>
<td> Lung Acquisition</td>
<td class="data right">{{NumberFormat data-1.10800-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.10800-00200}}</td>
<td class="data right">{{NumberFormat data-1.10800-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.10800-00400}}</td>
<td class="data right">{{NumberFormat data-1.10800-00500}}</td>
<td class="data right">{{NumberFormat data-1.10800-00600}}</td>
<td class="data right">{{NumberFormat data-1.10800-00700}}</td>
<td class="data right">{{NumberFormat data-1.10800-00800}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.10800-00900}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.10800-01000}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.10800-01100}}</td>
<td class="right">108</td>
</tr>
<tr><td class="right">109</td>
<td> Pancreas Acquisition</td>
<td class="data right">{{NumberFormat data-1.10900-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.10900-00200}}</td>
<td class="data right">{{NumberFormat data-1.10900-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.10900-00400}}</td>
<td class="data right">{{NumberFormat data-1.10900-00500}}</td>
<td class="data right">{{NumberFormat data-1.10900-00600}}</td>
<td class="data right">{{NumberFormat data-1.10900-00700}}</td>
<td class="data right">{{NumberFormat data-1.10900-00800}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.10900-00900}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.10900-01000}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.10900-01100}}</td>
<td class="right">109</td>
</tr>
<tr><td class="right">110</td>
<td> Intestinal Acquisition</td>
<td class="data right">{{NumberFormat data-1.11000-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.11000-00200}}</td>
<td class="data right">{{NumberFormat data-1.11000-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.11000-00400}}</td>
<td class="data right">{{NumberFormat data-1.11000-00500}}</td>
<td class="data right">{{NumberFormat data-1.11000-00600}}</td>
<td class="data right">{{NumberFormat data-1.11000-00700}}</td>
<td class="data right">{{NumberFormat data-1.11000-00800}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.11000-00900}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.11000-01000}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.11000-01100}}</td>
<td class="right">110</td>
</tr>
<tr><td class="right">111</td>
<td> Islet Acquisition</td>
<td class="data right">{{NumberFormat data-1.11100-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.11100-00200}}</td>
<td class="data right">{{NumberFormat data-1.11100-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.11100-00400}}</td>
<td class="data right">{{NumberFormat data-1.11100-00500}}</td>
<td class="data right">{{NumberFormat data-1.11100-00600}}</td>
<td class="data right">{{NumberFormat data-1.11100-00700}}</td>
<td class="data right">{{NumberFormat data-1.11100-00800}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.11100-00900}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.11100-01000}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.11100-01100}}</td>
<td class="right">111</td>
</tr>
<tr><td class="right">112</td>
<td> Other Organ Acquisition (specify)</td>
<td class="data right">{{NumberFormat data-1.11200-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.11200-00200}}</td>
<td class="data right">{{NumberFormat data-1.11200-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.11200-00400}}</td>
<td class="data right">{{NumberFormat data-1.11200-00500}}</td>
<td class="data right">{{NumberFormat data-1.11200-00600}}</td>
<td class="data right">{{NumberFormat data-1.11200-00700}}</td>
<td class="data right">{{NumberFormat data-1.11200-00800}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.11200-00900}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.11200-01000}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.11200-01100}}</td>
<td class="right">112</td>
</tr>
<tr><td class="right">115</td>
<td> Ambulatory Surgical Center (Distinct Part)</td>
<td class="data right">{{NumberFormat data-1.11500-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.11500-00200}}</td>
<td class="data right">{{NumberFormat data-1.11500-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.11500-00400}}</td>
<td class="data right">{{NumberFormat data-1.11500-00500}}</td>
<td class="data right">{{NumberFormat data-1.11500-00600}}</td>
<td class="data right">{{NumberFormat data-1.11500-00700}}</td>
<td class="data right">{{NumberFormat data-1.11500-00800}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.11500-00900}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.11500-01000}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.11500-01100}}</td>
<td class="right">115</td>
</tr>
<tr><td class="right">116</td>
<td> Hospice</td>
<td class="data right">{{NumberFormat data-1.11600-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.11600-00200}}</td>
<td class="data right">{{NumberFormat data-1.11600-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.11600-00400}}</td>
<td class="data right">{{NumberFormat data-1.11600-00500}}</td>
<td class="data right">{{NumberFormat data-1.11600-00600}}</td>
<td class="data right">{{NumberFormat data-1.11600-00700}}</td>
<td class="data right">{{NumberFormat data-1.11600-00800}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.11600-00900}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.11600-01000}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.11600-01100}}</td>
<td class="right">116</td>
</tr>
<tr><td class="right">117</td>
<td> Other Special Purpose (specify)</td>
<td class="data right">{{NumberFormat data-1.11700-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.11700-00200}}</td>
<td class="data right">{{NumberFormat data-1.11700-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.11700-00400}}</td>
<td class="data right">{{NumberFormat data-1.11700-00500}}</td>
<td class="data right">{{NumberFormat data-1.11700-00600}}</td>
<td class="data right">{{NumberFormat data-1.11700-00700}}</td>
<td class="data right">{{NumberFormat data-1.11700-00800}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.11700-00900}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.11700-01000}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.11700-01100}}</td>
<td class="right">117</td>
</tr>
<tr><td class="right">200</td>
<td> Subtotal (see instructions)</td>
<td class="data right">{{NumberFormat data-1.20000-00100}}</td>
<td class="data right">{{NumberFormat data-1.20000-00200}}</td>
<td class="data right">{{NumberFormat data-1.20000-00300}}</td>
<td class="data right">{{NumberFormat data-1.20000-00400}}</td>
<td class="data right">{{NumberFormat data-1.20000-00500}}</td>
<td class="data right">{{NumberFormat data-1.20000-00600}}</td>
<td class="data right">{{NumberFormat data-1.20000-00700}}</td>
<td class="data right">{{NumberFormat data-1.20000-00800}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.20000-00900}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.20000-01000}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.20000-01100}}</td>
<td class="right">200</td>
</tr>
<tr><td class="right">201</td>
<td> Less Observation Beds</td>
<td class="data right">{{NumberFormat data-1.20100-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.20100-00200}}</td>
<td class="data right">{{NumberFormat data-1.20100-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.20100-00400}}</td>
<td class="data right">{{NumberFormat data-1.20100-00500}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.20100-00600}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.20100-00700}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.20100-00800}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.20100-00900}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.20100-01000}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.20100-01100}}</td>
<td class="right">201</td>
</tr>
<tr><td class="right">202</td>
<td> Total (see instructions)</td>
<td class="data right">{{NumberFormat data-1.20200-00100}}</td>
<td class="data right">{{NumberFormat data-1.20200-00200}}</td>
<td class="data right">{{NumberFormat data-1.20200-00300}}</td>
<td class="data right">{{NumberFormat data-1.20200-00400}}</td>
<td class="data right">{{NumberFormat data-1.20200-00500}}</td>
<td class="data right">{{NumberFormat data-1.20200-00600}}</td>
<td class="data right">{{NumberFormat data-1.20200-00700}}</td>
<td class="data right">{{NumberFormat data-1.20200-00800}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.20200-00900}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.20200-01000}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.20200-01100}}</td>
<td class="right">202</td>
</tr>
<tr><td colspan="14">FORM CMS-2552-10 (11/2017) (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTIONS 4023)</td>
</tr>
<tr><td colspan="2">40-564 - 11-17</td>
<td colspan="10">&nbsp;</td>
<td colspan="2"> Rev. 12</td>
</tr>
</tbody></table>
</div>
