
<div class="report"><table id="report_table" border="1" width="100%" cellpadding="1" cellspacing="1">
<colgroup><col width="3%">
<col width="42%">
<col width="13%">
<col width="13%">
<col width="13%">
<col width="13%">

<col width="3%">


</colgroup><thead><tr><td colspan="3">BALANCE SHEET</td>
<td>Provider CCN: <span class="data">{{pId}}</span></td>
<td><div>PERIOD:</div><div>FROM <span class="data">{{year.start}}</span></div><div>TO <span class="data">{{year.end}}</span></div></td>
<td colspan="2"> WORKSHEET G</td>
</tr>
<tr><td colspan="7">(If you are nonproprietary and do not maintain fund-type accounting records, complete the General Fund column only) </td>
</tr>
<tr><td class="center" colspan="2" rowspan="2"><div>     Assets </div><div>(Omit cents)</div></td>
<td class="center"><div>General</div><div>Fund</div></td>
<td class="center"><div>Specific</div><div>Purpose</div><div>Fund</div></td>
<td class="center"><div>Endowment</div><div>Fund</div></td>
<td class="center"><div>Plant</div><div>Fund</div></td>
<td rowspan="2">&nbsp;</td>
</tr>
<tr><td class="center">1</td>
<td class="center">2</td>
<td class="center">3</td>
<td class="center">4</td>
</tr>
</thead><tbody>
<tr><td class="left" colspan="7"> CURRENT ASSETS      </td>
</tr>
<tr><td class="right">1</td>
<td> Cash on hand and in banks</td>
<td class="data right">{{NumberFormat data-1.00100-00100}}</td>
<td class="data right">{{NumberFormat data-1.00100-00200}}</td>
<td class="data right">{{NumberFormat data-1.00100-00300}}</td>
<td class="data right">{{NumberFormat data-1.00100-00400}}</td>
<td>1</td>
</tr>
<tr><td class="right">2</td>
<td> Temporary investments</td>
<td class="data right">{{NumberFormat data-1.00200-00100}}</td>
<td class="data right">{{NumberFormat data-1.00200-00200}}</td>
<td class="data right">{{NumberFormat data-1.00200-00300}}</td>
<td class="data right">{{NumberFormat data-1.00200-00400}}</td>
<td>2</td>
</tr>
<tr><td class="right">3</td>
<td> Notes receivable</td>
<td class="data right">{{NumberFormat data-1.00300-00100}}</td>
<td class="data right">{{NumberFormat data-1.00300-00200}}</td>
<td class="data right">{{NumberFormat data-1.00300-00300}}</td>
<td class="data right">{{NumberFormat data-1.00300-00400}}</td>
<td>3</td>
</tr>
<tr><td class="right">4</td>
<td> Accounts receivable</td>
<td class="data right">{{NumberFormat data-1.00400-00100}}</td>
<td class="data right">{{NumberFormat data-1.00400-00200}}</td>
<td class="data right">{{NumberFormat data-1.00400-00300}}</td>
<td class="data right">{{NumberFormat data-1.00400-00400}}</td>
<td>4</td>
</tr>
<tr><td class="right">5</td>
<td> Other receivables</td>
<td class="data right">{{NumberFormat data-1.00500-00100}}</td>
<td class="data right">{{NumberFormat data-1.00500-00200}}</td>
<td class="data right">{{NumberFormat data-1.00500-00300}}</td>
<td class="data right">{{NumberFormat data-1.00500-00400}}</td>
<td>5</td>
</tr>
<tr><td class="right">6</td>
<td> Allowances for uncollectible notes and  accounts receivable </td>
<td class="data right">{{NumberFormat data-1.00600-00100}}</td>
<td class="data right">{{NumberFormat data-1.00600-00200}}</td>
<td class="data right">{{NumberFormat data-1.00600-00300}}</td>
<td class="data right">{{NumberFormat data-1.00600-00400}}</td>
<td>6</td>
</tr>
<tr><td class="right">7</td>
<td> Inventory</td>
<td class="data right">{{NumberFormat data-1.00700-00100}}</td>
<td class="data right">{{NumberFormat data-1.00700-00200}}</td>
<td class="data right">{{NumberFormat data-1.00700-00300}}</td>
<td class="data right">{{NumberFormat data-1.00700-00400}}</td>
<td>7</td>
</tr>
<tr><td class="right">8</td>
<td> Prepaid expenses</td>
<td class="data right">{{NumberFormat data-1.00800-00100}}</td>
<td class="data right">{{NumberFormat data-1.00800-00200}}</td>
<td class="data right">{{NumberFormat data-1.00800-00300}}</td>
<td class="data right">{{NumberFormat data-1.00800-00400}}</td>
<td>8</td>
</tr>
<tr><td class="right">9</td>
<td> Other current assets</td>
<td class="data right">{{NumberFormat data-1.00900-00100}}</td>
<td class="data right">{{NumberFormat data-1.00900-00200}}</td>
<td class="data right">{{NumberFormat data-1.00900-00300}}</td>
<td class="data right">{{NumberFormat data-1.00900-00400}}</td>
<td>9</td>
</tr>
<tr><td class="right">10</td>
<td> Due from other funds</td>
<td class="data right">{{NumberFormat data-1.01000-00100}}</td>
<td class="data right">{{NumberFormat data-1.01000-00200}}</td>
<td class="data right">{{NumberFormat data-1.01000-00300}}</td>
<td class="data right">{{NumberFormat data-1.01000-00400}}</td>
<td>10</td>
</tr>
<tr><td class="right">11</td>
<td> Total current assets (sum of lines 1-10)</td>
<td class="data right">{{NumberFormat data-1.01100-00100}}</td>
<td class="data right">{{NumberFormat data-1.01100-00200}}</td>
<td class="data right">{{NumberFormat data-1.01100-00300}}</td>
<td class="data right">{{NumberFormat data-1.01100-00400}}</td>
<td>11</td>
</tr>
<tr><td class="left" colspan="7"> FIXED ASSETS      </td>
</tr>
<tr><td class="right">12</td>
<td> Land </td>
<td class="data right">{{NumberFormat data-1.01200-00100}}</td>
<td class="data right">{{NumberFormat data-1.01200-00200}}</td>
<td class="data right">{{NumberFormat data-1.01200-00300}}</td>
<td class="data right">{{NumberFormat data-1.01200-00400}}</td>
<td>12</td>
</tr>
<tr><td class="right">13</td>
<td> Land improvements</td>
<td class="data right">{{NumberFormat data-1.01300-00100}}</td>
<td class="data right">{{NumberFormat data-1.01300-00200}}</td>
<td class="data right">{{NumberFormat data-1.01300-00300}}</td>
<td class="data right">{{NumberFormat data-1.01300-00400}}</td>
<td>13</td>
</tr>
<tr><td class="right">14</td>
<td>    Accumulated depreciation </td>
<td class="data right">{{NumberFormat data-1.01400-00100}}</td>
<td class="data right">{{NumberFormat data-1.01400-00200}}</td>
<td class="data right">{{NumberFormat data-1.01400-00300}}</td>
<td class="data right">{{NumberFormat data-1.01400-00400}}</td>
<td>14</td>
</tr>
<tr><td class="right">15</td>
<td> Buildings</td>
<td class="data right">{{NumberFormat data-1.01500-00100}}</td>
<td class="data right">{{NumberFormat data-1.01500-00200}}</td>
<td class="data right">{{NumberFormat data-1.01500-00300}}</td>
<td class="data right">{{NumberFormat data-1.01500-00400}}</td>
<td>15</td>
</tr>
<tr><td class="right">16</td>
<td>    Accumulated depreciation </td>
<td class="data right">{{NumberFormat data-1.01600-00100}}</td>
<td class="data right">{{NumberFormat data-1.01600-00200}}</td>
<td class="data right">{{NumberFormat data-1.01600-00300}}</td>
<td class="data right">{{NumberFormat data-1.01600-00400}}</td>
<td>16</td>
</tr>
<tr><td class="right">17</td>
<td> Leasehold improvements </td>
<td class="data right">{{NumberFormat data-1.01700-00100}}</td>
<td class="data right">{{NumberFormat data-1.01700-00200}}</td>
<td class="data right">{{NumberFormat data-1.01700-00300}}</td>
<td class="data right">{{NumberFormat data-1.01700-00400}}</td>
<td>17</td>
</tr>
<tr><td class="right">18</td>
<td>    Accumulated depreciation </td>
<td class="data right">{{NumberFormat data-1.01800-00100}}</td>
<td class="data right">{{NumberFormat data-1.01800-00200}}</td>
<td class="data right">{{NumberFormat data-1.01800-00300}}</td>
<td class="data right">{{NumberFormat data-1.01800-00400}}</td>
<td>18</td>
</tr>
<tr><td class="right">19</td>
<td> Fixed equipment </td>
<td class="data right">{{NumberFormat data-1.01900-00100}}</td>
<td class="data right">{{NumberFormat data-1.01900-00200}}</td>
<td class="data right">{{NumberFormat data-1.01900-00300}}</td>
<td class="data right">{{NumberFormat data-1.01900-00400}}</td>
<td>19</td>
</tr>
<tr><td class="right">20</td>
<td>    Accumulated depreciation </td>
<td class="data right">{{NumberFormat data-1.02000-00100}}</td>
<td class="data right">{{NumberFormat data-1.02000-00200}}</td>
<td class="data right">{{NumberFormat data-1.02000-00300}}</td>
<td class="data right">{{NumberFormat data-1.02000-00400}}</td>
<td>20</td>
</tr>
<tr><td class="right">21</td>
<td> Automobiles and trucks </td>
<td class="data right">{{NumberFormat data-1.02100-00100}}</td>
<td class="data right">{{NumberFormat data-1.02100-00200}}</td>
<td class="data right">{{NumberFormat data-1.02100-00300}}</td>
<td class="data right">{{NumberFormat data-1.02100-00400}}</td>
<td>21</td>
</tr>
<tr><td class="right">22</td>
<td>    Accumulated depreciation </td>
<td class="data right">{{NumberFormat data-1.02200-00100}}</td>
<td class="data right">{{NumberFormat data-1.02200-00200}}</td>
<td class="data right">{{NumberFormat data-1.02200-00300}}</td>
<td class="data right">{{NumberFormat data-1.02200-00400}}</td>
<td>22</td>
</tr>
<tr><td class="right">23</td>
<td> Major movable equipment </td>
<td class="data right">{{NumberFormat data-1.02300-00100}}</td>
<td class="data right">{{NumberFormat data-1.02300-00200}}</td>
<td class="data right">{{NumberFormat data-1.02300-00300}}</td>
<td class="data right">{{NumberFormat data-1.02300-00400}}</td>
<td>23</td>
</tr>
<tr><td class="right">24</td>
<td>    Accumulated depreciation </td>
<td class="data right">{{NumberFormat data-1.02400-00100}}</td>
<td class="data right">{{NumberFormat data-1.02400-00200}}</td>
<td class="data right">{{NumberFormat data-1.02400-00300}}</td>
<td class="data right">{{NumberFormat data-1.02400-00400}}</td>
<td>24</td>
</tr>
<tr><td class="right">25</td>
<td> Minor equipment depreciable </td>
<td class="data right">{{NumberFormat data-1.02500-00100}}</td>
<td class="data right">{{NumberFormat data-1.02500-00200}}</td>
<td class="data right">{{NumberFormat data-1.02500-00300}}</td>
<td class="data right">{{NumberFormat data-1.02500-00400}}</td>
<td>25</td>
</tr>
<tr><td class="right">26</td>
<td>    Accumulated depreciation </td>
<td class="data right">{{NumberFormat data-1.02600-00100}}</td>
<td class="data right">{{NumberFormat data-1.02600-00200}}</td>
<td class="data right">{{NumberFormat data-1.02600-00300}}</td>
<td class="data right">{{NumberFormat data-1.02600-00400}}</td>
<td>26</td>
</tr>
<tr><td class="right">27</td>
<td> HIT designated Assets</td>
<td class="data right">{{NumberFormat data-1.02700-00100}}</td>
<td class="data right">{{NumberFormat data-1.02700-00200}}</td>
<td class="data right">{{NumberFormat data-1.02700-00300}}</td>
<td class="data right">{{NumberFormat data-1.02700-00400}}</td>
<td>27</td>
</tr>
<tr><td class="right">28</td>
<td>    Accumulated depreciation </td>
<td class="data right">{{NumberFormat data-1.02800-00100}}</td>
<td class="data right">{{NumberFormat data-1.02800-00200}}</td>
<td class="data right">{{NumberFormat data-1.02800-00300}}</td>
<td class="data right">{{NumberFormat data-1.02800-00400}}</td>
<td>28</td>
</tr>
<tr><td class="right">29</td>
<td> Minor equipment-nondepreciable </td>
<td class="data right">{{NumberFormat data-1.02900-00100}}</td>
<td class="data right">{{NumberFormat data-1.02900-00200}}</td>
<td class="data right">{{NumberFormat data-1.02900-00300}}</td>
<td class="data right">{{NumberFormat data-1.02900-00400}}</td>
<td>29</td>
</tr>
<tr><td class="right">30</td>
<td> Total fixed assets (sum of lines 12-29)</td>
<td class="data right">{{NumberFormat data-1.03000-00100}}</td>
<td class="data right">{{NumberFormat data-1.03000-00200}}</td>
<td class="data right">{{NumberFormat data-1.03000-00300}}</td>
<td class="data right">{{NumberFormat data-1.03000-00400}}</td>
<td>30</td>
</tr>
<tr><td class="left" colspan="7"> OTHER ASSETS      </td>
</tr>
<tr><td class="right">31</td>
<td> Investments</td>
<td class="data right">{{NumberFormat data-1.03100-00100}}</td>
<td class="data right">{{NumberFormat data-1.03100-00200}}</td>
<td class="data right">{{NumberFormat data-1.03100-00300}}</td>
<td class="data right">{{NumberFormat data-1.03100-00400}}</td>
<td>31</td>
</tr>
<tr><td class="right">32</td>
<td> Deposits on leases</td>
<td class="data right">{{NumberFormat data-1.03200-00100}}</td>
<td class="data right">{{NumberFormat data-1.03200-00200}}</td>
<td class="data right">{{NumberFormat data-1.03200-00300}}</td>
<td class="data right">{{NumberFormat data-1.03200-00400}}</td>
<td>32</td>
</tr>
<tr><td class="right">33</td>
<td> Due from owners/officers</td>
<td class="data right">{{NumberFormat data-1.03300-00100}}</td>
<td class="data right">{{NumberFormat data-1.03300-00200}}</td>
<td class="data right">{{NumberFormat data-1.03300-00300}}</td>
<td class="data right">{{NumberFormat data-1.03300-00400}}</td>
<td>33</td>
</tr>
<tr><td class="right">34</td>
<td> Other assets</td>
<td class="data right">{{NumberFormat data-1.03400-00100}}</td>
<td class="data right">{{NumberFormat data-1.03400-00200}}</td>
<td class="data right">{{NumberFormat data-1.03400-00300}}</td>
<td class="data right">{{NumberFormat data-1.03400-00400}}</td>
<td>34</td>
</tr>
<tr><td class="right">35</td>
<td> Total other assets (sum of lines 31-34)</td>
<td class="data right">{{NumberFormat data-1.03500-00100}}</td>
<td class="data right">{{NumberFormat data-1.03500-00200}}</td>
<td class="data right">{{NumberFormat data-1.03500-00300}}</td>
<td class="data right">{{NumberFormat data-1.03500-00400}}</td>
<td>35</td>
</tr>
<tr><td class="right">36</td>
<td> Total assets (sum of lines 11, 30, and 35)</td>
<td class="data right">{{NumberFormat data-1.03600-00100}}</td>
<td class="data right">{{NumberFormat data-1.03600-00200}}</td>
<td class="data right">{{NumberFormat data-1.03600-00300}}</td>
<td class="data right">{{NumberFormat data-1.03600-00400}}</td>
<td>36</td>
</tr>
<tr><td class="left" colspan="7"> Liabilities and Fund  Balances  (Omit cents) </td>
</tr>
<tr><td class="left" colspan="7"> CURRENT LIABILITIES      </td>
</tr>
<tr><td class="right">37</td>
<td> Accounts payable</td>
<td class="data right">{{NumberFormat data-1.03700-00100}}</td>
<td class="data right">{{NumberFormat data-1.03700-00200}}</td>
<td class="data right">{{NumberFormat data-1.03700-00300}}</td>
<td class="data right">{{NumberFormat data-1.03700-00400}}</td>
<td>37</td>
</tr>
<tr><td class="right">38</td>
<td> Salaries, wages, and fees payable</td>
<td class="data right">{{NumberFormat data-1.03800-00100}}</td>
<td class="data right">{{NumberFormat data-1.03800-00200}}</td>
<td class="data right">{{NumberFormat data-1.03800-00300}}</td>
<td class="data right">{{NumberFormat data-1.03800-00400}}</td>
<td>38</td>
</tr>
<tr><td class="right">39</td>
<td> Payroll taxes payable</td>
<td class="data right">{{NumberFormat data-1.03900-00100}}</td>
<td class="data right">{{NumberFormat data-1.03900-00200}}</td>
<td class="data right">{{NumberFormat data-1.03900-00300}}</td>
<td class="data right">{{NumberFormat data-1.03900-00400}}</td>
<td>39</td>
</tr>
<tr><td class="right">40</td>
<td> Notes and loans payable (short term)</td>
<td class="data right">{{NumberFormat data-1.04000-00100}}</td>
<td class="data right">{{NumberFormat data-1.04000-00200}}</td>
<td class="data right">{{NumberFormat data-1.04000-00300}}</td>
<td class="data right">{{NumberFormat data-1.04000-00400}}</td>
<td>40</td>
</tr>
<tr><td class="right">41</td>
<td> Deferred income</td>
<td class="data right">{{NumberFormat data-1.04100-00100}}</td>
<td class="data right">{{NumberFormat data-1.04100-00200}}</td>
<td class="data right">{{NumberFormat data-1.04100-00300}}</td>
<td class="data right">{{NumberFormat data-1.04100-00400}}</td>
<td>41</td>
</tr>
<tr><td class="right">42</td>
<td> Accelerated payments</td>
<td class="data right">{{NumberFormat data-1.04200-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.04200-00200}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.04200-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.04200-00400}}</td>
<td>42</td>
</tr>
<tr><td class="right">43</td>
<td> Due to other funds</td>
<td class="data right">{{NumberFormat data-1.04300-00100}}</td>
<td class="data right">{{NumberFormat data-1.04300-00200}}</td>
<td class="data right">{{NumberFormat data-1.04300-00300}}</td>
<td class="data right">{{NumberFormat data-1.04300-00400}}</td>
<td>43</td>
</tr>
<tr><td class="right">44</td>
<td> Other current liabilities</td>
<td class="data right">{{NumberFormat data-1.04400-00100}}</td>
<td class="data right">{{NumberFormat data-1.04400-00200}}</td>
<td class="data right">{{NumberFormat data-1.04400-00300}}</td>
<td class="data right">{{NumberFormat data-1.04400-00400}}</td>
<td>44</td>
</tr>
<tr><td class="right">45</td>
<td> Total current liabilities (sum of  lines 37 thru 44) </td>
<td class="data right">{{NumberFormat data-1.04500-00100}}</td>
<td class="data right">{{NumberFormat data-1.04500-00200}}</td>
<td class="data right">{{NumberFormat data-1.04500-00300}}</td>
<td class="data right">{{NumberFormat data-1.04500-00400}}</td>
<td>45</td>
</tr>
<tr><td class="left" colspan="7"> LONG TERM LIABILITIES </td>
</tr>
<tr><td class="right">46</td>
<td> Mortgage payable</td>
<td class="data right">{{NumberFormat data-1.04600-00100}}</td>
<td class="data right">{{NumberFormat data-1.04600-00200}}</td>
<td class="data right">{{NumberFormat data-1.04600-00300}}</td>
<td class="data right">{{NumberFormat data-1.04600-00400}}</td>
<td>46</td>
</tr>
<tr><td class="right">47</td>
<td> Notes payable</td>
<td class="data right">{{NumberFormat data-1.04700-00100}}</td>
<td class="data right">{{NumberFormat data-1.04700-00200}}</td>
<td class="data right">{{NumberFormat data-1.04700-00300}}</td>
<td class="data right">{{NumberFormat data-1.04700-00400}}</td>
<td>47</td>
</tr>
<tr><td class="right">48</td>
<td> Unsecured loans</td>
<td class="data right">{{NumberFormat data-1.04800-00100}}</td>
<td class="data right">{{NumberFormat data-1.04800-00200}}</td>
<td class="data right">{{NumberFormat data-1.04800-00300}}</td>
<td class="data right">{{NumberFormat data-1.04800-00400}}</td>
<td>48</td>
</tr>
<tr><td class="right">49</td>
<td> Other long term liabilities</td>
<td class="data right">{{NumberFormat data-1.04900-00100}}</td>
<td class="data right">{{NumberFormat data-1.04900-00200}}</td>
<td class="data right">{{NumberFormat data-1.04900-00300}}</td>
<td class="data right">{{NumberFormat data-1.04900-00400}}</td>
<td>49</td>
</tr>
<tr><td class="right">50</td>
<td> Total long term liabilities (sum of  lines 46 thru 49) </td>
<td class="data right">{{NumberFormat data-1.05000-00100}}</td>
<td class="data right">{{NumberFormat data-1.05000-00200}}</td>
<td class="data right">{{NumberFormat data-1.05000-00300}}</td>
<td class="data right">{{NumberFormat data-1.05000-00400}}</td>
<td>50</td>
</tr>
<tr><td class="right">51</td>
<td> Total liabilities (sum of lines 45 and 50)</td>
<td class="data right">{{NumberFormat data-1.05100-00100}}</td>
<td class="data right">{{NumberFormat data-1.05100-00200}}</td>
<td class="data right">{{NumberFormat data-1.05100-00300}}</td>
<td class="data right">{{NumberFormat data-1.05100-00400}}</td>
<td>51</td>
</tr>
<tr><td class="left" colspan="7"> CAPITAL ACCOUNTS </td>
</tr>
<tr><td class="right">52</td>
<td> General fund balance</td>
<td class="data right">{{NumberFormat data-1.05200-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.05200-00200}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.05200-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.05200-00400}}</td>
<td>52</td>
</tr>
<tr><td class="right">53</td>
<td> Specific purpose fund</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.05300-00100}}</td>
<td class="data right">{{NumberFormat data-1.05300-00200}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.05300-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.05300-00400}}</td>
<td>53</td>
</tr>
<tr><td class="right">54</td>
<td> Donor created - endowment fund  balance - restricted </td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.05400-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.05400-00200}}</td>
<td class="data right">{{NumberFormat data-1.05400-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.05400-00400}}</td>
<td>54</td>
</tr>
<tr><td class="right">55</td>
<td> Donor created - endowment fund  balance - unrestricted </td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.05500-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.05500-00200}}</td>
<td class="data right">{{NumberFormat data-1.05500-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.05500-00400}}</td>
<td>55</td>
</tr>
<tr><td class="right">56</td>
<td> Governing body created - endowment  fund balance </td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.05600-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.05600-00200}}</td>
<td class="data right">{{NumberFormat data-1.05600-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.05600-00400}}</td>
<td>56</td>
</tr>
<tr><td class="right">57</td>
<td> Plant fund balance - invested in plant</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.05700-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.05700-00200}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.05700-00300}}</td>
<td class="data right">{{NumberFormat data-1.05700-00400}}</td>
<td>57</td>
</tr>
<tr><td class="right">58</td>
<td> Plant fund balance - reserve for plant  improvement, replacement, and expansion </td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.05800-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.05800-00200}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.05800-00300}}</td>
<td class="data right">{{NumberFormat data-1.05800-00400}}</td>
<td>58</td>
</tr>
<tr><td class="right">59</td>
<td> Total fund balances (sum of lines 52 thru 58)</td>
<td class="data right">{{NumberFormat data-1.05900-00100}}</td>
<td class="data right">{{NumberFormat data-1.05900-00200}}</td>
<td class="data right">{{NumberFormat data-1.05900-00300}}</td>
<td class="data right">{{NumberFormat data-1.05900-00400}}</td>
<td>59</td>
</tr>
<tr><td class="right">60</td>
<td> Total liabilities and fund balances (sum of  lines 51 and 59) </td>
<td class="data right">{{NumberFormat data-1.06000-00100}}</td>
<td class="data right">{{NumberFormat data-1.06000-00200}}</td>
<td class="data right">{{NumberFormat data-1.06000-00300}}</td>
<td class="data right">{{NumberFormat data-1.06000-00400}}</td>
<td>60</td>
</tr>
<tr><td colspan="7">FORM CMS-2552-10 (08/2011) (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-II, SECTION 4040)</td>
</tr>
<tr><td colspan="2">40-601 - 10-12</td>
<td colspan="3">&nbsp;</td>
<td colspan="2"> Rev. 6</td>
</tr>
</tbody></table>
</div>
