
<div class="report"><table id="report_table" border="1" width="100%" cellpadding="1" cellspacing="1">
<colgroup><col width="3%">
<col width="22%">
<col width="9%">
<col width="9%">
<col width="9%">
<col width="9%">
<col width="9%">
<col width="9%">
<col width="9%">
<col width="9%">

<col width="3%">
</colgroup><thead><tr><td colspan="5">STATEMENT OF CHANGES IN FUND BALANCES</td>
<td colspan="2">Provider CCN: <span class="data">{{pId}}</span></td>
<td colspan="2"><div>PERIOD:</div><div>FROM <span class="data">{{year.start}}</span></div><div>TO <span class="data">{{year.end}}</span></div></td>
<td colspan="2"> WORKSHEET G-1</td>
</tr>
</thead><tbody><tr><td colspan="2" rowspan="2">&nbsp;</td>
<td class="center" colspan="2">              GENERAL FUND</td>
<td class="center" colspan="2">     SPECIFIC PURPOSE FUND</td>
<td class="center" colspan="2">         ENDOWMENT FUND</td>
<td class="center" colspan="2">           PLANT FUND</td>
<td rowspan="2">&nbsp;</td>
</tr>
<tr><td class="center">1</td>
<td class="center">2</td>
<td class="center">3</td>
<td class="center">4</td>
<td class="center">5</td>
<td class="center">6</td>
<td class="center">7</td>
<td class="center">8</td>
</tr>
<tr><td class="right">1</td>
<td> Fund balances at beginning of period</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00100-00100}}</td>
<td class="data right">{{NumberFormat data-1.00100-00200}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00100-00300}}</td>
<td class="data right">{{NumberFormat data-1.00100-00400}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00100-00500}}</td>
<td class="data right">{{NumberFormat data-1.00100-00600}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00100-00700}}</td>
<td class="data right">{{NumberFormat data-1.00100-00800}}</td>
<td class="right">1</td>
</tr>
<tr><td class="right">2</td>
<td> Net income (loss) (from Worksheet G-3, line 29)</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00200-00100}}</td>
<td class="data right">{{NumberFormat data-1.00200-00200}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00200-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00200-00400}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00200-00500}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00200-00600}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00200-00700}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00200-00800}}</td>
<td class="right">2</td>
</tr>
<tr><td class="right">3</td>
<td> Total (sum of line 1 and line 2)</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00300-00100}}</td>
<td class="data right">{{NumberFormat data-1.00300-00200}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00300-00300}}</td>
<td class="data right">{{NumberFormat data-1.00300-00400}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00300-00500}}</td>
<td class="data right">{{NumberFormat data-1.00300-00600}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00300-00700}}</td>
<td class="data right">{{NumberFormat data-1.00300-00800}}</td>
<td class="right">3</td>
</tr>
<tr><td class="right">4</td>
<td>Additions (credit adjustments) (specify)ROUNDING</td>
<td class="data right">{{NumberFormat data-1.00400-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00400-00200}}</td>
<td class="data right">{{NumberFormat data-1.00400-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00400-00400}}</td>
<td class="data right">{{NumberFormat data-1.00400-00500}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00400-00600}}</td>
<td class="data right">{{NumberFormat data-1.00400-00700}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00400-00800}}</td>
<td class="right">4</td>
</tr>
<tr><td class="right">5</td>
<td class="data">{{data-1.00500-00000}}</td>
<td class="data right">{{NumberFormat data-1.00500-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00500-00200}}</td>
<td class="data right">{{NumberFormat data-1.00500-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00500-00400}}</td>
<td class="data right">{{NumberFormat data-1.00500-00500}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00500-00600}}</td>
<td class="data right">{{NumberFormat data-1.00500-00700}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00500-00800}}</td>
<td class="right">5</td>
</tr>
<tr><td class="right">6</td>
<td class="data">{{data-1.00600-00000}}</td>
<td class="data right">{{NumberFormat data-1.00600-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00600-00200}}</td>
<td class="data right">{{NumberFormat data-1.00600-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00600-00400}}</td>
<td class="data right">{{NumberFormat data-1.00600-00500}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00600-00600}}</td>
<td class="data right">{{NumberFormat data-1.00600-00700}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00600-00800}}</td>
<td class="right">6</td>
</tr>
<tr><td class="right">7</td>
<td class="data">{{data-1.00700-00000}}</td>
<td class="data right">{{NumberFormat data-1.00700-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00700-00200}}</td>
<td class="data right">{{NumberFormat data-1.00700-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00700-00400}}</td>
<td class="data right">{{NumberFormat data-1.00700-00500}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00700-00600}}</td>
<td class="data right">{{NumberFormat data-1.00700-00700}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00700-00800}}</td>
<td class="right">7</td>
</tr>
<tr><td class="right">8</td>
<td class="data">{{data-1.00800-00000}}</td>
<td class="data right">{{NumberFormat data-1.00800-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00800-00200}}</td>
<td class="data right">{{NumberFormat data-1.00800-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00800-00400}}</td>
<td class="data right">{{NumberFormat data-1.00800-00500}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00800-00600}}</td>
<td class="data right">{{NumberFormat data-1.00800-00700}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00800-00800}}</td>
<td class="right">8</td>
</tr>
<tr><td class="right">9</td>
<td class="data">{{data-1.00900-00000}}</td>
<td class="data right">{{NumberFormat data-1.00900-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00900-00200}}</td>
<td class="data right">{{NumberFormat data-1.00900-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00900-00400}}</td>
<td class="data right">{{NumberFormat data-1.00900-00500}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00900-00600}}</td>
<td class="data right">{{NumberFormat data-1.00900-00700}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00900-00800}}</td>
<td class="right">9</td>
</tr>
<tr><td class="right">10</td>
<td> Total additions (sum of lines 4-9)</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01000-00100}}</td>
<td class="data right">{{NumberFormat data-1.01000-00200}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01000-00300}}</td>
<td class="data right">{{NumberFormat data-1.01000-00400}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01000-00500}}</td>
<td class="data right">{{NumberFormat data-1.01000-00600}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01000-00700}}</td>
<td class="data right">{{NumberFormat data-1.01000-00800}}</td>
<td class="right">10</td>
</tr>
<tr><td class="right">11</td>
<td> Subtotal (line 3 plus line 10)</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01100-00100}}</td>
<td class="data right">{{NumberFormat data-1.01100-00200}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01100-00300}}</td>
<td class="data right">{{NumberFormat data-1.01100-00400}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01100-00500}}</td>
<td class="data right">{{NumberFormat data-1.01100-00600}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01100-00700}}</td>
<td class="data right">{{NumberFormat data-1.01100-00800}}</td>
<td class="right">11</td>
</tr>
<tr><td class="right">12</td>
<td>Deductions (debit adjustments) (specify)</td>
<td class="data right">{{NumberFormat data-1.01200-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01200-00200}}</td>
<td class="data right">{{NumberFormat data-1.01200-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01200-00400}}</td>
<td class="data right">{{NumberFormat data-1.01200-00500}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01200-00600}}</td>
<td class="data right">{{NumberFormat data-1.01200-00700}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01200-00800}}</td>
<td class="right">12</td>
</tr>
<tr><td class="right">13</td>
<td class="data">{{data-1.01300-00000}}</td>
<td class="data right">{{NumberFormat data-1.01300-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01300-00200}}</td>
<td class="data right">{{NumberFormat data-1.01300-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01300-00400}}</td>
<td class="data right">{{NumberFormat data-1.01300-00500}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01300-00600}}</td>
<td class="data right">{{NumberFormat data-1.01300-00700}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01300-00800}}</td>
<td class="right">13</td>
</tr>
<tr><td class="right">14</td>
<td class="data">{{data-1.01400-00000}}</td>
<td class="data right">{{NumberFormat data-1.01400-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01400-00200}}</td>
<td class="data right">{{NumberFormat data-1.01400-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01400-00400}}</td>
<td class="data right">{{NumberFormat data-1.01400-00500}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01400-00600}}</td>
<td class="data right">{{NumberFormat data-1.01400-00700}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01400-00800}}</td>
<td class="right">14</td>
</tr>
<tr><td class="right">15</td>
<td class="data">{{data-1.01500-00000}}</td>
<td class="data right">{{NumberFormat data-1.01500-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01500-00200}}</td>
<td class="data right">{{NumberFormat data-1.01500-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01500-00400}}</td>
<td class="data right">{{NumberFormat data-1.01500-00500}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01500-00600}}</td>
<td class="data right">{{NumberFormat data-1.01500-00700}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01500-00800}}</td>
<td class="right">15</td>
</tr>
<tr><td class="right">16</td>
<td class="data">{{data-1.01600-00000}}</td>
<td class="data right">{{NumberFormat data-1.01600-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01600-00200}}</td>
<td class="data right">{{NumberFormat data-1.01600-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01600-00400}}</td>
<td class="data right">{{NumberFormat data-1.01600-00500}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01600-00600}}</td>
<td class="data right">{{NumberFormat data-1.01600-00700}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01600-00800}}</td>
<td class="right">16</td>
</tr>
<tr><td class="right">17</td>
<td class="data">{{data-1.01700-00000}}</td>
<td class="data right">{{NumberFormat data-1.01700-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01700-00200}}</td>
<td class="data right">{{NumberFormat data-1.01700-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01700-00400}}</td>
<td class="data right">{{NumberFormat data-1.01700-00500}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01700-00600}}</td>
<td class="data right">{{NumberFormat data-1.01700-00700}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01700-00800}}</td>
<td class="right">17</td>
</tr>
<tr><td class="right">18</td>
<td> Total deductions (sum of lines 12-17)</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01800-00100}}</td>
<td class="data right">{{NumberFormat data-1.01800-00200}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01800-00300}}</td>
<td class="data right">{{NumberFormat data-1.01800-00400}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01800-00500}}</td>
<td class="data right">{{NumberFormat data-1.01800-00600}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01800-00700}}</td>
<td class="data right">{{NumberFormat data-1.01800-00800}}</td>
<td class="right">18</td>
</tr>
<tr><td class="right">19</td>
<td> Fund balance at end of period per balance  sheet (line 11 minus line 18) </td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01900-00100}}</td>
<td class="data right">{{NumberFormat data-1.01900-00200}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01900-00300}}</td>
<td class="data right">{{NumberFormat data-1.01900-00400}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01900-00500}}</td>
<td class="data right">{{NumberFormat data-1.01900-00600}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01900-00700}}</td>
<td class="data right">{{NumberFormat data-1.01900-00800}}</td>
<td class="right">19</td>
</tr>
<tr><td colspan="11">FORM CMS-2552-10 (08/2011) (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-II, SECTION 4040)</td>
</tr>
<tr><td colspan="2">40-602 - 10-12</td>
<td colspan="7">&nbsp;</td>
<td colspan="2"> Rev. 3</td>
</tr>
</tbody></table>
</div>
