
<div class="report"><table id="report_table" border="1" width="100%" cellpadding="1" cellspacing="1">
<colgroup><col width="5%">
<col width="22%">
<col width="17%">
<col width="17%">
<col width="17%">
<col width="17%">

<col width="5%">

</colgroup><thead><tr><td colspan="3">STATEMENT OF PATIENT REVENUES AND OPERATING EXPENSES </td>
<td>Provider CCN: <span class="data">{{pId}}</span></td>
<td><div>PERIOD:</div><div>FROM <span class="data">{{year.start}}</span></div><div>TO <span class="data">{{year.end}}</span></div></td>
<td colspan="2"> WORKSHEET G-2,  PARTS I &amp; II </td>
</tr>
</thead><tbody><tr><td colspan="7">       PART I - PATIENT REVENUES              </td>
</tr>
<tr><td colspan="3" rowspan="2">    REVENUE CENTER  </td>
<td class="center">INPATIENT</td>
<td class="center">OUTPATIENT</td>
<td class="center"> TOTAL</td>
<td rowspan="2">&nbsp;</td>
</tr>
<tr><td class="center">1</td>
<td class="center">2</td>
<td class="center">3</td>
</tr>
<tr><td colspan="7"> GENERAL INPATIENT ROUTINE CARE SERVICES      </td>
</tr>
<tr><td class="right">1</td>
<td colspan="2"> Hospital</td>
<td class="data right">{{NumberFormat data-1.00100-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00100-00200}}</td>
<td class="data right">{{NumberFormat data-1.00100-00300}}</td>
<td class="right">1</td>
</tr>
<tr><td class="right">2</td>
<td colspan="2"> Subprovider IPF</td>
<td class="data right">{{NumberFormat data-1.00200-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00200-00200}}</td>
<td class="data right">{{NumberFormat data-1.00200-00300}}</td>
<td class="right">2</td>
</tr>
<tr><td class="right">3</td>
<td colspan="2"> Subprovider IRF</td>
<td class="data right">{{NumberFormat data-1.00300-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00300-00200}}</td>
<td class="data right">{{NumberFormat data-1.00300-00300}}</td>
<td class="right">3</td>
</tr>
<tr><td class="right">4</td>
<td colspan="2"> Subprovider  (Other)</td>
<td class="data right">{{NumberFormat data-1.00400-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00400-00200}}</td>
<td class="data right">{{NumberFormat data-1.00400-00300}}</td>
<td class="right">4</td>
</tr>
<tr><td class="right">5</td>
<td colspan="2"> Swing bed - SNF</td>
<td class="data right">{{NumberFormat data-1.00500-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00500-00200}}</td>
<td class="data right">{{NumberFormat data-1.00500-00300}}</td>
<td class="right">5</td>
</tr>
<tr><td class="right">6</td>
<td colspan="2"> Swing bed - NF</td>
<td class="data right">{{NumberFormat data-1.00600-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00600-00200}}</td>
<td class="data right">{{NumberFormat data-1.00600-00300}}</td>
<td class="right">6</td>
</tr>
<tr><td class="right">7</td>
<td colspan="2"> Skilled nursing facility</td>
<td class="data right">{{NumberFormat data-1.00700-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00700-00200}}</td>
<td class="data right">{{NumberFormat data-1.00700-00300}}</td>
<td class="right">7</td>
</tr>
<tr><td class="right">8</td>
<td colspan="2"> Nursing facility</td>
<td class="data right">{{NumberFormat data-1.00800-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00800-00200}}</td>
<td class="data right">{{NumberFormat data-1.00800-00300}}</td>
<td class="right">8</td>
</tr>
<tr><td class="right">9</td>
<td colspan="2"> Other long term care</td>
<td class="data right">{{NumberFormat data-1.00900-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00900-00200}}</td>
<td class="data right">{{NumberFormat data-1.00900-00300}}</td>
<td class="right">9</td>
</tr>
<tr><td class="right">10</td>
<td colspan="2"> Total general inpatient care services (sum of lines 1-9)</td>
<td class="data right">{{NumberFormat data-1.01000-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01000-00200}}</td>
<td class="data right">{{NumberFormat data-1.01000-00300}}</td>
<td class="right">10</td>
</tr>
<tr><td colspan="7"> INTENSIVE CARE TYPE INPATIENT HOSPITAL SERVICES      </td>
</tr>
<tr><td class="right">11</td>
<td colspan="2"> Intensive care unit</td>
<td class="data right">{{NumberFormat data-1.01100-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01100-00200}}</td>
<td class="data right">{{NumberFormat data-1.01100-00300}}</td>
<td class="right">11</td>
</tr>
<tr><td class="right">12</td>
<td colspan="2"> Coronary care unit</td>
<td class="data right">{{NumberFormat data-1.01200-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01200-00200}}</td>
<td class="data right">{{NumberFormat data-1.01200-00300}}</td>
<td class="right">12</td>
</tr>
<tr><td class="right">13</td>
<td colspan="2"> Burn intensive care unit</td>
<td class="data right">{{NumberFormat data-1.01300-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01300-00200}}</td>
<td class="data right">{{NumberFormat data-1.01300-00300}}</td>
<td class="right">13</td>
</tr>
<tr><td class="right">14</td>
<td colspan="2"> Surgical intensive care unit</td>
<td class="data right">{{NumberFormat data-1.01400-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01400-00200}}</td>
<td class="data right">{{NumberFormat data-1.01400-00300}}</td>
<td class="right">14</td>
</tr>
<tr><td class="right">15</td>
<td colspan="2"> Other special care (specify)</td>
<td class="data right">{{NumberFormat data-1.01500-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01500-00200}}</td>
<td class="data right">{{NumberFormat data-1.01500-00300}}</td>
<td class="right">15</td>
</tr>
<tr><td class="right">16</td>
<td colspan="2"> Total intensive care type inpatient hospital services (sum of  of lines 11-15) </td>
<td class="data right">{{NumberFormat data-1.01600-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01600-00200}}</td>
<td class="data right">{{NumberFormat data-1.01600-00300}}</td>
<td class="right">16</td>
</tr>
<tr><td class="right">17</td>
<td colspan="2"> Total inpatient routine care services (sum of lines 10 and 16)</td>
<td class="data right">{{NumberFormat data-1.01700-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01700-00200}}</td>
<td class="data right">{{NumberFormat data-1.01700-00300}}</td>
<td class="right">17</td>
</tr>
<tr><td class="right">18</td>
<td colspan="2"> Ancillary services</td>
<td class="data right">{{NumberFormat data-1.01800-00100}}</td>
<td class="data right">{{NumberFormat data-1.01800-00200}}</td>
<td class="data right">{{NumberFormat data-1.01800-00300}}</td>
<td class="right">18</td>
</tr>
<tr><td class="right">19</td>
<td colspan="2"> Outpatient services</td>
<td class="data right">{{NumberFormat data-1.01900-00100}}</td>
<td class="data right">{{NumberFormat data-1.01900-00200}}</td>
<td class="data right">{{NumberFormat data-1.01900-00300}}</td>
<td class="right">19</td>
</tr>
<tr><td class="right">20</td>
<td colspan="2"> Rural Health Clinic (RHC)</td>
<td class="data right">{{NumberFormat data-1.02000-00100}}</td>
<td class="data right">{{NumberFormat data-1.02000-00200}}</td>
<td class="data right">{{NumberFormat data-1.02000-00300}}</td>
<td class="right">20</td>
</tr>
<tr><td class="right">21</td>
<td colspan="2"> Federally Qualified Health Center (FQHC)</td>
<td class="data right">{{NumberFormat data-1.02100-00100}}</td>
<td class="data right">{{NumberFormat data-1.02100-00200}}</td>
<td class="data right">{{NumberFormat data-1.02100-00300}}</td>
<td class="right">21</td>
</tr>
<tr><td class="right">22</td>
<td colspan="2"> Home health agency</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.02200-00100}}</td>
<td class="data right">{{NumberFormat data-1.02200-00200}}</td>
<td class="data right">{{NumberFormat data-1.02200-00300}}</td>
<td class="right">22</td>
</tr>
<tr><td class="right">23</td>
<td colspan="2"> Ambulance</td>
<td class="data right">{{NumberFormat data-1.02300-00100}}</td>
<td class="data right">{{NumberFormat data-1.02300-00200}}</td>
<td class="data right">{{NumberFormat data-1.02300-00300}}</td>
<td class="right">23</td>
</tr>
<tr><td class="right">24</td>
<td colspan="2"> Outpatient rehabilitation providers</td>
<td class="fillgrey right">{{NumberFormat data-1.02400-00100}}</td>
<td class="data right">{{NumberFormat data-1.02400-00200}}</td>
<td class="data right">{{NumberFormat data-1.02400-00300}}</td>
<td class="right">24</td>
</tr>
<tr><td class="right">25</td>
<td colspan="2"> ASC</td>
<td class="data right">{{NumberFormat data-1.02500-00100}}</td>
<td class="data right">{{NumberFormat data-1.02500-00200}}</td>
<td class="data right">{{NumberFormat data-1.02500-00300}}</td>
<td class="right">25</td>
</tr>
<tr><td class="right">26</td>
<td colspan="2"> Hospice</td>
<td class="data right">{{NumberFormat data-1.02600-00100}}</td>
<td class="data right">{{NumberFormat data-1.02600-00200}}</td>
<td class="data right">{{NumberFormat data-1.02600-00300}}</td>
<td class="right">26</td>
</tr>

<tr><td class="right">27</td>
<td colspan="2"> Other (specify) </td>
<td class="data right">{{NumberFormat data-1.02700-00100}}</td>
<td class="data right">{{NumberFormat data-1.02700-00200}}</td>
<td class="data right">{{NumberFormat data-1.02700-00300}}</td>
<td class="right">27</td>
</tr>


<tr><td class="right">28</td>
<td colspan="2"> Total patient revenues (sum of lines 17-27) (transfer column 3 to  Worksheet G-3, line 1) </td>
<td class="data right">{{NumberFormat data-1.02800-00100}}</td>
<td class="data right">{{NumberFormat data-1.02800-00200}}</td>
<td class="data right">{{NumberFormat data-1.02800-00300}}</td>
<td class="right">28</td>
</tr>
<tr><td colspan="7">       PART II - OPERATING EXPENSES       </td>
</tr>
<tr><td colspan="4">&nbsp;</td>
<td class="center">1</td>
<td class="center">2</td>
<td>&nbsp;</td>
</tr>
<tr><td class="right">29</td>
<td colspan="3"> Operating expenses (per Wkst. A, column 3, line 200)</td>
<td class="data fillgrey">&nbsp;{{NumberFormat data-1.02900-00100}}</td>
<td class="data right">{{NumberFormat data-1.02900-00200}}</td>
<td class="right">29</td>
</tr>
<tr><td class="right">30</td>
<td colspan="3"> Add (specify)  </td>
<td class="data right">{{NumberFormat data-1.03000-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03000-00200}}</td>
<td class="right">30</td>
</tr>

<tr><td class="right">31</td>
<td class="data" colspan="3">{{data-1.03100-00000}}</td>
<td class="data right">{{NumberFormat data-1.03100-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03100-00200}}</td>
<td class="right">31</td>
</tr>

<tr><td class="right">32</td>
<td class="data" colspan="3">{{data-1.03200-00000}}</td>
<td class="data right">{{NumberFormat data-1.03200-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03200-00200}}</td>
<td class="right">32</td>
</tr>

<tr><td class="right">33</td>
<td class="data" colspan="3">{{data-1.03300-00000}}</td>
<td class="data right">{{NumberFormat data-1.03300-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03300-00200}}</td>
<td class="right">33</td>
</tr>

<tr><td class="right">34</td>
<td class="data" colspan="3">{{data-1.03400-00000}}</td>
<td class="data right">{{NumberFormat data-1.03400-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03400-00200}}</td>
<td class="right">34</td>
</tr>

<tr><td class="right">35</td>
<td class="data" colspan="3">{{data-1.03500-00000}}</td>
<td class="data right">{{NumberFormat data-1.03500-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03500-00200}}</td>
<td class="right">35</td>
</tr>
<tr><td class="right">36</td>
<td colspan="3"> Total additions (sum of lines 30-35)</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03600-00100}}</td>
<td class="data right">{{NumberFormat data-1.03600-00200}}</td>
<td class="right">36</td>
</tr>
<tr><td class="right">37</td>
<td colspan="3"> Deduct (specify) </td>
<td class="data right">{{NumberFormat data-1.03700-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03700-00200}}</td>
<td class="right">37</td>
</tr>

<tr><td class="right">38</td>
<td class="data" colspan="3">{{data-1.03800-00000}}</td>
<td class="data right">{{NumberFormat data-1.03800-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03800-00200}}</td>
<td class="right">38</td>
</tr>





<tr><td class="right">39</td>
<td class="data" colspan="3">{{data-1.03900-00000}}</td>
<td class="data right">{{NumberFormat data-1.03900-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03900-00200}}</td>
<td class="right">39</td>
</tr>

<tr><td class="right">40</td>
<td class="data" colspan="3">{{data-1.04000-00000}}</td>
<td class="data right">{{NumberFormat data-1.04000-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.04000-00200}}</td>
<td class="right">40</td>
</tr>

<tr><td class="right">41</td>
<td class="data" colspan="3">{{data-1.04100-00000}}</td>
<td class="data right">{{NumberFormat data-1.04100-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.04100-00200}}</td>
<td class="right">41</td>
</tr>
<tr><td class="right">42</td>
<td colspan="3"> Total deductions (sum of lines 37-41)</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.04200-00100}}</td>
<td class="data right">{{NumberFormat data-1.04200-00200}}</td>
<td class="right">42</td>
</tr>
<tr><td class="right">43</td>
<td colspan="3"> Total operating expenses (sum of lines 29 and 36 minus line 42) (transfer to Worksheet G-3, line 4)</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.04300-00100}}</td>
<td class="data right">{{NumberFormat data-1.04300-00200}}</td>
<td class="right">43</td>
</tr>
<tr><td colspan="7">FORM CMS-2552-10 (08/2011) (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-II, SECTION 4040)</td>
</tr>
<tr><td colspan="2">40-603 - 10-12</td>
<td colspan="3">&nbsp;</td>
<td colspan="2"> Rev. 3</td>
</tr>
</tbody></table>
</div>
