
<div class="report"><table id="report_table" border="1" width="100%" cellpadding="1" cellspacing="1">
<colgroup><col width="3%">
<col width="13%">
<col width="7%">
<col width="7%">
<col width="9%">
<col width="8%">
<col width="7%">
<col width="8%">
<col width="10%">
<col width="8%">
<col width="8%">
<col width="8%">

<col width="3%">

</colgroup><thead><tr><td colspan="7">Analysis of Hospital-Based Home Health Agency Costs </td>
<td colspan="2">Provider CCN: <span class="data">{{pId}}</span></td>
<td colspan="2"><div>PERIOD:</div><div>FROM <span class="data">{{year.start}}</span></div><div>TO <span class="data">{{year.end}}</span></div>
<td colspan="2"> WORKSHEET H</td>
</tr>
</thead><tbody>

<tr><td colspan="2" rowspan="2">     Cost Center Descriptions  (omit cents) </td>
<td class="center"> Salaries   </td>
<td class="center"> Employee Benefits   </td>
<td class="center">Transportation (see instructions) </td>
<td class="center">Contracted/ Purchased  Services  </td>
<td class="center">   Other Costs </td>
<td class="center"> Total (sum of cols. 1 thru 5) </td>
<td class="center">  Reclassifications </td>
<td class="center">Reclassified Trial Balance (col. 6 + col. 7) </td>
<td class="center">   Adjustments </td>
<td class="center">Net Expenses for Allocation (col. 8 + col. 9) </td>
<td rowspan="2">&nbsp;</td>
</tr>
<tr><td class="center">1</td>
<td class="center">2</td>
<td class="center">3</td>
<td class="center">4</td>
<td class="center">5</td>
<td class="center">6</td>
<td class="center">7</td>
<td class="center">8</td>
<td class="center">9</td>
<td class="center">10</td>
</tr>
<tr><td colspan="2">  GENERAL SERVICE COST CENTERS </td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="right">&nbsp;</td>
</tr>
<tr><td class="right">1</td>
<td> Capital Related-Bldgs. and Fixtures</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00100-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00100-00200}}</td>
<td class="data right">{{NumberFormat data-1.00100-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00100-00400}}</td>
<td class="data right">{{NumberFormat data-1.00100-00500}}</td>
<td class="data right">{{NumberFormat data-1.00100-00600}}</td>
<td class="data right">{{NumberFormat data-1.00100-00700}}</td>
<td class="data right">{{NumberFormat data-1.00100-00800}}</td>
<td class="data right">{{NumberFormat data-1.00100-00900}}</td>
<td class="data right">{{NumberFormat data-1.00100-01000}}</td>
<td class="right">1</td>
</tr>
<tr><td class="right">2</td>
<td> Capital Related-Movable Equipment</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00200-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00200-00200}}</td>
<td class="data right">{{NumberFormat data-1.00200-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00200-00400}}</td>
<td class="data right">{{NumberFormat data-1.00200-00500}}</td>
<td class="data right">{{NumberFormat data-1.00200-00600}}</td>
<td class="data right">{{NumberFormat data-1.00200-00700}}</td>
<td class="data right">{{NumberFormat data-1.00200-00800}}</td>
<td class="data right">{{NumberFormat data-1.00200-00900}}</td>
<td class="data right">{{NumberFormat data-1.00200-01000}}</td>
<td class="right">2</td>
</tr>
<tr><td class="right">3</td>
<td> Plant Operation &amp; Maintenance</td>
<td class="data right">{{NumberFormat data-1.00300-00100}}</td>
<td class="data right">{{NumberFormat data-1.00300-00200}}</td>
<td class="data right">{{NumberFormat data-1.00300-00300}}</td>
<td class="data right">{{NumberFormat data-1.00300-00400}}</td>
<td class="data right">{{NumberFormat data-1.00300-00500}}</td>
<td class="data right">{{NumberFormat data-1.00300-00600}}</td>
<td class="data right">{{NumberFormat data-1.00300-00700}}</td>
<td class="data right">{{NumberFormat data-1.00300-00800}}</td>
<td class="data right">{{NumberFormat data-1.00300-00900}}</td>
<td class="data right">{{NumberFormat data-1.00300-01000}}</td>
<td class="right">3</td>
</tr>
<tr><td class="right">4</td>
<td> Transportation (see instructions)</td>
<td class="data right">{{NumberFormat data-1.00400-00100}}</td>
<td class="data right">{{NumberFormat data-1.00400-00200}}</td>
<td class="data right">{{NumberFormat data-1.00400-00300}}</td>
<td class="data right">{{NumberFormat data-1.00400-00400}}</td>
<td class="data right">{{NumberFormat data-1.00400-00500}}</td>
<td class="data right">{{NumberFormat data-1.00400-00600}}</td>
<td class="data right">{{NumberFormat data-1.00400-00700}}</td>
<td class="data right">{{NumberFormat data-1.00400-00800}}</td>
<td class="data right">{{NumberFormat data-1.00400-00900}}</td>
<td class="data right">{{NumberFormat data-1.00400-01000}}</td>
<td class="right">4</td>
</tr>
<tr><td class="right">5</td>
<td> Administrative and General</td>
<td class="data right">{{NumberFormat data-1.00500-00100}}</td>
<td class="data right">{{NumberFormat data-1.00500-00200}}</td>
<td class="data right">{{NumberFormat data-1.00500-00300}}</td>
<td class="data right">{{NumberFormat data-1.00500-00400}}</td>
<td class="data right">{{NumberFormat data-1.00500-00500}}</td>
<td class="data right">{{NumberFormat data-1.00500-00600}}</td>
<td class="data right">{{NumberFormat data-1.00500-00700}}</td>
<td class="data right">{{NumberFormat data-1.00500-00800}}</td>
<td class="data right">{{NumberFormat data-1.00500-00900}}</td>
<td class="data right">{{NumberFormat data-1.00500-01000}}</td>
<td class="right">5</td>
</tr>
<tr><td colspan="2">   HHA REIMBURSABLE SERVICES </td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="right"> </td>
</tr>
<tr><td class="right">6</td>
<td> Skilled Nursing Care</td>
<td class="data right">{{NumberFormat data-1.00600-00100}}</td>
<td class="data right">{{NumberFormat data-1.00600-00200}}</td>
<td class="data right">{{NumberFormat data-1.00600-00300}}</td>
<td class="data right">{{NumberFormat data-1.00600-00400}}</td>
<td class="data right">{{NumberFormat data-1.00600-00500}}</td>
<td class="data right">{{NumberFormat data-1.00600-00600}}</td>
<td class="data right">{{NumberFormat data-1.00600-00700}}</td>
<td class="data right">{{NumberFormat data-1.00600-00800}}</td>
<td class="data right">{{NumberFormat data-1.00600-00900}}</td>
<td class="data right">{{NumberFormat data-1.00600-01000}}</td>
<td class="right">6</td>
</tr>
<tr><td class="right">7</td>
<td> Physical Therapy</td>
<td class="data right">{{NumberFormat data-1.00700-00100}}</td>
<td class="data right">{{NumberFormat data-1.00700-00200}}</td>
<td class="data right">{{NumberFormat data-1.00700-00300}}</td>
<td class="data right">{{NumberFormat data-1.00700-00400}}</td>
<td class="data right">{{NumberFormat data-1.00700-00500}}</td>
<td class="data right">{{NumberFormat data-1.00700-00600}}</td>
<td class="data right">{{NumberFormat data-1.00700-00700}}</td>
<td class="data right">{{NumberFormat data-1.00700-00800}}</td>
<td class="data right">{{NumberFormat data-1.00700-00900}}</td>
<td class="data right">{{NumberFormat data-1.00700-01000}}</td>
<td class="right">7</td>
</tr>
<tr><td class="right">8</td>
<td> Occupational Therapy</td>
<td class="data right">{{NumberFormat data-1.00800-00100}}</td>
<td class="data right">{{NumberFormat data-1.00800-00200}}</td>
<td class="data right">{{NumberFormat data-1.00800-00300}}</td>
<td class="data right">{{NumberFormat data-1.00800-00400}}</td>
<td class="data right">{{NumberFormat data-1.00800-00500}}</td>
<td class="data right">{{NumberFormat data-1.00800-00600}}</td>
<td class="data right">{{NumberFormat data-1.00800-00700}}</td>
<td class="data right">{{NumberFormat data-1.00800-00800}}</td>
<td class="data right">{{NumberFormat data-1.00800-00900}}</td>
<td class="data right">{{NumberFormat data-1.00800-01000}}</td>
<td class="right">8</td>
</tr>
<tr><td class="right">9</td>
<td> Speech Pathology</td>
<td class="data right">{{NumberFormat data-1.00900-00100}}</td>
<td class="data right">{{NumberFormat data-1.00900-00200}}</td>
<td class="data right">{{NumberFormat data-1.00900-00300}}</td>
<td class="data right">{{NumberFormat data-1.00900-00400}}</td>
<td class="data right">{{NumberFormat data-1.00900-00500}}</td>
<td class="data right">{{NumberFormat data-1.00900-00600}}</td>
<td class="data right">{{NumberFormat data-1.00900-00700}}</td>
<td class="data right">{{NumberFormat data-1.00900-00800}}</td>
<td class="data right">{{NumberFormat data-1.00900-00900}}</td>
<td class="data right">{{NumberFormat data-1.00900-01000}}</td>
<td class="right">9</td>
</tr>
<tr><td class="right">10</td>
<td> Medical Social Services</td>
<td class="data right">{{NumberFormat data-1.01000-00100}}</td>
<td class="data right">{{NumberFormat data-1.01000-00200}}</td>
<td class="data right">{{NumberFormat data-1.01000-00300}}</td>
<td class="data right">{{NumberFormat data-1.01000-00400}}</td>
<td class="data right">{{NumberFormat data-1.01000-00500}}</td>
<td class="data right">{{NumberFormat data-1.01000-00600}}</td>
<td class="data right">{{NumberFormat data-1.01000-00700}}</td>
<td class="data right">{{NumberFormat data-1.01000-00800}}</td>
<td class="data right">{{NumberFormat data-1.01000-00900}}</td>
<td class="data right">{{NumberFormat data-1.01000-01000}}</td>
<td class="right">10</td>
</tr>
<tr><td class="right">11</td>
<td> Home Health Aide</td>
<td class="data right">{{NumberFormat data-1.01100-00100}}</td>
<td class="data right">{{NumberFormat data-1.01100-00200}}</td>
<td class="data right">{{NumberFormat data-1.01100-00300}}</td>
<td class="data right">{{NumberFormat data-1.01100-00400}}</td>
<td class="data right">{{NumberFormat data-1.01100-00500}}</td>
<td class="data right">{{NumberFormat data-1.01100-00600}}</td>
<td class="data right">{{NumberFormat data-1.01100-00700}}</td>
<td class="data right">{{NumberFormat data-1.01100-00800}}</td>
<td class="data right">{{NumberFormat data-1.01100-00900}}</td>
<td class="data right">{{NumberFormat data-1.01100-01000}}</td>
<td class="right">11</td>
</tr>
<tr><td class="right">12</td>
<td> Supplies (see instructions)</td>
<td class="data right">{{NumberFormat data-1.01200-00100}}</td>
<td class="data right">{{NumberFormat data-1.01200-00200}}</td>
<td class="data right">{{NumberFormat data-1.01200-00300}}</td>
<td class="data right">{{NumberFormat data-1.01200-00400}}</td>
<td class="data right">{{NumberFormat data-1.01200-00500}}</td>
<td class="data right">{{NumberFormat data-1.01200-00600}}</td>
<td class="data right">{{NumberFormat data-1.01200-00700}}</td>
<td class="data right">{{NumberFormat data-1.01200-00800}}</td>
<td class="data right">{{NumberFormat data-1.01200-00900}}</td>
<td class="data right">{{NumberFormat data-1.01200-01000}}</td>
<td class="right">12</td>
</tr>
<tr><td class="right">13</td>
<td> Drugs</td>
<td class="data right">{{NumberFormat data-1.01300-00100}}</td>
<td class="data right">{{NumberFormat data-1.01300-00200}}</td>
<td class="data right">{{NumberFormat data-1.01300-00300}}</td>
<td class="data right">{{NumberFormat data-1.01300-00400}}</td>
<td class="data right">{{NumberFormat data-1.01300-00500}}</td>
<td class="data right">{{NumberFormat data-1.01300-00600}}</td>
<td class="data right">{{NumberFormat data-1.01300-00700}}</td>
<td class="data right">{{NumberFormat data-1.01300-00800}}</td>
<td class="data right">{{NumberFormat data-1.01300-00900}}</td>
<td class="data right">{{NumberFormat data-1.01300-01000}}</td>
<td class="right">13</td>
</tr>
<tr><td class="right">14</td>
<td> DME</td>
<td class="data right">{{NumberFormat data-1.01400-00100}}</td>
<td class="data right">{{NumberFormat data-1.01400-00200}}</td>
<td class="data right">{{NumberFormat data-1.01400-00300}}</td>
<td class="data right">{{NumberFormat data-1.01400-00400}}</td>
<td class="data right">{{NumberFormat data-1.01400-00500}}</td>
<td class="data right">{{NumberFormat data-1.01400-00600}}</td>
<td class="data right">{{NumberFormat data-1.01400-00700}}</td>
<td class="data right">{{NumberFormat data-1.01400-00800}}</td>
<td class="data right">{{NumberFormat data-1.01400-00900}}</td>
<td class="data right">{{NumberFormat data-1.01400-01000}}</td>
<td class="right">14</td>
</tr>
<tr><td colspan="2">   HHA NONREIMBURSABLE SERVICES </td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="right"> </td>
</tr>
<tr><td class="right">15</td>
<td> Home Dialysis Aide Services</td>
<td class="data right">{{NumberFormat data-1.01500-00100}}</td>
<td class="data right">{{NumberFormat data-1.01500-00200}}</td>
<td class="data right">{{NumberFormat data-1.01500-00300}}</td>
<td class="data right">{{NumberFormat data-1.01500-00400}}</td>
<td class="data right">{{NumberFormat data-1.01500-00500}}</td>
<td class="data right">{{NumberFormat data-1.01500-00600}}</td>
<td class="data right">{{NumberFormat data-1.01500-00700}}</td>
<td class="data right">{{NumberFormat data-1.01500-00800}}</td>
<td class="data right">{{NumberFormat data-1.01500-00900}}</td>
<td class="data right">{{NumberFormat data-1.01500-01000}}</td>
<td class="right">15</td>
</tr>
<tr><td class="right">16</td>
<td> Respiratory Therapy</td>
<td class="data right">{{NumberFormat data-1.01600-00100}}</td>
<td class="data right">{{NumberFormat data-1.01600-00200}}</td>
<td class="data right">{{NumberFormat data-1.01600-00300}}</td>
<td class="data right">{{NumberFormat data-1.01600-00400}}</td>
<td class="data right">{{NumberFormat data-1.01600-00500}}</td>
<td class="data right">{{NumberFormat data-1.01600-00600}}</td>
<td class="data right">{{NumberFormat data-1.01600-00700}}</td>
<td class="data right">{{NumberFormat data-1.01600-00800}}</td>
<td class="data right">{{NumberFormat data-1.01600-00900}}</td>
<td class="data right">{{NumberFormat data-1.01600-01000}}</td>
<td class="right">16</td>
</tr>
<tr><td class="right">17</td>
<td> Private Duty Nursing</td>
<td class="data right">{{NumberFormat data-1.01700-00100}}</td>
<td class="data right">{{NumberFormat data-1.01700-00200}}</td>
<td class="data right">{{NumberFormat data-1.01700-00300}}</td>
<td class="data right">{{NumberFormat data-1.01700-00400}}</td>
<td class="data right">{{NumberFormat data-1.01700-00500}}</td>
<td class="data right">{{NumberFormat data-1.01700-00600}}</td>
<td class="data right">{{NumberFormat data-1.01700-00700}}</td>
<td class="data right">{{NumberFormat data-1.01700-00800}}</td>
<td class="data right">{{NumberFormat data-1.01700-00900}}</td>
<td class="data right">{{NumberFormat data-1.01700-01000}}</td>
<td class="right">17</td>
</tr>
<tr><td class="right">18</td>
<td> Clinic</td>
<td class="data right">{{NumberFormat data-1.01800-00100}}</td>
<td class="data right">{{NumberFormat data-1.01800-00200}}</td>
<td class="data right">{{NumberFormat data-1.01800-00300}}</td>
<td class="data right">{{NumberFormat data-1.01800-00400}}</td>
<td class="data right">{{NumberFormat data-1.01800-00500}}</td>
<td class="data right">{{NumberFormat data-1.01800-00600}}</td>
<td class="data right">{{NumberFormat data-1.01800-00700}}</td>
<td class="data right">{{NumberFormat data-1.01800-00800}}</td>
<td class="data right">{{NumberFormat data-1.01800-00900}}</td>
<td class="data right">{{NumberFormat data-1.01800-01000}}</td>
<td class="right">18</td>
</tr>
<tr><td class="right">19</td>
<td> Health Promotion Activities</td>
<td class="data right">{{NumberFormat data-1.01900-00100}}</td>
<td class="data right">{{NumberFormat data-1.01900-00200}}</td>
<td class="data right">{{NumberFormat data-1.01900-00300}}</td>
<td class="data right">{{NumberFormat data-1.01900-00400}}</td>
<td class="data right">{{NumberFormat data-1.01900-00500}}</td>
<td class="data right">{{NumberFormat data-1.01900-00600}}</td>
<td class="data right">{{NumberFormat data-1.01900-00700}}</td>
<td class="data right">{{NumberFormat data-1.01900-00800}}</td>
<td class="data right">{{NumberFormat data-1.01900-00900}}</td>
<td class="data right">{{NumberFormat data-1.01900-01000}}</td>
<td class="right">19</td>
</tr>
<tr><td class="right">20</td>
<td> Day Care Program</td>
<td class="data right">{{NumberFormat data-1.02000-00100}}</td>
<td class="data right">{{NumberFormat data-1.02000-00200}}</td>
<td class="data right">{{NumberFormat data-1.02000-00300}}</td>
<td class="data right">{{NumberFormat data-1.02000-00400}}</td>
<td class="data right">{{NumberFormat data-1.02000-00500}}</td>
<td class="data right">{{NumberFormat data-1.02000-00600}}</td>
<td class="data right">{{NumberFormat data-1.02000-00700}}</td>
<td class="data right">{{NumberFormat data-1.02000-00800}}</td>
<td class="data right">{{NumberFormat data-1.02000-00900}}</td>
<td class="data right">{{NumberFormat data-1.02000-01000}}</td>
<td class="right">20</td>
</tr>
<tr><td class="right">21</td>
<td> Home Delivered Meals Program</td>
<td class="data right">{{NumberFormat data-1.02100-00100}}</td>
<td class="data right">{{NumberFormat data-1.02100-00200}}</td>
<td class="data right">{{NumberFormat data-1.02100-00300}}</td>
<td class="data right">{{NumberFormat data-1.02100-00400}}</td>
<td class="data right">{{NumberFormat data-1.02100-00500}}</td>
<td class="data right">{{NumberFormat data-1.02100-00600}}</td>
<td class="data right">{{NumberFormat data-1.02100-00700}}</td>
<td class="data right">{{NumberFormat data-1.02100-00800}}</td>
<td class="data right">{{NumberFormat data-1.02100-00900}}</td>
<td class="data right">{{NumberFormat data-1.02100-01000}}</td>
<td class="right">21</td>
</tr>
<tr><td class="right">22</td>
<td> Homemaker Service</td>
<td class="data right">{{NumberFormat data-1.02200-00100}}</td>
<td class="data right">{{NumberFormat data-1.02200-00200}}</td>
<td class="data right">{{NumberFormat data-1.02200-00300}}</td>
<td class="data right">{{NumberFormat data-1.02200-00400}}</td>
<td class="data right">{{NumberFormat data-1.02200-00500}}</td>
<td class="data right">{{NumberFormat data-1.02200-00600}}</td>
<td class="data right">{{NumberFormat data-1.02200-00700}}</td>
<td class="data right">{{NumberFormat data-1.02200-00800}}</td>
<td class="data right">{{NumberFormat data-1.02200-00900}}</td>
<td class="data right">{{NumberFormat data-1.02200-01000}}</td>
<td class="right">22</td>
</tr>
<tr><td class="right">23</td>
<td> All Others</td>
<td class="data right">{{NumberFormat data-1.02300-00100}}</td>
<td class="data right">{{NumberFormat data-1.02300-00200}}</td>
<td class="data right">{{NumberFormat data-1.02300-00300}}</td>
<td class="data right">{{NumberFormat data-1.02300-00400}}</td>
<td class="data right">{{NumberFormat data-1.02300-00500}}</td>
<td class="data right">{{NumberFormat data-1.02300-00600}}</td>
<td class="data right">{{NumberFormat data-1.02300-00700}}</td>
<td class="data right">{{NumberFormat data-1.02300-00800}}</td>
<td class="data right">{{NumberFormat data-1.02300-00900}}</td>
<td class="data right">{{NumberFormat data-1.02300-01000}}</td>
<td class="right">23</td>
</tr>
<tr><td class="right">24</td>
<td> Total (sum of lines 1-23)</td>
<td class="data right">{{NumberFormat data-1.02400-00100}}</td>
<td class="data right">{{NumberFormat data-1.02400-00200}}</td>
<td class="data right">{{NumberFormat data-1.02400-00300}}</td>
<td class="data right">{{NumberFormat data-1.02400-00400}}</td>
<td class="data right">{{NumberFormat data-1.02400-00500}}</td>
<td class="data right">{{NumberFormat data-1.02400-00600}}</td>
<td class="data right">{{NumberFormat data-1.02400-00700}}</td>
<td class="data right">{{NumberFormat data-1.02400-00800}}</td>
<td class="data right">{{NumberFormat data-1.02400-00900}}</td>
<td class="data right">{{NumberFormat data-1.02400-01000}}</td>
<td class="right">24</td>
</tr>
<tr><td colspan="13">Column, 6 line 24 should agree with the Worksheet A, column 3, line 101, or subscript as applicable. </td>
</tr>
<tr><td colspan="13">FORM CMS 2552-10 (11/2016)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN HCFA PUB. 15-II, § 4041)</td>
</tr>
<tr><td colspan="2">Rev. 10</td>
<td colspan="9">11-16</td>
<td colspan="2"> 40-605 </td>
</tr>
</tbody></table>
</div>
