
<div class="report"><table id="report_table" border="1" width="100%" cellpadding="1" cellspacing="1">
<colgroup><col width="2%">
<col width="19%">
<col width="7%">
<col width="7.5%">
<col width="7.5%">
<col width="9%">
<col width="7%">
<col width="7%">
<col width="7%">
<col width="7%">
<col width="7%">
<col width="7%">

<col width="2%">
</colgroup><thead>
<tr><td colspan="6">ANALYSIS OF PROVIDER-BASED HOSPICE COSTS </td>
<td colspan="3">Provider CCN: <span class="data">{{pId}}</span></td>
<td colspan="2"><div>PERIOD:</div><div>FROM <span class="data">{{year.start}}</span></div><div>TO <span class="data">{{year.end}}</span></div>
<td colspan="2">  WORKSHEET K  </td>
</tr>



<tr><td class="center" valign="top" colspan="2">     COST CENTER DESCRIPTIONS     </td>
<td class="center" valign="top"><div>SALARIES</div><div>(from</div><div>Wkst. K-1)</div></td>
<td class="center" valign="top"><div>EMPLOYEE</div><div>BENEFITS</div><div>(from</div><div>Wkst. K-2)</div></td>
<td class="center" valign="top"><div>TRANSPOR-</div><div>TATION</div><div>(see inst.)</div></td>
<td class="center" valign="top"><div>CONTRACTED</div><div>SERVICES</div><div>(from</div><div>Wkst. K-3)</div></td>
<td class="center" valign="top">   OTHER </td>
<td class="center" valign="top"><div>TOTAL</div><div>(cols. 1-5)</div></td>
<td class="center" valign="top"><div>RECLASSI-</div><div>FICATION</div></td>
<td class="center" valign="top"><div>SUBTOTAL</div><div>(col. 6</div><div>± col. 7)</div></td>
<td class="center" valign="top"><div>ADJUST-</div><div>MENTS</div></td>
<td class="center" valign="top"><div>TOTAL</div><div>(col. 8</div><div>± col. 9)</div></td>
<td class="center" valign="top">&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td class="center">1</td>
<td class="center">2</td>
<td class="center">3</td>
<td class="center">4</td>
<td class="center">5</td>
<td class="center">6</td>
<td class="center">7</td>
<td class="center">8</td>
<td class="center">9</td>
<td class="center">10</td>
<td>&nbsp;</td>
</tr>

</thead><tbody>

<tr><td>&nbsp;</td>
<td class="left" colspan="1"> GENERAL SERVICE COST CENTERS</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr><td class="right">1</td>
<td class="left"> Capital Related Costs-Bldg and Fixt.</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00100-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00100-00200}}</td>
<td class="data right">{{NumberFormat data-1.00100-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00100-00400}}</td>
<td class="data right">{{NumberFormat data-1.00100-00500}}</td>
<td class="data right">{{NumberFormat data-1.00100-00600}}</td>
<td class="data right">{{NumberFormat data-1.00100-00700}}</td>
<td class="data right">{{NumberFormat data-1.00100-00800}}</td>
<td class="data right">{{NumberFormat data-1.00100-00900}}</td>
<td class="data right">{{NumberFormat data-1.00100-01000}}</td>
<td class="left">1</td>
</tr>
<tr><td class="right">2</td>
<td class="left"> Capital Related Costs-Movable Equip.</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00200-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00200-00200}}</td>
<td class="data right">{{NumberFormat data-1.00200-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00200-00400}}</td>
<td class="data right">{{NumberFormat data-1.00200-00500}}</td>
<td class="data right">{{NumberFormat data-1.00200-00600}}</td>
<td class="data right">{{NumberFormat data-1.00200-00700}}</td>
<td class="data right">{{NumberFormat data-1.00200-00800}}</td>
<td class="data right">{{NumberFormat data-1.00200-00900}}</td>
<td class="data right">{{NumberFormat data-1.00200-01000}}</td>
<td class="left">2</td>
</tr>
<tr><td class="right">3</td>
<td class="left"> Plant Operation and Maintenance</td>
<td class="data right">{{NumberFormat data-1.00300-00100}}</td>
<td class="data right">{{NumberFormat data-1.00300-00200}}</td>
<td class="data right">{{NumberFormat data-1.00300-00300}}</td>
<td class="data right">{{NumberFormat data-1.00300-00400}}</td>
<td class="data right">{{NumberFormat data-1.00300-00500}}</td>
<td class="data right">{{NumberFormat data-1.00300-00600}}</td>
<td class="data right">{{NumberFormat data-1.00300-00700}}</td>
<td class="data right">{{NumberFormat data-1.00300-00800}}</td>
<td class="data right">{{NumberFormat data-1.00300-00900}}</td>
<td class="data right">{{NumberFormat data-1.00300-01000}}</td>
<td class="left">3</td>
</tr>
<tr><td class="right">4</td>
<td class="left"> Transportation - Staff</td>
<td class="data right">{{NumberFormat data-1.00400-00100}}</td>
<td class="data right">{{NumberFormat data-1.00400-00200}}</td>
<td class="data right">{{NumberFormat data-1.00400-00300}}</td>
<td class="data right">{{NumberFormat data-1.00400-00400}}</td>
<td class="data right">{{NumberFormat data-1.00400-00500}}</td>
<td class="data right">{{NumberFormat data-1.00400-00600}}</td>
<td class="data right">{{NumberFormat data-1.00400-00700}}</td>
<td class="data right">{{NumberFormat data-1.00400-00800}}</td>
<td class="data right">{{NumberFormat data-1.00400-00900}}</td>
<td class="data right">{{NumberFormat data-1.00400-01000}}</td>
<td class="left">4</td>
</tr>
<tr><td class="right">5</td>
<td class="left"> Volunteer Service Coordination</td>
<td class="data right">{{NumberFormat data-1.00500-00100}}</td>
<td class="data right">{{NumberFormat data-1.00500-00200}}</td>
<td class="data right">{{NumberFormat data-1.00500-00300}}</td>
<td class="data right">{{NumberFormat data-1.00500-00400}}</td>
<td class="data right">{{NumberFormat data-1.00500-00500}}</td>
<td class="data right">{{NumberFormat data-1.00500-00600}}</td>
<td class="data right">{{NumberFormat data-1.00500-00700}}</td>
<td class="data right">{{NumberFormat data-1.00500-00800}}</td>
<td class="data right">{{NumberFormat data-1.00500-00900}}</td>
<td class="data right">{{NumberFormat data-1.00500-01000}}</td>
<td class="left">5</td>
</tr>
<tr><td class="right">6</td>
<td class="left"> Administrative and General</td>
<td class="data right">{{NumberFormat data-1.00600-00100}}</td>
<td class="data right">{{NumberFormat data-1.00600-00200}}</td>
<td class="data right">{{NumberFormat data-1.00600-00300}}</td>
<td class="data right">{{NumberFormat data-1.00600-00400}}</td>
<td class="data right">{{NumberFormat data-1.00600-00500}}</td>
<td class="data right">{{NumberFormat data-1.00600-00600}}</td>
<td class="data right">{{NumberFormat data-1.00600-00700}}</td>
<td class="data right">{{NumberFormat data-1.00600-00800}}</td>
<td class="data right">{{NumberFormat data-1.00600-00900}}</td>
<td class="data right">{{NumberFormat data-1.00600-01000}}</td>
<td class="left">6</td>
</tr>
<tr><td class="right">&nbsp;</td>
<td class="left"> INPATIENT CARE SERVICE</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="left">&nbsp;</td>
</tr>
<tr><td class="right">7</td>
<td class="left"> Inpatient - General Care</td>
<td class="data right"></td>
<td class="data right"></td>
<td class="data right"></td>
<td class="data right"></td>
<td class="data right"></td>
<td class="data right"></td>
<td class="data right"></td>
<td class="data right"></td>
<td class="data right"></td>
<td class="data right"></td>
<td class="left">7</td>
</tr>
<tr><td class="right">8</td>
<td class="left"> Inpatient - Respite Care</td>
<td class="data right">{{NumberFormat data-1.00800-00100}}</td>
<td class="data right">{{NumberFormat data-1.00800-00200}}</td>
<td class="data right">{{NumberFormat data-1.00800-00300}}</td>
<td class="data right">{{NumberFormat data-1.00800-00400}}</td>
<td class="data right">{{NumberFormat data-1.00800-00500}}</td>
<td class="data right">{{NumberFormat data-1.00800-00600}}</td>
<td class="data right">{{NumberFormat data-1.00800-00700}}</td>
<td class="data right">{{NumberFormat data-1.00800-00800}}</td>
<td class="data right">{{NumberFormat data-1.00800-00900}}</td>
<td class="data right">{{NumberFormat data-1.00800-01000}}</td>
<td class="left">8</td>
</tr>
<tr><td class="right">&nbsp;</td>
<td class="left"> VISITING SERVICES</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="left">&nbsp;</td>
</tr>
<tr><td class="right">9</td>
<td class="left"> Physician Services</td>
<td class="data right">{{NumberFormat data-1.00900-00100}}</td>
<td class="data right">{{NumberFormat data-1.00900-00200}}</td>
<td class="data right">{{NumberFormat data-1.00900-00300}}</td>
<td class="data right">{{NumberFormat data-1.00900-00400}}</td>
<td class="data right">{{NumberFormat data-1.00900-00500}}</td>
<td class="data right">{{NumberFormat data-1.00900-00600}}</td>
<td class="data right">{{NumberFormat data-1.00900-00700}}</td>
<td class="data right">{{NumberFormat data-1.00900-00800}}</td>
<td class="data right">{{NumberFormat data-1.00900-00900}}</td>
<td class="data right">{{NumberFormat data-1.00900-01000}}</td>
<td class="left">9</td>
</tr>
<tr><td class="right">10</td>
<td class="left"> Nursing Care</td>
<td class="data right">{{NumberFormat data-1.01000-00100}}</td>
<td class="data right">{{NumberFormat data-1.01000-00200}}</td>
<td class="data right">{{NumberFormat data-1.01000-00300}}</td>
<td class="data right">{{NumberFormat data-1.01000-00400}}</td>
<td class="data right">{{NumberFormat data-1.01000-00500}}</td>
<td class="data right">{{NumberFormat data-1.01000-00600}}</td>
<td class="data right">{{NumberFormat data-1.01000-00700}}</td>
<td class="data right">{{NumberFormat data-1.01000-00800}}</td>
<td class="data right">{{NumberFormat data-1.01000-00900}}</td>
<td class="data right">{{NumberFormat data-1.01000-01000}}</td>
<td class="left">10</td>
</tr>
<tr><td class="right">11</td>
<td class="left"> Nursing Care-Continuous Home Care</td>
<td class="data right">{{NumberFormat data-1.01100-00100}}</td>
<td class="data right">{{NumberFormat data-1.01100-00200}}</td>
<td class="data right">{{NumberFormat data-1.01100-00300}}</td>
<td class="data right">{{NumberFormat data-1.01100-00400}}</td>
<td class="data right">{{NumberFormat data-1.01100-00500}}</td>
<td class="data right">{{NumberFormat data-1.01100-00600}}</td>
<td class="data right">{{NumberFormat data-1.01100-00700}}</td>
<td class="data right">{{NumberFormat data-1.01100-00800}}</td>
<td class="data right">{{NumberFormat data-1.01100-00900}}</td>
<td class="data right">{{NumberFormat data-1.01100-01000}}</td>
<td class="left">11</td>
</tr>
<tr><td class="right">12</td>
<td class="left"> Physical Therapy</td>
<td class="data right">{{NumberFormat data-1.01200-00100}}</td>
<td class="data right">{{NumberFormat data-1.01200-00200}}</td>
<td class="data right">{{NumberFormat data-1.01200-00300}}</td>
<td class="data right">{{NumberFormat data-1.01200-00400}}</td>
<td class="data right">{{NumberFormat data-1.01200-00500}}</td>
<td class="data right">{{NumberFormat data-1.01200-00600}}</td>
<td class="data right">{{NumberFormat data-1.01200-00700}}</td>
<td class="data right">{{NumberFormat data-1.01200-00800}}</td>
<td class="data right">{{NumberFormat data-1.01200-00900}}</td>
<td class="data right">{{NumberFormat data-1.01200-01000}}</td>
<td class="left">12</td>
</tr>
<tr><td class="right">13</td>
<td class="left"> Occupational Therapy</td>
<td class="data right">{{NumberFormat data-1.01300-00100}}</td>
<td class="data right">{{NumberFormat data-1.01300-00200}}</td>
<td class="data right">{{NumberFormat data-1.01300-00300}}</td>
<td class="data right">{{NumberFormat data-1.01300-00400}}</td>
<td class="data right">{{NumberFormat data-1.01300-00500}}</td>
<td class="data right">{{NumberFormat data-1.01300-00600}}</td>
<td class="data right">{{NumberFormat data-1.01300-00700}}</td>
<td class="data right">{{NumberFormat data-1.01300-00800}}</td>
<td class="data right">{{NumberFormat data-1.01300-00900}}</td>
<td class="data right">{{NumberFormat data-1.01300-01000}}</td>
<td class="left">13</td>
</tr>
<tr><td class="right">14</td>
<td class="left"> Speech/ Language Pathology</td>
<td class="data right">{{NumberFormat data-1.01400-00100}}</td>
<td class="data right">{{NumberFormat data-1.01400-00200}}</td>
<td class="data right">{{NumberFormat data-1.01400-00300}}</td>
<td class="data right">{{NumberFormat data-1.01400-00400}}</td>
<td class="data right">{{NumberFormat data-1.01400-00500}}</td>
<td class="data right">{{NumberFormat data-1.01400-00600}}</td>
<td class="data right">{{NumberFormat data-1.01400-00700}}</td>
<td class="data right">{{NumberFormat data-1.01400-00800}}</td>
<td class="data right">{{NumberFormat data-1.01400-00900}}</td>
<td class="data right">{{NumberFormat data-1.01400-01000}}</td>
<td class="left">14</td>
</tr>
<tr><td class="right">15</td>
<td class="left"> Medical Social Services </td>
<td class="data right">{{NumberFormat data-1.01500-00100}}</td>
<td class="data right">{{NumberFormat data-1.01500-00200}}</td>
<td class="data right">{{NumberFormat data-1.01500-00300}}</td>
<td class="data right">{{NumberFormat data-1.01500-00400}}</td>
<td class="data right">{{NumberFormat data-1.01500-00500}}</td>
<td class="data right">{{NumberFormat data-1.01500-00600}}</td>
<td class="data right">{{NumberFormat data-1.01500-00700}}</td>
<td class="data right">{{NumberFormat data-1.01500-00800}}</td>
<td class="data right">{{NumberFormat data-1.01500-00900}}</td>
<td class="data right">{{NumberFormat data-1.01500-01000}}</td>
<td class="left">15</td>
</tr>
<tr><td class="right">16</td>
<td class="left"> Spiritual Counseling</td>
<td class="data right">{{NumberFormat data-1.01600-00100}}</td>
<td class="data right">{{NumberFormat data-1.01600-00200}}</td>
<td class="data right">{{NumberFormat data-1.01600-00300}}</td>
<td class="data right">{{NumberFormat data-1.01600-00400}}</td>
<td class="data right">{{NumberFormat data-1.01600-00500}}</td>
<td class="data right">{{NumberFormat data-1.01600-00600}}</td>
<td class="data right">{{NumberFormat data-1.01600-00700}}</td>
<td class="data right">{{NumberFormat data-1.01600-00800}}</td>
<td class="data right">{{NumberFormat data-1.01600-00900}}</td>
<td class="data right">{{NumberFormat data-1.01600-01000}}</td>
<td class="left">16</td>
</tr>
<tr><td class="right">17</td>
<td class="left"> Dietary Counseling</td>
<td class="data right">{{NumberFormat data-1.01700-00100}}</td>
<td class="data right">{{NumberFormat data-1.01700-00200}}</td>
<td class="data right">{{NumberFormat data-1.01700-00300}}</td>
<td class="data right">{{NumberFormat data-1.01700-00400}}</td>
<td class="data right">{{NumberFormat data-1.01700-00500}}</td>
<td class="data right">{{NumberFormat data-1.01700-00600}}</td>
<td class="data right">{{NumberFormat data-1.01700-00700}}</td>
<td class="data right">{{NumberFormat data-1.01700-00800}}</td>
<td class="data right">{{NumberFormat data-1.01700-00900}}</td>
<td class="data right">{{NumberFormat data-1.01700-01000}}</td>
<td class="left">17</td>
</tr>
<tr><td class="right">18</td>
<td class="left"> Counseling - Other</td>
<td class="data right">{{NumberFormat data-1.01800-00100}}</td>
<td class="data right">{{NumberFormat data-1.01800-00200}}</td>
<td class="data right">{{NumberFormat data-1.01800-00300}}</td>
<td class="data right">{{NumberFormat data-1.01800-00400}}</td>
<td class="data right">{{NumberFormat data-1.01800-00500}}</td>
<td class="data right">{{NumberFormat data-1.01800-00600}}</td>
<td class="data right">{{NumberFormat data-1.01800-00700}}</td>
<td class="data right">{{NumberFormat data-1.01800-00800}}</td>
<td class="data right">{{NumberFormat data-1.01800-00900}}</td>
<td class="data right">{{NumberFormat data-1.01800-01000}}</td>
<td class="left">18</td>
</tr>
<tr><td class="right">19</td>
<td class="left"> Home Health Aide and Homemaker</td>
<td class="data right">{{NumberFormat data-1.01900-00100}}</td>
<td class="data right">{{NumberFormat data-1.01900-00200}}</td>
<td class="data right">{{NumberFormat data-1.01900-00300}}</td>
<td class="data right">{{NumberFormat data-1.01900-00400}}</td>
<td class="data right">{{NumberFormat data-1.01900-00500}}</td>
<td class="data right">{{NumberFormat data-1.01900-00600}}</td>
<td class="data right">{{NumberFormat data-1.01900-00700}}</td>
<td class="data right">{{NumberFormat data-1.01900-00800}}</td>
<td class="data right">{{NumberFormat data-1.01900-00900}}</td>
<td class="data right">{{NumberFormat data-1.01900-01000}}</td>
<td class="left">19</td>
</tr>
<tr><td class="right">20</td>
<td class="left"> HH Aide &amp; Homemaker - Cont. Home Care</td>
<td class="data right">{{NumberFormat data-1.02000-00100}}</td>
<td class="data right">{{NumberFormat data-1.02000-00200}}</td>
<td class="data right">{{NumberFormat data-1.02000-00300}}</td>
<td class="data right">{{NumberFormat data-1.02000-00400}}</td>
<td class="data right">{{NumberFormat data-1.02000-00500}}</td>
<td class="data right">{{NumberFormat data-1.02000-00600}}</td>
<td class="data right">{{NumberFormat data-1.02000-00700}}</td>
<td class="data right">{{NumberFormat data-1.02000-00800}}</td>
<td class="data right">{{NumberFormat data-1.02000-00900}}</td>
<td class="data right">{{NumberFormat data-1.02000-01000}}</td>
<td class="left">20</td>
</tr>
<tr><td class="right">21</td>
<td class="left"> Other</td>
<td class="data right">{{NumberFormat data-1.02100-00100}}</td>
<td class="data right">{{NumberFormat data-1.02100-00200}}</td>
<td class="data right">{{NumberFormat data-1.02100-00300}}</td>
<td class="data right">{{NumberFormat data-1.02100-00400}}</td>
<td class="data right">{{NumberFormat data-1.02100-00500}}</td>
<td class="data right">{{NumberFormat data-1.02100-00600}}</td>
<td class="data right">{{NumberFormat data-1.02100-00700}}</td>
<td class="data right">{{NumberFormat data-1.02100-00800}}</td>
<td class="data right">{{NumberFormat data-1.02100-00900}}</td>
<td class="data right">{{NumberFormat data-1.02100-01000}}</td>
<td class="left">21</td>
</tr>
<tr><td class="right">&nbsp;</td>
<td class="left" colspan="1"> OTHER HOSPICE SERVICE COSTS</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr><td class="right">22</td>
<td class="left"> Drugs, Biological and Infusion Therapy</td>
<td class="data right">{{NumberFormat data-1.02200-00100}}</td>
<td class="data right">{{NumberFormat data-1.02200-00200}}</td>
<td class="data right">{{NumberFormat data-1.02200-00300}}</td>
<td class="data right">{{NumberFormat data-1.02200-00400}}</td>
<td class="data right">{{NumberFormat data-1.02200-00500}}</td>
<td class="data right">{{NumberFormat data-1.02200-00600}}</td>
<td class="data right">{{NumberFormat data-1.02200-00700}}</td>
<td class="data right">{{NumberFormat data-1.02200-00800}}</td>
<td class="data right">{{NumberFormat data-1.02200-00900}}</td>
<td class="data right">{{NumberFormat data-1.02200-01000}}</td>
<td>22</td>
</tr>
<tr><td class="right">23</td>
<td class="left"> Analgesics</td>
<td class="data right">{{NumberFormat data-1.02300-00100}}</td>
<td class="data right">{{NumberFormat data-1.02300-00200}}</td>
<td class="data right">{{NumberFormat data-1.02300-00300}}</td>
<td class="data right">{{NumberFormat data-1.02300-00400}}</td>
<td class="data right">{{NumberFormat data-1.02300-00500}}</td>
<td class="data right">{{NumberFormat data-1.02300-00600}}</td>
<td class="data right">{{NumberFormat data-1.02300-00700}}</td>
<td class="data right">{{NumberFormat data-1.02300-00800}}</td>
<td class="data right">{{NumberFormat data-1.02300-00900}}</td>
<td class="data right">{{NumberFormat data-1.02300-01000}}</td>
<td>23</td>
</tr>
<tr><td class="right">24</td>
<td class="left"> Sedatives / Hypnotics</td>
<td class="data right">{{NumberFormat data-1.02400-00100}}</td>
<td class="data right">{{NumberFormat data-1.02400-00200}}</td>
<td class="data right">{{NumberFormat data-1.02400-00300}}</td>
<td class="data right">{{NumberFormat data-1.02400-00400}}</td>
<td class="data right">{{NumberFormat data-1.02400-00500}}</td>
<td class="data right">{{NumberFormat data-1.02400-00600}}</td>
<td class="data right">{{NumberFormat data-1.02400-00700}}</td>
<td class="data right">{{NumberFormat data-1.02400-00800}}</td>
<td class="data right">{{NumberFormat data-1.02400-00900}}</td>
<td class="data right">{{NumberFormat data-1.02400-01000}}</td>
<td>25</td>
</tr>
<tr><td class="right">25</td>
<td class="left"> Other - Specify</td>
<td class="data right">{{NumberFormat data-1.02500-00100}}</td>
<td class="data right">{{NumberFormat data-1.02500-00200}}</td>
<td class="data right">{{NumberFormat data-1.02500-00300}}</td>
<td class="data right">{{NumberFormat data-1.02500-00400}}</td>
<td class="data right">{{NumberFormat data-1.02500-00500}}</td>
<td class="data right">{{NumberFormat data-1.02500-00600}}</td>
<td class="data right">{{NumberFormat data-1.02500-00700}}</td>
<td class="data right">{{NumberFormat data-1.02500-00800}}</td>
<td class="data right">{{NumberFormat data-1.02500-00900}}</td>
<td class="data right">{{NumberFormat data-1.02500-01000}}</td>
<td>25</td>
</tr>
<tr><td class="right">26</td>
<td class="left"> Durable Medical Equipment/Oxygen</td>
<td class="data right">{{NumberFormat data-1.02600-00100}}</td>
<td class="data right">{{NumberFormat data-1.02600-00200}}</td>
<td class="data right">{{NumberFormat data-1.02600-00300}}</td>
<td class="data right">{{NumberFormat data-1.02600-00400}}</td>
<td class="data right">{{NumberFormat data-1.02600-00500}}</td>
<td class="data right">{{NumberFormat data-1.02600-00600}}</td>
<td class="data right">{{NumberFormat data-1.02600-00700}}</td>
<td class="data right">{{NumberFormat data-1.02600-00800}}</td>
<td class="data right">{{NumberFormat data-1.02600-00900}}</td>
<td class="data right">{{NumberFormat data-1.02600-01000}}</td>
<td>26</td>
</tr>
<tr><td class="right">27</td>
<td class="left"> Patient Transportation</td>
<td class="data right">{{NumberFormat data-1.02700-00100}}</td>
<td class="data right">{{NumberFormat data-1.02700-00200}}</td>
<td class="data right">{{NumberFormat data-1.02700-00300}}</td>
<td class="data right">{{NumberFormat data-1.02700-00400}}</td>
<td class="data right">{{NumberFormat data-1.02700-00500}}</td>
<td class="data right">{{NumberFormat data-1.02700-00600}}</td>
<td class="data right">{{NumberFormat data-1.02700-00700}}</td>
<td class="data right">{{NumberFormat data-1.02700-00800}}</td>
<td class="data right">{{NumberFormat data-1.02700-00900}}</td>
<td class="data right">{{NumberFormat data-1.02700-01000}}</td>
<td>27</td>
</tr>
<tr><td class="right">28</td>
<td class="left"> Imaging Services</td>
<td class="data right">{{NumberFormat data-1.02800-00100}}</td>
<td class="data right">{{NumberFormat data-1.02800-00200}}</td>
<td class="data right">{{NumberFormat data-1.02800-00300}}</td>
<td class="data right">{{NumberFormat data-1.02800-00400}}</td>
<td class="data right">{{NumberFormat data-1.02800-00500}}</td>
<td class="data right">{{NumberFormat data-1.02800-00600}}</td>
<td class="data right">{{NumberFormat data-1.02800-00700}}</td>
<td class="data right">{{NumberFormat data-1.02800-00800}}</td>
<td class="data right">{{NumberFormat data-1.02800-00900}}</td>
<td class="data right">{{NumberFormat data-1.02800-01000}}</td>
<td>28</td>
</tr>
<tr><td class="right">29</td>
<td class="left"> Labs and Diagnostics</td>
<td class="data right">{{NumberFormat data-1.02900-00100}}</td>
<td class="data right">{{NumberFormat data-1.02900-00200}}</td>
<td class="data right">{{NumberFormat data-1.02900-00300}}</td>
<td class="data right">{{NumberFormat data-1.02900-00400}}</td>
<td class="data right">{{NumberFormat data-1.02900-00500}}</td>
<td class="data right">{{NumberFormat data-1.02900-00600}}</td>
<td class="data right">{{NumberFormat data-1.02900-00700}}</td>
<td class="data right">{{NumberFormat data-1.02900-00800}}</td>
<td class="data right">{{NumberFormat data-1.02900-00900}}</td>
<td class="data right">{{NumberFormat data-1.02900-01000}}</td>
<td>29</td>
</tr>
<tr><td class="right">30</td>
<td class="left"> Medical Supplies</td>
<td class="data right">{{NumberFormat data-1.03000-00100}}</td>
<td class="data right">{{NumberFormat data-1.03000-00200}}</td>
<td class="data right">{{NumberFormat data-1.03000-00300}}</td>
<td class="data right">{{NumberFormat data-1.03000-00400}}</td>
<td class="data right">{{NumberFormat data-1.03000-00500}}</td>
<td class="data right">{{NumberFormat data-1.03000-00600}}</td>
<td class="data right">{{NumberFormat data-1.03000-00700}}</td>
<td class="data right">{{NumberFormat data-1.03000-00800}}</td>
<td class="data right">{{NumberFormat data-1.03000-00900}}</td>
<td class="data right">{{NumberFormat data-1.03000-01000}}</td>
<td>30</td>
</tr>
<tr><td class="right">31</td>
<td class="left"> Outpatient Services (including E/R Dept.)</td>
<td class="data right">{{NumberFormat data-1.03100-00100}}</td>
<td class="data right">{{NumberFormat data-1.03100-00200}}</td>
<td class="data right">{{NumberFormat data-1.03100-00300}}</td>
<td class="data right">{{NumberFormat data-1.03100-00400}}</td>
<td class="data right">{{NumberFormat data-1.03100-00500}}</td>
<td class="data right">{{NumberFormat data-1.03100-00600}}</td>
<td class="data right">{{NumberFormat data-1.03100-00700}}</td>
<td class="data right">{{NumberFormat data-1.03100-00800}}</td>
<td class="data right">{{NumberFormat data-1.03100-00900}}</td>
<td class="data right">{{NumberFormat data-1.03100-01000}}</td>
<td>31</td>
</tr>
<tr><td class="right">32</td>
<td class="left"> Radiation Therapy</td>
<td class="data right">{{NumberFormat data-1.03200-00100}}</td>
<td class="data right">{{NumberFormat data-1.03200-00200}}</td>
<td class="data right">{{NumberFormat data-1.03200-00300}}</td>
<td class="data right">{{NumberFormat data-1.03200-00400}}</td>
<td class="data right">{{NumberFormat data-1.03200-00500}}</td>
<td class="data right">{{NumberFormat data-1.03200-00600}}</td>
<td class="data right">{{NumberFormat data-1.03200-00700}}</td>
<td class="data right">{{NumberFormat data-1.03200-00800}}</td>
<td class="data right">{{NumberFormat data-1.03200-00900}}</td>
<td class="data right">{{NumberFormat data-1.03200-01000}}</td>
<td>32</td>
</tr>
<tr><td class="right">33</td>
<td class="left"> Chemotherapy</td>
<td class="data right">{{NumberFormat data-1.03300-00100}}</td>
<td class="data right">{{NumberFormat data-1.03300-00200}}</td>
<td class="data right">{{NumberFormat data-1.03300-00300}}</td>
<td class="data right">{{NumberFormat data-1.03300-00400}}</td>
<td class="data right">{{NumberFormat data-1.03300-00500}}</td>
<td class="data right">{{NumberFormat data-1.03300-00600}}</td>
<td class="data right">{{NumberFormat data-1.03300-00700}}</td>
<td class="data right">{{NumberFormat data-1.03300-00800}}</td>
<td class="data right">{{NumberFormat data-1.03300-00900}}</td>
<td class="data right">{{NumberFormat data-1.03300-01000}}</td>
<td>33</td>
</tr>
<tr><td class="right">34</td>
<td class="left"> Other</td>
<td class="data right">{{NumberFormat data-1.03400-00100}}</td>
<td class="data right">{{NumberFormat data-1.03400-00200}}</td>
<td class="data right">{{NumberFormat data-1.03400-00300}}</td>
<td class="data right">{{NumberFormat data-1.03400-00400}}</td>
<td class="data right">{{NumberFormat data-1.03400-00500}}</td>
<td class="data right">{{NumberFormat data-1.03400-00600}}</td>
<td class="data right">{{NumberFormat data-1.03400-00700}}</td>
<td class="data right">{{NumberFormat data-1.03400-00800}}</td>
<td class="data right">{{NumberFormat data-1.03400-00900}}</td>
<td class="data right">{{NumberFormat data-1.03400-01000}}</td>
<td>34</td>
</tr>
<tr><td class="right">&nbsp;</td>
<td class="left" colspan="1"> HOSPICE NONREIMBURSABLE SERVICE</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td class="fillgrey right">&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr><td class="right">35</td>
<td class="left"> Bereavement Program Costs</td>
<td class="data right">{{NumberFormat data-1.03500-00100}}</td>
<td class="data right">{{NumberFormat data-1.03500-00200}}</td>
<td class="data right">{{NumberFormat data-1.03500-00300}}</td>
<td class="data right">{{NumberFormat data-1.03500-00400}}</td>
<td class="data right">{{NumberFormat data-1.03500-00500}}</td>
<td class="data right">{{NumberFormat data-1.03500-00600}}</td>
<td class="data right">{{NumberFormat data-1.03500-00700}}</td>
<td class="data right">{{NumberFormat data-1.03500-00800}}</td>
<td class="data right">{{NumberFormat data-1.03500-00900}}</td>
<td class="data right">{{NumberFormat data-1.03500-01000}}</td>
<td>35</td>
</tr>
<tr><td class="right">36</td>
<td class="left"> Volunteer Program Costs</td>
<td class="data right">{{NumberFormat data-1.03600-00100}}</td>
<td class="data right">{{NumberFormat data-1.03600-00200}}</td>
<td class="data right">{{NumberFormat data-1.03600-00300}}</td>
<td class="data right">{{NumberFormat data-1.03600-00400}}</td>
<td class="data right">{{NumberFormat data-1.03600-00500}}</td>
<td class="data right">{{NumberFormat data-1.03600-00600}}</td>
<td class="data right">{{NumberFormat data-1.03600-00700}}</td>
<td class="data right">{{NumberFormat data-1.03600-00800}}</td>
<td class="data right">{{NumberFormat data-1.03600-00900}}</td>
<td class="data right">{{NumberFormat data-1.03600-01000}}</td>
<td>36</td>
</tr>
<tr><td class="right">37</td>
<td class="left"> Fundraising</td>
<td class="data right">{{NumberFormat data-1.03700-00100}}</td>
<td class="data right">{{NumberFormat data-1.03700-00200}}</td>
<td class="data right">{{NumberFormat data-1.03700-00300}}</td>
<td class="data right">{{NumberFormat data-1.03700-00400}}</td>
<td class="data right">{{NumberFormat data-1.03700-00500}}</td>
<td class="data right">{{NumberFormat data-1.03700-00600}}</td>
<td class="data right">{{NumberFormat data-1.03700-00700}}</td>
<td class="data right">{{NumberFormat data-1.03700-00800}}</td>
<td class="data right">{{NumberFormat data-1.03700-00900}}</td>
<td class="data right">{{NumberFormat data-1.03700-01000}}</td>
<td>37</td>
</tr>
<tr><td class="right">38</td>
<td class="left"> Other Program Costs</td>
<td class="data right">{{NumberFormat data-1.03800-00100}}</td>
<td class="data right">{{NumberFormat data-1.03800-00200}}</td>
<td class="data right">{{NumberFormat data-1.03800-00300}}</td>
<td class="data right">{{NumberFormat data-1.03800-00400}}</td>
<td class="data right">{{NumberFormat data-1.03800-00500}}</td>
<td class="data right">{{NumberFormat data-1.03800-00600}}</td>
<td class="data right">{{NumberFormat data-1.03800-00700}}</td>
<td class="data right">{{NumberFormat data-1.03800-00800}}</td>
<td class="data right">{{NumberFormat data-1.03800-00900}}</td>
<td class="data right">{{NumberFormat data-1.03800-01000}}</td>
<td>38</td>
</tr>
<tr><td class="right">39</td>
<td class="left"> Total (sum of lines 1 thru 38)</td>
<td class="data right">{{NumberFormat data-1.03900-00100}}</td>
<td class="data right">{{NumberFormat data-1.03900-00200}}</td>
<td class="data right">{{NumberFormat data-1.03900-00300}}</td>
<td class="data right">{{NumberFormat data-1.03900-00400}}</td>
<td class="data right">{{NumberFormat data-1.03900-00500}}</td>
<td class="data right">{{NumberFormat data-1.03900-00600}}</td>
<td class="data right">{{NumberFormat data-1.03900-00700}}</td>
<td class="data right">{{NumberFormat data-1.03900-00800}}</td>
<td class="data right">{{NumberFormat data-1.03900-00900}}</td>
<td class="data right">{{NumberFormat data-1.03900-01000}}</td>
<td>39</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr><td colspan="7">FORM CMS-2552-10 (11-2016) (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-II, SECTION 4057)</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr><td colspan="4" rowspan="1">11-16</td>
<td colspan="7">FORM CMS-2552-10</td>
<td colspan="2">  Rev. 10</td>
</tr>
</tbody></table>
</div>
