
<div class="report"><table id="report_table" border="1" width="100%" cellpadding="1" cellspacing="1">
<colgroup><col width="3%">
<col width="25%">
<col width="10%">
<col width="18%">
<col width="18%">
<col width="18%">

<col width="3%">
</colgroup><thead>
<tr><td colspan="3">APPORTIONMENT OF HOSPICE SHARED SERVICES</td>
<td>Provider CCN: <span class="data">{{pId}}</span></td>
<td><div>PERIOD:</div><div>FROM <span class="data">{{year.start}}</span></div><div>TO <span class="data">{{year.end}}</span></div>
<td>  WORKSHEET K-5,  PART III   </td>
<td>&nbsp;</td>
</tr>
<tr><td colspan="7">PART III - COMPUTATION OF TOTAL HOSPICE SHARED COSTS</td>
</tr>

<tr><td>&nbsp;</td>
<td rowspan="2"> COST CENTER  </td>
<td class="center"> Wkst. C, Part I, col. 9, line  </td>
<td class="center">  Cost to Charge Ratio  </td>
<td class="center">Total Hospice Charges (Provider Records) </td>
<td class="center">Hospice Shared Ancillary  Costs (cols. 1 x  2) </td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td class="center">0</td>
<td class="center">1</td>
<td class="center">2</td>
<td class="center">3</td>
<td>&nbsp;</td>
</tr>
</thead><tbody>
<tr><td>&nbsp;</td>
<td colspan="5">ANCILLARY SERVICE COST CENTERS</td>
<td>&nbsp;</td>
</tr>
<tr><td class="right">1</td>
<td class="left"> Physical Therapy</td>
<td class="center">66</td>
<td class="data right">{{NumberFormat data-1.00100-00100}}</td>
<td class="data right">{{NumberFormat data-1.00100-00200}}</td>
<td class="data right">{{NumberFormat data-1.00100-00300}}</td>
<td class="left">1</td>
</tr>
<tr><td class="right">2</td>
<td class="left"> Occupational Therapy</td>
<td class="center">67</td>
<td class="data right">{{NumberFormat data-1.00200-00100}}</td>
<td class="data right">{{NumberFormat data-1.00200-00200}}</td>
<td class="data right">{{NumberFormat data-1.00200-00300}}</td>
<td class="left">2</td>
</tr>
<tr><td class="right">3</td>
<td class="left"> Speech/ Language Pathology</td>
<td class="center">68</td>
<td class="data right">{{NumberFormat data-1.00300-00100}}</td>
<td class="data right">{{NumberFormat data-1.00300-00200}}</td>
<td class="data right">{{NumberFormat data-1.00300-00300}}</td>
<td class="left">3</td>
</tr>
<tr><td class="right">4</td>
<td class="left"> Drugs, Biological and Infusion Therapy</td>
<td class="center">73</td>
<td class="data right">{{NumberFormat data-1.00400-00100}}</td>
<td class="data right">{{NumberFormat data-1.00400-00200}}</td>
<td class="data right">{{NumberFormat data-1.00400-00300}}</td>
<td class="left">4</td>
</tr>
<tr><td class="right">5</td>
<td class="left"> Durable Medical Equipment/Oxygen</td>
<td class="center">96</td>
<td class="data right">{{NumberFormat data-1.00500-00100}}</td>
<td class="data right">{{NumberFormat data-1.00500-00200}}</td>
<td class="data right">{{NumberFormat data-1.00500-00300}}</td>
<td class="left">5</td>
</tr>
<tr><td class="right">6</td>
<td class="left"> Labs and Diagnostics</td>
<td class="center">60</td>
<td class="data right">{{NumberFormat data-1.00600-00100}}</td>
<td class="data right">{{NumberFormat data-1.00600-00200}}</td>
<td class="data right">{{NumberFormat data-1.00600-00300}}</td>
<td class="left">6</td>
</tr>
<tr><td class="right">7</td>
<td class="left"> Medical Supplies</td>
<td class="center">71</td>
<td class="data right">{{NumberFormat data-1.00700-00100}}</td>
<td class="data right">{{NumberFormat data-1.00700-00200}}</td>
<td class="data right">{{NumberFormat data-1.00700-00300}}</td>
<td class="left">7</td>
</tr>
<tr><td class="right">8</td>
<td class="left"> Outpatient Services (including E/R Dept.)</td>
<td class="center">93</td>
<td class="data right">{{NumberFormat data-1.00800-00100}}</td>
<td class="data right">{{NumberFormat data-1.00800-00200}}</td>
<td class="data right">{{NumberFormat data-1.00800-00300}}</td>
<td class="left">8</td>
</tr>
<tr><td class="right">9</td>
<td class="left"> Radiation Therapy</td>
<td class="center">55</td>
<td class="data right">{{NumberFormat data-1.00900-00100}}</td>
<td class="data right">{{NumberFormat data-1.00900-00200}}</td>
<td class="data right">{{NumberFormat data-1.00900-00300}}</td>
<td class="left">9</td>
</tr>
<tr><td class="right">10</td>
<td class="left"> Other</td>
<td class="center">76</td>
<td class="data right">{{NumberFormat data-1.01000-00100}}</td>
<td class="data right">{{NumberFormat data-1.01000-00200}}</td>
<td class="data right">{{NumberFormat data-1.01000-00300}}</td>
<td class="left">10</td>
</tr>
<tr><td class="right">11</td>
<td class="left"> Totals (sum of lines 1-10) </td>
<td class="data fillgrey">&nbsp;{{NumberFormat data-1.01100-00000}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01100-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01100-00300}}</td>
<td class="data right">{{NumberFormat data-1.01100-00300}}</td>
<td class="left">11</td>
</tr>
<tr><td colspan="6">FORM CMS-2552-10 (08/2011) (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-II, SECTIONS 4062.3)</td>
<td>&nbsp;</td>
</tr>
<tr><td colspan="2">  10-12 </td>
<td colspan="3">&nbsp;</td>
<td colspan="2"> Rev. 2 </td>
</tr>
</tbody></table>
</div>
