
<div class="report"><table id="report_table" border="1" width="1700" cellpadding="1" cellspacing="1">
<colgroup><col width="1%">
<col width="14%">
<col width="4%">
<col width="4%">
<col width="4%">
<col width="4%">
<col width="4%">
<col width="4%">
<col width="4%">
<col width="4%">
<col width="4%">
<col width="4%">
<col width="4%">
<col width="4%">
<col width="4%">
<col width="4%">
<col width="4%">
<col width="4%">
<col width="4%">
<col width="4%">
<col width="5%">
<col width="4%">
<col width="5%">
<col width="4%">
<col width="5%">

<col width="1%">

</colgroup><thead><tr><td colspan="5">08-11</td>
<td colspan="21" class="right">FORM CMS-2552-10</td>
</tr>
</thead><tbody><tr><td colspan="4" class="left">ALLOCATION OF GENERAL SERVICE COSTS TO HOSPICE COST CENTERS STATISTICAL BASIS </td>
<td colspan="3">Provider CCN: <span class="data">{{pId}}</span></td>
<td colspan="3"><div>PERIOD:</div><div>FROM <span class="data">{{year.start}}</span></div><div>TO <span class="data">{{year.end}}</span></div>
<td colspan="4"> WORKSHEET K-5,  PART II </td>
<td colspan="13">&nbsp;</td>
</tr>
<tr><td colspan="8">PART II - ALLOCATION OF GENERAL SERVICE COSTS TO HOSPICE COST CENTERS - STATISTICAL BASIS</td>
<td colspan="19">&nbsp;</td>
</tr>
<tr><td></td></tr><tr><td class="component" colspan="26">Agency 1</td></tr>
<tr><td rowspan="2" class="center" valign="top">&nbsp;</td>
<td rowspan="3" class="center" valign="center"> HOSPICE COST CENTER </td>
<td colspan="2" class="center" valign="top">Capital Related Cost</td>
<td rowspan="2" class="center" valign="top">Employee Benefits (gross salaries) </td>
<td rowspan="2" class="center" valign="top">Reconcil- iation </td>
<td rowspan="2" class="center" valign="top">Adminis- trative &amp; General (Accum. Cost) </td>
<td rowspan="2" class="center" valign="top">Mainten- ance &amp; Repairs (square feet) </td>
<td rowspan="2" class="center" valign="top">Operation of Plant (square feet) </td>
<td rowspan="2" class="center" valign="top">Laundry &amp; Linen Service (pounds of laundry) </td>
<td rowspan="2" class="center" valign="top">House- keeping (hours of service) </td>
<td rowspan="2" class="center" valign="top">Dietary (meals served) </td>
<td rowspan="2" class="center" valign="top">Cafeteria (meals served) </td>
<td rowspan="2" class="center" valign="top">Mainten- ance of Personnel (number housed) </td>
<td rowspan="2" class="center" valign="top">Nursing Adminis- tration (direct nurs. hrs) </td>
<td rowspan="2" class="center" valign="top">Central Services &amp; supply (costed requis.) </td>
<td rowspan="2" class="center" valign="top">Pharmacy (costed requis.) </td>
<td rowspan="2" class="center" valign="top">Medical Records &amp; library (time spent) </td>
<td rowspan="2" class="center" valign="top">Social Service (time spent) </td>
<td rowspan="2" class="center" valign="top">Other General Service (specify) </td>
<td rowspan="2" class="center" valign="top">Non-Physician Anesthetists (assigned time) </td>
<td rowspan="2" class="center" valign="top">Nursing School (assigned time) </td>
<td rowspan="2" class="center" valign="top">Interns &amp; Residents salary &amp; fringes (assigned time) </td>
<td rowspan="2" class="center" valign="top">Program Costs (assigned time) </td>
<td rowspan="2" class="center" valign="top">Para-Medical Education (specify) (assigned time) </td>
<td rowspan="2" class="center" valign="top">&nbsp;</td>
</tr>
<tr>
<td class="center" valign="top"><div>Bldgs. &amp;</div><div>Fixtures</div><div>(square</div><div>feet)</div></td>
<td class="center" valign="top"><div>Movable</div><div>Equipment</div><div>(dollar</div><div>value)</div></td>
</tr>
<tr><td class="center">&nbsp;</td>
<td class="center">1</td>
<td class="center">2</td>
<td class="center">4</td>
<td class="center">4A</td>
<td class="center">5</td>
<td class="center">6</td>
<td class="center">7</td>
<td class="center">8</td>
<td class="center">9</td>
<td class="center">10</td>
<td class="center">11</td>
<td class="center">12</td>
<td class="center">13</td>
<td class="center">14</td>
<td class="center">15</td>
<td class="center">16</td>
<td class="center">17</td>
<td class="center">18</td>
<td class="center">19</td>
<td class="center">20</td>
<td class="center">21</td>
<td class="center">22</td>
<td class="center">23</td>
<td class="center">&nbsp;</td>
</tr>
<tr><td class="right">1</td>
<td class="left"> Administrative and General</td>
<td class="data right">{{NumberFormat data-1.00100-00100}}</td>
<td class="data right">{{NumberFormat data-1.00100-00200}}</td>
<td class="data right">{{NumberFormat data-1.00100-00400}}</td>
<td class="data right">{{NumberFormat data-1.00100-04A00}}</td>
<td class="data right">{{NumberFormat data-1.00100-00500}}</td>
<td class="data right">{{NumberFormat data-1.00100-00600}}</td>
<td class="data right">{{NumberFormat data-1.00100-00700}}</td>
<td class="data right">{{NumberFormat data-1.00100-00800}}</td>
<td class="data right">{{NumberFormat data-1.00100-00900}}</td>
<td class="data right">{{NumberFormat data-1.00100-01000}}</td>
<td class="data right">{{NumberFormat data-1.00100-01100}}</td>
<td class="data right">{{NumberFormat data-1.00100-01200}}</td>
<td class="data right">{{NumberFormat data-1.00100-01300}}</td>
<td class="data right">{{NumberFormat data-1.00100-01400}}</td>
<td class="data right">{{NumberFormat data-1.00100-01500}}</td>
<td class="data right">{{NumberFormat data-1.00100-01600}}</td>
<td class="data right">{{NumberFormat data-1.00100-01700}}</td>
<td class="data right">{{NumberFormat data-1.00100-01800}}</td>
<td class="data right">{{NumberFormat data-1.00100-01900}}</td>
<td class="data right">{{NumberFormat data-1.00100-02000}}</td>
<td class="data right">{{NumberFormat data-1.00100-02100}}</td>
<td class="data right">{{NumberFormat data-1.00100-02200}}</td>
<td class="data right">{{NumberFormat data-1.00100-02300}}</td>
<td class="left">1</td>
</tr>
<tr><td class="right">2</td>
<td class="left"> Inpatient - General Care</td>
<td class="data right">{{NumberFormat data-1.00200-00100}}</td>
<td class="data right">{{NumberFormat data-1.00200-00200}}</td>
<td class="data right">{{NumberFormat data-1.00200-00400}}</td>
<td class="data right">{{NumberFormat data-1.00200-04A00}}</td>
<td class="data right">{{NumberFormat data-1.00200-00500}}</td>
<td class="data right">{{NumberFormat data-1.00200-00600}}</td>
<td class="data right">{{NumberFormat data-1.00200-00700}}</td>
<td class="data right">{{NumberFormat data-1.00200-00800}}</td>
<td class="data right">{{NumberFormat data-1.00200-00900}}</td>
<td class="data right">{{NumberFormat data-1.00200-01000}}</td>
<td class="data right">{{NumberFormat data-1.00200-01100}}</td>
<td class="data right">{{NumberFormat data-1.00200-01200}}</td>
<td class="data right">{{NumberFormat data-1.00200-01300}}</td>
<td class="data right">{{NumberFormat data-1.00200-01400}}</td>
<td class="data right">{{NumberFormat data-1.00200-01500}}</td>
<td class="data right">{{NumberFormat data-1.00200-01600}}</td>
<td class="data right">{{NumberFormat data-1.00200-01700}}</td>
<td class="data right">{{NumberFormat data-1.00200-01800}}</td>
<td class="data right">{{NumberFormat data-1.00200-01900}}</td>
<td class="data right">{{NumberFormat data-1.00200-02000}}</td>
<td class="data right">{{NumberFormat data-1.00200-02100}}</td>
<td class="data right">{{NumberFormat data-1.00200-02200}}</td>
<td class="data right">{{NumberFormat data-1.00200-02300}}</td>
<td class="left">2</td>
</tr>
<tr><td class="right">3</td>
<td class="left"> Inpatient - Respite Care</td>
<td class="data right">{{NumberFormat data-1.00300-00100}}</td>
<td class="data right">{{NumberFormat data-1.00300-00200}}</td>
<td class="data right">{{NumberFormat data-1.00300-00400}}</td>
<td class="data right">{{NumberFormat data-1.00300-04A00}}</td>
<td class="data right">{{NumberFormat data-1.00300-00500}}</td>
<td class="data right">{{NumberFormat data-1.00300-00600}}</td>
<td class="data right">{{NumberFormat data-1.00300-00700}}</td>
<td class="data right">{{NumberFormat data-1.00300-00800}}</td>
<td class="data right">{{NumberFormat data-1.00300-00900}}</td>
<td class="data right">{{NumberFormat data-1.00300-01000}}</td>
<td class="data right">{{NumberFormat data-1.00300-01100}}</td>
<td class="data right">{{NumberFormat data-1.00300-01200}}</td>
<td class="data right">{{NumberFormat data-1.00300-01300}}</td>
<td class="data right">{{NumberFormat data-1.00300-01400}}</td>
<td class="data right">{{NumberFormat data-1.00300-01500}}</td>
<td class="data right">{{NumberFormat data-1.00300-01600}}</td>
<td class="data right">{{NumberFormat data-1.00300-01700}}</td>
<td class="data right">{{NumberFormat data-1.00300-01800}}</td>
<td class="data right">{{NumberFormat data-1.00300-01900}}</td>
<td class="data right">{{NumberFormat data-1.00300-02000}}</td>
<td class="data right">{{NumberFormat data-1.00300-02100}}</td>
<td class="data right">{{NumberFormat data-1.00300-02200}}</td>
<td class="data right">{{NumberFormat data-1.00300-02300}}</td>
<td class="left">3</td>
</tr>
<tr><td class="right">4</td>
<td class="left"> Physician Services</td>
<td class="data right">{{NumberFormat data-1.00400-00100}}</td>
<td class="data right">{{NumberFormat data-1.00400-00200}}</td>
<td class="data right">{{NumberFormat data-1.00400-00400}}</td>
<td class="data right">{{NumberFormat data-1.00400-04A00}}</td>
<td class="data right">{{NumberFormat data-1.00400-00500}}</td>
<td class="data right">{{NumberFormat data-1.00400-00600}}</td>
<td class="data right">{{NumberFormat data-1.00400-00700}}</td>
<td class="data right">{{NumberFormat data-1.00400-00800}}</td>
<td class="data right">{{NumberFormat data-1.00400-00900}}</td>
<td class="data right">{{NumberFormat data-1.00400-01000}}</td>
<td class="data right">{{NumberFormat data-1.00400-01100}}</td>
<td class="data right">{{NumberFormat data-1.00400-01200}}</td>
<td class="data right">{{NumberFormat data-1.00400-01300}}</td>
<td class="data right">{{NumberFormat data-1.00400-01400}}</td>
<td class="data right">{{NumberFormat data-1.00400-01500}}</td>
<td class="data right">{{NumberFormat data-1.00400-01600}}</td>
<td class="data right">{{NumberFormat data-1.00400-01700}}</td>
<td class="data right">{{NumberFormat data-1.00400-01800}}</td>
<td class="data right">{{NumberFormat data-1.00400-01900}}</td>
<td class="data right">{{NumberFormat data-1.00400-02000}}</td>
<td class="data right">{{NumberFormat data-1.00400-02100}}</td>
<td class="data right">{{NumberFormat data-1.00400-02200}}</td>
<td class="data right">{{NumberFormat data-1.00400-02300}}</td>
<td class="left">4</td>
</tr>
<tr><td class="right">5</td>
<td class="left"> Nursing Care</td>
<td class="data right">{{NumberFormat data-1.00500-00100}}</td>
<td class="data right">{{NumberFormat data-1.00500-00200}}</td>
<td class="data right">{{NumberFormat data-1.00500-00400}}</td>
<td class="data right">{{NumberFormat data-1.00500-04A00}}</td>
<td class="data right">{{NumberFormat data-1.00500-00500}}</td>
<td class="data right">{{NumberFormat data-1.00500-00600}}</td>
<td class="data right">{{NumberFormat data-1.00500-00700}}</td>
<td class="data right">{{NumberFormat data-1.00500-00800}}</td>
<td class="data right">{{NumberFormat data-1.00500-00900}}</td>
<td class="data right">{{NumberFormat data-1.00500-01000}}</td>
<td class="data right">{{NumberFormat data-1.00500-01100}}</td>
<td class="data right">{{NumberFormat data-1.00500-01200}}</td>
<td class="data right">{{NumberFormat data-1.00500-01300}}</td>
<td class="data right">{{NumberFormat data-1.00500-01400}}</td>
<td class="data right">{{NumberFormat data-1.00500-01500}}</td>
<td class="data right">{{NumberFormat data-1.00500-01600}}</td>
<td class="data right">{{NumberFormat data-1.00500-01700}}</td>
<td class="data right">{{NumberFormat data-1.00500-01800}}</td>
<td class="data right">{{NumberFormat data-1.00500-01900}}</td>
<td class="data right">{{NumberFormat data-1.00500-02000}}</td>
<td class="data right">{{NumberFormat data-1.00500-02100}}</td>
<td class="data right">{{NumberFormat data-1.00500-02200}}</td>
<td class="data right">{{NumberFormat data-1.00500-02300}}</td>
<td class="left">5</td>
</tr>
<tr><td class="right">6</td>
<td class="left"> Nursing Care-Continuous Home Care</td>
<td class="data right">{{NumberFormat data-1.00600-00100}}</td>
<td class="data right">{{NumberFormat data-1.00600-00200}}</td>
<td class="data right">{{NumberFormat data-1.00600-00400}}</td>
<td class="data right">{{NumberFormat data-1.00600-04A00}}</td>
<td class="data right">{{NumberFormat data-1.00600-00500}}</td>
<td class="data right">{{NumberFormat data-1.00600-00600}}</td>
<td class="data right">{{NumberFormat data-1.00600-00700}}</td>
<td class="data right">{{NumberFormat data-1.00600-00800}}</td>
<td class="data right">{{NumberFormat data-1.00600-00900}}</td>
<td class="data right">{{NumberFormat data-1.00600-01000}}</td>
<td class="data right">{{NumberFormat data-1.00600-01100}}</td>
<td class="data right">{{NumberFormat data-1.00600-01200}}</td>
<td class="data right">{{NumberFormat data-1.00600-01300}}</td>
<td class="data right">{{NumberFormat data-1.00600-01400}}</td>
<td class="data right">{{NumberFormat data-1.00600-01500}}</td>
<td class="data right">{{NumberFormat data-1.00600-01600}}</td>
<td class="data right">{{NumberFormat data-1.00600-01700}}</td>
<td class="data right">{{NumberFormat data-1.00600-01800}}</td>
<td class="data right">{{NumberFormat data-1.00600-01900}}</td>
<td class="data right">{{NumberFormat data-1.00600-02000}}</td>
<td class="data right">{{NumberFormat data-1.00600-02100}}</td>
<td class="data right">{{NumberFormat data-1.00600-02200}}</td>
<td class="data right">{{NumberFormat data-1.00600-02300}}</td>
<td class="left">6</td>
</tr>
<tr><td class="right">7</td>
<td class="left"> Physical Therapy</td>
<td class="data right">{{NumberFormat data-1.00700-00100}}</td>
<td class="data right">{{NumberFormat data-1.00700-00200}}</td>
<td class="data right">{{NumberFormat data-1.00700-00400}}</td>
<td class="data right">{{NumberFormat data-1.00700-04A00}}</td>
<td class="data right">{{NumberFormat data-1.00700-00500}}</td>
<td class="data right">{{NumberFormat data-1.00700-00600}}</td>
<td class="data right">{{NumberFormat data-1.00700-00700}}</td>
<td class="data right">{{NumberFormat data-1.00700-00800}}</td>
<td class="data right">{{NumberFormat data-1.00700-00900}}</td>
<td class="data right">{{NumberFormat data-1.00700-01000}}</td>
<td class="data right">{{NumberFormat data-1.00700-01100}}</td>
<td class="data right">{{NumberFormat data-1.00700-01200}}</td>
<td class="data right">{{NumberFormat data-1.00700-01300}}</td>
<td class="data right">{{NumberFormat data-1.00700-01400}}</td>
<td class="data right">{{NumberFormat data-1.00700-01500}}</td>
<td class="data right">{{NumberFormat data-1.00700-01600}}</td>
<td class="data right">{{NumberFormat data-1.00700-01700}}</td>
<td class="data right">{{NumberFormat data-1.00700-01800}}</td>
<td class="data right">{{NumberFormat data-1.00700-01900}}</td>
<td class="data right">{{NumberFormat data-1.00700-02000}}</td>
<td class="data right">{{NumberFormat data-1.00700-02100}}</td>
<td class="data right">{{NumberFormat data-1.00700-02200}}</td>
<td class="data right">{{NumberFormat data-1.00700-02300}}</td>
<td class="left">7</td>
</tr>
<tr><td class="right">8</td>
<td class="left"> Occupational Therapy</td>
<td class="data right">{{NumberFormat data-1.00800-00100}}</td>
<td class="data right">{{NumberFormat data-1.00800-00200}}</td>
<td class="data right">{{NumberFormat data-1.00800-00400}}</td>
<td class="data right">{{NumberFormat data-1.00800-04A00}}</td>
<td class="data right">{{NumberFormat data-1.00800-00500}}</td>
<td class="data right">{{NumberFormat data-1.00800-00600}}</td>
<td class="data right">{{NumberFormat data-1.00800-00700}}</td>
<td class="data right">{{NumberFormat data-1.00800-00800}}</td>
<td class="data right">{{NumberFormat data-1.00800-00900}}</td>
<td class="data right">{{NumberFormat data-1.00800-01000}}</td>
<td class="data right">{{NumberFormat data-1.00800-01100}}</td>
<td class="data right">{{NumberFormat data-1.00800-01200}}</td>
<td class="data right">{{NumberFormat data-1.00800-01300}}</td>
<td class="data right">{{NumberFormat data-1.00800-01400}}</td>
<td class="data right">{{NumberFormat data-1.00800-01500}}</td>
<td class="data right">{{NumberFormat data-1.00800-01600}}</td>
<td class="data right">{{NumberFormat data-1.00800-01700}}</td>
<td class="data right">{{NumberFormat data-1.00800-01800}}</td>
<td class="data right">{{NumberFormat data-1.00800-01900}}</td>
<td class="data right">{{NumberFormat data-1.00800-02000}}</td>
<td class="data right">{{NumberFormat data-1.00800-02100}}</td>
<td class="data right">{{NumberFormat data-1.00800-02200}}</td>
<td class="data right">{{NumberFormat data-1.00800-02300}}</td>
<td class="left">8</td>
</tr>
<tr><td class="right">9</td>
<td class="left"> Speech/ Language Pathology</td>
<td class="data right">{{NumberFormat data-1.00900-00100}}</td>
<td class="data right">{{NumberFormat data-1.00900-00200}}</td>
<td class="data right">{{NumberFormat data-1.00900-00400}}</td>
<td class="data right">{{NumberFormat data-1.00900-04A00}}</td>
<td class="data right">{{NumberFormat data-1.00900-00500}}</td>
<td class="data right">{{NumberFormat data-1.00900-00600}}</td>
<td class="data right">{{NumberFormat data-1.00900-00700}}</td>
<td class="data right">{{NumberFormat data-1.00900-00800}}</td>
<td class="data right">{{NumberFormat data-1.00900-00900}}</td>
<td class="data right">{{NumberFormat data-1.00900-01000}}</td>
<td class="data right">{{NumberFormat data-1.00900-01100}}</td>
<td class="data right">{{NumberFormat data-1.00900-01200}}</td>
<td class="data right">{{NumberFormat data-1.00900-01300}}</td>
<td class="data right">{{NumberFormat data-1.00900-01400}}</td>
<td class="data right">{{NumberFormat data-1.00900-01500}}</td>
<td class="data right">{{NumberFormat data-1.00900-01600}}</td>
<td class="data right">{{NumberFormat data-1.00900-01700}}</td>
<td class="data right">{{NumberFormat data-1.00900-01800}}</td>
<td class="data right">{{NumberFormat data-1.00900-01900}}</td>
<td class="data right">{{NumberFormat data-1.00900-02000}}</td>
<td class="data right">{{NumberFormat data-1.00900-02100}}</td>
<td class="data right">{{NumberFormat data-1.00900-02200}}</td>
<td class="data right">{{NumberFormat data-1.00900-02300}}</td>
<td class="left">9</td>
</tr>
<tr><td class="right">10</td>
<td class="left"> Medical Social Services </td>
<td class="data right">{{NumberFormat data-1.01000-00100}}</td>
<td class="data right">{{NumberFormat data-1.01000-00200}}</td>
<td class="data right">{{NumberFormat data-1.01000-00400}}</td>
<td class="data right">{{NumberFormat data-1.01000-04A00}}</td>
<td class="data right">{{NumberFormat data-1.01000-00500}}</td>
<td class="data right">{{NumberFormat data-1.01000-00600}}</td>
<td class="data right">{{NumberFormat data-1.01000-00700}}</td>
<td class="data right">{{NumberFormat data-1.01000-00800}}</td>
<td class="data right">{{NumberFormat data-1.01000-00900}}</td>
<td class="data right">{{NumberFormat data-1.01000-01000}}</td>
<td class="data right">{{NumberFormat data-1.01000-01100}}</td>
<td class="data right">{{NumberFormat data-1.01000-01200}}</td>
<td class="data right">{{NumberFormat data-1.01000-01300}}</td>
<td class="data right">{{NumberFormat data-1.01000-01400}}</td>
<td class="data right">{{NumberFormat data-1.01000-01500}}</td>
<td class="data right">{{NumberFormat data-1.01000-01600}}</td>
<td class="data right">{{NumberFormat data-1.01000-01700}}</td>
<td class="data right">{{NumberFormat data-1.01000-01800}}</td>
<td class="data right">{{NumberFormat data-1.01000-01900}}</td>
<td class="data right">{{NumberFormat data-1.01000-02000}}</td>
<td class="data right">{{NumberFormat data-1.01000-02100}}</td>
<td class="data right">{{NumberFormat data-1.01000-02200}}</td>
<td class="data right">{{NumberFormat data-1.01000-02300}}</td>
<td class="left">10</td>
</tr>
<tr><td class="right">11</td>
<td class="left"> Spiritual Counseling</td>
<td class="data right">{{NumberFormat data-1.01100-00100}}</td>
<td class="data right">{{NumberFormat data-1.01100-00200}}</td>
<td class="data right">{{NumberFormat data-1.01100-00400}}</td>
<td class="data right">{{NumberFormat data-1.01100-04A00}}</td>
<td class="data right">{{NumberFormat data-1.01100-00500}}</td>
<td class="data right">{{NumberFormat data-1.01100-00600}}</td>
<td class="data right">{{NumberFormat data-1.01100-00700}}</td>
<td class="data right">{{NumberFormat data-1.01100-00800}}</td>
<td class="data right">{{NumberFormat data-1.01100-00900}}</td>
<td class="data right">{{NumberFormat data-1.01100-01000}}</td>
<td class="data right">{{NumberFormat data-1.01100-01100}}</td>
<td class="data right">{{NumberFormat data-1.01100-01200}}</td>
<td class="data right">{{NumberFormat data-1.01100-01300}}</td>
<td class="data right">{{NumberFormat data-1.01100-01400}}</td>
<td class="data right">{{NumberFormat data-1.01100-01500}}</td>
<td class="data right">{{NumberFormat data-1.01100-01600}}</td>
<td class="data right">{{NumberFormat data-1.01100-01700}}</td>
<td class="data right">{{NumberFormat data-1.01100-01800}}</td>
<td class="data right">{{NumberFormat data-1.01100-01900}}</td>
<td class="data right">{{NumberFormat data-1.01100-02000}}</td>
<td class="data right">{{NumberFormat data-1.01100-02100}}</td>
<td class="data right">{{NumberFormat data-1.01100-02200}}</td>
<td class="data right">{{NumberFormat data-1.01100-02300}}</td>
<td class="left">11</td>
</tr>
<tr><td class="right">12</td>
<td class="left"> Dietary Counseling</td>
<td class="data right">{{NumberFormat data-1.01200-00100}}</td>
<td class="data right">{{NumberFormat data-1.01200-00200}}</td>
<td class="data right">{{NumberFormat data-1.01200-00400}}</td>
<td class="data right">{{NumberFormat data-1.01200-04A00}}</td>
<td class="data right">{{NumberFormat data-1.01200-00500}}</td>
<td class="data right">{{NumberFormat data-1.01200-00600}}</td>
<td class="data right">{{NumberFormat data-1.01200-00700}}</td>
<td class="data right">{{NumberFormat data-1.01200-00800}}</td>
<td class="data right">{{NumberFormat data-1.01200-00900}}</td>
<td class="data right">{{NumberFormat data-1.01200-01000}}</td>
<td class="data right">{{NumberFormat data-1.01200-01100}}</td>
<td class="data right">{{NumberFormat data-1.01200-01200}}</td>
<td class="data right">{{NumberFormat data-1.01200-01300}}</td>
<td class="data right">{{NumberFormat data-1.01200-01400}}</td>
<td class="data right">{{NumberFormat data-1.01200-01500}}</td>
<td class="data right">{{NumberFormat data-1.01200-01600}}</td>
<td class="data right">{{NumberFormat data-1.01200-01700}}</td>
<td class="data right">{{NumberFormat data-1.01200-01800}}</td>
<td class="data right">{{NumberFormat data-1.01200-01900}}</td>
<td class="data right">{{NumberFormat data-1.01200-02000}}</td>
<td class="data right">{{NumberFormat data-1.01200-02100}}</td>
<td class="data right">{{NumberFormat data-1.01200-02200}}</td>
<td class="data right">{{NumberFormat data-1.01200-02300}}</td>
<td class="left">12</td>
</tr>
<tr><td class="right">13</td>
<td class="left"> Counseling - Other</td>
<td class="data right">{{NumberFormat data-1.01300-00100}}</td>
<td class="data right">{{NumberFormat data-1.01300-00200}}</td>
<td class="data right">{{NumberFormat data-1.01300-00400}}</td>
<td class="data right">{{NumberFormat data-1.01300-04A00}}</td>
<td class="data right">{{NumberFormat data-1.01300-00500}}</td>
<td class="data right">{{NumberFormat data-1.01300-00600}}</td>
<td class="data right">{{NumberFormat data-1.01300-00700}}</td>
<td class="data right">{{NumberFormat data-1.01300-00800}}</td>
<td class="data right">{{NumberFormat data-1.01300-00900}}</td>
<td class="data right">{{NumberFormat data-1.01300-01000}}</td>
<td class="data right">{{NumberFormat data-1.01300-01100}}</td>
<td class="data right">{{NumberFormat data-1.01300-01200}}</td>
<td class="data right">{{NumberFormat data-1.01300-01300}}</td>
<td class="data right">{{NumberFormat data-1.01300-01400}}</td>
<td class="data right">{{NumberFormat data-1.01300-01500}}</td>
<td class="data right">{{NumberFormat data-1.01300-01600}}</td>
<td class="data right">{{NumberFormat data-1.01300-01700}}</td>
<td class="data right">{{NumberFormat data-1.01300-01800}}</td>
<td class="data right">{{NumberFormat data-1.01300-01900}}</td>
<td class="data right">{{NumberFormat data-1.01300-02000}}</td>
<td class="data right">{{NumberFormat data-1.01300-02100}}</td>
<td class="data right">{{NumberFormat data-1.01300-02200}}</td>
<td class="data right">{{NumberFormat data-1.01300-02300}}</td>
<td class="left">13</td>
</tr>
<tr><td class="right">14</td>
<td class="left"> Home Health Aide and Homemaker</td>
<td class="data right">{{NumberFormat data-1.01400-00100}}</td>
<td class="data right">{{NumberFormat data-1.01400-00200}}</td>
<td class="data right">{{NumberFormat data-1.01400-00400}}</td>
<td class="data right">{{NumberFormat data-1.01400-04A00}}</td>
<td class="data right">{{NumberFormat data-1.01400-00500}}</td>
<td class="data right">{{NumberFormat data-1.01400-00600}}</td>
<td class="data right">{{NumberFormat data-1.01400-00700}}</td>
<td class="data right">{{NumberFormat data-1.01400-00800}}</td>
<td class="data right">{{NumberFormat data-1.01400-00900}}</td>
<td class="data right">{{NumberFormat data-1.01400-01000}}</td>
<td class="data right">{{NumberFormat data-1.01400-01100}}</td>
<td class="data right">{{NumberFormat data-1.01400-01200}}</td>
<td class="data right">{{NumberFormat data-1.01400-01300}}</td>
<td class="data right">{{NumberFormat data-1.01400-01400}}</td>
<td class="data right">{{NumberFormat data-1.01400-01500}}</td>
<td class="data right">{{NumberFormat data-1.01400-01600}}</td>
<td class="data right">{{NumberFormat data-1.01400-01700}}</td>
<td class="data right">{{NumberFormat data-1.01400-01800}}</td>
<td class="data right">{{NumberFormat data-1.01400-01900}}</td>
<td class="data right">{{NumberFormat data-1.01400-02000}}</td>
<td class="data right">{{NumberFormat data-1.01400-02100}}</td>
<td class="data right">{{NumberFormat data-1.01400-02200}}</td>
<td class="data right">{{NumberFormat data-1.01400-02300}}</td>
<td class="left">14</td>
</tr>
<tr><td class="right">15</td>
<td class="left"> HH Aide &amp; Homemaker - Cont. Home Care</td>
<td class="data right">{{NumberFormat data-1.01500-00100}}</td>
<td class="data right">{{NumberFormat data-1.01500-00200}}</td>
<td class="data right">{{NumberFormat data-1.01500-00400}}</td>
<td class="data right">{{NumberFormat data-1.01500-04A00}}</td>
<td class="data right">{{NumberFormat data-1.01500-00500}}</td>
<td class="data right">{{NumberFormat data-1.01500-00600}}</td>
<td class="data right">{{NumberFormat data-1.01500-00700}}</td>
<td class="data right">{{NumberFormat data-1.01500-00800}}</td>
<td class="data right">{{NumberFormat data-1.01500-00900}}</td>
<td class="data right">{{NumberFormat data-1.01500-01000}}</td>
<td class="data right">{{NumberFormat data-1.01500-01100}}</td>
<td class="data right">{{NumberFormat data-1.01500-01200}}</td>
<td class="data right">{{NumberFormat data-1.01500-01300}}</td>
<td class="data right">{{NumberFormat data-1.01500-01400}}</td>
<td class="data right">{{NumberFormat data-1.01500-01500}}</td>
<td class="data right">{{NumberFormat data-1.01500-01600}}</td>
<td class="data right">{{NumberFormat data-1.01500-01700}}</td>
<td class="data right">{{NumberFormat data-1.01500-01800}}</td>
<td class="data right">{{NumberFormat data-1.01500-01900}}</td>
<td class="data right">{{NumberFormat data-1.01500-02000}}</td>
<td class="data right">{{NumberFormat data-1.01500-02100}}</td>
<td class="data right">{{NumberFormat data-1.01500-02200}}</td>
<td class="data right">{{NumberFormat data-1.01500-02300}}</td>
<td class="left">15</td>
</tr>
<tr><td class="right">16</td>
<td class="left"> Other</td>
<td class="data right">{{NumberFormat data-1.01600-00100}}</td>
<td class="data right">{{NumberFormat data-1.01600-00200}}</td>
<td class="data right">{{NumberFormat data-1.01600-00400}}</td>
<td class="data right">{{NumberFormat data-1.01600-04A00}}</td>
<td class="data right">{{NumberFormat data-1.01600-00500}}</td>
<td class="data right">{{NumberFormat data-1.01600-00600}}</td>
<td class="data right">{{NumberFormat data-1.01600-00700}}</td>
<td class="data right">{{NumberFormat data-1.01600-00800}}</td>
<td class="data right">{{NumberFormat data-1.01600-00900}}</td>
<td class="data right">{{NumberFormat data-1.01600-01000}}</td>
<td class="data right">{{NumberFormat data-1.01600-01100}}</td>
<td class="data right">{{NumberFormat data-1.01600-01200}}</td>
<td class="data right">{{NumberFormat data-1.01600-01300}}</td>
<td class="data right">{{NumberFormat data-1.01600-01400}}</td>
<td class="data right">{{NumberFormat data-1.01600-01500}}</td>
<td class="data right">{{NumberFormat data-1.01600-01600}}</td>
<td class="data right">{{NumberFormat data-1.01600-01700}}</td>
<td class="data right">{{NumberFormat data-1.01600-01800}}</td>
<td class="data right">{{NumberFormat data-1.01600-01900}}</td>
<td class="data right">{{NumberFormat data-1.01600-02000}}</td>
<td class="data right">{{NumberFormat data-1.01600-02100}}</td>
<td class="data right">{{NumberFormat data-1.01600-02200}}</td>
<td class="data right">{{NumberFormat data-1.01600-02300}}</td>
<td class="left">16</td>
</tr>
<tr><td class="right">17</td>
<td class="left"> Drugs, Biological and Infusion Therapy</td>
<td class="data right">{{NumberFormat data-1.01700-00100}}</td>
<td class="data right">{{NumberFormat data-1.01700-00200}}</td>
<td class="data right">{{NumberFormat data-1.01700-00400}}</td>
<td class="data right">{{NumberFormat data-1.01700-04A00}}</td>
<td class="data right">{{NumberFormat data-1.01700-00500}}</td>
<td class="data right">{{NumberFormat data-1.01700-00600}}</td>
<td class="data right">{{NumberFormat data-1.01700-00700}}</td>
<td class="data right">{{NumberFormat data-1.01700-00800}}</td>
<td class="data right">{{NumberFormat data-1.01700-00900}}</td>
<td class="data right">{{NumberFormat data-1.01700-01000}}</td>
<td class="data right">{{NumberFormat data-1.01700-01100}}</td>
<td class="data right">{{NumberFormat data-1.01700-01200}}</td>
<td class="data right">{{NumberFormat data-1.01700-01300}}</td>
<td class="data right">{{NumberFormat data-1.01700-01400}}</td>
<td class="data right">{{NumberFormat data-1.01700-01500}}</td>
<td class="data right">{{NumberFormat data-1.01700-01600}}</td>
<td class="data right">{{NumberFormat data-1.01700-01700}}</td>
<td class="data right">{{NumberFormat data-1.01700-01800}}</td>
<td class="data right">{{NumberFormat data-1.01700-01900}}</td>
<td class="data right">{{NumberFormat data-1.01700-02000}}</td>
<td class="data right">{{NumberFormat data-1.01700-02100}}</td>
<td class="data right">{{NumberFormat data-1.01700-02200}}</td>
<td class="data right">{{NumberFormat data-1.01700-02300}}</td>
<td class="left">17</td>
</tr>
<tr><td class="right">18</td>
<td class="left"> Analgesics</td>
<td class="data right">{{NumberFormat data-1.01800-00100}}</td>
<td class="data right">{{NumberFormat data-1.01800-00200}}</td>
<td class="data right">{{NumberFormat data-1.01800-00400}}</td>
<td class="data right">{{NumberFormat data-1.01800-04A00}}</td>
<td class="data right">{{NumberFormat data-1.01800-00500}}</td>
<td class="data right">{{NumberFormat data-1.01800-00600}}</td>
<td class="data right">{{NumberFormat data-1.01800-00700}}</td>
<td class="data right">{{NumberFormat data-1.01800-00800}}</td>
<td class="data right">{{NumberFormat data-1.01800-00900}}</td>
<td class="data right">{{NumberFormat data-1.01800-01000}}</td>
<td class="data right">{{NumberFormat data-1.01800-01100}}</td>
<td class="data right">{{NumberFormat data-1.01800-01200}}</td>
<td class="data right">{{NumberFormat data-1.01800-01300}}</td>
<td class="data right">{{NumberFormat data-1.01800-01400}}</td>
<td class="data right">{{NumberFormat data-1.01800-01500}}</td>
<td class="data right">{{NumberFormat data-1.01800-01600}}</td>
<td class="data right">{{NumberFormat data-1.01800-01700}}</td>
<td class="data right">{{NumberFormat data-1.01800-01800}}</td>
<td class="data right">{{NumberFormat data-1.01800-01900}}</td>
<td class="data right">{{NumberFormat data-1.01800-02000}}</td>
<td class="data right">{{NumberFormat data-1.01800-02100}}</td>
<td class="data right">{{NumberFormat data-1.01800-02200}}</td>
<td class="data right">{{NumberFormat data-1.01800-02300}}</td>
<td class="left">18</td>
</tr>
<tr><td class="right">19</td>
<td class="left"> Sedatives / Hypnotics</td>
<td class="data right">{{NumberFormat data-1.01900-00100}}</td>
<td class="data right">{{NumberFormat data-1.01900-00200}}</td>
<td class="data right">{{NumberFormat data-1.01900-00400}}</td>
<td class="data right">{{NumberFormat data-1.01900-04A00}}</td>
<td class="data right">{{NumberFormat data-1.01900-00500}}</td>
<td class="data right">{{NumberFormat data-1.01900-00600}}</td>
<td class="data right">{{NumberFormat data-1.01900-00700}}</td>
<td class="data right">{{NumberFormat data-1.01900-00800}}</td>
<td class="data right">{{NumberFormat data-1.01900-00900}}</td>
<td class="data right">{{NumberFormat data-1.01900-01000}}</td>
<td class="data right">{{NumberFormat data-1.01900-01100}}</td>
<td class="data right">{{NumberFormat data-1.01900-01200}}</td>
<td class="data right">{{NumberFormat data-1.01900-01300}}</td>
<td class="data right">{{NumberFormat data-1.01900-01400}}</td>
<td class="data right">{{NumberFormat data-1.01900-01500}}</td>
<td class="data right">{{NumberFormat data-1.01900-01600}}</td>
<td class="data right">{{NumberFormat data-1.01900-01700}}</td>
<td class="data right">{{NumberFormat data-1.01900-01800}}</td>
<td class="data right">{{NumberFormat data-1.01900-01900}}</td>
<td class="data right">{{NumberFormat data-1.01900-02000}}</td>
<td class="data right">{{NumberFormat data-1.01900-02100}}</td>
<td class="data right">{{NumberFormat data-1.01900-02200}}</td>
<td class="data right">{{NumberFormat data-1.01900-02300}}</td>
<td class="left">19</td>
</tr>
<tr><td class="right">20</td>
<td class="left"> Other - Specify</td>
<td class="data right">{{NumberFormat data-1.02000-00100}}</td>
<td class="data right">{{NumberFormat data-1.02000-00200}}</td>
<td class="data right">{{NumberFormat data-1.02000-00400}}</td>
<td class="data right">{{NumberFormat data-1.02000-04A00}}</td>
<td class="data right">{{NumberFormat data-1.02000-00500}}</td>
<td class="data right">{{NumberFormat data-1.02000-00600}}</td>
<td class="data right">{{NumberFormat data-1.02000-00700}}</td>
<td class="data right">{{NumberFormat data-1.02000-00800}}</td>
<td class="data right">{{NumberFormat data-1.02000-00900}}</td>
<td class="data right">{{NumberFormat data-1.02000-01000}}</td>
<td class="data right">{{NumberFormat data-1.02000-01100}}</td>
<td class="data right">{{NumberFormat data-1.02000-01200}}</td>
<td class="data right">{{NumberFormat data-1.02000-01300}}</td>
<td class="data right">{{NumberFormat data-1.02000-01400}}</td>
<td class="data right">{{NumberFormat data-1.02000-01500}}</td>
<td class="data right">{{NumberFormat data-1.02000-01600}}</td>
<td class="data right">{{NumberFormat data-1.02000-01700}}</td>
<td class="data right">{{NumberFormat data-1.02000-01800}}</td>
<td class="data right">{{NumberFormat data-1.02000-01900}}</td>
<td class="data right">{{NumberFormat data-1.02000-02000}}</td>
<td class="data right">{{NumberFormat data-1.02000-02100}}</td>
<td class="data right">{{NumberFormat data-1.02000-02200}}</td>
<td class="data right">{{NumberFormat data-1.02000-02300}}</td>
<td class="left">20</td>
</tr>
<tr><td class="right">21</td>
<td class="left"> Durable Medical Equipment/Oxygen</td>
<td class="data right">{{NumberFormat data-1.02100-00100}}</td>
<td class="data right">{{NumberFormat data-1.02100-00200}}</td>
<td class="data right">{{NumberFormat data-1.02100-00400}}</td>
<td class="data right">{{NumberFormat data-1.02100-04A00}}</td>
<td class="data right">{{NumberFormat data-1.02100-00500}}</td>
<td class="data right">{{NumberFormat data-1.02100-00600}}</td>
<td class="data right">{{NumberFormat data-1.02100-00700}}</td>
<td class="data right">{{NumberFormat data-1.02100-00800}}</td>
<td class="data right">{{NumberFormat data-1.02100-00900}}</td>
<td class="data right">{{NumberFormat data-1.02100-01000}}</td>
<td class="data right">{{NumberFormat data-1.02100-01100}}</td>
<td class="data right">{{NumberFormat data-1.02100-01200}}</td>
<td class="data right">{{NumberFormat data-1.02100-01300}}</td>
<td class="data right">{{NumberFormat data-1.02100-01400}}</td>
<td class="data right">{{NumberFormat data-1.02100-01500}}</td>
<td class="data right">{{NumberFormat data-1.02100-01600}}</td>
<td class="data right">{{NumberFormat data-1.02100-01700}}</td>
<td class="data right">{{NumberFormat data-1.02100-01800}}</td>
<td class="data right">{{NumberFormat data-1.02100-01900}}</td>
<td class="data right">{{NumberFormat data-1.02100-02000}}</td>
<td class="data right">{{NumberFormat data-1.02100-02100}}</td>
<td class="data right">{{NumberFormat data-1.02100-02200}}</td>
<td class="data right">{{NumberFormat data-1.02100-02300}}</td>
<td class="left">21</td>
</tr>
<tr><td class="right">22</td>
<td class="left"> Patient Transportation</td>
<td class="data right">{{NumberFormat data-1.02200-00100}}</td>
<td class="data right">{{NumberFormat data-1.02200-00200}}</td>
<td class="data right">{{NumberFormat data-1.02200-00400}}</td>
<td class="data right">{{NumberFormat data-1.02200-04A00}}</td>
<td class="data right">{{NumberFormat data-1.02200-00500}}</td>
<td class="data right">{{NumberFormat data-1.02200-00600}}</td>
<td class="data right">{{NumberFormat data-1.02200-00700}}</td>
<td class="data right">{{NumberFormat data-1.02200-00800}}</td>
<td class="data right">{{NumberFormat data-1.02200-00900}}</td>
<td class="data right">{{NumberFormat data-1.02200-01000}}</td>
<td class="data right">{{NumberFormat data-1.02200-01100}}</td>
<td class="data right">{{NumberFormat data-1.02200-01200}}</td>
<td class="data right">{{NumberFormat data-1.02200-01300}}</td>
<td class="data right">{{NumberFormat data-1.02200-01400}}</td>
<td class="data right">{{NumberFormat data-1.02200-01500}}</td>
<td class="data right">{{NumberFormat data-1.02200-01600}}</td>
<td class="data right">{{NumberFormat data-1.02200-01700}}</td>
<td class="data right">{{NumberFormat data-1.02200-01800}}</td>
<td class="data right">{{NumberFormat data-1.02200-01900}}</td>
<td class="data right">{{NumberFormat data-1.02200-02000}}</td>
<td class="data right">{{NumberFormat data-1.02200-02100}}</td>
<td class="data right">{{NumberFormat data-1.02200-02200}}</td>
<td class="data right">{{NumberFormat data-1.02200-02300}}</td>
<td class="left">22</td>
</tr>
<tr><td class="right">23</td>
<td class="left"> Imaging Services</td>
<td class="data right">{{NumberFormat data-1.02300-00100}}</td>
<td class="data right">{{NumberFormat data-1.02300-00200}}</td>
<td class="data right">{{NumberFormat data-1.02300-00400}}</td>
<td class="data right">{{NumberFormat data-1.02300-04A00}}</td>
<td class="data right">{{NumberFormat data-1.02300-00500}}</td>
<td class="data right">{{NumberFormat data-1.02300-00600}}</td>
<td class="data right">{{NumberFormat data-1.02300-00700}}</td>
<td class="data right">{{NumberFormat data-1.02300-00800}}</td>
<td class="data right">{{NumberFormat data-1.02300-00900}}</td>
<td class="data right">{{NumberFormat data-1.02300-01000}}</td>
<td class="data right">{{NumberFormat data-1.02300-01100}}</td>
<td class="data right">{{NumberFormat data-1.02300-01200}}</td>
<td class="data right">{{NumberFormat data-1.02300-01300}}</td>
<td class="data right">{{NumberFormat data-1.02300-01400}}</td>
<td class="data right">{{NumberFormat data-1.02300-01500}}</td>
<td class="data right">{{NumberFormat data-1.02300-01600}}</td>
<td class="data right">{{NumberFormat data-1.02300-01700}}</td>
<td class="data right">{{NumberFormat data-1.02300-01800}}</td>
<td class="data right">{{NumberFormat data-1.02300-01900}}</td>
<td class="data right">{{NumberFormat data-1.02300-02000}}</td>
<td class="data right">{{NumberFormat data-1.02300-02100}}</td>
<td class="data right">{{NumberFormat data-1.02300-02200}}</td>
<td class="data right">{{NumberFormat data-1.02300-02300}}</td>
<td class="left">23</td>
</tr>
<tr><td class="right">24</td>
<td class="left"> Labs and Diagnostics</td>
<td class="data right">{{NumberFormat data-1.02400-00100}}</td>
<td class="data right">{{NumberFormat data-1.02400-00200}}</td>
<td class="data right">{{NumberFormat data-1.02400-00400}}</td>
<td class="data right">{{NumberFormat data-1.02400-04A00}}</td>
<td class="data right">{{NumberFormat data-1.02400-00500}}</td>
<td class="data right">{{NumberFormat data-1.02400-00600}}</td>
<td class="data right">{{NumberFormat data-1.02400-00700}}</td>
<td class="data right">{{NumberFormat data-1.02400-00800}}</td>
<td class="data right">{{NumberFormat data-1.02400-00900}}</td>
<td class="data right">{{NumberFormat data-1.02400-01000}}</td>
<td class="data right">{{NumberFormat data-1.02400-01100}}</td>
<td class="data right">{{NumberFormat data-1.02400-01200}}</td>
<td class="data right">{{NumberFormat data-1.02400-01300}}</td>
<td class="data right">{{NumberFormat data-1.02400-01400}}</td>
<td class="data right">{{NumberFormat data-1.02400-01500}}</td>
<td class="data right">{{NumberFormat data-1.02400-01600}}</td>
<td class="data right">{{NumberFormat data-1.02400-01700}}</td>
<td class="data right">{{NumberFormat data-1.02400-01800}}</td>
<td class="data right">{{NumberFormat data-1.02400-01900}}</td>
<td class="data right">{{NumberFormat data-1.02400-02000}}</td>
<td class="data right">{{NumberFormat data-1.02400-02100}}</td>
<td class="data right">{{NumberFormat data-1.02400-02200}}</td>
<td class="data right">{{NumberFormat data-1.02400-02300}}</td>
<td class="left">24</td>
</tr>
<tr><td class="right">25</td>
<td class="left"> Medical Supplies</td>
<td class="data right">{{NumberFormat data-1.02500-00100}}</td>
<td class="data right">{{NumberFormat data-1.02500-00200}}</td>
<td class="data right">{{NumberFormat data-1.02500-00400}}</td>
<td class="data right">{{NumberFormat data-1.02500-04A00}}</td>
<td class="data right">{{NumberFormat data-1.02500-00500}}</td>
<td class="data right">{{NumberFormat data-1.02500-00600}}</td>
<td class="data right">{{NumberFormat data-1.02500-00700}}</td>
<td class="data right">{{NumberFormat data-1.02500-00800}}</td>
<td class="data right">{{NumberFormat data-1.02500-00900}}</td>
<td class="data right">{{NumberFormat data-1.02500-01000}}</td>
<td class="data right">{{NumberFormat data-1.02500-01100}}</td>
<td class="data right">{{NumberFormat data-1.02500-01200}}</td>
<td class="data right">{{NumberFormat data-1.02500-01300}}</td>
<td class="data right">{{NumberFormat data-1.02500-01400}}</td>
<td class="data right">{{NumberFormat data-1.02500-01500}}</td>
<td class="data right">{{NumberFormat data-1.02500-01600}}</td>
<td class="data right">{{NumberFormat data-1.02500-01700}}</td>
<td class="data right">{{NumberFormat data-1.02500-01800}}</td>
<td class="data right">{{NumberFormat data-1.02500-01900}}</td>
<td class="data right">{{NumberFormat data-1.02500-02000}}</td>
<td class="data right">{{NumberFormat data-1.02500-02100}}</td>
<td class="data right">{{NumberFormat data-1.02500-02200}}</td>
<td class="data right">{{NumberFormat data-1.02500-02300}}</td>
<td class="left">25</td>
</tr>
<tr><td class="right">26</td>
<td class="left"> Outpatient Services (including E/R Dept.)</td>
<td class="data right">{{NumberFormat data-1.02600-00100}}</td>
<td class="data right">{{NumberFormat data-1.02600-00200}}</td>
<td class="data right">{{NumberFormat data-1.02600-00400}}</td>
<td class="data right">{{NumberFormat data-1.02600-04A00}}</td>
<td class="data right">{{NumberFormat data-1.02600-00500}}</td>
<td class="data right">{{NumberFormat data-1.02600-00600}}</td>
<td class="data right">{{NumberFormat data-1.02600-00700}}</td>
<td class="data right">{{NumberFormat data-1.02600-00800}}</td>
<td class="data right">{{NumberFormat data-1.02600-00900}}</td>
<td class="data right">{{NumberFormat data-1.02600-01000}}</td>
<td class="data right">{{NumberFormat data-1.02600-01100}}</td>
<td class="data right">{{NumberFormat data-1.02600-01200}}</td>
<td class="data right">{{NumberFormat data-1.02600-01300}}</td>
<td class="data right">{{NumberFormat data-1.02600-01400}}</td>
<td class="data right">{{NumberFormat data-1.02600-01500}}</td>
<td class="data right">{{NumberFormat data-1.02600-01600}}</td>
<td class="data right">{{NumberFormat data-1.02600-01700}}</td>
<td class="data right">{{NumberFormat data-1.02600-01800}}</td>
<td class="data right">{{NumberFormat data-1.02600-01900}}</td>
<td class="data right">{{NumberFormat data-1.02600-02000}}</td>
<td class="data right">{{NumberFormat data-1.02600-02100}}</td>
<td class="data right">{{NumberFormat data-1.02600-02200}}</td>
<td class="data right">{{NumberFormat data-1.02600-02300}}</td>
<td class="left">26</td>
</tr>
<tr><td class="right">27</td>
<td class="left"> Radiation Therapy</td>
<td class="data right">{{NumberFormat data-1.02700-00100}}</td>
<td class="data right">{{NumberFormat data-1.02700-00200}}</td>
<td class="data right">{{NumberFormat data-1.02700-00400}}</td>
<td class="data right">{{NumberFormat data-1.02700-04A00}}</td>
<td class="data right">{{NumberFormat data-1.02700-00500}}</td>
<td class="data right">{{NumberFormat data-1.02700-00600}}</td>
<td class="data right">{{NumberFormat data-1.02700-00700}}</td>
<td class="data right">{{NumberFormat data-1.02700-00800}}</td>
<td class="data right">{{NumberFormat data-1.02700-00900}}</td>
<td class="data right">{{NumberFormat data-1.02700-01000}}</td>
<td class="data right">{{NumberFormat data-1.02700-01100}}</td>
<td class="data right">{{NumberFormat data-1.02700-01200}}</td>
<td class="data right">{{NumberFormat data-1.02700-01300}}</td>
<td class="data right">{{NumberFormat data-1.02700-01400}}</td>
<td class="data right">{{NumberFormat data-1.02700-01500}}</td>
<td class="data right">{{NumberFormat data-1.02700-01600}}</td>
<td class="data right">{{NumberFormat data-1.02700-01700}}</td>
<td class="data right">{{NumberFormat data-1.02700-01800}}</td>
<td class="data right">{{NumberFormat data-1.02700-01900}}</td>
<td class="data right">{{NumberFormat data-1.02700-02000}}</td>
<td class="data right">{{NumberFormat data-1.02700-02100}}</td>
<td class="data right">{{NumberFormat data-1.02700-02200}}</td>
<td class="data right">{{NumberFormat data-1.02700-02300}}</td>
<td class="left">27</td>
</tr>
<tr><td class="right">28</td>
<td class="left"> Chemotherapy</td>
<td class="data right">{{NumberFormat data-1.02800-00100}}</td>
<td class="data right">{{NumberFormat data-1.02800-00200}}</td>
<td class="data right">{{NumberFormat data-1.02800-00400}}</td>
<td class="data right">{{NumberFormat data-1.02800-04A00}}</td>
<td class="data right">{{NumberFormat data-1.02800-00500}}</td>
<td class="data right">{{NumberFormat data-1.02800-00600}}</td>
<td class="data right">{{NumberFormat data-1.02800-00700}}</td>
<td class="data right">{{NumberFormat data-1.02800-00800}}</td>
<td class="data right">{{NumberFormat data-1.02800-00900}}</td>
<td class="data right">{{NumberFormat data-1.02800-01000}}</td>
<td class="data right">{{NumberFormat data-1.02800-01100}}</td>
<td class="data right">{{NumberFormat data-1.02800-01200}}</td>
<td class="data right">{{NumberFormat data-1.02800-01300}}</td>
<td class="data right">{{NumberFormat data-1.02800-01400}}</td>
<td class="data right">{{NumberFormat data-1.02800-01500}}</td>
<td class="data right">{{NumberFormat data-1.02800-01600}}</td>
<td class="data right">{{NumberFormat data-1.02800-01700}}</td>
<td class="data right">{{NumberFormat data-1.02800-01800}}</td>
<td class="data right">{{NumberFormat data-1.02800-01900}}</td>
<td class="data right">{{NumberFormat data-1.02800-02000}}</td>
<td class="data right">{{NumberFormat data-1.02800-02100}}</td>
<td class="data right">{{NumberFormat data-1.02800-02200}}</td>
<td class="data right">{{NumberFormat data-1.02800-02300}}</td>
<td class="left">28</td>
</tr>
<tr><td class="right">29</td>
<td class="left"> Other</td>
<td class="data right">{{NumberFormat data-1.02900-00100}}</td>
<td class="data right">{{NumberFormat data-1.02900-00200}}</td>
<td class="data right">{{NumberFormat data-1.02900-00400}}</td>
<td class="data right">{{NumberFormat data-1.02900-04A00}}</td>
<td class="data right">{{NumberFormat data-1.02900-00500}}</td>
<td class="data right">{{NumberFormat data-1.02900-00600}}</td>
<td class="data right">{{NumberFormat data-1.02900-00700}}</td>
<td class="data right">{{NumberFormat data-1.02900-00800}}</td>
<td class="data right">{{NumberFormat data-1.02900-00900}}</td>
<td class="data right">{{NumberFormat data-1.02900-01000}}</td>
<td class="data right">{{NumberFormat data-1.02900-01100}}</td>
<td class="data right">{{NumberFormat data-1.02900-01200}}</td>
<td class="data right">{{NumberFormat data-1.02900-01300}}</td>
<td class="data right">{{NumberFormat data-1.02900-01400}}</td>
<td class="data right">{{NumberFormat data-1.02900-01500}}</td>
<td class="data right">{{NumberFormat data-1.02900-01600}}</td>
<td class="data right">{{NumberFormat data-1.02900-01700}}</td>
<td class="data right">{{NumberFormat data-1.02900-01800}}</td>
<td class="data right">{{NumberFormat data-1.02900-01900}}</td>
<td class="data right">{{NumberFormat data-1.02900-02000}}</td>
<td class="data right">{{NumberFormat data-1.02900-02100}}</td>
<td class="data right">{{NumberFormat data-1.02900-02200}}</td>
<td class="data right">{{NumberFormat data-1.02900-02300}}</td>
<td class="left">29</td>
</tr>
<tr><td class="right">30</td>
<td class="left"> Bereavement Program Costs</td>
<td class="data right">{{NumberFormat data-1.03000-00100}}</td>
<td class="data right">{{NumberFormat data-1.03000-00200}}</td>
<td class="data right">{{NumberFormat data-1.03000-00400}}</td>
<td class="data right">{{NumberFormat data-1.03000-04A00}}</td>
<td class="data right">{{NumberFormat data-1.03000-00500}}</td>
<td class="data right">{{NumberFormat data-1.03000-00600}}</td>
<td class="data right">{{NumberFormat data-1.03000-00700}}</td>
<td class="data right">{{NumberFormat data-1.03000-00800}}</td>
<td class="data right">{{NumberFormat data-1.03000-00900}}</td>
<td class="data right">{{NumberFormat data-1.03000-01000}}</td>
<td class="data right">{{NumberFormat data-1.03000-01100}}</td>
<td class="data right">{{NumberFormat data-1.03000-01200}}</td>
<td class="data right">{{NumberFormat data-1.03000-01300}}</td>
<td class="data right">{{NumberFormat data-1.03000-01400}}</td>
<td class="data right">{{NumberFormat data-1.03000-01500}}</td>
<td class="data right">{{NumberFormat data-1.03000-01600}}</td>
<td class="data right">{{NumberFormat data-1.03000-01700}}</td>
<td class="data right">{{NumberFormat data-1.03000-01800}}</td>
<td class="data right">{{NumberFormat data-1.03000-01900}}</td>
<td class="data right">{{NumberFormat data-1.03000-02000}}</td>
<td class="data right">{{NumberFormat data-1.03000-02100}}</td>
<td class="data right">{{NumberFormat data-1.03000-02200}}</td>
<td class="data right">{{NumberFormat data-1.03000-02300}}</td>
<td class="left">30</td>
</tr>
<tr><td class="right">31</td>
<td class="left"> Volunteer Program Costs</td>
<td class="data right">{{NumberFormat data-1.03100-00100}}</td>
<td class="data right">{{NumberFormat data-1.03100-00200}}</td>
<td class="data right">{{NumberFormat data-1.03100-00400}}</td>
<td class="data right">{{NumberFormat data-1.03100-04A00}}</td>
<td class="data right">{{NumberFormat data-1.03100-00500}}</td>
<td class="data right">{{NumberFormat data-1.03100-00600}}</td>
<td class="data right">{{NumberFormat data-1.03100-00700}}</td>
<td class="data right">{{NumberFormat data-1.03100-00800}}</td>
<td class="data right">{{NumberFormat data-1.03100-00900}}</td>
<td class="data right">{{NumberFormat data-1.03100-01000}}</td>
<td class="data right">{{NumberFormat data-1.03100-01100}}</td>
<td class="data right">{{NumberFormat data-1.03100-01200}}</td>
<td class="data right">{{NumberFormat data-1.03100-01300}}</td>
<td class="data right">{{NumberFormat data-1.03100-01400}}</td>
<td class="data right">{{NumberFormat data-1.03100-01500}}</td>
<td class="data right">{{NumberFormat data-1.03100-01600}}</td>
<td class="data right">{{NumberFormat data-1.03100-01700}}</td>
<td class="data right">{{NumberFormat data-1.03100-01800}}</td>
<td class="data right">{{NumberFormat data-1.03100-01900}}</td>
<td class="data right">{{NumberFormat data-1.03100-02000}}</td>
<td class="data right">{{NumberFormat data-1.03100-02100}}</td>
<td class="data right">{{NumberFormat data-1.03100-02200}}</td>
<td class="data right">{{NumberFormat data-1.03100-02300}}</td>
<td class="left">31</td>
</tr>
<tr><td class="right">32</td>
<td class="left"> Fundraising</td>
<td class="data right">{{NumberFormat data-1.03200-00100}}</td>
<td class="data right">{{NumberFormat data-1.03200-00200}}</td>
<td class="data right">{{NumberFormat data-1.03200-00400}}</td>
<td class="data right">{{NumberFormat data-1.03200-04A00}}</td>
<td class="data right">{{NumberFormat data-1.03200-00500}}</td>
<td class="data right">{{NumberFormat data-1.03200-00600}}</td>
<td class="data right">{{NumberFormat data-1.03200-00700}}</td>
<td class="data right">{{NumberFormat data-1.03200-00800}}</td>
<td class="data right">{{NumberFormat data-1.03200-00900}}</td>
<td class="data right">{{NumberFormat data-1.03200-01000}}</td>
<td class="data right">{{NumberFormat data-1.03200-01100}}</td>
<td class="data right">{{NumberFormat data-1.03200-01200}}</td>
<td class="data right">{{NumberFormat data-1.03200-01300}}</td>
<td class="data right">{{NumberFormat data-1.03200-01400}}</td>
<td class="data right">{{NumberFormat data-1.03200-01500}}</td>
<td class="data right">{{NumberFormat data-1.03200-01600}}</td>
<td class="data right">{{NumberFormat data-1.03200-01700}}</td>
<td class="data right">{{NumberFormat data-1.03200-01800}}</td>
<td class="data right">{{NumberFormat data-1.03200-01900}}</td>
<td class="data right">{{NumberFormat data-1.03200-02000}}</td>
<td class="data right">{{NumberFormat data-1.03200-02100}}</td>
<td class="data right">{{NumberFormat data-1.03200-02200}}</td>
<td class="data right">{{NumberFormat data-1.03200-02300}}</td>
<td class="left">32</td>
</tr>
<tr><td class="right">33</td>
<td class="left"> Other Program Costs</td>
<td class="data right">{{NumberFormat data-1.03300-00100}}</td>
<td class="data right">{{NumberFormat data-1.03300-00200}}</td>
<td class="data right">{{NumberFormat data-1.03300-00400}}</td>
<td class="data right">{{NumberFormat data-1.03300-04A00}}</td>
<td class="data right">{{NumberFormat data-1.03300-00500}}</td>
<td class="data right">{{NumberFormat data-1.03300-00600}}</td>
<td class="data right">{{NumberFormat data-1.03300-00700}}</td>
<td class="data right">{{NumberFormat data-1.03300-00800}}</td>
<td class="data right">{{NumberFormat data-1.03300-00900}}</td>
<td class="data right">{{NumberFormat data-1.03300-01000}}</td>
<td class="data right">{{NumberFormat data-1.03300-01100}}</td>
<td class="data right">{{NumberFormat data-1.03300-01200}}</td>
<td class="data right">{{NumberFormat data-1.03300-01300}}</td>
<td class="data right">{{NumberFormat data-1.03300-01400}}</td>
<td class="data right">{{NumberFormat data-1.03300-01500}}</td>
<td class="data right">{{NumberFormat data-1.03300-01600}}</td>
<td class="data right">{{NumberFormat data-1.03300-01700}}</td>
<td class="data right">{{NumberFormat data-1.03300-01800}}</td>
<td class="data right">{{NumberFormat data-1.03300-01900}}</td>
<td class="data right">{{NumberFormat data-1.03300-02000}}</td>
<td class="data right">{{NumberFormat data-1.03300-02100}}</td>
<td class="data right">{{NumberFormat data-1.03300-02200}}</td>
<td class="data right">{{NumberFormat data-1.03300-02300}}</td>
<td class="left">33</td>
</tr>
<tr><td class="right">34</td>
<td class="left"> Totals (sum of lines 1-33) (2)</td>
<td class="data right">{{NumberFormat data-1.03400-00100}}</td>
<td class="data right">{{NumberFormat data-1.03400-00200}}</td>
<td class="data right">{{NumberFormat data-1.03400-00400}}</td>
<td class="data right">{{NumberFormat data-1.03400-04A00}}</td>
<td class="data right">{{NumberFormat data-1.03400-00500}}</td>
<td class="data right">{{NumberFormat data-1.03400-00600}}</td>
<td class="data right">{{NumberFormat data-1.03400-00700}}</td>
<td class="data right">{{NumberFormat data-1.03400-00800}}</td>
<td class="data right">{{NumberFormat data-1.03400-00900}}</td>
<td class="data right">{{NumberFormat data-1.03400-01000}}</td>
<td class="data right">{{NumberFormat data-1.03400-01100}}</td>
<td class="data right">{{NumberFormat data-1.03400-01200}}</td>
<td class="data right">{{NumberFormat data-1.03400-01300}}</td>
<td class="data right">{{NumberFormat data-1.03400-01400}}</td>
<td class="data right">{{NumberFormat data-1.03400-01500}}</td>
<td class="data right">{{NumberFormat data-1.03400-01600}}</td>
<td class="data right">{{NumberFormat data-1.03400-01700}}</td>
<td class="data right">{{NumberFormat data-1.03400-01800}}</td>
<td class="data right">{{NumberFormat data-1.03400-01900}}</td>
<td class="data right">{{NumberFormat data-1.03400-02000}}</td>
<td class="data right">{{NumberFormat data-1.03400-02100}}</td>
<td class="data right">{{NumberFormat data-1.03400-02200}}</td>
<td class="data right">{{NumberFormat data-1.03400-02300}}</td>
<td class="left">34</td>
</tr>
<tr><td class="right">35</td>
<td class="left"> Total cost to be allocated</td>
<td class="data right">{{NumberFormat data-1.03500-00100}}</td>
<td class="data right">{{NumberFormat data-1.03500-00200}}</td>
<td class="data right">{{NumberFormat data-1.03500-00400}}</td>
<td class="data right">{{NumberFormat data-1.03500-04A00}}</td>
<td class="data right">{{NumberFormat data-1.03500-00500}}</td>
<td class="data right">{{NumberFormat data-1.03500-00600}}</td>
<td class="data right">{{NumberFormat data-1.03500-00700}}</td>
<td class="data right">{{NumberFormat data-1.03500-00800}}</td>
<td class="data right">{{NumberFormat data-1.03500-00900}}</td>
<td class="data right">{{NumberFormat data-1.03500-01000}}</td>
<td class="data right">{{NumberFormat data-1.03500-01100}}</td>
<td class="data right">{{NumberFormat data-1.03500-01200}}</td>
<td class="data right">{{NumberFormat data-1.03500-01300}}</td>
<td class="data right">{{NumberFormat data-1.03500-01400}}</td>
<td class="data right">{{NumberFormat data-1.03500-01500}}</td>
<td class="data right">{{NumberFormat data-1.03500-01600}}</td>
<td class="data right">{{NumberFormat data-1.03500-01700}}</td>
<td class="data right">{{NumberFormat data-1.03500-01800}}</td>
<td class="data right">{{NumberFormat data-1.03500-01900}}</td>
<td class="data right">{{NumberFormat data-1.03500-02000}}</td>
<td class="data right">{{NumberFormat data-1.03500-02100}}</td>
<td class="data right">{{NumberFormat data-1.03500-02200}}</td>
<td class="data right">{{NumberFormat data-1.03500-02300}}</td>
<td class="left">35</td>
</tr>
<tr><td class="right">36</td>
<td class="left"> Unit Cost Multiplier (see instructions)</td>
<td class="data right">{{NumberFormat data-1.03600-00100}}</td>
<td class="data right">{{NumberFormat data-1.03600-00200}}</td>
<td class="data right">{{NumberFormat data-1.03600-00400}}</td>
<td class="data right">{{NumberFormat data-1.03600-04A00}}</td>
<td class="data right">{{NumberFormat data-1.03600-00500}}</td>
<td class="data right">{{NumberFormat data-1.03600-00600}}</td>
<td class="data right">{{NumberFormat data-1.03600-00700}}</td>
<td class="data right">{{NumberFormat data-1.03600-00800}}</td>
<td class="data right">{{NumberFormat data-1.03600-00900}}</td>
<td class="data right">{{NumberFormat data-1.03600-01000}}</td>
<td class="data right">{{NumberFormat data-1.03600-01100}}</td>
<td class="data right">{{NumberFormat data-1.03600-01200}}</td>
<td class="data right">{{NumberFormat data-1.03600-01300}}</td>
<td class="data right">{{NumberFormat data-1.03600-01400}}</td>
<td class="data right">{{NumberFormat data-1.03600-01500}}</td>
<td class="data right">{{NumberFormat data-1.03600-01600}}</td>
<td class="data right">{{NumberFormat data-1.03600-01700}}</td>
<td class="data right">{{NumberFormat data-1.03600-01800}}</td>
<td class="data right">{{NumberFormat data-1.03600-01900}}</td>
<td class="data right">{{NumberFormat data-1.03600-02000}}</td>
<td class="data right">{{NumberFormat data-1.03600-02100}}</td>
<td class="data right">{{NumberFormat data-1.03600-02200}}</td>
<td class="data right">{{NumberFormat data-1.03600-02300}}</td>
<td class="left">36</td>
</tr>
<tr><td colspan="25">FORM CMS-2552-10 (08/2011) (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-II, SECTION 4062.2)</td>
<td>&nbsp;</td>
</tr>
<tr><td colspan="11">Rev. 2</td>
<td colspan="15" class="right">              40-643 </td>
</tr>
</tbody></table>
</div>
