
<div class="report"><table id="report_table" border="1" width="1700" cellpadding="1" cellspacing="1">
<colgroup><col width="12">
<col width="152">
<col width="40">
<col width="48">
<col width="48">
<col width="56">
<col width="53">
<col width="48">
<col width="48">
<col width="48">
<col width="48">
<col width="48">
<col width="48">
<col width="48">
<col width="48">
<col width="48">
<col width="48">
<col width="48">
<col width="48">
<col width="48">
<col width="48">
<col width="48">
<col width="48">
<col width="48">
<col width="48">
<col width="48">
<col width="48">
<col width="48">
<col width="48">
<col width="48">
<col width="48">
<col width="48">

<col width="12">
</colgroup><thead>
<tr><td colspan="4">4090 (Cont.)</td>
<td colspan="2">      FORM CMS-2552-10</td>
<td colspan="5">&nbsp;</td>
<td>08-11 </td>
<td colspan="21">&nbsp;</td>
</tr>
</thead><tbody>
<tr><td colspan="6">ALLOCATION OF GENERAL SERVICE COSTS TO HOSPICE COST CENTERS </td>
<td colspan="2">Provider CCN: <span class="data">{{pId}}</span></td>
<td colspan="2"><div>PERIOD:</div><div>FROM <span class="data">{{year.start}}</span></div><div>TO <span class="data">{{year.end}}</span></div>
<td colspan="2"> WORKSHEET K-5,  PART I </td>
<td colspan="21">&nbsp;</td>
</tr>
<tr><td colspan="12">PART I - ALLOCATION OF GENERAL SERVICE COSTS TO HOSPICE COST CENTERS</td>
<td colspan="21">&nbsp;</td>
</tr>

<tr><td class="center" valign="top">&nbsp;</td>
<td class="center" valign="top" rowspan="2"> Hospice Cost Center (omit cents)  </td>
<td class="center" valign="top" rowspan="2">From Wkst. K-4 Part I, col. 7, line </td>
<td class="center" valign="top">Hospice Trial Balance (1) </td>
<td class="center" valign="top">Capital Related Costs bldgs. &amp; fixtures </td>
<td class="center" valign="top">Movable Equipment </td>
<td class="center" valign="top">Employee benefits </td>
<td class="center" valign="top">Subtotal (cols. 0-3) </td>
<td class="center" valign="top">Adminis- trative &amp; general </td>
<td class="center" valign="top">Main- tenance &amp; repairs </td>
<td class="center" valign="top">Operation of plant </td>
<td class="center" valign="top">Laundry &amp; linen service </td>
<td class="center" valign="top">House- keeping </td>
<td class="center" valign="top">Dietary </td>
<td class="center" valign="top">Cafeteria </td>
<td class="center" valign="top">Main- tenance of personnel </td>
<td class="center" valign="top">Nursing Adminis- tration  </td>
<td class="center" valign="top">Central Services &amp; supply </td>
<td class="center" valign="top">Pharmacy </td>
<td class="center" valign="top">Medical Records &amp; library </td>
<td class="center" valign="top">Social Service </td>
<td class="center" valign="top">Other general service </td>
<td class="center" valign="top">Non- physician anes- thetists </td>
<td class="center" valign="top">Nursing school </td>
<td class="center" valign="top">Interns &amp; residents salary &amp; fringes </td>
<td class="center" valign="top">Program costs </td>
<td class="center" valign="top">Para- medical education (specify) </td>
<td class="center" valign="top">Subtotal (cols. 3a-22) </td>
<td class="center" valign="top">Intern &amp; resident cost &amp; post stepdown adjust. </td>
<td class="center" valign="top">Subtotal (cols. 23 ± 24) </td>
<td class="center" valign="top">Allocated Hospice A&amp;G (see part ii) </td>
<td class="center" valign="top">Total Hospice Costs (cols. 25 ± 26) </td>
<td class="center" valign="top">&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td class="center">0</td>
<td class="center">1</td>
<td class="center">2</td>
<td class="center">4</td>
<td class="center">4A</td>
<td class="center">5</td>
<td class="center">6</td>
<td class="center">7</td>
<td class="center">8</td>
<td class="center">9</td>
<td class="center">10</td>
<td class="center">11</td>
<td class="center">12</td>
<td class="center">13</td>
<td class="center">14</td>
<td class="center">15</td>
<td class="center">16</td>
<td class="center">17</td>
<td class="center">18</td>
<td class="center">19</td>
<td class="center">20</td>
<td class="center">21</td>
<td class="center">22</td>
<td class="center">23</td>
<td class="center">24</td>
<td class="center">25</td>
<td class="center">26</td>
<td class="center">27</td>
<td class="center">28</td>
<td>&nbsp;</td>
</tr>
<tr><td class="right">1</td>
<td> Administrative and General</td>
<td class="center">6</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00100-00000}}</td>
<td class="data right">{{NumberFormat data-1.00100-00100}}</td>
<td class="data right">{{NumberFormat data-1.00100-00200}}</td>
<td class="data right">{{NumberFormat data-1.00100-00400}}</td>
<td class="data right">{{NumberFormat data-1.00100-04A00}}</td>
<td class="data right">{{NumberFormat data-1.00100-00500}}</td>
<td class="data right">{{NumberFormat data-1.00100-00600}}</td>
<td class="data right">{{NumberFormat data-1.00100-00700}}</td>
<td class="data right">{{NumberFormat data-1.00100-00800}}</td>
<td class="data right">{{NumberFormat data-1.00100-00900}}</td>
<td class="data right">{{NumberFormat data-1.00100-01000}}</td>
<td class="data right">{{NumberFormat data-1.00100-01100}}</td>
<td class="data right">{{NumberFormat data-1.00100-01200}}</td>
<td class="data right">{{NumberFormat data-1.00100-01300}}</td>
<td class="data right">{{NumberFormat data-1.00100-01400}}</td>
<td class="data right">{{NumberFormat data-1.00100-01500}}</td>
<td class="data right">{{NumberFormat data-1.00100-01600}}</td>
<td class="data right">{{NumberFormat data-1.00100-01700}}</td>
<td class="data right">{{NumberFormat data-1.00100-01800}}</td>
<td class="data right">{{NumberFormat data-1.00100-01900}}</td>
<td class="data right">{{NumberFormat data-1.00100-02000}}</td>
<td class="data right">{{NumberFormat data-1.00100-02100}}</td>
<td class="data right">{{NumberFormat data-1.00100-02200}}</td>
<td class="data right">{{NumberFormat data-1.00100-02300}}</td>
<td class="data right">{{NumberFormat data-1.00100-02400}}</td>
<td class="data right">{{NumberFormat data-1.00100-02500}}</td>
<td class="data right">{{NumberFormat data-1.00100-02600}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00100-02700}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00100-02800}}</td>
<td class="left">1</td>
</tr>
<tr><td class="right">2</td>
<td> Inpatient - General Care</td>
<td class="center">7</td>
<td class="data right">{{NumberFormat data-1.00200-00000}}</td>
<td class="data right">{{NumberFormat data-1.00200-00100}}</td>
<td class="data right">{{NumberFormat data-1.00200-00200}}</td>
<td class="data right">{{NumberFormat data-1.00200-00400}}</td>
<td class="data right">{{NumberFormat data-1.00200-04A00}}</td>
<td class="data right">{{NumberFormat data-1.00200-00500}}</td>
<td class="data right">{{NumberFormat data-1.00200-00600}}</td>
<td class="data right">{{NumberFormat data-1.00200-00700}}</td>
<td class="data right">{{NumberFormat data-1.00200-00800}}</td>
<td class="data right">{{NumberFormat data-1.00200-00900}}</td>
<td class="data right">{{NumberFormat data-1.00200-01000}}</td>
<td class="data right">{{NumberFormat data-1.00200-01100}}</td>
<td class="data right">{{NumberFormat data-1.00200-01200}}</td>
<td class="data right">{{NumberFormat data-1.00200-01300}}</td>
<td class="data right">{{NumberFormat data-1.00200-01400}}</td>
<td class="data right">{{NumberFormat data-1.00200-01500}}</td>
<td class="data right">{{NumberFormat data-1.00200-01600}}</td>
<td class="data right">{{NumberFormat data-1.00200-01700}}</td>
<td class="data right">{{NumberFormat data-1.00200-01800}}</td>
<td class="data right">{{NumberFormat data-1.00200-01900}}</td>
<td class="data right">{{NumberFormat data-1.00200-02000}}</td>
<td class="data right">{{NumberFormat data-1.00200-02100}}</td>
<td class="data right">{{NumberFormat data-1.00200-02200}}</td>
<td class="data right">{{NumberFormat data-1.00200-02300}}</td>
<td class="data right">{{NumberFormat data-1.00200-02400}}</td>
<td class="data right">{{NumberFormat data-1.00200-02500}}</td>
<td class="data right">{{NumberFormat data-1.00200-02600}}</td>
<td class="data right">{{NumberFormat data-1.00200-02700}}</td>
<td class="data right">{{NumberFormat data-1.00200-02800}}</td>
<td class="left">2</td>
</tr>
<tr><td class="right">3</td>
<td> Inpatient - Respite Care</td>
<td class="center">8</td>
<td class="data right">{{NumberFormat data-1.00300-00000}}</td>
<td class="data right">{{NumberFormat data-1.00300-00100}}</td>
<td class="data right">{{NumberFormat data-1.00300-00200}}</td>
<td class="data right">{{NumberFormat data-1.00300-00400}}</td>
<td class="data right">{{NumberFormat data-1.00300-04A00}}</td>
<td class="data right">{{NumberFormat data-1.00300-00500}}</td>
<td class="data right">{{NumberFormat data-1.00300-00600}}</td>
<td class="data right">{{NumberFormat data-1.00300-00700}}</td>
<td class="data right">{{NumberFormat data-1.00300-00800}}</td>
<td class="data right">{{NumberFormat data-1.00300-00900}}</td>
<td class="data right">{{NumberFormat data-1.00300-01000}}</td>
<td class="data right">{{NumberFormat data-1.00300-01100}}</td>
<td class="data right">{{NumberFormat data-1.00300-01200}}</td>
<td class="data right">{{NumberFormat data-1.00300-01300}}</td>
<td class="data right">{{NumberFormat data-1.00300-01400}}</td>
<td class="data right">{{NumberFormat data-1.00300-01500}}</td>
<td class="data right">{{NumberFormat data-1.00300-01600}}</td>
<td class="data right">{{NumberFormat data-1.00300-01700}}</td>
<td class="data right">{{NumberFormat data-1.00300-01800}}</td>
<td class="data right">{{NumberFormat data-1.00300-01900}}</td>
<td class="data right">{{NumberFormat data-1.00300-02000}}</td>
<td class="data right">{{NumberFormat data-1.00300-02100}}</td>
<td class="data right">{{NumberFormat data-1.00300-02200}}</td>
<td class="data right">{{NumberFormat data-1.00300-02300}}</td>
<td class="data right">{{NumberFormat data-1.00300-02400}}</td>
<td class="data right">{{NumberFormat data-1.00300-02500}}</td>
<td class="data right">{{NumberFormat data-1.00300-02600}}</td>
<td class="data right">{{NumberFormat data-1.00300-02700}}</td>
<td class="data right">{{NumberFormat data-1.00300-02800}}</td>
<td class="left">3</td>
</tr>
<tr><td class="right">4</td>
<td> Physician Services</td>
<td class="center">9</td>
<td class="data right">{{NumberFormat data-1.00400-00000}}</td>
<td class="data right">{{NumberFormat data-1.00400-00100}}</td>
<td class="data right">{{NumberFormat data-1.00400-00200}}</td>
<td class="data right">{{NumberFormat data-1.00400-00400}}</td>
<td class="data right">{{NumberFormat data-1.00400-04A00}}</td>
<td class="data right">{{NumberFormat data-1.00400-00500}}</td>
<td class="data right">{{NumberFormat data-1.00400-00600}}</td>
<td class="data right">{{NumberFormat data-1.00400-00700}}</td>
<td class="data right">{{NumberFormat data-1.00400-00800}}</td>
<td class="data right">{{NumberFormat data-1.00400-00900}}</td>
<td class="data right">{{NumberFormat data-1.00400-01000}}</td>
<td class="data right">{{NumberFormat data-1.00400-01100}}</td>
<td class="data right">{{NumberFormat data-1.00400-01200}}</td>
<td class="data right">{{NumberFormat data-1.00400-01300}}</td>
<td class="data right">{{NumberFormat data-1.00400-01400}}</td>
<td class="data right">{{NumberFormat data-1.00400-01500}}</td>
<td class="data right">{{NumberFormat data-1.00400-01600}}</td>
<td class="data right">{{NumberFormat data-1.00400-01700}}</td>
<td class="data right">{{NumberFormat data-1.00400-01800}}</td>
<td class="data right">{{NumberFormat data-1.00400-01900}}</td>
<td class="data right">{{NumberFormat data-1.00400-02000}}</td>
<td class="data right">{{NumberFormat data-1.00400-02100}}</td>
<td class="data right">{{NumberFormat data-1.00400-02200}}</td>
<td class="data right">{{NumberFormat data-1.00400-02300}}</td>
<td class="data right">{{NumberFormat data-1.00400-02400}}</td>
<td class="data right">{{NumberFormat data-1.00400-02500}}</td>
<td class="data right">{{NumberFormat data-1.00400-02600}}</td>
<td class="data right">{{NumberFormat data-1.00400-02700}}</td>
<td class="data right">{{NumberFormat data-1.00400-02800}}</td>
<td class="left">4</td>
</tr>
<tr><td class="right">5</td>
<td> Nursing Care</td>
<td class="center">10</td>
<td class="data right">{{NumberFormat data-1.00500-00000}}</td>
<td class="data right">{{NumberFormat data-1.00500-00100}}</td>
<td class="data right">{{NumberFormat data-1.00500-00200}}</td>
<td class="data right">{{NumberFormat data-1.00500-00400}}</td>
<td class="data right">{{NumberFormat data-1.00500-04A00}}</td>
<td class="data right">{{NumberFormat data-1.00500-00500}}</td>
<td class="data right">{{NumberFormat data-1.00500-00600}}</td>
<td class="data right">{{NumberFormat data-1.00500-00700}}</td>
<td class="data right">{{NumberFormat data-1.00500-00800}}</td>
<td class="data right">{{NumberFormat data-1.00500-00900}}</td>
<td class="data right">{{NumberFormat data-1.00500-01000}}</td>
<td class="data right">{{NumberFormat data-1.00500-01100}}</td>
<td class="data right">{{NumberFormat data-1.00500-01200}}</td>
<td class="data right">{{NumberFormat data-1.00500-01300}}</td>
<td class="data right">{{NumberFormat data-1.00500-01400}}</td>
<td class="data right">{{NumberFormat data-1.00500-01500}}</td>
<td class="data right">{{NumberFormat data-1.00500-01600}}</td>
<td class="data right">{{NumberFormat data-1.00500-01700}}</td>
<td class="data right">{{NumberFormat data-1.00500-01800}}</td>
<td class="data right">{{NumberFormat data-1.00500-01900}}</td>
<td class="data right">{{NumberFormat data-1.00500-02000}}</td>
<td class="data right">{{NumberFormat data-1.00500-02100}}</td>
<td class="data right">{{NumberFormat data-1.00500-02200}}</td>
<td class="data right">{{NumberFormat data-1.00500-02300}}</td>
<td class="data right">{{NumberFormat data-1.00500-02400}}</td>
<td class="data right">{{NumberFormat data-1.00500-02500}}</td>
<td class="data right">{{NumberFormat data-1.00500-02600}}</td>
<td class="data right">{{NumberFormat data-1.00500-02700}}</td>
<td class="data right">{{NumberFormat data-1.00500-02800}}</td>
<td class="left">5</td>
</tr>
<tr><td class="right">6</td>
<td> Nursing Care-Continuous Home Care</td>
<td class="center">11</td>
<td class="data right">{{NumberFormat data-1.00600-00000}}</td>
<td class="data right">{{NumberFormat data-1.00600-00100}}</td>
<td class="data right">{{NumberFormat data-1.00600-00200}}</td>
<td class="data right">{{NumberFormat data-1.00600-00400}}</td>
<td class="data right">{{NumberFormat data-1.00600-04A00}}</td>
<td class="data right">{{NumberFormat data-1.00600-00500}}</td>
<td class="data right">{{NumberFormat data-1.00600-00600}}</td>
<td class="data right">{{NumberFormat data-1.00600-00700}}</td>
<td class="data right">{{NumberFormat data-1.00600-00800}}</td>
<td class="data right">{{NumberFormat data-1.00600-00900}}</td>
<td class="data right">{{NumberFormat data-1.00600-01000}}</td>
<td class="data right">{{NumberFormat data-1.00600-01100}}</td>
<td class="data right">{{NumberFormat data-1.00600-01200}}</td>
<td class="data right">{{NumberFormat data-1.00600-01300}}</td>
<td class="data right">{{NumberFormat data-1.00600-01400}}</td>
<td class="data right">{{NumberFormat data-1.00600-01500}}</td>
<td class="data right">{{NumberFormat data-1.00600-01600}}</td>
<td class="data right">{{NumberFormat data-1.00600-01700}}</td>
<td class="data right">{{NumberFormat data-1.00600-01800}}</td>
<td class="data right">{{NumberFormat data-1.00600-01900}}</td>
<td class="data right">{{NumberFormat data-1.00600-02000}}</td>
<td class="data right">{{NumberFormat data-1.00600-02100}}</td>
<td class="data right">{{NumberFormat data-1.00600-02200}}</td>
<td class="data right">{{NumberFormat data-1.00600-02300}}</td>
<td class="data right">{{NumberFormat data-1.00600-02400}}</td>
<td class="data right">{{NumberFormat data-1.00600-02500}}</td>
<td class="data right">{{NumberFormat data-1.00600-02600}}</td>
<td class="data right">{{NumberFormat data-1.00600-02700}}</td>
<td class="data right">{{NumberFormat data-1.00600-02800}}</td>
<td class="left">6</td>
</tr>
<tr><td class="right">7</td>
<td> Physical Therapy</td>
<td class="center">12</td>
<td class="data right">{{NumberFormat data-1.00700-00000}}</td>
<td class="data right">{{NumberFormat data-1.00700-00100}}</td>
<td class="data right">{{NumberFormat data-1.00700-00200}}</td>
<td class="data right">{{NumberFormat data-1.00700-00400}}</td>
<td class="data right">{{NumberFormat data-1.00700-04A00}}</td>
<td class="data right">{{NumberFormat data-1.00700-00500}}</td>
<td class="data right">{{NumberFormat data-1.00700-00600}}</td>
<td class="data right">{{NumberFormat data-1.00700-00700}}</td>
<td class="data right">{{NumberFormat data-1.00700-00800}}</td>
<td class="data right">{{NumberFormat data-1.00700-00900}}</td>
<td class="data right">{{NumberFormat data-1.00700-01000}}</td>
<td class="data right">{{NumberFormat data-1.00700-01100}}</td>
<td class="data right">{{NumberFormat data-1.00700-01200}}</td>
<td class="data right">{{NumberFormat data-1.00700-01300}}</td>
<td class="data right">{{NumberFormat data-1.00700-01400}}</td>
<td class="data right">{{NumberFormat data-1.00700-01500}}</td>
<td class="data right">{{NumberFormat data-1.00700-01600}}</td>
<td class="data right">{{NumberFormat data-1.00700-01700}}</td>
<td class="data right">{{NumberFormat data-1.00700-01800}}</td>
<td class="data right">{{NumberFormat data-1.00700-01900}}</td>
<td class="data right">{{NumberFormat data-1.00700-02000}}</td>
<td class="data right">{{NumberFormat data-1.00700-02100}}</td>
<td class="data right">{{NumberFormat data-1.00700-02200}}</td>
<td class="data right">{{NumberFormat data-1.00700-02300}}</td>
<td class="data right">{{NumberFormat data-1.00700-02400}}</td>
<td class="data right">{{NumberFormat data-1.00700-02500}}</td>
<td class="data right">{{NumberFormat data-1.00700-02600}}</td>
<td class="data right">{{NumberFormat data-1.00700-02700}}</td>
<td class="data right">{{NumberFormat data-1.00700-02800}}</td>
<td class="left">7</td>
</tr>
<tr><td class="right">8</td>
<td> Occupational Therapy</td>
<td class="center">13</td>
<td class="data right">{{NumberFormat data-1.00800-00000}}</td>
<td class="data right">{{NumberFormat data-1.00800-00100}}</td>
<td class="data right">{{NumberFormat data-1.00800-00200}}</td>
<td class="data right">{{NumberFormat data-1.00800-00400}}</td>
<td class="data right">{{NumberFormat data-1.00800-04A00}}</td>
<td class="data right">{{NumberFormat data-1.00800-00500}}</td>
<td class="data right">{{NumberFormat data-1.00800-00600}}</td>
<td class="data right">{{NumberFormat data-1.00800-00700}}</td>
<td class="data right">{{NumberFormat data-1.00800-00800}}</td>
<td class="data right">{{NumberFormat data-1.00800-00900}}</td>
<td class="data right">{{NumberFormat data-1.00800-01000}}</td>
<td class="data right">{{NumberFormat data-1.00800-01100}}</td>
<td class="data right">{{NumberFormat data-1.00800-01200}}</td>
<td class="data right">{{NumberFormat data-1.00800-01300}}</td>
<td class="data right">{{NumberFormat data-1.00800-01400}}</td>
<td class="data right">{{NumberFormat data-1.00800-01500}}</td>
<td class="data right">{{NumberFormat data-1.00800-01600}}</td>
<td class="data right">{{NumberFormat data-1.00800-01700}}</td>
<td class="data right">{{NumberFormat data-1.00800-01800}}</td>
<td class="data right">{{NumberFormat data-1.00800-01900}}</td>
<td class="data right">{{NumberFormat data-1.00800-02000}}</td>
<td class="data right">{{NumberFormat data-1.00800-02100}}</td>
<td class="data right">{{NumberFormat data-1.00800-02200}}</td>
<td class="data right">{{NumberFormat data-1.00800-02300}}</td>
<td class="data right">{{NumberFormat data-1.00800-02400}}</td>
<td class="data right">{{NumberFormat data-1.00800-02500}}</td>
<td class="data right">{{NumberFormat data-1.00800-02600}}</td>
<td class="data right">{{NumberFormat data-1.00800-02700}}</td>
<td class="data right">{{NumberFormat data-1.00800-02800}}</td>
<td class="left">8</td>
</tr>
<tr><td class="right">9</td>
<td> Speech/ Language Pathology</td>
<td class="center">14</td>
<td class="data right">{{NumberFormat data-1.00900-00000}}</td>
<td class="data right">{{NumberFormat data-1.00900-00100}}</td>
<td class="data right">{{NumberFormat data-1.00900-00200}}</td>
<td class="data right">{{NumberFormat data-1.00900-00400}}</td>
<td class="data right">{{NumberFormat data-1.00900-04A00}}</td>
<td class="data right">{{NumberFormat data-1.00900-00500}}</td>
<td class="data right">{{NumberFormat data-1.00900-00600}}</td>
<td class="data right">{{NumberFormat data-1.00900-00700}}</td>
<td class="data right">{{NumberFormat data-1.00900-00800}}</td>
<td class="data right">{{NumberFormat data-1.00900-00900}}</td>
<td class="data right">{{NumberFormat data-1.00900-01000}}</td>
<td class="data right">{{NumberFormat data-1.00900-01100}}</td>
<td class="data right">{{NumberFormat data-1.00900-01200}}</td>
<td class="data right">{{NumberFormat data-1.00900-01300}}</td>
<td class="data right">{{NumberFormat data-1.00900-01400}}</td>
<td class="data right">{{NumberFormat data-1.00900-01500}}</td>
<td class="data right">{{NumberFormat data-1.00900-01600}}</td>
<td class="data right">{{NumberFormat data-1.00900-01700}}</td>
<td class="data right">{{NumberFormat data-1.00900-01800}}</td>
<td class="data right">{{NumberFormat data-1.00900-01900}}</td>
<td class="data right">{{NumberFormat data-1.00900-02000}}</td>
<td class="data right">{{NumberFormat data-1.00900-02100}}</td>
<td class="data right">{{NumberFormat data-1.00900-02200}}</td>
<td class="data right">{{NumberFormat data-1.00900-02300}}</td>
<td class="data right">{{NumberFormat data-1.00900-02400}}</td>
<td class="data right">{{NumberFormat data-1.00900-02500}}</td>
<td class="data right">{{NumberFormat data-1.00900-02600}}</td>
<td class="data right">{{NumberFormat data-1.00900-02700}}</td>
<td class="data right">{{NumberFormat data-1.00900-02800}}</td>
<td class="left">9</td>
</tr>
<tr><td class="right">10</td>
<td> Medical Social Services </td>
<td class="center">15</td>
<td class="data right">{{NumberFormat data-1.01000-00000}}</td>
<td class="data right">{{NumberFormat data-1.01000-00100}}</td>
<td class="data right">{{NumberFormat data-1.01000-00200}}</td>
<td class="data right">{{NumberFormat data-1.01000-00400}}</td>
<td class="data right">{{NumberFormat data-1.01000-04A00}}</td>
<td class="data right">{{NumberFormat data-1.01000-00500}}</td>
<td class="data right">{{NumberFormat data-1.01000-00600}}</td>
<td class="data right">{{NumberFormat data-1.01000-00700}}</td>
<td class="data right">{{NumberFormat data-1.01000-00800}}</td>
<td class="data right">{{NumberFormat data-1.01000-00900}}</td>
<td class="data right">{{NumberFormat data-1.01000-01000}}</td>
<td class="data right">{{NumberFormat data-1.01000-01100}}</td>
<td class="data right">{{NumberFormat data-1.01000-01200}}</td>
<td class="data right">{{NumberFormat data-1.01000-01300}}</td>
<td class="data right">{{NumberFormat data-1.01000-01400}}</td>
<td class="data right">{{NumberFormat data-1.01000-01500}}</td>
<td class="data right">{{NumberFormat data-1.01000-01600}}</td>
<td class="data right">{{NumberFormat data-1.01000-01700}}</td>
<td class="data right">{{NumberFormat data-1.01000-01800}}</td>
<td class="data right">{{NumberFormat data-1.01000-01900}}</td>
<td class="data right">{{NumberFormat data-1.01000-02000}}</td>
<td class="data right">{{NumberFormat data-1.01000-02100}}</td>
<td class="data right">{{NumberFormat data-1.01000-02200}}</td>
<td class="data right">{{NumberFormat data-1.01000-02300}}</td>
<td class="data right">{{NumberFormat data-1.01000-02400}}</td>
<td class="data right">{{NumberFormat data-1.01000-02500}}</td>
<td class="data right">{{NumberFormat data-1.01000-02600}}</td>
<td class="data right">{{NumberFormat data-1.01000-02700}}</td>
<td class="data right">{{NumberFormat data-1.01000-02800}}</td>
<td class="left">10</td>
</tr>
<tr><td class="right">11</td>
<td> Spiritual Counseling</td>
<td class="center">16</td>
<td class="data right">{{NumberFormat data-1.01100-00000}}</td>
<td class="data right">{{NumberFormat data-1.01100-00100}}</td>
<td class="data right">{{NumberFormat data-1.01100-00200}}</td>
<td class="data right">{{NumberFormat data-1.01100-00400}}</td>
<td class="data right">{{NumberFormat data-1.01100-04A00}}</td>
<td class="data right">{{NumberFormat data-1.01100-00500}}</td>
<td class="data right">{{NumberFormat data-1.01100-00600}}</td>
<td class="data right">{{NumberFormat data-1.01100-00700}}</td>
<td class="data right">{{NumberFormat data-1.01100-00800}}</td>
<td class="data right">{{NumberFormat data-1.01100-00900}}</td>
<td class="data right">{{NumberFormat data-1.01100-01000}}</td>
<td class="data right">{{NumberFormat data-1.01100-01100}}</td>
<td class="data right">{{NumberFormat data-1.01100-01200}}</td>
<td class="data right">{{NumberFormat data-1.01100-01300}}</td>
<td class="data right">{{NumberFormat data-1.01100-01400}}</td>
<td class="data right">{{NumberFormat data-1.01100-01500}}</td>
<td class="data right">{{NumberFormat data-1.01100-01600}}</td>
<td class="data right">{{NumberFormat data-1.01100-01700}}</td>
<td class="data right">{{NumberFormat data-1.01100-01800}}</td>
<td class="data right">{{NumberFormat data-1.01100-01900}}</td>
<td class="data right">{{NumberFormat data-1.01100-02000}}</td>
<td class="data right">{{NumberFormat data-1.01100-02100}}</td>
<td class="data right">{{NumberFormat data-1.01100-02200}}</td>
<td class="data right">{{NumberFormat data-1.01100-02300}}</td>
<td class="data right">{{NumberFormat data-1.01100-02400}}</td>
<td class="data right">{{NumberFormat data-1.01100-02500}}</td>
<td class="data right">{{NumberFormat data-1.01100-02600}}</td>
<td class="data right">{{NumberFormat data-1.01100-02700}}</td>
<td class="data right">{{NumberFormat data-1.01100-02800}}</td>
<td class="left">11</td>
</tr>
<tr><td class="right">12</td>
<td> Dietary Counseling</td>
<td class="center">17</td>
<td class="data right">{{NumberFormat data-1.01200-00000}}</td>
<td class="data right">{{NumberFormat data-1.01200-00100}}</td>
<td class="data right">{{NumberFormat data-1.01200-00200}}</td>
<td class="data right">{{NumberFormat data-1.01200-00400}}</td>
<td class="data right">{{NumberFormat data-1.01200-04A00}}</td>
<td class="data right">{{NumberFormat data-1.01200-00500}}</td>
<td class="data right">{{NumberFormat data-1.01200-00600}}</td>
<td class="data right">{{NumberFormat data-1.01200-00700}}</td>
<td class="data right">{{NumberFormat data-1.01200-00800}}</td>
<td class="data right">{{NumberFormat data-1.01200-00900}}</td>
<td class="data right">{{NumberFormat data-1.01200-01000}}</td>
<td class="data right">{{NumberFormat data-1.01200-01100}}</td>
<td class="data right">{{NumberFormat data-1.01200-01200}}</td>
<td class="data right">{{NumberFormat data-1.01200-01300}}</td>
<td class="data right">{{NumberFormat data-1.01200-01400}}</td>
<td class="data right">{{NumberFormat data-1.01200-01500}}</td>
<td class="data right">{{NumberFormat data-1.01200-01600}}</td>
<td class="data right">{{NumberFormat data-1.01200-01700}}</td>
<td class="data right">{{NumberFormat data-1.01200-01800}}</td>
<td class="data right">{{NumberFormat data-1.01200-01900}}</td>
<td class="data right">{{NumberFormat data-1.01200-02000}}</td>
<td class="data right">{{NumberFormat data-1.01200-02100}}</td>
<td class="data right">{{NumberFormat data-1.01200-02200}}</td>
<td class="data right">{{NumberFormat data-1.01200-02300}}</td>
<td class="data right">{{NumberFormat data-1.01200-02400}}</td>
<td class="data right">{{NumberFormat data-1.01200-02500}}</td>
<td class="data right">{{NumberFormat data-1.01200-02600}}</td>
<td class="data right">{{NumberFormat data-1.01200-02700}}</td>
<td class="data right">{{NumberFormat data-1.01200-02800}}</td>
<td class="left">12</td>
</tr>
<tr><td class="right">13</td>
<td> Counseling - Other</td>
<td class="center">18</td>
<td class="data right">{{NumberFormat data-1.01300-00000}}</td>
<td class="data right">{{NumberFormat data-1.01300-00100}}</td>
<td class="data right">{{NumberFormat data-1.01300-00200}}</td>
<td class="data right">{{NumberFormat data-1.01300-00400}}</td>
<td class="data right">{{NumberFormat data-1.01300-04A00}}</td>
<td class="data right">{{NumberFormat data-1.01300-00500}}</td>
<td class="data right">{{NumberFormat data-1.01300-00600}}</td>
<td class="data right">{{NumberFormat data-1.01300-00700}}</td>
<td class="data right">{{NumberFormat data-1.01300-00800}}</td>
<td class="data right">{{NumberFormat data-1.01300-00900}}</td>
<td class="data right">{{NumberFormat data-1.01300-01000}}</td>
<td class="data right">{{NumberFormat data-1.01300-01100}}</td>
<td class="data right">{{NumberFormat data-1.01300-01200}}</td>
<td class="data right">{{NumberFormat data-1.01300-01300}}</td>
<td class="data right">{{NumberFormat data-1.01300-01400}}</td>
<td class="data right">{{NumberFormat data-1.01300-01500}}</td>
<td class="data right">{{NumberFormat data-1.01300-01600}}</td>
<td class="data right">{{NumberFormat data-1.01300-01700}}</td>
<td class="data right">{{NumberFormat data-1.01300-01800}}</td>
<td class="data right">{{NumberFormat data-1.01300-01900}}</td>
<td class="data right">{{NumberFormat data-1.01300-02000}}</td>
<td class="data right">{{NumberFormat data-1.01300-02100}}</td>
<td class="data right">{{NumberFormat data-1.01300-02200}}</td>
<td class="data right">{{NumberFormat data-1.01300-02300}}</td>
<td class="data right">{{NumberFormat data-1.01300-02400}}</td>
<td class="data right">{{NumberFormat data-1.01300-02500}}</td>
<td class="data right">{{NumberFormat data-1.01300-02600}}</td>
<td class="data right">{{NumberFormat data-1.01300-02700}}</td>
<td class="data right">{{NumberFormat data-1.01300-02800}}</td>
<td class="left">13</td>
</tr>
<tr><td class="right">14</td>
<td> Home Health Aide and Homemaker</td>
<td class="center">19</td>
<td class="data right">{{NumberFormat data-1.01400-00000}}</td>
<td class="data right">{{NumberFormat data-1.01400-00100}}</td>
<td class="data right">{{NumberFormat data-1.01400-00200}}</td>
<td class="data right">{{NumberFormat data-1.01400-00400}}</td>
<td class="data right">{{NumberFormat data-1.01400-04A00}}</td>
<td class="data right">{{NumberFormat data-1.01400-00500}}</td>
<td class="data right">{{NumberFormat data-1.01400-00600}}</td>
<td class="data right">{{NumberFormat data-1.01400-00700}}</td>
<td class="data right">{{NumberFormat data-1.01400-00800}}</td>
<td class="data right">{{NumberFormat data-1.01400-00900}}</td>
<td class="data right">{{NumberFormat data-1.01400-01000}}</td>
<td class="data right">{{NumberFormat data-1.01400-01100}}</td>
<td class="data right">{{NumberFormat data-1.01400-01200}}</td>
<td class="data right">{{NumberFormat data-1.01400-01300}}</td>
<td class="data right">{{NumberFormat data-1.01400-01400}}</td>
<td class="data right">{{NumberFormat data-1.01400-01500}}</td>
<td class="data right">{{NumberFormat data-1.01400-01600}}</td>
<td class="data right">{{NumberFormat data-1.01400-01700}}</td>
<td class="data right">{{NumberFormat data-1.01400-01800}}</td>
<td class="data right">{{NumberFormat data-1.01400-01900}}</td>
<td class="data right">{{NumberFormat data-1.01400-02000}}</td>
<td class="data right">{{NumberFormat data-1.01400-02100}}</td>
<td class="data right">{{NumberFormat data-1.01400-02200}}</td>
<td class="data right">{{NumberFormat data-1.01400-02300}}</td>
<td class="data right">{{NumberFormat data-1.01400-02400}}</td>
<td class="data right">{{NumberFormat data-1.01400-02500}}</td>
<td class="data right">{{NumberFormat data-1.01400-02600}}</td>
<td class="data right">{{NumberFormat data-1.01400-02700}}</td>
<td class="data right">{{NumberFormat data-1.01400-02800}}</td>
<td class="left">14</td>
</tr>
<tr><td class="right">15</td>
<td> HH Aide &amp; Homemaker - Cont. Home Care</td>
<td class="center">20</td>
<td class="data right">{{NumberFormat data-1.01500-00000}}</td>
<td class="data right">{{NumberFormat data-1.01500-00100}}</td>
<td class="data right">{{NumberFormat data-1.01500-00200}}</td>
<td class="data right">{{NumberFormat data-1.01500-00400}}</td>
<td class="data right">{{NumberFormat data-1.01500-04A00}}</td>
<td class="data right">{{NumberFormat data-1.01500-00500}}</td>
<td class="data right">{{NumberFormat data-1.01500-00600}}</td>
<td class="data right">{{NumberFormat data-1.01500-00700}}</td>
<td class="data right">{{NumberFormat data-1.01500-00800}}</td>
<td class="data right">{{NumberFormat data-1.01500-00900}}</td>
<td class="data right">{{NumberFormat data-1.01500-01000}}</td>
<td class="data right">{{NumberFormat data-1.01500-01100}}</td>
<td class="data right">{{NumberFormat data-1.01500-01200}}</td>
<td class="data right">{{NumberFormat data-1.01500-01300}}</td>
<td class="data right">{{NumberFormat data-1.01500-01400}}</td>
<td class="data right">{{NumberFormat data-1.01500-01500}}</td>
<td class="data right">{{NumberFormat data-1.01500-01600}}</td>
<td class="data right">{{NumberFormat data-1.01500-01700}}</td>
<td class="data right">{{NumberFormat data-1.01500-01800}}</td>
<td class="data right">{{NumberFormat data-1.01500-01900}}</td>
<td class="data right">{{NumberFormat data-1.01500-02000}}</td>
<td class="data right">{{NumberFormat data-1.01500-02100}}</td>
<td class="data right">{{NumberFormat data-1.01500-02200}}</td>
<td class="data right">{{NumberFormat data-1.01500-02300}}</td>
<td class="data right">{{NumberFormat data-1.01500-02400}}</td>
<td class="data right">{{NumberFormat data-1.01500-02500}}</td>
<td class="data right">{{NumberFormat data-1.01500-02600}}</td>
<td class="data right">{{NumberFormat data-1.01500-02700}}</td>
<td class="data right">{{NumberFormat data-1.01500-02800}}</td>
<td class="left">15</td>
</tr>
<tr><td class="right">16</td>
<td> Other</td>
<td class="center">21</td>
<td class="data right">{{NumberFormat data-1.01600-00000}}</td>
<td class="data right">{{NumberFormat data-1.01600-00100}}</td>
<td class="data right">{{NumberFormat data-1.01600-00200}}</td>
<td class="data right">{{NumberFormat data-1.01600-00400}}</td>
<td class="data right">{{NumberFormat data-1.01600-04A00}}</td>
<td class="data right">{{NumberFormat data-1.01600-00500}}</td>
<td class="data right">{{NumberFormat data-1.01600-00600}}</td>
<td class="data right">{{NumberFormat data-1.01600-00700}}</td>
<td class="data right">{{NumberFormat data-1.01600-00800}}</td>
<td class="data right">{{NumberFormat data-1.01600-00900}}</td>
<td class="data right">{{NumberFormat data-1.01600-01000}}</td>
<td class="data right">{{NumberFormat data-1.01600-01100}}</td>
<td class="data right">{{NumberFormat data-1.01600-01200}}</td>
<td class="data right">{{NumberFormat data-1.01600-01300}}</td>
<td class="data right">{{NumberFormat data-1.01600-01400}}</td>
<td class="data right">{{NumberFormat data-1.01600-01500}}</td>
<td class="data right">{{NumberFormat data-1.01600-01600}}</td>
<td class="data right">{{NumberFormat data-1.01600-01700}}</td>
<td class="data right">{{NumberFormat data-1.01600-01800}}</td>
<td class="data right">{{NumberFormat data-1.01600-01900}}</td>
<td class="data right">{{NumberFormat data-1.01600-02000}}</td>
<td class="data right">{{NumberFormat data-1.01600-02100}}</td>
<td class="data right">{{NumberFormat data-1.01600-02200}}</td>
<td class="data right">{{NumberFormat data-1.01600-02300}}</td>
<td class="data right">{{NumberFormat data-1.01600-02400}}</td>
<td class="data right">{{NumberFormat data-1.01600-02500}}</td>
<td class="data right">{{NumberFormat data-1.01600-02600}}</td>
<td class="data right">{{NumberFormat data-1.01600-02700}}</td>
<td class="data right">{{NumberFormat data-1.01600-02800}}</td>
<td class="left">16</td>
</tr>
<tr><td class="right">17</td>
<td> Drugs, Biological and Infusion Therapy</td>
<td class="center">22</td>
<td class="data right">{{NumberFormat data-1.01700-00000}}</td>
<td class="data right">{{NumberFormat data-1.01700-00100}}</td>
<td class="data right">{{NumberFormat data-1.01700-00200}}</td>
<td class="data right">{{NumberFormat data-1.01700-00400}}</td>
<td class="data right">{{NumberFormat data-1.01700-04A00}}</td>
<td class="data right">{{NumberFormat data-1.01700-00500}}</td>
<td class="data right">{{NumberFormat data-1.01700-00600}}</td>
<td class="data right">{{NumberFormat data-1.01700-00700}}</td>
<td class="data right">{{NumberFormat data-1.01700-00800}}</td>
<td class="data right">{{NumberFormat data-1.01700-00900}}</td>
<td class="data right">{{NumberFormat data-1.01700-01000}}</td>
<td class="data right">{{NumberFormat data-1.01700-01100}}</td>
<td class="data right">{{NumberFormat data-1.01700-01200}}</td>
<td class="data right">{{NumberFormat data-1.01700-01300}}</td>
<td class="data right">{{NumberFormat data-1.01700-01400}}</td>
<td class="data right">{{NumberFormat data-1.01700-01500}}</td>
<td class="data right">{{NumberFormat data-1.01700-01600}}</td>
<td class="data right">{{NumberFormat data-1.01700-01700}}</td>
<td class="data right">{{NumberFormat data-1.01700-01800}}</td>
<td class="data right">{{NumberFormat data-1.01700-01900}}</td>
<td class="data right">{{NumberFormat data-1.01700-02000}}</td>
<td class="data right">{{NumberFormat data-1.01700-02100}}</td>
<td class="data right">{{NumberFormat data-1.01700-02200}}</td>
<td class="data right">{{NumberFormat data-1.01700-02300}}</td>
<td class="data right">{{NumberFormat data-1.01700-02400}}</td>
<td class="data right">{{NumberFormat data-1.01700-02500}}</td>
<td class="data right">{{NumberFormat data-1.01700-02600}}</td>
<td class="data right">{{NumberFormat data-1.01700-02700}}</td>
<td class="data right">{{NumberFormat data-1.01700-02800}}</td>
<td class="left">17</td>
</tr>
<tr><td class="right">18</td>
<td> Analgesics</td>
<td class="center">23</td>
<td class="data right">{{NumberFormat data-1.01800-00000}}</td>
<td class="data right">{{NumberFormat data-1.01800-00100}}</td>
<td class="data right">{{NumberFormat data-1.01800-00200}}</td>
<td class="data right">{{NumberFormat data-1.01800-00400}}</td>
<td class="data right">{{NumberFormat data-1.01800-04A00}}</td>
<td class="data right">{{NumberFormat data-1.01800-00500}}</td>
<td class="data right">{{NumberFormat data-1.01800-00600}}</td>
<td class="data right">{{NumberFormat data-1.01800-00700}}</td>
<td class="data right">{{NumberFormat data-1.01800-00800}}</td>
<td class="data right">{{NumberFormat data-1.01800-00900}}</td>
<td class="data right">{{NumberFormat data-1.01800-01000}}</td>
<td class="data right">{{NumberFormat data-1.01800-01100}}</td>
<td class="data right">{{NumberFormat data-1.01800-01200}}</td>
<td class="data right">{{NumberFormat data-1.01800-01300}}</td>
<td class="data right">{{NumberFormat data-1.01800-01400}}</td>
<td class="data right">{{NumberFormat data-1.01800-01500}}</td>
<td class="data right">{{NumberFormat data-1.01800-01600}}</td>
<td class="data right">{{NumberFormat data-1.01800-01700}}</td>
<td class="data right">{{NumberFormat data-1.01800-01800}}</td>
<td class="data right">{{NumberFormat data-1.01800-01900}}</td>
<td class="data right">{{NumberFormat data-1.01800-02000}}</td>
<td class="data right">{{NumberFormat data-1.01800-02100}}</td>
<td class="data right">{{NumberFormat data-1.01800-02200}}</td>
<td class="data right">{{NumberFormat data-1.01800-02300}}</td>
<td class="data right">{{NumberFormat data-1.01800-02400}}</td>
<td class="data right">{{NumberFormat data-1.01800-02500}}</td>
<td class="data right">{{NumberFormat data-1.01800-02600}}</td>
<td class="data right">{{NumberFormat data-1.01800-02700}}</td>
<td class="data right">{{NumberFormat data-1.01800-02800}}</td>
<td class="left">18</td>
</tr>
<tr><td class="right">19</td>
<td> Sedatives / Hypnotics</td>
<td class="center">24</td>
<td class="data right">{{NumberFormat data-1.01900-00000}}</td>
<td class="data right">{{NumberFormat data-1.01900-00100}}</td>
<td class="data right">{{NumberFormat data-1.01900-00200}}</td>
<td class="data right">{{NumberFormat data-1.01900-00400}}</td>
<td class="data right">{{NumberFormat data-1.01900-04A00}}</td>
<td class="data right">{{NumberFormat data-1.01900-00500}}</td>
<td class="data right">{{NumberFormat data-1.01900-00600}}</td>
<td class="data right">{{NumberFormat data-1.01900-00700}}</td>
<td class="data right">{{NumberFormat data-1.01900-00800}}</td>
<td class="data right">{{NumberFormat data-1.01900-00900}}</td>
<td class="data right">{{NumberFormat data-1.01900-01000}}</td>
<td class="data right">{{NumberFormat data-1.01900-01100}}</td>
<td class="data right">{{NumberFormat data-1.01900-01200}}</td>
<td class="data right">{{NumberFormat data-1.01900-01300}}</td>
<td class="data right">{{NumberFormat data-1.01900-01400}}</td>
<td class="data right">{{NumberFormat data-1.01900-01500}}</td>
<td class="data right">{{NumberFormat data-1.01900-01600}}</td>
<td class="data right">{{NumberFormat data-1.01900-01700}}</td>
<td class="data right">{{NumberFormat data-1.01900-01800}}</td>
<td class="data right">{{NumberFormat data-1.01900-01900}}</td>
<td class="data right">{{NumberFormat data-1.01900-02000}}</td>
<td class="data right">{{NumberFormat data-1.01900-02100}}</td>
<td class="data right">{{NumberFormat data-1.01900-02200}}</td>
<td class="data right">{{NumberFormat data-1.01900-02300}}</td>
<td class="data right">{{NumberFormat data-1.01900-02400}}</td>
<td class="data right">{{NumberFormat data-1.01900-02500}}</td>
<td class="data right">{{NumberFormat data-1.01900-02600}}</td>
<td class="data right">{{NumberFormat data-1.01900-02700}}</td>
<td class="data right">{{NumberFormat data-1.01900-02800}}</td>
<td class="left">19</td>
</tr>
<tr><td class="right">20</td>
<td> Other - Specify</td>
<td class="center">25</td>
<td class="data right">{{NumberFormat data-1.02000-00000}}</td>
<td class="data right">{{NumberFormat data-1.02000-00100}}</td>
<td class="data right">{{NumberFormat data-1.02000-00200}}</td>
<td class="data right">{{NumberFormat data-1.02000-00400}}</td>
<td class="data right">{{NumberFormat data-1.02000-04A00}}</td>
<td class="data right">{{NumberFormat data-1.02000-00500}}</td>
<td class="data right">{{NumberFormat data-1.02000-00600}}</td>
<td class="data right">{{NumberFormat data-1.02000-00700}}</td>
<td class="data right">{{NumberFormat data-1.02000-00800}}</td>
<td class="data right">{{NumberFormat data-1.02000-00900}}</td>
<td class="data right">{{NumberFormat data-1.02000-01000}}</td>
<td class="data right">{{NumberFormat data-1.02000-01100}}</td>
<td class="data right">{{NumberFormat data-1.02000-01200}}</td>
<td class="data right">{{NumberFormat data-1.02000-01300}}</td>
<td class="data right">{{NumberFormat data-1.02000-01400}}</td>
<td class="data right">{{NumberFormat data-1.02000-01500}}</td>
<td class="data right">{{NumberFormat data-1.02000-01600}}</td>
<td class="data right">{{NumberFormat data-1.02000-01700}}</td>
<td class="data right">{{NumberFormat data-1.02000-01800}}</td>
<td class="data right">{{NumberFormat data-1.02000-01900}}</td>
<td class="data right">{{NumberFormat data-1.02000-02000}}</td>
<td class="data right">{{NumberFormat data-1.02000-02100}}</td>
<td class="data right">{{NumberFormat data-1.02000-02200}}</td>
<td class="data right">{{NumberFormat data-1.02000-02300}}</td>
<td class="data right">{{NumberFormat data-1.02000-02400}}</td>
<td class="data right">{{NumberFormat data-1.02000-02500}}</td>
<td class="data right">{{NumberFormat data-1.02000-02600}}</td>
<td class="data right">{{NumberFormat data-1.02000-02700}}</td>
<td class="data right">{{NumberFormat data-1.02000-02800}}</td>
<td class="left">20</td>
</tr>
<tr><td class="right">21</td>
<td> Durable Medical Equipment/Oxygen</td>
<td class="center">26</td>
<td class="data right">{{NumberFormat data-1.02100-00000}}</td>
<td class="data right">{{NumberFormat data-1.02100-00100}}</td>
<td class="data right">{{NumberFormat data-1.02100-00200}}</td>
<td class="data right">{{NumberFormat data-1.02100-00400}}</td>
<td class="data right">{{NumberFormat data-1.02100-04A00}}</td>
<td class="data right">{{NumberFormat data-1.02100-00500}}</td>
<td class="data right">{{NumberFormat data-1.02100-00600}}</td>
<td class="data right">{{NumberFormat data-1.02100-00700}}</td>
<td class="data right">{{NumberFormat data-1.02100-00800}}</td>
<td class="data right">{{NumberFormat data-1.02100-00900}}</td>
<td class="data right">{{NumberFormat data-1.02100-01000}}</td>
<td class="data right">{{NumberFormat data-1.02100-01100}}</td>
<td class="data right">{{NumberFormat data-1.02100-01200}}</td>
<td class="data right">{{NumberFormat data-1.02100-01300}}</td>
<td class="data right">{{NumberFormat data-1.02100-01400}}</td>
<td class="data right">{{NumberFormat data-1.02100-01500}}</td>
<td class="data right">{{NumberFormat data-1.02100-01600}}</td>
<td class="data right">{{NumberFormat data-1.02100-01700}}</td>
<td class="data right">{{NumberFormat data-1.02100-01800}}</td>
<td class="data right">{{NumberFormat data-1.02100-01900}}</td>
<td class="data right">{{NumberFormat data-1.02100-02000}}</td>
<td class="data right">{{NumberFormat data-1.02100-02100}}</td>
<td class="data right">{{NumberFormat data-1.02100-02200}}</td>
<td class="data right">{{NumberFormat data-1.02100-02300}}</td>
<td class="data right">{{NumberFormat data-1.02100-02400}}</td>
<td class="data right">{{NumberFormat data-1.02100-02500}}</td>
<td class="data right">{{NumberFormat data-1.02100-02600}}</td>
<td class="data right">{{NumberFormat data-1.02100-02700}}</td>
<td class="data right">{{NumberFormat data-1.02100-02800}}</td>
<td class="left">21</td>
</tr>
<tr><td class="right">22</td>
<td> Patient Transportation</td>
<td class="center">27</td>
<td class="data right">{{NumberFormat data-1.02200-00000}}</td>
<td class="data right">{{NumberFormat data-1.02200-00100}}</td>
<td class="data right">{{NumberFormat data-1.02200-00200}}</td>
<td class="data right">{{NumberFormat data-1.02200-00400}}</td>
<td class="data right">{{NumberFormat data-1.02200-04A00}}</td>
<td class="data right">{{NumberFormat data-1.02200-00500}}</td>
<td class="data right">{{NumberFormat data-1.02200-00600}}</td>
<td class="data right">{{NumberFormat data-1.02200-00700}}</td>
<td class="data right">{{NumberFormat data-1.02200-00800}}</td>
<td class="data right">{{NumberFormat data-1.02200-00900}}</td>
<td class="data right">{{NumberFormat data-1.02200-01000}}</td>
<td class="data right">{{NumberFormat data-1.02200-01100}}</td>
<td class="data right">{{NumberFormat data-1.02200-01200}}</td>
<td class="data right">{{NumberFormat data-1.02200-01300}}</td>
<td class="data right">{{NumberFormat data-1.02200-01400}}</td>
<td class="data right">{{NumberFormat data-1.02200-01500}}</td>
<td class="data right">{{NumberFormat data-1.02200-01600}}</td>
<td class="data right">{{NumberFormat data-1.02200-01700}}</td>
<td class="data right">{{NumberFormat data-1.02200-01800}}</td>
<td class="data right">{{NumberFormat data-1.02200-01900}}</td>
<td class="data right">{{NumberFormat data-1.02200-02000}}</td>
<td class="data right">{{NumberFormat data-1.02200-02100}}</td>
<td class="data right">{{NumberFormat data-1.02200-02200}}</td>
<td class="data right">{{NumberFormat data-1.02200-02300}}</td>
<td class="data right">{{NumberFormat data-1.02200-02400}}</td>
<td class="data right">{{NumberFormat data-1.02200-02500}}</td>
<td class="data right">{{NumberFormat data-1.02200-02600}}</td>
<td class="data right">{{NumberFormat data-1.02200-02700}}</td>
<td class="data right">{{NumberFormat data-1.02200-02800}}</td>
<td class="left">22</td>
</tr>
<tr><td class="right">23</td>
<td> Imaging Services</td>
<td class="center">28</td>
<td class="data right">{{NumberFormat data-1.02300-00000}}</td>
<td class="data right">{{NumberFormat data-1.02300-00100}}</td>
<td class="data right">{{NumberFormat data-1.02300-00200}}</td>
<td class="data right">{{NumberFormat data-1.02300-00400}}</td>
<td class="data right">{{NumberFormat data-1.02300-04A00}}</td>
<td class="data right">{{NumberFormat data-1.02300-00500}}</td>
<td class="data right">{{NumberFormat data-1.02300-00600}}</td>
<td class="data right">{{NumberFormat data-1.02300-00700}}</td>
<td class="data right">{{NumberFormat data-1.02300-00800}}</td>
<td class="data right">{{NumberFormat data-1.02300-00900}}</td>
<td class="data right">{{NumberFormat data-1.02300-01000}}</td>
<td class="data right">{{NumberFormat data-1.02300-01100}}</td>
<td class="data right">{{NumberFormat data-1.02300-01200}}</td>
<td class="data right">{{NumberFormat data-1.02300-01300}}</td>
<td class="data right">{{NumberFormat data-1.02300-01400}}</td>
<td class="data right">{{NumberFormat data-1.02300-01500}}</td>
<td class="data right">{{NumberFormat data-1.02300-01600}}</td>
<td class="data right">{{NumberFormat data-1.02300-01700}}</td>
<td class="data right">{{NumberFormat data-1.02300-01800}}</td>
<td class="data right">{{NumberFormat data-1.02300-01900}}</td>
<td class="data right">{{NumberFormat data-1.02300-02000}}</td>
<td class="data right">{{NumberFormat data-1.02300-02100}}</td>
<td class="data right">{{NumberFormat data-1.02300-02200}}</td>
<td class="data right">{{NumberFormat data-1.02300-02300}}</td>
<td class="data right">{{NumberFormat data-1.02300-02400}}</td>
<td class="data right">{{NumberFormat data-1.02300-02500}}</td>
<td class="data right">{{NumberFormat data-1.02300-02600}}</td>
<td class="data right">{{NumberFormat data-1.02300-02700}}</td>
<td class="data right">{{NumberFormat data-1.02300-02800}}</td>
<td class="left">23</td>
</tr>
<tr><td class="right">24</td>
<td> Labs and Diagnostics</td>
<td class="center">29</td>
<td class="data right">{{NumberFormat data-1.02400-00000}}</td>
<td class="data right">{{NumberFormat data-1.02400-00100}}</td>
<td class="data right">{{NumberFormat data-1.02400-00200}}</td>
<td class="data right">{{NumberFormat data-1.02400-00400}}</td>
<td class="data right">{{NumberFormat data-1.02400-04A00}}</td>
<td class="data right">{{NumberFormat data-1.02400-00500}}</td>
<td class="data right">{{NumberFormat data-1.02400-00600}}</td>
<td class="data right">{{NumberFormat data-1.02400-00700}}</td>
<td class="data right">{{NumberFormat data-1.02400-00800}}</td>
<td class="data right">{{NumberFormat data-1.02400-00900}}</td>
<td class="data right">{{NumberFormat data-1.02400-01000}}</td>
<td class="data right">{{NumberFormat data-1.02400-01100}}</td>
<td class="data right">{{NumberFormat data-1.02400-01200}}</td>
<td class="data right">{{NumberFormat data-1.02400-01300}}</td>
<td class="data right">{{NumberFormat data-1.02400-01400}}</td>
<td class="data right">{{NumberFormat data-1.02400-01500}}</td>
<td class="data right">{{NumberFormat data-1.02400-01600}}</td>
<td class="data right">{{NumberFormat data-1.02400-01700}}</td>
<td class="data right">{{NumberFormat data-1.02400-01800}}</td>
<td class="data right">{{NumberFormat data-1.02400-01900}}</td>
<td class="data right">{{NumberFormat data-1.02400-02000}}</td>
<td class="data right">{{NumberFormat data-1.02400-02100}}</td>
<td class="data right">{{NumberFormat data-1.02400-02200}}</td>
<td class="data right">{{NumberFormat data-1.02400-02300}}</td>
<td class="data right">{{NumberFormat data-1.02400-02400}}</td>
<td class="data right">{{NumberFormat data-1.02400-02500}}</td>
<td class="data right">{{NumberFormat data-1.02400-02600}}</td>
<td class="data right">{{NumberFormat data-1.02400-02700}}</td>
<td class="data right">{{NumberFormat data-1.02400-02800}}</td>
<td class="left">24</td>
</tr>
<tr><td class="right">25</td>
<td> Medical Supplies</td>
<td class="center">30</td>
<td class="data right">{{NumberFormat data-1.02500-00000}}</td>
<td class="data right">{{NumberFormat data-1.02500-00100}}</td>
<td class="data right">{{NumberFormat data-1.02500-00200}}</td>
<td class="data right">{{NumberFormat data-1.02500-00400}}</td>
<td class="data right">{{NumberFormat data-1.02500-04A00}}</td>
<td class="data right">{{NumberFormat data-1.02500-00500}}</td>
<td class="data right">{{NumberFormat data-1.02500-00600}}</td>
<td class="data right">{{NumberFormat data-1.02500-00700}}</td>
<td class="data right">{{NumberFormat data-1.02500-00800}}</td>
<td class="data right">{{NumberFormat data-1.02500-00900}}</td>
<td class="data right">{{NumberFormat data-1.02500-01000}}</td>
<td class="data right">{{NumberFormat data-1.02500-01100}}</td>
<td class="data right">{{NumberFormat data-1.02500-01200}}</td>
<td class="data right">{{NumberFormat data-1.02500-01300}}</td>
<td class="data right">{{NumberFormat data-1.02500-01400}}</td>
<td class="data right">{{NumberFormat data-1.02500-01500}}</td>
<td class="data right">{{NumberFormat data-1.02500-01600}}</td>
<td class="data right">{{NumberFormat data-1.02500-01700}}</td>
<td class="data right">{{NumberFormat data-1.02500-01800}}</td>
<td class="data right">{{NumberFormat data-1.02500-01900}}</td>
<td class="data right">{{NumberFormat data-1.02500-02000}}</td>
<td class="data right">{{NumberFormat data-1.02500-02100}}</td>
<td class="data right">{{NumberFormat data-1.02500-02200}}</td>
<td class="data right">{{NumberFormat data-1.02500-02300}}</td>
<td class="data right">{{NumberFormat data-1.02500-02400}}</td>
<td class="data right">{{NumberFormat data-1.02500-02500}}</td>
<td class="data right">{{NumberFormat data-1.02500-02600}}</td>
<td class="data right">{{NumberFormat data-1.02500-02700}}</td>
<td class="data right">{{NumberFormat data-1.02500-02800}}</td>
<td class="left">25</td>
</tr>
<tr><td class="right">26</td>
<td> Outpatient Services (including E/R Dept.)</td>
<td class="center">31</td>
<td class="data right">{{NumberFormat data-1.02600-00000}}</td>
<td class="data right">{{NumberFormat data-1.02600-00100}}</td>
<td class="data right">{{NumberFormat data-1.02600-00200}}</td>
<td class="data right">{{NumberFormat data-1.02600-00400}}</td>
<td class="data right">{{NumberFormat data-1.02600-04A00}}</td>
<td class="data right">{{NumberFormat data-1.02600-00500}}</td>
<td class="data right">{{NumberFormat data-1.02600-00600}}</td>
<td class="data right">{{NumberFormat data-1.02600-00700}}</td>
<td class="data right">{{NumberFormat data-1.02600-00800}}</td>
<td class="data right">{{NumberFormat data-1.02600-00900}}</td>
<td class="data right">{{NumberFormat data-1.02600-01000}}</td>
<td class="data right">{{NumberFormat data-1.02600-01100}}</td>
<td class="data right">{{NumberFormat data-1.02600-01200}}</td>
<td class="data right">{{NumberFormat data-1.02600-01300}}</td>
<td class="data right">{{NumberFormat data-1.02600-01400}}</td>
<td class="data right">{{NumberFormat data-1.02600-01500}}</td>
<td class="data right">{{NumberFormat data-1.02600-01600}}</td>
<td class="data right">{{NumberFormat data-1.02600-01700}}</td>
<td class="data right">{{NumberFormat data-1.02600-01800}}</td>
<td class="data right">{{NumberFormat data-1.02600-01900}}</td>
<td class="data right">{{NumberFormat data-1.02600-02000}}</td>
<td class="data right">{{NumberFormat data-1.02600-02100}}</td>
<td class="data right">{{NumberFormat data-1.02600-02200}}</td>
<td class="data right">{{NumberFormat data-1.02600-02300}}</td>
<td class="data right">{{NumberFormat data-1.02600-02400}}</td>
<td class="data right">{{NumberFormat data-1.02600-02500}}</td>
<td class="data right">{{NumberFormat data-1.02600-02600}}</td>
<td class="data right">{{NumberFormat data-1.02600-02700}}</td>
<td class="data right">{{NumberFormat data-1.02600-02800}}</td>
<td class="left">26</td>
</tr>
<tr><td class="right">27</td>
<td> Radiation Therapy</td>
<td class="center">32</td>
<td class="data right">{{NumberFormat data-1.02700-00000}}</td>
<td class="data right">{{NumberFormat data-1.02700-00100}}</td>
<td class="data right">{{NumberFormat data-1.02700-00200}}</td>
<td class="data right">{{NumberFormat data-1.02700-00400}}</td>
<td class="data right">{{NumberFormat data-1.02700-04A00}}</td>
<td class="data right">{{NumberFormat data-1.02700-00500}}</td>
<td class="data right">{{NumberFormat data-1.02700-00600}}</td>
<td class="data right">{{NumberFormat data-1.02700-00700}}</td>
<td class="data right">{{NumberFormat data-1.02700-00800}}</td>
<td class="data right">{{NumberFormat data-1.02700-00900}}</td>
<td class="data right">{{NumberFormat data-1.02700-01000}}</td>
<td class="data right">{{NumberFormat data-1.02700-01100}}</td>
<td class="data right">{{NumberFormat data-1.02700-01200}}</td>
<td class="data right">{{NumberFormat data-1.02700-01300}}</td>
<td class="data right">{{NumberFormat data-1.02700-01400}}</td>
<td class="data right">{{NumberFormat data-1.02700-01500}}</td>
<td class="data right">{{NumberFormat data-1.02700-01600}}</td>
<td class="data right">{{NumberFormat data-1.02700-01700}}</td>
<td class="data right">{{NumberFormat data-1.02700-01800}}</td>
<td class="data right">{{NumberFormat data-1.02700-01900}}</td>
<td class="data right">{{NumberFormat data-1.02700-02000}}</td>
<td class="data right">{{NumberFormat data-1.02700-02100}}</td>
<td class="data right">{{NumberFormat data-1.02700-02200}}</td>
<td class="data right">{{NumberFormat data-1.02700-02300}}</td>
<td class="data right">{{NumberFormat data-1.02700-02400}}</td>
<td class="data right">{{NumberFormat data-1.02700-02500}}</td>
<td class="data right">{{NumberFormat data-1.02700-02600}}</td>
<td class="data right">{{NumberFormat data-1.02700-02700}}</td>
<td class="data right">{{NumberFormat data-1.02700-02800}}</td>
<td class="left">27</td>
</tr>
<tr><td class="right">28</td>
<td> Chemotherapy</td>
<td class="center">33</td>
<td class="data right">{{NumberFormat data-1.02800-00000}}</td>
<td class="data right">{{NumberFormat data-1.02800-00100}}</td>
<td class="data right">{{NumberFormat data-1.02800-00200}}</td>
<td class="data right">{{NumberFormat data-1.02800-00400}}</td>
<td class="data right">{{NumberFormat data-1.02800-04A00}}</td>
<td class="data right">{{NumberFormat data-1.02800-00500}}</td>
<td class="data right">{{NumberFormat data-1.02800-00600}}</td>
<td class="data right">{{NumberFormat data-1.02800-00700}}</td>
<td class="data right">{{NumberFormat data-1.02800-00800}}</td>
<td class="data right">{{NumberFormat data-1.02800-00900}}</td>
<td class="data right">{{NumberFormat data-1.02800-01000}}</td>
<td class="data right">{{NumberFormat data-1.02800-01100}}</td>
<td class="data right">{{NumberFormat data-1.02800-01200}}</td>
<td class="data right">{{NumberFormat data-1.02800-01300}}</td>
<td class="data right">{{NumberFormat data-1.02800-01400}}</td>
<td class="data right">{{NumberFormat data-1.02800-01500}}</td>
<td class="data right">{{NumberFormat data-1.02800-01600}}</td>
<td class="data right">{{NumberFormat data-1.02800-01700}}</td>
<td class="data right">{{NumberFormat data-1.02800-01800}}</td>
<td class="data right">{{NumberFormat data-1.02800-01900}}</td>
<td class="data right">{{NumberFormat data-1.02800-02000}}</td>
<td class="data right">{{NumberFormat data-1.02800-02100}}</td>
<td class="data right">{{NumberFormat data-1.02800-02200}}</td>
<td class="data right">{{NumberFormat data-1.02800-02300}}</td>
<td class="data right">{{NumberFormat data-1.02800-02400}}</td>
<td class="data right">{{NumberFormat data-1.02800-02500}}</td>
<td class="data right">{{NumberFormat data-1.02800-02600}}</td>
<td class="data right">{{NumberFormat data-1.02800-02700}}</td>
<td class="data right">{{NumberFormat data-1.02800-02800}}</td>
<td class="left">28</td>
</tr>
<tr><td class="right">29</td>
<td> Other</td>
<td class="center">34</td>
<td class="data right">{{NumberFormat data-1.02900-00000}}</td>
<td class="data right">{{NumberFormat data-1.02900-00100}}</td>
<td class="data right">{{NumberFormat data-1.02900-00200}}</td>
<td class="data right">{{NumberFormat data-1.02900-00400}}</td>
<td class="data right">{{NumberFormat data-1.02900-04A00}}</td>
<td class="data right">{{NumberFormat data-1.02900-00500}}</td>
<td class="data right">{{NumberFormat data-1.02900-00600}}</td>
<td class="data right">{{NumberFormat data-1.02900-00700}}</td>
<td class="data right">{{NumberFormat data-1.02900-00800}}</td>
<td class="data right">{{NumberFormat data-1.02900-00900}}</td>
<td class="data right">{{NumberFormat data-1.02900-01000}}</td>
<td class="data right">{{NumberFormat data-1.02900-01100}}</td>
<td class="data right">{{NumberFormat data-1.02900-01200}}</td>
<td class="data right">{{NumberFormat data-1.02900-01300}}</td>
<td class="data right">{{NumberFormat data-1.02900-01400}}</td>
<td class="data right">{{NumberFormat data-1.02900-01500}}</td>
<td class="data right">{{NumberFormat data-1.02900-01600}}</td>
<td class="data right">{{NumberFormat data-1.02900-01700}}</td>
<td class="data right">{{NumberFormat data-1.02900-01800}}</td>
<td class="data right">{{NumberFormat data-1.02900-01900}}</td>
<td class="data right">{{NumberFormat data-1.02900-02000}}</td>
<td class="data right">{{NumberFormat data-1.02900-02100}}</td>
<td class="data right">{{NumberFormat data-1.02900-02200}}</td>
<td class="data right">{{NumberFormat data-1.02900-02300}}</td>
<td class="data right">{{NumberFormat data-1.02900-02400}}</td>
<td class="data right">{{NumberFormat data-1.02900-02500}}</td>
<td class="data right">{{NumberFormat data-1.02900-02600}}</td>
<td class="data right">{{NumberFormat data-1.02900-02700}}</td>
<td class="data right">{{NumberFormat data-1.02900-02800}}</td>
<td class="left">29</td>
</tr>
<tr><td class="right">30</td>
<td> Bereavement Program Costs</td>
<td class="center">35</td>
<td class="data right">{{NumberFormat data-1.03000-00000}}</td>
<td class="data right">{{NumberFormat data-1.03000-00100}}</td>
<td class="data right">{{NumberFormat data-1.03000-00200}}</td>
<td class="data right">{{NumberFormat data-1.03000-00400}}</td>
<td class="data right">{{NumberFormat data-1.03000-04A00}}</td>
<td class="data right">{{NumberFormat data-1.03000-00500}}</td>
<td class="data right">{{NumberFormat data-1.03000-00600}}</td>
<td class="data right">{{NumberFormat data-1.03000-00700}}</td>
<td class="data right">{{NumberFormat data-1.03000-00800}}</td>
<td class="data right">{{NumberFormat data-1.03000-00900}}</td>
<td class="data right">{{NumberFormat data-1.03000-01000}}</td>
<td class="data right">{{NumberFormat data-1.03000-01100}}</td>
<td class="data right">{{NumberFormat data-1.03000-01200}}</td>
<td class="data right">{{NumberFormat data-1.03000-01300}}</td>
<td class="data right">{{NumberFormat data-1.03000-01400}}</td>
<td class="data right">{{NumberFormat data-1.03000-01500}}</td>
<td class="data right">{{NumberFormat data-1.03000-01600}}</td>
<td class="data right">{{NumberFormat data-1.03000-01700}}</td>
<td class="data right">{{NumberFormat data-1.03000-01800}}</td>
<td class="data right">{{NumberFormat data-1.03000-01900}}</td>
<td class="data right">{{NumberFormat data-1.03000-02000}}</td>
<td class="data right">{{NumberFormat data-1.03000-02100}}</td>
<td class="data right">{{NumberFormat data-1.03000-02200}}</td>
<td class="data right">{{NumberFormat data-1.03000-02300}}</td>
<td class="data right">{{NumberFormat data-1.03000-02400}}</td>
<td class="data right">{{NumberFormat data-1.03000-02500}}</td>
<td class="data right">{{NumberFormat data-1.03000-02600}}</td>
<td class="data right">{{NumberFormat data-1.03000-02700}}</td>
<td class="data right">{{NumberFormat data-1.03000-02800}}</td>
<td class="left">30</td>
</tr>
<tr><td class="right">31</td>
<td> Volunteer Program Costs</td>
<td class="center">36</td>
<td class="data right">{{NumberFormat data-1.03100-00000}}</td>
<td class="data right">{{NumberFormat data-1.03100-00100}}</td>
<td class="data right">{{NumberFormat data-1.03100-00200}}</td>
<td class="data right">{{NumberFormat data-1.03100-00400}}</td>
<td class="data right">{{NumberFormat data-1.03100-04A00}}</td>
<td class="data right">{{NumberFormat data-1.03100-00500}}</td>
<td class="data right">{{NumberFormat data-1.03100-00600}}</td>
<td class="data right">{{NumberFormat data-1.03100-00700}}</td>
<td class="data right">{{NumberFormat data-1.03100-00800}}</td>
<td class="data right">{{NumberFormat data-1.03100-00900}}</td>
<td class="data right">{{NumberFormat data-1.03100-01000}}</td>
<td class="data right">{{NumberFormat data-1.03100-01100}}</td>
<td class="data right">{{NumberFormat data-1.03100-01200}}</td>
<td class="data right">{{NumberFormat data-1.03100-01300}}</td>
<td class="data right">{{NumberFormat data-1.03100-01400}}</td>
<td class="data right">{{NumberFormat data-1.03100-01500}}</td>
<td class="data right">{{NumberFormat data-1.03100-01600}}</td>
<td class="data right">{{NumberFormat data-1.03100-01700}}</td>
<td class="data right">{{NumberFormat data-1.03100-01800}}</td>
<td class="data right">{{NumberFormat data-1.03100-01900}}</td>
<td class="data right">{{NumberFormat data-1.03100-02000}}</td>
<td class="data right">{{NumberFormat data-1.03100-02100}}</td>
<td class="data right">{{NumberFormat data-1.03100-02200}}</td>
<td class="data right">{{NumberFormat data-1.03100-02300}}</td>
<td class="data right">{{NumberFormat data-1.03100-02400}}</td>
<td class="data right">{{NumberFormat data-1.03100-02500}}</td>
<td class="data right">{{NumberFormat data-1.03100-02600}}</td>
<td class="data right">{{NumberFormat data-1.03100-02700}}</td>
<td class="data right">{{NumberFormat data-1.03100-02800}}</td>
<td class="left">31</td>
</tr>
<tr><td class="right">32</td>
<td> Fundraising</td>
<td class="center">37</td>
<td class="data right">{{NumberFormat data-1.03200-00000}}</td>
<td class="data right">{{NumberFormat data-1.03200-00100}}</td>
<td class="data right">{{NumberFormat data-1.03200-00200}}</td>
<td class="data right">{{NumberFormat data-1.03200-00400}}</td>
<td class="data right">{{NumberFormat data-1.03200-04A00}}</td>
<td class="data right">{{NumberFormat data-1.03200-00500}}</td>
<td class="data right">{{NumberFormat data-1.03200-00600}}</td>
<td class="data right">{{NumberFormat data-1.03200-00700}}</td>
<td class="data right">{{NumberFormat data-1.03200-00800}}</td>
<td class="data right">{{NumberFormat data-1.03200-00900}}</td>
<td class="data right">{{NumberFormat data-1.03200-01000}}</td>
<td class="data right">{{NumberFormat data-1.03200-01100}}</td>
<td class="data right">{{NumberFormat data-1.03200-01200}}</td>
<td class="data right">{{NumberFormat data-1.03200-01300}}</td>
<td class="data right">{{NumberFormat data-1.03200-01400}}</td>
<td class="data right">{{NumberFormat data-1.03200-01500}}</td>
<td class="data right">{{NumberFormat data-1.03200-01600}}</td>
<td class="data right">{{NumberFormat data-1.03200-01700}}</td>
<td class="data right">{{NumberFormat data-1.03200-01800}}</td>
<td class="data right">{{NumberFormat data-1.03200-01900}}</td>
<td class="data right">{{NumberFormat data-1.03200-02000}}</td>
<td class="data right">{{NumberFormat data-1.03200-02100}}</td>
<td class="data right">{{NumberFormat data-1.03200-02200}}</td>
<td class="data right">{{NumberFormat data-1.03200-02300}}</td>
<td class="data right">{{NumberFormat data-1.03200-02400}}</td>
<td class="data right">{{NumberFormat data-1.03200-02500}}</td>
<td class="data right">{{NumberFormat data-1.03200-02600}}</td>
<td class="data right">{{NumberFormat data-1.03200-02700}}</td>
<td class="data right">{{NumberFormat data-1.03200-02800}}</td>
<td class="left">32</td>
</tr>
<tr><td class="right">33</td>
<td> Other Program Costs</td>
<td class="center">38</td>
<td class="data right">{{NumberFormat data-1.03300-00000}}</td>
<td class="data right">{{NumberFormat data-1.03300-00100}}</td>
<td class="data right">{{NumberFormat data-1.03300-00200}}</td>
<td class="data right">{{NumberFormat data-1.03300-00400}}</td>
<td class="data right">{{NumberFormat data-1.03300-04A00}}</td>
<td class="data right">{{NumberFormat data-1.03300-00500}}</td>
<td class="data right">{{NumberFormat data-1.03300-00600}}</td>
<td class="data right">{{NumberFormat data-1.03300-00700}}</td>
<td class="data right">{{NumberFormat data-1.03300-00800}}</td>
<td class="data right">{{NumberFormat data-1.03300-00900}}</td>
<td class="data right">{{NumberFormat data-1.03300-01000}}</td>
<td class="data right">{{NumberFormat data-1.03300-01100}}</td>
<td class="data right">{{NumberFormat data-1.03300-01200}}</td>
<td class="data right">{{NumberFormat data-1.03300-01300}}</td>
<td class="data right">{{NumberFormat data-1.03300-01400}}</td>
<td class="data right">{{NumberFormat data-1.03300-01500}}</td>
<td class="data right">{{NumberFormat data-1.03300-01600}}</td>
<td class="data right">{{NumberFormat data-1.03300-01700}}</td>
<td class="data right">{{NumberFormat data-1.03300-01800}}</td>
<td class="data right">{{NumberFormat data-1.03300-01900}}</td>
<td class="data right">{{NumberFormat data-1.03300-02000}}</td>
<td class="data right">{{NumberFormat data-1.03300-02100}}</td>
<td class="data right">{{NumberFormat data-1.03300-02200}}</td>
<td class="data right">{{NumberFormat data-1.03300-02300}}</td>
<td class="data right">{{NumberFormat data-1.03300-02400}}</td>
<td class="data right">{{NumberFormat data-1.03300-02500}}</td>
<td class="data right">{{NumberFormat data-1.03300-02600}}</td>
<td class="data right">{{NumberFormat data-1.03300-02700}}</td>
<td class="data right">{{NumberFormat data-1.03300-02800}}</td>
<td class="left">33</td>
</tr>
<tr><td class="right">34</td>
<td> Totals (sum of lines 1-33) (2)</td>
<td class="data fillgrey">&nbsp;</td>
<td class="data right">{{NumberFormat data-1.03400-00000}}</td>
<td class="data right">{{NumberFormat data-1.03400-00100}}</td>
<td class="data right">{{NumberFormat data-1.03400-00200}}</td>
<td class="data right">{{NumberFormat data-1.03400-00400}}</td>
<td class="data right">{{NumberFormat data-1.03400-04A00}}</td>
<td class="data right">{{NumberFormat data-1.03400-00500}}</td>
<td class="data right">{{NumberFormat data-1.03400-00600}}</td>
<td class="data right">{{NumberFormat data-1.03400-00700}}</td>
<td class="data right">{{NumberFormat data-1.03400-00800}}</td>
<td class="data right">{{NumberFormat data-1.03400-00900}}</td>
<td class="data right">{{NumberFormat data-1.03400-01000}}</td>
<td class="data right">{{NumberFormat data-1.03400-01100}}</td>
<td class="data right">{{NumberFormat data-1.03400-01200}}</td>
<td class="data right">{{NumberFormat data-1.03400-01300}}</td>
<td class="data right">{{NumberFormat data-1.03400-01400}}</td>
<td class="data right">{{NumberFormat data-1.03400-01500}}</td>
<td class="data right">{{NumberFormat data-1.03400-01600}}</td>
<td class="data right">{{NumberFormat data-1.03400-01700}}</td>
<td class="data right">{{NumberFormat data-1.03400-01800}}</td>
<td class="data right">{{NumberFormat data-1.03400-01900}}</td>
<td class="data right">{{NumberFormat data-1.03400-02000}}</td>
<td class="data right">{{NumberFormat data-1.03400-02100}}</td>
<td class="data right">{{NumberFormat data-1.03400-02200}}</td>
<td class="data right">{{NumberFormat data-1.03400-02300}}</td>
<td class="data right">{{NumberFormat data-1.03400-02400}}</td>
<td class="data right">{{NumberFormat data-1.03400-02500}}</td>
<td class="data right">{{NumberFormat data-1.03400-02600}}</td>
<td class="data fillgrey right">{{NumberFormat data-1.03400-02700}}</td>
<td class="data right">{{NumberFormat data-1.03400-02800}}</td>
<td class="left">34</td>
</tr>
<tr><td class="right">35</td>
<td> Unit Cost Multiplier (see instructions)</td>
<td class="fillgrey">&nbsp;</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03500-00000}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03500-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03500-00200}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03500-00400}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03500-04A00}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03500-00500}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03500-00600}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03500-00700}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03500-00800}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03500-00900}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03500-01000}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03500-01100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03500-01200}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03500-01300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03500-01400}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03500-01500}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03500-01600}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03500-01700}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03500-01800}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03500-01900}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03500-02000}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03500-02100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03500-02200}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03500-02300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03500-02400}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03500-02500}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03500-02600}}</td>
<td class="data right">{{NumberFormat data-1.03500-02700}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.03500-02800}}</td>
<td class="left">35</td>
</tr>
<tr><td colspan="33">(1) Column 0, line 34 must agree with Wkst. A, column 7, line 116.</td>
</tr>
<tr><td colspan="33">(2) Columns 0 through 25, line 34 must agree with the corresponding columns of Wkst. B, Part I, line 116.</td>
</tr>
<tr><td colspan="33">FORM CMS-2552-10 (08/2011) (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-II, SECTION 4062.1)</td>
</tr>
<tr><td colspan="31">40-638</td>
<td colspan="2"> Rev. 2 </td>
</tr>
</tbody></table>

</div>
