
<div class="report"><table id="report_table" border="1" width="100%" cellpadding="1" cellspacing="1">
<colgroup><col width="3%">
<col width="35%">
<col width="12%">
<col width="12%">
<col width="12%">
<col width="12%">
<col width="12%">

<col width="3%">
</colgroup><thead>
<tr><td colspan="4">CALCULATION OF HOSPICE PER DIEM COST</td>
<td>Provider CCN: <span class="data">{{pId}}</span></td>
<td><div>PERIOD:</div><div>FROM <span class="data">{{year.start}}</span></div><div>TO <span class="data">{{year.end}}</span></div>
<td colspan="2"> WORKSHEET K-6</td>
</tr>

<tr><td>&nbsp;</td>
<td colspan="2" rowspan="2">COMPUTATION OF PER DIEM COST</td>
<td class="center">TITLE XVIII</td>
<td class="center">TITLE XIX</td>
<td class="center">OTHER</td>
<td class="center">TOTAL</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td class="center">1</td>
<td class="center">2</td>
<td class="center">3</td>
<td class="center">4</td>
<td>&nbsp;</td>
</tr>
</thead><tbody>
<tr><td class="right">1</td>
<td class="left" colspan="2"> Total cost (see instructions)</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00100-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00100-00200}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00100-00300}}</td>
<td class="data right">{{NumberFormat data-1.00100-00400}}</td>
<td class="left">1</td>
</tr>
<tr><td class="right">2</td>
<td class="left" colspan="2"> Total unduplicated days (Worksheet S-9, column 6, line 5)</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00200-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00200-00200}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00200-00300}}</td>
<td class="data right">{{NumberFormat data-1.00200-00400}}</td>
<td class="left">2</td>
</tr>
<tr><td class="right">3</td>
<td class="left" colspan="2"> Average cost per diem (line 1 divided by line 2)</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00300-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00300-00200}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00300-00300}}</td>
<td class="data right">{{NumberFormat data-1.00300-00400}}</td>
<td class="left">3</td>
</tr>
<tr><td class="right">4</td>
<td class="left" colspan="2"> Unduplicated Medicare days (Worksheet S-9, column 1, line 5)</td>
<td class="data right">{{NumberFormat data-1.00400-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00400-00200}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00400-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00400-00400}}</td>
<td class="left">4</td>
</tr>
<tr><td class="right">5</td>
<td class="left" colspan="2"> Aggregate Medicare cost (line 3 times line 4)</td>
<td class="data right">{{NumberFormat data-1.00500-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00500-00200}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00500-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00500-00400}}</td>
<td class="left">5</td>
</tr>
<tr><td class="right">6</td>
<td class="left" colspan="2"> Unduplicated Medicaid days (Worksheet S-9, column 2, line 5)</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00600-00100}}</td>
<td class="data right">{{NumberFormat data-1.00600-00200}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00600-00200}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00600-00300}}</td>
<td class="left">6</td>
</tr>
<tr><td class="right">7</td>
<td class="left" colspan="2"> Aggregate  Medicaid cost (line 3 times line 6)</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00700-00100}}</td>
<td class="data right">{{NumberFormat data-1.00700-00200}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00700-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00700-00400}}</td>
<td class="left">7</td>
</tr>
<tr><td class="right">8</td>
<td class="left" colspan="2"> Unduplicated SNF days (Worksheet S-9, column 3, line 5)</td>
<td class="data right">{{NumberFormat data-1.00800-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00800-00200}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00800-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00800-00400}}</td>
<td class="left">8</td>
</tr>
<tr><td class="right">9</td>
<td class="left" colspan="2"> Aggregate SNF cost (line 3 times line 8)</td>
<td class="data right">{{NumberFormat data-1.00900-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00900-00200}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00900-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.00900-00400}}</td>
<td class="left">9</td>
</tr>
<tr><td class="right">10</td>
<td class="left" colspan="2"> Unduplicated NF days (Worksheet S-9, column 4, line 5)</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01000-00100}}</td>
<td class="data right">{{NumberFormat data-1.01000-00200}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01000-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01000-00400}}</td>
<td class="left">10</td>
</tr>
<tr><td class="right">11</td>
<td class="left" colspan="2"> Aggregate NF cost (line 3 times line 10)</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01100-00100}}</td>
<td class="data right">{{NumberFormat data-1.01100-00200}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01100-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01100-00400}}</td>
<td class="left">11</td>
</tr>
<tr><td class="right">12</td>
<td class="left" colspan="2"> Other Unduplicated days (Worksheet S-9, column 5, line 5)</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01200-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01200-00200}}</td>
<td class="data right">{{NumberFormat data-1.01200-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01200-00400}}</td>
<td class="left">12</td>
</tr>
<tr><td class="right">13</td>
<td class="left" colspan="2"> Aggregate cost for other days (line 3 times line 12)</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01300-00100}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01300-00200}}</td>
<td class="data right">{{NumberFormat data-1.01300-00300}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01300-00400}}</td>
<td class="left">13</td>
</tr>
<tr><td colspan="7">Note:  The data for the SNF and NF on lines 8 through 11 are included in the Medicare and Medicaid lines 4 through 7.</td>
<td>&nbsp;</td>
</tr>
<tr><td colspan="7">FORM  CMS-2552-10 (10/2012) (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB.  15-II, SECTION 4063)</td>
<td>&nbsp;</td>
</tr>
<tr><td colspan="2">Rev. 8</td>
<td colspan="4">&nbsp;</td>
<td colspan="2" class="right"> 09-15 </td>
</tr>
</tbody></table>
</div>
