<div class="report">
        <table border="1" id="report_table" width="100%" cellpadding="1" cellspacing="1">
            <colgroup>
                <col width="3%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">

                <col width="3%">
            </colgroup>
            <thead>
                <tr>
                    <td valign="top" colspan="5">HOSPITAL AND HOSPITAL HEALTH CARE COMPLEX COST REPORT CERTIFICATION AND
                        SETTLEMENT SUMMARY </td>
                    <td  colspan="2">Provider CCN: <span class="data">{{pId}}</span></td>
                    <td colspan="2">
                        <div>PERIOD:</div>
                        <div>FROM <span class="data">{{year.start}}</span></div>
                        <div>TO <span  class="data">{{year.end}}</span></div>
                    </td>
                    <td colspan="2"> WORKSHEET S PARTS I, II &amp; III </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="7">This report is required by law (42 USC 1395g; 42 CFR 413.20(b)). Failure to report
                        can result in all interim payments made since the beginning of the cost reporting period being
                        deemed overpayments (42 USC 1395g). </td>
                    <td>&nbsp;</td>
                    <td colspan="3"> FORM APPROVED OMB NO. 0938-0050 EXPIRES 05-31-2019 </td>
                </tr>
                <tr>
                    <td colspan="11">PART I - COST REPORT STATUS</td>
                </tr>
                <tr>
                    <td colspan="2" rowspan="4">Provider use only</td>
                    <td colspan="5"> 1. [ <span class="data">{{data-1.00100-00100}}</span> ] Electronically filed cost report </td>
                    <td rowspan="2">&nbsp;</td>
                    <td>Date:</td>
                    <td>Time:</td>
                    <td rowspan="4">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="5"> 2. [<span class="data">{{data-1.00200-00100}}</span> ] Manually submitted cost report </td>
                    <td rowspan="3">&nbsp;</td>
                    <td rowspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="6"> 3. [<span class="data">{{data-1.00300-00100}}</span> ] If this is an amended report enter the number of times the provider
                        resubmitted this cost report </td>
                </tr>
                <tr>
                    <td colspan="6"> 4 [ <span class="data">{{data-1.00400-00100}}</span> ] Medicare Utilization. Enter "F" for full or "L" for low. </td>
                </tr>
                <tr>
                    <td colspan="2" rowspan="4">Contractor use only </td>
                    <td valign="top" colspan="3" rowspan="4">
                        <div> 5. [ <span class="data">{{data-1.00500-00100}}</span> ] Cost Report Status</div>
                        <div> (1) As Submitted</div>
                        <div> (2) Settled without audit</div>
                        <div> (3) Settled with audit</div>
                        <div> (4) Reopened </div>
                        <div> (5) Amended</div>
                    </td>
                    <td colspan="3">6. Date Received: <span class="data">{{data-1.00600-00200}}</span></td>
                    <td colspan="3"> 10. NPR Date: <span class="data">{{data-1.01000-00300}}</span></td>
                </tr>
                <tr>
                    <td colspan="3">7. Contractor No.: <span class="data">{{data-1.00700-00200}}</span></td>
                    <td colspan="3"> 11. Contractor's Vendor Code: <span class="data">{{data-1.01100-00300}}</span></td>
                </tr>
                <tr>
                    <td colspan="3">8. [ <span class="data">{{data-1.00800-00200}}</span> ] Initial Report for this Provider CCN</td>
                    <td colspan="3"> 12. [<span class="data">{{data-1.01200-00300}}</span> ] If line 5, column 1 is 4: Enter number of times reopened = 0-9. </td>
                </tr>
                <tr>
                    <td colspan="3">9. [ <span class="data">{{data-1.00900-00200}}</span> ] Final Report for this Provider CCN</td>
                    <td colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="11">PART II - CERTIFICATION</td>
                </tr>
                <tr>
                    <td colspan="11">MISREPRESENTATION OR FALSIFICATION OF ANY INFORMATION CONTAINED IN THIS COST REPORT
                        MAY BE PUNISHABLE BY CRIMINAL, CIVIL AND ADMINISTRATIVE ACTION, FINE AND/OR IMPRISONMENT UNDER
                        FEDERAL LAW. FURTHERMORE, IF SERVICES IDENTIFIED IN THIS REPORT WERE PROVIDED OR PROCURED
                        THROUGH THE PAYMENT DIRECTLY OR INDIRECTLY OF A KICKBACK OR WERE OTHERWISE ILLEGAL, CRIMINAL,
                        CIVIL AND ADMINISTRATIVE ACTION, FINES AND/OR IMPRISONMENT MAY RESULT. </td>
                </tr>
                <tr>
                    <td colspan="11"> CERTIFICATION BY CHIEF FINANCIAL OFFICER OR ADMINISTRATOR OF PROVIDER(S) </td>
                </tr>
                <tr>
                    <td colspan="11">
                        I HEREBY CERTIFY that I have read the above
                        certification statement and that I have examined the
                        accompanying electronically filed or manually submitted
                        cost report and the Balance Sheet and Statement of
                        Revenue and Expenses prepared by
                        _________________________{Provider Name(s) and
                        Number(s)}for the cost reporting period beginning
                        ______________ and ending ______________ and to the
                        best of my knowledge and belief, this report and
                        statement are true, correct, complete and prepared from
                        the books and records of the provider in accordance
                        with applicable instructions, except as noted. I
                        further certify that I am familiar with the laws and
                        regulations regarding the provision of health care
                        services, and that the services identified in this cost
                        report were provided in compliance with such laws and
                        regulations.

                    </td>
                </tr>
                <tr>
                    <td colspan="11"><input type="checkbox" name="" value="" checked="checked"> I have read and agree
                        with the
                        above certification statement. I certify that I intend
                        my electronic signature on this certification statement
                        to be the legally binding equivalent of my original
                        signature. </td>
                </tr>
                <tr>
                    <td colspan="5" rowspan="4">&nbsp;</td>
                    <td> (Signed)</td>
                    <td colspan="5"> Name NOT AVAILIABLE ON ELECTRONIC FORM</td>
                </tr>
                <tr>
                    <td rowspan="3">&nbsp;</td>
                    <td colspan="5">Chief Financial Officer or Administrator of Provider(s)</td>
                </tr>
                <tr>
                    <td colspan="5">Title NOT AVAILIABLE ON ELECTRONIC FORM</td>
                </tr>
                <tr>
                    <td colspan="5"> Date</td>
                </tr>
                <tr>
                    <td colspan="11">PART III - SETTLEMENT SUMMARY</td>
                </tr>
                <tr>
                    <td colspan="5" rowspan="3">&nbsp;</td>
                    <td class="center" rowspan="2"> TITLE V </td>
                    <td class="center" colspan="2" rowspan="1"> TITLE XVIII </td>
                    <td class="center" rowspan="2"> HIT </td>
                    <td class="center" rowspan="2"> TITLE XIX </td>
                    <td rowspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td class="center">PART A</td>
                    <td class="center">PART B</td>
                </tr>
                <tr>
                    <td class="center">1</td>
                    <td class="center">2</td>
                    <td class="center">3</td>
                    <td class="center">4</td>
                    <td class="center">5</td>
                </tr>
                <tr>
                    <td class="right">1</td>
                    <td colspan="4">HOSPITAL</td>
                    <td class="data right">{{NumberFormat data-3.00100-00100}}</td>
                    <td class="data right">{{NumberFormat data-3.00100-00200}}</td>
                    <td class="data right">{{NumberFormat data-3.00100-00300}}</td>
                    <td class="data right">{{NumberFormat data-3.00100-00400}}</td>
                    <td class="data right">{{NumberFormat data-3.00100-00500}}</td>
                    <td class="right">1</td>
                </tr>
                <tr>
                    <td class="right">2</td>
                    <td colspan="4">SUBPROVIDER - IPF</td>
                    <td class="data right">{{NumberFormat data-3.00200-00100}}</td>
                    <td class="data right">{{NumberFormat data-3.00200-00200}}</td>
                    <td class="data right">{{NumberFormat data-3.00200-00300}}</td>
                    <td class="data fillgrey right">&nbsp;{{NumberFormat data-3.00200-00400}}</td>
                    <td class="data right">{{NumberFormat data-3.00200-00500}}</td>
                    <td class="right">2</td>
                </tr>
                <tr>
                    <td class="right">3</td>
                    <td colspan="4">SUBPROVIDER - IRF</td>
                    <td class="data right">{{NumberFormat data-3.00300-00100}}</td>
                    <td class="data right">{{NumberFormat data-3.00300-00200}}</td>
                    <td class="data right">{{NumberFormat data-3.00300-00300}}</td>
                    <td class="data fillgrey right">&nbsp;{{NumberFormat data-3.00300-00400}}</td>
                    <td class="data right">{{NumberFormat data-3.00300-00500}}</td>
                    <td class="right">3</td>
                </tr>
                <tr>
                    <td class="right">4</td>
                    <td colspan="4">SUBPROVIDER (OTHER)</td>
                    <td class="data right">{{NumberFormat data-3.00400-00100}}</td>
                    <td class="data right">{{NumberFormat data-3.00400-00200}}</td>
                    <td class="data right">{{NumberFormat data-3.00400-00300}}</td>
                    <td class="data fillgrey right">&nbsp;{{NumberFormat data-3.00400-00400}}</td>
                    <td class="data right">{{NumberFormat data-3.00400-00500}}</td>
                    <td class="right">4</td>
                </tr>
                <tr>
                    <td class="right">5</td>
                    <td colspan="4">SWING BED - SNF</td>
                    <td class="data right">{{NumberFormat data-3.00500-00100}}</td>
                    <td class="data right">{{NumberFormat data-3.00500-00200}}</td>
                    <td class="data right">{{NumberFormat data-3.00500-00300}}</td>
                    <td class="data fillgrey right">&nbsp;{{NumberFormat data-3.00500-00400}}</td>
                    <td class="data right">{{NumberFormat data-3.00500-00500}}</td>
                    <td class="right">5</td>
                </tr>
                <tr>
                    <td class="right">6</td>
                    <td colspan="4">SWING BED - NF</td>
                    <td class="data right">{{NumberFormat data-3.00600-00100}}</td>
                    <td class="data fillgrey right">&nbsp;{{NumberFormat data-3.00600-00200}}</td>
                    <td class="data fillgrey right">&nbsp;{{NumberFormat data-3.00600-00300}}</td>
                    <td class="data fillgrey right">&nbsp;{{NumberFormat data-3.00600-00400}}</td>
                    <td class="data right">{{NumberFormat data-3.00600-00500}}</td>
                    <td class="right">6</td>
                </tr>
                <tr>
                    <td class="right">7</td>
                    <td colspan="4">SNF</td>
                    <td class="data right">{{NumberFormat data-3.00700-00100}}</td>
                    <td class="data right">{{NumberFormat data-3.00700-00200}}</td>
                    <td class="data right">{{NumberFormat data-3.00700-00300}}</td>
                    <td class="data fillgrey right">&nbsp;{{NumberFormat data-3.00700-00400}}</td>
                    <td class="data right">{{NumberFormat data-3.00700-00500}}</td>
                    <td class="right">7</td>
                </tr>
                <tr>
                    <td class="right">8</td>
                    <td colspan="4">NF, ICF/IID </td>
                    <td class="data right">{{NumberFormat data-3.00800-00100}}</td>
                    <td class="data fillgrey right">&nbsp;{{NumberFormat data-3.00800-00200}}</td>
                    <td class="data fillgrey right">&nbsp;{{NumberFormat data-3.00800-00300}}</td>
                    <td class="data fillgrey right">&nbsp;{{NumberFormat data-3.00800-00400}}</td>
                    <td class="data right">{{NumberFormat data-3.00800-00500}}</td>
                    <td class="right">8</td>
                </tr>


                <tr>
                    <td class="right">9</td>
                    <td colspan="4">HOME HEALTH AGENCY </td>
                    <td class="data right">{{NumberFormat data-3.00900-00100}}</td>
                    <td class="data right">{{NumberFormat data-3.00900-00200}}</td>
                    <td class="data right">{{NumberFormat data-3.00900-00300}}</td>
                    <td class="data fillgrey right">&nbsp;{{NumberFormat data-3.00900-00400}}</td>
                    <td class="data right">{{NumberFormat data-3.00900-00500}}</td>
                    <td class="right">9</td>
                </tr>


                <tr>
                    <td class="right">10</td>
                    <td colspan="4">HOSPITAL-BASED - RHC </td>
                    <td class="data right">{{NumberFormat data-3.01000-00100}}</td>
                    <td class="data fillgrey right">&nbsp;{{NumberFormat data-3.01000-00200}}</td>
                    <td class="data right">{{NumberFormat data-3.01000-00300}}</td>
                    <td class="data fillgrey right">&nbsp;{{NumberFormat data-3.01000-00400}}</td>
                    <td class="data right">{{NumberFormat data-3.01000-00500}}</td>
                    <td class="right">10</td>
                </tr>


                <tr>
                    <td class="right">11</td>
                    <td colspan="4">HOSPITAL-BASED -FQHC </td>
                    <td class="data right">{{NumberFormat data-3.01100-00100}}</td>
                    <td class="data fillgrey right">&nbsp;{{NumberFormat data-3.01100-00200}}</td>
                    <td class="data right">{{NumberFormat data-3.01100-00300}}</td>
                    <td class="data fillgrey right">&nbsp;{{NumberFormat data-3.01100-00400}}</td>
                    <td class="data right">{{NumberFormat data-3.01100-00500}}</td>
                    <td class="right">11</td>
                </tr>



                <tr>
                    <td class="right">12</td>
                    <td colspan="4">OUTPATIENT REHABILITATION PROVIDER (Specify) </td>
                    <td class="data right">{{NumberFormat data-3.01200-00100}}</td>
                    <td class="data fillgrey right">&nbsp;{{NumberFormat data-3.01200-00200}}</td>
                    <td class="data right">{{NumberFormat data-3.01200-00300}}</td>
                    <td class="data fillgrey right">&nbsp;{{NumberFormat data-3.01200-00400}}</td>
                    <td class="data right">{{NumberFormat data-3.01200-00500}}</td>
                    <td class="right">12</td>
                </tr>
                <tr>
                    <td class="right">200</td>
                    <td colspan="4">TOTAL</td>
                    <td class="data right">{{NumberFormat data-3.20000-00100}}</td>
                    <td class="data right">{{NumberFormat data-3.20000-00200}}</td>
                    <td class="data right">{{NumberFormat data-3.20000-00300}}</td>
                    <td class="data right">{{NumberFormat data-3.20000-00400}}</td>
                    <td class="data right">{{NumberFormat data-3.20000-00500}}</td>
                    <td class="right">200</td>
                </tr>
                <tr>
                    <td colspan="11">The above amounts represent "due to" or "due from" the applicable program for the
                        element of the above complex indicated.</td>
                </tr>
                <tr>
                    <td colspan="11">According to the Paperwork
                        Reduction Act of 1995, no persons are required to
                        respond to a collection of information unless it
                        displays a valid OMB control number. The valid OMB
                        control number for this information collection is
                        0938-0050. The time required to complete this
                        information collection is estimated 673 hours per
                        response, including the time to review instructions,
                        search existing resources, gather the data needed, and
                        complete and review the information collection. If you
                        have any comments concerning the accuracy of the time
                        estimate(s) or suggestions for improving this form,
                        please write to: CMS, 7500 Security Boulevard, Attn:
                        PRA Report Clearance Officer, Mail Stop C4-26-05,
                        Baltimore, Maryland 21244-1850.
                        Please do not send
                        applications, claims, payments, medical records or any
                        documents containing sensitive information to the PRA
                        Reports Clearance Office. Please note that any
                        correspondence
                        not pertaining to the information
                        collection burden approved under the associated OMB
                        control number listed on this form will not be
                        reviewed, forwarded, or retained. If you have
                        questions
                        or concerns regarding where to submit your
                        documents , please contact 1-800-MEDICARE.
                    </td>

                </tr>
                <tr>
                    <td colspan="11">FORM CMS-2552-10 (03/2018) (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS
                        PUB 15-II, SECTIONS 4003.1-4003.3)</td>
                </tr>
                <tr>
                    <td colspan="2">40-503 - 10-18</td>
                    <td colspan="7">&nbsp;</td>
                    <td colspan="2">Rev. 15</td>
                </tr>
            </tbody>
        </table>
    </div>