<div class="report">
    <table border="1" id="report_table" width="100%" cellpadding="1" cellspacing="1">
        <colgroup>
                <col width="4%">
                <col width="30%">
                <col width="18%">
                <col width="14%">
                <col width="14%">
                <col width="14%">

                <col width="4%">
        </colgroup>
            <thead>
                <tr>
                    <td  class="left" colspan="3">HOSPITAL UNCOMPENSATED AND INDIGENT CARE DATA </td>
                    <td>Provider CCN: <span class="data" >{{pId}}</span></td>
                    <td>
                        <div>PERIOD:</div>
                        <div>FROM <span class="data" >{{year.start}}</span></div>
                        <div>TO <span class="data" >{{year.end}}</span></div>
                    </td>
                    <td colspan="2"> WORKSHEET S-10</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="7"> Uncompensated and indigent care cost computation</td>
                </tr>
                <tr>
                    <td class="right">1</td>
                    <td colspan="4"> Cost to charge ratio (Worksheet C, Part I, line 202 column 3, divided by line 202,
                        column 8)</td>
                    <td class="data right" >{{NumberFormat data-1.00100-00100}}</td>
                    <td class="right">1</td>
                </tr>
                <tr>
                    <td class="left" colspan="7"> Medicaid (see instructions for each line)</td>
                </tr>
                <tr>
                    <td class="right">2</td>
                    <td colspan="4"> Net revenue from Medicaid </td>
                    <td class="data right" >{{NumberFormat data-1.00200-00100}}</td>
                    <td class="right">2</td>
                </tr>
                <tr>
                    <td class="right">3</td>
                    <td colspan="4"> Did you receive DSH or supplemental payments from Medicaid?</td>
                    <td class="data center">{{data-1.00300-00100}}</td>
                    <td class="right">3</td>
                </tr>
                <tr>
                    <td class="right">4</td>
                    <td colspan="4"> If line 3 is yes, does line 2 include all DSH and/or supplemental payments from
                        Medicaid?</td>
                    <td class="data center" >{{data-1.00400-00100}}</td>
                    <td class="right">4</td>
                </tr>
                <tr>
                    <td class="right">5</td>
                    <td colspan="4"> If line 4 is no, enter DSH and/or supplemental payments from Medicaid?</td>
                    <td class="data right" >{{NumberFormat data-1.00500-00100}}</td>
                    <td class="right">5</td>
                </tr>
                <tr>
                    <td class="right">6</td>
                    <td colspan="4"> Medicaid charges</td>
                    <td class="data right" >{{NumberFormat data-1.00600-00100}}</td>
                    <td class="right">6</td>
                </tr>
                <tr>
                    <td class="right">7</td>
                    <td colspan="4"> Medicaid cost (line 1 times line 6)</td>
                    <td class="data right" >{{NumberFormat data-1.00700-00100}}</td>
                    <td class="right">7</td>
                </tr>
                <tr>
                    <td class="right">8</td>
                    <td colspan="4">Difference between net revenue and costs for Medicaid program (line 7 minus lines 2
                        and 5). If line 7 is less than the sum of lines 2 and 5, then enter zero.</td>
                    <td class="data right" >{{NumberFormat data-1.00800-00100}}</td>
                    <td class=" right">8</td>
                </tr>
                <tr>
                    <td colspan="7"> Children's Health Insurance Program (CHIP) (see instructions for each line)</td>
                </tr>
                <tr>
                    <td class="right">9</td>
                    <td colspan="4"> Net revenue from stand-alone CHIP</td>
                    <td class="data right" >{{NumberFormat data-1.00900-00100}}</td>
                    <td class="right">9</td>
                </tr>
                <tr>
                    <td class="right">10</td>
                    <td colspan="4"> Stand-alone CHIP charges</td>
                    <td class="data right" >{{NumberFormat data-1.01000-00100}}</td>
                    <td class="right">10</td>
                </tr>
                <tr>
                    <td class="right">11</td>
                    <td colspan="4"> Stand-alone CHIP cost (line 1 times line 10)</td>
                    <td class="data right" >{{NumberFormat data-1.01100-00100}}</td>
                    <td class="right">11</td>
                </tr>
                <tr>
                    <td class="right">12</td>
                    <td colspan="4">Difference between net revenue and costs for stand-alone CHIP (line 11 minus line
                        9). If line 11 is less than line 9, then enter zero.</td>
                    <td class="data right" >{{NumberFormat data-1.01200-00100}}</td>
                    <td class="right">12</td>
                </tr>
                <tr>
                    <td colspan="7"> Other state or local government indigent care program (see instructions for each
                        line)</td>
                </tr>
                <tr>
                    <td class="right">13</td>
                    <td colspan="4"> Net revenue from state or local indigent care program (not included on lines 2, 5
                        or 9)</td>
                    <td class="data right" >{{NumberFormat data-1.01300-00100}}</td>
                    <td class="right">13</td>
                </tr>
                <tr>
                    <td class="right">14</td>
                    <td colspan="4"> Charges for patients covered under state or local indigent care program (not
                        included in lines 6 or 10)</td>
                    <td class="data right" >{{NumberFormat data-1.01400-00100}}</td>
                    <td class="right">14</td>
                </tr>
                <tr>
                    <td class="right">15</td>
                    <td colspan="4"> State or local indigent care program cost (line 1 times line 14)</td>
                    <td class="data right" >{{NumberFormat data-1.01500-00100}}</td>
                    <td class="right">15</td>
                </tr>
                <tr>
                    <td class="right">16</td>
                    <td colspan="4">Difference between net revenue and costs for state or local indigent care program
                        (line 15 minus line 13). If line 15 is less than line 13, then enter zero. </td>
                    <td class="data right" >{{NumberFormat data-1.01600-00100}}</td>
                    <td class="right">16</td>
                </tr>
                <tr>
                    <td colspan="7">&nbsp; </td>
                </tr>
                <tr>
                    <td colspan="7">Grants, donations and total unreimbursed cost for Medicaid, CHIP and state/local
                        indigent care programs (see instructions for each line)</td>
                </tr>
                <tr>
                    <td class="right">17</td>
                    <td colspan="4"> Private grants, donations, or endowment income restricted to funding charity care
                    </td>
                    <td class="data right" >{{NumberFormat data-1.01700-00100}}</td>
                    <td class="right">17</td>
                </tr>
                <tr>
                    <td class="right">18</td>
                    <td colspan="4"> Government grants, appropriations or transfers for support of hospital operations
                    </td>
                    <td class="data right" >{{NumberFormat data-1.01800-00100}}</td>
                    <td class="right">18</td>
                </tr>
                <tr>
                    <td class="right">19</td>
                    <td colspan="4"> Total unreimbursed cost for Medicaid, CHIP and state and local indigent care
                        programs (sum of lines 8, 12 and 16)</td>
                    <td class="data right" >{{NumberFormat data-1.01900-00100}}</td>
                    <td class="right">19</td>
                </tr>
                <tr>
                    <td colspan="7">&nbsp; </td>
                </tr>
                <tr>
                    <td colspan="7"> Uncompensated care (see instructions for each line)</td>
                </tr>
                <tr>
                    <td colspan="3" rowspan="2">&nbsp;</td>
                    <td class="center">Uninsured patients </td>
                    <td class="center">Insured patients </td>
                    <td class="center">Total (col. 1 + col. 2) </td>
                    <td rowspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td class="center">1</td>
                    <td class="center">2</td>
                    <td class="center">3</td>
                </tr>
                <tr>
                    <td class="right">20</td>
                    <td colspan="2">Charity care charges and uninsured discounts for the entire facility (see
                        instructions) </td>
                    <td class="data right" >{{NumberFormat data-1.02000-00100}}</td>
                    <td class="data right" >{{NumberFormat data-1.02000-00200}}</td>
                    <td class="data right" >{{NumberFormat data-1.02000-00300}}</td>
                    <td class="right">20</td>
                </tr>
                <tr>
                    <td class="right">21</td>
                    <td colspan="2">Cost of patients approved for charity care and uninsured discounts (see instructions
                        )</td>
                    <td class="data right" >{{NumberFormat data-1.02100-00100}}</td>
                    <td class="data right" >{{NumberFormat data-1.02100-00200}}</td>
                    <td class="data right" >{{NumberFormat data-1.02100-00300}}</td>
                    <td class="right">21</td>
                </tr>
                <tr>
                    <td class="right">22</td>
                    <td colspan="2">Payments received from patients for amounts previously written off as charity care
                    </td>
                    <td class="data right" >{{NumberFormat data-1.02200-00100}}</td>
                    <td class="data right" >{{NumberFormat data-1.02200-00200}}</td>
                    <td class="data right" >{{NumberFormat data-1.02200-00300}}</td>
                    <td class="right">22</td>
                </tr>
                <tr>
                    <td class="right">23</td>
                    <td colspan="2"> Cost of charity care (line 21 minus line 22)</td>
                    <td class="data right" >{{NumberFormat data-1.02300-00100}}</td>
                    <td class="data right" >{{NumberFormat data-1.02300-00200}}</td>
                    <td class="data right" >{{NumberFormat data-1.02300-00300}}</td>
                    <td class="right">23</td>
                </tr>
                <tr>
                    <td class="right">24</td>
                    <td colspan="4"> Does the amount in line 20, column 2,
                        include charges for patient days beyond a length of
                        stay limit imposed on patients covered by Medicaid or
                        other indigent care program?</td>
                    <td class="data center" >{{data-1.02400-00100}}</td>
                    <td class="right">24</td>
                </tr>
                <tr>
                    <td class="right">25</td>
                    <td colspan="4"> If line 24 is yes, enter charges for patient days beyond the indigent care
                        program's length of stay limit (see instructions)</td>
                    <td class="data right" >{{NumberFormat data-1.02500-00100}}</td>
                    <td class="right">25</td>
                </tr>
                <tr>
                    <td class="right">26</td>
                    <td colspan="4"> Total bad debt expense for the entire hospital complex (see instructions)</td>
                    <td class="data right" >{{NumberFormat data-1.02600-00100}}</td>
                    <td class="right">26</td>
                </tr>
                <tr>
                    <td class="right">27</td>
                    <td colspan="4"> Medicare reimbursable bad debts for the entire hospital complex (see instructions)
                    </td>
                    <td class="data right" >{{NumberFormat data-1.02700-00100}}</td>
                    <td class="right">27</td>
                </tr>
                <tr>
                    <td class=" right">27.01</td>
                    <td colspan="4"> Medicare allowable bad debts for the entire hospital complex (see instructions)
                    </td>
                    <td class="data right" >{{NumberFormat data-1.02701-00100}}</td>
                    <td class="right">27.01</td>
                </tr>
                <tr>
                    <td class="right">28</td>
                    <td colspan="4">Non-Medicare bad debt expense (see instructions)</td>
                    <td class="data right" >{{NumberFormat data-1.02800-00100}}</td>
                    <td class="right">28</td>
                </tr>
                <tr>
                    <td class="right">29</td>
                    <td colspan="4">Cost of non-Medicare and non-reimbursable Medicare bad debt expense (see
                        instructions) </td>
                    <td class="data right" >{{NumberFormat data-1.02900-00100}}</td>
                    <td class="right">29</td>
                </tr>
                <tr>
                    <td class="right">30</td>
                    <td colspan="4">Cost of uncompensated care (line 23 column 3 plus line 29)</td>
                    <td class="data right" >{{NumberFormat data-1.03000-00100}}</td>
                    <td class="right">30</td>
                </tr>
                <tr>
                    <td class="right">31</td>
                    <td colspan="4"> Total unreimbursed and uncompensated care cost (line 19 plus line 30)</td>
                    <td class="data right" >{{NumberFormat data-1.03100-00100}}</td>
                    <td class="right">31</td>
                </tr>
                <tr>
                    <td colspan="7">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="7">FORM CMS-2552-10 (03/2018)
                        (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS
                        PUB. 15-2, §4012)</td>
                </tr>
                <tr>
                    <td colspan="2">40-523 - 03-2018</td>
                    <td colspan="3">&nbsp;</td>
                    <td colspan="2">Rev. 14</td>
                </tr>
            </tbody>
    </table>
</div>
{{>scripts}}