
    <div class="report">
            <table border="1" id="report_table" width="100%" cellpadding="1" cellspacing="1">
        <colgroup>
                <col width="3%">
                <col width="17%">
                <col width="11%">
                <col width="11%">
                <col width="11%">
                <col width="11%">
                <col width="11%">
                <col width="11%">
                <col width="11%">

                <col width="3%">

            </colgroup>
            <thead>
                <tr>
                    <td class="left" colspan="3">08-11</td>
                    <td  colspan="5">FORM CMS-2552-10</td>
                    <td   colspan="2"> 4090 (Cont.) </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="4">HOSPITAL AND HOSPITAL HEALTH CARE COMPLEX REIMBURSEMENT QUESTIONNAIRE </td>
                    <td>Provider CCN:<span class="data"> {{pId}}</span></td>
                    <td colspan="2">
                        <div>PERIOD:</div>
                        <div>FROM <span class="data">{{year.start}}</span></div>
                        <div>TO <span class="data">{{year.end}}</span></div>
                    </td>
                    <td colspan="3"> WORKSHEET S-2 Part II </td>
                </tr>
                <tr>
                    <td colspan="2">General Instruction: </td>
                    <td colspan="8">
                        <div>Enter Y for all YES responses. Enter N for all NO responses.</div>
                        <div>Enter all dates in the mm/dd/yyyy format.</div>
                    </td>
                </tr>
                <tr>
                    <td colspan="10">COMPLETED BY ALL HOSPITALS</td>
                </tr>
                <tr>
                    <td colspan="6">&nbsp;</td>
                    <td class="center">Y/N </td>
                    <td class="center">Date</td>
                    <td class="fillgrey center">&nbsp;</td>
                    <td rowspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="6">Provider Organization and Operation</td>
                    <td class=" center">1</td>
                    <td class="center">2</td>
                    <td class="fillgrey center">&nbsp;</td>
                </tr>
                <tr>
                    <td class="right">1</td>
                    <td colspan="5"> Has the provider changed ownership immediately prior to the beginning of the cost
                        reporting period? If yes, enter the date of the change in column 2. (see instructions) </td>
                    <td class="data center">{{data-1.00100-00100}}</td>
                    <td class="data center">{{data-1.00100-00200}}</td>
                    <td class="data fillgrey center">&nbsp;{{data-1.00100-00300}}</td>
                    <td class="right">1</td>
                </tr>
                <tr>
                    <td class="right" colspan="6" rowspan="2">&nbsp;</td>
                    <td class="center">Y/N </td>
                    <td class="center">Date</td>
                    <td class="center">V/I</td>
                    <td class="right" rowspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td class="center">1</td>
                    <td class="center">2</td>
                    <td class="center">3</td>
                </tr>
                <tr>
                    <td class="right">2</td>
                    <td colspan="5"> Has the provider terminated participation in the Medicare Program? If yes, enter in
                        column 2 the date of termination and in column 3, "V" for voluntary or "I" for involuntary.
                    </td>
                    <td class="data center">{{data-1.00200-00100}}</td>
                    <td class="data center">{{data-1.00200-00200}}</td>
                    <td class="data center">{{data-1.00200-00300}}</td>
                    <td class="right">2</td>
                </tr>
                <tr>
                    <td class="right">3</td>
                    <td colspan="5"> Is the provider involved in business transactions, including management contracts,
                        with individuals or entities (e.g., chain home offices, drug or medical supply companies) that
                        are related to the provider or its officers, medical staff, management personnel, or members of
                        the board of directors through ownership, control, or family and other similar relationships?
                        (see instructions) </td>
                    <td class="data center">{{data-1.00300-00100}}</td>
                    <td class="data fillgrey center">&nbsp;{{data-1.00300-00200}}</td>
                    <td class="data fillgrey center">&nbsp;{{data-1.00300-00300}}</td>
                    <td class="right">3</td>
                </tr>
                <tr>
                    <td colspan="6">&nbsp;</td>
                    <td class="center">Y/N </td>
                    <td class="center">Type</td>
                    <td class="center">Date</td>
                    <td rowspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="6">Financial Data and Reports</td>
                    <td class="center">1</td>
                    <td class="center">2</td>
                    <td class="center">3</td>
                </tr>
                <tr>
                    <td class="right">4</td>
                    <td colspan="5"> Column 1: Were the financial statements prepared by a Certified Public Accountant?
                        Column 2: If yes, enter "A" for Audited, "C" for Compiled, or "R" for Reviewed. Submit complete
                        copy or enter date available in column 3. (see instructions) If no, see instructions. </td>
                    <td class="data center">{{data-1.00400-00100}}</td>
                    <td class="data center">{{data-1.00400-00200}}</td>
                    <td class="data center">{{data-1.00400-00300}}</td>
                    <td class="right">4</td>
                </tr>
                <tr>
                    <td class="right">5</td>
                    <td colspan="5"> Are the cost report total expenses and total revenues different from those on the
                        filed financial statements? If yes, submit reconciliation. </td>
                    <td class="data center">{{data-1.00500-00100}}</td>
                    <td class="data fillgrey center">&nbsp;{{data-1.00500-00200}}</td>
                    <td class="data fillgrey center">&nbsp;{{data-1.00500-00300}}</td>
                    <td class="right">5</td>
                </tr>
                <tr>
                    <td colspan="7">&nbsp;</td>
                    <td class="center">Y/N </td>
                    <td class="center">Y/N </td>
                    <td rowspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="7">Approved Educational Activities</td>
                    <td class="center">1</td>
                    <td class="center">2</td>
                </tr>
                <tr>
                    <td class="right">6</td>
                    <td colspan="6"> Column 1: Are costs claimed for nursing school? Column 2: If yes, is the provider
                        is the legal operator of the program? </td>
                    <td class="data center">{{data-1.00600-00100}}</td>
                    <td class="data center">{{data-1.00600-00200}}</td>
                    <td class="right">6</td>
                </tr>
                <tr>
                    <td class="right">7</td>
                    <td colspan="6"> Are costs claimed for allied health programs? If yes, see instructions.</td>
                    <td class="data center">{{data-1.00700-00100}}</td>
                    <td class="data fillgrey center">&nbsp;{{data-1.00700-00200}}</td>
                    <td class="right">7</td>
                </tr>
                <tr>
                    <td class="right">8</td>
                    <td colspan="6"> Were nursing school and/or allied health programs approved and/or renewed during
                        the cost reporting period? If yes, see instructions. </td>
                    <td class="data center">{{data-1.00800-00100}}</td>
                    <td class="data fillgrey center">&nbsp;{{data-1.00800-00200}}</td>
                    <td class="right">8</td>
                </tr>
                <tr>
                    <td class="right">9</td>
                    <td colspan="6"> Are costs claimed for Interns and Residents in approved GME programs in the current
                        cost report? If yes, see instructions.</td>
                    <td class="data center">{{data-1.00900-00100}}</td>
                    <td class="data fillgrey center">&nbsp;{{data-1.00900-00200}}</td>
                    <td class="right">9</td>
                </tr>
                <tr>
                    <td class="right">10</td>
                    <td colspan="6"> Was an approved Intern and Resident GME program initiated or renewed in the current
                        cost reporting period? If yes, see instructions.</td>
                    <td class="data center">{{data-1.01000-00100}}</td>
                    <td class="data fillgrey center">&nbsp;{{data-1.01000-00200}}</td>
                    <td class="right">10</td>
                </tr>
                <tr>
                    <td class="right">11</td>
                    <td colspan="6"> Are GME costs directly assigned to cost centers other than I &amp; R in an Approved
                        Teaching Program on Worksheet A? If yes, see instructions. </td>
                    <td class="data center">{{data-1.01100-00100}}</td>
                    <td class="data fillgrey center">&nbsp;{{data-1.01100-00200}}</td>
                    <td class="right">11</td>
                </tr>
                <tr>
                    <td colspan="8">Bad Debts</td>
                    <td class="center">Y/N </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="right">12</td>
                    <td colspan="7"> Is the provider seeking reimbursement for bad debts? If yes, see instructions.</td>
                    <td class="data center">{{data-1.01200-00100}}</td>
                    <td class="right">12</td>
                </tr>
                <tr>
                    <td class="right">13</td>
                    <td colspan="7"> If line 12 is yes, did the provider's bad debt collection policy change during this
                        cost reporting period? If yes, submit copy.</td>
                    <td class="data center">{{data-1.01300-00100}}</td>
                    <td class="right">13</td>
                </tr>
                <tr>
                    <td class="right">14</td>
                    <td colspan="7"> If line 12 is yes, were patient deductibles and/or co-payments waived? If yes, see
                        instructions.</td>
                    <td class="data center">{{data-1.01400-00100}}</td>
                    <td class="right">14</td>
                </tr>
                <tr>
                    <td colspan="10">Bed Complement</td>
                </tr>
                <tr>
                    <td class="right">15</td>
                    <td colspan="7"> Did total beds available change from the prior cost reporting period? If yes, see
                        instructions.</td>
                    <td class="data center">{{data-1.01500-00100}}</td>
                    <td class="right">15</td>
                </tr>
                <tr>
                    <td colspan="5" rowspan="2">&nbsp;</td>
                    <td class="center">Part A</td>
                    <td class="center">&nbsp;</td>
                    <td class="center">Part B</td>
                    <td class="center">&nbsp;</td>
                    <td rowspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td class="center">Y/N</td>
                    <td class="center">Date</td>
                    <td class="center">Y/N</td>
                    <td class="center">Date</td>
                </tr>
                <tr>
                    <td colspan="5">PS&amp;R Report Data</td>
                    <td class="center">1</td>
                    <td class="center">2</td>
                    <td class="center">3</td>
                    <td class="center">4</td>
                </tr>
                <tr>
                    <td class="right">16</td>
                    <td colspan="4"> Was the cost report prepared using the PS&amp;R Report only? If either column 1 or
                        3 is yes, enter the paid-through date of the PS&amp;R Report used in columns 2 and 4. (see
                        instructions) </td>
                    <td class="data center">{{data-1.01600-00100}}</td>
                    <td class="data center">{{data-1.01600-00200}}</td>
                    <td class="data center">{{data-1.01600-00300}}</td>
                    <td class="data center">{{data-1.01600-00400}}</td>
                    <td class="right">16</td>
                </tr>
                <tr>
                    <td class="right">17</td>
                    <td colspan="4"> Was the cost report prepared using the PS&amp;R Report for totals and the
                        provider's records for allocation? If either coumn 1 or 3 is yes, enter the paid-through date in
                        columns 2 and 4. (see instructions) </td>
                    <td class="data center">{{data-1.01700-00100}}</td>
                    <td class="data center">{{data-1.01700-00200}}</td>
                    <td class="data center">{{data-1.01700-00300}}</td>
                    <td class="data center">{{data-1.01700-00400}}</td>
                    <td class="right">17</td>
                </tr>
                <tr>
                    <td class="right">18</td>
                    <td colspan="4"> If line 16 or 17 is yes, were adjustments made to PS&amp;R Report data for
                        additional claims that have been billed but are not included on the PS&amp;R Report used to file
                        the cost report? If yes, see instructions. </td>
                    <td class="data center">{{data-1.01800-00100}}</td>
                    <td class="data fillgrey center">&nbsp;{{data-1.01800-00200}}</td>
                    <td class="data center">{{data-1.01800-00300}}</td>
                    <td class="data fillgrey center">&nbsp;{{data-1.01800-00400}}</td>
                    <td class="right">18</td>
                </tr>
                <tr>
                    <td class="right">19</td>
                    <td colspan="4"> If line 16 or 17 is yes, were adjustments made to PS&amp;R Report data for
                        corrections of other PS&amp;R Report information? If yes, see instructions. </td>
                    <td class="data center">{{data-1.01900-00100}}</td>
                    <td class="data fillgrey center">&nbsp;{{data-1.01900-00200}}</td>
                    <td class="data center">{{data-1.01900-00300}}</td>
                    <td class="data fillgrey center">&nbsp;{{data-1.01900-00400}}</td>
                    <td class="right">19</td>
                </tr>
                <tr>
                    <td class="right">20</td>
                    <td colspan="4"> If line 16 or 17 is yes, were adjustments made to PS&amp;R Report data for Other?
                        Describe the other adjustments: </td>
                    <td class="data center">{{data-1.02000-00100}}</td>
                    <td class="data fillgrey center">&nbsp;{{data-1.02000-00200}}</td>
                    <td class="data center">{{data-1.02000-00300}}</td>
                    <td class="data fillgrey center">&nbsp;{{data-1.02000-00400}}</td>
                    <td class="right">20</td>
                </tr>
                <tr>
                    <td class="right">21</td>
                    <td colspan="4"> Was the cost report prepared only using the provider's records? If yes, see
                        instructions.</td>
                    <td class="data center">{{data-1.02100-00100}}</td>
                    <td class="data fillgrey center">&nbsp;{{data-1.02100-00200}}</td>
                    <td class="data center">{{data-1.02100-00300}}</td>
                    <td class="data fillgrey center">&nbsp;{{data-1.02100-00400}}</td>
                    <td class="right">21</td>
                </tr>
                <tr>
                    <td colspan="10">COMPLETED BY COST REIMBURSED AND TEFRA HOSPITALS ONLY (EXCEPT CHILDRENS HOSPITALS)
                    </td>
                </tr>
                <tr>
                    <td colspan="10">Capital Related Cost</td>
                </tr>
                <tr>
                    <td class="right">22</td>
                    <td colspan="7"> Have assets been relifed for Medicare purposes? If yes, see instructions.</td>
                    <td class="data center">{{data-1.02300-00100}}</td>
                    <td class="right">22</td>
                </tr>
                <tr>
                    <td class="right">23</td>
                    <td colspan="7"> Have changes occurred in the Medicare depreciation expense due to appraisals made
                        during the cost reporting period? If yes, see instructions. </td>
                    <td class="data center">{{data-1.02300-00100}}</td>
                    <td class="right">23</td>
                </tr>
                <tr>
                    <td class="right">24</td>
                    <td colspan="7"> Were new leases and/or amendments to existing leases entered into during this cost
                        reporting period? If yes, see instructions.</td>
                    <td class="data center">{{data-1.02400-00100}}</td>
                    <td class="right">24</td>
                </tr>
                <tr>
                    <td class="right">25</td>
                    <td colspan="7"> Have there been new capitalized leases entered into during the cost reporting
                        period? If yes, see instructions.</td>
                    <td class="data center">{{data-1.02500-00100}}</td>
                    <td class="right">25</td>
                </tr>
                <tr>
                    <td class="right">26</td>
                    <td colspan="7"> Were assets subject to Sec.2314 of DEFRA acquired during the cost reporting period?
                        If yes, see instructions.</td>
                    <td class="data center">{{data-1.02600-00100}}</td>
                    <td class="right">26</td>
                </tr>
                <tr>
                    <td class="right">27</td>
                    <td colspan="7"> Has the provider's capitalization policy changed during the cost reporting period?
                        If yes, see instructions.</td>
                    <td class="data center">{{data-1.02700-00100}}</td>
                    <td class="right">27</td>
                </tr>
                <tr>
                    <td colspan="10">Interest Expense</td>
                </tr>
                <tr>
                    <td class="right">28</td>
                    <td colspan="7"> Were new loans, mortgage agreements or letters of credit entered into during the
                        cost reporting period? If yes, see instructions.</td>
                    <td class="data center">{{data-1.02800-00100}}</td>
                    <td class="right">28</td>
                </tr>
                <tr>
                    <td class="right">29</td>
                    <td colspan="7"> Did the provider have a funded depreciation account and/or bond funds (Debt Service
                        Reserve Fund) treated as a funded depreciation account? If yes, see instructions. </td>
                    <td class="data center">{{data-1.02900-00100}}</td>
                    <td class="right">29</td>
                </tr>
                <tr>
                    <td class="right">30</td>
                    <td colspan="7"> Has existing debt been replaced prior to its scheduled maturity with new debt? If
                        yes, see instructions.</td>
                    <td class="data center">{{data-1.03000-00100}}</td>
                    <td class="right">30</td>
                </tr>
                <tr>
                    <td class="right">31</td>
                    <td colspan="7"> Has debt been recalled before scheduled maturity without issuance of new debt? If
                        yes, see instructions.</td>
                    <td class="data center">{{data-1.03100-00100}}</td>
                    <td class="right">31</td>
                </tr>
                <tr>
                    <td colspan="10">Purchased Services</td>
                </tr>
                <tr>
                    <td class="right">32</td>
                    <td colspan="7"> Have changes or new agreements occurred in patient care services furnished through
                        contractual arrangements with suppliers of services? If yes, see instructions. </td>
                    <td class="data center">{{data-1.03200-00100}}</td>
                    <td class="right">32</td>
                </tr>
                <tr>
                    <td class="right">33</td>
                    <td colspan="7"> If line 32 is yes, were the requirements of Sec. 2135.2 applied pertaining to
                        competitive bidding? If no, see instructions. </td>
                    <td class="data center">{{data-1.03300-00100}}</td>
                    <td class="right">33</td>
                </tr>
                <tr>
                    <td colspan="10">Provider-Based Physicians</td>
                </tr>
                <tr>
                    <td class="right">34</td>
                    <td colspan="7"> Are services furnished at the provider facility under an arrangement with
                        provider-based physicians? If "Y" see instructions.</td>
                    <td class="data center">{{data-1.03400-00100}}</td>
                    <td class="right">34</td>
                </tr>
                <tr>
                    <td class="right">35</td>
                    <td colspan="6"> If line 34 is yes, were there new agreements or amended existing agreements with
                        the provider-based physicians during the cost reporting period? If yes, see instructions. </td>
                    <td class="data center">&nbsp;{{data-1.03500-00100}}</td>
                    <td class="data center">{{data-1.03500-00200}}</td>
                    <td class="right">35</td>
                </tr>
                <tr>
                    <td colspan="7">&nbsp;</td>
                    <td class="center">Y/N</td>
                    <td class="center">Date</td>
                    <td rowspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="7">Home Office Costs</td>
                    <td class="center">1</td>
                    <td class="center">2</td>
                </tr>
                <tr>
                    <td class="right">36</td>
                    <td colspan="6"> Are home office costs claimed on the cost report?</td>
                    <td class="data center">{{data-1.03600-00100}}</td>
                    <td class="data fillgrey center">&nbsp;{{data-1.03600-00200}}</td>
                    <td class="right">36</td>
                </tr>
                <tr>
                    <td class="right">37</td>
                    <td colspan="6"> If line 36 is yes, has a home office cost statement been prepared by the home
                        office? If yes, see instructions.</td>
                    <td class="data center">{{data-1.03700-00100}}</td>
                    <td class="data fillgrey center">&nbsp;{{data-1.03700-00200}}</td>
                    <td class="right">37</td>
                </tr>
                <tr>
                    <td class="right">38</td>
                    <td colspan="6"> If line 36 is yes , was the fiscal year end of the home office different from that
                        of the provider? If yes, enter in column 2 the fiscal year end of the home office. </td>
                    <td class="data center">{{data-1.03800-00100}}</td>
                    <td class="data center">{{data-1.03800-00200}}</td>
                    <td class="right">38</td>
                </tr>
                <tr>
                    <td class="right">39</td>
                    <td colspan="6"> If line 36 is yes, did the provider render services to other chain components? If
                        yes, see instructions.</td>
                    <td class="data center">{{data-1.03900-00100}}</td>
                    <td class="data fillgrey center">&nbsp;{{data-1.03900-00200}}</td>
                    <td class="right">39</td>
                </tr>
                <tr>
                    <td class="right">40</td>
                    <td colspan="6"> If line 36 is yes, did the provider render services to the home office? If yes, see
                        instructions.</td>
                    <td class="data center">{{data-1.04000-00100}}</td>
                    <td class="data fillgrey center">&nbsp;{{data-1.04000-00200}}</td>
                    <td class="right">40</td>
                </tr>
                <tr>
                    <td class="left" colspan="10">Cost Report Preparer Contact Information</td>
                </tr>
                <tr>
                    <td class="right">41</td>
                    <td class="left">First Name:</td>
                    <td class="fillgrey left">*</td>
                    <td class="left">Last Name:</td>
                    <td class="fillgrey left" colspan="2">*</td>
                    <td class="left">Title:</td>
                    <td class="fillgrey left" colspan="2">*</td>
                    <td class="right">41</td>
                </tr>
                <tr>
                    <td class="right">42</td>
                    <td class="left">Employer:</td>
                    <td class="fillgrey left" colspan="7">*</td>
                    <td class="right">42</td>
                </tr>
                <tr>
                    <td class="right">43</td>
                    <td class="left">Phone number:</td>
                    <td class="fillgrey left" colspan="3">*</td>
                    <td class="left">Email Address:</td>
                    <td class="fillgrey left" colspan="3">*</td>
                    <td class="right">43</td>
                </tr>
                <tr>
                    <td colspan="10">FORM CMS-2552-10 (09-2015) (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS
                        PUB 15-II, SECTIONS 4004.2)</td>
                </tr>
                <tr>
                    <td colspan="8">40-510 - 09-15</td>
                    <td colspan="2"> Rev. 8</td>
                </tr>
                <tr>
                    <td colspan="10">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="10">* Cost Report Preparer Contact Information has been redacted by CMS</td>
                </tr>
            </tbody>
        </table>
    </div>