<div class="report">
            <table border="1" id="report_table" width="100%" cellpadding="1" cellspacing="1">
                <colgroup>
                    <col width="3%">
                    <col width="18%">
                    <col width="18%">
                    <col width="18%">
                    <col width="18%">
                    <col width="18%">

                    <col width="3%">
                </colgroup>
                <thead>
                    <tr>
                        <td colspan="3">HOSPITAL WAGE RELATED COSTS</td>
                        <td>Provider CCN: <span class="data">{{pId}}</span></td>
                        <td>
                            <div>PERIOD:</div>
                            <div>FROM <span class="data">{{year.start}}</span></div>
                            <div>TO <span class="data">{{year.end}}</span></div>
                        </td>
                        <td colspan="2"> WORKSHEET S-3, PART IV </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="7">Part IV - Wage Related Cost </td>
                    </tr>
                    <tr>
                        <td colspan="7">Part A - Core List</td>
                    </tr>
                    <tr>
                        <td colspan="5">&nbsp;</td>
                        <td class="center">Amount Reported </td>
                        <td class="center">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="7"> RETIREMENT COST </td>
                    </tr>
                    <tr>
                        <td class="right">1</td>
                        <td colspan="4"> 401k Employer Contributions </td>
                        <td class="data right">{{NumberFormat data-1.00100-00100}}</td>
                        <td class="right">1</td>
                    </tr>
                    <tr>
                        <td class="right">2</td>
                        <td colspan="4"> Tax Sheltered Annuity (TSA) Employer Contribution</td>
                        <td class="data right">{{NumberFormat data-1.00200-00100}}</td>
                        <td class="right">2</td>
                    </tr>
                    <tr>
                        <td class="right">3</td>
                        <td colspan="4"> Nonqualified Defined Benefit Plan Cost (see instructions) </td>
                        <td class="data right">{{NumberFormat data-1.00300-00100}}</td>
                        <td class="right">3</td>
                    </tr>
                    <tr>
                        <td class="right">4</td>
                        <td colspan="4">Qualified Defined Benefit Plan Cost (see instructions) </td>
                        <td class="data right">{{NumberFormat data-1.00400-00100}}</td>
                        <td class="right">4</td>
                    </tr>
                    <tr>
                        <td colspan="7"> PLAN ADMINISTRATIVE COSTS (Paid to External Organization): </td>
                    </tr>
                    <tr>
                        <td class="right">5</td>
                        <td colspan="4"> 401k/TSA Plan Administration fees </td>
                        <td class="data right">{{NumberFormat data-1.00500-00100}}</td>
                        <td class="right">5</td>
                    </tr>
                    <tr>
                        <td class="right">6</td>
                        <td colspan="4"> Legal/Accounting/Management Fees-Pension Plan </td>
                        <td class="data right">{{NumberFormat data-1.00600-00100}}</td>
                        <td class="right">6</td>
                    </tr>
                    <tr>
                        <td class="right">7</td>
                        <td colspan="4"> Employee Managed Care Program Administration Fees </td>
                        <td class="data right">{{NumberFormat data-1.00700-00100}}</td>
                        <td class="right">7</td>
                    </tr>
                    <tr>
                        <td colspan="7"> HEALTH AND INSURANCE COST </td>
                    </tr>


                    <tr>
                        <td class="right">8</td>
                        <td colspan="4"> Health Insurance (Purchased or Self Funded)</td>
                        <td class="data right">{{NumberFormat data-1.00800-00100}}</td>
                        <td class="right">8</td>
                    </tr>

                    <tr>
                        <td class="right">8.01</td>
                        <td colspan="4">Health Insurance (Self Funded without a Third Party Administrator)</td>
                        <td class="data right">{{NumberFormat data-1.00801-00100}}</td>
                        <td class="right">8.01</td>
                    </tr>


                    <tr>
                        <td class="right">8.02</td>
                        <td colspan="4">Health Insurance (Self Funded with a Third Party Administrator)</td>
                        <td class="data right">{{NumberFormat data-1.00802-00100}}</td>
                        <td class="right">8.02</td>
                    </tr>


                    <tr>
                        <td class="right">8.03</td>
                        <td colspan="4">Health Insurance (Purchased)</td>
                        <td class="data right">{{NumberFormat data-1.00803-00100}}</td>
                        <td class="right">8.03</td>
                    </tr>


                    <tr>
                        <td class="right">9</td>
                        <td colspan="4"> Prescription Drug Plan</td>
                        <td class="data right">{{NumberFormat data-1.00900-00100}}</td>
                        <td class="right">9</td>
                    </tr>
                    <tr>
                        <td class="right">10</td>
                        <td colspan="4"> Dental, Hearing and Vision Plan</td>
                        <td class="data right">{{NumberFormat data-1.01000-00100}}</td>
                        <td class="right">10</td>
                    </tr>
                    <tr>
                        <td class="right">11</td>
                        <td colspan="4"> Life Insurance (If employee is owner or beneficiary)</td>
                        <td class="data right">{{NumberFormat data-1.01100-00100}}</td>
                        <td class="right">11</td>
                    </tr>
                    <tr>
                        <td class="right">12</td>
                        <td colspan="4"> Accident Insurance (If employee is owner or beneficiary)</td>
                        <td class="data right">{{NumberFormat data-1.01200-00100}}</td>
                        <td class="right">12</td>
                    </tr>
                    <tr>
                        <td class="right">13</td>
                        <td colspan="4"> Disability Insurance (If employee is owner or beneficiary)</td>
                        <td class="data right">{{NumberFormat data-1.01300-00100}}</td>
                        <td class="right">13</td>
                    </tr>
                    <tr>
                        <td class="right">14</td>
                        <td colspan="4"> Long-Term Care Insurance (If employee is owner or beneficiary)</td>
                        <td class="data right">{{NumberFormat data-1.01400-00100}}</td>
                        <td class="right">14</td>
                    </tr>
                    <tr>
                        <td class="right">15</td>
                        <td colspan="4"> Workers' Compensation Insurance</td>
                        <td class="data right">{{NumberFormat data-1.01500-00100}}</td>
                        <td class="right">15</td>
                    </tr>
                    <tr>
                        <td class="right">16</td>
                        <td colspan="4"> Retirement Health Care Cost (Only current year, not the extraordinary accrual
                            required by FASB 106. Non cumulative portion) </td>
                        <td class="data right">{{NumberFormat data-1.01600-00100}}</td>
                        <td class="right">16</td>
                    </tr>
                    <tr>
                        <td colspan="7"> TAXES </td>
                    </tr>
                    <tr>
                        <td class="right">17</td>
                        <td colspan="4"> FICA-Employers Portion Only</td>
                        <td class="data right">{{NumberFormat data-1.01700-00100}}</td>
                        <td class=" right">17</td>
                    </tr>
                    <tr>
                        <td class="right">18</td>
                        <td colspan="4"> Medicare Taxes - Employers Portion Only</td>
                        <td class="data right">{{NumberFormat data-1.01800-00100}}</td>
                        <td class="right">18</td>
                    </tr>
                    <tr>
                        <td class="right">19</td>
                        <td colspan="4"> Unemployment Insurance</td>
                        <td class="data right">{{NumberFormat data-1.01900-00100}}</td>
                        <td class="right">19</td>
                    </tr>
                    <tr>
                        <td class="right">20</td>
                        <td colspan="4"> State or Federal Unemployment Taxes</td>
                        <td class="data right">{{NumberFormat data-1.02000-00100}}</td>
                        <td class="right">20</td>
                    </tr>
                    <tr>
                        <td colspan="7"> OTHER </td>
                    </tr>
                    <tr>
                        <td class="right">21</td>
                        <td colspan="4"> Executive Deferred Compensation (Other
                            Than Retirement Cost Reported on lines 1 through 4
                            above)(see instructions)</td>
                        <td class="data right">{{NumberFormat data-1.02100-00100}}</td>
                        <td class="right">21</td>
                    </tr>
                    <tr>
                        <td class="right">22</td>
                        <td colspan="4"> Day Care Cost and Allowances</td>
                        <td class="data right">{{NumberFormat data-1.02200-00100}}</td>
                        <td class="right">22</td>
                    </tr>
                    <tr>
                        <td class="right">23</td>
                        <td colspan="4"> Tuition Reimbursement</td>
                        <td class="data right">{{NumberFormat data-1.02300-00100}}</td>
                        <td class="right">23</td>
                    </tr>
                    <tr>
                        <td class="right">24</td>
                        <td colspan="4"> Total Wage Related cost (Sum of lines 1 through 23)</td>
                        <td class="data right">{{NumberFormat data-1.02400-00100}}</td>
                        <td class="right">24</td>
                    </tr>
                    <tr>
                        <td colspan="7">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="7">Part B - Other than Core Related Cost</td>
                    </tr>
                    <tr>
                        <td class="right">25</td>
                        <td colspan="4"> Other Wage Related Costs (specify)__</td>
                        <td class="data right">{{NumberFormat data-1.02500-00100}}</td>
                        <td class="right">25</td>
                    </tr>

                    <tr>
                        <td class="right" colspan="7">&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="7">FORM CMS-2552-10 (11/2016) (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS
                            PUB. 15-II, SECTION 4005.4)</td>
                    </tr>
                    <tr>
                        <td colspan="2">40-514 - 11-16 </td>
                        <td colspan="3">&nbsp;</td>
                        <td colspan="2"> Rev. 10 </td>
                    </tr>
                </tbody>
            </table>
    </div>
