    <div class="report">
        <table border="1" id="report_table" width="100%" cellpadding="1" cellspacing="1">
            <colgroup>
                <col width="4%">
                <col width="37%">
                <col width="6%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">

                <col width="4%">



            </colgroup>
            <thead>
                <tr>
                    <td colspan="3">HOSPITAL WAGE INDEX INFORMATION</td>
                    <td colspan="2">Provider CCN: <span class="data">{{pId}}</span></td>
                    <td colspan="2">
                        <div>PERIOD:</div>
                        <div>FROM <span class="data">{{year.start}}</span></div>
                        <div>TO <span class="data">{{year.end}}</span></div>
                    </td>
                    <td colspan="2"> WORKSHEET S-3 PART II and III </td>
                </tr>
                <tr>
                    <td colspan="9">Part II - Wage Data</td>
                </tr>
                <tr>
                    <td colspan="2" rowspan="2">&nbsp;</td>
                    <td class="center">Wkst. A Line Number </td>
                    <td class="center"> Amount Reported </td>
                    <td class="center">Reclassification of Salaries (from Wkst. A-6) </td>
                    <td class="center">Adjusted Salaries (column ± column 3) </td>
                    <td class="center">Paid Hours Related to Salaries in column 4 </td>
                    <td class="center">Average Hourly Wage (column 4 ÷ column 5) </td>
                    <td rowspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td class="center">1</td>
                    <td class="center">2</td>
                    <td class="center">3</td>
                    <td class="center">4</td>
                    <td class="center">5</td>
                    <td class="center">6</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="2"> SALARIES </td>
                    <td class="fillgrey">&nbsp;</td>
                    <td class="fillgrey">&nbsp;</td>
                    <td class="fillgrey">&nbsp;</td>
                    <td class="fillgrey">&nbsp;</td>
                    <td class="fillgrey">&nbsp;</td>
                    <td class="fillgrey">&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="right">1</td>
                    <td> Total salaries (see instructions)</td>
                    <td class="data center">{{NumberFormat data-1.00100-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.00100-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.00100-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.00100-00400}}</td>
                    <td class="data right">{{NumberFormat data-1.00100-00500}}</td>
                    <td class="data right">{{NumberFormat data-1.00100-00600}}</td>
                    <td class="right">1</td>
                </tr>
                <tr>
                    <td class="right">2</td>
                    <td> Non-physician anesthetist Part A</td>
                    <td class="data center fillgrey">&nbsp;{{NumberFormat data-1.00200-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.00200-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.00200-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.00200-00400}}</td>
                    <td class="data right">{{NumberFormat data-1.00200-00500}}</td>
                    <td class="data right">{{NumberFormat data-1.00200-00600}}</td>
                    <td class="right">2</td>
                </tr>
                <tr>
                    <td class="right">3</td>
                    <td> Non-physician anesthetist Part B</td>
                    <td class="data center fillgrey">&nbsp;{{NumberFormat data-1.00300-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.00300-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.00300-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.00300-00400}}</td>
                    <td class="data right">{{NumberFormat data-1.00300-00500}}</td>
                    <td class="data right">{{NumberFormat data-1.00300-00600}}</td>
                    <td class="right">3</td>
                </tr>
                <tr>
                    <td class="right">4</td>
                    <td> Physician-Part A - Administrative</td>
                    <td class="data center fillgrey">&nbsp;{{NumberFormat data-1.00400-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.00400-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.00400-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.00400-00400}}</td>
                    <td class="data right">{{NumberFormat data-1.00400-00500}}</td>
                    <td class="data right">{{NumberFormat data-1.00400-00600}}</td>
                    <td class="right">4</td>
                </tr>
                <tr>
                    <td class="right">4.01</td>
                    <td> Physician-Part A - Teaching</td>
                    <td class="data center fillgrey">&nbsp;{{NumberFormat data-1.00401-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.00401-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.00401-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.00401-00400}}</td>
                    <td class="data right">{{NumberFormat data-1.00401-00500}}</td>
                    <td class="data right">{{NumberFormat data-1.00401-00600}}</td>
                    <td class="right">4.01</td>
                </tr>
                <tr>
                    <td class="right">5</td>
                    <td> Physician and Non Physician -Part B</td>
                    <td class="data center fillgrey">&nbsp;{{NumberFormat data-1.00500-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.00500-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.00500-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.00500-00400}}</td>
                    <td class="data right">{{NumberFormat data-1.00500-00500}}</td>
                    <td class="data right">{{NumberFormat data-1.00500-00600}}</td>
                    <td class="right">5</td>
                </tr>
                <tr>
                    <td class="right">6</td>
                    <td>Non-physician-Part B for hospital-based RHC and FQHC services</td>
                    <td class="data center fillgrey">&nbsp;{{NumberFormat data-1.00600-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.00600-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.00600-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.00600-00400}}</td>
                    <td class="data right">{{NumberFormat data-1.00600-00500}}</td>
                    <td class="data right">{{NumberFormat data-1.00600-00600}}</td>
                    <td class="right">6</td>
                </tr>
                <tr>
                    <td class="right">7</td>
                    <td> Interns &amp; residents (in an approved program)</td>
                    <td class="data center">{{NumberFormat data-1.00700-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.00700-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.00700-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.00700-00400}}</td>
                    <td class="data right">{{NumberFormat data-1.00700-00500}}</td>
                    <td class="data right">{{NumberFormat data-1.00700-00600}}</td>
                    <td class="right">7</td>
                </tr>
                <tr>
                    <td class="right">7.01</td>
                    <td>Contracted Interns &amp; residents (in an approved program)</td>
                    <td class="data center">{{NumberFormat data-1.00701-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.00701-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.00701-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.00701-00400}}</td>
                    <td class="data right">{{NumberFormat data-1.00701-00500}}</td>
                    <td class="data right">{{NumberFormat data-1.00701-00600}}</td>
                    <td class="right">7.01</td>
                </tr>
                <tr>
                    <td class="right">8</td>
                    <td>Home office and/or related organization personnel</td>
                    <td class="data center fillgrey">&nbsp;{{NumberFormat data-1.00800-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.00800-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.00800-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.00800-00400}}</td>
                    <td class="data right">{{NumberFormat data-1.00800-00500}}</td>
                    <td class="data right">{{NumberFormat data-1.00800-00600}}</td>
                    <td class="dright">8</td>
                </tr>
                <tr>
                    <td class="right">9</td>
                    <td> SNF</td>
                    <td class="data center">{{NumberFormat data-1.00900-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.00900-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.00900-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.00900-00400}}</td>
                    <td class="data right">{{NumberFormat data-1.00900-00500}}</td>
                    <td class="data right">{{NumberFormat data-1.00900-00600}}</td>
                    <td class="right">9</td>
                </tr>
                <tr>
                    <td class="right">10</td>
                    <td> Excluded area salaries (see instructions)</td>
                    <td class="data center fillgrey">&nbsp;</td>
                    <td class="data right">{{NumberFormat data-1.01000-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.01000-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.01000-00400}}</td>
                    <td class="data right">{{NumberFormat data-1.01000-00500}}</td>
                    <td class="data right">{{NumberFormat data-1.01000-00600}}</td>
                    <td class="right">10</td>
                </tr>
                <tr>
                    <td colspan="2"> OTHER WAGES AND RELATED COSTS </td>
                    <td class="center" class="fillgrey">&nbsp;</td>
                    <td class="fillgrey">&nbsp;</td>
                    <td class="fillgrey">&nbsp;</td>
                    <td class="fillgrey">&nbsp;</td>
                    <td class="fillgrey">&nbsp;</td>
                    <td class="fillgrey">&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="right">11</td>
                    <td> Contract labor: Direct Patient Care</td>
                    <td class="data center fillgrey">&nbsp;</td>
                    <td class="data right">{{NumberFormat data-1.01100-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.01100-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.01100-00400}}</td>
                    <td class="data right">{{NumberFormat data-1.01100-00500}}</td>
                    <td class="data right">{{NumberFormat data-1.01100-00600}}</td>
                    <td class="right">11</td>
                </tr>
                <tr>
                    <td class="right">12</td>
                    <td>Contract labor: Top level management and other management
                        and administrative services </td>
                    <td class="data center fillgrey">&nbsp;</td>
                    <td class="data right">{{NumberFormat data-1.01200-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.01200-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.01200-00400}}</td>
                    <td class="data right">{{NumberFormat data-1.01200-00500}}</td>
                    <td class="data right">{{NumberFormat data-1.01200-00600}}</td>
                    <td class="right">12</td>
                </tr>
                <tr>
                    <td class="right">13</td>
                    <td> Contract labor: Physician-Part A</td>
                    <td class="data center fillgrey">&nbsp;</td>
                    <td class="data right">{{NumberFormat data-1.01300-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.01300-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.01300-00400}}</td>
                    <td class="data right">{{NumberFormat data-1.01300-00500}}</td>
                    <td class="data right">{{NumberFormat data-1.01300-00600}}</td>
                    <td class="right">13</td>
                </tr>
                <tr>
                    <td class="right">14</td>
                    <td>Home office and/or related organization salaries and wage-related costs</td>
                    <td class="data center fillgrey">&nbsp;</td>
                    <td class="data right">{{NumberFormat data-1.01400-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.01400-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.01400-00400}}</td>
                    <td class="data right">{{NumberFormat data-1.01400-00500}}</td>
                    <td class="data right">{{NumberFormat data-1.01400-00600}}</td>
                    <td class="right">14</td>
                </tr>

                <tr>
                    <td class="right">14.01</td>
                    <td>Home office salaries</td>
                    <td class="data center fillgrey">&nbsp;</td>
                    <td class="data right">{{NumberFormat data-1.01401-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.01401-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.01401-00400}}</td>
                    <td class="data right">{{NumberFormat data-1.01401-00500}}</td>
                    <td class="data right">{{NumberFormat data-1.01401-00600}}</td>
                    <td class="right">14.01</td>
                </tr>


                <tr>
                    <td class="right">14.02</td>
                    <td>Related organization salaries</td>
                    <td class="data center fillgrey">&nbsp;</td>
                    <td class="data right">{{NumberFormat data-1.01402-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.01402-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.01402-00400}}</td>
                    <td class="data right">{{NumberFormat data-1.01402-00500}}</td>
                    <td class="data right">{{NumberFormat data-1.01402-00600}}</td>
                    <td class="right">14.02</td>
                </tr>

                <tr>
                    <td class="right">15</td>
                    <td> Home office: physician Part A</td>
                    <td class="data center fillgrey">&nbsp;</td>
                    <td class="data right">{{NumberFormat data-1.01500-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.01500-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.01500-00400}}</td>
                    <td class="data right">{{NumberFormat data-1.01500-00500}}</td>
                    <td class="data right">{{NumberFormat data-1.01500-00600}}</td>
                    <td class="right">15</td>
                </tr>
                <tr>
                    <td class="right">16</td>
                    <td> Home office &amp; Contract Physicians Part A - Teaching</td>
                    <td class="data center fillgrey">&nbsp;</td>
                    <td class="data right">{{NumberFormat data-1.01600-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.01600-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.01600-00400}}</td>
                    <td class="data right">{{NumberFormat data-1.01600-00500}}</td>
                    <td class="data right">{{NumberFormat data-1.01600-00600}}</td>
                    <td class="right">16</td>
                </tr>
                <tr>
                    <td colspan="2"> WAGE-RELATED COSTS </td>
                    <td class="center" class="fillgrey">&nbsp;</td>
                    <td class="fillgrey">&nbsp;</td>
                    <td class="fillgrey">&nbsp;</td>
                    <td class="fillgrey">&nbsp;</td>
                    <td class="fillgrey">&nbsp;</td>
                    <td class="fillgrey">&nbsp;</td>
                    <td> </td>
                </tr>
                <tr>
                    <td class="right">17</td>
                    <td> Wage-related costs (core) (see instructions)</td>
                    <td class="data center fillgrey">&nbsp;</td>
                    <td class="data right">{{NumberFormat data-1.01700-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.01700-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.01700-00400}}</td>
                    <td class="data right" class="fillgrey">&nbsp;</td>
                    <td class="data right" class="fillgrey">&nbsp;</td>
                    <td class="right">17</td>
                </tr>
                <tr>
                    <td class="right">18</td>
                    <td> Wage-related costs (other) (see instructions)</td>
                    <td class="data center fillgrey">&nbsp;</td>
                    <td class="data right">{{NumberFormat data-1.01800-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.01800-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.01800-00400}}</td>
                    <td class="data right" class="fillgrey">&nbsp;</td>
                    <td class="data right" class="fillgrey">&nbsp;</td>
                    <td class="right">18</td>
                </tr>
                <tr>
                    <td class="right">19</td>
                    <td> Excluded areas</td>
                    <td class="data center fillgrey">&nbsp;</td>
                    <td class="data right">{{NumberFormat data-1.01900-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.01900-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.01900-00400}}</td>
                    <td class="data right" class="fillgrey">&nbsp;</td>
                    <td class="data right" class="fillgrey">&nbsp;</td>
                    <td class="right">19</td>
                </tr>
                <tr>
                    <td class="right">20</td>
                    <td> Non-physician anesthetist Part A</td>
                    <td class="data center fillgrey">&nbsp;</td>
                    <td class="data right">{{NumberFormat data-1.02000-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.02000-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.02000-00400}}</td>
                    <td class="data right" class="fillgrey">&nbsp;</td>
                    <td class="data right" class="fillgrey">&nbsp;</td>
                    <td class="right">20</td>
                </tr>
                <tr>
                    <td class="right">21</td>
                    <td> Non-physician anesthetist Part B</td>
                    <td class="data center fillgrey">&nbsp;</td>
                    <td class="data right">{{NumberFormat data-1.02100-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.02100-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.02100-00400}}</td>
                    <td class="data right" class="fillgrey">&nbsp;</td>
                    <td class="data right" class="fillgrey">&nbsp;</td>
                    <td class="right">21</td>
                </tr>
                <tr>
                    <td class="right">22</td>
                    <td> Physician Part A - Administrative</td>
                    <td class="data center fillgrey">&nbsp;</td>
                    <td class="data right">{{NumberFormat data-1.02200-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.02200-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.02200-00400}}</td>
                    <td class="data right" class="fillgrey">&nbsp;</td>
                    <td class="data right" class="fillgrey">&nbsp;</td>
                    <td class="right">22</td>
                </tr>
                <tr>
                    <td class="right">22.01</td>
                    <td>Physician Part A - Teaching</td>
                    <td class="data center fillgrey">&nbsp;</td>
                    <td class="data right">{{NumberFormat data-1.02201-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.02201-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.02201-00400}}</td>
                    <td class="data right" class="fillgrey">&nbsp;</td>
                    <td class="data right" class="fillgrey">&nbsp;</td>
                    <td class="right">22.01</td>
                </tr>
                <tr>
                    <td class="right">23</td>
                    <td> Physician Part B</td>
                    <td class="data center fillgrey">&nbsp;</td>
                    <td class="data right">{{NumberFormat data-1.02300-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.02300-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.02300-00400}}</td>
                    <td class="data right" class="fillgrey">&nbsp;</td>
                    <td class="data right" class="fillgrey">&nbsp;</td>
                    <td class="right">23</td>
                </tr>
                <tr>
                    <td class="right">24</td>
                    <td> Wage-related costs (RHC/FQHC)</td>
                    <td class="data center fillgrey">&nbsp;</td>
                    <td class="data right">{{NumberFormat data-1.02400-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.02400-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.02400-00400}}</td>
                    <td class="data right" class="fillgrey">&nbsp;</td>
                    <td class="data right" class="fillgrey">&nbsp;</td>
                    <td class="right">24</td>
                </tr>


                <tr>
                    <td class="right">25</td>
                    <td> Interns &amp; residents (in an approved program)</td>
                    <td class="data center fillgrey">&nbsp;</td>
                    <td class="data right">{{NumberFormat data-1.02500-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.02500-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.02500-00400}}</td>
                    <td class="data right" class="fillgrey">&nbsp;</td>
                    <td class="data right" class="fillgrey">&nbsp;</td>
                    <td class="right">25</td>
                </tr>



                <tr>
                    <td class="right">25.50</td>
                    <td> Home office wage-related (core) </td>
                    <td class="data center fillgrey">&nbsp;</td>
                    <td class="data right">{{NumberFormat data-1.02550-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.02550-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.02550-00400}}</td>
                    <td class="data right" class="fillgrey">&nbsp;</td>
                    <td class="data right" class="fillgrey">&nbsp;</td>
                    <td class="right">25.50</td>
                </tr>


                <tr>
                    <td class="right">25.51</td>
                    <td>Related organzation wage-related (core)</td>
                    <td class="data center fillgrey">&nbsp;</td>
                    <td class="data right">{{NumberFormat data-1.02551-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.02551-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.02551-00400}}</td>
                    <td class="data right" class="fillgrey">&nbsp;</td>
                    <td class="data right" class="fillgrey">&nbsp;</td>
                    <td class="right">25.51</td>
                </tr>


                <tr>
                    <td class="right">25.52</td>
                    <td>Home office: Physician Part A - Administrative - wage-related (core)</td>
                    <td class="data center fillgrey">&nbsp;</td>
                    <td class="data right">{{NumberFormat data-1.02552-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.02552-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.02552-00400}}</td>
                    <td class="data right" class="fillgrey">&nbsp;</td>
                    <td class="data right" class="fillgrey">&nbsp;</td>
                    <td class="right">25.52</td>
                </tr>


                <tr>
                    <td class="right">25.53</td>
                    <td>Home office &amp; Contract Physicians Part A - Teaching - wage-related (core)</td>
                    <td class="data center fillgrey">&nbsp;</td>
                    <td class="data right">{{NumberFormat data-1.02553-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.02553-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.02553-00400}}</td>
                    <td class="data right" class="fillgrey">&nbsp;</td>
                    <td class="data right" class="fillgrey">&nbsp;</td>
                    <td class="right">25.53</td>
                </tr>

                <tr>
                    <td colspan="2"> OVERHEAD COSTS - DIRECT SALARIES </td>
                    <td class="center" class="fillgrey">&nbsp;</td>
                    <td class="fillgrey">&nbsp;</td>
                    <td class="fillgrey">&nbsp;</td>
                    <td class="fillgrey">&nbsp;</td>
                    <td class="fillgrey">&nbsp;</td>
                    <td class="fillgrey">&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="right">26</td>
                    <td> Employee Benefits Department</td>
                    <td class="data center">{{NumberFormat data-1.02600-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.02600-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.02600-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.02600-00400}}</td>
                    <td class="data right">{{NumberFormat data-1.02600-00500}}</td>
                    <td class="data right">{{NumberFormat data-1.02600-00600}}</td>
                    <td class="right">26</td>
                </tr>
                <tr>
                    <td class="right">27</td>
                    <td> Administrative &amp; General</td>
                    <td class="data center">{{NumberFormat data-1.02700-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.02700-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.02700-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.02700-00400}}</td>
                    <td class="data right">{{NumberFormat data-1.02700-00500}}</td>
                    <td class="data right">{{NumberFormat data-1.02700-00600}}</td>
                    <td class="right">27</td>
                </tr>
                <tr>
                    <td class="right">28</td>
                    <td> Administrative &amp; General under contract (see instructions)</td>
                    <td class="data center">{{NumberFormat data-1.02800-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.02800-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.02800-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.02800-00400}}</td>
                    <td class="data right">{{NumberFormat data-1.02800-00500}}</td>
                    <td class="data right">{{NumberFormat data-1.02800-00600}}</td>
                    <td class="right">28</td>
                </tr>
                <tr>
                    <td class="right">29</td>
                    <td> Maintenance &amp; Repairs</td>
                    <td class="data center">{{NumberFormat data-1.02900-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.02900-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.02900-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.02900-00400}}</td>
                    <td class="data right">{{NumberFormat data-1.02900-00500}}</td>
                    <td class="data right">{{NumberFormat data-1.02900-00600}}</td>
                    <td class="right">29</td>
                </tr>
                <tr>
                    <td class="right">30</td>
                    <td> Operation of Plant</td>
                    <td class="data center">{{NumberFormat data-1.03000-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.03000-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.03000-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.03000-00400}}</td>
                    <td class="data right">{{NumberFormat data-1.03000-00500}}</td>
                    <td class="data right">{{NumberFormat data-1.03000-00600}}</td>
                    <td class="right">30</td>
                </tr>
                <tr>
                    <td class="right">31</td>
                    <td> Laundry &amp; Linen Service</td>
                    <td class="data center">{{NumberFormat data-1.03100-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.03100-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.03100-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.03100-00400}}</td>
                    <td class="data right">{{NumberFormat data-1.03100-00500}}</td>
                    <td class="data right">{{NumberFormat data-1.03100-00600}}</td>
                    <td class="right">31</td>
                </tr>
                <tr>
                    <td class="right">32</td>
                    <td> Housekeeping</td>
                    <td class="data center">{{NumberFormat data-1.03200-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.03200-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.03200-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.03200-00400}}</td>
                    <td class="data right">{{NumberFormat data-1.03200-00500}}</td>
                    <td class="data right">{{NumberFormat data-1.03200-00600}}</td>
                    <td class="right">32</td>
                </tr>
                <tr>
                    <td class="dright">33</td>
                    <td> Housekeeping under contract (see instructions)</td>
                    <td class="data center">{{NumberFormat data-1.03300-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.03300-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.03300-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.03300-00400}}</td>
                    <td class="data right">{{NumberFormat data-1.03300-00500}}</td>
                    <td class="data right">{{NumberFormat data-1.03300-00600}}</td>
                    <td class="right">33</td>
                </tr>
                <tr>
                    <td class="right">34</td>
                    <td> Dietary</td>
                    <td class="data center">{{NumberFormat data-1.03400-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.03400-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.03400-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.03400-00400}}</td>
                    <td class="data right">{{NumberFormat data-1.03400-00500}}</td>
                    <td class="data right">{{NumberFormat data-1.03400-00600}}</td>
                    <td class="right">34</td>
                </tr>
                <tr>
                    <td class="right">35</td>
                    <td> Dietary under contract (see instructions)</td>
                    <td class="data center">{{NumberFormat data-1.03500-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.03500-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.03500-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.03500-00400}}</td>
                    <td class="data right">{{NumberFormat data-1.03500-00500}}</td>
                    <td class="data right">{{NumberFormat data-1.03500-00600}}</td>
                    <td class="right">35</td>
                </tr>
                <tr>
                    <td class="right">36</td>
                    <td> Cafeteria</td>
                    <td class="data center">{{NumberFormat data-1.03600-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.03600-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.03600-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.03600-00400}}</td>
                    <td class="data right">{{NumberFormat data-1.03600-00500}}</td>
                    <td class="data right">{{NumberFormat data-1.03600-00600}}</td>
                    <td class="right">36</td>
                </tr>
                <tr>
                    <td class="right">37</td>
                    <td> Maintenance of Personnel</td>
                    <td class="data center">{{NumberFormat data-1.03700-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.03700-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.03700-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.03700-00400}}</td>
                    <td class="data right">{{NumberFormat data-1.03700-00500}}</td>
                    <td class="data right">{{NumberFormat data-1.03700-00600}}</td>
                    <td class="right">37</td>
                </tr>
                <tr>
                    <td class="right">38</td>
                    <td> Nursing Administration</td>
                    <td class="data center">{{NumberFormat data-1.03800-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.03800-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.03800-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.03800-00400}}</td>
                    <td class="data right">{{NumberFormat data-1.03800-00500}}</td>
                    <td class="data right">{{NumberFormat data-1.03800-00600}}</td>
                    <td class="right">38</td>
                </tr>
                <tr>
                    <td class="right">39</td>
                    <td> Central Services and Supply</td>
                    <td class="data center">{{NumberFormat data-1.03900-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.03900-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.03900-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.03900-00400}}</td>
                    <td class="data right">{{NumberFormat data-1.03900-00500}}</td>
                    <td class="data right">{{NumberFormat data-1.03900-00600}}</td>
                    <td class="right">39</td>
                </tr>
                <tr>
                    <td class="right">40</td>
                    <td> Pharmacy</td>
                    <td class="data center">{{NumberFormat data-1.04000-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.04000-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.04000-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.04000-00400}}</td>
                    <td class="data right">{{NumberFormat data-1.04000-00500}}</td>
                    <td class="data right">{{NumberFormat data-1.04000-00600}}</td>
                    <td class="right">40</td>
                </tr>
                <tr>
                    <td class="right">41</td>
                    <td> Medical Records &amp; Medical Records Library</td>
                    <td class="data center">{{NumberFormat data-1.04100-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.04100-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.04100-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.04100-00400}}</td>
                    <td class="data right">{{NumberFormat data-1.04100-00500}}</td>
                    <td class="data right">{{NumberFormat data-1.04100-00600}}</td>
                    <td class="right">41</td>
                </tr>
                <tr>
                    <td class="right">42</td>
                    <td> Social Service</td>
                    <td class="data center">{{NumberFormat data-1.04200-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.04200-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.04200-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.04200-00400}}</td>
                    <td class="data right">{{NumberFormat data-1.04200-00500}}</td>
                    <td class="data right">{{NumberFormat data-1.04200-00600}}</td>
                    <td class="right">42</td>
                </tr>
                <tr>
                    <td class="right">43</td>
                    <td> Other General Service </td>
                    <td class="data center">{{NumberFormat data-1.04300-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.04300-00200}}</td>
                    <td class="data right">{{NumberFormat data-1.04300-00300}}</td>
                    <td class="data right">{{NumberFormat data-1.04300-00400}}</td>
                    <td class="data right">{{NumberFormat data-1.04300-00500}}</td>
                    <td class="data right">{{NumberFormat data-1.04300-00600}}</td>
                    <td class="right">43</td>
                </tr>
                <tr>
                    <td colspan="9">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="9">Part III - Hospital Wage Index Summary</td>
                </tr>
                <tr>
                    <td class="right">1</td>
                    <td> Net salaries (see instructions)</td>
                    <td class="data center fillgrey">&nbsp;</td>
                    <td class="data right">{{NumberFormat data-2.00100-00200}}</td>
                    <td class="data right">{{NumberFormat data-2.00100-00300}}</td>
                    <td class="data right">{{NumberFormat data-2.00100-00400}}</td>
                    <td class="data right">{{NumberFormat data-2.00100-00500}}</td>
                    <td class="data right">{{NumberFormat data-2.00100-00600}}</td>
                    <td class="right">1</td>
                </tr>
                <tr>
                    <td class="right">2</td>
                    <td> Excluded area salaries (see instructions)</td>
                    <td class="data center fillgrey">&nbsp;</td>
                    <td class="data right">{{NumberFormat data-2.00200-00200}}</td>
                    <td class="data right">{{NumberFormat data-2.00200-00300}}</td>
                    <td class="data right">{{NumberFormat data-2.00200-00400}}</td>
                    <td class="data right">{{NumberFormat data-2.00200-00500}}</td>
                    <td class="data right">{{NumberFormat data-2.00200-00600}}</td>
                    <td class="right">2</td>
                </tr>
                <tr>
                    <td class="right">3</td>
                    <td> Subtotal salaries (line 1 minus line 2)</td>
                    <td class="data center fillgrey">&nbsp;</td>
                    <td class="data right">{{NumberFormat data-2.00300-00200}}</td>
                    <td class="data right">{{NumberFormat data-2.00300-00300}}</td>
                    <td class="data right">{{NumberFormat data-2.00300-00400}}</td>
                    <td class="data right">{{NumberFormat data-2.00300-00500}}</td>
                    <td class="data right">{{NumberFormat data-2.00300-00600}}</td>
                    <td class="right">3</td>
                </tr>
                <tr>
                    <td class="right">4</td>
                    <td> Subtotal other wages and related costs (see instructions)</td>
                    <td class="data center fillgrey">&nbsp;</td>
                    <td class="data right">{{NumberFormat data-2.00400-00200}}</td>
                    <td class="data right">{{NumberFormat data-2.00400-00300}}</td>
                    <td class="data right">{{NumberFormat data-2.00400-00400}}</td>
                    <td class="data right">{{NumberFormat data-2.00400-00500}}</td>
                    <td class="data right">{{NumberFormat data-2.00400-00600}}</td>
                    <td class="right">4</td>
                </tr>
                <tr>
                    <td class="right">5</td>
                    <td> Subtotal wage-related costs (see instructions)</td>
                    <td class="data center fillgrey">&nbsp;</td>
                    <td class="data right">{{NumberFormat data-2.00500-00200}}</td>
                    <td class="data right">{{NumberFormat data-2.00500-00300}}</td>
                    <td class="data right">{{NumberFormat data-2.00500-00400}}</td>
                    <td class="data right">{{NumberFormat data-2.00500-00500}}</td>
                    <td class="data right">{{NumberFormat data-2.00500-00600}}</td>
                    <td class="right">5</td>
                </tr>
                <tr>
                    <td class="right">6</td>
                    <td> Total (sum of lines 3 through 5)</td>
                    <td class="data center fillgrey">&nbsp;</td>
                    <td class="data right">{{NumberFormat data-2.00600-00200}}</td>
                    <td class="data right">{{NumberFormat data-2.00600-00300}}</td>
                    <td class="data right">{{NumberFormat data-2.00600-00400}}</td>
                    <td class="data right">{{NumberFormat data-2.00600-00500}}</td>
                    <td class="data right">{{NumberFormat data-2.00600-00600}}</td>
                    <td class=" right">6</td>
                </tr>
                <tr>
                    <td class="right">7</td>
                    <td> Total overhead cost (see instructions)</td>
                    <td class="data center fillgrey">&nbsp;</td>
                    <td class="data right">{{NumberFormat data-2.00700-00200}}</td>
                    <td class="data right">{{NumberFormat data-2.00700-00300}}</td>
                    <td class="data right">{{NumberFormat data-2.00700-00400}}</td>
                    <td class="data right">{{NumberFormat data-2.00700-00500}}</td>
                    <td class="data right">{{NumberFormat data-2.00700-00600}}</td>
                    <td class="right">7</td>
                </tr>
                <tr>
                    <td colspan="9">FORM CMS-2552-10 (11/2017) (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS
                        PUB. 15-II, SECTION 4005.2 - 4005.3)</td>
                </tr>
                <tr>
                    <td colspan="2"> 40-513 - 03-18</td>
                    <td class="center" colspan="5">&nbsp;</td>
                    <td colspan="2">Rev. 14</td>
                </tr>
            </tbody>
        </table>

    </div>