
    <div class="report">
        <table id="report_table" id="report_table" width="100%" border="1" cellpadding="1" cellspacing="1">
            <colgroup>
                <col width="4%">
                <col width="22%">
                <col width="5%">
                <col width="4.5%">
                <col width="6%">
                <col width="4.5%">
                <col width="4.5%">
                <col width="4.5%">
                <col width="4.5%">
                <col width="5%">
                <col width="6%">
                <col width="7%">
                <col width="6%">
                <col width="4.5%">
                <col width="4.5%">
                <col width="4.5%">
                <col width="5%">

                <col width="4%">

            </colgroup>
            <thead>
                <tr>
                    <td colspan="11">HOSPITAL AND HOSPITAL HEALTH CARE COMPLEX STATISTICAL DATA </td>
                    <td colspan="2">Provider CCN:<span class="data">{{pId}}</span></td>
                    <td colspan="2">
                        <div>PERIOD:</div>
                        <div>FROM <span class="data">{{year.start}}</span></div>
                        <div>TO <span class="data">{{year.end}}</span></div>
                    </td>
                    <td colspan="3"> WORKSHEET S-3 PART I </td>
                </tr>
                <tr>
                    <td colspan="2" rowspan="3"> Component </td>
                    <td class="center" rowspan="2"> Wksht. A Line No. </td>
                    <td class="center" rowspan="2"> No. of Beds </td>
                    <td class="center" rowspan="2"> Bed Days Available </td>
                    <td class="center" rowspan="2"> CAH Hours </td>
                    <td class="center" colspan="4">Inpatient Days / Outpatient Visits / Trips</td>
                    <td class="center" colspan="3">Full Time Equivalents</td>
                    <td class="center" colspan="4">Discharges</td>
                    <td rowspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td class="center"> Title V </td>
                    <td class="center"> Title XVIII </td>
                    <td class="center"> Title XIX </td>
                    <td class="center"> Total All Patients </td>
                    <td class="center"> Total Interns &amp; Residents </td>
                    <td class="center"> Employees On Payroll </td>
                    <td class="center"> Nonpaid Workers </td>
                    <td class="center"> Title V </td>
                    <td class="center"> Title XVIII </td>
                    <td class="center"> Title XIX </td>
                    <td class="center"> Total All Patients </td>
                </tr>
                <tr>
                    <td class="center">1</td>
                    <td class="center">2</td>
                    <td class="center">3</td>
                    <td class="center">4</td>
                    <td class="center">5</td>
                    <td class="center">6</td>
                    <td class="center">7</td>
                    <td class="center">8</td>
                    <td class="center">9</td>
                    <td class="center">10</td>
                    <td class="center">11</td>
                    <td class="center">12</td>
                    <td class="center">13</td>
                    <td class="center">14</td>
                    <td class="center">15</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="right">1</td>
                    <td>Hospital Adults &amp; Peds. (columns 5, 6, 7 and 8
                        exclude Swing Bed, Observation Bed and Hospice days)
                        (see instructions for col.2 for the portion of LDP room
                        available beds)</td>
                    <td class="data right">{{data-1.00100-00100}}</td>
                    <td class="data right">{{data-1.00100-00200}}</td>
                    <td class="data right">{{data-1.00100-00300}}</td>
                    <td class="data right">{{data-1.00100-00400}}</td>
                    <td class="data right">{{data-1.00100-00500}}</td>
                    <td class="data right">{{data-1.00100-00600}}</td>
                    <td class="data right">{{data-1.00100-00700}}</td>
                    <td class="data right">{{data-1.00100-00800}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00100-00900}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00100-01000}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00100-01100}}</td>
                    <td class="data right">{{data-1.00100-01200}}</td>
                    <td class="data right">{{data-1.00100-01300}}</td>
                    <td class="data right">{{data-1.00100-01400}}</td>
                    <td class="data right">{{data-1.00100-01500}}</td>
                    <td class="right">1</td>
                </tr>
                <tr>
                    <td class="right">2</td>
                    <td>HMO and other (see instructions)</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00200-00100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00200-00200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00200-00300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00200-00400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00200-00500}}</td>
                    <td class="data right">{{data-1.00200-00600}}</td>
                    <td class="data right">{{data-1.00200-00700}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00200-00800}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00200-00900}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00200-01000}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00200-01100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00200-01200}}</td>
                    <td class="data right">{{data-1.00200-01300}}</td>
                    <td class="data right"{{data-1.00200-01400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00200-01500}}</td>
                    <td class="right">2</td>
                </tr>
                <tr>
                    <td class="right">3</td>
                    <td>HMO IPF Subprovider</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00300-00100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00300-00200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00300-00300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00300-00400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00300-00500}}</td>
                    <td class="data right">{{data-1.00300-00600}}</td>
                    <td class="data right">{{data-1.00300-00700}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00300-00800}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00300-00900}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00300-01000}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00300-01100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00300-01200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00300-01300}}</td>
                    <td class="data right">{{data-1.00300-01400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00300-01500}}</td>
                    <td class="right">3</td>
                </tr>
                <tr>
                    <td class="right">4</td>
                    <td>HMO IRF Subprovider</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00400-00100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00400-00200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00400-00300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00400-00400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00400-00500}}</td>
                    <td class="data right">{{data-1.00400-00600}}</td>
                    <td class="data right">{{data-1.00400-00700}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00400-00800}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00400-00900}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00400-01000}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00400-01100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00400-01200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00400-01300}}</td>
                    <td class="data right">{{data-1.00400-01400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00400-01500}}</td>
                    <td class="right">4</td>
                </tr>
                <tr>
                    <td class="right">5</td>
                    <td>Hospital Adults &amp; Peds. Swing Bed SNF</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00500-00100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00500-00200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00500-00300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00500-00400}}</td>
                    <td class="data right">{{data-1.00500-00500}}</td>
                    <td class="data right">{{data-1.00500-00600}}</td>
                    <td class="data right">{{data-1.00500-00700}}</td>
                    <td class="data right">{{data-1.00500-00800}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00500-00900}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00500-01000}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00500-01100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00500-01200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00500-01300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00500-01400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00500-01500}}</td>
                    <td class="right">5</td>
                </tr>
                <tr>
                    <td class="right">6</td>
                    <td>Hospital Adults &amp; Peds.Swing Bed NF</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00600-00100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00600-00200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00600-00300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00600-00400}}</td>
                    <td class="data right">{{data-1.00600-00500}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00600-00600}}</td>
                    <td class="data right">{{data-1.00600-00700}}</td>
                    <td class="data right">{{data-1.00600-00800}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00600-00900}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00600-01000}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00600-01100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00600-01200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00600-01300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00600-01400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00600-01500}}</td>
                    <td class="right">6</td>
                </tr>
                <tr>
                    <td class="right">7</td>
                    <td>Total Adults and Peds. (exclude observation beds) (see instructions) </td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00700-00100}}</td>
                    <td class="data right">{{data-1.00700-00200}}</td>
                    <td class="data right">{{data-1.00700-00300}}</td>
                    <td class="data right">{{data-1.00700-00400}}</td>
                    <td class="data right">{{data-1.00700-00500}}</td>
                    <td class="data right">{{data-1.00700-00600}}</td>
                    <td class="data right">{{data-1.00700-00700}}</td>
                    <td class="data right">{{data-1.00700-00800}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00700-00900}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00700-01000}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00700-01100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00700-01200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00700-01300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00700-01400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00700-01500}}</td>
                    <td class="right">7</td>
                </tr>
                <tr>
                    <td class="right">8</td>
                    <td>Intensive Care Unit</td>
                    <td class="data right">{{data-1.00800-00100}}</td>
                    <td class="data right">{{data-1.00800-00200}}</td>
                    <td class="data right">{{data-1.00800-00300}}</td>
                    <td class="data right">{{data-1.00800-00400}}</td>
                    <td class="data right">{{data-1.00800-00500}}</td>
                    <td class="data right">{{data-1.00800-00600}}</td>
                    <td class="data right">{{data-1.00800-00700}}</td>
                    <td class="data right">{{data-1.00800-00800}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00800-00900}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00800-01000}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00800-01100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00800-01200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00800-01300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00800-01400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00800-01500}}</td>
                    <td class="right">8</td>
                </tr>
                <tr>
                    <td class="right">9</td>
                    <td>Coronary Care Unit</td>
                    <td class="data right">{{data-1.00900-00100}}</td>
                    <td class="data right">{{data-1.00900-00200}}</td>
                    <td class="data right">{{data-1.00900-00300}}</td>
                    <td class="data right">{{data-1.00900-00400}}</td>
                    <td class="data right">{{data-1.00900-00500}}</td>
                    <td class="data right">{{data-1.00900-00600}}</td>
                    <td class="data right">{{data-1.00900-00700}}</td>
                    <td class="data right">{{data-1.00900-00800}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00900-00900}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00900-01000}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00900-01100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00900-01200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00900-01300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00900-01400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.00900-01500}}</td>
                    <td class="right">9</td>
                </tr>
                <tr>
                    <td class="right">10</td>
                    <td>Burn Intensive Care Unit</td>
                    <td class="data right">{{data-1.01000-00100}}</td>
                    <td class="data right">{{data-1.01000-00200}}</td>
                    <td class="data right">{{data-1.01000-00300}}</td>
                    <td class="data right">{{data-1.01000-00400}}</td>
                    <td class="data right">{{data-1.01000-00500}}</td>
                    <td class="data right">{{data-1.01000-00600}}</td>
                    <td class="data right">{{data-1.01000-00700}}</td>
                    <td class="data right">{{data-1.01000-00800}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01000-00900}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01000-01000}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01000-01100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01000-01200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01000-01300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01000-01400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01000-01500}}</td>
                    <td class="right">10</td>
                </tr>
                <tr>
                    <td class="right">11</td>
                    <td>Surgical Intensive Care Unit</td>
                    <td class="data right">{{data-1.01100-00100}}</td>
                    <td class="data right">{{data-1.01100-00200}}</td>
                    <td class="data right">{{data-1.01100-00300}}</td>
                    <td class="data right">{{data-1.01100-00400}}</td>
                    <td class="data right">{{data-1.01100-00500}}</td>
                    <td class="data right">{{data-1.01100-00600}}</td>
                    <td class="data right">{{data-1.01100-00700}}</td>
                    <td class="data right">{{data-1.01100-00800}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01100-00900}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01100-01000}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01100-01100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01100-01200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01100-01300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01100-01400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01100-01500}}</td>
                    <td class="right">11</td>
                </tr>
                <tr>
                    <td class="right">12</td>
                    <td>Other Special Care</td>
                    <td class="data right">{{data-1.01200-00100}}</td>
                    <td class="data right">{{data-1.01200-00200}}</td>
                    <td class="data right">{{data-1.01200-00300}}</td>
                    <td class="data right">{{data-1.01200-00400}}</td>
                    <td class="data right">{{data-1.01200-00500}}</td>
                    <td class="data right">{{data-1.01200-00600}}</td>
                    <td class="data right">{{data-1.01200-00700}}</td>
                    <td class="data right">{{data-1.01200-00800}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01200-00900}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01200-01000}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01200-01100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01200-01200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01200-01300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01200-01400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01200-01500}}</td>
                    <td class="right">12</td>
                </tr>
                <tr>
                    <td class="right">12.15</td>
                    <td>Neonatal ICU</td>
                    <td class="data right">{{data-1.01215-00100}}</td>
                    <td class="data right">{{data-1.01215-00200}}</td>
                    <td class="data right">{{data-1.01215-00300}}</td>
                    <td class="data right">{{data-1.01215-00400}}</td>
                    <td class="data right">{{data-1.01215-00500}}</td>
                    <td class="data right">{{data-1.01215-00600}}</td>
                    <td class="data right">{{data-1.01215-00700}}</td>
                    <td class="data right">{{data-1.01215-00800}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01215-00900}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01215-01000}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01215-01100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01215-01200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01215-01300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01215-01400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01215-01500}}</td>
                    <td class="right">12.15</td>
                </tr>
                <tr>
                    <td class="right">13</td>
                    <td>Nursery</td>
                    <td class="data right">{{data-1.01300-00100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01300-00200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01300-00300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01300-00400}}</td>
                    <td class="data right">{{data-1.01300-00500}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01300-00600}}</td>
                    <td class="data right">{{data-1.01300-00700}}</td>
                    <td class="data right">{{data-1.01300-00800}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01300-00900}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01300-01000}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01300-01100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01300-01200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01300-01300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01300-01400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01300-01500}}</td>
                    <td class="right">13</td>
                </tr>
                <tr>
                    <td class="right">14</td>
                    <td>Total (see instructions)</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01400-00100}}</td>
                    <td class="data right">{{data-1.01400-00200}}</td>
                    <td class="data right">{{data-1.01400-00300}}</td>
                    <td class="data right">{{data-1.01400-00400}}</td>
                    <td class="data right">{{data-1.01400-00500}}</td>
                    <td class="data right">{{data-1.01400-00600}}</td>
                    <td class="data right">{{data-1.01400-00700}}</td>
                    <td class="data right">{{data-1.01400-00800}}</td>
                    <td class="data right">{{data-1.01400-00900}}</td>
                    <td class="data right">{{data-1.01400-01000}}</td>
                    <td class="data right">{{data-1.01400-01100}}</td>
                    <td class="data right">{{data-1.01400-01200}}</td>
                    <td class="data right">{{data-1.01400-01300}}</td>
                    <td class="data right">{{data-1.01400-01400}}</td>
                    <td class="data right">{{data-1.01400-01500}}</td>
                    <td class="right">14</td>
                </tr>
                <tr>
                    <td class="right">15</td>
                    <td>CAH visits</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01500-00100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01500-00200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01500-00300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01500-00400}}</td>
                    <td class="data right">{{data-1.01500-00500}}</td>
                    <td class="data right">{{data-1.01500-00600}}</td>
                    <td class="data right">{{data-1.01500-00700}}</td>
                    <td class="data right">{{data-1.01500-00800}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01500-00900}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01500-01000}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01500-01100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01500-01200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01500-01300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01500-01400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01500-01500}}</td>
                    <td class="right">15</td>
                </tr>
                <tr>
                    <td class="right">16</td>
                    <td>Subprovider - IPF</td>
                    <td class="data right">{{data-1.01600-00100}}</td>
                    <td class="data right">{{data-1.01600-00200}}</td>
                    <td class="data right">{{data-1.01600-00300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01600-00400}}</td>
                    <td class="data right">{{data-1.01600-00500}}</td>
                    <td class="data right">{{data-1.01600-00600}}</td>
                    <td class="data right">{{data-1.01600-00700}}</td>
                    <td class="data right">{{data-1.01600-00800}}</td>
                    <td class="data right">{{data-1.01600-00900}}</td>
                    <td class="data right">{{data-1.01600-01000}}</td>
                    <td class="data right">{{data-1.01600-01100}}</td>
                    <td class="data right">{{data-1.01600-01200}}</td>
                    <td class="data right">{{data-1.01600-01300}}</td>
                    <td class="data right">{{data-1.01600-01400}}</td>
                    <td class="data right">{{data-1.01600-01500}}</td>
                    <td class="right">16</td>
                </tr>
                <tr>
                    <td class="right">17</td>
                    <td>Subprovider - IRF</td>
                    <td class="data right">{{data-1.01700-00100}}</td>
                    <td class="data right">{{data-1.01700-00200}}</td>
                    <td class="data right">{{data-1.01700-00300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01700-00400}}</td>
                    <td class="data right">{{data-1.01700-00500}}</td>
                    <td class="data right">{{data-1.01700-00600}}</td>
                    <td class="data right">{{data-1.01700-00700}}</td>
                    <td class="data right">{{data-1.01700-00800}}</td>
                    <td class="data right">{{data-1.01700-00900}}</td>
                    <td class="data right">{{data-1.01700-01000}}</td>
                    <td class="data right">{{data-1.01700-01100}}</td>
                    <td class="data right">{{data-1.01700-01200}}</td>
                    <td class="data right">{{data-1.01700-01300}}</td>
                    <td class="data right">{{data-1.01700-01400}}</td>
                    <td class="data right">{{data-1.01700-01500}}</td>
                    <td class="right">17</td>
                </tr>
                <tr>
                    <td class="right">18</td>
                    <td>Subprovider - Other</td>
                    <td class="data right">{{data-1.01800-00100}}</td>
                    <td class="data right">{{data-1.01800-00200}}</td>
                    <td class="data right">{{data-1.01800-00300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01800-00400}}</td>
                    <td class="data right">{{data-1.01800-00500}}</td>
                    <td class="data right">{{data-1.01800-00600}}</td>
                    <td class="data right">{{data-1.01800-00700}}</td>
                    <td class="data right">{{data-1.01800-00800}}</td>
                    <td class="data right">{{data-1.01800-00900}}</td>
                    <td class="data right">{{data-1.01800-01000}}</td>
                    <td class="data right">{{data-1.01800-01100}}</td>
                    <td class="data right">{{data-1.01800-01200}}</td>
                    <td class="data right">{{data-1.01800-01300}}</td>
                    <td class="data right">{{data-1.01800-01400}}</td>
                    <td class="data right">{{data-1.01800-01500}}</td>
                    <td class="right">18</td>
                </tr>
                <tr>
                    <td class="right">19</td>
                    <td>Skilled Nursing Facility</td>
                    <td class="data right">{{data-1.01900-00100}}</td>
                    <td class="data right">{{data-1.01900-00200}}</td>
                    <td class="data right">{{data-1.01900-00300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01900-00400}}</td>
                    <td class="data right">{{data-1.01900-00500}}</td>
                    <td class="data right">{{data-1.01900-00600}}</td>
                    <td class="data right">{{data-1.01900-00700}}</td>
                    <td class="data right">{{data-1.01900-00800}}</td>
                    <td class="data right">{{data-1.01900-00900}}</td>
                    <td class="data right">{{data-1.01900-01000}}</td>
                    <td class="data right">{{data-1.01900-01100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01900-01200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01900-01300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01900-01400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.01900-01500}}</td>
                    <td class="right">19</td>
                </tr>
                <tr>
                    <td class="right">20</td>
                    <td>Nursing Facility</td>
                    <td class="data right">{{data-1.02000-00100}}</td>
                    <td class="data right">{{data-1.02000-00200}}</td>
                    <td class="data right">{{data-1.02000-00300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02000-00300}}</td>
                    <td class="data right">{{data-1.02000-00500}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02000-00600}}</td>
                    <td class="data right">{{data-1.02000-00700}}</td>
                    <td class="data right">{{data-1.02000-00800}}</td>
                    <td class="data right">{{data-1.02000-00900}}</td>
                    <td class="data right">{{data-1.02000-01000}}</td>
                    <td class="data right">{{data-1.02000-01100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02000-01200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02000-01300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02000-01400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02000-01500}}</td>
                    <td class="right">20</td>
                </tr>
                <tr>
                    <td class="right">21</td>
                    <td>Other Long Term Care</td>
                    <td class="data right">{{data-1.02100-00100}}</td>
                    <td class="data right">{{data-1.02100-00200}}</td>
                    <td class="data right">{{data-1.02100-00300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02100-00400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02100-00500}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02100-00600}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02100-00700}}</td>
                    <td class="data right">{{data-1.02100-00800}}</td>
                    <td class="data right">{{data-1.02100-00900}}</td>
                    <td class="data right">{{data-1.02100-01000}}</td>
                    <td class="data right">{{data-1.02100-01100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02100-01200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02100-01300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02100-01400}}</td>
                    <td class="data right">{{data-1.02100-01500}}</td>
                    <td class="right">21</td>
                </tr>
                <tr>
                    <td class="right">22</td>
                    <td>Home Health Agency</td>
                    <td class="data right">{{data-1.02200-00100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02200-00200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02200-00300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02200-00400}}</td>
                    <td class="data right">{{data-1.02200-00500}}</td>
                    <td class="data right">{{data-1.02200-00600}}</td>
                    <td class="data right">{{data-1.02200-00700}}</td>
                    <td class="data right">{{data-1.02200-00800}}</td>
                    <td class="data right">{{data-1.02200-00900}}</td>
                    <td class="data right">{{data-1.02200-01000}}</td>
                    <td class="data right">{{data-1.02200-01100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02200-01200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02200-01300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02200-01400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02200-01500}}</td>
                    <td class="right">22</td>
                </tr>
                <tr>
                    <td class="right">23</td>
                    <td>ASC (Distinct Part)</td>
                    <td class="data right">{{data-1.02300-00100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02300-00200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02300-00300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02300-00400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02300-00500}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02300-00600}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02300-00700}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02300-00800}}</td>
                    <td class="data right">{{data-1.02300-00900}}</td>
                    <td class="data right">{{data-1.02300-01000}}</td>
                    <td class="data right">{{data-1.02300-01100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02300-01200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02300-01300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02300-01400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02300-01500}}</td>
                    <td class="right">23</td>
                </tr>
                <tr>
                    <td class="right">24</td>
                    <td>Hospice (Distinct Part)</td>
                    <td class="data right">{{data-1.02400-00100}}</td>
                    <td class="data right">{{data-1.02400-00200}}</td>
                    <td class="data right">{{data-1.02400-00300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02400-00400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02400-00500}}</td>
                    <td class="data right">{{data-1.02400-00600}}</td>
                    <td class="data right">{{data-1.02400-00700}}</td>
                    <td class="data right">{{data-1.02400-00800}}</td>
                    <td class="data right">{{data-1.02400-00900}}</td>
                    <td class="data right">{{data-1.02400-01000}}</td>
                    <td class="data right">{{data-1.02400-01100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02400-01200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02400-01300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02400-01400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02400-01500}}</td>
                    <td class="right">24</td>
                </tr>
                <tr>
                    <td class="right">24.10</td>
                    <td>Hospice (non-distinct part)</td>
                    <td class="data right">{{data-1.02410-00100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02410-00200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02410-00300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02410-00400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02410-00500}}</td>
                    <td class="data fillgrey right">{{data-1.02410-00600}}</td>
                    <td class="data fillgrey right">{{data-1.02410-00700}}</td>
                    <td class="data right">{{data-1.02410-00800}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02410-00900}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02410-01000}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02410-01100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02410-01200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02410-01300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02410-01400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02410-01500}}</td>
                    <td class="right">24.10</td>
                </tr>
                <tr>
                    <td class="right">25</td>
                    <td>CMHC </td>
                    <td class="data right">{{data-1.02500-00100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02500-00200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02500-00300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02500-00400}}</td>
                    <td class="data right">{{data-1.02500-00500}}</td>
                    <td class="data right">{{data-1.02500-00600}}</td>
                    <td class="data right">{{data-1.02500-00700}}</td>
                    <td class="data right">{{data-1.02500-00800}}</td>
                    <td class="data right">{{data-1.02500-00900}}</td>
                    <td class="data right">{{data-1.02500-01000}}</td>
                    <td class="data right">{{data-1.02500-01100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02500-01200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02500-01300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02500-01400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02500-01500}}</td>
                    <td class="right">25</td>
                </tr>
                <tr>
                    <td class="right">26</td>
                    <td>RHC/FQHC (specify) </td>
                    <td class="data right">{{data-1.02600-00100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02600-00200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02600-00300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02600-00400}}</td>
                    <td class="data right">{{data-1.02600-00500}}</td>
                    <td class="data right">{{data-1.02600-00600}}</td>
                    <td class="data right">{{data-1.02600-00700}}</td>
                    <td class="data right">{{data-1.02600-00800}}</td>
                    <td class="data right">{{data-1.02600-00900}}</td>
                    <td class="data right">{{data-1.02600-01000}}</td>
                    <td class="data right">{{data-1.02600-01100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02600-01200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02600-01300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02600-01400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02600-01500}}</td>
                    <td class="right">26</td>
                </tr>
                <tr>
                    <td class="right">27</td>
                    <td>Total (sum of lines 14-26)</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02700-00100}}</td>
                    <td class="data right">{{data-1.02700-00200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02700-00300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02700-00400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02700-00500}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02700-00600}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02700-00700}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02700-00800}}</td>
                    <td class="data right">{{data-1.02700-00900}}</td>
                    <td class="data right">{{data-1.02700-01000}}</td>
                    <td class="data right">{{data-1.02700-01100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02700-01200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02700-01300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02700-01400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02700-01500}}</td>
                    <td class="right">27</td>
                </tr>
                <tr>
                    <td class="right">28</td>
                    <td>Observation Bed Days</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02800-00100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02800-00200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02800-00300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02800-00400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02800-00500}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02800-00600}}</td>
                    <td class="data right">{{data-1.02800-00700}}</td>
                    <td class="data right">{{data-1.02800-00800}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02800-00900}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02800-01000}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02800-01100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02800-01200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02800-01300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02800-01400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02800-01500}}</td>
                    <td class="right">28</td>
                </tr>
                <tr>
                    <td class="right">29</td>
                    <td>Ambulance Trips </td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02900-00100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02900-00200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02900-00300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02900-00400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02900-00500}}</td>
                    <td class="data right">{{data-1.02900-00600}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02900-00700}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02900-00800}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02900-00900}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02900-01000}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02900-01100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02900-01200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02900-01300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02900-01400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.02900-01500}}</td>
                    <td class="right">29</td>
                </tr>
                <tr>
                    <td class="right">30</td>
                    <td>Employee discount days (see instructions)</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03000-00100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03000-00200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03000-00300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03000-00400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03000-00500}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03000-00600}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03000-00700}}</td>
                    <td class="data right">{{data-1.03000-00800}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03000-00900}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03000-01000}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03000-01100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03000-01200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03000-01300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03000-01400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03000-01500}}</td>
                    <td class="right">30</td>
                </tr>
                <tr>
                    <td class="right">31</td>
                    <td>Employee discount days -IRF</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03100-00100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03100-00200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03100-00300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03100-00400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03100-00500}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03100-00600}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03100-00700}}</td>
                    <td class="data right">{{data-1.03100-00800}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03100-00900}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03100-01000}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03100-01100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03100-01200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03100-01300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03100-01400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03100-01500}}</td>
                    <td class="right">31</td>
                </tr>
                <tr>
                    <td class="right">32</td>
                    <td>Labor &amp; delivery (see instructions)</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03200-00100}}</td>
                    <td class="data right">{{data-1.03200-00200}}</td>
                    <td class="data right">{{data-1.03200-00300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03200-00400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03200-00500}}</td>
                    <td class="data right">{{data-1.03200-00600}}</td>
                    <td class="data right">{{data-1.03200-00700}}</td>
                    <td class="data right">{{data-1.03200-00800}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03200-00900}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03200-01000}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03200-01100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03200-01200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03200-01300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03200-01400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03200-01500}}</td>
                    <td class="right">32</td>
                </tr>
                <tr>
                    <td class="right">32.01</td>
                    <td>Total ancillary labor &amp; delivery room outpatient days (see instructions)</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03201-00100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03201-00200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03201-00300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03201-00400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03201-00500}}</td>
                    <td class="data fillgrey right">{{data-1.03201-00600}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03201-00700}}</td>
                    <td class="data right">{{data-1.03201-00800}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03201-00900}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03201-01000}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03201-01100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03201-01200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03201-01300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03201-01400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03201-01500}}</td>
                    <td class="right">32.01</td>
                </tr>
                <tr>
                    <td class="right">33</td>
                    <td>LTCH non-covered days</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03300-00100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03300-00200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03300-00300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03300-00400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03300-00500}}</td>
                    <td class="data right">{{data-1.03300-00600}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03300-00700}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03300-00800}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03300-00900}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03300-01000}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03300-01100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03300-01200}}</td>
                    <td class="data fillgrey right">{{data-1.03300-01300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03300-01400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03300-01500}}</td>
                    <td class="right">33</td>
                </tr>
                <tr>
                    <td class="right">33.01</td>
                    <td>LTCH site neutral days and discharges</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03301-00100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03301-00200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03301-00300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03301-00400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03301-00500}}</td>
                    <td class="data right">{{data-1.03301-00600}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03301-00700}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03301-00800}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03301-00900}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03301-01000}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03301-01100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03301-01200}}</td>
                    <td class="data right">{{data-1.03301-01300}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03301-01400}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03301-01500}}</td>
                    <td class="right">33.01</td>
                </tr>
                <tr>
                    <td colspan="18">FORM CMS-2552-10 (03/2018) (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS
                        PUB. 15-II, §4005.1)</td>
                </tr>
                <tr>
                    <td colspan="2"> 40-511 - 03-18</td>
                    <td colspan="14">&nbsp;</td>
                    <td colspan="2">Rev. 14</td>
                </tr>
            </tbody>
        </table>
    </div>
