<div class="report">
        <table id="report_table" id="report_table" min-width="100%" border="1" cellpadding="1" cellspacing="1">
        
            <colgroup>
                <col width="4%">
                <col width="18%">
                <col width="18%">
                <col width="18%">
                <col width="18%">
                <col width="18%">

                <col width="4%">


            </colgroup>
            <thead>
                <tr>
                    <td colspan="3">HOSPITAL CONTRACT LABOR AND BENEFIT COST</td>
                    <td>Provider CCN: <span class="data">{{pId}}</span></td>
                    <td>
                        <div>PERIOD:</div>
                        <div>FROM <span class="data">{{year.start}}</span></div>
                        <div>TO <span class="data">{{year.end}}</span></div>
                    </td>
                    <td colspan="2" rowspan="1"> WORKSHEET S-3, PART V </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="7">
                        <div>Part V - Contract Labor and Benefit Cost</div>
                        <div>Hospital and Hospital-Based Component Identification:</div>
                    </td>
                </tr>
                <tr>
                    <td colspan="4"> Component </td>
                    <td class="center">Contract Labor </td>
                    <td class="center">Benefit Cost </td>
                    <td rowspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td class="center" colspan="3">0</td>
                    <td class="center">1</td>
                    <td class="center">2</td>
                </tr>
                <tr>
                    <td class="right">1</td>
                    <td colspan="3"> Total facility contract labor and benefit cost</td>
                    <td class="data right">{{NumberFormat data-1.00100-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.00100-00200}}</td>
                    <td class="right">1</td>
                </tr>
                <tr>
                    <td class="right">2</td>
                    <td colspan="3"> Hospital</td>
                    <td class="data right">{{NumberFormat data-1.00200-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.00100-00200}}</td>
                    <td class="right">2</td>
                </tr>
                <tr>
                    <td class="right">3</td>
                    <td colspan="3"> Subprovider- IPF</td>
                    <td class="data right">{{NumberFormat data-1.00300-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.00300-00200}}</td>
                    <td class="right">3</td>
                </tr>
                <tr>
                    <td class="right">4</td>
                    <td colspan="3"> Subprovider- IRF</td>
                    <td class="data right">{{NumberFormat data-1.00400-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.00400-00200}}</td>
                    <td class="right">4</td>
                </tr>
                <tr>
                    <td class="right">5</td>
                    <td colspan="3"> Subprovider- (Other)</td>
                    <td class="data right">{{NumberFormat data-1.00500-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.00500-00200}}</td>
                    <td class="right">5</td>
                </tr>
                <tr>
                    <td class="right">6</td>
                    <td colspan="3"> Swing Beds-SNF</td>
                    <td class="data right">{{NumberFormat data-1.00600-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.00600-00200}}</td>
                    <td class="right">6</td>
                </tr>
                <tr>
                    <td class="right">7</td>
                    <td colspan="3"> Swing Beds-NF</td>
                    <td class="data right">{{NumberFormat data-1.00700-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.00700-00200}}</td>
                    <td class="right">7</td>
                </tr>
                <tr>
                    <td class="right">8</td>
                    <td colspan="3"> Hospital-Based SNF</td>
                    <td class="data right">{{NumberFormat data-1.00800-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.00800-00200}}</td>
                    <td class="right">8</td>
                </tr>
                <tr>
                    <td class="right">9</td>
                    <td colspan="3"> Hospital-Based NF</td>
                    <td class="data right">{{NumberFormat data-1.00900-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.00900-00200}}</td>
                    <td class="right">9</td>
                </tr>
                <tr>
                    <td class="right">10</td>
                    <td colspan="3"> Hospital-Based OLTC</td>
                    <td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01000-00100}}</td>
                    <td class="data fillgrey right">&nbsp;{{NumberFormat data-1.01000-00200}}</td>
                    <td class="right">10</td>
                </tr>


                <tr>
                    <td class="right">11</td>
                    <td colspan="3"> Hospital-Based HHA </td>
                    <td class="data right">{{NumberFormat data-1.01100-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.01100-00200}}</td>
                    <td class="right">11</td>
                </tr>





                <tr>
                    <td class="right">12</td>
                    <td colspan="3"> Separately Certified ASC</td>
                    <td class="data right">{{NumberFormat data-1.01200-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.01200-00200}}</td>
                    <td class="right">12</td>
                </tr>
                <tr>
                    <td class="right">13</td>
                    <td colspan="3"> Hospital-Based Hospice</td>
                    <td class="data right">{{NumberFormat data-1.01300-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.01300-00200}}</td>
                    <td class="right">13</td>
                </tr>



                <tr>
                    <td class="right">14</td>
                    <td colspan="3"> Hospital-Based Health Clinic RHC </td>
                    <td class="data right">{{NumberFormat data-1.01400-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.01400-00200}}</td>
                    <td class="right">14</td>
                </tr>

                <tr>
                    <td class="right">15</td>
                    <td colspan="3"> Hospital-Based Health Clinic FQHC </td>
                    <td class="data right">{{NumberFormat data-1.01500-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.01500-00200}}</td>
                    <td class="right">15</td>
                </tr>





                <tr>
                    <td class="right">16</td>
                    <td colspan="3"> Hospital-Based-CMHC</td>
                    <td class="data right">{{NumberFormat data-1.01600-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.01600-00200}}</td>
                    <td class="right">16</td>
                </tr>
                <tr>
                    <td class="right">17</td>
                    <td colspan="3"> Renal Dialysis</td>
                    <td class="data right">{{NumberFormat data-1.01700-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.01700-00200}}</td>
                    <td class="right">17</td>
                </tr>
                <tr>
                    <td class="right">18</td>
                    <td colspan="3"> Other</td>
                    <td class="data right">{{NumberFormat data-1.01800-00100}}</td>
                    <td class="data right">{{NumberFormat data-1.01800-00200}}</td>
                    <td class="right">18</td>
                </tr>
                <tr>
                    <td colspan="7">FORM CMS-2552-10 (09/2015) (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS
                        PUB. 15-II, SECTION 4005.5)</td>
                </tr>
                <tr>
                    <td colspan="2"> 40-515 - 09-15</td>
                    <td colspan="3">&nbsp;</td>
                    <td colspan="2">Rev. 8</td>
                </tr>
            </tbody>
        </table>
    </div>