    <div class="report">
        <table border="1" id="report_table" width="100%" cellpadding="1" cellspacing="1">
            <colgroup>
                <col width="4%">
                <col width="12%">
                <col width="8%">
                <col width="8%">
                <col width="8%">
                <col width="8%">
                <col width="8%">
                <col width="8%">
                <col width="8%">
                <col width="8%">        
                <col width="8%">
                <col width="8%">

                <col width="4%">
            </colgroup>
            <thead>
                <tr>
                    <td colspan="6">HOSPITAL-BASED HOME HEALTH AGENCY STATISTICAL DATA </td>
                    <td colspan="2">Provider CCN: <span class="data">{{pId}}</span></td>
                    <td colspan="2">
                        <div>PERIOD:</div>
                        <div>FROM <span class="data">{{year.start}}</span></div>
                        <div>TO <span class="data">{{year.end}}</span></div>
                    </td>
                    <td colspan="3"> WORKSHEET S-4</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="component" colspan="13"> Agency 1</td>
                </tr>
                <tr>
                    <td colspan="8"> HOME HEALTH AGENCY STATISTICAL DATA </td>
                    <td colspan="5">County: </td>
                </tr>
                <tr>
                    <td colspan="7" rowspan="2"> Description </td>
                    <td class="center">Title V</td>
                    <td class="center">Title XVIII</td>
                    <td class="center">Title XIX</td>
                    <td class="center">Other</td>
                    <td class="center">Total</td>
                    <td rowspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td class="center">1</td>
                    <td class="center">2</td>
                    <td class="center">3</td>
                    <td class="center">4</td>
                    <td class="center">5</td>
                </tr>
                <tr>
                    <td class="right">1</td>
                    <td colspan="6"> Home Health Aide Hours</td>
                    <td class="data right">{{data-1.00100-00100}}</td>
                    <td class="data right">{{data-1.00100-00200}}</td>
                    <td class="data right">{{data-1.00100-00300}}</td>
                    <td class="data right">{{data-1.00100-00400}}</td>
                    <td class="data right">{{data-1.00100-00500}}</td>
                    <td class="right">1</td>
                </tr>
                <tr>
                    <td class="right">2</td>
                    <td colspan="6"> Unduplicated Census Count (see instructions)</td>
                    <td class="data right">{{data-1.00200-00100}}</td>
                    <td class="data right">{{data-1.00200-00200}}</td>
                    <td class="data right">{{data-1.00200-00300}}</td>
                    <td class="data right">{{data-1.00200-00400}}</td>
                    <td class="data right">{{data-1.00200-00500}}</td>
                    <td class="right">2</td>
                </tr>
                <tr>
                    <td colspan="13"> HOME HEALTH AGENCY - NUMBER OF EMPLOYEES </td>
                </tr>
                <tr>
                    <td colspan="9" rowspan="3"> Enter the number of hours in your normal work week ______ </td>
                    <td colspan="3">Number of Employees (Full Time Equivalent) </td>
                    <td rowspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td class="center">Staff</td>
                    <td class="center">Contract</td>
                    <td class="center">Total</td>
                </tr>
                <tr>
                    <td class="center">1</td>
                    <td class="center">2</td>
                    <td class="center">3</td>
                </tr>
                <tr>
                    <td class="right">3</td>
                    <td colspan="8"> Administrator and Assistant Administrator(s)</td>
                    <td class="data right">{{data-1.00300-00100}}</td>
                    <td class="data right">{{data-1.00300-00200}}</td>
                    <td class="data right">{{data-1.00300-00300}}</td>
                    <td class="right">3</td>
                </tr>
                <tr>
                    <td class="right">4</td>
                    <td colspan="8"> Director(s) and Assistant Director(s)</td>
                    <td class="data right">{{data-1.00400-00100}}</td>
                    <td class="data right">{{data-1.00400-00200}}</td>
                    <td class="data right">{{data-1.00400-00300}}</td>
                    <td class="right">4</td>
                </tr>
                <tr>
                    <td class="right">5</td>
                    <td colspan="8"> Other Administrative Personnel</td>
                    <td class="data right">{{data-1.00500-00100}}</td>
                    <td class="data right">{{data-1.00500-00200}}</td>
                    <td class="data right">{{data-1.00500-00300}}</td>
                    <td class="right">5</td>
                </tr>
                <tr>
                    <td class="right">6</td>
                    <td colspan="8"> Direct Nursing Service</td>
                    <td class="data right">{{data-1.00600-00100}}</td>
                    <td class="data right">{{data-1.00600-00200}}</td>
                    <td class="data right">{{data-1.00600-00300}}</td>
                    <td class="right">6</td>
                </tr>
                <tr>
                    <td class="right">7</td>
                    <td colspan="8"> Nursing Supervisor</td>
                    <td class="data right">{{data-1.00700-00100}}</td>
                    <td class="data right">{{data-1.00700-00200}}</td>
                    <td class="data right">{{data-1.00700-00300}}</td>
                    <td class="right">7</td>
                </tr>
                <tr>
                    <td class="right">8</td>
                    <td colspan="8"> Physical Therapy Service</td>
                    <td class="data right">{{data-1.00800-00100}}</td>
                    <td class="data right">{{data-1.00800-00200}}</td>
                    <td class="data right">{{data-1.00800-00300}}</td>
                    <td class="right">8</td>
                </tr>
                <tr>
                    <td class="right">9</td>
                    <td colspan="8"> Physical Therapy Supervisor</td>
                    <td class="data right">{{data-1.00900-00100}}</td>
                    <td class="data right">{{data-1.00900-00200}}</td>
                    <td class="data right">{{data-1.00900-00300}}</td>
                    <td class="right">9</td>
                </tr>
                <tr>
                    <td class="right">10</td>
                    <td colspan="8"> Occupational Therapy Service</td>
                    <td class="data right">{{data-1.01000-00100}}</td>
                    <td class="data right">{{data-1.01000-00200}}</td>
                    <td class="data right">{{data-1.01000-00300}}</td>
                    <td class="right">10</td>
                </tr>
                <tr>
                    <td class="right">11</td>
                    <td colspan="8"> Occupational Therapy Supervisor</td>
                    <td class="data right">{{data-1.01100-00100}}</td>
                    <td class="data right">{{data-1.01100-00200}}</td>
                    <td class="data right">{{data-1.01100-00300}}</td>
                    <td class="right">11</td>
                </tr>
                <tr>
                    <td class="right">12</td>
                    <td colspan="8"> Speech Pathology Service</td>
                    <td class="data right">{{data-1.01200-00100}}</td>
                    <td class="data right">{{data-1.01200-00200}}</td>
                    <td class="data right">{{data-1.01200-00300}}</td>
                    <td class="right">12</td>
                </tr>
                <tr>
                    <td class="right">13</td>
                    <td colspan="8"> Speech Pathology Supervisor</td>
                    <td class="data right">{{data-1.01300-00100}}</td>
                    <td class="data right">{{data-1.01300-00200}}</td>
                    <td class="data right">{{data-1.01300-00300}}</td>
                    <td class="right">13</td>
                </tr>
                <tr>
                    <td class="right">14</td>
                    <td colspan="8"> Medical Social Service</td>
                    <td class="data right">{{data-1.01400-00100}}</td>
                    <td class="data right">{{data-1.01400-00200}}</td>
                    <td class="data right">{{data-1.01400-00300}}</td>
                    <td class="right">14</td>
                </tr>
                <tr>
                    <td class="right">15</td>
                    <td colspan="8"> Medical Social Service Supervisor</td>
                    <td class="data right">{{data-1.01500-00100}}</td>
                    <td class="data right">{{data-1.01500-00200}}</td>
                    <td class="data right">{{data-1.01500-00300}}</td>
                    <td class="right">15</td>
                </tr>
                <tr>
                    <td class="right">16</td>
                    <td colspan="8"> Home Health Aide</td>
                    <td class="data right">{{data-1.01600-00100}}</td>
                    <td class="data right">{{data-1.01600-00200}}</td>
                    <td class="data right">{{data-1.01600-00300}}</td>
                    <td class="right">16</td>
                </tr>
                <tr>
                    <td class="right">17</td>
                    <td colspan="8"> Home Health Aide Supervisor</td>
                    <td class="data right">{{data-1.01700-00100}}</td>
                    <td class="data right">{{data-1.01700-00200}}</td>
                    <td class="data right">{{data-1.01700-00300}}</td>
                    <td class="right">17</td>
                </tr>
                <tr>
                    <td class="right">18</td>
                    <td colspan="8"> Other (specify) </td>
                    <td class="data right">{{data-1.01800-00100}}</td>
                    <td class="data right">{{data-1.01800-00200}}</td>
                    <td class="data right">{{data-1.01800-00300}}</td>
                    <td class="right">18</td>
                </tr>
                <tr>
                    <td colspan="13"> HOME HEALTH AGENCY CBSA CODES </td>
                </tr>
                <tr>
                    <td class="right">19</td>
                    <td colspan="10"> Enter the number of CBSAs where you provided services during the cost reporting
                        period.</td>
                    <td class="data right">{{data-1.01900-00100}}</td>
                    <td class="right">19</td>
                </tr>
                <tr>
                    <td class="right">20</td>
                    <td colspan="10"> List those CBSA code(s) serviced during this cost reporting period (line 20
                        contains the first code).</td>
                    <td class="data right">{{data-1.02000-00100}}</td>
                    <td class="right">20</td>
                </tr>
                <tr>
                    <td class="right">20.01</td>
                    <td colspan="10"></td>
                    <td class="data right">{{data-1.02001-00100}}</td>
                    <td class="right">20.01</td>
                </tr>
                <tr>
                    <td class="right">20.02</td>
                    <td colspan="10"></td>
                    <td class="data right">{{data-1.02002-00100}}</td>
                    <td class="right">20.02</td>
                </tr>
                <tr>
                    <td class="right">20.03</td>
                    <td colspan="10"></td>
                    <td class="data right">{{data-1.02003-00100}}</td>
                    <td class="right">20.03</td>
                </tr>
                <tr>
                    <td colspan="13">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="13"> PPS ACTIVITY </td>
                </tr>
                <tr>
                    <td colspan="7" rowspan="3">&nbsp;</td>
                    <td colspan="2">Full Episodes</td>
                    <td rowspan="2"> LUPA Episodes </td>
                    <td rowspan="2"> PEP only Episodes </td>
                    <td rowspan="2">Total (columns 1 through 4) </td>
                    <td rowspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td class="center">Without Outliers </td>
                    <td class=" center">With Outliers </td>
                </tr>
                <tr>
                    <td class="center">1</td>
                    <td class="center">2</td>
                    <td class="center">3</td>
                    <td class="center">4</td>
                    <td class="center">5</td>
                </tr>
                <tr>
                    <td class="right">21</td>
                    <td colspan="6"> Skilled Nursing Visits</td>
                    <td class="data right">{{data-1.02100-00100}}</td>
                    <td class="data right">{{data-1.02100-00200}}</td>
                    <td class="data right">{{data-1.02100-00300}}</td>
                    <td class="data right">{{data-1.02100-00400}}</td>
                    <td class="data right">{{data-1.02100-00500}}</td>
                    <td class="right">21</td>
                </tr>
                <tr>
                    <td class="right">22</td>
                    <td colspan="6"> Skilled Nursing Visit Charges</td>
                    <td class="data right">{{data-1.02200-00100}}</td>
                    <td class="data right">{{data-1.02200-00200}}</td>
                    <td class="data right">{{data-1.02200-00300}}</td>
                    <td class="data right">{{data-1.02200-00400}}</td>
                    <td class="data right">{{data-1.02200-00500}}</td>
                    <td class="right">22</td>
                </tr>
                <tr>
                    <td class="right">23</td>
                    <td colspan="6"> Physical Therapy Visits</td>
                    <td class="data right">{{data-1.02300-00100}}</td>
                    <td class="data right">{{data-1.02300-00200}}</td>
                    <td class="data right">{{data-1.02300-00300}}</td>
                    <td class="data right">{{data-1.02300-00400}}</td>
                    <td class="data right">{{data-1.02300-00500}}</td>
                    <td class="right">23</td>
                </tr>
                <tr>
                    <td class="right">24</td>
                    <td colspan="6"> Physical Therapy Visit Charges</td>
                    <td class="data right">{{data-1.02400-00100}}</td>
                    <td class="data right">{{data-1.02400-00200}}</td>
                    <td class="data right">{{data-1.02400-00300}}</td>
                    <td class="data right">{{data-1.02400-00400}}</td>
                    <td class="data right">{{data-1.02400-00500}}</td>
                    <td class="right">24</td>
                </tr>
                <tr>
                    <td class="right">25</td>
                    <td colspan="6"> Occupational Therapy Visits</td>
                    <td class="data right">{{data-1.02500-00100}}</td>
                    <td class="data right">{{data-1.02500-00200}}</td>
                    <td class="data right">{{data-1.02500-00300}}</td>
                    <td class="data right">{{data-1.02500-00400}}</td>
                    <td class="data right">{{data-1.02500-00500}}</td>
                    <td class="right">25</td>
                </tr>
                <tr>
                    <td class="right">26</td>
                    <td colspan="6"> Occupational Therapy Visit Charges</td>
                    <td class="data right">{{data-1.02600-00100}}</td>
                    <td class="data right">{{data-1.02600-00200}}</td>
                    <td class="data right">{{data-1.02600-00300}}</td>
                    <td class="data right">{{data-1.02600-00400}}</td>
                    <td class="data right">{{data-1.02600-00500}}</td>
                    <td class="right">26</td>
                </tr>
                <tr>
                    <td class="right">27</td>
                    <td colspan="6"> Speech Pathology Visits</td>
                    <td class="data right">{{data-1.02700-00100}}</td>
                    <td class="data right">{{data-1.02700-00200}}</td>
                    <td class="data right">{{data-1.02700-00300}}</td>
                    <td class="data right">{{data-1.02700-00400}}</td>
                    <td class="data right">{{data-1.02700-00500}}</td>
                    <td class="right">27</td>
                </tr>
                <tr>
                    <td class="right">28</td>
                    <td colspan="6"> Speech Pathology Visit Charges</td>
                    <td class="data right">{{data-1.02800-00100}}</td>
                    <td class="data right">{{data-1.02800-00200}}</td>
                    <td class="data right">{{data-1.02800-00300}}</td>
                    <td class="data right">{{data-1.02800-00400}}</td>
                    <td class="data right">{{data-1.02800-00500}}</td>
                    <td class="right">28</td>
                </tr>
                <tr>
                    <td class="right">29</td>
                    <td colspan="6"> Medical Social Service Visits</td>
                    <td class="data right">{{data-1.02900-00100}}</td>
                    <td class="data right">{{data-1.02900-00200}}</td>
                    <td class="data right">{{data-1.02900-00300}}</td>
                    <td class="data right">{{data-1.02900-00400}}</td>
                    <td class="data right">{{data-1.02900-00500}}</td>
                    <td class="right">29</td>
                </tr>
                <tr>
                    <td class="right">30</td>
                    <td colspan="6"> Medical Social Service Visit Charges</td>
                    <td class="data right">{{data-1.03000-00100}}</td>
                    <td class="data right">{{data-1.03000-00200}}</td>
                    <td class="data right">{{data-1.03000-00300}}</td>
                    <td class="data right">{{data-1.03000-00400}}</td>
                    <td class="data right">{{data-1.03000-00500}}</td>
                    <td class="right">30</td>
                </tr>
                <tr>
                    <td class="right">31</td>
                    <td colspan="6"> Home Health Aide Visits</td>
                    <td class="data right">{{data-1.03100-00100}}</td>
                    <td class="data right">{{data-1.03100-00200}}</td>
                    <td class="data right">{{data-1.03100-00300}}</td>
                    <td class="data right">{{data-1.03100-00400}}</td>
                    <td class="data right">{{data-1.03100-00500}}</td>
                    <td class="right">31</td>
                </tr>
                <tr>
                    <td class="right">32</td>
                    <td colspan="6"> Home Health Aide Visit Charges</td>
                    <td class="data right">{{data-1.03200-00100}}</td>
                    <td class="data right">{{data-1.03200-00200}}</td>
                    <td class="data right">{{data-1.03200-00300}}</td>
                    <td class="data right">{{data-1.03200-00400}}</td>
                    <td class="data right">{{data-1.03200-00500}}</td>
                    <td class="right">32</td>
                </tr>
                <tr>
                    <td class="right">33</td>
                    <td colspan="6"> Total visits (sum of lines 21, 23, 25, 27, 29, and 31)</td>
                    <td class="data right">{{data-1.03300-00100}}</td>
                    <td class="data right">{{data-1.03300-00200}}</td>
                    <td class="data right">{{data-1.03300-00300}}</td>
                    <td class="data right">{{data-1.03300-00400}}</td>
                    <td class="data right">{{data-1.03300-00500}}</td>
                    <td class="right">33</td>
                </tr>
                <tr>
                    <td class="right">34</td>
                    <td colspan="6"> Other Charges</td>
                    <td class="data right">{{data-1.03400-00100}}</td>
                    <td class="data right">{{data-1.03400-00200}}</td>
                    <td class="data right">{{data-1.03400-00300}}</td>
                    <td class="data right">{{data-1.03400-00400}}</td>
                    <td class="data right">{{data-1.03400-00500}}</td>
                    <td class="right">34</td>
                </tr>
                <tr>
                    <td class="right">35</td>
                    <td colspan="6"> Total Charges (sum of lines 22, 24, 26, 28, 30, 32, and 34)</td>
                    <td class="data right">{{data-1.03500-00100}}</td>
                    <td class="data right">{{data-1.03500-00200}}</td>
                    <td class="data right">{{data-1.03500-00300}}</td>
                    <td class="data right">{{data-1.03500-00400}}</td>
                    <td class="data right">{{data-1.03500-00500}}</td>
                    <td class="right">35</td>
                </tr>
                <tr>
                    <td class="right">36</td>
                    <td colspan="6"> Total Number of Episodes (standard/non-outlier)</td>
                    <td class="data right">{{data-1.03600-00100}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03600-00200}}</td>
                    <td class="data right">{{data-1.03600-00300}}</td>
                    <td class="data right">{{data-1.03600-00400}}</td>
                    <td class="data right">{{data-1.03600-00500}}</td>
                    <td class="right">36</td>
                </tr>
                <tr>
                    <td class="right">37</td>
                    <td colspan="6"> Total Number of Outlier Episodes</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03700-00100}}</td>
                    <td class="data right">{{data-1.03700-00200}}</td>
                    <td class="data fillgrey right">&nbsp;{{data-1.03700-00300}}</td>
                    <td class="data right">{{data-1.03700-00400}}</td>
                    <td class="data right">{{data-1.03700-00500}}</td>
                    <td class="right">37</td>
                </tr>
                <tr>
                    <td class="right">38</td>
                    <td colspan="6"> Total Non-Routine Medical Supply Charges</td>
                    <td class="data right">{{data-1.03800-00100}}</td>
                    <td class="data right">{{data-1.03800-00200}}</td>
                    <td class="data right">{{data-1.03800-00300}}</td>
                    <td class="data right">{{data-1.03800-00400}}</td>
                    <td class="data right">{{data-1.03800-00500}}</td>
                    <td class="right">38</td>
                </tr>
                <tr>
                    <td colspan="13">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="13">FORM CMS-2552-10 (08/2011) (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS
                        PUB. 15-II, SECTION 4006)</td>
                </tr>
                <tr>
                    <td colspan="2">40-516 - 10-12</td>
                    <td colspan="9">&nbsp;</td>
                    <td colspan="2"> Rev. 3</td>
                </tr>
            </tbody>
        </table>
    </div>