<div class="report">
        <table border="1" id="report_table" width="100%" cellpadding="1" cellspacing="1">
            <colgroup>
                <col width="4%">
                <col width="15%">
                <col width="15%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="11%">
                <col width="11%">

                <col width="4%">

            </colgroup>
            <thead>
                <tr>
                    <td colspan="4">HOSPITAL RENAL DIALYSIS DEPARTMENT STATISTICAL DATA </td>
                    <td colspan="2">Provider CCN: <span class="data">{{pId}}</span></td>
                    <td colspan="2">
                        <div>PERIOD:</div>
                        <div>FROM <span class="data">{{year.start}}</span></div>
                        <div>TO <span class="data">{{year.end}}</span></div>
                    </td>
                    <td colspan="2"> WORKSHEET S-5</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="10"> RENAL DIALYSIS STATISTICS </td>
                </tr>
                <tr>
                    <td colspan="3" rowspan="3"> DESCRIPTION </td>
                    <td class="center" colspan="2"> Outpatient</td>
                    <td class="center" colspan="2"> Training</td>
                    <td class="center" colspan="2"> Home</td>
                    <td rowspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td class="center"> Regular </td>
                    <td class="center"> High Flux </td>
                    <td class="center">Hemodialysis </td>
                    <td class="center">CAPD CCPD </td>
                    <td class="center">Hemodialysis </td>
                    <td class="center">CAPD CCPD </td>
                </tr>
                <tr>
                    <td class="center">1</td>
                    <td class="center">2</td>
                    <td class="center">3</td>
                    <td class="center">4</td>
                    <td class="center">5</td>
                    <td class="center">6</td>
                </tr>
                <tr>
                    <td class="right">1</td>
                    <td colspan="2"> Number of patients in program at end of cost reporting period </td>
                    <td class="data right">{{data-1.00100-00100}}</td>
                    <td class="data right">{{data-1.00100-00200}}</td>
                    <td class="data right">{{data-1.00100-00300}}</td>
                    <td class="data right">{{data-1.00100-00400}}</td>
                    <td class="data right">{{data-1.00100-00500}}</td>
                    <td class="data right">{{data-1.00100-00600}}</td>
                    <td class="right">1</td>
                </tr>
                <tr>
                    <td class="right">2</td>
                    <td colspan="2"> Number of times per week patient receives dialysis </td>
                    <td class="data right">{{data-1.00200-00100}}</td>
                    <td class="data right">{{data-1.00200-00200}}</td>
                    <td class="data right">{{data-1.00200-00300}}</td>
                    <td class="data right">{{data-1.00200-00400}}</td>
                    <td class="data right">{{data-1.00200-00500}}</td>
                    <td class="data right">{{data-1.00200-00600}}</td>
                    <td class="right">2</td>
                </tr>
                <tr>
                    <td class="right">3</td>
                    <td colspan="2"> Average patient dialysis time including setup</td>
                    <td class="data right">{{data-1.00300-00100}}</td>
                    <td class="data right">{{data-1.00300-00200}}</td>
                    <td class="data right">{{data-1.00300-00300}}</td>
                    <td class="data right">{{data-1.00300-00400}}</td>
                    <td class="data fillgrey">&nbsp;{{data-1.00300-00500}}</td>
                    <td class="data fillgrey">&nbsp;{{data-1.00300-00600}}</td>
                    <td class="right">3</td>
                </tr>
                <tr>
                    <td class="right">4</td>
                    <td colspan="2"> CAPD exchanges per day</td>
                    <td class="data fillgrey">&nbsp;{{data-1.00400-00100}}</td>
                    <td class="data fillgrey">&nbsp;{{data-1.00400-00200}}</td>
                    <td class="data fillgrey">&nbsp;{{data-1.00400-00300}}</td>
                    <td class="data right">{{data-1.00400-00400}}</td>
                    <td class="data fillgrey">&nbsp;{{data-1.00400-00500}}</td>
                    <td class="data right">{{data-1.00400-00600}}</td>
                    <td class="right">4</td>
                </tr>
                <tr>
                    <td class="right">5</td>
                    <td colspan="2"> Number of days in year dialysis furnished</td>
                    <td class="data right">{{data-1.00500-00100}}</td>
                    <td class="data right">{{data-1.00500-00200}}</td>
                    <td class="data fillgrey">&nbsp;{{data-1.00500-00300}}</td>
                    <td class="data fillgrey">&nbsp;{{data-1.00500-00400}}</td>
                    <td class="data fillgrey">&nbsp;{{data-1.00500-00500}}</td>
                    <td class="data fillgrey">&nbsp;{{data-1.00500-00600}}</td>
                    <td class="right">5</td>
                </tr>
                <tr>
                    <td class="right">6</td>
                    <td colspan="2"> Number of stations</td>
                    <td class="data right">{{data-1.00600-00100}}</td>
                    <td class="data right">{{data-1.00600-00200}}</td>
                    <td class="data right">{{data-1.00600-00300}}</td>
                    <td class="data right">{{data-1.00600-00400}}</td>
                    <td class="data fillgrey">&nbsp;{{data-1.00600-00500}}</td>
                    <td class="data fillgrey">&nbsp;{{data-1.00600-00600}}</td>
                    <td class="right">6</td>
                </tr>
                <tr>
                    <td class="right">7</td>
                    <td colspan="2"> Treatment capacity per day per station</td>
                    <td class="data right">{{data-1.00700-00100}}</td>
                    <td class="data right">{{data-1.00700-00200}}</td>
                    <td class="data fillgrey">&nbsp;{{data-1.00700-00300}}</td>
                    <td class="data fillgrey">&nbsp;{{data-1.00700-00400}}</td>
                    <td class="data fillgrey">&nbsp;{{data-1.00700-00500}}</td>
                    <td class="data fillgrey">&nbsp;{{data-1.00700-00600}}</td>
                    <td class="right">7</td>
                </tr>
                <tr>
                    <td class="right">8</td>
                    <td colspan="2"> Utilization (see instructions)</td>
                    <td class="data right">{{data-1.00800-00100}}</td>
                    <td class="data right">{{data-1.00800-00200}}</td>
                    <td class="data fillgrey">&nbsp;{{data-1.00800-00300}}</td>
                    <td class="data fillgrey">&nbsp;{{data-1.00800-00400}}</td>
                    <td class="data fillgrey">&nbsp;{{data-1.00800-00500}}</td>
                    <td class="data fillgrey">&nbsp;{{data-1.00800-00600}}</td>
                    <td class="right">8</td>
                </tr>
                <tr>
                    <td class="right">9</td>
                    <td colspan="2"> Average times dialyzers re-used</td>
                    <td class="data right">{{data-1.00900-00100}}</td>
                    <td class="data right">{{data-1.00900-00200}}</td>
                    <td class="data fillgrey">&nbsp;{{data-1.00900-00300}}</td>
                    <td class="data fillgrey">&nbsp;{{data-1.00900-00400}}</td>
                    <td class="data fillgrey">&nbsp;{{data-1.00900-00500}}</td>
                    <td class="data fillgrey">&nbsp;{{data-1.00900-00600}}</td>
                    <td class="right">9</td>
                </tr>
                <tr>
                    <td class="right">10</td>
                    <td colspan="2"> Percentage of patients re-using dialyzers</td>
                    <td class="data right">{{data-1.01000-00100}}</td>
                    <td class="data right">{{data-1.01000-00200}}</td>
                    <td class="data fillgrey">&nbsp;{{data-1.01000-00300}}</td>
                    <td class="data fillgrey">&nbsp;{{data-1.01000-00400}}</td>
                    <td class="data fillgrey">&nbsp;{{data-1.01000-00500}}</td>
                    <td class="data fillgrey">&nbsp;{{data-1.01000-00600}}</td>
                    <td class="right">10</td>
                </tr>
                <tr>
                    <td class="left" colspan="7">ESRD PPS</td>
                    <td class="center">1</td>
                    <td class="center">2</td>
                    <td class="right">&nbsp;</td>
                </tr>
                <tr>
                    <td class="right">10.01</td>
                    <td colspan="6">Is the dialysis facility approved as a low-volume facility for this cost reporting
                        period? Enter "Y" for yes or "N" for no. (see instructions)</td>
                    <td class="data center">{{data-1.01001-00100}}</td>
                    <td class="data fillgrey">&nbsp;{{data-1.01001-00200}}</td>
                    <td class="right">10.01</td>
                </tr>
                <tr>
                    <td class="right">10.02</td>
                    <td colspan="6">Did your facility elect 100% PPS effective January 1, 2011? Enter "Y" for yes or "N"
                        for no. (See instructions for "new" providers.)</td>
                    <td class="data center">{{data-1.01002-00100}}</td>
                    <td class="data fillgrey">&nbsp;{{data-1.01002-00200}}</td>
                    <td class="right">10.02</td>
                </tr>
                <tr>
                    <td class="right">10.03</td>
                    <td colspan="6">If you responded "N" to line 10.02,
                        enter in column 1 the year of transition for periods
                        prior to January 1 and enter in column 2 the year of
                        transition for periods after December 31. (see instructions) </td>
                    <td class="data right">{{data-1.01003-00100}}</td>
                    <td class="data center">{{data-1.01003-00200}}</td>
                    <td class="right">10.03</td>
                </tr>
                <tr>
                    <td colspan="10">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="10"> TRANSPLANT INFORMATION </td>
                </tr>
                <tr>
                    <td class="right">11</td>
                    <td colspan="7"> Number of patients on transplant list</td>
                    <td class="data right">{{data-1.01100-00100}}</td>
                    <td class="right">11</td>
                </tr>
                <tr>
                    <td class="right">12</td>
                    <td colspan="7"> Number of patients transplanted during the cost reporting period</td>
                    <td class="data right">{{data-1.01200-00100}}</td>
                    <td class="right">12</td>
                </tr>
                <tr>
                    <td colspan="10">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="10"> EPOETIN </td>
                </tr>
                <tr>
                    <td class="right">13</td>
                    <td colspan="7"> Net costs of Epoetin furnished to all maintenance dialysis patients by the provider
                    </td>
                    <td class="data right">{{data-1.01300-00100}}</td>
                    <td class="right">13</td>
                </tr>
                <tr>
                    <td class="right">14</td>
                    <td colspan="7"> Epoetin amount from Worksheet A for home dialysis program</td>
                    <td class="data right">{{data-1.01400-00100}}</td>
                    <td class="right">14</td>
                </tr>
                <tr>
                    <td class="right">15</td>
                    <td colspan="7"> Number of EPO units furnished relating to the renal dialysis department</td>
                    <td class="data right">{{data-1.01500-00100}}</td>
                    <td class="right">15</td>
                </tr>
                <tr>
                    <td class="right">16</td>
                    <td colspan="7"> Number of EPO units furnished relating to the home dialysis department</td>
                    <td class="data right">{{data-1.01600-00100}}</td>
                    <td class="right">16</td>
                </tr>
                <tr>
                    <td colspan="10">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="10"> ARANESP </td>
                </tr>
                <tr>
                    <td class="right">17</td>
                    <td colspan="7"> Net costs of ARANESP furnished to all maintenance dialysis patients by the provider
                    </td>
                    <td class="data right">{{data-1.01700-00100}}</td>
                    <td class="right">17</td>
                </tr>
                <tr>
                    <td class="right">18</td>
                    <td colspan="7"> ARANESP amount from Worksheet A for home dialysis program</td>
                    <td class="data right">{{data-1.01800-00100}}</td>
                    <td class="right">18</td>
                </tr>
                <tr>
                    <td class="right">19</td>
                    <td colspan="7"> Number of ARANESP units furnished relating to the renal dialysis department</td>
                    <td class="data right">{{data-1.01900-00100}}</td>
                    <td class="right">19</td>
                </tr>
                <tr>
                    <td class="right">20</td>
                    <td colspan="7"> Number of ARANESP units furnished relating to the home dialysis department</td>
                    <td class="data right">{{data-1.02000-00100}}</td>
                    <td class="right">20</td>
                </tr>
                <tr>
                    <td colspan="10">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="10"> PHYSICIAN PAYMENT METHOD (Enter "X" for applicable method(s)) </td>
                </tr>
                <tr>
                    <td class="right">21</td>
                    <td colspan="2"> MCP:_###_</td>
                    <td colspan="2">INITIAL METHOD: __</td>
                    <td colspan="4">&nbsp;</td>
                    <td class="right">21</td>
                </tr>

                <tr>
                    <td class="left" colspan="4" rowspan="2">Erythropoiesis-Stimulating Agents (ESA) Statistics:</td>
                    <td class="center">ESA Description</td>
                    <td class="center">Net Cost of ESAs for Renal Patients</td>
                    <td class="center">Net Cost of ESAs for Home Patients</td>
                    <td class="center">Number of ESA Units - Renal Dialysis Dept.</td>
                    <td class="center">Number of ESA Units - Home Dialysis Dept.</td>
                    <td class="right" rowspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td class="center">1</td>
                    <td class="center">2</td>
                    <td class="center">3</td>
                    <td class="center">4</td>
                    <td class="center">5</td>
                </tr>
                <tr>
                    <td class="right">22</td>
                    <td class="left" colspan="3">Enter in column 1 the ESA
                        description. Enter in column 2 the net costs of ESAs
                        furnished to all renal dialysis patients.Enter in
                        column 3 the net cost of ESAs furnished to all home
                        dialysis program patients. Enter in column 4 the number
                        of ESA units furnished to patients in the renal
                        dialysis department. Enter in column 5 the number of
                        units furnished to patients in the home dialysis
                        program. (see instructions)</td>
                    <td class="data" class="left">{{data-1.02200-00100}}</td>
                    <td class="data right">{{data-1.02200-00200}}</td>
                    <td class="data right">{{data-1.02200-00300}}</td>
                    <td class="data right">{{data-1.02200-00400}}</td>
                    <td class="data right">{{data-1.02200-00500}}</td>
                    <td class="right">22</td>
                </tr>



                <tr>
                    <td colspan="10">&nbsp;</td>
                </tr>



                <tr>
                    <td class="left" colspan="5" rowspan="2">Low Volume</td>
                    <td class="center">CCN</td>
                    <td class="center">Treatments </td>
                    <td class="fillgrey">&nbsp;</td>
                    <td class="fillgrey">&nbsp;</td>
                    <td class="right" rowspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td class="center">1</td>
                    <td class="center">2</td>
                    <td class="fillgrey">&nbsp;</td>
                    <td class="fillgrey">&nbsp;</td>
                </tr>
                <tr>
                    <td class="right">23</td>


                    <td class="left" colspan="4">
                        If line 10.01 is yes, enter in column 1 the CCN for
                        each renal dialysis facility listed Worksheet S-2, Part
                        I, line 18, and its subscripts. Enter in column 2, the
                        total treatments for each CCN. (see instructions)
                    </td>
                    <td class="data center">{{data-1.02300-00100}}</td>
                    <td class="data right">{{data-1.02300-00200}}</td>
                    <td class="fillgrey">&nbsp;</td>
                    <td class="fillgrey">&nbsp;</td>
                    <td class="right">23</td>
                </tr>





                <tr>
                    <td colspan="10">&nbsp;</td>
                </tr>

                <tr>
                    <td class="left" colspan="10">FORM CMS-2552-10 (11/2016) (INSTRUCTIONS FOR THIS WORKSHEET ARE
                        PUBLISHED IN CMS PUB. 15-II, SECTION 4007)</td>
                </tr>
                <tr>
                    <td colspan="2"> 40-517 - 11-16</td>
                    <td colspan="6">&nbsp;</td>
                    <td colspan="2">Rev. 10</td>
                </tr>
            </tbody>
        </table>

    </div>