<div class="report">
        <table border="1" id="report_table" width="100%" cellpadding="1" cellspacing="1">
            <colgroup>
                <col width="4%">
                <col width="53%">
                <col width="13%">
                <col width="13%">
                <col width="13%">
                <col width="4%">
            </colgroup>
            <thead>
                <tr>
                    <td colspan="2">PROSPECTIVE PAYMENT FOR SNF STATISTICAL DATA </td>
                    <td>Provider CCN: <span class="data">{{pId}}</span></td>
                    <td>
                        <div>PERIOD:</div>
                        <div>FROM <span class="data">{{year.start}}</span></div>
                        <div>TO <span class="data">{{year.end}}</span></div>
                    </td>
                    <td colspan="2"> WORKSHEET S-7</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="6">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3" rowspan="2">&nbsp;</td>
                    <td class="center">Y/N</td>
                    <td class="center">Date</td>
                    <td rowspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td class="center">1</td>
                    <td class="center">2</td>
                </tr>
                <tr>
                    <td class="right">1</td>
                    <td colspan="2"> If this facility contains a hospital-based SNF, were all patients under managed
                        care or was there no Medicare utilization? Enter "Y" for yes and do not complete the rest of
                        this worksheet. </td>
                    <td class="data center">{{data-1.00100-00100}}</td>
                    <td class="data center">&nbsp;{{data-1.00100-00200}}</td>
                    <td class="right">1</td>
                </tr>
                <tr>
                    <td class="right">2</td>
                    <td colspan="2"> Does this hospital have an agreement under either section 1883 or section 1913 for
                        swing beds? Enter "Y" for yes or "N" for no in column 1. If yes, enter the agreement date
                        (mm/dd/yyyy) in column 2. </td>
                    <td class="data center">{{data-1.00200-00100}}</td>
                    <td class="data center">{{data-1.00200-00200}}</td>
                    <td class="right">2</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td class="center"> Group </td>
                    <td class="center">SNF Days </td>
                    <td class="center">Swing Bed SNF Days </td>
                    <td class="center">TOTAL (sum of col. 2 + 3) </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td class="center"> 1 </td>
                    <td class="center">2</td>
                    <td class="center">3</td>
                    <td class="center">4</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="right">3</td>
                    <td>RUX</td>
                    <td class="data right">{{data-1.00300-00100}}</td>
                    <td class="data right">{{data-1.00300-00200}}</td>
                    <td class="data right">{{data-1.00300-00300}}</td>
                    <td class="right">3</td>
                </tr>
                <tr>
                    <td class="right">4</td>
                    <td>RUL</td>
                    <td class="data right">{{data-1.00400-00100}}</td>
                    <td class="data right">{{data-1.00400-00200}}</td>
                    <td class="data right">{{data-1.00400-00300}}</td>
                    <td class="right">4</td>
                </tr>
                <tr>
                    <td class="right">5</td>
                    <td>RVX</td>
                    <td class="data right">{{data-1.00500-00100}}</td>
                    <td class="data right">{{data-1.00500-00200}}</td>
                    <td class="data right">{{data-1.00500-00300}}</td>
                    <td class="right">5</td>
                </tr>
                <tr>
                    <td class="right">6</td>
                    <td>RVL</td>
                    <td class="data right">{{data-1.00600-00100}}</td>
                    <td class="data right">{{data-1.00600-00200}}</td>
                    <td class="data right">{{data-1.00600-00300}}</td>
                    <td class="right">6</td>
                </tr>
                <tr>
                    <td class="right">7</td>
                    <td>RHX</td>
                    <td class="data right">{{data-1.00700-00100}}</td>
                    <td class="data right">{{data-1.00700-00200}}</td>
                    <td class="data right">{{data-1.00700-00300}}</td>
                    <td class="right">7</td>
                </tr>
                <tr>
                    <td class="right">8</td>
                    <td>RHL</td>
                    <td class="data right">{{data-1.00800-00100}}</td>
                    <td class="data right">{{data-1.00800-00200}}</td>
                    <td class="data right">{{data-1.00800-00300}}</td>
                    <td class="right">8</td>
                </tr>
                <tr>
                    <td class="right">9</td>
                    <td>RMX</td>
                    <td class="data right">{{data-1.00900-00100}}</td>
                    <td class="data right">{{data-1.00900-00200}}</td>
                    <td class="data right">{{data-1.00900-00300}}</td>
                    <td class="right">9</td>
                </tr>
                <tr>
                    <td class="right">10</td>
                    <td>RML</td>
                    <td class="data right">{{data-1.01000-00100}}</td>
                    <td class="data right">{{data-1.01000-00200}}</td>
                    <td class="data right">{{data-1.01000-00300}}</td>
                    <td class="right">10</td>
                </tr>
                <tr>
                    <td class="right">11</td>
                    <td>RLX</td>
                    <td class="data right">{{data-1.01100-00100}}</td>
                    <td class="data right">{{data-1.01100-00200}}</td>
                    <td class="data right">{{data-1.01100-00300}}</td>
                    <td class="right">11</td>
                </tr>
                <tr>
                    <td class="right">12</td>
                    <td>RUC</td>
                    <td class="data right">{{data-1.01200-00100}}</td>
                    <td class="data right">{{data-1.01200-00200}}</td>
                    <td class="data right">{{data-1.01200-00300}}</td>
                    <td class="right">12</td>
                </tr>
                <tr>
                    <td class="right">13</td>
                    <td>RUB</td>
                    <td class="data right">{{data-1.01300-00100}}</td>
                    <td class="data right">{{data-1.01300-00200}}</td>
                    <td class="data right">{{data-1.01300-00300}}</td>
                    <td class="right">13</td>
                </tr>
                <tr>
                    <td class="right">14</td>
                    <td>RUA</td>
                    <td class="data right">{{data-1.01400-00100}}</td>
                    <td class="data right">{{data-1.01400-00200}}</td>
                    <td class="data right">{{data-1.01400-00300}}</td>
                    <td class="right">14</td>
                </tr>
                <tr>
                    <td class="right">15</td>
                    <td>RVC</td>
                    <td class="data right">{{data-1.01500-00100}}</td>
                    <td class="data right">{{data-1.01500-00200}}</td>
                    <td class="data right">{{data-1.01500-00300}}</td>
                    <td class="right">15</td>
                </tr>
                <tr>
                    <td class="right">16</td>
                    <td>RVB</td>
                    <td class="data right">{{data-1.01600-00100}}</td>
                    <td class="data right">{{data-1.01600-00200}}</td>
                    <td class="data right">{{data-1.01600-00300}}</td>
                    <td class="right">16</td>
                </tr>
                <tr>
                    <td class="right">17</td>
                    <td>RVA</td>
                    <td class="data right">{{data-1.01600-00100}}</td>
                    <td class="data right">{{data-1.01700-00200}}</td>
                    <td class="data right">{{data-1.01700-00300}}</td>
                    <td class="right">17</td>
                </tr>
                <tr>
                    <td class="right">18</td>
                    <td>RHC</td>
                    <td class="data right">{{data-1.01800-00100}}</td>
                    <td class="data right">{{data-1.01800-00200}}</td>
                    <td class="data right">{{data-1.01800-00300}}</td>
                    <td class="right">18</td>
                </tr>
                <tr>
                    <td class="right">19</td>
                    <td>RHB</td>
                    <td class="data right">{{data-1.01900-00100}}</td>
                    <td class="data right">{{data-1.01900-00200}}</td>
                    <td class="data right">{{data-1.01900-00300}}</td>
                    <td class="right">19</td>
                </tr>
                <tr>
                    <td class="right">20</td>
                    <td>RHA</td>
                    <td class="data right">{{data-1.02000-00100}}</td>
                    <td class="data right">{{data-1.02000-00200}}</td>
                    <td class="data right">{{data-1.02000-00300}}</td>
                    <td class="right">20</td>
                </tr>
                <tr>
                    <td class="right">21</td>
                    <td>RMC</td>
                    <td class="data right">{{data-1.02100-00100}}</td>
                    <td class="data right">{{data-1.02100-00200}}</td>
                    <td class="data right">{{data-1.02100-00300}}</td>
                    <td class="right">21</td>
                </tr>
                <tr>
                    <td class="right">22</td>
                    <td>RMB</td>
                    <td class="data right">{{data-1.02200-00100}}</td>
                    <td class="data right">{{data-1.02200-00200}}</td>
                    <td class="data right">{{data-1.02200-00300}}</td>
                    <td class="right">22</td>
                </tr>
                <tr>
                    <td class="right">23</td>
                    <td>RMA</td>
                    <td class="data right">{{data-1.02300-00100}}</td>
                    <td class="data right">{{data-1.02300-00200}}</td>
                    <td class="data right">{{data-1.02300-00300}}</td>
                    <td class="right">23</td>
                </tr>
                <tr>
                    <td class="right">24</td>
                    <td>RLB</td>
                    <td class="data right">{{data-1.02400-00100}}</td>
                    <td class="data right">{{data-1.02400-00200}}</td>
                    <td class="data right">{{data-1.02400-00300}}</td>
                    <td class="right">24</td>
                </tr>
                <tr>
                    <td class="right">25</td>
                    <td>RLA</td>
                    <td class="data right">{{data-1.02500-00100}}</td>
                    <td class="data right">{{data-1.02500-00200}}</td>
                    <td class="data right">{{data-1.02500-00300}}</td>
                    <td class="right">25</td>
                </tr>
                <tr>
                    <td class="right">26</td>
                    <td>ES3</td>
                    <td class="data right">{{data-1.02600-00100}}</td>
                    <td class="data right">{{data-1.02600-00200}}</td>
                    <td class="data right">{{data-1.02600-00300}}</td>
                    <td class="right">26</td>
                </tr>
                <tr>
                    <td class="right">27</td>
                    <td>ES2</td>
                    <td class="data right">{{data-1.02700-00100}}</td>
                    <td class="data right">{{data-1.02700-00200}}</td>
                    <td class="data right">{{data-1.02700-00300}}</td>
                    <td class="right">27</td>
                </tr>
                <tr>
                    <td class="right">28</td>
                    <td>ES1</td>
                    <td class="data right">{{data-1.02800-00100}}</td>
                    <td class="data right">{{data-1.02800-00200}}</td>
                    <td class="data right">{{data-1.02800-00300}}</td>
                    <td class="right">28</td>
                </tr>
                <tr>
                    <td class="right">29</td>
                    <td>HE2</td>
                    <td class="data right">{{data-1.02900-00100}}</td>
                    <td class="data right">{{data-1.02900-00200}}</td>
                    <td class="data right">{{data-1.02900-00300}}</td>
                    <td class="right">29</td>
                </tr>
                <tr>
                    <td class="right">30</td>
                    <td>HE1</td>
                    <td class="data right">{{data-1.03000-00100}}</td>
                    <td class="data right">{{data-1.03000-00200}}</td>
                    <td class="data right">{{data-1.03000-00300}}</td>
                    <td class="right">30</td>
                </tr>
                <tr>
                    <td class="right">31</td>
                    <td>HD2</td>
                    <td class="data right">{{data-1.03100-00100}}</td>
                    <td class="data right">{{data-1.03100-00200}}</td>
                    <td class="data right">{{data-1.03100-00300}}</td>
                    <td class="right">31</td>
                </tr>
                <tr>
                    <td class="right">32</td>
                    <td>HD1</td>
                    <td class="data right">{{data-1.03200-00100}}</td>
                    <td class="data right">{{data-1.03200-00200}}</td>
                    <td class="data right">{{data-1.03200-00300}}</td>
                    <td class="right">32</td>
                </tr>
                <tr>
                    <td class="right">33</td>
                    <td>HC2</td>
                    <td class="data right">{{data-1.03300-00100}}</td>
                    <td class="data right">{{data-1.03300-00200}}</td>
                    <td class="data right">{{data-1.03300-00300}}</td>
                    <td class="right">33</td>
                </tr>
                <tr>
                    <td class="right">34</td>
                    <td>HC1</td>
                    <td class="data right">{{data-1.03400-00100}}</td>
                    <td class="data right">{{data-1.03400-00200}}</td>
                    <td class="data right">{{data-1.03400-00300}}</td>
                    <td class="right">34</td>
                </tr>
                <tr>
                    <td class="right">35</td>
                    <td>HB2</td>
                    <td class="data right">{{data-1.03500-00100}}</td>
                    <td class="data right">{{data-1.03600-00100}}</td>
                    <td class="data right">{{data-1.03700-00100}}</td>
                    <td class="right">35</td>
                </tr>
                <tr>
                    <td class="right">36</td>
                    <td>HB1</td>
                    <td class="data right">{{data-1.03600-00100}}</td>
                    <td class="data right">{{data-1.03600-00200}}</td>
                    <td class="data right">{{data-1.03600-00300}}</td>
                    <td class="right">36</td>
                </tr>
                <tr>
                    <td class="right">37</td>
                    <td>LE2</td>
                    <td class="data right">{{data-1.03700-00100}}</td>
                    <td class="data right">{{data-1.03700-00200}}</td>
                    <td class="data right">{{data-1.03700-00300}}</td>
                    <td class="right">37</td>
                </tr>
                <tr>
                    <td class="right">38</td>
                    <td>LE1</td>
                    <td class="data right">{{data-1.03700-00100}}</td>
                    <td class="data right">{{data-1.03800-00200}}</td>
                    <td class="data right">{{data-1.03800-00300}}</td>
                    <td class="right">38</td>
                </tr>
                <tr>
                    <td class="right">39</td>
                    <td>LD2</td>
                    <td class="data right">{{data-1.03900-00100}}</td>
                    <td class="data right">{{data-1.03900-00200}}</td>
                    <td class="data right">{{data-1.03900-00300}}</td>
                    <td class="right">39</td>
                </tr>
                <tr>
                    <td class="right">40</td>
                    <td>LD1</td>
                    <td class="data right">{{data-1.04000-00100}}</td>
                    <td class="data right">{{data-1.04000-00200}}</td>
                    <td class="data right">{{data-1.04000-00300}}</td>
                    <td class="right">40</td>
                </tr>
                <tr>
                    <td class="right">41</td>
                    <td>LC2</td>
                    <td class="data right">{{data-1.04100-00100}}</td>
                    <td class="data right">{{data-1.04100-00200}}</td>
                    <td class="data right">{{data-1.04100-00300}}</td>
                    <td class="right">41</td>
                </tr>
                <tr>
                    <td class="right">42</td>
                    <td>LC1</td>
                    <td class="data right">{{data-1.04200-00100}}</td>
                    <td class="data right">{{data-1.04200-00200}}</td>
                    <td class="data right">{{data-1.04200-00300}}</td>
                    <td class="right">42</td>
                </tr>
                <tr>
                    <td class="right">43</td>
                    <td>LB2</td>
                    <td class="data right">{{data-1.04300-00100}}</td>
                    <td class="data right">{{data-1.04300-00200}}</td>
                    <td class="data right">{{data-1.04300-00300}}</td>
                    <td class="right">43</td>
                </tr>
                <tr>
                    <td class="right">44</td>
                    <td>LB1</td>
                    <td class="data right">{{data-1.04400-00100}}</td>
                    <td class="data right">{{data-1.04400-00200}}</td>
                    <td class="data right">{{data-1.04400-00300}}</td>
                    <td class="right">44</td>
                </tr>
                <tr>
                    <td class="right">45</td>
                    <td>CE2</td>
                    <td class="data right">{{data-1.04500-00100}}</td>
                    <td class="data right">{{data-1.04500-00200}}</td>
                    <td class="data right">{{data-1.04500-00300}}</td>
                    <td class="right">45</td>
                </tr>
                <tr>
                    <td class="right">46</td>
                    <td>CE1</td>
                    <td class="data right">{{data-1.04600-00100}}</td>
                    <td class="data right">{{data-1.04600-00200}}</td>
                    <td class="data right">{{data-1.04600-00300}}</td>
                    <td class="right">46</td>
                </tr>
                <tr>
                    <td class="right">47</td>
                    <td>CD2</td>
                    <td class="data right">{{data-1.04700-00100}}</td>
                    <td class="data right">{{data-1.04700-00200}}</td>
                    <td class="data right">{{data-1.04700-00300}}</td>
                    <td class="right">47</td>
                </tr>
                <tr>
                    <td class="right">48</td>
                    <td>CD1</td>
                    <td class="data right">{{data-1.04800-00100}}</td>
                    <td class="data right">{{data-1.04800-00200}}</td>
                    <td class="data right">{{data-1.04800-00300}}</td>
                    <td class="right">48</td>
                </tr>
                <tr>
                    <td class="right">49</td>
                    <td>CC2</td>
                    <td class="data right">{{data-1.04900-00100}}</td>
                    <td class="data right">{{data-1.04900-00200}}</td>
                    <td class="data right">{{data-1.04900-00300}}</td>
                    <td class="right">49</td>
                </tr>
                <tr>
                    <td class="right">50</td>
                    <td>CC1</td>
                    <td class="data right">{{data-1.05000-00100}}</td>
                    <td class="data right">{{data-1.05000-00200}}</td>
                    <td class="data right">{{data-1.05000-00300}}</td>
                    <td class="right">50</td>
                </tr>
                <tr>
                    <td class="right">51</td>
                    <td>CB2</td>
                    <td class="data right">{{data-1.05100-00100}}</td>
                    <td class="data right">{{data-1.05100-00200}}</td>
                    <td class="data right">{{data-1.05100-00300}}</td>
                    <td class="right">51</td>
                </tr>
                <tr>
                    <td class="right">52</td>
                    <td>CB1</td>
                    <td class="data right">{{data-1.05200-00100}}</td>
                    <td class="data right">{{data-1.05200-00200}}</td>
                    <td class="data right">{{data-1.05200-00300}}</td>
                    <td class="right">52</td>
                </tr>
                <tr>
                    <td class="right">53</td>
                    <td>CA2</td>
                    <td class="data right">{{data-1.05300-00100}}</td>
                    <td class="data right">{{data-1.05300-00200}}</td>
                    <td class="data right">{{data-1.05300-00300}}</td>
                    <td class="right">53</td>
                </tr>
                <tr>
                    <td class="right">54</td>
                    <td>CA1</td>
                    <td class="data right">{{data-1.05400-00100}}</td>
                    <td class="data right">{{data-1.05400-00200}}</td>
                    <td class="data right">{{data-1.05400-00300}}</td>
                    <td class="right">54</td>
                </tr>
                <tr>
                    <td class="right">55</td>
                    <td>SE3</td>
                    <td class="data right">{{data-1.05400-00100}}</td>
                    <td class="data right">{{data-1.05500-00200}}</td>
                    <td class="data right">{{data-1.05500-00300}}</td>
                    <td class="right">55</td>
                </tr>
                <tr>
                    <td class="right">56</td>
                    <td>SE2</td>
                    <td class="data right">{{data-1.05600-00100}}</td>
                    <td class="data right">{{data-1.05600-00200}}</td>
                    <td class="data right">{{data-1.05600-00300}}</td>
                    <td class="right">56</td>
                </tr>
                <tr>
                    <td class="right">57</td>
                    <td>SE1</td>
                    <td class="data right">{{data-1.05700-00100}}</td>
                    <td class="data right">{{data-1.05700-00200}}</td>
                    <td class="data right">{{data-1.05700-00300}}</td>
                    <td class="right">57</td>
                </tr>
                <tr>
                    <td class="right">58</td>
                    <td>SSC</td>
                    <td class="data right">{{data-1.05800-00100}}</td>
                    <td class="data right">{{data-1.05800-00200}}</td>
                    <td class="data right">{{data-1.05800-00300}}</td>
                    <td class="right">58</td>
                </tr>
                <tr>
                    <td class="right">59</td>
                    <td>SSB</td>
                    <td class="data right">{{data-1.05900-00100}}</td>
                    <td class="data right">{{data-1.05900-00200}}</td>
                    <td class="data right">{{data-1.05900-00300}}</td>
                    <td class="right">59</td>
                </tr>
                <tr>
                    <td class="right">60</td>
                    <td>SSA</td>
                    <td class="data right">{{data-1.06000-00100}}</td>
                    <td class="data right">{{data-1.06000-00200}}</td>
                    <td class="data right">{{data-1.06000-00300}}</td>
                    <td class="right">60</td>
                </tr>
                <tr>
                    <td class="right">61</td>
                    <td>IB2</td>
                    <td class="data right">{{data-1.06100-00100}}</td>
                    <td class="data right">{{data-1.06100-00200}}</td>
                    <td class="data right">{{data-1.06100-00300}}</td>
                    <td class="right">61</td>
                </tr>
                <tr>
                    <td class="right">62</td>
                    <td>IB1</td>
                    <td class="data right">{{data-1.06200-00100}}</td>
                    <td class="data right">{{data-1.06200-00200}}</td>
                    <td class="data right">{{data-1.06200-00300}}</td>
                    <td class="right">62</td>
                </tr>
                <tr>
                    <td class="right">63</td>
                    <td>IA2</td>
                    <td class="data right">{{data-1.06300-00100}}</td>
                    <td class="data right">{{data-1.06300-00200}}</td>
                    <td class="data right">{{data-1.06300-00300}}</td>
                    <td class="right">63</td>
                </tr>
                <tr>
                    <td class="right">64</td>
                    <td>IA1</td>
                    <td class="data right">{{data-1.06400-00100}}</td>
                    <td class="data right">{{data-1.06400-00200}}</td>
                    <td class="data right">{{data-1.06400-00300}}</td>
                    <td class="right">64</td>
                </tr>
                <tr>
                    <td class="right">65</td>
                    <td>BB2</td>
                    <td class="data right">{{data-1.06500-00100}}</td>
                    <td class="data right">{{data-1.06500-00200}}</td>
                    <td class="data right">{{data-1.06500-00300}}</td>
                    <td class="right">65</td>
                </tr>
                <tr>
                    <td class="right">66</td>
                    <td>BB1</td>
                    <td class="data right">{{data-1.06600-00100}}</td>
                    <td class="data right">{{data-1.06600-00200}}</td>
                    <td class="data right">{{data-1.06600-00300}}</td>
                    <td class="right">66</td>
                </tr>
                <tr>
                    <td class="right">67</td>
                    <td>BA2</td>
                    <td class="data right">{{data-1.06700-00100}}</td>
                    <td class="data right">{{data-1.06700-00200}}</td>
                    <td class="data right">{{data-1.06700-00300}}</td>
                    <td class="right">67</td>
                </tr>
                <tr>
                    <td class="right">68</td>
                    <td>BA1</td>
                    <td class="data right">{{data-1.06800-00100}}</td>
                    <td class="data right">{{data-1.06800-00200}}</td>
                    <td class="data right">{{data-1.06800-00300}}</td>
                    <td class="right">68</td>
                </tr>
                <tr>
                    <td class="right">69</td>
                    <td>PE2</td>
                    <td class="data right">{{data-1.06900-00100}}</td>
                    <td class="data right">{{data-1.06900-00200}}</td>
                    <td class="data right">{{data-1.06900-00300}}</td>
                    <td class="right">69</td>
                </tr>
                <tr>
                    <td class="right">70</td>
                    <td>PE1</td>
                    <td class="data right">{{data-1.07000-00100}}</td>
                    <td class="data right">{{data-1.07000-00200}}</td>
                    <td class="data right">{{data-1.07000-00300}}</td>
                    <td class="right">70</td>
                </tr>
                <tr>
                    <td class="right">71</td>
                    <td>PD2</td>
                    <td class="data right">{{data-1.07100-00100}}</td>
                    <td class="data right">{{data-1.07100-00200}}</td>
                    <td class="data right">{{data-1.07100-00300}}</td>
                    <td class="right">71</td>
                </tr>
                <tr>
                    <td class="right">72</td>
                    <td>PD1</td>
                    <td class="data right">{{data-1.07200-00100}}</td>
                    <td class="data right">{{data-1.07200-00200}}</td>
                    <td class="data right">{{data-1.07200-00300}}</td>
                    <td class="right">72</td>
                </tr>
                <tr>
                    <td class="right">73</td>
                    <td>PC2</td>
                    <td class="data right">{{data-1.07300-00100}}</td>
                    <td class="data right">{{data-1.07300-00200}}</td>
                    <td class="data right">{{data-1.07300-00300}}</td>
                    <td class="right">73</td>
                </tr>
                <tr>
                    <td class="right">74</td>
                    <td>PC1</td>
                    <td class="data right">{{data-1.07400-00100}}</td>
                    <td class="data right">{{data-1.07400-00200}}</td>
                    <td class="data right">{{data-1.07400-00300}}</td>
                    <td class="right">74</td>
                </tr>
                <tr>
                    <td class="right">75</td>
                    <td>PB2</td>
                    <td class="data right">{{data-1.07500-00100}}</td>
                    <td class="data right">{{data-1.07500-00200}}</td>
                    <td class="data right">{{data-1.07500-00300}}</td>
                    <td class="right">75</td>
                </tr>
                <tr>
                    <td class="right">76</td>
                    <td>PB1</td>
                    <td class="data right">{{data-1.07600-00100}}</td>
                    <td class="data right">{{data-1.07600-00200}}</td>
                    <td class="data right">{{data-1.07600-00300}}</td>
                    <td class="right">76</td>
                </tr>
                <tr>
                    <td class="right">77</td>
                    <td>PA2</td>
                    <td class="data right">{{data-1.07700-00100}}</td>
                    <td class="data right">{{data-1.07700-00200}}</td>
                    <td class="data right">{{data-1.07700-00300}}</td>
                    <td class="right">77</td>
                </tr>
                <tr>
                    <td class="right">78</td>
                    <td>PA1</td>
                    <td class="data right">{{data-1.07800-00100}}</td>
                    <td class="data right">{{data-1.07800-00200}}</td>
                    <td class="data right">{{data-1.07800-00300}}</td>
                    <td class="right">78</td>
                </tr>
                <tr>
                    <td class="right">199</td>
                    <td>AAA</td>
                    <td class="data right">{{data-1.19900-00100}}</td>
                    <td class="data right">{{data-1.19900-00200}}</td>
                    <td class="data right">{{data-1.19900-00300}}</td>
                    <td class="right">199</td>
                </tr>
                <tr>
                    <td class="right">200</td>
                    <td>TOTAL</td>
                    <td class="data right">{{data-1.20000-00100}}</td>
                    <td class="data right">{{data-1.20000-00200}}</td>
                    <td class="data right">{{data-1.20000-00300}}</td>
                    <td class="right">200</td>
                </tr>
                <tr>
                    <td colspan="6">SNF SERVICES</td>
                </tr>
                <tr>
                    <td colspan="3" rowspan="2">&nbsp;</td>
                    <td class="center">CBSA at Beginning of Cost Reporting Period </td>
                    <td class="center">CBSA on/after October 1 of the Cost Reporting Period (if applicable) </td>
                    <td rowspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td class="center">1</td>
                    <td class="center">2</td>
                </tr>
                <tr>
                    <td>201</td>
                    <td colspan="2"> Enter in column 1 the SNF CBSA code, or 5 character non-CBSA code if a rural
                        facility, in effect at the beginning of the cost reporting period. Enter in column 2 the code in
                        effect on or after October 1 of the cost reporting period (if applicable). </td>
                    <td class="data center">{{data-1.20100-00100}}</td>
                    <td class="data center">{{data-1.20100-00200}}</td>
                    <td class="right">201</td>
                </tr>
                <tr>
                    <td colspan="6">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="6"> A notice published in the Federal Register Volume 68, No. 149 August 4, 2003
                        provided for an increase in the RUG payments beginning 10/01/2003. Congress expected this
                        increase to be used for direct patient care and related expenses. For lines 202 through 207:
                        Enter in column 1 the amount of the expense for each category. Enter in column 2 the percentage
                        of total expenses for each category to total SNF revenue from Worksheet G-2, Part I, line 7,
                        column 3. In column 3, enter "Y" or "N" for no if the spending reflects increases associated
                        with direct patient care and related expenses for each category. (see instructions) </td>
                </tr>
                <tr>
                    <td colspan="2" rowspan="2">&nbsp;</td>
                    <td class="center"> Expenses </td>
                    <td class="center"> Percentage </td>
                    <td class="center">Associated with Direct Patient Care and Related Expenses? </td>
                    <td rowspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td class="center">1</td>
                    <td class="center">2</td>
                    <td class="center">3</td>
                </tr>
                <tr>
                    <td>202</td>
                    <td> Staffing</td>
                    <td class="data right">{{NumberFormat data-1.20200-00100}}</td>
                    <td class="data right">{{data-1.20200-00200}}</td>
                    <td class="data right">{{data-1.20200-00300}}</td>
                    <td class="right">202</td>
                </tr>
                <tr>
                    <td>203</td>
                    <td> Recruitment</td>
                    <td class="data right">{{NumberFormat data-1.20300-00100}}</td>
                    <td class="data right">{{data-1.20300-00200}}</td>
                    <td class="data right">{{data-1.20300-00300}}</td>
                    <td class="right">203</td>
                </tr>
                <tr>
                    <td>204</td>
                    <td> Retention of employees</td>
                    <td class="data right">{{NumberFormat data-1.20400-00100}}</td>
                    <td class="data right">{{data-1.20400-00200}}</td>
                    <td class="data right">{{data-1.20400-00300}}</td>
                    <td class="right">204</td>
                </tr>
                <tr>
                    <td>205</td>
                    <td> Training</td>
                    <td class="data right">{{NumberFormat data-1.20500-00100}}</td>
                    <td class="data right">{{data-1.20500-00200}}</td>
                    <td class="data right">{{data-1.20500-00300}}</td>
                    <td class="right">205</td>
                </tr>
                <tr>
                    <td>206</td>
                    <td> Other (Specify: __)</td>
                    <td class="data right">{{NumberFormat data-1.20600-00100}}</td>
                    <td class="data right">{{data-1.20600-00200}}</td>
                    <td class="data right">{{data-1.20600-00300}}</td>
                    <td class="right">206</td>
                </tr>
                <tr>
                    <td>207</td>
                    <td> Total SNF revenue (Worksheet G-2, Part I, line 7, column 3)</td>
                    <td class="data right">{{NumberFormat data-1.20700-00100}}</td>
                    <td class="data right">&nbsp;{{data-1.20700-00200}}</td>
                    <td class="data right">{{data-1.20700-00300}}</td>
                    <td class="right">207</td>
                </tr>
                <tr>
                    <td colspan="6">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="6">FORM CMS-2552-10 (08/2011) (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS
                        PUB. 15-II, SECTION 4009)</td>
                </tr>
                <tr>
                    <td colspan="2">40-520 - 10-12</td>
                    <td colspan="2">&nbsp;</td>
                    <td colspan="2"> Rev. 3</td>
                </tr>
            </tbody>
        </table>
    </div>