<body class="pg-config" id="pg-config-accounts">

  {{> nav/config }}

<main class="with-sidebar with-bottom-nav">

  {{> config/header }}

  <section class="card config-accounts">

    <table class="styled no-header">
      <thead>
        <tr>
          <th class="sort">ID</th>
          <th class="sort">Email</th>
          <th class="sort">Created</th>
          <th class="sort">Plan</th>
          <th class="sort">Status</th>
          <th class="sort actions">Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each content.accounts}}
        <tr data-id="{{this.id}}">

          <td class="id">
            <span class="label">ID</span>
            <span class="value">{{this.id}}</span>
          </td>

          <td class="email">{{this.email}}</td>

          <td class="date-created">
            <div class="label">Created</div>
            <div class="value">{{this.date_created}}</div>
          </td>

          <td class="plan">
            {{#if this.plan}}
              <div class="label">Plan</div>
              <div class="value">{{this.plan}}</div>
            {{/if}}
          </td>

          <td class="active">
            {{#if this.active}}
            <div class="badge green" data-active="{{this.active}}">active</div>
            {{else}}
            <div class="badge red" data-active="{{this.active}}">canceled</div>
            {{/if}}
          </td>

          <td class="actions">
            <button class="ico ico-dark ico-delete btn-close-account" title="Close account"></button>
            <button class="ico ico-dark ico-pencil btn-edit-account" title="Edit account"></button>
            <a href="mailto:{{this.email}}" class="ico ico-dark ico-mail btn-email-account" title="Contact"></button>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>

  </section>

</main>

<script type="text/template" id="mdl-edit-account">

  <header>
    <h1>Edit Account</h1>
  </header>

  <form action="/api/config/account" method="PUT" novalidate class="use-ajax">

    <input type="hidden" class="id" name="id" value="" />

    <label>Email</label>
    <input type="text" name="email" class="textbox" />

    <div class="plan">
      <label>Plan</label>
      <div class="select">
        <select name="plan">
          {{#each content.plans}}
            <option value="{{this.id}}">{{this.name}} {{../content.currencySymbol}}{{this.price}}/{{../content.billingInterval}}</option>
          {{/each}}
        </select>
      </div>
    </div>

    <label>Status</label>
    <div class="select">
      <select name="active">
        <option value="1">Active</option>
        <option value="0">Cancelled</option>
      </select>
    </div>

    <section class="buttons">

      <input type="submit" value="Save" class="btn" autofocus />
      <button class="btn btn-outline btn-cancel">Cancel</button>

    </section>

  </form>
</script>

<script type="text/template" id="mdl-close-account">

  <header>
    <h1>Close Account</h1>
  </header>

  <form action="/api/config/account" method="DELETE" novalidate class="use-ajax">

    <input type="hidden" class="id" name="accountId" />

    <p>Are you sure you want to close <span class="custom">*</span>'s account?</p>

    <section class="buttons">

      <input type="submit" value="Close Account" class="btn" autofocus />
      <button class="btn btn-outline btn-cancel">Cancel</button>

    </section>

  </form>
</script>

{{> scripts }}
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
