<body class="pg-config" id="pg-config-dashboard">

  {{> nav/config }}

<main class="with-sidebar with-bottom-nav">

  {{> config/header }}

  <div class="chart-tooltip"></div>

  <!-- application stats -->
  <section class="stats">

    <div class="stat total-accounts card">
      <i class="ico ico-dark ico-users"></i>
      <div class="content">
        <div class="value">{{content.totalAccounts}}</div>
        <div class="label">Accounts</div>
      </div>
    </div>

    <div class="stat active-accounts card">
      <i class="ico ico-dark ico-users"></i>
      <div class="content">
        <div class="value">{{content.activeAccounts}}</div>
        <div class="label">Active</div>
      </div>
    </div>

    <div class="stat churned-accounts card">
      <i class="ico ico-dark ico-users"></i>
      <div class="content">
        <div class="value">{{content.churnedAccounts}}</div>
        <div class="label">Churned</div>
      </div>
    </div>

  </section>

  <!-- user growth -->
  <section class="card">

    <header>
      <h1>User Growth</h1>
    </header>

    <section class="legend"></section>

    <div class="chart usergrowth">
      <canvas></canvas>
      <div class="message hide align-xy">No data to show</div>
    </div>

  </section>

</main>

{{> scripts }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
