<body class="pg-config-setup">

  <img class="logo" src="/assets/images/logo/medicarecostreport_logo.png" alt="MedicareCostReport Logo" />

  <form action="/api/user/auth" method="POST" novalidate class="card use-ajax" data-redirect="/config">

    <header>
      <h1>Sign In</h1>
    </header>

    <label>Email</label>
    <input class="textbox" type="email" name="email" autocomplete="email" required />

    <label>Password</label>
    <input class="textbox" type="password" name="password" autocomplete="current-password" required />

    <div class="btn btn-loader full-width">
    <input type="submit" value="Sign In" />
    </div>

  </form>

  {{> scripts }}
