<body class="pg-config" id="pg-config-users">

  {{> nav/config }}

<main class="with-sidebar with-bottom-nav">

  {{> config/header }}

  <section class="card config-users">

    <table class="styled no-header">
      <thead>
        <tr>
          <th class="sort">ID</th>
          <th class="sort">Email</th>
          <th class="sort">Name</th>
          <th class="sort">Created</th>
          <th class="sort">Last Login</th>
          <th class="sort">Permission</th>
          <th class="sort">Account ID</th>
          <th class="sort actions">Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each content.users}}
        <tr data-id="{{this.id}}">
          <td class="id">
            <span class="label">ID</span>
            <span class="value">{{this.id}}</span>
          </td>
          <td class="email">
            <div class="label">Email</div>
            <div class="value">{{this.email}}</div>
          </td>
          <td class="name">
            {{#if this.name}}
            <div class="label">Name</div>
            <div class="value">{{this.name}}{{/if}}</div>
          </td>
          <td class="date-created">
            <div class="label">Created</div>
            <div class="value">{{this.date_created}}</div>
          </td>
          <td class="last-login">
            <div class="label">Last Login</div>
            <div class="value">{{this.last_login}}</div>
          </td>
          <td class="permission">
            {{#if this.permission}}
            <div class="label">Permission</div>
            <div class="value">{{this.permission}}{{/if}}</div>
          </td>
          <td class="account-id">
            <div class="label">Account ID</div>
            <div class="value">{{this.account_id}}</div>
          </td>
          <td class="actions">
            <button class="ico ico-dark ico-delete btn-delete-user" title="Delete user"></button>
            <button class="ico ico-dark ico-pencil btn-edit-user" title="Edit user"></button>
            <a href="mailto:{{this.email}}" class="ico ico-dark ico-mail btn-email-user" title="Contact"></button>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>

  </section>

</main>

<script type="text/template" id="mdl-edit-user">

  <header>
    <h1>Edit User</h1>
  </header>

  <form action="/api/config/user" method="PUT" novalidate class="use-ajax">

    <input type="hidden" class="id" name="id" value="" />

    <label>Email</label>
    <input type="text" name="email" class="textbox" />

    <label>Name</label>
    <input type="text" name="name" class="textbox" />

    <label>Permission</label>
    <div class="select">
      <select name="permission">
        {{#each content.permissions}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </div>

    <section class="buttons">

      <input type="submit" value="Save" class="btn" autofocus />
      <button class="btn btn-outline btn-cancel">Cancel</button>

    </section>

  </form>
</script>

<script type="text/template" id="mdl-delete-user">

  <header>
    <h1>Delete User</h1>
  </header>

  <form action="/api/config/user" method="DELETE" novalidate class="use-ajax">

    <input type="hidden" class="id" name="userId" />

    <p>Are you sure you want to delete <span class="custom">*</span>?</p>

    <section class="buttons">

      <input type="submit" value="Delete User" class="btn" autofocus />
      <button class="btn btn-outline btn-cancel">Cancel</button>

    </section>

  </form>
</script>

{{> scripts }}
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
