<body class="pg-accountusers pg-account">
{{> header}}

<main>
    <div class="container-fluid mt-4">
        <div class="row">
            {{> nav/profile }}
            <section  class="col-md-9 main-right wow fadeInRight">
                {{> nav/account-admin }}
                <h4>Manage Users</h4>
                <div class="col-md-12 pull-right"><button class="btn btn-small btn-primary btn-add-user pull-right">Add User</button></div>
                <section class="card">
                    {{#if content.users}}
                        <table class="table report-table users-table styled no-header">
                            <thead class="bg-yellow">
                            <tr>
                                <th class="sort asc user-name">Name</th>
                                <th class="sort asc user-email">Email</th>
                                <th class="sort asc user-role">Role</th>
                                <th class="actions user-actions">Actions</th>
                            </tr>
                            </thead>
                            <tbody>

                            {{#each content.users}}
                                <tr data-id="{{this.user_id}}">

                                    <td class="user-name">{{this.name}}</td>
                                    <td class="user-email">{{this.email}}</td>

                                    {{#isOwner this.permission}}
                                        <td class="user-permission"><span class="badge">{{this.permission}}</span></td>
                                    {{else}}
                                        <td class="user-permission">{{this.permission}}</td>
                                    {{/isOwner}}

                                    <td class="actions">
                                        {{#isOwner this.permission}}{{else}}
                                            <button class="btn-delete-user ico ico-dark ico-delete" title="Delete">Delete</button>
                                            <button class="btn-edit-user ico ico-dark ico-pencil" title="Edit">Edit</button>
                                        {{/isOwner}}
                                    </td>
                                </tr>
                            {{/each}}

                            </tbody>
                        </table>
                    {{/if}}

                </section>
            </section>
        </div>
    </div>
</main>

{{> scripts }}

<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<script type="text/template" id="mdl-add-user">
  <header>
    <h5>Add User</h5>
  </header>

  <form action="/api/user/invite" method="POST" novalidate class="use-ajax">

    <p>To invite more than one user, seperate the emails with a comma</p>

    <label>Email</label><br>
    <input type="text" name="email" class="form-control" requried /><br>

    <section class="buttons">
      <input type="submit" value="Invite User" class="btn btn-confirm-add-user btn-success" autofocus />
      <button class="btn btn-outline btn-danger">Cancel</button>

    </section>

  </form>
</script>

<script type="text/template" id="mdl-edit-user">

  <header>
    <h5>Update User</h5>
  </header>

  <form action="/api/user" method="PUT" novalidate class="use-ajax">

    <input type="hidden" class="id" name="userId" value="" />
    <label>Name</label><br>
    <input type="text" name="name" class="form-control" /><br><br>

    <label>Email</label><br>
    <input type="text" name="email" class="form-control" /><br><br>

    <label>Permission</label><br>
    <div class="select">
      <select name="permission" class="form-control">
        {{#each content.permissions}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </div>
      <br>
    <section class="buttons">

      <input type="submit" value="Save" class="btn btn-success" autofocus />
      <button class="btn btn-danger">Cancel</button>

    </section>

  </form>
</script>

<script type="text/template" id="mdl-delete-user">

  <header>
    <h5>Delete User</h5>
  </header>

  <form action="/api/user" method="DELETE" novalidate class="use-ajax">

    <input type="hidden" class="id" name="userId" />

    <p>Are you sure you want to delete <span class="custom">*</span>?</p>

    <section class="buttons">

      <input type="submit" value="Delete User" class="btn btn-success" autofocus />
      <button class="btn btn-outline btn-danger">Cancel</button>

    </section>

  </form>
</script>
