<body class="pg-accountprofile pg-account">
{{> header}}
<main>
    <div class="container-fluid mt-4">
        <div class="row">
            {{> nav/profile }}
            <section  class="col-md-9 main-right wow fadeInRight">
                {{> nav/account-admin }}
                    <h4>Edit Your Profile Information</h4>
                    <form action="/api/account" method="PUT" class="account use-ajax card" novalidate>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group ">
                                    <label>Name</label><br>
                                    <input class="form-control" type="text" name="name" value="{{content.userName}}" required data-error="Please enter your name" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Email Address</label><br>
                                    <input class="form-control" type="email" name="email" value="{{content.email}}" required />
                                </div>

                            </div>
                        </div>

                        <!--<div class="btn btn-loader">
                            <input type="submit" value="Save" class="btn btn-primary text-yellow"/>
                        </div>-->
                        <div class="btn btn-loader">
                            <input type="submit" value="Save" class="btn btn-primary text-yellow"/>

                        </div>
                    </form>

                    <!--<h4>
                        Delete Your Account
                    </h4>

                    <form action="/api/account" method="DELETE" novalidate class="use-ajax" data-redirect="/signup">

                        <p>Are you sure you want to delete your account? You will lose all of your data and this can not be undone.</p>

                        <section class="buttons">

                            <input type="submit" value="Close Account" class="btn btn-red btn-confirm-close-account btn-close-modal" autofocus />
                            <button class="btn btn-outline btn-cancel">Cancel</button>

                        </section>

                    </form>-->

                <!--<a href="#" class="btn-close-account">Close Your Account</a>-->
            </section>
        </div>
    </div>
</main>

{{> scripts }}
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>




</body>

