<body class="pg-accountpassword pg-account">
{{> header}}

<main>
    <div class="container-fluid mt-4">
        <div class="row">
            {{> nav/profile }}
            <section  class="col-md-9 main-right wow fadeInRight">
                {{#if permission.admin }}
                    {{> nav/account-admin }}
                {{else}}
                    {{> nav/account-user }}
                {{/if}}

                <h4>Update Your Password</h4>

                <form action="/api/user/password" method="PUT" novalidate class="account use-ajax card">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group ">
                                <label>Old Password</label><br>
                                <input class="form-control" type="password" name="oldpassword" autocomplete="current-password" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>New Password</label><br>
                                <input class="form-control" type="password" name="newpassword" autocomplete="new-password" required />
                            </div>

                        </div>
                    </div>

                    <!--<div class="btn btn-loader">
                        <input type="submit" value="Save" class="btn btn-primary text-yellow"/>
                    </div>-->
                    <div class="btn btn-loader">
                        <input type="submit" value="Save Password" class="btn btn-primary text-yellow pull-left"/>
                    </div>
                </form>
                <!--<a href="#" class="btn-close-account">Close Your Account</a>-->
            </section>
        </div>
    </div>
</main>
{{> scripts }}
