<body class="pg-accountbilling pg-account">
{{> header}}
<main>
    <div class="container-fluid mt-4">
        <div class="row">
            {{> nav/profile }}
            <section  class="col-md-9 main-right wow fadeInRight">
                {{> nav/account-admin }}
                <h4>Update Your Billing Information</h4>

                {{#is plan true}}
                    <div class="tab-pane fade show active" id="plan" role="tabpanel" aria-labelledby="hospice-tab">
                        <form action="/api/createaccount" novalidate method="POST" novalidate class="auth signupupdate card">
                            <div class="content">
                                <input type="hidden" class="current-plan" value="{{content.plan}}" />
                                <fieldset class="plans">
                                    <legend>Your subscription plan</legend>
                                    {{#each content.plans}}
                                        {{#if this.selected}}
                                            <input type="radio" name="defaultText" value="{{this.name}}" hidden />
                                        {{/if}}
                                        <div class="radio selector-bar">
                                            <input type="radio" name="plan" id="{{this.name}}" value="{{this.id}}"
                                                   {{#is this.id ../content.plan}}checked{{/is}} required />
                                            <label id="{{this.name}}label" for="{{this.name}}" onclick="makePlanAlreadySelected({{this.name}}, {{this.selected}})">
                                                <span id="{{this.name}}name" class="plan-name">{{this.name}}</span>
                                                <span id="{{this.name}}pricing"
                                                      class="plan-price">{{../content.currency}}{{this.price}}/{{../content.billingInterval}}</span>
                                            </label>
                                        </div>
                                    {{/each}}
                                </fieldset>
                                <div class="creditcard"></div>
                                <input type="hidden" name="source" />
                                <div class="btn btn-loader">
                                    <input type="submit" value="Update Plan" class="btn btn-primary text-yellow"/>
                                </div>
                            </div>
                        </form>
                    </div>
                {{else}}
                    <ul class="nav nav-pills nav-justified mb-3 mt-3" id="pills-tab" role="tablist">
                        <li class="nav-item"> <a class="nav-link active" id="all-tab" data-toggle="tab" href="#plan" role="tab" aria-controls="all" aria-selected="true">Plan</a> </li>
                        <li class="nav-item"> <a class="nav-link" id="hospice-tab" data-toggle="tab" href="#card-details" role="tab" aria-controls="hospice" aria-selected="false">Card Details</a> </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="plan" role="tabpanel" aria-labelledby="hospice-tab">
                            <form action="/api/account/plan" method="PUT" novalidate class="account card use-ajax tabview">
                                <div class="content">

                                    <input type="hidden" class="current-plan" value="{{content.plan}}" />

                                    <fieldset class="plans">

                                        <legend>Your subscription plan</legend>

                                        {{#each content.plans}}
                                            {{#if this.selected}}
                                                <input type="radio" name="defaultText" value="{{this.name}}" hidden />
                                            {{/if}}
                                            <div class="radio selector-bar">
                                                <input type="radio" name="plan" id="{{this.name}}" value="{{this.id}}"
                                                       {{#is this.id ../content.plan}}checked{{/is}} required />
                                                <label id="{{this.name}}label" for="{{this.name}}" onclick="makePlanAlreadySelected({{this.name}}, {{this.selected}})">
                                                    <span id="{{this.name}}name" class="plan-name">{{this.name}}</span>
                                                    <span id="{{this.name}}pricing"
                                                          class="plan-price">{{../content.currency}}{{this.price}}/{{../content.billingInterval}}</span>
                                                </label>
                                            </div>
                                        {{/each}}

                                    </fieldset>

                                    <div class="btn btn-loader">
                                        <input type="submit" value="Update Plan" class="btn btn-primary text-yellow" />
                                    </div>

                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="card-details" role="tabpanel" aria-labelledby="hospice-tab">
                            <form action="/api/account/card" method="PUT" novalidate class="account updatecard card tabview hide">
                                <div class="content">

                                    <label>Card Details</label>
                                    <div class="creditcard"></div>

                                    <input type="hidden" name="source" />

                                    <br>
                                    <div class="btn btn-loader">
                                        <input type="submit" value="Update Card" class="btn btn-primary text-yellow"/>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                {{/is}}

            </section>
        </div>
    </div>
</main>



  <script src="https://js.stripe.com/v3/"></script>
  {{> scripts }}
