<body class="pg-failed-subscription">

  {{> nav/app }}

<main class="with-sidebar with-bottom-nav">

  {{> header }}

  <div class="message error">

    <i class="ico-btn ico ico-light ico-warning"></i>

    <section class="content">

      <h1>Account Suspended</h1>

      <p>Your account has been suspended because payment
      for your subscription failed. Please update your payment settings and
      <a href="mailto:support@{{content.domain}}">contact support</a></p>

      <a href="/account/billing#card-details" class="btn">Update Payment Settings</a>

   </section>

  </div>


</main>

{{> scripts }}
