<body class="pg-signup-account pg-auth">
  {{> header}}  
  <main>

    <div class="container mt-4 mb-2">
      <div class="row login-container no-gutters">
        <aside class="col-md-6 ">
          <img src="/assets/images/img_login.png" alt="login" class="img-fluid" />
        </aside>
        <aside class="col-md-6">
          {{!-- <a href="/" class="close"><img src="/assets/images/icon_close.svg" alt="close" /></a> --}}
          <section class="login-holder">
            <center>
              <form action="/api/createaccount" novalidate method="POST" class="auth signup-account" data-redirect="/dashboard">
                <figure><img src="/assets/images/img_logo.png" alt="logo" class="img-fluid" /></figure>
                <h4>SUBSCRIBE TO A PLAN</h4>

                <div class="input-group mt-3 mb-3">

                  <div class="col-12 label-wrapper">
                    <label>Plan</label>
                  </div>
                  <div class="col-12 buy-plan-select">
                    <select name="plan" class="form-control">
                      {{#each content.plans}}
                        <option value="{{this.id}}">{{this.name}} ({{../content.currency}}{{this.price}}/{{../content.billingInterval}})</option>
                      {{/each}}
                    </select>
                  </div>

                </div>

                <div class="col-12 label-wrapper">
                  <label>Card Details</label>
                </div>

                <div class="creditcard signup-creditcard"></div>

                <input type="hidden" name="source" />
                <input type="hidden" name="referrer" />

                <div class="btn-loader full-width">
                    <input id="subscribeplan" type="submit" style="cursor: pointer;" class="btn-plan" value="SUBSCRIBE PLAN"/>
                </div>

              </form>

            </center>
          </section>
        </aside>
      </div>

    </div>

  </main>
<script src="https://js.stripe.com/v3/"></script>
{{> scripts }}


{{!-- <body class="pg-signup-account pg-auth">

  <main>

    <header class="panel-row">
      <div class="content">

        <section class="logo-nav">

          {{> home/nav }} 

        </section>

      </div>
    </header>

    <section class="panel-row">
      <div class="content">

        <h1>SUBSCRIBE TO A PLAN</h1>

        <form action="/api/createaccount" novalidate method="POST" class="auth signup-account card" data-redirect="/dashboard">

          <label>Plan</label>
          <div class="select">
            <select name="plan">
              {{#each content.plans}}
                <option value="{{this.id}}">{{this.name}} ({{../content.currency}}{{this.price}}/{{../content.billingInterval}})</option>
              {{/each}}
            </select>
          </div>

          <label>Card Details</label>
          <div class="creditcard signup-creditcard"></div>

          <input type="hidden" name="source" />
          <input type="hidden" name="referrer" />

          <div class="btn btn-loader full-width">
          <input class="buyplan-btn" style="font-size: 18px;" type="submit" value="SUBSCRIBE PLAN" />
          </div>

        </form>

      </div>
    </section>
  </main>

<script src="https://js.stripe.com/v3/"></script>
{{> scripts }} --}}
