
<h4>Hey! Welcome Back</h4>
<!--<div class="current-plan">
    <p><strong>Your Current Plan</strong></p>
    <p>Hospice Plan - $199 / Year</p>
    <p>Unlock report data of 45,380+ Facilities <a href="#">Upgrade Now</a></p>
</div>-->

<table class="table report-table">
    <thead class="bg-yellow">
                    <tr class="Fy">    
                        <th>Provider Name</th>
                        <th>Favorite</th>
                    </tr>
                </thead>
                <tbody>
                 {{#each Hospital}}
                 <tr class="table-row Fy" data-href={{this.url}}>
                    <td class="data"><a href={{this.url}} >{{this.providerName}}</a></td>
                    <td class="data"><a href={{this.url}} >{{this.type}}</a></td>
                </tr>
                 {{/each}}
               
                </tbody>
            </table>
</div>

{{> scripts }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>



