<body class="pg-accountprofile pg-account">

{{> nav/app }}

<main class="with-sidebar with-bottom-nav">

  {{> header}}
  {{> nav/account-user }}

  <h2>Edit Your Profile Information</h2>

  <section class="card">

    <form action="/api/user" method="PUT" class="use-ajax">

      <label>Name</label>
      <input class="textbox" type="text" name="name" value="{{content.userName}}" required data-error="Please enter your name" />

      <label>Email Address</label>
      <input class="textbox" type="email" name="email" value="{{content.email}}" required />

      <div class="btn btn-loader">
      <input type="submit" value="Save" />
      </div>

    </form>

  </section>

</main>

{{> scripts }}
