<div class="report">
<table border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
<col width="4%" />
<col width="6%" />
<col width="30%" />
<col width="10%" /> 
<col width="10%" /> 
<col width="10%" /> 
<col width="10%" /> 
<col width="10%" /> 
<col width="10%" /> 
<col width="10%" />  
<col width="4%" /> 
</colgroup>
<thead>
    <tr>
        <td colspan="7"> RECLASSIFICATION  AND  ADJUSTMENT  OF  TRIAL  BALANCE  OF  EXPENSES</td>
        <td>Provider CCN: <span class="data">{{pId}}</span></td>
        <td>
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="2">  WORKSHEET  A</td>
    </tr>
</thead>
<tbody>
    <tr>
        <td colspan="3" rowspan="2"></td>
        <td class="center">SALARIES</td>
        <td class="center">OTHER</td>
        <td class="center">SUBTOTAL<div><span>( col. 1 plus col. 2 )</span></div></td>
        <td class="center">RECLASSI-<div>FICATIONS</div></td>
        <td class="center">SUBTOTAL</td>
        <td class="center">ADJUST-<div>MENTS</div></td>
        <td class="center">TOTAL<div><span>( col. 5 ± col. 6 )</span></div></td>
        <td rowspan="2"></td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
        <td class="center">5</td>
        <td class="center">6</td>
        <td class="center">7</td>
    </tr>
    <tr>
        <td colspan="3"> GENERAL  SERVICE  COST  CENTERS</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td class="center">0100</td>
        <td> Cap Rel Costs - Bldg & Fixt*</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00100-00100}}</td>
        <td class="data right">{{NumberFormat data-1.00100-00200}}</td>
        <td class="data right">{{NumberFormat data-1.00100-00300}}</td>
        <td class="data right">{{NumberFormat data-1.00100-00400}}</td>
        <td class="data right">{{NumberFormat data-1.00100-00500}}</td>
        <td class="data right">{{NumberFormat data-1.00100-00600}}</td>
        <td class="data right">{{NumberFormat data-1.00100-00700}}</td>
        <td class="left">1</td>
    </tr>
    <tr>
        <td class="right">2</td>
        <td class="center">0200</td>
        <td> Cap Rel Costs - Mvble Equip*</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00200-00100}}</td>
        <td class="data right">{{NumberFormat data-1.00200-00200}}</td>
        <td class="data right">{{NumberFormat data-1.00200-00300}}</td>
        <td class="data right">{{NumberFormat data-1.00200-00400}}</td>
        <td class="data right">{{NumberFormat data-1.00200-00500}}</td>
        <td class="data right">{{NumberFormat data-1.00200-00600}}</td>
        <td class="data right">{{NumberFormat data-1.00200-00700}}</td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td class="center">0300</td>
        <td> Employee Benefits Department*</td>
        <td class="data right">{{NumberFormat data-1.00300-00100}}</td>
        <td class="data right">{{NumberFormat data-1.00300-00200}}</td>
        <td class="data right">{{NumberFormat data-1.00300-00300}}</td>
        <td class="data right">{{NumberFormat data-1.00300-00400}}</td>
        <td class="data right">{{NumberFormat data-1.00300-00500}}</td>
        <td class="data right">{{NumberFormat data-1.00300-00600}}</td>
        <td class="data right">{{NumberFormat data-1.00300-00700}}</td>
        <td class="left">3</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td class="center">0400</td>
        <td> Administrative & General*</td>
        <td class="data right">{{NumberFormat data-1.00400-00100}}</td>
        <td class="data right">{{NumberFormat data-1.00400-00200}}</td>
        <td class="data right">{{NumberFormat data-1.00400-00300}}</td>
        <td class="data right">{{NumberFormat data-1.00400-00400}}</td>
        <td class="data right">{{NumberFormat data-1.00400-00500}}</td>
        <td class="data right">{{NumberFormat data-1.00400-00600}}</td>
        <td class="data right">{{NumberFormat data-1.00400-00700}}</td>
        <td class="left">4</td>
    </tr>
    <tr>
        <td class="right">5</td>
        <td class="center">0500</td>
        <td> Plant Operation & Maintenance*</td>
        <td class="data right">{{NumberFormat data-1.00500-00100}}</td>
        <td class="data right">{{NumberFormat data-1.00500-00200}}</td>
        <td class="data right">{{NumberFormat data-1.00500-00300}}</td>
        <td class="data right">{{NumberFormat data-1.00500-00400}}</td>
        <td class="data right">{{NumberFormat data-1.00500-00500}}</td>
        <td class="data right">{{NumberFormat data-1.00500-00600}}</td>
        <td class="data right">{{NumberFormat data-1.00500-00700}}</td>
        <td class="left">5</td>
    </tr>
    <tr>
        <td class="right">6</td>
        <td class="center">0600</td>
        <td> Laundry & Linen Service*</td>
        <td class="data right">{{NumberFormat data-1.00600-00100}}</td>
        <td class="data right">{{NumberFormat data-1.00600-00200}}</td>
        <td class="data right">{{NumberFormat data-1.00600-00300}}</td>
        <td class="data right">{{NumberFormat data-1.00600-00400}}</td>
        <td class="data right">{{NumberFormat data-1.00600-00500}}</td>
        <td class="data right">{{NumberFormat data-1.00600-00600}}</td>
        <td class="data right">{{NumberFormat data-1.00600-00700}}</td>
        <td class="left">6</td>
    </tr>
    <tr>
        <td class="right">7</td>
        <td class="center">0700</td>
        <td> Housekeeping*</td>
        <td class="data right">{{NumberFormat data-1.00700-00100}}</td>
        <td class="data right">{{NumberFormat data-1.00700-00200}}</td>
        <td class="data right">{{NumberFormat data-1.00700-00300}}</td>
        <td class="data right">{{NumberFormat data-1.00700-00400}}</td>
        <td class="data right">{{NumberFormat data-1.00700-00500}}</td>
        <td class="data right">{{NumberFormat data-1.00700-00600}}</td>
        <td class="data right">{{NumberFormat data-1.00700-00700}}</td>
        <td class="left">7</td>
    </tr>
    <tr>
        <td class="right">8</td>
        <td class="center">0800</td>
        <td> Dietary*</td>
        <td class="data right">{{NumberFormat data-1.00800-00100}}</td>
        <td class="data right">{{NumberFormat data-1.00800-00200}}</td>
        <td class="data right">{{NumberFormat data-1.00800-00300}}</td>
        <td class="data right">{{NumberFormat data-1.00800-00400}}</td>
        <td class="data right">{{NumberFormat data-1.00800-00500}}</td>
        <td class="data right">{{NumberFormat data-1.00800-00600}}</td>
        <td class="data right">{{NumberFormat data-1.00800-00700}}</td>
        <td class="left">8</td>
    </tr>
    <tr>
        <td class="right">9</td>
        <td class="center">0900</td>
        <td> Nursing Administration*</td>
        <td class="data right">{{NumberFormat data-1.00900-00100}}</td>
        <td class="data right">{{NumberFormat data-1.00900-00200}}</td>
        <td class="data right">{{NumberFormat data-1.00900-00300}}</td>
        <td class="data right">{{NumberFormat data-1.00900-00400}}</td>
        <td class="data right">{{NumberFormat data-1.00900-00500}}</td>
        <td class="data right">{{NumberFormat data-1.00900-00600}}</td>
        <td class="data right">{{NumberFormat data-1.00900-00700}}</td>
        <td class="left">9</td>
    </tr>
    <tr>
        <td class="right">10</td>
        <td class="center">1000</td>
        <td> Routine Medical Supplies*</td>
        <td class="data right">{{NumberFormat data-1.01000-00100}}</td>
        <td class="data right">{{NumberFormat data-1.01000-00200}}</td>
        <td class="data right">{{NumberFormat data-1.01000-00300}}</td>
        <td class="data right">{{NumberFormat data-1.01000-00400}}</td>
        <td class="data right">{{NumberFormat data-1.01000-00500}}</td>
        <td class="data right">{{NumberFormat data-1.01000-00600}}</td>
        <td class="data right">{{NumberFormat data-1.01000-00700}}</td>
        <td class="left">10</td>
    </tr>
    <tr>
        <td class="right">11</td>
        <td class="center">1100</td>
        <td> Medical Records*</td>
        <td class="data right">{{NumberFormat data-1.01100-00100}}</td>
        <td class="data right">{{NumberFormat data-1.01100-00200}}</td>
        <td class="data right">{{NumberFormat data-1.01100-00300}}</td>
        <td class="data right">{{NumberFormat data-1.01100-00400}}</td>
        <td class="data right">{{NumberFormat data-1.01100-00500}}</td>
        <td class="data right">{{NumberFormat data-1.01100-00600}}</td>
        <td class="data right">{{NumberFormat data-1.01100-00700}}</td>
        <td class="left">11</td>
    </tr>
    <tr>
        <td class="right">12</td>
        <td class="center">1200</td>
        <td> Staff Transportation*</td>
        <td class="data right">{{NumberFormat data-1.01200-00100}}</td>
        <td class="data right">{{NumberFormat data-1.01200-00200}}</td>
        <td class="data right">{{NumberFormat data-1.01200-00300}}</td>
        <td class="data right">{{NumberFormat data-1.01200-00400}}</td>
        <td class="data right">{{NumberFormat data-1.01200-00500}}</td>
        <td class="data right">{{NumberFormat data-1.01200-00600}}</td>
        <td class="data right">{{NumberFormat data-1.01200-00700}}</td>
        <td class="left">12</td>
    </tr>
    <tr>
        <td class="right">13</td>
        <td class="center">1300</td>
        <td> Volunteer Service Coordination*</td>
        <td class="data right">{{NumberFormat data-1.01300-00100}}</td>
        <td class="data right">{{NumberFormat data-1.01300-00200}}</td>
        <td class="data right">{{NumberFormat data-1.01300-00300}}</td>
        <td class="data right">{{NumberFormat data-1.01300-00400}}</td>
        <td class="data right">{{NumberFormat data-1.01300-00500}}</td>
        <td class="data right">{{NumberFormat data-1.01300-00600}}</td>
        <td class="data right">{{NumberFormat data-1.01300-00700}}</td>
        <td class="left">13</td>
    </tr>
    <tr>
        <td class="right">14</td>
        <td class="center">1400</td>
        <td> Pharmacy*</td>
        <td class="data right">{{NumberFormat data-1.01400-00100}}</td>
        <td class="data right">{{NumberFormat data-1.01400-00200}}</td>
        <td class="data right">{{NumberFormat data-1.01400-00300}}</td>
        <td class="data right">{{NumberFormat data-1.01400-00400}}</td>
        <td class="data right">{{NumberFormat data-1.01400-00500}}</td>
        <td class="data right">{{NumberFormat data-1.01400-00600}}</td>
        <td class="data right">{{NumberFormat data-1.01400-00700}}</td>
        <td class="left">14</td>
    </tr>
    <tr>
        <td class="right">15</td>
        <td class="center">1500</td>
        <td> Physician Administrative Services*</td>
        <td class="data right">{{NumberFormat data-1.01500-00100}}</td>
        <td class="data right">{{NumberFormat data-1.01500-00200}}</td>
        <td class="data right">{{NumberFormat data-1.01500-00300}}</td>
        <td class="data right">{{NumberFormat data-1.01500-00400}}</td>
        <td class="data right">{{NumberFormat data-1.01500-00500}}</td>
        <td class="data right">{{NumberFormat data-1.01500-00600}}</td>
        <td class="data right">{{NumberFormat data-1.01500-00700}}</td>
        <td class="left">15</td>
    </tr>
    <tr>
        <td class="right">16</td>
        <td class="center"></td>
        <td> Other General Service (specify)*</td>
        <td class="data right">{{NumberFormat data-1.01600-00100}}</td>
        <td class="data right">{{NumberFormat data-1.01600-00200}}</td>
        <td class="data right">{{NumberFormat data-1.01600-00300}}</td>
        <td class="data right">{{NumberFormat data-1.01600-00400}}</td>
        <td class="data right">{{NumberFormat data-1.01600-00500}}</td>
        <td class="data right">{{NumberFormat data-1.01600-00600}}</td>
        <td class="data right">{{NumberFormat data-1.01600-00700}}</td>
        <td class="left">16</td>
    </tr>
    <tr>
        <td class="right">17</td>
        <td class="center">1700</td>
        <td> Patient/Residential Care Services</td>
        <td class="data fillgrey right">{{NumberFormat data-1.01700-00100}}</td>
        <td class="data fillgrey right">{{NumberFormat data-1.01700-00200}}</td>
        <td class="data fillgrey right">{{NumberFormat data-1.01700-00300}}</td>
        <td class="data fillgrey right">{{NumberFormat data-1.01700-00400}}</td>
        <td class="data fillgrey right">{{NumberFormat data-1.01700-00500}}</td>
        <td class="data fillgrey right">{{NumberFormat data-1.01700-00600}}</td>
        <td class="data fillgrey right">{{NumberFormat data-1.01700-00700}}</td>
        <td class="left">17</td>
    </tr>
    <tr>
        <td colspan="3"> DIRECT  PATIENT  CARE  SERVICE  COST  CENTERS</td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td></td>
    </tr>
    <tr>
        <td class="right">25</td>
        <td class="center">2500</td>
        <td> Inpatient Care - Contracted**</td>
        <td class="data right">{{NumberFormat data-1.02500-00100}}</td>
        <td class="data right">{{NumberFormat data-1.02500-00200}}</td>
        <td class="data right">{{NumberFormat data-1.02500-00300}}</td>
        <td class="data right">{{NumberFormat data-1.02500-00400}}</td>
        <td class="data right">{{NumberFormat data-1.02500-00500}}</td>
        <td class="data right">{{NumberFormat data-1.02500-00600}}</td>
        <td class="data right">{{NumberFormat data-1.02500-00700}}</td>
        <td class="left">25</td>
    </tr>
    <tr>
        <td class="right">26</td>
        <td class="center">2600</td>
        <td> Physician Services**</td>
        <td class="data right">{{NumberFormat data-1.02500-00100}}</td>
        <td class="data right">{{NumberFormat data-1.02500-00200}}</td>
        <td class="data right">{{NumberFormat data-1.02500-00300}}</td>
        <td class="data right">{{NumberFormat data-1.02500-00400}}</td>
        <td class="data right">{{NumberFormat data-1.02500-00500}}</td>
        <td class="data right">{{NumberFormat data-1.02500-00600}}</td>
        <td class="data right">{{NumberFormat data-1.02500-00700}}</td>
        <td class="left">26</td>
    </tr>
    <tr>
        <td class="right">27</td>
        <td class="center">2700</td>
        <td> Nurse Practitioner**</td>
        <td class="data right">{{NumberFormat data-1.02700-00100}}</td>
        <td class="data right">{{NumberFormat data-1.02700-00200}}</td>
        <td class="data right">{{NumberFormat data-1.02700-00300}}</td>
        <td class="data right">{{NumberFormat data-1.02700-00400}}</td>
        <td class="data right">{{NumberFormat data-1.02700-00500}}</td>
        <td class="data right">{{NumberFormat data-1.02700-00600}}</td>
        <td class="data right">{{NumberFormat data-1.02700-00700}}</td>
        <td class="left">27</td>
    </tr>
    <tr>
        <td class="right">28</td>
        <td class="center">2800</td>
        <td> Registered Nurse**</td>
        <td class="data right">{{NumberFormat data-1.02800-00100}}</td>
        <td class="data right">{{NumberFormat data-1.02800-00200}}</td>
        <td class="data right">{{NumberFormat data-1.02800-00300}}</td>
        <td class="data right">{{NumberFormat data-1.02800-00400}}</td>
        <td class="data right">{{NumberFormat data-1.02800-00500}}</td>
        <td class="data right">{{NumberFormat data-1.02800-00600}}</td>
        <td class="data right">{{NumberFormat data-1.02800-00700}}</td>
        <td class="left">28</td>
    </tr>
    <tr>
        <td class="right">29</td>
        <td class="center">2900</td>
        <td>  LPN/LVN**</td>
        <td class="data right">{{NumberFormat data-1.02900-00100}}</td>
        <td class="data right">{{NumberFormat data-1.02900-00200}}</td>
        <td class="data right">{{NumberFormat data-1.02900-00300}}</td>
        <td class="data right">{{NumberFormat data-1.02900-00400}}</td>
        <td class="data right">{{NumberFormat data-1.02900-00500}}</td>
        <td class="data right">{{NumberFormat data-1.02900-00600}}</td>
        <td class="data right">{{NumberFormat data-1.02900-00700}}</td>
        <td class="left">29</td>
    </tr>
    <tr>
        <td class="right">30</td>
        <td class="center">3000</td>
        <td> Physical Therapy**</td>
        <td class="data right">{{NumberFormat data-1.03000-00100}}</td>
        <td class="data right">{{NumberFormat data-1.03000-00200}}</td>
        <td class="data right">{{NumberFormat data-1.03000-00300}}</td>
        <td class="data right">{{NumberFormat data-1.03000-00400}}</td>
        <td class="data right">{{NumberFormat data-1.03000-00500}}</td>
        <td class="data right">{{NumberFormat data-1.03000-00600}}</td>
        <td class="data right">{{NumberFormat data-1.03000-00700}}</td>
        <td class="left">30</td>
    </tr>
    <tr>
        <td class="right">31</td>
        <td class="center">3100</td>
        <td> Occupational Therapy**</td>
        <td class="data right">{{NumberFormat data-1.03100-00100}}</td>
        <td class="data right">{{NumberFormat data-1.03100-00200}}</td>
        <td class="data right">{{NumberFormat data-1.03100-00300}}</td>
        <td class="data right">{{NumberFormat data-1.03100-00400}}</td>
        <td class="data right">{{NumberFormat data-1.03100-00500}}</td>
        <td class="data right">{{NumberFormat data-1.03100-00600}}</td>
        <td class="data right">{{NumberFormat data-1.03100-00700}}</td>
        <td class="left">31</td>
    </tr>
    <tr>
        <td class="right">32</td>
        <td class="center">3200</td>
        <td> Speech/Language Pathology**</td>
        <td class="data right">{{NumberFormat data-1.03200-00100}}</td>
        <td class="data right">{{NumberFormat data-1.03200-00200}}</td>
        <td class="data right">{{NumberFormat data-1.03200-00300}}</td>
        <td class="data right">{{NumberFormat data-1.03200-00400}}</td>
        <td class="data right">{{NumberFormat data-1.03200-00500}}</td>
        <td class="data right">{{NumberFormat data-1.03200-00600}}</td>
        <td class="data right">{{NumberFormat data-1.03200-00700}}</td>
        <td class="left">32</td>
    </tr>
    <tr>
        <td class="right">33</td>
        <td class="center">3300</td>
        <td> Medical Social Services**</td>
        <td class="data right">{{NumberFormat data-1.03300-00100}}</td>
        <td class="data right">{{NumberFormat data-1.03300-00200}}</td>
        <td class="data right">{{NumberFormat data-1.03300-00300}}</td>
        <td class="data right">{{NumberFormat data-1.03300-00400}}</td>
        <td class="data right">{{NumberFormat data-1.03300-00500}}</td>
        <td class="data right">{{NumberFormat data-1.03300-00600}}</td>
        <td class="data right">{{NumberFormat data-1.03300-00700}}</td>
        <td class="left">33</td>
    </tr>
    <tr>
        <td class="right">34</td>
        <td class="center">3400</td>
        <td> Spiritual Counseling**</td>
        <td class="data right">{{NumberFormat data-1.03400-00100}}</td>
        <td class="data right">{{NumberFormat data-1.03400-00200}}</td>
        <td class="data right">{{NumberFormat data-1.03400-00300}}</td>
        <td class="data right">{{NumberFormat data-1.03400-00400}}</td>
        <td class="data right">{{NumberFormat data-1.03400-00500}}</td>
        <td class="data right">{{NumberFormat data-1.03400-00600}}</td>
        <td class="data right">{{NumberFormat data-1.03400-00700}}</td>
        <td class="left">34</td>
    </tr>
    <tr>
        <td class="right">35</td>
        <td class="center">3500</td>
        <td> Dietary Counseling**</td>
        <td class="data right">{{NumberFormat data-1.03500-00100}}</td>
        <td class="data right">{{NumberFormat data-1.03500-00200}}</td>
        <td class="data right">{{NumberFormat data-1.03500-00300}}</td>
        <td class="data right">{{NumberFormat data-1.03500-00400}}</td>
        <td class="data right">{{NumberFormat data-1.03500-00500}}</td>
        <td class="data right">{{NumberFormat data-1.03500-00600}}</td>
        <td class="data right">{{NumberFormat data-1.03500-00700}}</td>
        <td class="left">35</td>
    </tr>
    <tr>
        <td class="right">36</td>
        <td class="center">3600</td>
        <td> Counseling - Other**</td>
        <td class="data right">{{NumberFormat data-1.03600-00100}}</td>
        <td class="data right">{{NumberFormat data-1.03600-00200}}</td>
        <td class="data right">{{NumberFormat data-1.03600-00300}}</td>
        <td class="data right">{{NumberFormat data-1.03600-00400}}</td>
        <td class="data right">{{NumberFormat data-1.03600-00500}}</td>
        <td class="data right">{{NumberFormat data-1.03600-00600}}</td>
        <td class="data right">{{NumberFormat data-1.03600-00700}}</td>
        <td class="left">36</td>
    </tr>
    <tr>
        <td class="right">37</td>
        <td class="center">3700</td>
        <td> Hospice Aide and Homemaker Services**</td>
        <td class="data right">{{NumberFormat data-1.03700-00100}}</td>
        <td class="data right">{{NumberFormat data-1.03700-00200}}</td>
        <td class="data right">{{NumberFormat data-1.03700-00300}}</td>
        <td class="data right">{{NumberFormat data-1.03700-00400}}</td>
        <td class="data right">{{NumberFormat data-1.03700-00500}}</td>
        <td class="data right">{{NumberFormat data-1.03700-00600}}</td>
        <td class="data right">{{NumberFormat data-1.03700-00700}}</td>
        <td class="left">37</td>
    </tr>
    <tr>
        <td class="right">38</td>
        <td class="center">3800</td>
        <td> Durable Medical Equipment/Oxygen**</td>
        <td class="data right">{{NumberFormat data-1.03800-00100}}</td>
        <td class="data right">{{NumberFormat data-1.03800-00200}}</td>
        <td class="data right">{{NumberFormat data-1.03800-00300}}</td>
        <td class="data right">{{NumberFormat data-1.03800-00400}}</td>
        <td class="data right">{{NumberFormat data-1.03800-00500}}</td>
        <td class="data right">{{NumberFormat data-1.03800-00600}}</td>
        <td class="data right">{{NumberFormat data-1.03800-00700}}</td>
        <td class="left">38</td>
    </tr>
    <tr>
        <td class="right">39</td>
        <td class="center">3900</td>
        <td> Patient Transportation**</td>
        <td class="data right">{{NumberFormat data-1.03900-00100}}</td>
        <td class="data right">{{NumberFormat data-1.03900-00200}}</td>
        <td class="data right">{{NumberFormat data-1.03900-00300}}</td>
        <td class="data right">{{NumberFormat data-1.03900-00400}}</td>
        <td class="data right">{{NumberFormat data-1.03900-00500}}</td>
        <td class="data right">{{NumberFormat data-1.03900-00600}}</td>
        <td class="data right">{{NumberFormat data-1.03900-00700}}</td>
        <td class="left">39</td>
    </tr>
    <tr>
        <td colspan="11">* Transfer the amounts in column 7 to Wkst. B, col. 0, line as appropriate.<div> ** See instructions.  Do not transfer the amounts in col. 7 to Wkst. B.</div></td>
    </tr>

    <tr>
        <td colspan="11">FORM CMS-1984-14 (08-2014)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4310)</td>
    </tr>
    <tr>
        <td colspan="2" class="border-right">43-106</td>
        <td colspan="7" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">Rev. 1</td>
    </tr>
</tbody>
</table>
</div>