<div class="report">
<table border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
<col width="4%" />
<col width="6%" />
<col width="30%" />
<col width="10%" /> 
<col width="10%" /> 
<col width="10%" /> 
<col width="10%" /> 
<col width="10%" /> 
<col width="10%" /> 
<col width="10%" />  
<col width="4%" /> 
</colgroup>
<thead>
    <tr>
        <td colspan="7"> RECLASSIFICATION  AND  ADJUSTMENT  OF  TRIAL  BALANCE  OF  EXPENSES</td>
        <td>Provider CCN: <span class="data">{{pId}}</span></td>
        <td>
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="2">  WORKSHEET  A</td>
    </tr>
</thead>
<tbody>
    <tr>
        <td colspan="3" rowspan="2"></td>
        <td class="center">SALARIES</td>
        <td class="center">OTHER</td>
        <td class="center">TOTAL<div><span>( col. 1 through col. 5 )</span></div></td>
        <td class="center">RECLASSI-<div>FICATIONS</div></td>
        <td class="center">SUBTOTAL</td>
        <td class="center">ADJUST-<div>MENTS</div></td>
        <td class="center">TOTAL<div><span>( col. 5 ± col. 6 )</span></div></td>
        <td rowspan="2"></td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
        <td class="center">5</td>
        <td class="center">6</td>
        <td class="center">7</td>
    </tr>
    <tr>
        <td colspan="3"> DIRECT  PATIENT  CARE  SERVICE  COST  CENTERS  (Cont.)</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="right">40</td>
        <td class="center">4000</td>
        <td>  Imaging Services**</td>
        <td class="data right">{{NumberFormat data-1.04000-00100}}</td>
        <td class="data right">{{NumberFormat data-1.04000-00200}}</td>
        <td class="data right">{{NumberFormat data-1.04000-00300}}</td>
        <td class="data right">{{NumberFormat data-1.04000-00400}}</td>
        <td class="data right">{{NumberFormat data-1.04000-00500}}</td>
        <td class="data right">{{NumberFormat data-1.04000-00600}}</td>
        <td class="data right">{{NumberFormat data-1.04000-00700}}</td>
        <td class="left">40</td>
    </tr>
    <tr>
        <td class="right">41</td>
        <td class="center">4100</td>
        <td> Labs and Diagnostics**</td>
        <td class="data right">{{NumberFormat data-1.04100-00100}}</td>
        <td class="data right">{{NumberFormat data-1.04100-00200}}</td>
        <td class="data right">{{NumberFormat data-1.04100-00300}}</td>
        <td class="data right">{{NumberFormat data-1.04100-00400}}</td>
        <td class="data right">{{NumberFormat data-1.04100-00500}}</td>
        <td class="data right">{{NumberFormat data-1.04100-00600}}</td>
        <td class="data right">{{NumberFormat data-1.04100-00700}}</td>
        <td class="left">41</td>
    </tr>
    <tr>
        <td class="right">42</td>
        <td class="center">4200</td>
        <td> Medical Supplies - Non-routine**</td>
        <td class="data right">{{NumberFormat data-1.04200-00100}}</td>
        <td class="data right">{{NumberFormat data-1.04200-00200}}</td>
        <td class="data right">{{NumberFormat data-1.04200-00300}}</td>
        <td class="data right">{{NumberFormat data-1.04200-00400}}</td>
        <td class="data right">{{NumberFormat data-1.04200-00500}}</td>
        <td class="data right">{{NumberFormat data-1.04200-00600}}</td>
        <td class="data right">{{NumberFormat data-1.04200-00700}}</td>
        <td class="left">42</td>
    </tr>
    <tr>
        <td class="right">43</td>
        <td class="center">4300</td>
        <td> Outpatient Services**</td>
        <td class="data right">{{NumberFormat data-1.04300-00100}}</td>
        <td class="data right">{{NumberFormat data-1.04300-00200}}</td>
        <td class="data right">{{NumberFormat data-1.04300-00300}}</td>
        <td class="data right">{{NumberFormat data-1.04300-00400}}</td>
        <td class="data right">{{NumberFormat data-1.04300-00500}}</td>
        <td class="data right">{{NumberFormat data-1.04300-00600}}</td>
        <td class="data right">{{NumberFormat data-1.04300-00700}}</td>
        <td class="left">43</td>
    </tr>
    <tr>
        <td class="right">44</td>
        <td class="center">4400</td>
        <td> Palliative Radiation Therapy**</td>
        <td class="data right">{{NumberFormat data-1.04400-00100}}</td>
        <td class="data right">{{NumberFormat data-1.04400-00200}}</td>
        <td class="data right">{{NumberFormat data-1.04400-00300}}</td>
        <td class="data right">{{NumberFormat data-1.04400-00400}}</td>
        <td class="data right">{{NumberFormat data-1.04400-00500}}</td>
        <td class="data right">{{NumberFormat data-1.04400-00600}}</td>
        <td class="data right">{{NumberFormat data-1.04400-00700}}</td>
        <td class="left">44</td>
    </tr>
    <tr>
        <td class="right">45</td>
        <td class="center">4500</td>
        <td> Palliative Chemotherapy**</td>
        <td class="data right">{{NumberFormat data-1.04500-00100}}</td>
        <td class="data right">{{NumberFormat data-1.04500-00200}}</td>
        <td class="data right">{{NumberFormat data-1.04500-00300}}</td>
        <td class="data right">{{NumberFormat data-1.04500-00400}}</td>
        <td class="data right">{{NumberFormat data-1.04500-00500}}</td>
        <td class="data right">{{NumberFormat data-1.04500-00600}}</td>
        <td class="data right">{{NumberFormat data-1.04500-00700}}</td>
        <td class="left">45</td>
    </tr>
    <tr>
        <td class="right">46</td>
        <td class="center"></td>
        <td> Other Patient Care Services (specify)**</td>
        <td class="data right">{{NumberFormat data-1.04600-00100}}</td>
        <td class="data right">{{NumberFormat data-1.04600-00200}}</td>
        <td class="data right">{{NumberFormat data-1.04600-00300}}</td>
        <td class="data right">{{NumberFormat data-1.04600-00400}}</td>
        <td class="data right">{{NumberFormat data-1.04600-00500}}</td>
        <td class="data right">{{NumberFormat data-1.04600-00600}}</td>
        <td class="data right">{{NumberFormat data-1.04600-00700}}</td>
        <td class="left">46</td>
    </tr>
    <tr>
        <td colspan="3"> NONREIMBURSABLE  COST  CENTERS</td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td></td>
    </tr>
    <tr>
        <td class="right">60</td>
        <td class="center">6000</td>
        <td>  Bereavement Program*</td>
        <td class="data right">{{NumberFormat data-1.06000-00100}}</td>
        <td class="data right">{{NumberFormat data-1.06000-00200}}</td>
        <td class="data right">{{NumberFormat data-1.06000-00300}}</td>
        <td class="data right">{{NumberFormat data-1.06000-00400}}</td>
        <td class="data right">{{NumberFormat data-1.06000-00500}}</td>
        <td class="data right">{{NumberFormat data-1.06000-00600}}</td>
        <td class="data right">{{NumberFormat data-1.06000-00700}}</td>
        <td class="left">60</td>
    </tr>
    <tr>
        <td class="right">61</td>
        <td class="center">6100</td>
        <td> Volunteer Program*</td>
        <td class="data right">{{NumberFormat data-1.06100-00100}}</td>
        <td class="data right">{{NumberFormat data-1.06100-00200}}</td>
        <td class="data right">{{NumberFormat data-1.06100-00300}}</td>
        <td class="data right">{{NumberFormat data-1.06100-00400}}</td>
        <td class="data right">{{NumberFormat data-1.06100-00500}}</td>
        <td class="data right">{{NumberFormat data-1.06100-00600}}</td>
        <td class="data right">{{NumberFormat data-1.06100-00700}}</td>
        <td class="left">61</td>
    </tr>
    <tr>
        <td class="right">62</td>
        <td class="center">6200</td>
        <td> Fundraising*</td>
        <td class="data right">{{NumberFormat data-1.06200-00100}}</td>
        <td class="data right">{{NumberFormat data-1.06200-00200}}</td>
        <td class="data right">{{NumberFormat data-1.06200-00300}}</td>
        <td class="data right">{{NumberFormat data-1.06200-00400}}</td>
        <td class="data right">{{NumberFormat data-1.06200-00500}}</td>
        <td class="data right">{{NumberFormat data-1.06200-00600}}</td>
        <td class="data right">{{NumberFormat data-1.06200-00700}}</td>
        <td class="left">62</td>
    </tr>
    <tr>
        <td class="right">63</td>
        <td class="center">6300</td>
        <td> Hospice/Palliative Medicine Fellows*</td>
        <td class="data right">{{NumberFormat data-1.06300-00100}}</td>
        <td class="data right">{{NumberFormat data-1.06300-00200}}</td>
        <td class="data right">{{NumberFormat data-1.06300-00300}}</td>
        <td class="data right">{{NumberFormat data-1.06300-00400}}</td>
        <td class="data right">{{NumberFormat data-1.06300-00500}}</td>
        <td class="data right">{{NumberFormat data-1.06300-00600}}</td>
        <td class="data right">{{NumberFormat data-1.06300-00700}}</td>
        <td class="left">63</td>
    </tr>
    <tr>
        <td class="right">64</td>
        <td class="center">6400</td>
        <td>  Palliative Care Program*</td>
        <td class="data right">{{NumberFormat data-1.06400-00100}}</td>
        <td class="data right">{{NumberFormat data-1.06400-00200}}</td>
        <td class="data right">{{NumberFormat data-1.06400-00300}}</td>
        <td class="data right">{{NumberFormat data-1.06400-00400}}</td>
        <td class="data right">{{NumberFormat data-1.06400-00500}}</td>
        <td class="data right">{{NumberFormat data-1.06400-00600}}</td>
        <td class="data right">{{NumberFormat data-1.06400-00700}}</td>
        <td class="left">64</td>
    </tr>
    <tr>
        <td class="right">65</td>
        <td class="center">6500</td>
        <td> Other Physician Services*</td>
        <td class="data right">{{NumberFormat data-1.06500-00100}}</td>
        <td class="data right">{{NumberFormat data-1.06500-00200}}</td>
        <td class="data right">{{NumberFormat data-1.06500-00300}}</td>
        <td class="data right">{{NumberFormat data-1.06500-00400}}</td>
        <td class="data right">{{NumberFormat data-1.06500-00500}}</td>
        <td class="data right">{{NumberFormat data-1.06500-00600}}</td>
        <td class="data right">{{NumberFormat data-1.06500-00700}}</td>
        <td class="left">65</td>
    </tr>
    <tr>
        <td class="right">66</td>
        <td class="center">6600</td>
        <td> Residential Care *</td>
        <td class="data right">{{NumberFormat data-1.06600-00100}}</td>
        <td class="data right">{{NumberFormat data-1.06600-00200}}</td>
        <td class="data right">{{NumberFormat data-1.06600-00300}}</td>
        <td class="data right">{{NumberFormat data-1.06600-00400}}</td>
        <td class="data right">{{NumberFormat data-1.06600-00500}}</td>
        <td class="data right">{{NumberFormat data-1.06600-00600}}</td>
        <td class="data right">{{NumberFormat data-1.06600-00700}}</td>
        <td class="left">66</td>
    </tr>
    <tr>
        <td class="right">67</td>
        <td class="center">6700</td>
        <td> Advertising*</td>
        <td class="data right">{{NumberFormat data-1.06700-00100}}</td>
        <td class="data right">{{NumberFormat data-1.06700-00200}}</td>
        <td class="data right">{{NumberFormat data-1.06700-00300}}</td>
        <td class="data right">{{NumberFormat data-1.06700-00400}}</td>
        <td class="data right">{{NumberFormat data-1.06700-00500}}</td>
        <td class="data right">{{NumberFormat data-1.06700-00600}}</td>
        <td class="data right">{{NumberFormat data-1.06700-00700}}</td>
        <td class="left">67 </td>
    </tr>
    <tr>
        <td class="right">68</td>
        <td class="center">6800</td>
        <td> Telehealth/Telemonitoring*</td>
        <td class="data right">{{NumberFormat data-1.06800-00100}}</td>
        <td class="data right">{{NumberFormat data-1.06800-00200}}</td>
        <td class="data right">{{NumberFormat data-1.06800-00300}}</td>
        <td class="data right">{{NumberFormat data-1.06800-00400}}</td>
        <td class="data right">{{NumberFormat data-1.06800-00500}}</td>
        <td class="data right">{{NumberFormat data-1.06800-00600}}</td>
        <td class="data right">{{NumberFormat data-1.06800-00700}}</td>
        <td class="left">68</td>
    </tr>
    <tr>
        <td class="right">69</td>
        <td class="center">6900</td>
        <td> Thrift Store*</td>
        <td class="data right">{{NumberFormat data-1.06900-00100}}</td>
        <td class="data right">{{NumberFormat data-1.06900-00200}}</td>
        <td class="data right">{{NumberFormat data-1.06900-00300}}</td>
        <td class="data right">{{NumberFormat data-1.06900-00400}}</td>
        <td class="data right">{{NumberFormat data-1.06900-00500}}</td>
        <td class="data right">{{NumberFormat data-1.06900-00600}}</td>
        <td class="data right">{{NumberFormat data-1.06900-00700}}</td>
        <td class="left">69</td>
    </tr>
    <tr>
        <td class="right">70</td>
        <td class="center">7000</td>
        <td> Nursing Facility Room & Board*</td>
        <td class="data fillgrey right">{{NumberFormat data-1.07000-00100}}</td>
        <td class="data right">{{NumberFormat data-1.07000-00200}}</td>
        <td class="data right">{{NumberFormat data-1.07000-00300}}</td>
        <td class="data right">{{NumberFormat data-1.07000-00400}}</td>
        <td class="data right">{{NumberFormat data-1.07000-00500}}</td>
        <td class="data right">{{NumberFormat data-1.07000-00600}}</td>
        <td class="data right">{{NumberFormat data-1.07000-00700}}</td>
        <td class="left">70</td>
    </tr>
    <tr>
        <td class="right">71</td>
        <td class="center"></td>
        <td> Other Nonreimbursable (specify)*</td>
        <td class="data right">{{NumberFormat data-1.07100-00100}}</td>
        <td class="data right">{{NumberFormat data-1.07100-00200}}</td>
        <td class="data right">{{NumberFormat data-1.07100-00300}}</td>
        <td class="data right">{{NumberFormat data-1.07100-00400}}</td>
        <td class="data right">{{NumberFormat data-1.07100-00500}}</td>
        <td class="data right">{{NumberFormat data-1.07100-00600}}</td>
        <td class="data right">{{NumberFormat data-1.07100-00700}}</td>
        <td class="left">71</td>
    </tr>
    <tr>
        <td class="right">100</td>
        <td class="center"></td>
        <td>  Total</td>
        <td class="data right">{{NumberFormat data-1.10000-00100}}</td>
        <td class="data right">{{NumberFormat data-1.10000-00200}}</td>
        <td class="data right">{{NumberFormat data-1.10000-00300}}</td>
        <td class="data right">{{NumberFormat data-1.10000-00400}}</td>
        <td class="data right">{{NumberFormat data-1.10000-00500}}</td>
        <td class="data right">{{NumberFormat data-1.10000-00600}}</td>
        <td class="data right">{{NumberFormat data-1.10000-00700}}</td>
        <td class="left">100</td>
    </tr>
    <tr>
        <td colspan="11">* Transfer the amounts in column 7 to Wkst. B, col. 0, line as appropriate.<div> ** See instructions.  Do not transfer the amounts in col. 7 to Wkst. B.</div></td>
    </tr>

    <tr>
        <td colspan="11">FORM CMS-1984-14 (07-2015)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4310)</td>
    </tr>
    <tr>
        <td colspan="2" class="border-right">Rev. 2</td>
        <td colspan="7" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">43-107</td>
    </tr>
</tbody>
</table>
</div>