<div class="report">
<table border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
<col width="4%" />
<col width="30%" />
<col width="10%" /> 
<col width="10%" /> 
<col width="10%" /> 
<col width="10%" /> 
<col width="10%" /> 
<col width="10%" /> 
<col width="10%" />  
<col width="4%" /> 
</colgroup>
<thead>
    <tr>
        <td colspan="6">  RECLASSIFICATION  AND  ADJUSTMENT  OF  TRIAL  BALANCE  OF  EXPENSES<div> ROUTINE  HOME  CARE</div></td>
        <td>Provider CCN: <span class="data">{{pId}}</span></td>
        <td>
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="2">  WORKSHEET  A-2</td>
    </tr>
</thead>
<tbody>
    <tr>
        <td colspan="2" rowspan="2"></td>
        <td class="center">SALARIES</td>
        <td class="center">OTHER</td>
        <td class="center">SUBTOTAL<div><span>( col. 1 plus col. 2 )</span></div></td>
        <td class="center">RECLASSI-<div>FICATIONS</div></td>
        <td class="center">SUBTOTAL</td>
        <td class="center">ADJUST-<div>MENTS</div></td>
        <td class="center">TOTAL<div><span>( col. 5 ± col. 6 )</span></div></td>
        <td rowspan="2"></td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
        <td class="center">5</td>
        <td class="center">6</td>
        <td class="center">7</td>
    </tr>
    <tr>
        <td colspan="2"> DIRECT  PATIENT  CARE  SERVICE  COST  CENTERS</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="right">25</td>
        <td> Inpatient Care - Contracted</td>
        <td class="data right fillgrey">{{NumberFormat data-1.02500-00100}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.02500-00200}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.02500-00300}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.02500-00400}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.02500-00500}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.02500-00600}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.02500-00700}}</td>
        <td class="left">25</td>
    </tr>
    <tr>
        <td class="right">26</td>
        <td> Physician Services</td>
        <td class="data right">{{NumberFormat data-1.02600-00100}}</td>
        <td class="data right">{{NumberFormat data-1.02600-00200}}</td>
        <td class="data right">{{NumberFormat data-1.02600-00300}}</td>
        <td class="data right">{{NumberFormat data-1.02600-00400}}</td>
        <td class="data right">{{NumberFormat data-1.02600-00500}}</td>
        <td class="data right">{{NumberFormat data-1.02600-00600}}</td>
        <td class="data right">{{NumberFormat data-1.02600-00700}}</td>
        <td class="left">26</td>
    </tr>
    <tr>
        <td class="right">27</td>
        <td> Nurse Practitioner</td>
        <td class="data right">{{NumberFormat data-1.02700-00100}}</td>
        <td class="data right">{{NumberFormat data-1.02700-00200}}</td>
        <td class="data right">{{NumberFormat data-1.02700-00300}}</td>
        <td class="data right">{{NumberFormat data-1.02700-00400}}</td>
        <td class="data right">{{NumberFormat data-1.02700-00500}}</td>
        <td class="data right">{{NumberFormat data-1.02700-00600}}</td>
        <td class="data right">{{NumberFormat data-1.02700-00700}}</td>
        <td class="left">27</td>
    </tr>
    <tr>
        <td class="right">28</td>
        <td> Registered Nurse</td>
        <td class="data right">{{NumberFormat data-1.02800-00100}}</td>
        <td class="data right">{{NumberFormat data-1.02800-00200}}</td>
        <td class="data right">{{NumberFormat data-1.02800-00300}}</td>
        <td class="data right">{{NumberFormat data-1.02800-00400}}</td>
        <td class="data right">{{NumberFormat data-1.02800-00500}}</td>
        <td class="data right">{{NumberFormat data-1.02800-00600}}</td>
        <td class="data right">{{NumberFormat data-1.02800-00700}}</td>
        <td class="left">28</td>
    </tr>
    <tr>
        <td class="right">29</td>
        <td> LPN/LVN</td>
        <td class="data right">{{NumberFormat data-1.02900-00100}}</td>
        <td class="data right">{{NumberFormat data-1.02900-00200}}</td>
        <td class="data right">{{NumberFormat data-1.02900-00300}}</td>
        <td class="data right">{{NumberFormat data-1.02900-00400}}</td>
        <td class="data right">{{NumberFormat data-1.02900-00500}}</td>
        <td class="data right">{{NumberFormat data-1.02900-00600}}</td>
        <td class="data right">{{NumberFormat data-1.02900-00700}}</td>
        <td class="left">29</td>
    </tr>
    <tr>
        <td class="right">30</td>
        <td> Physical Therapy</td>
        <td class="data right">{{NumberFormat data-1.03000-00100}}</td>
        <td class="data right">{{NumberFormat data-1.03000-00200}}</td>
        <td class="data right">{{NumberFormat data-1.03000-00300}}</td>
        <td class="data right">{{NumberFormat data-1.03000-00400}}</td>
        <td class="data right">{{NumberFormat data-1.03000-00500}}</td>
        <td class="data right">{{NumberFormat data-1.03000-00600}}</td>
        <td class="data right">{{NumberFormat data-1.03000-00700}}</td>
        <td class="left">30</td>
    </tr>
    <tr>
        <td class="right">31</td>
        <td> Occupational Therapy</td>
        <td class="data right">{{NumberFormat data-1.03100-00100}}</td>
        <td class="data right">{{NumberFormat data-1.03100-00200}}</td>
        <td class="data right">{{NumberFormat data-1.03100-00300}}</td>
        <td class="data right">{{NumberFormat data-1.03100-00400}}</td>
        <td class="data right">{{NumberFormat data-1.03100-00500}}</td>
        <td class="data right">{{NumberFormat data-1.03100-00600}}</td>
        <td class="data right">{{NumberFormat data-1.03100-00700}}</td>
        <td class="left">31</td>
    </tr>
    <tr>
        <td class="right">32</td>
        <td> Speech/Language Pathology</td>
        <td class="data right">{{NumberFormat data-1.03200-00100}}</td>
        <td class="data right">{{NumberFormat data-1.03200-00200}}</td>
        <td class="data right">{{NumberFormat data-1.03200-00300}}</td>
        <td class="data right">{{NumberFormat data-1.03200-00400}}</td>
        <td class="data right">{{NumberFormat data-1.03200-00500}}</td>
        <td class="data right">{{NumberFormat data-1.03200-00600}}</td>
        <td class="data right">{{NumberFormat data-1.03200-00700}}</td>
        <td class="left">32</td>
    </tr>
    <tr>
        <td class="right">33</td>
        <td> Medical Social Services</td>
        <td class="data right">{{NumberFormat data-1.03300-00100}}</td>
        <td class="data right">{{NumberFormat data-1.03300-00200}}</td>
        <td class="data right">{{NumberFormat data-1.03300-00300}}</td>
        <td class="data right">{{NumberFormat data-1.03300-00400}}</td>
        <td class="data right">{{NumberFormat data-1.03300-00500}}</td>
        <td class="data right">{{NumberFormat data-1.03300-00600}}</td>
        <td class="data right">{{NumberFormat data-1.03300-00700}}</td>
        <td class="left">33</td>
    </tr>
    <tr>
        <td class="right">34</td>
        <td> Spiritual Counseling</td>
        <td class="data right">{{NumberFormat data-1.03400-00100}}</td>
        <td class="data right">{{NumberFormat data-1.03400-00200}}</td>
        <td class="data right">{{NumberFormat data-1.03400-00300}}</td>
        <td class="data right">{{NumberFormat data-1.03400-00400}}</td>
        <td class="data right">{{NumberFormat data-1.03400-00500}}</td>
        <td class="data right">{{NumberFormat data-1.03400-00600}}</td>
        <td class="data right">{{NumberFormat data-1.03400-00700}}</td>
        <td class="left">34</td>
    </tr>
    <tr>
        <td class="right">35</td>
        <td> Dietary Counseling</td>
        <td class="data right">{{NumberFormat data-1.03500-00100}}</td>
        <td class="data right">{{NumberFormat data-1.03500-00200}}</td>
        <td class="data right">{{NumberFormat data-1.03500-00300}}</td>
        <td class="data right">{{NumberFormat data-1.03500-00400}}</td>
        <td class="data right">{{NumberFormat data-1.03500-00500}}</td>
        <td class="data right">{{NumberFormat data-1.03500-00600}}</td>
        <td class="data right">{{NumberFormat data-1.03500-00700}}</td>
        <td class="left">35</td>
    </tr>
    <tr>
        <td class="right">36</td>
        <td> Counseling - Other</td>
        <td class="data right">{{NumberFormat data-1.03600-00100}}</td>
        <td class="data right">{{NumberFormat data-1.03600-00200}}</td>
        <td class="data right">{{NumberFormat data-1.03600-00300}}</td>
        <td class="data right">{{NumberFormat data-1.03600-00400}}</td>
        <td class="data right">{{NumberFormat data-1.03600-00500}}</td>
        <td class="data right">{{NumberFormat data-1.03600-00600}}</td>
        <td class="data right">{{NumberFormat data-1.03600-00700}}</td>
        <td class="left">36</td>
    </tr>
    <tr>
        <td class="right">37</td>
        <td> Hospice Aide and Homemaker Services</td>
        <td class="data right">{{NumberFormat data-1.03700-00100}}</td>
        <td class="data right">{{NumberFormat data-1.03700-00200}}</td>
        <td class="data right">{{NumberFormat data-1.03700-00300}}</td>
        <td class="data right">{{NumberFormat data-1.03700-00400}}</td>
        <td class="data right">{{NumberFormat data-1.03700-00500}}</td>
        <td class="data right">{{NumberFormat data-1.03700-00600}}</td>
        <td class="data right">{{NumberFormat data-1.03700-00700}}</td>
        <td class="left">37</td>
    </tr>
    <tr>
        <td class="right">38</td>
        <td> Durable Medical Equipment/Oxygen</td>
        <td class="data right">{{NumberFormat data-1.03800-00100}}</td>
        <td class="data right">{{NumberFormat data-1.03800-00200}}</td>
        <td class="data right">{{NumberFormat data-1.03800-00300}}</td>
        <td class="data right">{{NumberFormat data-1.03800-00400}}</td>
        <td class="data right">{{NumberFormat data-1.03800-00500}}</td>
        <td class="data right">{{NumberFormat data-1.03800-00600}}</td>
        <td class="data right">{{NumberFormat data-1.03800-00700}}</td>
        <td class="left">38</td>
    </tr>
    <tr>
        <td class="right">39</td>
        <td> Patient Transportation</td>
        <td class="data right">{{NumberFormat data-1.03900-00100}}</td>
        <td class="data right">{{NumberFormat data-1.03900-00200}}</td>
        <td class="data right">{{NumberFormat data-1.03900-00300}}</td>
        <td class="data right">{{NumberFormat data-1.03900-00400}}</td>
        <td class="data right">{{NumberFormat data-1.03900-00500}}</td>
        <td class="data right">{{NumberFormat data-1.03900-00600}}</td>
        <td class="data right">{{NumberFormat data-1.03900-00700}}</td>
        <td class="left">39</td>
    </tr>
    <tr>
        <td class="right">40</td>
        <td> Imaging Services</td>
        <td class="data right">{{NumberFormat data-1.04000-00100}}</td>
        <td class="data right">{{NumberFormat data-1.04000-00200}}</td>
        <td class="data right">{{NumberFormat data-1.04000-00300}}</td>
        <td class="data right">{{NumberFormat data-1.04000-00400}}</td>
        <td class="data right">{{NumberFormat data-1.04000-00500}}</td>
        <td class="data right">{{NumberFormat data-1.04000-00600}}</td>
        <td class="data right">{{NumberFormat data-1.04000-00700}}</td>
        <td class="left">40</td>
    </tr>
    <tr>
        <td class="right">41</td>
        <td> Labs and Diagnostics</td>
        <td class="data right">{{NumberFormat data-1.04100-00100}}</td>
        <td class="data right">{{NumberFormat data-1.04100-00200}}</td>
        <td class="data right">{{NumberFormat data-1.04100-00300}}</td>
        <td class="data right">{{NumberFormat data-1.04100-00400}}</td>
        <td class="data right">{{NumberFormat data-1.04100-00500}}</td>
        <td class="data right">{{NumberFormat data-1.04100-00600}}</td>
        <td class="data right">{{NumberFormat data-1.04100-00700}}</td>
        <td class="left">41</td>
    </tr>
    <tr>
        <td class="right">42</td>
        <td> Medical Supplies - Non-routine</td>
        <td class="data right">{{NumberFormat data-1.04200-00100}}</td>
        <td class="data right">{{NumberFormat data-1.04200-00200}}</td>
        <td class="data right">{{NumberFormat data-1.04200-00300}}</td>
        <td class="data right">{{NumberFormat data-1.04200-00400}}</td>
        <td class="data right">{{NumberFormat data-1.04200-00500}}</td>
        <td class="data right">{{NumberFormat data-1.04200-00600}}</td>
        <td class="data right">{{NumberFormat data-1.04200-00700}}</td>
        <td class="left">42</td>
    </tr>
    <tr>
        <td class="right">43</td>
        <td> Outpatient Services</td>
        <td class="data right">{{NumberFormat data-1.04300-00100}}</td>
        <td class="data right">{{NumberFormat data-1.04300-00200}}</td>
        <td class="data right">{{NumberFormat data-1.04300-00300}}</td>
        <td class="data right">{{NumberFormat data-1.04300-00400}}</td>
        <td class="data right">{{NumberFormat data-1.04300-00500}}</td>
        <td class="data right">{{NumberFormat data-1.04300-00600}}</td>
        <td class="data right">{{NumberFormat data-1.04300-00700}}</td>
        <td class="left">43</td>
    </tr>
    <tr>
        <td class="right">44</td>
        <td> Palliative Radiation Therapy</td>
        <td class="data right">{{NumberFormat data-1.04400-00100}}</td>
        <td class="data right">{{NumberFormat data-1.04400-00200}}</td>
        <td class="data right">{{NumberFormat data-1.04400-00300}}</td>
        <td class="data right">{{NumberFormat data-1.04400-00400}}</td>
        <td class="data right">{{NumberFormat data-1.04400-00500}}</td>
        <td class="data right">{{NumberFormat data-1.04400-00600}}</td>
        <td class="data right">{{NumberFormat data-1.04400-00700}}</td>
        <td class="left">44</td>
    </tr>
    <tr>
        <td class="right">45</td>
        <td> Palliative Chemotherapy</td>
        <td class="data right">{{NumberFormat data-1.04500-00100}}</td>
        <td class="data right">{{NumberFormat data-1.04500-00200}}</td>
        <td class="data right">{{NumberFormat data-1.04500-00300}}</td>
        <td class="data right">{{NumberFormat data-1.04500-00400}}</td>
        <td class="data right">{{NumberFormat data-1.04500-00500}}</td>
        <td class="data right">{{NumberFormat data-1.04500-00600}}</td>
        <td class="data right">{{NumberFormat data-1.04500-00700}}</td>
        <td class="left">45</td>
    </tr>
    <tr>
        <td class="right">46</td>
        <td> Other Patient Care Svc (specify)</td>
        <td class="data right">{{NumberFormat data-1.04600-00100}}</td>
        <td class="data right">{{NumberFormat data-1.04600-00200}}</td>
        <td class="data right">{{NumberFormat data-1.04600-00300}}</td>
        <td class="data right">{{NumberFormat data-1.04600-00400}}</td>
        <td class="data right">{{NumberFormat data-1.04600-00500}}</td>
        <td class="data right">{{NumberFormat data-1.04600-00600}}</td>
        <td class="data right">{{NumberFormat data-1.04600-00700}}</td>
        <td class="left">46</td>
    </tr>
    <tr>
        <td class="right">100</td>
        <td>Total *</td>
        <td class="data right">{{NumberFormat data-1.10000-00100}}</td>
        <td class="data right">{{NumberFormat data-1.10000-00200}}</td>
        <td class="data right">{{NumberFormat data-1.10000-00300}}</td>
        <td class="data right">{{NumberFormat data-1.10000-00400}}</td>
        <td class="data right">{{NumberFormat data-1.10000-00500}}</td>
        <td class="data right">{{NumberFormat data-1.10000-00600}}</td>
        <td class="data right">{{NumberFormat data-1.10000-00700}}</td>
        <td class="left">100</td>
    </tr>
    <tr>
        <td colspan="10">* Transfer the amount in column 7 to Wkst. B, col. 0, line 51.</td>
    </tr>

    <tr>
        <td colspan="10">FORM CMS-1984-14 (08-2014)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4311)</td>
    </tr>
    <tr>
        <td colspan="2" class="border-right">Rev. 1</td>
        <td colspan="6" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">43-109</td>
    </tr>
</tbody>
</table>
</div>