<div class="report">
<table border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
    <col width="4%" />
    <col width="40%" />
    <col width="10%" /> 
    <col width="23%" /> 
    <col width="20%" /> 
    <col width="10%" /> 
    <col width="10%" /> 
    <col width="4%" /> 
</colgroup>
<thead>
    <tr>
        <td colspan="3">  ADJUSTMENTS  TO  EXPENSES</td>
        <td>Provider CCN: <span class="data">{{pId}}</span></td>
        <td>
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="3">  WORKSHEET  A-8</td>
    </tr>
</thead>
<tbody>
    <tr>
        <td colspan="8">&nbsp;</td>
    </tr>
    <tr>
        <td class="center" colspan="2" rowspan="3"> DESCRIPTION <span>(1)</span>   </td>
        <td rowspan="2" class="center">Basis for<div>Adjustment</div><span>(2)</span></td>
        <td rowspan="2" class="center">AMOUNT</td>
        <td colspan="2" class="center">EXPENSE  CLASSIFICATION ON<div>WKST.  A  TO / FROM  WHICH</div><div>THE  AMOUNT  IS  TO  BE  ADJUSTED</div></td>
        <td rowspan="2" class="center">LOC WS Indicator</td>
        <td rowspan="3">&nbsp;</td>
    </tr>
    <tr>
        <td class="center">    Cost  Center</td>
        <td class="center">Line No.</td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
        <td class="center">5</td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td> Investment income on restricted funds  (chapter 2)</td>
        <td class="data center">{{data-1.00100-00100}}</td>
        <td class="data right">{{NumberFormat data-1.00100-00200}}</td>
        <td class="data left">{{data-1.00100-00300}}</td>
        <td class="data center">{{data-1.00100-00400}}</td>
        <td class="data">{{data-1.00100-00500}}</td>
        <td class="left">1</td>
    </tr>
    <tr>
        <td class="right">2</td>
        <td> Telephone services (pay stations excluded)  (chapter 21)</td>
        <td class="data center">{{data-1.00200-00100}}</td>
        <td class="data right">{{NumberFormat data-1.00200-00200}}</td>
        <td class="data left">{{data-1.00200-00300}}</td>
        <td class="data center">{{data-1.00200-00400}}</td>
        <td class="data">{{data-1.00200-00500}}</td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td> Adjustment resulting from transactions with related organ-<div> izations (chapter 10)  and home office costs (chapter 21)</div></td>
        <td class="center">Wkst. A-8-1</td>
        <td class="data right">{{NumberFormat data-1.00300-00200}}</td>
        <td class="data left fillgrey">{{data-1.00300-00300}}</td>
        <td class="data center fillgrey">{{data-1.00300-00400}}</td>
        <td class="data fillgrey">{{data-1.00300-00500}}</td>
        <td class="left">3</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td> Revenue - employee and guest meals</td>
        <td class="center">B</td>
        <td class="data right">{{NumberFormat data-1.00400-00200}}</td>
        <td> Dietary</td>
        <td class="center">8</td>
        <td class="data fillgrey">{{data-1.00400-00500}}</td>
        <td class="left">4</td>
    </tr>
    <tr>
        <td class="right">5</td>
        <td> Income from imposition of interest, finance or penalty  charges  (chapter 21)</td>
        <td class="center">B</td>
        <td class="data right">{{NumberFormat data-1.00500-00200}}</td>
        <td> Administrative and General</td>
        <td class="center">4</td>
        <td class="data fillgrey">{{data-1.00500-00500}}</td>
        <td class="left">5</td>
    </tr>
    <tr>
        <td class="right">6</td>
        <td> Bad debts included on trial balance</td>
        <td class="center">A</td>
        <td class="data right">{{NumberFormat data-1.00600-00200}}</td>
        <td class="data left fillgrey">{{data-1.00600-00300}}</td>
        <td class="data center fillgrey">{{data-1.00600-00400}}</td>
        <td class="data fillgrey">{{data-1.00600-00500}}</td>
        <td class="left">6</td>
    </tr>
    <tr>
        <td class="right">7</td>
        <td> Patient personal purchases</td>
        <td class="data center">{{data-1.00700-00100}}</td>
        <td class="data right">{{NumberFormat data-1.00700-00200}}</td>
        <td class="data left">{{data-1.00700-00300}}</td>
        <td class="data center">{{data-1.00700-00400}}</td>
        <td class="data">{{data-1.00700-00500}}</td>
        <td class="left">7</td>
    </tr>
    <tr>
        <td class="right">8</td>
        <td> Depreciation - buildings and fixtures</td>
        <td class="data center">{{data-1.00800-00100}}</td>
        <td class="data right">{{NumberFormat data-1.00800-00200}}</td>
        <td> Buildings & Fixtures</td>
        <td class="center">1</td>
        <td class="data fillgrey">{{data-1.00800-00500}}</td>
        <td class="left">8</td>
    </tr>
    <tr>
        <td class="right">9</td>
        <td> Depreciation - movable equipment</td>
        <td class="data center">{{data-1.00900-00100}}</td>
        <td class="data right">{{NumberFormat data-1.00900-00200}}</td>
        <td>  Movable Equipment</td>
        <td class="center">2</td>
        <td class="data fillgrey">{{data-1.00900-00500}}</td>
        <td class="left">9</td>
    </tr>
    <tr>
        <td class="right">10</td>
        <td> Revenue - State-redirected room and board</td>
        <td class="data center">{{data-1.01000-00100}}</td>
        <td class="data right">{{NumberFormat data-1.01000-00200}}</td>
        <td>  Nursing Facility Room & Board</td>
        <td class="center">70</td>
        <td class="data fillgrey">{{data-1.01000-00500}}</td>
        <td class="left">10</td>
    </tr>
    <tr>
        <td class="right">11</td>
        <td> Other adjustments (specify) (3)</td>
        <td class="data center">{{data-1.01100-00100}}</td>
        <td class="data right">{{NumberFormat data-1.01100-00200}}</td>
        <td class="data">{{data-1.01100-00300}}</td>
        <td class="center">70</td>
        <td class="data fillgrey">{{data-1.01100-00500}}</td>
        <td class="left">11</td>
    </tr>
    <tr>
        <td class="right">50</td>
        <td> TOTAL  (sum of lines 1 through 49)<div> (transfer to Wkst. A, col. 6, line 100)</div></td>
        <td class="data center">{{data-1.05000-00100}}</td>
        <td class="data right">{{NumberFormat data-1.05000-00200}}</td>
        <td class="data fillgrey">{{data-1.05000-00300}}</td>
        <td class="data center fillgrey">{{data-1.05000-00400}}</td>
        <td class="data fillgrey">{{data-1.05000-00500}}</td>
        <td class="left">50</td>
    </tr>
    <tr>
        <td colspan="8">  (1) Description - all chapter references in this column pertain to CMS Pub. 15-1<div>
            (2) Basis for adjustment (see instructions)</div><div class="tab">  A. Costs - if cost, including applicable overhead, can be determined</div><div class="tab">  B. Amount Received - if cost cannot be determined</div><div>(3) Additional adjustments may be made on lines 11 thru 49 and subscripts thereof.</div></td>
    </tr>

    <tr>
        <td colspan="8">FORM CMS-1984-14 (07-2015)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4318)</td>
    </tr>
    <tr>
        <td colspan="2" class="border-right">Rev. 2</td>
        <td colspan="4" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">43-113</td>
    </tr>
</tbody>
</table>
</div>