<div class="report">
<table border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
    <col width="4%" />
    <col width="8%" />
    <col width="40%" />
    <col width="15%" /> 
    <col width="20%" /> 
    <col width="20%" /> 
    <col width="10%" /> 
    <col width="8%" /> 
    <col width="4%" /> 
</colgroup>
<thead>
    <tr>
        <td colspan="4">  STATEMENT  OF  COSTS  OF  SERVICES  FROM<div> RELATED  ORGANIZATIONS  AND  HOME  OFFICE  COSTS</div></td>
        <td>Provider CCN: <span class="data">{{pId}}</span></td>
        <td>
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="3"> WORKSHEET  A-8-1</td>
    </tr>
</thead>
<tbody>
    <tr>
        <td colspan="9">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="9"> PART I  -  COSTS  INCURRED  AND  ADJUSTMENTS  REQUIRED  AS  A  RESULT  OF  TRANSACTIONS  WITH  RELATED  ORGANIZATIONS  OR              CLAIMED  HOME  OFFICE  COSTS</td>
    </tr>
    
    <tr>
        <td rowspan="2">&nbsp;</td>
        <td class="center">Wkst. A<div>Line</div><div>Number</div></td>
        <td class="center">Cost Center</td>
        <td class="center">Expense Items</td>
        <td class="center">Amount<div>Allowable</div><div>In Cost</div></td>
        <td class="center">Amount<div>Included</div><div>in Wkst. A</div></td>
        <td class="center">Net<div>Adjustments</div><div>(col. 4 minus col. 5) *</div></td>
        <td class="center">LOC WS<div>Indicator</div></td>
        <td rowspan="2" class="center">&nbsp;</td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
        <td class="center">5</td>
        <td class="center">6</td>
        <td class="center">7</td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td class="data">{{data-1.00100-00100}}</td>
        <td class="data">{{data-1.00100-00200}}</td>
        <td class="data">{{data-1.00100-00300}}</td>
        <td class="data right">{{NumberFormat data-1.00100-00400}}</td>
        <td class="data right">{{NumberFormat data-1.00100-00500}}</td>
        <td class="data right">{{NumberFormat data-1.00100-00600}}</td>
        <td class="data">{{data-1.00100-00700}}</td>
        <td class="left">1</td>
    </tr>
    <tr>
        <td class="right">2</td>
        <td class="data">{{data-1.00200-00100}}</td>
        <td class="data">{{data-1.00200-00200}}</td>
        <td class="data">{{data-1.00200-00300}}</td>
        <td class="data right">{{NumberFormat data-1.00200-00400}}</td>
        <td class="data right">{{NumberFormat data-1.00200-00500}}</td>
        <td class="data right">{{NumberFormat data-1.00200-00600}}</td>
        <td class="data">{{data-1.00200-00700}}</td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td class="data">{{data-1.00300-00100}}</td>
        <td class="data">{{data-1.00300-00200}}</td>
        <td class="data">{{data-1.00300-00300}}</td>
        <td class="data right">{{NumberFormat data-1.00300-00400}}</td>
        <td class="data right">{{NumberFormat data-1.00300-00500}}</td>
        <td class="data right">{{NumberFormat data-1.00300-00600}}</td>
        <td class="data">{{data-1.00300-00700}}</td>
        <td class="left">3</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td class="data">{{data-1.00400-00100}}</td>
        <td class="data">{{data-1.00400-00200}}</td>
        <td class="data">{{data-1.00400-00300}}</td>
        <td class="data right">{{NumberFormat data-1.00400-00400}}</td>
        <td class="data right">{{NumberFormat data-1.00400-00500}}</td>
        <td class="data right">{{NumberFormat data-1.00400-00600}}</td>
        <td class="data">{{data-1.00400-00700}}</td>
        <td class="left">4</td>
    </tr>
    <tr>
        <td class="right">5</td>
        <td class="data">{{data-1.00500-00100}}</td>
        <td class="data">{{data-1.00500-00200}}</td>
        <td class="data">{{data-1.00500-00300}}</td>
        <td class="data right">{{NumberFormat data-1.00500-00400}}</td>
        <td class="data right">{{NumberFormat data-1.00500-00500}}</td>
        <td class="data right">{{NumberFormat data-1.00500-00600}}</td>
        <td class="data">{{data-1.00500-00700}}</td>
        <td class="left">5</td>
    </tr>
    <tr>
        <td class="right">6</td>
        <td class="data">{{data-1.00600-00100}}</td>
        <td class="data">{{data-1.00600-00200}}</td>
        <td class="data">{{data-1.00600-00300}}</td>
        <td class="data right">{{NumberFormat data-1.00600-00400}}</td>
        <td class="data right">{{NumberFormat data-1.00600-00500}}</td>
        <td class="data right">{{NumberFormat data-1.00600-00600}}</td>
        <td class="data">{{data-1.00600-00700}}</td>
        <td class="left">6</td>
    </tr>
    <tr>
        <td class="right">7</td>
        <td class="data">{{data-1.00700-00100}}</td>
        <td class="data">{{data-1.00700-00200}}</td>
        <td class="data">{{data-1.00700-00300}}</td>
        <td class="data right">{{NumberFormat data-1.00700-00400}}</td>
        <td class="data right">{{NumberFormat data-1.00700-00500}}</td>
        <td class="data right">{{NumberFormat data-1.00700-00600}}</td>
        <td class="data">{{data-1.00700-00700}}</td>
        <td class="left">7</td>
    </tr>
    <tr>
        <td class="right">8</td>
        <td class="data">{{data-1.00800-00100}}</td>
        <td class="data">{{data-1.00800-00200}}</td>
        <td class="data">{{data-1.00800-00300}}</td>
        <td class="data right">{{NumberFormat data-1.00800-00400}}</td>
        <td class="data right">{{NumberFormat data-1.00800-00500}}</td>
        <td class="data right">{{NumberFormat data-1.00800-00600}}</td>
        <td class="data">{{data-1.00800-00700}}</td>
        <td class="left">8</td>
    </tr>
    <tr>
        <td class="right">9</td>
        <td class="data">{{data-1.00900-00100}}</td>
        <td class="data">{{data-1.00900-00200}}</td>
        <td class="data">{{data-1.00900-00300}}</td>
        <td class="data right">{{NumberFormat data-1.00900-00400}}</td>
        <td class="data right">{{NumberFormat data-1.00900-00500}}</td>
        <td class="data right">{{NumberFormat data-1.00900-00600}}</td>
        <td class="data">{{data-1.00900-00700}}</td>
        <td class="left">9</td>
    </tr>
    <tr>
        <td class="right">10</td>
        <td colspan="3"> TOTALS  (sum of lines 1 through 9) <div> (transfer col. 6, line 10 to Wkst. A-8, col. 2, line 3)</div></td>
        <td class="data right">{{NumberFormat data-1.01000-00400}}</td>
        <td class="data right">{{NumberFormat data-1.01000-00500}}</td>
        <td class="data right">{{NumberFormat data-1.01000-00600}}</td>
        <td class="data fillgrey">{{data-1.01000-00700}}</td>
        <td class="left">10</td>
    </tr>
    <tr>
        <td colspan="9">*  Transfer amounts in col. 6, lines 1 through 9 (and subscripts as appropriate) to Wkst. A, col. 6, lines as indicated in col. 1.  Positive amounts increase cost and negative amounts decrease cost.  For related organization or home office cost which has not been posted to Wkst. A, col. 1 and/or col. 2, report the amount allowable in col. 4 above.<div>&nbsp;</div></td>
    </tr>
    <tr>
        <td colspan="9"> PART II  -  INTERRELATIONSHIP  TO  RELATED  ORGANIZATION(S)  AND / OR  HOME  OFFICE</td>
    </tr>
    <tr>
        <td colspan="9">The Secretary, by virtue of the authority granted under section 1814(b)(1) of the Social Security Act, requires that you furnish the information requested under Part II of this worksheet.<div>&nbsp;</div><div>This information is used by the Centers for Medicare and Medicare Services and its contractors in determining that the costs applicable to services, facilities, and supplies furnished by organizations related to you by common ownership or control represent reasonable costs as determined under section 1861 of the Social Security Act.  If you do not provide all or any part of the requested information, the cost report is considered incomplete and not acceptable for purposes of claiming reimbursement under title XVIII.</div><div>&nbsp;</div></td>
    </tr>
    <tr>
        <td rowspan="3">&nbsp;</td>
        <td rowspan="2" class="center">Symbol<sup>(1)</sup></td>
        <td class="center" rowspan="2">Name</td>
        <td class="center" rowspan="2">Percentage<div>of</div><div>Ownership</div></td>
        <td colspan="4" class="center">Related Organization(s) and/or Home Office</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center">Name</td>
        <td class="center">Percentage<div>of</div><div>Ownership</div></td>
        <td colspan="2" class="center"> Type of<div>Business</div></td>
        <td rowspan="2"></td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
        <td class="center">5</td>
        <td colspan="2" class="center">6</td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td class="data">{{data-2.00100-00100}}</td>
        <td class="data">{{data-2.00100-00200}}</td>
        <td class="data">{{data-2.00100-00300}}</td>
        <td class="data">{{data-2.00100-00400}}</td>
        <td class="data">{{data-2.00100-00500}}</td>
        <td class="data" colspan="2">{{data-2.00100-00600}}</td>
        <td class="left">1</td>
    </tr>
    <tr>
        <td class="right">2</td>
        <td class="data">{{data-2.00200-00100}}</td>
        <td class="data">{{data-2.00200-00200}}</td>
        <td class="data">{{data-2.00200-00300}}</td>
        <td class="data">{{data-2.00200-00400}}</td>
        <td class="data">{{data-2.00200-00500}}</td>
        <td class="data" colspan="2">{{data-2.00200-00600}}</td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td class="data">{{data-2.00300-00100}}</td>
        <td class="data">{{data-2.00300-00200}}</td>
        <td class="data">{{data-2.00300-00300}}</td>
        <td class="data">{{data-2.00300-00400}}</td>
        <td class="data">{{data-2.00300-00500}}</td>
        <td class="data" colspan="2">{{data-2.00300-00600}}</td>
        <td class="left">3</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td class="data">{{data-2.00400-00100}}</td>
        <td class="data">{{data-2.00400-00200}}</td>
        <td class="data">{{data-2.00400-00300}}</td>
        <td class="data">{{data-2.00400-00400}}</td>
        <td class="data">{{data-2.00400-00500}}</td>
        <td class="data" colspan="2">{{data-2.00400-00600}}</td>
        <td class="left">4</td>
    </tr>
    <tr>
        <td class="right">5</td>
        <td class="data">{{data-2.00500-00100}}</td>
        <td class="data">{{data-2.00500-00200}}</td>
        <td class="data">{{data-2.00500-00300}}</td>
        <td class="data">{{data-2.00500-00400}}</td>
        <td class="data">{{data-2.00500-00500}}</td>
        <td class="data" colspan="2">{{data-2.00500-00600}}</td>
        <td class="left">5</td>
    </tr>
    <tr>
        <td class="right">6</td>
        <td class="data">{{data-2.00600-00100}}</td>
        <td class="data">{{data-2.00600-00200}}</td>
        <td class="data">{{data-2.00600-00300}}</td>
        <td class="data">{{data-2.00600-00400}}</td>
        <td class="data">{{data-2.00600-00500}}</td>
        <td class="data" colspan="2">{{data-2.00600-00600}}</td>
        <td class="left">6</td>
    </tr>
    <tr>
        <td class="right">7</td>
        <td class="data">{{data-2.00700-00100}}</td>
        <td class="data">{{data-2.00700-00200}}</td>
        <td class="data">{{data-2.00700-00300}}</td>
        <td class="data">{{data-2.00700-00400}}</td>
        <td class="data">{{data-2.00700-00500}}</td>
        <td class="data" colspan="2">{{data-2.00700-00600}}</td>
        <td class="left">7</td>
    </tr>
    <tr>
        <td class="right">8</td>
        <td class="data">{{data-2.00800-00100}}</td>
        <td class="data">{{data-2.00800-00200}}</td>
        <td class="data">{{data-2.00800-00300}}</td>
        <td class="data">{{data-2.00800-00400}}</td>
        <td class="data">{{data-2.00800-00500}}</td>
        <td class="data" colspan="2">{{data-2.00800-00600}}</td>
        <td class="left">8</td>
    </tr>
    <tr>
        <td class="right">9</td>
        <td class="data">{{data-2.00900-00100}}</td>
        <td class="data">{{data-2.00900-00200}}</td>
        <td class="data">{{data-2.00900-00300}}</td>
        <td class="data">{{data-2.00900-00400}}</td>
        <td class="data">{{data-2.00900-00500}}</td>
        <td class="data" colspan="2">{{data-2.00900-00600}}</td>
        <td class="left">9</td>
    </tr>
    <tr>
        <td class="right">10</td>
        <td class="data">{{data-2.01000-00100}}</td>
        <td class="data">{{data-2.01000-00200}}</td>
        <td class="data">{{data-2.01000-00300}}</td>
        <td class="data">{{data-2.01000-00400}}</td>
        <td class="data">{{data-2.01000-00500}}</td>
        <td class="data" colspan="2">{{data-2.01000-00600}}</td>
        <td class="left">10</td>
    </tr>
    <tr>
        <td colspan="9"><div>&nbsp;</div><sup>(1)</sup> Use the followings symbols to indicate interrelationship to related organizations:<div class="tab">     A. Individual has financial interest (stockholder, partner, etc.) in both related organization and in provider.</div><div class="tab">     B. Corporation, partnership or other organization has financial interest in provider.</div><div class="tab">     C. Provider has financial interest in corporation, partnership, or other organization.</div><div class="tab">     D. Director, officer, administrator or key person of provider or organization.</div><div class="tab">     E. Individual is director, officer, administrator or key person of provider and related organization.</div><div class="tab">     F. Director, officer, administrator or key person of related organization or relative of such person has financial interest in provider.</div><div class="tab">     G. Other (financial or non-financial) specify ______________________________________________________________</div><div>&nbsp;</div></td>
    </tr>
    <tr>
        <td colspan="9">FORM CMS-1984-14 (08-2014)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4319)</td>
    </tr>
    <tr>
        <td colspan="2" class="border-right">43-114</td>
        <td colspan="5" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">Rev. 2</td>
    </tr>
</tbody>
</table>
</div>