<div class="report">
<table border="1" width="2400" cellspacing="1" cellpadding="1">
<colgroup>
    <col width="4%" />
    <col width="25%" />
    <col width="12%" />
    <col width="12%" /> 
    <col width="12%" /> 
    <col width="12%" /> 
    <col width="12%" /> 
    <col width="12%" /> 
    <col width="12%" /> 
    <col width="12%" /> 
    <col width="12%" />
    <col width="12%" />
    <col width="25%" />
    <col width="12%" />
    <col width="12%" /> 
    <col width="12%" /> 
    <col width="12%" /> 
    <col width="12%" /> 
    <col width="12%" /> 
    <col width="12%" /> 
    <col width="12%" /> 
    <col width="12%" />    
    <col width="4%" /> 
</colgroup>
<thead>
    <tr>
        <td colspan="17"> COST  ALLOCATION</td>
        <td colspan="2">Provider CCN: <span class="data">{{pId}}</span></td>
        <td colspan="2">
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="3"> WORKSHEET  B</td>
    </tr>
</thead>
<tbody>
    <tr>
        <td colspan="2" rowspan="2">Cost Center Descriptions</td>
        <td class="center">NET<div>EXPENSES</div><div>FOR ALLOC.</div></td>
        <td class="center">CAP REL<div>BLDG</div><div>& FIX</div></td>
        <td class="center">CAP REL<div>MVBLE</div><div>EQUIP</div></td>
        <td class="center">EMPLOYEE<div>BENEFITS</div><div>DEPARTMENT</div></td>
        <td class="center">SUBTOTAL<div>( sum of col. 0 through col. 3)</td>
        <td class="center">ADMINIS<div> TRATIVE &</div><div>GENERAL</div></td>
        <td class="center">PLANT<div>OP &</div><div>MAINT</div></td>
        <td class="center">LAUNDRY<div>& LINEN</div></td>
        <td class="center">HOUSE-<div>KEEPING</div></td>
        <td class="center">DIETARY</td>
        <td class="center">NURSING <div>ADMINIS-</div><div>TRATION</div></td>
        <td class="center">ROUTINE<div>MEDICAL</div><div>SUPPLIES</div></td>
        <td class="center">MEDICAL <div>RECORDS</div></td>
        <td class="center">STAFF<div>TRANS-</div><div>PORTATION</div></td>
        <td class="center">VOLUNTEER<div>SVC COOR-</div><div>DINATION</div></td>
        <td class="center">PHARMACY</td>
        <td class="center">PHYSICIAN<div>ADMINISTRA-</div><div>TIVE SVCS </div></td>
        <td class="center">OTHER<div>GENERAL</div><div>SERVICE</div></td>
        <td class="center">PATIENT/<div>RESIDENTIAL</div><div>CARE SVCS</div></td>
        <td class="center">TOTAL</td>
        <td rowspan="2"></td>
    </tr>
    <tr>
        <td class="center">0</td>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">3A</td>
        <td class="center">4</td>
        <td class="center">5</td>
        <td class="center">6</td>
        <td class="center">7</td>
        <td class="center">8</td>
        <td class="center">9</td>
        <td class="center">10</td>
        <td class="center">11</td>
        <td class="center">12</td>
        <td class="center">13</td>
        <td class="center">14</td>
        <td class="center">15</td>
        <td class="center">16</td>
        <td class="center">17</td>
        <td class="center">18</td>
    </tr>
    <tr>
        <td colspan="2"> NONREIMBURSABLE  COST  CENTERS</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="right">60</td>
        <td> Bereavement Program</td>
        <td class="data right">{{NumberFormat data-1.06000-00000}}</td>
        <td class="data right">{{NumberFormat data-1.06000-00100}}</td>
        <td class="data right">{{NumberFormat data-1.06000-00200}}</td>
        <td class="data right">{{NumberFormat data-1.06000-00300}}</td>
        <td class="data right">{{NumberFormat data-1.06000-03A00}}</td>
        <td class="data right">{{NumberFormat data-1.06000-00400}}</td>
        <td class="data right">{{NumberFormat data-1.06000-00500}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06000-00600}}</td>
        <td class="data right">{{NumberFormat data-1.06000-00700}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06000-00800}}</td>
        <td class="data right">{{NumberFormat data-1.06000-00900}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06000-01000}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06000-01100}}</td>
        <td class="data right">{{NumberFormat data-1.06000-01200}}</td>
        <td class="data right">{{NumberFormat data-1.06000-01300}}</td>
        <td class="data right">{{NumberFormat data-1.06000-01400}}</td>
        <td class="data right">{{NumberFormat data-1.06000-01500}}</td>
        <td class="data right">{{NumberFormat data-1.06000-01600}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06000-01700}}</td>
        <td class="data right">{{NumberFormat data-1.06000-01800}}</td>
        <td class="left">60</td>
    </tr>
    <tr>
        <td class="right">61</td>
        <td> Volunteer Program</td>
        <td class="data right">{{NumberFormat data-1.06100-00000}}</td>
        <td class="data right">{{NumberFormat data-1.06100-00100}}</td>
        <td class="data right">{{NumberFormat data-1.06100-00200}}</td>
        <td class="data right">{{NumberFormat data-1.06100-00300}}</td>
        <td class="data right">{{NumberFormat data-1.06100-03A00}}</td>
        <td class="data right">{{NumberFormat data-1.06100-00400}}</td>
        <td class="data right">{{NumberFormat data-1.06100-00500}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06100-00600}}</td>
        <td class="data right">{{NumberFormat data-1.06100-00700}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06100-00800}}</td>
        <td class="data right">{{NumberFormat data-1.06100-00900}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06100-01000}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06100-01100}}</td>
        <td class="data right">{{NumberFormat data-1.06100-01200}}</td>
        <td class="data right">{{NumberFormat data-1.06100-01300}}</td>
        <td class="data right">{{NumberFormat data-1.06100-01400}}</td>
        <td class="data right">{{NumberFormat data-1.06100-01500}}</td>
        <td class="data right">{{NumberFormat data-1.06100-01600}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06100-01700}}</td>
        <td class="data right">{{NumberFormat data-1.06100-01800}}</td>
        <td class="left">61</td>
    </tr>
    <tr>
        <td class="right">62</td>
        <td>Fundraising</td>
        <td class="data right">{{NumberFormat data-1.06200-00000}}</td>
        <td class="data right">{{NumberFormat data-1.06200-00100}}</td>
        <td class="data right">{{NumberFormat data-1.06200-00200}}</td>
        <td class="data right">{{NumberFormat data-1.06200-00300}}</td>
        <td class="data right">{{NumberFormat data-1.06200-03A00}}</td>
        <td class="data right">{{NumberFormat data-1.06200-00400}}</td>
        <td class="data right">{{NumberFormat data-1.06200-00500}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06200-00600}}</td>
        <td class="data right">{{NumberFormat data-1.06200-00700}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06200-00800}}</td>
        <td class="data right">{{NumberFormat data-1.06200-00900}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06200-01000}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06200-01100}}</td>
        <td class="data right">{{NumberFormat data-1.06200-01200}}</td>
        <td class="data right">{{NumberFormat data-1.06200-01300}}</td>
        <td class="data right">{{NumberFormat data-1.06200-01400}}</td>
        <td class="data right">{{NumberFormat data-1.06200-01500}}</td>
        <td class="data right">{{NumberFormat data-1.06200-01600}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06200-01700}}</td>
        <td class="data right">{{NumberFormat data-1.06200-01800}}</td>
        <td class="left">62</td>
    </tr>
    <tr>
        <td class="right">63</td>
        <td> Hospice/Palliative Medicine Fellows</td>
        <td class="data right">{{NumberFormat data-1.06300-00000}}</td>
        <td class="data right">{{NumberFormat data-1.06300-00100}}</td>
        <td class="data right">{{NumberFormat data-1.06300-00200}}</td>
        <td class="data right">{{NumberFormat data-1.06300-00300}}</td>
        <td class="data right">{{NumberFormat data-1.06300-03A00}}</td>
        <td class="data right">{{NumberFormat data-1.06300-00400}}</td>
        <td class="data right">{{NumberFormat data-1.06300-00500}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06300-00600}}</td>
        <td class="data right">{{NumberFormat data-1.06300-00700}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06300-00800}}</td>
        <td class="data right">{{NumberFormat data-1.06300-00900}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06300-01000}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06300-01100}}</td>
        <td class="data right">{{NumberFormat data-1.06300-01200}}</td>
        <td class="data right">{{NumberFormat data-1.06300-01300}}</td>
        <td class="data right">{{NumberFormat data-1.06300-01400}}</td>
        <td class="data right">{{NumberFormat data-1.06300-01500}}</td>
        <td class="data right">{{NumberFormat data-1.06300-01600}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06300-01700}}</td>
        <td class="data right">{{NumberFormat data-1.06300-01800}}</td>
        <td class="left">63</td>
    </tr>
    <tr>
        <td class="right">64</td>
        <td> Palliative Care Program</td>
        <td class="data right">{{NumberFormat data-1.06400-00000}}</td>
        <td class="data right">{{NumberFormat data-1.06400-00100}}</td>
        <td class="data right">{{NumberFormat data-1.06400-00200}}</td>
        <td class="data right">{{NumberFormat data-1.06400-00300}}</td>
        <td class="data right">{{NumberFormat data-1.06400-03A00}}</td>
        <td class="data right">{{NumberFormat data-1.06400-00400}}</td>
        <td class="data right">{{NumberFormat data-1.06400-00500}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06400-00600}}</td>
        <td class="data right">{{NumberFormat data-1.06400-00700}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06400-00800}}</td>
        <td class="data right">{{NumberFormat data-1.06400-00900}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06400-01000}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06400-01100}}</td>
        <td class="data right">{{NumberFormat data-1.06400-01200}}</td>
        <td class="data right">{{NumberFormat data-1.06400-01300}}</td>
        <td class="data right">{{NumberFormat data-1.06400-01400}}</td>
        <td class="data right">{{NumberFormat data-1.06400-01500}}</td>
        <td class="data right">{{NumberFormat data-1.06400-01600}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06400-01700}}</td>
        <td class="data right">{{NumberFormat data-1.06400-01800}}</td>
        <td class="left">64</td>
    </tr>
    <tr>
        <td class="right">65</td>
        <td> Other Physician Services</td>
        <td class="data right">{{NumberFormat data-1.06500-00000}}</td>
        <td class="data right">{{NumberFormat data-1.06500-00100}}</td>
        <td class="data right">{{NumberFormat data-1.06500-00200}}</td>
        <td class="data right">{{NumberFormat data-1.06500-00300}}</td>
        <td class="data right">{{NumberFormat data-1.06500-03A00}}</td>
        <td class="data right">{{NumberFormat data-1.06500-00400}}</td>
        <td class="data right">{{NumberFormat data-1.06500-00500}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06500-00600}}</td>
        <td class="data right">{{NumberFormat data-1.06500-00700}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06500-00800}}</td>
        <td class="data right">{{NumberFormat data-1.06500-00900}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06500-01000}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06500-01100}}</td>
        <td class="data right">{{NumberFormat data-1.06500-01200}}</td>
        <td class="data right">{{NumberFormat data-1.06500-01300}}</td>
        <td class="data right">{{NumberFormat data-1.06500-01400}}</td>
        <td class="data right">{{NumberFormat data-1.06500-01500}}</td>
        <td class="data right">{{NumberFormat data-1.06500-01600}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06500-01700}}</td>
        <td class="data right">{{NumberFormat data-1.06500-01800}}</td>
        
        <td class="left">65</td>
    </tr>
    <tr>
        <td class="right">66</td>
        <td> Residential Care </td>
        <td class="data right">{{NumberFormat data-1.06600-00000}}</td>
        <td class="data right">{{NumberFormat data-1.06600-00100}}</td>
        <td class="data right">{{NumberFormat data-1.06600-00200}}</td>
        <td class="data right">{{NumberFormat data-1.06600-00300}}</td>
        <td class="data right">{{NumberFormat data-1.06600-03A00}}</td>
        <td class="data right">{{NumberFormat data-1.06600-00400}}</td>
        <td class="data right">{{NumberFormat data-1.06600-00500}}</td>
        <td class="data right">{{NumberFormat data-1.06600-00600}}</td>
        <td class="data right">{{NumberFormat data-1.06600-00700}}</td>
        <td class="data right">{{NumberFormat data-1.06600-00800}}</td>
        <td class="data right">{{NumberFormat data-1.06600-00900}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06600-01000}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06600-01100}}</td>
        <td class="data right">{{NumberFormat data-1.06600-01200}}</td>
        <td class="data right">{{NumberFormat data-1.06600-01300}}</td>
        <td class="data right">{{NumberFormat data-1.06600-01400}}</td>
        <td class="data right">{{NumberFormat data-1.06600-01500}}</td>
        <td class="data right">{{NumberFormat data-1.06600-01600}}</td>
        <td class="data right">{{NumberFormat data-1.06600-01700}}</td>
        <td class="data right">{{NumberFormat data-1.06600-01800}}</td>
        <td class="left">66</td>
    </tr>
    <tr>
        <td class="right">67</td>
        <td>Advertising</td>
        <td class="data right">{{NumberFormat data-1.06700-00000}}</td>
        <td class="data right">{{NumberFormat data-1.06700-00100}}</td>
        <td class="data right">{{NumberFormat data-1.06700-00200}}</td>
        <td class="data right">{{NumberFormat data-1.06700-00300}}</td>
        <td class="data right">{{NumberFormat data-1.06700-03A00}}</td>
        <td class="data right">{{NumberFormat data-1.06700-00400}}</td>
        <td class="data right">{{NumberFormat data-1.06700-00500}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06700-00600}}</td>
        <td class="data right">{{NumberFormat data-1.06700-00700}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06700-00800}}</td>
        <td class="data right">{{NumberFormat data-1.06700-00900}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06700-01000}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06700-01100}}</td>
        <td class="data right">{{NumberFormat data-1.06700-01200}}</td>
        <td class="data right">{{NumberFormat data-1.06700-01300}}</td>
        <td class="data right">{{NumberFormat data-1.06700-01400}}</td>
        <td class="data right">{{NumberFormat data-1.06700-01500}}</td>
        <td class="data right">{{NumberFormat data-1.06700-01600}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06700-01700}}</td>
        <td class="data right">{{NumberFormat data-1.06700-01800}}</td>
        <td class="left">67</td>
    </tr>
    <tr>
        <td class="right">68</td>
        <td> Telehealth/Telemonitoring</td>
        <td class="data right">{{NumberFormat data-1.06800-00000}}</td>
        <td class="data right">{{NumberFormat data-1.06800-00100}}</td>
        <td class="data right">{{NumberFormat data-1.06800-00200}}</td>
        <td class="data right">{{NumberFormat data-1.06800-00300}}</td>
        <td class="data right">{{NumberFormat data-1.06800-03A00}}</td>
        <td class="data right">{{NumberFormat data-1.06800-00400}}</td>
        <td class="data right">{{NumberFormat data-1.06800-00500}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06800-00600}}</td>
        <td class="data right">{{NumberFormat data-1.06800-00700}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06800-00800}}</td>
        <td class="data right">{{NumberFormat data-1.06800-00900}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06800-01000}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06800-01100}}</td>
        <td class="data right">{{NumberFormat data-1.06800-01200}}</td>
        <td class="data right">{{NumberFormat data-1.06800-01300}}</td>
        <td class="data right">{{NumberFormat data-1.06800-01400}}</td>
        <td class="data right">{{NumberFormat data-1.06800-01500}}</td>
        <td class="data right">{{NumberFormat data-1.06800-01600}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06800-01700}}</td>
        <td class="data right">{{NumberFormat data-1.06800-01800}}</td>
        <td class="left">68</td>
    </tr>
    <tr>
        <td class="right">69</td>
        <td> Thrift Store</td>
        <td class="data right">{{NumberFormat data-1.06900-00000}}</td>
        <td class="data right">{{NumberFormat data-1.06900-00100}}</td>
        <td class="data right">{{NumberFormat data-1.06900-00200}}</td>
        <td class="data right">{{NumberFormat data-1.06900-00300}}</td>
        <td class="data right">{{NumberFormat data-1.06900-03A00}}</td>
        <td class="data right">{{NumberFormat data-1.06900-00400}}</td>
        <td class="data right">{{NumberFormat data-1.06900-00500}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06900-00600}}</td>
        <td class="data right">{{NumberFormat data-1.06900-00700}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06900-00800}}</td>
        <td class="data right">{{NumberFormat data-1.06900-00900}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06900-01000}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06900-01100}}</td>
        <td class="data right">{{NumberFormat data-1.06900-01200}}</td>
        <td class="data right">{{NumberFormat data-1.06900-01300}}</td>
        <td class="data right">{{NumberFormat data-1.06900-01400}}</td>
        <td class="data right">{{NumberFormat data-1.06900-01500}}</td>
        <td class="data right">{{NumberFormat data-1.06900-01600}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.06900-01700}}</td>
        <td class="data right">{{NumberFormat data-1.06900-01800}}</td>
        <td class="left">69</td>
    </tr>
    <tr>
        <td class="right">70</td>
        <td>Nursing Facility Room & Board</td>
        <td class="data right">{{NumberFormat data-1.07000-00000}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.07000-00100}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.07000-00200}}</td>
        <td class="data right">{{NumberFormat data-1.07000-00300}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.07000-03A00}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.07000-00400}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.07000-00500}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.07000-00600}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.07000-00700}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.07000-00800}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.07000-00900}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.07000-01000}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.07000-01100}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.07000-01200}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.07000-01300}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.07000-01400}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.07000-01500}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.07000-01600}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.07000-01700}}</td>
        <td class="data right">{{NumberFormat data-1.07000-01800}}</td>
        <td class="left">70</td>
    </tr>
    <tr>
        <td class="right">71</td>
        <td> Other Nonreimbursable (specify)</td>
        <td class="data right">{{NumberFormat data-1.07100-00000}}</td>
        <td class="data right">{{NumberFormat data-1.07100-00100}}</td>
        <td class="data right">{{NumberFormat data-1.07100-00200}}</td>
        <td class="data right">{{NumberFormat data-1.07100-00300}}</td>
        <td class="data right">{{NumberFormat data-1.07100-03A00}}</td>
        <td class="data right">{{NumberFormat data-1.07100-00400}}</td>
        <td class="data right">{{NumberFormat data-1.07100-00500}}</td>
        <td class="data right">{{NumberFormat data-1.07100-00600}}</td>
        <td class="data right">{{NumberFormat data-1.07100-00700}}</td>
        <td class="data right">{{NumberFormat data-1.07100-00800}}</td>
        <td class="data right">{{NumberFormat data-1.07100-00900}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.07100-01000}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.07100-01100}}</td>
        <td class="data right">{{NumberFormat data-1.07100-01200}}</td>
        <td class="data right">{{NumberFormat data-1.07100-01300}}</td>
        <td class="data right">{{NumberFormat data-1.07100-01400}}</td>
        <td class="data right">{{NumberFormat data-1.07100-01500}}</td>
        <td class="data right">{{NumberFormat data-1.07100-01600}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.07100-01700}}</td>
        <td class="data right">{{NumberFormat data-1.07100-01800}}</td>
        <td class="left">71</td>
    </tr>
    <tr>
        <td class="right">100</td>
        <td> Negative Cost Center</td>
        <td class="data right">{{NumberFormat data-1.10000-00000}}</td>
        <td class="data right">{{NumberFormat data-1.10000-00100}}</td>
        <td class="data right">{{NumberFormat data-1.10000-00200}}</td>
        <td class="data right">{{NumberFormat data-1.10000-00300}}</td>
        <td class="data right">{{NumberFormat data-1.10000-03A00}}</td>
        <td class="data right">{{NumberFormat data-1.10000-00400}}</td>
        <td class="data right">{{NumberFormat data-1.10000-00500}}</td>
        <td class="data right">{{NumberFormat data-1.10000-00600}}</td>
        <td class="data right">{{NumberFormat data-1.10000-00700}}</td>
        <td class="data right">{{NumberFormat data-1.10000-00800}}</td>
        <td class="data right">{{NumberFormat data-1.10000-00900}}</td>
        <td class="data right">{{NumberFormat data-1.10000-01000}}</td>
        <td class="data right">{{NumberFormat data-1.10000-01100}}</td>
        <td class="data right">{{NumberFormat data-1.10000-01200}}</td>
        <td class="data right">{{NumberFormat data-1.10000-01300}}</td>
        <td class="data right">{{NumberFormat data-1.10000-01400}}</td>
        <td class="data right">{{NumberFormat data-1.10000-01500}}</td>
        <td class="data right">{{NumberFormat data-1.10000-01600}}</td>
        <td class="data right">{{NumberFormat data-1.10000-01700}}</td>
        <td class="data right">{{NumberFormat data-1.10000-01800}}</td>
        <td class="left">100</td>
    </tr>
    <tr>
        <td class="right">101</td>
        <td>Total</td>
        <td class="data right">{{NumberFormat data-1.10100-00000}}</td>
        <td class="data right">{{NumberFormat data-1.10100-00100}}</td>
        <td class="data right">{{NumberFormat data-1.10100-00200}}</td>
        <td class="data right">{{NumberFormat data-1.10100-00300}}</td>
        <td class="data right">{{NumberFormat data-1.10100-03A00}}</td>
        <td class="data right">{{NumberFormat data-1.10100-00400}}</td>
        <td class="data right">{{NumberFormat data-1.10100-00500}}</td>
        <td class="data right">{{NumberFormat data-1.10100-00600}}</td>
        <td class="data right">{{NumberFormat data-1.10100-00700}}</td>
        <td class="data right">{{NumberFormat data-1.10100-00800}}</td>
        <td class="data right">{{NumberFormat data-1.10100-00900}}</td>
        <td class="data right">{{NumberFormat data-1.10100-01000}}</td>
        <td class="data right">{{NumberFormat data-1.10100-01100}}</td>
        <td class="data right">{{NumberFormat data-1.10100-01200}}</td>
        <td class="data right">{{NumberFormat data-1.10100-01300}}</td>
        <td class="data right">{{NumberFormat data-1.10100-01400}}</td>
        <td class="data right">{{NumberFormat data-1.10100-01500}}</td>
        <td class="data right">{{NumberFormat data-1.10100-01600}}</td>
        <td class="data right">{{NumberFormat data-1.10100-01700}}</td>
        <td class="data right">{{NumberFormat data-1.10100-01800}}</td>
        <td class="left">101</td>
    </tr>
    <tr>
        <td colspan="24">FORM CMS-1984-14 (08-2014)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4320)</td>
    </tr>
    <tr>
        <td colspan="2" class="border-right">43-116</td>
        <td colspan="19" class="border-right">&nbsp;</td>
        <td colspan="3" class="right">Rev. 2</td>
    </tr>
</tbody>
</table>
</div>