<div class="report">
<table border="1" width="2400" cellspacing="1" cellpadding="1">
<colgroup>
    <col width="4%" />
    <col width="25%" />
    <col width="12%" />
    <col width="12%" /> 
    <col width="12%" /> 
    <col width="12%" /> 
    <col width="12%" /> 
    <col width="12%" /> 
    <col width="12%" /> 
    <col width="12%" /> 
    <col width="12%" /> 
    <col width="12%" />
    <col width="12%" /> 
    <col width="12%" /> 
    <col width="12%" /> 
    <col width="12%" /> 
    <col width="12%" /> 
    <col width="12%" /> 
    <col width="12%" /> 
    <col width="12%" />
    <col width="12%" />  
    <col width="4%" /> 
</colgroup>
<thead>
    <tr>
        <td colspan="16"> COST  ALLOCATION  -  STATISTICAL  BASIS</td>
        <td colspan="2">Provider CCN: <span class="data">{{pId}}</span></td>
        <td colspan="2">
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="2"> WORKSHEET  B-1</td>
    </tr>
</thead>
<tbody>
    <tr>
        <td colspan="2" rowspan="2">Cost Center Descriptions</td>
        <td class="center">CAP REL <div>BLDG</div><div>& FIX</div><div>SQUARE</div><div>FEET</div></td>
        <td class="center">CAP REL<div>MVBLE</div><div>MVBLE</div><div>DOLLAR</div><div>VALUE</div></td>
        <td class="center">EMPLOYEE <div>BENEFITS</div><div>DEPARTMENT</div><div>GROSS</div><div>SALARIES</div></td>
        <td class="center">RECONCIL-<div>IATION</div></td>
        <td class="center">ADMINIS-<div>TRATIVE &</div><div>GENERAL</div><div>ACCUM.</div><div>COST</div></td>
        <td class="center">PLANT<div>OP &</div><div>MAINT</div><div>SQUARE</div><div>FEET</div></td>
        <td class="center">LAUNDRY<div>& LINEN</div><div>N-FACIL </div><div>ITY DAYS</div></td>
        <td class="center">HOUSE-<div>KEEPING</div><div>SQUARE</div><div>FEET</div></td>
        <td class="center">DIETARY<div>N-FACIL </div><div>ITY DAYS</div></td>
        <td class="center">NURSING <div>ADMINIS-</div><div>TRATION</div><div>DIRECT</div><div>NURS. HRS.</div></td>
        <td class="center">ROUTINE<div>MEDICAL</div><div>SUPPLIES</div><div>PATIENT</div><div>DAYS</div></td>
        <td class="center">MEDICAL <div>RECORDS</div><div>PATIENT</div><div>DAYS</div></td>
        <td class="center">STAFF<div>TRANS-</div><div>PORTATION</div><div>MILEAGE</div></td>
        <td class="center">VOLUNTEER<div>SVC COOR-</div><div>DINATION</div><div>HOURS OF</div><div>SERVICE</div></td>
        <td class="center">PHARMACY<div>CHARGES</div></td>
        <td class="center">PHYSICIAN<div>ADMINISTRA-</div><div>TIVE SVCS </div><div>PATIENT</div><div>DAYS</div></td>
        <td class="center">OTHER<div>GENERAL</div><div>SERVICE</div><div>SPECIFY</div><div>BASIS</div></td>
        <td class="center">PATIENT/<div>RESIDENTIAL</div><div>CARE SVCS</div><div>IN-FACIL</div><div>ITY DAYS</div></td>
        <td class="center">TOTAL</td>
        <td rowspan="2"></td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">3A</td>
        <td class="center">4</td>
        <td class="center">5</td>
        <td class="center">6</td>
        <td class="center">7</td>
        <td class="center">8</td>
        <td class="center">9</td>
        <td class="center">10</td>
        <td class="center">11</td>
        <td class="center">12</td>
        <td class="center">13</td>
        <td class="center">14</td>
        <td class="center">15</td>
        <td class="center">16</td>
        <td class="center">17</td>
        <td class="center">18</td>
    </tr>
    <tr>
        <td colspan="2"> GENERAL  SERVICE  COST  CENTERS</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td>  Cap Rel Costs - Bldg & Fixt</td>
        <td class="data right">{{NumberFormat data-1.00100-00100}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00100-00200}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00100-00300}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00100-03A00}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00100-00400}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00100-00500}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00100-00600}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00100-00700}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00100-00800}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00100-00900}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00100-01000}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00100-01100}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00100-01200}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00100-01300}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00100-01400}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00100-01500}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00100-01600}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00100-01700}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00100-01800}}</td>
        <td class="left">1</td>
    </tr>
    <tr>
        <td class="right">2</td>
        <td> Cap Rel Costs - Mvble Equip</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00200-00100}}</td>
        <td class="data right">{{NumberFormat data-1.00200-00200}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00200-00300}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00200-03A00}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00200-00400}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00200-00500}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00200-00600}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00200-00700}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00200-00800}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00200-00900}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00200-01000}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00200-01100}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00200-01200}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00200-01300}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00200-01400}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00200-01500}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00200-01600}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00200-01700}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00200-01800}}</td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td> Employee Benefits Department</td>
        <td class="data right">{{NumberFormat data-1.00300-00100}}</td>
        <td class="data right">{{NumberFormat data-1.00300-00200}}</td>
        <td class="data right">{{NumberFormat data-1.00300-00300}}</td>
        <td class="data right">{{NumberFormat data-1.00300-03A00}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00300-00400}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00300-00500}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00300-00600}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00300-00700}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00300-00800}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00300-00900}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00300-01000}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00300-01100}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00300-01200}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00300-01300}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00300-01400}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00300-01500}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00300-01600}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00300-01700}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00300-01800}}</td>
        <td class="left">3</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td> Administrative & General</td>
        <td class="data right">{{NumberFormat data-1.00400-00100}}</td>
        <td class="data right">{{NumberFormat data-1.00400-00200}}</td>
        <td class="data right">{{NumberFormat data-1.00400-00300}}</td>
        <td class="data right">{{NumberFormat data-1.00400-03A00}}</td>
        <td class="data right">{{NumberFormat data-1.00400-00400}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00400-00500}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00400-00600}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00400-00700}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00400-00800}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00400-00900}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00400-01000}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00400-01100}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00400-01200}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00400-01300}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00400-01400}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00400-01500}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00400-01600}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00400-01700}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00400-01800}}</td>
        <td class="left">4</td>
    </tr>
    <tr>
        <td class="right">5</td>
        <td> Plant Operation & Maintenance</td>
        <td class="data right">{{NumberFormat data-1.00500-00100}}</td>
        <td class="data right">{{NumberFormat data-1.00500-00200}}</td>
        <td class="data right">{{NumberFormat data-1.00500-00300}}</td>
        <td class="data right">{{NumberFormat data-1.00500-03A00}}</td>
        <td class="data right">{{NumberFormat data-1.00500-00400}}</td>
        <td class="data right">{{NumberFormat data-1.00500-00500}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00500-00600}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00500-00700}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00500-00800}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00500-00900}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00500-01000}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00500-01100}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00500-01200}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00500-01300}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00500-01400}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00500-01500}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00500-01600}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00500-01700}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00500-01800}}</td>
        <td class="left">5</td>
    </tr>
    <tr>
        <td class="right">6</td>
        <td> Laundry & Linen Service</td>
        <td class="data right">{{NumberFormat data-1.00600-00100}}</td>
        <td class="data right">{{NumberFormat data-1.00600-00200}}</td>
        <td class="data right">{{NumberFormat data-1.00600-00300}}</td>
        <td class="data right">{{NumberFormat data-1.00600-03A00}}</td>
        <td class="data right">{{NumberFormat data-1.00600-00400}}</td>
        <td class="data right">{{NumberFormat data-1.00600-00500}}</td>
        <td class="data right">{{NumberFormat data-1.00600-00600}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00600-00700}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00600-00800}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00600-00900}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00600-01000}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00600-01100}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00600-01200}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00600-01300}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00600-01400}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00600-01500}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00600-01600}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00600-01700}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00600-01800}}</td>
        <td class="left">6</td>
    </tr>
    <tr>
        <td class="right">7</td>
        <td> Housekeeping</td>
        <td class="data right">{{NumberFormat data-1.00700-00100}}</td>
        <td class="data right">{{NumberFormat data-1.00700-00200}}</td>
        <td class="data right">{{NumberFormat data-1.00700-00300}}</td>
        <td class="data right">{{NumberFormat data-1.00700-03A00}}</td>
        <td class="data right">{{NumberFormat data-1.00700-00400}}</td>
        <td class="data right">{{NumberFormat data-1.00700-00500}}</td>
        <td class="data right">{{NumberFormat data-1.00700-00600}}</td>
        <td class="data right">{{NumberFormat data-1.00700-00700}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00700-00800}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00700-00900}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00700-01000}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00700-01100}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00700-01200}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00700-01300}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00700-01400}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00700-01500}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00700-01600}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00700-01700}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00700-01800}}</td>
        <td class="left">7</td>
    </tr>
    <tr>
        <td class="right">8</td>
        <td>Dietary</td>
        <td class="data right">{{NumberFormat data-1.00800-00100}}</td>
        <td class="data right">{{NumberFormat data-1.00800-00200}}</td>
        <td class="data right">{{NumberFormat data-1.00800-00300}}</td>
        <td class="data right">{{NumberFormat data-1.00800-03A00}}</td>
        <td class="data right">{{NumberFormat data-1.00800-00400}}</td>
        <td class="data right">{{NumberFormat data-1.00800-00500}}</td>
        <td class="data right">{{NumberFormat data-1.00800-00600}}</td>
        <td class="data right">{{NumberFormat data-1.00800-00700}}</td>
        <td class="data right">{{NumberFormat data-1.00800-00800}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00800-00900}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00800-01000}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00800-01100}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00800-01200}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00800-01300}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00800-01400}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00800-01500}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00800-01600}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00800-01700}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00800-01800}}</td>
        <td class="left">8</td>
    </tr>
    <tr>
        <td class="right">9</td>
        <td> Nursing Administration</td>
        <td class="data right">{{NumberFormat data-1.00900-00100}}</td>
        <td class="data right">{{NumberFormat data-1.00900-00200}}</td>
        <td class="data right">{{NumberFormat data-1.00900-00300}}</td>
        <td class="data right">{{NumberFormat data-1.00900-03A00}}</td>
        <td class="data right">{{NumberFormat data-1.00900-00400}}</td>
        <td class="data right">{{NumberFormat data-1.00900-00500}}</td>
        <td class="data right">{{NumberFormat data-1.00900-00600}}</td>
        <td class="data right">{{NumberFormat data-1.00900-00700}}</td>
        <td class="data right">{{NumberFormat data-1.00900-00800}}</td>
        <td class="data right">{{NumberFormat data-1.00900-00900}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00900-01000}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00900-01100}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00900-01200}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00900-01300}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00900-01400}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00900-01500}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00900-01600}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00900-01700}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.00900-01800}}</td>
        <td class="left">9</td>
    </tr>
    <tr>
        <td class="right">10</td>
        <td> Routine Medical Supplies</td>
        <td class="data right">{{NumberFormat data-1.01000-00100}}</td>
        <td class="data right">{{NumberFormat data-1.01000-00200}}</td>
        <td class="data right">{{NumberFormat data-1.01000-00300}}</td>
        <td class="data right">{{NumberFormat data-1.01000-03A00}}</td>
        <td class="data right">{{NumberFormat data-1.01000-00400}}</td>
        <td class="data right">{{NumberFormat data-1.01000-00500}}</td>
        <td class="data right">{{NumberFormat data-1.01000-00600}}</td>
        <td class="data right">{{NumberFormat data-1.01000-00700}}</td>
        <td class="data right">{{NumberFormat data-1.01000-00800}}</td>
        <td class="data right">{{NumberFormat data-1.01000-00900}}</td>
        <td class="data right">{{NumberFormat data-1.01000-01000}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01000-01100}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01000-01200}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01000-01300}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01000-01400}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01000-01500}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01000-01600}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01000-01700}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01000-01800}}</td>
        <td class="left">10</td>
    </tr>
    <tr>
        <td class="right">11</td>
        <td> Medical Records</td>
        <td class="data right">{{NumberFormat data-1.01100-00100}}</td>
        <td class="data right">{{NumberFormat data-1.01100-00200}}</td>
        <td class="data right">{{NumberFormat data-1.01100-00300}}</td>
        <td class="data right">{{NumberFormat data-1.01100-03A00}}</td>
        <td class="data right">{{NumberFormat data-1.01100-00400}}</td>
        <td class="data right">{{NumberFormat data-1.01100-00500}}</td>
        <td class="data right">{{NumberFormat data-1.01100-00600}}</td>
        <td class="data right">{{NumberFormat data-1.01100-00700}}</td>
        <td class="data right">{{NumberFormat data-1.01100-00800}}</td>
        <td class="data right">{{NumberFormat data-1.01100-00900}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01100-01000}}</td>
        <td class="data right">{{NumberFormat data-1.01100-01100}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01100-01200}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01100-01300}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01100-01400}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01100-01500}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01100-01600}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01100-01700}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01100-01800}}</td>
        <td class="left">11</td>
    </tr>
    <tr>
        <td class="right">12</td>
        <td> Staff Transportation</td>
        <td class="data right">{{NumberFormat data-1.01200-00100}}</td>
        <td class="data right">{{NumberFormat data-1.01200-00200}}</td>
        <td class="data right">{{NumberFormat data-1.01200-00300}}</td>
        <td class="data right">{{NumberFormat data-1.01200-03A00}}</td>
        <td class="data right">{{NumberFormat data-1.01200-00400}}</td>
        <td class="data right">{{NumberFormat data-1.01200-00500}}</td>
        <td class="data right">{{NumberFormat data-1.01200-00600}}</td>
        <td class="data right">{{NumberFormat data-1.01200-00700}}</td>
        <td class="data right">{{NumberFormat data-1.01200-00800}}</td>
        <td class="data right">{{NumberFormat data-1.01200-00900}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01200-01000}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01200-01100}}</td>
        <td class="data right">{{NumberFormat data-1.01200-01200}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01200-01300}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01200-01400}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01200-01500}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01200-01600}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01200-01700}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01200-01800}}</td>
        <td class="left">12</td>
    </tr>
    <tr>
        <td class="right">13</td>
        <td> Volunteer Service Coordination</td>
        <td class="data right">{{NumberFormat data-1.01300-00100}}</td>
        <td class="data right">{{NumberFormat data-1.01300-00200}}</td>
        <td class="data right">{{NumberFormat data-1.01300-00300}}</td>
        <td class="data right">{{NumberFormat data-1.01300-03A00}}</td>
        <td class="data right">{{NumberFormat data-1.01300-00400}}</td>
        <td class="data right">{{NumberFormat data-1.01300-00500}}</td>
        <td class="data right">{{NumberFormat data-1.01300-00600}}</td>
        <td class="data right">{{NumberFormat data-1.01300-00700}}</td>
        <td class="data right">{{NumberFormat data-1.01300-00800}}</td>
        <td class="data right">{{NumberFormat data-1.01300-00900}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01300-01000}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01300-01100}}</td>
        <td class="data right">{{NumberFormat data-1.01300-01200}}</td>
        <td class="data right">{{NumberFormat data-1.01300-01300}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01300-01400}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01300-01500}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01300-01600}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01300-01700}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01300-01800}}</td>
        <td class="left">13</td>
    </tr>
    <tr>
        <td class="right">14</td>
        <td> Pharmacy</td>
        <td class="data right">{{NumberFormat data-1.01400-00100}}</td>
        <td class="data right">{{NumberFormat data-1.01400-00200}}</td>
        <td class="data right">{{NumberFormat data-1.01400-00300}}</td>
        <td class="data right">{{NumberFormat data-1.01400-03A00}}</td>
        <td class="data right">{{NumberFormat data-1.01400-00400}}</td>
        <td class="data right">{{NumberFormat data-1.01400-00500}}</td>
        <td class="data right">{{NumberFormat data-1.01400-00600}}</td>
        <td class="data right">{{NumberFormat data-1.01400-00700}}</td>
        <td class="data right">{{NumberFormat data-1.01400-00800}}</td>
        <td class="data right">{{NumberFormat data-1.01400-00900}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01400-01000}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01400-01100}}</td>
        <td class="data right">{{NumberFormat data-1.01400-01200}}</td>
        <td class="data right">{{NumberFormat data-1.01400-01300}}</td>
        <td class="data right">{{NumberFormat data-1.01400-01400}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01400-01500}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01400-01600}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01400-01700}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01400-01800}}</td>
        <td class="left">14</td>
    </tr>
    <tr>
        <td class="right">15</td>
        <td> Physician Administrative Services</td>
        <td class="data right">{{NumberFormat data-1.01500-00100}}</td>
        <td class="data right">{{NumberFormat data-1.01500-00200}}</td>
        <td class="data right">{{NumberFormat data-1.01500-00300}}</td>
        <td class="data right">{{NumberFormat data-1.01500-03A00}}</td>
        <td class="data right">{{NumberFormat data-1.01500-00400}}</td>
        <td class="data right">{{NumberFormat data-1.01500-00500}}</td>
        <td class="data right">{{NumberFormat data-1.01500-00600}}</td>
        <td class="data right">{{NumberFormat data-1.01500-00700}}</td>
        <td class="data right">{{NumberFormat data-1.01500-00800}}</td>
        <td class="data right">{{NumberFormat data-1.01500-00900}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01500-01000}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01500-01100}}</td>
        <td class="data right">{{NumberFormat data-1.01500-01200}}</td>
        <td class="data right">{{NumberFormat data-1.01500-01300}}</td>
        <td class="data right">{{NumberFormat data-1.01500-01400}}</td>
        <td class="data right">{{NumberFormat data-1.01500-01500}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01500-01600}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01500-01700}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01500-01800}}</td>
        <td class="left">15</td>
    </tr>
    <tr>
        <td class="right">16</td>
        <td> Other General Service (specify)</td>
        <td class="data right">{{NumberFormat data-1.01600-00100}}</td>
        <td class="data right">{{NumberFormat data-1.01600-00200}}</td>
        <td class="data right">{{NumberFormat data-1.01600-00300}}</td>
        <td class="data right">{{NumberFormat data-1.01600-03A00}}</td>
        <td class="data right">{{NumberFormat data-1.01600-00400}}</td>
        <td class="data right">{{NumberFormat data-1.01600-00500}}</td>
        <td class="data right">{{NumberFormat data-1.01600-00600}}</td>
        <td class="data right">{{NumberFormat data-1.01600-00700}}</td>
        <td class="data right">{{NumberFormat data-1.01600-00800}}</td>
        <td class="data right">{{NumberFormat data-1.01600-00900}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01600-01000}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01600-01100}}</td>
        <td class="data right">{{NumberFormat data-1.01600-01200}}</td>
        <td class="data right">{{NumberFormat data-1.01600-01300}}</td>
        <td class="data right">{{NumberFormat data-1.01600-01400}}</td>
        <td class="data right">{{NumberFormat data-1.01600-01500}}</td>
        <td class="data right">{{NumberFormat data-1.01600-01600}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01600-01700}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01600-01800}}</td>
        <td class="left">16</td>
    </tr>
    <tr>
        <td class="right">17</td>
        <td> Patient/Residential Care Services</td>
        <td class="data right">{{NumberFormat data-1.01700-00100}}</td>
        <td class="data right">{{NumberFormat data-1.01700-00200}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01700-00300}}</td>
        <td class="data right">{{NumberFormat data-1.01700-03A00}}</td>
        <td class="data right">{{NumberFormat data-1.01700-00400}}</td>
        <td class="data right">{{NumberFormat data-1.01700-00500}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01700-00600}}</td>
        <td class="data right">{{NumberFormat data-1.01700-00700}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01700-00800}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01700-00900}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01700-01000}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01700-01100}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01700-01200}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01700-01300}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01700-01400}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01700-01500}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01700-01600}}</td>
        <td class="data right">{{NumberFormat data-1.01700-01700}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01700-01800}}</td>
        <td class="left">17</td>
    </tr>
    <tr>
        <td colspan="2"> LEVEL  OF  CARE</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="right">50</td>
        <td> Continuous Home Care</td>
        <td class="data right fillgrey">{{NumberFormat data-1.05000-00100}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.05000-00200}}</td>
        <td class="data right">{{NumberFormat data-1.05000-00300}}</td>
        <td class="data right">{{NumberFormat data-1.05000-03A00}}</td>
        <td class="data right">{{NumberFormat data-1.05000-00400}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.05000-00500}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.05000-00600}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.05000-00700}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.05000-00800}}</td>
        <td class="data right">{{NumberFormat data-1.05000-00900}}</td>
        <td class="data right">{{NumberFormat data-1.05000-01000}}</td>
        <td class="data right">{{NumberFormat data-1.05000-01100}}</td>
        <td class="data right">{{NumberFormat data-1.05000-01200}}</td>
        <td class="data right">{{NumberFormat data-1.05000-01300}}</td>
        <td class="data right">{{NumberFormat data-1.05000-01400}}</td>
        <td class="data right">{{NumberFormat data-1.05000-01500}}</td>
        <td class="data right">{{NumberFormat data-1.05000-01600}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.05000-01700}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.05000-01800}}</td>
        <td class="left">50</td>
    </tr>
    <tr>
        <td class="right">51</td>
        <td> Routine Home Care</td>
        <td class="data right fillgrey">{{NumberFormat data-1.05100-00100}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.05100-00200}}</td>
        <td class="data right">{{NumberFormat data-1.05100-00300}}</td>
        <td class="data right">{{NumberFormat data-1.05100-03A00}}</td>
        <td class="data right">{{NumberFormat data-1.05100-00400}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.05100-00500}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.05100-00600}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.05100-00700}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.05100-00800}}</td>
        <td class="data right">{{NumberFormat data-1.05100-00900}}</td>
        <td class="data right">{{NumberFormat data-1.05100-01000}}</td>
        <td class="data right">{{NumberFormat data-1.05100-01100}}</td>
        <td class="data right">{{NumberFormat data-1.05100-01200}}</td>
        <td class="data right">{{NumberFormat data-1.05100-01300}}</td>
        <td class="data right">{{NumberFormat data-1.05100-01400}}</td>
        <td class="data right">{{NumberFormat data-1.05100-01500}}</td>
        <td class="data right">{{NumberFormat data-1.05100-01600}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.05100-01700}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.05100-01800}}</td>
        <td class="left">51</td>
    </tr>
    <tr>
        <td class="right">52</td>
        <td> Inpatient Respite Care</td>
        <td class="data right">{{NumberFormat data-1.05200-00100}}</td>
        <td class="data right">{{NumberFormat data-1.05200-00200}}</td>
        <td class="data right">{{NumberFormat data-1.05200-00300}}</td>
        <td class="data right">{{NumberFormat data-1.05200-03A00}}</td>
        <td class="data right">{{NumberFormat data-1.05200-00400}}</td>
        <td class="data right">{{NumberFormat data-1.05200-00500}}</td>
        <td class="data right">{{NumberFormat data-1.05200-00600}}</td>
        <td class="data right">{{NumberFormat data-1.05200-00700}}</td>
        <td class="data right">{{NumberFormat data-1.05200-00800}}</td>
        <td class="data right">{{NumberFormat data-1.05200-00900}}</td>
        <td class="data right">{{NumberFormat data-1.05200-01000}}</td>
        <td class="data right">{{NumberFormat data-1.05200-01100}}</td>
        <td class="data right">{{NumberFormat data-1.05200-01200}}</td>
        <td class="data right">{{NumberFormat data-1.05200-01300}}</td>
        <td class="data right">{{NumberFormat data-1.05200-01400}}</td>
        <td class="data right">{{NumberFormat data-1.05200-01500}}</td>
        <td class="data right">{{NumberFormat data-1.05200-01600}}</td>
        <td class="data right">{{NumberFormat data-1.05200-01700}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.05200-01800}}</td>
        <td class="left">52</td>
    </tr>
    <tr>
        <td class="right">53</td>
        <td> General Inpatient Care</td>
        <td class="data right">{{NumberFormat data-1.05300-00100}}</td>
        <td class="data right">{{NumberFormat data-1.05300-00200}}</td>
        <td class="data right">{{NumberFormat data-1.05300-00300}}</td>
        <td class="data right">{{NumberFormat data-1.05300-03A00}}</td>
        <td class="data right">{{NumberFormat data-1.05300-00400}}</td>
        <td class="data right">{{NumberFormat data-1.05300-00500}}</td>
        <td class="data right">{{NumberFormat data-1.05300-00600}}</td>
        <td class="data right">{{NumberFormat data-1.05300-00700}}</td>
        <td class="data right">{{NumberFormat data-1.05300-00800}}</td>
        <td class="data right">{{NumberFormat data-1.05300-00900}}</td>
        <td class="data right">{{NumberFormat data-1.05300-01000}}</td>
        <td class="data right">{{NumberFormat data-1.05300-01100}}</td>
        <td class="data right">{{NumberFormat data-1.05300-01200}}</td>
        <td class="data right">{{NumberFormat data-1.05300-01300}}</td>
        <td class="data right">{{NumberFormat data-1.05300-01400}}</td>
        <td class="data right">{{NumberFormat data-1.05300-01500}}</td>
        <td class="data right">{{NumberFormat data-1.05300-01600}}</td>
        <td class="data right">{{NumberFormat data-1.05300-01700}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.05300-01800}}</td> 
        <td class="left">53</td>
    </tr>
    <tr>
        <td colspan="22">FORM CMS-1984-14 (07-2015)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4320)</td>
    </tr>
    <tr>
        <td colspan="2" class="border-right">Rev. 2</td>
        <td colspan="18" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">43-119</td>
    </tr>
</tbody>
</table>
</div>