<div class="report">
<table border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
    <col width="4%" />
    <col width="40%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="15%"/>   
    <col width="4%" /> 
</colgroup>
<thead>
    <tr>
        <td colspan="2"> CALCULATION  OF  PER  DIEM  COST</td>
        <td>Provider CCN: <span class="data">{{pId}}</span></td>
        <td>
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="2"> WORKSHEET  C</td>
    </tr>
</thead>
<tbody>
    <tr>
        <td colspan="6">&nbsp;</td>
    </tr>
    <tr>
        <td rowspan="2" colspan="2">&nbsp;</td>
        <td class="center">TITLE  XVIII<div>MEDICARE</div></td>
        <td class="center">TITLE  XIX<div>MEDICAID</div></td>
        <td class="center">TOTAL</td>
        <td class="center" rowspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
    </tr>
    <tr>
        <td colspan="2"> CONTINUOUS  HOME  CARE</td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td> Total cost  (Wkst. B, col 18, line 50)</td>
        <td class="fillgrey">{{NumberFormat data-1.00100-00100}}</td>
        <td class="fillgrey">{{NumberFormat data-1.00100-00200}}</td>
        <td class="data">{{NumberFormat data-1.00100-00300}}</td>
        <td class="left">1</td>
    </tr>
    <tr>
        <td class="right">2</td>
        <td> Total unduplicated days  (Wkst. S-1, col. 4, line 30)</td>
        <td class="fillgrey">{{NumberFormat data-1.00200-00100}}</td>
        <td class="fillgrey">{{NumberFormat data-1.00200-00200}}</td>
        <td class="data">{{NumberFormat data-1.00200-00300}}</td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td> Total average cost per diem  (line 1 divided by line 2)</td>
        <td class="fillgrey">{{NumberFormat data-1.00300-00100}}</td>
        <td class="fillgrey">{{NumberFormat data-1.00300-00200}}</td>
        <td class="data">{{NumberFormat data-1.00300-00300}}</td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td> Unduplicated program days  (Wkst. S-1, col. as appropriate, line 30)</td>
        <td class="data">{{NumberFormat data-1.00400-00100}}</td>
        <td class="data">{{NumberFormat data-1.00400-00200}}</td>
        <td class="fillgrey">{{NumberFormat data-1.00400-00300}}</td>
        <td class="left">4</td>
    </tr>
    <tr>
        <td class="right">5</td>
        <td> Program cost  (line 3 times line 4)</td>
        <td class="data">{{NumberFormat data-1.00500-00100}}</td>
        <td class="data">{{NumberFormat data-1.00500-00200}}</td>
        <td class="fillgrey">{{NumberFormat data-1.00500-00300}}</td>
        <td class="left">5</td>
    </tr>
    <tr>
        <td colspan="2"> ROUTINE  HOME  CARE</td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="right">6</td>
        <td> Total cost  (Wkst. B, col. 18, line 51)</td>
        <td class="fillgrey">{{NumberFormat data-1.00600-00100}}</td>
        <td class="fillgrey">{{NumberFormat data-1.00600-00200}}</td>
        <td class="data">{{NumberFormat data-1.00600-00300}}</td>
        <td class="left">6</td>
    </tr>
    <tr>
        <td class="right">7</td>
        <td> Total unduplicated days  (Wkst. S-1, col. 4, line 31)</td>
        <td class="fillgrey">{{NumberFormat data-1.00700-00100}}</td>
        <td class="fillgrey">{{NumberFormat data-1.00700-00200}}</td>
        <td class="data">{{NumberFormat data-1.00700-00300}}</td>
        <td class="left">7</td>
    </tr>
    <tr>
        <td class="right">8</td>
        <td> Total average cost per diem  (line 6 divided by line 7)</td>
        <td class="fillgrey">{{NumberFormat data-1.00800-00100}}</td>
        <td class="fillgrey">{{NumberFormat data-1.00800-00200}}</td>
        <td class="data">{{NumberFormat data-1.00800-00300}}</td>
        <td class="left">8</td>
    </tr>
    <tr>
        <td class="right">9</td>
        <td> Unduplicated program days  (Wkst. S-1, col. as appropriate, line 31)</td>
        <td class="data">{{NumberFormat data-1.00900-00100}}</td>
        <td class="data">{{NumberFormat data-1.00900-00200}}</td>
        <td class="fillgrey">{{NumberFormat data-1.00900-00300}}</td>
        <td class="left">9</td>
    </tr>
    <tr>
        <td class="right">10</td>
        <td> Program cost  (line 8 times line 9)</td>
        <td class="data">{{NumberFormat data-1.01000-00100}}</td>
        <td class="data">{{NumberFormat data-1.01000-00200}}</td>
        <td class="fillgrey">{{NumberFormat data-1.01000-00300}}</td>
        <td class="left">10</td>
    </tr>
    <tr>
        <td colspan="2"> INPATIENT  RESPITE  CARE</td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="data"></td>
    </tr>
    <tr>
        <td class="right">11</td>
        <td> Total cost  (Wkst. B, col. 18, line 52)</td>
        <td class="fillgrey">{{NumberFormat data-1.01100-00100}}</td>
        <td class="fillgrey">{{NumberFormat data-1.01100-00200}}</td>
        <td class="data">{{NumberFormat data-1.01100-00300}}</td>
        <td class="left">11</td>
    </tr>
    <tr>
        <td class="right">12</td>
        <td> Total unduplicated days  (Wkst. S-1, col. 4, line 32)</td>
        <td class="fillgrey">{{NumberFormat data-1.01100-00100}}</td>
        <td class="fillgrey">{{NumberFormat data-1.01200-00200}}</td>
        <td class="data">{{NumberFormat data-1.01200-00300}}</td>
        <td class="left">12</td>
    </tr>
    <tr>
        <td class="right">13</td>
        <td>  Total average cost per diem  (line 11 divided by line 12)</td>
        <td class="fillgrey">{{NumberFormat data-1.01300-00100}}</td>
        <td class="fillgrey">{{NumberFormat data-1.01300-00200}}</td>
        <td class="data">{{NumberFormat data-1.01300-00300}}</td>
        <td class="left">13</td>
    </tr>
    <tr>
        <td class="right">14</td>
        <td> Unduplicated program days  (Wkst. S-1, col. as appropriate, line 32)</td>
        <td class="data">{{NumberFormat data-1.01400-00100}}</td>
        <td class="data">{{NumberFormat data-1.01400-00200}}</td>
        <td class="fillgrey">{{NumberFormat data-1.01400-00300}}</td>
        <td class="left">14</td>
    </tr>
    <tr>
        <td class="right">15</td>
        <td> Program cost  (line 13 times line 14)</td>
        <td class="data">{{NumberFormat data-1.01500-00100}}</td>
        <td class="data">{{NumberFormat data-1.01500-00200}}</td>
        <td class="fillgrey">{{NumberFormat data-1.01500-00300}}</td>
        <td class="left">15</td>
    </tr>
    <tr>
        <td colspan="2"> GENERAL  INPATIENT  CARE</td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="data"></td>
    </tr>
    <tr>
        <td class="right">16</td>
        <td> Total cost  (Wkst. B, col. 18, line 53)</td>
        <td class="fillgrey">{{NumberFormat data-1.01600-00100}}</td>
        <td class="fillgrey">{{NumberFormat data-1.01600-00200}}</td>
        <td class="data">{{NumberFormat data-1.01600-00300}}</td>
        <td class="left">16</td>
    </tr>
    <tr>
        <td class="right">17</td>
        <td> Total unduplicated days  (Wkst. S-1, col. 4, line 33)</td>
        <td class="fillgrey">{{NumberFormat data-1.01700-00100}}</td>
        <td class="fillgrey">{{NumberFormat data-1.01700-00200}}</td>
        <td class="data">{{NumberFormat data-1.01700-00300}}</td>
        <td class="left">17</td>
    </tr>
    <tr>
        <td class="right">18</td>
        <td> Total average cost per diem  (line 16 divided by line 17)</td>
        <td class="fillgrey">{{NumberFormat data-1.01800-00100}}</td>
        <td class="fillgrey">{{NumberFormat data-1.01800-00200}}</td>
        <td class="data">{{NumberFormat data-1.01800-00300}}</td>
        <td class="left">18</td>
    </tr>
    <tr>
        <td class="right">19</td>
        <td> Unduplicated program days  (Wkst. S-1, col. as appropriate, line 33)</td>
        <td class="data">{{NumberFormat data-1.01900-00100}}</td>
        <td class="data">{{NumberFormat data-1.01900-00200}}</td>
        <td class="fillgrey">{{NumberFormat data-1.01900-00300}}</td>
        <td class="left">19</td>
    </tr>
    <tr>
        <td class="right">20</td>
        <td> Program cost (line 18 times line 19)</td>
        <td class="data">{{NumberFormat data-1.02000-00100}}</td>
        <td class="data">{{NumberFormat data-1.02000-00200}}</td>
        <td class="fillgrey">{{NumberFormat data-1.02000-00300}}</td>
        <td class="left">20</td>
    </tr>
    <tr>
        <td colspan="2"> TOTAL  HOSPICE  CARE</td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="data"></td>
    </tr>
    <tr>
        <td class="right">21</td>
        <td>  Total cost  (sum of line 1 + line 6 + line 11 + line 16)</td>
        <td class="fillgrey">{{NumberFormat data-1.02100-00100}}</td>
        <td class="fillgrey">{{NumberFormat data-1.02100-00200}}</td>
        <td class="data">{{NumberFormat data-1.02100-00300}}</td>
        <td class="left">21</td>
    </tr>
    <tr>
        <td class="right">22</td>
        <td> Total unduplicated days  (Wkst. S-1, col. 4, line 34)</td>
        <td class="fillgrey">{{NumberFormat data-1.02200-00100}}</td>
        <td class="fillgrey">{{NumberFormat data-1.02200-00200}}</td>
        <td class="data">{{NumberFormat data-1.02200-00300}}</td>
        <td class="left">22</td>
    </tr>
    <tr>
        <td class="right">23</td>
        <td> Average cost per diem  (line 21 divided by line 22)</td>
        <td class="fillgrey">{{NumberFormat data-1.02300-00100}}</td>
        <td class="fillgrey">{{NumberFormat data-1.02300-00200}}</td>
        <td class="data">{{NumberFormat data-1.02300-00300}}</td>
        <td class="left">23</td>
    </tr>
    <tr>
        <td colspan="6">FORM CMS-1984-14 (08-2014)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4330)</td>
    </tr>
    <tr>
        <td colspan="2" class="border-right">Rev. 1</td>
        <td colspan="2" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">43-123</td>
    </tr>
</tbody>
</table>
</div>