<div class="report">
<table border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
    <col width="4%" />
    <col width="30%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="15%"/>    
    <col width="4%%" /> 
</colgroup>
<thead>
    <tr>
        <td colspan="3">  STATEMENT  OF  CHANGES<div> IN  FUND  BALANCES</div></td>
        <td>Provider CCN: <span class="data">{{pId}}</span></td>
        <td>
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="2"> WORKSHEET F-1</td>
    </tr>
</thead>
<tbody>
    <tr>
        <td colspan="7">&nbsp;</td>
    </tr>
    <tr>
        <td rowspan="2" colspan="2">&nbsp;</td>
        <td class="center">GENERAL<div>FUND</div></td>
        <td class="center">SPECIFIC <div>PURPOSE  FUND</div></td>
        <td class="center">ENDOWMENT<div>FUND</div></td>
        <td class="center">PLANT<div>FUND</div></td>
        <td class="center" rowspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td> Fund balances at beginning  of period</td>
        <td class="data">{{NumberFormat data-1.00100-00100}}</td>
        <td class="data">{{NumberFormat data-1.00100-00200}}</td>
        <td class="data">{{NumberFormat data-1.00100-00300}}</td>
        <td class="data">{{NumberFormat data-1.00100-00400}}</td>
        <td class="left">1</td>
    </tr>
    <tr>
        <td class="right">2</td>
        <td> Net income / (loss)<div><span> (from Wkst. F-2, line 42)</span></div></td>
        <td class="data">{{NumberFormat data-1.00200-00100}}</td>
        <td class="fillgrey">{{NumberFormat data-1.00200-00200}}</td>
        <td class="fillgrey">{{NumberFormat data-1.00200-00300}}</td>
        <td class="fillgrey">{{NumberFormat data-1.00200-00400}}</td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td>Total<div><span> (sum of line 1 and line 2)</span></div></td>
        <td class="data">{{NumberFormat data-1.00300-00100}}</td>
        <td class="data">{{NumberFormat data-1.00300-00200}}</td>
        <td class="data">{{NumberFormat data-1.00300-00300}}</td>
        <td class="data">{{NumberFormat data-1.00300-00400}}</td>
        <td class="left">3</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td> Additions (credit adjustments)<div> (specify)</div></td>
        <td class="data">{{NumberFormat data-1.00400-00100}}</td>
        <td class="data">{{NumberFormat data-1.00400-00200}}</td>
        <td class="data">{{NumberFormat data-1.00400-00300}}</td>
        <td class="data">{{NumberFormat data-1.00400-00400}}</td>
        <td class="left">4</td>
    </tr>
    <tr>
        <td class="right">5</td>
        <td class="data"></td>
        <td class="data">{{NumberFormat data-1.00500-00100}}</td>
        <td class="data">{{NumberFormat data-1.00500-00200}}</td>
        <td class="data">{{NumberFormat data-1.00500-00300}}</td>
        <td class="data">{{NumberFormat data-1.00500-00400}}</td>
        <td class="left">5</td>
    </tr>
    <tr>
        <td class="right">6</td>
        <td class="data"></td>
        <td class="data">{{NumberFormat data-1.00600-00100}}</td>
        <td class="data">{{NumberFormat data-1.00600-00200}}</td>
        <td class="data">{{NumberFormat data-1.00600-00300}}</td>
        <td class="data">{{NumberFormat data-1.00600-00400}}</td>
        <td class="left">6</td>
    </tr>
    <tr>
        <td class="right">7</td>
        <td class="data"></td>
        <td class="data">{{NumberFormat data-1.00700-00100}}</td>
        <td class="data">{{NumberFormat data-1.00700-00200}}</td>
        <td class="data">{{NumberFormat data-1.00700-00300}}</td>
        <td class="data">{{NumberFormat data-1.00700-00400}}</td>
        <td class="left">7</td>
    </tr>
    <tr>
        <td class="right">8</td>
        <td class="data"></td>
        <td class="data">{{NumberFormat data-1.00800-00100}}</td>
        <td class="data">{{NumberFormat data-1.00800-00200}}</td>
        <td class="data">{{NumberFormat data-1.00800-00300}}</td>
        <td class="data">{{NumberFormat data-1.00800-00400}}</td>
        <td class="left">8</td>
    </tr>
    <tr>
        <td class="right">9</td>
        <td class="data"></td>
        <td class="data">{{NumberFormat data-1.00900-00100}}</td>
        <td class="data">{{NumberFormat data-1.00900-00200}}</td>
        <td class="data">{{NumberFormat data-1.00900-00300}}</td>
        <td class="data">{{NumberFormat data-1.00900-00400}}</td>
        <td class="left">9</td>
    </tr>
    <tr>
        <td class="right">10</td>
        <td> Total additions<div> (sum of lines 4 through 9)</div></td>
        <td class="data">{{NumberFormat data-1.01000-00100}}</td>
        <td class="data">{{NumberFormat data-1.01000-00200}}</td>
        <td class="data">{{NumberFormat data-1.01000-00300}}</td>
        <td class="data">{{NumberFormat data-1.01000-00400}}</td>
        <td class="left">10</td>
    </tr>
    <tr>
        <td class="right">11</td>
        <td>Subtotal<div> (line 3 plus line 10)</div></td>
        <td class="data">{{NumberFormat data-1.01100-00100}}</td>
        <td class="data">{{NumberFormat data-1.01100-00200}}</td>
        <td class="data">{{NumberFormat data-1.01100-00300}}</td>
        <td class="data">{{NumberFormat data-1.01100-00400}}</td>
        <td class="left">11</td>
    </tr>
    <tr>
        <td class="right">12</td>
        <td> Deductions (debit adjustments)<div> (specify)</div></td>
        <td class="data">{{NumberFormat data-1.01200-00100}}</td>
        <td class="data">{{NumberFormat data-1.01200-00200}}</td>
        <td class="data">{{NumberFormat data-1.01200-00300}}</td>
        <td class="data">{{NumberFormat data-1.01200-00400}}</td>
        <td class="left">12</td>
    </tr>
    <tr>
        <td class="right">13</td>
        <td class="data"></td>
        <td class="data">{{NumberFormat data-1.01300-00100}}</td>
        <td class="data">{{NumberFormat data-1.01300-00200}}</td>
        <td class="data">{{NumberFormat data-1.01300-00300}}</td>
        <td class="data">{{NumberFormat data-1.01300-00400}}</td>
        <td class="left">13</td>
    </tr>
    <tr>
        <td class="right">14</td>
        <td class="data"></td>
        <td class="data">{{NumberFormat data-1.01400-00100}}</td>
        <td class="data">{{NumberFormat data-1.01400-00200}}</td>
        <td class="data">{{NumberFormat data-1.01400-00300}}</td>
        <td class="data">{{NumberFormat data-1.01400-00400}}</td>
        <td class="left">14</td>
    </tr>
    <tr>
        <td class="right">15</td>
        <td class="data"></td>
        <td class="data">{{NumberFormat data-1.01500-00100}}</td>
        <td class="data">{{NumberFormat data-1.01500-00200}}</td>
        <td class="data">{{NumberFormat data-1.01500-00300}}</td>
        <td class="data">{{NumberFormat data-1.01500-00400}}</td>
        <td class="left">15</td>
    </tr>
    <tr>
        <td class="right">16</td>
        <td class="data"></td>
        <td class="data">{{NumberFormat data-1.01600-00100}}</td>
        <td class="data">{{NumberFormat data-1.01600-00200}}</td>
        <td class="data">{{NumberFormat data-1.01600-00300}}</td>
        <td class="data">{{NumberFormat data-1.01600-00400}}</td>
        <td class="left">16</td>
    </tr>
    <tr>
        <td class="right">17</td>
        <td class="data"></td>
        <td class="data">{{NumberFormat data-1.01700-00100}}</td>
        <td class="data">{{NumberFormat data-1.01700-00200}}</td>
        <td class="data">{{NumberFormat data-1.01700-00300}}</td>
        <td class="data">{{NumberFormat data-1.01700-00400}}</td>
        <td class="left">17</td>
    </tr>
    <tr>
        <td class="right">18</td>
        <td>Total deductions<div> (sum of lines 12 through 17)</div></td>
        <td class="data">{{NumberFormat data-1.01800-00100}}</td>
        <td class="data">{{NumberFormat data-1.01800-00200}}</td>
        <td class="data">{{NumberFormat data-1.01800-00300}}</td>
        <td class="data">{{NumberFormat data-1.01800-00400}}</td>
        <td class="left">18</td>
    </tr>
    <tr>
        <td class="right">19</td>
        <td>Fund balance at end of period per balance sheet (line 11 minus line 18)</td>
        <td class="data">{{NumberFormat data-1.01900-00100}}</td>
        <td class="data">{{NumberFormat data-1.01900-00200}}</td>
        <td class="data">{{NumberFormat data-1.01900-00300}}</td>
        <td class="data">{{NumberFormat data-1.01900-00400}}</td>
        <td class="left">19</td>
    </tr>
    <tr>
        <td colspan="7">FORM CMS-1984-14 (08-2014)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4350 and 4350.2)</td>
    </tr>
    <tr>
        <td colspan="2" class="border-right">Rev. 1</td>
        <td colspan="3" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">43-125</td>
    </tr>
</tbody>
</table>
</div>