<div class="report">
<table border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
    <col width="4%" />
    <col width="30%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="15%"/> 
    <col width="15%"/>
    <col width="4%" /> 
</colgroup>
<thead>
    <tr>
        <td colspan="3"> STATEMENT  OF  REVENUES<div> AND  OPERATING  EXPENSES</div></td>
        <td>Provider CCN: <span class="data">{{pId}}</span></td>
        <td>
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="2">  WORKSHEET  F - 2</td>
    </tr>
</thead>
<tbody>
    <tr>
        <td colspan="7">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="7"> PART  I  -  REVENUES</td>
    </tr>
    <tr>
        <td colspan="2" rowspan="2"></td>
        <td class="center">TITLE  XVIII<div>MEDICARE</div></td>
        <td class="center">TITLE  XIX<div>MEDICAID</div></td>
        <td class="center">OTHER</td>
        <td class="center">TOTAL</td>
        <td rowspan="2"></td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
    </tr>
    <tr>
        <td colspan="2"> GROSS  PATIENT  REVENUE</td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td> Continuous Home Care</td>
        <td class="data">{{NumberFormat data-1.00100-00100}}</td>
        <td class="data">{{NumberFormat data-1.00100-00200}}</td>
        <td class="data">{{NumberFormat data-1.00100-00300}}</td>
        <td class="data">{{NumberFormat data-1.00100-00400}}</td>
        <td class="left">1</td>
    </tr>
    <tr>
        <td class="right">2</td>
        <td>  Routine Home Care</td>
        <td class="data">{{NumberFormat data-1.00200-00100}}</td>
        <td class="data">{{NumberFormat data-1.00200-00200}}</td>
        <td class="data">{{NumberFormat data-1.00200-00300}}</td>
        <td class="data">{{NumberFormat data-1.00200-00400}}</td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td> Inpatient Respite Care</td>
        <td class="data">{{NumberFormat data-1.00300-00100}}</td>
        <td class="data">{{NumberFormat data-1.00300-00200}}</td>
        <td class="data">{{NumberFormat data-1.00300-00300}}</td>
        <td class="data">{{NumberFormat data-1.00300-00400}}</td>
        <td class="left">3</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td> General Inpatient Care</td>
        <td class="data">{{NumberFormat data-1.00400-00100}}</td>
        <td class="data">{{NumberFormat data-1.00400-00200}}</td>
        <td class="data">{{NumberFormat data-1.00400-00300}}</td>
        <td class="data">{{NumberFormat data-1.00400-00400}}</td>
        <td class="left">4</td>
    </tr>
    <tr>
        <td class="right">5</td>
        <td> Drug copay / coinsurance</td>
        <td class="data">{{NumberFormat data-1.00500-00100}}</td>
        <td class="data">{{NumberFormat data-1.00500-00200}}</td>
        <td class="data">{{NumberFormat data-1.00500-00300}}</td>
        <td class="data">{{NumberFormat data-1.00500-00400}}</td>
        <td class="left">5</td>
    </tr>
    <tr>
        <td class="right">6</td>
        <td> Total gross patient revenue<div> (sum of lines 1 through 5)</div></td>
        <td class="data">{{NumberFormat data-1.00600-00100}}</td>
        <td class="data">{{NumberFormat data-1.00600-00200}}</td>
        <td class="data">{{NumberFormat data-1.00600-00300}}</td>
        <td class="data">{{NumberFormat data-1.00600-00400}}</td>
        <td class="left">6</td>
    </tr>
    <tr>
        <td class="right">7</td>
        <td> Less: Contractual allowances and discounts</td>
        <td class="data">{{NumberFormat data-1.00700-00100}}</td>
        <td class="data">{{NumberFormat data-1.00700-00200}}</td>
        <td class="data">{{NumberFormat data-1.00700-00300}}</td>
        <td class="data">{{NumberFormat data-1.00700-00400}}</td>
        <td class="left">7</td>
    </tr>
    <tr>
        <td class="right">8</td>
        <td> Net patient revenue<div> (line 6 minus line 7)</div></td>
        <td class="data">{{NumberFormat data-1.00800-00100}}</td>
        <td class="data">{{NumberFormat data-1.00800-00200}}</td>
        <td class="data">{{NumberFormat data-1.00800-00300}}</td>
        <td class="data">{{NumberFormat data-1.00800-00400}}</td>
        <td class="left">8</td>
    </tr>
    <tr>
        <td colspan="2"> OTHER  REVENUE</td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="right">9</td>
        <td> Hospice physician services</td>
        <td class="data">{{NumberFormat data-1.00900-00100}}</td>
        <td class="data">{{NumberFormat data-1.00900-00200}}</td>
        <td class="data">{{NumberFormat data-1.00900-00300}}</td>
        <td class="data">{{NumberFormat data-1.00900-00400}}</td>
        <td class="left">9</td>
    </tr>
    <tr>
        <td class="right">10</td>
        <td> Room and board</td>
        <td class="fillgrey">{{NumberFormat data-1.01000-00100}}</td>
        <td class="data">{{NumberFormat data-1.01000-00200}}</td>
        <td class="data">{{NumberFormat data-1.01000-00300}}</td>
        <td class="data">{{NumberFormat data-1.01000-00400}}</td>
        <td class="left">10</td>
    </tr>
    <tr>
        <td class="right">11</td>
        <td> Palliative consults / Other phys. services</td>
        <td class="fillgrey">{{NumberFormat data-1.01100-00100}}</td>
        <td class="fillgrey">{{NumberFormat data-1.01100-00200}}</td>
        <td class="data">{{NumberFormat data-1.01100-00300}}</td>
        <td class="data">{{NumberFormat data-1.01100-00400}}</td>
        <td class="left">11</td>
    </tr>
    <tr>
        <td class="right">12</td>
        <td> Donations / Charitable contributions</td>
        <td class="fillgrey">{{NumberFormat data-1.01200-00100}}</td>
        <td class="fillgrey">{{NumberFormat data-1.01200-00200}}</td>
        <td class="data">{{NumberFormat data-1.01200-00300}}</td>
        <td class="data">{{NumberFormat data-1.01200-00400}}</td>
        <td class="left">12</td>
    </tr>
    <tr>
        <td class="right">13</td>
        <td> Rebates / refunds of expenses</td>
        <td class="fillgrey">{{NumberFormat data-1.01300-00100}}</td>
        <td class="fillgrey">{{NumberFormat data-1.01300-00200}}</td>
        <td class="data">{{NumberFormat data-1.01300-00300}}</td>
        <td class="data">{{NumberFormat data-1.01300-00400}}</td>
        <td class="left">13</td>
    </tr>
    <tr>
        <td class="right">14</td>
        <td>  Income from investments</td>
        <td class="fillgrey">{{NumberFormat data-1.01400-00100}}</td>
        <td class="fillgrey">{{NumberFormat data-1.01400-00200}}</td>
        <td class="data">{{NumberFormat data-1.01400-00300}}</td>
        <td class="data">{{NumberFormat data-1.01400-00400}}</td>
        <td class="left">14</td>
    </tr>

    <tr>
        <td class="right">15</td>
        <td>  Governmental appropriations</td>
        <td class="fillgrey">{{NumberFormat data-1.01500-00100}}</td>
        <td class="fillgrey">{{NumberFormat data-1.01500-00200}}</td>
        <td class="data">{{NumberFormat data-1.01500-00300}}</td>
        <td class="data">{{NumberFormat data-1.01500-00400}}</td>
        <td class="left">15</td>
    </tr><tr>
        <td class="right">16</td>
        <td> Other (specify)</td>
        <td class="fillgrey">{{NumberFormat data-1.01600-00100}}</td>
        <td class="fillgrey">{{NumberFormat data-1.01600-00200}}</td>
        <td class="data">{{NumberFormat data-1.01600-00300}}</td>
        <td class="data">{{NumberFormat data-1.01600-00400}}</td>
        <td class="left">16</td>
    </tr>
    <tr>
        <td class="right">17</td>
        <td class="data"></td>
        <td class="fillgrey">{{NumberFormat data-1.01700-00100}}</td>
        <td class="fillgrey">{{NumberFormat data-1.01700-00200}}</td>
        <td class="data">{{NumberFormat data-1.01700-00300}}</td>
        <td class="data">{{NumberFormat data-1.01700-00400}}</td>
        <td class="left">17</td>
    </tr>
    <tr>
        <td class="right">18</td>
        <td class="data"></td>
        <td class="fillgrey">{{NumberFormat data-1.01800-00100}}</td>
        <td class="fillgrey">{{NumberFormat data-1.01800-00200}}</td>
        <td class="data">{{NumberFormat data-1.01800-00300}}</td>
        <td class="data">{{NumberFormat data-1.01800-00400}}</td>
        <td class="left">18</td>
    </tr>
    <tr>
        <td class="right">19</td>
        <td class="data"></td>
        <td class="fillgrey">{{NumberFormat data-1.01900-00100}}</td>
        <td class="fillgrey">{{NumberFormat data-1.01900-00200}}</td>
        <td class="data">{{NumberFormat data-1.01900-00300}}</td>
        <td class="data">{{NumberFormat data-1.01900-00400}}</td>
        <td class="left">19</td>
    </tr>
    <tr>
        <td class="right">20</td>
        <td class="data"></td>
        <td class="fillgrey">{{NumberFormat data-1.02000-00100}}</td>
        <td class="fillgrey">{{NumberFormat data-1.02000-00200}}</td>
        <td class="data">{{NumberFormat data-1.02000-00300}}</td>
        <td class="data">{{NumberFormat data-1.02000-00400}}</td>
        <td class="left">20</td>
    </tr>
    <tr>
        <td class="right">21</td>
        <td class="data"></td>
        <td class="fillgrey">{{NumberFormat data-1.02100-00100}}</td>
        <td class="fillgrey">{{NumberFormat data-1.02100-00200}}</td>
        <td class="data">{{NumberFormat data-1.02100-00300}}</td>
        <td class="data">{{NumberFormat data-1.02100-00400}}</td>
        <td class="left">21</td>
    </tr>
    <tr>
        <td class="right">22</td>
        <td class="data"></td>
        <td class="fillgrey">{{NumberFormat data-1.02200-00100}}</td>
        <td class="fillgrey">{{NumberFormat data-1.02200-00200}}</td>
        <td class="data">{{NumberFormat data-1.02200-00300}}</td>
        <td class="data">{{NumberFormat data-1.02200-00400}}</td>
        <td class="left">22</td>
    </tr>
    <tr>
        <td class="right">23</td>
        <td class="data"></td>
        <td class="fillgrey">{{NumberFormat data-1.02300-00100}}</td>
        <td class="fillgrey">{{NumberFormat data-1.02300-00200}}</td>
        <td class="data">{{NumberFormat data-1.02300-00300}}</td>
        <td class="data">{{NumberFormat data-1.02300-00400}}</td>
        <td class="left">23</td>
    </tr>
    <tr>
        <td class="right">24</td>
        <td class="data"></td>
        <td class="fillgrey">{{NumberFormat data-1.02400-00100}}</td>
        <td class="fillgrey">{{NumberFormat data-1.02400-00200}}</td>
        <td class="data">{{NumberFormat data-1.02400-00300}}</td>
        <td class="data">{{NumberFormat data-1.02400-00400}}</td>
        <td class="left">24</td>
    </tr>
    <tr>
        <td class="right">25</td>
        <td class="data"></td>
        <td class="fillgrey">{{NumberFormat data-1.02500-00100}}</td>
        <td class="fillgrey">{{NumberFormat data-1.02500-00200}}</td>
        <td class="data">{{NumberFormat data-1.02500-00300}}</td>
        <td class="data">{{NumberFormat data-1.02500-00400}}</td>
        <td class="left">25</td>
    </tr>
    <tr>
        <td class="right">26</td>
        <td> Total revenues<div> (sum of lines 8 through 25)</div></td>
        <td class="data">{{NumberFormat data-1.02600-00100}}</td>
        <td class="data">{{NumberFormat data-1.02600-00200}}</td>
        <td class="data">{{NumberFormat data-1.02600-00300}}</td>
        <td class="data">{{NumberFormat data-1.02600-00400}}</td>
        <td class="left">26</td>
    </tr>
    <tr>
        <td colspan="7">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="4"> PART  II  -  OPERATING  EXPENSES</td>
        <td class="center">1</td>
        <td class="center">2</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="right">27</td>
        <td colspan="3"> Operating expenses  (per Wkst A, col. 3, line 100)</td>
        <td  class="fillgrey data">{{NumberFormat data-1.02700-00100}}</td>
        <td class="data">{{NumberFormat data-1.02700-00200}}</td>
        <td class="left">27</td>
    </tr>
    <tr>
        <td class="right">28</td>
        <td colspan="3"> Add (specify)</td>
        <td class="data">{{NumberFormat data-1.02800-00100}}</td>
        <td class="fillgrey data">{{NumberFormat data-1.02800-00200}}</td>
        <td class="left">28</td>
    </tr>
    <tr>
        <td class="right">29</td>
        <td colspan="3"class="data"></td>
        <td  class="data">{{NumberFormat data-1.02900-00100}}</td>
        <td class="fillgrey data">{{NumberFormat data-1.02900-00200}}</td>
        <td class="left">29</td>
    </tr>
    <tr>
        <td class="right">30</td>
        <td colspan="3"class="data"></td>
        <td  class="data">{{NumberFormat data-1.03000-00100}}</td>
        <td class="fillgrey data">{{NumberFormat data-1.03000-00200}}</td>
        <td class="left">30</td>
    </tr>
    <tr>
        <td class="right">31</td>
        <td  colspan="3"class="data"></td>
        <td  class="data">{{NumberFormat data-1.03100-00100}}</td>
        <td class="fillgrey data">{{NumberFormat data-1.03200-00200}}</td>
        <td class="left">31</td>
    </tr>
    <tr>
        <td class="right">32</td>
        <td colspan="3"class="data"></td>
        <td class="data">{{NumberFormat data-1.03200-00100}}</td>
        <td class="fillgrey data">{{NumberFormat data-1.03200-00200}}</td>
        <td class="left">32</td>
    </tr>
    <tr>
        <td class="right">33</td>
        <td colspan="3"class="data"></td>
        <td  class="data">{{NumberFormat data-1.03300-00100}}</td>
        <td class="fillgrey data">{{NumberFormat data-1.03300-00200}}</td>
        <td class="left">33</td>
    </tr>
    <tr>
        <td class="right">34</td>
        <td colspan="3"> Total additions  (sum of lines 28 through 33) </td>
        <td class="fillgrey data">{{NumberFormat data-1.03400-00100}}</td>
        <td class="data">{{NumberFormat data-1.03400-00200}}</td>
        <td class="left">34</td>
    </tr>
    <tr>
        <td class="right">35</td>
        <td colspan="3">  Deduct (specify)</td>
        <td  class="data">{{NumberFormat data-1.03500-00100}}</td>
        <td class="fillgrey data">{{NumberFormat data-1.03500-00200}}</td>
        <td class="left">35</td>
    </tr>
    <tr>
        <td class="right">36</td>
        <td colspan="3"class="data"></td>
        <td class="data">{{NumberFormat data-1.03600-00100}}</td>
        <td class="fillgrey data">{{NumberFormat data-1.03600-00200}}</td>
        <td class="left">36</td>
    </tr>
    <tr>
        <td class="right">37</td>
        <td colspan="3" class="data"></td>
        <td class="data">{{NumberFormat data-1.03700-00100}}</td>
        <td class="fillgrey data">{{NumberFormat data-1.03700-00200}}</td>
        <td class="left">37</td>
    </tr>
    <tr>
        <td class="right">38</td>
        <td colspan="3" class="data"></td>
        <td class="data">{{NumberFormat data-1.0800-00100}}</td>
        <td class="fillgrey data">{{NumberFormat data-1.03800-00200}}</td>
        <td class="left">38</td>
    </tr>
    <tr>
        <td class="right">39</td>
        <td colspan="3"class="data"></td>
        <td class="data">{{NumberFormat data-1.03900-00100}}</td>
        <td class="fillgrey data">{{NumberFormat data-1.03900-00200}}</td>
        <td class="left">39</td>
    </tr>
    <tr>
        <td class="right">40</td>
        <td colspan="3"> Total deductions  (sum of lines 35 through 39)</td>
        <td class="fillgrey data">{{NumberFormat data-1.04000-00100}}</td>
        <td class="data">{{NumberFormat data-1.04000-00200}}</td>
        <td class="left">40</td>
    </tr>
    <tr>
        <td class="right">41</td>
        <td colspan="3"> Total operating expenses<div>  (sum of lines 27 and 34,  minus line 40)</div></td>
        <td class="fillgrey data">{{NumberFormat data-1.04100-00100}}</td>
        <td class="data">{{NumberFormat data-1.04100-00200}}</td>
        <td class="left">41</td>
    </tr>
    <tr>
        <td class="right">42</td>
        <td colspan="3">  Net income / (loss) for the period<div> (line 26 minus line 41)</div></td>
        <td class="fillgrey data">{{NumberFormat data-1.04200-00100}}</td>
        <td class="data">{{NumberFormat data-1.04200-00200}}</td>
        <td class="left">42</td>
    </tr>
    <tr>
        <td colspan="7">FORM CMS-1984-14 (08-2014)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4350 and 4350.3)</td>
    </tr>
    <tr>
        <td colspan="2" class="border-right">43-126</td>
        <td colspan="3" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">Rev. 1</td>
    </tr>
</tbody>
</table>
</div>