<div class="report">
<table border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
<col width="8%" />
<col width="4%"/>
<col width="40%" />
<col width="10%" />
<col width="15%" />
<col width="15%"/>
<col width="20%" />
</colgroup>
<thead>
    <tr>
        <td colspan="3"> STATEMENT  OF  REVENUES  AND  EXPENSES</td>
        <td colspan="2">Provider CCN: <span class="data">{{pId}}</span></td>
        <td>
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td>WORKSHEET S PARTS I & II</td>
    </tr>
</thead>
<tbody>
    <tr>
        <td colspan="7">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="7"> PART  I  -  COST  REPORT  STATUS</td>
    </tr>
    <tr>
        <td colspan="3">&nbsp;</td>
        <td class="center" >1</td>
        <td class="center" colspan="2">2</td>
        <td class="center">3</td>
    </tr>
    <tr>
        <td rowspan="4">Provider use only</td>
        <td class="right">1</td>
        <td> Electronic filed cost report</td>
        <td class="center data">{{data-1.00100-00100}}</td>
        <td colspan="2"> ECR Date:<span class="center data">{{data-1.00100-00200}}</span></td>
        <td> ECR Time:<span class="center data">{{data-1.00100-00300}}</span></td>
    </tr>
    <tr>
        <td class="right">2</td>
        <td> Manually submitted cost report</td>
        <td class="center data">{{data-1.00200-00100}}</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td> Number of times cost report has been amended</td>
        <td class="center data">{{data-1.00300-00100}}</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td> Medicare utilization</td>
        <td class="center data">{{data-1.00400-00100}}</td>
    </tr>
    <tr>
        <td rowspan="8"> Contractor use only:</td>
        <td class="right">5</td>
        <td> Cost report status
            <div class="tab">[ 1 ]  As Submitted</div>
            <div class="tab">[ 2 ]  Reserved</div>
            <div class="tab">[ 3 ]  Reserved</div>
            <div class="tab">[ 4 ]  Reserved</div>
            <div class="tab">[ 5 ]  Amended</div>
        </td>
        <td class="center data">{{data-1.00500-00100}}</td>
    </tr>
    <tr>
        <td class="right">6</td>
        <td> Date received</td>
        <td class="center data">{{data-1.00600-00100}}</td>
    </tr>
    <tr>
        <td class="right">7</td>
        <td>  Contractor number</td>
        <td class="center data">{{data-1.00700-00100}}</td>
    </tr>
    <tr>
        <td class="right">8</td>
        <td> First cost report for this provider CCN</td>
        <td class="center data">{{data-1.00800-00100}}</td>
    </tr>
    <tr>
        <td class="right">9</td>
        <td> Last cost report for this provider CCN</td>
        <td class="center data">{{data-1.00900-00100}}</td>
    </tr>
    <tr>
        <td class="right">10</td>
        <td> Reserved</td>
        <td class="data center fillgrey">{{data-1.01000-00100}}</td>
    </tr>
    <tr>
        <td class="right">11</td>
        <td> Contractor vendor code</td>
        <td class="center data">{{data-1.01100-00100}}</td>
    </tr>
    <tr>
        <td class="right">12</td>
        <td>Reserved</td>
        <td class="data center fillgrey">{{data-1.01200-00100}}</td>
    </tr>
    <tr>
        <td colspan="7">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="7"> PART  II  -  CERTIFICATION</td>
    </tr>
    <tr>
        <td colspan="7">
            MISREPRESENTATION OR FALSIFICATION OF ANY INFORMATION CONTAINED IN THIS COST REPORT MAY BE PUNISHABLE BY CRIMINAL, CIVIL,  AND ADMINISTRATIVE ACTION, FINE AND/OR IMPRISONMENT UNDER FEDERAL LAW.  FURTHERMORE, IF SERVICES IDENTIFIED IN THIS REPORT WERE PROVIDED THROUGH THE PAYMENT DIRECTLY OR INDIRECTLY OF A KICKBACK OR WERE OTHERWISE ILLEGAL, CRIMINAL, CIVIL, AND ADMINISTRATIVE ACTION, FINES AND/OR IMPRISONMENT MAY RESULT.
            <div>&nbsp;</div>
            <div class="tab">CERTIFICATION BY OFFICER OR ADMINISTRATOR OF PROVIDERS</div>
            <div>&nbsp;</div>
            <div class="tab">I HEREBY CERTIFY that I have read the above certification statement and that I have examined the accompanying electronically filed or manually submitted costreport and the Balance Sheet and Statement of Revenue and Expenses prepared by _________________________ {Provider Name(s) and Provider CCN(s)} forthe cost reporting period beginning _______________ and ending _______________ and that to the best of my knowledge and belief, this report and statement are true, correct, complete and prepared from the books and records of the provider in accordance with applicable instructions, except as noted. I further certifythat I am familiar with the laws and regulations regarding the provision of health care services, and that the services identified in this cost report were provided incompliance with such laws and regulations.</div>
            <div>&nbsp;</div>
            <div class="tab">OFFICER OR ADMINISTRATOR OF PROVIDER</div>
            <div>&nbsp;</div>
            <div class="tab"><span class="tab">        Printed Name _________________&nbsp;Signed________________________________________________</span></div>
            <div class="tab"><span class="tab">         Title ________________________&nbsp;Date__________________________________________________</span></div>
            <div>&nbsp;</div>
        </td>
    </tr>
    <tr>
        <td colspan="7">
            <span>According to the Paperwork Reduction Act of 1995, no persons are required to respond to a collection of information unless it displays a valid OMB control number.   The valid OMB control number for this information collection is 0938-0758.  The time required to complete this information collection is estimated 188 hours per response, including the time to review instructions, search existing resources, gather the data needed, and complete and review the information collection.  If you have any comments concerning the accuracy of the time estimate(s) or suggestions for improving this form, please write to:  CMS, 7500 Security Boulevard, Attn: PRA Report Clearance Officer,  Mail Stop C4-26-05, Baltimore, Maryland 21244-1850.  Please do not send applications, claims, payments, medical records or any documents containing sensitive information to the PRA Reports Clearance Office.  Please note that any correspondence not pertaining to the information collection burden approved under the associated OMB control number listed on this form will not be reviewed, forwarded, or retained. If you have questions or concerns regarding where to submit your documents, please contact 1-800-MEDICARE. </span>
        </td>
    </tr>
    <tr>
        <td colspan="7">FORM CMS-1984-14 (08-2014)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4306)</td>
    </tr>
    <tr>
        <td colspan="2" class="border-right">Rev. 1</td>
        <td colspan="3" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">43-101</td>
    </tr>
</tbody>
</table>
</div>
