<div class="report">
<table border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
<col width="4%" />
<col width="40%"/>
<col width="15%" />
<col width="15%" />
<col width="15%" />
<col width="15%"/>
<col width="4%" />
</colgroup>
<thead>
    <tr>
        <td colspan="3"> HOSPICE  IDENTIFICATION  DATA</td>
        <td>Provider CCN: <span class="data">{{pId}}</span></td>
        <td>
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="2">WORKSHEET S-1 PARTS II & III</td>
    </tr>
</thead>
<tbody>
    <tr>
        <td colspan="7">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="7"> PART  II  -  STATISTICAL  DATA</td>
    </tr>
    <tr>
        <td rowspan="3" colspan="2">&nbsp;</td>
        <td class="center" colspan="4">           UNDUPLICATED  DAYS</td>
        <td rowspan="3">&nbsp;</td>
    </tr>
    <tr>
        <td class="center">Title XVIII - Medicare</td>
        <td class="center">Title XIX - Medicaid</td>
        <td class="center">Other</td>
        <td class="center">Other</td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
    </tr>
    <tr>
        <td class="right">30</td>
        <td> Continuous Home Care</td>
        <td class="data">{{NumberFormat data-1.03000-00100}}</td>
        <td class="data">{{NumberFormat data-1.03000-00200}}</td>
        <td class="data">{{NumberFormat data-1.03000-00300}}</td>
        <td class="data">{{NumberFormat data-1.03000-00400}}</td>
        <td class="left">30</td>
    </tr>
    <tr>
        <td class="right">31</td>
        <td> Routine Home Care</td>
        <td class="data">{{NumberFormat data-1.03100-00100}}</td>
        <td class="data">{{NumberFormat data-1.03100-00200}}</td>
        <td class="data">{{NumberFormat data-1.03100-00300}}</td>
        <td class="data">{{NumberFormat data-1.03100-00400}}</td>
        <td class="left">31</td>
    </tr>
    <tr>
        <td class="right">32</td>
        <td> Inpatient Respite Care </td>
        <td class="data">{{NumberFormat data-1.03200-00100}}</td>
        <td class="data">{{NumberFormat data-1.03200-00200}}</td>
        <td class="data">{{NumberFormat data-1.03200-00300}}</td>
        <td class="data">{{NumberFormat data-1.03200-00400}}</td>
        <td class="left">32</td>
    </tr>
    <tr>
        <td class="right">33</td>
        <td> General Inpatient Care</td>
        <td class="data">{{NumberFormat data-1.03300-00100}}</td>
        <td class="data">{{NumberFormat data-1.03300-00200}}</td>
        <td class="data">{{NumberFormat data-1.03300-00300}}</td>
        <td class="data">{{NumberFormat data-1.03300-00400}}</td>
        <td class="left">33</td>
    </tr>
    <tr>
        <td class="right">34</td>
        <td> Total Hospice Days</td>
        <td class="data">{{NumberFormat data-1.03400-00100}}</td>
        <td class="data">{{NumberFormat data-1.03400-00200}}</td>
        <td class="data">{{NumberFormat data-1.03400-00300}}</td>
        <td class="data">{{NumberFormat data-1.03400-00400}}</td>
        <td class="left">34</td>
    </tr>
    <tr>
        <td colspan="7">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="7"> PART  III  -  CONTRACTED  STATISTICAL  DATA</td>
    </tr>
    <tr>
        <td rowspan="3" colspan="2">&nbsp;</td>
        <td class="center" colspan="4">           UNDUPLICATED  DAYS</td>
        <td rowspan="3">&nbsp;</td>
    </tr>
    <tr>
        <td class="center">Title XVIII - Medicare</td>
        <td class="center">Title XIX - Medicaid</td>
        <td class="center">Other</td>
        <td class="center">Other</td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
    </tr>
    <tr>
        <td class="right">40</td>
        <td> Inpatient Respite Care     </td>
        <td class="data">{{NumberFormat data-2.04000-00100}}</td>
        <td class="data">{{NumberFormat data-2.04000-00200}}</td>
        <td class="data">{{NumberFormat data-2.04000-00300}}</td>
        <td class="data">{{NumberFormat data-2.04000-00400}}</td>
        <td class="left">40</td>
    </tr>
    <tr>
        <td class="right">41</td>
        <td> General Inpatient Care</td>
        <td class="data">{{NumberFormat data-2.04100-00100}}</td>
        <td class="data">{{NumberFormat data-2.04100-00200}}</td>
        <td class="data">{{NumberFormat data-2.04100-00300}}</td>
        <td class="data">{{NumberFormat data-2.04100-00400}}</td>
        <td class="left">41</td>
    </tr>
    <tr>
        <td colspan="7">FORM CMS-1984-14 (08-2014)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4307.2 - 4307.3)</td>
    </tr>
    <tr>
        <td colspan="2" class="border-right">Rev. 1</td>
        <td colspan="3" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">43-103</td>
    </tr>
</tbody>
</table>
</div>