<div class="report">
<table border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
<col width="4%" />
<col width="40%"/>
<col width="15%" />
<col width="15%" />
<col width="15%" />
<col width="15%"/>
<col width="15%"/>
<col width="15%"/>
<col width="4%" />
</colgroup>
<thead>
    <tr>
        <td colspan="5">  HOSPICE  IDENTIFICATION  DATA</td>
        <td>Provider CCN: <span class="data">{{pId}}</span></td>
        <td>
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="2">WORKSHEET S-1  PART  I</td>
    </tr>
</thead>
<tbody>
    <tr>
        <td colspan="9">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="9"> PART  I  -  IDENTIFICATION  DATA</td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td>Name</td>
        <td class="data" colspan="6">{{data-1.00100-00100}}</td>
        <td class="left">1</td>
    </tr>
    <tr>
        <td class="right">2</td>
        <td> Street address</td>
        <td class="data" colspan="3">{{data-1.00200-00100}}</td>
        <td> P.O. Box:<span class="data">{{data-1.00200-00200}}</span></td>
        <td class="data fillgrey">{{data-1.00200-00300}}</td>
        <td class="data fillgrey">{{data-1.00200-00400}}</td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td>City</td>
        <td class="data">{{data-1.00300-00100}}</td>
        <td> State: <span class="data">{{data-1.00300-00200}}</span></td>
        <td> ZIP Code: <span class="data">{{data-1.00300-00300}}</span></td>
        <td class="data fillgrey">{{data-1.00300-00400}}</td>
        <td class="data fillgrey">{{data-1.00300-00500}}</td>
        <td class="data fillgrey">{{data-1.00300-00600}}</td>
        <td class="left">3</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td> County</td>
        <td class="data">{{data-1.00400-00100}}</td>
        <td class="data fillgrey">{{data-1.00400-00200}}</td>
        <td class="data fillgrey">{{data-1.00400-00300}}</td>
        <td class="data fillgrey">{{data-1.00400-00400}}</td>
        <td class="data fillgrey">{{data-1.00400-00500}}</td>
        <td class="data fillgrey">{{data-1.00400-00600}}</td>
        <td class="left">4</td>
    </tr>
    <tr>
        <td class="right">5</td>
        <td>CCN</td>
        <td class="data">{{data-1.00500-00100}}</td>
        <td class="data fillgrey">{{data-1.00500-00200}}</td>
        <td class="data fillgrey">{{data-1.00500-00300}}</td>
        <td class="data fillgrey">{{data-1.00500-00400}}</td>
        <td class="data fillgrey">{{data-1.00500-00500}}</td>
        <td class="data fillgrey">{{data-1.00500-00600}}</td>
        <td class="left">5</td>
    </tr>
    <tr>
        <td class="right">6</td>
        <td> Date hospice began operation</td>
        <td class="data">{{data-1.00600-00100}}</td>
        <td class="data fillgrey">{{data-1.00600-00200}}</td>
        <td class="data fillgrey">{{data-1.00600-00300}}</td>
        <td class="data fillgrey">{{data-1.00600-00400}}</td>
        <td class="data fillgrey">{{data-1.00600-00500}}</td>
        <td class="data fillgrey">{{data-1.00600-00600}}</td>
        <td class="left">6</td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
        <td class="center">Title XVIII - Medicare</td>
        <td class="center">Title XIX - Medicaid</td>
        <td colspan="5">&nbsp;</td>
    </tr>
    <tr>
        <td class="right">7</td>
        <td>  Certification date</td>
        <td class="data">{{data-1.00700-00100}}</td>
        <td class="data">{{data-1.00700-00200}}</td>
        <td class="data fillgrey">{{data-1.00700-00300}}</td>
        <td class="data fillgrey">{{data-1.00700-00400}}</td>
        <td class="data fillgrey">{{data-1.00700-00500}}</td>
        <td class="data fillgrey">{{data-1.00700-00600}}</td>
        <td class="left">7</td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
        <td class="center"> From</td>
        <td class="center">To</td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="left"></td>
    </tr>
    <tr>
        <td class="right">8</td>
        <td> Cost reporting period</td>
        <td class="data">{{data-1.00800-00100}}</td>
        <td class="data">{{data-1.00800-00200}}</td>
        <td class="data fillgrey">{{data-1.00800-00300}}</td>
        <td class="data fillgrey">{{data-1.00800-00400}}</td>
        <td class="data fillgrey">{{data-1.00800-00500}}</td>
        <td class="data fillgrey">{{data-1.00800-00600}}</td>
        <td class="left">8</td>
    </tr>
    <tr>
        <td colspan="9">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="9">Malpractice Insurance Information</td>
    </tr>
    <tr>
        <td class="right">9</td>
        <td colspan="3"> Is this facility legally required to carry malpractice insurance?   Enter "Y" for yes or "N" for no.</td>
        <td class="data">{{data-1.00900-00100}}</td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="left">9</td>
    </tr>
    <tr>
        <td class="right">10</td>
        <td colspan="3"> Enter 1 if the malpractice insurance is a claims-made policy.<div> Enter 2 if the malpractice insurance is an occurrence policy.</div></td>
        <td class="data">{{data-1.01000-00100}}</td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="left">10</td>
    </tr>
    <tr>
        <td colspan="4">&nbsp;</td>
        <td class="center"> Premiums</td>
        <td class="center"> Paid Losses</td>
        <td class="center"> Self-Insurance</td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td class="right">11</td>
        <td colspan="3"> Amounts of malpractice premiums, paid losses, and self-insurance</td>
        <td class="data">{{NumberFormat data-1.01100-00100}}</td>
        <td class="data">{{NumberFormat data-1.01100-00200}}</td>
        <td class="data">{{NumberFormat data-1.01100-00300}}</td>
        <td class="fillgrey"></td>
        <td class="left">11</td>
    </tr>
    <tr>
        <td class="right">12</td>
        <td colspan="3"> Are malpractice premiums and paid losses reported in a cost center other than A&G? <div> If yes, submit supporting schedule listing cost centers and amounts contained therein.</div></td>
        <td class="data">{{NumberFormat data-1.01200-00100}}</td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="left">12</td>
    </tr>
    <tr>
        <td colspan="9">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="9"> Home Office Information</td>
    </tr>
    <tr>
        <td colspan="4">&nbsp;</td>
        <td class="center"> Y / N</td>
        <td class="center">Home Office Number</td>
        <td colspan="3"></td>
    </tr>
    <tr>
        <td class="right">13</td>
        <td colspan="3"> Are home office costs (as defined in CMS Pub. 15-1, §2150ff) claimed?  Enter "Y" for yes or "N" for<div> no in col. 1.  If yes, enter the home office number in col. 2.  (see instructions)</div></td>
        <td class="data">{{NumberFormat data-1.01300-00100}}</td>
        <td class="data">{{data-1.01300-00200}}</td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="left">13</td>
    </tr>
    <tr>
        <td class="right">14</td>
        <td> Home office name</td>
        <td class="data" colspan="6">{{data-1.01400-00100}}</td>
        <td class="left">14</td>
    </tr>
    <tr>
        <td class="right">15</td>
        <td> Street address</td>
        <td class="data">{{data-1.01500-00100}}</td>
        <td> P.O. Box: <span class="data">{{data-1.01500-00200}}</span></td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="left">15</td>
    </tr>
    <tr>
        <td class="right">16</td>
        <td> City</td>
        <td class="data">{{data-1.01600-00100}}</td>
        <td> State: <span class="data">{{data-1.01600-00200}}</span></td>
        <td> ZIP Code: <span class="data">{{data-1.01600-00300}}</span></td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="left">16</td>
    </tr>
    <tr>
        <td class="right">17</td>
        <td> Home office contractor name</td>
        <td class="data" colspan="6">{{data-1.01700-00100}}</td>
        <td class="left">17</td>
    </tr>
    <tr>
        <td class="right">18</td>
        <td> Home office contractor number</td>
        <td class="data">{{data-1.01800-00100}}</td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="left">18</td>
    </tr>
    <tr>
        <td colspan="9">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="9"> Other Information</td>
    </tr>
    <tr>
        <td class="right">19</td>
        <td colspan="3"> Type of control  (see instructions)</td>
        <td class="data">{{data-1.01900-00100}}</td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="left">19</td>
    </tr>
    <tr>
        <td class="right">20</td>
        <td colspan="3"> Number of CBSAs where Medicare covered services were provided during the cost reporting period</td>
        <td class="data">{{data-1.02000-00100}}</td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="left">20</td>
    </tr>
    <tr>
        <td class="right">21</td>
        <td colspan="3"> List each CBSA code where Medicare covered hospices services were provided during the cost<div> reporting period  (line 21 contains the first code)</div></td>
        <td class="data">{{data-1.02100-00100}}</td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="left">21</td>
    </tr>
    <tr>
        <td colspan="9">FORM CMS-1984-14 (08-2014)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4307 - 4307.1)</td>
    </tr>
    <tr>
        <td colspan="2" class="border-right">43-102</td>
        <td colspan="5" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">Rev. 1</td>
    </tr>
</tbody>
</table>
</div>