<div class="report">
<table border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
<col width="4%" />
<col width="50%"/>
<col width="15%" />
<col width="15%" />
<col width="15%" />
<col width="4%" />
</colgroup>
<thead>
    <tr>
        <td colspan="2">  HOSPICE  REIMBURSEMENT  QUESTIONNAIRE</td>
        <td>Provider CCN: <span class="data">{{pId}}</span></td>
        <td>
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="2"> WORKSHEET  S-2</td>
    </tr>
</thead>
<tbody>
    <tr>
        <td colspan="6">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="6"> PROVIDER  ORGANIZATION  AND  OPERATION</td>
    </tr>
    <tr>
        <td rowspan="2" colspan="2">&nbsp;</td>
        <td class="center">Y / N</td>
        <td class="center">DATE</td>
        <td class="center">V/I</td>
        <td rowspan="2"></td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td> Has the provider changed ownership immediately prior to the beginning of the cost reporting period?  Enter "Y" for yes or "N" for  no in column 1. <div> If yes, enter the date of the change in column 2.  (see instructions)</div></td>
        <td class="data center">{{data-1.00100-00100}}</td>
        <td class="data center">{{data-1.00100-00200}}</td>
        <td class="data center fillgrey">{{data-1.00100-00200}}</td>
        <td class="left">1</td>
    </tr>
    <tr>
        <td class="right">2</td>
        <td>  Has the provider terminated participation in the Medicare program?  Enter "Y" for yes or "N" for no in column 1. <div> If yes, enter in column 2 the termination date.</div><div> If yes, enter in column 3, "V" for voluntary or "I" for involuntary.</div></td>
        <td class="data center">{{data-1.00200-00100}}</td>
        <td class="data center">{{data-1.00200-00200}}</td>
        <td class="data center">{{data-1.00200-00300}}</td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td> Is the provider involved in business transactions, including management contracts, with individuals or entities that were related to  the provider or its officers, medical staff, management personnel, or members of the board of directors through ownership, control, or  family and other similar relationships?  Enter "Y" for yes or "N" for no in column 1.   (see instructions)</td>
        <td class="data center">{{data-1.00300-00100}}</td>
        <td class="data center fillgrey">{{data-1.00300-00200}}</td>
        <td class="data center fillgrey">{{data-1.00300-00300}}</td>
        <td class="left">3</td>
    </tr>
    <tr>
        <td colspan="6">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="6"> FINANCIAL  DATA  AND  REPORTS</td>
    </tr>
    <tr>
        <td rowspan="2" colspan="2">&nbsp;</td>
        <td class="center">Y / N</td>
        <td class="center">A / C / R</td>
        <td class="center">DATE</td>
        <td rowspan="2"></td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td> Column 1:  Were the financial statements prepared by a certified public accountant?  Enter "Y" for yes or "N" for no.<div> Column 2:  If yes, enter in column 2:  "A" for audited, "C" for compiled, or "R" for reviewed.  Submit complete copy of financial  statements or enter date available in column 3.  (see instructions)  If no, see instructions.</div></td>
        <td class="data center">{{data-1.00400-00100}}</td>
        <td class="data center">{{data-1.00400-00200}}</td>
        <td class="data center">{{data-1.00400-00300}}</td>
        <td class="left">4</td>
    </tr>
    <tr>
        <td class="right">5</td>
        <td> Are the cost report total expenses and total revenues different from those on the filed financial statements? <div> Enter "Y" for yes or "N" for no in column 1. </div><div> If yes, submit reconciliation.</div></td>
        <td class="data center">{{data-1.00500-00100}}</td>
        <td class="data center fillgrey">{{data-1.00500-00200}}</td>
        <td class="data center fillgrey">{{data-1.00500-00300}}</td>
        <td class="left">5</td>
    </tr>
    
    <tr>
        <td colspan="6">FORM CMS-1984-14 (08-2014)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4308)</td>
    </tr>
    <tr>
        <td colspan="2" class="border-right">43-104</td>
        <td colspan="2" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">Rev. 1</td>
    </tr>
</tbody>
</table>
</div>