<div class="report">
<table border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
<col width="4%" />
<col width="40%"/>
<col width="20%" />
<col width="15%" />
<col width="15%" />
<col width="4%" />
</colgroup>
<thead>
    <tr>
        <td colspan="2">  HOSPICE  REIMBURSEMENT  QUESTIONNAIRE</td>
        <td>Provider CCN: <span class="data">{{pId}}</span></td>
        <td>
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="2"> WORKSHEET  S-2</td>
    </tr>
</thead>
<tbody>
    <tr>
        <td colspan="6">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="6"> P S & R  REPORT  DATA</td>
    </tr>
    <tr>
        <td rowspan="2" colspan="3">&nbsp;</td>
        <td class="center">Y / N</td>
        <td class="center">DATE</td>
        <td rowspan="2"></td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
    </tr>
    <tr>
        <td class="right">6</td>
        <td colspan="2"> Was the cost report prepared using the PS&R report only?  Enter "Y" for yes or "N" for no in column 1.  If yes, enter in column 2 the paid-through date   of the PS&R report used to prepare the cost report.  (see instructions.)</td>
        <td class="data center">{{data-1.00600-00100}}</td>
        <td class="data center">{{data-1.00600-00200}}</td>
        <td class="left">6</td>
    </tr>
    <tr>
        <td class="right">7</td>
        <td colspan="2"> Was the cost report prepared using the PS&R report for totals and the provider's records for allocation?  Enter "Y" for yes or "N" for no in col.1.<div> If yes, enter in col. 2 the paid-through date of the PS&R report.  (see instructions)</div></td>
        <td class="data center">{{data-1.00700-00100}}</td>
        <td class="data center">{{data-1.00700-00200}}</td>
        <td class="left">7</td>
    </tr>
    <tr>
        <td class="right">8</td>
        <td colspan="2"> If line 6 or 7 is yes, were adjustments made to PS&R report data for additional claims that have been billed but are not included on the PS&R report used to file  the cost report?  Enter "Y" for yes or "N" for no.  If yes, see instructions.</td>
        <td class="data center">{{data-1.00800-00100}}</td>
        <td class="data center fillgrey">{{data-1.00800-00200}}</td>
        <td class="left">8</td>
    </tr>
    <tr>
        <td class="right">9</td>
        <td colspan="2"> If line 6 or 7 is yes, were adjustments made to PS&R report data for corrections of other PS&R report information?  Enter "Y" for yes or "N" for no.  <div> If yes, see instructions.</div></td>
        <td class="data center">{{data-1.00900-00100}}</td>
        <td class="data center fillgrey">{{data-1.00900-00200}}</td>
        <td class="left">9</td>
    </tr>
    <tr>
        <td class="right">10</td>
        <td colspan="2"> If line 6 or 7 is yes, were adjustments made to PS&R report data for Other?  Enter "Y" for yes or "N" for no.<div> If yes, describe the other adjustments: __________________________________________</div></td>
        <td class="data center">{{data-1.01000-00100}}</td>
        <td class="data center fillgrey">{{data-1.01000-00200}}</td>
        <td class="left">10</td>
    </tr>
    <tr>
        <td class="right">11</td>
        <td colspan="2">  Was the cost report prepared only using the provider's records?  Enter "Y" for yes or "N" for no.  <div> If yes, see instructions.</div></td>
        <td class="data center">{{data-1.01100-00100}}</td>
        <td class="data center fillgrey">{{data-1.01100-00200}}</td>
        <td class="left">11</td>
    </tr>
    <tr>
        <td colspan="6">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="6">  COST  REPORT  PREPARER  CONTACT  INFORMATION</td>
    </tr>
    <tr>
        <td class="right">12</td>
        <td> First name <span class="data">{{data-1.01200-00100}}</span></td>
        <td> Last name <span class="data">{{data-1.01200-00200}}</span></td>
        <td colspan="2"> Title <span class="data">{{data-1.01200-00300}}</span></td>
        <td class="left">12</td>
    </tr>
    <tr>
        <td class="right">13</td>
        <td colspan="4">Employer <span class="data">{{data-1.01300-00100}}</span></td>
        <td class="left">13</td>
    </tr>
    <tr>
        <td class="right">14</td>
        <td> Telephone number <span class="data">{{data-1.01400-00100}}</span></td>
        <td colspan="3"> Email address <span class="data">{{data-1.01400-00200}}</span></td>
        <td class="left">14</td>
    </tr>
    
    <tr>
        <td colspan="6">FORM CMS-1984-14 (08-2014)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4308)</td>
    </tr>
    <tr>
        <td colspan="2" class="border-right">Rev. 1</td>
        <td colspan="2" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">43-105</td>
    </tr>
</tbody>
</table>
</div>