
<div class="container-fluid top-holder">
    <div class="row">
        <div class="col-md-2"><a class="navbar-brand" href="/"><img src="/assets/images/img_logo.png" alt="" /></a>
        </div>
        <div class="col-md-8 mt-3 text-center">
            <p><strong>Medicare Cost Reports User Panel</strong></p>
        </div>
        <div class="col-md-2 mt-2"><span class="username">{{content.userName}}</span></div>
        <!--<div class="col-md-2 mt-2"><img src="/assets/images/img_user_photo.png" alt="photo" class="pull-right"/></div>-->
    </div>
</div>
