{{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> --}}
<!-- Optional JavaScript --> 
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!--<script src="/assets/js/jquery-1.9.1.min.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="/assets/js/modernizr.custom.js"></script>
<script src="/assets/js/owl.carousel.js"></script>
<!--<script src="/assets/js/owl.carousel.min.js"></script> -->
<script src="/assets/js/wow.min.js"></script>
<script>new WOW().init();</script>
<script src="/assets/js/jquery.easing.min.js"></script>
<script src="/assets/js/slick.js"></script>
<script src="/assets/js/jquery.isotope.min.js"></script>

<script>
$( '.closeall' ).click( function( e ) {
	e.preventDefault();
	$( '.accordion .collapse.show' ).collapse( 'hide' );
	return false;
} );
$( '.openall' ).click( function( e ) {
	e.preventDefault();
	$( '.accordion .collapse' ).collapse( 'show' );
	return false;
} );

if ( window.location.hash ) {
	redirect( window.location.hash );
}

$( 'a[href^="#"]' ).on( 'click', function( e ) {
	e.preventDefault();
	var a = document.createElement( 'a' );
		a.href = this.href;
	redirect ( a.hash );
	return false;
} );

function redirect( hash ) {
	// $( hash ).attr( 'aria-expanded', 'true' ).focus();
	// $( hash + '+div.collapse' ).addClass( 'show' ).attr( 'aria-expanded', 'true' );
	$( hash + '+div.collapse' ).collapse( 'show' );

	// using this because of static nav bar space
	$( 'html, body' ).animate( {
		scrollTop: $( hash ).offset().top - 60
	}, 10, function() {
	// Add hash (#) to URL when done scrolling (default click behavior)
		window.location.hash = hash;
	} );
}

document.documentElement.setAttribute("lang", "en");
document.documentElement.removeAttribute("class");

/*axe.run( function(err, results) {
  console.log( results.violations );
} );*/
</script>
<script src="/assets/js/custom.js"></script>
