<!--<style>
    table{
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        background-color: transparent;
        border-collapse: collapse;
    }
    th,td {
        border-bottom: 1px solid #FFA800;
        border-right: 1px solid #FFA800;
        border-left: 1px solid #FFA800;
    }
    table td, table th {
        padding: .75rem;
        vertical-align: top;
        border-top: 1px solid #FFA800;
    }
</style>-->
<body>
  <!--<div class="row">
      <div class="col-lg-12">
          <b><a  href="/state">All States</a></b>&nbsp;
          <i class="fa fa-angle-double-right"></i>&nbsp;
          <b><a  href="/{{state}}/county">{{state}}</a></b>&nbsp;
          <i class="fa fa-angle-double-right"></i>&nbsp;
          <b><a  href="/{{state}}/{{county}}/city">{{county}} County</a></b>&nbsp;
          <i class="fa fa-angle-double-right"></i>&nbsp;
          <b><a  href="/{{state}}/{{county}}/{{city}}/hospitals">{{city}}</a></b>&nbsp;
          <i class="fa fa-angle-double-right"></i>&nbsp;
          <b><a class="breadcrumbs" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/Financial_Year">{{name}}</a></b>&nbsp;
          <i class="fa fa-angle-double-right"></i>&nbsp;
          <b><a  href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/reports">{{Financial_Year}}</a></b>&nbsp;
          <i class="fa fa-angle-double-right"></i>&nbsp;
          <b>{{sheetId}}</b>
      </div>
  </div>-->
  <div class="top-right-heading">
      <h4 class="pt-3 pl-5">Hospital Details</h4>
      <ul class="pb-5 pl-5 pt-3 breadcrumb-holder">
          <li><a  href="/state">All States</a></li>&nbsp;

          <li><a  href="/{{state}}/county">{{state}}</a></li>&nbsp;

          <li><a  href="/{{state}}/{{county}}/city">{{county}} County</a></li>&nbsp;

          <li><a  href="/{{state}}/{{county}}/{{city}}/hospitals">{{city}}</a></li>&nbsp;

          <li><a class="breadcrumbs" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/Financial_Year">{{name}}</a></li>&nbsp;

          <li><a  href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/reports">{{Financial_Year}}</a></li>&nbsp;

          <li><a href="#" class="active">{{sheetId}}</a></li>
      </ul>
  </div>
  <div class="row">
      <div class="col-sm-6">
          <h5>{{name}}</h5>
          <p>{{hospitalInfo.address}},</p>
          <p>{{city}}, {{county}} County,</p>
          <p>{{state}} - {{hospitalInfo.zip}},</p>
          <p>Ph: {{hospitalInfo.phone}}</p>
      </div>
      <div class="col-sm-3">
        <p><b>Year  :</b> {{Financial_Year}}
       <br><b>Status:</b> {{Status}}</p>
      </div>
      <div class="col-sm-3">
        <p><b>Bed Size :</b>{{Bed_Size}}<br>
           <b>Discharge:</b> {{Discharge}}<br>
           <b>Revenue  :</b> {{Revenue}}</p>
      </div>
     <!--<div class="col-lg-3 col-sm-4">
            <p class="alertText">Sign in to view one year of reports for free</p>
            <button style="margin:auto" onclick="location.href = '/pricing';" id="myButton1" class="btn2"><b>Buy</b></button>
            
        </div>-->
        {{!-- <div class="col-lg-1">
            <p class="d-flex justify-content-center"><i class="fas fa-star black" id="favSignin"></i><span ></span></p>
            <button onclick="favSignin()"><span>Add to Favorite</span></button>
            </div> --}}
  </div>
  <div class=" mb-5">
      <p class="alertText">Sign in to view and download the latest year reports </p>
      <a href="/pricing" id="myButton1" class="btn-primary"><b>Sign In</b></a>

  </div>
</body>
<br>
