<!DOCTYPE html>
<html>

<head>

<title>{{content.title}}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" href="/assets/css/app.css" type="text/css">

{{> fonts/sourcesans }}


<link rel="icon" type="image/png" sizes="39x40" href="/assets/fav/medicarecostreport_icon.png">

<link rel="manifest" href="/assets/fav/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/assets/fav/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

</head>

{{{ body }}}

<div class="notification"></div>
<div class="modal"></div>

<script src="/assets/js/min/app.min.js"></script>

</body>
</html>
