<!DOCTYPE html>
<html lang="en">

<head>
    <title>Medicare Cost Report</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="images/favicon.ico" >

    {{!-- <link rel="stylesheet" href="/assets/css/home.css" type="text/css"> --}}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous">
    <!-- Font CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <!-- carousel CSS -->
    <link href="/assets/css/jquery.fancybox.css" rel="stylesheet">
    <link href="/assets/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/assets/css/owl.transitions.css" rel="stylesheet">
    <link href="/assets/css/animate.css" rel="stylesheet">
    <link href="/assets/css/select2.min.css" rel="stylesheet" />
    {{!-- <link href="/assets/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"> --}}
    <!-- style -->
    <link rel="stylesheet" href="/assets/css/style.css">

    {{!-- <link rel="stylesheet" href="/assets/css/home.css" type="text/css"> --}}

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>-->

    {{> fonts/sourcesans }}

    <style>
        a{
            cursor: pointer;
        }
    </style>
</head>
  <body class="some some">
      {{!-- {{#if Financial_Year}}
      {{> nav/reports }}
      {{else}}
      {{> nav/app }}
      {{/if}} --}}
    <div class="container">

            <nav class="navbar navbar-expand-lg navbar-light ">
                <a class="navbar-brand" href="/"><img src="/images/img_logo.png" alt=""/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/#feature">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/#pricing">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/#ds">Data Sources</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/#faq">FAQs</a>
                        </li>
                    <!--<li class="nav-item">
                        <a class="nav-link" href="mailto:support@medicarecostreport.net">Contact</a>
                    </li>-->
                    {{#if permission}}
                    <li class="nav-item">
                        <a class="nav-link btn-primary">{{content.userName}}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-primary" href="/account/profile" >Account Setting</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-primary" href="/signout">Sign Out</a>
                    </li>
                    {{else}}
                    <li class="nav-item">
                        <a class="nav-link btn-primary" href="/signin" >Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-primary" href="/signup">Register</a>
                    </li>
                    {{/if}}
                    </ul>
                    
                </div>
            </nav>
    </div>

    <main class="with-bottom-nav">
    {{!-- <main class="with-sidebar with-bottom-nav">   --}}
      {{#if permission}}

        <header>
            
        {{!-- {{> nav/profile }} --}}
        </header>
      {{!-- {{> header }} --}}
      {{else}}
      {{!-- {{> headersheet }} --}}
      {{/if}}
      
      {{{ body }}}

    </main>
      <!--<script src="/assets/js/min/app.min.js"></script>-->
      <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>

      <link href="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/css/alertify.min.css" rel="stylesheet">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/alertify.min.js"></script>
      <script>
          $('.logout').click(function () {
              alertify.defaults.transition = "slide";
              alertify.defaults.theme.ok = "btn btn-success";
              alertify.defaults.theme.cancel = "btn btn-danger";
              alertify.confirm('Are you sure to logout?', 'You will be logged out if you click Yes button below.',
                      function(e){
                          window.location.href = "/signout";
                      }
                      , function(){
                          //alertify.error('Cancelled');
                      }).set('labels', {ok: 'Yes', cancel: 'Cancel'});
          });

      </script>
  </body>
</html>

