<!DOCTYPE html>
<html>

<head>
    <title>{{content.title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="images/favicon.ico" >

    {{!-- <link rel="stylesheet" href="/assets/css/home.css" type="text/css"> --}}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          crossorigin="anonymous">
    <!-- Font CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <!-- carousel CSS -->
    <link href="/assets/css/jquery.fancybox.css" rel="stylesheet">
    <link href="/assets/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/assets/css/owl.transitions.css" rel="stylesheet">
    <link href="/assets/css/animate.css" rel="stylesheet">
    <link href="/assets/css/select2.min.css" rel="stylesheet" />
    <link href="/assets/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- style -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    {{!-- <link rel="stylesheet" href="/assets/css/home.css" type="text/css"> --}}
    {{> fonts/sourcesans }}

    <style>
        a{
            cursor: pointer;
        }
    </style>
</head>
{{{ body }}}

<footer class="bottom">
    <p class="text-center">Copyright © 2020 <a href="#">Medicare Cost Report</a></p>
</footer>
<div class="notification"></div>
<div class="modal"></div>
<script src="/assets/js/min/app.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>
<!--<script src="/assets/js/custom.js"></script>-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/css/alertify.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/alertify.min.js"></script>
<script>
    $('.logout').click(function () {
        alertify.defaults.transition = "slide";
        alertify.defaults.theme.ok = "btn btn-success";
        alertify.defaults.theme.cancel = "btn btn-danger";
        alertify.confirm('Are you sure to logout?', 'You will be logged out if you click Yes button below.',
                function(e){
                    window.location.href = "/signout";
                }
                , function(){
                    //alertify.error('Cancelled');
                }).set('labels', {ok: 'Yes', cancel: 'Cancel'});
    });
</script>
</html>
