{{!-- <!DOCTYPE html>
<html>

    <head>
        <title>Medicare Cost Report</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link rel="stylesheet" href="/assets/css/home.css" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
       <link href="/assets/css/select2.min.css" rel="stylesheet" />
        <link href="/assets/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

        {{> fonts/sourcesans }}
    </head>
    <body>
        {{{ body }}}

        <div class="notification"></div>
        <div class="modal"></div>

        <script src="/assets/js/min/app.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>


    </body>
</html> --}}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Medicare Cost Report</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="images/favicon.ico" >

    {{!-- <link rel="stylesheet" href="/assets/css/home.css" type="text/css"> --}}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous">
    <!-- Font CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <!-- carousel CSS -->
    <link href="/assets/css/jquery.fancybox.css" rel="stylesheet">
    <link href="/assets/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/assets/css/owl.transitions.css" rel="stylesheet">
    <link href="/assets/css/animate.css" rel="stylesheet">
    <link href="/assets/css/select2.min.css" rel="stylesheet" />
    {{!-- <link href="/assets/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"> --}}
    <!-- style -->
    <link rel="stylesheet" href="/assets/css/style.css">

    {{!-- <link rel="stylesheet" href="/assets/css/home.css" type="text/css"> --}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    {{> fonts/sourcesans }}

    <style>
        .select2-container .select2-search--inline  {
             width: 100%!important;
        }
        .select2-container--default .select2-search--inline .select2-search__field {
            width: 100% !important;
        }
        .login-holder select {
            background: none;
            border-width: 0px 0px 1px 0px;
            border-radius: 0;
            color: #5C5C5C;
            font-size: 0.875rem;
        }
        .ui-autocomplete {
            max-height: 200px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
            /* add padding to account for vertical scrollbar */
            padding-right: 20px;
        }
        .creditcard {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            background: none;
            border-width: 0px 0px 1px 0px;
            border-radius: 0;

        }
    </style>
</head>


    {{{ body }}}

    <div class="notification"></div>
    <div class="modal"></div>

    <script src="/assets/js/min/app.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>


    <link href="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/css/alertify.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/alertify.min.js"></script>
    <script>
        $('.logout').click(function () {
            alertify.defaults.transition = "slide";
            alertify.defaults.theme.ok = "btn btn-success";
            alertify.defaults.theme.cancel = "btn btn-danger";
            alertify.confirm('Are you sure to logout?', 'You will be logged out if you click Yes button below.',
                    function(e){
                        window.location.href = "/signout";
                    }
                    , function(){
                        //alertify.error('Cancelled');
                    }).set('labels', {ok: 'Yes', cancel: 'Cancel'});
        });

    </script>


</html>
