<!DOCTYPE html>
<html lang="en">

<head>
    <title>Medicare Cost Report</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="images/favicon.ico" >

    {{!-- <link rel="stylesheet" href="/assets/css/home.css" type="text/css"> --}}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous">
    <!-- Font CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <!-- carousel CSS -->
    <link href="/assets/css/jquery.fancybox.css" rel="stylesheet">
    <link href="/assets/css/owl.carousel.min.css" rel="stylesheet">
    <link href="/assets/css/owl.transitions.css" rel="stylesheet">
    <link href="/assets/css/animate.css" rel="stylesheet">
    <link href="/assets/css/select2.min.css" rel="stylesheet" />
    {{!-- <link href="/assets/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"> --}}
    <!-- style -->
    <link rel="stylesheet" href="/assets/css/style.css">

    {{!-- <link rel="stylesheet" href="/assets/css/home.css" type="text/css"> --}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    {{> fonts/sourcesans }}

    <style>
        a{
            cursor: pointer;
        }
    </style>
</head>
<body>
<div class="container-fluid top-holder">
<div class="row">
    <div class="col-md-2"><a class="navbar-brand" href="index.html"><img src="/assets/images/img_logo.png" alt=""/></a> </div>
    <div class="col-md-8 mt-3 text-center">
        <p><strong>Medicare Cost Reports User Panel</strong></p>
    </div>
    <div class="col-md-2 mt-2"><img src="/assets/images/img_user_photo.png" alt="photo" class="pull-right"/></div>
</div>
</div>
<!-- carousel -->

<main>
    <div class="container-fluid mt-4">
        <div class="row">
            <section  class="col-md-2 left-links wow fadeInLeft">
                <ul>
                    {{!-- <li><a href="#" class="active"> <i><img src="images/icon_dashboard.png" alt="icon"/></i>Home</a></li>
                    <li><a href="#"> <i><img src="images/icon_dashboard.png" alt="icon"/></i>Browse Hospitals</a></li> --}}
                    <li><a href="/dashboard"{{#is content.title "Dashboard" }} class="active"{{/is}}><i><img src="assets/images/icon_dashboard.png" alt="icon"/></i> Dashboard</a></li>
                    <li><a href="/account/profile"{{#is content.title "Your Account" }} class="active"{{/is}}><i><img src="assets/images/icon_dashboard.png" alt="icon"/></i> Account</a></li>
                </ul>
                <!--<ul class="bottom">
                    <li><a href="#"> <i><img src="images/icon_dashboard.png" alt="icon"/></i>Account Settings</a></li>
                    <li><a href="#"> <i><img src="images/icon_dashboard.png" alt="icon"/></i>Notifications</a></li>
                    <li><a href="#"> <i><img src="images/icon_dashboard.png" alt="icon"/></i>Logout</a></li>
                </ul>-->
            </section>

            <section  class="col-md-9 main-right wow fadeInRight">
                {{{ body }}}
            </section>
        </div>
    </div>
</main>
<footer class="bottom">
    <p class="text-center">Copyright © 2020 <a href="#">Medicare Cost Report</a></p>
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/assets/js/jquery-1.9.1.min.js"></script>
<script src="/assets/js/modernizr.js"></script>
<script src="/assets/js/owl.carousel.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="js/wow.min.js"></script>
<script>new WOW().init();</script>
<script src="/assets/js/jquery.easing.min.js"></script>
<script src="/assets/js/slick.js"></script>
<script src="/assets/js/jquery.isotope.min.js"></script>
<script>
    $( '.closeall' ).click( function( e ) {
        e.preventDefault();
        $( '.accordion .collapse.show' ).collapse( 'hide' );
        return false;
    } );
    $( '.openall' ).click( function( e ) {
        e.preventDefault();
        $( '.accordion .collapse' ).collapse( 'show' );
        return false;
    } );

    if ( window.location.hash ) {
        redirect( window.location.hash );
    }

    $( 'a[href^="#"]' ).on( 'click', function( e ) {
        e.preventDefault();
        var a = document.createElement( 'a' );
        a.href = this.href;
        redirect ( a.hash );
        return false;
    } );

    function redirect( hash ) {
        // $( hash ).attr( 'aria-expanded', 'true' ).focus();
        // $( hash + '+div.collapse' ).addClass( 'show' ).attr( 'aria-expanded', 'true' );
        $( hash + '+div.collapse' ).collapse( 'show' );

        // using this because of static nav bar space
        $( 'html, body' ).animate( {
            scrollTop: $( hash ).offset().top - 60
        }, 10, function() {
            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
        } );
    }

    document.documentElement.setAttribute("lang", "en");
    document.documentElement.removeAttribute("class");

    axe.run( function(err, results) {
        console.log( results.violations );
    } );
</script>
<script src="/assets/js/custom.js"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/css/alertify.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/alertify.min.js"></script>
<script>
    $('.logout').click(function () {
        alertify.defaults.transition = "slide";
        alertify.defaults.theme.ok = "btn btn-success";
        alertify.defaults.theme.cancel = "btn btn-danger";
        alertify.confirm('Are you sure to logout?', 'You will be logged out if you click Yes button below.',
                function(e){
                    window.location.href = "/signout";
                }
                , function(){
                    //alertify.error('Cancelled');
                }).set('labels', {ok: 'Yes', cancel: 'Cancel'});
    });

</script>
</body>
</html>
