<!DOCTYPE html>
<html>

  <head>
    <title>{{content.title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/assets/css/app.css" type="text/css">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/assets/css/select2.min.css" rel="stylesheet" />
    <link href="/assets/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>


    {{> fonts/sourcesans }}

  <link rel="apple-touch-icon" sizes="40x40" href="/assets/fav/apple-icon-40x40.png">
    <link rel="icon" type="image/png" sizes="40x40" href="/assets/fav/android-icon-40x40.png">
    <link rel="manifest" href="/assets/fav/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/fav/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

  </head>
  <body>
      {{>nav/reports}}

    <main class="with-sidebar with-bottom-nav">
      {{#if permission}}
      {{> header }}
      {{> template}}
      {{else}}
      {{> headersheet }}
      {{> templateHome}}
      {{/if}}
      

      {{{ body }}}
      {{>scripts}}
    </main>
    <script src="/assets/js/min/app.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>
    
|  </body>
</html>

