<!-- footer -->
<footer class="panel-row dark">
  <div class="content">

    <nav>
      <a href="/">Home</a>
      <a href="/pricing">Pricing</a>
      <a href="/signin">Sign In</a>
      <a href="/signup">Sign Up</a>
      <a href="/terms">Terms</a>
      <a href="/privacy">Privacy</a>
      <a href="mailto:support@MedicareCostReport.net">Contact Support</a>
    </nav>

    <span class="copyright">Copyright &copy; MedicareCostReport 2019</span>
    <address></address>

  </div>
</footer>