<footer>
<section class="container pt-5">
	<div class="row">
    	<div class="col-md-3">
        	<figure><a href="/"><img src="/assets/images/img_logo.png" alt="logo" class="img-fluid"/></a></figure>
            <p>Medicare Cost Reports provides accurate and updated Medicare cost report data to healthcare financial and reimbursement professionals.
            </p>
        </div>
        <div class="col-md-3">
        <h5>Quick Links</h5>
        <ul>
        	<li><a href="/">Home</a></li>
            <li><a href="/#feature">Features</a></li>
            <li><a href="/#pricing">Pricing</a></li>

        </ul>
        </div>
        
        <div class="col-md-3">
        <h5>Quick Links</h5>
        <ul>
        	<!--<li><a href="#">Dashboard</a></li>-->
            <li><a href="/signin">Login</a></li>
            <!--li><a href="#">Upgrade</a></li>
            <li><a href="#">Request Data</a></li>
            <li><a href="#">Raise Ticket</a></li>-->
            <li><a href="/#ds">Data Sources</a></li>
            <li><a href="/#faq">FAQ</a></li>
        </ul>
        </div>
        
        
        <div class="col-md-3">
        <h5>Other Links</h5>
        <ul>
        	<!--<li><a href="/refund">Refund Policy</a></li>-->
            <li><a href="/terms">Terms and Conditions</a></li>
            <li><a href="/privacy">Privacy Policy</a></li>
        </ul>
     	<ol>
        	<li><a href="#"><img src="/assets/images/icon_twitter.svg" alt="icon"/></a></li>
            <li><a href="#"><img src="/assets/images/icon_youtube.svg" alt="icon"/></a></li>
            <li><a href="#"><img src="/assets/images/icon_instagram.svg" alt="icon"/></a></li>
            <li><a href="#"><img src="/assets/images/icon_facebook.svg" alt="icon"/></a></li>
        </ol>
        </div>
        
        
    </div>
    </section>
    <p class="text-center">Copyright © 2020 <a href="#">Medicare Cost Reports</a></p>
</footer>
