<nav class="navbar navbar-expand-md bg-light fixed-top">
  <div class="container-fluid">
    <a href="/" class="logo navbar-brand">
      <img src="assets/images/logo/medicarecostreport_logo.png" alt="MedicareCostReport Logo" />
    </a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><i class="fas fa-bars" style="color:black; font-size:28px;"></i></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class=" col-sm-12 col-md-10 col-lg-10 mt-2">
        <a href="/"><i class="fas fa-home"></i>&nbsp;Home&nbsp;</a>
        <a id="searchByFacilityType" onclick="searchByFacilityFunction()" data-toggle="modal" href="#" data-target="#modal-search"><i class="fas fa-search"></i>&nbsp;<span
            data-toggle="tooltip" title="Search By Hospital/SNF/HHA/Renal/Hospice"> Search by Facility Type</span></a>
        <a href="/state"><i class="fas fa-search"></i>&nbsp;Search by State/County/City</a>
      </div>
      <div class="col-lg-2 mt-2">
        <a href="/pricing">Pricing</a>
      </div>
    </div>
    {{#if authenticated}}
      <div class="col-lg-3 sticky">
        <div class="user dropdown dark right-align">

          <div class="hotspot">
            <i class="ico ico-light ico-user ico-btn"></i>
            <span class="username">{{content.userName}}</span>
          </div>

          <nav class="dropdown">
            <a href="/account/profile">Account Settings</a>
            <a href="/signout">Sign Out</a>
          </nav>
        </div>

      </div>
      {{else}}
      <div class="col-lg-1 mt-2">
        <a href="/signin">Sign In</a>
      </div>
      <div class="col-lg-1 mt-2">
        <a href="/signup">Sign Up</a>
      </div>
      {{/if}}
 
  </div>
  <div class="modal1 fade" id="modal-search" tabindex="-1" role="dialog" data-backdrop="false"
    aria-labelledby="ModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="ModalLongTitle">Hospital Search</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="col-lg-12">
            <form class="form-inline navbar-search">
              {{> page/provider}}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

{{!-- <nav class="navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand" href="/"><img src="images/img_logo.png" alt=""/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="features.html">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="pricing.html">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact.html">Contact</a>
      </li>
      {{#if authenticated}}
      <li class="nav-item">
        <a class="nav-link btn-primary">{{content.userName}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn-primary" href="/account/profile" >Account Setting</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn-primary" href="/signout">Sign Out</a>
      </li>
      {{else}}
      <li class="nav-item">
        <a class="nav-link btn-primary" href="/signin" >Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn-primary" href="/signup">Register</a>
      </li>
      {{/if}}
    </ul>
    
  </div>
</nav> --}}