<style>
    .modal1 .modal-body {
         height: auto;
    }.form-control{
        width: 100% !important;
         }
    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        /* add padding to account for vertical scrollbar */
        padding-right: 20px;
    }
</style>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">



<nav class="navbar navbar-expand-md bg-light fixed-top">
  <div class="container-fluid top-holder">
    <div class="row col-12">
        <div class="col-md-2"><a class="navbar-brand" href="/"><img src="/assets/images/img_logo.png" alt=""/></a> </div>
        <div class="col-md-8 mt-3 text-center">
            <p><strong>Medicare Cost Reports User Panel</strong></p>
        </div>
        <div class="col-md-2 mt-2"><span class="username">{{content.userName}}</span></div>
        <!--<div class="col-md-2 mt-2"><img src="/assets/images/img_user_photo.png" alt="photo" class="pull-right"/></div>-->
    </div>
  </div>
  <div class="modal1 fade" id="modal-search" role="dialog" data-backdrop="false"
    aria-labelledby="ModalCenterTitle" aria-hidden="true" style="margin-left: 0;">
    <div class="modal-dialog modal-dialog-top modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="ModalLongTitle">Hospital Search</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="col-lg-12">
            <form class="form-inline navbar-search">
                <input class="form-control py-2 autocomplete" id="selectProvider" type="text" placeholder="Search by Hospital Name or Provider ID" data-width="auto">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
