<nav class="navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand" href="/"><img src="images/img_logo.png" alt=""/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#feature">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#pricing">Pricing</a>
      </li>
        <li class="nav-item">
            <a class="nav-link" href="/#ds">Data Sources</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/#faq">FAQs</a>
        </li>
      <!--<li class="nav-item">
        <a class="nav-link" href="mailto:support@medicarecostreport.net">Contact</a>
      </li>-->
      {{#if authenticated}}
      <!--<li class="nav-item">
        <a class="nav-link btn-primary">{{content.userName}}</a>
      </li>-->
      <li class="nav-item">
        <a class="nav-link btn-primary" href="/account/profile" >My Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn-primary" href="/signout">Sign Out</a>
      </li>
      {{else}}
      <li class="nav-item">
        <a class="nav-link btn-primary" href="/signin" >Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn-primary" href="/signup">Register</a>
      </li>
      {{/if}}
    </ul>
    
  </div>
</nav>
