<div class="report">
<table border="1" width="1200" cellspacing="1" cellpadding="1">
<colgroup>
<col width="4%" />
<col width="6%" />
<col width="30%" />
<col width="10%" /> 
<col width="10%" /> 
<col width="10%" /> 
<col width="10%" /> 
<col width="10%" /> 
<col width="10%" /> 
<col width="10%" /> 
<col width="10%" /> 
<col width="4%" /> 
</colgroup>
<thead>
<tr>
<td colspan="6">
<div>  RECLASSIFICATION  AND  ADJUSTMENT  OF  TRIAL BALANCE </div>
<div>  OF  EXPENSES</div>
</td>
<td colspan="2">Provider CCN: <span class="data">{{pId}}</span></td>
<td colspan="2">
<div>PERIOD:</div>
<div>FROM <span class="data">{{year.start}}</span></div>
<div>TO <span class="data">{{year.end}}</span></div>
</td>
<td colspan="3">WORKSHEET A</td>
</tr>
</thead>
<tbody>
<tr>
<td colspan="12">&nbsp;</td>
</tr>
<tr>
    <td rowspan="3" class="center" colspan="3">FACILITY  HEALTH  CARE  COSTS</td>
    <td class="center"colspan="2">SALARIES</td>
    <td  class="center" rowspan="2">OTHER</td>
    <td  class="center" rowspan="2">TOTAL<div><span>( col. 1 through</span><span>col. 3 )</span></div></td>
    <td class="center" rowspan="2">RECLASS.<div>TO EXPENSES</div><span>( from</div><div>Wkst. A-1 )</span></td>
    <td class="center" rowspan="2">RECLASSIFIED<div>TRIAL BALANCE<span>( col 4. +/- col. 5 )</span></td>
    <td class="center" rowspan="2">ADJUSTMENTS<div>TO EXPENSES</div><span>( from Wkst. A-2 )</span></td>
    <td class="center" rowspan="2">NET EXPENSES<div>FOR COST</div><div>ALLOCATION</div><span>( col. 6+/-col. 7 )</span></td>
    <td rowspan="3">&nbsp;</td>
</tr>
<tr>
    <td  class="center">PHYSICIAN<div>COMPENSATION</div></td>
    <td class="center">OTHER</td>
</tr>
<tr>
    <td class="center">1</td>
    <td class="center">2</td>
    <td class="center">3</td>
    <td class="center">4</td>
    <td class="center">5</td>
    <td class="center">6</td>
    <td class="center">7</td>
    <td class="center">8</td>
</tr>
<tr>
    <td class="center"colspan="3">COST  CENTERS</td>
    <td class="fillgrey"></td>
    <td class="fillgrey"></td>
    <td class="fillgrey"></td>
    <td class="fillgrey"></td>
    <td class="fillgrey"></td>
    <td class="fillgrey"></td>
    <td class="fillgrey"></td>
    <td class="fillgrey"></td>
    <td>&nbsp;</td>
</tr>
<tr>
    <td class="right">1</td>
    <td class="center">0100</td>
    <td> Cap Rel Costs-Bldg & Fixt</td>
    <td class=" data fillgrey">{{NumberFormat data-1.00100-00100}}</td>
    <td class=" data fillgrey">{{NumberFormat data-1.00100-00200}}</td>
    <td class="data">{{NumberFormat data-1.00100-00300}}</td>
    <td class="data">{{NumberFormat data-1.00100-00400}}</td>
    <td class="data">{{NumberFormat data-1.00100-00500}}</td>
    <td class="data">{{NumberFormat data-1.00100-00600}}</td>
    <td class="data">{{NumberFormat data-1.00100-00700}}</td>
    <td class="data">{{NumberFormat data-1.00100-00800}}</td>
    <td class="left">1</td>
</tr>
<tr>
    <td class="right">2</td>
    <td class="center">0200</td>
    <td>  Cap Rel Costs-Mvble Equip</td>
    <td class="data fillgrey">{{NumberFormat data-1.00200-00100}}</td>
    <td class=" data fillgrey">{{NumberFormat data-1.00200-00200}}</td>
    <td class="data">{{NumberFormat data-1.00200-00300}}</td>
    <td class="data">{{NumberFormat data-1.00200-00400}}</td>
    <td class="data">{{NumberFormat data-1.00200-00500}}</td>
    <td class="data">{{NumberFormat data-1.00200-00600}}</td>
    <td class="data">{{NumberFormat data-1.00200-00700}}</td>
    <td class="data">{{NumberFormat data-1.00200-00800}}</td>
    <td class="left">2</td>
</tr>
<tr>
    <td class="right">3</td>
    <td class="center">0300</td>
    <td>  Operation & Maintenance of Plant</td>
    <td class="data fillgrey">{{NumberFormat data-1.00300-00100}}</td>
    <td class="data">{{NumberFormat data-1.00300-00200}}</td>
    <td class="data">{{NumberFormat data-1.00300-00300}}</td>
    <td  class="data">{{NumberFormat data-1.00300-00400}}</td>
    <td class="data">{{NumberFormat data-1.00300-00500}}</td>
    <td class="data">{{NumberFormat data-1.00300-00600}}</td>
    <td class="data">{{NumberFormat data-1.00300-00700}}</td>
    <td class="data">{{NumberFormat data-1.00300-00800}}</td>
    <td class="left">3</td>
</tr>
<tr>
    <td class="right">4</td>
    <td class="center">0400</td>
    <td> Housekeeping</td>
    <td class="data fillgrey">{{NumberFormat data-1.00400-00100}}</td>
    <td class="data">{{NumberFormat data-1.00400-00200}}</td>
    <td class="data">{{NumberFormat data-1.00400-00300}}</td>
    <td class="data">{{NumberFormat data-1.00400-00400}}</td>
    <td class="data">{{NumberFormat data-1.00400-00500}}</td>
    <td class="data">{{NumberFormat data-1.00400-00600}}</td>
    <td class="data" >{{NumberFormat data-1.00400-00700}}</td>
    <td class="data">{{NumberFormat data-1.00400-00800}}</td>
    <td class="left">4</td>
</tr>
<tr>
    <td class="right">5</td>
    <td class="center">&nbsp;</td>
    <td>  Subtotal (sum of lines 1 through 4)*</td>
    <td class=" data fillgrey">{{NumberFormat data-1.00500-00100}}</td>
    <td class="data">{{NumberFormat data-1.00500-00200}}</td>
    <td class="data">{{NumberFormat data-1.00500-00300}}</td>
    <td class="data">{{NumberFormat data-1.00500-00400}}</td>
    <td class="data">{{NumberFormat data-1.00500-00500}}</td>
    <td class="data">{{NumberFormat data-1.00500-00600}}</td>
    <td class="data">{{NumberFormat data-1.00500-00700}}</td>
    <td class="data">{{NumberFormat data-1.00500-00800}}</td>
    <td class="left">5</td>
</tr>
<tr>
    <td class="right">6</td>
    <td class="center">0600</td>
    <td> Machine Cap-Rel or Rental & Maint*</td>
    <td class="data fillgrey">{{NumberFormat data-1.00600-00100}}</td>
    <td class="data">{{NumberFormat data-1.00600-00200}}</td>
    <td class="data">{{NumberFormat data-1.00600-00300}}</td>
    <td class="data">{{NumberFormat data-1.00600-00400}}</td>
    <td class="data">{{NumberFormat data-1.00600-00500}}</td>
    <td class="data">{{NumberFormat data-1.00600-00600}}</td>
    <td class="data">{{NumberFormat data-1.00600-00700}}</td>
    <td class="data">{{NumberFormat data-1.00600-00800}}</td>
    <td class="left">6</td>
</tr>
<tr>
    <td class="right">7</td>
    <td class="center">0700</td>
    <td>  Salaries for Direct Patient Care*</td>
    <td class=" data fillgrey">{{NumberFormat data-1.00700-00100}}</td>
    <td class="data">{{NumberFormat data-1.00700-00200}}</td>
    <td class="data fillgrey">{{NumberFormat data-1.00700-00300}}</td>
    <td class="data">{{NumberFormat data-1.00700-00400}}</td>
    <td class="data">{{NumberFormat data-1.00700-00500}}</td>
    <td class="data">{{NumberFormat data-1.00700-00600}}</td>
    <td class="data">{{NumberFormat data-1.00700-00700}}</td>
    <td class="data">{{NumberFormat data-1.00700-00800}}</td>
    <td class="left">7</td>
</tr>
<tr>
    <td class="right">8</td>
    <td class="center">0800</td>
    <td> EH&W Benefits for Direct Pt. Care</td>
    <td class="data fillgrey">{{NumberFormat data-1.00800-00100}}</td>
    <td class="data">{{NumberFormat data-1.00800-00200}}</td>
    <td class="data" >{{NumberFormat data-1.00800-00300}}</td>
    <td class="data">{{NumberFormat data-1.00800-00400}}</td>
    <td class="data">{{NumberFormat data-1.00800-00500}}</td>
    <td  class="data">{{NumberFormat data-1.00800-00600}}</td>
    <td class="data">{{NumberFormat data-1.00800-00700}}</td>
    <td class="data">{{NumberFormat data-1.00800-00800}}</td>
    <td class="left">8</td>
</tr>
<tr>
    <td class="right">9</td>
    <td class="center">0900</td>
    <td> Supplies*</td>
    <td class="data">{{NumberFormat data-1.00900-00100}}</td>
    <td class="data">{{NumberFormat data-1.00900-00200}}</td>
    <td class="data">{{NumberFormat data-1.00900-00300}}</td>
    <td class="data">{{NumberFormat data-1.00900-00400}}</td>
    <td class="data">{{NumberFormat data-1.00900-00500}}</td>
    <td class="data">{{NumberFormat data-1.00900-00600}}</td>
    <td class="data">{{NumberFormat data-1.00900-00700}}</td>
    <td class="data">{{NumberFormat data-1.00900-00800}}</td>
    <td class="left">9</td>
</tr>
<tr>
    <td class="right">10</td>
    <td class="center">1000</td>
    <td>Laboratory*</td>
    <td class="data">{{NumberFormat data-1.01000-00100}}</td>
    <td class="data">{{NumberFormat data-1.01000-00200}}</td>
    <td class="data">{{NumberFormat data-1.01000-00300}}</td>
    <td class="data">{{NumberFormat data-1.01000-00400}}</td>
    <td class="data">{{NumberFormat data-1.01000-00500}}</td>
    <td class="data">{{NumberFormat data-1.01000-00600}}</td>
    <td class="data">{{NumberFormat data-1.01000-00700}}</td>
    <td class="data">{{NumberFormat data-1.01000-00800}}</td>
    <td class="left">10</td>
</tr>
<tr>
    <td class="right">11</td>
    <td class="center">1100</td>
    <td> Administrative & General</td>
    <td class="data">{{NumberFormat data-1.01100-00100}}</td>
    <td class="data">{{NumberFormat data-1.01100-00200}}</td>
    <td class="data">{{NumberFormat data-1.01100-00300}}</td>
    <td class="data">{{NumberFormat data-1.01100-00400}}</td>
    <td class="data">{{NumberFormat data-1.01100-00500}}</td>
    <td class="data">{{NumberFormat data-1.01100-00600}}</td>
    <td class="data">{{NumberFormat data-1.01100-00700}}</td>
    <td class="data">{{NumberFormat data-1.01100-00800}}</td>
    <td class="left">11</td>
</tr>
<tr>
    <td class="right">12</td>
    <td class="center">1200</td>
    <td> Drugs*</td>
    <td class="data">{{NumberFormat data-1.01200-00100}}</td>
    <td class="data">{{NumberFormat data-1.01200-00200}}</td>
    <td class="data">{{NumberFormat data-1.01200-00300}}</td>
    <td class="data">{{NumberFormat data-1.01200-00400}}</td>
    <td class="data">{{NumberFormat data-1.01200-00500}}</td>
    <td class="data">{{NumberFormat data-1.01200-00600}}</td>
    <td class="data">{{NumberFormat data-1.01200-00700}}</td>
    <td class="data">{{NumberFormat data-1.01200-00800}}</td>
    <td class="left">12</td>
</tr>
<tr>
    <td class="right">13</td>
    <td class="center">1300</td>
    <td> Interest Expense</td>
    <td class="data fillgrey">{{NumberFormat data-1.01300-00100}}</td>
    <td class="data fillgrey">{{NumberFormat data-1.01300-00200}}</td>
    <td class="data">{{NumberFormat data-1.01300-00300}}</td>
    <td class="data">{{NumberFormat data-1.01300-00400}}</td>
    <td class="data">{{NumberFormat data-1.01300-00500}}</td>
    <td class="data">{{NumberFormat data-1.01300-00600}}</td>
    <td class="data">{{NumberFormat data-1.01300-00700}}</td>
    <td class="data">{{NumberFormat data-1.01300-00800}}</td>
    <td class="left">13</td>
</tr>
<tr>
    <td class="right">14</td>
    <td class="center">1400</td>
    <td> Laundry and Linen</td>
    <td class="data">{{NumberFormat data-1.01400-00100}}</td>
    <td class="data">{{NumberFormat data-1.01400-00200}}</td>
    <td class="data">{{NumberFormat data-1.01400-00300}}</td>
    <td class="data">{{NumberFormat data-1.01400-00400}}</td>
    <td class="data">{{NumberFormat data-1.01400-00500}}</td>
    <td class="data">{{NumberFormat data-1.01400-00600}}</td>
    <td class="data">{{NumberFormat data-1.01400-00700}}</td>
    <td class="data">{{NumberFormat data-1.01400-00800}}</td>
    <td class="left">14</td>
</tr>
<tr>
    <td class="right">15</td>
    <td class="center">1500</td>
    <td> Medical Records</td>
    <td class="data">{{NumberFormat data-1.01500-00100}}</td>
    <td class="data">{{NumberFormat data-1.01500-00200}}</td>
    <td class="data">{{NumberFormat data-1.01500-00300}}</td>
    <td class="data">{{NumberFormat data-1.01500-00400}}</td>
    <td class="data">{{NumberFormat data-1.01500-00500}}</td>
    <td class="data">{{NumberFormat data-1.01500-00600}}</td>
    <td class="data">{{NumberFormat data-1.01500-00700}}</td>
    <td class="data">{{NumberFormat data-1.01500-00800}}</td>
    <td class="left">15</td>
</tr>
<tr>
    <td class="right">16</td>
    <td class="center">1600</td>
    <td> Phy Rout Prof Svcs-Initial Method</td>
    <td class="data">{{NumberFormat data-1.01600-00100}}</td>
    <td class="data">{{NumberFormat data-1.01600-00200}}</td>
    <td class="data">{{NumberFormat data-1.01600-00300}}</td>
    <td class="data">{{NumberFormat data-1.01600-00400}}</td>
    <td class="data">{{NumberFormat data-1.01600-00500}}</td>
    <td class="data">{{NumberFormat data-1.01600-00600}}</td>
    <td class="data">{{NumberFormat data-1.01600-00700}}</td>
    <td class="data">{{NumberFormat data-1.01600-00800}}</td>
    <td class="left">16</td>
</tr>
<tr>
    <td class="right">17</td>
    <td class="center">1700</td>
    <td> Other (Specify)</td>
    <td class="data">{{NumberFormat data-1.01700-00100}}</td>
    <td class="data">{{NumberFormat data-1.01700-00200}}</td>
    <td class="data">{{NumberFormat data-1.01700-00300}}</td>
    <td class="data">{{NumberFormat data-1.01700-00400}}</td>
    <td class="data">{{NumberFormat data-1.01700-00500}}</td>
    <td class="data">{{NumberFormat data-1.01700-00600}}</td>
    <td class="data">{{NumberFormat data-1.01700-00700}}</td>
    <td class="data">{{NumberFormat data-1.01700-00800}}</td>
    <td class="left">17</td>
</tr>
<tr>
    <td class="right">18</td>
    <td class="center">&nbsp;</td>
    <td> Subtotal (sum of line 11 plus lines 13 through 17)*</td>
    <td class="data">{{NumberFormat data-1.01800-00100}}</td>
    <td class="data">{{NumberFormat data-1.01800-00200}}</td>
    <td class="data">{{NumberFormat data-1.01800-00300}}</td>
    <td class="data">{{NumberFormat data-1.01800-00400}}</td>
    <td class="data">{{NumberFormat data-1.01800-00500}}</td>
    <td class="data">{{NumberFormat data-1.01800-00600}}</td>
    <td class="data">{{NumberFormat data-1.01800-00700}}</td>
    <td class="data">{{NumberFormat data-1.01800-00800}}</td>
    <td class="left">18</td>
</tr>
<tr>
    <td class="right">19</td>
    <td class="center">1900</td>
    <td> Phy Rout Prof Svcs-MCP Method</td>
    <td class="data">{{NumberFormat data-1.01900-00100}}</td>
    <td class="data fillgrey">{{NumberFormat data-1.01900-00200}}</td>
    <td class="data">{{NumberFormat data-1.01900-00300}}</td>
    <td class="data">{{NumberFormat data-1.01900-00400}}</td>
    <td class="data">{{NumberFormat data-1.01900-00500}}</td>
    <td class="data">{{NumberFormat data-1.01900-00600}}</td>
    <td class="data">{{NumberFormat data-1.01900-00700}}</td>
    <td class="data">{{NumberFormat data-1.01900-00800}}</td>
    <td class="left">19</td>
</tr>
<tr>
    <td class="right">20</td>
    <td class="center">2000</td>
    <td> Whole Blood & Packed Red Blood Cells*</td>
    <td class="data">{{NumberFormat data-1.02000-00100}}</td>
    <td class="data">{{NumberFormat data-1.02000-00200}}</td>
    <td class="data">{{NumberFormat data-1.02000-00300}}</td>
    <td class="data">{{NumberFormat data-1.02000-00400}}</td>
    <td class="data">{{NumberFormat data-1.02000-00500}}</td>
    <td class="data">{{NumberFormat data-1.02000-00600}}</td>
    <td class="data"> {{NumberFormat data-1.02000-00700}}</td>
    <td class="data"> {{NumberFormat data-1.02000-00800}}</td>
    <td class="left">20</td>
</tr>
<tr>
    <td class="right">21</td>
    <td class="center">2100</td>
    <td> Vaccines*</td>
    <td class="data">{{NumberFormat data-1.02100-00100}}</td>
    <td class="data">{{NumberFormat data-1.02100-00200}}</td>
    <td class="data">{{NumberFormat data-1.02100-00300}}</td>
    <td class="data">{{NumberFormat data-1.02100-00400}}</td>
    <td class="data">{{NumberFormat data-1.02100-00500}}</td>
    <td class="data">{{NumberFormat data-1.02100-00600}}</td>
    <td class="data">{{NumberFormat data-1.02100-00700}}</td>
    <td class="data">{{NumberFormat data-1.02100-00800}}</td>
    <td class="left">21</td>
</tr>
<tr>
    <td class="center"colspan="3">NONREIMBURSABLE  COSTS  CENTERS</td>
    <td class="data fillgrey"></td>
    <td class="data fillgrey"></td>
    <td class="data fillgrey"></td>
    <td class="data fillgrey"></td>
    <td class="data fillgrey"></td>
    <td class="data fillgrey"></td>
    <td class="data fillgrey"></td>
    <td class="data fillgrey"></td>
    <td class="left">&nbsp;</td>
</tr>
<tr>
    <td class="right">22</td>
    <td class="center">2200</td>
    <td> Physicians Private Offices*</td>
    <td class="data">{{NumberFormat data-1.02200-00100}}</td>
    <td class="data">{{NumberFormat data-1.02200-00200}}</td>
    <td class="data">{{NumberFormat data-1.02200-00300}}</td>
    <td class="data">{{NumberFormat data-1.02200-00400}}</td>
    <td class="data">{{NumberFormat data-1.02200-00500}}</td>
    <td class="data">{{NumberFormat data-1.02200-00600}}</td>
    <td class="data">{{NumberFormat data-1.02200-00700}}</td>
    <td class="data">{{NumberFormat data-1.02200-00800}}</td>
    <td class="left">22</td>
</tr>
<tr>
    <td class="right">23</td>
    <td class="center">2300</td>
    <td> ESAs (prior to January 1, 2011)</td>
    <td class="data">{{NumberFormat data-1.02300-00100}}</td>
    <td class="data">{{NumberFormat data-1.02300-00200}}</td>
    <td class="data">{{NumberFormat data-1.02300-00300}}</td>
    <td class="data">{{NumberFormat data-1.02300-00400}}</td>
    <td class="data">{{NumberFormat data-1.02300-00500}}</td>
    <td class="data">{{NumberFormat data-1.02300-00600}}</td>
    <td class="data">{{NumberFormat data-1.02300-00700}}</td>
    <td class="data">{{NumberFormat data-1.02300-00800}}</td>
    <td class="left">23</td>
</tr>
<tr>
    <td class="right">24</td>
    <td class="center">2400</td>
    <td> Method II Patients (prior to January 1, 2011)</td>
    <td class="data">{{NumberFormat data-1.02400-00100}}</td>
    <td class="data">{{NumberFormat data-1.02400-00200}}</td>
    <td class="data">{{NumberFormat data-1.02400-00300}}</td>
    <td class="data">{{NumberFormat data-1.02400-00400}}</td>
    <td class="data">{{NumberFormat data-1.02400-00500}}</td>
    <td class="data">{{NumberFormat data-1.02400-00600}}</td>
    <td class="data">{{NumberFormat data-1.02400-00700}}</td>
    <td class="data">{{NumberFormat data-1.02400-00800}}</td>
    <td class="left">24</td>
</tr>
<tr>
    <td class="right">25</td>
    <td class="center">2500</td>
    <td> Other Nonreimbursable (Specify)*</td>
    <td class="data">{{NumberFormat data-1.02500-00100}}</td>
    <td class="data">{{NumberFormat data-1.02500-00200}}</td>
    <td class="data">{{NumberFormat data-1.02500-00300}}</td>
    <td class="data">{{NumberFormat data-1.02500-00400}}</td>
    <td class="data">{{NumberFormat data-1.02500-00500}}</td>
    <td class="data">{{NumberFormat data-1.02500-00600}}</td>
    <td class="data">{{NumberFormat data-1.02500-00700}}</td>
    <td class="data">{{NumberFormat data-1.02500-00800}}</td>
    <td class="left">25</td>
</tr>
<tr>
    <td class="right">26</td>
    <td class="center">2600</td>
    <td> Other Nonreimbursable (Specify)*</td>
    <td class="data">{{NumberFormat data-1.02600-00100}}</td>
    <td class="data">{{NumberFormat data-1.02600-00200}}</td>
    <td class="data">{{NumberFormat data-1.02600-00300}}</td>
    <td class="data">{{NumberFormat data-1.02600-00400}}</td>
    <td class="data">{{NumberFormat data-1.02600-00500}}</td>
    <td class="data">{{NumberFormat data-1.02600-00600}}</td>
    <td class="data">{{NumberFormat data-1.02600-00700}}</td>
    <td class="data">{{NumberFormat data-1.02600-00800}}</td>
    <td class="left">26</td>
</tr>
<tr>
    <td class="right">27</td>
    <td class="center">&nbsp;</td>
    <td>Total</td>
    <td class="data">{{NumberFormat data-1.02700-00100}}</td>
    <td class="data">{{NumberFormat data-1.02700-00200}}</td>
    <td class="data">{{NumberFormat data-1.02700-00300}}</td>
    <td class="data">{{NumberFormat data-1.02700-00400}}</td>
    <td class="data">{{NumberFormat data-1.02700-00500}}</td>
    <td class="data">{{NumberFormat data-1.02700-00600}}</td>
    <td class="data">{{NumberFormat data-1.02700-00700}}</td>
    <td class="data">{{NumberFormat data-1.02700-00800}}</td>
    <td class="left">27</td>
</tr>
<tr><td colspan="12">FORM CMS-265-11 (12/2011)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4206)</td>
</tr>
<tr>
<td colspan="1" class="border-right">42-306</td>
<td colspan="9"  class="border-right">&nbsp;</td>
<td colspan="2"class="right"colspan="2">Rev. 1</td>
</tr>
 
</tbody>
</table>
</div>