<div class="report">
<table border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
<col width="4%" />
<col width="50%" />
<col width="8%" /> 
<col width="15%" /> 
<col width="8%" /> 
<col width="15%" />
<col width="15%" />
<col width="8%" /> 
<col width="15%" />
<col width="4%" /> 
</colgroup>
<thead>
<tr>
<td colspan="4"> RECLASSIFICATIONS</td>
<td colspan="2">Provider CCN: <span class="data">{{pId}}</span></td>
<td colspan="2">
<div>PERIOD:</div>
<div>FROM <span class="data">{{year.start}}</span></div>
<div>TO <span class="data">{{year.end}}</span></div>
</td>
<td colspan="2">WORKSHEET A-1</td>
</tr>
</thead>
<tbody>
<tr>
<td colspan="10">&nbsp;</td>
</tr>
<tr>
    <td class="center" rowspan="3" colspan="2">EXPLANATION  OF  ENTRY</td>
    <td class="center" rowspan="2">CODE<div>(1)</div></td>
    <td class="center" colspan="3">INCREASE</td>
    <td class="center" colspan="3">DECREASE</td>
    <td rowspan="3">&nbsp;</td>
</tr>
<tr>
    <td class="center">COST<div>CENTER</div></td>
    <td class="center">LINE<div>No.</div></td>
    <td class="center">AMOUNT (2)</td>
    <td class="center">COST<div>CENTER</div></td>
    <td class="center">LINE<div>No.</div></td>
    <td class="center">AMOUNT (2)</td>
</tr>
<tr>
    <td class="center">1</td>
    <td class="center">2</td>
    <td class="center">3</td>
    <td class="center">4</td>
    <td class="center">5</td>
    <td class="center">6</td>
    <td class="center">7</td>
</tr>
<tr>
    <td class="right">1</td>
    <td></td>
    <td class="data">{{data-1.00100-00100}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.00100-00300}}</td>
    <td class="data">{{NumberFormat data-1.00100-00400}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.00100-00600}}</td>
    <td class="data">{{NumberFormat data-1.00100-00700}}</td>
    <td class="left">1</td>
</tr>
<tr>
    <td class="right">2</td>
    <td></td>
    <td class="data">{{data-1.00200-00100}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.00200-00300}}</td>
    <td class="data">{{NumberFormat data-1.00200-00400}}</td>
    <td class="data"></td>
    <td class="data"{{data-1.00200-00600}}></td>
    <td class="data">{{NumberFormat data-1.00200-00700}}</td>
    <td class="left">2</td>
</tr>
<tr>
    <td class="right">3</td>
    <td></td>
    <td class="data">{{data-1.00300-00100}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.00300-00300}}</td>
    <td class="data">{{NumberFormat data-1.00300-00400}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.00300-00600}}</td>
    <td class="data">{{NumberFormat data-1.00300-00700}}</td>
    <td class="left">3</td>
</tr>
<tr>
    <td class="right">4</td>
    <td></td>
    <td class="data">{{data-1.00400-00100}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.00400-00300}}</td>
    <td class="data">{{NumberFormat data-1.00400-00400}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.00400-00600}}</td>
    <td class="data">{{NumberFormat data-1.00400-00700}}</td>
    <td class="left">4</td>
</tr>
<tr>
    <td class="right">5</td>
    <td></td>
    <td class="data">{{data-1.00500-00100}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.00500-00300}}</td>
    <td class="data">{{NumberFormat data-1.00500-00400}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.00500-00600}}</td>
    <td class="data">{{NumberFormat data-1.00500-00700}}</td>
    <td class="left">5</td>
</tr>
<tr>
    <td class="right">6</td>
    <td></td>
    <td class="data">{{data-1.00600-00100}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.00600-00300}}</td>
    <td class="data">{{NumberFormat data-1.00600-00400}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.00600-00600}}</td>
    <td class="data">{{NumberFormat data-1.00600-00700}}</td>
    <td class="left">6</td>
</tr>
<tr>
    <td class="right">7</td>
    <td></td>
    <td class="data">{{data-1.00700-00100}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.00700-00300}}</td>
    <td class="data">{{NumberFormat data-1.00700-00400}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.00700-00600}}</td>
    <td class="data">{{NumberFormat data-1.00700-00700}}</td>
    <td class="left">7</td>
</tr>
<tr>
    <td class="right">8</td>
    <td></td>
    <td class="data">{{data-1.00800-00100}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.00800-00300}}</td>
    <td class="data">{{NumberFormat data-1.00800-00400}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.00800-00600}}</td>
    <td class="data">{{NumberFormat data-1.00800-00700}}</td>
    <td class="left">8</td>
</tr>
<tr>
    <td class="right">9</td>
    <td></td>
    <td class="data">{{data-1.00900-00100}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.00900-00300}}</td>
    <td class="data">{{NumberFormat data-1.00900-00400}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.00900-00600}}</td>
    <td class="data">{{NumberFormat data-1.00900-00700}}</td>
    <td class="left">9</td>
</tr>
<tr>
    <td class="right">10</td>
    <td></td>
    <td class="data">{{data-1.01000-00100}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.01000-00300}}</td>
    <td class="data">{{NumberFormat data-1.01000-00400}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.01000-00600}}</td>
    <td class="data">{{NumberFormat data-1.01000-00700}}</td>
    <td class="left">10</td>
</tr>
<tr>
    <td class="right">11</td>
    <td></td>
    <td class="data">{{data-1.01100-00100}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.01100-00300}}</td>
    <td class="data">{{NumberFormat data-1.01100-00400}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.01100-00600}}</td>
    <td class="data">{{NumberFormat data-1.01100-00700}}</td>
    <td class="left">11</td>
</tr>
<tr>
    <td class="right">12</td>
    <td></td>
    <td class="data">{{data-1.01200-00100}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.01200-00300}}</td>
    <td class="data">{{NumberFormat data-1.01200-00400}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.01200-00600}}</td>
    <td class="data">{{NumberFormat data-1.01200-00700}}</td>
    <td class="left">12</td>
</tr>
<tr>
    <td class="right">13</td>
    <td></td>
    <td class="data">{{data-1.01300-00100}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.01300-00300}}</td>
    <td class="data">{{NumberFormat data-1.01300-00400}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.01300-00600}}</td>
    <td class="data">{{NumberFormat data-1.01300-00700}}</td>
    <td class="left">13</td>
</tr>
<tr>
    <td class="right">14</td>
    <td></td>
    <td class="data">{{data-1.01400-00100}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.01400-00300}}</td>
    <td class="data">{{NumberFormat data-1.01400-00400}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.01400-00600}}</td>
    <td class="data">{{NumberFormat data-1.01400-00700}}</td>
    <td class="left">14</td>
</tr>
<tr>
    <td class="right">15</td>
    <td></td>
    <td class="data">{{data-1.01500-00100}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.01500-00300}}</td>
    <td class="data">{{NumberFormat data-1.01500-00400}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.01500-00600}}</td>
    <td class="data">{{NumberFormat data-1.01500-00700}}</td>
    <td class="left">15</td>
</tr>
<tr>
    <td class="right">16</td>
    <td></td>
    <td class="data">{{data-1.01600-00100}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.01600-00300}}</td>
    <td class="data">{{NumberFormat data-1.01600-00400}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.01600-00600}}</td>
    <td class="data">{{NumberFormat data-1.01600-00700}}</td>
    <td class="left">16</td>
</tr>
<tr>
    <td class="right">17</td>
    <td></td>
    <td class="data">{{data-1.01700-00100}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.01700-00300}}</td>
    <td class="data">{{NumberFormat data-1.01700-00400}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.01700-00600}}</td>
    <td class="data">{{NumberFormat data-1.01700-00700}}</td>
    <td class="left">17</td>
</tr>
<tr>
    <td class="right">18</td>
    <td></td>
    <td class="data">{{data-1.01800-00100}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.01800-00300}}</td>
    <td class="data">{{NumberFormat data-1.01800-00400}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.01800-00600}}</td>
    <td class="data">{{NumberFormat data-1.01800-00700}}</td>
    <td class="left">18</td>
</tr>
<tr>
    <td class="right">19</td>
    <td></td>
    <td class="data">{{data-1.01900-00100}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.01900-00300}}</td>
    <td class="data">{{NumberFormat data-1.01900-00400}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.01900-00600}}</td>
    <td class="data">{{NumberFormat data-1.01900-00700}}</td>
    <td class="left">19</td>
</tr>
<tr>
    <td class="right">20</td>
    <td></td>
    <td class="data">{{data-1.02000-00100}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.02000-00300}}</td>
    <td class="data">{{NumberFormat data-1.02000-00400}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.02000-00600}}</td>
    <td class="data">{{NumberFormat data-1.02000-00700}}</td>
    <td class="left">20</td>
</tr>
<tr>
    <td class="right">21</td>
    <td></td>
    <td class="data">{{data-1.02100-00100}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.02100-00300}}</td>
    <td class="data">{{NumberFormat data-1.02100-00400}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.02100-00600}}</td>
    <td class="data">{{NumberFormat data-1.02100-00700}}</td>
    <td class="left">21</td>
</tr>
<tr>
    <td class="right">22</td>
    <td></td>
    <td class="data">{{data-1.02200-00100}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.02200-00300}}</td>
    <td class="data">{{NumberFormat data-1.02200-00400}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.02200-00600}}</td>
    <td class="data">{{NumberFormat data-1.02200-00700}}</td>
    <td class="left">22</td>
</tr>
<tr>
    <td class="right">23</td>
    <td></td>
    <td class="data">{{data-1.02300-00100}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.02300-00300}}</td>
    <td class="data">{{NumberFormat data-1.02300-00400}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.02300-00600}}</td>
    <td class="data">{{NumberFormat data-1.02300-00700}}</td>
    <td class="left">23</td>
</tr>
<tr>
    <td class="right">24</td>
    <td></td>
    <td class="data">{{data-1.02400-00100}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.02400-00300}}</td>
    <td class="data">{{NumberFormat data-1.02400-00400}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.02400-00600}}</td>
    <td class="data">{{NumberFormat data-1.02400-00700}}</td>
    <td class="left">24</td>
</tr>
<tr>
    <td class="right">25</td>
    <td></td>
    <td class="data">{{data-1.02500-00100}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.02500-00300}}</td>
    <td class="data">{{NumberFormat data-1.02500-00400}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.02500-00600}}</td>
    <td class="data">{{NumberFormat data-1.02500-00700}}</td>
    <td class="left">25</td>
</tr>
<tr>
    <td class="right">26</td>
    <td></td>
    <td class="data">{{data-1.02600-00100}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.02600-00300}}</td>
    <td class="data">{{NumberFormat data-1.02600-00400}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.02600-00600}}</td>
    <td class="data">{{NumberFormat data-1.02600-00700}}</td>
    <td class="left">26</td>
</tr>
<tr>
    <td class="right">27</td>
    <td></td>
    <td class="data">{{data-1.02700-00100}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.02700-00300}}</td>
    <td class="data">{{NumberFormat data-1.02700-00400}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.02700-00600}}</td>
    <td class="data">{{NumberFormat data-1.02700-00700}}</td>
    <td class="left">27</td>
</tr>
<tr>
    <td class="right">28</td>
    <td></td>
    <td class="data">{{data-1.02800-00100}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.02800-00300}}</td>
    <td class="data">{{NumberFormat data-1.02800-00400}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.02800-00600}}</td>
    <td class="data">{{NumberFormat data-1.02800-00700}}</td>
    <td class="left">28</td>
</tr>
<tr>
    <td class="right">29</td>
    <td></td>
    <td class="data">{{data-1.02900-00100}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.02900-00300}}</td>
    <td class="data">{{NumberFormat data-1.02900-00400}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.02900-00600}}</td>
    <td class="data">{{NumberFormat data-1.02900-00700}}</td>
    <td class="left">29</td>
</tr>
<tr>
    <td class="right">30</td>
    <td></td>
    <td class="data">{{data-1.03000-00100}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.03000-00300}}</td>
    <td class="data">{{NumberFormat data-1.03000-00400}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.03000-00600}}</td>
    <td class="data">{{NumberFormat data-1.03000-00700}}</td>
    <td class="left">30</td>
</tr>
<tr>
    <td class="right">31</td>
    <td></td>
    <td class="data">{{data-1.03100-00100}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.03100-00300}}</td>
    <td class="data">{{NumberFormat data-1.03100-00400}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.03100-00600}}</td>
    <td class="data">{{NumberFormat data-1.03100-00700}}</td>
    <td class="left">31</td>
</tr>
<tr>
    <td class="right">32</td>
    <td></td>
    <td class="data">{{data-1.03200-00100}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.03200-00300}}</td>
    <td class="data">{{NumberFormat data-1.03200-00400}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.03200-00600}}</td>
    <td class="data">{{NumberFormat data-1.03200-00700}}</td>
    <td class="left">32</td>
</tr>
<tr>
    <td class="right">33</td>
    <td></td>
    <td class="data">{{data-1.03300-00100}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.03300-00300}}</td>
    <td class="data">{{NumberFormat data-1.03300-00400}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.03300-00600}}</td>
    <td class="data">{{NumberFormat data-1.03300-00700}}</td>
    <td class="left">33</td>
</tr>
<tr>
    <td class="right">34</td>
    <td></td>
    <td class="data">{{data-1.03400-00100}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.03400-00300}}</td>
    <td class="data">{{NumberFormat data-1.03400-00400}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.03400-00600}}</td>
    <td class="data">{{NumberFormat data-1.03400-00700}}</td>
    <td class="left">34</td>
</tr>
<tr>
    <td class="right">35</td>
    <td></td>
    <td class="data">{{data-1.03500-00100}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.03500-00300}}</td>
    <td class="data">{{NumberFormat data-1.03500-00400}}</td>
    <td class="data"></td>
    <td class="data">{{data-1.03500-00600}}</td>
    <td class="data">{{NumberFormat data-1.03500-00700}}</td>
    <td class="left">35</td>
</tr>
<tr>
    <td class="right">100</td>
    <td> Total Reclassifications (Sum of col. 4 must equal sum of col. 7)</td>
    <td class="data fillgrey">{{data-1.10000-00100}}</td>
    <td class="data fillgrey"></td>
    <td class="data fillgrey">>{{data-1.10000-00300}}</td>
    <td class="data">{{NumberFormat data-1.10000-00400}}</td>
    <td class="data fillgrey"></td>
    <td class="data fillgrey">>{{data-1.10000-00600}}</td>
    <td class="data">{{NumberFormat data-1.10000-00700}}</td>
    <td class="left">100</td>
</tr>
<tr>
   <td class="border-right border-bottom"> (1)   </td> <td class="border-bottom"colspan="9">A letter (A, B, etc.) must be entered on each line to identify each reclassification entry.</td>
</tr>
<tr><td class="border-right"> (2)   </td> <td colspan="9">Transfer to Worksheet A, col. 5, line as appropriate.</td></tr>
<tr><td colspan="10">FORM CMS-265-11 (12/2011)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4207)</td>
</tr>
<tr>
<td colspan="2" class="border-right">Rev. 3</td>
<td colspan="6"  class="border-right">&nbsp;</td>
<td colspan="2"class="right"colspan="2">42-307</td>
</tr>
 
</tbody>
</table>
</div>