<div class="report">
<table border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
<col width="4%" />
<col width="50%" />
<col width="15%" /> 
<col width="15%" /> 
<col width="20%" /> 
<col width="5%" />
<col width="10%" />
<col width="4%" /> 
</colgroup>
<thead>
<tr>
<td colspan="2">  ADJUSTMENTS  TO  EXPENSES</td>
<td colspan="2">Provider CCN: <span class="data">{{pId}}</span></td>
<td>
<div>PERIOD:</div>
<div>FROM <span class="data">{{year.start}}</span></div>
<div>TO <span class="data">{{year.end}}</span></div>
</td>
<td colspan="3">WORKSHEET A-2</td>
</tr>
</thead>
<tbody>
<tr>
<td colspan="8">&nbsp;</td>
</tr>
<tr>
    <td class="center" rowspan="3" colspan="2">DESCRIPTION (1)</td>
    <td rowspan="2" class="center">BASIS FOR<div>ADJUSTMENT</div><div>(2)</div></td>
    <td rowspan="2" class="center">AMOUNT</td>
    <td colspan="3"> Expense classification on Worksheet A from which<div> amount is to be deducted or to which the amount is</div><div> to be added</div></td>
    <td></td>
</tr>
<tr>
    <td class="center" colspan="2">COST CENTER</td>
    <td class="center">LINE NO.</td>
    <td  rowspan="2">&nbsp;</td>
</tr>
<tr>
    <td class="center">1</td>
    <td class="center">2</td>
    <td colspan="2"class="center">3</td>
    <td class="center">4</td>
</tr>
<tr>
    <td class="right">1</td>
    <td> Investment income on commingled restricted and unrestricted funds  (Chapter 2)</td>
    <td class="data">{{data-1.00100-00100}}</td>
    <td class="data">{{NumberFormat data-1.00100-00200}}</td>
    <td class="data" colspan="2"></td>
    <td class="data" class="center">{{data-1.00100-00400}}</td>
    <td class="left">1</td>
</tr>
<tr>
    <td class="right">2</td>
    <td>  Trade, quantity and time discounts on purchases  (Chapter 8)</td>
    <td class="data">{{data-1.00200-00100}} </td>
    <td class="data">{{NumberFormat data-1.00200-00200}}</td>
    <td  class="data"colspan="2"></td>
    <td  class="data"class="center">{{data-1.00200-00400}}</td>
    <td class="left">2</td>
</tr>
<tr>
    <td class="right">3</td>
    <td> Rebates and refunds of expenses  (Chapter 8)</td>
    <td class="data">{{data-1.00300-00100}}</td>
    <td class="data">{{NumberFormat data-1.00300-00200}}</td>
    <td class="data" colspan="2"></td>
    <td class="data" class="center">{{data-1.00300-00400}}</td>
    <td class="left">3</td>
</tr>
<tr>
    <td class="right">4</td>
    <td> Rental of building or office space to others</td>
    <td class="data">{{data-1.00400-00100}}</td>
    <td class="data">{{NumberFormat data-1.00400-00200}}</td>
    <td class="data"colspan="2"></td>
    <td  class="data" class="center"{{data-1.00400-00400}}></td>
    <td class="left">4</td>
</tr>
<tr>
    <td class="right">5</td>
    <td> Physician non-routine professional patient care services</td>
    <td class="data">{{data-1.00500-00100}}</td>
    <td class="data">{{NumberFormat data-1.00500-00200}}</td>
    <td class="data" colspan="2"></td>
    <td class="data" class="center">{{data-1.00500-00400}}</td>
    <td class="left">5</td>
</tr>
<tr>
    <td class="right">6</td>
    <td> Home office costs  (Chapter 21)</td>
    <td class="data">{{data-1.00600-00100}}</td>
    <td class="data">{{NumberFormat data-1.00600-00200}}</td>
    <td class="data" colspan="2"></td>
    <td  class="data" class="center">{{data-1.00600-00400}}</td>
    <td class="left">6</td>
</tr>
<tr>
    <td class="right">7</td>
    <td> Adjustment resulting from transactions with related organizations  (Chapter 10)</td>
    <td class="data"  class="center">From Wkst. A-3</td>
    <td class="data">{{NumberFormat data-1.00700-00200}}</td>
    <td class="data" class="fillgrey" colspan="2"></td>
    <td class="data" class="fillgrey center">{{data-1.00600-00400}}</td>
    <td class="left">7</td>
</tr>
<tr>
    <td class="right">8</td>
    <td> Vending machines</td>
    <td class="data">{{data-1.00800-00100}}</td>
    <td class="data">{{NumberFormat data-1.00800-00200}}</td>
    <td class="data" colspan="2"></td>
    <td  class="data"class="center">{{data-1.00800-00400}}</td>
    <td class="left">8</td>
</tr>
<tr>
    <td class="right">9</td>
    <td> Meals served to patients</td>
    <td class="data">{{data-1.00900-00100}}</td>
    <td class="data">{{NumberFormat data-1.00900-00200}}</td>
    <td  class="data" colspan="2"></td>
    <td  class="data" class="center">{{data-1.00900-00400}}</td>
    <td class="left">9</td>
</tr>
<tr>
    <td class="right">10</td>
    <td> Physicians' professional services--MCP Method</td>
    <td class="data" class="center">A</td>
    <td class="data">{{NumberFormat data-1.01000-00200}}</td>
    <td class="data" colspan="2"> Physicians' professional services--MCP Me</td>
    <td class="data" class="center">19</td>
    <td class="left">10</td>
</tr>
<tr>
    <td class="right">11</td>
    <td>  Services under arrangement</td>
    <td class="data">{{data-1.01100-00100}}</td>
    <td class="data">{{NumberFormat data-1.01100-00200}}</td>
    <td class="data" colspan="2"></td>
    <td class="data" class="center">{{data-1.01100-00400}}</td>
    <td class="left">11</td>
</tr>
<tr>
    <td class="right">12</td>
    <td> Provision for doubtful accounts</td>
    <td class="data">{{data-1.01200-00100}}</td>
    <td class="data">{{NumberFormat data-1.01200-00200}}</td>
    <td class="data" colspan="2"></td>
    <td class="data" class="center">{{data-1.01200-00400}}</td>
    <td class="left">12</td>
</tr>
<tr>
    <td class="right">13</td>
    <td> Capital Related--Buildings & Fixtures</td>
    <td class="data">{{data-1.01300-00100}}</td>
    <td class="data">{{NumberFormat data-1.01300-00200}}</td>
    <td class="data" colspan="2"> Capital Related--Buildings & Fixtures</td>
    <td  class="data"class="center">1</td>
    <td class="left">13</td>
</tr>
<tr>
    <td class="right">14</td>
    <td> Capital Related--Moveable Equipment</td>
    <td class="data">{{data-1.01400-00100}}</td>
    <td class="data">{{NumberFormat data-1.01400-00200}}</td>
    <td  class="data"colspan="2"> Capital Related--Moveable Equipment</td>
    <td  class="data"class="center">2</td>
    <td class="left">14</td>
</tr>
<tr>
    <td class="right">15</td>
    <td> Rebates on Epoetin prior to January 1, 2011</td>
    <td class="data">{{data-1.01500-00100}}</td>
    <td class="data">{{NumberFormat data-1.01500-00200}}</td>
    <td class="data" colspan="2">Epoetin</td>
    <td class="data" class="center">23</td>
    <td class="left">15</td>
</tr>
<tr>
    <td class="right">16</td>
    <td>Epoetin</td>
    <td  class="data"class="center">A </td>
    <td class="data"> {{NumberFormat data-1.01600-00200}}</td>
    <td  class="data" class="center">23</td>
    <td class="left">16</td>
</tr>
<tr>
    <td class="right">17</td>
    <td> Rebates on Aranesp prior to January 1, 2011</td>
    <td class="data" >{{data-1.01700-00100}}</td>
    <td class="data" >{{NumberFormat data-1.01700-00200}}</td>
    <td class="data"  colspan="2">Aranesp</td>
    <td class="data"  class="center">23</td>
    <td class="left">17</td>
</tr>
<tr>
    <td class="right">18</td>
    <td> Aranesp</td>
    <td  class="data" class="center">A</td>
    <td class="data" >{{NumberFormat data-1.01800-00200}}</td>
    <td class="data"  colspan="2">Aranesp</td>
    <td class="data"  class="center">23</td>
    <td class="left">18</td>
</tr>
<tr>
    <td class="right">19</td>
    <td> Rebates on Epoetin on or after January 1, 2011  (see instructions)</td>
    <td class="data" >{{data-1.01900-00100}}</td>
    <td class="data" >{{NumberFormat data-1.01900-00200}}</td>
    <td class="data"  colspan="2">Epoetin</td>
    <td  class="data" class="center">12</td>
    <td class="left">19</td>
</tr>
<tr>
    <td class="right">20</td>
    <td> Rebates on Aranesp on or after January 1, 2011   (see instructions)</td>
    <td class="data" >{{data-1.02000-00100}}</td>
    <td class="data" >{{NumberFormat data-1.02000-00200}}</td>
    <td  class="data" colspan="2">Aranesp</td>
    <td  class="data" class="center">12</td>
    <td class="left">20</td>
</tr>
<tr>
    <td class="right">20.01</td>
    <td> Rebates on ESA drugs on or after January 1, 2012</td>
    <td class="data" >{{data-1.02001-00100}}</td>
    <td class="data" >{{NumberFormat data-1.02001-00200}}</td>
    <td class="data"  colspan="2">Drugs</td>
    <td class="data"  class="center">12</td>
    <td class="left">20.01</td>
</tr>
<tr>
    <td class="right">21</td>
    <td> Physician malpractice premiums</td>
    <td class="data" >{{data-1.02100-00100}}</td>
    <td class="data" >{{NumberFormat data-1.02100-00200}}</td>
    <td class="data"  colspan="2"></td>
    <td class="data"  class="center">{{data-1.02100-00400}}</td>
    <td class="left">21</td>
</tr>
<tr>
    <td class="right">22</td>
    <td> Other (specify)   </td>
    <td class="data" >{{data-1.02200-00100}}</td>
    <td class="data" >{{NumberFormat data-1.02200-00200}}</td>
    <td  class="data" colspan="2"></td>
    <td  class="data" class="center">{{data-1.02200-00400}}</td>
    <td class="left">22</td>
</tr>
<tr>
    <td class="right">23</td>
    <td> Other (specify)   </td>
    <td class="data" >{{data-1.02300-00100}}</td>
    <td class="data" >{{NumberFormat data-1.02300-00200}}</td>
    <td class="data"  class="data"  colspan="2"></td>
    <td class="data"  class="center">{{data-1.02300-00400}}</td>
    <td class="left">23</td>
</tr>
<tr>
    <td class="right">24</td>
    <td> Other (specify)   </td>
    <td class="data" >{{data-1.02400-00100}}</td>
    <td class="data" >{{NumberFormat data-1.02400-00200}}</td>
    <td class="data"  colspan="2"></td>
    <td class="data"  class="center">{{data-1.02400-00400}}</td>
    <td class="left">24</td>
</tr>
<tr>
    <td class="right">100</td>
    <td> Total  (transfer to Wkst. A, col. 7, line 27)</td>
    <td class="data fillgrey">{{data-1.10000-00100}}</td>
    <td class="data" >{{NumberFormat data-1.10000-00200}}</td>
    <td class="data fillgrey" colspan="2"></td>
    <td  class="data fillgrey"  class="center">{{data-1.10000-00400}}</td>
    <td class="left">100</td>
</tr>

<tr>
    <td class="border-right"></td>
    <td colspan="7"><p><div>(1) Description-all chapter references in this column pertain to CMS Pub. 15-1</div><div>(2) Basis for adjustment (see instructions)</div><div>&emsp;&emsp;A. Costs-if cost, including applicable overhead, can be determined</div><div>&emsp;&emsp;B. Amount Received-if cost cannot be determined</div></p></td>
</tr>
<tr>
    <td colspan="8">FORM CMS-265-11 (05/2014)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4208)</td>
</tr>
<tr>
<td colspan="2" class="border-right">42-308</td>
<td colspan="4"  class="border-right">&nbsp;</td>
<td colspan="2"class="right"colspan="2">Rev. 3</td>
</tr>
 
</tbody>
</table>
</div>