<div class="report">
<table border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
<col width="4%" />
<col width="15%" />
<col width="40%" /> 
<col width="15%" /> 
<col width="15%" /> 
<col width="15%" />
<col width="15%" />
<col width="15%" />
<col width="4%" /> 
</colgroup>
<thead>
<tr>
<td colspan="4">  STATEMENT  OF  COSTS  OF  SERVICES<div> FROM  RELATED  ORGANIZATIONS</div></td>
<td>Provider CCN: <span class="data">{{pId}}</span></td>
<td colspan="2">
<div>PERIOD:</div>
<div>FROM <span class="data">{{year.start}}</span></div>
<div>TO <span class="data">{{year.end}}</span></div>
</td>
<td colspan="2">WORKSHEET A-3</td>
</tr>
</thead>
<tbody>
<tr>
<td colspan="9">&nbsp;</td>
</tr>
<tr>
    <td class="border-right">A.</td>
<td colspan="8"> Are there any costs included on Worksheet A which resulted from transactions with related organizations as defined in CMS Pub. 15-1, Chapter 10?<div>[   ] Yes  (If yes, complete Parts B and C)</div>
<div>[   ]  No</div></td>
</tr>
<tr>
<td colspan="9">&nbsp;</td>
</tr>
<tr>
    <td class="border-right">B.</td>
<td colspan="8"> Costs incurred and adjustments required as result of transactions with related organizations:</td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td colspan="4">LOCATION AND AMOUNT INCLUDED ON WORKSHEET A, COL. 6</td>
    <td class="center" rowspan="2">AMOUNT<div>ALLOWABLE</div><div>IN COST</div></td>
    <td class="center" rowspan="2">AMOUNT<div>INCLUDED IN</div><div>WKST. A</div><div>COL. 6</div></td>
    <td class="center" rowspan="2">NET<div>ADJUSTMENT</div><div><span>(col. 4 minus col. 5)</span></div></td>    
</tr>
<tr>
    <td rowspan="2"></td>
    <td class="center">LINE NO.</td>
    <td class="center">COST CENTER</td>
    <td colspan="2"class="center">EXPENSES ITEMS</td>
</tr>
<tr>
    <td class="center">1</td>
    <td class="center">2</td>
    <td colspan="2"class="center">3</td>
    <td class="center">4</td>
    <td class="center">5</td>
    <td class="center">6</td>
</tr>

<tr>
    <td class="right">1</td>
    <td class="data"></td>
    <td class="data"></td>
    <td  class="data" colspan="2"></td>
    <td  class="data" >{{NumberFormat data-1.00100-00400}}</td>
    <td  class="data" >{{NumberFormat data-1.00100-00500}}</td>
      <td  class="data" >{{NumberFormat data-1.00100-00600}}</td>
    <td class="left">1</td>
</tr>
<tr>
    <td class="right">2</td>
    <td  class="data" ></td>
    <td  class="data" ></td>
    <td   class="data" colspan="2"></td>
    <td  class="data" >{{NumberFormat data-1.00200-00400}}</td>
    <td  class="data" >{{NumberFormat data-1.00200-00500}}</td>
      <td  class="data" >{{NumberFormat data-1.00200-00600}}</td>
    <td class="left">2</td>
</tr>
<tr>
    <td class="right">3</td>
    <td  class="data" ></td>
    <td  class="data" ></td>
    <td  class="data"  colspan="2"></td>
    <td  class="data" >{{NumberFormat data-1.00300-00400}}</td>
    <td  class="data" >{{NumberFormat data-1.00300-00500}}</td>
      <td  class="data" >{{NumberFormat data-1.00300-00600}}</td>
    <td class="left">3</td>
</tr>
<tr>
    <td class="right">4</td>
    <td  class="data" ></td>
    <td  class="data" ></td>
    <td  class="data"  colspan="2"></td>
    <td  class="data" >{{NumberFormat data-1.00400-00400}}</td>
    <td  class="data" >{{NumberFormat data-1.00400-00500}}</td>
      <td  class="data" >{{NumberFormat data-1.00400-00600}}</td>
    <td class="left">4</td>
</tr>
<tr>
    <td class="right">5</td>
    <td colspan="4"> TOTALS (sum of lines 1-4) <div> (Transfer col. 6, lines 1-4 to Wkst. A, col. 7 as appropriate)</div><div> (Transfer col. 6, line 5 to Wkst. A-2, col. 2, line 7) </div></td>
    <td  class="data" >{{NumberFormat data-1.00500-00400}}</td>
   <td  class="data" >{{NumberFormat data-1.00500-00500}}</td>
    <td  class="data" >{{NumberFormat data-1.00500-00600}}</td>
    <td class="left">5</td>
</tr>
<tr>
<td colspan="9">&nbsp;</td>
</tr>
<tr>
    <td class="border-right">C</td>
<td colspan="8">Interrelationship to organizations furnishing services, facilities, or supplies:     </td>
</tr>
<tr>
    <td colspan="9"><p><div>The Secretary, by virtue of the authority granted under section 1814(b)(1) of the Social Security Act, requires the provider to furnish the information requested on Part C of this worksheet.</div><div>&nbsp;</div><div> This information will be used by the Centers for Medicare and Medicaid Services and its contractors in determining that the costs applicable to services, facilities, and supplies furnished by organizations related to the facility by common ownership or control, represent reasonable costs as determined under 1861(v)(1)(a) of the Social Security Act.  If the provider does not provide all or any part of the requested information, the cost report is considered incomplete and not acceptable for purposes of claiming reimbursement under title XVIII.</div><div>&nbsp;</div></p></td>
</tr>
<tr>
    <td rowspan="3"></td>
    <td class="center"rowspan="2">SYMBOL<div>(1)</div></td>
    <td class="center"rowspan="2">NAME</td>
    <td class="center"rowspan="2">PERCENTAGE<div>OF</div><div>OWNERSHIP</div></td>
    <td class="center" colspan="4">RELATED ORGANIZATION(S)</td>
    <td rowspan="3"></td>
</tr>
<tr>
    <td class="center" colspan="2">NAME</td>
    <td class="center">PERCENTAGE<div>OF</div><div>OWNERSHIP</div></td>
    <td class="center">TYPE OF BUSINESS</td>
</tr>
<tr>
    <td class="center">1</td>
    <td class="center">2</td>
    <td class="center">3</td>
    <td class="center" colspan="2">4</td>
    <td class="center">5</td>
    <td class="center">6</td>
</tr>
<tr>
    <td class="right">1</td>
    <td  class="data" ></td>
    <td  class="data" ></td>
    <td  class="data" ></td>
    <td  class="data"  colspan="2"></td>
    <td  class="data" ></td>
    <td  class="data" ></td>
    <td class="left">1</td>
</tr>
<tr>
    <td class="right">2</td>
    <td  class="data" ></td>
    <td  class="data" ></td>
    <td  class="data" ></td>
    <td  class="data"  colspan="2"></td>
    <td  class="data" ></td>
    <td  class="data" ></td>
    <td class="left">2</td>
</tr>
<tr>
    <td class="right">3</td>
    <td  class="data" ></td>
    <td  class="data" ></td>
    <td  class="data" ></td>
    <td  class="data"  colspan="2"></td>
    <td  class="data" ></td>
    <td  class="data" ></td>
    <td class="left">3</td>
</tr>
<tr>
    <td class="right">4</td>
    <td  class="data" ></td>
    <td  class="data" ></td>
    <td  class="data" ></td>
    <td  class="data"  colspan="2"></td>
    <td  class="data" ></td>
    <td  class="data" ></td>
    <td class="left">4</td>
</tr>
<tr>
    <td class="border-right"></td>
    <td colspan="8"><p><div>(1) Use the following symbols to indicate interrelationship to related organizations:</div><div>&emsp;&emsp;A.   Individual has financial interest (stockholder, partner, etc.) in both related organization and in the facility</div><div>&emsp;&emsp;B.   Corporation, partnership, or other organization has financial interest in  the facility</div><div>&emsp;&emsp; C.  Facility has financial interest in corporation, partnership, or other organization(s)</div><div>&emsp;&emsp;D.   Director, officer, administrator, or key person of the facility or relative of such person has financial interest in related organization</div><div>&emsp;&emsp;E.   Director, officer, administrator, or key person of the facility or relative of such person has financial interest in related organization</div><div> &emsp;&emsp;F.   Director, officer, administrator, or key person of the facility or relative of such person has financial interest in related organization</div><div>&emsp;&emsp;G.  Other (financial or non-financial) specify _____________________________</div></p></td>
</tr>
<tr>
    <td colspan="10">FORM CMS-265-11 (12/2011)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4209) </td>
</tr>
<tr>
<td colspan="2" class="border-right">Rev. 1</td>
<td colspan="5"  class="border-right">&nbsp;</td>
<td colspan="2"class="right"colspan="2">42-309</td>
</tr>
 
</tbody>
</table>
</div>