<div class="report">
<table border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
<col width="4%" />
<col width="15%" />
<col width="15%" />
<col width="15%" />
<col width="15%" />
<col width="15%" />
<col width="15%" />
<col width="15%" />
<col width="15%" />
<col width="4%" /> 
</colgroup>
<thead>
<tr>
<td colspan="4"> STATEMENT  OF  COMPENSATION</td>
<td colspan="2">Provider CCN: <span class="data">{{pId}}</span></td>
<td colspan="2">
<div>PERIOD:</div>
<div>FROM <span class="data">{{year.start}}</span></div>
<div>TO <span class="data">{{year.end}}</span></div>
</td>
<td colspan="2">WORKSHEET A-4</td>
</tr>
</thead>
<tbody>
<tr>
<td colspan="10">&nbsp;</td>
</tr>
<tr>
<td colspan="10"> PART  I  -  STATEMENT  OF  TOTAL  COMPENSATION  TO  OWNERS<div><span> (Include compensation of employees related to owners)</span></div></td>
</tr>
<tr>
    <td rowspan="3" class="right"></td>
    <td rowspan="2" class="center">TITLE</td>
    <td rowspan="2" class="center">FUNCTION (A)</td>
    <td class="center">SOLE<div>PROPIETORSHIPS</div></td>
    <td colspan="2" class="center">PARTNERS</td>
    <td colspan="2" class="center">CORPORATION OWNERS</td>
    <td rowspan="2" class="center">TOTAL<div>COMPENSATION</div><div>INCLUDED IN</div><div>ALLOWABLE </div><div>COSTS FOR</div><div>THE PERIOD</div><div>(B)</div></td>
    <td rowspan="3" class="left">&nbsp;</td>
</tr>
<tr>
    <td class="center">PERCENTAGE OF<div>CUSTOMARY</div><div>WORK WEEK</div><div>DEVOTED TO</div><div>BUSINESS</div></td>
    <td class="center">PERCENT SHARE<div>OF OPERATING</div><div>PROFIT OR (LOSS)</div></td>
    <td class="center">PERCENTAGE<div>PERCENTAGE</div><div>WORK WEEK</div><div>DEVOTED TO</div><div>BUSINESS</div></td>
    <td class="center">PERCENTAGE OF<div>PROVIDER'S</div><div>STOCK OWNED</div></td>
    <td class="center">PERCENTAGE OF<div>CUSTOMARY</div><div>WORK WEEK</div><div>DEVOTED TO</div><div>BUSINESS</div></td>
</tr>
<tr>
    <td class="center">1</td>
    <td class="center">2</td>
    <td class="center">3</td>
    <td class="center">4A</td>
    <td class="center">4B</td>
    <td class="center">5A</td>
    <td class="center">5B</td>
    <td class="center">6</td>
</tr>
<tr>
    <td class="right">1</td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" >{{NumberFormat data-1.00100-00600}}</td>
    <td class="left">1</td>
</tr>
<tr>
    <td class="right">2</td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" >{{NumberFormat data-1.00200-00600}}</td>
    <td class="left">2</td>
</tr>
<tr>
    <td class="right">3</td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" >{{NumberFormat data-1.00300-00600}}</td>
    <td class="left">3</td>
</tr>
<tr>
    <td class="right">4</td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" >{{NumberFormat data-1.00400-00600}}</td>
    <td class="left">4</td>
</tr>
<tr>
    <td class="right">5</td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" >{{NumberFormat data-1.00500-00600}}</td>
    <td class="left">5</td>
</tr>
<tr>
    <td class="right">6</td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" >{{NumberFormat data-1.00600-00600}}</td>
    <td class="left">6</td>
</tr>
<tr>
    <td class="right">7</td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" >{{NumberFormat data-1.00700-00600}}</td>
    <td class="left">7</td>
</tr>
<tr>
    <td class="right">8</td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" >{{NumberFormat data-1.00800-00600}}</td>
    <td class="left">8</td>
</tr>
<tr>
    <td class="right">9</td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" >{{NumberFormat data-1.00900-00600}}</td>
    <td class="left">9</td>
</tr>
<tr>
    <td class="right">10</td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" ></td>
    <td class="data" >{{NumberFormat data-1.01000-00600}}</td>
    <td class="left">10</td>
</tr>
<tr><td colspan="10">&nbsp;</td></tr>
<tr><td colspan="10"> PART  II  -  STATEMENT  OF  TOTAL  COMPENSATION  TO  ADMINISTRATORS,  ASSISTANT  ADMINISTRATORS  AND / OR  MEDICAL  DIRECTORS  OR  OTHERS PERFORMING  THESE  DUTIES  (OTHER  THAN  OWNERS)   <span>  (To be completed by all facilities)</span></td></tr>
<tr>
    <td rowspan="2">&nbsp;</td>
    <td class="center" colspan="4">TITLE</td>
    <td class="center" colspan="2">PERCENTAGE OF<div>CUSTOMARY WORK WEEK</div><div>DEVOTED TO BUSINESS</div></td>
    <td class="center" colspan="2">TOTAL COMPENSATION INCLUDED<div>IN ALLOWABLE COSTS FOR THE PERIOD</div><div>(B)</div></td>
    <td rowspan="2">&nbsp;</td>
</tr>
<tr>
    <td class="center" colspan="4">1</td>
    <td class="center" colspan="2">2</td>
    <td class="center" colspan="2">3</td>
</tr>
<tr>
    <td class="right">1</td>
    <td class="data"  colspan="4"></td>
    <td class="data"  colspan="2"></td>
    <td class="data"  colspan="2">{{NumberFormat data-1.00100-00300}}</td>
    <td class="left">1</td>
</tr>
<tr>
    <td class="right">2</td>
    <td class="data"  colspan="4"></td>
    <td  class="data" colspan="2"></td>
    <td  class="data" colspan="2">{{NumberFormat data-1.00200-00300}}</td>
    <td class="left">2</td>
</tr>
<tr>
    <td class="right">3</td>
    <td  class="data" colspan="4"></td>
    <td  class="data" colspan="2"></td>
    <td  class="data" colspan="2">{{NumberFormat data-1.00300-00300}}</td>
    <td class="left">3</td>
</tr>
<tr>
    <td class="right">4</td>
    <td  class="data" colspan="4"></td>
    <td  class="data" colspan="2"></td>
    <td  class="data" colspan="2">{{NumberFormat data-1.00400-00300}}</td>
    <td class="left">4</td>
</tr>
<tr>
    <td class="right">5</td>
    <td class="data" colspan="4"></td>
    <td  class="data" colspan="2"></td>
    <td  class="data" colspan="2">{{NumberFormat data-1.00500-00300}}</td>
    <td class="left">5</td>
</tr>
<tr>
    <td class="right">6</td>
    <td  class="data" colspan="4"></td>
    <td  class="data" colspan="2"></td>
    <td class="data"  colspan="2">{{NumberFormat data-1.00600-00300}}</td>
    <td class="left">6</td>
</tr>
<tr>
    <td class="right">7</td>
    <td class="data" colspan="4"></td>
    <td  class="data" colspan="2"></td>
    <td  class="data" colspan="2">{{NumberFormat data-1.00700-00300}}</td>
    <td class="left">7</td>
</tr>
<tr>
    <td class="right">8</td>
    <td class="data"  colspan="4"></td>
    <td class="data"  colspan="2"></td>
    <td  class="data" colspan="2">{{NumberFormat data-1.00800-00300}}</td>
    <td class="left">8</td>
</tr>
<tr>
    <td class="right">9</td>
    <td  class="data" colspan="4"></td>
    <td  class="data" colspan="2"></td>
    <td  class="data" colspan="2">{{NumberFormat data-1.00900-00300}}</td>
    <td class="left">9</td>
</tr>
<tr>
    <td class="right">10</td>
    <td class="data"  colspan="4"></td>
    <td  class="data" colspan="2"></td>
    <td  class="data" colspan="2">{{NumberFormat data-1.01000-00300}}</td>
    <td class="left">10</td>
</tr>
<tr>
    <td colspan="10">(A)  Function or job description of each owner.  If employee is related to owner, cite relationship.<div>(B)  Compensation as used in this worksheet has the same definition as 42 CFR 413.102</div></td>
</tr>
<tr><td colspan="10">FORM CMS-265-11 (12/2011)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4210)</td>
</tr>
<tr>
<td colspan="2" class="border-right">42-310</td>
<td colspan="6"  class="border-right">&nbsp;</td>
<td colspan="2"class="right"colspan="2">Rev. 1</td>
</tr>
 
</tbody>
</table>
</div>