<div class="report">
<table border="1" width="1200" cellspacing="1" cellpadding="1">
<colgroup>
<col width="6%" />
<col width="25%" />
<col width="18%" />
<col width="18%" />
<col width="18%" />
<col width="18%" />
<col width="18%" />
<col width="18%" />
<col width="18%" />
<col width="18%"/>
<col width="18%"/>
<col width="6%" /> 
</colgroup>
<thead>
<tr>
<td colspan="6">  COST  ALLOCATION  -  GENERAL  SERVICE  COSTS</td>
<td colspan="2">Provider CCN: <span class="data">{{pId}}</span></td>
<td colspan="2">
<div>PERIOD:</div>
<div>FROM <span class="data">{{year.start}}</span></div>
<div>TO <span class="data">{{year.end}}</span></div>
</td>
<td colspan="2">WORKSHEET B</td>
</tr>
</thead>
<tbody>
<tr>
    <td rowspan="2" colspan="3">&nbsp;</td>
    <td class="center">NET <div>EXPENSE</div><div>FOR</div><div>COST ALLOC.</div><div><span>( from Wkst. A, col. 8 )</span></div></td>
    <td class="center">CAP REL<div>OP & MAINT</div><div>& HOUSE</div></td>
    <td class="center">STEP DOWN<div>OF</div><div>OF COL. 2</div></td>
    <td class="center">MACH CAP<div>REL OR REN</div><div>& MAINT</div></td>
    <td class="center">SALARIES<div>FOR DIR</div><div>PT CARE</div></td>
    <td class="center">EH&W BENE<div>FOR DIR</div><div>PT CARE</div></td>
    <td class="center">SUPPLIES</td>
    <td class="center">LABORATORY</td>
    <td rowspan="2">&nbsp;</td>
</tr>
<tr>
    <td class="center">1</td>
    <td class="center">2</td>
    <td class="center">3</td>
    <td class="center">4</td>
    <td class="center">5</td>
    <td class="center">6</td>
    <td class="center">7</td>
    <td class="center">8</td>
</tr>
<tr>
    <td class="right">1</td>
    <td colspan="2"> COSTS TO BE ALLOCATED</td>
    <td class="data right">{{NumberFormat data-1.00100-00100}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00100-00200}}</td>
    <td class="data right">{{NumberFormat data-1.00100-00300}}</td>
    <td class="data right">{{NumberFormat data-1.00100-00400}}</td>
    <td class="data right">{{NumberFormat data-1.00100-00500}}</td>
    <td class="data right">{{NumberFormat data-1.00100-00600}}</td>
    <td class="data right">{{NumberFormat data-1.00100-00700}}</td>
    <td class="data right">{{NumberFormat data-1.00100-00800}}</td>
    <td class="left">1</td>
</tr>
<tr>
    <td class="right">2</td>
    <td colspan="2">  Drugs Included in Composite Rate </td>
    <td class="data right fillgrey">{{NumberFormat data-1.00200-00100}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00200-00200}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00200-00300}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00200-00400}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00200-00500}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00200-00600}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00200-00700}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00200-00800}}</td>
    <td class="left">2</td>
</tr>
<tr>
    <td class="right">3</td>
    <td colspan="2"> ESAs</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00300-00100}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00300-00200}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00300-00300}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00300-00400}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00300-00500}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00300-00600}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00300-00700}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00300-00800}}</td>
    <td class="left">3</td>
</tr>

<tr>
    <td class="right">4</td>
    <td colspan="2"> ESRD Related Other Drugs</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00400-00100}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00400-00200}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00400-00300}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00400-00400}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00400-00500}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00400-00600}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00400-00700}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00400-00800}}</td>
    <td class="left">4</td>
</tr>
<tr>
    <td class="right">5</td>
    <td colspan="2"> Non-ESRD Related Drugs, Supplies & Lab</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00500-00100}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00500-00200}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00500-00300}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00500-00400}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00500-00500}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00500-00600}}</td>
    <td class="data right">{{NumberFormat data-1.00500-00700}}</td>
    <td class="data right">{{NumberFormat data-1.00500-00800}}</td>
    <td class="left">5</td>
</tr>
<tr>
    <td class="right">6</td>
    <td colspan="2"> Whole Blood and Packed Red Blood Cells</td>
    <td class="data right">{{NumberFormat data-1.00600-00100}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00600-00200}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00600-00300}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00600-00400}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00600-00500}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00600-00600}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00600-00700}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00600-00800}}</td>
    <td class="left">6</td>
</tr>
<tr>
    <td class="right">7</td>
    <td colspan="2">  Vaccines</td>
    <td class="data right">{{NumberFormat data-1.00700-00100}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00700-00200}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00700-00300}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00700-00400}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00700-00500}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00700-00600}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00700-00700}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00700-00800}}</td>
    <td class="left">7</td>
</tr>
<tr>
    <td class="center" colspan="3">REIMBURSABLE  COST  CENTERS</td>
    <td class="fillgrey">&nbsp;</td>
    <td class="fillgrey">&nbsp;</td>
    <td class="fillgrey">&nbsp;</td>
    <td class="fillgrey">&nbsp;</td>
    <td class="fillgrey">&nbsp;</td>
    <td class="fillgrey">&nbsp;</td>
    <td class="fillgrey">&nbsp;</td>
    <td class="fillgrey">&nbsp;</td>
    <td class="left">&nbsp;</td>
</tr>
<tr>
    <td class="right">8</td>
    <td colspan="2"> Maintenance-Hemodialysis</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00700-00100}}</td>
    <td class="data right">{{NumberFormat data-1.00700-00200}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00700-00300}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00700-00400}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00700-00500}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00700-00600}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00700-00700}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00700-00800}}</td>
    <td class="left">8</td>
</tr>
<tr>
    <td class="right">8.01</td>
    <td colspan="2"> Maintenance-Hemo Adult</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00801-00100}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00801-00200}}</td>
    <td class="data right">{{NumberFormat data-1.00801-00300}}</td>
    <td class="data right">{{NumberFormat data-1.00801-00400}}</td>
    <td class="data right">{{NumberFormat data-1.00801-00500}}</td>
    <td class="data right">{{NumberFormat data-1.00801-00600}}</td>
    <td class="data right">{{NumberFormat data-1.00801-00700}}</td>
    <td class="data right">{{NumberFormat data-1.00801-00800}}</td>
    <td class="left">8.01</td>
</tr>
<tr>
    <td class="right">8.02</td>
    <td colspan="2"> Maintenance-Hemo Pediatric</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00802-00100}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00802-00200}}</td>
    <td class="data right">{{NumberFormat data-1.00802-00300}}</td>
    <td class="data right">{{NumberFormat data-1.00802-00400}}</td>
    <td class="data right">{{NumberFormat data-1.00802-00500}}</td>
    <td class="data right">{{NumberFormat data-1.00802-00600}}</td>
    <td class="data right">{{NumberFormat data-1.00802-00700}}</td>
    <td class="data right">{{NumberFormat data-1.00802-00800}}</td>
    <td class="left">8.02</td>
</tr>

<tr>
    <td class="right">9</td>
    <td colspan="2"> Maintenance -IPD</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00900-00100}}</td>
    <td class="data right">{{NumberFormat data-1.00900-00200}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00900-00300}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00900-00400}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00900-00500}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00900-00600}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00900-00700}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00900-00800}}</td>
    <td class="left">9</td>
</tr>
<tr>
    <td class="right">9.01</td>
    <td colspan="2">  Maintenance-IPD Adult</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00901-00100}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00901-00200}}</td>
    <td class="data right">{{NumberFormat data-1.00901-00300}}</td>
    <td class="data right">{{NumberFormat data-1.00901-00400}}</td>
    <td class="data right">{{NumberFormat data-1.00901-00500}}</td>
    <td class="data right">{{NumberFormat data-1.00901-00600}}</td>
    <td class="data right">{{NumberFormat data-1.00901-00700}}</td>
    <td class="data right">{{NumberFormat data-1.00901-00800}}</td>
    <td class="left">9.01</td>
</tr>
<tr>
    <td class="right">9.02</td>
    <td colspan="2"> Maintenance-IPD Pediatric</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00902-00100}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00902-00200}}</td>
    <td class="data right">{{NumberFormat data-1.00902-00300}}</td>
    <td class="data right">{{NumberFormat data-1.00902-00400}}</td>
    <td class="data right">{{NumberFormat data-1.00902-00500}}</td>
    <td class="data right">{{NumberFormat data-1.00902-00600}}</td>
    <td class="data right">{{NumberFormat data-1.00902-00700}}</td>
    <td class="data right">{{NumberFormat data-1.00902-00800}}</td>
    <td class="left">9.02</td>
</tr>
<tr>
    <td class="right">10</td>
    <td colspan="2">  Training-Hemodialysis</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01000-00100}}</td>
    <td class="data right">{{NumberFormat data-1.01000-00200}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01000-00300}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01000-00400}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01000-00500}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01000-00600}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01000-00700}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01000-00800}}</td>
    <td class="left">10</td>
</tr>
<tr>
    <td class="right">10.01</td>
    <td colspan="2">  Training-Hemo Adult</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01001-00100}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01001-00200}}</td>
    <td class="data right">{{NumberFormat data-1.01001-00300}}</td>
    <td class="data right">{{NumberFormat data-1.01001-00400}}</td>
    <td class="data right">{{NumberFormat data-1.01001-00500}}</td>
    <td class="data right">{{NumberFormat data-1.01001-00600}}</td>
    <td class="data right">{{NumberFormat data-1.01001-00700}}</td>
    <td class="data right">{{NumberFormat data-1.01001-00800}}</td>
    <td class="left">10.01</td>
</tr>
<tr>
    <td class="right">10.02</td>
    <td colspan="2"> Training-Hemo Pediatric</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01002-00100}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01002-00200}}</td>
    <td class="data right">{{NumberFormat data-1.01002-00300}}</td>
    <td class="data right">{{NumberFormat data-1.01002-00400}}</td>
    <td class="data right">{{NumberFormat data-1.01002-00500}}</td>
    <td class="data right">{{NumberFormat data-1.01002-00600}}</td>
    <td class="data right">{{NumberFormat data-1.01002-00700}}</td>
    <td class="data right">{{NumberFormat data-1.01002-00800}}</td>
    <td class="left">10.02</td>
</tr>
<tr>
    <td class="right">11</td>
    <td colspan="2"> Training-IPD</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01100-00100}}</td>
    <td class="data right">{{NumberFormat data-1.01100-00200}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01100-00300}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01100-00400}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01100-00500}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01100-00600}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01100-00700}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01100-00800}}</td>
    <td class="left">11</td>
</tr>
<tr>
    <td class="right">11.01</td>
    <td colspan="2"> Training-IPD Adult</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01101-00100}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01101-00200}}</td>
    <td class="data right">{{NumberFormat data-1.01101-00300}}</td>
    <td class="data right">{{NumberFormat data-1.01101-00400}}</td>
    <td class="data right">{{NumberFormat data-1.01101-00500}}</td>
    <td class="data right">{{NumberFormat data-1.01101-00600}}</td>
    <td class="data right">{{NumberFormat data-1.01101-00700}}</td>
    <td class="data right">{{NumberFormat data-1.01101-00800}}</td>
    <td class="left">11.01</td>
</tr>
<tr>
    <td class="right">11.02</td>
    <td colspan="2"> Training-IPD Pediatric</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01102-00100}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01102-00200}}</td>
    <td class="data right">{{NumberFormat data-1.01102-00300}}</td>
    <td class="data right">{{NumberFormat data-1.01102-00400}}</td>
    <td class="data right">{{NumberFormat data-1.01102-00500}}</td>
    <td class="data right">{{NumberFormat data-1.01102-00600}}</td>
    <td class="data right">{{NumberFormat data-1.01102-00700}}</td>
    <td class="data right">{{NumberFormat data-1.01102-00800}}</td>
    <td class="left">11.02</td>
</tr>
<tr>
    <td class="right">12</td>
    <td colspan="2"> Training-CAPD</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01200-00100}}</td>
    <td class="data right">{{NumberFormat data-1.01200-00200}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01200-00300}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01200-00400}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01200-00500}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01200-00600}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01200-00700}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01200-00800}}</td>
    <td class="left">12</td>
</tr>
<tr>
    <td class="right">12.01</td>
    <td colspan="2"> Training-CAPD Adult</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01201-00100}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01201-00200}}</td>
    <td class="data right">{{NumberFormat data-1.01201-00300}}</td>
    <td class="data right">{{NumberFormat data-1.01201-00400}}</td>
    <td class="data right">{{NumberFormat data-1.01201-00500}}</td>
    <td class="data right">{{NumberFormat data-1.01201-00600}}</td>
    <td class="data right">{{NumberFormat data-1.01201-00700}}</td>
    <td class="data right">{{NumberFormat data-1.01201-00800}}</td>
    <td class="left">12.01</td>
</tr>
<tr>
    <td class="right">12.02</td>
    <td colspan="2"> Training-CAPD Pediatric</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01202-00100}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01202-00200}}</td>
    <td class="data right">{{NumberFormat data-1.01202-00300}}</td>
    <td class="data right">{{NumberFormat data-1.01202-00400}}</td>
    <td class="data right">{{NumberFormat data-1.01202-00500}}</td>
    <td class="data right">{{NumberFormat data-1.01202-00600}}</td>
    <td class="data right">{{NumberFormat data-1.01202-00700}}</td>
    <td class="data right">{{NumberFormat data-1.01202-00800}}</td>
    <td class="left">12.02</td>
</tr>
<tr>
    <td class="right">13</td>
    <td colspan="2"> Training-CCPD</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01300-00100}}</td>
    <td class="data right">{{NumberFormat data-1.01300-00200}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01300-00300}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01300-00400}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01300-00500}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01300-00600}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01300-00700}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01300-00800}}</td>
    <td class="left">9</td>
</tr>
<tr>
    <td class="right">13.01</td>
    <td colspan="2">  Training-CCPD Adult</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01301-00100}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01301-00200}}</td>
    <td class="data right">{{NumberFormat data-1.01301-00300}}</td>
    <td class="data right">{{NumberFormat data-1.01301-00400}}</td>
    <td class="data right">{{NumberFormat data-1.01301-00500}}</td>
    <td class="data right">{{NumberFormat data-1.01301-00600}}</td>
    <td class="data right">{{NumberFormat data-1.01301-00700}}</td>
    <td class="data right">{{NumberFormat data-1.01301-00800}}</td>
    <td class="left">13.01</td>
</tr>
<tr>
    <td class="right">13.02</td>
    <td colspan="2"> Training-CCPD Pediatric</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01302-00100}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01302-00200}}</td>
    <td class="data right">{{NumberFormat data-1.01302-00300}}</td>
    <td class="data right">{{NumberFormat data-1.01302-00400}}</td>
    <td class="data right">{{NumberFormat data-1.01302-00500}}</td>
    <td class="data right">{{NumberFormat data-1.01302-00600}}</td>
    <td class="data right">{{NumberFormat data-1.01302-00700}}</td>
    <td class="data right">{{NumberFormat data-1.01302-00800}}</td>
    <td class="left">13.02</td>
</tr>
<tr>
    <td class="right">14</td>
    <td colspan="2"> Home Program-Hemodialysis</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01400-00100}}</td>
    <td class="data right">{{NumberFormat data-1.01400-00200}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01400-00300}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01400-00400}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01400-00500}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01400-00600}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01400-00700}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01400-00800}}</td>
    <td class="left">14</td>
</tr>
<tr>
    <td class="right">14.01</td>
    <td colspan="2"> Home Program-Hemo Adult</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01401-00100}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01401-00200}}</td>
    <td class="data right">{{NumberFormat data-1.01401-00300}}</td>
    <td class="data right">{{NumberFormat data-1.01401-00400}}</td>
    <td class="data right">{{NumberFormat data-1.01401-00500}}</td>
    <td class="data right">{{NumberFormat data-1.01401-00600}}</td>
    <td class="data right">{{NumberFormat data-1.01401-00700}}</td>
    <td class="data right">{{NumberFormat data-1.01401-00800}}</td>
    <td class="left">14.01</td>
</tr>
<tr>
    <td class="right">14.02</td>
    <td colspan="2"> Home Program-Hemo Pediatric</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01402-00100}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01402-00200}}</td>
    <td class="data right">{{NumberFormat data-1.01402-00300}}</td>
    <td class="data right">{{NumberFormat data-1.01402-00400}}</td>
    <td class="data right">{{NumberFormat data-1.01402-00500}}</td>
    <td class="data right">{{NumberFormat data-1.01402-00600}}</td>
    <td class="data right">{{NumberFormat data-1.01402-00700}}</td>
    <td class="data right">{{NumberFormat data-1.01402-00800}}</td>
    <td class="left">14.02</td>
</tr>
<tr>
    <td class="right">15</td>
    <td colspan="2"> Home Program-IPD</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01500-00100}}</td>
    <td class="data right">{{NumberFormat data-1.01500-00200}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01500-00300}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01500-00400}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01500-00500}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01500-00600}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01500-00700}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01500-00800}}</td>
    <td class="left">15</td>
</tr>
<tr>
    <td class="right">15.01</td>
    <td colspan="2"> Home Program-IPD Adult</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01501-00100}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01501-00200}}</td>
    <td class="data right">{{NumberFormat data-1.01501-00300}}</td>
    <td class="data right">{{NumberFormat data-1.01501-00400}}</td>
    <td class="data right">{{NumberFormat data-1.01501-00500}}</td>
    <td class="data right">{{NumberFormat data-1.01501-00600}}</td>
    <td class="data right">{{NumberFormat data-1.01501-00700}}</td>
    <td class="data right">{{NumberFormat data-1.01501-00800}}</td>
    <td class="left">15.01</td>
</tr>
<tr>
    <td class="right">15.02</td>
    <td colspan="2"> Home Program-IPD Pediatric</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01502-00100}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01502-00200}}</td>
    <td class="data right">{{NumberFormat data-1.01502-00300}}</td>
    <td class="data right">{{NumberFormat data-1.01502-00400}}</td>
    <td class="data right">{{NumberFormat data-1.01502-00500}}</td>
    <td class="data right">{{NumberFormat data-1.01502-00600}}</td>
    <td class="data right">{{NumberFormat data-1.01502-00700}}</td>
    <td class="data right">{{NumberFormat data-1.01502-00800}}</td>
    <td class="left">15.02</td>
</tr>
<tr>
    <td class="right">16</td>
    <td colspan="2"> Home Program-CAPD</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01600-00100}}</td>
    <td class="data right">{{NumberFormat data-1.01600-00200}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01600-00300}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01600-00400}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01600-00500}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01600-00600}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01600-00700}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01600-00800}}</td>
    <td class="left">16</td>
</tr>
<tr>
    <td class="right">16.01</td>
    <td colspan="2"> Home Program-CAPD Adult</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01601-00100}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01601-00200}}</td>
    <td class="data right">{{NumberFormat data-1.01601-00300}}</td>
    <td class="data right">{{NumberFormat data-1.01601-00400}}</td>
    <td class="data right">{{NumberFormat data-1.01601-00500}}</td>
    <td class="data right">{{NumberFormat data-1.01601-00600}}</td>
    <td class="data right">{{NumberFormat data-1.01601-00700}}</td>
    <td class="data right">{{NumberFormat data-1.01601-00800}}</td>
    <td class="left">16.01</td>
</tr>
<tr>
    <td class="right">16.02</td>
    <td colspan="2"> Home Program-CAPD Pediatric</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01602-00100}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01602-00200}}</td>
    <td class="data right">{{NumberFormat data-1.01602-00300}}</td>
    <td class="data right">{{NumberFormat data-1.01602-00400}}</td>
    <td class="data right">{{NumberFormat data-1.01602-00500}}</td>
    <td class="data right">{{NumberFormat data-1.01602-00600}}</td>
    <td class="data right">{{NumberFormat data-1.01602-00700}}</td>
    <td class="data right">{{NumberFormat data-1.01602-00800}}</td>
    <td class="left">16.02</td>
</tr>
<tr>
    <td class="right">17</td>
    <td colspan="2">  Home Program-CCPD</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01700-00100}}</td>
    <td class="data right">{{NumberFormat data-1.01700-00200}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01700-00300}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01700-00400}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01700-00500}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01700-00600}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01700-00700}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01700-00800}}</td>
    <td class="left">17</td>
</tr>
<tr>
    <td class="right">17.01</td>
    <td colspan="2">  Home Program-CCPD Adult</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01701-00100}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01701-00200}}</td>
    <td class="data right">{{NumberFormat data-1.01701-00300}}</td>
    <td class="data right">{{NumberFormat data-1.01701-00400}}</td>
    <td class="data right">{{NumberFormat data-1.01701-00500}}</td>
    <td class="data right">{{NumberFormat data-1.01701-00600}}</td>
    <td class="data right">{{NumberFormat data-1.01701-00700}}</td>
    <td class="data right">{{NumberFormat data-1.01701-00800}}</td>
    <td class="left">17.01</td>
</tr>
<tr>
    <td class="right">17.02</td>
    <td colspan="2"> Home Program-CCPD Pediatric</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01702-00100}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01702-00200}}</td>
    <td class="data right">{{NumberFormat data-1.01702-00300}}</td>
    <td class="data right">{{NumberFormat data-1.01702-00400}}</td>
    <td class="data right">{{NumberFormat data-1.01702-00500}}</td>
    <td class="data right">{{NumberFormat data-1.01702-00600}}</td>
    <td class="data right">{{NumberFormat data-1.01702-00700}}</td>
    <td class="data right">{{NumberFormat data-1.01702-00800}}</td>
    <td class="left">17.02</td>
</tr>
<tr>
    <td class="right">18</td>
    <td colspan="2"> Subtotal (lines 2-16.02)</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01800-00100}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01800-00200}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01800-00300}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01800-00400}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01800-00500}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01800-00600}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01800-00700}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01800-00800}}</td>
    <td class="left">18</td>
</tr>
<tr>
    <td class="center" colspan="3">NONREIMBURSABLE  COST  CENTERS</td>
    <td class="data right fillgrey"></td>
    <td class="data right fillgrey"></td>
    <td class="data right fillgrey"></td>
    <td class="data right fillgrey"></td>
    <td class="data right fillgrey"></td>
    <td class="data right fillgrey"></td>
    <td class="data right fillgrey"></td>
    <td class="data right fillgrey"></td>
    <td class="left">&nbsp;</td>
</tr>
<tr>
    <td class="right">19</td>
    <td colspan="2"> Physicians' Private Offices</td>
    <td class="data right">{{NumberFormat data-1.01900-00100}}</td>
    <td class="data right">{{NumberFormat data-1.01900-00200}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01900-00300}}</td>
    <td class="data right">{{NumberFormat data-1.01900-00400}}</td>
    <td class="data right">{{NumberFormat data-1.01900-00500}}</td>
    <td class="data right">{{NumberFormat data-1.01900-00600}}</td>
    <td class="data right">{{NumberFormat data-1.01900-00700}}</td>
    <td class="data right">{{NumberFormat data-1.01900-00800}}</td>
    <td class="left">19</td>
</tr>
<tr>
    <td class="right">20</td>
    <td colspan="2"> Method II Patients prior to 1/1/2011</td>
    <td class="data right">{{NumberFormat data-1.02000-00100}}</td>
    <td class="data right">{{NumberFormat data-1.02000-00200}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.02000-00300}}</td>
    <td class="data right">{{NumberFormat data-1.02000-00400}}</td>
    <td class="data right">{{NumberFormat data-1.02000-00500}}</td>
    <td class="data right">{{NumberFormat data-1.02000-00600}}</td>
    <td class="data right">{{NumberFormat data-1.02000-00700}}</td>
    <td class="data right">{{NumberFormat data-1.02000-00800}}</td>
    <td class="left">20</td>
</tr>
<tr>
    <td class="right">21</td>
    <td colspan="2"> Other Nonreimbursable </td>
    <td class="data right">{{NumberFormat data-1.02100-00100}}</td>
    <td class="data right">{{NumberFormat data-1.02100-00200}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.02100-00300}}</td>
    <td class="data right">{{NumberFormat data-1.02100-00400}}</td>
    <td class="data right">{{NumberFormat data-1.02100-00500}}</td>
    <td class="data right">{{NumberFormat data-1.02100-00600}}</td>
    <td class="data right">{{NumberFormat data-1.02100-00700}}</td>
    <td class="data right">{{NumberFormat data-1.02100-00800}}</td>
    <td class="left">21</td>
</tr>
<tr>
    <td class="right">22</td>
    <td colspan="2">  Other Nonreimbursable </td>
    <td class="data right">{{NumberFormat data-1.02200-00100}}</td>
    <td class="data right">{{NumberFormat data-1.02200-00200}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.02200-00300}}</td>
    <td class="data right">{{NumberFormat data-1.02200-00400}}</td>
    <td class="data right">{{NumberFormat data-1.02200-00500}}</td>
    <td class="data right">{{NumberFormat data-1.02200-00600}}</td>
    <td class="data right">{{NumberFormat data-1.02200-00700}}</td>
    <td class="data right">{{NumberFormat data-1.02200-00800}}</td>
    <td class="left">22</td>
</tr>
<tr>
    <td class="right">23</td>
    <td colspan="2"> Totals (see instructions)  </td>
    <td class="data right">{{NumberFormat data-1.02300-00100}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.02300-00200}}</td>
    <td class="center">#N/A</td>
    <td class="data right">{{NumberFormat data-1.02300-00400}}</td>
    <td class="center">#N/A</td>
    <td class="center">#N/A</td>
    <td class="center">#N/A</td>
    <td class="center">#N/A</td>
    <td class="left">23</td>
</tr>
<tr>
    <td colspan="12"> *Transfer the amounts to Wkst. C, col. 2, as appropriate<div> The total of column 1, line 23 must equal the amount on Wkst. A, col. 8, line 27.</div></td>
</tr>
<tr><td colspan="12">FORM CMS-265-11 (06/2013)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4211)</td>
</tr>
<tr>
<td colspan="2" class="border-right">Rev. 2</td>
<td colspan="8"  class="border-right">&nbsp;</td>
<td colspan="2"class="right"colspan="2">42-311</td>
</tr>
 
</tbody>
</table>
</div>