<div class="report">
<table border="1" width="1200" cellspacing="1" cellpadding="1">
<colgroup>
<col width="6%" />
<col width="25%" />
<col width="18%" />
<col width="18%" />
<col width="18%" />
<col width="18%" />
<col width="18%" />
<col width="18%" />
<col width="18%" />
<col width="18%"/>
<col width="18%"/>
<col width="6%" /> 
</colgroup>
<thead>
<tr>
<td colspan="6">  COST  ALLOCATION  -  GENERAL  SERVICE  COSTS</td>
<td colspan="2">Provider CCN: <span class="data">{{pId}}</span></td>
<td colspan="2">
<div>PERIOD:</div>
<div>FROM <span class="data">{{year.start}}</span></div>
<div>TO <span class="data">{{year.end}}</span></div>
</td>
<td colspan="2">WORKSHEET B</td>
</tr>
</thead>
<tbody>
<tr>
    <td rowspan="2" colspan="3">&nbsp;</td>
    <td class="center">SUBTOTAL<div><span>( col. 1 through col. 8 )</span></div></td>
    <td class="center">A & G<div>&</div><div>OTHER</div><div>COST</div><div>CENTERS</div></td>
    <td class="center">DRUGS</td>
    <td class="center">DRUGS<div>INCLUD. IN</div><div>COMP RATE</div></td>
    <td class="center">SUBTOTAL<div><span>( see instructions )</span></div></td>
    <td class="center">ESA'S</td>
    <td class="center">ESRD<div>RELATED</div><div>DRUGS</div></td>
    <td class="center">TOTAL<div>EXPENSES</div><div>ALL</div><div>PAT. SVCS.</div><div><span>( cols. 11A-13 )</span></div></td>
    <td rowspan="2">&nbsp;</td>
</tr>
<tr>
    <td class="center">8A</td>
    <td class="center">9</td>
    <td class="center">10</td>
    <td class="center">11</td>
    <td class="center">11A</td>
    <td class="center">12</td>
    <td class="center">13</td>
    <td class="center">13A</td>
</tr>
<tr>
    <td class="right">1</td>
    <td colspan="2"> COSTS TO BE ALLOCATED</td>
    <td class="data right">{{NumberFormat data-1.00100-08A00}}</td>
    <td class="data right">{{NumberFormat data-1.00100-00900}}</td>
    <td class="data right">{{NumberFormat data-1.00100-01000}}</td>
    <td class="data right">{{NumberFormat data-1.00100-01100}}</td>
    <td class="data right">{{NumberFormat data-1.00100-11A00}}</td>
    <td class="data right">{{NumberFormat data-1.00100-01200}}</td>
    <td class="data right">{{NumberFormat data-1.00100-01300}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00100-13A00}}</td>
    <td class="left">1</td>
</tr>
<tr>
    <td class="right">2</td>
    <td colspan="2">  Drugs Included in Composite Rate </td>
    <td class="data right fillgrey">{{NumberFormat data-1.00200-08A00}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00200-00900}}</td>
    <td class="data right">{{NumberFormat data-1.00200-01000}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00200-01100}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00200-11A00}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00200-01200}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00200-01300}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00200-13A00}}</td>
    <td class="left">2</td>
</tr>
<tr>
    <td class="right">3</td>
    <td colspan="2"> ESAs</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00300-08A00}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00300-00900}}</td>
    <td class="data right">{{NumberFormat data-1.00300-01000}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00300-01100}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00300-11A00}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00300-01200}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00300-01300}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00300-13A00}}</td>
    <td class="left">3</td>
</tr>

<tr>
    <td class="right">4</td>
    <td colspan="2"> ESRD Related Other Drugs</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00400-08A00}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00400-00900}}</td>
    <td class="data right">{{NumberFormat data-1.00400-01000}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00400-01100}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00400-11A00}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00400-01200}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00400-01300}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00400-13A00}}</td>
    <td class="left">4</td>
</tr>
<tr>
    <td class="right">5</td>
    <td colspan="2"> Non-ESRD Related Drugs, Supplies & Lab</td>
    <td class="data right">{{NumberFormat data-1.00500-08A00}}</td>
    <td class="data right">{{NumberFormat data-1.00500-00900}}</td>
    <td class="data right">{{NumberFormat data-1.00500-01000}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00500-01100}}</td>
    <td class="data right">{{NumberFormat data-1.00500-11A00}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00500-01200}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00500-01300}}</td>
    <td class="data right">{{NumberFormat data-1.00500-13A00}}</td>
    <td class="left">5</td>
</tr>
<tr>
    <td class="right">6</td>
    <td colspan="2"> Whole Blood and Packed Red Blood Cells</td>
    <td class="data right">{{NumberFormat data-1.00600-08A00}}</td>
    <td class="data right">{{NumberFormat data-1.00600-00900}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00600-01000}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00600-01100}}</td>
    <td class="data right">{{NumberFormat data-1.00600-11A00}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00600-01200}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00600-01300}}</td>
    <td class="data right">{{NumberFormat data-1.00600-13A00}}</td>
    <td class="left">6</td>
</tr>
<tr>
    <td class="right">7</td>
    <td colspan="2">  Vaccines</td>
    <td class="data right">{{NumberFormat data-1.00700-08A00}}</td>
    <td class="data right">{{NumberFormat data-1.00700-00900}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00700-01000}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00700-01100}}</td>
    <td class="data right">{{NumberFormat data-1.00700-11A00}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00700-01200}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00700-01300}}</td>
    <td class="data right">{{NumberFormat data-1.00700-13A00}}</td>
    <td class="left">7</td>
</tr>
<tr>
    <td class="center" colspan="3">REIMBURSABLE  COST  CENTERS</td>
    <td class="fillgrey"></td>
    <td class="fillgrey"></td>
    <td class="fillgrey"></td>
    <td class="fillgrey"></td>
    <td class="fillgrey"></td>
    <td class="fillgrey"></td>
    <td class="fillgrey"></td>
    <td class="fillgrey"></td>
    <td class="left">&nbsp;</td>
</tr>
<tr>
    <td class="right">8</td>
    <td colspan="2"> Maintenance-Hemodialysis</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00800-08A00}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00800-00900}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00800-01000}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00800-01100}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00800-11A00}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00800-01200}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00800-01300}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00800-13A00}}</td>
    <td class="left">8</td>
</tr>
<tr>
    <td class="right">8.01</td>
    <td colspan="2"> Maintenance-Hemo Adult</td>
    <td class="data right">{{NumberFormat data-1.00801-08A00}}</td>
    <td class="data right">{{NumberFormat data-1.00801-00900}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00801-01000}}</td>
    <td class="data right">{{NumberFormat data-1.00801-01100}}</td>
    <td class="data right">{{NumberFormat data-1.00801-11A00}}</td>
    <td class="data right">{{NumberFormat data-1.00801-01200}}</td>
    <td class="data right">{{NumberFormat data-1.00801-01300}}</td>
    <td class="data right">{{NumberFormat data-1.00801-13A00}}</td>
    <td class="left">8.01</td>
</tr>
<tr>
    <td class="right">8.02</td>
    <td colspan="2">  Maintenance-Hemo Pediatric</td>
    <td class="data right">{{NumberFormat data-1.00802-08A00}}</td>
    <td class="data right">{{NumberFormat data-1.00802-00900}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00802-01000}}</td>
    <td class="data right">{{NumberFormat data-1.00802-01100}}</td>
    <td class="data right">{{NumberFormat data-1.00802-11A00}}</td>
    <td class="data right">{{NumberFormat data-1.00802-01200}}</td>
    <td class="data right">{{NumberFormat data-1.00802-01300}}</td>
    <td class="data right">{{NumberFormat data-1.00802-13A00}}</td>
    <td class="left">8.02</td>
</tr>

<tr>
    <td class="right">9</td>
    <td colspan="2"> Maintenance -IPD</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00900-08A00}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00900-00900}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00900-01000}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00900-01100}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00900-11A00}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00900-01200}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00900-01300}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00900-13A00}}</td>
    <td class="left">9</td>
</tr>
<tr>
    <td class="right">9.01</td>
    <td colspan="2">  Maintenance-IPD Adult</td>
    <td class="data right">{{NumberFormat data-1.00901-08A00}}</td>
    <td class="data right">{{NumberFormat data-1.00901-00900}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00901-01000}}</td>
    <td class="data right">{{NumberFormat data-1.00901-01100}}</td>
    <td class="data right">{{NumberFormat data-1.00901-11A00}}</td>
    <td class="data right">{{NumberFormat data-1.00901-01200}}</td>
    <td class="data right">{{NumberFormat data-1.00901-01300}}</td>
    <td class="data right">{{NumberFormat data-1.00901-13A00}}</td>
    <td class="left">9.01</td>
</tr>
<tr>
    <td class="right">9.02</td>
    <td colspan="2"> Maintenance-IPD Pediatric</td>
    <td class="data right">{{NumberFormat data-1.00902-08A00}}</td>
    <td class="data right">{{NumberFormat data-1.00902-00900}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.00902-01000}}</td>
    <td class="data right">{{NumberFormat data-1.00902-01100}}</td>
    <td class="data right">{{NumberFormat data-1.00902-11A00}}</td>
    <td class="data right">{{NumberFormat data-1.00902-01200}}</td>
    <td class="data right">{{NumberFormat data-1.00902-01300}}</td>
    <td class="data right">{{NumberFormat data-1.00902-13A00}}</td>
    <td class="left">9.02</td>
</tr>
<tr>
    <td class="right">10</td>
    <td colspan="2">  Training-Hemodialysis</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01000-08A00}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01000-00900}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01000-01000}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01000-01100}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01000-11A00}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01000-01200}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01000-01300}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01000-13A00}}</td>
    <td class="left">10</td>
</tr>
<tr>
    <td class="right">10.01</td>
    <td colspan="2">  Training-Hemo Adult</td>
    <td class="data right">{{NumberFormat data-1.01001-08A00}}</td>
    <td class="data right">{{NumberFormat data-1.01001-00900}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01001-01000}}</td>
    <td class="data right">{{NumberFormat data-1.01001-01100}}</td>
    <td class="data right">{{NumberFormat data-1.01001-11A00}}</td>
    <td class="data right">{{NumberFormat data-1.01001-01200}}</td>
    <td class="data right">{{NumberFormat data-1.01001-01300}}</td>
    <td class="data right">{{NumberFormat data-1.01001-13A00}}</td>
    <td class="left">10.01</td>
</tr>
<tr>
    <td class="right">10.02</td>
    <td colspan="2"> Training-Hemo Pediatric</td>
    <td class="data right">{{NumberFormat data-1.01002-08A00}}</td>
    <td class="data right">{{NumberFormat data-1.01002-00900}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01002-01000}}</td>
    <td class="data right">{{NumberFormat data-1.01002-01100}}</td>
    <td class="data right">{{NumberFormat data-1.01002-11A00}}</td>
    <td class="data right">{{NumberFormat data-1.01002-01200}}</td>
    <td class="data right">{{NumberFormat data-1.01002-01300}}</td>
    <td class="data right">{{NumberFormat data-1.01002-13A00}}</td>
    <td class="left">10.02</td>
</tr>
<tr>
    <td class="right">11</td>
    <td colspan="2"> Training-IPD</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01100-08A00}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01100-00900}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01100-01000}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01100-01100}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01100-11A00}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01100-01200}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01100-01300}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01100-13A00}}</td>
    <td class="left">11</td>
</tr>
<tr>
    <td class="right">11.01</td>
    <td colspan="2"> Training-IPD Adult</td>
    <td class="data right">{{NumberFormat data-1.01101-08A00}}</td>
    <td class="data right">{{NumberFormat data-1.01101-00900}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01101-01000}}</td>
    <td class="data right">{{NumberFormat data-1.01101-01100}}</td>
    <td class="data right">{{NumberFormat data-1.01101-11A00}}</td>
    <td class="data right">{{NumberFormat data-1.01101-01200}}</td>
    <td class="data right">{{NumberFormat data-1.01101-01300}}</td>
    <td class="data right">{{NumberFormat data-1.01101-13A00}}</td>
    <td class="left">11.01</td>
</tr>
<tr>
    <td class="right">11.02</td>
    <td colspan="2"> Training-IPD Pediatric</td>
    <td class="data right">{{NumberFormat data-1.01102-08A00}}</td>
    <td class="data right">{{NumberFormat data-1.01102-00900}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01102-01000}}</td>
    <td class="data right">{{NumberFormat data-1.01102-01100}}</td>
    <td class="data right">{{NumberFormat data-1.01102-11A00}}</td>
    <td class="data right">{{NumberFormat data-1.01102-01200}}</td>
    <td class="data right">{{NumberFormat data-1.01102-01300}}</td>
    <td class="data right">{{NumberFormat data-1.01102-13A00}}</td>
    <td class="left">11.02</td>
</tr>
<tr>
    <td class="right">12</td>
    <td colspan="2"> Training-CAPD</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01200-08A00}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01200-00900}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01200-01000}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01200-01100}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01200-11A00}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01200-01200}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01200-01300}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01200-13A00}}</td>
    <td class="left">12</td>
</tr>
<tr>
    <td class="right">12.01</td>
    <td colspan="2"> Training-CAPD Adult</td>
    <td class="data right">{{NumberFormat data-1.01201-08A00}}</td>
    <td class="data right">{{NumberFormat data-1.01201-00900}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01201-01000}}</td>
    <td class="data right">{{NumberFormat data-1.01201-01100}}</td>
    <td class="data right">{{NumberFormat data-1.01201-11A00}}</td>
    <td class="data right">{{NumberFormat data-1.01201-01200}}</td>
    <td class="data right">{{NumberFormat data-1.01201-01300}}</td>
    <td class="data right">{{NumberFormat data-1.01201-13A00}}</td>
    <td class="left">12.01</td>
</tr>
<tr>
    <td class="right">12.02</td>
    <td colspan="2"> Training-CAPD Pediatric</td>
    <td class="data right">{{NumberFormat data-1.01202-08A00}}</td>
    <td class="data right">{{NumberFormat data-1.01202-00900}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01202-01000}}</td>
    <td class="data right">{{NumberFormat data-1.01202-01100}}</td>
    <td class="data right">{{NumberFormat data-1.01202-11A00}}</td>
    <td class="data right">{{NumberFormat data-1.01202-01200}}</td>
    <td class="data right">{{NumberFormat data-1.01202-01300}}</td>
    <td class="data right">{{NumberFormat data-1.01202-13A00}}</td>
    <td class="left">12.02</td>
</tr>
<tr>
    <td class="right">13</td>
    <td colspan="2"> Training-CCPD</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01300-08A00}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01300-00900}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01300-01000}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01300-01100}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01300-11A00}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01300-01200}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01300-01300}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01300-13A00}}</td>
    <td class="left">9</td>
</tr>
<tr>
    <td class="right">13.01</td>
    <td colspan="2">  Training-CCPD Adult</td>
    <td class="data right">{{NumberFormat data-1.01301-08A00}}</td>
    <td class="data right">{{NumberFormat data-1.01301-00900}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01301-01000}}</td>
    <td class="data right">{{NumberFormat data-1.01301-01100}}</td>
    <td class="data right">{{NumberFormat data-1.01301-11A00}}</td>
    <td class="data right">{{NumberFormat data-1.01301-01200}}</td>
    <td class="data right">{{NumberFormat data-1.01301-01300}}</td>
    <td class="data right">{{NumberFormat data-1.01301-13A00}}</td>
    <td class="left">13.01</td>
</tr>
<tr>
    <td class="right">13.02</td>
    <td colspan="2"> Training-CCPD Pediatric</td>
    <td class="data right">{{NumberFormat data-1.01302-08A00}}</td>
    <td class="data right">{{NumberFormat data-1.01302-00900}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01302-01000}}</td>
    <td class="data right">{{NumberFormat data-1.01302-01100}}</td>
    <td class="data right">{{NumberFormat data-1.01302-11A00}}</td>
    <td class="data right">{{NumberFormat data-1.01302-01200}}</td>
    <td class="data right">{{NumberFormat data-1.01302-01300}}</td>
    <td class="data right">{{NumberFormat data-1.01302-13A00}}</td>
    <td class="left">13.02</td>
</tr>
<tr>
    <td class="right">14</td>
    <td colspan="2"> Home Program-Hemodialysis</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01400-08A00}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01400-00900}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01400-01000}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01400-01100}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01400-11A00}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01400-01200}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01400-01300}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01400-13A00}}</td>
    <td class="left">14</td>
</tr>
<tr>
    <td class="right">14.01</td>
    <td colspan="2"> Home Program-Hemo Adult</td>
    <td class="data right">{{NumberFormat data-1.01401-08A00}}</td>
    <td class="data right">{{NumberFormat data-1.01401-00900}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01401-01000}}</td>
    <td class="data right">{{NumberFormat data-1.01401-01100}}</td>
    <td class="data right">{{NumberFormat data-1.01401-11A00}}</td>
    <td class="data right">{{NumberFormat data-1.01401-01200}}</td>
    <td class="data right">{{NumberFormat data-1.01401-01300}}</td>
    <td class="data right">{{NumberFormat data-1.01401-13A00}}</td>
    <td class="left">14.01</td>
</tr>
<tr>
    <td class="right">14.02</td>
    <td colspan="2"> Home Program-Hemo Pediatric</td>
    <td class="data right">{{NumberFormat data-1.01402-08A00}}</td>
    <td class="data right">{{NumberFormat data-1.01402-00900}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01402-01000}}</td>
    <td class="data right">{{NumberFormat data-1.01402-01100}}</td>
    <td class="data right">{{NumberFormat data-1.01402-11A00}}</td>
    <td class="data right">{{NumberFormat data-1.01402-01200}}</td>
    <td class="data right">{{NumberFormat data-1.01402-01300}}</td>
    <td class="data right">{{NumberFormat data-1.01402-13A00}}</td>
    <td class="left">14.02</td>
</tr>
<tr>
    <td class="right">15</td>
    <td colspan="2"> Home Program-IPD</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01500-08A00}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01500-00900}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01500-01000}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01500-01100}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01500-11A00}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01500-01200}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01500-01300}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01500-13A00}}</td>
    <td class="left">15</td>
</tr>
<tr>
    <td class="right">15.01</td>
    <td colspan="2"> Home Program-IPD Adult</td>
    <td class="data right"></td>
    <td class="data right"></td>
    <td class="data right fillgrey"></td>
    <td class="data right"></td>
    <td class="data right"></td>
    <td class="data right"></td>
    <td class="data right"></td>
    <td class="data right"></td>
    <td class="left">15.01</td>
</tr>
<tr>
    <td class="right">15.02</td>
    <td colspan="2"> Home Program-IPD Pediatric</td>
    <td class="data right">{{NumberFormat data-1.01502-08A00}}</td>
    <td class="data right">{{NumberFormat data-1.01502-00900}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01502-01000}}</td>
    <td class="data right">{{NumberFormat data-1.01502-01100}}</td>
    <td class="data right">{{NumberFormat data-1.01502-11A00}}</td>
    <td class="data right">{{NumberFormat data-1.01502-01200}}</td>
    <td class="data right">{{NumberFormat data-1.01502-01300}}</td>
    <td class="data right">{{NumberFormat data-1.01502-13A00}}</td>
    <td class="left">15.02</td>
</tr>
<tr>
    <td class="right">16</td>
    <td colspan="2"> Home Program-CAPD</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01600-08A00}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01600-00900}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01600-01000}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01600-01100}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01600-11A00}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01600-01200}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01600-01300}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01600-13A00}}</td>
    <td class="left">16</td>
</tr>
<tr>
    <td class="right">16.01</td>
    <td colspan="2"> Home Program-CAPD Adult</td>
    <td class="data right">{{NumberFormat data-1.01601-08A00}}</td>
    <td class="data right">{{NumberFormat data-1.01601-00900}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01601-01000}}</td>
    <td class="data right">{{NumberFormat data-1.01601-01100}}</td>
    <td class="data right">{{NumberFormat data-1.01601-11A00}}</td>
    <td class="data right">{{NumberFormat data-1.01601-01200}}</td>
    <td class="data right">{{NumberFormat data-1.01601-01300}}</td>
    <td class="data right">{{NumberFormat data-1.01601-13A00}}</td>
    <td class="left">16.01</td>
</tr>
<tr>
    <td class="right">16.02</td>
    <td colspan="2"> Home Program-CAPD Pediatric</td>
    <td class="data right">{{NumberFormat data-1.01602-08A00}}</td>
    <td class="data right">{{NumberFormat data-1.01602-00900}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01602-01000}}</td>
    <td class="data right">{{NumberFormat data-1.01602-01100}}</td>
    <td class="data right">{{NumberFormat data-1.01602-11A00}}</td>
    <td class="data right">{{NumberFormat data-1.01602-01200}}</td>
    <td class="data right">{{NumberFormat data-1.01602-01300}}</td>
    <td class="data right">{{NumberFormat data-1.01602-13A00}}</td>
    <td class="left">16.02</td>
</tr>
<tr>
    <td class="right">17</td>
    <td colspan="2">  Home Program-CCPD</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01700-08A00}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01700-00900}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01700-01000}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01700-01100}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01700-11A00}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01700-01200}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01700-01300}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01700-13A00}}</td>
    <td class="left">17</td>
</tr>
<tr>
    <td class="right">17.01</td>
    <td colspan="2">  Home Program-CCPD Adult</td>
    <td class="data right">{{NumberFormat data-1.01701-08A00}}</td>
    <td class="data right">{{NumberFormat data-1.01701-00900}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01701-01000}}</td>
    <td class="data right">{{NumberFormat data-1.01701-01100}}</td>
    <td class="data right">{{NumberFormat data-1.01701-11A00}}</td>
    <td class="data right">{{NumberFormat data-1.01701-01200}}</td>
    <td class="data right">{{NumberFormat data-1.01701-01300}}</td>
    <td class="data right">{{NumberFormat data-1.01701-13A00}}</td>
    <td class="left">17.01</td>
</tr>
<tr>
    <td class="right">17.02</td>
    <td colspan="2"> Home Program-CCPD Pediatric</td>
    <td class="data right">{{NumberFormat data-1.01702-08A00}}</td>
    <td class="data right">{{NumberFormat data-1.01702-00900}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01702-01000}}</td>
    <td class="data right">{{NumberFormat data-1.01702-01100}}</td>
    <td class="data right">{{NumberFormat data-1.01702-11A00}}</td>
    <td class="data right">{{NumberFormat data-1.01702-01200}}</td>
    <td class="data right">{{NumberFormat data-1.01702-01300}}</td>
    <td class="data right">{{NumberFormat data-1.01702-13A00}}</td>
    <td class="left">17.02</td>
</tr>
<tr>
    <td class="right">18</td>
    <td colspan="2"> Subtotal (lines 2-17.02)</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01800-08A00}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01800-00900}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01800-01000}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01800-01100}}</td>
    <td class="data right">{{NumberFormat data-1.01800-11A00}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01800-01200}}</td>
    <td class="data right fillgrey">{{NumberFormat data-1.01800-01300}}</td>
    <td class="data right">{{NumberFormat data-1.01800-13A00}}</td>
    <td class="left">18</td>
</tr>
<tr>
    <td class="center" colspan="3">NONREIMBURSABLE  COST  CENTERS</td>
    <td class="fillgrey"></td>
    <td class="fillgrey"></td>
    <td class="fillgrey"></td>
    <td class="fillgrey"></td>
    <td class="fillgrey"></td>
    <td class="fillgrey"></td>
    <td class="fillgrey"></td>
    <td class="fillgrey"></td>
    <td class="left">&nbsp;</td>
</tr>
<tr>
    <td class="right">19</td>
    <td colspan="2"> Physicians' Private Offices</td>
    <td class="data right">{{NumberFormat data-1.01900-08A00}}</td>
    <td class="data right">{{NumberFormat data-1.01900-00900}}</td>
    <td class="data right">{{NumberFormat data-1.01900-01000}}</td>
    <td class="data right">{{NumberFormat data-1.01900-01100}}</td>
    <td class="data right">{{NumberFormat data-1.01900-11A00}}</td>
    <td class="data right">{{NumberFormat data-1.01900-01200}}</td>
    <td class="data right">{{NumberFormat data-1.01900-01300}}</td>
    <td class="data right">{{NumberFormat data-1.01900-13A00}}</td>
    <td class="left">19</td>
</tr>
<tr>
    <td class="right">20</td>
    <td colspan="2"> Method II Patients prior to 1/1/2011</td>
    <td class="data right">{{NumberFormat data-1.02000-08A00}}</td>
    <td class="data right">{{NumberFormat data-1.02000-00900}}</td>
    <td class="data right">{{NumberFormat data-1.02000-01000}}</td>
    <td class="data right">{{NumberFormat data-1.02000-01100}}</td>
    <td class="data right">{{NumberFormat data-1.02000-11A00}}</td>
    <td class="data right">{{NumberFormat data-1.02000-01200}}</td>
    <td class="data right">{{NumberFormat data-1.02000-01300}}</td>
    <td class="data right">{{NumberFormat data-1.02000-13A00}}</td>
    <td class="left">20</td>
</tr>
<tr>
    <td class="right">21</td>
    <td colspan="2"> Other Nonreimbursable </td>
    <td class="data right">{{NumberFormat data-1.02100-08A00}}</td>
    <td class="data right">{{NumberFormat data-1.02100-00900}}</td>
    <td class="data right">{{NumberFormat data-1.02100-01000}}</td>
    <td class="data right">{{NumberFormat data-1.02100-01100}}</td>
    <td class="data right">{{NumberFormat data-1.02100-11A00}}</td>
    <td class="data right">{{NumberFormat data-1.02100-01200}}</td>
    <td class="data right">{{NumberFormat data-1.02100-01300}}</td>
    <td class="data right">{{NumberFormat data-1.02100-13A00}}</td>
    <td class="left">21</td>
</tr>
<tr>
    <td class="right">22</td>
    <td colspan="2">  Other Nonreimbursable </td>
    <td class="data right">{{NumberFormat data-1.02200-08A00}}</td>
    <td class="data right">{{NumberFormat data-1.02200-00900}}</td>
    <td class="data right">{{NumberFormat data-1.02200-01000}}</td>
    <td class="data right">{{NumberFormat data-1.02200-01100}}</td>
    <td class="data right">{{NumberFormat data-1.02200-11A00}}</td>
    <td class="data right">{{NumberFormat data-1.02200-01200}}</td>
    <td class="data right">{{NumberFormat data-1.02200-01300}}</td>
    <td class="data right">{{NumberFormat data-1.02200-13A00}}</td>
    <td class="left">22</td>
</tr>
<tr>
    <td class="right">23</td>
    <td colspan="2"> Totals (see instructions)  </td>
    <td class="data right">{{NumberFormat data-1.02300-08A00}}</td>
    <td class="data right">{{NumberFormat data-1.02300-00900}}</td>
    <td class="data right">{{NumberFormat data-1.02300-01000}}</td>
    <td class="data right">{{NumberFormat data-1.02300-01100}}</td>
    <td class="data right">{{NumberFormat data-1.02300-11A00}}</td>
    <td class="data right">{{NumberFormat data-1.02300-01200}}</td>
    <td class="data right">{{NumberFormat data-1.02300-01300}}</td>
    <td class="data right">{{NumberFormat data-1.02300-13A00}}</td>
    <td class="left">23</td>
</tr>
<tr>
    <td colspan="12"> *Transfer the amounts to Wkst. C, col. 2, as appropriate<div> The total of column 1, line 23 must equal the amount on Wkst. A, col. 8, line 27.</div></td>
</tr>
<tr><td colspan="12">FORM CMS-265-11 (12/2011)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4211)</td>
</tr>
<tr>
<td colspan="2" class="border-right">42-312</td>
<td colspan="8"  class="border-right">&nbsp;</td>
<td colspan="2"class="right"colspan="2">Rev. 2</td>
</tr>
 
</tbody>
</table>
</div>