<div class="report">
<table border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
<col width="4%" />
<col width="40%" />
<col width="15%" />
<col width="15%" />
<col width="15%" />
<col width="4%" /> 
</colgroup>
<thead>
<tr>
    <td colspan="2"> COMPUTATION  OF  AVERAGE  COST  PER  TREATMENT<div> ESRD  PPS  BUNDLED PAYMENT</div></td>
    <td>Provider CCN: <span class="data">{{pId}}</span></td>
    <td>
        <div>PERIOD:</div>
        <div>FROM <span class="data">{{year.start}}</span></div>
        <div>TO <span class="data">{{year.end}}</span></div>
    </td>
    <td colspan="2">WORKSHEET C</td>
</tr>
</thead>
<tbody>
    <tr>
        <td colspan="6">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2" rowspan="3">&nbsp;</td>
        <td colspan="3" class="center">TOTAL</td>
        <td rowspan="3">&nbsp;</td>
    </tr>
    <tr>
        <td class="center">NUMBER<div>OF</div><div>TREATMENTS</div></td>
        <td class="center">COSTS<div><span>(Transferred from</span></div><div><span>Wkst. B, col. 13A)</span></div></td>
        <td class="center">AVERAGE COST<div>PER TREATMENT</div><div><span>(col. 2 divided by col. 1)</span></div></td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
    </tr>
    <tr>
        <td class="right">8.01</td>
        <td> Maintenance-Hemo Adult</td>
        <td class="data right">{{NumberFormat data-1.00801-00100}}</td>
        <td class="data right">{{NumberFormat data-1.00801-00200}}</td>
        <td class="data right">{{NumberFormat data-1.00801-00300}}</td>
        <td class="left">8.01</td>
    </tr>
    <tr>
        <td class="right">8.02</td>
        <td> Maintenance-Hemo Pediatric</td>
        <td class="data right">{{NumberFormat data-1.00802-00100}}</td>
        <td class="data right">{{NumberFormat data-1.00802-00200}}</td>
        <td class="data right">{{NumberFormat data-1.00802-00300}}</td>
        <td class="left">8.02</td>
    </tr>
    <tr>
        <td class="right">9.01</td>
        <td> Maintenance-IPD Adult</td>
        <td class="data right">{{NumberFormat data-1.00901-00100}}</td>
        <td class="data right">{{NumberFormat data-1.00901-00200}}</td>
        <td class="data right">{{NumberFormat data-1.00901-00300}}</td>
        <td class="left">9.01</td>
    </tr>
    <tr>
        <td class="right">9.02</td>
        <td> Maintenance-IPD Pediatric</td>
        <td class="data right">{{NumberFormat data-1.00902-00100}}</td>
        <td class="data right">{{NumberFormat data-1.00902-00200}}</td>
        <td class="data right">{{NumberFormat data-1.00902-00300}}</td>
        <td class="left">9.02</td>
    </tr>
    <tr>
        <td class="right">10.01</td>
        <td> Training-Hemo Adult</td>
        <td class="data right">{{NumberFormat data-1.01001-00100}}</td>
        <td class="data right">{{NumberFormat data-1.01001-00200}}</td>
        <td class="data right">{{NumberFormat data-1.01001-00300}}</td>
        <td class="left">10.01</td>
    </tr>
    <tr>
        <td class="right">10.02</td>
        <td> Training-Hemo Pediatric</td>
        <td class="data right">{{NumberFormat data-1.01002-00100}}</td>
        <td class="data right">{{NumberFormat data-1.01002-00200}}</td>
        <td class="data right">{{NumberFormat data-1.01002-00300}}</td>
        <td class="left">10.02</td>
    </tr>
    <tr>
        <td class="right">11.01</td>
        <td> Training-IPD Adult</td>
        <td class="data right">{{NumberFormat data-1.01101-00100}}</td>
        <td class="data right">{{NumberFormat data-1.01101-00200}}</td>
        <td class="data right">{{NumberFormat data-1.01101-00300}}</td>
        <td class="left">11.01</td>
    </tr>
    <tr>
        <td class="right">11.02</td>
        <td> Training-IPD Pediatric</td>
        <td class="data right">{{NumberFormat data-1.01102-00100}}</td>
        <td class="data right">{{NumberFormat data-1.01102-00200}}</td>
        <td class="data right">{{NumberFormat data-1.01102-00300}}</td>
        <td class="left">11.02</td>
    </tr>
    <tr>
        <td class="right">12.01</td>
        <td> Training-CAPD Adult</td>
        <td class="data right">{{NumberFormat data-1.01201-00100}}</td>
        <td class="data right">{{NumberFormat data-1.01201-00200}}</td>
        <td class="data right">{{NumberFormat data-1.01201-00300}}</td>
        <td class="left">12.01</td>
    </tr>
    <tr>
        <td class="right">12.02</td>
        <td> Training-CAPD Pediatric</td>
        <td class="data right">{{NumberFormat data-1.01202-00100}}</td>
        <td class="data right">{{NumberFormat data-1.01202-00200}}</td>
        <td class="data right">{{NumberFormat data-1.01202-00300}}</td>
        <td class="left">12.02</td>
    </tr>
    <tr>
        <td class="right">13.01</td>
        <td> Training-CCPD Adult</td>
        <td class="data right">{{NumberFormat data-1.01301-00100}}</td>
        <td class="data right">{{NumberFormat data-1.01301-00200}}</td>
        <td class="data right">{{NumberFormat data-1.01301-00300}}</td>
        <td class="left">13.01</td>
    </tr>
    <tr>
        <td class="right">13.02</td>
        <td> Training-CCPD Pediatric</td>
        <td class="data right">{{NumberFormat data-1.01302-00100}}</td>
        <td class="data right">{{NumberFormat data-1.01302-00200}}</td>
        <td class="data right">{{NumberFormat data-1.01302-00300}}</td>
        <td class="left">13.02</td>
    </tr>
    <tr>
        <td class="right">14.01</td>
        <td> Home Program-Hemodialysis Adult</td>
        <td class="data right">{{NumberFormat data-1.01401-00100}}</td>
        <td class="data right">{{NumberFormat data-1.01401-00200}}</td>
        <td class="data right">{{NumberFormat data-1.01401-00300}}</td>
        <td class="left">14.01</td>
    </tr>
    <tr>
        <td class="right">14.02</td>
        <td> Home Program-Hemodialysis Pediatric</td>
        <td class="data right">{{NumberFormat data-1.01402-00100}}</td>
        <td class="data right">{{NumberFormat data-1.01402-00200}}</td>
        <td class="data right">{{NumberFormat data-1.01402-00300}}</td>
        <td class="left">14.02</td>
    </tr>
    <tr>
        <td class="right">15.01</td>
        <td> Home Program-IPD Adult</td>
        <td class="data right">{{NumberFormat data-1.01501-00100}}</td>
        <td class="data right">{{NumberFormat data-1.01501-00200}}</td>
        <td class="data right">{{NumberFormat data-1.01501-00300}}</td>
        <td class="left">15.01</td>
    </tr>
    <tr>
        <td class="right">15.02</td>
        <td> Home Program-IPD Pediatric</td>
        <td class="data right">{{NumberFormat data-1.01502-00100}}</td>
        <td class="data right">{{NumberFormat data-1.01502-00200}}</td>
        <td class="data right">{{NumberFormat data-1.01502-00300}}</td>
        <td class="left">15.02</td>
    </tr>
    <tr>
        <td class="right">16.01</td>
        <td> Home Program-CAPD Adult</td>
        <td class="center">Patient Weeks {{NumberFormat data-1.01601-00100}}</td>
        <td class="data right">{{NumberFormat data-1.01601-00200}}</td>
        <td class="data right">{{NumberFormat data-1.01601-00300}}</td>
        <td class="left">16.01</td>
    </tr>
    <tr>
        <td class="right">16.02</td>
        <td> Home Program-CAPD Pediatric</td>
        <td class="center">Patient Weeks {{NumberFormat data-1.01602-00100}}</td>
        <td class="data right">{{NumberFormat data-1.01602-00200}}</td>
        <td class="data right">{{NumberFormat data-1.01602-00300}}</td>
        <td class="left">16.02</td>
    </tr>
    <tr>
        <td class="right">17.01</td>
        <td> Home Program-CCPD Adult</td>
        <td class="center">Patient Weeks {{NumberFormat data-1.01701-00100}}</td>
        <td class="data right">{{NumberFormat data-1.01701-00200}}</td>
        <td class="data right">{{NumberFormat data-1.01701-00300}}</td>
        <td class="left">17.01</td>
    </tr>
    <tr>
        <td class="right">17.02</td>
        <td> Home Program-CCPD Pediatric</td>
        <td class="center">Patient Weeks {{NumberFormat data-1.01702-00100}}</td>
        <td class="data right">{{NumberFormat data-1.01702-00200}}</td>
        <td class="data right">{{NumberFormat data-1.01702-00300}}</td>
        <td class="left">17.02</td>
    </tr>
    <tr>
        <td class="right">18</td>
        <td>Totals(Column 1 - sum of lines 8.01 through 15.02)<div>(Column 2 - sum of lines 8.01 through 17.02)</div></td>
        <td class="data right">{{NumberFormat data-1.01800-00100}}</td>
        <td class="data right">{{NumberFormat data-1.01800-00200}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01800-00300}}</td>
        <td class="left">18</td>
    </tr>
    <tr>
        <td class="right">19</td>
        <td> Total provider treatments <div> (informational only)</div></td>
        <td class="data right">{{NumberFormat data-1.01900-00100}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01900-00200}}</td>
        <td class="data right fillgrey">{{NumberFormat data-1.01900-00300}}</td>
        <td class="left">19</td>
    </tr>
    <tr>
        <td colspan="6">FORM CMS-265-11 (05/2014)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4212)</td>
    </tr>
    <tr>
        <td class="border-right" colspan="2">42-314</td>
        <td class="border-right" colspan="2">&nbsp;</td>
        <td class="left" colspan="2">Rev. 3</td>
    </tr>
</tbody>
</table>
</div>