<div class="report">
<table border="1" width="1200" cellspacing="1" cellpadding="1">
<colgroup>
<col width="4%" />
<col width="25%" />
<col width="10%" />
<col width="10%" />
<col width="10%" />
<col width="10%" />
<col width="10%" />
<col width="10%" />
<col width="10%" />
<col width="10%" />
<col width="10%" />
<col width="10%" />
<col width="10%" />
<col width="10%" />
<col width="10%" />
<col width="10%" />
<col width="4%" /> 
</colgroup>
<thead>
    <tr>
        <td colspan="11"> COMPUTATION  OF  AVERAGE  COST  PER  TREATMENT<div> BASIC  COMPOSITE  COST</div></td>
        <td colspan="2">Provider CCN: <span class="data">{{pId}}</span></td>
        <td colspan="2">
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="2">WORKSHEET D</td>
    </tr>
</thead>
<tbody>
    <tr><td colspan="17">&nbsp;</td></tr>
    <tr>
        <td rowspan="3" colspan="2">&nbsp;</td>
        <td class="center" colspan="3">TOTAL</td>
        <td class="center" colspan="11">MEDICARE</td>
        <td rowspan="3">&nbsp;</td>
    </tr>
    <tr>
        <td class="center">TOTAL<div>NUMBER</div><div>OF</div><div>TREAT-</div><div>MENTS</div></td>
        <td class="center">COSTS<div><span>( transfer from Wkst. B, col. 11A )</span></div></td>
        <td class="center">AVERAGE<div>COST</div><div>OF</div><div>TREAT-</div><div>MENT</div><div><span>( col 2 / col. 1 )</span></div></td>
        <td class="center">NUMBER<div>OF</div><div>TREAT-</div><div>MENTS</div><div><span>( see instructions )</span></div></td>
        <td class="center">NUMBER<div>OF</div><div>TREAT-</div><div>MENTS</div><div><span>( see instructions )</span></div></td>
        <td class="center">NUMBER<div>OF</div><div>TREAT-</div><div>MENTS</div><div><span>( see instructions )</span></div></td>
        <td class="center">TOTAL<div>EXPENSES</div><div><span>( see instructions )</span></div></td>
        <td class="center">AVERAGE<div>PAYMENT</div><div>RATE</div><div><span>( see instructions )</span></div></td>
        <td class="center">AVERAGE<div>PAYMENT</div><div>RATE</div><div><span>( see instructions )</span></div></td>
        <td class="center">AVERAGE<div>PAYMENT</div><div>RATE</div><div><span>( see instructions )</span></div></td>
        <td class="center">TOTAL<div>PAYMENT</div><div>DUE</div><div><span>( col. 4 x col. 6 )</span></div></td>
        <td class="center">TOTAL<div>PAYMENT</div><div>DUE</div><div><span>( col. 4.01 x col. 6.01 )</span></div></td>
        <td class="center">TOTAL<div>PAYMENT</div><div>DUE</div><div><span>( col. 4.02 x col. 6.02 )</span></div></td>
        <td class="center">TOTAL<div>PAYMENT</div><div>DUE</div></td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
        <td class="center">4.01</td>
        <td class="center">4.02</td>
        <td class="center">5</td>
        <td class="center">6</td>
        <td class="center">6.01</td>
        <td class="center">6.02</td>
        <td class="center">7</td>
        <td class="center">7.01</td>
        <td class="center">7.02</td>
        <td class="center">8</td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td> Maintenance-Hemodialysis</td>
        <td class="data center">{{NumberFormat data-1.00100-00100}}</td>
        <td>(line 8.01 and line 8.02)</td>
        <td class="data right">{{NumberFormat data-1.00100-00300}}</td>
        <td class="data">{{NumberFormat data-1.00100-00400}}</td>
        <td class="data">{{NumberFormat data-1.00100-00401}}</td>
        <td class="data">{{NumberFormat data-1.00100-00402}}</td>
        <td class="data right">{{NumberFormat data-1.00100-00500}}</td>
        <td class="data right">{{NumberFormat data-1.00100-00600}}</td>
        <td class="data right">{{NumberFormat data-1.00100-00601}}</td>
        <td class="data right">{{NumberFormat data-1.00100-00602}}</td>
        <td class="data right">{{NumberFormat data-1.00100-00700}}</td>
        <td class="data right">{{NumberFormat data-1.00100-00701}}</td>
        <td class="data right">{{NumberFormat data-1.00100-00702}}</td>
        <td class="data right">{{NumberFormat data-1.00100-00800}}</td>
        <td class="left">1</td>
    </tr>
    <tr>
        <td class="right">2</td>
        <td>  Maintenance-IPD</td>
        <td class="data center">{{NumberFormat data-1.00200-00100}}</td>
        <td>(line 9.01 and line 9.02)</td>
        <td class="data right">{{NumberFormat data-1.00200-00300}}</td>
        <td class="data">{{NumberFormat data-1.00200-00400}}</td>
        <td class="data">{{NumberFormat data-1.00200-00401}}</td>
        <td class="data">{{NumberFormat data-1.00200-00402}}</td>
        <td class="data right">{{NumberFormat data-1.00200-00500}}</td>
        <td class="data right">{{NumberFormat data-1.00200-00600}}</td>
        <td class="data right">{{NumberFormat data-1.00200-00601}}</td>
        <td class="data right">{{NumberFormat data-1.00200-00602}}</td>
        <td class="data right">{{NumberFormat data-1.00200-00700}}</td>
        <td class="data right">{{NumberFormat data-1.00200-00701}}</td>
        <td class="data right">{{NumberFormat data-1.00200-00702}}</td>
        <td class="data right">{{NumberFormat data-1.00200-00800}}</td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td> Training-Hemodialysis</td>
        <td class="data center">{{NumberFormat data-1.00300-00100}}</td>
        <td>(line 10.01 and line 10.02)</td>
        <td class="data right">{{NumberFormat data-1.00300-00300}}</td>
        <td class="data">{{NumberFormat data-1.00300-00400}}</td>
        <td class="data">{{NumberFormat data-1.00300-00401}}</td>
        <td class="data">{{NumberFormat data-1.00300-00402}}</td>
        <td class="data right">{{NumberFormat data-1.00300-00500}}</td>
        <td class="data right">{{NumberFormat data-1.00300-00600}}</td>
        <td class="data right">{{NumberFormat data-1.00300-00601}}</td>
        <td class="data right">{{NumberFormat data-1.00300-00602}}</td>
        <td class="data right">{{NumberFormat data-1.00300-00700}}</td>
        <td class="data right">{{NumberFormat data-1.00300-00701}}</td>
        <td class="data right">{{NumberFormat data-1.00300-00702}}</td>
        <td class="data right">{{NumberFormat data-1.00300-00800}}</td>
        <td class="left">3</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td> Training-IPD</td>
        <td class="data center">{{NumberFormat data-1.00400-00100}}</td>
        <td>(line 11.01 and line 11.02)</td>
        <td class="data right">{{NumberFormat data-1.00400-00300}}</td>
        <td class="data">{{NumberFormat data-1.00400-00400}}</td>
        <td class="data">{{NumberFormat data-1.00400-00401}}</td>
        <td class="data">{{NumberFormat data-1.00400-00402}}</td>
        <td class="data right">{{NumberFormat data-1.00400-00500}}</td>
        <td class="data right">{{NumberFormat data-1.00400-00600}}</td>
        <td class="data right">{{NumberFormat data-1.00400-00601}}</td>
        <td class="data right">{{NumberFormat data-1.00400-00602}}</td>
        <td class="data right">{{NumberFormat data-1.00400-00700}}</td>
        <td class="data right">{{NumberFormat data-1.00400-00701}}</td>
        <td class="data right">{{NumberFormat data-1.00400-00702}}</td>
        <td class="data right">{{NumberFormat data-1.00400-00800}}</td>
        <td class="left">4</td>
    </tr>
    <tr>
        <td class="right">5</td>
        <td> Training-CAPD</td>
        <td class="data center">{{NumberFormat data-1.00500-00100}}</td>
        <td>(line 12.01 and line 12.02)</td>
        <td class="data right">{{NumberFormat data-1.00500-00300}}</td>
        <td class="data">{{NumberFormat data-1.00500-00400}}</td>
        <td class="data">{{NumberFormat data-1.00500-00401}}</td>
        <td class="data">{{NumberFormat data-1.00500-00402}}</td>
        <td class="data right">{{NumberFormat data-1.00500-00500}}</td>
        <td class="data right">{{NumberFormat data-1.00500-00600}}</td>
        <td class="data right">{{NumberFormat data-1.00500-00601}}</td>
        <td class="data right">{{NumberFormat data-1.00500-00602}}</td>
        <td class="data right">{{NumberFormat data-1.00500-00700}}</td>
        <td class="data right">{{NumberFormat data-1.00500-00701}}</td>
        <td class="data right">{{NumberFormat data-1.00500-00702}}</td>
        <td class="data right">{{NumberFormat data-1.00500-00800}}</td>
        <td class="left">5</td>
    </tr>
    <tr>
        <td class="right">6</td>
        <td> Training-CCPD</td>
        <td class="data center">{{NumberFormat data-1.00600-00100}}</td>
        <td>(line 13.01 and line 13.02)</td>
        <td class="data right">{{NumberFormat data-1.00600-00300}}</td>
        <td class="data">{{NumberFormat data-1.00600-00400}}</td>
        <td class="data">{{NumberFormat data-1.00600-00401}}</td>
        <td class="data">{{NumberFormat data-1.00600-00402}}</td>
        <td class="data right">{{NumberFormat data-1.00600-00500}}</td>
        <td class="data right">{{NumberFormat data-1.00600-00600}}</td>
        <td class="data right">{{NumberFormat data-1.00600-00601}}</td>
        <td class="data right">{{NumberFormat data-1.00600-00602}}</td>
        <td class="data right">{{NumberFormat data-1.00600-00700}}</td>
        <td class="data right">{{NumberFormat data-1.00600-00701}}</td>
        <td class="data right">{{NumberFormat data-1.00600-00702}}</td>
        <td class="data right">{{NumberFormat data-1.00600-00800}}</td>
        <td class="left">6</td>
    </tr>
    <tr>
        <td class="right">7</td>
        <td> Home Program-Hemodialysis</td>
        <td class="data center">{{NumberFormat data-1.00700-00100}}</td>
        <td>(line 14.01 and line 14.02)</td>
        <td class="data right">{{NumberFormat data-1.00700-00300}}</td>
        <td class="data">{{NumberFormat data-1.00700-00400}}</td>
        <td class="data">{{NumberFormat data-1.00700-00401}}</td>
        <td class="data">{{NumberFormat data-1.00700-00402}}</td>
        <td class="data right">{{NumberFormat data-1.00700-00500}}</td>
        <td class="data right">{{NumberFormat data-1.00700-00600}}</td>
        <td class="data right">{{NumberFormat data-1.00700-00601}}</td>
        <td class="data right">{{NumberFormat data-1.00700-00602}}</td>
        <td class="data right">{{NumberFormat data-1.00700-00700}}</td>
        <td class="data right">{{NumberFormat data-1.00700-00701}}</td>
        <td class="data right">{{NumberFormat data-1.00700-00702}}</td>
        <td class="data right">{{NumberFormat data-1.00700-00800}}</td>
        <td class="left">7</td>
    </tr>
    <tr>
        <td class="right">8</td>
        <td> Home Program-IPD</td>
        <td class="data center">{{NumberFormat data-1.00800-00100}}</td>
        <td>(line 15.01 and line 15.02)</td>
        <td class="data right">{{NumberFormat data-1.00800-00300}}</td>
        <td class="data">{{NumberFormat data-1.00800-00400}}</td>
        <td class="data">{{NumberFormat data-1.00800-00401}}</td>
        <td class="data">{{NumberFormat data-1.00800-00402}}</td>
        <td class="data right">{{NumberFormat data-1.00800-00500}}</td>
        <td class="data right">{{NumberFormat data-1.00800-00600}}</td>
        <td class="data right">{{NumberFormat data-1.00800-00601}}</td>
        <td class="data right">{{NumberFormat data-1.00800-00602}}</td>
        <td class="data right">{{NumberFormat data-1.00800-00700}}</td>
        <td class="data right">{{NumberFormat data-1.00800-00701}}</td>
        <td class="data right">{{NumberFormat data-1.00800-00702}}</td>
        <td class="data right">{{NumberFormat data-1.00800-00800}}</td>
        <td class="left">8</td>
    </tr>
    <tr>
        <td class="right">9</td>
        <td> Home Program-CAPD</td>
        <td class="center">Patient Weeks <span class="data">{{NumberFormat data-1.00900-00100}}</span></td>
        <td>(line 16.01 and line 16.02)</td>
        <td class="data right">{{NumberFormat data-1.00900-00300}}</td>
        <td class="data">{{NumberFormat data-1.00900-00400}}</td>
        <td class="data">{{NumberFormat data-1.00900-00401}}</td>
        <td class="data">{{NumberFormat data-1.00900-00402}}</td>
        <td class="data right">{{NumberFormat data-1.00900-00500}}</td>
        <td class="data right">{{NumberFormat data-1.00900-00600}}</td>
        <td class="data right">{{NumberFormat data-1.00900-00601}}</td>
        <td class="data right">{{NumberFormat data-1.00900-00602}}</td>
        <td class="data right">{{NumberFormat data-1.00900-00700}}</td>
        <td class="data right">{{NumberFormat data-1.00900-00701}}</td>
        <td class="data right">{{NumberFormat data-1.00900-00702}}</td>
        <td class="data right">{{NumberFormat data-1.00900-00800}}</td>
        <td class="left">9</td>
    </tr>
    <tr>
        <td class="right">10</td>
        <td> Home Program-CCPD</td>
        <td class="center">Patient Weeks <span class="data">{{NumberFormat data-1.01000-00100}}</span></td>
        <td>(line 17.01 and line 17.02)</td>
        <td class="data right">{{NumberFormat data-1.01000-00300}}</td>
        <td class="data">{{NumberFormat data-1.01000-00400}}</td>
        <td class="data">{{NumberFormat data-1.01000-00401}}</td>
        <td class="data">{{NumberFormat data-1.01000-00402}}</td>
        <td class="data right">{{NumberFormat data-1.01000-00500}}</td>
        <td class="data right">{{NumberFormat data-1.01000-00600}}</td>
        <td class="data right">{{NumberFormat data-1.01000-00601}}</td>
        <td class="data right">{{NumberFormat data-1.01000-00602}}</td>
        <td class="data right">{{NumberFormat data-1.01000-00700}}</td>
        <td class="data right">{{NumberFormat data-1.01000-00701}}</td>
        <td class="data right">{{NumberFormat data-1.01000-00702}}</td>
        <td class="data right">{{NumberFormat data-1.01000-00800}}</td>
        <td class="left">10</td>
    </tr>
    <tr>
        <td class="right">11</td>
        <td>Total  (see instructions)</td>
        <td class="data center">{{NumberFormat data-1.01100-00100}}</td>
        <td>(line 17.01 and line 17.02)</td>
        <td class="data right">{{NumberFormat data-1.01100-00300}}</td>
        <td class="data">{{NumberFormat data-1.01100-00400}}</td>
        <td class="data">{{NumberFormat data-1.01100-00401}}</td>
        <td class="data">{{NumberFormat data-1.01100-00402}}</td>
        <td class="data right">{{NumberFormat data-1.01100-00500}}</td>
        <td class="data right">{{NumberFormat data-1.01100-00600}}</td>
        <td class="data right">{{NumberFormat data-1.01100-00601}}</td>
        <td class="data right">{{NumberFormat data-1.01100-00602}}</td>
        <td class="data right">{{NumberFormat data-1.01100-00700}}</td>
        <td class="data right">{{NumberFormat data-1.01100-00701}}</td>
        <td class="data right">{{NumberFormat data-1.01100-00702}}</td>
        <td class="data right">{{NumberFormat data-1.01100-00800}}</td>
        <td class="left">11</td>
    </tr>
    <tr>
        <td colspan="17">FORM CMS-265-11 (05/2014)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4213)</td>
    </tr>
    <tr>
        <td colspan="2" class="border-right">Rev. 3</td>
        <td colspan="13" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">42-315</td>
    </tr>
</tbody>
</table>
</div>