<div class="report">
<table border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
<col width="4%" />
<col width="40%" />
<col width="20%" />
<col width="20%" />
<col width="20%" />
<col width="4%" />
</colgroup>
<thead>
    <tr>
        <td colspan="2"> CALCULATION  OF  BAD  DEBT  REIMBURSEMENT</td>
        <td>Provider CCN: <span class="data">{{pId}}</span></td>
        <td>
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div>
        </td>
        <td colspan="2">WORKSHEET E, PARTS I & II</td>
    </tr>
</thead>
<tbody>
    <tr>
        <td colspan="6">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="6">  PART  I  -  CALCULATION  OF  REIMBURSABLE  BAD  DEBTS  TITLE  XVIII  -  PART  B</td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td colspan="3"> Total Expenses Related to Care of Medicare Beneficiaries (from Wkst. D, col. 5, line 11)</td>
        <td></td>
        <td class="left">1</td>
    </tr>
    <tr>
        <td colspan="6">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="3">&nbsp;</td>
        <td class="center">Column 1</td>
        <td class="center">Column 2</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="right">2</td>
        <td colspan="2"> Total Expenses Related to Care of Medicare Beneficiaries (from Wkst. D, col. 5, line 11)</td>
        <td class="data" >{{NumberFormat data-1.00200-00100}}</td>
        <td class="data" >{{NumberFormat data-1.00200-00200}}</td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td class="right">2.01</td>
        <td colspan="2">  Total payment due net of Part B deductibles (from Wkst. D. col. 7.01, line 11)  (see instructions)</td>
        <td class="data" >{{NumberFormat data-1.00201-00100}}</td>
        <td class="data" >{{NumberFormat data-1.00201-00200}}</td>
        <td class="left">2.01</td>
    </tr>
    <tr>
        <td class="right">2.02</td>
        <td colspan="2">  Total payment due net of Part B deductibles (from Wkst. D. col. 7.02, line 11)  (see instructions)</td>
        <td class="data" >{{NumberFormat data-1.00202-00100}}</td>
        <td class="data" >{{NumberFormat data-1.00202-00200}}</td>
        <td class="left">2.02</td>
    </tr>
    <tr>
        <td class="right">2.03</td>
        <td colspan="2">  Total payment due net of Part B deductibles  (see instructions)</td>
        <td class="data" >{{NumberFormat data-1.00203-00100}}</td>
        <td class="data" >{{NumberFormat data-1.00203-00200}}</td>
        <td class="left">2.03</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td colspan="3"> Outlier payments</td>
        <td class="data" >{{NumberFormat data-1.00300-00100}}</td>
        <td class="left">3</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td class="data fillgrey" colspan="3"></td>
        <td class="data fillgrey">{{NumberFormat data-1.00400-00100}}</td>
        <td class="left">4</td>
    </tr>
    <tr>
        <td class="right">5</td>
        <td colspan="3"> Program payments (80% of line 2.03, column 2)</td>
        <td class="data" >{{NumberFormat data-1.00500-00100}}</td>
        <td class="left">5</td>
    </tr>
    <tr>
        <td class="right">6</td>
        <td colspan="3"> Amount of cost to be recovered from Medicare patients (line 1 minus line 5)</td>
        <td class="data" >{{NumberFormat data-1.00600-00100}}</td>
        <td class="left">6</td>
    </tr>
    <tr>
        <td class="right">7</td>
        <td colspan="2">   Deductibles and coinsurance billed to Medicare Part B patients  (see instructions)</td>
        <td class="data" >{{NumberFormat data-1.00700-00100}}</td>
        <td class="data" >{{NumberFormat data-1.00700-00200}}</td>
        <td class="left">7</td>
    </tr>
    <tr>
        <td class="right">7.01</td>
        <td colspan="2">   Deductibles and coinsurance billed to Medicare Part B patients  (see instructions)</td>
        <td class="data" >{{NumberFormat data-1.00701-00100}}</td>
        <td class="data" >{{NumberFormat data-1.00701-00200}}</td>
        <td class="left">7.01</td>
    </tr>
    <tr>
        <td class="right">7.02</td>
        <td colspan="2">  Deductibles and coinsurance billed to Medicare Part B patients  (see instructions)</td>
        <td class="data" >{{NumberFormat data-1.00702-00100}}</td>
        <td class="data" >{{NumberFormat data-1.00702-00200}}</td>
        <td class="left">7.02</td>
    </tr>
    <tr>
        <td class="right">7.03</td>
        <td colspan="3">  Total deductibles and coinsurance billed to Medicare Part B patients for comparison  (see instructions)</td>
        <td class="data" >{{NumberFormat data-1.00703-00100}}</td>
        <td class="left">7.03</td>
    </tr>
    <tr>
        <td class="right">8</td>
        <td colspan="2">  Bad debts for deductibles and coinsurance net of bad debt recoveries for services rendered prior to 1/1/2011</td>
        <td class="data" >{{NumberFormat data-1.00800-00100}}</td>
        <td class="data" >{{NumberFormat data-1.00800-00200}}</td>
        <td class="left">8</td>
    </tr>
    <tr>
        <td class="right">9</td>
        <td colspan="2">   Transition period 1 (75-25%) bad debts for deductibles and coinsurance net of bad debt recoveries for<div> services rendered on or after 1/1/2011 but before 1/1/2012</div></td>
        <td class="data" >{{NumberFormat data-1.00900-00100}}</td>
        <td class="data" >{{NumberFormat data-1.00900-00200}}</td>
        <td class="left">9</td>
    </tr>
    <tr>
        <td class="right">10</td>
        <td colspan="2">  Transition period 2 (50-50%) bad debts for deductibles and coinsurance net of bad debt recoveries for<div> services rendered on or after 1/1/2012 but before 1/1/2013</div></td>
        <td class="data" >{{NumberFormat data-1.01000-00100}}</td>
        <td class="data" >{{NumberFormat data-1.01000-00200}}</td>
        <td class="left">10</td>
    </tr>
    <tr>
        <td class="right">11</td>
        <td colspan="2">  Transition period 3 (25-75%) bad debts for deductibles and coinsurance net of bad debt recoveries for<div> services rendered on or after 1/1/2013 but before 1/1/2014</div></td>
        <td class="data" >{{NumberFormat data-1.01100-00100}}</td>
        <td class="data" >{{NumberFormat data-1.01100-00200}}</td>
        <td class="left">11</td>
    </tr>
    <tr>
        <td class="right">12</td>
        <td colspan="2"> 100% PPS bad debts for deductibles and coinsurance net of bad debt recoveries (see instructions)</td>
        <td class="data" >{{NumberFormat data-1.01200-00100}}</td>
        <td class="data" >{{NumberFormat data-1.01200-00200}}</td>
        <td class="left">12</td>
    </tr>
    <tr>
        <td class="right">13</td>
        <td colspan="2">  Total bad debts (sum of line 8 through line 12)</td>
        <td class="data" >{{NumberFormat data-1.01300-00100}}</td>
        <td class="data" >{{NumberFormat data-1.01300-00200}}</td>
        <td class="left">13</td>
    </tr>
    <tr>
        <td class="right">14</td>
        <td colspan="3"> Net deductibles and coinsurance billed to Medicare Part B patients (line 7.03 minus line 13, col. 2)</td>
        <td class="data" >{{NumberFormat data-1.01400-00100}}</td>
        <td class="left">14</td>
    </tr>
    <tr>
        <td class="right">15</td>
        <td colspan="3">  Unrecovered from Medicare Part B patients (line 6 minus line 14)  (If line 14 exceeds line 6, do not complete line 16)</td>
        <td class="data" >{{NumberFormat data-1.01500-00100}}</td>
        <td class="left">15</td>
    </tr>
    <tr>
        <td class="right">16</td>
        <td colspan="3"> Reimbursable bad debts  (see instructions)</td>
        <td class="data" >{{NumberFormat data-1.01600-00100}}</td>
        <td class="left">16</td>
    </tr>
    <tr>
        <td class="right">17</td>
        <td colspan="3">  Reimbursable bad debts for dual eligible beneficiaries  (see instructions--informational only)</td>
        <td class="data" >{{NumberFormat data-1.01700-00100}}</td>
        <td class="left">17</td>
    </tr>
    <tr>
        <td class="right">18</td>
        <td colspan="3">  Tentative adjustment</td>
        <td class="data" >{{NumberFormat data-1.01800-00100}}</td>
        <td class="left">18</td>
    </tr>
    <tr>
        <td class="right">19</td>
        <td colspan="3">  Sequestration adjustment amount</td>
        <td class="data" >{{NumberFormat data-1.01900-00100}}</td>
        <td class="left">19</td>
    </tr>
    <tr>
        <td class="right">20</td>
        <td colspan="3"> Balance due provider/program (line 16 minus lines 18 and 19) (Indicate overpayment in parentheses) (see instructions)</td>
        <td class="data" >{{NumberFormat data-1.02000-00100}}</td>
        <td class="left">20</td>
    </tr>
    <tr>
        <td colspan="6">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="6"> PART  II  -  CALCULATION  OF  FACILITY  SPECIFIC  COMPOSITE  COST  PERCENTAGE</td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td colspan="3"> Total allowable expenses (from Wkst. C, col. 2, line 18)</td>
        <td class="data" >{{NumberFormat data-2.00100-00100}}</td>
        <td class="left">1</td>
    </tr>
    <tr>
        <td class="right">2</td>
        <td colspan="3"> Total composite costs (from Wkst. D, col. 2, line 11)</td>
        <td class="data" >{{NumberFormat data-2.00200-00100}}</td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td colspan="3"> Facility specific composite cost percentage (line 2 divided by line 1)</td>
        <td class="data"> {{NumberFormat data-2.00300-00100}} </td>
        <td class="left">3</td>
    </tr>
    <tr>
        <td colspan="6">FORM CMS-265-11 (05/2014)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4214)</td>
    </tr>
    <tr>
        <td colspan="2" class="border-right">42-316</td>
        <td colspan="2" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">Rev. 3</td>
    </tr>
</tbody>
</table>
</div>