<div class="report">
<table border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
<col width="4%" />
<col width="50%" />
<col width="15%" />
<col width="6%" />
<col width="15%" />
<col width="15%" />
<col width="4%" />
</colgroup>
<thead>
    <tr>
        <td colspan="2">ANALYSIS  OF  PAYMENTS  TO  PROVIDERS<div>FOR  SERVICES  RENDERED </div></td>
        <td>Provider CCN: <span class="data">{{pId}}</span></td>
        <td colspan="2">
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="2">WORKSHEET E-1</td>
    </tr>
</thead>
<tbody>
    <tr>
        <td colspan="7"> PART  I  -  TO  BE  COMPLETED  BY  CONTRACTOR</td>
    </tr>
    <tr>
        <td class="center" rowspan="3"colspan="4">Description</td>
        <td class="center" colspan="2">Part B</td>
        <td rowspan="3">&nbsp;</td>
    </tr>
    <tr>
        <td class="center">mm/dd/yyyy</td>
        <td class="center">Amount</td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="right" rowspan="7">1</td>
        <td rowspan="6">List separately each tentative settlement  payment after desk review. Also show  date of each payment.<div> If none, write "NONE," or enter a zero. (1)</div></td>
        <td class="center" rowspan="3">Program<div>to</div><div>Provider</div></td>
        <td>.01</td>
        <td class="data">{{data-1.00101-00100}}</td>
        <td class="data">{{data-1.00101-00200}}</td>
        <td class="left">1.01</td>
    </tr>
    <tr>
        <td>.02</td>
        <td class="data">{{data-1.00102-00100}}</td>
        <td class="data">{{data-1.00102-00200}}</td>
        <td class="left">1.02</td>
    </tr>
    <tr>
        <td>.03</td>
        <td class="data">{{data-1.00103-00100}}</td>
        <td class="data">{{data-1.00103-00200}}</td>
        <td class="left">1.03</td>
    </tr>
    <tr>
        <td class="center" rowspan="3">Provider<div>to</div><div>Program</div></td>
        <td>.50</td>
        <td class="data">{{data-1.00150-00100}}</td>
        <td class="data">{{data-1.00150-00200}}</td>
        <td class="left">1.50</td>
    </tr>
    <tr>
        <td>.51</td>
        <td class="data">{{data-1.00151-00100}}</td>
        <td class="data">{{data-1.00151-00200}}</td>
        <td class="left">1.51</td>
    </tr>
    <tr>
        <td>.52</td>
        <td class="data">{{data-1.00152-00100}}</td>
        <td class="data">{{data-1.00152-00200}}</td>
        <td class="left">1.52</td>
    </tr>
    <tr>
        <td colspan="2"> SUBTOTAL (sum of lines 1.01 - 1.49 minus sum of lines 1.50 - 1.98)<div> (Transfer to Wkst E, Part I, line 18)</div></td>
        <td>.99</td>
        <td class="data fillgrey">{{data-1.00199-00100}}</td>
        <td class="data">{{data-1.00199-00200}}</td>
        <td class="left">1.99</td>
    </tr>
    <tr>
        <td class="right" rowspan="2">2</td>
        <td rowspan="2">Determine net settlement amount (balance  due) based on the cost report. (1)</td>
        <td class="center">Program to provider</td>
        <td>.01</td>
        <td class="data">{{data-1.00201-00100}}</td>
        <td class="data">{{data-1.00201-00200}}</td>
        <td class="left">2.01</td>
    </tr>
    <tr>
        <td class="center">Provider to program</td>
        <td>.50</td>
        <td class="data">{{data-1.00250-00100}}</td>
        <td class="data">{{data-1.00250-00200}}</td>
        <td class="left">2.50</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td colspan="2">Name of Contractor&nbsp;<span class="data">{{data-1.00300-00100}}</span></td>
        <td colspan="3">Contractor Number&nbsp;<span class="data">{{data-1.00300-00200}}</span></td>
        <td class="left">3</td>
    </tr>
    <tr>
        <td colspan="7"> (1) On line 2.50, where an amount is due "Provider to Program," show the amount and date on which the provider agrees to the amount of repayment  even though total repayment is not accomplished until a later date.</td>
    </tr>
    <tr>
        <td colspan="7">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="7"> PART  II  -  TO  BE  COMPLETED  BY  PROVIDER</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td colspan="4">Low volume payment amount  (see instructions)</td>
        <td class="data">{{data-1.00400-00100}}</td>
        <td class="left">4</td>
    </tr>
    <tr>
        <td colspan="7">FORM CMS-265-11 (06/2013)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4215)</td>
    </tr>
    <tr>
        <td colspan="2" class="border-right">Rev 2</td>
        <td colspan="3" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">42-317</td>
    </tr>
</tbody>
</table>
</div>