<div class="report">
<table border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
<col width="4%" />
<col width="50%" />
<col width="15%" />
<col width="15%" />
<col width="15%" />
<col width="4%" />
</colgroup>
<thead>
    <tr>
        <td colspan="2">  BALANCE  SHEET</td>
        <td>Provider CCN: <span class="data">{{pId}}</span></td>
        <td>
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="2">WORKSHEET F</td>
    </tr>
</thead>
<tbody>
    <tr>
        <td colspan="6">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="6">ASSETS  (omit cents)</td>
    </tr>
    <tr>
        <td colspan="4">     CURRENT  ASSETS</td>
        <td class="center">Amount</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td colspan="3"> Cash on hand and in banks</td>
        <td class="data" >{{NumberFormat data-1.00100-00100}}</td>
        <td class="left">1</td>
    </tr>
    <tr>
        <td class="right">2</td>
        <td colspan="3"> Temporary investments</td>
        <td class="data" >{{NumberFormat data-1.00200-00100}}</td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td colspan="3"> Notes receivable</td>
        <td class="data" >{{NumberFormat data-1.00300-00100}}</td>
        <td class="left">3</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td colspan="3"> Accounts receivable</td>
        <td class="data" >{{NumberFormat data-1.00400-00100}}</td>
        <td class="left">4</td>
    </tr>
    <tr>
        <td class="right">5</td>
        <td colspan="3"> Other receivables</td>
        <td class="data" >{{NumberFormat data-1.00500-00100}}</td>
        <td class="left">5</td>
    </tr>
    <tr>
        <td class="right">6</td>
        <td colspan="3"> Less: allowances for uncollectible notes and accounts receivable</td>
        <td class="data" >{{NumberFormat data-1.00600-00100}}</td>
        <td class="left">6</td>
    </tr>
    <tr>
        <td class="right">7</td>
        <td colspan="3"> Inventory</td>
        <td class="data" >{{NumberFormat data-1.00700-00100}}</td>
        <td class="left">7</td>
    </tr>
    <tr>
        <td class="right">8</td>
        <td colspan="3"> Prepaid expenses</td>
        <td class="data" >{{NumberFormat data-1.00800-00100}}</td>
        <td class="left">8</td>
    </tr>
    <tr>
        <td class="right">9</td>
        <td colspan="3"> Other current assets</td>
        <td class="data" >{{NumberFormat data-1.00900-00100}}</td>
        <td class="left">9</td>
    </tr>
    <tr>
        <td class="right">10</td>
        <td colspan="3"> Due from other funds</td>
        <td class="data" >{{NumberFormat data-1.01000-00100}}</td>
        <td class="left">10</td>
    </tr>
    <tr>
        <td class="right">11</td>
        <td colspan="3"> TOTAL  CURRENT  ASSETS  (Sum of lines 1 through 10)</td>
        <td class="data" >{{NumberFormat data-1.01100-00100}}</td>
        <td class="left">11</td>
    </tr>
    <tr>
        <td colspan="4">     FIXED  ASSETS</td>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td class="right">12</td>
        <td colspan="3"> Land</td>
        <td class="data" >{{NumberFormat data-1.01200-00100}}</td>
        <td class="left">12</td>
    </tr>
    <tr>
        <td class="right">13</td>
        <td colspan="3"> Land improvements</td>
        <td class="data" >{{NumberFormat data-1.01300-00100}}</td>
        <td class="left">13</td>
    </tr>
    <tr>
        <td class="right">14</td>
        <td colspan="3"> Less: Accumulated depreciation</td>
        <td class="data" >{{NumberFormat data-1.01400-00100}}</td>
        <td class="left">14</td>
    </tr>
    <tr>
        <td class="right">15</td>
        <td colspan="3">Buildings</td>
        <td class="data" >{{NumberFormat data-1.01500-00100}}</td>
        <td class="left">15</td>
    </tr>
    <tr>
        <td class="right">16</td>
        <td colspan="3"> Less Accumulated depreciation</td>
        <td class="data" >{{NumberFormat data-1.01600-00100}}</td>
        <td class="left">16</td>
    </tr>
    <tr>
        <td class="right">17</td>
        <td colspan="3"> Leasehold improvements</td>
        <td class="data" >{{NumberFormat data-1.01700-00100}}</td>
        <td class="left">17</td>
    </tr>
    <tr>
        <td class="right">18</td>
        <td colspan="3"> Less: Accumulated Amortization</td>
        <td class="data" >{{NumberFormat data-1.01800-00100}}</td>
        <td class="left">18</td>
    </tr>
    <tr>
        <td class="right">19</td>
        <td colspan="3"> Fixed equipment</td>
        <td class="data" >{{NumberFormat data-1.01900-00100}}</td>
        <td class="left">19</td>
    </tr>
    <tr>
        <td class="right">20</td>
        <td colspan="3"> Less: Accumulated depreciation</td>
        <td class="data" >{{NumberFormat data-1.02000-00100}}</td>
        <td class="left">20</td>
    </tr>
    <tr>
        <td class="right">21</td>
        <td colspan="3"> Automobiles and trucks</td>
        <td class="data" >{{NumberFormat data-1.02100-00100}}</td>
        <td class="left">21</td>
    </tr>
    <tr>
        <td class="right">22</td>
        <td colspan="3"> Less: Accumulated depreciation</td>
        <td class="data" >{{NumberFormat data-1.02200-00100}}</td>
        <td class="left">22</td>
    </tr>
    <tr>
        <td class="right">23</td>
        <td colspan="3"> Major movable equipment</td>
        <td class="data" >{{NumberFormat data-1.02300-00100}}</td>
        <td class="left">23</td>
    </tr>
    <tr>
        <td class="right">24</td>
        <td colspan="3"> Less: Accumulated depreciation</td>
        <td class="data" >{{NumberFormat data-1.02400-00100}}</td>
        <td class="left">24</td>
    </tr>
    <tr>
        <td class="right">25</td>
        <td colspan="3">  Minor equipment nondepreciable</td>
        <td class="data" >{{NumberFormat data-1.02500-00100}}</td>
        <td class="left">25</td>
    </tr>
    <tr>
        <td class="right">26</td>
        <td colspan="3">  Other fixed assets</td>
        <td class="data" >{{NumberFormat data-1.02600-00100}}</td>
        <td class="left">26</td>
    </tr>
    <tr>
        <td class="right">27</td>
        <td colspan="3">  TOTAL  FIXED  ASSETS  (Sum of lines 12 through 26)</td>
        <td class="data" >{{NumberFormat data-1.02700-00100}}</td>
        <td class="left">27</td>
    </tr>
    <tr>
        <td colspan="4">     OTHER  ASSETS</td>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td class="right">28</td>
        <td colspan="3"> Investments</td>
        <td class="data" >{{NumberFormat data-1.02800-00100}}</td>
        <td class="left">28</td>
    </tr>
    <tr>
        <td class="right">29</td>
        <td colspan="3"> Deposits on leases</td>
        <td class="data" >{{NumberFormat data-1.02900-00100}}</td>
        <td class="left">29</td>
    </tr>
    <tr>
        <td class="right">30</td>
        <td colspan="3">  Due from owners/officers</td>
        <td class="data" >{{NumberFormat data-1.03000-00100}}</td>
        <td class="left">30</td>
    </tr>
    <tr>
        <td class="right">31</td>
        <td colspan="3"> Other assets</td>
        <td class="data" >{{NumberFormat data-1.03100-00100}}</td>
        <td class="left">31</td>
    </tr>
    <tr>
        <td class="right">32</td>
        <td colspan="3">  TOTAL  OTHER  ASSETS  (Sum of lines 28 through 31)</td>
        <td class="data" >{{NumberFormat data-1.03200-00100}}</td>
        <td class="left">32</td>
    </tr>
    <tr>
        <td class="right">33</td>
        <td colspan="3">  TOTAL  ASSETS  (Sum of lines 11, 27, and 32)</td>
        <td class="data" >{{NumberFormat data-1.03300-00100}}</td>
        <td class="left">33</td>
    </tr>
    <tr>
        <td colspan="6">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="6">LIABILITIES  AND  FUND  BALANCES  (omit cents)</td>
    </tr>
    <tr>
        <td colspan="4">      CURRENT  LIABILITIES</td>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td class="right">34</td>
        <td colspan="3">  Accounts payable</td>
        <td class="data" >{{NumberFormat data-1.03400-00100}}</td>
        <td class="left">34</td>
    </tr>
    <tr>
        <td class="right">35</td>
        <td colspan="3"> Salaries, wages & fees payable</td>
        <td class="data" >{{NumberFormat data-1.03500-00100}}</td>
        <td class="left">35</td>
    </tr>
    <tr>
        <td class="right">36</td>
        <td colspan="3">  Payroll taxes payable</td>
        <td class="data" >{{NumberFormat data-1.03600-00100}}</td>
        <td class="left">36</td>
    </tr>
    <tr>
        <td class="right">37</td>
        <td colspan="3">  Notes & loans payable (Short term)</td>
        <td class="data" >{{NumberFormat data-1.03700-00100}}</td>
        <td class="left">37</td>
    </tr>
    <tr>
        <td class="right">38</td>
        <td colspan="3"> Deferred income</td>
        <td class="data" >{{NumberFormat data-1.03800-00100}}</td>
        <td class="left">38</td>
    </tr>
    <tr>
        <td class="right">39</td>
        <td colspan="3"> Accelerated payments</td>
        <td class="data" >{{NumberFormat data-1.03900-00100}}</td>
        <td class="left">39</td>
    </tr>
    <tr>
        <td class="right">40</td>
        <td colspan="3">  Due to other funds</td>
        <td class="data" >{{NumberFormat data-1.04000-00100}}</td>
        <td class="left">40</td>
    </tr>
    <tr>
        <td class="right">41</td>
        <td colspan="3">  Other current liabilities</td>
        <td class="data" >{{NumberFormat data-1.04100-00100}}</td>
        <td class="left">41</td>
    </tr>
    <tr>
        <td class="right">42</td>
        <td colspan="3">  TOTAL  CURRENT  LIABILITIES  (Sum of lines 34 through 41)</td>
        <td class="data" >{{NumberFormat data-1.04200-00100}}</td>
        <td class="left">42</td>
    </tr>
    <tr>
        <td colspan="4">     LONG  TERM  LIABILITIES</td>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td class="right">43</td>
        <td colspan="3"> Mortgage payable</td>
        <td class="data" >{{NumberFormat data-1.04300-00100}}</td>
        <td class="left">43</td>
    </tr>
    <tr>
        <td class="right">44</td>
        <td colspan="3"> Notes payable</td>
        <td class="data" >{{NumberFormat data-1.04400-00100}}</td>
        <td class="left">44</td>
    </tr>
    <tr>
        <td class="right">45</td>
        <td colspan="3"> Unsecured loans</td>
        <td class="data" >{{NumberFormat data-1.04500-00100}}</td>
        <td class="left">45</td>
    </tr>
    <tr>
        <td class="right">46</td>
        <td colspan="3"> Other long term liabilities</td>
        <td class="data" >{{NumberFormat data-1.04600-00100}}</td>
        <td class="left">46</td>
    </tr>
    <tr>
        <td class="right">47</td>
        <td colspan="3"></td>
        <td class="data" >{{NumberFormat data-1.04700-00100}}</td>
        <td class="left">47</td>
    </tr>
    <tr>
        <td class="right">48</td>
        <td colspan="3"> TOTAL  LONG  TERM  LIABILITIES  (Sum of lines 43 through 47)</td>
        <td class="data" >{{NumberFormat data-1.04800-00100}}</td>
        <td class="left">48</td>
    </tr>
    <tr>
        <td class="right">49</td>
        <td colspan="3"> TOTAL  LIABILITIES  (Sum of lines 42 and 48)</td>
        <td class="data" >{{NumberFormat data-1.04900-00100}}</td>
        <td class="left">49</td>
    </tr>
    <tr>
        <td colspan="4">     CAPITAL  ACCOUNTS</td>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td class="right">50</td>
        <td colspan="3"> FUND BALANCES</td>
        <td class="data" >{{NumberFormat data-1.05000-00100}}</td>
        <td class="left">50</td>
    </tr>
    <tr>
        <td class="right">51</td>
        <td colspan="3"> TOTAL  LIABILITIES  AND  FUND  BALANCES  (Sum of lines 49 and 50)</td>
        <td class="data" >{{NumberFormat data-1.05100-00100}}</td>
        <td class="left">51</td>
    </tr>
    <tr>
        <td colspan="6">( )=contra amount</td>
    </tr>


    <tr>
        <td colspan="6">FORM CMS-265-11 (06/2013)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4216)</td>
    </tr>
    <tr>
        <td colspan="2" class="border-right">Rev. 2</td>
        <td colspan="2" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">42-318</td>
    </tr>
</tbody>
</table>
</div>