<div class="report">
<table border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
<col width="4%" />
<col width="40%" />
<col width="15%" />
<col width="15%" />
<col width="15%" />
<col width="4%" />
</colgroup>
<thead>
    <tr>
        <td colspan="2"> STATEMENT  OF  REVENUES  AND  EXPENSES</td>
        <td>Provider CCN: <span class="data">{{pId}}</span></td>
        <td>
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="2">WORKSHEET F-1</td>
    </tr>
</thead>
<tbody>
    <tr>
        <td colspan="6">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="3">&nbsp;</td>
        <td class="center">Amount</td>
        <td class="center">Amount</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td colspan="2"> Total patient revenues</td>
        <td class="data" >{{NumberFormat data-1.00100-00100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00100-00200}}</td>
        <td class="left">1</td>
    </tr>
    <tr>
        <td class="right">2</td>
        <td colspan="2"> Less:  Allowances and discounts on patients' accounts</td>
        <td class="data" >{{NumberFormat data-1.00200-00100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00200-00200}}</td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td colspan="2"> Net patient revenues (Line 1 minus line 2)</td>
        <td class="data fillgrey">{{NumberFormat data-1.00300-00100}}</td>
        <td class="data" >{{NumberFormat data-1.00300-00200}}</td>
        <td class="left">3</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td colspan="2"> Operating expenses (From Worksheet A, column 6, line 27)</td>
        <td class="data" >{{NumberFormat data-1.00400-00100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00400-00200}}</td>
        <td class="left">4</td>
    </tr>
    <tr>
        <td class="right">5</td>
        <td colspan="2">  Additions to operating expenses (Specify)</td>
        <td class="data" >{{NumberFormat data-1.00500-00100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00500-00200}}</td>
        <td class="left">5</td>
    </tr>
    <tr>
        <td class="right">6</td>
        <td class="data" colspan="2">{{data-1.00600-00000}}</td>
        <td class="data" >{{NumberFormat data-1.00600-00100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00600-00200}}</td>
        <td class="left">6</td>
    </tr>
    <tr>
        <td class="right">7</td>
        <td class="data" colspan="2">{{data-1.00700-00000}}</td>
        <td class="data" >{{NumberFormat data-1.00700-00100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00700-00200}}</td>
        <td class="left">7</td>
    </tr>
    <tr>
        <td class="right">8</td>
        <td class="data" colspan="2">{{data-1.00800-00000}}</td>
        <td class="data" >{{NumberFormat data-1.00800-00100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00800-00200}}</td>
        <td class="left">8</td>
    </tr>
    <tr>
        <td class="right">9</td>
        <td class="data" colspan="2">{{data-1.00900-00000}}</td>
        <td class="data" >{{NumberFormat data-1.00900-00100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00900-00200}}</td>
        <td class="left">9</td>
    </tr>
    <tr>
        <td class="right">10</td>
        <td class="data" colspan="2">{{data-1.01000-00000}}</td>
        <td class="data" >{{NumberFormat data-1.01000-00100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01000-00200}}</td>
        <td class="left">10</td>
    </tr>
    <tr>
        <td class="right">11</td>
        <td colspan="2"> Subtractions from operating expenses (Specify)</td>
        <td class="data" >{{NumberFormat data-1.01100-00100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01100-00200}}</td>
        <td class="left">11</td>
    </tr>
    <tr>
        <td class="right">12</td>
        <td class="data" colspan="2">{{data-1.01200-00000}}</td>
        <td class="data" >{{NumberFormat data-1.01200-00100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01200-00200}}</td>
        <td class="left">12</td>
    </tr>
    <tr>
        <td class="right">13</td>
        <td class="data" colspan="2">{{data-1.01300-00000}}</td>
        <td class="data" >{{NumberFormat data-1.01300-00100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01300-00200}}</td>
        <td class="left">13</td>
    </tr>
    <tr>
        <td class="right">14</td>
        <td class="data" colspan="2">{{data-1.01400-00000}}</td>
        <td class="data" >{{NumberFormat data-1.01400-00100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01400-00200}}</td>
        <td class="left">14</td>
    </tr>
    <tr>
        <td class="right">15</td>
        <td class="data" colspan="2">{{data-1.01500-00000}}</td>
        <td class="data" >{{NumberFormat data-1.01500-00100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01500-00200}}</td>
        <td class="left">15</td>
    </tr>
    <tr>
        <td class="right">16</td>
        <td class="data" colspan="2">{{data-1.01600-00000}}</td>
        <td class="data" >{{NumberFormat data-1.01600-00100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01600-00200}}</td>
        <td class="left">16</td>
    </tr>
    <tr>
        <td class="right">17</td>
        <td colspan="2"> Less total operating expenses (net of lines 4 through 16)</td>
        <td class="data fillgrey">{{NumberFormat data-1.01700-00100}}</td>
        <td class="data" >{{NumberFormat data-1.01700-00200}}</td>
        <td class="left">17</td>
    </tr>
    <tr>
        <td class="right">18</td>
        <td colspan="2"> Net income from services to patients (Line 3 minus line 17)</td>
        <td class="data fillgrey">{{NumberFormat data-1.01800-00100}}</td>
        <td class="data" >{{NumberFormat data-1.01800-00200}}</td>
        <td class="left">18</td>
    </tr>
    <tr>
        <td colspan="3"> Other income:</td>
        <td colspan="2"></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="right">19</td>
        <td colspan="2"> Contributions, donations, bequests, etc.</td>
        <td class="data" >{{NumberFormat data-1.01900-00100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01900-00200}}</td>
        <td class="left">19</td>
    </tr>
    <tr>
        <td class="right">20</td>
        <td colspan="2"> Income from investments</td>
        <td class="data" >{{NumberFormat data-1.02000-00100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.02000-00200}}</td>
        <td class="left">20</td>
    </tr>
    <tr>
        <td class="right">21</td>
        <td colspan="2"> Purchase discounts</td>
        <td class="data" >{{NumberFormat data-1.02100-00100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.02100-00200}}</td>
        <td class="left">21</td>
    </tr>
    <tr>
        <td class="right">22</td>
        <td colspan="2">  Rebates and refunds of expenses</td>
        <td class="data" >{{NumberFormat data-1.02200-00100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.02200-00200}}</td>
        <td class="left">22</td>
    </tr>
    <tr>
        <td class="right">23</td>
        <td colspan="2"> Sale of medical and nursing supplies to other than patients</td>
        <td class="data" >{{NumberFormat data-1.02300-00100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.02300-00200}}</td>
        <td class="left">23</td>
    </tr>
    <tr>
        <td class="right">24</td>
        <td colspan="2"> Sale of durable medical equipment to other than patients</td>
        <td class="data" >{{NumberFormat data-1.02400-00100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.02400-00200}}</td>
        <td class="left">24</td>
    </tr>
    <tr>
        <td class="right">25</td>
        <td colspan="2"> Sale of drugs to other than patients</td>
        <td class="data" >{{NumberFormat data-1.02500-00100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.02500-00200}}</td>
        <td class="left">25</td>
    </tr>
    <tr>
        <td class="right">26</td>
        <td colspan="2"> Sale of medical records and abstracts</td>
        <td class="data" >{{NumberFormat data-1.02600-00100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.02600-00200}}</td>
        <td class="left">26</td>
    </tr>
    <tr>
        <td class="right">27</td>
        <td colspan="2"> Other revenues (Specify)</td>
        <td class="data" >{{NumberFormat data-1.02700-00100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.02700-00200}}</td>
        <td class="left">27</td>
    </tr>
    <tr>
        <td class="right">28</td>
        <td class="data" colspan="2">{{data-1.02800-00000}}</td>
        <td class="data" >{{NumberFormat data-1.02800-00100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.02800-00200}}</td>
        <td class="left">28</td>
    </tr>
    <tr>
        <td class="right">29</td>
        <td class="data" colspan="2">{{data-1.02900-00000}}</td>
        <td class="data" >{{NumberFormat data-1.02900-00100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.02900-00200}}</td>
        <td class="left">29</td>
    </tr>
    <tr>
        <td class="right">30</td>
        <td class="data" colspan="2">{{data-1.03000-00000}}</td>
        <td class="data" >{{NumberFormat data-1.03000-00100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.03000-00200}}</td>
        <td class="left">30</td>
    </tr>
    <tr>
        <td class="right">31</td>
        <td class="data" colspan="2">{{data-1.03100-00000}}</td>
        <td class="data" >{{NumberFormat data-1.03100-00100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.03100-00200}}</td>
        <td class="left">31</td>
    </tr>
    <tr>
        <td class="right">32</td>
        <td colspan="2"> Total Other Income (Sum of lines 19 through 31)</td>
        <td class="data fillgrey">{{NumberFormat data-1.03200-00100}}</td>
        <td class="data" >{{NumberFormat data-1.03200-00200}}</td>
        <td class="left">32</td>
    </tr>
    <tr>
        <td class="right">33</td>
        <td colspan="2"> Net Income or Loss for the period (Line 18 plus line 32)</td>
        <td class="data fillgrey">{{NumberFormat data-1.03300-00100}}</td>
        <td class="data" >{{NumberFormat data-1.03300-00200}}</td>
        <td class="left">33</td>
    </tr>
    <tr>
        <td colspan="6">FORM CMS-265-11 (06/2013)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4216)</td>
    </tr>
    <tr>
        <td colspan="2" class="border-right">Rev. 2</td>
        <td colspan="2" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">42-319</td>
    </tr>
</tbody>
</table>
</div>