<div class="report">
<table border="1" width="100%" cellspacing="1" cellpadding="1"><colgroup><col width="3%" /> <col width="4%" /> <col width="10%" /> <col width="25%" /> <col width="20%" /> <col width="12%" /> <col width="2%" /> <col width="10%" /> <col width="3%" /> </colgroup>
<thead>
<tr>
<td colspan="6">
<div>This report is required by law (42 USC 1395g; 42 CFR 413.20(b)). Failure to report can result in all interim</div>
<div>payments made since the beginning of the cost reporting period being deemed overpayments (42 USC 1395g).</div>
</td>
<td colspan="3">FORM APPROVED
<div>OMB NO: 0938-0236</div>
<div>EXPIRES: 09/30/2020</div>
</td>
</tr>
<tr>
<td colspan="4">
<div>INDEPENDENT RENAL DIALYSIS FACILITY</div>
<div>COST REPORT CERTIFICATION</div>
</td>
<td>Provider CCN: <span class="data">{{pId}}</span></td>
<td>
<div>PERIOD:</div>
<div>FROM <span class="data">{{year.start}}</span></div>
<div>TO <span class="data">{{year.end}}</span></div>
</td>
<td colspan="3">WORKSHEET S</td>
</tr>
</thead>
<tbody>
<tr>
<td colspan="9">PART I - COST REPORT STATUS</td>
</tr>
<tr>
<td colspan="3">Provider Use Only</td>
<td colspan="6">1. [<span class="data">{{data-1.00100-00100}}</span> ] Electronically filed cost report<span class="tab">Date (mm/dd/yyyy): <span class="data">{{data-1.00100-00200}}</span> </span><span class="tab">Time: <span class="data">{{data-1.00100-00300}}</span></span>
<div>2. [<span class="data">{{data-1.00200-00100}}</span> ] Manually submitted cost report
<div>3. If this is an amended report enter the number of times the provider resubmitted this cost report. <span class="data">{{data-1.00300-00100}}</span></div>
</div>
</td>
</tr>
<tr>
<td colspan="3">Contractor Use Only</td>
<td colspan="1">4. [ <span class="data">{{data-1.00400-00100}}</span>] Cost Report Status
<div>(1) As Submitted</div>
<div>(2) Settled without Audit</div>
<div>(3) Settled with Audit</div>
<div>(4) Reopened</div>
<div>(5) Amended</div>
</td>
<td colspan="5">5. Date Received:&nbsp;<span class="data">{{data-1.00500-00100}}</span>
<div>6. Contractor No.&nbsp;<span class="data">{{data-1.00600-00100}}</span></div>
<div>7. [<span class="data">{{data-1.00700-00100}}</span> ] First Cost Report for this Provider CCN</div>
<div>8. [<span class="data">{{data-1.00800-00100}}</span> ] Last Cost Report for this Provider CCN</div>
<div>9. NPR Date:&nbsp; <span class="data">{{data-1.00900-00100}}</span></div>
<div>10. If line 4, column 1 is "4", enter number of times reopened&nbsp; <span class="data">{{data-1.01000-00100}}</span></div>
<div>11. Contractor Vendor Code &nbsp;<span class="data">{{data-1.01100-00100}}</span></div>
</td>
</tr>
<tr>
<td colspan="9">PART II - General</td>
</tr>
<tr>
<td>1</td>
<td colspan="7">Name:&nbsp;<span class="data">{{data-2.00100-00100}}</span></td>
<td>1</td>
</tr>
<tr>
<td>2</td>
<td colspan="4">Street:&nbsp;<span class="data">{{data-2.00200-00100}}</span></td>
<td colspan="3">P.O.Box:&nbsp;<span class="data">{{data-2.00200-00200}}</span></td>
<td>2</td>
</tr>
<tr>
<td>3</td>
<td colspan="3">City:&nbsp;<span class="data">{{data-2.00300-00100}}</span></td>
<td colspan="1">State:&nbsp;<span class="data">{{data-2.00300-00200}}</span></td>
<td colspan="3">Zip Code:&nbsp;<span class="data">{{data-2.00300-00300}}</span></td>
<td>3</td>
</tr>
<tr>
<td>4</td>
<td colspan="3">County:&nbsp;<span class="data">{{data-2.00400-00100}}</span></td>
<td colspan="1">CBSA:&nbsp;<span class="data">{{data-2.00400-00200}}</span></td>
<td class="fillgrey" colspan="3">&nbsp;<span class="data">{{data-2.00400-00300}}</span></td>
<td>4</td>
</tr>
<tr>
<td>5</td>
<td colspan="3">Provider CCN:&nbsp;<span class="data">{{data-2.00500-00100}}</span></td>
<td class="fillgrey" colspan="4">&nbsp;<span class="data">{{data-2.00500-00200}}</span></td>
<td>5</td>
</tr>
<tr>
<td>6</td>
<td colspan="3">Date Certified: &nbsp;<span class="data">{{data-2.00600-00100}}</span></td>
<td class="fillgrey" colspan="4">&nbsp;<span class="data">{{data-2.00600-00200}}</span></td>
<td>6</td>
</tr>
<tr>
<td>7</td>
<td colspan="4">Contact Person Name :&nbsp;<span class="data">{{data-2.00700-00100}}</span></td>
<td colspan="3">Phone Number:&nbsp;<span class="data">{{data-2.00700-00200}}</span></td>
<td>7</td>
</tr>
<tr>
<td>8</td>
<td colspan="3">Cost reporting period (mm/dd/yyyy)</td>
<td>From:&nbsp;<span class="data">{{data-2.00800-00100}}</span></td>
<td colspan="2">To:&nbsp;<span class="data">{{data-2.00800-00200}}</span></td>
<td class="fillgrey">&nbsp;<span class="data">{{data-2.00800-00300}}</span></td>
<td>8</td>
</tr>
<tr>
<td colspan="5">&nbsp;</td>
<td class="center" colspan="2">1</td>
<td class="center" >2</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>9</td>
<td colspan="4">Type of control (see instructions)</td>
<td class="data center" colspan="2">{{data-2.00900-00100}}</td>
<td class="data center">{{data-2.00900-00200}}</td>
<td>9</td>
</tr>
<tr>
<td>10</td>
<td colspan="6">Is this facility approved as a low-volume facility for this cost reporting period? Enter "Y" for yes or "N" for no.</td>
<td class="data center">{{data-2.01000-00100}}</td>
<td>10</td>
</tr>
<tr>
<td colspan="5">&nbsp;</td>
<td class="center" colspan="2">1</td>
<td class="center" >2</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>11</td>
<td colspan="4">Type of physicians' reimbursement (see instructions)</td>
<td class="data center" colspan="2">{{data-2.01100-00100}}</td>
<td class="data cenetr">{{data-2.01100-00200}}</td>
<td>11</td>
</tr>
<tr>
<td>12</td>
<td colspan="6">Was this facility previously certified as a hospital-based unit? Enter "Y" for yes or "N" for no.</td>
<td class="data center">{{data-2.01200-00100}}</td>
<td>12</td>
</tr>
<tr>
<td>13</td>
<td colspan="6">Did your facility elect 100% PPS effective January 1, 2011? Enter "Y" for yes or "N" for no. (If certified on/after 1/1/2011, see instructions.)</td>
<td class="data center">{{data-2.01300-00100}}</td>
<td>13</td>
</tr>
<tr>
<td colspan="5">&nbsp;</td>
<td class="center" colspan="2">1</td>
<td class="center">2</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>14</td>
<td colspan="4">If you responded "N" to line 13, enter in column 1 the year of transition for periods prior to January 1 and14 enter in column 2 the year of transition for periods after December 31. (see instructions)</td>
<td class="data center" colspan="2">{{data-2.01400-00100}}</td>
<td class="data center">{{data-2.01400-00200}}</td>
<td>14</td>
</tr>
<tr>
<td>15</td>
<td colspan="6">Malpractice premiums</td>
<td class="data right">{{NumberFormat data-2.01500-00100}}</td>
<td>15</td>
</tr>
<tr>
<td>16</td>
<td colspan="6">Malpractice paid losses</td>
<td class="data right">{{NumberFormat data-2.01600-00100}}</td>
<td>16</td>
</tr>
<tr>
<td>17</td>
<td colspan="6">Malpractice self insurance</td>
<td class="data right">{{NumberFormat data-2.01700-00100}}</td>
<td>17</td>
</tr>
<tr>
<td>18</td>
<td colspan="6">Are malpractice premiums and/or paid losses reported in other than the Administrative and General cost center? Enter "Y" for yes or "N" for no.18 If yes, submit a supporting schedule listing cost centers and amounts contained therein.</td>
<td class="data center">{{data-2.01800-00100}}</td>
<td>18</td>
</tr>
<tr>
<td>19</td>
<td colspan="6">Are you part of a chain organization? Enter "Y" for yes or "N" for no. If yes, complete lines 20 through 22.</td>
<td class="data center">{{NumberFormat data-2.01900-00100}}</td>
<td>19</td>
</tr>
<tr>
<td>20</td>
<td colspan="7">Name:&nbsp;<span class="data">{{data-2.02000-00100}}</span></td>
<td>20</td>
</tr>
<tr>
<td>21</td>
<td colspan="4">Street:&nbsp;<span class="data">{{data-2.02100-00100}}</span></td>
<td colspan="3">P.O.Box:&nbsp;<span class="data">{{data-2.02100-00200}}</span></td>
<td>21</td>
</tr>
<tr>
<td>22</td>
<td colspan="3">City:&nbsp;<span class="data">{{data-2.02200-00100}}</span></td>
<td colspan="1">State:&nbsp;<span class="data">{{data-2.02200-00200}}</span></td>
<td colspan="3">Zip Code:&nbsp;<span class="data">{{data-2.02200-00300}}</span></td>
<td>22</td>
</tr>
<tr>
<td colspan="9">PART III - CERTIFICATION BY OFFICER OR ADMINISTRATOR</td>
</tr>
<tr >
  <td class="border-bottom" colspan="9"> MISREPRESENTATION OR FALSIFICATION OF ANY INFORMATION CONTAINED IN THIS COST REPORT MAY BE PUNISHABLE BY CRIMINAL, CIVIL, AND ADMINISTRATIVE ACTION, FINE AND/OR IMPRISONMENT UNDER FEDERAL LAW. FURTHERMORE, IF SERVICES IDENTIFIED IN THIS REPORT WERE PROVIDED THROUGH THE PAYMENT DIRECTLY OR INDIRECTLY OF A KICKBACK OR WERE OTHERWISE ILLEGAL, CRIMINAL, CIVIL, AND ADMINISTRATIVE ACTION, FINES AND/OR IMPRISONMENT MAY RESULT</td>
</tr>
<tr>
  <td class="border-right"></td>
<td colspan="7" class="border-right"> <div> &nbsp;</div><div>
 CERTIFICATION BY OFFICER OR ADMINISTRATOR OF PROVIDER</div><div> &nbsp;</div>I HEREBY CERTIFY that I have read the above certification statement and that I have examined the accompanying electronically filed or manually submitted cost reportand the Balance Sheet and Statement of Revenue and Expenses prepared by _________________________{Provider Name(s) and Provider CCN(s)} for the cost reportingperiod beginning _______________ and ending _______________ and that to the best of my knowledge and belief, this report and statement are true, correct, complete andprepared from the books and records of the provider in accordance with applicable instructions, except as noted. I further certify that I am familiar with the laws and regulations regarding the provision of health care services, and that the services identified in this cost report were provided in compliance with such laws and regulations
  <div>
  &nbsp;
  </div>
  <div>
   OFFICER OR ADMINISTRATOR OF PROVIDER
  </div>
  <div class="tab">
    Printed Name___________________________________________&nbsp;Signed________________________________________________
  </div>
   <div class="tab">
    Title__________________________________________________Date__________________________________________________
  </div>
  </td>
  <td></td>
 </tr>
<tr>
<tr>
  <td class="border-top" colspan="9"> According to the Paperwork Reduction Act of 1995, no persons are required to respond to a collection of information unless it displays a valid OMB control number. The OMB control number for this information collection is 0938-0236. The time required to complete this information collection is estimated 65 hours per response, including the time to review instructions, search existing data resources, gather the data needed, and complete and review the information collection. If you have concerning comments concerning the accuracy of the time estimate(s) or suggestions for improving this form, please write to:  CMS, 7500 Security Boulevard, Attn: PRA Report Clearance Officer, Mail Stop C4-26-05, Baltimore, Maryland 21244-1850. Please do not send applications, claims, payments, medical records, or any other documents containing sensitive information to the PRA Reports Clearance Office. Please note that any correspondence not pertaining to the information collection burden approved under the associated OMB control number listed on this form will not be reviewed, forwarded, or retained. If you have any regarding where to submit your documents, please contact 1-800-Medicare.</td>
</tr>
<td colspan="9">FORM CMS-265-11 (06/2013) (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTIONS 4204, 4204.1 AND 4204.2)</td>
</tr>
<tr>
<td colspan="2">Rev. 2</td>
<td colspan="5">&nbsp;</td>
<td colspan="2">42-303</td>
</tr>
</tbody>
</table>
</div>