<div class="report">
<table border="1" width="100%" cellspacing="1" cellpadding="1">
  <colgroup> 
      <col width="6%" /> 
      <col width="4%" />
      <col width="50%" /> 
      <col width="20%" /> 
      <col width="20%" /> 
      <col width="20%" /> 
      <col width="20%" /> 
      <col width="6%" /> 
  </colgroup>
  <thead>
    <tr>
      <td colspan="4">
        <div>INDEPENDENT RENAL DIALYSIS FACILITY</div>
        <div>STATISTICAL DATA</div>
      </td>
      <td>Provider CCN: <span class="data">{{pId}}</span></td>
      <td>
        <div>PERIOD:</div>
        <div>FROM <span class="data">{{year.start}}</span></div>
        <div>TO <span class="data">{{year.end}}</span></div>
      </td>
      <td colspan="3">WORKSHEET S-1</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="9">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="9">RENAL DIALYSIS STATISTICS</td>
    </tr>
    <tr>
      <td colspan="3" rowspan="3">&nbsp;</td>
      <td colspan="2" align="center">OUTPATIENT</td>
      <td colspan="2" align="center">TRAINING</td>
      <td rowspan="3">&nbsp;</td>
    </tr>
    <tr>
      <td align="center">HEMODIALYSIS</td>
      <td align="center">PERITONEAL DIALYSIS</td>
      <td align="center">HEMODIALYSIS</td>
      <td align="center">PERITONEAL DIALYSIS</td>
    </tr>
    <tr>
      <td align="center">1</td>
      <td align="center">2</td>
      <td align="center">1</td>
      <td align="center">2</td>
    </tr>
    <tr>
      <td>1</td>
      <td colspan="2">Number of treatments not billed to Medicare and furnished directly</td>
      <td class="data right">{{NumberFormat data-1.00100-00100}}</td>
      <td class="data right">{{NumberFormat data-1.00100-00200}}</td>
      <td class="data right">{{NumberFormat data-1.00100-00300}}</td>
      <td class="data right">{{NumberFormat data-1.00100-00400}}</td>
      <td>1</td>
    </tr>
    <tr>
      <td>2</td>
      <td colspan="2">Number of treatments not billed to Medicare and furnished under arrangements</td>
      <td class="data right">{{NumberFormat data-1.00200-00100}}</td>
      <td class="data right">{{NumberFormat data-1.00200-00200}}</td>
      <td class="data right">{{NumberFormat data-1.00200-00300}}</td>
      <td class="data right">{{NumberFormat data-1.00200-00400}}</td>
      <td>2</td>
    </tr>
    <tr>
      <td>3</td>
      <td colspan="2">Number of patients currently in dialysis program</td>
      <td class="data right">{{NumberFormat data-1.00300-00100}}</td>
      <td class="data right">{{NumberFormat data-1.00300-00200}}</td>
      <td class="data right">{{NumberFormat data-1.00300-00300}}</td>
      <td class="data right">{{NumberFormat data-1.00300-00400}}</td>
      <td>3</td>
    </tr>
    <tr>
      <td>4</td>
      <td colspan="2">Average times per week patient receives dialysis</td>
      <td class="data right">{{NumberFormat data-1.00400-00100}}</td>
      <td class="data right">{{NumberFormat data-1.00400-00200}}</td>
      <td class="data right">{{NumberFormat data-1.00400-00300}}</td>
      <td class="data right">{{NumberFormat data-1.00400-00400}}</td>
      <td>4</td>
    </tr>
    <tr>
      <td>5</td>
      <td colspan="2">Number of days in an average week for patient dialysis treatments</td>
      <td class="data right">{{NumberFormat data-1.00500-00100}}</td>
      <td class="data right">{{NumberFormat data-1.00500-00200}}</td>
      <td class="data right">{{NumberFormat data-1.00500-00300}}</td>
      <td class="data right">{{NumberFormat data-1.00500-00400}}</td>
      <td>5</td>
    </tr>
    <tr>
      <td>6</td>
      <td colspan="2">Average time of patient dialysis treatment including set up time</td>
      <td class="data right">{{NumberFormat data-1.00600-00100}}</td>
      <td class="data right">{{NumberFormat data-1.00600-00200}}</td>
      <td class="data right">{{NumberFormat data-1.00600-00300}}</td>
      <td class="data right">{{NumberFormat data-1.00600-00400}}</td>
      <td>6</td>
    </tr>
    <tr>
      <td>7</td>
      <td colspan="2">Number of machines regularly available for use</td>
      <td class="data right">{{NumberFormat data-1.00700-00100}}</td>
      <td class="data right">{{NumberFormat data-1.00700-00200}}</td>
      <td class="data right">{{NumberFormat data-1.00700-00300}}</td>
      <td class="data right">{{NumberFormat data-1.00700-00400}}</td>
      <td>7</td>
    </tr>
    <tr>
      <td>8</td>
      <td colspan="2">Number of standby machines</td>
      <td class="data right">{{NumberFormat data-1.00800-00100}}</td>
      <td class="data right">{{NumberFormat data-1.00800-00200}}</td>
      <td class="data right">{{NumberFormat data-1.00800-00300}}</td>
      <td class="data right">{{NumberFormat data-1.00800-00400}}</td>
      <td>8</td>
    </tr>
    <tr>
      <td>9</td>
      <td colspan="2">Number of shifts in typical week during regular reporting period</td>
      <td class="data right">{{NumberFormat data-1.00900-00100}}</td>
      <td class="data right">{{NumberFormat data-1.00900-00200}}</td>
      <td class="data right">{{NumberFormat data-1.00900-00300}}</td>
      <td class="data right">{{NumberFormat data-1.00900-00400}}</td>
      <td>9</td>
    </tr>
    <tr>
        <td>10</td>
        <td colspan="2">Hours per shift in typical week during regular reporting period</td>
        <td class="data right fillgrey"></td>
        <td class="data right fillgrey"></td>
        <td class="data right fillgrey"></td>
        <td class="data right fillgrey"></td>
        <td>10</td>
    </tr>
    <tr>
        <td rowspan="3">&nbsp;</td>
        <td>.01</td>
        <td>First shift;</td>
        <td class="data right">{{NumberFormat data-1.01001-00100}}</td>
        <td class="data right">{{NumberFormat data-1.01001-00200}}</td>
        <td class="data right">{{NumberFormat data-1.01001-00300}}</td>
        <td class="data right">{{NumberFormat data-1.01001-00400}}</td>
        <td>.01</td>
    </tr>
    <tr>
      <td>.02</td>
      <td>Second shift;</td>
      <td class="data right">{{NumberFormat data-1.01002-00100}}</td>
      <td class="data right">{{NumberFormat data-1.01002-00200}}</td>
      <td class="data right">{{NumberFormat data-1.01002-00300}}</td>
      <td class="data right">{{NumberFormat data-1.01002-00400}}</td>
      <td>.02</td>
    </tr>
    <tr>
      <td>.03</td>
      <td>Third shift;</td>
      <td class="data right">{{NumberFormat data-1.01003-00100}}</td>
      <td class="data right">{{NumberFormat data-1.01003-00200}}</td>
      <td class="data right">{{NumberFormat data-1.01003-00300}}</td>
      <td class="data right">{{NumberFormat data-1.01003-00400}}</td>
      <td>.03</td>
    </tr>
    <tr>
      <td>11</td>
      <td colspan="2"> Number of treatments provided</td>
      <td class="data right fillgrey"></td>
      <td class="data right fillgrey"></td>
      <td class="data right fillgrey"></td>
      <td class="data right fillgrey"></td>
      <td>11</td>
    </tr>
    <tr>
      <td rowspan="5">&nbsp;</td>
      <td>.01</td>
      <td> One (1) time per week</td>
      <td class="data right">{{NumberFormat data-1.01101-00100}}</td>
      <td class="data right">{{NumberFormat data-1.01101-00200}}</td>
      <td class="data right">{{NumberFormat data-1.01101-00300}}</td>
      <td class="data right">{{NumberFormat data-1.01101-00400}}</td>
      <td>.01</td>
    </tr>
    <tr>
      <td>.02</td>
      <td> Two (2) times per week</td>
      <td class="data right">{{NumberFormat data-1.01102-00100}}</td>
      <td class="data right">{{NumberFormat data-1.01102-00200}}</td>
      <td class="data right">{{NumberFormat data-1.01102-00300}}</td>
      <td class="data right">{{NumberFormat data-1.01102-00400}}</td>
      <td>.02</td>
    </tr>
    <tr>
      <td>.03</td>
      <td> Three (3) times per week</td>
      <td class="data right">{{NumberFormat data-1.01103-00100}}</td>
      <td class="data right">{{NumberFormat data-1.01103-00200}}</td>
      <td class="data right">{{NumberFormat data-1.01103-00300}}</td>
      <td class="data right">{{NumberFormat data-1.01103-00400}}</td>
      <td>.03</td>
    </tr>
    <tr>
      <td>.04</td>
      <td>  More than three  (3) times per week</td>
      <td class="data right">{{NumberFormat data-1.01104-00100}}</td>
      <td class="data right">{{NumberFormat data-1.01104-00200}}</td>
      <td class="data right">{{NumberFormat data-1.01104-00300}}</td>
      <td class="data right">{{NumberFormat data-1.01104-00400}}</td>
      <td>.04</td>
    </tr>
    <tr>
      <td>.05</td>
      <td> Total</td>
      <td class="data right">{{NumberFormat data-1.01105-00100}}</td>
      <td class="data right">{{NumberFormat data-1.01105-00200}}</td>
      <td class="data right">{{NumberFormat data-1.01105-00300}}</td>
      <td class="data right">{{NumberFormat data-1.01105-00400}}</td>
      <td>.05</td>
    </tr>
    <tr>
      <td rowspan="2" colspan="4"></td>
      <td class="center">Type of Dialyzers</td>
      <td class="center">Dialyzer Reuse Count</td>
      <td class="center">Other Dialyzers</td>
      <td rowspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td class="center">1</td>
      <td class="center">2</td>
      <td class="center">3</td>
    </tr>
    <tr>
      <td>12</td>
      <td colspan="3"> Column 1:  Type of dialyzers used (see instructions)
        <div> Column 2:  Number of times dialyzers are reused (see instructions)</div><div>
        Column 3:  If column 1 is "Other," enter type of dialyzer used
        </div></td>
      <td class="data center">{{data-1.01200-00100}}</td>
      <td class="data right">{{NumberFormat data-1.01200-00200}}</td>
      <td class="data center">{{data-1.01200-00300}}</td>
      <td>12</td>
    </tr>
    <tr>
      <td>13</td>
      <td colspan="3"> Number of back-up sessions furnished to home patients (see instructions) </td>
      <td class="data center">{{data-1.01300-00100}}</td>
      <td class="data right">{{NumberFormat data-1.01300-00200}}</td>
      <td class="data center">{{data-1.01300-00300}}</td>
      <td>13</td>
    </tr>
    <tr>
      <td colspan="9">&nbsp;</td>
    </tr>
    <tr>
      <td>14</td>
      <td colspan="5"> Number of units of Epoetin furnished during cost reporting period</td>
      <td class="data right">{{NumberFormat data-1.01400-00100}}</td>
      <td>14</td>
    </tr>
    <tr>
      <td>15</td>
      <td colspan="5"> Number of units of Aranesp furnished during cost reporting period</td>
      <td class="data right">{{NumberFormat data-1.01500-00100}}</td>
      <td>15</td>
    </tr>
    <tr>
      <td colspan="9">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="5">&nbsp;</td>
      <td class="center">1</td>
      <td class="center">2</td>
      <td class="data right"></td>
    </tr>
    <tr>
      <td>15.01</td>
      <td colspan="4"> ESA and units furnished to patients during the cost reporting period  (see instructions)</td>
      <td class="data right">{{data-1.01501-00100}}</td>
      <td class="data right">{{data-1.01501-00200}}</td>
      <td>15.01</td>
    </tr>
    <tr>
      <td colspan="9">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="9"> TRANSPLANT  STATISTICS</td>
    </tr>
    <tr>
      <td>16</td>
      <td colspan="5">  Number of patients awaiting transplants </td>
      <td class="data right">{{NumberFormat data-1.01600-00100}}</td>
      <td>16</td>
    </tr>
    <tr>
      <td>17</td>
      <td colspan="5">  Number of patients who received transplants </td>
      <td class="data right">{{NumberFormat data-1.01700-00100}}</td>
      <td>17</td>
    </tr>
    <tr>
      <td colspan="9">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="9"> HOME  PROGRAM</td>
    </tr>
    <tr>
      <td>18</td>
      <td colspan="5"> Number of patients commencing home dialysis training during this period </td>
      <td class="data right">{{NumberFormat data-1.01800-00100}}</td>
      <td>18</td>
    </tr>
    <tr>
      <td>19</td>
      <td colspan="5"> Number of patients currently in home program</td>
        <td class="data right">{{NumberFormat data-1.01800-00100}}</td>
      <td>19</td>
    </tr>
      
    <tr>
      <td rowspan="2" colspan="4"></td>
      <td class="center">Type of Dialyzers</td>
      <td class="center">Dialyzer Reuse Count</td>
      <td class="center">Other Dialyzers</td>
      <td rowspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td class="center">1</td>
      <td class="center">2</td>
      <td class="center">3</td>
    </tr>
    <tr>
      <td>20</td>
      <td colspan="3">  Column 1:  Type of dialyzers used (see instructions)
        <div> Column 2:  Number of times dialyzers were reused (see instructions)</div><div>
          Column 3:  If column 1 is "Other," enter type of dialyzer used    </div></td>
      <td class="data center">{{data-1.02000-00100}}</td>
      <td class="data right">{{NumberFormat data-1.02000-00200}}</td>
      <td class="data center">{{data-1.02000-00300}}</td>
      <td>20</td>
    </tr>
    <tr>
      <td colspan="9">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="9">  RENAL  DIALYSIS  FACILITY  --  NUMBER  OF  EMPLOYEES  (FULL TIME EQUIVALENTS)</td>
    </tr>
    <tr>
      <td>21</td>
      <td colspan="5">  Enter the number of hours in your normal work week   </td>
      <td class="data right">{{NumberFormat data-1.02100-00100}}</td>
      <td>21</td>
    </tr>
    <tr>
      <td rowspan="2" colspan="4"></td>
      <td class="center">Staff</td>
      <td class="center">Contract</td>
      <td class="center">Total</td>
      <td rowspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td class="center">1</td>
      <td class="center">2</td>
      <td class="center">3</td>
    </tr>
    <tr>
      <td>22</td>
      <td colspan="3">Physicians </td>
      <td class="data right">{{NumberFormat data-1.02200-00100}}</td>
      <td class="data right">{{NumberFormat data-1.02200-00200}}</td>
      <td class="data right">{{NumberFormat data-1.02200-00300}}</td>
      <td>22</td>
    </tr>
    <tr>
      <td>23</td>
      <td colspan="3">  Registered Nurses </td>
      <td class="data right">{{NumberFormat data-1.02300-00100}}</td>
      <td class="data right">{{NumberFormat data-1.02300-00200}}</td>
      <td class="data right">{{NumberFormat data-1.02300-00300}}</td>
      <td>23</td>
    </tr>
    <tr>
      <td>24</td>
      <td colspan="3">  Licensed Practical Nurses </td>
      <td class="data right">{{NumberFormat data-1.02400-00100}}</td>
      <td class="data right">{{NumberFormat data-1.02400-00200}}</td>
      <td class="data right">{{NumberFormat data-1.02400-00300}}</td>
      <td>24</td>
    </tr>
    <tr>
      <td>25</td>
      <td colspan="3">  Nurses Aides </td>
      <td class="data right">{{NumberFormat data-1.02500-00100}}</td>
      <td class="data right">{{NumberFormat data-1.02500-00200}}</td>
      <td class="data right">{{NumberFormat data-1.02500-00300}}</td>
      <td>25</td>
    </tr>
    <tr>
      <td>26</td>
      <td colspan="3"> Technicians</td>
      <td class="data right">{{NumberFormat data-1.02600-00100}}</td>
      <td class="data right">{{NumberFormat data-1.02600-00200}}</td>
      <td class="data right">{{NumberFormat data-1.02600-00300}}</td>
      <td>26</td>
    </tr>
    <tr>
      <td>27</td>
      <td colspan="3">  Social Workers</td>
      <td class="data right">{{NumberFormat data-1.02700-00100}}</td>
      <td class="data right">{{NumberFormat data-1.02700-00200}}</td>
      <td class="data right">{{NumberFormat data-1.02700-00300}}</td>
      <td>27</td>
    </tr>
    <tr>
    <td>28</td>
      <td colspan="3">  Dieticians</td>
      <td class="data right">{{NumberFormat data-1.02800-00100}}</td>
      <td class="data right">{{NumberFormat data-1.02800-00200}}</td>
      <td class="data right">{{NumberFormat data-1.02800-00300}}</td>
      <td>28</td>
    </tr>
    <tr>
    <td>29</td>
      <td colspan="3">  Administrative</td>
      <td class="data right">{{NumberFormat data-1.02900-00100}}</td>
      <td class="data right">{{NumberFormat data-1.02900-00200}}</td>
      <td class="data right">{{NumberFormat data-1.02900-00300}}</td>
      <td>29</td>
    </tr>
    <tr>
    <td>30</td>
      <td colspan="3">  Management</td>
      <td class="data right">{{NumberFormat data-1.03000-00100}}</td>
      <td class="data right">{{NumberFormat data-1.03000-00200}}</td>
      <td class="data right">{{NumberFormat data-1.03000-00300}}</td>
      <td>30</td>
    </tr>
    <tr>
    <td>31</td>
      <td colspan="3">   Other (Specify)</td>
      <td class="data right">{{NumberFormat data-1.03100-00100}}</td>
      <td class="data right">{{NumberFormat data-1.03100-00200}}</td>
      <td class="data right">{{NumberFormat data-1.03100-00300}}</td>
      <td>31</td>
    </tr>
    <tr>
      <td colspan="9">FORM CMS-265-11 (06/2013) (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4205)</td>
    </tr>
    <tr>
      <td colspan="2" class="border-right">42-304</td>
      <td colspan="4"  class="border-right">&nbsp;</td>
      <td class="right"colspan="2">Rev. 2</td>
    </tr>
  </tbody>
</table>
</div>