<div class="report">
<table border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
<col width="4%" />
<col width="40%" />
<col width="20%" />
<col width="10%" /> 
<col width="10%" /> 
<col width="10%" /> 
<col width="10%" /> 
<col width="4%" /> 
</colgroup>
<thead>
<tr>
<td colspan="4">
<div> INDEPENDENT  RENAL  DIALYSIS  FACILITY</div>
<div> REIMBURSEMENT  QUESTIONNAIRE</div>
</td>
<td>Provider CCN: <span class="data">{{pId}}</span></td>
<td>
<div>PERIOD:</div>
<div>FROM <span class="data">{{year.start}}</span></div>
<div>TO <span class="data">{{year.end}}</span></div>
</td>
<td colspan="3">WORKSHEET S-2</td>
</tr>
</thead>
<tbody>
<tr>
<td colspan="9">&nbsp;</td>
</tr>
<tr>
<td rowspan="2" colspan="4"> PROVIDER  ORGANIZATION  AND  OPERATION</td>
<td class="center"> Y/N</td>
<td class="center"> DATE</td>
<td class="center"> V/I</td>
<td rowspan="2">&nbsp;</td>
</tr>
<tr>
<td class="center">1</td>
<td class="center">2</td>
<td class="center">3</td>
</tr>
<tr>
    <td>1</td>
    <td colspan="3"> Has the provider changed ownership immediately prior to the beginning of the cost reporting period? <div> Enter "Y" for yes or "N" for no in column 1.  If yes, enter the date (mm/dd/yyyy) of the change in column 2. </div><div> (see instructions)</div></td>
    <td class="data" >{{data-1.00100-00100}}</td>
    <td class="data" >{{data-1.00100-00200}}</td>
    <td class="data fillgrey">{{data-1.00100-00300}}</td>
    <td>1</td>
</tr>
<tr>
    <td>2</td>
    <td colspan="3">  Has the provider terminated participation in the Medicare Program?  Enter "Y" for yes or "N" for no in column 1. <div>  If yes, enter in column 2 the termination date (mm/dd/yyyy); and, enter in column 3, "V" for voluntary or "I"</div><div>  for involuntary.</div></td>
    <td class="data">{{data-1.00200-00100}}  </td>
    <td class="data" >{{data-1.00200-00200}} </td>
    <td class="data" >{{data-1.00200-00300}} </td>
    <td>2</td>
</tr>
<tr>
    <td>3</td>
    <td colspan="3">  Is the provider involved in business transactions, including management contracts, with individuals or entities<div>  (e.g., chain home offices, drug or medical supply companies) that were related to the provider or its officers,</div><div>  medical staff, management personnel, or members of the board of directors through ownership, control, or</div><div> family and other similar relationships?  Enter "Y" for yes or "N" for no in column 1.   (see instructions)</div></td>
    <td class="data" >{{data-1.00300-00100}} </td>
    <td class="data fillgrey">{{data-1.00300-00200}}</td>
    <td class="data fillgrey">{{data-1.00300-00300}}</td>
    <td>3</td>
</tr>
<tr>
<td colspan="9">&nbsp;</td>
</tr>
<tr>
<td rowspan="2" colspan="4">  FINANCIAL  DATA  AND  REPORTS</td>
<td class="center"> Y/N</td>
<td class="center"> DATE</td>
<td class="center"> V/I</td>
<td rowspan="2">&nbsp;</td>
</tr>
<tr>
<td class="center">1</td>
<td class="center">2</td>
<td class="center">3</td>
</tr>
<tr>
    <td>4</td>
    <td colspan="3">  Column 1:  Were the financial statements prepared by a Certified Public Accountant?  Enter "Y" for yes or "N" for no.<div>  Column 2:  If yes, enter in column 2:  "A" for Audited, "C" for Compiled, or "R" for Reviewed.  Submit complete copy </div><div> of financial statements or enter date available (mm/dd/yyyy) in column 3.  (see instructions)  If no, see instructions.</div></td>
    <td class="data" >{{data-1.00400-00100}}</td>
    <td class="data" >{{data-1.00400-00200}}</td>
    <td class="data fillgrey">{{data-1.00400-00300}}</td>
    <td>4</td>
</tr>
<tr>
    <td>5</td>
    <td colspan="3">  Are the cost report total expenses and total revenues different from those on the filed financial statements?  Enter "Y"<div> for yes or "N" for no in column 1.  If yes, submit reconciliation.</div></td>
    <td class="data" >{{data-1.00500-00100}}</td>
    <td class="data fillgrey">{{data-1.00500-00200}}</td>
    <td class="data fillgrey">{{data-1.00500-00300}}</td>
    <td>5</td>
</tr>
<tr>
<td colspan="9">&nbsp;</td>
</tr>
<tr>
<td colspan="6">  BAD  DEBTS</td>
<td class="center"> Y/N</td>
<td>&nbsp;</td>
</tr>
<tr>
    <td>6</td>
    <td colspan="5"> Is the provider seeking reimbursement for bad debts?  Enter "Y" for yes or "N" for no.  If yes, see instructions.</td>
    <td>&nbsp;{{data-1.00600-00100}}</td>
    <td>6</td>
</tr>
<tr>
    <td>7</td>
    <td colspan="5">  If line 6 is yes, did the provider's bad debt collection policy change during the cost reporting period?  "Y" for yes or "N" for no.  If yes, submit copy.</td>
    <td>&nbsp;{{data-1.00700-00100}}</td>
    <td>7</td>
</tr>
<tr>
    <td>8</td>
    <td colspan="5">  If line 6 is yes, were patient deductibles and/or co-payments waived?  Enter "Y" for yes or "N" for no.  If yes, see instructions.</td>
    <td>&nbsp;{{data-1.00800-00100}}</td>
    <td>8</td>
</tr>
<tr>
<td colspan="9">&nbsp;</td>
</tr>
<tr>
<td rowspan="2" colspan="5">   PS&R  REPORT  DATA</td>
<td class="center"> Y/N</td>
<td class="center"> DATE</td>
<td rowspan="2">&nbsp;</td>
</tr>
<tr>
    <td class="center">1</td>
    <td class="center">2</td>
</tr>
<tr>
    <td>9</td>
    <td colspan="4"> Was the cost report prepared using the PS&R report only?  Enter "Y" for yes or "N" for no in column 1.  If yes, enter in column 2 the<div> paid-through date (mm/dd/yyyy) of the PS&R report used to prepare the cost report.  (see instructions.)</div></td>
    <td class="data" >{{data-1.00900-00100}}</td>
    <td class="data" >{{data-1.00900-00200}}</td>
    <td>9</td>
</tr>
<tr>
    <td>10</td>
    <td colspan="4">  Was the cost report prepared using the PS&R report for totals and the provider's records for allocation?  Enter "Y" for yes or "N" for no<div> in col.1.   If yes, enter in col. 2 the paid-through date (mm/dd/yyyy) of the PS&R report used to prepare the cost report.   (see instructions)</div></td>
    <td class="data" >{{data-1.01000-00100}}</td>
    <td class="data" >{{data-1.01000-00200}}</td>
    <td>10</td>
</tr>
<tr>
    <td>11</td>
    <td colspan="4">  If line 9 or 10 is yes, were adjustments made to PS&R report data for additional claims that have been billed but are not included on the<div> PS&R report used to file the cost report?  Enter "Y" for yes or "N" for no.  If yes, see instructions.</div></td>
    <td class="data" >{{data-1.01100-00100}}</td>
    <td class="data fillgrey">{{data-1.01100-00200}}</td>
    <td>11</td>
</tr>
<tr>
    <td>12</td>
    <td colspan="4"> If line 9 or 10 is yes, were adjustments made to PS&R report data for corrections of other PS&R report information?  Enter "Y" for yes<div> or "N" for no.  If yes, see instructions.</div></td>
    <td class="data" >{{data-1.01200-00100}}</td>
    <td class="data fillgrey">{{data-1.01200-00200}}</td>
    <td>12</td>
</tr>
<tr>
    <td>13</td>
    <td colspan="4">  If line 9 or 10 is yes, were adjustments made to PS&R report data for Other?  Enter "Y" for yes or "N" for no.  <div> If yes, describe the other adjustments: </div></td>
    <td class="data" >{{data-1.01300-00100}}</td>
    <td class="data fillgrey">{{data-1.01300-00200}}</td>
    <td>13</td>
</tr>
<tr>
    <td>14</td>
    <td colspan="4">  Was the cost report prepared only using the provider's records?  Enter "Y" for yes or "N" for no.  <div> If yes, see instructions.</div></td>
    <td class="data" >{{data-1.01400-00100}}</td>
    <td class="data fillgrey">{{data-1.01400-00200}}</td>
    <td>14</td>
</tr>
<td colspan="9">FORM CMS-265-11 (12/2011)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4205.1)</td>
</tr>
<tr>
<td colspan="2" class="border-right">Rev. 1</td>
<td colspan="4"  class="border-right">&nbsp;</td>
<td class="right"colspan="2">42-305</td>
</tr>
 
</tbody>
</table>
</div>