<body class="pg-external">

  <a class="logo" href="/">
  <img src="/assets/images/logo/medicarecostreport_logo.png" alt="MedicareCostReport Logo" />
  </a>

  <div class="message">
    <h1 class="large">404</h1>
    <p>Sorry, we couldn't find that page</p>
    <a href="/dashboard" class="btn btn-green">Back to Dashboard</a>
  </div>
