<body class="pg-dashboard">
{{> header}}
<main>
    <div class="container-fluid mt-4">
        <div class="row">
            {{> nav/profile }}
            <section  class="col-md-9 main-right wow fadeInRight">
                <h4>Hey! Welcome Back</h4>
                <div class="current-plan">
                    <p><strong>Your Current Plan</strong></p>

                    {{#each purchasedPlans}}
                        <p>{{this.name}} Plan - ${{this.price}}/Year</p>
                    {{/each}}
                    {{#if check}}
                    <p>Unlock report data of 45,380+ Facilities <a href="/account/billing">Upgrade Now</a></p>
                    {{/if}}

                </div>
                <br> <br>
                <h4>Downloaded Reports</h4>
                <ul class="nav nav-pills nav-justified mb-3 mt-3" id="pills-tab" role="tablist">
                    <li class="nav-item"> <a class="nav-link active show" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="false">All</a> </li>
                    <li class="nav-item"> <a class="nav-link" id="hospice-tab" data-toggle="tab" href="#hospice" role="tab" aria-controls="hospice" aria-selected="false">Hospice</a> </li>
                    <li class="nav-item"> <a class="nav-link" id="renal-tab" data-toggle="tab" href="#renal" role="tab" aria-controls="renal" aria-selected="false">Renal</a> </li>
                    <li class="nav-item"> <a class="nav-link" id="hha-tab" data-toggle="tab" href="#hha" role="tab" aria-controls="hha" aria-selected="false">HHA</a> </li>
                    <li class="nav-item"> <a class="nav-link" id="snf-tab" data-toggle="tab" href="#snf" role="tab" aria-controls="snf" aria-selected="false">SNF</a> </li>
                    <li class="nav-item"> <a class="nav-link " id="hospital-tab" data-toggle="tab" href="#hospital" role="tab" aria-controls="hospital" aria-selected="true">Hospital</a> </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">

                    <div class="tab-pane fade active show" id="all" role="tabpanel" aria-labelledby="pills-home-tab">
                        <table class="table">
                            <thead class="bg-yellow">
                                <tr>
                                    <th scope="col">Provider Name</th>
                                    <th scope="col">Favorite</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {{#each Hospital}}
                                <tr class="table-rows Fy" data-href="{{this.id}}"  data-id="{{this.id}}" id="deleteRow{{this.id}}">
                                    <td class="data">{{this.name}}</td>
                                    <td class="data">{{this.type}}</td>
                                    <td class="action-holder">
                                        <span><a href="{{this.url}}"><img src="images/visibility.svg" alt="visibility"></a></span>
                                        <span><a onclick="deleteDownload({{this.id}})" ><img src="images/rubbish.svg" alt="rubbish"></a></span>
                                    </td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>

                    </div>

                    <div class="tab-pane fade" id="hospice" role="tabpanel" aria-labelledby="hospice-tab">
                        <table class="table report-table">
                            <thead class="bg-yellow">
                            <tr>
                                <th scope="col">Provider Name</th>
                                <th scope="col">Favorite</th>
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each Hospital}}
                                {{#is this.type 'HOSPICE'}}
                                <tr class="table-row Fy" data-href={{this.url}} >
                                    <td class="data">{{this.name}}</td>
                                    <td class="data">{{this.type}}</td>
                                    <td class="action-holder">
                                        <span><a href="{{this.url}}"><img src="images/visibility.svg" alt="visibility"></a></span>
                                        <span><a href="#"><img src="images/rubbish.svg" alt="rubbish"></a></span></td>
                                </tr>
                                {{/is}}
                            {{/each}}

                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane fade" id="renal" role="tabpanel" aria-labelledby="renal-tab">
                        <table class="table report-table">
                            <thead class="bg-yellow">
                            <tr>
                                <th scope="col">Provider Name</th>
                                <th scope="col">Favorite</th>
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each Hospital}}
                                {{#is this.type 'RENAL'}}
                                    <tr class="table-row Fy" data-href={{this.url}} >
                                        <td class="data">{{this.name}}</td>
                                        <td class="data">{{this.type}}</td>
                                        <td class="action-holder">
                                            <span><a href="{{this.url}}"><img src="images/visibility.svg" alt="visibility"></a></span>
                                            <span><a href="#"><img src="images/rubbish.svg" alt="rubbish"></a></span></td>
                                    </tr>
                                {{/is}}
                            {{/each}}

                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane fade" id="hha" role="tabpanel" aria-labelledby="hha-tab">
                        <table class="table report-table">
                            <thead class="bg-yellow">
                            <tr>
                                <th scope="col">Provider Name</th>
                                <th scope="col">Favorite</th>
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each Hospital}}
                                {{#is this.type 'HHA'}}
                                    <tr class="table-row Fy" data-href={{this.url}} >
                                        <td class="data">{{this.name}}</td>
                                        <td class="data">{{this.type}}</td>
                                        <td class="action-holder">
                                            <span><a href="{{this.url}}"><img src="images/visibility.svg" alt="visibility"></a></span>
                                            <span><a href="#"><img src="images/rubbish.svg" alt="rubbish"></a></span></td>
                                    </tr>
                                {{/is}}
                            {{/each}}
                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane fade" id="snf" role="tabpanel" aria-labelledby="snf-tab">
                        <table class="table report-table">
                            <thead class="bg-yellow">
                            <tr>
                                <th scope="col">Provider Name</th>
                                <th scope="col">Favorite</th>
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each Hospital}}
                                {{#is this.type 'SNF'}}
                                    <tr class="table-row Fy" data-href={{this.url}} >
                                        <td class="data">{{this.name}}</td>
                                        <td class="data">{{this.type}}</td>
                                        <td class="action-holder">
                                            <span><a href="{{this.url}}"><img src="images/visibility.svg" alt="visibility"></a></span>
                                            <span><a href="#"><img src="images/rubbish.svg" alt="rubbish"></a></span></td>
                                    </tr>
                                {{/is}}
                            {{/each}}

                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane fade" id="hospital" role="tabpanel" aria-labelledby="hospital-tab">
                        <table class="table report-table">
                            <thead class="bg-yellow">
                            <tr>
                                <th scope="col">Provider Name</th>
                                <th scope="col">Favorite</th>
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each Hospital}}
                                {{#is this.type 'HOSP'}}
                                    <tr class="table-row Fy" data-href={{this.url}} >
                                        <td class="data">{{this.name}}</td>
                                        <td class="data">{{this.type}}</td>
                                        <td class="action-holder">
                                            <span><a href="{{this.url}}"><img src="images/visibility.svg" alt="visibility"></a></span>
                                            <span><a href="#"><img src="images/rubbish.svg" alt="rubbish"></a></span></td>
                                    </tr>
                                {{/is}}
                            {{/each}}

                            </tbody>
                        </table>
                    </div>

                </div>

            </section>
        </div>
    </div>
</main>

{{> scripts }}
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>-->
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
{{!-- <script src="/assets/js/min/app.min.js"></script> --}}
{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script> --}}
<!--
$(table).DataTable({

    paging: paging,
    searching: search,
    ordering: sort

  });-->
</body>

