{{!-- <br/>
<body class="pg-hospitals">
    <div class="row">
        <div class="col-lg-12">
            <b><a  href="/state">All States</a></b>&nbsp;
            <i class="fa fa-angle-double-right"></i>&nbsp;
            <b><a  href="/{{state}}/county">{{state}}</a></b>&nbsp;
            <i class="fa fa-angle-double-right"></i>&nbsp;
            <b><a  href="/{{state}}/{{county}}/city">{{county}} County</a></b>&nbsp;
            <i class="fa fa-angle-double-right"></i>&nbsp;
            <b>{{city}}</b>   
        </div>
    </div>
    <p></p>
    <p align="center" style="color:black">LIST OF HOSPITALS IN {{city}}</p>
    <p></p>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped table-hover">
                <tbody>
                    {{#each data}}
                    <tr class="table-row data" data-href="/{{../state}}/{{../county}}/{{../city}}/{{this.type}}/{{this.pId}}-{{this.name}}/Financial_Year">
                        <td class="hospital"><a  class="data" href="/{{../state}}/{{../county}}/{{../city}}/{{this.type}}/{{this.pId}}-{{this.name}}/Financial_Year">{{this.name}}</a></td>
                        <td class="address">{{this.address}}</td>
                        <td>{{this.city}}</td>
                        <td>{{this.state}}</td>
                        <td>{{this.zip}}</td>
                        <td>{{this.county}}</td>
                        <td nowrap>{{this.phone}}</td>
                        <td>{{this.type}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    {{>scripts}}
</body> --}}

<!-- carousel -->
<div id="inner-banner" class="carousel slide" data-ride="carousel">

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active"> <img src="/assets/images/img_inner_banner.png" alt="Banner"
        class="img-fluid banner">
      <div class="carousel-caption ">
        <h3 class="text-uppercase">Browse Hospitals by State / County / City</h3>
        <u>Browse Hospital Name or Provider ID</u>
      </div>
    </div>
  </div>
</div>

<div class="bg-lite1 pt-3 pb-3">
  <section class="container wow fadeInUp">
    <div class=" mt-5 mb-5 all-state-holder">
      <ul class="mb-5 pl-0 breadcrumb-holder">
        <li><a href="/state" style="cursor: pointer;">All States</a></li>
        <li><a href="/{{state}}/county" style="cursor: pointer;">{{state}}</a></li>
        <li><a href="/{{state}}/{{county}}/city" style="cursor: pointer;">{{county}}</a></li>
        <li><a href="#" class="active">{{city}}</a></li>
        <li></li>
      </ul>
      <h5 class="text-center text-red">List of all Hospitals in {{city}}</h5>
      <div class="table-responsive">
        <table class="table table-hover mt-5 hospitals">
          <thead>
            <tr>
              <th scope="col">Name of the Hospital</th>
              <th scope="col">Address</th>
              <th scope="col">County</th>
              <th scope="col">State</th>
              <th scope="col" nowrap>Zip Code</th>
              <th scope="col">Phone Number</th>
              <th scope="col" nowrap>Hospital Type</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {{#each data}}
            <tr>
              <td>{{this.name}}</td>
              <td>{{this.address}}</td>
              <td>{{this.city}}</td>
              <td>{{this.state}}</td>
              <td>{{this.zip}}</td>
              <td nowrap>{{this.phone}}</td>
              <td>{{this.type}}</td>
              <td><a href="/{{../state}}/{{../county}}/{{../city}}/{{this.type}}/{{this.pId}}-{{this.name}}/Financial_Year" class="text-uppercase btn btn-sm btn-outline-primary ">view reports</a></td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>

{{> home/footernew }}