
    <body class="pg-reports">
    {{#if permission}}
        {{> header }}
    {{else}}
        {{> headersheet }}
    {{/if}}
<main>
    <div class="container-fluid mt-4">
        <div class="row">
            {{#if Financial_Year}}
                {{> nav/reports }}
            {{else}}
                {{> nav/profile }}
            {{/if}}
            <section  class="col-md-9 main-right wow fadeInRight">
                <div class="top-right-heading">
                    <h4 class="pt-3 pl-5">Hospital Details</h4>
                    <ul class="pb-5 pl-5 pt-3 breadcrumb-holder">
                        <li><a href="/state">All States</a></li>&nbsp;

                        <li><a href="/{{state}}/county">{{state}}</a></li>&nbsp;

                        <li><a href="/{{state}}/{{county}}/city">{{county}} County</a></li>&nbsp;

                        <li><a href="/{{state}}/{{county}}/{{city}}/hospitals">{{city}}</a></li>&nbsp;
                        &nbsp;
                        <li><a class="breadcrumbs"
                              href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/Financial_Year">{{name}}</a></li>&nbsp;
                        <li>{{Financial_Year}}</li>
                    </ul>
                </div>

                <p></p>
                {{#if permission}}
                <div class="row">
                    <div class="col-lg-6">
                        <p><b><a href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/Financial_Year"
                                 class="black">{{name}}</a></b>
                            <br>{{data.0.address}},
                            <br>{{city}}, {{county}} County,
                            <br>{{state}} - {{data.0.zip}},
                            <br>Ph: {{data.0.phone}}</p>
                    </div>
                    <div class="col-lg-3">
                        <p><b>Year :</b> {{Financial_Year}}
                            <br><b>Status:</b> {{Status}}</p>
                    </div>
                    <div class="col-lg-3">
                        <p><b>Bed Size :</b>{{Bed_Size}}<br>
                            <b>Discharge:</b>{{Discharge}}<br>
                            <b>Revenue :</b>{{Revenue}}</p>
                    </div>
                {{!-- <div class="col-lg-4">
                       {{#if_equal  url fav}}
                            <p><b><i class="fas fa-star yellow" id="faR"></i><span id="favorite"></span>
                            <button id="favReport">&nbsp;Added to Favorite</button></span></b></p>
                        {{else}}
                            <p><b><i class="fas fa-star black" id="faR"></i><span id="favorite"></span>
                            <button id="favReport">&nbsp;Add to Favorite</button></span></b></p>
                        {{/if_equal }}
                    </div> --}}
                    {{#is plan null}}
                        <button style="margin:auto" onclick="location.href = '/account/billing';" id="myButton1" class="btn-primary"><b>Upgrade Plan</b></button>
                    {{/is}}
                {{else}}
                <div class="row">
                    <div class="col-lg-6">
                        <p><b><a href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/Financial_Year"
                                 class="black">{{name}}</a></b>
                            <br>{{data.0.address}},
                            <br>{{city}}, {{county}} County,
                            <br>{{state}} - {{data.0.zip}},
                            <br>Ph: {{data.0.phone}}</p>
                    </div>
                    <div class="col-lg-3">
                        <p><b>Year :</b> {{Financial_Year}}
                            <br><b>Status:</b> {{Status}}</p>
                    </div>
                    <div class="col-lg-3">
                        <p><b>Bed Size :</b>{{Bed_Size}}<br>
                            <b>Discharge:</b>{{Discharge}}<br>
                            <b>Revenue :</b>{{Revenue}}</p>
                    </div>
                    <!--<div class="col-lg-3 col-sm-4">
                        {{!-- <p class="d-flex justify-content-left"><i class="fas fa-star black" id="favSignin"></i><button onclick="favSignin()"><span>Add to Favorite</span></button></p> --}}
                    </div>

                    <div class="col-lg-1">

                    </div>-->
                </div>
                    <p class="alertText">Sign in to view and download the latest year reports</p>
                    <button style="margin:auto" onclick="location.href = '/pricing';" id="myButton1" class="btn-primary"><b>Sign In</b></button>
                {{/if}}
                </div>
            </section>
        </div>
    </div>
</main>

{{> scripts }}
