<br/>
<body class="pg-skip">

    {{#if permission}}
        {{#is type "SNF"}}
        <!--<section class="pricing-plan">
            <div class="price">
                <div class="plan-list">
                    SNF
                </div>
                <h3 class="yearly">$200<span class="small">/yr</span></h3>
                <table class="pricing-details">

                    <tr>
                        <td class="plan-value">
                            <strong>1</strong>
                        </td>
                        <td class="plan-specs">
                            GB RAM
                        </td>
                    </tr>
                    <tr>
                        <td class="plan-value">
                            <strong>1</strong>
                        </td>
                        <td class="plan-specs">
                            CPU Core
                        </td>
                    </tr>
                    <tr>
                        <td class="plan-value">
                            <strong>25</strong>
                        </td>
                        <td class="plan-specs">
                            GB SSD Storage
                        </td>
                    </tr>
                    <tr>
                        <td class="plan-value">
                            <strong>1</strong>
                        </td>
                        <td class="plan-specs">
                            TB Transfer
                        </td>
                    </tr>
                    <tr>
                        <td class="plan-value">
                            <strong>40</strong>
                        </td>
                        <td class="plan-specs">
                            Gbps Network In
                        </td>
                    </tr>
                    <tr>
                        <td class="plan-value">
                            <strong>1000</strong>
                        </td>
                        <td class="plan-specs">
                            Mbps Network Out
                        </td>
                    </tr>
                </table>
                <div class="action">
                    <a class="btn3 btn-action" href="/account/billing?type={{type}}">BUY</a>
                </div>
            </div>
            <br>
            {{!-- <div class="center">Buy now to see updated templates or skip to see empty templates</div>
            <br>
                <div class="skip"> 
                    <a href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/reports">Skip</a></div>
                </div> --}}
        </section>-->
        {{/is}}
        {{#is type "HHA"}}
        <!--<section class="pricing-plan">
            <div class="price">
                <div class="plan-list">
                    HHA
                </div>
                <h3 class="yearly">$100<span class="small">/yr</span></h3>
                <table class="pricing-details">
                    <tr>
                        <td class="plan-value">
                            <strong>1</strong>
                        </td>
                        <td class="plan-specs">
                            GB RAM
                        </td>
                    </tr>
                    <tr>
                        <td class="plan-value">
                            <strong>1</strong>
                        </td>
                        <td class="plan-specs">
                            CPU Core
                        </td>
                    </tr>
                    <tr>
                        <td class="plan-value">
                            <strong>25</strong>
                        </td>
                        <td class="plan-specs">
                            GB SSD Storage
                        </td>
                    </tr>
                    <tr>
                        <td class="plan-value">
                            <strong>1</strong>
                        </td>
                        <td class="plan-specs">
                            TB Transfer
                        </td>
                    </tr>
                    <tr>
                        <td class="plan-value">
                            <strong>40</strong>
                        </td>
                        <td class="plan-specs">
                            Gbps Network In
                        </td>
                    </tr>
                    <tr>
                        <td class="plan-value">
                            <strong>1000</strong>
                        </td>
                        <td class="plan-specs">
                            Mbps Network Out
                        </td>
                    </tr>
                </table>
                <div class="action">
                    <a class="btn3 btn-action" href="/account/billing?type={{type}}">BUY</a>
                </div>

            </div>
            <br>
        </section>-->
        {{/is}}
        {{#is type "RENAL"}}
        <!--<section class="pricing-plan">
            <div class="price">
                <div class="plan-list">
                    RENAL
                </div>
                <h3 class="yearly">$100<span class="small">/yr</span></h3>
                <table class="pricing-details">
                    <tr>
                        <td class="plan-value">
                            <strong>1</strong>
                        </td>
                        <td class="plan-specs">
                            GB RAM
                        </td>
                    </tr>
                    <tr>
                        <td class="plan-value">
                            <strong>1</strong>
                        </td>
                        <td class="plan-specs">
                            CPU Core
                        </td>
                    </tr>
                    <tr>
                        <td class="plan-value">
                            <strong>25</strong>
                        </td>
                        <td class="plan-specs">
                            GB SSD Storage
                        </td>
                    </tr>
                    <tr>
                        <td class="plan-value">
                            <strong>1</strong>
                        </td>
                        <td class="plan-specs">
                            TB Transfer
                        </td>
                    </tr>
                    <tr>
                        <td class="plan-value">
                            <strong>40</strong>
                        </td>
                        <td class="plan-specs">
                            Gbps Network In
                        </td>
                    </tr>
                    <tr>
                        <td class="plan-value">
                            <strong>1000</strong>
                        </td>
                        <td class="plan-specs">
                            Mbps Network Out
                        </td>
                    </tr>
                </table>
                <div class="action">
                    <a class="btn3 btn-action" href="/account/billing?type={{type}}">BUY</a>
                </div>
            </div>
            {{!-- <div class="center">Buy now to see updated templates or skip to see empty templates</div>
            <br>
                <div class="skip"> 
                    <a href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/reports">Skip</a></div>
                </div> --}}
        </section>-->
        {{/is}}
        {{#is type "HOSP"}}
        <!--<section class="pricing-plan">
            <div class="price">
                <div class="plan-list">
                    Hospital
                </div>
                <h3 class="yearly">$200<span class="small">/yr</span></h3>
                <table class="pricing-details">
                    <tr>
                        <td class="plan-value">
                            <strong>1</strong>
                        </td>
                        <td class="plan-specs">
                            GB RAM
                        </td>
                    </tr>
                    <tr>
                        <td class="plan-value">
                            <strong>1</strong>
                        </td>
                        <td class="plan-specs">
                            CPU Core
                        </td>
                    </tr>
                    <tr>
                        <td class="plan-value">
                            <strong>25</strong>
                        </td>
                        <td class="plan-specs">
                            GB SSD Storage
                        </td>
                    </tr>
                    <tr>
                        <td class="plan-value">
                            <strong>1</strong>
                        </td>
                        <td class="plan-specs">
                            TB Transfer
                        </td>
                    </tr>
                    <tr>
                        <td class="plan-value">
                            <strong>40</strong>
                        </td>
                        <td class="plan-specs">
                            Gbps Network In
                        </td>
                    </tr>
                    <tr>
                        <td class="plan-value">
                            <strong>1000</strong>
                        </td>
                        <td class="plan-specs">
                            Mbps Network Out
                        </td>
                    </tr>
                </table>
                <div class="action">
                    <a class="btn3 btn-action" href="/account/billing?type=HOSPITAL">BUY</a>
                </div>
            </div>
            <br>
        </section>-->
        {{/is}}
        {{#is type "HOSPICE"}}
        <!--<section class="pricing-plan">
            <div class="price">
                <div class="plan-list">
                    Hospice
                </div>
                <h3 class="yearly">$100<span class="small">/yr</span></h3>
                <table class="pricing-details">
                    <tr>
                        <td class="plan-value">
                            <strong>1</strong>
                        </td>
                        <td class="plan-specs">
                            GB RAM
                        </td>
                    </tr>
                    <tr>
                        <td class="plan-value">
                            <strong>1</strong>
                        </td>
                        <td class="plan-specs">
                            CPU Core
                        </td>
                    </tr>
                    <tr>
                        <td class="plan-value">
                            <strong>25</strong>
                        </td>
                        <td class="plan-specs">
                            GB SSD Storage
                        </td>
                    </tr>
                    <tr>
                        <td class="plan-value">
                            <strong>1</strong>
                        </td>
                        <td class="plan-specs">
                            TB Transfer
                        </td>
                    </tr>
                    <tr>
                        <td class="plan-value">
                            <strong>40</strong>
                        </td>
                        <td class="plan-specs">
                            Gbps Network In
                        </td>
                    </tr>
                    <tr>
                        <td class="plan-value">
                            <strong>1000</strong>
                        </td>
                        <td class="plan-specs">
                            Mbps Network Out
                        </td>
                    </tr>
                </table>
                <div class="action">
                    <a class="btn3 btn-action" href="/account/billing?type={{type}}">BUY</a>
                </div>
            </div>
        </section>-->
        {{/is}}

    <script>
        window.location.href = "/account/billing?type={{type}}";
    </script>
    {{else}}

    <div class="container" style="padding-top: 12%">

        <h1>Redirecting...</h1>
        <br>
        <!--<div>Click <b>"Signin"</b> to unlock additional features</div>
        <br>
        <div><button class="btn btn-link"><a href="/signin">Sign In</button></div>-->
    </div>

    </div>
    <br>
     <!--<div class="skip">
        <a href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/reports">Skip</a></div>
    </div>-->
    <script>
        window.location.href = "/signin";
    </script>
    {{/if}}
</body>
