{{!-- <br/>
<body class="pg-state">
  <div class="row">
      <div class="col-lg-3">
          {{#slice data page="1"}}   
            <div>
                <a href="{{this.code}}/county" class="data">{{this.code}} - {{this.state}}</a>
            </div>
          {{/slice}}
      </div>
      <div class="col-lg-3">
          {{#slice data page="2"}}   
            <div>
                <a href="{{this.code}}/county" class="data">{{this.code}} - {{this.state}}</a>
            </div>
          {{/slice}}
      </div>
      <div class="col-lg-3">
          {{#slice data page="3"}}   
            <div>
                <a href="{{this.code}}/county" class="data">{{this.code}} - {{this.state}}</a>
            </div>
          {{/slice}}
      </div>
      <div class="col-lg-3">
          {{#slice data page="4"}}   
            <div>
                <a href="{{this.code}}/county" class="data">{{this.code}} - {{this.state}}</a>
            </div>
          {{/slice}}
      </div>
  </div>
  {{> scripts }}
</body> --}}
<!-- carousel -->
<div id="inner-banner" class="carousel slide" data-ride="carousel">

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active"> <img src="images/img_inner_banner.png" alt="Banner" class="img-fluid banner">
      <div class="carousel-caption ">
        <h3 class="text-uppercase">Browse Hospitals by State / County / City</h3>
        <u>Browse Hospital Name or Provider ID</u>
      </div>
    </div>
  </div>
</div>

<div class="bg-lite1 pt-3 pb-3">
  <section class="container wow fadeInUp">
    <div class=" mt-5 mb-5 all-state-holder">
      <ul class="mb-5 pl-0 breadcrumb-holder">
        <li><a href="#" class="active">All States</a></li>
      </ul>
      <h5 class="text-center text-red">List of all States</h5>

      <div class="mt-5 state-holder">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            {{#checkPillActive stateData.[0].length}}
            <a class="nav-link active" id="pills-a" data-toggle="pill" data-target="#a" role="tab" aria-controls="a"
              aria-selected="true">A</a>
            {{else}}
            <a class="nav-link disable" id="pills-a" data-toggle="pill" data-target="#a" role="tab" aria-controls="a"
              aria-selected="true">A</a>
            {{/checkPillActive}}
          </li>
          <li class="nav-item">
            {{#checkPillActive stateData.[1].length}}
            <a class="nav-link" id="pills-b" data-toggle="pill" data-target="#b" role="tab" aria-controls="b"
              aria-selected="false">B</a>
            {{else}}
            <a class="nav-link disable" id="pills-b" data-toggle="pill" data-target="#b" role="tab" aria-controls="b"
              aria-selected="false">B</a>
            {{/checkPillActive}}
          </li>
          <li class="nav-item">
            {{#checkPillActive stateData.[2].length}}
            <a class="nav-link" id="pills-c" data-toggle="pill" data-target="#c" role="tab" aria-controls="c"
              aria-selected="false">C</a>
            {{else}}
            <a class="nav-link disable" id="pills-c" data-toggle="pill" data-target="#c" role="tab" aria-controls="c"
              aria-selected="false">C</a>
            {{/checkPillActive}}
          </li>
          <li class="nav-item">
            {{#checkPillActive stateData.[3].length}}
            <a class="nav-link " id="pills-d" data-toggle="pill" data-target="#d" role="tab" aria-controls="d"
              aria-selected="true">D</a>
            {{else}}
            <a class="nav-link disable" id="pills-d" data-toggle="pill" data-target="#d" role="tab" aria-controls="d"
              aria-selected="true">D</a>
            {{/checkPillActive}}
          </li>
          <li class="nav-item">
            {{#checkPillActive stateData.[4].length}}
            <a class="nav-link" id="pills-e" data-toggle="pill" data-target="#e" role="tab" aria-controls="e"
              aria-selected="false">E</a>
            {{else}}
            <a class="nav-link disable" id="pills-e" data-toggle="pill" data-target="#e" role="tab" aria-controls="e"
              aria-selected="false">E</a>
            {{/checkPillActive}}
          </li>
          <li class="nav-item">
            {{#checkPillActive stateData.[5].length}}
            <a class="nav-link" id="pills-f" data-toggle="pill" data-target="#f" role="tab" aria-controls="f"
              aria-selected="false">F</a>
            {{else}}
            <a class="nav-link disable" id="pills-f" data-toggle="pill" data-target="#f" role="tab" aria-controls="f"
              aria-selected="false">F</a>
            {{/checkPillActive}}
          </li>
          <li class="nav-item">
            {{#checkPillActive stateData.[6].length}}
            <a class="nav-link " id="pills-g" data-toggle="pill" data-target="#g" role="tab" aria-controls="g"
              aria-selected="false">G</a>
            {{else}}
            <a class="nav-link disable" id="pills-g" data-toggle="pill" data-target="#g" role="tab" aria-controls="g"
              aria-selected="false">G</a>
            {{/checkPillActive}}
          </li>
          <li class="nav-item">
            {{#checkPillActive stateData.[7].length}}
            <a class="nav-link" id="pills-h" data-toggle="pill" data-target="#h" role="tab" aria-controls="h"
              aria-selected="false">H</a>
            {{else}}
            <a class="nav-link disable" id="pills-h" data-toggle="pill" data-target="#h" role="tab" aria-controls="h"
              aria-selected="false">H</a>
            {{/checkPillActive}}
          </li>
          <li class="nav-item">
            {{#checkPillActive stateData.[8].length}}
            <a class="nav-link" id="pills-i" data-toggle="pill" data-target="#i" role="tab" aria-controls="i"
              aria-selected="false">I</a>
            {{else}}
            <a class="nav-link disable" id="pills-i" data-toggle="pill" data-target="#i" role="tab" aria-controls="i"
              aria-selected="false">I</a>
            {{/checkPillActive}}
          </li>
          <li class="nav-item">
            {{#checkPillActive stateData.[9].length}}
            <a class="nav-link " id="pills-j" data-toggle="pill" data-target="#j" role="tab" aria-controls="j"
              aria-selected="false">J</a>
            {{else}}
            <a class="nav-link disable" id="pills-j" data-toggle="pill" data-target="#j" role="tab" aria-controls="j"
              aria-selected="false">J</a>
            {{/checkPillActive}}
          </li>
          <li class="nav-item">
            {{#checkPillActive stateData.[10].length}}
            <a class="nav-link" id="pills-k" data-toggle="pill" data-target="#k" role="tab" aria-controls="k"
              aria-selected="false">K</a>
            {{else}}
            <a class="nav-link disable" id="pills-k" data-toggle="pill" data-target="#k" role="tab" aria-controls="k"
              aria-selected="false">K</a>
            {{/checkPillActive}}
          </li>
          <li class="nav-item">
            {{#checkPillActive stateData.11.length}}
            <a class="nav-link" id="pills-l" data-toggle="pill" data-target="#l" role="tab" aria-controls="l"
              aria-selected="false">L</a>
            {{else}}
            <a class="nav-link disable" id="pills-l" data-toggle="pill" data-target="#l" role="tab" aria-controls="l"
              aria-selected="false">L</a>
            {{/checkPillActive}}
          </li>
          <li class="nav-item">
            {{#checkPillActive stateData.[12].length}}
            <a class="nav-link " id="pills-m" data-toggle="pill" data-target="#m" role="tab" aria-controls="m"
              aria-selected="false">M</a>
            {{else}}
            <a class="nav-link disable" id="pills-m" data-toggle="pill" data-target="#m" role="tab" aria-controls="m"
              aria-selected="false">M</a>
            {{/checkPillActive}}
          </li>
          <li class="nav-item">
            {{#checkPillActive stateData.[13].length}}
            <a class="nav-link" id="pills-n" data-toggle="pill" data-target="#n" role="tab" aria-controls="n"
              aria-selected="false">N</a>
            {{else}}
            <a class="nav-link disable" id="pills-n" data-toggle="pill" data-target="#n" role="tab" aria-controls="n"
              aria-selected="false">N</a>
            {{/checkPillActive}}
          </li>
          <li class="nav-item">
            {{#checkPillActive stateData.[14].length}}
            <a class="nav-link" id="pills-o" data-toggle="pill" data-target="#o" role="tab" aria-controls="o"
              aria-selected="false">O</a>
            {{else}}
            <a class="nav-link disable" id="pills-o" data-toggle="pill" data-target="#o" role="tab" aria-controls="o"
              aria-selected="false">O</a>
            {{/checkPillActive}}
          </li>
          <li class="nav-item">
            {{#checkPillActive stateData.[15].length}}
            <a class="nav-link " id="pills-p" data-toggle="pill" data-target="#p" role="tab" aria-controls="p"
              aria-selected="false">P</a>
            {{else}}
            <a class="nav-link disable" id="pills-p" data-toggle="pill" data-target="#p" role="tab" aria-controls="p"
              aria-selected="false">P</a>
            {{/checkPillActive}}
          </li>
          <li class="nav-item">
            {{#checkPillActive stateData.[16].length}}
            <a class="nav-link" id="pills-q" data-toggle="pill" data-target="#q" role="tab" aria-controls="q"
              aria-selected="false">Q</a>
            {{else}}
            <a class="nav-link disable" id="pills-q" data-toggle="pill" data-target="#q" role="tab" aria-controls="q"
              aria-selected="false">Q</a>
            {{/checkPillActive}}
          </li>
          <li class="nav-item">
            {{#checkPillActive stateData.[17].length}}
            <a class="nav-link" id="pills-r" data-toggle="pill" data-target="#r" role="tab" aria-controls="r"
              aria-selected="false">R</a>
            {{else}}
            <a class="nav-link disable" id="pills-r" data-toggle="pill" data-target="#r" role="tab" aria-controls="r"
              aria-selected="false">R</a>
            {{/checkPillActive}}
          </li>

          <li class="nav-item">
            {{#checkPillActive stateData.[18].length}}
            <a class="nav-link " id="pills-s" data-toggle="pill" data-target="#s" role="tab" aria-controls="s"
              aria-selected="false">S</a>
            {{else}}
            <a class="nav-link disable" id="pills-s" data-toggle="pill" data-target="#s" role="tab" aria-controls="s"
              aria-selected="false">S</a>
            {{/checkPillActive}}
          </li>
          <li class="nav-item">
            {{#checkPillActive stateData.[19].length}}
            <a class="nav-link" id="pills-t" data-toggle="pill" data-target="#t" role="tab" aria-controls="t"
              aria-selected="false">T</a>
            {{else}}
            <a class="nav-link disable" id="pills-t" data-toggle="pill" data-target="#t" role="tab" aria-controls="t"
              aria-selected="false">T</a>
            {{/checkPillActive}}
          </li>
          <li class="nav-item">
            {{#checkPillActive stateData.[20].length}}
            <a class="nav-link" id="pills-u" data-toggle="pill" data-target="#u" role="tab" aria-controls="u"
              aria-selected="false">U</a>
            {{else}}
            <a class="nav-link disable" id="pills-u" data-toggle="pill" data-target="#u" role="tab" aria-controls="u"
              aria-selected="false">U</a>
            {{/checkPillActive}}
          </li>
          <li class="nav-item">
            {{#checkPillActive stateData.[21].length}}
            <a class="nav-link " id="pills-v" data-toggle="pill" data-target="#v" role="tab" aria-controls="v"
              aria-selected="false">V</a>
            {{else}}
            <a class="nav-link disable" id="pills-v" data-toggle="pill" data-target="#v" role="tab" aria-controls="v"
              aria-selected="false">V</a>
            {{/checkPillActive}}
          </li>
          <li class="nav-item">
            {{#checkPillActive stateData.[22].length}}
            <a class="nav-link" id="pills-w" data-toggle="pill" data-target="#w" role="tab" aria-controls="w"
              aria-selected="false">W</a>
            {{else}}
            <a class="nav-link disable" id="pills-w" data-toggle="pill" data-target="#w" role="tab" aria-controls="w"
              aria-selected="false">W</a>
            {{/checkPillActive}}
          </li>
          <li class="nav-item">
            {{#checkPillActive stateData.[23].length}}
            <a class="nav-link" id="pills-x" data-toggle="pill" data-target="#x" role="tab" aria-controls="x"
              aria-selected="false">X</a>
            {{else}}
            <a class="nav-link disable" id="pills-x" data-toggle="pill" data-target="#x" role="tab" aria-controls="x"
              aria-selected="false">X</a>
            {{/checkPillActive}}
          </li>
          <li class="nav-item">
            {{#checkPillActive stateData.[24].length}}
            <a class="nav-link" id="pills-y" data-toggle="pill" data-target="#y" role="tab" aria-controls="y"
              aria-selected="false">Y</a>
            {{else}}
            <a class="nav-link disable" id="pills-y" data-toggle="pill" data-target="#y" role="tab" aria-controls="y"
              aria-selected="false">Y</a>
            {{/checkPillActive}}
          </li>
          <li class="nav-item">
            {{#checkPillActive stateData.[25].length}}
            <a class="nav-link " id="pills-z" data-toggle="pill" data-target="#z" role="tab" aria-controls="z"
              aria-selected="false">Z</a>
            {{else}}
            <a class="nav-link disable" id="pills-z" data-toggle="pill" data-target="#z" role="tab" aria-controls="z"
              aria-selected="false">Z</a>
            {{/checkPillActive}}
          </li>

        </ul>

        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="a" role="tabpanel" aria-labelledby="a">
            <ul class="row">
              {{#each stateData.[0]}}
              <li class="col-md-2"><a href="/{{this.code}}/county">
                  <p class="states">{{this.state}}</p>
                </a>
              </li>
              {{/each}}
            </ul>
          </div>
          <div class="tab-pane fade" id="b" role="tabpanel" aria-labelledby="b">
            <ul class="row">
              {{#each stateData.[1]}}
              <li class="col-md-2"><a href="/{{this.code}}/county">
                  <p class="states">{{this.state}}</p>
                </a>
              </li>
              {{/each}}
            </ul>
          </div>
          <div class="tab-pane fade" id="c" role="tabpanel" aria-labelledby="c">
            <ul class="row">
              {{#each stateData.[2]}}
              <li class="col-md-2"><a href="/{{this.code}}/county">
                  <p class="states">{{this.state}}</p>
                </a>
              </li>
              {{/each}}
            </ul>
          </div>
          <div class="tab-pane fade" id="d" role="tabpanel" aria-labelledby="d">
            <ul class="row">
              {{#each stateData.[3]}}
              <li class="col-md-2"><a href="/{{this.code}}/county">
                  <p class="states">{{this.state}}</p>
                </a>
              </li>
              {{/each}}
            </ul>
          </div>
          <div class="tab-pane fade" id="e" role="tabpanel" aria-labelledby="e">
            <ul class="row">
              {{#each stateData.[4]}}
              <li class="col-md-2"><a href="/{{this.code}}/county">
                  <p class="states">{{this.state}}</p>
                </a>
              </li>
              {{/each}}
            </ul>
          </div>
          <div class="tab-pane fade" id="f" role="tabpanel" aria-labelledby="f">
            <ul class="row">
              {{#each stateData.[5]}}
              <li class="col-md-2"><a href="/{{this.code}}/county">
                  <p class="states">{{this.state}}</p>
                </a>
              </li>
              {{/each}}
            </ul>
          </div>
          <div class="tab-pane fade" id="g" role="tabpanel" aria-labelledby="g">
            <ul class="row">
              {{#each stateData.[6]}}
              <li class="col-md-2"><a href="/{{this.code}}/county">
                  <p class="states">{{this.state}}</p>
                </a>
              </li>
              {{/each}}
            </ul>
          </div>
          <div class="tab-pane fade" id="h" role="tabpanel" aria-labelledby="h">
            <ul class="row">
              {{#each stateData.[7]}}
              <li class="col-md-2"><a href="/{{this.code}}/county">
                  <p class="states">{{this.state}}</p>
                </a>
              </li>
              {{/each}}
            </ul>
          </div>
          <div class="tab-pane fade" id="i" role="tabpanel" aria-labelledby="i">
            <ul class="row">
              {{#each stateData.[8]}}
              <li class="col-md-2"><a href="/{{this.code}}/county">
                  <p class="states">{{this.state}}</p>
                </a>
              </li>
              {{/each}}
            </ul>
          </div>
          <div class="tab-pane fade" id="j" role="tabpanel" aria-labelledby="j">
            <ul class="row">
              {{#each stateData.[9]}}
              <li class="col-md-2"><a href="/{{this.code}}/county">
                  <p class="states">{{this.state}}</p>
                </a>
              </li>
              {{/each}}
            </ul>
          </div>
          <div class="tab-pane fade" id="k" role="tabpanel" aria-labelledby="k">
            <ul class="row">
              {{#each stateData.[10]}}
              <li class="col-md-2"><a href="/{{this.code}}/county">
                  <p class="states">{{this.state}}</p>
                </a>
              </li>
              {{/each}}
            </ul>
          </div>
          <div class="tab-pane fade" id="l" role="tabpanel" aria-labelledby="l">
            <ul class="row">
              {{#each stateData.[11]}}
              <li class="col-md-2"><a href="/{{this.code}}/county">
                  <p class="states">{{this.state}}</p>
                </a>
              </li>
              {{/each}}
            </ul>
          </div>
          <div class="tab-pane fade" id="m" role="tabpanel" aria-labelledby="m">
            <ul class="row">
              {{#each stateData.[12]}}
              <li class="col-md-2"><a href="/{{this.code}}/county">
                  <p class="states">{{this.state}}</p>
                </a>
              </li>
              {{/each}}
            </ul>
          </div>
          <div class="tab-pane fade" id="n" role="tabpanel" aria-labelledby="n">
            <ul class="row">
              {{#each stateData.[13]}}
              <li class="col-md-2"><a href="/{{this.code}}/county">
                  <p class="states">{{this.state}}</p>
                </a>
              </li>
              {{/each}}
            </ul>
          </div>
          <div class="tab-pane fade" id="o" role="tabpanel" aria-labelledby="o">
            <ul class="row">
              {{#each stateData.[14]}}
              <li class="col-md-2"><a href="/{{this.code}}/county">
                  <p class="states">{{this.state}}</p>
                </a>
              </li>
              {{/each}}
            </ul>
          </div>
          <div class="tab-pane fade" id="p" role="tabpanel" aria-labelledby="p">
            <ul class="row">
              {{#each stateData.[15]}}
              <li class="col-md-2"><a href="/{{this.code}}/county">
                  <p class="states">{{this.state}}</p>
                </a>
              </li>
              {{/each}}
            </ul>
          </div>
          <div class="tab-pane fade" id="q" role="tabpanel" aria-labelledby="q">
            <ul class="row">
              {{#each stateData.[16]}}
              <li class="col-md-2"><a href="/{{this.code}}/county">
                  <p class="states">{{this.state}}</p>
                </a>
              </li>
              {{/each}}
            </ul>
          </div>
          <div class="tab-pane fade" id="r" role="tabpanel" aria-labelledby="r">
            <ul class="row">
              {{#each stateData.[17]}}
              <li class="col-md-2"><a href="/{{this.code}}/county">
                  <p class="states">{{this.state}}</p>
                </a>
              </li>
              {{/each}}
            </ul>
          </div>
          <div class="tab-pane fade" id="s" role="tabpanel" aria-labelledby="s">
            <ul class="row">
              {{#each stateData.[18]}}
              <li class="col-md-2"><a href="/{{this.code}}/county">
                  <p class="states">{{this.state}}</p>
                </a>
              </li>
              {{/each}}
            </ul>
          </div>
          <div class="tab-pane fade" id="t" role="tabpanel" aria-labelledby="t">
            <ul class="row">
              {{#each stateData.[19]}}
              <li class="col-md-2"><a href="/{{this.code}}/county">
                  <p class="states">{{this.state}}</p>
                </a>
              </li>
              {{/each}}
            </ul>
          </div>
          <div class="tab-pane fade" id="u" role="tabpanel" aria-labelledby="u">
            <ul class="row">
              {{#each stateData.[20]}}
              <li class="col-md-2"><a href="/{{this.code}}/county">
                  <p class="states">{{this.state}}</p>
                </a>
              </li>
              {{/each}}
            </ul>
          </div>
          <div class="tab-pane fade" id="v" role="tabpanel" aria-labelledby="v">
            <ul class="row">
              {{#each stateData.[21]}}
              <li class="col-md-2"><a href="/{{this.code}}/county">
                  <p class="states">{{this.state}}</p>
                </a>
              </li>
              {{/each}}
            </ul>
          </div>
          <div class="tab-pane fade" id="w" role="tabpanel" aria-labelledby="w">
            <ul class="row">
              {{#each stateData.[22]}}
              <li class="col-md-2"><a href="/{{this.code}}/county">
                  <p class="states">{{this.state}}</p>
                </a>
              </li>
              {{/each}}
            </ul>
          </div>
          <div class="tab-pane fade" id="x" role="tabpanel" aria-labelledby="x">
            <ul class="row">
              {{#each stateData.[23]}}
              <li class="col-md-2"><a href="/{{this.code}}/county">
                  <p class="states">{{this.state}}</p>
                </a>
              </li>
              {{/each}}
            </ul>
          </div>
          <div class="tab-pane fade" id="y" role="tabpanel" aria-labelledby="y">
            <ul class="row">
              {{#each stateData.[24]}}
              <li class="col-md-2"><a href="/{{this.code}}/county">
                  <p class="states">{{this.state}}</p>
                </a>
              </li>
              {{/each}}
            </ul>
          </div>
          <div class="tab-pane fade" id="z" role="tabpanel" aria-labelledby="z">
            <ul class="row">
              {{#each stateData.[25]}}
              <li class="col-md-2"><a href="/{{this.code}}/county">
                  <p class="states">{{this.state}}</p>
                </a>
              </li>
              {{/each}}
            </ul>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>

{{> scripts }}

{{> home/footernew }}