<body class="pg-config-setup">

  <img class="logo" src="/assets/images/logo/medicarecostreport_logo.png" alt="MedicareCostReport Logo" />

  <ol class="progress-steps">
  <li class="completed"><a href="/setup/database">Connect Database</a></li>
  <li class="completed"><a href="/setup/account">Create Account</a></li>
  <li><a href="/setup/stripe">Connect Stripe</a></li>
  <li><a href="/setup/mailgun">Connect Mailgun</a></li>
  </ol>

  <form action="/api/config/account" method="POST" class="card use-ajax" data-redirect="/setup/stripe">

    <header>
      <h1>Create Your Config Account</h1>
    </header>

    <div class="message info">

      <i class="ico-btn ico ico-light ico-info"></i>

      <section class="content">

        <p>This is your own internal account for
        administering your MedicareCostReport application.</p>

      </section>

    </div>

    <label>Email</label>
    <input class="textbox" type="email" name="email" required />

    <label>Password</label>
    <input class="textbox" type="password" name="password" required />

    <div class="btn btn-loader full-width">
    <input type="submit" value="Create Account" />
    </div>

  </form>

  {{> scripts }}
