<body class="pg-config-setup" id="pg-connect-database">

  <img class="logo" src="/assets/images/logo/medicarecostreport_logo.png" alt="MedicareCostReport Logo" />

  <ol class="progress-steps">
  <li class="completed"><a href="/setup/database">Connect Database</a></li>
  <li><a href="/setup/account">Create Account</a></li>
  <li><a href="/setup/stripe">Connect Stripe</a></li>
  <li><a href="/setup/mailgun">Connect Mailgun</a></li>
  </ol>

  <form action="/api/config/database" method="POST" novalidate class="card use-ajax" data-redirect="/setup/account">

    <header>
      <h1>Connect to MySQL</h1>
    </header>

    <label>Host</label>
    <input class="textbox" type="text" name="host" value="{{bacontent.datase.host}}" required data-error="Please provide your database hostname" />

    <label>User</label>
    <input class="textbox" type="text" name="user" value="root" value="{{content.database.user}}" required data-error="Please provide your database username"/>

    <label>Password</label>
    <input class="textbox" type="password" name="password" value="{{content.database.password}}" required data-error="Please provide your database password" />

    <label>Port</label>
    <input class="textbox" type="number" name="port" value="{{content.database.port}}" required data-error="Please provide your database port number" />

    <label>Database Name</label>
    <input class="textbox" type="text" name="database" value="{{content.database.database}}" required data-error="Please provide your database name" />

    <input type="hidden" name="multipleStatements" value="true" />
    <input type="hidden" name="connectionLimit" value="100" />

    <div class="btn btn-loader full-width">
    <input type="submit" class="btn" value="Setup Database" />
    </div>

  </form>

{{> scripts }}
