<body class="pg-config-setup" id="pg-config-welcome">

  <section class="welcome-message align-xy">

    <img class="logo" src="/assets/images/logo/medicarecostreport_logo.png" alt="MedicareCostReport Logo" />
    <h1 class="dim">Restart Server!</h1>

    <p>Please restart your node server to ensure all settings take effect.
    You can now use nodemon.</p>

    <p>It's recommended that you remove the routes commented under <strong>
    setup</strong> in api.js and router.js for security purposes.</p>

    <a class="btn" href="/">Go to Homepage</a>

  </section>

  {{> scripts }}
