<body class="pg-config-setup" id="pg-connect-stripe">

  <img class="logo" src="/assets/images/logo/medicarecostreport_logo.png" alt="MedicareCostReport Logo" />

  <ol class="progress-steps">
  <li class="completed"><a href="/setup/database">Connect Database</a></li>
  <li class="completed"><a href="/setup/account">Create Account</a></li>
  <li class="completed"><a href="/setup/stripe">Connect Stripe</a></li>
  <li><a href="/setup/mailgun">Connect Mailgun</a></li>
  </ol>

  {{> config/stripe-settings}}

  {{> scripts }}
