<body class="pg-config-setup" id="pg-config-welcome">

  <section class="welcome-message align-xy">

    <img class="logo dim" src="/assets/images/logo/medicarecostreport_logo.png" alt="MedicareCostReport Logo" />
    <h1 class="dim">Welcome to MedicareCostReport</h1>
    <a class="btn dim" href="/setup/database">Begin Setup</a>

  </section>

  {{> scripts }}
