.pg-account {

  .content {

    margin: 0;
    max-width: $scale15;

  }
}

.pg-accountprofile {

  form {

    overflow: hidden;

  }

  input[type="submit"] {

    float: left;

  }

  .btn-close-account {

    display: inline-block;
    color: $c-red;
    font-size: 0.8em;
    margin-top: $scale2;

  }

  @media (max-width: 400px){

    .btn {

      width: 100%;

    }

    .btn-close-account {

      width: 100%;
      text-align: center;
      margin: $scale2 auto 0;

    }
  }
}

.account {

  margin-bottom: 0;

  .updateplan {

    .selector-bar {

      .plan-name {

        float: left;
        font-weight: 600;

      }

      .plan-price {

        float: right;

      }
    }
  }
}

.users-table {

  width: 100%;

  @media (max-width: $mobile){

    .user-name,
    .user-role {

      display: none;

    }

    .user-email {

      padding-left: 0 !important;

    }
  }
}
