@-webkit-keyframes shake {
  from {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
    -ms-transform: translateX(-5px);
  }
  to {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
    -ms-transform: translateX(5px);
  }
}

@keyframes shake {
  from {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
    -ms-transform: translateX(-5px);
  }
  to {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
    -ms-transform: translateX(5px);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -ms-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -ms-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
}
/*# sourceMappingURL=animations.css.map */