.pg-auth {

  background-color: $c-purple;
  background-attachment: fixed;
  background-image: url("/assets/images/diagonal.svg"), linear-gradient(-90deg, #6F5CA3 0%, #546DB7 100%);

  header.panel-row {

    background-color: transparent;

  }

  h1 {

    color: white;
    text-align: center;
    font-size: $scale2;
    margin-bottom: $scale1;

  }

  form.card {

     margin: 0 auto $scale3;

  }

  .panel-row:nth-child(2) {

    padding-top: 0;
    padding-bottom: 0;

  }

  span {

    display: block;
    width: 100%;
    margin-top: $scale1;

  }

  @media (min-width: $mobile){

    form {

      width: $scale15;

    }
  }
}
