/* colours */
/* modular scale em */
html {
  height: 100%;
  font-size: 62.5%;
}

body {
  color: #707070;
  background-color: #F5F7FA;
  font-size: 1.4rem;
  font-family: "Source Sans Pro", helvetica, arial, sans-serif;
}

@media (min-width: 600px) {
  body {
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 1.6rem;
  }
}

.content {
  width: 100%;
  margin: 0 auto;
}
/*# sourceMappingURL=base.css.map */