// rome
.rd-container {

  display: none;
  padding: $scale2;
  text-align: center;
  border: 1px solid $c-border;
  background-color: #fff;

  td {

    padding: 0.65em 0.75em;

  }
}

.rd-container-attachment {

  position: absolute;

}

.rd-month {

  display: inline-block;
  margin-right: 25px;

}

.rd-month-label {

  font-weight: 700;
  color: lighten($c-dark, 15%);

}

.rd-day-head {

  padding: $scale1 0 $scale/2;
  color: lighten($c-dark, 15%);

}

.rd-month:last-child {

  margin-right: 0;

}

.rd-back,
.rd-next {

  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background: none;

}

.rd-back[disabled],
.rd-next[disabled] {

  cursor: default;

}

.rd-back {

  float: left;

}

.rd-next {

  float: right;

}

.rd-back:before {

  content: '←';
  display: block;
  color: lighten($c-dark, 15%);

}

.rd-next:before {

  content: '→';
  display: block;
  color: lighten($c-dark, 15%);

}

.rd-day-body {

  cursor: pointer;
  text-align: center;

}

.rd-day-selected,
.rd-time-selected,
.rd-time-option:hover {

  cursor: pointer;
  color: #fff;
  background-color: $c-primary;

}

.rd-day-prev-month,
.rd-day-next-month {

  color: #999;

}

.rd-day-disabled {

  cursor: default;
  color: #fcc;

}

.rd-time {

  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: $scale1;

}

.rd-time-list {

  display: none;
  position: absolute;
  overflow-y: scroll;
  max-height: 160px;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: #fff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);

}

.rd-time-selected {

  padding: 5px;

}

.rd-time-option {

  padding: 5px;

}

.rd-day-concealed {

  visibility: hidden;

}

// datepicker polyfill
date-input-polyfill {

  font-family: "Open Sans";
  border-radius: 2px;
  border-collapse: collapse !important;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1) !important;

  .yearSelect,
  .monthSelect {

    float: left;
    height: $scale4;
    color: $c-text;
    cursor: pointer;
    padding: 0 $scale;
    text-align: center;
    outline: none;

  }

  button {

    display: inline-block;
    color: white;
    padding: 1.525em 0;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 0.5em;
    text-transform: uppercase;
    background: #515D73 !important;

  }

  thead th {

    color: #515D73;
    padding: 0.75em 0 0;

  }

  tbody td {

    color: $c-text;
    font-size: 0.9em;
    padding: 0.4em 0;

  }

  td[data-selected] {

    color: white;
    background-color: #515D73;

  }
}
