.card {

  position: relative;
  padding: $scale2;
  margin-bottom: $scale2;
  background: white;
  overflow: scroll;

  &:last-of-type {

    margin-bottom: 0;

  }

  header {

    position: relative;
    overflow: hidden;
    text-align: left;
    padding-bottom: $scale1;
    margin-bottom: $scale3;
    border-bottom: 1px dotted $c-border;

    h1 {

      float: left;
      margin: 0;
      font-size: $scale1;
      font-weight: 600;

    }

    a {

      float: right;
      margin-top: 0.2em;
      font-size: 0.9em;

    }
  }
}
