.chart {

  position: relative;
  height: 15em;
  cursor: pointer;

  canvas {

    max-height: 15em;

  }

  .message {

    position: absolute;
    font-weight: 600;
    text-align: center;

  }
}

.sparkline {

  position: relative;
  height: 2em;
  width: 12em;

}

.legend {

  display: none;
  overflow: hidden;
  margin-bottom: $scale2;

  li {

    float: left;
    line-height: 10px;
    font-size: 0.85em;
    margin: 0 $scale $scale/2 0;

    span {

      position: relative;
      display: inline-block;
      width: 12px;
      height: 12px;
      top: 2px;
      margin-right: $scale/2;

    }
  }
}

#chart-tooltip {

  color: white;
  border-radius: $radius;
  background-color: $c-dark;

}
