.pg-config-setup {

  padding: $scale3 0;
  background-attachment: fixed;
  background-color: #6F5CA3;
  background-image: linear-gradient(-90deg, #6F5CA3 0%, #546DB7 100%);

  .welcome-message {

    text-align: center;
    width: 100%;

    h1 {

      color: white;
      font-size: $scale4;
      transition: 4s all cubic-bezier(.1, -.21, .19, 1.44);

      &.dim {

        opacity: 0;

      }
    }

    p {

      color: white;
      font-size: $scale1;
      margin-top: $scale3;

    }

    .btn {

      display: inline-block;
      font-size: $scale2;
      margin-top: $scale;
      transition: 1s all cubic-bezier(.1, -.21, .19, 1.44);

      &.dim {

        opacity: 0;

      }
    }

    @media (min-width: $mobile){

      h1 {

        font-size: $scale6;

      }

      max-width: $scale16;
    }
  }

  > .message {

    margin: -$scale3 0 $scale3;
    text-align: center;
  }

  .logo {

    margin: 0 auto $scale3;
    width: $scale10;
    transition: 0.8s all cubic-bezier(.1, -.21, .19, 0.44);

    &.dim {

      opacity: 0;
      transform: translateY(-50%);
      -ms-transform: translateY(-50%);

    }
  }

  .btn {

    background-color: $c-green;

  }

}

.pg-config, .pg-config-setup {

  form.card {

    margin: $scale3 auto;
    width: 90%;

    > section {

      padding-bottom: $scale;
      border-bottom: 1px dotted $c-border;

      &:last-of-type {

        border-bottom: 0;

      }
    }

    h2 {

      color: $c-blue;
      font-size: $scale;
      font-weight: 600;
      text-transform: uppercase;

    }

    .skip {

      color: $c-text;
      text-decoration: none;
      text-align: right;

      &:hover {

        color: $c-blue;
        text-decoration: underline;

      }
    }

    .plan {

      position: relative;
      margin-bottom: $scale;
      border-bottom: 1px dotted $c-border;

      label {

        display: inline-block;

      }

    }

    @media (min-width: $mobile){

      width: $scale16;

    }
  }

  .progress-steps li {

    a {

      color: white;

    }

    &:before {

      background: lighten($c-purple, 10%);

    }

    &.completed:before {

      background-color: $c-primary;

    }
  }
}

.btn-remove-stripe-plan {

  position: absolute;
  top: 0;
  right: 0;
  width: 1.4em;
  height: 1.4em;
  opacity: 0.6;
  cursor: pointer;

  &:hover {

    opacity: 1;

  }
}

.config-accounts,
.config-users {

  margin-top: $scale7;

  #DataTables_Table_0_filter {

    position: absolute;
    top: -$scale7;
    right: 0;

  }

  .label {

    color: lighten($c-text, 5%);
    font-weight: 600;

  }

  @media (max-width: 800px){

    #DataTables_Table_0_filter {

      width: 100%;

    }

    thead {

      display: none;

    }

    tr {

      display: block;
      position: relative;
      overflow: hidden;
      width: 100%;
      padding: $scale1 0;
      margin-bottom: 0;
      border-bottom: 1px solid $c-border;


    }

    td {

      padding: 0 !important;
      border: none !important;

    }
  }

  @media (min-width: 801px){

    #DataTables_Table_0_filter {

      width: $scale13;

    }

    .label {

      display: none;

    }
  }

}

.config-accounts {

  @media (max-width: 800px){

    .id, .email {

      float: left;
      margin-bottom: $scale;

    }

    .email {

      clear: both;

    }

    .id {

      max-width: 30%;

    }

    .plan {

      float: left;

    }

    .date-created {

      float: left;
      clear: both;
      width: 40%;

    }

    .active, .actions {

      position: absolute;
      top: $scale1;
      right: 0;

    }

    .actions {

      top: auto;
      bottom: $scale;

    }
  }

}

.config-users {

  @media (max-width: 800px){

    .id, .name {

      float: left;
      margin-bottom: $scale;

    }

    .id {

      max-width: 30%;
      margin-right: $scale2;

    }

    .email {

      float: left;
      clear: left;
      margin-bottom: $scale;

    }

    .date-created,
    .permission {

      clear: left;
      width: 50%;

    }

    .email,
    .name,
    .date-created,
    .last-login,
    .permission {

      float: left;
      width: 50%;
      margin-bottom: $scale;

    }

    .permission {

      margin-bottom: 0;

    }

    .actions {

      position: absolute;
      right: 0;
      bottom: $scale;

    }

    .account-id {

      position: absolute;
      top: $scale;
      right: 0;
      text-align: right;

    }
  }
}
