.pg-dashboard {

  .goal {

    margin-bottom: $scale2;

    &:last-child {

      margin-bottom: 0;

    }

    .label {

      font-weight: 600;
      margin-bottom: $scale/2;

    }
  }

  .users {

    clear: both;

    .badge {

      width: $scale9;

    }

  }

  @media (max-width: $mobile){

    .revenues {

      margin-bottom: $scale1;

    }
  }

  @media (min-width: $mobile + 1){

    .revenues {

      float: left;
      width: 49%;

    }

    .goals {

      float: right;
      width: 49%;

    }
  }
}
