.phone {

  position: relative;
  width: 10em;
  height: 20em;
  border-radius: 1em;
  border: 1px solid darken(white, 7%);
  background-color: white;
  padding: $scale2 0.2em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

  &:before {

    content: "";
    position: absolute;
    top: 0.65em;
    left: 50%;
    width: 2.6em;
    height: 0.4em;
    border-radius: 1em;
    margin-left: -1.3em;
    background-color: #DCDDDE;

  }

  &:after {

    content: "";
    position: absolute;
    left: 50%;
    bottom: 0.7em;
    width: 1.1em;
    height: 1.1em;
    margin-left: -0.55em;
    border: 1px solid #DCDDDE;
    border-radius: 100%;

  }
}

.tablet {

  position: relative;
  overflow: hidden;
  width: 26em;
  min-height: 25em;
  border-radius: 1em;
  border: 1px solid #DCDDDE;
  background-color: white;
  padding: $scale2 0.2em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);

  .viewport {

    height: 14.35em;
    overflow: hidden;

  }

  &:before {

    content: "";
    position: absolute;
    top: 0.65em;
    left: 50%;
    width: 0.4em;
    height: 0.4em;
    margin-left: -0.2em;
    background-color: #DCDDDE;
    border-radius: 1em;

  }

  &:after {

    content: "";
    position: absolute;
    left: 50%;
    bottom: 0.7em;
    width: 1.1em;
    margin-left: -0.55em;
    height: 1.1em;
    border: 1px solid #DCDDDE;
    border-radius: 100%;

  }
}

.browser {

  position: relative;
  width: 100%;
  min-width: 20em;
  height: auto;
  border-radius: 0.4em;
  background: white;
  overflow: hidden;
  border: 1px solid darken(white, 7%);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);

  &:before {

    content: "";
    position: absolute;
    width: 100%;
    opacity: 0.8;
    height: 2.5em;
    background: white;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    background-position: left 0.75em center;
    background-repeat: no-repeat;
    background-size: 3em;
    background-image: url("../images/ui/browser-controls.svg");

  }

  .viewport {

    height: 100%;
    margin-top: 2.5em;
    overflow: hidden;

    img {

      display: block;

    }

    &:before {

      left: 3.14em;

    }
  }
}

.browser-and-phone {

  position: relative;
  height: 22em;

  .browser {

    position: absolute;
    width: 90%;
    min-width: auto;

  }

  .phone {

    position: absolute;
    height: 18em;
    right: 0;
    top: 2em;

  }

  @media (min-width: 475px){

    height: 23em;

    .phone {

      top: 5em;

    }
  }
}

.tablet-and-phone {

  position: relative;
  height: 18.6em;

  .phone {

    position: absolute;
    top: 0;
    left: 0;

  }

  .tablet {

    left: 11.5em;

  }

  @media (min-width: 550px){

    transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);

  }
}
