.pg-external {

  background-color: $c-purple;

  .logo {

    display: block;
    width: $scale10;
    height: $scale5;
    margin: $scale6 auto 0;

  }

  .message {

    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    max-width: $scale15;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    h1 {

      font-size: $scale3;
      font-weight: 800;
      color: white;
      margin: 0.25em 0 0.5em;

      &.large {

        font-size: $scale8;
        margin-bottom: 0;

      }
    }
  }

  @media (min-width: $mobile){

    font-size: 1.5rem;

  }

  @media (min-width: 1200px){

    font-size: 1.8rem;

  }
}
