form {

  .btn[type="submit"],
  .btn-next-step {

    display: block;
    clear: both;

  }
}

// standard input
label,
legend {

  display: block;
  position: relative;
  color: lighten($c-text, 5%);
  font-size: 0.85em;
  margin-bottom: 0.65em;
  text-transform: uppercase;

  &.required:after {

    content: "*";
    color: $c-red;
    margin-left: 0.35em;
    font-size: $scale;
    font-weight: 500;

  }
}

legend {

  margin-bottom: 1em;

}

.textbox,
.creditcard {

  display: block;
  position: relative;
  width: 100%;
  color: $c-text;
  font-size: $scale;
  padding: $scale;
  margin: 0 0 $scale1;
  background-color: white;
  border: 1px solid $c-border;

  &:focus {

    background-color: #fafafa;
    transition: all 0.3s ease-in-out;

  }

  &.error {

    position: relative;
    color: $c-red;
    margin-bottom: 0;
    border: 1px solid $c-red;
    background-color: lighten($c-red, 38);

  }

  &.warning {

    background: darken($c-orange, 3%);

  }
}

.error-message,
.warning-message {

  display: block;
  color: white;
  font-size: 0.85em;
  font-weight: 500;
  margin-bottom: $scale2;
  padding: 0.6em $scale;

}

.error-message {

  background: darken($c-red, 3%);

}

.warning-message {

  background: $c-orange;

}

.input-with-button {

  overflow: hidden;

  .textbox {

    float: left;
    width: 75%;
    border-right: none;

  }

  .btn {

    float: right;
    clear: none !important;
    width: 25% !important;
    height: 3.3em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

  }
}

// box input
.input {

  position: relative;
  margin-bottom: $scale1;
  padding: $scale-2 $scale-2 $scale/4 $scale-2;
  border: 1px solid $c-border;
  background-color: white;

  label {

    font-size: 0.75em;

  }

  .textbox {

    margin: 0;
    border: none;
    padding: $scale/2 0;
    background-color: transparent;

  }

  &.error {

    padding-bottom: $scale4;
    border: 1px solid $c-red;

    label {

      color: $c-red;

    }

    .error-message {

      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      margin-bottom: 0;

    }
  }
}

.select {

  position: relative;
  cursor: pointer;
  color: $c-text;
  width: 100%;
  margin-bottom: $scale1;
  overflow: hidden;
  border: 1px solid $c-border;
  background-color: white;

  &.error {

    border: 1px solid $c-red;

    select {

      color: $c-red;

    }

    .error-message {

      margin-bottom: 0;

    }
  }

  &.warning {

    border: 1px solid $c-orange;

    select {

      color: $c-orange;

    }

    .warning-message {

      margin-bottom: -1px;

    }
  }

  &:after {

    content: "";
    position: absolute;
    top: 1.4em;
    right: $scale;
    width: 0.85em;
    height: 0.5em;
    opacity: 0.35;
    pointer-events: none;
    background-size: contain;
    background-image: url("../icons/dark/ico-dropdown.svg");

  }

  select {

    width: 120%;
    color: $c-text;
    font-size: $scale;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: transparent;
    outline: none;
    cursor: pointer;
    padding: $scale;

  }

  select::-ms-expand {

    display: none;

  }
}

textarea {

  min-height: $scale8;
  outline: none;
  resize: vertical;

}

fieldset {

  clear: both;
  padding: 0;
  margin: 0 0 $scale/2 0;
  border: none;

  .checkbox,
  .radio {

    margin-bottom: 0.25em;

  }

  label {

    text-transform: none;

  }

  &.error {

    padding: 0 $scale 0 $scale;
    border: 1px solid $c-red;

    legend {

      color: $c-red;
      padding: 0 0.5em;

    }
  }

  .error-message {

    clear: both;
    margin: 0 $scale1*-1;

  }
}

.checkbox,
.radio {

  float: left;
  margin-right: $scale2;
  margin-bottom: 0.75em;

  label {

    float: left;
    line-height: $scale2;
    font-size: $scale;
    cursor: pointer;
    text-transform: none;

  }

  input {

    position: relative;
    float: left;
    width: 2em;
    height: 2em;
    cursor: pointer;
    margin-right: $scale;
    background: none;
    border: 1px solid darken($c-border, 8%);
    background-size: 70%;
    background-position: center center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all 0.2s ease-in-out;

  }
}

input:disabled {

  opacity: 0.5;

}

.checkbox {

  input:checked {

    border: none;
    background-color: $c-green;
    background-repeat: no-repeat;
    background-size: 1em;
    background-position: center center;
    background-image: url("../icons/light/ico-check.svg");

  }
}

.radio {

  input {

    border-radius: 100%;

    &:checked {

      border: none;
      background-color: $c-green;
      transition: all 0.2s ease-in-out;

      &:after {

        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1em;
        height: 1em;
        border-radius: 100%;
        background-color: white;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);

      }
    }
  }
}

.selector-bar {

  width: 100%;

  input {

    display: none;

  }

  :checked + label {

    color: white;
    border: none;
    background-color: $c-blue;

  }

  label {

    display: block;
    width: 100%;
    cursor: pointer;
    margin: 0 0 $scale/2 0;
    padding: $scale1 $scale2;
    border-radius: $radius;
    border: 1px solid $c-border;

  }
}

.switch {

  position: relative;
  float: left;
  width: 100%;
  margin-bottom: $scale1;

  legend {

    position: absolute;
    left: 5em;
    top: 50%;
    text-transform: none;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);

  }

  .switch-button {

    position: relative;
    float: left;
    width: 2.6em;
    height: 1.6em;

  }

  .switch-checkbox {

    display: none;

    &:checked + .switch-label {

      background-color: $c-green;
      transition: all 0.2s ease-in-out;

      .switch-handle {

        left: 1.6em !important;

      }
    }
  }

  .switch-label {

    position: relative;
    display: block;
    cursor: pointer;
    overflow: hidden;
    height: 100%;
    border-radius: 2em;
    background: darken($c-bg, 30%);

  }

  .switch-handle {

    position: absolute;
    top: 50%;
    left: 0.2em;
    color: white;
    width: 1.75em;
    height: 1.75em;
    font-size: 0.85em;
    font-weight: 600;
    line-height: 2.1em;
    text-align: center;
    text-transform: uppercase;
    pointer-events: none;
    background-color: white;
    transition: all 0.1s ease-out;
    border-radius: 100%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);

  }
}

.switch.withlabel {

  legend {

    left: 7.5em;

  }

  .switch-button {

    width: 5em;
    height: 2em;

  }

  .switch-label {

    border-radius: 0;
    background: white;
    border: 1px solid $c-border;

  }

  .switch-handle {

    height: auto;
    width: 3em;
    border-radius: 0;
    background-color: $c-primary;

    &:after {

      content: "No";

    }
  }

  .switch-checkbox:checked + .switch-label {

    background-color: white;

    .switch-handle {

      background-color: $c-green !important;
      left: 3.5em !important;

      &:after {

        content: 'Yes';

      }
    }
  }
}

// placeholder styling
::-webkit-input-placeholder {

  color: lighten($c-text, 24%);
}

::-moz-placeholder {

  color: lighten($c-text, 24%);

}

:-ms-input-placeholder {

  color: lighten($c-text, 24%);

}

:-moz-placeholder {

  color: lighten($c-text, 24%);

}

.error::-webkit-input-placeholder {

  color: $c-red;

}

.error::-moz-placeholder {

  color: $c-red;

}

.error:-ms-input-placeholder {

  color: $c-red;

}

.error:-moz-placeholder {

  color: $c-red;

}
