// main {

//   > header {

//     position: relative;
//     width: auto;
//     z-index: 3;
//     background: white;
//     padding: $scale2;
//     margin: $scale2*-1 $scale2*-1 $scale2 $scale2*-1;

//     .user {

//       position: absolute;
//       top: 50%;
//       right: $scale2;
//       min-width: $scale10;
//       text-align: right;
//       color: $c-text-light;
//       transform: translateY(-50%);
//       -ms-transform: translateY(-50%);

//       .ico {

//         position: absolute;
//         top: 50%;
//         right: 0;
//         width: 1.6em;
//         height: 1.6em;
//         border-radius: 100%;
//         background: $c-purple;
//         transform: translateY(-50%);
//         -ms-transform: translateY(-50%);

//       }

//       .username {

//         margin-right: $scale4;

//       }
//     }
//   }

//   @media (max-width: $mobile){

//     > header {

//       color: white;
//       text-align: center;
//       background: $c-dark;
//       border: none;

//     }
//   }
// }
