@import "base", "normalize", "base", "layout", "button", "utilities",
"typography", "icons", "color", "card", "pricing", "auth", "form",
"notification", "animations";

body {

  height: 100%;
  min-height: 100%;

}

main {

  padding: 0;
  overflow-x: hidden;

}

.btn {

  text-transform: uppercase;

}

.pg-home {

  // header.panel-row {

  //   .logo-nav {

  //     margin-bottom: $scale4;

  //   }

  //   .tagline {

  //     display: block;
  //     color: white;
  //     font-weight: 600;

  //   }

  //   @media (max-width: 750px){

  //     .copy {

  //       position: relative;
  //       transform: none;
  //       width: 100%;
  //       margin-bottom: $scale2;

  //       .btn {

  //         width: 100%;

  //       }

  //       .tagline {

  //         font-size: $scale3;

  //       }
  //     }

  //     .visual {

  //       width: 125%;
  //       max-width: 125%;

  //     }
  //   }

  //   @media (min-width: 751px){

  //     min-height: $scale16;

  //     .copy {

  //       position: absolute;
  //       top: 50%;
  //       width: 45%;
  //       transform: translateY(-50%);
  //       -ms-transform: translateY(-50%);

  //     }

  //     .visual {

  //       width: 100%;
  //       margin-left: 50%;
  //       margin-bottom: -$scale6;

  //     }

  //     .tagline {

  //       font-size: $scale2;

  //     }
  //   }

  // }
}

// header.panel-row {

//   position: relative;
//   padding-top: $scale3;
//   padding-bottom: $scale3;
//   background-color: $c-purple;
//   background-image: url("/assets/images/diagonal.svg"), linear-gradient(-90deg, #6F5CA3 0%, #546DB7 100%);

//   .logo-nav {

//     overflow: hidden;

//     nav {

//       margin-top: 0.15em;

//     }

//     .btn {

//       margin-top: 0;
//       font-size: $scale;
//       padding: 0.4em 0.8em;
//       border-radius: $radius;

//     }
//   }

//   .content {

//     overflow: visible;

//   }

//   .logo {

//     float: left;
//     width: $scale10;
//     height: $scale4;

//   }

//   nav {

//     float: right;

//     a {

//       display: inline-block;
//       color: white;
//       text-decoration: none;
//       margin-right: $scale;

//       &:last-child {

//         margin-right: 0;

//       }
//     }

//     .btn {

//       padding: 0;

//     }
//   }

//   h1 {

//     color: lighten($c-blue, 14%);
//     font-size: $scale2;
//     margin-bottom: $scale/2;
//     text-transform: none;

//   }

//   .visual {

//     box-shadow: 0 2px 44px 0 rgba(0, 0, 0, 0.3);

//   }

//   .btn {

//     display: inline-block;
//     margin-top: $scale;
//     font-size: $scale1;

//   }
// }

.features {

  .feature-list {


    li {

      float: left;
      width: 50%;
      padding: $scale2 0;
      text-align: center;

    }

    .ico {

      width: $scale2;
      height: $scale2;
      margin: 0 auto $scale;

    }

    @media (min-width: $mobile){

      li {

        width: 25%;

      }
    }
  }

}

.cta {

  .content > h2 {

    margin-bottom: $scale1;

  }
}

.step {

  display: inline-block;
  line-height: $scale2;
  padding: 0;

  .number {

    color: white;
    font-weight: 700;
    border-radius: 100%;
    background-color: $c-blue;

  }

  @media (max-width: $mobile){

    width: 100%;
    text-align: left;
    margin-bottom: $scale3;

    &:last-child {

      margin-bottom: 0;

    }

    .number {

      float: left;
      margin-right: $scale;
      width: $scale2;
      height: $scale2;
      text-align: center;
      font-size: $scale;
      line-height: $scale2;

    }
  }

  @media (min-width: $mobile + 1){

    float: left;
    width: 33%;
    padding: 0 $scale;
    text-align: center;
    margin: 0 auto $scale/2;

    .number {

      width: $scale2;
      height: $scale2;
      font-size: $scale2;
      line-height: $scale2;
      text-align: center;
      margin: 0 auto $scale/2;

    }
  }
}

footer {

  color: white;
  overflow: hidden;
  background-color: darken($c-darkpurple, 26%);

  .copyright {

    margin-bottom: $scale;

  }

  span, address {

    float: left;
    clear: both;
    opacity: 0.7;
    font-style: normal;
    font-size: 0.8em;

  }

  address {

    display: block;
    opacity: 0.5;
    margin-top: 0.5em;

  }

  nav {

    float: left;
    clear: both;
    margin-bottom: $scale;

    a {

      color: white;
      font-size: 0.8em;
      opacity: 0.7;
      text-decoration: none;
      margin-right: $scale1;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;

      &:hover {

        opacity: 1;
        text-decoration: underline;

      }
    }
  }
}

.pg-text {

  .panel-row {

    h1 {

      color: $c-purple;
      margin-bottom: $scale;

    }

    h2 {

      color: $c-purple;
      font-size: $scale1;
      margin: $scale3 0 $scale 0;

    }

    h3 {

      color: $c-blue;
      font-size: $scale;
      margin-bottom: $scale;

    }
  }
}
