/* colours */
/* modular scale em */
html {
  height: 100%;
  font-size: 62.5%;
}

body {
  color: #707070;
  background-color: #F5F7FA;
  font-size: 1.4rem;
  font-family: "Source Sans Pro", helvetica, arial, sans-serif;
}

@media (min-width: 600px) {
  body {
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 1.6rem;
  }
}

.content {
  width: 100%;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-repeat: no-repeat;
}

*:after, *:before {
  background-repeat: no-repeat;
}

html {
  font-family: sans-serif;
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main {
  display: block;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

ul {
  list-style: none;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  display: block;
  border-style: none;
  max-width: 100%;
}

img[src*=".svg"] {
  width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

input {
  outline: none;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* colours */
/* modular scale em */
html {
  height: 100%;
  font-size: 62.5%;
}

body {
  color: #707070;
  background-color: #F5F7FA;
  font-size: 1.4rem;
  font-family: "Source Sans Pro", helvetica, arial, sans-serif;
}

@media (min-width: 600px) {
  body {
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 1.6rem;
  }
}

.content {
  width: 100%;
  margin: 0 auto;
}

main {
  padding: 1.5625em;
}

@media (min-width: 600px) {
  main.with-sidebar {
    padding-left: 13.20403em;
  }
  main.with-sidebar .blankslate-message {
    margin-left: 6.60202em;
  }
}

@media (max-width: 601px) {
  main.with-bottom-nav {
    padding-bottom: 4.76837em;
  }
}

header {
  margin-bottom: 1em;
}

@media (min-width: 600px) {
  .col1 {
    float: left;
    width: 49%;
  }
}

@media (min-width: 600px) {
  .col2 {
    float: right;
    width: 49%;
  }
}

.panel-row {
  padding: 2.44141em 2.44141em;
}

.panel-row .content {
  position: relative;
  max-width: 1000px;
  overflow: hidden;
}

.panel-row h1, .panel-row h2 {
  margin-top: 0;
}

.panel-row h2 {
  color: #73B0F4;
  font-size: 1.5625em;
}

.panel-row .btn {
  display: inline-block;
}

.panel-row:last-child {
  border-bottom: none;
}

.panel-row.dark {
  color: white;
  background-color: #333440;
}

.panel-row.dark h2 {
  color: white;
}

.panel-row.dark p {
  color: #9e9e9e;
}

.panel-row.tint {
  background-color: #fafafa;
}

.panel-row.brand {
  background-color: #546DB7;
}

.panel-row.brand h2 {
  color: white;
}

.panel-row.brand .btn {
  font-size: 1.5625em;
  background-color: #8CC57D;
}

.panel-row .visual.rounded {
  border-radius: 100%;
  border: 0.1em solid #f2f2f2;
  overflow: hidden;
}

@media (max-width: 600px) {
  .panel-row .content > h2 {
    margin-bottom: 1.5625em;
  }
  .panel-row .copy {
    margin-bottom: 1.95312em;
  }
}

@media (min-width: 601px) {
  .panel-row {
    padding-top: 4.76837em;
    padding-bottom: 4.76837em;
  }
  .panel-row .content > h2 {
    margin-bottom: 2.44141em;
  }
  .panel-row:after {
    content: "";
    display: table;
    clear: both;
  }
  .panel-row .copy {
    position: absolute;
    top: 50%;
    width: 30%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
  .panel-row .visual {
    width: 50%;
  }
  .panel-row .visual.restrict-width {
    width: 35%;
  }
  .panel-row.align-left .visual {
    float: right;
  }
  .panel-row.align-right .copy {
    left: 60%;
  }
  .panel-row.align-right .visual {
    float: left;
  }
}

@media (min-width: 1000px) {
  .panel-row.restict-width {
    padding-left: 0;
    padding-right: 0;
  }
}

.grid-row {
  width: 100%;
  overflow: hidden;
  text-align: center;
  padding: 1.95312em 0;
}

.grid-row .content {
  max-width: 1000px;
}

.grid-row .grid {
  overflow: hidden;
}

.grid-row .grid li {
  position: relative;
  text-align: center;
  min-height: 9.31323em;
  margin: 0;
  padding: 0 2.44141em;
}

.grid-row .grid li .content {
  padding: 0 1em;
}

.grid-row .grid li .content span {
  line-height: 1.4em;
  font-weight: 600;
}

.grid-row .grid li i {
  width: 2em;
  height: 2em;
  opacity: 0.6;
  margin: 0 auto 1em;
}

@media (min-width: 400px) {
  .grid-row .grid li {
    width: 50%;
  }
  .grid-row .grid li:nth-of-type(n+5) {
    border-bottom: none;
  }
}

@media (min-width: 800px) {
  .grid-row .grid li {
    width: 33.33%;
  }
  .grid-row .grid li:nth-of-type(3n+3), .grid-row .grid li:nth-of-type(3n+3) {
    border-right: none;
  }
  .grid-row .grid li:nth-of-type(n+4) {
    border-bottom: none;
  }
}

.title-row:after {
  content: "";
  display: table;
  clear: both;
}

.title-row h2 {
  float: left;
  margin-top: 0;
}

.title-row .btn {
  float: right;
  margin-top: -0.8em;
}

.testimonial img {
  float: left;
  margin-right: 1.5625em;
  width: 3.05176em;
  border-radius: 100%;
}

.testimonial blockquote, .testimonial cite {
  overflow: hidden;
}

.sticky-footer {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sticky-footer main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

button {
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.btn {
  cursor: pointer;
  color: white;
  font-size: 1em;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  padding: 1em 2.44141em;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border-radius: 2px;
  background-color: #8CC57D;
}

.btn.btn-red {
  color: white;
  background-color: #d95565;
}

.btn.btn-red:hover {
  background-color: #d44052;
}

.btn.btn-blue {
  color: white;
  background-color: #73B0F4;
}

.btn.btn-blue:hover {
  background-color: #5ba3f2;
}

.btn.btn-small {
  font-size: 0.8em;
  padding: 0.8em 1.5625em;
}

.btn:hover {
  background-color: #79bc68;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-loader {
  position: relative;
  display: inline-block;
  padding: 0;
  cursor: pointer;
  overflow: hidden;
  background-color: #8CC57D;
  border-radius: 2px;
}

.btn-loader:hover {
  background-color: #79bc68;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-loader input, .btn-loader .btn {
  position: relative;
  display: block;
  color: white;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  padding: 1em 2.44141em;
  background: transparent;
}

.btn-loader:after {
  display: none;
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  right: 1em;
  top: 1.05em;
  z-index: 3;
  background-size: contain;
  background-image: url("../icons/light/ico-loader.svg");
}

.btn-loader.full-width.loading {
  padding-right: 0;
}

.btn-loader.loading {
  padding-right: 1em;
}

.btn-loader.loading:after {
  display: block;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-animation: rotate 1s infinite linear;
  animation: rotate 1s infinite linear;
}

.btn-outline {
  color: #707070;
  background: transparent;
  border: 1px solid whitesmoke;
}

.btn-outline:hover {
  color: white;
  border-color: #d95565;
  background: #d95565;
}

.btn-inline {
  display: inline-block;
  margin: 0 0.2em;
  padding: 0.1em 0.75em 0.2em;
  color: white !important;
  font-size: 0.8em;
  text-decoration: none;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.full-width {
  max-width: 100%;
  width: 100%;
}

.full-width > * {
  width: 100%;
  max-width: 100%;
}

.restrict-width {
  max-width: 1000px;
  margin: 0 auto;
}

.no-padding {
  padding: 0 !important;
}

img {
  max-width: 100%;
  line-height: 0;
}

.align-x {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.align-y {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.align-xy {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.align-center {
  text-align: center;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  margin: 0 0 0 0;
  padding: 0;
  line-height: 1.25em;
}

h1 {
  font-weight: 600;
  font-size: 1.5625em;
}

h2 {
  font-size: 1.25em;
  font-weight: 600;
  margin: 1.25em 0 1em;
}

p {
  line-height: 1.5625em;
  margin-bottom: 1em;
}

a {
  color: #73B0F4;
}

p:last-child {
  margin-bottom: 0;
}

.list {
  list-style: none;
}

.list li {
  margin-bottom: 1em;
  line-height: 1.4em;
}

.checklist {
  margin-left: 0;
}

.checklist li {
  list-style: none;
  text-align: left;
  background-position: left center;
  background-size: 0.8em;
  padding-left: 1.5em;
  background-image: url("..//icons/color/ico-check-green.svg");
}

.checklist li:before {
  display: none;
}

.checklist li.cross {
  background-image: url("..//icons/color/ico-cross-red.svg");
}

ul.list li {
  position: relative;
  padding-left: 1.25em;
}

ul.list li:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 0.6em;
  height: 0.6em;
  border-radius: 100%;
  background-color: #73B0F4;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

ol.list {
  counter-reset: list-counter;
}

ol.list li:before {
  counter-increment: list-counter;
  content: counter(list-counter);
  display: inline-block;
  margin-right: 0.75em;
  width: 1.6em;
  height: 1.6em;
  text-align: center;
  color: white;
  line-height: 1.6em;
  font-size: 0.9em;
  border-radius: 100%;
  background-color: #73B0F4;
}

blockquote {
  font-style: italic;
  font-size: 1.1em;
  line-height: 1.5625em;
}

cite {
  display: block;
  font-style: normal;
  opacity: 0.7;
  margin: 1.25em 0 0 0;
}

.ico {
  position: relative;
  display: block;
}

.ico:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-size: 1100%;
}

.ico.ico-btn:after {
  width: 50%;
  height: 50%;
}

.ico.ico-light:after {
  background-image: url("../icons/light/icons-light.svg");
}

.ico.ico-dark:after {
  background-image: url("../icons/dark/icons-dark.svg");
}

.ico.ico-social-dark:after {
  background-image: url("../icons/dark/icons-social.svg");
}

.ico.ico-social-light:after {
  background-image: url("../icons/light/icons-social.svg");
}

.ico.icon-payment:after {
  background-size: 300%;
  background-image: url("../icons/color/payment-icons.png");
  background-image: url("../icons/color/payment-icons.svg");
  background-image: url("../icons/payment-icons.png");
  background-image: url("../icons/payment-icons.svg");
}

.ico-user:after {
  background-position: 0 0;
}

.ico-users:after {
  background-position: 10% 0;
}

.ico-image:after {
  background-position: 20% 0;
}

.ico-music:after {
  background-position: 30% 0;
}

.ico-video:after {
  background-position: 40% 0;
}

.ico-bell:after {
  background-position: 50% 0;
}

.ico-phone:after {
  background-position: 60% 0;
}

.ico-speaker:after {
  background-position: 70% 0;
}

.ico-mic:after {
  background-position: 80% 0;
}

.ico-star:after {
  background-position: 90% 0;
}

.ico-starfilled:after {
  background-position: 100% 0;
}

.ico-file:after {
  background-position: 0 16.66667%;
}

.ico-files:after {
  background-position: 10% 16.66667%;
}

.ico-pencil:after {
  background-position: 20% 16.66667%;
}

.ico-compose:after {
  background-position: 30% 16.66667%;
}

.ico-delete:after {
  background-position: 40% 16.66667%;
}

.ico-share:after {
  background-position: 50% 16.66667%;
}

.ico-replay:after {
  background-position: 60% 16.66667%;
}

.ico-refresh:after {
  background-position: 70% 16.66667%;
}

.ico-export:after {
  background-position: 80% 16.66667%;
}

.ico-download:after {
  background-position: 90% 16.66667%;
}

.ico-upload:after {
  background-position: 100% 16.66667%;
}

.ico-inbox:after {
  background-position: 0% 33.33333%;
}

.ico-mail:after {
  background-position: 10% 33.33333%;
}

.ico-mailsolid:after {
  background-position: 20% 33.33333%;
}

.ico-message:after {
  background-position: 30% 33.33333%;
}

.ico-chat:after {
  background-position: 40% 33.33333%;
}

.ico-help:after {
  background-position: 50% 33.33333%;
}

.ico-calendar:after {
  background-position: 60% 33.33333%;
}

.ico-calendaradd:after {
  background-position: 70% 33.33333%;
}

.ico-clock:after {
  background-position: 80% 33.33333%;
}

.ico-happy:after {
  background-position: 90% 33.33333%;
}

.ico-sad:after {
  background-position: 100% 33.33333%;
}

.ico-home:after {
  background-position: 0% 50%;
}

.ico-globe:after {
  background-position: 10% 50%;
}

.ico-spanner:after {
  background-position: 20% 50%;
}

.ico-settings:after {
  background-position: 30% 50%;
}

.ico-controls:after {
  background-position: 40% 50%;
}

.ico-search:after {
  background-position: 50% 50%;
}

.ico-computer:after {
  background-position: 60% 50%;
}

.ico-mobile:after {
  background-position: 70% 50%;
}

.ico-location:after {
  background-position: 80% 50%;
}

.ico-heart:after {
  background-position: 90% 50%;
}

.ico-heartfilled:after {
  background-position: 100% 50%;
}

.ico-padlockclosed:after {
  background-position: 0% 66.66667%;
}

.ico-padlockopen:after {
  background-position: 10% 66.66667%;
}

.ico-creditcard:after {
  background-position: 20% 66.66667%;
}

.ico-cash:after {
  background-position: 30% 66.66667%;
}

.ico-stopcircle:after {
  background-position: 40% 66.66667%;
}

.ico-infocircle:after {
  background-position: 50% 66.66667%;
}

.ico-questioncircle:after {
  background-position: 60% 66.66667%;
}

.ico-warning:after {
  background-position: 70% 66.66667%;
}

.ico-question:after {
  background-position: 80% 66.66667%;
}

.ico-info:after {
  background-position: 90% 66.66667%;
}

.ico-eye:after {
  background-position: 100% 66.66667%;
}

.ico-cloudupload:after {
  background-position: 0% 83.33333%;
}

.ico-clouddownload:after {
  background-position: 10% 83.33333%;
}

.ico-piechart:after {
  background-position: 20% 83.33333%;
}

.ico-chart:after {
  background-position: 30% 83.33333%;
}

.ico-chartup:after {
  background-position: 40% 83.33333%;
}

.ico-chartdown:after {
  background-position: 50% 83.33333%;
}

.ico-list:after {
  background-position: 60% 83.33333%;
}

.ico-globe:after {
  background-position: 70% 83.33333%;
}

.ico-rocket:after {
  background-position: 80% 83.33333%;
}

.ico-left:after {
  background-position: 0% 100%;
}

.ico-right:after {
  background-position: 10% 100%;
}

.ico-up:after {
  background-position: 20% 100%;
}

.ico-down:after {
  background-position: 30% 100%;
}

.ico-minus:after {
  background-position: 40% 100%;
}

.ico-plus:after {
  background-position: 50% 100%;
}

.ico-check:after {
  background-position: 60% 100%;
}

.ico-cross:after {
  background-position: 70% 100%;
}

.ico-nav:after {
  background-position: 80% 100%;
}

.ico-visa:after {
  background-position: 0% 0%;
}

.ico-mastercard:after {
  background-position: 50% 0%;
}

.ico-amex:after {
  background-position: 100% 0%;
}

.ico-facebook:after {
  background-position: 0% 0%;
}

.ico-twitter:after {
  background-position: 10% 0%;
}

.ico-linkedin:after {
  background-position: 20% 0%;
}

.ico-instagram:after {
  background-position: 30% 0%;
}

.ico-youtube:after {
  background-position: 40% 0%;
}

.ico-pinterest:after {
  background-position: 50% 0%;
}

.ico-dribbble:after {
  background-position: 70% 0%;
}

.ico-vimeo:after {
  background-position: 80% 0%;
}

.ico-soundcloud:after {
  background-position: 90% 0%;
}

.ico-googleplus:after {
  background-position: 100% 0%;
}

.ico-rss:after {
  background-position: 0% 175%;
}

/* colours */
.card {
  position: relative;
  padding: 1.5625em;
  margin-bottom: 1.5625em;
  background: white;
  overflow: scroll;
}

.card:last-of-type {
  margin-bottom: 0;
}

.card header {
  position: relative;
  overflow: hidden;
  text-align: left;
  padding-bottom: 1.25em;
  margin-bottom: 1.95312em;
  border-bottom: 1px dotted #f2f2f2;
}

.card header h1 {
  float: left;
  margin: 0;
  font-size: 1.25em;
  font-weight: 600;
}

.card header a {
  float: right;
  margin-top: 0.2em;
  font-size: 0.9em;
}

.pg-pricing {
  background-color: #546DB7;
  background-image: url("/assets/images/diagonal.svg"), -webkit-gradient(linear, right top, left top, from(#6F5CA3), to(#546DB7));
  background-image: url("/assets/images/diagonal.svg"), linear-gradient(-90deg, #6F5CA3 0%, #546DB7 100%);
}

.pricing {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 2.44141em;
  text-align: center;
}

.pricing h1 {
  color: white;
  font-size: 1.5625em;
  margin-bottom: 1.25em;
}

.pricing .tier {
  position: relative;
  overflow: visible;
  text-align: left;
}

.pricing .tier .name {
  float: left;
  color: #73B0F4;
  font-weight: 600;
  font-size: 1.25em;
  text-transform: uppercase;
}

.pricing .tier .price {
  float: right;
  font-weight: 600;
  margin-top: -.5em;
}

.pricing .tier .value {
  font-size: 1.95312em;
  font-weight: 800;
  color: #515151;
}

.pricing .tier .period {
  color: #707070;
  text-align: right;
  margin-top: -.25em;
  font-size: 0.8em;
}

.pricing .tier .save {
  position: absolute;
  top: -1em;
  right: -1em;
  width: 3.8147em;
  height: 3.8147em;
  padding-top: 1em;
  line-height: 1em;
  color: white;
  font-weight: 600;
  border-radius: 100%;
  text-transform: uppercase;
  background-color: #F0AA61;
}

.pricing .tier .checklist {
  float: left;
  clear: both;
  margin-top: 1em;
  margin-bottom: 1em;
}

.pricing .tier .checklist li {
  margin-bottom: 0.5em;
}

.pricing .tier .btn {
  display: block;
  clear: both;
}

@media (min-width: 600px) {
  .pricing .tier {
    width: 30%;
    display: inline-block;
    margin-right: 1%;
  }
  .pricing .tier:nth-child(2) {
    position: relative;
    top: 1em;
  }
  .pricing .tier:last-child {
    margin-right: 0;
  }
}

.pg-auth {
  background-color: #546DB7;
  background-attachment: fixed;
  background-image: url("/assets/images/diagonal.svg"), -webkit-gradient(linear, right top, left top, from(#6F5CA3), to(#546DB7));
  background-image: url("/assets/images/diagonal.svg"), linear-gradient(-90deg, #6F5CA3 0%, #546DB7 100%);
}

.pg-auth header.panel-row {
  background-color: transparent;
}

.pg-auth h1 {
  color: white;
  text-align: center;
  font-size: 1.5625em;
  margin-bottom: 1.25em;
}

.pg-auth form.card {
  margin: 0 auto 1.95312em;
}

.pg-auth .panel-row:nth-child(2) {
  padding-top: 0;
  padding-bottom: 0;
}

.pg-auth span {
  display: block;
  width: 100%;
  margin-top: 1.25em;
}

@media (min-width: 600px) {
  .pg-auth form {
    width: 28.42171em;
  }
}

form .btn[type="submit"],
form .btn-next-step {
  display: block;
  clear: both;
}

label,
legend {
  display: block;
  position: relative;
  color: #7d7d7d;
  font-size: 0.85em;
  margin-bottom: 0.65em;
  text-transform: uppercase;
}

label.required:after,
legend.required:after {
  content: "*";
  color: #d95565;
  margin-left: 0.35em;
  font-size: 1em;
  font-weight: 500;
}

legend {
  margin-bottom: 1em;
}

.textbox,
.creditcard {
  display: block;
  position: relative;
  width: 100%;
  color: #707070;
  font-size: 1em;
  padding: 1em;
  margin: 0 0 1.25em;
  background-color: white;
  border: 1px solid #f2f2f2;
}

.textbox:focus,
.creditcard:focus {
  background-color: #fafafa;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.textbox.error,
.creditcard.error {
  position: relative;
  color: #d95565;
  margin-bottom: 0;
  border: 1px solid #d95565;
  background-color: #fcf3f4;
}

.textbox.warning,
.creditcard.warning {
  background: #efa253;
}

.error-message,
.warning-message {
  display: block;
  color: white;
  font-size: 0.85em;
  font-weight: 500;
  margin-bottom: 1.5625em;
  padding: 0.6em 1em;
}

.error-message {
  background: #d6485a;
}

.warning-message {
  background: #F0AA61;
}

.input-with-button {
  overflow: hidden;
}

.input-with-button .textbox {
  float: left;
  width: 75%;
  border-right: none;
}

.input-with-button .btn {
  float: right;
  clear: none !important;
  width: 25% !important;
  height: 3.3em;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input {
  position: relative;
  margin-bottom: 1.25em;
  padding: 0.64em 0.64em 0.25em 0.64em;
  border: 1px solid #f2f2f2;
  background-color: white;
}

.input label {
  font-size: 0.75em;
}

.input .textbox {
  margin: 0;
  border: none;
  padding: 0.5em 0;
  background-color: transparent;
}

.input.error {
  padding-bottom: 2.44141em;
  border: 1px solid #d95565;
}

.input.error label {
  color: #d95565;
}

.input.error .error-message {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
}

.select {
  position: relative;
  cursor: pointer;
  color: #707070;
  width: 100%;
  margin-bottom: 1.25em;
  overflow: hidden;
  border: 1px solid #f2f2f2;
  background-color: white;
}

.select.error {
  border: 1px solid #d95565;
}

.select.error select {
  color: #d95565;
}

.select.error .error-message {
  margin-bottom: 0;
}

.select.warning {
  border: 1px solid #F0AA61;
}

.select.warning select {
  color: #F0AA61;
}

.select.warning .warning-message {
  margin-bottom: -1px;
}

.select:after {
  content: "";
  position: absolute;
  top: 1.4em;
  right: 1em;
  width: 0.85em;
  height: 0.5em;
  opacity: 0.35;
  pointer-events: none;
  background-size: contain;
  background-image: url("../icons/dark/ico-dropdown.svg");
}

.select select {
  width: 120%;
  color: #707070;
  font-size: 1em;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  border: transparent;
  outline: none;
  cursor: pointer;
  padding: 1em;
}

.select select::-ms-expand {
  display: none;
}

textarea {
  min-height: 5.96046em;
  outline: none;
  resize: vertical;
}

fieldset {
  clear: both;
  padding: 0;
  margin: 0 0 0.5em 0;
  border: none;
}

fieldset .checkbox,
fieldset .radio {
  margin-bottom: 0.25em;
}

fieldset label {
  text-transform: none;
}

fieldset.error {
  padding: 0 1em 0 1em;
  border: 1px solid #d95565;
}

fieldset.error legend {
  color: #d95565;
  padding: 0 0.5em;
}

fieldset .error-message {
  clear: both;
  margin: 0 -1.25em;
}

.checkbox,
.radio {
  float: left;
  margin-right: 1.5625em;
  margin-bottom: 0.75em;
}

.checkbox label,
.radio label {
  float: left;
  line-height: 1.5625em;
  font-size: 1em;
  cursor: pointer;
  text-transform: none;
}

.checkbox input,
.radio input {
  position: relative;
  float: left;
  width: 2em;
  height: 2em;
  cursor: pointer;
  margin-right: 1em;
  background: none;
  border: 1px solid #dedede;
  background-size: 70%;
  background-position: center center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

input:disabled {
  opacity: 0.5;
}

.checkbox input:checked {
  border: none;
  background-color: #8CC57D;
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: center center;
  background-image: url("../icons/light/ico-check.svg");
}

.radio input {
  border-radius: 100%;
}

.radio input:checked {
  border: none;
  background-color: #8CC57D;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.radio input:checked:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  border-radius: 100%;
  background-color: white;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.selector-bar {
  width: 100%;
}

.selector-bar input {
  display: none;
}

.selector-bar :checked + label {
  color: white;
  border: none;
  background-color: #73B0F4;
}

.selector-bar label {
  display: block;
  width: 100%;
  cursor: pointer;
  margin: 0 0 0.5em 0;
  padding: 1.25em 1.5625em;
  border-radius: 2px;
  border: 1px solid #f2f2f2;
}

.switch {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 1.25em;
}

.switch legend {
  position: absolute;
  left: 5em;
  top: 50%;
  text-transform: none;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.switch .switch-button {
  position: relative;
  float: left;
  width: 2.6em;
  height: 1.6em;
}

.switch .switch-checkbox {
  display: none;
}

.switch .switch-checkbox:checked + .switch-label {
  background-color: #8CC57D;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.switch .switch-checkbox:checked + .switch-label .switch-handle {
  left: 1.6em !important;
}

.switch .switch-label {
  position: relative;
  display: block;
  cursor: pointer;
  overflow: hidden;
  height: 100%;
  border-radius: 2em;
  background: #8fa5c7;
}

.switch .switch-handle {
  position: absolute;
  top: 50%;
  left: 0.2em;
  color: white;
  width: 1.75em;
  height: 1.75em;
  font-size: 0.85em;
  font-weight: 600;
  line-height: 2.1em;
  text-align: center;
  text-transform: uppercase;
  pointer-events: none;
  background-color: white;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  border-radius: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.switch.withlabel legend {
  left: 7.5em;
}

.switch.withlabel .switch-button {
  width: 5em;
  height: 2em;
}

.switch.withlabel .switch-label {
  border-radius: 0;
  background: white;
  border: 1px solid #f2f2f2;
}

.switch.withlabel .switch-handle {
  height: auto;
  width: 3em;
  border-radius: 0;
  background-color: #73B0F4;
}

.switch.withlabel .switch-handle:after {
  content: "No";
}

.switch.withlabel .switch-checkbox:checked + .switch-label {
  background-color: white;
}

.switch.withlabel .switch-checkbox:checked + .switch-label .switch-handle {
  background-color: #8CC57D !important;
  left: 3.5em !important;
}

.switch.withlabel .switch-checkbox:checked + .switch-label .switch-handle:after {
  content: 'Yes';
}

::-webkit-input-placeholder {
  color: #adadad;
}

::-moz-placeholder {
  color: #adadad;
}

:-ms-input-placeholder {
  color: #adadad;
}

:-moz-placeholder {
  color: #adadad;
}

.error::-webkit-input-placeholder {
  color: #d95565;
}

.error::-moz-placeholder {
  color: #d95565;
}

.error:-ms-input-placeholder {
  color: #d95565;
}

.error:-moz-placeholder {
  color: #d95565;
}

.notification {
  position: fixed;
  top: -1.95312em;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 999999;
  text-align: center;
  padding: 0.75em 1em;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

.notification.visible {
  top: 0;
  opacity: 1;
}

.notification.success {
  color: white;
  background-color: #8CC57D;
}

.notification.error {
  color: white;
  background-color: #d95565;
}

.notification.show {
  top: 0;
  opacity: 1;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.notification .btn-close-notification {
  position: absolute;
  top: 50%;
  right: 1.5625em;
  opacity: 0.7;
  width: 0.9em;
  height: 0.9em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.notification .btn-close-notification:hover {
  opacity: 1;
}

@-webkit-keyframes shake {
  from {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
    -ms-transform: translateX(-5px);
  }
  to {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
    -ms-transform: translateX(5px);
  }
}

@keyframes shake {
  from {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
    -ms-transform: translateX(-5px);
  }
  to {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
    -ms-transform: translateX(5px);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -ms-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -ms-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
}

body {
  height: 100%;
  min-height: 100%;
}

main {
  padding: 0;
  overflow-x: hidden;
}

.btn {
  text-transform: uppercase;
}

.features .feature-list li {
  float: left;
  width: 50%;
  padding: 1.5625em 0;
  text-align: center;
}

.features .feature-list .ico {
  width: 1.5625em;
  height: 1.5625em;
  margin: 0 auto 1em;
}

@media (min-width: 600px) {
  .features .feature-list li {
    width: 25%;
  }
}

.cta .content > h2 {
  margin-bottom: 1.25em;
}

.step {
  display: inline-block;
  line-height: 1.5625em;
  padding: 0;
}

.step .number {
  color: white;
  font-weight: 700;
  border-radius: 100%;
  background-color: #73B0F4;
}

@media (max-width: 600px) {
  .step {
    width: 100%;
    text-align: left;
    margin-bottom: 1.95312em;
  }
  .step:last-child {
    margin-bottom: 0;
  }
  .step .number {
    float: left;
    margin-right: 1em;
    width: 1.5625em;
    height: 1.5625em;
    text-align: center;
    font-size: 1em;
    line-height: 1.5625em;
  }
}

@media (min-width: 601px) {
  .step {
    float: left;
    width: 33%;
    padding: 0 1em;
    text-align: center;
    margin: 0 auto 0.5em;
  }
  .step .number {
    width: 1.5625em;
    height: 1.5625em;
    font-size: 1.5625em;
    line-height: 1.5625em;
    text-align: center;
    margin: 0 auto 0.5em;
  }
}

footer {
  color: white;
  overflow: hidden;
  background-color: #28355e;
}

footer .copyright {
  margin-bottom: 1em;
}

footer span, footer address {
  float: left;
  clear: both;
  opacity: 0.7;
  font-style: normal;
  font-size: 0.8em;
}

footer address {
  display: block;
  opacity: 0.5;
  margin-top: 0.5em;
}

footer nav {
  float: left;
  clear: both;
  margin-bottom: 1em;
}

footer nav a {
  color: white;
  font-size: 0.8em;
  opacity: 0.7;
  text-decoration: none;
  margin-right: 1.25em;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer nav a:hover {
  opacity: 1;
  text-decoration: underline;
}

.pg-text .panel-row h1 {
  color: #546DB7;
  margin-bottom: 1em;
}

.pg-text .panel-row h2 {
  color: #546DB7;
  font-size: 1.25em;
  margin: 1.95312em 0 1em 0;
}

.pg-text .panel-row h3 {
  color: #73B0F4;
  font-size: 1em;
  margin-bottom: 1em;
}
/*# sourceMappingURL=home.css.map */