.ico {
  position: relative;
  display: block;
}

.ico:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-size: 1100%;
}

.ico.ico-btn:after {
  width: 50%;
  height: 50%;
}

.ico.ico-light:after {
  background-image: url("../icons/light/icons-light.svg");
}

.ico.ico-dark:after {
  background-image: url("../icons/dark/icons-dark.svg");
}

.ico.ico-social-dark:after {
  background-image: url("../icons/dark/icons-social.svg");
}

.ico.ico-social-light:after {
  background-image: url("../icons/light/icons-social.svg");
}

.ico.icon-payment:after {
  background-size: 300%;
  background-image: url("../icons/color/payment-icons.png");
  background-image: url("../icons/color/payment-icons.svg");
  background-image: url("../icons/payment-icons.png");
  background-image: url("../icons/payment-icons.svg");
}

.ico-user:after {
  background-position: 0 0;
}

.ico-users:after {
  background-position: 10% 0;
}

.ico-image:after {
  background-position: 20% 0;
}

.ico-music:after {
  background-position: 30% 0;
}

.ico-video:after {
  background-position: 40% 0;
}

.ico-bell:after {
  background-position: 50% 0;
}

.ico-phone:after {
  background-position: 60% 0;
}

.ico-speaker:after {
  background-position: 70% 0;
}

.ico-mic:after {
  background-position: 80% 0;
}

.ico-star:after {
  background-position: 90% 0;
}

.ico-starfilled:after {
  background-position: 100% 0;
}

.ico-file:after {
  background-position: 0 16.66667%;
}

.ico-files:after {
  background-position: 10% 16.66667%;
}

.ico-pencil:after {
  background-position: 20% 16.66667%;
}

.ico-compose:after {
  background-position: 30% 16.66667%;
}

.ico-delete:after {
  background-position: 40% 16.66667%;
}

.ico-share:after {
  background-position: 50% 16.66667%;
}

.ico-replay:after {
  background-position: 60% 16.66667%;
}

.ico-refresh:after {
  background-position: 70% 16.66667%;
}

.ico-export:after {
  background-position: 80% 16.66667%;
}

.ico-download:after {
  background-position: 90% 16.66667%;
}

.ico-upload:after {
  background-position: 100% 16.66667%;
}

.ico-inbox:after {
  background-position: 0% 33.33333%;
}

.ico-mail:after {
  background-position: 10% 33.33333%;
}

.ico-mailsolid:after {
  background-position: 20% 33.33333%;
}

.ico-message:after {
  background-position: 30% 33.33333%;
}

.ico-chat:after {
  background-position: 40% 33.33333%;
}

.ico-help:after {
  background-position: 50% 33.33333%;
}

.ico-calendar:after {
  background-position: 60% 33.33333%;
}

.ico-calendaradd:after {
  background-position: 70% 33.33333%;
}

.ico-clock:after {
  background-position: 80% 33.33333%;
}

.ico-happy:after {
  background-position: 90% 33.33333%;
}

.ico-sad:after {
  background-position: 100% 33.33333%;
}

.ico-home:after {
  background-position: 0% 50%;
}

.ico-globe:after {
  background-position: 10% 50%;
}

.ico-spanner:after {
  background-position: 20% 50%;
}

.ico-settings:after {
  background-position: 30% 50%;
}

.ico-controls:after {
  background-position: 40% 50%;
}

.ico-search:after {
  background-position: 50% 50%;
}

.ico-computer:after {
  background-position: 60% 50%;
}

.ico-mobile:after {
  background-position: 70% 50%;
}

.ico-location:after {
  background-position: 80% 50%;
}

.ico-heart:after {
  background-position: 90% 50%;
}

.ico-heartfilled:after {
  background-position: 100% 50%;
}

.ico-padlockclosed:after {
  background-position: 0% 66.66667%;
}

.ico-padlockopen:after {
  background-position: 10% 66.66667%;
}

.ico-creditcard:after {
  background-position: 20% 66.66667%;
}

.ico-cash:after {
  background-position: 30% 66.66667%;
}

.ico-stopcircle:after {
  background-position: 40% 66.66667%;
}

.ico-infocircle:after {
  background-position: 50% 66.66667%;
}

.ico-questioncircle:after {
  background-position: 60% 66.66667%;
}

.ico-warning:after {
  background-position: 70% 66.66667%;
}

.ico-question:after {
  background-position: 80% 66.66667%;
}

.ico-info:after {
  background-position: 90% 66.66667%;
}

.ico-eye:after {
  background-position: 100% 66.66667%;
}

.ico-cloudupload:after {
  background-position: 0% 83.33333%;
}

.ico-clouddownload:after {
  background-position: 10% 83.33333%;
}

.ico-piechart:after {
  background-position: 20% 83.33333%;
}

.ico-chart:after {
  background-position: 30% 83.33333%;
}

.ico-chartup:after {
  background-position: 40% 83.33333%;
}

.ico-chartdown:after {
  background-position: 50% 83.33333%;
}

.ico-list:after {
  background-position: 60% 83.33333%;
}

.ico-globe:after {
  background-position: 70% 83.33333%;
}

.ico-rocket:after {
  background-position: 80% 83.33333%;
}

.ico-left:after {
  background-position: 0% 100%;
}

.ico-right:after {
  background-position: 10% 100%;
}

.ico-up:after {
  background-position: 20% 100%;
}

.ico-down:after {
  background-position: 30% 100%;
}

.ico-minus:after {
  background-position: 40% 100%;
}

.ico-plus:after {
  background-position: 50% 100%;
}

.ico-check:after {
  background-position: 60% 100%;
}

.ico-cross:after {
  background-position: 70% 100%;
}

.ico-nav:after {
  background-position: 80% 100%;
}

.ico-visa:after {
  background-position: 0% 0%;
}

.ico-mastercard:after {
  background-position: 50% 0%;
}

.ico-amex:after {
  background-position: 100% 0%;
}

.ico-facebook:after {
  background-position: 0% 0%;
}

.ico-twitter:after {
  background-position: 10% 0%;
}

.ico-linkedin:after {
  background-position: 20% 0%;
}

.ico-instagram:after {
  background-position: 30% 0%;
}

.ico-youtube:after {
  background-position: 40% 0%;
}

.ico-pinterest:after {
  background-position: 50% 0%;
}

.ico-dribbble:after {
  background-position: 70% 0%;
}

.ico-vimeo:after {
  background-position: 80% 0%;
}

.ico-soundcloud:after {
  background-position: 90% 0%;
}

.ico-googleplus:after {
  background-position: 100% 0%;
}

.ico-rss:after {
  background-position: 0% 175%;
}
/*# sourceMappingURL=icons.css.map */