$rows: 7;

.ico {

  // element height should be set to 0
  // with a padding-bottom equal to the
  // width to ensure the element
  // maintains its aspect ratio when
  // scaled

  position: relative;
  display: block;

  // sprite rows should be 11 images wide
  // background position is calculated by
  // (icons in row -1)%

  // icons are generated in the after pseudo
  // element. When applying to an atom
  // ensure the width & height of the
  // after element are set

  &:after {

    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-size: 1100%;

  }

  &.ico-btn:after {

    width: 50%;
    height: 50%;

  }

  &.ico-light:after {

    background-image: url("../icons/light/icons-light.svg");

  }

  &.ico-dark:after {

    background-image: url("../icons/dark/icons-dark.svg");

  }

  &.ico-social-dark:after {

    background-image: url("../icons/dark/icons-social.svg");

  }

  &.ico-social-light:after {

    background-image: url("../icons/light/icons-social.svg");

  }

  &.icon-payment:after {

    background-size: 300%;
    background-image: url("../icons/color/payment-icons.png");
    background-image: url("../icons/color/payment-icons.svg");
    background-image: url("../icons/payment-icons.png");
    background-image: url("../icons/payment-icons.svg");

  }
}

// row 1

.ico-user:after {

  background-position: 0 0;

}

.ico-users:after {

  background-position: 10% 0;

}

.ico-image:after {

  background-position: 20% 0;

}

.ico-music:after {

  background-position: 30% 0;

}

.ico-video:after {

  background-position: 40% 0;

}

.ico-bell:after {

  background-position: 50% 0;

}

.ico-phone:after {

  background-position: 60% 0;

}

.ico-speaker:after {

  background-position: 70% 0;

}

.ico-mic:after {

  background-position: 80% 0;

}

.ico-star:after {

  background-position: 90% 0;

}

.ico-starfilled:after {

  background-position: 100% 0;

}

// row 2

.ico-file:after {

  background-position: 0 100% / ($rows - 1);

}

.ico-files:after{

  background-position: 10% 100% / ($rows - 1);

}

.ico-pencil:after {

  background-position: 20% 100% / ($rows - 1);

}

.ico-compose:after {

  background-position: 30% 100% / ($rows - 1);

}

.ico-delete:after {

  background-position: 40% 100% / ($rows - 1);

}

.ico-share:after {

  background-position: 50% 100% / ($rows - 1);

}

.ico-replay:after {

  background-position: 60% 100% / ($rows - 1);

}

.ico-refresh:after {

  background-position: 70% 100% / ($rows - 1);

}

.ico-export:after {

  background-position: 80% 100% / ($rows - 1);

}

.ico-download:after {

  background-position: 90% 100% / ($rows - 1);

}

.ico-upload:after {

  background-position: 100% 100% / ($rows - 1);

}

// row 3

.ico-inbox:after {

  background-position: 0% 200% / ($rows - 1);

}

.ico-mail:after {

  background-position: 10% 200% / ($rows - 1);

}

.ico-mailsolid:after {

  background-position: 20% 200% / ($rows - 1);

}

.ico-message:after {

  background-position: 30% 200% / ($rows - 1);

}

.ico-chat:after {

  background-position: 40% 200% / ($rows - 1);

}

.ico-help:after {

  background-position: 50% 200% / ($rows - 1);

}

.ico-calendar:after {

  background-position: 60% 200% / ($rows - 1);

}

.ico-calendaradd:after {

  background-position: 70% 200% / ($rows - 1);

}

.ico-clock:after {

  background-position: 80% 200% / ($rows - 1);

}

.ico-happy:after {

  background-position: 90% 200% / ($rows - 1);

}

.ico-sad:after {

  background-position: 100% 200% / ($rows - 1);

}

// row 4

.ico-home:after {

  background-position: 0% 300% / ($rows - 1);

}

.ico-globe:after {

  background-position: 10% 300% / ($rows - 1);

}

.ico-spanner:after {

  background-position: 20% 300% / ($rows - 1);

}

.ico-settings:after {

  background-position: 30% 300% / ($rows - 1);

}

.ico-controls:after {

  background-position: 40% 300% / ($rows - 1);

}

.ico-search:after {

  background-position: 50% 300% / ($rows - 1);

}

.ico-computer:after {

  background-position: 60% 300% / ($rows - 1);

}

.ico-mobile:after {

  background-position: 70% 300% / ($rows - 1);

}

.ico-location:after {

  background-position: 80% 300% / ($rows - 1);

}

.ico-heart:after {

  background-position: 90% 300% / ($rows - 1);

}

.ico-heartfilled:after {

  background-position: 100% 300% / ($rows - 1);

}

// row 5
.ico-padlockclosed:after {

  background-position: 0% 400% / ($rows - 1);

}

.ico-padlockopen:after {

  background-position: 10% 400% / ($rows - 1);

}

.ico-creditcard:after {

  background-position: 20% 400% / ($rows - 1);

}

.ico-cash:after {

  background-position: 30% 400% / ($rows - 1);

}

.ico-stopcircle:after {

  background-position: 40% 400% / ($rows - 1);

}

.ico-infocircle:after {

  background-position: 50% 400% / ($rows - 1);

}

.ico-questioncircle:after {

  background-position: 60% 400% / ($rows - 1);

}

.ico-warning:after {

  background-position: 70% 400% / ($rows - 1);

}

.ico-question:after {

  background-position: 80% 400% / ($rows - 1);

}

.ico-info:after {

  background-position: 90% 400% / ($rows - 1);

}

.ico-eye:after {

  background-position: 100% 400% / ($rows - 1);

}

// row 6
.ico-cloudupload:after {

  background-position: 0% 500% / ($rows - 1);

}

.ico-clouddownload:after {

  background-position: 10% 500% / ($rows - 1);

}

.ico-piechart:after {

  background-position: 20% 500% / ($rows - 1);

}

.ico-chart:after {

  background-position: 30% 500% / ($rows - 1);

}

.ico-chartup:after {

  background-position: 40% 500% / ($rows - 1);

}

.ico-chartdown:after {

  background-position: 50% 500% / ($rows - 1);

}

.ico-list:after {

  background-position: 60% 500% / ($rows - 1);

}

.ico-globe:after {

  background-position: 70% 500% / ($rows - 1);

}

.ico-rocket:after {

  background-position: 80% 500% / ($rows - 1);

}


// row 7
.ico-left:after {

  background-position: 0% 600% / ($rows - 1);

}

.ico-right:after {

  background-position: 10% 600% / ($rows - 1);

}

.ico-up:after {

  background-position: 20% 600% / ($rows - 1);

}

.ico-down:after {

  background-position: 30% 600% / ($rows - 1);

}

.ico-minus:after {

  background-position: 40% 600% / ($rows - 1);

}

.ico-plus:after {

  background-position: 50% 600% / ($rows - 1);

}

.ico-check:after {

  background-position: 60% 600% / ($rows - 1);

}

.ico-cross:after {

  background-position: 70% 600% / ($rows - 1);

}

.ico-nav:after {

  background-position: 80% 600% / ($rows - 1);

}


// payment icons
.ico-visa:after {

  background-position: 0% 0%;

}

.ico-mastercard:after {

  background-position: 50% 0%;

}

.ico-amex:after {

  background-position: 100% 0%;

}

// social icons
.ico-facebook:after {

  background-position: 0% 0%;

}

.ico-twitter:after {

  background-position: 10% 0%;

}

.ico-linkedin:after {

  background-position: 20% 0%;

}

.ico-instagram:after {

  background-position: 30% 0%;

}

.ico-youtube:after {

  background-position: 40% 0%;

}

.ico-pinterest:after {

  background-position: 50% 0%;

}

.ico-dribbble:after {

  background-position: 70% 0%;

}

.ico-vimeo:after {

  background-position: 80% 0%;

}

.ico-soundcloud:after {

  background-position: 90% 0%;

}

.ico-googleplus:after {

  background-position: 100% 0%;

}

.ico-rss:after {

  background-position: 0% 175%;

}
