.badge {

  display: inline-block;
  color: white;
  background-color: $c-purple;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0.25em;
  padding: 0.25em 0.65em;
  font-size: 0.8em;
  border-radius: $radius;

  &.red {

    background-color: $c-red;

  }

  &.green {

    background-color: $c-green;

  }
}
