.loader, .loader-wrapper {

  position: absolute;
  z-index: 99999;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

}

.loader-message {

  position: relative;
  top: 10px;
  display: block;
  color: $c-text;
  font-size: 1.2em;
  font-family: "Source Sans Pro";

}


.sk-wave {

  $rectCount: 5;
  $animationDuration: 1.2s;
  $delayRange: 0.4s;

  width: 40px;
  height: 20px;
  text-align: center;
  font-size: 10px;

  .sk-rect {

    display: inline-block;
    height: 100%;
    width: 6px;
    background-color: $c-primary;
    animation: sk-wave $animationDuration infinite ease-in-out;

  }

  @for $i from 1 through $rectCount {
    .sk-rect#{$i} {
      animation-delay: - $animationDuration + $delayRange / ($rectCount - 1) * ($i - 1);
    }
  }
}

.sk-cubes {

  $animationDuration: 1.8s;
  width: 20px;
  height: 20px;
  position: relative;

  .sk-cube {

    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: $c-primary;
    animation: sk-cubes $animationDuration ease-in-out #{-$animationDuration} infinite both;

  }

  .sk-cube2 {

    animation-delay: -$animationDuration / 2;

  }
}

.sk-dots {

  $animationDuration: 1.4s;
  $delayRange: 0.32s;
  width: 40px;
  height: 20px;
  text-align: center;

  .sk-child {

    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: $c-primary;
    border-radius: 100%;
    animation: sk-dots $animationDuration ease-in-out 0s infinite both;

  }

  .sk-bounce1 { animation-delay: -$delayRange; }
  .sk-bounce2 { animation-delay: -$delayRange / 2; }

}

@keyframes sk-dots {

  0%, 80%, 100% {
    transform: scale(0);
  } 40% {
    transform: scale(1.0);
  }
}

@keyframes sk-wave {

  0%, 40%, 100% {
    transform: scaleY(0.4)
  }

  20% {
    transform: scaleY(1.0)
  }
}

@keyframes sk-cubes {

  $cubeDistance: 20px;

  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: translateX($cubeDistance) rotate(-90deg) scale(0.5);
  }
  50% {
    /* Hack to make FF rotate in the right direction */
    transform: translateX($cubeDistance) translateY($cubeDistance) rotate(-179deg);
  }
  50.1% {
    transform: translateX($cubeDistance) translateY($cubeDistance) rotate(-180deg);
  }
  75% {
    transform: translateX(0) translateY($cubeDistance) rotate(-270deg) scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
  }
}
