.message {

  position: relative;
  padding: $scale3;
  overflow: hidden;
  width: 100%;
  margin-bottom: $scale1;

  .ico:first-child {

    float: left;
    width: 3em;
    height: 3em;
    margin-right: $scale3;
    border-radius: 100%;

    &:after {

      width: 50%;
      height: 50%;

    }
  }

  .content {

    color: darken($c-text, 3%);
    width: auto;
    overflow: hidden;

    h1 {

      font-size: $scale1;

    }

    p:last-child {

      margin-bottom: 0;

    }
  }

  .btn {

    color: white !important;
    display: inline-block;
    padding: 0.75em $scale1;

  }

  .btn-close-message {

    position: absolute;
    top: $scale1;
    right: $scale1;
    width: 1em;
    height: 1em;
    opacity: 0.6;
    margin-right: 0;
    background-color: transparent !important;
    transition: all 0.2s ease-in-out;

    &:hover {

      opacity: 0.9;

    }
  }

  &.info {

    background-color: lighten($c-blue, 25%);

    h1, a {

      color: $c-blue;

    }

    .ico {

      background-color: lighten($c-blue, 18%);

    }

    .btn {

      background-color: lighten($c-blue, 8%);

      &:hover {

        background-color: darken($c-blue, 0%);

      }

    }
  }

  &.success {

    background-color: lighten($c-green, 32%);

    h1, a {

      color: $c-green;

    }

    .ico {

      background-color: lighten($c-green, 18%);

    }

    .btn {

      background-color: lighten($c-green, 6%);

      &:hover {

        background-color: darken($c-green, 2%);

      }
    }
  }

  &.warning {

    background-color: lighten($c-orange, 27%);

    h1, a {

      color: $c-orange;

    }

    .ico {

      background-color: lighten($c-orange, 14%);

    }

    .btn {

      background-color: lighten($c-orange, 2%);

      &:hover {

        background-color: darken($c-orange, 6%);

      }
    }
  }

  &.error {

    background-color: lighten($c-red, 32%);

    h1, a {

      color: lighten($c-red, 10%);

    }

    p {

      color: darken($c-text, 9%);

    }

    .ico {

      background-color: lighten($c-red, 18%);

    }

    .btn {

      background-color: lighten($c-red, 10%);

      &:hover {

        background-color: $c-red;

      }
    }
  }

  @media (max-width: 400px){

    .ico:first-child {

      float: none;
      width: $scale4;
      height: $scale4;
      margin: 0 auto;

    }

    .content {

      float: left;
      margin-top: $scale1;

    }
  }
}

.blankslate-message {

  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  text-align: center;
  transform: translate(-50%, -50%);

  .mobile {

    display: inline-block;

  }

  .desktop {

    display: none;

  }

  img {

    max-width: 35%;

  }

  h2 {

    position: relative;
    margin: 0 0 $scale2;

    &:after {

      content: "";
      position: absolute;
      bottom: -0.5em;
      left: 50%;
      width: $scale4;
      height: 2px;
      background-color: lighten($c-text, 30%);
      transform: translateX(-50%);
      -ms-transform: translateX(-50%);

    }
  }

  a {

    color: $c-primary;

  }

  @media (min-width: 500px){

    width: 26em;

    .mobile {

      display: none;

    }

    .desktop {

      display: inline-block;

    }
  }

  @media (min-width: 700px){

    width: 24em;

  }
}
