nav a {

  display: block;
  text-decoration: none;

}

nav.sidebar,
nav.mobile-slideout {

  position: fixed;
  width: $scale11;
  height: 100%;
  z-index: 999;
  padding: $scale;
  background-color: $c-dark;

  .logo {

    max-width: $scale8;
    margin: $scale auto $scale2 auto;

  }

  a {

    color: white;
    font-size: 1em;
    padding: $scale $scale1;

    &.active {

      color: white;
      border-radius: $radius;
      background-color: $c-blue;

    }
  }

  @media (min-width: $mobile){

    height: 100%;

  }
}

nav.mobile-fixed-bottom {

  // moves navigation to bottom
  // of viewport like iOS app
  @media (max-width: $mobile){

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    height: auto;
    padding: 0;
    background-color: $c-dark;
    border-bottom: none;

    .logo {

      display: none;

    }

    .nav-links {

      position: relative;
      top: auto;

    }

    a {

      float: left;
      width: 50%;
      margin: 0;
      height: auto;
      line-height: 1;
      border: none;
      color: white;
      padding: $scale2 0;
      font-size: 0.9em;
      text-align: center;
      border: none !important;

      &.active {

        border-top: 3px solid $c-primary !important;
        background-color: lighten($c-dark, 5%);

      }
    }
  }
}

nav.mobile-slideout {

  @media (max-width: $mobile){

    position: fixed;
    width: $scale11;
    left: -$scale11;
    height: 100%;
    background: $c-dark;
    transition: all 0.2s ease-in-out;

    .btn-togglenav {

      display: block;
      top: 2.5em;

    }

    &.open {

      left: 0;

      + main {

        opacity: 0.2;

      }
    }

    &.closed {

      left: -$scale11;

    }

    .nav-links {

      position: relative;
      top: auto;
      transform: none;

    }

    a {

      display: block;
      float: none;
      color: white;
      margin-bottom: 0.75em;

    }
  }
}

nav.subnav {

  overflow: hidden;
  padding: $scale1 $scale2 0;
  margin: $scale2*-1 $scale2*-1 $scale3 $scale2*-1;
  background: white;

  a {

    color: $c-text;
    display: inline-block;
    padding-bottom: $scale;
    margin-right: $scale2;

    &.active {

      border-bottom: 2px solid $c-primary;

    }
  }

  @media (min-width: $mobile){

    border-top: 1px solid $c-border;

  }
}

nav.breadcrumb {

  overflow: hidden;

  a {

    float: left;
    margin: 0;
    color: $c-text;

    &:hover {

      color: $c-primary;
      text-decoration: underline;

    }

    &:after {

      content: " /";
      display: inline-block;
      color: lighten($c-text, 30%);
      margin: 0 $scale;

    }
  }
}

nav.pagination {

  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 0 $scale4;

  .btn-prev,
  .btn-next {

    position: absolute;
    top: 50%;
    text-indent: -9000px;
    width: 1em;
    height: 1em;
    opacity: 0.5;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transition: all 0.3s ease-in-out;

    &:hover {

      opacity: 1;

    }
  }

  .btn-prev {

    left: 0;

  }

  .btn-next {

    right: 0;

  }

  ol {

    display: inline-block;
    list-style: none;

    li {

      display: inline-block;

    }

    a {

      display: inline-block;
      color: #758195;
      width: $scale3;
      height: $scale3;
      opacity: 0.5;
      font-weight: 600;
      text-align: center;
      line-height: $scale3;
      transition: all 0.3s ease-in-out;

      &:hover {

        opacity: 1;

      }
    }

    .selected {

      color: white;
      opacity: 1;
      border-radius: 100%;
      background-color: $c-green;

    }
  }
}

nav.tabs {

  overflow: hidden;

  a {

    position: relative;
    float: left;
    color: $c-text;
    padding: $scale $scale5 $scale;
    color: lighten($c-text, 15%);
    outline: none;
    color: white;
    background-color: lighten($c-blue, 5%);
    transition: all 0.2s ease-in-out;

    &:hover {

      transition: all 0.2s ease-in-out;

    }
  }

  .active {

    color: $c-text;
    background-color: white;

    &:before {

      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 3px;
      background-color: lighten($c-blue, 5%);

    }
  }

  @media (max-width: $mobile){

    border-bottom: 1px solid $c-border;

    a {

      width: 100%;
      color: $c-text;
      padding: $scale $scale2;
      background-color: white;
      border-bottom: 1px solid $c-border;

      &:last-child {

        border-bottom: none;

      }

      &.active {

        color: white;
        border-bottom: none;
        background-color: $c-blue;

      }

      &:before {

        display: none;

      }
    }
  }
}

nav.sidebar .nav-links.nested,
nav.mobile-slideout .nav-links.nested {

  ul a {

    color: #C2CBD9;

    &:hover {

      color: $c-primary;

    }
  }
}

.nav-links.nested {

  a {

    display: block;

    &:hover {

      color: $c-primary;

    }
  }

  > a {

    font-weight: 600;

  }

  // sub navs housed in ul
  ul {

    font-size: 0.9em;
    margin: 0 0 $scale2 $scale;

    a {

      margin-bottom: 0.8em;

    }
  }
}

.dropdown {

  position: relative;
  cursor: pointer;

  .hotspot {

    margin-top: $scale;
    padding-bottom: $scale;

  }

  nav {

    display: none;
    position: absolute;
    z-index: 999999;
    right: 0;
    width: 100%;
    padding: 0 $scale;
    text-align: left;
    border-radius: $radius;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);

    a {

      display: block;
      width: 100%;
      padding: 1.4em 0.5em;
      margin: 0;
      opacity: 0.8;
      color: $c-text-light;
      font-size: 0.9em;
      border-bottom: 1px solid $c-border;

      &:hover {

        opacity: 1;

      }

      &:last-child {

        border-bottom: 0;

      }
    }

    &:after {

      content: " ";
      position: absolute;
      bottom: 100%;
      left: 1em;
      pointer-events: none;
      border: solid transparent;
      border-bottom-color: white;
      border-width: 8px;

    }
  }

  &.right-align {

    nav:after {

      right: 1em;
      left: auto;

    }
  }

  &.dark {

    nav {

      background: $c-dark;

      a {

        color: lighten($c-text-light, 12%);
        border-bottom: 1px solid lighten($c-dark, 10%);

        &:hover {

          color: lighten($c-text-light, 18%);

        }

        &:last-child {

          border-bottom: none;

        }
      }

      &:after {

        border-bottom-color: $c-dark;

      }
    }
  }

  &.light {

    nav {

      background: white;

      a {

        color: $c-text;

      }
    }
  }

  .hotspot:hover + nav,
  nav:hover {

    display: block;

  }
}

.actions {

  a, button {

    display: inline-block;
    width: 1.3em;
    height: 1.3em;
    opacity: 0.7;
    font-size: 1em;
    margin-right: $scale/2;
    background-color: transparent;
    transition: opacity 0.2s ease-in-out;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

    &:hover {

      opacity: 1;

    }
  }
}

.btn-togglenav {

  display: none;
  position: absolute !important;
  top: $scale;
  left: 100%;
  width: 1.5em;
  height: 1.5em;
  margin-left: $scale;

  @media (min-width: $mobile){

    display: none !important;

  }
}
