.notification {

  position: fixed;
  top: -$scale3;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 999999;
  text-align: center;
  padding: 0.75em $scale;
  transition: all 0.15s ease-in-out;

  &.visible {

    top: 0;
    opacity: 1;

  }

  &.success {

    color: white;
    background-color: $c-green;

  }

  &.error {

    color: white;
    background-color: $c-red;

  }

  &.show {

    top: 0;
    opacity: 1;
    transition: all 0.25s ease-in-out;

  }

  .btn-close-notification {

    position: absolute;
    top: 50%;
    right: $scale2;
    opacity: 0.7;
    width: 0.9em;
    height: 0.9em;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transition: all 0.2s ease-in-out;

    &:hover {

      opacity: 1;

    }
  }
}
