body.loading {

  opacity: 0.1;

}

.progress-bar {

  width: 100%;
  height: 0.75em;
  background-color: #EBEFF4;

  &.red .progress-fill {

    background-color: $c-red;

  }

  &.orange .progress-fill {

    background-color: $c-orange;

  }

  &.green .progress-fill {

    background-color: $c-green;

  }

  .progress-fill {

    height: 100%;
    transition: all 0.5s;
    background-color: $c-green;

  }
}

.progress-steps {

  list-style: none;
  text-align: center;
  counter-reset: step;

  li {

    display: inline-block;
    counter-increment: step;
    text-align: center;
    margin-right: $scale4;
    font-size: 0.8em;

    a {

      color: $c-text;
      padding-top: 3em;
      text-decoration: none;

    }

    &.completed:before {

      background-color: $c-primary;

    }

    &:before {

      content: counter(step);
      display: block;
      color: white;
      width: $scale3;
      height: $scale3;
      margin: 0 auto;
      border-radius: 100%;
      text-align: center;
      font-weight: 700;
      font-size: $scale1;
      line-height: 2em;
      background: lighten($c-primary, 22%);
      margin-bottom: 0.5em;

    }

    &:last-child {

      margin-right: 0;

    }
  }
}
