.rating {

  list-style: none;
  overflow: hidden;

  li {

    float: left;
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.25em;
    background-size: contain;
    opacity: 0.3;
    background-image: url("../icons/color/ico-star.svg");

  }

  &.one-star li:nth-child(1){ opacity: 1; }
  &.two-star li:nth-child(-n+2){ opacity: 1; }
  &.three-star li:nth-child(-n+3){ opacity: 1; }
  &.four-star li:nth-child(-n+4){ opacity: 1; }
  &.five-star li:nth-child(-n+5){ opacity: 1; }

  &.selector {

    li {

      cursor: pointer;

    }
  }
}
