.rating {
  list-style: none;
  overflow: hidden;
}

.rating li {
  float: left;
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.25em;
  background-size: contain;
  opacity: 0.3;
  background-image: url("../icons/color/ico-star.svg");
}

.rating.one-star li:nth-child(1) {
  opacity: 1;
}

.rating.two-star li:nth-child(-n+2) {
  opacity: 1;
}

.rating.three-star li:nth-child(-n+3) {
  opacity: 1;
}

.rating.four-star li:nth-child(-n+4) {
  opacity: 1;
}

.rating.five-star li:nth-child(-n+5) {
  opacity: 1;
}

.rating.selector li {
  cursor: pointer;
}
/*# sourceMappingURL=rating.css.map */