.search {
  position: relative;
  height: 3.4em;
}

.search .textbox {
  position: absolute;
  z-index: 1;
}

.search .btn-search {
  position: absolute;
  right: 1.2em;
  top: 50%;
  z-index: 2;
  width: 1.4em;
  height: 1.4em;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-size: contain;
  background-color: transparent;
  background-position: center center;
  background-image: url("../icons/dark/ico-search.svg");
}

.search .btn-search:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/*# sourceMappingURL=search.css.map */