.social-buttons {

  overflow: hidden;

  a {

    float: left;
    width: 3em;
    height: 3em;
    padding: $scale1;
    text-indent: -9000px;
    cursor: pointer;

  }

  .ico-facebook {

    background-color: $c-facebook;
    transition: 0.2s all ease-in-out;

    &:hover {

      background-color: darken($c-facebook, 5%);

    }
  }

  .ico-twitter {

    background-color: $c-twitter;
    transition: 0.2s all ease-in-out;

    &:hover {

      background-color: darken($c-twitter, 5%);

    }
  }

  .ico-linkedin {

    background-color: $c-linkedin;
    transition: 0.2s all ease-in-out;

    &:hover {

      background-color: darken($c-linkedin, 5%);

    }
  }

  .ico-mail,
  .ico-mailsolid {

    background-color: $c-green;
    transition: 0.2s all ease-in-out;

    &:hover {

      background-color: darken($c-green, 5%);

    }
  }

  &:after {

    display: none;

  }
}
