.stats {

  margin-bottom: $scale2;

  &:after {

    content: "";
    display: table;
    clear: both;

  }
}

.stat {

  position: relative;
  float: left;
  width: 100%;
  text-align: center;
  padding: $scale $scale1;
  box-shadow: none;

  &.card {

    margin-top: $scale;
    margin-bottom: 0;
    padding: $scale2 $scale5;

    .ico {

      left: $scale2;

    }
  }

  .ico {

    position: absolute;
    top: 50%;
    left: 0;
    width: 1.35em;
    height: 1.35em;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);

  }

  .loader {

    position: relative;
    left: 0;
    top: 0;
    transform: none;
    -ms-transform: none;

  }

  .content {

    text-align: left;
    margin-left: $scale2;

  }

  .value {

    font-size: $scale2;
    font-weight: 700;

  }

  .change {

    position: absolute;
    top: 50%;
    right: $scale3;
    font-size: 0.9em;
    padding-top: 1em;
    background-size: 1em;
    background-position: top center;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);

    &.up {
      background-image: url("../icons/color/ico-up-green.svg");
    }

    &.down {
      background-image: url("../icons/color/ico-down-red.svg");
    }
  }

  .label {

    font-size: 0.85em;
    color: lighten($c-text, 10%);

  }

  &:last-child {

    margin-bottom: 0;
    margin-right: 0;

  }

  @media (max-width: $mobile){

    float: left;
    width: 48%;

    &:nth-child(even){

      margin-left: 2%;

    }
  }

  @media (min-width: $mobile + 1){

    float: left;
    width: auto;
    margin-right: $scale;

    &:nth-child(even){

      float: left;

    }
  }
}
