table.styled {

  width: 100%;
  border-spacing: 0 0.65em;
  border-collapse: separate;
  margin-top: -0.75em;
  margin-bottom: -0.5em;

  thead {

    font-weight: 600;

    th {

      text-align: left;
      outline: none;
      padding: 0 $scale1 $scale/2;

      &:first-child {

        padding-left: 0;

      }
    }

    .sort {

      position: relative;
      cursor: pointer;

      &:after {

        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        width: 1em;
        height: 0.5em;
        opacity: 0.5;
        transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        background-size: contain;

      }
    }

    .sorting_asc:after {

      background-image: url("../icons/dark/ico-dropdown.svg");

    }

    .sorting_desc:after {

      background-image: url("../icons/dark/ico-dropdown-rev.svg");

    }
  }

  tbody {

    tr {

      background-color: white;

    }

    td {

      padding: $scale1;

    }
  }

  .actions {

    text-align: right;

  }

  @media (max-width: $mobile){

    thead {

      display: none;

    }

    tbody {

      tr:first-child td:first-child {

        margin-top: $scale;

      }

      td {

        float: left;
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: $scale;

        &:first-child {

          padding-top: $scale1;

        }
      }

      .actions {

        text-align: left;
        margin-bottom: 0;
        padding-bottom: $scale;

      }
    }
  }

}

.card table.styled {

  border-spacing: 0;
  margin-bottom: -$scale2;

  &.no-header {

    margin-top: -$scale1;

  }

  thead {

    th {

      padding: $scale1;
      border-bottom: 1px dotted darken($c-border, 3%);

    }
  }

  th, td {

    &:first-child {

      padding-left: 0;

    }

    &:last-child {

      padding-right: 0;

    }
  }

  tbody {

    tr {

      background-color: transparent;

      &:last-child td {

        border-bottom: 0;

      }
    }
  }

  @media (max-width: $mobile){

    tbody td {

      padding: 0;

    }

    tbody tr td:last-child {

      margin-bottom: $scale;
      padding-bottom: $scale;
      border-bottom: 1px solid $c-border;

    }
  }

  @media (min-width: $mobile + 1){

    tbody td {

      border-bottom: 1px solid $c-border;

    }
  }
}

.dataTables_wrapper {

  label {

    text-transform: none;

  }

  input[type=search]{

    width: 100%;
    color: $c-text;
    font-size: $scale;
    padding: $scale;
    margin: 0 0 $scale2;
    border: 1px solid $c-border;
    background-size: 1.25em;
    background-position: center right $scale;
    background-image: url("../icons/dark/ico-search.svg");

  }

  .dataTables_filter label {

    color: transparent;

  }

  .dataTables_length {

    display: none;

  }

  .dataTables_info {

    display: none;
    margin-top: $scale2;

  }

  .dataTables_paginate {

    margin-top: $scale2;

    span {

      display: inline-block;
      margin: 0 $scale;

    }

    a {

      cursor: pointer;

    }
  }

  @media (max-width: $mobile){

    .dataTables_info {

      font-size: 0.8em;
      text-align: center;

    }

    .dataTables_paginate {

      text-align: center;
      margin-top: $scale/2;

    }
  }

  @media (min-width: $mobile + 1){

    input[type=search]{

      float: right;
      max-width: $scale14;

    }

    .dataTables_info {

      float: left;

    }

    .dataTables_paginate {

      float: right;

    }
  }
}
