.tooltip {

  position: relative;
  display: block;
  cursor: pointer;

  .tip {

    display: none;
    position: absolute;
    color: white;
    max-width: $scale11;
    padding: 0.65em $scale;
    text-align: center;
    border-radius: $radius;
    font-size: 0.8em;
    margin-top: 0.8em;
    background-color: $c-dark;
    z-index: 999999;
    transition: all 0.3s ease-in-out;

    &:after {

      content: " ";
      position: absolute;
      bottom: 100%;
    	left: 1em;
      pointer-events: none;
    	border: solid transparent;
    	border-bottom-color: $c-dark;
    	border-width: 6px;

    }
  }

  &:hover .tip {

    display: block;

  }
}
