h1, h2, h3, h4, h5, h6 {

  font-size: $scale;
  margin: 0 0 0 0;
  padding: 0;
  line-height: $scale1;

}

h1 {

  font-weight: 600;
  font-size: $scale2;

}

h2 {

  font-size: $scale1;
  font-weight: 600;
  margin: $scale1 0 $scale;

}

p {

  line-height: $scale2;
  margin-bottom: $scale;

}

a {

  color: $c-blue;

}

p:last-child {

  margin-bottom: 0;

}

.list {

  list-style: none;

  li {

    margin-bottom: $scale;
    line-height: 1.4em;

  }
}

.checklist {

  margin-left: 0;

  li {

    list-style: none;
    text-align: left;
    background-position: left center;
    background-size: 0.8em;
    padding-left: 1.5em;
    background-image: url("..//icons/color/ico-check-green.svg");

    &:before {

      display: none;

    }
  }

  li.cross {

    background-image: url("..//icons/color/ico-cross-red.svg");

  }
}

ul.list {

  li {

    position: relative;
    padding-left: $scale1;

    &:before {

      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 0.6em;
      height: 0.6em;
      border-radius: 100%;
      background-color: $c-blue;
      transform: translateY(-50%);
      -ms-transform: translateY(-50%);

    }
  }
}

ol.list {

  counter-reset: list-counter;

  li {

    &:before {

      counter-increment: list-counter;
      content: counter(list-counter);
      display: inline-block;
      margin-right: 0.75em;
      width: 1.6em;
      height: 1.6em;
      text-align: center;
      color: white;
      line-height: 1.6em;
      font-size: 0.9em;
      border-radius: 100%;
      background-color: $c-blue;

    }
  }
}

blockquote {

  font-style: italic;
  font-size: 1.1em;
  line-height: $scale2;

}

cite {

  display: block;
  font-style: normal;
  opacity: 0.7;
  margin: $scale1 0 0 0;

}
