<div class="report">
<table border="1" width="100%" cellpadding="1" cellspacing="1">
<colgroup><col width="3%">
<col width="4%">
<col width="20%">
<col width="10%">
<col width="10%">
<col width="10%">
<col width="14%">
<col width="10%">
<col width="11%">
<col width="10%">
<col width="3%">

</colgroup><thead><tr><td colspan="5"><div> RECLASSIFICATION  AND  ADJUSTMENT </div><div> OF  TRIAL  BALANCE  OF  EXPENSES-</div></td>
<td colspan="2">Provider CCN: <span class="data">{{pId}}</span></td>
<td colspan="2"><div>PERIOD:</div><div>FROM <span class="data">{{year.start}}</span></div><div>TO <span class="data">{{year.end}}</span></div></td>
<td colspan="2"> WORKSHEET  A</td>
</tr>
</thead><tbody><tr><td class="center" colspan="3">        Cost  Center Description        </td>
<td class="center">    SALARIES </td>
<td class="center">    OTHER </td>
<td class="center">  TOTAL  ( col. 1 + col. 2 ) </td>
<td class="center">RECLASSIFICATIONS Increase/Decrease    ( from Wkst. A-6 ) </td>
<td class="center">RECLASSIFIED TRIAL BALANCE  ( col. 3 +/- col. 4 ) </td>
<td class="center">ADJUSTMENTS  TO  EXPENSES Increase/Decrease  ( from Wkst. A-8 ) </td>
<td class="center">NET  EXPENSES FOR  COST ALLOCATION  ( col. 5 +/- col. 6 ) </td>
<td class="center">&nbsp;</td>
</tr>
<tr><td class="center">A</td>
<td class="center">B</td>
<td class="center">C </td>
<td class="center">1</td>
<td class="center">2</td>
<td class="center">3</td>
<td class="center">4</td>
<td class="center">5</td>
<td class="center">6</td>
<td class="center">7</td>
<td class="center">A</td>
</tr>
<tr><td colspan="3"> GENERAL  SERVICE  COST  CENTERS</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
</tr>
<tr><td class="right">1</td>
<td class="center">0100</td>
<td> Capital-Related Costs - Buildings &amp; Fixtures</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00100-00100}}</td>
<td class="data right">{{NumberFormat data-1.00100-00200}}</td>
<td class="data right">{{NumberFormat data-1.00100-00300}}</td>
<td class="data right">{{NumberFormat data-1.00100-00400}}</td>
<td class="data right">{{NumberFormat data-1.00100-00500}}</td>
<td class="data right">{{NumberFormat data-1.00100-00600}}</td>
<td class="data right">{{NumberFormat data-1.00100-00700}}</td>
<td class="right">1</td>
</tr>
<tr><td class="right">2</td>
<td class="center">0200</td>
<td> Capital-Related Costs - Moveable Equipment</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00200-00100}}</td>
<td class="data right">{{NumberFormat data-1.00200-00200}}</td>
<td class="data right">{{NumberFormat data-1.00200-00300}}</td>
<td class="data right">{{NumberFormat data-1.00200-00400}}</td>
<td class="data right">{{NumberFormat data-1.00200-00500}}</td>
<td class="data right">{{NumberFormat data-1.00200-00600}}</td>
<td class="data right">{{NumberFormat data-1.00200-00700}}</td>
<td class="right">2</td>
</tr>
<tr><td class="right">3</td>
<td class="center">0300</td>
<td> Employee Benefits</td>
<td class="data right">{{NumberFormat data-1.00300-00100}}</td>
<td class="data right">{{NumberFormat data-1.00300-00200}}</td>
<td class="data right">{{NumberFormat data-1.00300-00300}}</td>
<td class="data right">{{NumberFormat data-1.00300-00400}}</td>
<td class="data right">{{NumberFormat data-1.00300-00500}}</td>
<td class="data right">{{NumberFormat data-1.00300-00600}}</td>
<td class="data right">{{NumberFormat data-1.00300-00700}}</td>
<td class="right">3</td>
</tr>
<tr><td class="right">4</td>
<td class="center">0400</td>
<td> Administrative and General</td>
<td class="data right">{{NumberFormat data-1.00400-00100}}</td>
<td class="data right">{{NumberFormat data-1.00400-00200}}</td>
<td class="data right">{{NumberFormat data-1.00400-00300}}</td>
<td class="data right">{{NumberFormat data-1.00400-00400}}</td>
<td class="data right">{{NumberFormat data-1.00400-00500}}</td>
<td class="data right">{{NumberFormat data-1.00400-00600}}</td>
<td class="data right">{{NumberFormat data-1.00400-00700}}</td>
<td class="right">4</td>
</tr>
<tr><td class="right">5</td>
<td class="center">0500</td>
<td> Plant Operation, Maintenance and Repairs</td>
<td class="data right">{{NumberFormat data-1.00500-00100}}</td>
<td class="data right">{{NumberFormat data-1.00500-00200}}</td>
<td class="data right">{{NumberFormat data-1.00500-00300}}</td>
<td class="data right">{{NumberFormat data-1.00500-00400}}</td>
<td class="data right">{{NumberFormat data-1.00500-00500}}</td>
<td class="data right">{{NumberFormat data-1.00500-00600}}</td>
<td class="data right">{{NumberFormat data-1.00500-00700}}</td>
<td class="right">5</td>
</tr>
<tr><td class="right">6</td>
<td class="center">0600</td>
<td> Laundry and Linen Service</td>
<td class="data right">{{NumberFormat data-1.00600-00100}}</td>
<td class="data right">{{NumberFormat data-1.00600-00200}}</td>
<td class="data right">{{NumberFormat data-1.00600-00300}}</td>
<td class="data right">{{NumberFormat data-1.00600-00400}}</td>
<td class="data right">{{NumberFormat data-1.00600-00500}}</td>
<td class="data right">{{NumberFormat data-1.00600-00600}}</td>
<td class="data right">{{NumberFormat data-1.00600-00700}}</td>
<td class="right">6</td>
</tr>
<tr><td class="right">7</td>
<td class="center">0700</td>
<td> Housekeeping</td>
<td class="data right">{{NumberFormat data-1.00700-00100}}</td>
<td class="data right">{{NumberFormat data-1.00700-00200}}</td>
<td class="data right">{{NumberFormat data-1.00700-00300}}</td>
<td class="data right">{{NumberFormat data-1.00700-00400}}</td>
<td class="data right">{{NumberFormat data-1.00700-00500}}</td>
<td class="data right">{{NumberFormat data-1.00700-00600}}</td>
<td class="data right">{{NumberFormat data-1.00700-00700}}</td>
<td class="right">7</td>
</tr>
<tr><td class="right">8</td>
<td class="center">0800</td>
<td> Dietary</td>
<td class="data right">{{NumberFormat data-1.00800-00100}}</td>
<td class="data right">{{NumberFormat data-1.00800-00200}}</td>
<td class="data right">{{NumberFormat data-1.00800-00300}}</td>
<td class="data right">{{NumberFormat data-1.00800-00400}}</td>
<td class="data right">{{NumberFormat data-1.00800-00500}}</td>
<td class="data right">{{NumberFormat data-1.00800-00600}}</td>
<td class="data right">{{NumberFormat data-1.00800-00700}}</td>
<td class="right">8</td>
</tr>
<tr><td class="right">9</td>
<td class="center">0900</td>
<td> Nursing Administration</td>
<td class="data right">{{NumberFormat data-1.00900-00100}}</td>
<td class="data right">{{NumberFormat data-1.00900-00200}}</td>
<td class="data right">{{NumberFormat data-1.00900-00300}}</td>
<td class="data right">{{NumberFormat data-1.00900-00400}}</td>
<td class="data right">{{NumberFormat data-1.00900-00500}}</td>
<td class="data right">{{NumberFormat data-1.00900-00600}}</td>
<td class="data right">{{NumberFormat data-1.00900-00700}}</td>
<td class="right">9</td>
</tr>
<tr><td class="right">10</td>
<td class="center">1000</td>
<td> Central Services and Supply</td>
<td class="data right">{{NumberFormat data-1.01000-00100}}</td>
<td class="data right">{{NumberFormat data-1.01000-00200}}</td>
<td class="data right">{{NumberFormat data-1.01000-00300}}</td>
<td class="data right">{{NumberFormat data-1.01000-00400}}</td>
<td class="data right">{{NumberFormat data-1.01000-00500}}</td>
<td class="data right">{{NumberFormat data-1.01000-00600}}</td>
<td class="data right">{{NumberFormat data-1.01000-00700}}</td>
<td class="right">10</td>
</tr>
<tr><td class="right">11</td>
<td class="center">1100</td>
<td> Pharmacy</td>
<td class="data right">{{NumberFormat data-1.01100-00100}}</td>
<td class="data right">{{NumberFormat data-1.01100-00200}}</td>
<td class="data right">{{NumberFormat data-1.01100-00300}}</td>
<td class="data right">{{NumberFormat data-1.01100-00400}}</td>
<td class="data right">{{NumberFormat data-1.01100-00500}}</td>
<td class="data right">{{NumberFormat data-1.01100-00600}}</td>
<td class="data right">{{NumberFormat data-1.01100-00700}}</td>
<td class="right">11</td>
</tr>
<tr><td class="right">12</td>
<td class="center">1200</td>
<td> Medical Records and Library</td>
<td class="data right">{{NumberFormat data-1.01200-00100}}</td>
<td class="data right">{{NumberFormat data-1.01200-00200}}</td>
<td class="data right">{{NumberFormat data-1.01200-00300}}</td>
<td class="data right">{{NumberFormat data-1.01200-00400}}</td>
<td class="data right">{{NumberFormat data-1.01200-00500}}</td>
<td class="data right">{{NumberFormat data-1.01200-00600}}</td>
<td class="data right">{{NumberFormat data-1.01200-00700}}</td>
<td class="right">12</td>
</tr>
<tr><td class="right">13</td>
<td class="center">1300</td>
<td> Social Service</td>
<td class="data right">{{NumberFormat data-1.01300-00100}}</td>
<td class="data right">{{NumberFormat data-1.01300-00200}}</td>
<td class="data right">{{NumberFormat data-1.01300-00300}}</td>
<td class="data right">{{NumberFormat data-1.01300-00400}}</td>
<td class="data right">{{NumberFormat data-1.01300-00500}}</td>
<td class="data right">{{NumberFormat data-1.01300-00600}}</td>
<td class="data right">{{NumberFormat data-1.01300-00700}}</td>
<td class="right">13</td>
</tr>
<tr><td class="right">14</td>
<td class="center">1400</td>
<td> Nursing and Allied Health Education</td>
<td class="data right">{{NumberFormat data-1.01400-00100}}</td>
<td class="data right">{{NumberFormat data-1.01400-00200}}</td>
<td class="data right">{{NumberFormat data-1.01400-00300}}</td>
<td class="data right">{{NumberFormat data-1.01400-00400}}</td>
<td class="data right">{{NumberFormat data-1.01400-00500}}</td>
<td class="data right">{{NumberFormat data-1.01400-00600}}</td>
<td class="data right">{{NumberFormat data-1.01400-00700}}</td>
<td class="right">14</td>
</tr>
<tr><td class="right">15</td>
<td>&nbsp;</td>
<td> Other General Service Cost </td>
<td class="data right">{{NumberFormat data-1.01500-00100}}</td>
<td class="data right">{{NumberFormat data-1.01500-00200}}</td>
<td class="data right">{{NumberFormat data-1.01500-00300}}</td>
<td class="data right">{{NumberFormat data-1.01500-00400}}</td>
<td class="data right">{{NumberFormat data-1.01500-00500}}</td>
<td class="data right">{{NumberFormat data-1.01500-00600}}</td>
<td class="data right">{{NumberFormat data-1.01500-00700}}</td>
<td class="right">15</td>
</tr>
<tr><td colspan="3"> INPATIENT  ROUTINE  SERVICE  COST  CENTERS</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
</tr>
<tr><td class="right">30</td>
<td class="center">3000</td>
<td> Skilled Nursing Facility</td>
<td class="data right">{{NumberFormat data-1.03000-00100}}</td>
<td class="data right">{{NumberFormat data-1.03000-00200}}</td>
<td class="data right">{{NumberFormat data-1.03000-00300}}</td>
<td class="data right">{{NumberFormat data-1.03000-00400}}</td>
<td class="data right">{{NumberFormat data-1.03000-00500}}</td>
<td class="data right">{{NumberFormat data-1.03000-00600}}</td>
<td class="data right">{{NumberFormat data-1.03000-00700}}</td>
<td class="right">30</td>
</tr>
<tr><td class="right">31</td>
<td class="center">3100</td>
<td> Nursing Facility</td>
<td class="data right">{{NumberFormat data-1.03100-00100}}</td>
<td class="data right">{{NumberFormat data-1.03100-00200}}</td>
<td class="data right">{{NumberFormat data-1.03100-00300}}</td>
<td class="data right">{{NumberFormat data-1.03100-00400}}</td>
<td class="data right">{{NumberFormat data-1.03100-00500}}</td>
<td class="data right">{{NumberFormat data-1.03100-00600}}</td>
<td class="data right">{{NumberFormat data-1.03100-00700}}</td>
<td class="right">31</td>
</tr>
<tr><td class="right">32</td>
<td class="center">3200</td>
<td> ICF/IID</td>
<td class="data right">{{NumberFormat data-1.03200-00100}}</td>
<td class="data right">{{NumberFormat data-1.03200-00200}}</td>
<td class="data right">{{NumberFormat data-1.03200-00300}}</td>
<td class="data right">{{NumberFormat data-1.03200-00400}}</td>
<td class="data right">{{NumberFormat data-1.03200-00500}}</td>
<td class="data right">{{NumberFormat data-1.03200-00600}}</td>
<td class="data right">{{NumberFormat data-1.03200-00700}}</td>
<td class="right">32</td>
</tr>
<tr><td class="right">33</td>
<td class="center">3300</td>
<td> Other Long Term Care</td>
<td class="data right">{{NumberFormat data-1.03300-00100}}</td>
<td class="data right">{{NumberFormat data-1.03300-00200}}</td>
<td class="data right">{{NumberFormat data-1.03300-00300}}</td>
<td class="data right">{{NumberFormat data-1.03300-00400}}</td>
<td class="data right">{{NumberFormat data-1.03300-00500}}</td>
<td class="data right">{{NumberFormat data-1.03300-00600}}</td>
<td class="data right">{{NumberFormat data-1.03300-00700}}</td>
<td class="right">33</td>
</tr>
<tr><td colspan="3"> ANCILLARY  SERVICE  COST  CENTERS</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
</tr>
<tr><td class="right">40</td>
<td class="center">4000</td>
<td> Radiology</td>
<td class="data right">{{NumberFormat data-1.04000-00100}}</td>
<td class="data right">{{NumberFormat data-1.04000-00200}}</td>
<td class="data right">{{NumberFormat data-1.04000-00300}}</td>
<td class="data right">{{NumberFormat data-1.04000-00400}}</td>
<td class="data right">{{NumberFormat data-1.04000-00500}}</td>
<td class="data right">{{NumberFormat data-1.04000-00600}}</td>
<td class="data right">{{NumberFormat data-1.04000-00700}}</td>
<td class="right">40</td>
</tr>
<tr><td class="right">41</td>
<td class="center">4100</td>
<td> Laboratory</td>
<td class="data right">{{NumberFormat data-1.04100-00100}}</td>
<td class="data right">{{NumberFormat data-1.04100-00200}}</td>
<td class="data right">{{NumberFormat data-1.04100-00300}}</td>
<td class="data right">{{NumberFormat data-1.04100-00400}}</td>
<td class="data right">{{NumberFormat data-1.04100-00500}}</td>
<td class="data right">{{NumberFormat data-1.04100-00600}}</td>
<td class="data right">{{NumberFormat data-1.04100-00700}}</td>
<td class="right">41</td>
</tr>
<tr><td class="right">42</td>
<td class="center">4200</td>
<td> Intravenous Therapy</td>
<td class="data right">{{NumberFormat data-1.04200-00100}}</td>
<td class="data right">{{NumberFormat data-1.04200-00200}}</td>
<td class="data right">{{NumberFormat data-1.04200-00300}}</td>
<td class="data right">{{NumberFormat data-1.04200-00400}}</td>
<td class="data right">{{NumberFormat data-1.04200-00500}}</td>
<td class="data right">{{NumberFormat data-1.04200-00600}}</td>
<td class="data right">{{NumberFormat data-1.04200-00700}}</td>
<td class="right">42</td>
</tr>
<tr><td class="right">43</td>
<td class="center">4300</td>
<td> Oxygen (Inhalation) Therapy</td>
<td class="data right">{{NumberFormat data-1.04300-00100}}</td>
<td class="data right">{{NumberFormat data-1.04300-00200}}</td>
<td class="data right">{{NumberFormat data-1.04300-00300}}</td>
<td class="data right">{{NumberFormat data-1.04300-00400}}</td>
<td class="data right">{{NumberFormat data-1.04300-00500}}</td>
<td class="data right">{{NumberFormat data-1.04300-00600}}</td>
<td class="data right">{{NumberFormat data-1.04300-00700}}</td>
<td class="right">43</td>
</tr>
<tr><td class="right">44</td>
<td class="center">4400</td>
<td> Physical Therapy</td>
<td class="data right">{{NumberFormat data-1.04400-00100}}</td>
<td class="data right">{{NumberFormat data-1.04400-00200}}</td>
<td class="data right">{{NumberFormat data-1.04400-00300}}</td>
<td class="data right">{{NumberFormat data-1.04400-00400}}</td>
<td class="data right">{{NumberFormat data-1.04400-00500}}</td>
<td class="data right">{{NumberFormat data-1.04400-00600}}</td>
<td class="data right">{{NumberFormat data-1.04400-00700}}</td>
<td class="right">44</td>
</tr>
<tr><td class="right">45</td>
<td class="center">4500</td>
<td> Occupational Therapy</td>
<td class="data right">{{NumberFormat data-1.04500-00100}}</td>
<td class="data right">{{NumberFormat data-1.04500-00200}}</td>
<td class="data right">{{NumberFormat data-1.04500-00300}}</td>
<td class="data right">{{NumberFormat data-1.04500-00400}}</td>
<td class="data right">{{NumberFormat data-1.04500-00500}}</td>
<td class="data right">{{NumberFormat data-1.04500-00600}}</td>
<td class="data right">{{NumberFormat data-1.04500-00700}}</td>
<td class="right">45</td>
</tr>
<tr><td class="right">46</td>
<td class="center">4600</td>
<td> Speech Pathology</td>
<td class="data right">{{NumberFormat data-1.04600-00100}}</td>
<td class="data right">{{NumberFormat data-1.04600-00200}}</td>
<td class="data right">{{NumberFormat data-1.04600-00300}}</td>
<td class="data right">{{NumberFormat data-1.04600-00400}}</td>
<td class="data right">{{NumberFormat data-1.04600-00500}}</td>
<td class="data right">{{NumberFormat data-1.04600-00600}}</td>
<td class="data right">{{NumberFormat data-1.04600-00700}}</td>
<td class="right">46</td>
</tr>
<tr><td class="right">47</td>
<td class="center">4700</td>
<td> Electrocardiology</td>
<td class="data right">{{NumberFormat data-1.04700-00100}}</td>
<td class="data right">{{NumberFormat data-1.04700-00200}}</td>
<td class="data right">{{NumberFormat data-1.04700-00300}}</td>
<td class="data right">{{NumberFormat data-1.04700-00400}}</td>
<td class="data right">{{NumberFormat data-1.04700-00500}}</td>
<td class="data right">{{NumberFormat data-1.04700-00600}}</td>
<td class="data right">{{NumberFormat data-1.04700-00700}}</td>
<td class="right">47</td>
</tr>
<tr><td class="right">48</td>
<td class="center">4800</td>
<td> Medical Supplies Charged to Patients</td>
<td class="data right">{{NumberFormat data-1.04800-00100}}</td>
<td class="data right">{{NumberFormat data-1.04800-00200}}</td>
<td class="data right">{{NumberFormat data-1.04800-00300}}</td>
<td class="data right">{{NumberFormat data-1.04800-00400}}</td>
<td class="data right">{{NumberFormat data-1.04800-00500}}</td>
<td class="data right">{{NumberFormat data-1.04800-00600}}</td>
<td class="data right">{{NumberFormat data-1.04800-00700}}</td>
<td class="right">48</td>
</tr>
<tr><td class="right">49</td>
<td class="center">4900</td>
<td> Drugs Charged to Patients</td>
<td class="data right">{{NumberFormat data-1.04900-00100}}</td>
<td class="data right">{{NumberFormat data-1.04900-00200}}</td>
<td class="data right">{{NumberFormat data-1.04900-00300}}</td>
<td class="data right">{{NumberFormat data-1.04900-00400}}</td>
<td class="data right">{{NumberFormat data-1.04900-00500}}</td>
<td class="data right">{{NumberFormat data-1.04900-00600}}</td>
<td class="data right">{{NumberFormat data-1.04900-00700}}</td>
<td class="right">49</td>
</tr>
<tr><td class="right">50</td>
<td class="center">5000</td>
<td> Dental Care - Title XIX only</td>
<td class="data right">{{NumberFormat data-1.05000-00100}}</td>
<td class="data right">{{NumberFormat data-1.05000-00200}}</td>
<td class="data right">{{NumberFormat data-1.05000-00300}}</td>
<td class="data right">{{NumberFormat data-1.05000-00400}}</td>
<td class="data right">{{NumberFormat data-1.05000-00500}}</td>
<td class="data right">{{NumberFormat data-1.05000-00600}}</td>
<td class="data right">{{NumberFormat data-1.05000-00700}}</td>
<td class="right">50</td>
</tr>
<tr><td class="right">51</td>
<td class="center">5100</td>
<td> Support Surfaces</td>
<td class="data right">{{NumberFormat data-1.05100-00100}}</td>
<td class="data right">{{NumberFormat data-1.05100-00200}}</td>
<td class="data right">{{NumberFormat data-1.05100-00300}}</td>
<td class="data right">{{NumberFormat data-1.05100-00400}}</td>
<td class="data right">{{NumberFormat data-1.05100-00500}}</td>
<td class="data right">{{NumberFormat data-1.05100-00600}}</td>
<td class="data right">{{NumberFormat data-1.05100-00700}}</td>
<td class="right">51</td>
</tr>
<tr><td class="right">52</td>
<td class="center">&nbsp;</td>
<td> Other Ancillary Service Cost</td>
<td class="data right">{{NumberFormat data-1.05200-00100}}</td>
<td class="data right">{{NumberFormat data-1.05200-00200}}</td>
<td class="data right">{{NumberFormat data-1.05200-00300}}</td>
<td class="data right">{{NumberFormat data-1.05200-00400}}</td>
<td class="data right">{{NumberFormat data-1.05200-00500}}</td>
<td class="data right">{{NumberFormat data-1.05200-00600}}</td>
<td class="data right">{{NumberFormat data-1.05200-00700}}</td>
<td class="right">52</td>
</tr>
<tr><td colspan="3"> OUTPATIENT  SERVICE  COST  CENTERS</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
</tr>
<tr><td class="right">60</td>
<td class="center">6000</td>
<td> Clinic</td>
<td class="data right">{{NumberFormat data-1.06000-00100}}</td>
<td class="data right">{{NumberFormat data-1.06000-00200}}</td>
<td class="data right">{{NumberFormat data-1.06000-00300}}</td>
<td class="data right">{{NumberFormat data-1.06000-00400}}</td>
<td class="data right">{{NumberFormat data-1.06000-00500}}</td>
<td class="data right">{{NumberFormat data-1.06000-00600}}</td>
<td class="data right">{{NumberFormat data-1.06000-00700}}</td>
<td class="right">60</td>
</tr>
<tr><td class="right">61</td>
<td class="center">6100</td>
<td> Rural Health Clinic (RHC)</td>
<td class="data right">{{NumberFormat data-1.06100-00100}}</td>
<td class="data right">{{NumberFormat data-1.06100-00200}}</td>
<td class="data right">{{NumberFormat data-1.06100-00300}}</td>
<td class="data right">{{NumberFormat data-1.06100-00400}}</td>
<td class="data right">{{NumberFormat data-1.06100-00500}}</td>
<td class="data right">{{NumberFormat data-1.06100-00600}}</td>
<td class="data right">{{NumberFormat data-1.06100-00700}}</td>
<td class="right">61</td>
</tr>
<tr><td class="right">62</td>
<td class="center">6200</td>
<td> FQHC</td>
<td class="data right">{{NumberFormat data-1.06200-00100}}</td>
<td class="data right">{{NumberFormat data-1.06200-00200}}</td>
<td class="data right">{{NumberFormat data-1.06200-00300}}</td>
<td class="data right">{{NumberFormat data-1.06200-00400}}</td>
<td class="data right">{{NumberFormat data-1.06200-00500}}</td>
<td class="data right">{{NumberFormat data-1.06200-00600}}</td>
<td class="data right">{{NumberFormat data-1.06200-00700}}</td>
<td class="right">62</td>
</tr>
<tr><td class="right">63</td>
<td class="center">&nbsp;</td>
<td> Other Outpatient Service Cost</td>
<td class="data right">{{NumberFormat data-1.06300-00100}}</td>
<td class="data right">{{NumberFormat data-1.06300-00200}}</td>
<td class="data right">{{NumberFormat data-1.06300-00300}}</td>
<td class="data right">{{NumberFormat data-1.06300-00400}}</td>
<td class="data right">{{NumberFormat data-1.06300-00500}}</td>
<td class="data right">{{NumberFormat data-1.06300-00600}}</td>
<td class="data right">{{NumberFormat data-1.06300-00700}}</td>
<td class="right">63</td>
</tr>
<tr><td colspan="3"> OTHER  REIMBURSABLE  COST  CENTERS</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
</tr>
<tr><td class="right">70</td>
<td class="center">7000</td>
<td> Home Health Agency Cost</td>
<td class="data right">{{NumberFormat data-1.07000-00100}}</td>
<td class="data right">{{NumberFormat data-1.07000-00200}}</td>
<td class="data right">{{NumberFormat data-1.07000-00300}}</td>
<td class="data right">{{NumberFormat data-1.07000-00400}}</td>
<td class="data right">{{NumberFormat data-1.07000-00500}}</td>
<td class="data right">{{NumberFormat data-1.07000-00600}}</td>
<td class="data right">{{NumberFormat data-1.07000-00700}}</td>
<td class="right">70</td>
</tr>
<tr><td class="right">71</td>
<td class="center">7100</td>
<td> Ambulance</td>
<td class="data right">{{NumberFormat data-1.07100-00100}}</td>
<td class="data right">{{NumberFormat data-1.07100-00200}}</td>
<td class="data right">{{NumberFormat data-1.07100-00300}}</td>
<td class="data right">{{NumberFormat data-1.07100-00400}}</td>
<td class="data right">{{NumberFormat data-1.07100-00500}}</td>
<td class="data right">{{NumberFormat data-1.07100-00600}}</td>
<td class="data right">{{NumberFormat data-1.07100-00700}}</td>
<td class="right">71</td>
</tr>
<tr><td class="right">72</td>
<td class="center">&nbsp;</td>
<td> Outpatient Rehabilitation (specify)</td>
<td class="data right">{{NumberFormat data-1.07200-00100}}</td>
<td class="data right">{{NumberFormat data-1.07200-00200}}</td>
<td class="data right">{{NumberFormat data-1.07200-00300}}</td>
<td class="data right">{{NumberFormat data-1.07200-00400}}</td>
<td class="data right">{{NumberFormat data-1.07200-00500}}</td>
<td class="data right">{{NumberFormat data-1.07200-00600}}</td>
<td class="data right">{{NumberFormat data-1.07200-00700}}</td>
<td class="right">72</td>
</tr>
<tr><td class="right">73</td>
<td class="center">7300</td>
<td> CMHC</td>
<td class="data right">{{NumberFormat data-1.07300-00100}}</td>
<td class="data right">{{NumberFormat data-1.07300-00200}}</td>
<td class="data right">{{NumberFormat data-1.07300-00300}}</td>
<td class="data right">{{NumberFormat data-1.07300-00400}}</td>
<td class="data right">{{NumberFormat data-1.07300-00500}}</td>
<td class="data right">{{NumberFormat data-1.07300-00600}}</td>
<td class="data right">{{NumberFormat data-1.07300-00700}}</td>
<td class="right">73</td>
</tr>
<tr><td class="right">74</td>
<td class="center">&nbsp;</td>
<td> Other Reimbursable Cost</td>
<td class="data right">{{NumberFormat data-1.07400-00100}}</td>
<td class="data right">{{NumberFormat data-1.07400-00200}}</td>
<td class="data right">{{NumberFormat data-1.07400-00300}}</td>
<td class="data right">{{NumberFormat data-1.07400-00400}}</td>
<td class="data right">{{NumberFormat data-1.07400-00500}}</td>
<td class="data right">{{NumberFormat data-1.07400-00600}}</td>
<td class="data right">{{NumberFormat data-1.07400-00700}}</td>
<td class="right">74</td>
</tr>
<tr><td colspan="3"> SPECIAL  PURPOSE  COST  CENTERS</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
</tr>
<tr><td class="right">80</td>
<td class="center">8000</td>
<td> Malpractice Premiums &amp; Paid Losses</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.08000-00100}}</td>
<td class="data right">{{NumberFormat data-1.08000-00200}}</td>
<td class="data right">{{NumberFormat data-1.08000-00300}}</td>
<td class="data right">{{NumberFormat data-1.08000-00400}}</td>
<td class="data right">{{NumberFormat data-1.08000-00500}}</td>
<td class="data right">{{NumberFormat data-1.08000-00600}}</td>
<td class="right">-0-</td>
<td class="right">80</td>
</tr>
<tr><td class="right">81</td>
<td class="center">8100</td>
<td> Interest Expense</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.08100-00100}}</td>
<td class="data right">{{NumberFormat data-1.08100-00200}}</td>
<td class="data right">{{NumberFormat data-1.08100-00300}}</td>
<td class="data right">{{NumberFormat data-1.08100-00400}}</td>
<td class="data right">{{NumberFormat data-1.08100-00500}}</td>
<td class="data right">{{NumberFormat data-1.08100-00600}}</td>
<td class="right">- 0 -</td>
<td class="right">81</td>
</tr>
<tr><td class="right">82</td>
<td class="center">8200</td>
<td> Utilization Review </td>
<td class="data right">{{NumberFormat data-1.08200-00100}}</td>
<td class="data right">{{NumberFormat data-1.08200-00200}}</td>
<td class="data right">{{NumberFormat data-1.08200-00300}}</td>
<td class="data right">{{NumberFormat data-1.08200-00400}}</td>
<td class="data right">{{NumberFormat data-1.08200-00500}}</td>
<td class="data right">{{NumberFormat data-1.08200-00600}}</td>
<td class="right">- 0 -</td>
<td class="right">82</td>
</tr>
<tr><td class="right">83</td>
<td class="center">8300</td>
<td> Hospice</td>
<td class="data right">{{NumberFormat data-1.08300-00100}}</td>
<td class="data right">{{NumberFormat data-1.08300-00200}}</td>
<td class="data right">{{NumberFormat data-1.08300-00300}}</td>
<td class="data right">{{NumberFormat data-1.08300-00400}}</td>
<td class="data right">{{NumberFormat data-1.08300-00500}}</td>
<td class="data right">{{NumberFormat data-1.08300-00600}}</td>
<td class="data right">{{NumberFormat data-1.08300-00700}}</td>
<td class="right">83</td>
</tr>
<tr><td class="right">84</td>
<td class="center">&nbsp;</td>
<td> Other Special Purpose Cost</td>
<td class="data right">{{NumberFormat data-1.08400-00100}}</td>
<td class="data right">{{NumberFormat data-1.08400-00200}}</td>
<td class="data right">{{NumberFormat data-1.08400-00300}}</td>
<td class="data right">{{NumberFormat data-1.08400-00400}}</td>
<td class="data right">{{NumberFormat data-1.08400-00500}}</td>
<td class="data right">{{NumberFormat data-1.08400-00600}}</td>
<td class="data right">{{NumberFormat data-1.08400-00700}}</td>
<td class="right">84</td>
</tr>
<tr><td class="right">89</td>
<td class="center fillgrey">&nbsp;</td>
<td> SUBTOTALS (sum of lines 1 through 84)</td>
<td class="data right">{{NumberFormat data-1.08900-00100}}</td>
<td class="data right">{{NumberFormat data-1.08900-00200}}</td>
<td class="data right">{{NumberFormat data-1.08900-00300}}</td>
<td class="data right">{{NumberFormat data-1.08900-00400}}</td>
<td class="data right">{{NumberFormat data-1.08900-00500}}</td>
<td class="data right">{{NumberFormat data-1.08900-00600}}</td>
<td class="data right">{{NumberFormat data-1.08900-00700}}</td>
<td class="right">89</td>
</tr>
<tr><td colspan="3"> NON REIMBURSABLE  COST  CENTERS</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
</tr>
<tr><td class="right">90</td>
<td class="center">9000</td>
<td> Gift, Flower, Coffee Shops and Canteen</td>
<td class="data right">{{NumberFormat data-1.09000-00100}}</td>
<td class="data right">{{NumberFormat data-1.09000-00200}}</td>
<td class="data right">{{NumberFormat data-1.09000-00300}}</td>
<td class="data right">{{NumberFormat data-1.09000-00400}}</td>
<td class="data right">{{NumberFormat data-1.09000-00500}}</td>
<td class="data right">{{NumberFormat data-1.09000-00600}}</td>
<td class="data right">{{NumberFormat data-1.09000-00700}}</td>
<td class="right">90</td>
</tr>
<tr><td class="right">91</td>
<td class="center">9100</td>
<td> Barber and Beauty Shop</td>
<td class="data right">{{NumberFormat data-1.09100-00100}}</td>
<td class="data right">{{NumberFormat data-1.09100-00200}}</td>
<td class="data right">{{NumberFormat data-1.09100-00300}}</td>
<td class="data right">{{NumberFormat data-1.09100-00400}}</td>
<td class="data right">{{NumberFormat data-1.09100-00500}}</td>
<td class="data right">{{NumberFormat data-1.09100-00600}}</td>
<td class="data right">{{NumberFormat data-1.09100-00700}}</td>
<td class="right">91</td>
</tr>
<tr><td class="right">92</td>
<td class="center">9200</td>
<td> Physicians' Private Offices</td>
<td class="data right">{{NumberFormat data-1.09200-00100}}</td>
<td class="data right">{{NumberFormat data-1.09200-00200}}</td>
<td class="data right">{{NumberFormat data-1.09200-00300}}</td>
<td class="data right">{{NumberFormat data-1.09200-00400}}</td>
<td class="data right">{{NumberFormat data-1.09200-00500}}</td>
<td class="data right">{{NumberFormat data-1.09200-00600}}</td>
<td class="data right">{{NumberFormat data-1.09200-00700}}</td>
<td class="right">92</td>
</tr>
<tr><td class="right">93</td>
<td class="center">9300</td>
<td> Nonpaid Workers</td>
<td class="data right">{{NumberFormat data-1.09300-00100}}</td>
<td class="data right">{{NumberFormat data-1.09300-00200}}</td>
<td class="data right">{{NumberFormat data-1.09300-00300}}</td>
<td class="data right">{{NumberFormat data-1.09300-00400}}</td>
<td class="data right">{{NumberFormat data-1.09300-00500}}</td>
<td class="data right">{{NumberFormat data-1.09300-00600}}</td>
<td class="data right">{{NumberFormat data-1.09300-00700}}</td>
<td class="right">93</td>
</tr>
<tr><td class="right">94</td>
<td class="center">9400</td>
<td> Patients' Laundry</td>
<td class="data right">{{NumberFormat data-1.09400-00100}}</td>
<td class="data right">{{NumberFormat data-1.09400-00200}}</td>
<td class="data right">{{NumberFormat data-1.09400-00300}}</td>
<td class="data right">{{NumberFormat data-1.09400-00400}}</td>
<td class="data right">{{NumberFormat data-1.09400-00500}}</td>
<td class="data right">{{NumberFormat data-1.09400-00600}}</td>
<td class="data right">{{NumberFormat data-1.09400-00700}}</td>
<td class="right">94</td>
</tr>
<tr><td class="right">95</td>
<td class="center">&nbsp;</td>
<td> Other Nonreimbursable Cost </td>
<td class="data right">{{NumberFormat data-1.09500-00100}}</td>
<td class="data right">{{NumberFormat data-1.09500-00200}}</td>
<td class="data right">{{NumberFormat data-1.09500-00300}}</td>
<td class="data right">{{NumberFormat data-1.09500-00400}}</td>
<td class="data right">{{NumberFormat data-1.09500-00500}}</td>
<td class="data right">{{NumberFormat data-1.09500-00600}}</td>
<td class="data right">{{NumberFormat data-1.09500-00700}}</td>
<td class="right">95</td>
</tr>
<tr><td class="right">100</td>
<td class="fillgrey">&nbsp;</td>
<td> TOTAL</td>
<td class="data right">{{NumberFormat data-1.10000-00100}}</td>
<td class="data right">{{NumberFormat data-1.10000-00200}}</td>
<td class="data right">{{NumberFormat data-1.10000-00300}}</td>
<td class="data right">{{NumberFormat data-1.10000-00400}}</td>
<td class="data right">{{NumberFormat data-1.10000-00500}}</td>
<td class="data right">{{NumberFormat data-1.10000-00600}}</td>
<td class="data right">{{NumberFormat data-1.10000-00700}}</td>
<td class="right">100</td>
</tr>
<tr><td colspan="11">FORM CMS-2540-10 (08/2016)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4113)        </td>
</tr>
<tr><td colspan="2">Rev. 7</td>
<td colspan="7">&nbsp;</td>
<td colspan="2"> 41-317 </td>
</tr>
</tbody></table>

</div>