<div class="report">
<table border="1" width="1115" cellpadding="1" cellspacing="1">
<colgroup><col width="3%">
<col width="25%">
<col width="5%">
<col width="5%">
<col width="5%">
<col width="11%">
<col width="11%">
<col width="5%">
<col width="5%">
<col width="11%">
<col width="11%">
<col width="3%">
</colgroup><thead><tr><td colspan="6"> RECLASSIFICATIONS</td>
<td colspan="2">Provider CCN: <span class="data">{{pId}}</span></td>
<td colspan="2"><div>PERIOD:</div><div>FROM <span class="data">{{year.start}}</span></div><div>TO <span class="data">{{year.end}}</span></div></td>
<td colspan="2"> WORKSHEET  A-6</td>
</tr>
</thead><tbody><tr><td class="component" colspan="12"><form action="/report.html" method="get"><input type="hidden" name="report" id="report" value="QTM3Nw=="><input type="hidden" name="rpt_rec_num" id="rpt_rec_num" value="ODk5NzA1NQ=="><input type="hidden" name="version" id="version" value="OTc4Nw=="><select name="component" id="component" onchange="this.form.submit()">
<option value="0000" selected="selected">Summary</option>
<option value="000A">RECLASS ROUTINE EXPENSE</option>
</select>
</form> - <strong>Select other programs and provider types available</strong></td>
</tr>
<tr><td class="center" colspan="2" rowspan="3">     EXPLANATION  OF  RECLASSIFICATION(S) </td>
<td class="center" rowspan="2"><div>CODE</div><div>(1)</div></td>
<td class="center" colspan="4"> I N C R E A S E   </td>
<td class="center" colspan="5"> D E C R E A S E    </td>
</tr>
<tr><td class="center">COST CENTER</td>
<td class="center">LN NO.</td>
<td class="center">SALARY</td>
<td class="center">NON SALARY</td>
<td class="center">COST CENTER</td>
<td class="center">LN NO.</td>
<td class="center">SALARY</td>
<td class="center">NON SALARY</td>
<td class="center">&nbsp;</td>
</tr>
<tr><td class="center">1</td>
<td class="center">2</td>
<td class="center">3</td>
<td class="center">4</td>
<td class="center">5</td>
<td class="center">6</td>
<td class="center">7</td>
<td class="center">8</td>
<td class="center">9</td>
<td class="center">&nbsp;</td>
</tr>
<tr><td class="right">1</td>
<td class="data">{{data-1.00100-00000}}</td>
<td class="data center">{{data-1.00100-00100}}</td>
<td class="data">{{data-1.00100-00200}}</td>
<td class="data center">{{data-1.00100-00300}}</td>
<td class="data right">{{NumberFormat data-1.00100-00400}}</td>
<td class="data right">{{NumberFormat data-1.00100-00500}}</td>
<td class="data center">{{data-1.00100-00600}}</td>
<td class="data center">{{data-1.00100-00700}}</td>
<td class="data right">{{NumberFormat data-1.00100-00800}}</td>
<td class="data right">{{NumberFormat data-1.00100-00900}}</td>
<td class="right">1</td>
</tr>
<tr><td class="right">2</td>
<td class="data">{{data-1.00200-00000}}</td>
<td class="data center">{{data-1.00200-00100}}</td>
<td class="data">{{data-1.00200-00200}}</td>
<td class="data center">{{data-1.00200-00300}}</td>
<td class="data right">{{NumberFormat data-1.00200-00400}}</td>
<td class="data right">{{NumberFormat data-1.00200-00500}}</td>
<td class="data center">{{data-1.00200-00600}}</td>
<td class="data center">{{data-1.00200-00700}}</td>
<td class="data right">{{NumberFormat data-1.00200-00800}}</td>
<td class="data right">{{NumberFormat data-1.00200-00900}}</td>
<td class="right">2</td>
</tr>
<tr><td class="right">3</td>
<td class="data">{{data-1.00300-00000}}</td>
<td class="data center">{{data-1.00300-00100}}</td>
<td class="data">{{data-1.00300-00200}}</td>
<td class="data center">{{data-1.00300-00300}}</td>
<td class="data right">{{NumberFormat data-1.00300-00400}}</td>
<td class="data right">{{NumberFormat data-1.00300-00500}}</td>
<td class="data center">{{data-1.00300-00600}}</td>
<td class="data center">{{data-1.00300-00700}}</td>
<td class="data right">{{NumberFormat data-1.00300-00800}}</td>
<td class="data right">{{NumberFormat data-1.00300-00900}}</td>
<td class="right">3</td>
</tr>
<tr><td class="right">4</td>
<td class="data">{{data-1.00400-00000}}</td>
<td class="data center">{{data-1.00400-00100}}</td>
<td class="data">{{data-1.00400-00200}}</td>
<td class="data center">{{data-1.00400-00300}}</td>
<td class="data right">{{NumberFormat data-1.00400-00400}}</td>
<td class="data right">{{NumberFormat data-1.00400-00500}}</td>
<td class="data center">{{data-1.00400-00600}}</td>
<td class="data center">{{data-1.00400-00700}}</td>
<td class="data right">{{NumberFormat data-1.00400-00800}}</td>
<td class="data right">{{NumberFormat data-1.00400-00900}}</td>
<td class="right">4</td>
</tr>
<tr><td class="right">5</td>
<td class="data">{{data-1.00500-00000}}</td>
<td class="data center">{{data-1.00500-00100}}</td>
<td class="data">{{data-1.00500-00200}}</td>
<td class="data center">{{data-1.00500-00300}}</td>
<td class="data right">{{NumberFormat data-1.00500-00400}}</td>
<td class="data right">{{NumberFormat data-1.00500-00500}}</td>
<td class="data center">{{data-1.00500-00600}}</td>
<td class="data center">{{data-1.00500-00700}}</td>
<td class="data right">{{NumberFormat data-1.00500-00800}}</td>
<td class="data right">{{NumberFormat data-1.00500-00900}}</td>
<td class="right">5</td>
</tr>
<tr><td class="right">6</td>
<td class="data">{{data-1.00600-00000}}</td>
<td class="data center">{{data-1.00600-00100}}</td>
<td class="data">{{data-1.00600-00200}}</td>
<td class="data center">{{data-1.00600-00300}}</td>
<td class="data right">{{NumberFormat data-1.00600-00400}}</td>
<td class="data right">{{NumberFormat data-1.00600-00500}}</td>
<td class="data center">{{data-1.00600-00600}}</td>
<td class="data center">{{data-1.00600-00700}}</td>
<td class="data right">{{NumberFormat data-1.00600-00800}}</td>
<td class="data right">{{NumberFormat data-1.00600-00900}}</td>
<td class="right">6</td>
</tr>
<tr><td class="right">7</td>
<td class="data">{{data-1.00700-00000}}</td>
<td class="data center">{{data-1.00700-00100}}</td>
<td class="data">{{data-1.00700-00200}}</td>
<td class="data center">{{data-1.00700-00300}}</td>
<td class="data right">{{NumberFormat data-1.00700-00400}}</td>
<td class="data right">{{NumberFormat data-1.00700-00500}}</td>
<td class="data center">{{data-1.00700-00600}}</td>
<td class="data center">{{data-1.00700-00700}}</td>
<td class="data right">{{NumberFormat data-1.00700-00800}}</td>
<td class="data right">{{NumberFormat data-1.00700-00900}}</td>
<td class="right">7</td>
</tr>
<tr><td class="right">8</td>
<td class="data">{{data-1.00800-00000}}</td>
<td class="data center">{{data-1.00800-00100}}</td>
<td class="data">{{data-1.00800-00200}}</td>
<td class="data center">{{data-1.00800-00300}}</td>
<td class="data right">{{NumberFormat data-1.00800-00400}}</td>
<td class="data right">{{NumberFormat data-1.00800-00500}}</td>
<td class="data center">{{data-1.00800-00600}}</td>
<td class="data center">{{data-1.00800-00700}}</td>
<td class="data right">{{NumberFormat data-1.00800-00800}}</td>
<td class="data right">{{NumberFormat data-1.00800-00900}}</td>
<td class="right">8</td>
</tr>
<tr><td class="right">9</td>
<td class="data">{{data-1.00900-00000}}</td>
<td class="data center">{{data-1.00900-00100}}</td>
<td class="data">{{data-1.00900-00200}}</td>
<td class="data center">{{data-1.00900-00300}}</td>
<td class="data right">{{NumberFormat data-1.00900-00400}}</td>
<td class="data right">{{NumberFormat data-1.00900-00500}}</td>
<td class="data center">{{data-1.00900-00600}}</td>
<td class="data center">{{data-1.00900-00700}}</td>
<td class="data right">{{NumberFormat data-1.00900-00800}}</td>
<td class="data right">{{NumberFormat data-1.00900-00900}}</td>
<td class="right">9</td>
</tr>
<tr><td class="right">10</td>
<td class="data">{{data-1.01000-00000}}</td>
<td class="data center">{{data-1.01000-00100}}</td>
<td class="data">{{data-1.01000-00200}}</td>
<td class="data center">{{data-1.01000-00300}}</td>
<td class="data right">{{NumberFormat data-1.01000-00400}}</td>
<td class="data right">{{NumberFormat data-1.01000-00500}}</td>
<td class="data center">{{data-1.01000-00600}}</td>
<td class="data center">{{data-1.01000-00700}}</td>
<td class="data right">{{NumberFormat data-1.01000-00800}}</td>
<td class="data right">{{NumberFormat data-1.01000-00900}}</td>
<td class="right">10</td>
</tr>
<tr><td class="right">11</td>
<td class="data">{{data-1.01100-00000}}</td>
<td class="data center">{{data-1.01100-00100}}</td>
<td class="data">{{data-1.01100-00200}}</td>
<td class="data center">{{data-1.01100-00300}}</td>
<td class="data right">{{NumberFormat data-1.01100-00400}}</td>
<td class="data right">{{NumberFormat data-1.01100-00500}}</td>
<td class="data center">{{data-1.01100-00600}}</td>
<td class="data center">{{data-1.01100-00700}}</td>
<td class="data right">{{NumberFormat data-1.01100-00800}}</td>
<td class="data right">{{NumberFormat data-1.01100-00900}}</td>
<td class="right">11</td>
</tr>
<tr><td class="right">12</td>
<td class="data">{{data-1.01200-00000}}</td>
<td class="data center">{{data-1.01200-00100}}</td>
<td class="data">{{data-1.01200-00200}}</td>
<td class="data center">{{data-1.01200-00300}}</td>
<td class="data right">{{NumberFormat data-1.01200-00400}}</td>
<td class="data right">{{NumberFormat data-1.01200-00500}}</td>
<td class="data center">{{data-1.01200-00600}}</td>
<td class="data center">{{data-1.01200-00700}}</td>
<td class="data right">{{NumberFormat data-1.01200-00800}}</td>
<td class="data right">{{NumberFormat data-1.01200-00900}}</td>
<td class="right">12</td>
</tr>
<tr><td class="right">13</td>
<td class="data">{{data-1.01300-00000}}</td>
<td class="data center">{{data-1.01300-00100}}</td>
<td class="data">{{data-1.01300-00200}}</td>
<td class="data center">{{data-1.01300-00300}}</td>
<td class="data right">{{NumberFormat data-1.01300-00400}}</td>
<td class="data right">{{NumberFormat data-1.01300-00500}}</td>
<td class="data center">{{data-1.01300-00600}}</td>
<td class="data center">{{data-1.01300-00700}}</td>
<td class="data right">{{NumberFormat data-1.01300-00800}}</td>
<td class="data right">{{NumberFormat data-1.01300-00900}}</td>
<td class="right">13</td>
</tr>
<tr><td class="right">14</td>
<td class="data">{{data-1.01400-00000}}</td>
<td class="data center">{{data-1.01400-00100}}</td>
<td class="data">{{data-1.01400-00200}}</td>
<td class="data center">{{data-1.01400-00300}}</td>
<td class="data right">{{NumberFormat data-1.01400-00400}}</td>
<td class="data right">{{NumberFormat data-1.01400-00500}}</td>
<td class="data center">{{data-1.01400-00600}}</td>
<td class="data center">{{data-1.01400-00700}}</td>
<td class="data right">{{NumberFormat data-1.01400-00800}}</td>
<td class="data right">{{NumberFormat data-1.01400-00900}}</td>
<td class="right">14</td>
</tr>
<tr><td class="right">15</td>
<td class="data">{{data-1.01500-00000}}</td>
<td class="data center">{{data-1.01500-00100}}</td>
<td class="data">{{data-1.01500-00200}}</td>
<td class="data center">{{data-1.01500-00300}}</td>
<td class="data right">{{NumberFormat data-1.01500-00400}}</td>
<td class="data right">{{NumberFormat data-1.01500-00500}}</td>
<td class="data center">{{data-1.01500-00600}}</td>
<td class="data center">{{data-1.01500-00700}}</td>
<td class="data right">{{NumberFormat data-1.01500-00800}}</td>
<td class="data right">{{NumberFormat data-1.01500-00900}}</td>
<td class="right">15</td>
</tr>
<tr><td class="right">16</td>
<td class="data">{{data-1.01600-00000}}</td>
<td class="data center">{{data-1.01600-00100}}</td>
<td class="data">{{data-1.01600-00200}}</td>
<td class="data center">{{data-1.01600-00300}}</td>
<td class="data right">{{NumberFormat data-1.01600-00400}}</td>
<td class="data right">{{NumberFormat data-1.01600-00500}}</td>
<td class="data center">{{data-1.01600-00600}}</td>
<td class="data center">{{data-1.01600-00700}}</td>
<td class="data right">{{NumberFormat data-1.01600-00800}}</td>
<td class="data right">{{NumberFormat data-1.01600-00900}}</td>
<td class="right">16</td>
</tr>
<tr><td class="right">17</td>
<td class="data">{{data-1.01700-00000}}</td>
<td class="data center">{{data-1.01700-00100}}</td>
<td class="data">{{data-1.01700-00200}}</td>
<td class="data center">{{data-1.01700-00300}}</td>
<td class="data right">{{NumberFormat data-1.01700-00400}}</td>
<td class="data right">{{NumberFormat data-1.01700-00500}}</td>
<td class="data center">{{data-1.01700-00600}}</td>
<td class="data center">{{data-1.01700-00700}}</td>
<td class="data right">{{NumberFormat data-1.01700-00800}}</td>
<td class="data right">{{NumberFormat data-1.01700-00900}}</td>
<td class="right">17</td>
</tr>
<tr><td class="right">18</td>
<td class="data">{{data-1.01800-00000}}</td>
<td class="data center">{{data-1.01800-00100}}</td>
<td class="data">{{data-1.01800-00200}}</td>
<td class="data center">{{data-1.01800-00300}}</td>
<td class="data right">{{NumberFormat data-1.01800-00400}}</td>
<td class="data right">{{NumberFormat data-1.01800-00500}}</td>
<td class="data center">{{data-1.01800-00600}}</td>
<td class="data center">{{data-1.01800-00700}}</td>
<td class="data right">{{NumberFormat data-1.01800-00800}}</td>
<td class="data right">{{NumberFormat data-1.01800-00900}}</td>
<td class="right">18</td>
</tr>
<tr><td class="right">19</td>
<td class="data">{{data-1.01900-00000}}</td>
<td class="data center">{{data-1.01900-00100}}</td>
<td class="data">{{data-1.01900-00200}}</td>
<td class="data center">{{data-1.01900-00300}}</td>
<td class="data right">{{NumberFormat data-1.01900-00400}}</td>
<td class="data right">{{NumberFormat data-1.01900-00500}}</td>
<td class="data center">{{data-1.01900-00600}}</td>
<td class="data center">{{data-1.01900-00700}}</td>
<td class="data right">{{NumberFormat data-1.01900-00800}}</td>
<td class="data right">{{NumberFormat data-1.01900-00900}}</td>
<td class="right">19</td>
</tr>
<tr><td class="right">20</td>
<td class="data">{{data-1.02000-00000}}</td>
<td class="data center">{{data-1.02000-00100}}</td>
<td class="data">{{data-1.02000-00200}}</td>
<td class="data center">{{data-1.02000-00300}}</td>
<td class="data right">{{NumberFormat data-1.02000-00400}}</td>
<td class="data right">{{NumberFormat data-1.02000-00500}}</td>
<td class="data center">{{data-1.02000-00600}}</td>
<td class="data center">{{data-1.02000-00700}}</td>
<td class="data right">{{NumberFormat data-1.02000-00800}}</td>
<td class="data right">{{NumberFormat data-1.02000-00900}}</td>
<td class="right">20</td>
</tr>
<tr><td class="right">21</td>
<td class="data">{{data-1.02100-00000}}</td>
<td class="data center">{{data-1.02100-00100}}</td>
<td class="data">{{data-1.02100-00200}}</td>
<td class="data center">{{data-1.02100-00300}}</td>
<td class="data right">{{NumberFormat data-1.02100-00400}}</td>
<td class="data right">{{NumberFormat data-1.02100-00500}}</td>
<td class="data center">{{data-1.02100-00600}}</td>
<td class="data center">{{data-1.02100-00700}}</td>
<td class="data right">{{NumberFormat data-1.02100-00800}}</td>
<td class="data right">{{NumberFormat data-1.02100-00900}}</td>
<td class="right">21</td>
</tr>
<tr><td class="right">22</td>
<td class="data">{{data-1.02200-00000}}</td>
<td class="data center">{{data-1.02200-00100}}</td>
<td class="data">{{data-1.02200-00200}}</td>
<td class="data center">{{data-1.02200-00300}}</td>
<td class="data right">{{NumberFormat data-1.02200-00400}}</td>
<td class="data right">{{NumberFormat data-1.02200-00500}}</td>
<td class="data center">{{data-1.02200-00600}}</td>
<td class="data center">{{data-1.02200-00700}}</td>
<td class="data right">{{NumberFormat data-1.02200-00800}}</td>
<td class="data right">{{NumberFormat data-1.02200-00900}}</td>
<td class="right">22</td>
</tr>
<tr><td class="right">23</td>
<td class="data">{{data-1.02300-00000}}</td>
<td class="data center">{{data-1.02300-00100}}</td>
<td class="data">{{data-1.02300-00200}}</td>
<td class="data center">{{data-1.02300-00300}}</td>
<td class="data right">{{NumberFormat data-1.02300-00400}}</td>
<td class="data right">{{NumberFormat data-1.02300-00500}}</td>
<td class="data center">{{data-1.02300-00600}}</td>
<td class="data center">{{data-1.02300-00700}}</td>
<td class="data right">{{NumberFormat data-1.02300-00800}}</td>
<td class="data right">{{NumberFormat data-1.02300-00900}}</td>
<td class="right">23</td>
</tr>
<tr><td class="right">24</td>
<td class="data">{{data-1.02400-00000}}</td>
<td class="data center">{{data-1.02400-00100}}</td>
<td class="data">{{data-1.02400-00200}}</td>
<td class="data center">{{data-1.02400-00300}}</td>
<td class="data right">{{NumberFormat data-1.02400-00400}}</td>
<td class="data right">{{NumberFormat data-1.02400-00500}}</td>
<td class="data center">{{data-1.02400-00600}}</td>
<td class="data center">{{data-1.02400-00700}}</td>
<td class="data right">{{NumberFormat data-1.02400-00800}}</td>
<td class="data right">{{NumberFormat data-1.02400-00900}}</td>
<td class="right">24</td>
</tr>
<tr><td class="right">25</td>
<td class="data">{{data-1.02500-00000}}</td>
<td class="data center">{{data-1.02500-00100}}</td>
<td class="data">{{data-1.02500-00200}}</td>
<td class="data center">{{data-1.02500-00300}}</td>
<td class="data right">{{NumberFormat data-1.02500-00400}}</td>
<td class="data right">{{NumberFormat data-1.02500-00500}}</td>
<td class="data center">{{data-1.02500-00600}}</td>
<td class="data center">{{data-1.02500-00700}}</td>
<td class="data right">{{NumberFormat data-1.02500-00800}}</td>
<td class="data right">{{NumberFormat data-1.02500-00900}}</td>
<td class="right">25</td>
</tr>
<tr><td class="right">26</td>
<td class="data">{{data-1.02600-00000}}</td>
<td class="data center">{{data-1.02600-00100}}</td>
<td class="data">{{data-1.02600-00200}}</td>
<td class="data center">{{data-1.02600-00300}}</td>
<td class="data right">{{NumberFormat data-1.02600-00400}}</td>
<td class="data right">{{NumberFormat data-1.02600-00500}}</td>
<td class="data center">{{data-1.02600-00600}}</td>
<td class="data center">{{data-1.02600-00700}}</td>
<td class="data right">{{NumberFormat data-1.02600-00800}}</td>
<td class="data right">{{NumberFormat data-1.02600-00900}}</td>
<td class="right">26</td>
</tr>
<tr><td class="right">27</td>
<td class="data">{{data-1.02700-00000}}</td>
<td class="data center">{{data-1.02700-00100}}</td>
<td class="data">{{data-1.02700-00200}}</td>
<td class="data center">{{data-1.02700-00300}}</td>
<td class="data right">{{NumberFormat data-1.02700-00400}}</td>
<td class="data right">{{NumberFormat data-1.02700-00500}}</td>
<td class="data center">{{data-1.02700-00600}}</td>
<td class="data center">{{data-1.02700-00700}}</td>
<td class="data right">{{NumberFormat data-1.02700-00800}}</td>
<td class="data right">{{NumberFormat data-1.02700-00900}}</td>
<td class="right">27</td>
</tr>
<tr><td class="right">28</td>
<td class="data">{{data-1.02800-00000}}</td>
<td class="data center">{{data-1.02800-00100}}</td>
<td class="data">{{data-1.02800-00200}}</td>
<td class="data center">{{data-1.02800-00300}}</td>
<td class="data right">{{NumberFormat data-1.02800-00400}}</td>
<td class="data right">{{NumberFormat data-1.02800-00500}}</td>
<td class="data center">{{data-1.02800-00600}}</td>
<td class="data center">{{data-1.02800-00700}}</td>
<td class="data right">{{NumberFormat data-1.02800-00800}}</td>
<td class="data right">{{NumberFormat data-1.02800-00900}}</td>
<td class="right">28</td>
</tr>
<tr><td class="right">29</td>
<td class="data">{{data-1.02900-00000}}</td>
<td class="data center">{{data-1.02900-00100}}</td>
<td class="data">{{data-1.02900-00200}}</td>
<td class="data center">{{data-1.02900-00300}}</td>
<td class="data right">{{NumberFormat data-1.02900-00400}}</td>
<td class="data right">{{NumberFormat data-1.02900-00500}}</td>
<td class="data center">{{data-1.02900-00600}}</td>
<td class="data center">{{data-1.02900-00700}}</td>
<td class="data right">{{NumberFormat data-1.02900-00800}}</td>
<td class="data right">{{NumberFormat data-1.02900-00900}}</td>
<td class="right">29</td>
</tr>
<tr><td class="right">30</td>
<td class="data">{{data-1.03000-00000}}</td>
<td class="data center">{{data-1.03000-00100}}</td>
<td class="data">{{data-1.03000-00200}}</td>
<td class="data center">{{data-1.03000-00300}}</td>
<td class="data right">{{NumberFormat data-1.03000-00400}}</td>
<td class="data right">{{NumberFormat data-1.03000-00500}}</td>
<td class="data center">{{data-1.03000-00600}}</td>
<td class="data center">{{data-1.03000-00700}}</td>
<td class="data right">{{NumberFormat data-1.03000-00800}}</td>
<td class="data right">{{NumberFormat data-1.03000-00900}}</td>
<td class="right">30</td>
</tr>
<tr><td class="right">31</td>
<td class="data">{{data-1.03100-00000}}</td>
<td class="data center">{{data-1.03100-00100}}</td>
<td class="data">{{data-1.03100-00200}}</td>
<td class="data center">{{data-1.03100-00300}}</td>
<td class="data right">{{NumberFormat data-1.03100-00400}}</td>
<td class="data right">{{NumberFormat data-1.03100-00500}}</td>
<td class="data center">{{data-1.03100-00600}}</td>
<td class="data center">{{data-1.03100-00700}}</td>
<td class="data right">{{NumberFormat data-1.03100-00800}}</td>
<td class="data right">{{NumberFormat data-1.03100-00900}}</td>
<td class="right">31</td>
</tr>
<tr><td class="right">32</td>
<td class="data">{{data-1.03200-00000}}</td>
<td class="data center">{{data-1.03200-00100}}</td>
<td class="data">{{data-1.03200-00200}}</td>
<td class="data center">{{data-1.03200-00300}}</td>
<td class="data right">{{NumberFormat data-1.03200-00400}}</td>
<td class="data right">{{NumberFormat data-1.03200-00500}}</td>
<td class="data center">{{data-1.03200-00600}}</td>
<td class="data center">{{data-1.03200-00700}}</td>
<td class="data right">{{NumberFormat data-1.03200-00800}}</td>
<td class="data right">{{NumberFormat data-1.03200-00900}}</td>
<td class="right">32</td>
</tr>
<tr><td class="right">33</td>
<td class="data">{{data-1.03300-00000}}</td>
<td class="data center">{{data-1.03300-00100}}</td>
<td class="data">{{data-1.03300-00200}}</td>
<td class="data center">{{data-1.03300-00300}}</td>
<td class="data right">{{NumberFormat data-1.03300-00400}}</td>
<td class="data right">{{NumberFormat data-1.03300-00500}}</td>
<td class="data center">{{data-1.03300-00600}}</td>
<td class="data center">{{data-1.03300-00700}}</td>
<td class="data right">{{NumberFormat data-1.03300-00800}}</td>
<td class="data right">{{NumberFormat data-1.03300-00900}}</td>
<td class="right">33</td>
</tr>
<tr><td class="right">34</td>
<td class="data">{{data-1.03400-00000}}</td>
<td class="data center">{{data-1.03400-00100}}</td>
<td class="data">{{data-1.03400-00200}}</td>
<td class="data center">{{data-1.03400-00300}}</td>
<td class="data right">{{NumberFormat data-1.03400-00400}}</td>
<td class="data right">{{NumberFormat data-1.03400-00500}}</td>
<td class="data center">{{data-1.03400-00600}}</td>
<td class="data center">{{data-1.03400-00700}}</td>
<td class="data right">{{NumberFormat data-1.03400-00800}}</td>
<td class="data right">{{NumberFormat data-1.03400-00900}}</td>
<td class="right">34</td>
</tr>
<tr><td class="right">35</td>
<td class="data">{{data-1.03500-00000}}</td>
<td class="data center">{{data-1.03500-00100}}</td>
<td class="data">{{data-1.03500-00200}}</td>
<td class="data center">{{data-1.03500-00300}}</td>
<td class="data right">{{NumberFormat data-1.03500-00400}}</td>
<td class="data right">{{NumberFormat data-1.03500-00500}}</td>
<td class="data center">{{data-1.03500-00600}}</td>
<td class="data center">{{data-1.03500-00700}}</td>
<td class="data right">{{NumberFormat data-1.03500-00800}}</td>
<td class="data right">{{NumberFormat data-1.03500-00900}}</td>
<td class="right">35</td>
</tr>




<tr><td class="right">100</td>
<td colspan="4"> TOTAL  RECLASSIFICATIONS  (Sum of columns 4 and 5 must equal  sum of columns 8 and 9  (2) </td>
<td class="data right">{{NumberFormat data-1.10000-00400}}</td>
<td class="data right">{{NumberFormat data-1.10000-00500}}</td>
<td class="data center fillgrey">&nbsp;{{data-1.10000-00600}}</td>
<td class="data center fillgrey">&nbsp;{{data-1.10000-00700}}</td>
<td class="data right">{{NumberFormat data-1.10000-00800}}</td>
<td class="data right">{{NumberFormat data-1.10000-00900}}</td>
<td class="right">100</td>
</tr>
<tr><td colspan="12"><div>  (1)  A letter (A, B, etc.) must be entered on each line to identify each reclassification entry.</div><div>  (2)  Transfer the amounts in columns 4, 5, 8 and 9 to Worksheet A, column 4, lines as appropriate.</div></td>
</tr>
<tr><td colspan="12">FORM CMS-2540-10 (09/2011)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4114)      </td>
</tr>
<tr><td colspan="2">41-318</td>
<td colspan="8">&nbsp;</td>
<td colspan="2"> Rev. 2 </td>
</tr>
</tbody></table>
</div>