<div class="report"><table border="1" width="100%" cellpadding="1" cellspacing="1">
<colgroup><col width="3%">
<col width="17%">
<col width="11%">
<col width="11%">
<col width="11%">
<col width="11%">
<col width="11%">
<col width="11%">
<col width="11%">

<col width="3%">
</colgroup><thead><tr><td colspan="4"> ANALYSIS  OF  CHANGES  IN    CAPITAL  ASSET  BALANCES </td>
<td colspan="2">Provider CCN: <span class="data">{{pId}}</span></td>
<td colspan="2"><div>PERIOD:</div><div>FROM <span class="data">{{year.start}}</span></div><div>TO <span class="data">{{year.end}}</span></div></td>
<td colspan="2"> WORKSHEET A-7</td>
</tr>
</thead><tbody><tr><td colspan="10">&nbsp;</td>
</tr>
<tr><td class="center" colspan="2" rowspan="3">     Description </td>
<td class="center" rowspan="2"> Beginning Balances </td>
<td class="center" colspan="3"> Acquisitions  </td>
<td class="center" rowspan="2">Disposals and Retirements </td>
<td class="center" rowspan="2"> Ending Balance </td>
<td class="center" rowspan="2">Fully Depreciated Assets </td>
<td class="center" rowspan="2">&nbsp;</td>
</tr>
<tr><td class="center"> Purchases </td>
<td class="center"> Donation </td>
<td class="center"> Total </td>
</tr>
<tr><td class="center">1</td>
<td class="center">2</td>
<td class="center">3</td>
<td class="center">4</td>
<td class="center">5</td>
<td class="center">6</td>
<td class="center">7</td>
<td class="center">&nbsp;</td>
</tr>
<tr><td class="center">1</td>
<td> Land</td>
<td class="data right">{{NumberFormat data-1.00100-00100}}</td>
<td class="data right">{{NumberFormat data-1.00100-00200}}</td>
<td class="data right">{{NumberFormat data-1.00100-00300}}</td>
<td class="data right">{{NumberFormat data-1.00100-00400}}</td>
<td class="data right">{{NumberFormat data-1.00100-00500}}</td>
<td class="data right">{{NumberFormat data-1.00100-00600}}</td>
<td class="data right">{{NumberFormat data-1.00100-00700}}</td>
<td class="center">1</td>
</tr>
<tr><td class="center">2</td>
<td> Land Improvements</td>
<td class="data right">{{NumberFormat data-1.00200-00100}}</td>
<td class="data right">{{NumberFormat data-1.00200-00200}}</td>
<td class="data right">{{NumberFormat data-1.00200-00300}}</td>
<td class="data right">{{NumberFormat data-1.00200-00400}}</td>
<td class="data right">{{NumberFormat data-1.00200-00500}}</td>
<td class="data right">{{NumberFormat data-1.00200-00600}}</td>
<td class="data right">{{NumberFormat data-1.00200-00700}}</td>
<td class="center">2</td>
</tr>
<tr><td class="center">3</td>
<td> Buildings and Fixtures</td>
<td class="data right">{{NumberFormat data-1.00300-00100}}</td>
<td class="data right">{{NumberFormat data-1.00300-00200}}</td>
<td class="data right">{{NumberFormat data-1.00300-00300}}</td>
<td class="data right">{{NumberFormat data-1.00300-00400}}</td>
<td class="data right">{{NumberFormat data-1.00300-00500}}</td>
<td class="data right">{{NumberFormat data-1.00300-00600}}</td>
<td class="data right">{{NumberFormat data-1.00300-00700}}</td>
<td class="center">3</td>
</tr>
<tr><td class="center">4</td>
<td> Building Improvements</td>
<td class="data right">{{NumberFormat data-1.00400-00100}}</td>
<td class="data right">{{NumberFormat data-1.00400-00200}}</td>
<td class="data right">{{NumberFormat data-1.00400-00300}}</td>
<td class="data right">{{NumberFormat data-1.00400-00400}}</td>
<td class="data right">{{NumberFormat data-1.00400-00500}}</td>
<td class="data right">{{NumberFormat data-1.00400-00600}}</td>
<td class="data right">{{NumberFormat data-1.00400-00700}}</td>
<td class="center">4</td>
</tr>
<tr><td class="center">5</td>
<td> Fixed Equipment</td>
<td class="data right">{{NumberFormat data-1.00500-00100}}</td>
<td class="data right">{{NumberFormat data-1.00500-00200}}</td>
<td class="data right">{{NumberFormat data-1.00500-00300}}</td>
<td class="data right">{{NumberFormat data-1.00500-00400}}</td>
<td class="data right">{{NumberFormat data-1.00500-00500}}</td>
<td class="data right">{{NumberFormat data-1.00500-00600}}</td>
<td class="data right">{{NumberFormat data-1.00500-00700}}</td>
<td class="center">5</td>
</tr>
<tr><td class="center">6</td>
<td> Movable Equipment</td>
<td class="data right">{{NumberFormat data-1.00600-00100}}</td>
<td class="data right">{{NumberFormat data-1.00600-00200}}</td>
<td class="data right">{{NumberFormat data-1.00600-00300}}</td>
<td class="data right">{{NumberFormat data-1.00600-00400}}</td>
<td class="data right">{{NumberFormat data-1.00600-00500}}</td>
<td class="data right">{{NumberFormat data-1.00600-00600}}</td>
<td class="data right">{{NumberFormat data-1.00600-00700}}</td>
<td class="center">6</td>
</tr>
<tr><td class="center">7</td>
<td> Subtotal  (sum of lines 1-6)</td>
<td class="data right">{{NumberFormat data-1.00700-00100}}</td>
<td class="data right">{{NumberFormat data-1.00700-00200}}</td>
<td class="data right">{{NumberFormat data-1.00700-00300}}</td>
<td class="data right">{{NumberFormat data-1.00700-00400}}</td>
<td class="data right">{{NumberFormat data-1.00700-00500}}</td>
<td class="data right">{{NumberFormat data-1.00700-00600}}</td>
<td class="data right">{{NumberFormat data-1.00700-00700}}</td>
<td class="center">7</td>
</tr>
<tr><td class="center">8</td>
<td> Reconciling Items</td>
<td class="data right">{{NumberFormat data-1.00800-00100}}</td>
<td class="data right">{{NumberFormat data-1.00800-00200}}</td>
<td class="data right">{{NumberFormat data-1.00800-00300}}</td>
<td class="data right">{{NumberFormat data-1.00800-00400}}</td>
<td class="data right">{{NumberFormat data-1.00800-00500}}</td>
<td class="data right">{{NumberFormat data-1.00800-00600}}</td>
<td class="data right">{{NumberFormat data-1.00800-00700}}</td>
<td class="center">8</td>
</tr>
<tr><td class="center">9</td>
<td> Total  (line 7 minus line 8)</td>
<td class="data right">{{NumberFormat data-1.00900-00100}}</td>
<td class="data right">{{NumberFormat data-1.00900-00200}}</td>
<td class="data right">{{NumberFormat data-1.00900-00300}}</td>
<td class="data right">{{NumberFormat data-1.00900-00400}}</td>
<td class="data right">{{NumberFormat data-1.00900-00500}}</td>
<td class="data right">{{NumberFormat data-1.00900-00600}}</td>
<td class="data right">{{NumberFormat data-1.00900-00700}}</td>
<td class="center">9</td>
</tr>
<tr><td colspan="10">FORM CMS-2540-10 (05/2011)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4115)</td>
</tr>
<tr><td colspan="2">Rev. 1</td>
<td colspan="6">&nbsp;</td>
<td colspan="2"> 41-319 </td>
</tr>
</tbody></table>
</div>