<div class="report">
<table border="1" width="100%" cellpadding="1" cellspacing="1">
<colgroup><col width="4%">
<col width="30%">
<col width="12%">
<col width="12%">
<col width="30%">
<col width="8%">
<col width="4%">

</colgroup><thead><tr><td colspan="3"> ADJUSTMENTS  TO  EXPENSES</td>
<td>Provider CCN: <span class="data">{{pId}}</span></td>
<td><div>PERIOD:</div><div>FROM <span class="data">{{year.start}}</span></div><div>TO <span class="data">{{year.end}}</span></div></td>
<td colspan="2"> WORKSHEET  A-8</td>
</tr>
</thead><tbody><tr><td class="center" colspan="2" rowspan="2">      Description (1)  </td>
<td class="center" rowspan="2">Basis for Adjustment (2) </td>
<td class="center" rowspan="2">  Amount </td>
<td class="center" colspan="2"><div>                    Expense Classification on Wkst. A</div><div>              to/from which the amount is to be adjusted</div></td>
<td class="center">&nbsp;</td>
</tr>
<tr><td class="center"> Cost Center </td>
<td class="center">Line No.</td>
<td class="center">&nbsp;</td>
</tr>
<tr><td class="center">&nbsp;</td>
<td class="center">0</td>
<td class="center">1</td>
<td class="center">2</td>
<td class="center"> 3 </td>
<td class="center">4</td>
<td class="center">&nbsp;</td>
</tr>
<tr><td class="right">1</td>
<td> Investment income on restricted funds  (Chapter 2) </td>
<td class="data center">{{data-1.00100-00100}}</td>
<td class="data right">{{NumberFormat data-1.00100-00200}}</td>
<td class="data">{{data-1.00100-00300}}</td>
<td class="data center">{{data-1.00100-00400}}</td>
<td class="right">1</td>
</tr>
<tr><td class="right">2</td>
<td> Trade, quantity and time discounts  on purchases  (Chapter 8) </td>
<td class="data center">{{data-1.00200-00100}}</td>
<td class="data right">{{NumberFormat data-1.00200-00200}}</td>
<td class="data">{{data-1.00200-00300}}</td>
<td class="data center">{{data-1.00200-00400}}</td>
<td class="right">2</td>
</tr>
<tr><td class="right">3</td>
<td> Refunds and rebates of expenses   Chapter 8) </td>
<td class="data center">{{data-1.00300-00100}}</td>
<td class="data right">{{NumberFormat data-1.00300-00200}}</td>
<td class="data">{{data-1.00300-00300}}</td>
<td class="data center">{{data-1.00300-00400}}</td>
<td class="right">3</td>
</tr>
<tr><td class="right">4</td>
<td> Rental of provider space by suppliers  Chapter 8) </td>
<td class="data center">{{data-1.00400-00100}}</td>
<td class="data right">{{NumberFormat data-1.00400-00200}}</td>
<td class="data">{{data-1.00400-00300}}</td>
<td class="data center">{{data-1.00400-00400}}</td>
<td class="right">4</td>
</tr>
<tr><td class="right">5</td>
<td> Telephone services (pay stations  excluded)  (Chapter 21) </td>
<td class="data center">{{data-1.00500-00100}}</td>
<td class="data right">{{NumberFormat data-1.00500-00200}}</td>
<td class="data">{{data-1.00500-00300}}</td>
<td class="data center">{{data-1.00500-00400}}</td>
<td class="right">5</td>
</tr>
<tr><td class="right">6</td>
<td> Television and radio service   (Chapter 21) </td>
<td class="data center">{{data-1.00600-00100}}</td>
<td class="data right">{{NumberFormat data-1.00600-00200}}</td>
<td class="data">{{data-1.00600-00300}}</td>
<td class="data center">{{data-1.00600-00400}}</td>
<td class="right">6</td>
</tr>
<tr><td class="right">7</td>
<td> Parking lot  (Chapter 21)</td>
<td class="data center">{{data-1.00700-00100}}</td>
<td class="data right">{{NumberFormat data-1.00700-00200}}</td>
<td class="data">{{data-1.00700-00300}}</td>
<td class="data center">{{data-1.00700-00400}}</td>
<td class="right">7</td>
</tr>
<tr><td class="right">8</td>
<td> Remuneration applicable to provider-  based physician adjustment </td>
<td class="center">Worksheet A-8-2 </td>
<td class="data right">{{NumberFormat data-1.00800-00200}}</td>
<td class="data fillgrey">{{data-1.00800-00300}}</td>
<td class="data center fillgrey">&nbsp;{{data-1.00800-00400}}</td>
<td class="right">8</td>
</tr>
<tr><td class="right">9</td>
<td> Home office costs  (Chapter 21)</td>
<td class="data center">{{data-1.00900-00100}}</td>
<td class="data right">{{NumberFormat data-1.00900-00200}}</td>
<td class="data">{{data-1.00900-00300}}</td>
<td class="data center">{{data-1.00900-00400}}</td>
<td class="right">9</td>
</tr>
<tr><td class="right">10</td>
<td> Sale of scrap, waste, etc.  (Chapter23) </td>
<td class="data center">{{data-1.01000-00100}}</td>
<td class="data right">{{NumberFormat data-1.01000-00200}}</td>
<td class="data">{{data-1.01000-00300}}</td>
<td class="data center">{{data-1.01000-00400}}</td>
<td class="right">10</td>
</tr>
<tr><td class="right">11</td>
<td> Nonallowable costs related to certain  Capital expenditures  (Chapter 24) </td>
<td class="data center">{{data-1.01100-00100}}</td>
<td class="data right">{{NumberFormat data-1.01100-00200}}</td>
<td class="data">{{data-1.01100-00300}}</td>
<td class="data center">{{data-1.01100-00400}}</td>
<td class="right">11</td>
</tr>
<tr><td class="right">12</td>
<td> Adjustment resulting from transactions  with related organizations  (Chapter 10) </td>
<td class="center">Worksheet A-8-1 </td>
<td class="data right">{{NumberFormat data-1.01200-00200}}</td>
<td class="data fillgrey">{{data-1.01200-00300}}</td>
<td class="center fillgrey">&nbsp;{{data-1.01200-00400}}</td>
<td class="right">12</td>
</tr>
<tr><td class="right">13</td>
<td> Laundry and Linen service </td>
<td class="data center">{{data-1.01300-00100}}</td>
<td class="data right">{{NumberFormat data-1.01300-00200}}</td>
<td class="data">{{data-1.01300-00300}}</td>
<td class="data center">{{data-1.01300-00400}}</td>
<td class="right">13</td>
</tr>
<tr><td class="right">14</td>
<td> Revenue - Employee meals</td>
<td class="data center">{{data-1.01400-00100}}</td>
<td class="data right">{{NumberFormat data-1.01400-00200}}</td>
<td class="data">{{data-1.01400-00300}}</td>
<td class="data center">{{data-1.01400-00400}}</td>
<td class="right">14</td>
</tr>
<tr><td class="right">15</td>
<td> Cost of meals - Guests </td>
<td class="data center">{{data-1.01500-00100}}</td>
<td class="data right">{{NumberFormat data-1.01500-00200}}</td>
<td class="data">{{data-1.01500-00300}}</td>
<td class="data center">{{data-1.01500-00400}}</td>
<td class="right">15</td>
</tr>
<tr><td class="right">16</td>
<td> Sale of medical supplies to other than patients</td>
<td class="data center">{{data-1.01600-00100}}</td>
<td class="data right">{{NumberFormat data-1.01600-00200}}</td>
<td class="data">{{data-1.01600-00300}}</td>
<td class="data center">{{data-1.01600-00400}}</td>
<td class="right">16</td>
</tr>
<tr><td class="right">17</td>
<td> Sale of drugs to other than patients</td>
<td class="data center">{{data-1.01700-00100}}</td>
<td class="data right">{{NumberFormat data-1.01700-00200}}</td>
<td class="data">{{data-1.01700-00300}}</td>
<td class="data center">{{data-1.01700-00400}}</td>
<td class="right">17</td>
</tr>
<tr><td class="right">18</td>
<td> Sale of medical records and abstracts</td>
<td class="data center">{{data-1.01800-00100}}</td>
<td class="data right">{{NumberFormat data-1.01800-00200}}</td>
<td class="data">{{data-1.01800-00300}}</td>
<td class="data center">{{data-1.01800-00400}}</td>
<td class="right">18</td>
</tr>
<tr><td class="right">19</td>
<td> Vending machines</td>
<td class="data center">{{data-1.01900-00100}}</td>
<td class="data right">{{NumberFormat data-1.01900-00200}}</td>
<td class="data">{{data-1.01900-00300}}</td>
<td class="data center">{{data-1.01900-00400}}</td>
<td class="right">19</td>
</tr>
<tr><td class="right">20</td>
<td> Income from imposition of interest,  finance or penalty charges  (Chapter 21) </td>
<td class="data center">{{data-1.02000-00100}}</td>
<td class="data right">{{NumberFormat data-1.02000-00200}}</td>
<td class="data">{{data-1.02000-00300}}</td>
<td class="data center">{{data-1.02000-00400}}</td>
<td class="right">20</td>
</tr>
<tr><td class="right">21</td>
<td> Interest expense on Medicare overpayments  and borrowings to repay Medicare overpayments </td>
<td class="data center">{{data-1.02100-00100}}</td>
<td class="data right">{{NumberFormat data-1.02100-00200}}</td>
<td class="data">{{data-1.02100-00300}}</td>
<td class="data center">{{data-1.02100-00400}}</td>
<td class="right">21</td>
</tr>
<tr><td class="right">22</td>
<td> Utilization review--physicians'  compensation  (Chapter 21) </td>
<td class="data center">{{data-1.02200-00100}}</td>
<td class="data right">{{NumberFormat data-1.02200-00200}}</td>
<td> Utilization Review- SNF</td>
<td class="center">82</td>
<td class="right">22</td>
</tr>
<tr><td class="right">23</td>
<td> Depreciation--buildings and fixtures</td>
<td class="data center">{{data-1.02300-00100}}</td>
<td class="data right">{{NumberFormat data-1.02300-00200}}</td>
<td> Capital Related Cost- Building</td>
<td class="center">1</td>
<td class="right">23</td>
</tr>
<tr><td class="right">24</td>
<td> Depreciation--movable equipment</td>
<td class="data center">{{data-1.02400-00100}}</td>
<td class="data right">{{NumberFormat data-1.02400-00200}}</td>
<td> Capital Related Cost-Movable</td>
<td class="center">2</td>
<td class="right">24</td>
</tr>
<tr><td class="right">25</td>
<td> Other Adjustment specify  - MISCELLANEOUS INCOME</td>
<td class="data center">{{data-1.02500-00100}}</td>
<td class="data right">{{NumberFormat data-1.02500-00200}}</td>
<td class="data">{{data-1.02500-00300}}</td>
<td class="data center">{{data-1.02500-00400}}</td>
<td class="right">25</td>
</tr>

<tr><td class="right">25.01</td>
<td>EXCISE TAXES</td>
<td class="data center">{{data-1.02501-00100}}</td>
<td class="data right">{{NumberFormat data-1.02501-00200}}</td>
<td class="data">{{data-1.02501-00300}}</td>
<td class="data center">{{data-1.02501-00400}}</td>
<td class="right">25.01</td>
</tr>
<tr><td class="right">25.02</td>
<td>PROMOTIONAL ADVERTISING</td>
<td class="data center">{{data-1.02502-00100}}</td>
<td class="data right">{{NumberFormat data-1.02502-00200}}</td>
<td class="data">{{data-1.02502-00300}}</td>
<td class="data center">{{data-1.02502-00400}}</td>
<td class="right">25.02</td>
</tr>
<tr><td class="right">25.03</td>
<td>FINES &amp; PENALTIES</td>
<td class="data center">{{data-1.02503-00100}}</td>
<td class="data right">{{NumberFormat data-1.02503-00200}}</td>
<td class="data">{{data-1.02503-00300}}</td>
<td class="data center">{{data-1.02503-00400}}</td>
<td class="right">25.03</td>
</tr>
<tr><td class="right">25.04</td>
<td>PHYSICIAN SERVICES</td>
<td class="data center">{{data-1.02504-00100}}</td>
<td class="data right">{{NumberFormat data-1.02504-00200}}</td>
<td class="data">{{data-1.02504-00300}}</td>
<td class="data center">{{data-1.02504-00400}}</td>
<td class="right">25.04</td>
</tr>
<tr><td class="right">25.05</td>
<td>STATE BED TAX</td>
<td class="data center">{{data-1.02505-00100}}</td>
<td class="data right">{{NumberFormat data-1.02505-00200}}</td>
<td class="data">{{data-1.02505-00300}}</td>
<td class="data center">{{data-1.02505-00400}}</td>
<td class="right">25.05</td>
</tr>
<tr><td class="right">25.06</td>
<td>EXPENSE MINOR ASSETS &lt; $5 000</td>
<td class="data center">{{data-1.02506-00100}}</td>
<td class="data right">{{NumberFormat data-1.02506-00200}}</td>
<td class="data">{{data-1.02506-00300}}</td>
<td class="data center">{{data-1.02506-00400}}</td>
<td class="right">25.06</td>
</tr>
<tr><td class="right">25.07</td>
<td>REMOVE RELATED DEPR EXPENSE</td>
<td class="data center">{{data-1.02507-00100}}</td>
<td class="data right">{{NumberFormat data-1.02507-00200}}</td>
<td class="data">{{data-1.02507-00300}}</td>
<td class="data center">{{data-1.02507-00400}}</td>
<td class="right">25.07</td>
</tr>
<tr><td class="right">25.08</td>
<td>IV SUPPLIES</td>
<td class="data center">{{data-1.02508-00100}}</td>
<td class="data right">{{NumberFormat data-1.02508-00200}}</td>
<td class="data">{{data-1.02508-00300}}</td>
<td class="data center">{{data-1.02508-00400}}</td>
<td class="right">25.08</td>
</tr>
<tr><td class="right">25.09</td>
<td>AMBULANCE EXPENSE</td>
<td class="data center">{{data-1.02509-00100}}</td>
<td class="data right">{{NumberFormat data-1.02509-00200}}</td>
<td class="data">{{data-1.02509-00300}}</td>
<td class="data center">{{data-1.02509-00400}}</td>
<td class="right">25.09</td>
</tr>




<tr><td class="right">100</td>
<td> TOTAL  (sum of lines 1 through 99)  (transfer to Wkst. A, col. 6, line 100) </td>
<td class="data fillgrey">&nbsp;{{data-1.10000-00100}}</td>
<td class="data right">{{NumberFormat data-1.10000-00200}}</td>
<td class="data fillgrey">&nbsp;{{data-1.10000-00300}}</td>
<td class="data fillgrey">&nbsp;{{data-1.10000-00400}}</td>
<td class="right">100</td>
</tr>
<tr><td colspan="7"><div>  (1)  Description - all chapter references in this column pertain to CMS Pub. 15-1</div><div>  (2)  Basis for adjustment (see instructions)</div></td>
</tr>
<tr><td>&nbsp;</td>
<td colspan="6"><div>   A. Costs - if cost, including applicable overhead, can be determined</div><div>   B. Amount Received - if cost cannot be determined</div></td>
</tr>
<tr><td colspan="7">FORM CMS-2540-10 (05/2011)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4116)</td>
</tr>
<tr><td colspan="2">41-320</td>
<td colspan="3">&nbsp;</td>
<td colspan="2"> Rev. 1 </td>
</tr>
</tbody></table>
</div>