<div class="report"><table border="1" width="100%" cellpadding="1" cellspacing="1">
<colgroup><col width="3%">
<col width="4%">
<col width="25%">
<col width="21%">
<col width="20%">
<col width="12%">
<col width="12%">
<col width="3%">
</colgroup><thead><tr><td colspan="4"><div> STATEMENT  OF  COSTS  OF  SERVICES</div><div> FROM  RELATED  ORGANIZATIONS  AND</div><div> HOME  OFFICE  COSTS</div></td>
<td>Provider CCN: <span class="data">{{pId}}</span></td>
<td><div>PERIOD:</div><div>FROM <span class="data">{{year.start}}</div><div>TO <span class="data">{{year.end}}</div></td>
<td colspan="2"> WORKSHEET A-8-1</td>
</tr>
</thead><tbody><tr><td colspan="8">&nbsp;</td>
</tr>
<tr><td colspan="8"> PART I  -  COSTS  INCURRED  AND  ADJUSTMENTS  REQUIRED  AS  A  RESULT  OF  TRANSACTIONS  WITH  RELATED                     ORGANIZATIONS  OR  CLAIMED  HOME  OFFICE  COSTS </td>
</tr>
<tr><td rowspan="2">&nbsp;</td>
<td class="center">  Line No. </td>
<td class="center">  Cost Center </td>
<td class="center">  Expense Items </td>
<td class="center">Amount  Allowable In Cost </td>
<td class="center">Amount Included in Wkst. A., col. 5 </td>
<td class="center">Adjustments ( col. 4 minus col. 5 ) </td>
<td rowspan="2">&nbsp;</td>
</tr>
<tr><td class="center">1</td>
<td class="center">2</td>
<td class="center">3</td>
<td class="center">4</td>
<td class="center">5</td>
<td class="center">6</td>
</tr>
<tr><td class="right">1</td>
<td class="data center">{{data-1.00100-00100}}</td>
<td class="data">{{data-1.00100-00200}}</td>
<td class="data">{{data-1.00100-00300}}</td>
<td class="data right">{{NumberFormat data-1.00100-00400}}</td>
<td class="data right">{{NumberFormat data-1.00100-00500}}</td>
<td class="data right">{{NumberFormat data-1.00100-00600}}</td>
<td class="right">1</td>
</tr>
<tr><td class="right">2</td>
<td class="data center">{{data-1.00200-00100}}</td>
<td class="data">{{data-1.00200-00200}}</td>
<td class="data">{{data-1.00200-00300}}</td>
<td class="data right">{{NumberFormat data-1.00200-00400}}</td>
<td class="data right">{{NumberFormat data-1.00200-00500}}</td>
<td class="data right">{{NumberFormat data-1.00200-00600}}</td>
<td class="right">2</td>
</tr>
<tr><td class="right">3</td>
<td class="data center">{{data-1.00300-00100}}</td>
<td class="data">{{data-1.00300-00200}}</td>
<td class="data">{{data-1.00300-00300}}</td>
<td class="data right">{{NumberFormat data-1.00300-00400}}</td>
<td class="data right">{{NumberFormat data-1.00300-00500}}</td>
<td class="data right">{{NumberFormat data-1.00300-00600}}</td>
<td class="right">3</td>
</tr>
<tr><td class="right">4</td>
<td class="data center">{{data-1.00400-00100}}</td>
<td class="data">{{data-1.00400-00200}}</td>
<td class="data">{{data-1.00400-00300}}</td>
<td class="data right">{{NumberFormat data-1.00400-00400}}</td>
<td class="data right">{{NumberFormat data-1.00400-00500}}</td>
<td class="data right">{{NumberFormat data-1.00400-00600}}</td>
<td class="right">4</td>
</tr>
<tr><td class="right">5</td>
<td class="data center">{{data-1.00500-00100}}</td>
<td class="data">{{data-1.00500-00200}}</td>
<td class="data">{{data-1.00500-00300}}</td>
<td class="data right">{{NumberFormat data-1.00500-00400}}</td>
<td class="data right">{{NumberFormat data-1.00500-00500}}</td>
<td class="data right">{{NumberFormat data-1.00500-00600}}</td>
<td class="right">5</td>
</tr>
<tr><td class="right">6</td>
<td class="data center">{{data-1.00600-00100}}</td>
<td class="data">{{data-1.00600-00200}}</td>
<td class="data">{{data-1.00600-00300}}</td>
<td class="data right">{{NumberFormat data-1.00600-00400}}</td>
<td class="data right">{{NumberFormat data-1.00600-00500}}</td>
<td class="data right">{{NumberFormat data-1.00600-00600}}</td>
<td class="right">6</td>
</tr>
<tr><td class="right">7</td>
<td class="data center">{{data-1.00700-00100}}</td>
<td class="data">{{data-1.00700-00200}}</td>
<td class="data">{{data-1.00700-00300}}</td>
<td class="data right">{{NumberFormat data-1.00700-00400}}</td>
<td class="data right">{{NumberFormat data-1.00700-00500}}</td>
<td class="data right">{{NumberFormat data-1.00700-00600}}</td>
<td class="right">7</td>
</tr>
<tr><td class="right">8</td>
<td class="data center">{{data-1.00800-00100}}</td>
<td class="data">{{data-1.00800-00200}}</td>
<td class="data">{{data-1.00800-00300}}</td>
<td class="data right">{{NumberFormat data-1.00800-00400}}</td>
<td class="data right">{{NumberFormat data-1.00800-00500}}</td>
<td class="data right">{{NumberFormat data-1.00800-00600}}</td>
<td class="right">8</td>
</tr>
<tr><td class="right">9</td>
<td class="data center">{{data-1.00900-00100}}</td>
<td class="data">{{data-1.00900-00200}}</td>
<td class="data">{{data-1.00900-00300}}</td>
<td class="data right">{{NumberFormat data-1.00900-00400}}</td>
<td class="data right">{{NumberFormat data-1.00900-00500}}</td>
<td class="data right">{{NumberFormat data-1.00900-00600}}</td>
<td class="right">9</td>
</tr>
<tr><td class="right">10</td>
<td colspan="3"> TOTALS  (sum of lines 1-9)   (Transfer column  6, line 10 to Wkst. A-8, col.  3, line 12) </td>
<td class="data right">{{NumberFormat data-1.01000-00100}}</td>
<td class="data right">{{NumberFormat data-1.01000-00200}}</td>
<td class="data right">{{NumberFormat data-1.01000-00300}}</td>
<td class="right">10</td>
</tr>
<tr><td colspan="8">&nbsp;</td>
</tr>
<tr><td colspan="8"> PART  II  -  INTERRELATIONSHIP  TO  RELATED  ORGANIZATION(S)  AND / OR  HOME  OFFICE</td>
</tr>
<tr><td colspan="8"><div> The Secretary, by virtue of the authority granted under section 1814(b)(1) of the Social Security Act, requires that you furnish</div><div> the information requested under Part II of this worksheet.</div><div> This information is used by the Centers for Medicare and Medicaid Services and its intermediaries/contractors in determining that the costs applicable to</div><div> services, facilities, and supplies furnished by organizations related to you by common ownership or control represent reasonable costs as determined under</div><div> section 1861 of the Social Security Act.  If you do not provide all or any part of the requested information, the cost report is considered incomplete and not</div><div> acceptable for purposes of claiming reimbursement under title XVIII.</div></td>
</tr>
<tr><td rowspan="3">&nbsp;</td>
<td class="center" rowspan="2">  (1) Symbol </td>
<td class="center" rowspan="2">   Name </td>
<td class="center" rowspan="2"> Percentage of Ownership </td>
<td class="center" colspan="3"> Related Organization(s)  </td>
<td class="right" rowspan="3">&nbsp;</td>
</tr>
<tr><td class="center">  Name </td>
<td class="center">Percentage of Ownership </td>
<td class="center"> Type  of Business </td>
</tr>
<tr><td class="center">1</td>
<td class="center">2</td>
<td class="center">3</td>
<td class="center">4</td>
<td class="center">5</td>
<td class="center">6</td>
</tr>
<tr><td class="right">1</td>
<td class="data center">{{data-2.00100-00100}}</td>
<td class="data">{{data-2.00100-00200}}</td>
<td class="data center">{{data-2.00100-00300}}</td>
<td class="data">{{data-2.00100-00400}}</td>
<td class="data center">{{data-2.00100-00500}}</td>
<td class="data">{{data-2.00100-00600}}</td>
<td class="right">1</td>
</tr>
<tr><td class="right">2</td>
<td class="data center">{{data-2.00200-00100}}</td>
<td class="data">{{data-2.00200-00200}}</td>
<td class="data center">{{data-2.00200-00300}}</td>
<td class="data">{{data-2.00200-00400}}</td>
<td class="data center">{{data-2.00200-00500}}</td>
<td class="data">{{data-2.00200-00600}}</td>
<td class="right">2</td>
</tr>
<tr><td class="right">3</td>
<td class="data center">{{data-2.00300-00100}}</td>
<td class="data">{{data-2.00300-00200}}</td>
<td class="data center">{{data-2.00300-00300}}</td>
<td class="data">{{data-2.00300-00400}}</td>
<td class="data center">{{data-2.00300-00500}}</td>
<td class="data">{{data-2.00300-00600}}</td>
<td class="right">3</td>
</tr>
<tr><td class="right">4</td>
<td class="data center">{{data-2.00400-00100}}</td>
<td class="data">{{data-2.00400-00200}}</td>
<td class="data center">{{data-2.00400-00300}}</td>
<td class="data">{{data-2.00400-00400}}</td>
<td class="data center">{{data-2.00400-00500}}</td>
<td class="data">{{data-2.00400-00600}}</td>
<td class="right">4</td>
</tr>
<tr><td class="right">5</td>
<td class="data center">{{data-2.00500-00100}}</td>
<td class="data">{{data-2.00500-00200}}</td>
<td class="data center">{{data-2.00500-00300}}</td>
<td class="data">{{data-2.00500-00400}}</td>
<td class="data center">{{data-2.00500-00500}}</td>
<td class="data">{{data-2.00500-00600}}</td>
<td class="right">5</td>
</tr>
<tr><td class="right">6</td>
<td class="data center">{{data-2.00600-00100}}</td>
<td class="data">{{data-2.00600-00200}}</td>
<td class="data center">{{data-2.00600-00300}}</td>
<td class="data">{{data-2.00600-00400}}</td>
<td class="data center">{{data-2.00600-00500}}</td>
<td class="data">{{data-2.00600-00600}}</td>
<td class="right">6</td>
</tr>
<tr><td class="right">7</td>
<td class="data center">{{data-2.00700-00100}}</td>
<td class="data">{{data-2.00700-00200}}</td>
<td class="data center">{{data-2.00700-00300}}</td>
<td class="data">{{data-2.00700-00400}}</td>
<td class="data center">{{data-2.00700-00500}}</td>
<td class="data">{{data-2.00700-00600}}</td>
<td class="right">7</td>
</tr>
<tr><td class="right">8</td>
<td class="data center">{{data-2.00800-00100}}</td>
<td class="data">{{data-2.00800-00200}}</td>
<td class="data center">{{data-2.00800-00300}}</td>
<td class="data">{{data-2.00800-00400}}</td>
<td class="data center">{{data-2.00800-00500}}</td>
<td class="data">{{data-2.00800-00600}}</td>
<td class="right">8</td>
</tr>
<tr><td class="right">9</td>
<td class="data center">{{data-2.00900-00100}}</td>
<td class="data">{{data-2.00900-00200}}</td>
<td class="data center">{{data-2.00900-00300}}</td>
<td class="data">{{data-2.00900-00400}}</td>
<td class="data center">{{data-2.00900-00500}}</td>
<td class="data">{{data-2.00900-00600}}</td>
<td class="right">9</td>
</tr>
<tr><td class="right">10</td>
<td class="data center">{{data-2.00900-00100}}</td>
<td class="data">{{data-2.00900-00200}}</td>
<td class="data center">{{data-2.00900-00300}}</td>
<td class="data">{{data-2.00900-00400}}</td>
<td class="data center">{{data-2.00900-00500}}</td>
<td class="data">{{data-2.00900-00600}}</td>
<td class="right">10</td>
</tr>
<tr><td colspan="8">  (1)  Use the followings symbols to indicate interrelationship to related organizations:</td>
</tr>
<tr><td>&nbsp;</td>
<td colspan="3"><div>     A. Individual has financial interest (stockholder, partner, etc.)</div><div>          in both related organization and in provider.</div><div>     B. Corporation, partnership or other organization has financial</div><div>          interest in provider.</div><div>     C. Provider has financial interest in corporation, partnership,</div><div>          or other organization.</div><div>     D. Director, officer, administrator or key person of provider or</div><div>          organization.</div></td>
<td colspan="4"><div>     E. Individual is director, officer, administrator or key person of provider</div><div>         and related organization.</div><div>     F. Director, officer, administrator or key person of related organization</div><div>         or relative of such person has financial interest in provider.</div><div>     G. Other (financial or non-financial) specify ______________________</div><div>          _____________________________________________________</div></td>
</tr>
<tr><td colspan="8">FORM CMS-2540-10 (05/2011)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4117)</td>
</tr>
<tr><td colspan="2">Rev. 7</td>
<td colspan="4">&nbsp;</td>
<td colspan="2">08-16   </td>
</tr>
</tbody></table>
</div>