
<div class="report">
<table border="1" width="1400" cellpadding="1" cellspacing="1">
<colgroup><col width="3%">
<col width="4%">
<col width="5%">
<col width="6%">
<col width="5%">
<col width="6%">
<col width="5%">
<col width="6%">
<col width="5%">
<col width="5%">
<col width="5%">
<col width="5%">
<col width="6%">
<col width="5%">
<col width="5%">
<col width="5%">
<col width="5%">
<col width="6%">
<col width="5%">

<col width="3%">
</colgroup><thead><tr><td class="left" colspan="14"> PROVIDER - BASED  PHYSICIAN  ADJUSTMENTS</td>
<td colspan="2">Provider CCN: <span class="data">{{pId}}</span></td>
<td colspan="2"><div>PERIOD:</div><div>FROM <span class="data">{{year.start}}</span></div><div>TO <span class="data">{{year.end}}</span></div></td>
<td colspan="2"> WORKSHEET A-8-2</td>
</tr>
</thead><tbody><tr><td colspan="20">&nbsp;</td>
</tr>
<tr><td rowspan="2">&nbsp;</td>
<td class="center">  Wkst.  A Line No. </td>
<td class="center"> Cost  Center / Physician Identifier </td>
<td class="center">  Total Remuneration </td>
<td class="center">  Professional Component </td>
<td class="center">  Provider Component </td>
<td class="center">  R C E Amount </td>
<td class="center">Physician / Provider Component Hours </td>
<td class="center">  Unadjusted R C E   Limit </td>
<td class="center"> 5 Percent of Unadjusted R C E   Limit </td>
<td class="center">  Wkst.  A Line No. </td>
<td class="center"> Cost  Center / Physician Identifier </td>
<td class="center">Cost  of Memberships &amp;  Continuing Education </td>
<td class="center">Provider Component Share of Col. 12 </td>
<td class="center">Physician Cost  of Malpractice Insurance </td>
<td class="center">Provider Component Share  of Col.  14 </td>
<td class="center">  Adjusted R C E   Limit </td>
<td class="center">  R C E Disallowance </td>
<td class="center">   Adjustment </td>
<td rowspan="2">&nbsp;</td>
</tr>
<tr><td class="center">1</td>
<td class="center">2</td>
<td class="center">3</td>
<td class="center">4</td>
<td class="center">5</td>
<td class="center">6</td>
<td class="center">7</td>
<td class="center">8</td>
<td class="center">9</td>
<td class="center">10</td>
<td class="center">11</td>
<td class="center">12</td>
<td class="center">13</td>
<td class="center">14</td>
<td class="center">15</td>
<td class="center">16</td>
<td class="center">17</td>
<td class="center">18</td>
</tr>
<tr><td class="right">1</td>
<td class="data center">{{data-1.00100-00100}}</td>
<td class="data right">{{data-1.00100-00200}}</td>
<td class="data right">{{NumberFormat data-1.00100-00300}}</td>
<td class="data right">{{data-1.00100-00400}}</td>
<td class="data right">{{data-1.00100-00500}}</td>
<td class="data right">{{NumberFormat data-1.00100-00600}}</td>
<td class="data right">{{data-1.00100-00700}}</td>
<td class="data right">{{data-1.00100-00800}}</td>
<td class="data right">{{data-1.00100-00900}}</td>
<td class="data right">{{data-1.00100-01000}}</td>
<td class="data right">{{data-1.00100-01100}}</td>
<td class="data right">{{NumberFormat data-1.00100-01200}}</td>
<td class="data right">{{NumberFormat data-1.00100-01300}}</td>
<td class="data right">{{NumberFormat data-1.00100-01400}}</td>
<td class="data right">{{NumberFormat data-1.00100-01500}}</td>
<td class="data right">{{data-1.00100-01600}}</td>
<td class="data right">{{data-1.00100-01700}}</td>
<td class="data right">{{data-1.00100-01800}}</td>
<td class="right">1</td>
</tr>
<tr><td class="right">2</td>
<td class="data center">{{data-1.00200-00100}}</td>
<td class="data right">{{data-1.00200-00200}}</td>
<td class="data right">{{NumberFormat data-1.00200-00300}}</td>
<td class="data right">{{data-1.00200-00400}}</td>
<td class="data right">{{data-1.00200-00500}}</td>
<td class="data right">{{NumberFormat data-1.00200-00600}}</td>
<td class="data right">{{data-1.00200-00700}}</td>
<td class="data right">{{data-1.00200-00800}}</td>
<td class="data right">{{data-1.00200-00900}}</td>
<td class="data right">{{data-1.00200-01000}}</td>
<td class="data right">{{data-1.00200-01100}}</td>
<td class="data right">{{NumberFormat data-1.00200-01200}}</td>
<td class="data right">{{NumberFormat data-1.00200-01300}}</td>
<td class="data right">{{NumberFormat data-1.00200-01400}}</td>
<td class="data right">{{NumberFormat data-1.00200-01500}}</td>
<td class="data right">{{data-1.00200-01600}}</td>
<td class="data right">{{data-1.00200-01700}}</td>
<td class="data right">{{data-1.00200-01800}}</td>
<td class="right">2</td>
</tr>
<tr><td class="right">3</td>
<td class="data center">{{data-1.00300-00100}}</td>
<td class="data right">{{data-1.00300-00200}}</td>
<td class="data right">{{NumberFormat data-1.00300-00300}}</td>
<td class="data right">{{data-1.00300-00400}}</td>
<td class="data right">{{data-1.00300-00500}}</td>
<td class="data right">{{NumberFormat data-1.00300-00600}}</td>
<td class="data right">{{data-1.00300-00700}}</td>
<td class="data right">{{data-1.00300-00800}}</td>
<td class="data right">{{data-1.00300-00900}}</td>
<td class="data right">{{data-1.00300-01000}}</td>
<td class="data right">{{data-1.00300-01100}}</td>
<td class="data right">{{NumberFormat data-1.00300-01200}}</td>
<td class="data right">{{NumberFormat data-1.00300-01300}}</td>
<td class="data right">{{NumberFormat data-1.00300-01400}}</td>
<td class="data right">{{NumberFormat data-1.00300-01500}}</td>
<td class="data right">{{data-1.00300-01600}}</td>
<td class="data right">{{data-1.00300-01700}}</td>
<td class="data right">{{data-1.00300-01800}}</td>
<td class="right">3</td>
</tr>
<tr><td class="right">4</td>
<td class="data center">{{data-1.00400-00100}}</td>
<td class="data right">{{data-1.00400-00200}}</td>
<td class="data right">{{NumberFormat data-1.00400-00300}}</td>
<td class="data right">{{data-1.00400-00400}}</td>
<td class="data right">{{data-1.00400-00500}}</td>
<td class="data right">{{NumberFormat data-1.00400-00600}}</td>
<td class="data right">{{data-1.00400-00700}}</td>
<td class="data right">{{data-1.00400-00800}}</td>
<td class="data right">{{data-1.00400-00900}}</td>
<td class="data right">{{data-1.00400-01000}}</td>
<td class="data right">{{data-1.00400-01100}}</td>
<td class="data right">{{NumberFormat data-1.00400-01200}}</td>
<td class="data right">{{NumberFormat data-1.00400-01300}}</td>
<td class="data right">{{NumberFormat data-1.00400-01400}}</td>
<td class="data right">{{NumberFormat data-1.00400-01500}}</td>
<td class="data right">{{data-1.00400-01600}}</td>
<td class="data right">{{data-1.00400-01700}}</td>
<td class="data right">{{data-1.00400-01800}}</td>
<td class="right">4</td>
</tr>
<tr><td class="right">5</td>
<td class="data center">{{data-1.00500-00100}}</td>
<td class="data right">{{data-1.00500-00200}}</td>
<td class="data right">{{NumberFormat data-1.00500-00300}}</td>
<td class="data right">{{data-1.00500-00400}}</td>
<td class="data right">{{data-1.00500-00500}}</td>
<td class="data right">{{NumberFormat data-1.00500-00600}}</td>
<td class="data right">{{data-1.00500-00700}}</td>
<td class="data right">{{data-1.00500-00800}}</td>
<td class="data right">{{data-1.00500-00900}}</td>
<td class="data right">{{data-1.00500-01000}}</td>
<td class="data right">{{data-1.00500-01100}}</td>
<td class="data right">{{NumberFormat data-1.00500-01200}}</td>
<td class="data right">{{NumberFormat data-1.00500-01300}}</td>
<td class="data right">{{NumberFormat data-1.00500-01400}}</td>
<td class="data right">{{NumberFormat data-1.00500-01500}}</td>
<td class="data right">{{data-1.00500-01600}}</td>
<td class="data right">{{data-1.00500-01700}}</td>
<td class="data right">{{data-1.00500-01800}}</td>
<td class="right">5</td>
</tr>
<tr><td class="right">6</td>
<td class="data center">{{data-1.00600-00100}}</td>
<td class="data right">{{data-1.00600-00200}}</td>
<td class="data right">{{NumberFormat data-1.00600-00300}}</td>
<td class="data right">{{data-1.00600-00400}}</td>
<td class="data right">{{data-1.00600-00500}}</td>
<td class="data right">{{NumberFormat data-1.00600-00600}}</td>
<td class="data right">{{data-1.00600-00700}}</td>
<td class="data right">{{data-1.00600-00800}}</td>
<td class="data right">{{data-1.00600-00900}}</td>
<td class="data right">{{data-1.00600-01000}}</td>
<td class="data right">{{data-1.00600-01100}}</td>
<td class="data right">{{NumberFormat data-1.00600-01200}}</td>
<td class="data right">{{NumberFormat data-1.00600-01300}}</td>
<td class="data right">{{NumberFormat data-1.00600-01400}}</td>
<td class="data right">{{NumberFormat data-1.00600-01500}}</td>
<td class="data right">{{data-1.00600-01600}}</td>
<td class="data right">{{data-1.00600-01700}}</td>
<td class="data right">{{data-1.00600-01800}}</td>
<td class="right">6</td>
</tr>
<tr><td class="right">7</td>
<td class="data center">{{data-1.00700-00100}}</td>
<td class="data right">{{data-1.00700-00200}}</td>
<td class="data right">{{NumberFormat data-1.00700-00300}}</td>
<td class="data right">{{data-1.00700-00400}}</td>
<td class="data right">{{data-1.00700-00500}}</td>
<td class="data right">{{NumberFormat data-1.00700-00600}}</td>
<td class="data right">{{data-1.00700-00700}}</td>
<td class="data right">{{data-1.00700-00800}}</td>
<td class="data right">{{data-1.00700-00900}}</td>
<td class="data right">{{data-1.00700-01000}}</td>
<td class="data right">{{data-1.00700-01100}}</td>
<td class="data right">{{NumberFormat data-1.00700-01200}}</td>
<td class="data right">{{NumberFormat data-1.00700-01300}}</td>
<td class="data right">{{NumberFormat data-1.00700-01400}}</td>
<td class="data right">{{NumberFormat data-1.00700-01500}}</td>
<td class="data right">{{data-1.00700-01600}}</td>
<td class="data right">{{data-1.00700-01700}}</td>
<td class="data right">{{data-1.00700-01800}}</td>
<td class="right">7</td>
</tr>
<tr><td class="right">8</td>
<td class="data center">{{data-1.00800-00100}}</td>
<td class="data right">{{data-1.00800-00200}}</td>
<td class="data right">{{NumberFormat data-1.00800-00300}}</td>
<td class="data right">{{data-1.00800-00400}}</td>
<td class="data right">{{data-1.00800-00500}}</td>
<td class="data right">{{NumberFormat data-1.00800-00600}}</td>
<td class="data right">{{data-1.00800-00700}}</td>
<td class="data right">{{data-1.00800-00800}}</td>
<td class="data right">{{data-1.00800-00900}}</td>
<td class="data right">{{data-1.00800-01000}}</td>
<td class="data right">{{data-1.00800-01100}}</td>
<td class="data right">{{NumberFormat data-1.00800-01200}}</td>
<td class="data right">{{NumberFormat data-1.00800-01300}}</td>
<td class="data right">{{NumberFormat data-1.00800-01400}}</td>
<td class="data right">{{NumberFormat data-1.00800-01500}}</td>
<td class="data right">{{data-1.00800-01600}}</td>
<td class="data right">{{data-1.00800-01700}}</td>
<td class="data right">{{data-1.00800-01800}}</td>
<td class="right">8</td>
</tr>
<tr><td class="right">9</td>
<td class="data center">{{data-1.00900-00100}}</td>
<td class="data right">{{data-1.00900-00200}}</td>
<td class="data right">{{NumberFormat data-1.00900-00300}}</td>
<td class="data right">{{data-1.00900-00400}}</td>
<td class="data right">{{data-1.00900-00500}}</td>
<td class="data right">{{NumberFormat data-1.00900-00600}}</td>
<td class="data right">{{data-1.00900-00700}}</td>
<td class="data right">{{data-1.00900-00800}}</td>
<td class="data right">{{data-1.00900-00900}}</td>
<td class="data right">{{data-1.00900-01000}}</td>
<td class="data right">{{data-1.00900-01100}}</td>
<td class="data right">{{NumberFormat data-1.00900-01200}}</td>
<td class="data right">{{NumberFormat data-1.00900-01300}}</td>
<td class="data right">{{NumberFormat data-1.00900-01400}}</td>
<td class="data right">{{NumberFormat data-1.00900-01500}}</td>
<td class="data right">{{data-1.00900-01600}}</td>
<td class="data right">{{data-1.00900-01700}}</td>
<td class="data right">{{data-1.00900-01800}}</td>
<td class="right">9</td>
</tr>
<tr><td class="right">10</td>
<td class="data center">{{data-1.01000-00100}}</td>
<td class="data right">{{data-1.01000-00200}}</td>
<td class="data right">{{NumberFormat data-1.01000-00300}}</td>
<td class="data right">{{data-1.01000-00400}}</td>
<td class="data right">{{data-1.01000-00500}}</td>
<td class="data right">{{NumberFormat data-1.01000-00600}}</td>
<td class="data right">{{data-1.01000-00700}}</td>
<td class="data right">{{data-1.01000-00800}}</td>
<td class="data right">{{data-1.01000-00900}}</td>
<td class="data right">{{data-1.01000-01000}}</td>
<td class="data right">{{data-1.01000-01100}}</td>
<td class="data right">{{NumberFormat data-1.01000-01200}}</td>
<td class="data right">{{NumberFormat data-1.01000-01300}}</td>
<td class="data right">{{NumberFormat data-1.01000-01400}}</td>
<td class="data right">{{NumberFormat data-1.01000-01500}}</td>
<td class="data right">{{data-1.01000-01600}}</td>
<td class="data right">{{data-1.01000-01700}}</td>
<td class="data right">{{data-1.01000-01800}}</td>
<td class="right">10</td>
</tr>
<tr><td class="right">11</td>
<td class="data center">{{data-1.01100-00100}}</td>
<td class="data right">{{data-1.01100-00200}}</td>
<td class="data right">{{NumberFormat data-1.01100-00300}}</td>
<td class="data right">{{data-1.01100-00400}}</td>
<td class="data right">{{data-1.01100-00500}}</td>
<td class="data right">{{NumberFormat data-1.01100-00600}}</td>
<td class="data right">{{data-1.01100-00700}}</td>
<td class="data right">{{data-1.01100-00800}}</td>
<td class="data right">{{data-1.01100-00900}}</td>
<td class="data right">{{data-1.01100-01000}}</td>
<td class="data right">{{data-1.01100-01100}}</td>
<td class="data right">{{NumberFormat data-1.01100-01200}}</td>
<td class="data right">{{NumberFormat data-1.01100-01300}}</td>
<td class="data right">{{NumberFormat data-1.01100-01400}}</td>
<td class="data right">{{NumberFormat data-1.01100-01500}}</td>
<td class="data right">{{data-1.01100-01600}}</td>
<td class="data right">{{data-1.01100-01700}}</td>
<td class="data right">{{data-1.01100-01800}}</td>
<td class="right">11</td>
</tr>
<tr><td class="right">100</td>
<td class="left fillgrey">&nbsp;</td>
<td class="left"> TOTAL</td>
<td class="data right">{{NumberFormat data-1.10000-00300}}</td>
<td class="data right">{{data-1.10000-00400}}</td>
<td class="data right">{{data-1.10000-00500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.10000-00600}}</td>
<td class="data right">{{data-1.10000-00700}}</td>
<td class="data right">{{data-1.10000-00800}}</td>
<td class="data right">{{data-1.10000-00900}}</td>
<td class="data left fillgrey">&nbsp;{{data-1.10000-01000}}</td>
<td class="left"> TOTAL</td>
<td class="data right">{{NumberFormat data-1.10000-01200}}</td>
<td class="data right">{{NumberFormat data-1.10000-01300}}</td>
<td class="data right">{{NumberFormat data-1.10000-01400}}</td>
<td class="data right">{{NumberFormat data-1.10000-01500}}</td>
<td class="data right">{{data-1.10000-01600}}</td>
<td class="data right">{{data-1.10000-01700}}</td>
<td class="data right">{{data-1.10000-01800}}</td>
<td class="right">100</td>
</tr>
<tr><td colspan="20">FORM CMS-2540-10 (05/2011)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4118)</td>
</tr>
<tr><td colspan="2">08-16</td>
<td colspan="16">&nbsp;</td>
<td colspan="2">Rev. 7</td>
</tr>
</tbody></table>
</div>