<div class="report"><table border="1" width="1400" cellpadding="1" cellspacing="1">
<colgroup><col width="2%">         <!-- n  -->
<col width="13%">         <!-- d  -->
<col width="3%">         <!-- 0  -->
<col width="4%">         <!-- 1  -->
<col width="5%">         <!-- 2  -->
<col width="4%">         <!-- 3  -->
<col width="6%">         <!-- 4a -->
<col width="6%">         <!-- 4  -->
<col width="5%">         <!-- 5  -->
<col width="4%">         <!-- 6  -->
<col width="4%">         <!-- 7  -->
<col width="4%">         <!-- 8  -->
<col width="6%">         <!-- 9  -->
<col width="5%">         <!-- 0  -->
<col width="6%">         <!-- 1  -->
<col width="4%">         <!-- 2  -->
<col width="4%">         <!-- 3  -->
<col width="5%">         <!-- 4  -->
<col width="4%">         <!-- 5  -->
<col width="4%">         <!-- 6  -->
<col width="5%">         <!-- 7  -->
<col width="4%">         <!-- 8  -->
<col width="2%">

</colgroup><thead><tr><td colspan="16"> COST  ALLOCATION  -  STATISTICAL  BASIS</td>
<td colspan="2">Provider CCN: <span class="data">{{pId}}</span></td>
<td colspan="2"><div>PERIOD:</div><div>FROM <span class="data">{{year.start}}</span></div><div>TO <span class="data">{{year.end}}</span></div></td>
<td colspan="3"> WORKSHEET  B - 1</td>
</tr>
</thead><tbody><tr><td colspan="2">                          Cost Center Description </td>
<td class="center">&nbsp;</td>
<td class="center"> Cap.  Rel.  Buildings &amp;  Fixtures (Sq. Feet) </td>
<td class="center"> Cap.  Rel.  Movable Equipment (Dollar Value or Sq. Feet) </td>
<td class="center"> Employee Benefits (Gross Salaries) </td>
<td class="center">   Reconciliation </td>
<td class="center">Administrative &amp;  General (Accumulated Cost) </td>
<td class="center">Plant  Oper. Maintenance &amp;  Repairs (Sq. Feet) </td>
<td class="center">Laundry &amp;  Linen Service (Pounds of Laundry) </td>
<td class="center"> House Keeping (Hours of Service) </td>
<td class="center">  Dietary (Meals Served) </td>
<td class="center">Nursing Administration (Direct Nursing  Hrs.) </td>
<td class="center">Central Services &amp;  Supply (Costed Requisitions) </td>
<td class="center">  Pharmacy (Costed Requisitions) </td>
<td class="center">Medical Records &amp;  Library (Time Spent) </td>
<td class="center"> Social Service (Time Spent) </td>
<td class="center">Nursing  &amp; Allied Health  Education (Assigned Time) </td>
<td class="center"> Other General Service  Cost </td>
<td class="center">    Subtotal </td>
<td class="center">  Post Step-down Adjustments </td>
<td class="center">    Total </td>
<td>&nbsp;</td>
</tr>
<tr><td colspan="2">&nbsp;</td>
<td class="center">0</td>
<td class="center">1</td>
<td class="center">2</td>
<td class="center">3</td>
<td class="center">4 A</td>
<td class="center">4</td>
<td class="center">5</td>
<td class="center">6</td>
<td class="center">7</td>
<td class="center">8</td>
<td class="center">9</td>
<td class="center">10</td>
<td class="center">11</td>
<td class="center">12</td>
<td class="center">13</td>
<td class="center">14</td>
<td class="center">15</td>
<td class="center">16</td>
<td class="center">17</td>
<td class="center">18</td>
<td>&nbsp;</td>
</tr>
<tr><td colspan="2"> GENERAL  SERVICE  COST  CENTERS</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
</tr>
<tr><td class="right">1</td>
<td> Capital-Related Costs - Buildings &amp; Fixtures</td>
<td class="data fillgrey">&nbsp;{{data-1.00100-00000}}</td>
<td class="data right">{{NumberFormat data-1.00100-00100}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00100-00200}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00100-00300}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00100-04A00}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00100-00400}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00100-00500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00100-00600}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00100-00700}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00100-00800}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00100-00900}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00100-01000}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00100-01100}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00100-01200}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00100-01300}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00100-01400}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00100-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00100-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00100-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00100-01800}}</td>
<td class="right">1</td>
</tr>
<tr><td class="right">2</td>
<td> Capital-Related Costs - Moveable Equipment</td>
<td class="data fillgrey">&nbsp;{{data-1.00200-00000}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00200-00100}}</td>
<td class="data right">{{NumberFormat data-1.00200-00200}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00200-00300}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00200-04A00}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00200-00400}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00200-00500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00200-00600}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00200-00700}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00200-00800}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00200-00900}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00200-01000}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00200-01100}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00200-01200}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00200-01300}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00200-01400}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00200-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00200-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00200-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00200-01800}}</td>
<td class="right">2</td>
</tr>
<tr><td class="right">3</td>
<td> Employee Benefits</td>
<td class="data fillgrey">&nbsp;{{data-1.00300-00000}}</td>
<td class="data right">{{NumberFormat data-1.00300-00100}}</td>
<td class="data right">{{NumberFormat data-1.00300-00200}}</td>
<td class="data right">{{NumberFormat data-1.00300-00300}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00300-04A00}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00300-00400}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00300-00500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00300-00600}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00300-00700}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00300-00800}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00300-00900}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00300-01000}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00300-01100}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00300-01200}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00300-01300}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00300-01400}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00300-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00300-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00300-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00300-01800}}</td>
<td class="right">3</td>
</tr>
<tr><td class="right">4</td>
<td> Administrative and General</td>
<td class="data fillgrey">&nbsp;{{data-1.00400-00000}}</td>
<td class="data right">{{NumberFormat data-1.00400-00100}}</td>
<td class="data right">{{NumberFormat data-1.00400-00200}}</td>
<td class="data right">{{NumberFormat data-1.00400-00300}}</td>
<td class="data right">{{NumberFormat data-1.00400-04A00}}</td>
<td class="data right">{{NumberFormat data-1.00400-00400}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00400-00500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00400-00600}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00400-00700}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00400-00800}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00400-00900}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00400-01000}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00400-01100}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00400-01200}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00400-01300}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00400-01400}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00400-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00400-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00400-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00400-01800}}</td>
<td class="right">4</td>
</tr>
<tr><td class="right">5</td>
<td> Plant Operation, Maintenance and Repairs</td>
<td class="data fillgrey">&nbsp;{{data-1.00500-00000}}</td>
<td class="data right">{{NumberFormat data-1.00500-00100}}</td>
<td class="data right">{{NumberFormat data-1.00500-00200}}</td>
<td class="data right">{{NumberFormat data-1.00500-00300}}</td>
<td class="data right">{{NumberFormat data-1.00500-04A00}}</td>
<td class="data right">{{NumberFormat data-1.00500-00400}}</td>
<td class="data right">{{NumberFormat data-1.00500-00500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00500-00600}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00500-00700}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00500-00800}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00500-00900}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00500-01000}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00500-01100}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00500-01200}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00500-01300}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00500-01400}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00500-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00500-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00500-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00500-01800}}</td>
<td class="right">5</td>
</tr>
<tr><td class="right">6</td>
<td> Laundry and Linen Service</td>
<td class="data fillgrey">&nbsp;{{data-1.00600-00000}}</td>
<td class="data right">{{NumberFormat data-1.00600-00100}}</td>
<td class="data right">{{NumberFormat data-1.00600-00200}}</td>
<td class="data right">{{NumberFormat data-1.00600-00300}}</td>
<td class="data right">{{NumberFormat data-1.00600-04A00}}</td>
<td class="data right">{{NumberFormat data-1.00600-00400}}</td>
<td class="data right">{{NumberFormat data-1.00600-00500}}</td>
<td class="data right">{{NumberFormat data-1.00600-00600}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00600-00700}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00600-00800}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00600-00900}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00600-01000}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00600-01100}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00600-01200}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00600-01300}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00600-01400}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00600-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00600-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00600-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00600-01800}}</td>
<td class="right">6</td>
</tr>
<tr><td class="right">7</td>
<td> Housekeeping</td>
<td class="data fillgrey">&nbsp;{{data-1.00700-00000}}</td>
<td class="data right">{{NumberFormat data-1.00700-00100}}</td>
<td class="data right">{{NumberFormat data-1.00700-00200}}</td>
<td class="data right">{{NumberFormat data-1.00700-00300}}</td>
<td class="data right">{{NumberFormat data-1.00700-04A00}}</td>
<td class="data right">{{NumberFormat data-1.00700-00400}}</td>
<td class="data right">{{NumberFormat data-1.00700-00500}}</td>
<td class="data right">{{NumberFormat data-1.00700-00600}}</td>
<td class="data right">{{data-1.00700-00700}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00700-00800}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00700-00900}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00700-01000}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00700-01100}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00700-01200}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00700-01300}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00700-01400}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00700-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00700-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00700-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00700-01800}}</td>
<td class="right">7</td>
</tr>
<tr><td class="right">8</td>
<td> Dietary</td>
<td class="data fillgrey">&nbsp;{{data-1.00800-00000}}</td>
<td class="data right">{{NumberFormat data-1.00800-00100}}</td>
<td class="data right">{{NumberFormat data-1.00800-00200}}</td>
<td class="data right">{{NumberFormat data-1.00800-00300}}</td>
<td class="data right">{{NumberFormat data-1.00800-04A00}}</td>
<td class="data right">{{NumberFormat data-1.00800-00400}}</td>
<td class="data right">{{NumberFormat data-1.00800-00500}}</td>
<td class="data right">{{NumberFormat data-1.00800-00600}}</td>
<td class="data right">{{data-1.00800-00700}}</td>
<td class="data right">{{data-1.00800-00800}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00800-00900}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00800-01000}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00800-01100}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00800-01200}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00800-01300}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00800-01400}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00800-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00800-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00800-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00800-01800}}</td>
<td class="right">8</td>
</tr>
<tr><td class="right">9</td>
<td> Nursing Administration</td>
<td class="data fillgrey">&nbsp;{{data-1.00900-00000}}</td>
<td class="data right">{{NumberFormat data-1.00900-00100}}</td>
<td class="data right">{{NumberFormat data-1.00900-00200}}</td>
<td class="data right">{{NumberFormat data-1.00900-00300}}</td>
<td class="data right">{{NumberFormat data-1.00900-04A00}}</td>
<td class="data right">{{NumberFormat data-1.00900-00400}}</td>
<td class="data right">{{NumberFormat data-1.00900-00500}}</td>
<td class="data right">{{NumberFormat data-1.00900-00600}}</td>
<td class="data right">{{data-1.00900-00700}}</td>
<td class="data right">{{data-1.00900-00800}}</td>
<td class="data right">{{data-1.00900-00900}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00900-01000}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00900-01100}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00900-01200}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00900-01300}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00900-01400}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00900-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00900-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00900-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00900-01800}}</td>
<td class="right">9</td>
</tr>
<tr><td class="right">10</td>
<td> Central Services and Supply</td>
<td class="data fillgrey">&nbsp;{{data-1.01000-00000}}</td>
<td class="data right">{{NumberFormat data-1.01000-00100}}</td>
<td class="data right">{{NumberFormat data-1.01000-00200}}</td>
<td class="data right">{{NumberFormat data-1.01000-00300}}</td>
<td class="data right">{{NumberFormat data-1.01000-04A00}}</td>
<td class="data right">{{NumberFormat data-1.01000-00400}}</td>
<td class="data right">{{NumberFormat data-1.01000-00500}}</td>
<td class="data right">{{NumberFormat data-1.01000-00600}}</td>
<td class="data right">{{data-1.01000-00700}}</td>
<td class="data right">{{data-1.01000-00800}}</td>
<td class="data right">{{data-1.01000-00900}}</td>
<td class="data right">{{NumberFormat data-1.01000-01000}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.01000-01100}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.01000-01200}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.01000-01300}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.01000-01400}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.01000-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.01000-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.01000-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.01000-01800}}</td>
<td class="right">10</td>
</tr>
<tr><td class="right">11</td>
<td> Pharmacy</td>
<td class="data fillgrey">&nbsp;{{data-1.01100-00000}}</td>
<td class="data right">{{NumberFormat data-1.01100-00100}}</td>
<td class="data right">{{NumberFormat data-1.01100-00200}}</td>
<td class="data right">{{NumberFormat data-1.01100-00300}}</td>
<td class="data right">{{NumberFormat data-1.01100-04A00}}</td>
<td class="data right">{{NumberFormat data-1.01100-00400}}</td>
<td class="data right">{{NumberFormat data-1.01100-00500}}</td>
<td class="data right">{{NumberFormat data-1.01100-00600}}</td>
<td class="data right">{{data-1.01100-00700}}</td>
<td class="data right">{{data-1.01100-00800}}</td>
<td class="data right">{{data-1.01100-00900}}</td>
<td class="data right">{{NumberFormat data-1.01100-01000}}</td>
<td class="data right">{{NumberFormat data-1.01100-01100}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.01100-01200}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.01100-01300}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.01100-01400}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.01100-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.01100-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.01100-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.01100-01800}}</td>
<td class="right">11</td>
</tr>
<tr><td class="right">12</td>
<td> Medical Records and Library</td>
<td class="data fillgrey">&nbsp;{{data-1.01200-00000}}</td>
<td class="data right">{{NumberFormat data-1.01200-00100}}</td>
<td class="data right">{{NumberFormat data-1.01200-00200}}</td>
<td class="data right">{{NumberFormat data-1.01200-00300}}</td>
<td class="data right">{{NumberFormat data-1.01200-04A00}}</td>
<td class="data right">{{NumberFormat data-1.01200-00400}}</td>
<td class="data right">{{NumberFormat data-1.01200-00500}}</td>
<td class="data right">{{NumberFormat data-1.01200-00600}}</td>
<td class="data right">{{data-1.01200-00700}}</td>
<td class="data right">{{data-1.01200-00800}}</td>
<td class="data right">{{data-1.01200-00900}}</td>
<td class="data right">{{NumberFormat data-1.01200-01000}}</td>
<td class="data right">{{NumberFormat data-1.01200-01100}}</td>
<td class="data right">{{data-1.01200-01200}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.01200-01300}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.01200-01400}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.01200-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.01200-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.01200-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.01200-01800}}</td>
<td class="right">12</td>
</tr>
<tr><td class="right">13</td>
<td> Social Service</td>
<td class="data fillgrey">&nbsp;{{data-1.01300-00000}}</td>
<td class="data right">{{NumberFormat data-1.01300-00100}}</td>
<td class="data right">{{NumberFormat data-1.01300-00200}}</td>
<td class="data right">{{NumberFormat data-1.01300-00300}}</td>
<td class="data right">{{NumberFormat data-1.01300-04A00}}</td>
<td class="data right">{{NumberFormat data-1.01300-00400}}</td>
<td class="data right">{{NumberFormat data-1.01300-00500}}</td>
<td class="data right">{{NumberFormat data-1.01300-00600}}</td>
<td class="data right">{{data-1.01300-00700}}</td>
<td class="data right">{{data-1.01300-00800}}</td>
<td class="data right">{{data-1.01300-00900}}</td>
<td class="data right">{{NumberFormat data-1.01300-01000}}</td>
<td class="data right">{{NumberFormat data-1.01300-01100}}</td>
<td class="data right">{{data-1.01300-01200}}</td>
<td class="data right">{{data-1.01300-01300}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.01300-01400}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.01300-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.01300-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.01300-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.01300-01800}}</td>
<td class="right">13</td>
</tr>
<tr><td class="right">14</td>
<td> Nursing and Allied Health Education</td>
<td class="data fillgrey">&nbsp;{{data-1.01400-00000}}</td>
<td class="data right">{{NumberFormat data-1.01400-00100}}</td>
<td class="data right">{{NumberFormat data-1.01400-00200}}</td>
<td class="data right">{{NumberFormat data-1.01400-00300}}</td>
<td class="data right">{{NumberFormat data-1.01400-04A00}}</td>
<td class="data right">{{NumberFormat data-1.01400-00400}}</td>
<td class="data right">{{NumberFormat data-1.01400-00500}}</td>
<td class="data right">{{NumberFormat data-1.01400-00600}}</td>
<td class="data right">{{data-1.01400-00700}}</td>
<td class="data right">{{data-1.01400-00800}}</td>
<td class="data right">{{data-1.01400-00900}}</td>
<td class="data right">{{NumberFormat data-1.01400-01000}}</td>
<td class="data right">{{NumberFormat data-1.01400-01100}}</td>
<td class="data right">{{data-1.01400-01200}}</td>
<td class="data right">{{data-1.01400-01300}}</td>
<td class="data right">{{data-1.01400-01400}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.01400-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.01400-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.01400-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.01400-01800}}</td>
<td class="right">14</td>
</tr>
<tr><td class="right">15</td>
<td> Other General Service Cost </td>
<td class="data fillgrey">&nbsp;{{data-1.01500-00000}}</td>
<td class="data right">{{NumberFormat data-1.01500-00100}}</td>
<td class="data right">{{NumberFormat data-1.01500-00200}}</td>
<td class="data right">{{NumberFormat data-1.01500-00300}}</td>
<td class="data right">{{NumberFormat data-1.01500-04A00}}</td>
<td class="data right">{{NumberFormat data-1.01500-00400}}</td>
<td class="data right">{{NumberFormat data-1.01500-00500}}</td>
<td class="data right">{{NumberFormat data-1.01500-00600}}</td>
<td class="data right">{{data-1.01500-00700}}</td>
<td class="data right">{{data-1.01500-00800}}</td>
<td class="data right">{{data-1.01500-00900}}</td>
<td class="data right">{{NumberFormat data-1.01500-01000}}</td>
<td class="data right">{{NumberFormat data-1.01500-01100}}</td>
<td class="data right">{{data-1.01500-01200}}</td>
<td class="data right">{{data-1.01500-01300}}</td>
<td class="data right">{{data-1.01500-01400}}</td>
<td class="data right">{{NumberFormat data-1.01500-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.01500-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.01500-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.01500-01800}}</td>
<td class="right">15</td>
</tr>
<tr><td colspan="2"> INPATIENT  ROUTINE  SERVICE  COST  CENTERS</td>
<td class="fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
</tr>
<tr><td class="right">30</td>
<td> Skilled Nursing Facility</td>
<td class="data fillgrey">&nbsp;{{data-1.03000-00000}}</td>
<td class="data right">{{NumberFormat data-1.03000-00100}}</td>
<td class="data right">{{NumberFormat data-1.03000-00200}}</td>
<td class="data right">{{NumberFormat data-1.03000-00300}}</td>
<td class="data right">{{NumberFormat data-1.03000-04A00}}</td>
<td class="data right">{{NumberFormat data-1.03000-00400}}</td>
<td class="data right">{{NumberFormat data-1.03000-00500}}</td>
<td class="data right">{{NumberFormat data-1.03000-00600}}</td>
<td class="data right">{{data-1.03000-00700}}</td>
<td class="data right">{{data-1.03000-00800}}</td>
<td class="data right">{{data-1.03000-00900}}</td>
<td class="data right">{{NumberFormat data-1.03000-01000}}</td>
<td class="data right">{{NumberFormat data-1.03000-01100}}</td>
<td class="data right">{{data-1.03000-01200}}</td>
<td class="data right">{{data-1.03000-01300}}</td>
<td class="data right">{{data-1.03000-01400}}</td>
<td class="data right">{{NumberFormat data-1.03000-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.03000-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.03000-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.03000-01800}}</td>
<td class="right">30</td>
</tr>
<tr><td class="right">31</td>
<td> Nursing Facility</td>
<td class="data fillgrey">&nbsp;{{data-1.03100-00000}}</td>
<td class="data right">{{NumberFormat data-1.03100-00100}}</td>
<td class="data right">{{NumberFormat data-1.03100-00200}}</td>
<td class="data right">{{NumberFormat data-1.03100-00300}}</td>
<td class="data right">{{NumberFormat data-1.03100-04A00}}</td>
<td class="data right">{{NumberFormat data-1.03100-00400}}</td>
<td class="data right">{{NumberFormat data-1.03100-00500}}</td>
<td class="data right">{{NumberFormat data-1.03100-00600}}</td>
<td class="data right">{{data-1.03100-00700}}</td>
<td class="data right">{{data-1.03100-00800}}</td>
<td class="data right">{{data-1.03100-00900}}</td>
<td class="data right">{{NumberFormat data-1.03100-01000}}</td>
<td class="data right">{{NumberFormat data-1.03100-01100}}</td>
<td class="data right">{{data-1.03100-01200}}</td>
<td class="data right">{{data-1.03100-01300}}</td>
<td class="data right">{{data-1.03100-01400}}</td>
<td class="data right">{{NumberFormat data-1.03100-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.03100-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.03100-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.03100-01800}}</td>
<td class="right">31</td>
</tr>
<tr><td class="right">32</td>
<td> ICF/IID</td>
<td class="data fillgrey">&nbsp;{{data-1.03200-00000}}</td>
<td class="data right">{{NumberFormat data-1.03200-00100}}</td>
<td class="data right">{{NumberFormat data-1.03200-00200}}</td>
<td class="data right">{{NumberFormat data-1.03200-00300}}</td>
<td class="data right">{{NumberFormat data-1.03200-04A00}}</td>
<td class="data right">{{NumberFormat data-1.03200-00400}}</td>
<td class="data right">{{NumberFormat data-1.03200-00500}}</td>
<td class="data right">{{NumberFormat data-1.03200-00600}}</td>
<td class="data right">{{data-1.03200-00700}}</td>
<td class="data right">{{data-1.03200-00800}}</td>
<td class="data right">{{data-1.03200-00900}}</td>
<td class="data right">{{NumberFormat data-1.03200-01000}}</td>
<td class="data right">{{NumberFormat data-1.03200-01100}}</td>
<td class="data right">{{data-1.03200-01200}}</td>
<td class="data right">{{data-1.03200-01300}}</td>
<td class="data right">{{data-1.03200-01400}}</td>
<td class="data right">{{NumberFormat data-1.03200-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.03200-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.03200-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.03200-01800}}</td>
<td class="right">32</td>
</tr>
<tr><td class="right">33</td>
<td> Other Long Term Care</td>
<td class="data fillgrey">&nbsp;{{data-1.03300-00000}}</td>
<td class="data right">{{NumberFormat data-1.03300-00100}}</td>
<td class="data right">{{NumberFormat data-1.03300-00200}}</td>
<td class="data right">{{NumberFormat data-1.03300-00300}}</td>
<td class="data right">{{NumberFormat data-1.03300-04A00}}</td>
<td class="data right">{{NumberFormat data-1.03300-00400}}</td>
<td class="data right">{{NumberFormat data-1.03300-00500}}</td>
<td class="data right">{{NumberFormat data-1.03300-00600}}</td>
<td class="data right">{{data-1.03300-00700}}</td>
<td class="data right">{{data-1.03300-00800}}</td>
<td class="data right">{{data-1.03300-00900}}</td>
<td class="data right">{{NumberFormat data-1.03300-01000}}</td>
<td class="data right">{{NumberFormat data-1.03300-01100}}</td>
<td class="data right">{{data-1.03300-01200}}</td>
<td class="data right">{{data-1.03300-01300}}</td>
<td class="data right">{{data-1.03300-01400}}</td>
<td class="data right">{{NumberFormat data-1.03300-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.03300-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.03300-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.03300-01800}}</td>
<td class="right">33</td>
</tr>
<tr><td colspan="2"> ANCILLARY  SERVICE COST  CENTERS</td>
<td class="fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
</tr>
<tr><td class="right">40</td>
<td> Radiology</td>
<td class="data fillgrey">&nbsp;{{data-1.04000-00000}}</td>
<td class="data right">{{NumberFormat data-1.04000-00100}}</td>
<td class="data right">{{NumberFormat data-1.04000-00200}}</td>
<td class="data right">{{NumberFormat data-1.04000-00300}}</td>
<td class="data right">{{NumberFormat data-1.04000-04A00}}</td>
<td class="data right">{{NumberFormat data-1.04000-00400}}</td>
<td class="data right">{{NumberFormat data-1.04000-00500}}</td>
<td class="data right">{{NumberFormat data-1.04000-00600}}</td>
<td class="data right">{{data-1.04000-00700}}</td>
<td class="data right">{{data-1.04000-00800}}</td>
<td class="data right">{{data-1.04000-00900}}</td>
<td class="data right">{{NumberFormat data-1.04000-01000}}</td>
<td class="data right">{{NumberFormat data-1.04000-01100}}</td>
<td class="data right">{{data-1.04000-01200}}</td>
<td class="data right">{{data-1.04000-01300}}</td>
<td class="data right">{{data-1.04000-01400}}</td>
<td class="data right">{{NumberFormat data-1.04000-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.04000-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.04000-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.04000-01800}}</td>
<td class="right">40</td>
</tr>
<tr><td class="right">41</td>
<td> Laboratory</td>
<td class="data fillgrey">&nbsp;{{data-1.04100-00000}}</td>
<td class="data right">{{NumberFormat data-1.04100-00100}}</td>
<td class="data right">{{NumberFormat data-1.04100-00200}}</td>
<td class="data right">{{NumberFormat data-1.04100-00300}}</td>
<td class="data right">{{NumberFormat data-1.04100-04A00}}</td>
<td class="data right">{{NumberFormat data-1.04100-00400}}</td>
<td class="data right">{{NumberFormat data-1.04100-00500}}</td>
<td class="data right">{{NumberFormat data-1.04100-00600}}</td>
<td class="data right">{{data-1.04100-00700}}</td>
<td class="data right">{{data-1.04100-00800}}</td>
<td class="data right">{{data-1.04100-00900}}</td>
<td class="data right">{{NumberFormat data-1.04100-01000}}</td>
<td class="data right">{{NumberFormat data-1.04100-01100}}</td>
<td class="data right">{{data-1.04100-01200}}</td>
<td class="data right">{{data-1.04100-01300}}</td>
<td class="data right">{{data-1.04100-01400}}</td>
<td class="data right">{{NumberFormat data-1.04100-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.04100-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.04100-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.04100-01800}}</td>
<td class="right">41</td>
</tr>
<tr><td class="right">42</td>
<td> Intravenous Therapy</td>
<td class="data fillgrey">&nbsp;{{data-1.04200-00000}}</td>
<td class="data right">{{NumberFormat data-1.04200-00100}}</td>
<td class="data right">{{NumberFormat data-1.04200-00200}}</td>
<td class="data right">{{NumberFormat data-1.04200-00300}}</td>
<td class="data right">{{NumberFormat data-1.04200-04A00}}</td>
<td class="data right">{{NumberFormat data-1.04200-00400}}</td>
<td class="data right">{{NumberFormat data-1.04200-00500}}</td>
<td class="data right">{{NumberFormat data-1.04200-00600}}</td>
<td class="data right">{{data-1.04200-00700}}</td>
<td class="data right">{{data-1.04200-00800}}</td>
<td class="data right">{{data-1.04200-00900}}</td>
<td class="data right">{{NumberFormat data-1.04200-01000}}</td>
<td class="data right">{{NumberFormat data-1.04200-01100}}</td>
<td class="data right">{{data-1.04200-01200}}</td>
<td class="data right">{{data-1.04200-01300}}</td>
<td class="data right">{{data-1.04200-01400}}</td>
<td class="data right">{{NumberFormat data-1.04200-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.04200-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.04200-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.04200-01800}}</td>
<td class="right">42</td>
</tr>
<tr><td class="right">43</td>
<td> Oxygen (Inhalation) Therapy</td>
<td class="data fillgrey">&nbsp;{{data-1.04300-00000}}</td>
<td class="data right">{{NumberFormat data-1.04300-00100}}</td>
<td class="data right">{{NumberFormat data-1.04300-00200}}</td>
<td class="data right">{{NumberFormat data-1.04300-00300}}</td>
<td class="data right">{{NumberFormat data-1.04300-04A00}}</td>
<td class="data right">{{NumberFormat data-1.04300-00400}}</td>
<td class="data right">{{NumberFormat data-1.04300-00500}}</td>
<td class="data right">{{NumberFormat data-1.04300-00600}}</td>
<td class="data right">{{data-1.04300-00700}}</td>
<td class="data right">{{data-1.04300-00800}}</td>
<td class="data right">{{data-1.04300-00900}}</td>
<td class="data right">{{NumberFormat data-1.04300-01000}}</td>
<td class="data right">{{NumberFormat data-1.04300-01100}}</td>
<td class="data right">{{data-1.04300-01200}}</td>
<td class="data right">{{data-1.04300-01300}}</td>
<td class="data right">{{data-1.04300-01400}}</td>
<td class="data right">{{NumberFormat data-1.04300-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.04300-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.04300-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.04300-01800}}</td>
<td class="right">43</td>
</tr>
<tr><td class="right">44</td>
<td> Physical Therapy</td>
<td class="data fillgrey">&nbsp;{{data-1.04400-00000}}</td>
<td class="data right">{{NumberFormat data-1.04400-00100}}</td>
<td class="data right">{{NumberFormat data-1.04400-00200}}</td>
<td class="data right">{{NumberFormat data-1.04400-00300}}</td>
<td class="data right">{{NumberFormat data-1.04400-04A00}}</td>
<td class="data right">{{NumberFormat data-1.04400-00400}}</td>
<td class="data right">{{NumberFormat data-1.04400-00500}}</td>
<td class="data right">{{NumberFormat data-1.04400-00600}}</td>
<td class="data right">{{data-1.04400-00700}}</td>
<td class="data right">{{data-1.04400-00800}}</td>
<td class="data right">{{data-1.04400-00900}}</td>
<td class="data right">{{NumberFormat data-1.04400-01000}}</td>
<td class="data right">{{NumberFormat data-1.04400-01100}}</td>
<td class="data right">{{data-1.04400-01200}}</td>
<td class="data right">{{data-1.04400-01300}}</td>
<td class="data right">{{data-1.04400-01400}}</td>
<td class="data right">{{NumberFormat data-1.04400-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.04400-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.04400-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.04400-01800}}</td>
<td class="right">44</td>
</tr>
<tr><td class="right">45</td>
<td> Occupational Therapy</td>
<td class="data fillgrey">&nbsp;{{data-1.04500-00000}}</td>
<td class="data right">{{NumberFormat data-1.04500-00100}}</td>
<td class="data right">{{NumberFormat data-1.04500-00200}}</td>
<td class="data right">{{NumberFormat data-1.04500-00300}}</td>
<td class="data right">{{NumberFormat data-1.04500-04A00}}</td>
<td class="data right">{{NumberFormat data-1.04500-00400}}</td>
<td class="data right">{{NumberFormat data-1.04500-00500}}</td>
<td class="data right">{{NumberFormat data-1.04500-00600}}</td>
<td class="data right">{{data-1.04500-00700}}</td>
<td class="data right">{{data-1.04500-00800}}</td>
<td class="data right">{{data-1.04500-00900}}</td>
<td class="data right">{{NumberFormat data-1.04500-01000}}</td>
<td class="data right">{{NumberFormat data-1.04500-01100}}</td>
<td class="data right">{{data-1.04500-01200}}</td>
<td class="data right">{{data-1.04500-01300}}</td>
<td class="data right">{{data-1.04500-01400}}</td>
<td class="data right">{{NumberFormat data-1.04500-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.04500-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.04500-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.04500-01800}}</td>
<td class="right">45</td>
</tr>
<tr><td class="right">46</td>
<td> Speech Pathology</td>
<td class="data fillgrey">&nbsp;{{data-1.04600-00000}}</td>
<td class="data right">{{NumberFormat data-1.04600-00100}}</td>
<td class="data right">{{NumberFormat data-1.04600-00200}}</td>
<td class="data right">{{NumberFormat data-1.04600-00300}}</td>
<td class="data right">{{NumberFormat data-1.04600-04A00}}</td>
<td class="data right">{{NumberFormat data-1.04600-00400}}</td>
<td class="data right">{{NumberFormat data-1.04600-00500}}</td>
<td class="data right">{{NumberFormat data-1.04600-00600}}</td>
<td class="data right">{{data-1.04600-00700}}</td>
<td class="data right">{{data-1.04600-00800}}</td>
<td class="data right">{{data-1.04600-00900}}</td>
<td class="data right">{{NumberFormat data-1.04600-01000}}</td>
<td class="data right">{{NumberFormat data-1.04600-01100}}</td>
<td class="data right">{{data-1.04600-01200}}</td>
<td class="data right">{{data-1.04600-01300}}</td>
<td class="data right">{{data-1.04600-01400}}</td>
<td class="data right">{{NumberFormat data-1.04600-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.04600-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.04600-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.04600-01800}}</td>
<td class="right">46</td>
</tr>
<tr><td class="right">47</td>
<td> Electrocardiology</td>
<td class="data fillgrey">&nbsp;{{data-1.04700-00000}}</td>
<td class="data right">{{NumberFormat data-1.04700-00100}}</td>
<td class="data right">{{NumberFormat data-1.04700-00200}}</td>
<td class="data right">{{NumberFormat data-1.04700-00300}}</td>
<td class="data right">{{NumberFormat data-1.04700-04A00}}</td>
<td class="data right">{{NumberFormat data-1.04700-00400}}</td>
<td class="data right">{{NumberFormat data-1.04700-00500}}</td>
<td class="data right">{{NumberFormat data-1.04700-00600}}</td>
<td class="data right">{{data-1.04700-00700}}</td>
<td class="data right">{{data-1.04700-00800}}</td>
<td class="data right">{{data-1.04700-00900}}</td>
<td class="data right">{{NumberFormat data-1.04700-01000}}</td>
<td class="data right">{{NumberFormat data-1.04700-01100}}</td>
<td class="data right">{{data-1.04700-01200}}</td>
<td class="data right">{{data-1.04700-01300}}</td>
<td class="data right">{{data-1.04700-01400}}</td>
<td class="data right">{{NumberFormat data-1.04700-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.04700-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.04700-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.04700-01800}}</td>
<td class="right">47</td>
</tr>
<tr><td class="right">48</td>
<td> Medical Supplies Charged to Patients</td>
<td class="data fillgrey">&nbsp;{{data-1.04800-00000}}</td>
<td class="data right">{{NumberFormat data-1.04800-00100}}</td>
<td class="data right">{{NumberFormat data-1.04800-00200}}</td>
<td class="data right">{{NumberFormat data-1.04800-00300}}</td>
<td class="data right">{{NumberFormat data-1.04800-04A00}}</td>
<td class="data right">{{NumberFormat data-1.04800-00400}}</td>
<td class="data right">{{NumberFormat data-1.04800-00500}}</td>
<td class="data right">{{NumberFormat data-1.04800-00600}}</td>
<td class="data right">{{data-1.04800-00700}}</td>
<td class="data right">{{data-1.04800-00800}}</td>
<td class="data right">{{data-1.04800-00900}}</td>
<td class="data right">{{NumberFormat data-1.04800-01000}}</td>
<td class="data right">{{NumberFormat data-1.04800-01100}}</td>
<td class="data right">{{data-1.04800-01200}}</td>
<td class="data right">{{data-1.04800-01300}}</td>
<td class="data right">{{data-1.04800-01400}}</td>
<td class="data right">{{NumberFormat data-1.04800-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.04800-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.04800-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.04800-01800}}</td>
<td class="right">48</td>
</tr>
<tr><td class="right">49</td>
<td> Drugs Charged to Patients</td>
<td class="data fillgrey">&nbsp;{{data-1.04900-00000}}</td>
<td class="data right">{{NumberFormat data-1.04900-00100}}</td>
<td class="data right">{{NumberFormat data-1.04900-00200}}</td>
<td class="data right">{{NumberFormat data-1.04900-00300}}</td>
<td class="data right">{{NumberFormat data-1.04900-04A00}}</td>
<td class="data right">{{NumberFormat data-1.04900-00400}}</td>
<td class="data right">{{NumberFormat data-1.04900-00500}}</td>
<td class="data right">{{NumberFormat data-1.04900-00600}}</td>
<td class="data right">{{data-1.04900-00700}}</td>
<td class="data right">{{data-1.04900-00800}}</td>
<td class="data right">{{data-1.04900-00900}}</td>
<td class="data right">{{NumberFormat data-1.04900-01000}}</td>
<td class="data right">{{NumberFormat data-1.04900-01100}}</td>
<td class="data right">{{data-1.04900-01200}}</td>
<td class="data right">{{data-1.04900-01300}}</td>
<td class="data right">{{data-1.04900-01400}}</td>
<td class="data right">{{NumberFormat data-1.04900-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.04900-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.04900-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.04900-01800}}</td>
<td class="right">49</td>
</tr>
<tr><td class="right">50</td>
<td> Dental Care - Title XIX only</td>
<td class="data fillgrey">&nbsp;{{data-1.05000-00000}}</td>
<td class="data right">{{NumberFormat data-1.05000-00100}}</td>
<td class="data right">{{NumberFormat data-1.05000-00200}}</td>
<td class="data right">{{NumberFormat data-1.05000-00300}}</td>
<td class="data right">{{NumberFormat data-1.05000-04A00}}</td>
<td class="data right">{{NumberFormat data-1.05000-00400}}</td>
<td class="data right">{{NumberFormat data-1.05000-00500}}</td>
<td class="data right">{{NumberFormat data-1.05000-00600}}</td>
<td class="data right">{{data-1.05000-00700}}</td>
<td class="data right">{{data-1.05000-00800}}</td>
<td class="data right">{{data-1.05000-00900}}</td>
<td class="data right">{{NumberFormat data-1.05000-01000}}</td>
<td class="data right">{{NumberFormat data-1.05000-01100}}</td>
<td class="data right">{{data-1.05000-01200}}</td>
<td class="data right">{{data-1.05000-01300}}</td>
<td class="data right">{{data-1.05000-01400}}</td>
<td class="data right">{{NumberFormat data-1.05000-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.05000-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.05000-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.05000-01800}}</td>
<td class="right">50</td>
</tr>
<tr><td class="right">51</td>
<td> Support Surfaces</td>
<td class="data fillgrey">&nbsp;{{data-1.05100-00000}}</td>
<td class="data right">{{NumberFormat data-1.05100-00100}}</td>
<td class="data right">{{NumberFormat data-1.05100-00200}}</td>
<td class="data right">{{NumberFormat data-1.05100-00300}}</td>
<td class="data right">{{NumberFormat data-1.05100-04A00}}</td>
<td class="data right">{{NumberFormat data-1.05100-00400}}</td>
<td class="data right">{{NumberFormat data-1.05100-00500}}</td>
<td class="data right">{{NumberFormat data-1.05100-00600}}</td>
<td class="data right">{{data-1.05100-00700}}</td>
<td class="data right">{{data-1.05100-00800}}</td>
<td class="data right">{{data-1.05100-00900}}</td>
<td class="data right">{{NumberFormat data-1.05100-01000}}</td>
<td class="data right">{{NumberFormat data-1.05100-01100}}</td>
<td class="data right">{{data-1.05100-01200}}</td>
<td class="data right">{{data-1.05100-01300}}</td>
<td class="data right">{{data-1.05100-01400}}</td>
<td class="data right">{{NumberFormat data-1.05100-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.05100-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.05100-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.05100-01800}}</td>
<td class="right">51</td>
</tr>
<tr><td class="right">52</td>
<td> Other Ancillary Service Cost</td>
<td class="data fillgrey">&nbsp;{{data-1.05200-00000}}</td>
<td class="data right">{{NumberFormat data-1.05200-00100}}</td>
<td class="data right">{{NumberFormat data-1.05200-00200}}</td>
<td class="data right">{{NumberFormat data-1.05200-00300}}</td>
<td class="data right">{{NumberFormat data-1.05200-04A00}}</td>
<td class="data right">{{NumberFormat data-1.05200-00400}}</td>
<td class="data right">{{NumberFormat data-1.05200-00500}}</td>
<td class="data right">{{NumberFormat data-1.05200-00600}}</td>
<td class="data right">{{data-1.05200-00700}}</td>
<td class="data right">{{data-1.05200-00800}}</td>
<td class="data right">{{data-1.05200-00900}}</td>
<td class="data right">{{NumberFormat data-1.05200-01000}}</td>
<td class="data right">{{NumberFormat data-1.05200-01100}}</td>
<td class="data right">{{data-1.05200-01200}}</td>
<td class="data right">{{data-1.05200-01300}}</td>
<td class="data right">{{data-1.05200-01400}}</td>
<td class="data right">{{NumberFormat data-1.05200-01500}}</td>
<td class="data right">{{NumberFormat data-1.05200-01600}}</td>
<td class="data right">{{NumberFormat data-1.05200-01700}}</td>
<td class="data right">{{NumberFormat data-1.05200-01800}}</td>
<td class="right">52</td>
</tr>
<tr><td colspan="2"> OUTPATIENT  SERVICE  COST  CENTERS</td>
<td class="fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
</tr>
<tr><td class="right">60</td>
<td> Clinic</td>
<td class="data fillgrey">&nbsp;{{data-1.06000-00000}}</td>
<td class="data right">{{NumberFormat data-1.06000-00100}}</td>
<td class="data right">{{NumberFormat data-1.06000-00200}}</td>
<td class="data right">{{NumberFormat data-1.06000-00300}}</td>
<td class="data right">{{NumberFormat data-1.06000-04A00}}</td>
<td class="data right">{{NumberFormat data-1.06000-00400}}</td>
<td class="data right">{{NumberFormat data-1.06000-00500}}</td>
<td class="data right">{{NumberFormat data-1.06000-00600}}</td>
<td class="data right">{{data-1.06000-00700}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.06000-00800}}</td>
<td class="data right">{{data-1.06000-00900}}</td>
<td class="data right">{{NumberFormat data-1.06000-01000}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.06000-01100}}</td>
<td class="data right">{{data-1.06000-01200}}</td>
<td class="data right">{{data-1.06000-01300}}</td>
<td class="data right">{{data-1.06000-01400}}</td>
<td class="data right">{{NumberFormat data-1.06000-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.06000-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.06000-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.06000-01800}}</td>
<td class="right">60</td>
</tr>
<tr><td class="right">61</td>
<td> Rural Health Clinic (RHC)</td>
<td class="data fillgrey">&nbsp;{{data-1.06100-00000}}</td>
<td class="data right">{{NumberFormat data-1.06100-00100}}</td>
<td class="data right">{{NumberFormat data-1.06100-00200}}</td>
<td class="data right">{{NumberFormat data-1.06100-00300}}</td>
<td class="data right">{{NumberFormat data-1.06100-04A00}}</td>
<td class="data right">{{NumberFormat data-1.06100-00400}}</td>
<td class="data right">{{NumberFormat data-1.06100-00500}}</td>
<td class="data right">{{NumberFormat data-1.06100-00600}}</td>
<td class="data right">{{data-1.06100-00700}}</td>
<td class="data right">{{data-1.06100-00800}}</td>
<td class="data right">{{data-1.06100-00900}}</td>
<td class="data right">{{NumberFormat data-1.06100-01000}}</td>
<td class="data right">{{NumberFormat data-1.06100-01100}}</td>
<td class="data right">{{data-1.06100-01200}}</td>
<td class="data right">{{data-1.06100-01300}}</td>
<td class="data right">{{data-1.06100-01400}}</td>
<td class="data right">{{NumberFormat data-1.06100-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.06100-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.06100-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.06100-01800}}</td>
<td class="right">61</td>
</tr>
<tr><td class="right">62</td>
<td> FQHC</td>
<td class="data fillgrey">&nbsp;{{data-1.06200-00000}}</td>
<td class="data right">{{NumberFormat data-1.06200-00100}}</td>
<td class="data right">{{NumberFormat data-1.06200-00200}}</td>
<td class="data right">{{NumberFormat data-1.06200-00300}}</td>
<td class="data right">{{NumberFormat data-1.06200-04A00}}</td>
<td class="data right">{{NumberFormat data-1.06200-00400}}</td>
<td class="data right">{{NumberFormat data-1.06200-00500}}</td>
<td class="data right">{{NumberFormat data-1.06200-00600}}</td>
<td class="data right">{{data-1.06200-00700}}</td>
<td class="data right">{{data-1.06200-00800}}</td>
<td class="data right">{{data-1.06200-00900}}</td>
<td class="data right">{{NumberFormat data-1.06200-01000}}</td>
<td class="data right">{{NumberFormat data-1.06200-01100}}</td>
<td class="data right">{{data-1.06200-01200}}</td>
<td class="data right">{{data-1.06200-01300}}</td>
<td class="data right">{{data-1.06200-01400}}</td>
<td class="data right">{{NumberFormat data-1.06200-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.06200-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.06200-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.06200-01800}}</td>
<td class="right">62</td>
</tr>
<tr><td class="right">63</td>
<td> Other Outpatient Service Cost</td>
<td class="data fillgrey">&nbsp;{{data-1.06300-00000}}</td>
<td class="data right">{{NumberFormat data-1.06300-00100}}</td>
<td class="data right">{{NumberFormat data-1.06300-00200}}</td>
<td class="data right">{{NumberFormat data-1.06300-00300}}</td>
<td class="data right">{{NumberFormat data-1.06300-04A00}}</td>
<td class="data right">{{NumberFormat data-1.06300-00400}}</td>
<td class="data right">{{NumberFormat data-1.06300-00500}}</td>
<td class="data right">{{NumberFormat data-1.06300-00600}}</td>
<td class="data right">{{data-1.06300-00700}}</td>
<td class="data right">{{data-1.06300-00800}}</td>
<td class="data right">{{data-1.06300-00900}}</td>
<td class="data right">{{NumberFormat data-1.06300-01000}}</td>
<td class="data right">{{NumberFormat data-1.06300-01100}}</td>
<td class="data right">{{data-1.06300-01200}}</td>
<td class="data right">{{data-1.06300-01300}}</td>
<td class="data right">{{data-1.06300-01400}}</td>
<td class="data right">{{NumberFormat data-1.06300-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.06300-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.06300-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.06300-01800}}</td>
<td class="right">63</td>
</tr>
<tr><td colspan="2"> OTHER  REIMBURSABLE  COST  CENTERS</td>
<td class="fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
</tr>
<tr><td class="right">70</td>
<td> Home Health Agency Cost</td>
<td class="data fillgrey">&nbsp;{{data-1.07000-00000}}</td>
<td class="data right">{{NumberFormat data-1.07000-00100}}</td>
<td class="data right">{{NumberFormat data-1.07000-00200}}</td>
<td class="data right">{{NumberFormat data-1.07000-00300}}</td>
<td class="data right">{{NumberFormat data-1.07000-04A00}}</td>
<td class="data right">{{NumberFormat data-1.07000-00400}}</td>
<td class="data right">{{NumberFormat data-1.07000-00500}}</td>
<td class="data right">{{NumberFormat data-1.07000-00600}}</td>
<td class="data right">{{data-1.07000-00700}}</td>
<td class="data right">{{data-1.07000-00800}}</td>
<td class="data right">{{data-1.07000-00900}}</td>
<td class="data right">{{NumberFormat data-1.07000-01000}}</td>
<td class="data right">{{NumberFormat data-1.07000-01100}}</td>
<td class="data right">{{data-1.07000-01200}}</td>
<td class="data right">{{data-1.07000-01300}}</td>
<td class="data right">{{data-1.07000-01400}}</td>
<td class="data right">{{NumberFormat data-1.07000-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.07000-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.07000-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.07000-01800}}</td>
<td class="right">70</td>
</tr>
<tr><td class="right">71</td>
<td> Ambulance</td>
<td class="data fillgrey">&nbsp;{{data-1.07100-00000}}</td>
<td class="data right">{{NumberFormat data-1.07100-00100}}</td>
<td class="data right">{{NumberFormat data-1.07100-00200}}</td>
<td class="data right">{{NumberFormat data-1.07100-00300}}</td>
<td class="data right">{{NumberFormat data-1.07100-04A00}}</td>
<td class="data right">{{NumberFormat data-1.07100-00400}}</td>
<td class="data right">{{NumberFormat data-1.07100-00500}}</td>
<td class="data right">{{NumberFormat data-1.07100-00600}}</td>
<td class="data right">{{data-1.07100-00700}}</td>
<td class="data right">{{data-1.07100-00800}}</td>
<td class="data right">{{data-1.07100-00900}}</td>
<td class="data right">{{NumberFormat data-1.07100-01000}}</td>
<td class="data right">{{NumberFormat data-1.07100-01100}}</td>
<td class="data right">{{data-1.07100-01200}}</td>
<td class="data right">{{data-1.07100-01300}}</td>
<td class="data right">{{data-1.07100-01400}}</td>
<td class="data right">{{NumberFormat data-1.07100-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.07100-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.07100-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.07100-01800}}</td>
<td class="right">71</td>
</tr>
<tr><td class="right">72</td>
<td> Outpatient Rehabilitation (specify)</td>
<td class="data fillgrey">&nbsp;{{data-1.07200-00000}}</td>
<td class="data right">{{NumberFormat data-1.07200-00100}}</td>
<td class="data right">{{NumberFormat data-1.07200-00200}}</td>
<td class="data right">{{NumberFormat data-1.07200-00300}}</td>
<td class="data right">{{NumberFormat data-1.07200-04A00}}</td>
<td class="data right">{{NumberFormat data-1.07200-00400}}</td>
<td class="data right">{{NumberFormat data-1.07200-00500}}</td>
<td class="data right">{{NumberFormat data-1.07200-00600}}</td>
<td class="data right">{{data-1.07200-00700}}</td>
<td class="data right">{{data-1.07200-00800}}</td>
<td class="data right">{{data-1.07200-00900}}</td>
<td class="data right">{{NumberFormat data-1.07200-01000}}</td>
<td class="data right">{{NumberFormat data-1.07200-01100}}</td>
<td class="data right">{{data-1.07200-01200}}</td>
<td class="data right">{{data-1.07200-01300}}</td>
<td class="data right">{{data-1.07200-01400}}</td>
<td class="data right">{{NumberFormat data-1.07200-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.07200-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.07200-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.07200-01800}}</td>
<td class="right">72</td>
</tr>
<tr><td class="right">73</td>
<td> CMHC</td>
<td class="data fillgrey">&nbsp;{{data-1.07300-00000}}</td>
<td class="data right">{{NumberFormat data-1.07300-00100}}</td>
<td class="data right">{{NumberFormat data-1.07300-00200}}</td>
<td class="data right">{{NumberFormat data-1.07300-00300}}</td>
<td class="data right">{{NumberFormat data-1.07300-04A00}}</td>
<td class="data right">{{NumberFormat data-1.07300-00400}}</td>
<td class="data right">{{NumberFormat data-1.07300-00500}}</td>
<td class="data right">{{NumberFormat data-1.07300-00600}}</td>
<td class="data right">{{data-1.07300-00700}}</td>
<td class="data right">{{data-1.07300-00800}}</td>
<td class="data right">{{data-1.07300-00900}}</td>
<td class="data right">{{NumberFormat data-1.07300-01000}}</td>
<td class="data right">{{NumberFormat data-1.07300-01100}}</td>
<td class="data right">{{data-1.07300-01200}}</td>
<td class="data right">{{data-1.07300-01300}}</td>
<td class="data right">{{data-1.07300-01400}}</td>
<td class="data right">{{NumberFormat data-1.07300-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.07300-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.07300-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.07300-01800}}</td>
<td class="right">73</td>
</tr>
<tr><td class="right">74</td>
<td> Other Reimbursable Cost</td>
<td class="data fillgrey">&nbsp;{{data-1.07400-00000}}</td>
<td class="data right">{{NumberFormat data-1.07400-00100}}</td>
<td class="data right">{{NumberFormat data-1.07400-00200}}</td>
<td class="data right">{{NumberFormat data-1.07400-00300}}</td>
<td class="data right">{{NumberFormat data-1.07400-04A00}}</td>
<td class="data right">{{NumberFormat data-1.07400-00400}}</td>
<td class="data right">{{NumberFormat data-1.07400-00500}}</td>
<td class="data right">{{NumberFormat data-1.07400-00600}}</td>
<td class="data right">{{data-1.07400-00700}}</td>
<td class="data right">{{data-1.07400-00800}}</td>
<td class="data right">{{data-1.07400-00900}}</td>
<td class="data right">{{NumberFormat data-1.07400-01000}}</td>
<td class="data right">{{NumberFormat data-1.07400-01100}}</td>
<td class="data right">{{data-1.07400-01200}}</td>
<td class="data right">{{data-1.07400-01300}}</td>
<td class="data right">{{data-1.07400-01400}}</td>
<td class="data right">{{NumberFormat data-1.07400-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.07400-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.07400-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.07400-01800}}</td>
<td class="right">74</td>
</tr>
<tr><td colspan="2"> SPECIAL  PURPOSE  COST  CENTERS</td>
<td class="fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
</tr>
<tr><td class="right">83</td>
<td> Hospice</td>
<td class="data fillgrey">&nbsp;{{data-1.08300-00000}}</td>
<td class="data right">{{NumberFormat data-1.08300-00100}}</td>
<td class="data right">{{NumberFormat data-1.08300-00200}}</td>
<td class="data right">{{NumberFormat data-1.08300-00300}}</td>
<td class="data right">{{NumberFormat data-1.08300-04A00}}</td>
<td class="data right">{{NumberFormat data-1.08300-00400}}</td>
<td class="data right">{{NumberFormat data-1.08300-00500}}</td>
<td class="data right">{{NumberFormat data-1.08300-00600}}</td>
<td class="data right">{{data-1.08300-00700}}</td>
<td class="data right">{{data-1.08300-00800}}</td>
<td class="data right">{{data-1.08300-00900}}</td>
<td class="data right">{{NumberFormat data-1.08300-01000}}</td>
<td class="data right">{{NumberFormat data-1.08300-01100}}</td>
<td class="data right">{{data-1.08300-01200}}</td>
<td class="data right">{{data-1.08300-01300}}</td>
<td class="data right">{{data-1.08300-01400}}</td>
<td class="data right">{{NumberFormat data-1.08300-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.08300-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.08300-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.08300-01800}}</td>
<td class="right">83</td>
</tr>
<tr><td class="right">84</td>
<td> Other Special Purpose Cost</td>
<td class="data fillgrey">&nbsp;{{data-1.08400-00000}}</td>
<td class="data right">{{NumberFormat data-1.08400-00100}}</td>
<td class="data right">{{NumberFormat data-1.08400-00200}}</td>
<td class="data right">{{NumberFormat data-1.08400-00300}}</td>
<td class="data right">{{NumberFormat data-1.08400-04A00}}</td>
<td class="data right">{{NumberFormat data-1.08400-00400}}</td>
<td class="data right">{{NumberFormat data-1.08400-00500}}</td>
<td class="data right">{{NumberFormat data-1.08400-00600}}</td>
<td class="data right">{{data-1.08400-00700}}</td>
<td class="data right">{{data-1.08400-00800}}</td>
<td class="data right">{{data-1.08400-00900}}</td>
<td class="data right">{{NumberFormat data-1.08400-01000}}</td>
<td class="data right">{{NumberFormat data-1.08400-01100}}</td>
<td class="data right">{{data-1.08400-01200}}</td>
<td class="data right">{{data-1.08400-01300}}</td>
<td class="data right">{{data-1.08400-01400}}</td>
<td class="data right">{{NumberFormat data-1.08400-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.08400-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.08400-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.08400-01800}}</td>
<td class="right">84</td>
</tr>
<tr><td class="right">89</td>
<td> Subtotals</td>
<td class="data fillgrey">&nbsp;{{data-1.08900-00000}}</td>
<td class="data right">{{NumberFormat data-1.08900-00100}}</td>
<td class="data right">{{NumberFormat data-1.08900-00200}}</td>
<td class="data right">{{NumberFormat data-1.08900-00300}}</td>
<td class="data right">{{NumberFormat data-1.08900-04A00}}</td>
<td class="data right">{{NumberFormat data-1.08900-00400}}</td>
<td class="data right">{{NumberFormat data-1.08900-00500}}</td>
<td class="data right">{{NumberFormat data-1.08900-00600}}</td>
<td class="data right">{{data-1.08900-00700}}</td>
<td class="data right">{{data-1.08900-00800}}</td>
<td class="data right">{{data-1.08900-00900}}</td>
<td class="data right">{{NumberFormat data-1.08900-01000}}</td>
<td class="data right">{{NumberFormat data-1.08900-01100}}</td>
<td class="data right">{{data-1.08900-01200}}</td>
<td class="data right">{{data-1.08900-01300}}</td>
<td class="data right">{{data-1.08900-01400}}</td>
<td class="data right">{{NumberFormat data-1.08900-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.08900-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.08900-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.08900-01800}}</td>
<td class="right">89</td>
</tr>
<tr><td colspan="2"> NON REIMBURSABLE  COST  CENTERS</td>
<td class="fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right">&nbsp;</td>
<td class="right">&nbsp;</td>
<td class="right">&nbsp;</td>
<td class="right">&nbsp;</td>
<td class="right">&nbsp;</td>
<td class="right">&nbsp;</td>
<td class="right">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
</tr>
<tr><td class="right">90</td>
<td> Gift, Flower, Coffee Shops and Canteen</td>
<td class="data fillgrey">&nbsp;{{data-1.09000-00000}}</td>
<td class="data right">{{NumberFormat data-1.09000-00100}}</td>
<td class="data right">{{NumberFormat data-1.09000-00200}}</td>
<td class="data right">{{NumberFormat data-1.09000-00300}}</td>
<td class="data right">{{NumberFormat data-1.09000-04A00}}</td>
<td class="data right">{{NumberFormat data-1.09000-00400}}</td>
<td class="data right">{{NumberFormat data-1.09000-00500}}</td>
<td class="data right">{{NumberFormat data-1.09000-00600}}</td>
<td class="data right">{{data-1.09000-00700}}</td>
<td class="data right">{{data-1.09000-00800}}</td>
<td class="data right">{{data-1.09000-00900}}</td>
<td class="data right">{{NumberFormat data-1.09000-01000}}</td>
<td class="data right">{{NumberFormat data-1.09000-01100}}</td>
<td class="data right">{{data-1.09000-01200}}</td>
<td class="data right">{{data-1.09000-01300}}</td>
<td class="data right">{{data-1.09000-01400}}</td>
<td class="data right">{{NumberFormat data-1.09000-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09000-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09000-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09000-01800}}</td>
<td class="right">90</td>
</tr>
<tr><td class="right">91</td>
<td> Barber and Beauty Shop</td>
<td class="data fillgrey">&nbsp;{{data-1.09100-00000}}</td>
<td class="data right">{{NumberFormat data-1.09100-00100}}</td>
<td class="data right">{{NumberFormat data-1.09100-00200}}</td>
<td class="data right">{{NumberFormat data-1.09100-00300}}</td>
<td class="data right">{{NumberFormat data-1.09100-04A00}}</td>
<td class="data right">{{NumberFormat data-1.09100-00400}}</td>
<td class="data right">{{NumberFormat data-1.09100-00500}}</td>
<td class="data right">{{NumberFormat data-1.09100-00600}}</td>
<td class="data right">{{data-1.09100-00700}}</td>
<td class="data right">{{data-1.09100-00800}}</td>
<td class="data right">{{data-1.09100-00900}}</td>
<td class="data right">{{NumberFormat data-1.09100-01000}}</td>
<td class="data right">{{NumberFormat data-1.09100-01100}}</td>
<td class="data right">{{data-1.09100-01200}}</td>
<td class="data right">{{data-1.09100-01300}}</td>
<td class="data right">{{data-1.09100-01400}}</td>
<td class="data right">{{NumberFormat data-1.09100-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09100-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09100-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09100-01800}}</td>
<td class="right">91</td>
</tr>
<tr><td class="right">92</td>
<td> Physicians' Private Offices</td>
<td class="data fillgrey">&nbsp;{{data-1.09200-00000}}</td>
<td class="data right">{{NumberFormat data-1.09200-00100}}</td>
<td class="data right">{{NumberFormat data-1.09200-00200}}</td>
<td class="data right">{{NumberFormat data-1.09200-00300}}</td>
<td class="data right">{{NumberFormat data-1.09200-04A00}}</td>
<td class="data right">{{NumberFormat data-1.09200-00400}}</td>
<td class="data right">{{NumberFormat data-1.09200-00500}}</td>
<td class="data right">{{NumberFormat data-1.09200-00600}}</td>
<td class="data right">{{data-1.09200-00700}}</td>
<td class="data right">{{data-1.09200-00800}}</td>
<td class="data right">{{data-1.09200-00900}}</td>
<td class="data right">{{NumberFormat data-1.09200-01000}}</td>
<td class="data right">{{NumberFormat data-1.09200-01100}}</td>
<td class="data right">{{data-1.09200-01200}}</td>
<td class="data right">{{data-1.09200-01300}}</td>
<td class="data right">{{data-1.09200-01400}}</td>
<td class="data right">{{NumberFormat data-1.09200-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09200-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09200-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09200-01800}}</td>
<td class="right">92</td>
</tr>
<tr><td class="right">93</td>
<td> Nonpaid Workers</td>
<td class="data fillgrey">&nbsp;{{data-1.09300-00000}}</td>
<td class="data right">{{NumberFormat data-1.09300-00100}}</td>
<td class="data right">{{NumberFormat data-1.09300-00200}}</td>
<td class="data right">{{NumberFormat data-1.09300-00300}}</td>
<td class="data right">{{NumberFormat data-1.09300-04A00}}</td>
<td class="data right">{{NumberFormat data-1.09300-00400}}</td>
<td class="data right">{{NumberFormat data-1.09300-00500}}</td>
<td class="data right">{{NumberFormat data-1.09300-00600}}</td>
<td class="data right">{{data-1.09300-00700}}</td>
<td class="data right">{{data-1.09300-00800}}</td>
<td class="data right">{{data-1.09300-00900}}</td>
<td class="data right">{{NumberFormat data-1.09300-01000}}</td>
<td class="data right">{{NumberFormat data-1.09300-01100}}</td>
<td class="data right">{{data-1.09300-01200}}</td>
<td class="data right">{{data-1.09300-01300}}</td>
<td class="data right">{{data-1.09300-01400}}</td>
<td class="data right">{{NumberFormat data-1.09300-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09300-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09300-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09300-01800}}</td>
<td class="right">93</td>
</tr>
<tr><td class="right">94</td>
<td> Patients' Laundry</td>
<td class="data fillgrey">&nbsp;{{data-1.09400-00000}}</td>
<td class="data right">{{NumberFormat data-1.09400-00100}}</td>
<td class="data right">{{NumberFormat data-1.09400-00200}}</td>
<td class="data right">{{NumberFormat data-1.09400-00300}}</td>
<td class="data right">{{NumberFormat data-1.09400-04A00}}</td>
<td class="data right">{{NumberFormat data-1.09400-00400}}</td>
<td class="data right">{{NumberFormat data-1.09400-00500}}</td>
<td class="data right">{{NumberFormat data-1.09400-00600}}</td>
<td class="data right">{{data-1.09400-00700}}</td>
<td class="data right">{{data-1.09400-00800}}</td>
<td class="data right">{{data-1.09400-00900}}</td>
<td class="data right">{{NumberFormat data-1.09400-01000}}</td>
<td class="data right">{{NumberFormat data-1.09400-01100}}</td>
<td class="data right">{{data-1.09400-01200}}</td>
<td class="data right">{{data-1.09400-01300}}</td>
<td class="data right">{{data-1.09400-01400}}</td>
<td class="data right">{{NumberFormat data-1.09400-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09400-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09400-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09400-01800}}</td>
<td class="right">94</td>
</tr>
<tr><td class="right">95</td>
<td> Other Nonreimbursable Cost </td>
<td class="data fillgrey">&nbsp;{{data-1.09500-00000}}</td>
<td class="data right">{{NumberFormat data-1.09500-00100}}</td>
<td class="data right">{{NumberFormat data-1.09500-00200}}</td>
<td class="data right">{{NumberFormat data-1.09500-00300}}</td>
<td class="data right">{{NumberFormat data-1.09500-04A00}}</td>
<td class="data right">{{NumberFormat data-1.09500-00400}}</td>
<td class="data right">{{NumberFormat data-1.09500-00500}}</td>
<td class="data right">{{NumberFormat data-1.09500-00600}}</td>
<td class="data right">{{data-1.09500-00700}}</td>
<td class="data right">{{data-1.09500-00800}}</td>
<td class="data right">{{data-1.09500-00900}}</td>
<td class="data right">{{NumberFormat data-1.09500-01000}}</td>
<td class="data right">{{NumberFormat data-1.09500-01100}}</td>
<td class="data right">{{data-1.09500-01200}}</td>
<td class="data right">{{data-1.09500-01300}}</td>
<td class="data right">{{data-1.09500-01400}}</td>
<td class="data right">{{NumberFormat data-1.09500-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09500-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09500-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09500-01800}}</td>
<td class="right">95</td>
</tr>
<tr><td class="right">98</td>
<td> Cross  Foot  Adjustment</td>
<td class="data fillgrey">&nbsp;{{data-1.09800-00000}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09800-00100}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09800-00200}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09800-00300}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09800-04A00}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09800-00400}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09800-00500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09800-00600}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.09800-00700}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.09800-00800}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.09800-00900}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09800-01000}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09800-01100}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.09800-01200}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.09800-01300}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.09800-01400}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09800-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09800-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09800-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09800-01800}}</td>
<td class="right">98</td>
</tr>
<tr><td class="right">99</td>
<td> Negative  Cost  Center</td>
<td class="data fillgrey">&nbsp;{{data-1.09900-00000}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09900-00100}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09900-00200}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09900-00300}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09900-04A00}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09900-00400}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09900-00500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09900-00600}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.09900-00700}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.09900-00800}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.09900-00900}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09900-01000}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09900-01100}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.09900-01200}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.09900-01300}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.09900-01400}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09900-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09900-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09900-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.09900-01800}}</td>
<td class="right">99</td>
</tr>
<tr><td class="right">102</td>
<td> Cost to be allocated  (Per Wkst. B, Pt I.) </td>
<td class="data fillgrey">&nbsp;{{data-1.10200-00000}}</td>
<td class="data right">{{NumberFormat data-1.10200-00100}}</td>
<td class="data right">{{NumberFormat data-1.10200-00200}}</td>
<td class="data right">{{NumberFormat data-1.10200-00300}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.10200-04A00}}</td>
<td class="data right">{{NumberFormat data-1.10200-00400}}</td>
<td class="data right">{{NumberFormat data-1.10200-00500}}</td>
<td class="data right">{{NumberFormat data-1.10200-00600}}</td>
<td class="data right">{{data-1.10200-00700}}</td>
<td class="data right">{{data-1.10200-00800}}</td>
<td class="data right">{{data-1.10200-00900}}</td>
<td class="data right">{{NumberFormat data-1.10200-01000}}</td>
<td class="data right">{{NumberFormat data-1.10200-01100}}</td>
<td class="data right">{{data-1.10200-01200}}</td>
<td class="data right">{{data-1.10200-01300}}</td>
<td class="data right">{{data-1.10200-01400}}</td>
<td class="data right">{{NumberFormat data-1.10200-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.10200-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.10200-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.10200-01800}}</td>
<td class="right">102</td>
</tr>
<tr><td class="right">103</td>
<td> Unit Cost Multiplier  (Wkst. B, Pt I.)</td>
<td class="data fillgrey">&nbsp;{{data-1.10300-00000}}</td>
<td class="data right">{{NumberFormat data-1.10300-00100}}</td>
<td class="data right">{{NumberFormat data-1.10300-00200}}</td>
<td class="data right">{{NumberFormat data-1.10300-00300}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.10300-04A00}}</td>
<td class="data right">{{NumberFormat data-1.10300-00400}}</td>
<td class="data right">{{NumberFormat data-1.10300-00500}}</td>
<td class="data right">{{NumberFormat data-1.10300-00600}}</td>
<td class="data right">{{data-1.10300-00700}}</td>
<td class="data right">{{data-1.10300-00800}}</td>
<td class="data right">{{data-1.10300-00900}}</td>
<td class="data right">{{NumberFormat data-1.10300-01000}}</td>
<td class="data right">{{NumberFormat data-1.10300-01100}}</td>
<td class="data right">{{data-1.10300-01200}}</td>
<td class="data right">{{data-1.10300-01300}}</td>
<td class="data right">{{data-1.10300-01400}}</td>
<td class="data right">{{NumberFormat data-1.10300-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.10300-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.10300-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.10300-01800}}</td>
<td class="right">103</td>
</tr>
<tr><td class="right">104</td>
<td> Cost to be allocated  (Per Wkst. B, Pt. II) </td>
<td class="data fillgrey">&nbsp;{{data-1.10400-00000}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.10400-00100}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.10400-00200}}</td>
<td class="data right">{{NumberFormat data-1.10400-00300}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.10400-04A00}}</td>
<td class="data right">{{NumberFormat data-1.10400-00400}}</td>
<td class="data right">{{NumberFormat data-1.10400-00500}}</td>
<td class="data right">{{NumberFormat data-1.10400-00600}}</td>
<td class="data right">{{data-1.10400-00700}}</td>
<td class="data right">{{data-1.10400-00800}}</td>
<td class="data right">{{data-1.10400-00900}}</td>
<td class="data right">{{NumberFormat data-1.10400-01000}}</td>
<td class="data right">{{NumberFormat data-1.10400-01100}}</td>
<td class="data right">{{data-1.10400-01200}}</td>
<td class="data right">{{data-1.10400-01300}}</td>
<td class="data right">{{data-1.10400-01400}}</td>
<td class="data right">{{NumberFormat data-1.10400-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.10400-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.10400-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.10400-01800}}</td>
<td class="right">104</td>
</tr>
<tr><td class="right">105</td>
<td> Unit Cost Multiplier  (Wkst B, Pt. II)</td>
<td class="data fillgrey">&nbsp;{{data-1.10500-00000}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.10500-00100}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.10500-00200}}</td>
<td class="data right">{{NumberFormat data-1.10500-00300}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.10500-04A00}}</td>
<td class="data right">{{NumberFormat data-1.10500-00400}}</td>
<td class="data right">{{NumberFormat data-1.10500-00500}}</td>
<td class="data right">{{NumberFormat data-1.10500-00600}}</td>
<td class="data right">{{data-1.10500-00700}}</td>
<td class="data right">{{data-1.10500-00800}}</td>
<td class="data right">{{data-1.10500-00900}}</td>
<td class="data right">{{NumberFormat data-1.10500-01000}}</td>
<td class="data right">{{NumberFormat data-1.10500-01100}}</td>
<td class="data right">{{data-1.10500-01200}}</td>
<td class="data right">{{data-1.10500-01300}}</td>
<td class="data right">{{data-1.10500-01400}}</td>
<td class="data right">{{NumberFormat data-1.10500-01500}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.10500-01600}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.10500-01700}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.10500-01800}}</td>
<td class="right">105</td>
</tr>
<tr><td colspan="23">FORM CMS-2540-10 (08/2016)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4120)</td>
</tr>
<tr>
<td colspan="2">08-16 &nbsp;</td>
<td colspan="19">&nbsp;</td>
<td colspan="2">Rev 7</td>
</tr>
</tbody></table>
</div>