<div class="report">
<table border="1" width="100%" cellpadding="1" cellspacing="1">
<colgroup><col width="3%">
<col width="40%">
<col width="18%">
<col width="18%">
<col width="18%">
<col width="3%">

</colgroup><thead><tr><td colspan="2" rowspan="1"> RATIO  OF  COST  TO  CHARGES  FOR  ANCILLARY  AND  OUTPATIENT   COST  CENTERS </td>
<td>Provider CCN: <span class="data">{{pId}}</span></td>
<td><div>PERIOD:</div><div>FROM <span class="data">{{year.start}}</span></div><div>TO <span class="data">{{year.end}}</span></div></td>
<td colspan="2"> WORKSHEET   C</td>
</tr>
</thead><tbody><tr><td colspan="2" rowspan="2">     Cost  Center Description   </td>
<td class="center">Total ( from Wkst. B, Pt. I,  col.  18 ) </td>
<td class="center"> Total Charges </td>
<td class="center">Ratio ( col. 1 divided by col. 2 ) </td>
<td rowspan="2">&nbsp;</td>
</tr>
<tr><td class="center">1</td>
<td class="center">2</td>
<td class="center">3</td>
</tr>
<tr><td colspan="6"> ANCILLARY  SERVICE  COST  CENTERS</td>
</tr>
<tr><td class="right">40</td>
<td> Radiology</td>
<td class="data right">{{NumberFormat data-1.04000-00100}}</td>
<td class="data right">{{NumberFormat data-1.04000-00200}}</td>
<td class="data right">{{data-1.04000-00300}}</td>
<td class="right">40</td>
</tr>
<tr><td class="right">41</td>
<td> Laboratory</td>
<td class="data right">{{NumberFormat data-1.04100-00100}}</td>
<td class="data right">{{NumberFormat data-1.04100-00200}}</td>
<td class="data right">{{data-1.04100-00300}}</td>
<td class="right">41</td>
</tr>
<tr><td class="right">42</td>
<td> Intravenous Therapy</td>
<td class="data right">{{NumberFormat data-1.04200-00100}}</td>
<td class="data right">{{NumberFormat data-1.04200-00200}}</td>
<td class="data right">{{data-1.04200-00300}}</td>
<td class="right">42</td>
</tr>
<tr><td class="right">43</td>
<td> Oxygen (Inhalation) Therapy</td>
<td class="data right">{{NumberFormat data-1.04300-00100}}</td>
<td class="data right">{{NumberFormat data-1.04300-00200}}</td>
<td class="data right">{{data-1.04300-00300}}</td>
<td class="right">43</td>
</tr>
<tr><td class="right">44</td>
<td> Physical Therapy</td>
<td class="data right">{{NumberFormat data-1.04400-00100}}</td>
<td class="data right">{{NumberFormat data-1.04400-00200}}</td>
<td class="data right">{{data-1.04400-00300}}</td>
<td class="right">44</td>
</tr>
<tr><td class="right">45</td>
<td> Occupational Therapy</td>
<td class="data right">{{NumberFormat data-1.04500-00100}}</td>
<td class="data right">{{NumberFormat data-1.04500-00200}}</td>
<td class="data right">{{data-1.04500-00300}}</td>
<td class="right">45</td>
</tr>
<tr><td class="right">46</td>
<td> Speech Pathology</td>
<td class="data right">{{NumberFormat data-1.04600-00100}}</td>
<td class="data right">{{NumberFormat data-1.04600-00200}}</td>
<td class="data right">{{data-1.04600-00300}}</td>
<td class="right">46</td>
</tr>
<tr><td class="right">47</td>
<td> Electrocardiology</td>
<td class="data right">{{NumberFormat data-1.04700-00100}}</td>
<td class="data right">{{NumberFormat data-1.04700-00200}}</td>
<td class="data right">{{data-1.04700-00300}}</td>
<td class="right">47</td>
</tr>
<tr><td class="right">48</td>
<td> Medical Supplies Charged to Patients</td>
<td class="data right">{{NumberFormat data-1.04800-00100}}</td>
<td class="data right">{{NumberFormat data-1.04800-00200}}</td>
<td class="data right">{{data-1.04800-00300}}</td>
<td class="right">48</td>
</tr>
<tr><td class="right">49</td>
<td> Drugs Charged to Patients</td>
<td class="data right">{{NumberFormat data-1.04900-00100}}</td>
<td class="data right">{{NumberFormat data-1.04900-00200}}</td>
<td class="data right">{{data-1.04900-00300}}</td>
<td class="right">49</td>
</tr>
<tr><td class="right">50</td>
<td> Dental Care - Title XIX only</td>
<td class="data right">{{NumberFormat data-1.05000-00100}}</td>
<td class="data right">{{NumberFormat data-1.05000-00200}}</td>
<td class="data right">{{data-1.05000-00300}}</td>
<td class="right">50</td>
</tr>
<tr><td class="right">51</td>
<td> Support Surfaces</td>
<td class="data right">{{NumberFormat data-1.05100-00100}}</td>
<td class="data right">{{NumberFormat data-1.05100-00200}}</td>
<td class="data right">{{data-1.05100-00300}}</td>
<td class="right">51</td>
</tr>
<tr><td class="right">52</td>
<td> Other Ancillary Service Cost</td>
<td class="data right">{{NumberFormat data-1.05200-00100}}</td>
<td class="data right">{{NumberFormat data-1.05200-00200}}</td>
<td class="data right">{{data-1.05200-00300}}</td>
<td class="right">52</td>
</tr>
<tr><td colspan="6"> OUTPATIENT  SERVICE  COST  CENTERS</td>
</tr>
<tr><td class="right">60</td>
<td> Clinic</td>
<td class="data right">{{NumberFormat data-1.06000-00100}}</td>
<td class="data right">{{NumberFormat data-1.06000-00200}}</td>
<td class="data right">{{data-1.06000-00300}}</td>
<td class="right">60</td>
</tr>
<tr><td class="right">61</td>
<td> Rural Health Clinic (RHC)</td>
<td class="data right">{{NumberFormat data-1.06100-00100}}</td>
<td class="data right">{{NumberFormat data-1.06100-00200}}</td>
<td class="data right">{{data-1.06100-00300}}</td>
<td class="right">61</td>
</tr>
<tr><td class="right">62</td>
<td> FQHC</td>
<td class="data right">{{NumberFormat data-1.06200-00100}}</td>
<td class="data right">{{NumberFormat data-1.06200-00200}}</td>
<td class="data right">{{data-1.06200-00300}}</td>
<td class="right">62</td>
</tr>
<tr><td class="right">63</td>
<td> Other Outpatient Service Cost</td>
<td class="data right">{{NumberFormat data-1.06300-00100}}</td>
<td class="data right">{{NumberFormat data-1.06300-00200}}</td>
<td class="data right">{{data-1.06300-00300}}</td>
<td class="right">63</td>
</tr>
<tr><td class="right">71</td>
<td> Ambulance</td>
<td class="data right">{{NumberFormat data-1.07100-00100}}</td>
<td class="data right">{{NumberFormat data-1.07100-00200}}</td>
<td class="data right">{{data-1.07100-00300}}</td>
<td class="right">71</td>
</tr>
<tr><td class="right">100</td>
<td> Total</td>
<td class="data right">{{NumberFormat data-1.10000-00100}}</td>
<td class="data right">{{NumberFormat data-1.10000-00200}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.10000-00300}}</td>
<td class="right">100</td>
</tr>
<tr><td colspan="6">FORM CMS-2540-10 (05/2011)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4123)</td>
</tr>
<tr><td colspan="2">05-11</td>
<td colspan="2">&nbsp;</td>
<td colspan="2"> Rev. 1 </td>
</tr>
</tbody></table>
</div>