
<div class="report">
<table border="1" width="100%" cellpadding="1" cellspacing="1">
<colgroup><col width="3%">
<col width="34%">
<col width="12%">
<col width="12%">
<col width="12%">
<col width="12%">
<col width="12%">
<col width="3%">

</colgroup><thead><tr><td colspan="2"> APPORTIONMENT  OF  ANCILLARY  AND  OUTPATIENT  COST  </td>
<td colspan="2">Provider CCN: <span class="data">{{pId}}</span></td>
<td colspan="2"><div>PERIOD:</div><div>FROM <span class="data">{{year.start}}</span></div><div>TO <span class="data">{{year.end}}</span></div></td>
<td colspan="2"> WORKSHEET   D  PART  I </td>
</tr>
</thead><tbody><tr><td class="component" colspan="8"> SNF - SNF Medicare - Title XVIII</td>
</tr>
<tr><td colspan="8"> PART  I  -  CALCULATION OF ANCILLARY AND OUTPATIENT COST</td>
</tr>
<tr><td colspan="2" rowspan="3">            Cost Center Description   </td>
<td class="center">Ratio of Cost to Charges (from Wkst. C, col.  3 ) </td>
<td class="center" colspan="2"> Health Care Program Charges  </td>
<td class="center" colspan="2"> Healthcare Program Cost  </td>
<td rowspan="3">&nbsp;</td>
</tr>
<tr><td class="center">&nbsp;</td>
<td class="center"> Part  A  </td>
<td class="center">  Part   B  </td>
<td class="center">Part  A ( col. 1 x col. 2 )  </td>
<td class="center">  Part   B ( col. 1 x col. 3 )  </td>
</tr>
<tr><td class="center">1</td>
<td class="center">2</td>
<td class="center">3</td>
<td class="center">4</td>
<td class="center">5</td>
</tr>
<tr><td colspan="8"> ANCILLARY  SERVICE COST CENTERS</td>
</tr>
<tr><td class="right">40</td>
<td> Radiology</td>
<td class="data right">{{data-1.04000-00100}}</td>
<td class="data right">{{NumberFormat data-1.04000-00200}}</td>
<td class="data right">{{NumberFormat data-1.04000-00300}}</td>
<td class="data right">{{NumberFormat data-1.04000-00400}}</td>
<td class="data right">{{NumberFormat data-1.04000-00500}}</td>
<td class="right">40</td>
</tr>
<tr><td class="right">41</td>
<td> Laboratory</td>
<td class="data right">{{data-1.04100-00100}}</td>
<td class="data right">{{NumberFormat data-1.04100-00200}}</td>
<td class="data right">{{NumberFormat data-1.04100-00300}}</td>
<td class="data right">{{NumberFormat data-1.04100-00400}}</td>
<td class="data right">{{NumberFormat data-1.04100-00500}}</td>
<td class="right">41</td>
</tr>
<tr><td class="right">42</td>
<td> Intravenous Therapy</td>
<td class="data right">{{data-1.04200-00100}}</td>
<td class="data right">{{NumberFormat data-1.04200-00200}}</td>
<td class="data right">{{NumberFormat data-1.04200-00300}}</td>
<td class="data right">{{NumberFormat data-1.04200-00400}}</td>
<td class="data right">{{NumberFormat data-1.04200-00500}}</td>
<td class="right">42</td>
</tr>
<tr><td class="right">43</td>
<td> Oxygen (Inhalation) Therapy</td>
<td class="data right">{{data-1.04300-00100}}</td>
<td class="data right">{{NumberFormat data-1.04300-00200}}</td>
<td class="data right">{{NumberFormat data-1.04300-00300}}</td>
<td class="data right">{{NumberFormat data-1.04300-00400}}</td>
<td class="data right">{{NumberFormat data-1.04300-00500}}</td>
<td class="right">43</td>
</tr>
<tr><td class="right">44</td>
<td> Physical Therapy</td>
<td class="data right">{{data-1.04400-00100}}</td>
<td class="data right">{{NumberFormat data-1.04400-00200}}</td>
<td class="data right">{{NumberFormat data-1.04400-00300}}</td>
<td class="data right">{{NumberFormat data-1.04400-00400}}</td>
<td class="data right">{{NumberFormat data-1.04400-00500}}</td>
<td class="right">44</td>
</tr>
<tr><td class="right">45</td>
<td> Occupational Therapy</td>
<td class="data right">{{data-1.04500-00100}}</td>
<td class="data right">{{NumberFormat data-1.04500-00200}}</td>
<td class="data right">{{NumberFormat data-1.04500-00300}}</td>
<td class="data right">{{NumberFormat data-1.04500-00400}}</td>
<td class="data right">{{NumberFormat data-1.04500-00500}}</td>
<td class="right">45</td>
</tr>
<tr><td class="right">46</td>
<td> Speech Pathology</td>
<td class="data right">{{data-1.04600-00100}}</td>
<td class="data right">{{NumberFormat data-1.04600-00200}}</td>
<td class="data right">{{NumberFormat data-1.04600-00300}}</td>
<td class="data right">{{NumberFormat data-1.04600-00400}}</td>
<td class="data right">{{NumberFormat data-1.04600-00500}}</td>
<td class="right">46</td>
</tr>
<tr><td class="right">47</td>
<td> Electrocardiology</td>
<td class="data right">{{data-1.04700-00100}}</td>
<td class="data right">{{NumberFormat data-1.04700-00200}}</td>
<td class="data right">{{NumberFormat data-1.04700-00300}}</td>
<td class="data right">{{NumberFormat data-1.04700-00400}}</td>
<td class="data right">{{NumberFormat data-1.04700-00500}}</td>
<td class="right">47</td>
</tr>
<tr><td class="right">48</td>
<td> Medical Supplies Charged to Patients</td>
<td class="data right">{{data-1.04800-00100}}</td>
<td class="data right">{{NumberFormat data-1.04800-00200}}</td>
<td class="data right">{{NumberFormat data-1.04800-00300}}</td>
<td class="data right">{{NumberFormat data-1.04800-00400}}</td>
<td class="data right">{{NumberFormat data-1.04800-00500}}</td>
<td class="right">48</td>
</tr>
<tr><td class="right">49</td>
<td> Drugs Charged to Patients</td>
<td class="data right">{{data-1.04900-00100}}</td>
<td class="data right">{{NumberFormat data-1.04900-00200}}</td>
<td class="data right">{{NumberFormat data-1.04900-00300}}</td>
<td class="data right">{{NumberFormat data-1.04900-00400}}</td>
<td class="data right">{{NumberFormat data-1.04900-00500}}</td>
<td class="right">49</td>
</tr>
<tr><td class="right">50</td>
<td> Dental Care - Title XIX only</td>
<td class="data right">{{data-1.05000-00100}}</td>
<td class="data right">{{NumberFormat data-1.05000-00200}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.05000-00300}}</td>
<td class="data right">{{NumberFormat data-1.05000-00400}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.05000-00500}}</td>
<td class="right">50</td>
</tr>
<tr><td class="right">51</td>
<td> Support Surfaces</td>
<td class="data right">{{data-1.05100-00100}}</td>
<td class="data right">{{NumberFormat data-1.05100-00200}}</td>
<td class="data right">{{NumberFormat data-1.05100-00300}}</td>
<td class="data right">{{NumberFormat data-1.05100-00400}}</td>
<td class="data right">{{NumberFormat data-1.05100-00500}}</td>
<td class="right">51</td>
</tr>
<tr><td class="right">52</td>
<td> Other Ancillary Service Cost</td>
<td class="data right">{{data-1.05200-00100}}</td>
<td class="data right">{{NumberFormat data-1.05200-00200}}</td>
<td class="data right">{{NumberFormat data-1.05200-00300}}</td>
<td class="data right">{{NumberFormat data-1.05200-00400}}</td>
<td class="data right">{{NumberFormat data-1.05200-00500}}</td>
<td class="right">52</td>
</tr>
<tr><td colspan="2"> OUTPATIENT  COST  CENTERS</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
</tr>
<tr><td class="right">60</td>
<td> Clinic</td>
<td class="data right">{{data-1.06000-00100}}</td>
<td class="data right">{{NumberFormat data-1.06000-00200}}</td>
<td class="data right">{{NumberFormat data-1.06000-00300}}</td>
<td class="data right">{{NumberFormat data-1.06000-00400}}</td>
<td class="data right">{{NumberFormat data-1.06000-00500}}</td>
<td class="right">60</td>
</tr>
<tr><td class="right">61</td>
<td> Rural Health Clinic (RHC)</td>
<td class="data right">{{data-1.06100-00100}}</td>
<td class="data right">{{NumberFormat data-1.06100-00200}}</td>
<td class="data right">{{NumberFormat data-1.06100-00300}}</td>
<td class="data right">{{NumberFormat data-1.06100-00400}}</td>
<td class="data right">{{NumberFormat data-1.06100-00500}}</td>
<td class="right">61</td>
</tr>
<tr><td class="right">62</td>
<td> FQHC</td>
<td class="data right">{{data-1.06200-00100}}</td>
<td class="data right">{{NumberFormat data-1.06200-00200}}</td>
<td class="data right">{{NumberFormat data-1.06200-00300}}</td>
<td class="data right">{{NumberFormat data-1.06200-00400}}</td>
<td class="data right">{{NumberFormat data-1.06200-00500}}</td>
<td class="right">62</td>
</tr>
<tr><td class="right">63</td>
<td> Other Outpatient Service Cost</td>
<td class="data right">{{data-1.06300-00100}}</td>
<td class="data right">{{NumberFormat data-1.06300-00200}}</td>
<td class="data right">{{NumberFormat data-1.06300-00300}}</td>
<td class="data right">{{NumberFormat data-1.06300-00400}}</td>
<td class="data right">{{NumberFormat data-1.06300-00500}}</td>
<td class="right">63</td>
</tr>
<tr><td class="right">71</td>
<td> Ambulance  (2)</td>
<td class="data right">{{data-1.07100-00100}}</td>
<td class="data right">{{NumberFormat data-1.07100-00200}}</td>
<td class="data right">{{NumberFormat data-1.07100-00300}}</td>
<td class="data right">{{NumberFormat data-1.07100-00400}}</td>
<td class="data right">{{NumberFormat data-1.07100-00500}}</td>
<td class="right">71</td>
</tr>
<tr><td class="right">100</td>
<td> Total  (sum of  lines  40 - 71)</td>
<td class="data right fillgrey">&nbsp;{{data-1.10000-00100}}</td>
<td class="data right">{{NumberFormat data-1.10000-00200}}</td>
<td class="data right">{{NumberFormat data-1.10000-00300}}</td>
<td class="data right">{{NumberFormat data-1.10000-00400}}</td>
<td class="data right">{{NumberFormat data-1.10000-00500}}</td>
<td class="right">100</td>
</tr>
<tr><td colspan="8"><div>  (1)  For titles V and XIX use columns 1, 2 and 4 only.  </div><div>  (2)  Line 71 columns 2 and 4  are for titles V and XIX.  No amounts should be entered here for title XVIII.</div></td>
</tr>
<tr><td colspan="8">FORM CMS-2540-10 (08/2016)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4124)</td>
</tr>
<tr><td colspan="2">08-16</td>
<td colspan="4">&nbsp;</td>
<td> Rev. 7 </td>
<td>&nbsp;</td>
</tr>
</tbody></table>
</div>