
<div class="report">
<table border="1" width="100%" cellpadding="1" cellspacing="1">
<colgroup><col width="3%">
<col width="34%">
<col width="12%">
<col width="12%">
<col width="12%">
<col width="12%">
<col width="12%">
<col width="3%">


</colgroup><thead><tr><td colspan="2" rowspan="1"> APPORTIONMENT  OF  ANCILLARY  AND   OUTPATIENT  COST   </td>
<td colspan="2">Provider CCN: <span class="data">{{pId}}</span></td>
<td colspan="2"><div>PERIOD:</div><div>FROM <span class="data">{{year.start}}</span></div><div>TO <span class="data">{{year.end}}</span>1</div></td>
<td colspan="2"> WORKSHEET   D  PARTS  II &amp; III </td>
</tr>
</thead><tbody>
<tr><td colspan="8"> TITLE XVIII ONLY</td>
</tr>
<tr><td colspan="8">&nbsp;</td>
</tr>
<tr><td colspan="8"> PART   II  -   APPORTIONMENT   OF  VACCINE  COST </td>
</tr>
<tr><td class="right">1</td>
<td colspan="5"> Drugs charged to patients - ratio of cost to charges  (from Wkst. C,  col. 3,  line 49)</td>
<td class="data right">{{NumberFormat data-1.00100-00100}}</td>
<td class="right">1</td>
</tr>
<tr><td class="right">2</td>
<td colspan="5"> Program vaccine charges  (From your records or the PS&amp;R report)</td>
<td class="data right">{{NumberFormat data-1.00200-00100}}</td>
<td class="right">2</td>
</tr>
<tr><td class="right">3</td>
<td colspan="5"> Program costs  (line 1 x line 2)  (Title XVIII, PPS providers, transfer this amount to Wkst. E, Pt. I, line 18)</td>
<td class="data right">{{NumberFormat data-1.00300-00100}}</td>
<td class="right">3</td>
</tr>
<tr><td colspan="8">&nbsp;</td>
</tr>
<tr><td colspan="8"> PART  III  -  CALCULATION  OF  PASS  THROUGH  COSTS  FOR  NURSING  &amp;  ALLIED  HEALTH</td>
</tr>
<tr><td colspan="2">      Cost  Center Description  </td>
<td class="center">  Total Cost (from Wkst. B, Pt. I, col. 18) </td>
<td class="center"> Nursing &amp; Allied Health (from Wkst. B, Pt. I, col. 14) </td>
<td class="center">Ratio of Nursing &amp; Allied Health Costs to Total Costs - Part A (col. 2  /  col. 1) </td>
<td class="center"> Program Part A Cost (from Wkst. D., Pt. I, col. 4) </td>
<td class="center">Part A Nursing &amp; Allied Health Costs for Pass Through (col. 3 x col. 4) </td>
<td>&nbsp;</td>
</tr>
<tr><td colspan="2">&nbsp;</td>
<td class="center">1</td>
<td class="center">2</td>
<td class="center">3</td>
<td class="center">4</td>
<td class="center">5</td>
<td>&nbsp;</td>
</tr>
<tr><td colspan="8"> ANCILLARY SERVICE COST CENTERS</td>
</tr>
<tr><td class="right">40</td>
<td> Radiology</td>
<td class="data right">{{NumberFormat data-2.04000-00100}}</td>
<td class="data right">{{NumberFormat data-2.04000-00200}}</td>
<td class="data right">{{data-2.04000-00300}}</td>
<td class="data right">{{NumberFormat data-2.04000-00400}}</td>
<td class="data right">{{NumberFormat data-2.04000-00500}}</td>
<td class="right">40</td>
</tr>
<tr><td class="right">41</td>
<td> Laboratory</td>
<td class="data right">{{NumberFormat data-2.04100-00100}}</td>
<td class="data right">{{NumberFormat data-2.04100-00200}}</td>
<td class="data right">{{data-2.04100-00300}}</td>
<td class="data right">{{NumberFormat data-2.04100-00400}}</td>
<td class="data right">{{NumberFormat data-2.04100-00500}}</td>
<td class="right">41</td>
</tr>
<tr><td class="right">42</td>
<td> Intravenous Therapy</td>
<td class="data right">{{NumberFormat data-2.04200-00100}}</td>
<td class="data right">{{NumberFormat data-2.04200-00200}}</td>
<td class="data right">{{data-2.04200-00300}}</td>
<td class="data right">{{NumberFormat data-2.04200-00400}}</td>
<td class="data right">{{NumberFormat data-2.04200-00500}}</td>
<td class="right">42</td>
</tr>
<tr><td class="right">43</td>
<td> Oxygen (Inhalation) Therapy</td>
<td class="data right">{{NumberFormat data-2.04300-00100}}</td>
<td class="data right">{{NumberFormat data-2.04300-00200}}</td>
<td class="data right">{{data-2.04300-00300}}</td>
<td class="data right">{{NumberFormat data-2.04300-00400}}</td>
<td class="data right">{{NumberFormat data-2.04300-00500}}</td>
<td class="right">43</td>
</tr>
<tr><td class="right">44</td>
<td> Physical Therapy</td>
<td class="data right">{{NumberFormat data-2.04400-00100}}</td>
<td class="data right">{{NumberFormat data-2.04400-00200}}</td>
<td class="data right">{{data-2.04400-00300}}</td>
<td class="data right">{{NumberFormat data-2.04400-00400}}</td>
<td class="data right">{{NumberFormat data-2.04400-00500}}</td>
<td class="right">44</td>
</tr>
<tr><td class="right">45</td>
<td> Occupational Therapy</td>
<td class="data right">{{NumberFormat data-2.04500-00100}}</td>
<td class="data right">{{NumberFormat data-2.04500-00200}}</td>
<td class="data right">{{data-2.04500-00300}}</td>
<td class="data right">{{NumberFormat data-2.04500-00400}}</td>
<td class="data right">{{NumberFormat data-2.04500-00500}}</td>
<td class="right">45</td>
</tr>
<tr><td class="right">46</td>
<td> Speech Pathology</td>
<td class="data right">{{NumberFormat data-2.04600-00100}}</td>
<td class="data right">{{NumberFormat data-2.04600-00200}}</td>
<td class="data right">{{data-2.04600-00300}}</td>
<td class="data right">{{NumberFormat data-2.04600-00400}}</td>
<td class="data right">{{NumberFormat data-2.04600-00500}}</td>
<td class="right">46</td>
</tr>
<tr><td class="right">47</td>
<td> Electrocardiology</td>
<td class="data right">{{NumberFormat data-2.04700-00100}}</td>
<td class="data right">{{NumberFormat data-2.04700-00200}}</td>
<td class="data right">{{data-2.04700-00300}}</td>
<td class="data right">{{NumberFormat data-2.04700-00400}}</td>
<td class="data right">{{NumberFormat data-2.04700-00500}}</td>
<td class="right">47</td>
</tr>
<tr><td class="right">48</td>
<td> Medical Supplies Charged to Patients</td>
<td class="data right">{{NumberFormat data-2.04800-00100}}</td>
<td class="data right">{{NumberFormat data-2.04800-00200}}</td>
<td class="data right">{{data-2.04800-00300}}</td>
<td class="data right">{{NumberFormat data-2.04800-00400}}</td>
<td class="data right">{{NumberFormat data-2.04800-00500}}</td>
<td class="right">48</td>
</tr>
<tr><td class="right">49</td>
<td> Drugs Charged to Patients</td>
<td class="data right">{{NumberFormat data-2.04900-00100}}</td>
<td class="data right">{{NumberFormat data-2.04900-00200}}</td>
<td class="data right">{{data-2.04900-00300}}</td>
<td class="data right">{{NumberFormat data-2.04900-00400}}</td>
<td class="data right">{{NumberFormat data-2.04900-00500}}</td>
<td class="right">49</td>
</tr>
<tr><td class="right">50</td>
<td> Dental Care - Title XIX only</td>
<td class="data right">{{NumberFormat data-2.05000-00100}}</td>
<td class="data right">{{NumberFormat data-2.05000-00200}}</td>
<td class="data right">{{data-2.05000-00300}}</td>
<td class="data right">{{NumberFormat data-2.05000-00400}}</td>
<td class="data right">{{NumberFormat data-2.05000-00500}}</td>
<td class="right">50</td>
</tr>
<tr><td class="right">51</td>
<td> Support Surfaces</td>
<td class="data right">{{NumberFormat data-2.05100-00100}}</td>
<td class="data right">{{NumberFormat data-2.05100-00200}}</td>
<td class="data right">{{data-2.05100-00300}}</td>
<td class="data right">{{NumberFormat data-2.05100-00400}}</td>
<td class="data right">{{NumberFormat data-2.05100-00500}}</td>
<td class="right">51</td>
</tr>
<tr><td class="right">52</td>
<td> Other Ancillary Service Cost</td>
<td class="data right">{{NumberFormat data-2.05200-00100}}</td>
<td class="data right">{{NumberFormat data-2.05200-00200}}</td>
<td class="data right">{{data-2.05200-00300}}</td>
<td class="data right">{{NumberFormat data-2.05200-00400}}</td>
<td class="data right">{{NumberFormat data-2.05200-00500}}</td>
<td class="right">52</td>
</tr>
<tr><td class="right">100</td>
<td> Total  (sum of lines 40 - 52)</td>
<td class="data right">{{NumberFormat data-2.10000-00100}}</td>
<td class="data right">{{NumberFormat data-2.10000-00200}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-2.10000-00300}}</td>
<td class="data right">{{NumberFormat data-2.10000-00400}}</td>
<td class="data right">{{NumberFormat data-2.10000-00500}}</td>
<td class="right">100</td>
</tr>
<tr><td colspan="8">FORM CMS-2540-10 (12/2011)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4124.1)</td>
</tr>
<tr><td colspan="2">08-16</td>
<td colspan="4">&nbsp;</td>
<td> Rev. 7 </td>
<td>&nbsp;</td>
</tr>
</tbody></table>
</div>