
<div class="report"><table border="1" width="100%" cellpadding="1" cellspacing="1">
<colgroup><col width="4%">
<col width="39%">
<col width="19%">
<col width="19%">
<col width="15%">
<col width="4%">

</colgroup><thead><tr><td colspan="2"> CALCULATION OF REIMBURSEMENT SETTLEMENT TITLE FOR XVIII </td>
<td>Provider CCN: <span class="data">{{pId}}</span></td>
<td><div>PERIOD:</div><div>FROM <span class="data">{{year.start}}</span></div><div>TO <span class="data">{{year.end}}</span></div></td>
<td colspan="2"> WORKSHEET E PART I </td>
</tr>
</thead><tbody><tr><td colspan="6"> PART A - INPATIENT SERVICE PPS PROVIDER COMPUTATION OF REIMBURSEMENT </td>
</tr>
<tr><td class="right">1</td>
<td colspan="3"> Inpatient PPS amount (see instructions)</td>
<td class="data right">{{NumberFormat data-1.00100-00100}}</td>
<td class="right">1</td>
</tr>
<tr><td class="right">2</td>
<td colspan="3"> Nursing and Allied Health Education Activities (pass through payments)</td>
<td class="data right">{{NumberFormat data-1.00200-00100}}</td>
<td class="right">2</td>
</tr>
<tr><td class="right">3</td>
<td colspan="3"> Subtotal (sum of lines 1 and 2)</td>
<td class="data right">{{NumberFormat data-1.00300-00100}}</td>
<td class="right">3</td>
</tr>
<tr><td class="right">4</td>
<td colspan="3"> Primary payor amounts</td>
<td class="data right">{{NumberFormat data-1.00400-00100}}</td>
<td class="right">4</td>
</tr>
<tr><td class="right">5</td>
<td colspan="3"> Coinsurance</td>
<td class="data right">{{NumberFormat data-1.00500-00100}}</td>
<td class="right">5</td>
</tr>
<tr><td class="right">6</td>
<td colspan="3"> Allowable bad debts (from your records)</td>
<td class="data right">{{NumberFormat data-1.00600-00100}}</td>
<td class="right">6</td>
</tr>
<tr><td class="right">7</td>
<td colspan="3"> Allowable bad debts for dual eligible beneficiaries (see instructions)</td>
<td class="data right">{{NumberFormat data-1.00700-00100}}</td>
<td class="right">7</td>
</tr>
<tr><td class="right">8</td>
<td colspan="3"> Adjusted reimbursable bad debts (see instructions) </td>
<td class="data right">{{NumberFormat data-1.00800-00100}}</td>
<td class="right">8</td>
</tr>
<tr><td class="right">9</td>
<td colspan="3"> Recovery of bad debts - for statistical records only</td>
<td class="data right">{{NumberFormat data-1.00900-00100}}</td>
<td class="right">9</td>
</tr>
<tr><td class="right">10</td>
<td colspan="3"> Utilization review</td>
<td class="data right">{{NumberFormat data-1.01000-00100}}</td>
<td class="right">10</td>
</tr>
<tr><td class="right">11</td>
<td colspan="3"> Subtotal (see instructions)</td>
<td class="data right">{{NumberFormat data-1.01100-00100}}</td>
<td class="right">11</td>
</tr>
<tr><td class="right">12</td>
<td colspan="3"> Interim payments (see instructions)</td>
<td class="data right">{{NumberFormat data-1.01200-00100}}</td>
<td class="right">12</td>
</tr>
<tr><td class="right">13</td>
<td colspan="3"> Tentative adjustment</td>
<td class="data right">{{NumberFormat data-1.01300-00100}}</td>
<td class="right">13</td>
</tr>
<tr><td class="right">14</td>
<td colspan="3"> Other adjustment (see instructions) </td>
<td class="data right">{{NumberFormat data-1.01400-00100}}</td>
<td class="right">14</td>
</tr>


<tr><td class="right">14.50</td>
<td colspan="3"> Pioneer ACO demonstration payment adjustment (see instructions)</td>
<td class="data right">{{NumberFormat data-1.01450-00100}}</td>
<td class="right">14.50</td>
</tr>
<tr><td class="right">14.99</td>
<td colspan="3"> Sequestration amount (see instructions) </td>
<td class="data right">{{NumberFormat data-1.01499-00100}}</td>
<td class="right">14.99</td>
</tr>
<tr><td class="right">15</td>
<td colspan="3"> Balance due provider/program (line 11 minus line 12 and 13, plus or minus line 14) (Indicate overpayment in parentheses) (see instructions) </td>
<td class="data right">{{NumberFormat data-1.01500-00100}}</td>
<td class="right">15</td>
</tr>
<tr><td class="right">16</td>
<td colspan="3"> Protested amounts (nonallowable cost report items) in accordance with CMS Pub. 15-2, section 115.2</td>
<td class="data right">{{NumberFormat data-1.01600-00100}}</td>
<td class="right">16</td>
</tr>
<tr><td colspan="6">&nbsp;</td>
</tr>
<tr><td colspan="6"> PART B - ANCILLARY SERVICE COMPUTATION OF REIMBURSEMENT LESSER OF COST OR CHARGES - TITLE XVIII ONLY</td>
</tr>
<tr><td class="right">17</td>
<td colspan="3"> Ancillary services Part B</td>
<td class="data right">{{NumberFormat data-1.01700-00100}}</td>
<td class="right">17</td>
</tr>
<tr><td class="right">18</td>
<td colspan="3"> Vaccine cost (from Wkst. D, Pt. II, line 3)</td>
<td class="data right">{{NumberFormat data-1.01800-00100}}</td>
<td class="right">18</td>
</tr>
<tr><td class="right">19</td>
<td colspan="3"> Total reasonable costs (sum of lines 17 and 18)</td>
<td class="data right">{{NumberFormat data-1.01900-00100}}</td>
<td class="right">19</td>
</tr>
<tr><td class="right">20</td>
<td colspan="3"> Medicare Part B ancillary charges (see instructions)</td>
<td class="data right">{{NumberFormat data-1.02000-00100}}</td>
<td class="right">20</td>
</tr>
<tr><td class="right">21</td>
<td colspan="3"> Cost of covered services (lesser of line 19 or line 20)</td>
<td class="data right">{{NumberFormat data-1.02100-00100}}</td>
<td class="right">21</td>
</tr>
<tr><td class="right">22</td>
<td colspan="3"> Primary payor amounts</td>
<td class="data right">{{NumberFormat data-1.02200-00100}}</td>
<td class="right">22</td>
</tr>
<tr><td class="right">23</td>
<td colspan="3"> Coinsurance and deductibles</td>
<td class="data right">{{NumberFormat data-1.02300-00100}}</td>
<td class="right">23</td>
</tr>
<tr><td class="right">24</td>
<td colspan="3"> Allowable bad debts (from your records)</td>
<td class="data right">{{NumberFormat data-1.02400-00100}}</td>
<td class="right">24</td>
</tr>

<tr><td class="right">24.01</td>
<td colspan="3"> Allowable bad debts for dual eligible beneficiaries (see instructions)</td>
<td class="data right">{{NumberFormat data-1.02401-00100}}</td>
<td class="right">24.01</td>
</tr>
<tr><td class="right">24.02</td>
<td colspan="3">Reimbursable bad debts (see instructions)</td>
<td class="data right">{{NumberFormat data-1.02402-00100}}</td>
<td class="right">24.02</td>
</tr>

<tr><td class="right">25</td>
<td colspan="3"> Subtotal (sum of lines 21 and 24, minus lines 22 and 23)</td>
<td class="data right">{{NumberFormat data-1.02500-00100}}</td>
<td class="right">25</td>
</tr>
<tr><td class="right">26</td>
<td colspan="3"> Interim payments (see instructions)</td>
<td class="data right">{{NumberFormat data-1.02600-00100}}</td>
<td class="right">26</td>
</tr>
<tr><td class="right">27</td>
<td colspan="3"> Tentative adjustment</td>
<td class="data right">{{NumberFormat data-1.02700-00100}}</td>
<td class="right">27</td>
</tr>
<tr><td class="right">28</td>
<td colspan="3"> Other Adjustments (Specify __) (see instructions)</td>
<td class="data right">{{NumberFormat data-1.02800-00100}}</td>
<td class="right">28</td>
</tr>



<tr><td class="right">28.50</td>
<td colspan="3"> Pioneer ACO demonstration payment adjustment (see instructions)</td>
<td class="data right">{{NumberFormat data-1.02850-00100}}</td>
<td class="right">28.50</td>
</tr>

<tr><td class="right">28.99</td>
<td colspan="3"> Sequestration amount (see instructions) </td>
<td class="data right">{{NumberFormat data-1.02899-00100}}</td>
<td class="right">28.99</td>
</tr>

<tr><td class="right">29</td>
<td colspan="3"> Balance due provider/program (line 25 minus line 26, 27 and plus or minus line 28) (indicate overpayments in parentheses) (see instructions) </td>
<td class="data right">{{NumberFormat data-1.02900-00100}}</td>
<td class="right">29</td>
</tr>
<tr><td class="right">30</td>
<td colspan="3"> Protested amounts (nonallowable cost report items) in accordance with CMS Pub. 15-2, section 115.2</td>
<td class="data right">{{NumberFormat data-1.03000-00100}}</td>
<td class="right">30</td>
</tr>
<tr><td class="right" colspan="6">&nbsp;</td>
</tr>
<tr><td colspan="6">FORM CMS-2540-10 (08/2016) (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4130)</td>
</tr>
<tr><td colspan="2">08-16</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td> Rev. 7 </td>
<td>&nbsp;</td>
</tr>
</tbody></table>
</div>