
<div class="report"><table border="1" width="100%" cellpadding="1" cellspacing="1">
<colgroup><col width="3%">
<col width="37%">
<col width="19%">
<col width="19%">
<col width="19%">
<col width="3%">

</colgroup><thead><tr><td colspan="2"> STATEMENT  OF  PATIENT  REVENUES  AND  OPERATING  EXPENSES </td>
<td>Provider CCN: <span class="data">{{pId}}</span></td>
<td><div>PERIOD:</div><div>FROM <span class="data">{{year.start}}</span></div><div>TO <span class="data">{{year.end}}</span></div></td>
<td> WORKSHEET  G - 2  PARTS I &amp; II </td>
<td>&nbsp;</td>
</tr>
</thead><tbody><tr><td colspan="6">PART  I  -  PATIENT  REVENUES</td>
</tr>
<tr><td colspan="2">    Revenue  Center  </td>
<td class="center">INPATIENT</td>
<td class="center">OUTPATIENT</td>
<td class="center"> TOTAL</td>
<td>&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td class="center">1</td>
<td class="center">2</td>
<td class="center">3</td>
<td>&nbsp;</td>
</tr>
<tr><td colspan="6"> General  Inpatient Routine  Care  Services</td>
</tr>
<tr><td class="right">1</td>
<td> Skilled nursing facility</td>
<td class="data right">{{NumberFormat data-1.00100-00100}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00100-00200}}</td>
<td class="data right">{{NumberFormat data-1.00100-00300}}</td>
<td class="right">1</td>
</tr>
<tr><td class="right">2</td>
<td> Nursing facility</td>
<td class="data right">{{NumberFormat data-1.00200-00100}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00200-00200}}</td>
<td class="data right">{{NumberFormat data-1.00200-00300}}</td>
<td class="right">2</td>
</tr>
<tr><td class="right">3</td>
<td> ICF/IID</td>
<td class="data right">{{NumberFormat data-1.00300-00100}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00300-00200}}</td>
<td class="data right">{{NumberFormat data-1.00300-00300}}</td>
<td class="right">3</td>
</tr>
<tr><td class="right">4</td>
<td> Other long term care</td>
<td class="data right">{{NumberFormat data-1.00400-00100}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00400-00200}}</td>
<td class="data right">{{NumberFormat data-1.00400-00300}}</td>
<td class="right">4</td>
</tr>
<tr><td class="right">5</td>
<td> Total general inpatient care services </td>
<td class="data right">{{NumberFormat data-1.00500-00100}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00500-00200}}</td>
<td class="data right">{{NumberFormat data-1.00500-00300}}</td>
<td class="right">5</td>
</tr>
<tr><td>&nbsp;</td>
<td> (sum of lines 1 - 4)</td>
<td class="right">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right">&nbsp;</td>
<td class="right">&nbsp;</td>
</tr>
<tr><td colspan="2">  All  Other  Care  Service</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
</tr>
<tr><td class="right">6</td>
<td> Ancillary services</td>
<td class="data right">{{NumberFormat data-1.00600-00100}}</td>
<td class="data right">{{NumberFormat data-1.00600-00200}}</td>
<td class="data right">{{NumberFormat data-1.00600-00300}}</td>
<td class="right">6</td>
</tr>
<tr><td class="right">7</td>
<td> Clinic</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00700-00100}}</td>
<td class="data right">{{NumberFormat data-1.00700-00200}}</td>
<td class="data right">{{NumberFormat data-1.00700-00300}}</td>
<td class="right">7</td>
</tr>
<tr><td class="right">8</td>
<td> Home health agency</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00800-00100}}</td>
<td class="data right">{{NumberFormat data-1.00800-00200}}</td>
<td class="data right">{{NumberFormat data-1.00800-00300}}</td>
<td class="right">8</td>
</tr>
<tr><td class="right">9</td>
<td> Ambulance</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.00900-00100}}</td>
<td class="data right">{{NumberFormat data-1.00900-00200}}</td>
<td class="data right">{{NumberFormat data-1.00900-00300}}</td>
<td class="right">9</td>
</tr>
<tr><td class="right">10</td>
<td> RHC/FQHC</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.01000-00100}}</td>
<td class="data right">{{NumberFormat data-1.01000-00200}}</td>
<td class="data right">{{NumberFormat data-1.01000-00300}}</td>
<td class="right">10</td>
</tr>
<tr><td class="right">11</td>
<td> CMHC</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.01100-00100}}</td>
<td class="data right">{{NumberFormat data-1.01100-00200}}</td>
<td class="data right">{{NumberFormat data-1.01100-00300}}</td>
<td class="right">11</td>
</tr>
<tr><td class="right">12</td>
<td>Hospice</td>
<td class="data right">{{NumberFormat data-1.01200-00100}}</td>
<td class="data right">{{NumberFormat data-1.01200-00200}}</td>
<td class="data right">{{NumberFormat data-1.01200-00300}}</td>
<td class="right">12</td>
</tr>
<tr><td class="right">13</td>
<td> Other (specify {{data-1.01300-00000}}) </td>
<td class="data right">{{NumberFormat data-1.01300-00100}}</td>
<td class="data right">{{NumberFormat data-1.01300-00200}}</td>
<td class="data right">{{NumberFormat data-1.01300-00300}}</td>
<td class="right">13</td>
</tr>
<tr><td class="right">14</td>
<td> Total patient revenues  (sum of lines 5 - 13)  (transfer to Wkst. G-3, col. 3, line 1 ) </td>
<td class="data right">{{NumberFormat data-1.01400-00100}}</td>
<td class="data right">{{NumberFormat data-1.01400-00200}}</td>
<td class="data right">{{NumberFormat data-1.01400-00300}}</td>
<td class="right">14</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td class="right">&nbsp;</td>
<td class="right">&nbsp;</td>
<td class="right">&nbsp;</td>
<td class="right">&nbsp;</td>
</tr>
<tr><td colspan="6"> PART  II  -  OPERATING  EXPENSES</td>
</tr>
<tr><td class="right">1</td>
<td colspan="2"> Operating Expenses  (per Wkst. A, col. 3, line 100)</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-2.00100-00100}}</td>
<td class="data right">{{NumberFormat data-2.00100-00200}}</td>
<td class="right">1</td>
</tr>
<tr><td class="right">2</td>
<td colspan="2"> Add  ( {{NumberFormat data-2.00200-00000}} )</td>
<td class="data right">{{NumberFormat data-2.00200-00100}}</td>
<td class="data right fillgrey">&nbsp;</td>
<td class="right">2</td>
</tr>
<tr><td class="right">3</td>
<td class="data" colspan="2">&nbsp;{{NumberFormat data-2.00300-00000}}</td>
<td class="data right">{{NumberFormat data-2.00300-00100}}</td>
<td class="data right fillgrey">&nbsp;</td>
<td class="right">3</td>
</tr>
<tr><td class="right">4</td>
<td class="data" colspan="2">&nbsp;{{NumberFormat data-2.00400-00000}}</td>
<td class="data right">{{NumberFormat data-2.00400-00100}}</td>
<td class="data right fillgrey">&nbsp;</td>
<td class="right">4</td>
</tr>
<tr><td class="right">5</td>
<td class="data" colspan="2">&nbsp;{{NumberFormat data-2.00500-00000}}</td>
<td class="data right">{{NumberFormat data-2.00500-00100}}</td>
<td class="data right fillgrey">&nbsp;</td>
<td class="right">5</td>
</tr>
<tr><td class="right">6</td>
<td class="data" colspan="2">&nbsp;{{NumberFormat data-2.00600-00000}}</td>
<td class="data right">{{NumberFormat data-2.00600-00100}}</td>
<td class="data right fillgrey">&nbsp;</td>
<td class="right">6</td>
</tr>
<tr><td class="right">7</td>
<td class="data" colspan="2">&nbsp;{{NumberFormat data-2.00700-00000}}</td>
<td class="data right">{{NumberFormat data-2.00700-00100}}</td>
<td class="data right fillgrey">&nbsp;</td>
<td class="right">7</td>
</tr>
<tr><td class="right">8</td>
<td colspan="2"> Total Additions  (sum of lines 2 - 7) </td>
<td class="data right fillgrey">&nbsp;</td>
<td class="data right">{{NumberFormat data-2.00800-00200}}</td>
<td class="right">8</td>
</tr>
<tr><td class="right">9</td>
<td colspan="2"> Deduct  ({{data-2.00900-00000}})</td>
<td class="data right">{{NumberFormat data-2.00900-00100}}</td>
<td class="data right fillgrey">&nbsp;</td>
<td class="right">9</td>
</tr>
<tr><td class="right">10</td>
<td class="data" colspan="2">&nbsp;{{NumberFormat data-2.01000-00000}}</td>
<td class="data right">{{NumberFormat data-2.01000-00100}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-2.01000-00200}}</td>
<td class="right">10</td>
</tr>
<tr><td class="right">11</td>
<td class="data" colspan="2">&nbsp;{{NumberFormat data-2.01100-00000}}</td>
<td class="data right">{{NumberFormat data-2.01100-00100}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-2.01100-00200}}</td>
<td class="right">11</td>
</tr>
<tr><td class="right">12</td>
<td class="data" colspan="2">&nbsp;{{NumberFormat data-2.01200-00000}}</td>
<td class="data right">{{NumberFormat data-2.01200-00100}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-2.01200-00200}}</td>
<td class="right">12</td>
</tr>
<tr><td class="right">13</td>
<td class="data" colspan="2">&nbsp;{{NumberFormat data-2.01300-00000}}</td>
<td class="data right">{{NumberFormat data-2.01300-00100}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-2.01300-00200}}</td>
<td class="right">13</td>
</tr>
<tr><td class="right">14</td>
<td colspan="2"> Total Deductions  (sum of lines 9 - 13)</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-2.01400-00100}}</td>
<td class="data right">{{NumberFormat data-2.01400-00200}}</td>
<td class="right">14</td>
</tr>
<tr><td class="right">15</td>
<td colspan="2"> Total Operating Expenses  (sum of lines 1 and 8, minus line 14)</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-2.01500-00100}}</td>
<td class="data right">{{NumberFormat data-2.01500-00200}}</td>
<td class="right">15</td>
</tr>
<tr><td colspan="6">FORM CMS-2540-10 (08/2016)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4140)</td>
</tr>
<tr><td colspan="4">08-16</td>
<td> Rev. 7 </td>
<td>&nbsp;</td>
</tr>
</tbody></table>
</div>
</body>

</html>