
<div class="report"><table border="1" width="100%" cellpadding="1" cellspacing="1">
<colgroup><col width="4%">
<col width="36%">
<col width="14%">
<col width="14%">
<col width="14%">
<col width="14%">
<col width="4%">
</colgroup><thead><tr><td colspan="3"> STATEMENT  OF  REVENUES        AND  EXPENSES       </td>
<td>Provider CCN: <span class="data">{{pId}}</span></td>
<td><div>PERIOD:</div><div>FROM <span class="data">{{year.start}}</span></div><div>TO <span class="data">{{year.end}}</span></div></td>
<td colspan="2"> WORKSHEET G-3</td>
</tr>
</thead><tbody><tr><td class="right">1</td>
<td colspan="4"> Total patient revenues  (from Wkst. G-2,  Pt. I, col. 3, line 14)</td>
<td class="data right">{{NumberFormat data-1.00100-00100}}</td>
<td class="right">1</td>
</tr>
<tr><td class="right">2</td>
<td colspan="4"> Less: contractual allowances and discounts on patients accounts</td>
<td class="data right">{{NumberFormat data-1.00200-00100}}</td>
<td class="right">2</td>
</tr>
<tr><td class="right">3</td>
<td colspan="4"> Net patient revenues  (line 1 minus line 2)</td>
<td class="data right">{{NumberFormat data-1.00300-00100}}</td>
<td class="right">3</td>
</tr>
<tr><td class="right">4</td>
<td colspan="4"> Less: total operating expenses  (fom Wkst. G-2, Pt. II, line 15)</td>
<td class="data right">{{NumberFormat data-1.00400-00100}}</td>
<td class="right">4</td>
</tr>
<tr><td class="right">5</td>
<td colspan="4"> Net income from service to patients  (line 3 minus 4)</td>
<td class="data right">{{NumberFormat data-1.00500-00100}}</td>
<td class="right">5</td>
</tr>
<tr><td class="right">&nbsp;</td>
<td colspan="4"> Other income:</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right">&nbsp;</td>
</tr>
<tr><td class="right">6</td>
<td colspan="4">     Contributions, donations, bequests, etc.</td>
<td class="data right">{{NumberFormat data-1.00600-00100}}</td>
<td class="right">6</td>
</tr>
<tr><td class="right">7</td>
<td colspan="4">     Income from investments</td>
<td class="data right">{{NumberFormat data-1.00700-00100}}</td>
<td class="right">7</td>
</tr>
<tr><td class="right">8</td>
<td colspan="4">     Revenues from communications  (telephone and internet service)</td>
<td class="data right">{{NumberFormat data-1.00800-00100}}</td>
<td class="right">8</td>
</tr>
<tr><td class="right">9</td>
<td colspan="4">     Revenue from television and radio service</td>
<td class="data right">{{NumberFormat data-1.00900-00100}}</td>
<td class="right">9</td>
</tr>
<tr><td class="right">10</td>
<td colspan="4">     Purchase discounts</td>
<td class="data right">{{NumberFormat data-1.01000-00100}}</td>
<td class="right">10</td>
</tr>
<tr><td class="right">11</td>
<td colspan="4">     Rebates and refunds of expenses</td>
<td class="data right">{{NumberFormat data-1.01100-00100}}</td>
<td class="right">11</td>
</tr>
<tr><td class="right">12</td>
<td colspan="4">     Parking lot receipts</td>
<td class="data right">{{NumberFormat data-1.01200-00100}}</td>
<td class="right">12</td>
</tr>
<tr><td class="right">13</td>
<td colspan="4">     Revenue from laundry and linen service</td>
<td class="data right">{{NumberFormat data-1.01300-00100}}</td>
<td class="right">13</td>
</tr>
<tr><td class="right">14</td>
<td colspan="4">     Revenue from meals sold to employees and guests</td>
<td class="data right">{{NumberFormat data-1.01400-00100}}</td>
<td class="right">14</td>
</tr>
<tr><td class="right">15</td>
<td colspan="4">     Revenue from rental of living quarters</td>
<td class="data right">{{NumberFormat data-1.01500-00100}}</td>
<td class="right">15</td>
</tr>
<tr><td class="right">16</td>
<td colspan="4">     Revenue from sale of medical and surgical supplies to other than patients</td>
<td class="data right">{{NumberFormat data-1.01600-00100}}</td>
<td class="right">16</td>
</tr>
<tr><td class="right">17</td>
<td colspan="4">     Revenue from sale of drugs to other than patients</td>
<td class="data right">{{NumberFormat data-1.01700-00100}}</td>
<td class="right">17</td>
</tr>
<tr><td class="right">18</td>
<td colspan="4">     Revenue from sale of medical records and abstracts</td>
<td class="data right">{{NumberFormat data-1.01800-00100}}</td>
<td class="right">18</td>
</tr>
<tr><td class="right">19</td>
<td colspan="4">     Tuition (fees, sale of textbooks, uniforms, etc.)</td>
<td class="data right">{{NumberFormat data-1.01900-00100}}</td>
<td class="right">19</td>
</tr>
<tr><td class="right">20</td>
<td colspan="4">     Revenue from gifts, flower, coffee shops, canteen</td>
<td class="data right">{{NumberFormat data-1.02000-00100}}</td>
<td class="right">20</td>
</tr>
<tr><td class="right">21</td>
<td colspan="4">     Rental of vending machines</td>
<td class="data right">{{NumberFormat data-1.02100-00100}}</td>
<td class="right">21</td>
</tr>
<tr><td class="right">22</td>
<td colspan="4">     Rental of skilled nursing space</td>
<td class="data right">{{NumberFormat data-1.02200-00100}}</td>
<td class="right">22</td>
</tr>
<tr><td class="right">23</td>
<td colspan="4">     Governmental appropriations</td>
<td class="data right">{{NumberFormat data-1.02300-00100}}</td>
<td class="right">23</td>
</tr>
<tr><td class="right">24</td>
<td colspan="4">     Other miscellaneous revenue(specify {{data-1.02400-00000}}, {{data-1.02401-00000}}, {{data-1.02402-00000}}, {{data-1.02403-00000}}, {{data-1.02404-00000}}) </td>
<td class="data right">{{NumberFormat data-1.02400-00100}}</td>
<td class="right">24</td>
</tr>
<tr><td class="right">25</td>
<td colspan="4"> Total other income  (sum of lines 6 - 24)</td>
<td class="data right">{{NumberFormat data-1.02500-00100}}</td>
<td class="right">25</td>
</tr>
<tr><td class="right">26</td>
<td colspan="4"> Total (line 5 plus line 25)</td>
<td class="data right">{{NumberFormat data-1.02600-00100}}</td>
<td class="right">26</td>
</tr>
<tr><td class="right">27</td>
<td colspan="4"> Other expenses  (specify {{data-1.02700-00000}})</td>
<td class="data right">{{NumberFormat data-1.02700-00100}}</td>
<td class="right">27</td>
</tr>
<tr><td class="right">28</td>
<td class="data" colspan="4">{{data-1.02800-00000}}</td>
<td class="data right">{{NumberFormat data-1.02800-00100}}</td>
<td class="right">28</td>
</tr>
<tr><td class="right">29</td>
<td class="data" colspan="4">{{data-1.02900-00000}}</td>
<td class="data right">{{NumberFormat data-1.02900-00100}}</td>
<td class="right">29</td>
</tr>
<tr><td class="right">30</td>
<td colspan="4"> Total other expenses  (sum of lines 27 - 29)</td>
<td class="data right">{{NumberFormat data-1.03000-00100}}</td>
<td class="right">30</td>
</tr>
<tr><td class="right">31</td>
<td colspan="4"> Net income (or loss) for the period  (line 26 minus line 30)</td>
<td class="data right">{{NumberFormat data-1.03100-00100}}</td>
<td class="right">31</td>
</tr>
<tr><td colspan="7">FORM CMS-2540-10 (09/2011)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4140)</td>
</tr>
<tr><td colspan="2">08-16</td>
<td colspan="3">&nbsp;</td>
<td colspan="2">Rev. 7</td>
</tr>
</tbody></table>
</div>
