<div class="report"><table border="1" width="100%" cellpadding="1" cellspacing="1">
<colgroup><col width="3%">
<col width="8%">
<col width="8%">
<col width="8%">
<col width="8%">
<col width="8%">
<col width="18%">
<col width="6%">
<col width="6%">
<col width="6%">
<col width="6%">
<col width="6%">
<col width="6%">
<col width="3%">
</colgroup><thead><tr><td class="left" colspan="7"> SKILLED NURSING FACILITY AND SKILLED NURSING FACILITY HEALTH CARE COMPLEX IDENTIFICATION DATA</td>
<td colspan="2">Provider CCN: <span class="data">{{pId}}</span></td>
<td colspan="2"><div>PERIOD:</div><div>FROM <span class="data">{{year.start}}</span></div><div>TO <span class="data">{{year.end}}</span></div></td>
<td colspan="3"> WORKSHEET S-2  PART&nbsp;I </td>
</tr>
</thead><tbody><tr><td colspan="14">&nbsp;</td>
</tr>
<tr><td colspan="14"> Skilled  Nursing  Facility  and  Skilled  Nursing  Facility  Complex  Address:</td>
</tr>
<tr><td class="right">1</td>
<td colspan="4"> Street: <span class="data">{{data-1.00100-00100}}</span></td>
<td colspan="2"> P.O.  Box: <span class="data">{{data-1.00100-00200}}</span></td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="right">1</td>
</tr>
<tr><td class="right">2</td>
<td colspan="4"> City: <span class="data">{{data-1.00200-00100}}</span></td>
<td colspan="2"> State: <span class="data">{{data-1.00200-00200}}</span></td>
<td colspan="2"> ZIP Code: <span class="data">{{data-1.00200-00300}}</span></td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="right">2</td>
</tr>
<tr><td class="right">3</td>
<td colspan="4"> County: <span class="data">{{data-1.00300-00100}}</span></td>
<td colspan="2"> CBSA Code: <span class="data">{{data-1.00300-00200}}</span></td>
<td colspan="2"> Urban / Rural: <span class="data">{{data-1.00300-00300}}</span></td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="right">3</td>
</tr>
<tr><td colspan="14">&nbsp;</td>
</tr>
<tr><td colspan="14"> SNF  and  SNF - Based  Component  Identification:</td>
</tr>
<tr><td rowspan="3">&nbsp;</td>
<td colspan="3" rowspan="2">      Component  </td>
<td colspan="4" rowspan="2">  Component Name </td>
<td rowspan="2"> Provider CCN </td>
<td rowspan="2"> Date Certified </td>
<td colspan="3"> Payment System (P,  O or  N)   </td>
<td class="right" rowspan="3">&nbsp;</td>
</tr>
<tr><td class="center">V</td>
<td class="center">XVIII</td>
<td class="center">XIX</td>
</tr>
<tr><td class="center" colspan="3"> 0 </td>
<td class="center" colspan="4">1</td>
<td class="center">2</td>
<td class="center">3</td>
<td class="center">4</td>
<td class="center">5</td>
<td class="center">6</td>
</tr>
<tr><td class="right">4</td>
<td colspan="3"> S N F </td>
<td class="data" colspan="4">{{data-1.00400-00100}}</td>
<td class="data center">{{data-1.00400-00200}}</td>
<td class="data center">{{data-1.00400-00300}}</td>
<td class="data center">{{data-1.00400-00400}}</td>
<td class="data center">{{data-1.00400-00500}}</td>
<td class="data center">{{data-1.00400-00600}}</td>
<td class="right">4</td>
</tr>
<tr><td class="right">5</td>
<td colspan="3"> Nursing Facility</td>
<td class="data" colspan="4">{{data-1.00500-00100}}</td>
<td class="data center">{{data-1.00500-00200}}</td>
<td class="data center">{{data-1.00500-00300}}</td>
<td class="data center">{{data-1.00500-00400}}</td>
<td class="center fillgrey">&nbsp;{{data-1.00500-00500}}</td>
<td class="data center">{{data-1.00500-00600}}</td>
<td class="right">5</td>
</tr>
<tr><td class="right">6</td>
<td colspan="3"> I C F/IID</td>
<td class="data" colspan="4">{{data-1.00600-00100}}</td>
<td class="data center">{{data-1.00600-00200}}</td>
<td class="data center">{{data-1.00600-00300}}</td>
<td class="center fillgrey">&nbsp;{{data-1.00600-00400}}</td>
<td class="center fillgrey">&nbsp;{{data-1.00600-00500}}</td>
<td class="data center">{{data-1.00600-00600}}</td>
<td class="right">6</td>
</tr>
<tr><td class="right">7</td>
<td colspan="3"> SNF-Based HHA</td>
<td class="data" colspan="4">{{data-1.00700-00100}}</td>
<td class="data center">{{data-1.00700-00200}}</td>
<td class="data center">{{data-1.00700-00300}}</td>
<td class="data center">{{data-1.00700-00400}}</td>
<td class="data center">{{data-1.00700-00500}}</td>
<td class="data center">{{data-1.00700-00600}}</td>
<td class="right">7</td>
</tr>
<tr><td class="right">8</td>
<td colspan="3"> SNF-Based RHC</td>
<td class="data" colspan="4">{{data-1.00800-00100}}</td>
<td class="data center">{{data-1.00800-00200}}</td>
<td class="data center">{{data-1.00800-00300}}</td>
<td class="data center">{{data-1.00800-00400}}</td>
<td class="data center">{{data-1.00800-00500}}</td>
<td class="data center">{{data-1.00800-00600}}</td>
<td class="right">8</td>
</tr>
<tr><td class="right">9</td>
<td colspan="3"> SNF-Based FQHC</td>
<td class="data" colspan="4">{{data-1.00900-00100}}</td>
<td class="data center">{{data-1.00900-00200}}</td>
<td class="data center">{{data-1.00900-00300}}</td>
<td class="data center">{{data-1.00900-00400}}</td>
<td class="data center">{{data-1.00900-00500}}</td>
<td class="data center">{{data-1.00900-00600}}</td>
<td class="right">9</td>
</tr>
<tr><td class="right">10</td>
<td colspan="3"> SNF-Based CMHC</td>
<td class="data" colspan="4">{{data-1.01000-00100}}</td>
<td class="data center">{{data-1.01000-00200}}</td>
<td class="data center">{{data-1.01000-00300}}</td>
<td class="data center">{{data-1.01000-00400}}</td>
<td class="data center">{{data-1.01000-00500}}</td>
<td class="data center">{{data-1.01000-00600}}</td>
<td class="right">10</td>
</tr>
<tr><td class="right">11</td>
<td colspan="3"> SNF-Based OLTC</td>
<td class="data" colspan="4">{{data-1.01100-00100}}</td>
<td class="data center fillgrey">&nbsp;{{data-1.01100-00200}}</td>
<td class="data center fillgrey">&nbsp;{{data-1.01100-00300}}</td>
<td class="data center fillgrey">&nbsp;{{data-1.01100-00400}}</td>
<td class="data center fillgrey">&nbsp;{{data-1.01100-00500}}</td>
<td class="data center fillgrey">&nbsp;{{data-1.01100-00600}}</td>
<td class="right">11</td>
</tr>
<tr><td class="right">12</td>
<td colspan="3"> SNF-Based HOSPICE</td>
<td class="data" colspan="4">{{data-1.01200-00100}}</td>
<td class="data center">{{data-1.01200-00200}}</td>
<td class="data center">{{data-1.01200-00300}}</td>
<td class="data center fillgrey">&nbsp;{{data-1.01200-00400}}</td>
<td class="data center fillgrey">&nbsp;{{data-1.01200-00500}}</td>
<td class="data center fillgrey">&nbsp;{{data-1.01200-00600}}</td>
<td class="right">12</td>
</tr>
<tr><td class="right">13</td>
<td colspan="3"> OTHER (specify) </td>
<td class="data" colspan="4">{{data-1.01300-00100}}</td>
<td class="data center">{{data-1.01300-00200}}</td>
<td class="data center">{{data-1.01300-00300}}</td>
<td class="data center fillgrey">&nbsp;{{data-1.01300-00400}}</td>
<td class="data center fillgrey">&nbsp;{{data-1.01300-00500}}</td>
<td class="data center fillgrey">&nbsp;{{data-1.01300-00600}}</td>
<td class="right">13</td>
</tr>
<tr><td class="right">14</td>
<td colspan="3"> Cost Reporting Period (mm/dd/yyyy)         </td>
<td colspan="2"> From: <span class="data">{{data-1.01400-00100}}</span></td>
<td colspan="2"> To: <span class="data">{{data-1.01400-00200}}</span></td>
<td class="data fillgrey">&nbsp;{{data-1.01400-00300}}</td>
<td class="data fillgrey">&nbsp;{{data-1.01400-00400}}</td>
<td class="data fillgrey">&nbsp;{{data-1.01400-00500}}</td>
<td class="data fillgrey">&nbsp;{{data-1.01400-00600}}</td>
<td class="data fillgrey">&nbsp;{{data-1.01400-00700}}</td>
<td class="right">14</td>
</tr>
<tr><td class="right">15</td>
<td colspan="5"> Type of Control  (see instructions)</td>
<td class="data" colspan="2">{{data-1.01500-00100}}</td>
<td class="data" colspan="5">{{data-1.01500-00200}}</td>
<td class="right">15</td>
</tr>
<tr><td colspan="14">&nbsp;</td>
</tr>
<tr><td colspan="8"> Type  of  Freestanding  Skilled  Nursing  Facility</td>
<td class="center">Y / N</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="right">&nbsp;</td>
</tr>
<tr><td class="right">16</td>
<td colspan="7"> Is this a distinct part skilled nursing facility that meets the requirements set forth in 42 CFR section 483.5?</td>
<td class="data center">{{data-1.01600-00100}}</td>
<td class="data fillgrey">&nbsp;{{data-1.01600-00200}}</td>
<td class="data fillgrey">&nbsp;{{data-1.01600-00300}}</td>
<td class="data fillgrey">&nbsp;{{data-1.01600-00400}}</td>
<td class="data fillgrey">&nbsp;{{data-1.01600-00500}}</td>
<td class="right">16</td>
</tr>
<tr><td class="right">17</td>
<td colspan="7"> Is this a composite distinct part skilled nursing facility that meets the requirements set forth in 42 CFR section 483.5?</td>
<td class="data center">{{data-1.01700-00100}}</td>
<td class="data fillgrey">&nbsp;{{data-1.01700-00200}}</td>
<td class="data fillgrey">&nbsp;{{data-1.01700-00300}}</td>
<td class="data fillgrey">&nbsp;{{data-1.01700-00400}}</td>
<td class="data fillgrey">&nbsp;{{data-1.01700-00500}}</td>
<td class="right">17</td>
</tr>
<tr><td class="right">18</td>
<td colspan="7"> Are there any costs included in Worksheet A that resulted from transactions with related  organizations as defined in CMS Pub. 15-1, chapter 10?  If yes, complete Worksheet A-8-1. </td>
<td class="data center">{{data-1.01800-00100}}</td>
<td class="data fillgrey">&nbsp;{{data-1.01800-00200}}</td>
<td class="data fillgrey">&nbsp;{{data-1.01800-00300}}</td>
<td class="data fillgrey">&nbsp;{{data-1.01800-00400}}</td>
<td class="data fillgrey">&nbsp;{{data-1.01800-00500}}</td>
<td class="right">18</td>
</tr>
<tr><td colspan="14">&nbsp;</td>
</tr>
<tr><td colspan="14"> Miscellaneous  Cost  Reporting  Information</td>
</tr>
<tr><td class="right">19</td>
<td colspan="7"> Is this a low Medicare utilization cost report, enter "Y" for yes or "N" for no.</td>
<td class="data center">{{data-1.01900-00100}}</td>
<td class="data fillgrey">&nbsp;{{data-1.01900-00200}}</td>
<td class="data fillgrey">&nbsp;{{data-1.01900-00300}}</td>
<td class="data fillgrey">&nbsp;{{data-1.01900-00400}}</td>
<td class="data fillgrey">&nbsp;{{data-1.01900-00500}}</td>
<td class="right">19</td>
</tr>
<tr><td class="right">19.01</td>
<td colspan="7"> If the response to line 19 is "Y", does this cost report meet your contractor's criteria for filing a low utilization cost report?  (Y/N)</td>
<td class="data center">{{data-1.01901-00100}}</td>
<td class="data fillgrey">&nbsp;{{data-1.01901-00200}}</td>
<td class="data fillgrey">&nbsp;{{data-1.01901-00300}}</td>
<td class="data fillgrey">&nbsp;{{data-1.01901-00400}}</td>
<td class="data fillgrey">&nbsp;{{data-1.01901-00500}}</td>
<td class="right">19.01</td>
</tr>
<tr><td colspan="14">&nbsp;</td>
</tr>
<tr><td colspan="14"> Depreciation  -  Enter the amount of depreciation reported in this SNF for the method indicated on lines 20 - 22.</td>
</tr>
<tr><td class="right">20</td>
<td colspan="7"> Straight Line</td>
<td class="data center">{{data-1.02000-00100}}</td>
<td class="data fillgrey">&nbsp;{{data-1.02000-00200}}</td>
<td class="data fillgrey">&nbsp;{{data-1.02000-00300}}</td>
<td class="data fillgrey">&nbsp;{{data-1.02000-00400}}</td>
<td class="data fillgrey">&nbsp;{{data-1.02000-00500}}</td>
<td class="right">20</td>
</tr>
<tr><td class="right">21</td>
<td colspan="7"> Declining Balance</td>
<td class="data center">{{data-1.02100-00100}}</td>
<td class="data fillgrey">&nbsp;{{data-1.02100-00200}}</td>
<td class="data fillgrey">&nbsp;{{data-1.02100-00300}}</td>
<td class="data fillgrey">&nbsp;{{data-1.02100-00400}}</td>
<td class="data fillgrey">&nbsp;{{data-1.02100-00500}}</td>
<td class="right">21</td>
</tr>
<tr><td class="right">22</td>
<td colspan="7"> Sum of the Year's Digits</td>
<td class="data center">{{data-1.02200-00100}}</td>
<td class="data fillgrey">&nbsp;{{data-1.02200-00200}}</td>
<td class="data fillgrey">&nbsp;{{data-1.02200-00300}}</td>
<td class="data fillgrey">&nbsp;{{data-1.02200-00400}}</td>
<td class="data fillgrey">&nbsp;{{data-1.02200-00500}}</td>
<td class="right">22</td>
</tr>
<tr><td class="right">23</td>
<td colspan="7"> Sum of line 20 through  22</td>
<td class="data center">{{data-1.02300-00100}}</td>
<td class="data fillgrey">&nbsp;{{data-1.02300-00200}}</td>
<td class="data fillgrey">&nbsp;{{data-1.02300-00300}}</td>
<td class="data fillgrey">&nbsp;{{data-1.02300-00400}}</td>
<td class="data fillgrey">&nbsp;{{data-1.02300-00500}}</td>
<td class="right">23</td>
</tr>
<tr><td class="right">24</td>
<td colspan="7"> If depreciation is funded,  enter the balance as of the end of the period.</td>
<td class="data center">{{data-1.02400-00100}}</td>
<td class="data fillgrey">&nbsp;{{data-1.02400-00200}}</td>
<td class="data fillgrey">&nbsp;{{data-1.02400-00300}}</td>
<td class="data fillgrey">&nbsp;{{data-1.02400-00400}}</td>
<td class="data fillgrey">&nbsp;{{data-1.02400-00500}}</td>
<td class="right">24</td>
</tr>
<tr><td class="right">25</td>
<td colspan="7"> Were there any disposal of capital assets during the cost reporting period?  (Y/N)</td>
<td class="data center">{{data-1.02500-00100}}</td>
<td class="data fillgrey">&nbsp;{{data-1.02500-00200}}</td>
<td class="data fillgrey">&nbsp;{{data-1.02500-00300}}</td>
<td class="data fillgrey">&nbsp;{{data-1.02500-00400}}</td>
<td class="data fillgrey">&nbsp;{{data-1.02500-00500}}</td>
<td class="right">25</td>
</tr>
<tr><td class="right">26</td>
<td colspan="7"> Was accelerated depreciation claimed on any assets in the current or any prior cost reporting period?  (Y/N)</td>
<td class="data center">{{data-1.02600-00100}}</td>
<td class="data fillgrey">&nbsp;{{data-1.02600-00200}}</td>
<td class="data fillgrey">&nbsp;{{data-1.02600-00300}}</td>
<td class="data fillgrey">&nbsp;{{data-1.02600-00400}}</td>
<td class="data fillgrey">&nbsp;{{data-1.02600-00500}}</td>
<td class="right">26</td>
</tr>
<tr><td class="right">27</td>
<td colspan="7"> Did you cease to participate in the Medicare program at end of the period to which this cost report applies?  (Y?N)</td>
<td class="data center">{{data-1.02700-00100}}</td>
<td class="data fillgrey">&nbsp;{{data-1.02700-00200}}</td>
<td class="data fillgrey">&nbsp;{{data-1.02700-00300}}</td>
<td class="data fillgrey">&nbsp;{{data-1.02700-00400}}</td>
<td class="data fillgrey">&nbsp;{{data-1.02700-00500}}</td>
<td class="right">27</td>
</tr>
<tr><td class="right">28</td>
<td colspan="7"> Was there a substantial decrease in health insurance proportion of allowable cost from prior cost reports?  (Y/N)</td>
<td class="data center">{{data-1.02800-00100}}</td>
<td class="data fillgrey">&nbsp;{{data-1.02800-00200}}</td>
<td class="data fillgrey">&nbsp;{{data-1.02800-00300}}</td>
<td class="data fillgrey">&nbsp;{{data-1.02800-00400}}</td>
<td class="data fillgrey">&nbsp;{{data-1.02800-00500}}</td>
<td class="right">28</td>
</tr>
<tr><td colspan="10"> If this facility contains a public or non-public provider that qualifies for an exemption from the application of the lower of  costs or charges, enter "Y" for each component and type of service that qualifies for the exemption. </td>
<td class="center">Part A </td>
<td class="center">Part B </td>
<td class="center"> Other </td>
<td class="right">  </td>
</tr>
<tr><td class="right">29</td>
<td colspan="9"> Skilled Nursing Facility</td>
<td class="data center">{{data-1.02900-00100}}</td>
<td class="data center">{{data-1.02900-00200}}</td>
<td class="data center fillgrey">&nbsp;{{data-1.02900-00300}}</td>
<td class="right">29</td>
</tr>
<tr><td class="right">30</td>
<td colspan="9"> Nursing Facility</td>
<td class="data center fillgrey">&nbsp;{{data-1.03000-00100}}</td>
<td class="data center fillgrey">&nbsp;{{data-1.03000-00200}}</td>
<td class="data center">{{data-1.03000-00300}}</td>
<td class="right">30</td>
</tr>
<tr><td class="right">31</td>
<td colspan="9"> I C F / M R</td>
<td class="data center fillgrey">&nbsp;{{data-1.03100-00100}}</td>
<td class="data center fillgrey">&nbsp;{{data-1.03100-00200}}</td>
<td class="data center">{{data-1.03100-00300}}</td>
<td class="right">31</td>
</tr>
<tr><td class="right">32</td>
<td colspan="9"> SNF-Based HHA</td>
<td class="data center">{{data-1.03200-00100}}</td>
<td class="data center">{{data-1.03200-00200}}</td>
<td class="data center fillgrey">&nbsp;{{data-1.03200-00300}}</td>
<td class="right">32</td>
</tr>
<tr><td class="right">33</td>
<td colspan="9"> SNF-Based RHC</td>
<td class="data center fillgrey">&nbsp;{{data-1.03300-00100}}</td>
<td class="data center">{{data-1.03300-00200}}</td>
<td class="data center fillgrey">&nbsp;{{data-1.03300-00300}}</td>
<td class="right">33</td>
</tr>
<tr><td class="right">34</td>
<td colspan="9"> SNF-Based FQHC</td>
<td class="data center fillgrey">&nbsp;{{data-1.03400-00100}}</td>
<td class="data center">{{data-1.03400-00200}}</td>
<td class="data center fillgrey">&nbsp;{{data-1.03400-00300}}</td>
<td class="right">34</td>
</tr>
<tr><td class="right">35</td>
<td colspan="9"> SNF-Based CMHC</td>
<td class="data center fillgrey">&nbsp;{{data-1.03500-00100}}</td>
<td class="data center">{{data-1.03500-00200}}</td>
<td class="data center fillgrey">&nbsp;{{data-1.03500-00300}}</td>
<td class="right">35</td>
</tr>
<tr><td class="right">36</td>
<td colspan="9"> SNF-Based OLTC</td>
<td class="data center fillgrey">&nbsp;{{data-1.03600-00100}}</td>
<td class="data center fillgrey">&nbsp;{{data-1.03600-00200}}</td>
<td class="data center fillgrey">&nbsp;{{data-1.03600-00300}}</td>
<td class="right">36</td>
</tr>
<tr><td class="right" colspan="14">&nbsp;</td>
</tr>
<tr><td class="right" colspan="10">&nbsp;</td>
<td class="center">Y / N</td>
<td class="center fillgrey">&nbsp;</td>
<td class="center fillgrey">&nbsp;</td>
<td class="right">&nbsp;</td>
</tr>
<tr><td class="right">37</td>
<td colspan="9"> Is the skilled nursing facility located in a state that certifies the provider as a SNF regardless of the level of care given for Titles V &amp; XIX patients.  (Y/N)</td>
<td class="data center">{{data-1.03700-00100}}</td>
<td class="data center fillgrey">&nbsp;{{data-1.03700-00200}}</td>
<td class="data center fillgrey">&nbsp;{{data-1.03700-00300}}</td>
<td class="right">37</td>
</tr>
<tr><td class="right">38</td>
<td colspan="9"> Are you legally required to carry malpractice insurance?  (Y/N)</td>
<td class="data center">{{data-1.03800-00100}}</td>
<td class="data center fillgrey">&nbsp;{{data-1.03800-00200}}</td>
<td class="data center fillgrey">&nbsp;{{data-1.03800-00300}}</td>
<td class="right">38</td>
</tr>
<tr><td class="right">39</td>
<td colspan="9"> Is the malpractice a "claims-made" or "occurence" policy?  If the policy is "claims-made," enter 1.  If the policy is "occurence", enter 2.</td>
<td class="data center">{{data-1.03900-00100}}</td>
<td class="data center fillgrey">&nbsp;{{data-1.03900-00200}}</td>
<td class="data center fillgrey">&nbsp;{{data-1.03900-00300}}</td>
<td class="right">39</td>
</tr>
<tr><td class="right" colspan="14">&nbsp;</td>
</tr>
<tr><td class="right" colspan="8">&nbsp;</td>
<td class="center">Premiums</td>
<td class="center" colspan="2">Paid Losses</td>
<td class="center">Self insurance</td>
<td>&nbsp;</td>
<td class="right">&nbsp;</td>
</tr>
<tr><td class="right">41</td>
<td colspan="7"> List malpractice premiums and paid losses: </td>
<td class="data right">{{data-1.04100-00100}}</td>
<td class="data right" colspan="2">{{data-1.04100-00200}}</td>
<td class="data right">{{data-1.04100-00300}}</td>
<td>&nbsp;</td>
<td class="right">41</td>
</tr>
<tr><td class="right" colspan="14">&nbsp;</td>
</tr>
<tr><td class="right" colspan="8">&nbsp;</td>
<td class="center">Y / N</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td class="right">&nbsp;</td>
</tr>
<tr><td class="right">42</td>
<td colspan="7"> Are malpractice premiums and paid losses reported in other than the Administrative and General cost center?  Enter Y or N.  If "Y", check box, and submit supporting schedule listing cost centers and amounts. </td>
<td class="data center">{{data-1.04200-00100}}</td>
<td class="data fillgrey">&nbsp;{{data-1.04200-00200}}</td>
<td class="data fillgrey">&nbsp;{{data-1.04200-00300}}</td>
<td class="data fillgrey">&nbsp;{{data-1.04200-00400}}</td>
<td class="data fillgrey">&nbsp;{{data-1.04200-00500}}</td>
<td class="right">42</td>
</tr>
<tr><td class="right">43</td>
<td colspan="7"> Are there any home office costs as defined in CMS Pub. 15-1, chapter 10?  </td>
<td class="data center">{{data-1.04300-00100}}</td>
<td class="data fillgrey">&nbsp;{{data-1.04300-00200}}</td>
<td class="data fillgrey">&nbsp;{{data-1.04300-00300}}</td>
<td class="data fillgrey">&nbsp;{{data-1.04300-00400}}</td>
<td class="data fillgrey">&nbsp;{{data-1.04300-00500}}</td>
<td class="right">43</td>
</tr>
<tr><td class="right">44</td>
<td colspan="7"> If line 43 = "Y", and there are costs for the home office, enter the applicable home office chain number in column 1.</td>
<td class="data center">{{data-1.04400-00100}}</td>
<td class="data fillgrey">&nbsp;{{data-1.04400-00200}}</td>
<td class="data fillgrey">&nbsp;{{data-1.04400-00300}}</td>
<td class="data fillgrey">&nbsp;{{data-1.04400-00400}}</td>
<td class="data fillgrey">&nbsp;{{data-1.04400-00500}}</td>
<td class="right">44</td>
</tr>
<tr><td colspan="14">&nbsp;</td>
</tr>
<tr><td colspan="14"> If this facility is part of a chain organization, enter the name and address of the home office on the lines below.</td>
</tr>
<tr><td class="right">45</td>
<td colspan="4"> Name: <span class="data">{{data-1.04500-00100}}</span></td>
<td colspan="5"> Contractor Name: <span class="data">{{data-1.04500-00200}}</span></td>
<td colspan="3"> Contractor Number: <span class="data">{{data-1.04500-00300}}</span></td>
<td class="right">45</td>
</tr>
<tr><td class="right">46</td>
<td colspan="5"> Street: <span class="data">{{data-1.04600-00100}}</span></td>
<td colspan="7"> P.O.  Box: <span class="data">{{data-1.04600-00200}}</span></td>
<td class="right">46</td>
</tr>
<tr><td class="right">47</td>
<td colspan="3"> City: <span class="data">{{data-1.04700-00100}}</span></td>
<td colspan="2">State: <span class="data">{{data-1.04700-00200}}</span></td>
<td colspan="7">ZIP Code: <span class="data">{{data-1.04700-00300}}</span></td>
<td class="right">47</td>
</tr>
<tr><td colspan="14">&nbsp;</td>
</tr>
<tr><td colspan="14">FORM CMS-2540-10 (08/2016)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4104)</td>
</tr>
<tr><td colspan="2">Rev. 7</td>
<td colspan="10">&nbsp;</td>
<td colspan="2"> 41-305 </td>
</tr>
</tbody></table>
</div>