<div class="report"><table border="1" width="100%" cellpadding="1" cellspacing="1">
<colgroup><col width="3%">
<col width="14%">
<col width="15%">
<col width="15%">
<col width="15%">
<col width="7%">
<col width="7%">
<col width="7%">
<col width="7%">
<col width="7%">
<col width="3%">

</colgroup><thead><tr><td class="left" colspan="5"> SKILLED  NURSING  FACILITY  AND  SKILLED  NURSING  FACILITY  HEALTH  CARE  COMPLEX  REIMBURSEMENT  QUESTIONNAIRE </td>
<td colspan="2">Provider CCN: <span class="data">{{pId}}</span></td>
<td colspan="2"><div>PERIOD:</div><div>FROM <span class="data">{{year.start}}</div><div>TO <span class="data">{{year.end}}</div></td>
<td colspan="2"> WORKSHEET S-2  PART II </td>
</tr>
</thead><tbody><tr><td colspan="2"> General Instruction: </td>
<td colspan="9"><div>For all column 1 responses, enter in column 1, "Y" for Yes or "N" for No</div><div>For all dates responses, use the format mm/dd/yyyy.</div></td>
</tr>
<tr><td colspan="11"> Completed  by  All  Skilled  Nursing  Facilities</td>
</tr>
<tr><td colspan="8">&nbsp;</td>
<td class="center">Y/N</td>
<td class="center">Date</td>
<td rowspan="2">&nbsp;</td>
</tr>
<tr><td colspan="8"> Provider  Organization  and  Operation</td>
<td class="center">1</td>
<td class="center">2</td>
</tr>
<tr><td class="right">1</td>
<td colspan="7"> Has the provider changed ownership immediately prior to the beginning of the cost reporting period?   If column 1 is "Y", enter the date of the change in column 2.  (see instructions) </td>
<td class="data center">{{data-1.00100-00100}}</td>
<td class="data center">{{data-1.00100-00200}}</td>
<td class="right">1</td>
</tr>
<tr><td class="right" colspan="7" rowspan="2">&nbsp;</td>
<td class="center">Y/N</td>
<td class="center">Date</td>
<td class="center">V/I</td>
<td class="right" rowspan="2">&nbsp;</td>
</tr>
<tr><td class="center">1</td>
<td class="center">2</td>
<td class="center">3</td>
</tr>
<tr><td class="right">2</td>
<td colspan="6"> Has the provider terminated participation in the Medicare Program?   If column 1 is "Y",  enter in column 2 the date of termination and in column 3, "V" for voluntary or "I" for involuntary. </td>
<td class="data center">{{data-1.00200-00100}}</td>
<td class="data center">{{data-1.00200-00200}}</td>
<td class="data center">{{data-1.00200-00200}}</td>
<td class="right">2</td>
</tr>
<tr><td class="right">3</td>
<td colspan="6"> Is the provider involved in business transactions, including management contracts, with individuals or  entities (e.g., chain home offices, drug or medical supply companies) that are related to the provider or  its officers,  medical staff, management personnel, or members of the board of directors through  ownership, control, or family and other similar relationships?  (see instructions) </td>
<td class="data center">{{data-1.00300-00100}}</td>
<td class="data center">&nbsp;{{data-1.00300-00200}}</td>
<td class="data center">&nbsp;{{data-1.00300-00300}}</td>
<td class="right">3</td>
</tr>
<tr><td colspan="7" rowspan="2">  Financial  Data  and  Reports </td>
<td class="center">Y/N</td>
<td class="center">Type</td>
<td class="center">Date</td>
<td class="right" rowspan="2">&nbsp;</td>
</tr>
<tr><td class="center">1</td>
<td class="center">2</td>
<td class="center">3</td>
</tr>
<tr><td class="right">4</td>
<td colspan="6"> Column 1:  Were the financial statements prepared by a Certified Public Accountant?  (Y/N)  Column 2:  If yes, enter "A" for Audited, "C" for Compiled, or "R" for Reviewed.  Submit complete copy  or enter date available in column 3.  (see instructions)  If no, see instructions. </td>
<td class="data center">{{data-1.00400-00100}}</td>
<td class="data center">{{data-1.00400-00200}}</td>
<td class="data center">{{data-1.00400-00300}}</td>
<td class="right">4</td>
</tr>
<tr><td class="right">5</td>
<td colspan="6"> Are the cost report total expenses and total revenues different from those on the filed financial  statements?  If column 1 is "Y", submit reconciliation. </td>
<td class="data center">{{data-1.00500-00100}}</td>
<td class="data center">&nbsp;{{data-1.00500-00200}}</td>
<td class="data center">&nbsp;{{data-1.00500-00300}}</td>
<td class="right">5</td>
</tr>
<tr><td colspan="8">&nbsp;</td>
<td class="center">Y/N</td>
<td class="center">Y/N</td>
<td class="right" rowspan="2">&nbsp;</td>
</tr>
<tr><td colspan="8"> Approved  Educational  Activities</td>
<td class="center">1</td>
<td class="center">2</td>
</tr>
<tr><td class="right">6</td>
<td colspan="7"> Column 1:  Were costs claimed for nursing school?  (Y/N)  Column 2:  Is the provider the legal operator of the program?  (Y/N)  </td>
<td class="data center">{{data-1.00600-00100}}</td>
<td class="data center">{{data-1.00600-00200}}</td>
<td class="right">6</td>
</tr>
<tr><td class="right">7</td>
<td colspan="7"> Were costs claimed for allied health programs? (Y/N)  (see instructions)</td>
<td class="data center">{{data-1.00700-00100}}</td>
<td class="data center">&nbsp;{{data-1.00700-00200}}</td>
<td class="right">7</td>
</tr>
<tr><td class="right">8</td>
<td colspan="7"> Were approvals and/or renewals obtained during the cost reporting period for nursing school and/or   allied health program?   (Y/N)  (see instructions) </td>
<td class="data center">{{data-1.00800-00100}}</td>
<td class="data center">&nbsp;{{data-1.00800-00200}}</td>
<td class="right">8</td>
</tr>
<tr><td colspan="9">&nbsp;</td>
<td class="center">Y/N</td>
<td class="right" rowspan="2">&nbsp;</td>
</tr>
<tr><td colspan="9"> Bad  Debts</td>
<td class="center">1</td>
</tr>
<tr><td class="right">9</td>
<td colspan="8"> Is the provider seeking reimbursement for bad debts?  (Y/N)  (see instructions)</td>
<td class="data center">{{data-1.00900-00100}}</td>
<td class="right">9</td>
</tr>
<tr><td class="right">10</td>
<td colspan="8"> If line 9 is "Y", did the provider's bad debt collection policy change during this cost reporting period?  If "Y", submit copy.</td>
<td class="data center">{{data-1.01000-00100}}</td>
<td class="right">10</td>
</tr>
<tr><td class="right">11</td>
<td colspan="8"> If line 9 is "Y", are  patient deductibles and/or coinsurance waived?  If "Y", see instructions.</td>
<td class="data center">{{data-1.01100-00100}}</td>
<td class="right">11</td>
</tr>
<tr><td colspan="11"> Bed  Complement</td>
</tr>
<tr><td class="right">12</td>
<td class="left" colspan="8"> Have total beds available changed from prior cost reporting period?  If "Y", see instructions.</td>
<td class="data center">{{data-1.01200-00100}}</td>
<td class="right">12</td>
</tr>
<tr><td colspan="6" rowspan="3">   PS&amp;R  Report  Data </td>
<td class="center">Y/N</td>
<td class="center">Date</td>
<td class="center">Y/N</td>
<td class="center">Date</td>
<td class="right" rowspan="3">&nbsp;</td>
</tr>
<tr><td class="center">Part A</td>
<td class="center">Part A</td>
<td class="center">Part B</td>
<td class="center">Part B</td>
</tr>
<tr><td class="center">1</td>
<td class="center">2</td>
<td class="center">3</td>
<td class="center">4</td>
</tr>
<tr><td class="right">13</td>
<td colspan="5"> Was the cost report prepared using the PS&amp;R only?    If either col. 1 or 3 is "Y", enter the paid-through date of the PS&amp;R used  to prepare this cost report in cols. 2 and 4 .  (see Instructions) </td>
<td class="data center">{{data-1.01300-00100}}</td>
<td class="data center">{{data-1.01300-00200}}</td>
<td class="data center">{{data-1.01300-00300}}</td>
<td class="data center">{{data-1.01300-00400}}</td>
<td class="right">13</td>
</tr>
<tr><td class="right">14</td>
<td colspan="5"> Was the cost report prepared using the PS&amp;R for total and the provider's records  for allocation?  If either col. 1 or 3 is "Y", enter the paid-through date  of the PS&amp;R  used to prepare this cost report in columns 2 and 4.  </td>
<td class="data center">{{data-1.01400-00100}}</td>
<td class="data center">{{data-1.01400-00200}}</td>
<td class="data center">{{data-1.01400-00300}}</td>
<td class="data center">{{data-1.01400-00400}}</td>
<td class="right">14</td>
</tr>
<tr><td class="right">15</td>
<td colspan="5"> If line 13 or 14 is "Y", were adjustments made to PS&amp;R data for additional claims that  have been billed but are not included on the PS&amp;R used to file this cost report?   If "Y", see instructions. </td>
<td class="data center">{{data-1.01500-00100}}</td>
<td class="data center">&nbsp;{{data-1.01500-00100}}</td>
<td class="data center">{{data-1.01500-00100}}</td>
<td class="data center">&nbsp;{{data-1.01500-00100}}</td>
<td class="right">15</td>
</tr>
<tr><td class="right">16</td>
<td colspan="5"> If line 13 or 14 is "Y", were adjustments made to PS&amp;R data for corrections of other   PS&amp;R Report information?  If yes, see instructions. </td>
<td class="data center">{{data-1.01600-00100}}</td>
<td class="data center">&nbsp;{{data-1.01600-00200}}</td>
<td class="data center">{{data-1.01600-00300}}</td>
<td class="data center">&nbsp;{{data-1.01600-00400}}</td>
<td class="right">16</td>
</tr>
<tr><td class="right">17</td>
<td colspan="5"> If line 13 or 14 is "Y", were adjustments made to PS&amp;R data for Other?  Describe the other adjustments:__ </td>
<td class="data center">{{data-1.01700-00100}}</td>
<td class="data center">&nbsp;{{data-1.01700-00200}}</td>
<td class="data center">{{data-1.01700-00300}}</td>
<td class="data center">&nbsp;{{data-1.01700-00400}}</td>
<td class="right">17</td>
</tr>
<tr><td class="right">18</td>
<td colspan="5"> Was the cost report prepared only using the provider's records? If "Y", see instructions.</td>
<td class="data center">{{data-1.01800-00100}}</td>
<td class="data center">&nbsp;{{data-1.01800-00200}}</td>
<td class="data center">{{data-1.01800-00300}}</td>
<td class="data center">&nbsp;{{data-1.01800-00400}}</td>
<td class="right">18</td>
</tr>
<tr><td colspan="11">FORM CMS-2540-10 (08/2016)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4104.1)</td>
</tr>
<tr><td colspan="2">41-306</td>
<td colspan="7">&nbsp;</td>
<td colspan="2"> Rev. 7 </td>
</tr>
</tbody></table>
</div>