<div class="report">
<table border="1" width="100%" cellpadding="1" cellspacing="1">
<colgroup><col width="2%">
<col width="10%">
<col width="4%">
<col width="5%">
<col width="3.5%">
<col width="3.5%">
<col width="3.5%">
<col width="3.5%">
<col width="3.5%">
<col width="3.5%">
<col width="3.5%">
<col width="3.5%">
<col width="3.5%">
<col width="3.5%">
<col width="3.5%">
<col width="3.5%">
<col width="3.5%">
<col width="3.5%">
<col width="3.5%">
<col width="3.5%">
<col width="3.5%">
<col width="3.5%">
<col width="3.5%">
<col width="5%">
<col width="5%">
<col width="2%">
</colgroup><thead><tr><td colspan="15"> SKILLED  NURSING  FACILITY  AND  SKILLED  NURSING  FACILITY  HEALTH  CARE  COMPLEX  STATISTICAL  DATA </td>
<td colspan="3">   Provider CCN: <span class="data">{{pId}}</span> </td>
<td colspan="4">  <div>PERIOD:</div><div>FROM <span class="data">{{year.start}}</span></div><div>TO <span class="data">{{year.end}}</span></div> </td>
<td colspan="4">  WORKSHEET   S-3  PART  I  </td>
</tr>
</thead><tbody><tr><td colspan="26"> PART  I  -  STATISTICAL  DATA</td>
</tr>
<tr><td colspan="2" rowspan="3">     Component </td>
<td class="center" rowspan="2">Number of Beds </td>
<td class="center" rowspan="2">Bed Days Available </td>
<td class="center" colspan="5">  Inpatient Days / Visits   </td>
<td class="center" colspan="5">  Discharges   </td>
<td class="center" colspan="4">Average Length of Stay</td>
<td class="center" colspan="5">Admissions</td>
<td class="center" colspan="2">Full Time Equivalent</td>
<td rowspan="3">&nbsp;</td>
</tr>
<tr><td class="center">Title V </td>
<td class="center">Title XVIII </td>
<td class="center">Title XIX </td>
<td class="center"> Other </td>
<td class="center"> Total </td>
<td class="center">Title V </td>
<td class="center">Title   XVIII </td>
<td class="center">Title XIX </td>
<td class="center"> Other </td>
<td class="center"> Total </td>
<td class="center">Title V </td>
<td class="center">Title XVIII </td>
<td class="center">Title XIX </td>
<td class="center"> Total </td>
<td class="center">Title V </td>
<td class="center">Title XVIII </td>
<td class="center">Title XIX </td>
<td class="center"> Other </td>
<td class="center"> Total </td>
<td class="center">Employees on Payroll </td>
<td class="center">Nonpaid Workers </td>
</tr>
<tr><td class="center">1</td>
<td class="center">2</td>
<td class="center">3</td>
<td class="center">4</td>
<td class="center">5</td>
<td class="center">6</td>
<td class="center">7</td>
<td class="center">8</td>
<td class="center">9</td>
<td class="center">10</td>
<td class="center">11</td>
<td class="center">12</td>
<td class="center">13</td>
<td class="center">14</td>
<td class="center">15</td>
<td class="center">16</td>
<td class="center">17</td>
<td class="center">18</td>
<td class="center">19</td>
<td class="center">20</td>
<td class="center">21</td>
<td class="center">22</td>
<td class="center">23</td>
</tr>
<tr><td class="right">1</td>
<td> Skilled Nursing Facility</td>
<td class="data right">{{data-1.00100-00100}}</td>
<td class="data right">{{data-1.00100-00200}}</td>
<td class="data right">{{data-1.00100-00300}}</td>
<td class="data right">{{data-1.00100-00400}}</td>
<td class="data right">{{data-1.00100-00500}}</td>
<td class="data right">{{data-1.00100-00600}}</td>
<td class="data right">{{data-1.00100-00700}}</td>
<td class="data right">{{data-1.00100-00800}}</td>
<td class="data right">{{data-1.00100-00900}}</td>
<td class="data right">{{data-1.00100-01000}}</td>
<td class="data right">{{data-1.00100-01100}}</td>
<td class="data right">{{data-1.00100-01200}}</td>
<td class="data right">{{data-1.00100-01300}}</td>
<td class="data right">{{data-1.00100-01400}}</td>
<td class="data right">{{data-1.00100-01500}}</td>
<td class="data right">{{data-1.00100-01600}}</td>
<td class="data right">{{data-1.00100-01700}}</td>
<td class="data right">{{data-1.00100-01800}}</td>
<td class="data right">{{data-1.00100-01900}}</td>
<td class="data right">{{data-1.00100-02000}}</td>
<td class="data right">{{data-1.00100-02100}}</td>
<td class="data right">{{data-1.00100-02200}}</td>
<td class="data right">{{data-1.00100-02300}}</td>
<td class="right">1</td>
</tr>
<tr><td class="right">2</td>
<td> Nursing Facility</td>
<td class="data right">{{data-1.00200-00100}}</td>
<td class="data right">{{data-1.00200-00200}}</td>
<td class="data right">{{data-1.00200-00300}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00200-00400}}</td>
<td class="data right">{{data-1.00200-00500}}</td>
<td class="data right">{{data-1.00200-00600}}</td>
<td class="data right">{{data-1.00200-00700}}</td>
<td class="data right">{{data-1.00200-00800}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00200-00900}}</td>
<td class="data right">{{data-1.00200-01000}}</td>
<td class="data right">{{data-1.00200-01100}}</td>
<td class="data right">{{data-1.00200-01200}}</td>
<td class="data right">{{data-1.00200-01300}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00200-01400}}</td>
<td class="data right">{{data-1.00200-01500}}</td>
<td class="data right">{{data-1.00200-01600}}</td>
<td class="data right">{{data-1.00200-01700}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00200-01800}}</td>
<td class="data right">{{data-1.00200-01900}}</td>
<td class="data right">{{data-1.00200-02000}}</td>
<td class="data right">{{data-1.00200-02100}}</td>
<td class="data right">{{data-1.00200-02200}}</td>
<td class="data right">{{data-1.00200-02300}}</td>
<td class="right">2</td>
</tr>
<tr><td class="right">3</td>
<td> ICF/IID </td>
<td class="data right">{{data-1.00300-00100}}</td>
<td class="data right">{{data-1.00300-00200}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00300-00300}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00300-00400}}</td>
<td class="data right">{{data-1.00300-00500}}</td>
<td class="data right">{{data-1.00300-00600}}</td>
<td class="data right">{{data-1.00300-00700}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00300-00800}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00300-00900}}</td>
<td class="data right">{{data-1.00300-01000}}</td>
<td class="data right">{{data-1.00300-01100}}</td>
<td class="data right">{{data-1.00300-01200}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00300-01300}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00300-01400}}</td>
<td class="data right">{{data-1.00300-01500}}</td>
<td class="data right">{{data-1.00300-01600}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00300-01700}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00300-01800}}</td>
<td class="data right">{{data-1.00300-01900}}</td>
<td class="data right">{{data-1.00300-02000}}</td>
<td class="data right">{{data-1.00300-02100}}</td>
<td class="data right">{{data-1.00300-02200}}</td>
<td class="data right">{{data-1.00300-02300}}</td>
<td class="right">3</td>
</tr>
<tr><td class="right">4</td>
<td> Home Health Agency</td>
<td class="data right fillgrey">&nbsp;{{data-1.00400-00100}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00400-00200}}</td>
<td class="data right">{{data-1.00400-00300}}</td>
<td class="data right">{{data-1.00400-00400}}</td>
<td class="data right">{{data-1.00400-00500}}</td>
<td class="data right">{{data-1.00400-00600}}</td>
<td class="data right">{{data-1.00400-00700}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00400-00800}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00400-00900}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00400-01000}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00400-01100}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00400-01200}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00400-01300}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00400-01400}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00400-01500}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00400-01600}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00400-01700}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00400-01800}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00400-01900}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00400-02000}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00400-02100}}</td>
<td class="data right">{{data-1.00400-02200}}</td>
<td class="data right">{{data-1.00400-02300}}</td>
<td class="right">4</td>
</tr>
<tr><td class="right">5</td>
<td> Other Long Term Care</td>
<td class="data right">{{data-1.00500-00100}}</td>
<td class="data right">{{data-1.00500-00200}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00500-00300}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00500-00400}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00500-00500}}</td>
<td class="data right">{{data-1.00500-00600}}</td>
<td class="data right">{{data-1.00500-00700}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00500-00800}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00500-00900}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00500-01000}}</td>
<td class="data right">{{data-1.00500-01100}}</td>
<td class="data right">{{data-1.00500-01200}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00500-01300}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00500-01400}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00500-01500}}</td>
<td class="data right">{{data-1.00500-01600}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00500-01700}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00500-01800}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00500-01900}}</td>
<td class="data right">{{data-1.00500-02000}}</td>
<td class="data right">{{data-1.00500-02100}}</td>
<td class="data right">{{data-1.00500-02200}}</td>
<td class="data right">{{data-1.00500-02300}}</td>
<td class="right">5</td>
</tr>
<tr><td class="right">6</td>
<td> SNF-Based CMHC</td>
<td class="data right fillgrey">&nbsp;{{data-1.00600-00100}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00600-00200}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00600-00300}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00600-00400}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00600-00500}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00600-00600}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00600-00700}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00600-00800}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00600-00900}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00600-01000}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00600-01100}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00600-01200}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00600-01300}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00600-01400}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00600-01500}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00600-01600}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00600-01700}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00600-01800}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00600-01900}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00600-02000}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00600-02100}}</td>
<td class="data right">{{data-1.00600-02200}}</td>
<td class="data right">{{data-1.00600-02300}}</td>
<td class="right">6</td>
</tr>
<tr><td class="right">7</td>
<td> Hospice</td>
<td class="data right">{{data-1.00700-00100}}</td>
<td class="data right">{{data-1.00700-00200}}</td>
<td class="data right">{{data-1.00700-00300}}</td>
<td class="data right">{{data-1.00700-00400}}</td>
<td class="data right">{{data-1.00700-00500}}</td>
<td class="data right">{{data-1.00700-00600}}</td>
<td class="data right">{{data-1.00700-00700}}</td>
<td class="data right">{{data-1.00700-00800}}</td>
<td class="data right">{{data-1.00700-00900}}</td>
<td class="data right">{{data-1.00700-01000}}</td>
<td class="data right">{{data-1.00700-01100}}</td>
<td class="data right">{{data-1.00700-01200}}</td>
<td class="data right">{{data-1.00700-01300}}</td>
<td class="data right">{{data-1.00700-01400}}</td>
<td class="data right">{{data-1.00700-01500}}</td>
<td class="data right">{{data-1.00700-01600}}</td>
<td class="data right">{{data-1.00700-01700}}</td>
<td class="data right">{{data-1.00700-01800}}</td>
<td class="data right">{{data-1.00700-01900}}</td>
<td class="data right">{{data-1.00700-02000}}</td>
<td class="data right">{{data-1.00700-02100}}</td>
<td class="data right">{{data-1.00700-02200}}</td>
<td class="data right">{{data-1.00700-02300}}</td>
<td class="right">7</td>
</tr>
<tr><td class="right">8</td>
<td> Total (sum of lines 1-7)</td>
<td class="data right">{{data-1.00800-00100}}</td>
<td class="data right">{{data-1.00800-00200}}</td>
<td class="data right">{{data-1.00800-00300}}</td>
<td class="data right">{{data-1.00800-00400}}</td>
<td class="data right">{{data-1.00800-00500}}</td>
<td class="data right">{{data-1.00800-00600}}</td>
<td class="data right">{{data-1.00800-00700}}</td>
<td class="data right">{{data-1.00800-00800}}</td>
<td class="data right">{{data-1.00800-00900}}</td>
<td class="data right">{{data-1.00800-01000}}</td>
<td class="data right">{{data-1.00800-01100}}</td>
<td class="data right">{{data-1.00800-01200}}</td>
<td class="data right">{{data-1.00800-01300}}</td>
<td class="data right">{{data-1.00800-01400}}</td>
<td class="data right">{{data-1.00800-01500}}</td>
<td class="data right">{{data-1.00800-01600}}</td>
<td class="data right">{{data-1.00800-01700}}</td>
<td class="data right">{{data-1.00800-01800}}</td>
<td class="data right">{{data-1.00800-01900}}</td>
<td class="data right">{{data-1.00800-02000}}</td>
<td class="data right">{{data-1.00800-02100}}</td>
<td class="data right">{{data-1.00800-02200}}</td>
<td class="data right">{{data-1.00800-02300}}</td>
<td class="right">8</td>
</tr>
<tr><td colspan="26">FORM CMS-2540-10 (08/2016)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4105)</td>
</tr>
<tr><td colspan="2">Rev. 7</td>
<td colspan="22">&nbsp;</td>
<td colspan="2">41-307</td>
</tr>
</tbody></table>
</div>
