<div class="report"><table border="1" width="100%" cellpadding="1" cellspacing="1">
<colgroup><col width="3%">
<col width="29%">
<col width="13%">
<col width="13%">
<col width="13%">
<col width="13%">
<col width="13%">
<col width="3%"></colgroup><thead><tr><td colspan="3"> SNF  WAGE  INDEX  INFORMATION  PART  II  -  DIRECT  SALARIES </td>
<td>Provider CCN: <span class="data">{{pId}}</span></td>
<td colspan="2"><div>PERIOD:</div><div>FROM <span class="data">{{year.start}}</span></div><div>TO <span class="data">{{year.end}}</span></div></td>
<td colspan="2"> WORKSHEET  S-3  PARTS II  &amp; III </td>
</tr>
</thead><tbody><tr><td colspan="2" rowspan="2">&nbsp;</td>
<td>  Amount Reported </td>
<td>Reclass. of Salaries from Wkst. A-6 </td>
<td>Adjusted Salaries ( col. 1 ± col. 2 ) </td>
<td>Paid Hours Related to Salary in col. 3 </td>
<td>Average Hourly Wage ( col. 3 ÷ col. 4 ) </td>
<td rowspan="2">&nbsp;</td>
</tr>
<tr><td class="center">1</td>
<td class="center">2</td>
<td class="center">3</td>
<td class="center">4</td>
<td class="center">5</td>
</tr>
<tr><td colspan="2"> SALARIES</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
</tr>
<tr><td class="right">1</td>
<td> Total salary  (see instructions)</td>
<td class="data right">{{NumberFormat data-1.00100-00100}}</td>
<td class="data right">{{NumberFormat data-1.00100-00200}}</td>
<td class="data right">{{NumberFormat data-1.00100-00300}}</td>
<td class="data right">{{data-1.00100-00400}}</td>
<td class="data right">{{NumberFormat data-1.00100-00500}}</td>
<td class="right">1</td>
</tr>
<tr><td class="right">2</td>
<td> Physician salaries-Part A</td>
<td class="data right">{{NumberFormat data-1.00200-00100}}</td>
<td class="data right">{{NumberFormat data-1.00200-00200}}</td>
<td class="data right">{{NumberFormat data-1.00200-00300}}</td>
<td class="data right">{{data-1.00200-00400}}</td>
<td class="data right">{{NumberFormat data-1.00200-00500}}</td>
<td class="right">2</td>
</tr>
<tr><td class="right">3</td>
<td> Physician salaries-Part B</td>
<td class="data right">{{NumberFormat data-1.00300-00100}}</td>
<td class="data right">{{NumberFormat data-1.00300-00200}}</td>
<td class="data right">{{NumberFormat data-1.00300-00300}}</td>
<td class="data right">{{data-1.00300-00400}}</td>
<td class="data right">{{NumberFormat data-1.00300-00500}}</td>
<td class="right">3</td>
</tr>
<tr><td class="right">4</td>
<td> Home office personnel</td>
<td class="data right">{{NumberFormat data-1.00400-00100}}</td>
<td class="data right">{{NumberFormat data-1.00400-00200}}</td>
<td class="data right">{{NumberFormat data-1.00400-00300}}</td>
<td class="data right">{{data-1.00400-00400}}</td>
<td class="data right">{{NumberFormat data-1.00400-00500}}</td>
<td class="right">4</td>
</tr>
<tr><td class="right">5</td>
<td> Sum of lines 2 through 4</td>
<td class="data right">{{NumberFormat data-1.00500-00100}}</td>
<td class="data right">{{NumberFormat data-1.00500-00200}}</td>
<td class="data right">{{NumberFormat data-1.00500-00300}}</td>
<td class="data right">{{data-1.00500-00400}}</td>
<td class="data right">{{NumberFormat data-1.00500-00500}}</td>
<td class="right">5</td>
</tr>
<tr><td class="right">6</td>
<td> Revised wages (line 1 minus line 5)</td>
<td class="data right">{{NumberFormat data-1.00600-00100}}</td>
<td class="data right">{{NumberFormat data-1.00600-00200}}</td>
<td class="data right">{{NumberFormat data-1.00600-00300}}</td>
<td class="data right">{{data-1.00600-00400}}</td>
<td class="data right">{{NumberFormat data-1.00600-00500}}</td>
<td class="right">6</td>
</tr>
<tr><td class="right">7</td>
<td> Other Long Term Care</td>
<td class="data right">{{NumberFormat data-1.00700-00100}}</td>
<td class="data right">{{NumberFormat data-1.00700-00200}}</td>
<td class="data right">{{NumberFormat data-1.00700-00300}}</td>
<td class="data right">{{data-1.00700-00400}}</td>
<td class="data right">{{NumberFormat data-1.00700-00500}}</td>
<td class="right">7</td>
</tr>
<tr><td class="right">8</td>
<td> Home Health Agency</td>
<td class="data right">{{NumberFormat data-1.00800-00100}}</td>
<td class="data right">{{NumberFormat data-1.00800-00200}}</td>
<td class="data right">{{NumberFormat data-1.00800-00300}}</td>
<td class="data right">{{data-1.00800-00400}}</td>
<td class="data right">{{NumberFormat data-1.00800-00500}}</td>
<td class="right">8</td>
</tr>
<tr><td class="right">9</td>
<td> CMHC</td>
<td class="data right">{{NumberFormat data-1.00900-00100}}</td>
<td class="data right">{{NumberFormat data-1.00900-00200}}</td>
<td class="data right">{{NumberFormat data-1.00900-00300}}</td>
<td class="data right">{{data-1.00900-00400}}</td>
<td class="data right">{{NumberFormat data-1.00900-00500}}</td>
<td class="right">9</td>
</tr>
<tr><td class="right">10</td>
<td> Hospice</td>
<td class="data right">{{NumberFormat data-1.01000-00100}}</td>
<td class="data right">{{NumberFormat data-1.01000-00200}}</td>
<td class="data right">{{NumberFormat data-1.01000-00300}}</td>
<td class="data right">{{data-1.01000-00400}}</td>
<td class="data right">{{NumberFormat data-1.01000-00500}}</td>
<td class="right">10</td>
</tr>
<tr><td class="right">11</td>
<td> Other excluded areas</td>
<td class="data right">{{NumberFormat data-1.01100-00100}}</td>
<td class="data right">{{NumberFormat data-1.01100-00200}}</td>
<td class="data right">{{NumberFormat data-1.01100-00300}}</td>
<td class="data right">{{data-1.01100-00400}}</td>
<td class="data right">{{NumberFormat data-1.01100-00500}}</td>
<td class="right">11</td>
</tr>
<tr><td class="right">12</td>
<td> Subtotal excluded salary  (sum of lines 7 through 11)</td>
<td class="data right">{{NumberFormat data-1.01200-00100}}</td>
<td class="data right">{{NumberFormat data-1.01200-00200}}</td>
<td class="data right">{{NumberFormat data-1.01200-00300}}</td>
<td class="data right">{{data-1.01200-00400}}</td>
<td class="data right">{{NumberFormat data-1.01200-00500}}</td>
<td class="right">12</td>
</tr>
<tr><td class="right">13</td>
<td> Total adjusted salaries (line 6 minus line 12)</td>
<td class="data right">{{NumberFormat data-1.01300-00100}}</td>
<td class="data right">{{NumberFormat data-1.01300-00200}}</td>
<td class="data right">{{NumberFormat data-1.01300-00300}}</td>
<td class="data right">{{data-1.01300-00400}}</td>
<td class="data right">{{NumberFormat data-1.01300-00500}}</td>
<td class="right">13</td>
</tr>
<tr><td colspan="2"> OTHER  WAGES  AND  RELATED  COSTS</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
</tr>
<tr><td class="right">14</td>
<td> Contract Labor: Patient Related &amp; Mgmt</td>
<td class="data right">{{NumberFormat data-1.01400-00100}}</td>
<td class="data right">{{NumberFormat data-1.01400-00200}}</td>
<td class="data right">{{NumberFormat data-1.01400-00300}}</td>
<td class="data right">{{data-1.01400-00400}}</td>
<td class="data right">{{NumberFormat data-1.01400-00500}}</td>
<td class="right">14</td>
</tr>
<tr><td class="right">15</td>
<td> Contract Labor: Physician services-Part A</td>
<td class="data right">{{NumberFormat data-1.01500-00100}}</td>
<td class="data right">{{NumberFormat data-1.01500-00200}}</td>
<td class="data right">{{NumberFormat data-1.01500-00300}}</td>
<td class="data right">{{data-1.01500-00400}}</td>
<td class="data right">{{NumberFormat data-1.01500-00500}}</td>
<td class="right">15</td>
</tr>
<tr><td class="right">16</td>
<td> Home office salaries &amp; wage related costs</td>
<td class="data right">{{NumberFormat data-1.01600-00100}}</td>
<td class="data right">{{NumberFormat data-1.01600-00200}}</td>
<td class="data right">{{NumberFormat data-1.01600-00300}}</td>
<td class="data right">{{data-1.01600-00400}}</td>
<td class="data right">{{NumberFormat data-1.01600-00500}}</td>
<td class="right">16</td>
</tr>
<tr><td colspan="2"> WAGE  RELATED  COSTS</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
<td class="right fillgrey">&nbsp;</td>
</tr>
<tr><td class="right">17</td>
<td> Wage related costs core  (see Pt. IV)</td>
<td class="data right">{{NumberFormat data-1.01700-00100}}</td>
<td class="data right">{{NumberFormat data-1.01700-00200}}</td>
<td class="data right">{{NumberFormat data-1.01700-00300}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.01700-00400}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.01700-00500}}</td>
<td class="right">17</td>
</tr>
<tr><td class="right">18</td>
<td> Wage related costs other  (see Pt. IV)</td>
<td class="data right">{{NumberFormat data-1.01800-00100}}</td>
<td class="data right">{{NumberFormat data-1.01800-00200}}</td>
<td class="data right">{{NumberFormat data-1.01800-00300}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.01800-00400}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.01800-00500}}</td>
<td class="right">18</td>
</tr>
<tr><td class="right">19</td>
<td> Wage related costs  (excluded units)</td>
<td class="data right">{{NumberFormat data-1.01900-00100}}</td>
<td class="data right">{{NumberFormat data-1.01900-00200}}</td>
<td class="data right">{{NumberFormat data-1.01900-00300}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.01900-00400}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.01900-00500}}</td>
<td class="right">19</td>
</tr>
<tr><td class="right">20</td>
<td> Physicians Part A - WRC</td>
<td class="data right">{{NumberFormat data-1.02000-00100}}</td>
<td class="data right">{{NumberFormat data-1.02000-00200}}</td>
<td class="data right">{{NumberFormat data-1.02000-00300}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.02000-00400}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.02000-00500}}</td>
<td class="right">20</td>
</tr>
<tr><td class="right">21</td>
<td> Physicians Part B - WRC</td>
<td class="data right">{{NumberFormat data-1.02100-00100}}</td>
<td class="data right">{{NumberFormat data-1.02100-00200}}</td>
<td class="data right">{{NumberFormat data-1.02100-00300}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.02100-00400}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.02100-00500}}</td>
<td class="right">21</td>
</tr>
<tr><td class="right">22</td>
<td> Total adjusted wage related cost  (see instructions)</td>
<td class="data right">{{NumberFormat data-1.02200-00100}}</td>
<td class="data right">{{NumberFormat data-1.02200-00200}}</td>
<td class="data right">{{NumberFormat data-1.02200-00300}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.02200-00400}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.02200-00500}}</td>
<td class="right">22</td>
</tr>
<tr><td colspan="8">&nbsp;</td>
</tr>
<tr><td colspan="8"> PART  III  -  OVERHEAD  COST  -  DIRECT  SALARIES</td>
</tr>
<tr><td colspan="2" rowspan="2">&nbsp;</td>
<td class="right">  Amount Reported </td>
<td class="right">Reclass. of Salaries from  Wkst. A-6 </td>
<td class="right">Adjusted Salaries ( col. 1 ± col. 2 ) </td>
<td class="right">Paid Hours Related to Salary in col. 3 </td>
<td class="right">Average Hourly Wage ( col. 3 ÷ col. 4 ) </td>
<td class="right" rowspan="2">&nbsp;</td>
</tr>
<tr><td class="center">1</td>
<td class="center">2</td>
<td class="center">3</td>
<td class="center">4</td>
<td class="center">5</td>
</tr>
<tr><td class="right">1</td>
<td> Employee Benefits</td>
<td class="data right">{{NumberFormat data-2.00100-00100}}</td>
<td class="data right">{{NumberFormat data-2.00100-00200}}</td>
<td class="data right">{{NumberFormat data-2.00100-00300}}</td>
<td class="data right">{{data-2.00100-00400}}</td>
<td class="data right">{{NumberFormat data-2.00100-00500}}</td>
<td class="right">1</td>
</tr>
<tr><td class="right">2</td>
<td> Administrative &amp; General</td>
<td class="data right">{{NumberFormat data-2.00200-00100}}</td>
<td class="data right">{{NumberFormat data-2.00200-00200}}</td>
<td class="data right">{{NumberFormat data-2.00200-00300}}</td>
<td class="data right">{{data-2.00200-00400}}</td>
<td class="data right">{{NumberFormat data-2.00200-00500}}</td>
<td class="right">2</td>
</tr>
<tr><td class="right">3</td>
<td> Plant Operation, Maintenance &amp; Repairs</td>
<td class="data right">{{NumberFormat data-2.00300-00100}}</td>
<td class="data right">{{NumberFormat data-2.00300-00200}}</td>
<td class="data right">{{NumberFormat data-2.00300-00300}}</td>
<td class="data right">{{data-2.00300-00400}}</td>
<td class="data right">{{NumberFormat data-2.00300-00500}}</td>
<td class="right">3</td>
</tr>
<tr><td class="right">4</td>
<td> Laundry &amp; Linen Service</td>
<td class="data right">{{NumberFormat data-2.00400-00100}}</td>
<td class="data right">{{NumberFormat data-2.00400-00200}}</td>
<td class="data right">{{NumberFormat data-2.00400-00300}}</td>
<td class="data right">{{data-2.00400-00400}}</td>
<td class="data right">{{NumberFormat data-2.00400-00500}}</td>
<td class="right">4</td>
</tr>
<tr><td class="right">5</td>
<td> Housekeeping</td>
<td class="data right">{{NumberFormat data-2.00500-00100}}</td>
<td class="data right">{{NumberFormat data-2.00500-00200}}</td>
<td class="data right">{{NumberFormat data-2.00500-00300}}</td>
<td class="data right">{{data-2.00500-00400}}</td>
<td class="data right">{{NumberFormat data-2.00500-00500}}</td>
<td class="right">5</td>
</tr>
<tr><td class="right">6</td>
<td> Dietary</td>
<td class="data right">{{NumberFormat data-2.00600-00100}}</td>
<td class="data right">{{NumberFormat data-2.00600-00200}}</td>
<td class="data right">{{NumberFormat data-2.00600-00300}}</td>
<td class="data right">{{data-2.00600-00400}}</td>
<td class="data right">{{NumberFormat data-2.00600-00500}}</td>
<td class="right">6</td>
</tr>
<tr><td class="right">7</td>
<td> Nursing Administration</td>
<td class="data right">{{NumberFormat data-2.00700-00100}}</td>
<td class="data right">{{NumberFormat data-2.00700-00200}}</td>
<td class="data right">{{NumberFormat data-2.00700-00300}}</td>
<td class="data right">{{data-2.00700-00400}}</td>
<td class="data right">{{NumberFormat data-2.00700-00500}}</td>
<td class="right">7</td>
</tr>
<tr><td class="right">8</td>
<td> Central Services and Supply</td>
<td class="data right">{{NumberFormat data-2.00800-00100}}</td>
<td class="data right">{{NumberFormat data-2.00800-00200}}</td>
<td class="data right">{{NumberFormat data-2.00800-00300}}</td>
<td class="data right">{{data-2.00800-00400}}</td>
<td class="data right">{{NumberFormat data-2.00800-00500}}</td>
<td class="right">8</td>
</tr>
<tr><td class="right">9</td>
<td> Pharmacy</td>
<td class="data right">{{NumberFormat data-2.00900-00100}}</td>
<td class="data right">{{NumberFormat data-2.00900-00200}}</td>
<td class="data right">{{NumberFormat data-2.00900-00300}}</td>
<td class="data right">{{data-2.00900-00400}}</td>
<td class="data right">{{NumberFormat data-2.00900-00500}}</td>
<td class="right">9</td>
</tr>
<tr><td class="right">10</td>
<td> Medical Records &amp; Medical Records Library</td>
<td class="data right">{{NumberFormat data-2.01000-00100}}</td>
<td class="data right">{{NumberFormat data-2.01000-00200}}</td>
<td class="data right">{{NumberFormat data-2.01000-00300}}</td>
<td class="data right">{{data-2.01000-00400}}</td>
<td class="data right">{{NumberFormat data-2.01000-00500}}</td>
<td class="right">10</td>
</tr>
<tr><td class="right">11</td>
<td> Social Service</td>
<td class="data right">{{NumberFormat data-2.01100-00100}}</td>
<td class="data right">{{NumberFormat data-2.01100-00200}}</td>
<td class="data right">{{NumberFormat data-2.01100-00300}}</td>
<td class="data right">{{data-2.01100-00400}}</td>
<td class="data right">{{NumberFormat data-2.01100-00500}}</td>
<td class="right">11</td>
</tr>
<tr><td class="right">12</td>
<td> Nursing and Allied Health Ed. Act.</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-2.01200-00100}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-2.01200-00200}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-2.01200-00300}}</td>
<td class="data right fillgrey">&nbsp;{{data-2.01200-00400}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-2.01200-00500}}</td>
<td class="right">12</td>
</tr>
<tr><td class="right">13</td>
<td> Other General Service (specify _______________)</td>
<td class="data right">{{NumberFormat data-2.01300-00100}}</td>
<td class="data right">{{NumberFormat data-2.01300-00200}}</td>
<td class="data right">{{NumberFormat data-2.01300-00300}}</td>
<td class="data right">{{data-2.01300-00400}}</td>
<td class="data right">{{NumberFormat data-2.01300-00500}}</td>
<td class="right">13</td>
</tr>
<tr><td class="right">14</td>
<td> Total (sum lines 1 through 13)</td>
<td class="data right">{{NumberFormat data-2.01400-00100}}</td>
<td class="data right">{{NumberFormat data-2.01400-00200}}</td>
<td class="data right">{{NumberFormat data-2.01400-00300}}</td>
<td class="data right">{{data-2.01400-00400}}</td>
<td class="data right">{{NumberFormat data-2.01400-00500}}</td>
<td class="right">14</td>
</tr>
<tr><td colspan="8">FORM CMS-2540-10 (08/2016)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTIONS 4105.1 - 4105.2)</td>
</tr>
<tr><td colspan="2">41-308</td>
<td colspan="4">&nbsp;</td>
<td colspan="2"> Rev. 7 </td>
</tr>
</tbody></table>
</div>