<div class="report"><table border="1" width="100%" cellpadding="1" cellspacing="1">
<colgroup><col width="3%">
<col width="18%">
<col width="18%">
<col width="18%">
<col width="18%">
<col width="18%">

<col width="3%">
</colgroup><thead>
<tr><td colspan="3"> SNF  WAGE  RELATED  COSTS</td>
<td>Provider CCN: <span class="data">{{pId}}</span></td>
<td><div>PERIOD:</div><div>FROM <span class="data">{{year.start}}</span></div><div>TO <span class="data">{{year.end}}</span></div></td>
<td colspan="2"> WORKSHEET  S-3  PART IV </td>
</tr>
<tr><td colspan="7"> PART  IV  -  Wage  Related  Cost </td>
</tr>
<tr><td colspan="5"> Part  A  -  Core  List</td>
<td>Amount Reported </td>
<td>&nbsp;</td>
</tr>
</thead><tbody>
<tr><td colspan="7"> RETIREMENT  COST</td>
</tr>
<tr><td class="right">1</td>
<td class="left" colspan="4"> 401k Employer Contributions </td>
<td class="data right">{{NumberFormat data-1.00100-00100}}</td>
<td>1</td>
</tr>
<tr><td class="right">2</td>
<td class="left" colspan="4"> Tax Sheltered Annuity (TSA) Employer Contribution</td>
<td class="data right">{{NumberFormat data-1.00200-00100}}</td>
<td>2</td>
</tr>
<tr><td class="right">3</td>
<td class="left" colspan="4"> Qualified and Non-Qualified Pension Plan Cost </td>
<td class="data right">{{NumberFormat data-1.00300-00100}}</td>
<td>3</td>
</tr>
<tr><td class="right">4</td>
<td class="left" colspan="4"> Prior Year Pension Service Cost              </td>
<td class="data right">{{NumberFormat data-1.00400-00100}}</td>
<td>4</td>
</tr>
<tr><td colspan="7"> PLAN  ADMINISTRATIVE  COSTS  (Paid  to  External  Organizations) </td>
</tr>
<tr><td class="right">5</td>
<td class="left" colspan="4"> 401K/TSA Plan Administration fees                    </td>
<td class="data right">{{NumberFormat data-1.00500-00100}}</td>
<td>5</td>
</tr>
<tr><td class="right">6</td>
<td class="left" colspan="4"> Legal/Accounting/Management Fees-Pension Plan        </td>
<td class="data right">{{NumberFormat data-1.00600-00100}}</td>
<td>6</td>
</tr>
<tr><td class="right">7</td>
<td class="left" colspan="4"> Employee Managed Care Program Administration Fees   </td>
<td class="data right">{{NumberFormat data-1.00700-00100}}</td>
<td>7</td>
</tr>
<tr><td colspan="7"> HEALTH  AND  INSURANCE  COST</td>
</tr>
<tr><td class="right">8</td>
<td class="left" colspan="4"> Health Insurance (Purchased or Self Funded)</td>
<td class="data right">{{NumberFormat data-1.00800-00100}}</td>
<td>8</td>
</tr>
<tr><td class="right">9</td>
<td class="left" colspan="4"> Prescription Drug Plan</td>
<td class="data right">{{NumberFormat data-1.00900-00100}}</td>
<td>9</td>
</tr>
<tr><td class="right">10</td>
<td class="left" colspan="4"> Dental, Hearing and Vision Plan</td>
<td class="data right">{{NumberFormat data-1.01000-00100}}</td>
<td>10</td>
</tr>
<tr><td class="right">11</td>
<td class="left" colspan="4"> Life Insurance (If employee is owner or beneficiary)</td>
<td class="data right">{{NumberFormat data-1.01100-00100}}</td>
<td>11</td>
</tr>
<tr><td class="right">12</td>
<td class="left" colspan="4"> Accidental Insurance (If employee is owner or beneficiary)</td>
<td class="data right">{{NumberFormat data-1.01200-00100}}</td>
<td>12</td>
</tr>
<tr><td class="right">13</td>
<td class="left" colspan="4"> Disability Insurance (If employee is owner or beneficiary)</td>
<td class="data right">{{NumberFormat data-1.01300-00100}}</td>
<td>13</td>
</tr>
<tr><td class="right">14</td>
<td class="left" colspan="4"> Long-Term Care Insurance (If employee is owner or beneficiary)</td>
<td class="data right">{{NumberFormat data-1.01400-00100}}</td>
<td>14</td>
</tr>
<tr><td class="right">15</td>
<td class="left" colspan="4"> Workers' Compensation Insurance</td>
<td class="data right">{{NumberFormat data-1.01500-00100}}</td>
<td>15</td>
</tr>
<tr><td class="right">16</td>
<td class="left" colspan="4"> Retirement Health Care Cost  (Only current year, not the extraordinary   accrual required by FASB 106  Non cumulative portion) </td>
<td class="data right">{{NumberFormat data-1.01600-00100}}</td>
<td>16</td>
</tr>
<tr><td colspan="7"> TAXES</td>
</tr>
<tr><td class="right">17</td>
<td class="left" colspan="4"> FICA - Employers Portion Only</td>
<td class="data right">{{NumberFormat data-1.01700-00100}}</td>
<td>17</td>
</tr>
<tr><td class="right">18</td>
<td class="left" colspan="4"> Medicare Taxes - Employers Portion Only</td>
<td class="data right">{{NumberFormat data-1.01800-00100}}</td>
<td>18</td>
</tr>
<tr><td class="right">19</td>
<td class="left" colspan="4"> Unemployment Insurance</td>
<td class="data right">{{NumberFormat data-1.01900-00100}}</td>
<td>19</td>
</tr>
<tr><td class="right">20</td>
<td class="left" colspan="4"> State or Federal Unemployment Taxes</td>
<td class="data right">{{NumberFormat data-1.02000-00100}}</td>
<td>20</td>
</tr>
<tr><td colspan="7"> OTHER</td>
</tr>
<tr><td class="right">21</td>
<td class="left" colspan="4"> Executive Deferred Compensation</td>
<td class="data right">{{NumberFormat data-1.02100-00100}}</td>
<td>21</td>
</tr>
<tr><td class="right">22</td>
<td class="left" colspan="4"> Day Care Cost and Allowances</td>
<td class="data right">{{NumberFormat data-1.02200-00100}}</td>
<td>22</td>
</tr>
<tr><td class="right">23</td>
<td class="left" colspan="4"> Tuition Reimbursement</td>
<td class="data right">{{NumberFormat data-1.02300-00100}}</td>
<td>23</td>
</tr>
<tr><td class="right">24</td>
<td class="left" colspan="4"> Total Wage Related cost (sum of lines 1 -23)</td>
<td class="data right">{{NumberFormat data-1.02400-00100}}</td>
<td>24</td>
</tr>
<tr><td colspan="5"> Part  B  Other than  Core  Related  Cost</td>
<td>Amount Reported</td>
<td>&nbsp;</td>
</tr>
<tr><td>25</td>
<td class="left" colspan="4"> Other Wage Related Costs (specify) </td>
<td class="data right">{{NumberFormat data-1.02500-00100}}</td>
<td>25</td>
</tr>


<tr><td colspan="7">FORM CMS-2540-10 (08/2016)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4105.3)</td>     </tr>
<tr><td colspan="2">Rev. 7</td>
<td colspan="3">&nbsp;</td>
<td colspan="2">08-16</td>
</tr>
</tbody></table>
</div>