<div class="report"><table border="1" width="100%" cellpadding="1" cellspacing="1">
<colgroup><col width="3%">
<col width="25%">
<col width="13%">
<col width="13%">
<col width="13%">
<col width="13%">
<col width="13%">

<col width="3%">
</colgroup><thead><tr><td colspan="4"> SNF  REPORTING  OF  DIRECT  CARE  EXPENDITURES </td>
<td>Provider CCN: <span class="data">{{pId}}</span></td>
<td><div>PERIOD:</div><div>FROM <span class="data">{{year.start}}</span></div><div>TO <span class="data">{{year.end}}</span></div></td>
<td colspan="2"> WORKSHEET S-3  PART&nbsp;V </td>
</tr>
<tr>
<td colspan="2" rowspan="2"> OCCUPATIONAL  CATEGORY </td><td class="center" valign="middle">  Amount Reported </td>
<td class="center" valign="middle">  Fringe Benefits </td>
<td class="center" valign="middle">Adjusted Salaries ( col. 1 + col. 2 ) </td>
<td class="center" valign="middle">Paid Hours Related to Salary in col. 3 </td>
<td class="center" valign="middle">Average Hourly Wage ( col. 3 ÷ col. 4 ) </td>
<td>&nbsp;</td>
</tr>
<tr>
<td class="center">1</td>
<td class="center">2</td>
<td class="center">3</td>
<td class="center">4</td>
<td class="center">5</td>
<td>&nbsp;</td>
</tr>
</thead><tbody>
<tr><td colspan="3"> Direct  Salaries</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>Nursing  Occupations</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
</tr>
<tr><td class="right">1</td>
<td> Registered Nurses (RNs)</td>
<td class="data right">{{NumberFormat data-1.00100-00100}}</td>
<td class="data right">{{NumberFormat data-1.00100-00200}}</td>
<td class="data right">{{NumberFormat data-1.00100-00300}}</td>
<td class="data right">{{data-1.00100-00400}}</td>
<td class="data right">{{NumberFormat data-1.00100-00500}}</td>
<td>1</td>
</tr>
<tr><td class="right">2</td>
<td> Licensed Practical Nurses (LPNs)</td>
<td class="data right">{{NumberFormat data-1.00200-00100}}</td>
<td class="data right">{{NumberFormat data-1.00200-00200}}</td>
<td class="data right">{{NumberFormat data-1.00200-00300}}</td>
<td class="data right">{{data-1.00200-00400}}</td>
<td class="data right">{{NumberFormat data-1.00200-00500}}</td>
<td>2</td>
</tr>
<tr><td class="right">3</td>
<td> Certified Nursing Assistants/Nursing Assistants/Aides</td>
<td class="data right">{{NumberFormat data-1.00300-00100}}</td>
<td class="data right">{{NumberFormat data-1.00300-00200}}</td>
<td class="data right">{{NumberFormat data-1.00300-00300}}</td>
<td class="data right">{{data-1.00300-00400}}</td>
<td class="data right">{{NumberFormat data-1.00300-00500}}</td>
<td>3</td>
</tr>
<tr><td class="right">4</td>
<td> Total Nursing (sum of lines 1 through 3)</td>
<td class="data right">{{NumberFormat data-1.00400-00100}}</td>
<td class="data right">{{NumberFormat data-1.00400-00200}}</td>
<td class="data right">{{NumberFormat data-1.00400-00300}}</td>
<td class="data right">{{data-1.00400-00400}}</td>
<td class="data right">{{NumberFormat data-1.00400-00500}}</td>
<td>4</td>
</tr>
<tr><td class="right">5</td>
<td> Physical Therapists </td>
<td class="data right">{{NumberFormat data-1.00500-00100}}</td>
<td class="data right">{{NumberFormat data-1.00500-00200}}</td>
<td class="data right">{{NumberFormat data-1.00500-00300}}</td>
<td class="data right">{{data-1.00500-00400}}</td>
<td class="data right">{{NumberFormat data-1.00500-00500}}</td>
<td>5</td>
</tr>
<tr><td class="right">6</td>
<td> Physical Therapy Assistants </td>
<td class="data right">{{NumberFormat data-1.00600-00100}}</td>
<td class="data right">{{NumberFormat data-1.00600-00200}}</td>
<td class="data right">{{NumberFormat data-1.00600-00300}}</td>
<td class="data right">{{data-1.00600-00400}}</td>
<td class="data right">{{NumberFormat data-1.00600-00500}}</td>
<td>6</td>
</tr>
<tr><td class="right">7</td>
<td> Physical Therapy Aides </td>
<td class="data right">{{NumberFormat data-1.00700-00100}}</td>
<td class="data right">{{NumberFormat data-1.00700-00200}}</td>
<td class="data right">{{NumberFormat data-1.00700-00300}}</td>
<td class="data right">{{data-1.00700-00400}}</td>
<td class="data right">{{NumberFormat data-1.00700-00500}}</td>
<td>7</td>
</tr>
<tr><td class="right">8</td>
<td> Occupational Therapists </td>
<td class="data right">{{NumberFormat data-1.00800-00100}}</td>
<td class="data right">{{NumberFormat data-1.00800-00200}}</td>
<td class="data right">{{NumberFormat data-1.00800-00300}}</td>
<td class="data right">{{data-1.00800-00400}}</td>
<td class="data right">{{NumberFormat data-1.00800-00500}}</td>
<td>8</td>
</tr>
<tr><td class="right">9</td>
<td> Occupational Therapy Assistants </td>
<td class="data right">{{NumberFormat data-1.00900-00100}}</td>
<td class="data right">{{NumberFormat data-1.00900-00200}}</td>
<td class="data right">{{NumberFormat data-1.00900-00300}}</td>
<td class="data right">{{data-1.00900-00400}}</td>
<td class="data right">{{NumberFormat data-1.00900-00500}}</td>
<td>9</td>
</tr>
<tr><td class="right">10</td>
<td> Occupational Therapy Aides </td>
<td class="data right">{{NumberFormat data-1.01000-00100}}</td>
<td class="data right">{{NumberFormat data-1.01000-00200}}</td>
<td class="data right">{{NumberFormat data-1.01000-00300}}</td>
<td class="data right">{{data-1.01000-00400}}</td>
<td class="data right">{{NumberFormat data-1.01000-00500}}</td>
<td>10</td>
</tr>
<tr><td class="right">11</td>
<td> Speech Therapists </td>
<td class="data right">{{NumberFormat data-1.01100-00100}}</td>
<td class="data right">{{NumberFormat data-1.01100-00200}}</td>
<td class="data right">{{NumberFormat data-1.01100-00300}}</td>
<td class="data right">{{data-1.01100-00400}}</td>
<td class="data right">{{NumberFormat data-1.01100-00500}}</td>
<td>11</td>
</tr>
<tr><td class="right">12</td>
<td> Respiratory Therapists</td>
<td class="data right">{{NumberFormat data-1.01200-00100}}</td>
<td class="data right">{{NumberFormat data-1.01200-00200}}</td>
<td class="data right">{{NumberFormat data-1.01200-00300}}</td>
<td class="data right">{{data-1.01200-00400}}</td>
<td class="data right">{{NumberFormat data-1.01200-00500}}</td>
<td>12</td>
</tr>
<tr><td class="right">13</td>
<td> Other Medical Staff</td>
<td class="data right">{{NumberFormat data-1.01300-00100}}</td>
<td class="data right">{{NumberFormat data-1.01300-00200}}</td>
<td class="data right">{{NumberFormat data-1.01300-00300}}</td>
<td class="data right">{{data-1.01300-00400}}</td>
<td class="data right">{{NumberFormat data-1.01300-00500}}</td>
<td>13</td>
</tr>
<tr><td colspan="3"> Contract  Labor</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
</tr>
<tr><td>&nbsp;</td>
<td>Nursing  Occupations</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
<td class="fillgrey">&nbsp;</td>
</tr>
<tr><td class="right">14</td>
<td> Registered Nurses (RNs)</td>
<td class="data right">{{NumberFormat data-1.01400-00100}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.01400-00200}}</td>
<td class="data right">{{NumberFormat data-1.01400-00300}}</td>
<td class="data right">{{data-1.01400-00400}}</td>
<td class="data right">{{NumberFormat data-1.01400-00500}}</td>
<td>14</td>
</tr>
<tr><td class="right">15</td>
<td> Licensed Practical Nurses (LPNs)</td>
<td class="data right">{{NumberFormat data-1.01500-00100}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.01500-00200}}</td>
<td class="data right">{{NumberFormat data-1.01500-00300}}</td>
<td class="data right">{{data-1.01500-00400}}</td>
<td class="data right">{{NumberFormat data-1.01500-00500}}</td>
<td>15</td>
</tr>
<tr><td class="right">16</td>
<td> Certified Nursing Assistants/Nursing Assistants/Aides</td>
<td class="data right">{{NumberFormat data-1.01600-00100}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.01600-00200}}</td>
<td class="data right">{{NumberFormat data-1.01600-00300}}</td>
<td class="data right">{{data-1.01600-00400}}</td>
<td class="data right">{{NumberFormat data-1.01600-00500}}</td>
<td>16</td>
</tr>
<tr><td class="right">17</td>
<td> Total Nursing (sum of lines 14 through 16)</td>
<td class="data right">{{NumberFormat data-1.01700-00100}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.01700-00200}}</td>
<td class="data right">{{NumberFormat data-1.01700-00300}}</td>
<td class="data right">{{data-1.01700-00400}}</td>
<td class="data right">{{NumberFormat data-1.01700-00500}}</td>
<td>17</td>
</tr>
<tr><td class="right">18</td>
<td> Physical Therapists </td>
<td class="data right">{{NumberFormat data-1.01800-00100}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.01800-00200}}</td>
<td class="data right">{{NumberFormat data-1.01800-00300}}</td>
<td class="data right">{{data-1.01800-00400}}</td>
<td class="data right">{{NumberFormat data-1.01800-00500}}</td>
<td>18</td>
</tr>
<tr><td class="right">19</td>
<td> Physical Therapy Assistants </td>
<td class="data right">{{NumberFormat data-1.01900-00100}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.01900-00200}}</td>
<td class="data right">{{NumberFormat data-1.01900-00300}}</td>
<td class="data right">{{data-1.01900-00400}}</td>
<td class="data right">{{NumberFormat data-1.01900-00500}}</td>
<td>19</td>
</tr>
<tr><td class="right">20</td>
<td> Physical Therapy Aides </td>
<td class="data right">{{NumberFormat data-1.02000-00100}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.02000-00200}}</td>
<td class="data right">{{NumberFormat data-1.02000-00300}}</td>
<td class="data right">{{data-1.02000-00400}}</td>
<td class="data right">{{NumberFormat data-1.02000-00500}}</td>
<td>20</td>
</tr>
<tr><td class="right">21</td>
<td> Occupational Therapists </td>
<td class="data right">{{NumberFormat data-1.02100-00100}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.02100-00200}}</td>
<td class="data right">{{NumberFormat data-1.02100-00300}}</td>
<td class="data right">{{data-1.02100-00400}}</td>
<td class="data right">{{NumberFormat data-1.02100-00500}}</td>
<td>21</td>
</tr>
<tr><td class="right">22</td>
<td> Occupational Therapy Assistants </td>
<td class="data right">{{NumberFormat data-1.02200-00100}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.02200-00200}}</td>
<td class="data right">{{NumberFormat data-1.02200-00300}}</td>
<td class="data right">{{data-1.02200-00400}}</td>
<td class="data right">{{NumberFormat data-1.02200-00500}}</td>
<td>22</td>
</tr>
<tr><td class="right">23</td>
<td> Occupational Therapy Aides </td>
<td class="data right">{{NumberFormat data-1.02300-00100}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.02300-00200}}</td>
<td class="data right">{{NumberFormat data-1.02300-00300}}</td>
<td class="data right">{{data-1.02300-00400}}</td>
<td class="data right">{{NumberFormat data-1.02300-00500}}</td>
<td>23</td>
</tr>
<tr><td class="right">24</td>
<td> Speech Therapists </td>
<td class="data right">{{NumberFormat data-1.02400-00100}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.02400-00200}}</td>
<td class="data right">{{NumberFormat data-1.02400-00300}}</td>
<td class="data right">{{data-1.02400-00400}}</td>
<td class="data right">{{NumberFormat data-1.02400-00500}}</td>
<td>24</td>
</tr>
<tr><td class="right">25</td>
<td> Respiratory Therapists</td>
<td class="data right">{{NumberFormat data-1.02500-00100}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.02500-00200}}</td>
<td class="data right">{{NumberFormat data-1.02500-00300}}</td>
<td class="data right">{{data-1.02500-00400}}</td>
<td class="data right">{{NumberFormat data-1.02500-00500}}</td>
<td>25</td>
</tr>
<tr><td class="right">26</td>
<td> Other Medical Staff</td>
<td class="data right">{{NumberFormat data-1.02600-00100}}</td>
<td class="data right fillgrey">&nbsp;{{NumberFormat data-1.02600-00200}}</td>
<td class="data right">{{NumberFormat data-1.02600-00300}}</td>
<td class="data right">{{data-1.02600-00400}}</td>
<td class="data right">{{NumberFormat data-1.02600-00500}}</td>
<td>26</td>
</tr>
<tr><td colspan="8">&nbsp;</td>
</tr>
<tr><td colspan="8">&nbsp;</td>
</tr>
<tr><td colspan="8">FORM CMS-2540-10 (11/2012)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4105.4)</td>
</tr>
<tr><td colspan="8">&nbsp;</td>
</tr>
<tr><td colspan="2">08-16</td>
<td colspan="4">&nbsp;</td>
<td colspan="2"> Rev. 7 </td>
</tr>
</tbody></table>
</div>