
<div class="report">
<table border="1" width="100%" cellpadding="1" cellspacing="1">
<colgroup><col width="4%">
<col width="44%">
<col width="9%">
<col width="9%">
<col width="10%">
<col width="10%">
<col width="10%">
<col width="4%">
</colgroup><thead><tr><td class="left" colspan="3"> SNF - BASED  HOME  HEALTH  AGENCY  STATISTICAL  DATA </td>
<td>Provider CCN:<span class="data">{{pId}}</span></td>
<td colspan="2"><div>PERIOD:</div><div>FROM <span class="data">{{year.start}}</span></div><div>TO <span class="data">{{year.end}}</span></div></td>
<td colspan="2"> WORKSHEET S-4</td>
</tr>
</thead><tbody><tr><td></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr><td colspan="8">HOME  HEALTH  AGENCY  STATISTICAL  DATA</td>
</tr>
<tr><td class="right">1</td>
<td colspan="5"> County</td>
<td>{{data-1.00100-00100}}</td>
<td class="right">1</td>
</tr>
<tr><td class="right" colspan="7">&nbsp;</td>
<td class="right">&nbsp;</td>
</tr>
<tr><td class="center" colspan="2" rowspan="2">      DESCRIPTION     </td>
<td class="center">Title V</td>
<td class="center">Title XVIII</td>
<td class="center">Title XIX</td>
<td class="center">Other</td>
<td class="center">Total</td>
<td class="right">&nbsp;</td>
</tr>
<tr><td class="center">1</td>
<td class="center">2</td>
<td class="center">3</td>
<td class="center">4</td>
<td class="center">5</td>
<td class="right">&nbsp;</td>
</tr>
<tr><td class="right">2</td>
<td> Home Health Aide Hours</td>
<td class="data right">{{data-1.00200-00100}}</td>
<td class="data right">{{data-1.00200-00200}}</td>
<td class="data right">{{data-1.00200-00300}}</td>
<td class="data right">{{data-1.00200-00400}}</td>
<td class="data right">{{data-1.00200-00500}}</td>
<td class="right">2</td>
</tr>
<tr><td class="right">3</td>
<td> Unduplicated Census Count (see instructions)</td>
<td class="data right">{{data-1.00300-00100}}</td>
<td class="data right">{{data-1.00300-00200}}</td>
<td class="data right">{{data-1.00300-00300}}</td>
<td class="data right">{{data-1.00300-00400}}</td>
<td class="data right">{{data-1.00300-00500}}</td>
<td class="right">3</td>
</tr>
<tr><td class="left" colspan="8">         HOME  HEALTH  AGENCY  -  NUMBER  OF  EMPLOYEES  (FULL  TIME  EQUIVALENT)        </td>
</tr>
<tr><td class="right" colspan="4" rowspan="2">&nbsp;</td>
<td class="center">Staff</td>
<td class="center">Contract</td>
<td class="center">Total</td>
<td class="right">&nbsp;</td>
</tr>
<tr><td class="center">1</td>
<td class="center">2</td>
<td class="center">3</td>
<td class="right">&nbsp;</td>
</tr>
<tr><td class="right">4</td>
<td colspan="3"> Enter the number of hours in your normal work week </td>
<td class="data right">{{data-1.00400-00100}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00400-00200}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.00400-00300}}</td>
<td class="right">4</td>
</tr>
<tr><td class="right">5</td>
<td colspan="3"> Administrator and Assistant Administrator(s)</td>
<td class="data right">{{data-1.00500-00100}}</td>
<td class="data right">{{data-1.00500-00200}}</td>
<td class="data right">{{data-1.00500-00300}}</td>
<td class="right">5</td>
</tr>
<tr><td class="right">6</td>
<td colspan="3"> Directors and Assistant Director(s)</td>
<td class="data right">{{data-1.00600-00100}}</td>
<td class="data right">{{data-1.00600-00200}}</td>
<td class="data right">{{data-1.00600-00300}}</td>
<td class="right">6</td>
</tr>
<tr><td class="right">7</td>
<td colspan="3"> Other Administrative Personnel</td>
<td class="data right">{{data-1.00700-00100}}</td>
<td class="data right">{{data-1.00700-00200}}</td>
<td class="data right">{{data-1.00700-00300}}</td>
<td class="right">7</td>
</tr>
<tr><td class="right">8</td>
<td colspan="3"> Direct Nursing Service</td>
<td class="data right">{{data-1.00800-00100}}</td>
<td class="data right">{{data-1.00800-00200}}</td>
<td class="data right">{{data-1.00800-00300}}</td>
<td class="right">8</td>
</tr>
<tr><td class="right">9</td>
<td colspan="3"> Nursing Supervisor</td>
<td class="data right">{{data-1.00900-00100}}</td>
<td class="data right">{{data-1.00900-00200}}</td>
<td class="data right">{{data-1.00900-00300}}</td>
<td class="right">9</td>
</tr>
<tr><td class="right">10</td>
<td colspan="3"> Physical Therapy Service</td>
<td class="data right">{{data-1.01000-00100}}</td>
<td class="data right">{{data-1.01000-00200}}</td>
<td class="data right">{{data-1.01000-00300}}</td>
<td class="right">10</td>
</tr>
<tr><td class="right">11</td>
<td colspan="3"> Physical Therapy Supervisor</td>
<td class="data right">{{data-1.01100-00100}}</td>
<td class="data right">{{data-1.01100-00200}}</td>
<td class="data right">{{data-1.01100-00300}}</td>
<td class="right">11</td>
</tr>
<tr><td class="right">12</td>
<td colspan="3"> Occupational Therapy Service</td>
<td class="data right">{{data-1.01200-00100}}</td>
<td class="data right">{{data-1.01200-00200}}</td>
<td class="data right">{{data-1.01200-00300}}</td>
<td class="right">12</td>
</tr>
<tr><td class="right">13</td>
<td colspan="3"> Occupational Therapy Supervisor</td>
<td class="data right">{{data-1.01300-00100}}</td>
<td class="data right">{{data-1.01300-00200}}</td>
<td class="data right">{{data-1.01300-00300}}</td>
<td class="right">13</td>
</tr>
<tr><td class="right">14</td>
<td colspan="3"> Speech Pathology Service</td>
<td class="data right">{{data-1.01400-00100}}</td>
<td class="data right">{{data-1.01400-00200}}</td>
<td class="data right">{{data-1.01400-00300}}</td>
<td class="right">14</td>
</tr>
<tr><td class="right">15</td>
<td colspan="3"> Speech Pathology Supervisor</td>
<td class="data right">{{data-1.01500-00100}}</td>
<td class="data right">{{data-1.01500-00200}}</td>
<td class="data right">{{data-1.01500-00300}}</td>
<td class="right">15</td>
</tr>
<tr><td class="right">16</td>
<td colspan="3"> Medical Social Service</td>
<td class="data right">{{data-1.01600-00100}}</td>
<td class="data right">{{data-1.01600-00200}}</td>
<td class="data right">{{data-1.01600-00300}}</td>
<td class="right">16</td>
</tr>
<tr><td class="right">17</td>
<td colspan="3"> Medical Social Service Supervisor</td>
<td class="data right">{{data-1.01700-00100}}</td>
<td class="data right">{{data-1.01700-00200}}</td>
<td class="data right">{{data-1.01700-00300}}</td>
<td class="right">17</td>
</tr>
<tr><td class="right">18</td>
<td colspan="3"> Home Health Aide</td>
<td class="data right">{{data-1.01800-00100}}</td>
<td class="data right">{{data-1.01800-00200}}</td>
<td class="data right">{{data-1.01800-00300}}</td>
<td class="right">18</td>
</tr>
<tr><td class="right">19</td>
<td colspan="3"> Home Health Aide Supervisor</td>
<td class="data right">{{data-1.01900-00100}}</td>
<td class="data right">{{data-1.01900-00200}}</td>
<td class="data right">{{data-1.01900-00300}}</td>
<td class="right">19</td>
</tr>
<tr><td class="right">20</td>
<td colspan="3"> Other (specify) </td>
<td class="data right">{{data-1.02000-00100}}</td>
<td class="data right">{{data-1.02000-00200}}</td>
<td class="data right">{{data-1.02000-00300}}</td>
<td class="right">20</td>
</tr>
<tr><td class="right" colspan="8">  HOME  HEALTH  AGENCY  CBSA  CODES </td>
</tr>
<tr><td class="right" colspan="8">&nbsp;</td>
</tr>
<tr><td class="right">21</td>
<td colspan="5"> Enter in column 1 the number of CBSAs where you provided services during the cost reporting period.</td>
<td class="data right">{{data-1.02100-00100}}</td>
<td class="right">21</td>
</tr>
<tr><td class="right">22</td>
<td colspan="5"> List those CBSA code(s) in column 1 serviced during this cost reporting period (line 22 contains the first code).</td>
<td class="data right">{{data-1.02200-00100}}</td>
<td class="right">22</td>
</tr>
<tr><td class="right">22.01</td>
<td colspan="5">&nbsp;</td>
<td class="data right">{{data-1.02201-00100}}</td>
<td class="right">22.01</td>
</tr>
<tr><td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td class="right">&nbsp;</td>
</tr>
<tr><td colspan="2" rowspan="3">           PPS ACTIVITY DATA     </td>
<td colspan="2" class="center">Full Episodes</td>
<td class="center"> LUPA Episodes </td>
<td class="center">  PEP only Episodes </td>
<td class="center">Total ( cols. 1 through 4 ) </td>
<td class="right">&nbsp;</td>
</tr>
<tr><td class="center">Without Outliers </td>
<td class="center">With Outliers </td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="center">&nbsp;</td>
<td class="right">&nbsp;</td>
</tr>
<tr><td class="center">1</td>
<td class="center">2</td>
<td class="center">3</td>
<td class="center">4</td>
<td class="center">5</td>
<td class="right">&nbsp;</td>
</tr>
<tr><td class="right">23</td>
<td> Skilled Nursing Visits</td>
<td class="data right">{{data-1.02300-00100}}</td>
<td class="data right">{{data-1.02300-00200}}</td>
<td class="data right">{{data-1.02300-00300}}</td>
<td class="data right">{{data-1.02300-00400}}</td>
<td class="data right">{{data-1.02300-00500}}</td>
<td class="right">23</td>
</tr>
<tr><td class="right">24</td>
<td> Skilled Nursing Visit Charges</td>
<td class="data right">{{data-1.02400-00100}}</td>
<td class="data right">{{data-1.02400-00200}}</td>
<td class="data right">{{data-1.02400-00300}}</td>
<td class="data right">{{data-1.02400-00400}}</td>
<td class="data right">{{data-1.02400-00500}}</td>
<td class="right">24</td>
</tr>
<tr><td class="right">25</td>
<td> Physical Therapy Visits</td>
<td class="data right">{{data-1.02500-00100}}</td>
<td class="data right">{{data-1.02500-00200}}</td>
<td class="data right">{{data-1.02500-00300}}</td>
<td class="data right">{{data-1.02500-00400}}</td>
<td class="data right">{{data-1.02500-00500}}</td>
<td class="right">25</td>
</tr>
<tr><td class="right">26</td>
<td> Physical Therapy Visit Charges</td>
<td class="data right">{{data-1.02600-00100}}</td>
<td class="data right">{{data-1.02600-00200}}</td>
<td class="data right">{{data-1.02600-00300}}</td>
<td class="data right">{{data-1.02600-00400}}</td>
<td class="data right">{{data-1.02600-00500}}</td>
<td class="right">26</td>
</tr>
<tr><td class="right">27</td>
<td> Occupational Therapy Visits</td>
<td class="data right">{{data-1.02700-00100}}</td>
<td class="data right">{{data-1.02700-00200}}</td>
<td class="data right">{{data-1.02700-00300}}</td>
<td class="data right">{{data-1.02700-00400}}</td>
<td class="data right">{{data-1.02700-00500}}</td>
<td class="right">27</td>
</tr>
<tr><td class="right">28</td>
<td> Occupational Therapy Visit Charges</td>
<td class="data right">{{data-1.02800-00100}}</td>
<td class="data right">{{data-1.02800-00200}}</td>
<td class="data right">{{data-1.02800-00300}}</td>
<td class="data right">{{data-1.02800-00400}}</td>
<td class="data right">{{data-1.02800-00500}}</td>
<td class="right">28</td>
</tr>
<tr><td class="right">29</td>
<td> Speech Pathology Visits</td>
<td class="data right">{{data-1.02900-00100}}</td>
<td class="data right">{{data-1.02900-00200}}</td>
<td class="data right">{{data-1.02900-00300}}</td>
<td class="data right">{{data-1.02900-00400}}</td>
<td class="data right">{{data-1.02900-00500}}</td>
<td class="right">29</td>
</tr>
<tr><td class="right">30</td>
<td> Speech Pathology Visit Charges</td>
<td class="data right">{{data-1.03000-00100}}</td>
<td class="data right">{{data-1.03000-00200}}</td>
<td class="data right">{{data-1.03000-00300}}</td>
<td class="data right">{{data-1.03000-00400}}</td>
<td class="data right">{{data-1.03000-00500}}</td>
<td class="right">30</td>
</tr>
<tr><td class="right">31</td>
<td> Medical Social Service Visits</td>
<td class="data right">{{data-1.03100-00100}}</td>
<td class="data right">{{data-1.03100-00200}}</td>
<td class="data right">{{data-1.03100-00300}}</td>
<td class="data right">{{data-1.03100-00400}}</td>
<td class="data right">{{data-1.03100-00500}}</td>
<td class="right">31</td>
</tr>
<tr><td class="right">32</td>
<td> Medical Social Service Visit Charges</td>
<td class="data right">{{data-1.03200-00100}}</td>
<td class="data right">{{data-1.03200-00200}}</td>
<td class="data right">{{data-1.03200-00300}}</td>
<td class="data right">{{data-1.03200-00400}}</td>
<td class="data right">{{data-1.03200-00500}}</td>
<td class="right">32</td>
</tr>
<tr><td class="right">33</td>
<td> Home Health Aide Visits</td>
<td class="data right">{{data-1.03300-00100}}</td>
<td class="data right">{{data-1.03300-00200}}</td>
<td class="data right">{{data-1.03300-00300}}</td>
<td class="data right">{{data-1.03300-00400}}</td>
<td class="data right">{{data-1.03300-00500}}</td>
<td class="right">33</td>
</tr>
<tr><td class="right">34</td>
<td> Home Health Aide Visit Charges</td>
<td class="data right">{{data-1.03400-00100}}</td>
<td class="data right">{{data-1.03400-00200}}</td>
<td class="data right">{{data-1.03400-00300}}</td>
<td class="data right">{{data-1.03400-00400}}</td>
<td class="data right">{{data-1.03400-00500}}</td>
<td class="right">34</td>
</tr>
<tr><td class="right">35</td>
<td> Total Visits (sum of lines 23, 25, 27, 29, 31, and 33)</td>
<td class="data right">{{data-1.03500-00100}}</td>
<td class="data right">{{data-1.03500-00200}}</td>
<td class="data right">{{data-1.03500-00300}}</td>
<td class="data right">{{data-1.03500-00400}}</td>
<td class="data right">{{data-1.03500-00500}}</td>
<td class="right">35</td>
</tr>
<tr><td class="right">36</td>
<td> Other Charges</td>
<td class="data right">{{data-1.03600-00100}}</td>
<td class="data right">{{data-1.03600-00200}}</td>
<td class="data right">{{data-1.03600-00300}}</td>
<td class="data right">{{data-1.03600-00400}}</td>
<td class="data right">{{data-1.03600-00500}}</td>
<td class="right">36</td>
</tr>
<tr><td class="right">37</td>
<td> Total Charges (sum of lines  24, 26, 28, 30, 32, 34 and 36)</td>
<td class="data right">{{data-1.03700-00100}}</td>
<td class="data right">{{data-1.03700-00200}}</td>
<td class="data right">{{data-1.03700-00300}}</td>
<td class="data right">{{data-1.03700-00400}}</td>
<td class="data right">{{data-1.03700-00500}}</td>
<td class="right">37</td>
</tr>
<tr><td class="right">38</td>
<td> Total Number of Episodes (standard/non outlier)</td>
<td class="data right">{{data-1.03800-00100}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.03800-00200}}</td>
<td class="data right">{{data-1.03800-00300}}</td>
<td class="data right">{{data-1.03800-00400}}</td>
<td class="data right">{{data-1.03800-00500}}</td>
<td class="right">38</td>
</tr>
<tr><td class="right">39</td>
<td> Total Number of Outlier Episodes</td>
<td class="data right fillgrey">&nbsp;{{data-1.03900-00100}}</td>
<td class="data right">{{data-1.03900-00200}}</td>
<td class="data right fillgrey">&nbsp;{{data-1.03900-00300}}</td>
<td class="data right">{{data-1.03900-00400}}</td>
<td class="data right">{{data-1.03900-00500}}</td>
<td class="right">39</td>
</tr>
<tr><td class="right">40</td>
<td> Total Non-Routine Medical Supply Charges</td>
<td class="data right">{{data-1.04000-00100}}</td>
<td class="data right">{{data-1.04000-00200}}</td>
<td class="data right">{{data-1.04000-00300}}</td>
<td class="data right">{{data-1.04000-00400}}</td>
<td class="data right">{{data-1.04000-00500}}</td>
<td class="right">40</td>
</tr>
<tr><td colspan="8">FORM CMS-2540-10 (11/2012)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 4106)</td>
</tr>
<tr><td colspan="2">41-310</td>
<td colspan="4">&nbsp;</td>
<td> Rev. 4 </td>
<td>&nbsp;</td>
</tr>
</tbody></table>
</div>