<div class="report"><table border="1" width="100%" cellpadding="1" cellspacing="1">
<colgroup><col width="4%">
<col width="20%">
<col width="2%">
<col width="2%">
<col width="2%">
<col width="22%">
<col width="22%">
<col width="22%">
<col width="4%">
</colgroup><thead><tr><td colspan="5"> PROSPECTIVE  PAYMENT  FOR  SNF  STATISTICAL DATA </td>
<td>Provider CCN: <span class="data">{{pId}}</span></td>
<td><div>PERIOD:</div><div>FROM <span class="data">{{year.start}}</span></div><div>TO <span class="data">{{year.end}}</span></div></td>
<td colspan="2"> WORKSHEET  S-7</td>
</tr>
</thead><tbody><tr><td rowspan="2">&nbsp;</td>
<td class="center" colspan="6">GROUP </td>
<td class="center">Days</td>
<td rowspan="2">&nbsp;</td>
</tr>
<tr><td class="center" colspan="6">1</td>
<td class="center">2</td>
</tr>
<tr><td class="right">1</td>
<td class="center" colspan="6">RUX</td>
<td class="data right">{{data-1.00100-00200}}</td>
<td class="right">1</td>
</tr>
<tr><td class="right">2</td>
<td class="center" colspan="6">RUL</td>
<td class="data right">{{data-1.00200-00200}}</td>
<td class="right">2</td>
</tr>
<tr><td class="right">3</td>
<td class="center" colspan="6">RVX</td>
<td class="data right">{{data-1.00300-00200}}</td>
<td class="right">3</td>
</tr>
<tr><td class="right">4</td>
<td class="center" colspan="6">RVL</td>
<td class="data right">{{data-1.00400-00200}}</td>
<td class="right">4</td>
</tr>
<tr><td class="right">5</td>
<td class="center" colspan="6">RHX</td>
<td class="data right"></td>
<td class="right">5</td>
</tr>
<tr><td class="right">6</td>
<td class="center" colspan="6">RHL</td>
<td class="data right">{{data-1.00600-00200}}</td>
<td class="right">6</td>
</tr>
<tr><td class="right">7</td>
<td class="center" colspan="6">RMX</td>
<td class="data right">{{data-1.00700-00200}}</td>
<td class="right">7</td>
</tr>
<tr><td class="right">8</td>
<td class="center" colspan="6">RML</td>
<td class="data right">{{data-1.00800-00200}}</td>
<td class="right">8</td>
</tr>
<tr><td class="right">9</td>
<td class="center" colspan="6">RLX</td>
<td class="data right">{{data-1.00900-00200}}</td>
<td class="right">9</td>
</tr>
<tr><td class="right">10</td>
<td class="center" colspan="6">RUC</td>
<td class="data right">{{data-1.01000-00100}}</td>
<td class="right">10</td>
</tr>
<tr><td class="right">11</td>
<td class="center" colspan="6">RUB</td>
<td class="data right">{{data-1.01100-00200}}</td>
<td class="right">11</td>
</tr>
<tr><td class="right">12</td>
<td class="center" colspan="6">RUA</td>
<td class="data right">{{data-1.01200-00200}}</td>
<td class="right">12</td>
</tr>
<tr><td class="right">13</td>
<td class="center" colspan="6">RVC</td>
<td class="data right">{{data-1.01300-00200}}</td>
<td class="right">13</td>
</tr>
<tr><td class="right">14</td>
<td class="center" colspan="6">RVB</td>
<td class="data right">{{data-1.01400-00200}}</td>
<td class="right">14</td>
</tr>
<tr><td class="right">15</td>
<td class="center" colspan="6">RVA</td>
<td class="data right">{{data-1.01500-00200}}</td>
<td class="right">15</td>
</tr>
<tr><td class="right">16</td>
<td class="center" colspan="6">RHC</td>
<td class="data right">{{data-1.01600-00200}}</td>
<td class="right">16</td>
</tr>
<tr><td class="right">17</td>
<td class="center" colspan="6">RHB</td>
<td class="data right">{{data-1.01700-00200}}</td>
<td class="right">17</td>
</tr>
<tr><td class="right">18</td>
<td class="center" colspan="6">RHA</td>
<td class="data right">{{data-1.01800-00200}}</td>
<td class="right">18</td>
</tr>
<tr><td class="right">19</td>
<td class="center" colspan="6">RMC</td>
<td class="data right">{{data-1.01900-00200}}</td>
<td class="right">19</td>
</tr>
<tr><td class="right">20</td>
<td class="center" colspan="6">RMB</td>
<td class="data right">{{data-1.02000-00200}}</td>
<td class="right">20</td>
</tr>
<tr><td class="right">21</td>
<td class="center" colspan="6">RMA</td>
<td class="data right">{{data-1.02100-00200}}</td>
<td class="right">21</td>
</tr>
<tr><td class="right">22</td>
<td class="center" colspan="6">RLB</td>
<td class="data right">{{data-1.02200-00200}}</td>
<td class="right">22</td>
</tr>
<tr><td class="right">23</td>
<td class="center" colspan="6">RLA</td>
<td class="data right">{{data-1.02300-00200}}</td>
<td class="right">23</td>
</tr>
<tr><td class="right">24</td>
<td class="center" colspan="6">ES3</td>
<td class="data right">{{data-1.02400-00200}}</td>
<td class="right">24</td>
</tr>
<tr><td class="right">25</td>
<td class="center" colspan="6">ES2</td>
<td class="data right">{{data-1.02500-00200}}</td>
<td class="right">25</td>
</tr>
<tr><td class="right">26</td>
<td class="center" colspan="6">ES1</td>
<td class="data right">{{data-1.02600-00200}}</td>
<td class="right">26</td>
</tr>
<tr><td class="right">27</td>
<td class="center" colspan="6">HE2</td>
<td class="data right">{{data-1.02700-00200}}</td>
<td class="right">27</td>
</tr>
<tr><td class="right">28</td>
<td class="center" colspan="6">HE1</td>
<td class="data right">{{data-1.02800-00200}}</td>
<td class="right">28</td>
</tr>
<tr><td class="right">29</td>
<td class="center" colspan="6">HD2</td>
<td class="data right">{{data-1.02900-00200}}</td>
<td class="right">29</td>
</tr>
<tr><td class="right">30</td>
<td class="center" colspan="6">HD1</td>
<td class="data right">{{data-1.03000-00200}}</td>
<td class="right">30</td>
</tr>
<tr><td class="right">31</td>
<td class="center" colspan="6">HC2</td>
<td class="data right">{{data-1.03100-00200}}</td>
<td class="right">31</td>
</tr>
<tr><td class="right">32</td>
<td class="center" colspan="6">HC1</td>
<td class="data right">{{data-1.03200-00200}}</td>
<td class="right">32</td>
</tr>
<tr><td class="right">33</td>
<td class="center" colspan="6">HB2</td>
<td class="data right">{{data-1.03300-00200}}</td>
<td class="right">33</td>
</tr>
<tr><td class="right">34</td>
<td class="center" colspan="6">HB1</td>
<td class="data right">{{data-1.03400-00200}}</td>
<td class="right">34</td>
</tr>
<tr><td class="right">35</td>
<td class="center" colspan="6">LE2</td>
<td class="data right">{{data-1.03500-00200}}</td>
<td class="right">35</td>
</tr>
<tr><td class="right">36</td>
<td class="center" colspan="6">LE1</td>
<td class="data right">{{data-1.03600-00200}}</td>
<td class="right">36</td>
</tr>
<tr><td class="right">37</td>
<td class="center" colspan="6">LD2</td>
<td class="data right">{{data-1.03700-00200}}</td>
<td class="right">37</td>
</tr>
<tr><td class="right">38</td>
<td class="center" colspan="6">LD1</td>
<td class="data right">{{data-1.03800-00200}}</td>
<td class="right">38</td>
</tr>
<tr><td class="right">39</td>
<td class="center" colspan="6">LC2</td>
<td class="data right">{{data-1.03900-00200}}</td>
<td class="right">39</td>
</tr>
<tr><td class="right">40</td>
<td class="center" colspan="6">LC1</td>
<td class="data right">{{data-1.04000-00200}}</td>
<td class="right">40</td>
</tr>
<tr><td class="right">41</td>
<td class="center" colspan="6">LB2</td>
<td class="data right">{{data-1.04100-00200}}</td>
<td class="right">41</td>
</tr>
<tr><td class="right">42</td>
<td class="center" colspan="6">LB1</td>
<td class="data right">{{data-1.04200-00200}}</td>
<td class="right">42</td>
</tr>
<tr><td class="right">43</td>
<td class="center" colspan="6">CE2</td>
<td class="data right">{{data-1.04300-00200}}</td>
<td class="right">43</td>
</tr>
<tr><td class="right">44</td>
<td class="center" colspan="6">CE1</td>
<td class="data right">{{data-1.04400-00200}}</td>
<td class="right">44</td>
</tr>
<tr><td class="right">45</td>
<td class="center" colspan="6">CD2</td>
<td class="data right">{{data-1.04500-00200}}</td>
<td class="right">45</td>
</tr>
<tr><td class="right">46</td>
<td class="center" colspan="6">CD1</td>
<td class="data right">{{data-1.04600-00200}}</td>
<td class="right">46</td>
</tr>
<tr><td class="right">47</td>
<td class="center" colspan="6">CC2</td>
<td class="data right">{{data-1.04700-00200}}</td>
<td class="right">47</td>
</tr>
<tr><td class="right">48</td>
<td class="center" colspan="6">CC1</td>
<td class="data right">{{data-1.04800-00200}}</td>
<td class="right">48</td>
</tr>
<tr><td class="right">49</td>
<td class="center" colspan="6">CB2</td>
<td class="data right">{{data-1.04900-00200}}</td>
<td class="right">49</td>
</tr>
<tr><td class="right">50</td>
<td class="center" colspan="6">CB1</td>
<td class="data right">{{data-1.05000-00200}}</td>
<td class="right">50</td>
</tr>
<tr><td class="right">51</td>
<td class="center" colspan="6">CA2</td>
<td class="data right">{{data-1.05100-00200}}</td>
<td class="right">51</td>
</tr>
<tr><td class="right">52</td>
<td class="center" colspan="6">CA1</td>
<td class="data right">{{data-1.05200-00200}}</td>
<td class="right">52</td>
</tr>
<tr><td class="right">53</td>
<td class="center" colspan="6">SE3</td>
<td class="data fillgrey right">&nbsp;{{data-1.05300-00200}}</td>
<td class="right">53</td>
</tr>
<tr><td class="right">54</td>
<td class="center" colspan="6">SE2</td>
<td class="data fillgrey right">&nbsp;{{data-1.05400-00200}}</td>
<td class="right">54</td>
</tr>
<tr><td class="right">55</td>
<td class="center" colspan="6">SE1</td>
<td class="data fillgrey right">&nbsp;{{data-1.05500-00200}}</td>
<td class="right">55</td>
</tr>
<tr><td class="right">56</td>
<td class="center" colspan="6">SSC</td>
<td class="data fillgrey right">&nbsp;{{data-1.05600-00200}}</td>
<td class="right">56</td>
</tr>
<tr><td class="right">57</td>
<td class="center" colspan="6">SSB</td>
<td class="data fillgrey right">&nbsp;{{data-1.05700-00200}}</td>
<td class="right">57</td>
</tr>
<tr><td class="right">58</td>
<td class="center" colspan="6">SSA</td>
<td class="data fillgrey right">&nbsp;{{data-1.05800-00200}}</td>
<td class="right">58</td>
</tr>
<tr><td class="right">59</td>
<td class="center" colspan="6">IB2</td>
<td class="data fillgrey right">&nbsp;{{data-1.05900-00200}}</td>
<td class="right">59</td>
</tr>
<tr><td class="right">60</td>
<td class="center" colspan="6">IB1</td>
<td class="data fillgrey right">{{data-1.06000-00200}}</td>
<td class="right">60</td>
</tr>
<tr><td class="right">61</td>
<td class="center" colspan="6">IA2</td>
<td class="data fillgrey right">{{data-1.06100-00200}}</td>
<td class="right">61</td>
</tr>
<tr><td class="right">62</td>
<td class="center" colspan="6">IA1</td>
<td class="data fillgrey right">{{data-1.06200-00200}}</td>
<td class="right">62</td>
</tr>
<tr><td class="right">63</td>
<td class="center" colspan="6">BB2</td>
<td class="data right">{{data-1.06300-00200}}</td>
<td class="right">63</td>
</tr>
<tr><td class="right">64</td>
<td class="center" colspan="6">BB1</td>
<td class="data right">{{data-1.06400-00200}}</td>
<td class="right">64</td>
</tr>
<tr><td class="right">65</td>
<td class="center" colspan="6">BA2</td>
<td class="data right">{{data-1.06500-00200}}</td>
<td class="right">65</td>
</tr>
<tr><td class="right">66</td>
<td class="center" colspan="6">BA1</td>
<td class="data right">{{data-1.06600-00200}}</td>
<td class="right">66</td>
</tr>
<tr><td class="right">67</td>
<td class="center" colspan="6">PE2</td>
<td class="data right">{{data-1.06700-00200}}</td>
<td class="right">67</td>
</tr>
<tr><td class="right">68</td>
<td class="center" colspan="6">PE1</td>
<td class="data right">{{data-1.06800-00200}}</td>
<td class="right">68</td>
</tr>
<tr><td class="right">69</td>
<td class="center" colspan="6">PD2</td>
<td class="data right">{{data-1.06900-00200}}</td>
<td class="right">69</td>
</tr>
<tr><td class="right">70</td>
<td class="center" colspan="6">PD1</td>
<td class="data right">{{data-1.07000-00200}}</td>
<td class="right">70</td>
</tr>
<tr><td class="right">71</td>
<td class="center" colspan="6">PC2</td>
<td class="data right">{{data-1.07100-00200}}</td>
<td class="right">71</td>
</tr>
<tr><td class="right">72</td>
<td class="center" colspan="6">PC1</td>
<td class="data right">{{data-1.07200-00200}}</td>
<td class="right">72</td>
</tr>
<tr><td class="right">73</td>
<td class="center" colspan="6">PB2</td>
<td class="data right">{{data-1.07300-00200}}</td>
<td class="right">73</td>
</tr>
<tr><td class="right">74</td>
<td class="center" colspan="6">PB1</td>
<td class="data right">{{data-1.07400-00200}}</td>
<td class="right">74</td>
</tr>
<tr><td class="right">75</td>
<td class="center" colspan="6">PA2</td>
<td class="data right">{{data-1.07500-00200}}</td>
<td class="right">75</td>
</tr>
<tr><td class="right">76</td>
<td class="center" colspan="6">PA1</td>
<td class="data right">{{data-1.07600-00200}}</td>
<td class="right">76</td>
</tr>
<tr><td class="right">99</td>
<td class="center" colspan="6">AAA</td>
<td class="data right">{{data-1.07700-00200}}</td>
<td class="right">99</td>
</tr>
<tr><td class="right">100</td>
<td colspan="6">Total</td>
<td class="data right">{{data-1.10000-00200}}</td>
<td class="right">100</td>
</tr>
<tr><td colspan="9"><div> A notice published in the "Federal Register"  Vol. 68, No. 149 August 4, 2003 provided for an increase in the RUG payments beginning 10/01/2003  Congress expected this increase to be used for direct patient care and related expenses.  For lines 101 through 106:  Enter in column 1  the amount of expense for each category.  Enter in column 2 the percentage of total expenses for each category to total SNF revenue  from Worksheet G-2, Part I line 1 column3.  Indicate in column 3 "Y" for yes or "N" for no if the spending reflects increases associated  with direct patient care and related expenses for each category. (If column 2 is zero, enter N/A in column 3) (see instructions)</div></td>
</tr>
<tr><td colspan="5" rowspan="2">&nbsp;</td>
<td>Expenses</td>
<td>Percentage</td>
<td>Y/N</td>
<td rowspan="2">&nbsp;</td>
</tr>
<tr><td class="center">1</td>
<td class="center">2</td>
<td class="center">3</td>
</tr>
<tr><td class="right">101</td>
<td colspan="4"> Staffing</td>
<td class="data right">{{NumberFormat data-1.10100-00100}}</td>
<td class="data right">{{data-1.10100-00200}}</td>
<td class="data right">{{data-1.10100-00300}}</td>
<td class="right">101</td>
</tr>
<tr><td class="right">102</td>
<td colspan="4"> Recruitment</td>
<td class="data right">{{NumberFormat data-1.10200-00100}}</td>
<td class="data right">{{data-1.10200-00200}}</td>
<td class="data right">{{data-1.10200-00300}}</td>
<td class="right">102</td>
</tr>
<tr><td class="right">103</td>
<td colspan="4"> Retention of employees</td>
<td class="data right">{{NumberFormat data-1.10300-00100}}</td>
<td class="data right">{{data-1.10300-00200}}</td>
<td class="data right">{{data-1.10300-00300}}</td>
<td class="right">103</td>
</tr>
<tr><td class="right">104</td>
<td colspan="4"> Training</td>
<td class="data right">{{NumberFormat data-1.10400-00100}}</td>
<td class="data right">{{data-1.10400-00100}}</td>
<td class="data right">{{NumberFormat data-1.10400-00100}}</td>
<td class="right">104</td>
</tr>
<tr><td class="right">105</td>
<td colspan="4"> Other  (Specify)</td>
<td class="data right">{{NumberFormat data-1.10500-00100}}</td>
<td class="data right">{{data-1.10500-00200}}</td>
<td class="data right">{{NumberFormat data-1.10500-00300}}</td>
<td class="right">105</td>
</tr>
<tr><td class="right">106</td>
<td colspan="4">Total SNF revenue (Wkst. G-2, Pt. I, line 1, col. 3)</td>
<td class="fillgrey right">&nbsp;{{NumberFormat data-1.10600-00100}}</td>
<td class="data right">{{data-1.10600-00200}}</td>
<td class="data fillgrey right">&nbsp;{{NumberFormat data-1.10600-00300}}</td>
<td class="right">106</td>
</tr>
<tr><td colspan="9">&nbsp;</td>
</tr>
<tr><td colspan="9">FORM CMS-2540-10 (08/2016)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTIONS 4109 - 4109.1)</td>
</tr>
<tr><td colspan="2">41-314</td>
<td colspan="5">&nbsp;</td>
<td colspan="2"> Rev. 7 </td>
</tr>
</tbody></table>
</div>
