<body class="pg-home">

	<div class="modal"></div>
	<div class="notification"></div>
	<!-- header -->
	{{!-- <header class="panel-row">
		<div class="content">

			<section class="logo-nav">
				{{> home/nav }}

			</section>

		</div>
	</header> --}}
	{{> home/navnew }}


	{{!-- New View --}}

	<!-- carousel -->
	<div id="index-banner" class="carousel slide" data-ride="carousel">

		<!-- The slideshow -->
		<div class="carousel-inner">
			<div class="carousel-item active"> <img src="images/img_banner.png" alt="Banner" class="img-fluid banner">
				<div class="carousel-caption ">
					<p>Get the Updated Complete </p>
					<h3>Medicare Cost Reports</h3>

					<form class="form-inline justify-content-center">
						{{!-- <div class="input-group input-group-lg col-md-8 search-holder mb-2">
							<input class="form-control py-2" type="search" value=""
								placeholder="Search by Hospital Name or Provider ID">
							<div class="input-group-append">
								<button class="btn " type="button">
									<i class="fa fa-search"></i>
								</button>
							</div>
						</div> --}}
						<div class="input-group input-group-lg col-md-8 search-holder mb-2">
							{{> page/provider}}
							{{!-- <div class="input-group-append">
								<button class="btn " type="button">
									<i class="fa fa-search"></i>
								</button>
							</div> --}}
						</div>
						
					</form>

					<u><a href="/state">Browse Hospitals by State / County / City</a></u>
				</div>
			</div>


		</div>


	</div>
	{{!-- Main --}}

	<main>
		<div class="bg-lite1 pt-3 pb-3">
			<section class="container wow fadeInUp">
				<div class="row mt-5 mb-5">
					<aside class="col-sm-6 what-left">
						<h3>What <span>Medicare Cost Reports</span> provides</h3>
						<p class="mt-2 mb-2">Medicare Cost Reports provides accurate and updated Medicare cost report data to healthcare financial and reimbursement professionals. Our database of more than 4750 Hospice facilities, 7500 Renal/Dialysis facilities, 11300 Home Health agencies, 15530 Skilled Nursing Homes and 6300 Hospitals is built from Medicare cost report information obtained from the federal Centers for Medicare and Medicaid Services (CMS) for all reporting periods since 1996. The information reflects data as reported to the Healthcare Cost Report Information System (HCRIS).</p>
						<div class="mt-2 provides"><a class="btn-primary col" href="#faq">Know More</a> <a
								class="btn-primary col" href="#pricing">Buy Now</a></div>
					</aside>

					<aside class="col-sm-6 what-right">
						<p class="box"><span><img src="images/icon_tic.svg" alt="icon" class="mr-2" /></span> Upto date
							data on Medicare</p>
						<p class="box"><span><img src="images/icon_tic.svg" alt="icon" class="mr-2" /></span> Simple and
							Easy to understand</p>
						<p class="box"><span><img src="images/icon_tic.svg" alt="icon" class="mr-2" /></span> Cost
							effective Data in the Market</p>
						<p class="box"><span><img src="images/icon_tic.svg" alt="icon" class="mr-2" /></span> Enhanced
							Search of data with multiple functionalities</p>
					</aside>

				</div>
			</section>
		</div>



		<section class="container wow fadeInUp" id="pricing">
			<h3 class="text-center text-primary wight-m">Explore our Packages</h3>
			<p class="col-md-10 offset-md-1 text-center text-dark-lite">Based on your subscription, you have unlimited, online access for a full year. Available cost reports are continually updated as new information becomes available, including multiple filings. Subscribers can look up worksheets online, print them, or download them in PDF formats.</p>
			<div class="row mt-5 mb-2">

                <div class="col-sm-4 mb-5">
					<section class="package-holder">
						<h2>Hospice</h2>
						<h3>$199/yr</h3>
						<ul>
							<li><strong>4,750</strong> Hospice facilities</li>
							<li><strong>10+</strong> years Cost Reports</li>
							<li><strong>Financial</strong> Dashboard</li>
							<li><strong>Multi user</strong> Access</li>
							<!--<li><strong>Free Profile Data</strong></li>
							<li><strong>1 Free Cost Report</strong></li>-->
						</ul>
						{{!-- <a href="#" class="btn-plan">Choose this Plan</a> --}}

						{{#if authenticated }}
						{{#if purchasedPlan.HOSPICE}}
							<a href="#" class="btn-plan" style="cursor: not-allowed;">Already Purchased</a>
						{{else}}
							<a href="/buyplan?plan=HOSPICE-ANNUAL-199" class="btn-plan">Choose this Plan</a>
						{{/if}}
						{{else}}
							<a href="/buyplan?plan=HOSPICE-ANNUAL-199" class="btn-plan">Choose this Plan</a>
						{{/if}}
					</section>
				</div>

				<div class="col-sm-4 mb-5">
					<section class="package-holder">
						<h2>Renal</h2>
						<h3>$199/yr</h3>
						<ul>
							<li><strong>7,500</strong> Renal/Dialysis facilities</li>
                            <li><strong>10+</strong> years Cost Reports</li>
							<li><strong>Financial</strong> Dashboard</li>
							<li><strong>Multi user</strong> Access</li>
							<!--<li><strong>Free Profile Data</strong></li>
							<li><strong>1 Free Cost Report</strong></li>-->
						</ul>
						{{!-- <a href="#" class="btn-plan">Choose this Plan</a> --}}
						{{#if authenticated }}
						{{#if purchasedPlan.RENAL}}
							<a href="#" class="btn-plan" style="cursor: not-allowed;">Already Purchased</a>
						{{else}}
							<a href="/buyplan?plan=RENAL-ANNUAL-199" class="btn-plan">Choose this Plan</a>
						{{/if}}
						{{else}}
							<a href="/buyplan?plan=RENAL-ANNUAL-199" class="btn-plan">Choose this Plan</a>
						{{/if}}

					</section>
				</div>

				<div class="col-sm-4 mb-5">
					<section class="package-holder">
						<h2>HHA</h2>
						<h3>$199/yr</h3>
						<ul>
							<li><strong>11,300</strong> Home Health Agencies</li>
                            <li><strong>10+</strong> years Cost Reports</li>
							<li><strong>Financial</strong> Dashboard</li>
							<li><strong>Multi user</strong> Access</li>
							<!--<li><strong>Free Profile Data</strong></li>
							<li><strong>1 Free Cost Report</strong></li>-->
						</ul>
						{{!-- <a href="#" class="btn-plan">Choose this Plan</a> --}}
						{{#if authenticated }}
						{{#if purchasedPlan.HHA}}
							<a href="#" class="btn-plan" style="cursor: not-allowed;">Already Purchased</a>
						{{else}}
							<a href="/buyplan?plan=HHA-ANNUAL-199" class="btn-plan">Choose this Plan</a>
						{{/if}}
						{{else}}
							<a href="/buyplan?plan=HHA-ANNUAL-199" class="btn-plan">Choose this Plan</a>
						{{/if}}
					</section>
				</div>

				<div class="col-sm-4 mb-5">
					<section class="package-holder">
						<h2>SNF</h2>
						<h3>$499/yr</h3>
						<ul>
							<li><strong>15,530 </strong> Skilled Nursing Homes</li>
                            <li><strong>10+</strong> years Cost Reports</li>
							<li><strong>Financial</strong> Dashboard</li>
							<li><strong>Multi user</strong> Access</li>
							<!--<li><strong>Free Profile Data</strong></li>
							<li><strong>1 Free Cost Report</strong></li>-->
						</ul>
						{{!-- <a href="#" class="btn-plan">Choose this Plan</a> --}}
						{{#if authenticated }}
						{{#if purchasedPlan.SNF}}
							<a href="#" class="btn-plan" style="cursor: not-allowed;">Already Purchased</a>
						{{else}}
							<a href="/buyplan?plan=SNF-ANNUAL-499" class="btn-plan">Choose this Plan</a>
						{{/if}}
						{{else}}
							<a href="/buyplan?plan=SNF-ANNUAL-499" class="btn-plan">Choose this Plan</a>
						{{/if}}
					</section>
				</div>

				<div class="col-sm-4 mb-5">
					<section class="package-holder">
						<h2>Hospital</h2>
						<h3>$499/yr</h3>
						<ul>
							<li><strong>6,300</strong> Hospitals</li>
                            <li><strong>10+</strong> years Cost Reports</li>
							<li><strong>Financial</strong> Dashboard</li>
							<li><strong>Multi user</strong> Access</li>
							<!--<li><strong>Free Profile Data</strong></li>
							<li><strong>1 Free Cost Report</strong></li>-->
						</ul>
						{{!-- <a href="#" class="btn-plan">Choose this Plan</a> --}}
						{{#if authenticated }}
						{{#if purchasedPlan.HOSPITAL}}
							<a href="#" class="btn-plan" style="cursor: not-allowed;">Already Purchased</a>
						{{else}}
							<a href="/buyplan?plan=HOSPITAL-ANNUAL-499" class="btn-plan">Choose this Plan</a>
						{{/if}}
						{{else}}
							<a href="/buyplan?plan=HOSPITAL-ANNUAL-499" class="btn-plan">Choose this Plan</a>
						{{/if}}
					</section>
				</div>

				<div class="col-sm-4 mb-5">
					<section class="package-holder">
						<img src="images/icon_recomended.svg" alt="icon" / class="recomended">
						<h2>All Inclusive</h2>
						{{#if totalInclusivePrice }}
						<h3 class="yearly">${{totalInclusivePrice}}<span class="small">/yr</span></h3>
						{{else}}
						<h3 class="yearly">$1499<span class="small">/yr</span></h3>
						{{/if}}
						{{!-- <h3>$1499/yr</h3> --}}
						<ul>
							<li><strong>45,380</strong> Facilities</li>
                            <li><strong>10+</strong> years Cost Reports</li>
							<li><strong>Financial</strong> Dashboard</li>
							<li><strong>Multi user</strong> Access</li>
							<!--<li><strong>Free Profile Data</strong></li>
							<li><strong>1 Free Cost Report</strong></li>-->
						</ul>
						{{!-- <a href="#" class="btn-plan">Choose this Plan</a> --}}
						{{#if authenticated }}
						{{#if purchasedPlan.EVERYTHING}}
							<a href="#" class="btn-plan" style="cursor: not-allowed;">Already Purchased</a>
						{{else}}
							<a class="btn-plan show-modal-btn" data-target="#allInclusiveMessage" role="button" data-toggle="modal">Choose this Plan</a>
							{{!-- <a href="/buyplan?plan=EVERYTHING-ANNUAL-1499" class="btn-plan">Choose this Plan</a> --}}
						{{/if}}
						{{else}}
							{{!-- <a class="btn-plan show-modal-btn" data-target="#allInclusiveMessage" role="button" data-toggle="modal">Choose this Plan</a> --}}
							<a href="/buyplan?plan=EVERYTHING-ANNUAL-1499" class="btn-plan">Choose this Plan</a>
						{{/if}}
					</section>
				</div>

			</div>
		</section>

		{{!-- Static View Only - Begin --}}
		<div class="bg-lite1 pt-3 pb-5" id="feature">
			<section class="container wow fadeInUp">
				<h3 class="text-center key mb-5">Our Key Features</h3>

				<div class="row">
					<div class="col-sm-3 ">
						<section class="features-holder">
							<i><img src="images/icon_search.svg" alt="icon" /></i>
							<h4>Powerful search tools</h4>
							<p>Look up cost reports either by direct search or by browsing State / County / City
                            </p>
						</section>
					</div>


					<div class="col-sm-3 ">
						<section class="features-holder">
							<i><img src="images/icon_profiles.svg" alt="icon" /></i>
							<h4>Free Medicare Cost Reports</h4>
							<p>Our Free plan entails you to see the oldest available report of any facility for free.
                            </p>
						</section>
					</div>


					<div class="col-sm-3 ">
						<section class="features-holder">
							<i><img src="images/icon_analytics.svg" alt="icon" /></i>
							<h4>Periodically Updated
                            </h4>
							<p>We update our cost report data once new reports are provided by the federal centers for Medicare and Medicaid services.
                            </p>
						</section>
					</div>


					<div class="col-sm-3 ">
						<section class="features-holder">
							<i><img src="images/icon_budget.svg" alt="icon" /></i>
							<h4>Presentable Data
                            </h4>
							<p>Information is presented in familiar worksheet formats that can be viewed online, printed, and downloaded in PDF formats.
                            </p>
						</section>
					</div>
				</div>
			</section>
		</div>
		<div class="bg-lite mb-5">
			<section class="container wow fadeInUp">
				<div class="row pt-4 pb-3">
					<aside class="col-md-6">
						<p><strong>Interested? Give a try with our Free Plan.</strong> </p>
						<p>Register and get free access to historic cost reports</p>
					</aside>
					<aside class="col-md-6 mt-4 buttons-holder interested-btn">
						<a href="/signup" class="btn-plan mr-3">Register</a>
						<a href="/signin" class="btn-plan">Login</a>
					</aside>
				</div>

			</section>

		</div>


		<section class="container-fluid wow fadeInUp" id="ds">
			<h3 class="text-center mb-5 text-dark-lite1 wight-m">Current Data Sources</h3>
			<div class="row mb-5">
				<aside class="col-sm-6 row">
					<img src="images/img_current_data.png" alt="image left" class="img-fluid" />
				</aside>

				<aside class="col-sm-3 offset-md-1 ">
					<div class="sources-holder">
						<h4 class="wight-m">Medicare Cost Reports</h4>
						<p class=" text-dark-lite1">The Healthcare Cost Report Information System (HCRIS) dataset contains the most recent version of each cost report filed with CMS (formerly HCFA) since federal FY 1996. The dataset consists of every data element included in the HCRIS extract created for CMS by a provider's fiscal intermediary.  Cost reports are filed annually by facilities according to their individual reporting years.  This dataset is updated quarterly by CMS.  All Financial Information reports based on cost report data indicate a facility's fiscal year(s) in the column headers.</p>

					</div>
					<div class="sources-holder">
						<h4 class="wight-m">Nursing Home Compare</h4>
						<p class=" text-dark-lite1">Nursing Home Compare is a federal website that has detailed information about every Medicare and Medicaid-certified nursing home in the country.</p>

					</div>
				</aside>
				<div class="half-circle"><img src="images/img_half_circle.png" class="img-fluid " /></div>
			</div>
		</section>


		<!--<div class="bg-lite mt-3 mb-3">
			<section class="container wow fadeInUp">
				<div class="row pt-4 pb-2">
					<aside class="col-md-6">
						<h4 class="wight-m">Subscribe to our Newsletter</h4>
						<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
							invidunt ut labore et dolore magna</p>
					</aside>
					<aside class="col-md-6">
						<form class="form-inline mt-3">
							<div class="input-group mb-3 subscribe col-md-10">
								<input type="text" class="form-control" placeholder="Email Address"
									aria-label="Email Address" aria-describedby="basic-addon2">
								<div class="input-group-append">
									<button class="btn btn-subscribe" type="button">Subscribe</button>
								</div>
							</div>

						</form>
					</aside>
				</div>

			</section>

		</div>-->


		<section class="container pt-5 pb-5 wow fadeInUp">

			<div class="row">
				<section class="col-md-6">
					<div class="testimonial">
						<div id="owl-client">
							<div class="item">
								<div class="row">
									<div class="col-md-10">
										<img src="images/img_client.png" alt="client" />
									</div>

									<div class="col-md-2">
										<img src="images/icon_shape.svg" alt="shape" class="shap" />
									</div>
								</div>
								<p>Compared to other data providers, they provide a very accurate and updated data, which is very helpful for the financial planning of my customers. </p>

								<div class="row">
									<div class="col">
										<h4 class="wight-m">Steve Cherapla</h4>
										<p>Certified Healthcare Financial Professional
                                        </p>
									</div>


								</div>
							</div>
							<div class="item">
								<div class="row">
									<div class="col-md-10">
										<img src="images/client2.png" alt="client" width="125"/>
									</div>

									<div class="col-md-2">
										<img src="images/icon_shape.svg" alt="shape" class="shap" />
									</div>
								</div>
								<p>I like the way the subscription plans are positioned, I only deal with SNF and this is by far the most economical way to get organized SNF data.</p>

								<div class="row">
									<div class="col">
										<h4 class="wight-m">Jorge Esponosa</h4>
										<p>Healthcare Financial & Revenue Cycle Expert</p>
									</div>


								</div>
							</div>



						</div>

					</div>
				</section>

				<section class="col-md-6 ">
					<div class="faq">
						<h4 class="text-center text-dark-lite1 mt-5 mb-4 wight-m">Listen to our customers</h4>
						<p>Several thousand healthcare financial professionals and reimbursement professionals make use of our data. </p>
					</div>
				</section>
			</div>
		</section>

		<section class="container wow fadeInUp" id="faq">

			<h4 class="text-center text-dark-lite1 mt-5 mb-4 wight-m">Frequently Asked Questions</h4>
			<div class="row mb-5">
				<aside class="col-sm-6">
					<div class="accordion indicator-plus-before round-indicator" id="accordionH"
						aria-multiselectable="true">
						<div class="card m-b-0">
							<div class="card-header collapsed" role="tab" id="headingOneH" href="#collapseOneH"
								data-toggle="collapse" data-parent="#accordionH" aria-expanded="false"
								aria-controls="collapseOneH">
								<a class="card-title">What are the sources of data ?</a>
							</div>
							<div class="collapse" id="collapseOneH" role="tabpanel" aria-labelledby="headingOneH">
								<div class="card-body">
                                    Most of the data reported by us are taken from public use files obtained from the Health Care Financing Administration.
                                    Sources include:
                                    <li>The Medicare Cost Report file contains cost, statistical, financial and other information from the Medicare Hospital Cost Reports submitted for Medicare certified skilled nursing facilities.</li>
                                    <li>Nursing Home Compare is a federal website that contains information about nursing homes.</li>
								</div>
							</div>
							<div class="card-header collapsed" role="tab" id="headingTwoH" href="#collapseTwoH"
								data-toggle="collapse" data-parent="#accordionH" aria-expanded="false"
								aria-controls="collapseTwoH">
								<a class="card-title">How do I know whether the data are accurate?</a>
							</div>
							<div class="collapse" id="collapseTwoH" role="tabpanel" aria-labelledby="headingTwoH">
								<div class="card-body">
                                    We takes reasonable steps to report data as they appear in public use files. There are no warranties, however, regarding accuracy or suitability for a particular purpose.
								</div>
							</div>
							<div class="card-header collapsed" role="tab" id="headingThreeH" href="#collapseThreeH"
								data-toggle="collapse" data-parent="#accordionH" aria-expanded="false"
								aria-controls="collapseThreeH">
								<a class="card-title">Why aren't there more recent financial data for a facility?</a>
							</div>
							<div class="collapse" id="collapseThreeH" role="tabpanel" aria-labelledby="headingThreeH">
								<div class="card-body">
                                    Medicare cost reports are submitted to Fiscal Intermediaries about three months after the end of a facility's fiscal year.  The processing lag time is generally at least 6 months before it becomes available in public files.  During times of change in the Medicare program the processing times can be much longer.  We update our files once each quarter when public files are updated.
								</div>
							</div>
						</div>
					</div>
				</aside>
				<aside class="col-sm-6">
					<div class="accordion indicator-plus-before round-indicator" id="accordionR"
						aria-multiselectable="true">
						<div class="card m-b-0">
							<div class="card-header collapsed" role="tab" id="headingOneR" href="#collapseOneR"
								data-toggle="collapse" data-parent="#accordionR" aria-expanded="false"
								aria-controls="collapseOneR">
								<a class="card-title">Can I share my subscription with other people?</a>
							</div>
							<div class="collapse" id="collapseOneR" role="tabpanel" aria-labelledby="headingOneR">
								<div class="card-body">
                                    Our subscriptions have been designed and priced for single users. There are controls that prevent simultaneous usage by more than one person using the same password. There are also controls that prevent unreasonably high levels of usage for a single password.
								</div>
							</div>
							<div class="card-header collapsed" role="tab" id="headingTwoR" href="#collapseTwoR"
								data-toggle="collapse" data-parent="#accordionR" aria-expanded="false"
								aria-controls="collapseTwoR">
								<a class="card-title">Can I upgrade between packages?</a>
							</div>
							<div class="collapse" id="collapseTwoR" role="tabpanel" aria-labelledby="headingTwoR">
								<div class="card-body">
                                    Yes, you can subscribe to multiple packages at the same time. Eg: If you are on the SNF plan, you could also add Hospital to your subscription at an additional 499USD. If you want to upgrade to the All inclusive plan, you could pay the pro-rated difference amount and upgrade to the All inclusive plan.
								</div>
							</div>
							<!--<div class="card-header collapsed" role="tab" id="headingThreeR" href="#collapseThreeR"
								data-toggle="collapse" data-parent="#accordionR" aria-expanded="false"
								aria-controls="collapseThreeR">
								<a class="card-title">Lorem ipsum dolor sit amet, consetetur sadipscing ?</a>
							</div>
							<div class="collapse" id="collapseThreeR" role="tabpanel" aria-labelledby="headingThreeR">
								<div class="card-body">
									Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
									tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
									eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
									takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
									consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
								</div>
							</div>-->
						</div>
					</div>
				</aside>
			</div>

		</section>
		{{!-- Static View Only - Begin --}}
		{{!-- New Ends Here  --}}

		{{!-- <section class="pricing-plan">
			<div class="row">
				<div class="col-lg-2 plan-block">
					<div class="price">
						<div class="plan-list">
							Hospice
						</div>
						<h3 class="yearly">$199<span class="small">/yr</span></h3>
						<table class="pricing-details">
							<tr>
								<td class="plan-value">
									<strong>4,750</strong>
								</td>
								<td class="plan-specs">
									Hospice facilities
								</td>
							</tr>
							<tr>
								<td class="plan-value">
									<strong>10</strong>
								</td>
								<td class="plan-specs">
									year Cost Report
								</td>
							</tr>
							<tr>
								<td class="plan-value">
									<strong>Financial</stronFinancialtd>
								<td class="plan-specs">
									Dashboard
								</td>
							</tr>
							<tr>
								<td class="plan-value">
									<strong>Multi user</strong>
								</td>
								<td class="plan-specs">
									Access
								</td>
							</tr>
							<tr class="negative">
								<td class="plan-value">
									<strong>Free</strong>
								</td>
								<td class="plan-specs">
									Profile Data
								</td>
							</tr>

							<tr class="negative">
								<td class="plan-value">
									<strong>1 Free</strong>
								</td>
								<td class="plan-specs">
									Cost Report
								</td>
							</tr>
						</table>
						{{#if authenticated }}
						{{#if purchasedPlan.HOSPICE}}
						<div class="action">
							<button class="btn3  btn-info" style="cursor: not-allowed;">Already Purchased</button>
						</div>
						{{else}}
						<div class="action">
							<a class="btn3 btn-action" href="/buyplan?plan=HOSPICE-ANNUAL-199">Buy Plan</a>
						</div>
						{{/if}}
						{{else}}
						<div class="action">
							<a class="btn3 btn-action" href="/buyplan?plan=HOSPICE-ANNUAL-199">Sign Up</a>
						</div>
						{{/if}}
					</div>
				</div>
				<div class="col-lg-2 plan-block">
					<div class="price">
						<div class="plan-list">
							Renal
						</div>
						<h3 class="yearly">$199<span class="small">/yr</span></h3>
						<table class="pricing-details">
							<tr>
								<td class="plan-value">
									<strong>7,500</strong>
								</td>
								<td class="plan-specs">
									Renal/Dialysis facilities
								</td>
							</tr>
							<tr>
								<td class="plan-value">
									<strong>10</strong>
								</td>
								<td class="plan-specs">
									year Cost Report
								</td>
							</tr>
							<tr>
								<td class="plan-value">
									<strong>Financial</stronFinancialtd>
								<td class="plan-specs">
									Dashboard
								</td>
							</tr>
							<tr>
								<td class="plan-value">
									<strong>Multi user</strong>
								</td>
								<td class="plan-specs">
									Access
								</td>
							</tr>
							<tr class="negative">
								<td class="plan-value">
									<strong>Free</strong>
								</td>
								<td class="plan-specs">
									Profile Data
								</td>
							</tr>

							<tr class="negative">
								<td class="plan-value">
									<strong>1 Free</strong>
								</td>
								<td class="plan-specs">
									Cost Report
								</td>
							</tr>
						</table>
						{{#if authenticated }}
						{{#if purchasedPlan.RENAL}}
						<div class="action">
							<button class="btn3  btn-info" style="cursor: not-allowed;">Already Purchased</button>
						</div>
						{{else}}
						<div class="action">
							<a class="btn3 btn-action" onclick="plans()" href="/buyplan?plan=RENAL-ANNUAL-199">Buy
								Plan</a>
						</div>
						{{/if}}
						{{else}}
						<div class="action">
							<a class="btn3 btn-action" onclick="plans()" href="/buyplan?plan=RENAL-ANNUAL-199">Sign
								Up</a>
						</div>
						{{/if}}
					</div>
				</div>
				<div class="col-lg-2 plan-block">
					<div class="price">
						<div class="plan-list">
							HHA
						</div>
						<h3 class="yearly">$199<span class="small">/yr</span></h3>
						<table class="pricing-details">
							<tr>
								<td class="plan-value">
									<strong>11,300</strong>
								</td>
								<td class="plan-specs">
									Home Health Agencies
								</td>
							</tr>
							<tr>
								<td class="plan-value">
									<strong>10</strong>
								</td>
								<td class="plan-specs">
									year Cost Report
								</td>
							</tr>
							<tr>
								<td class="plan-value">
									<strong>Financial</stronFinancialtd>
								<td class="plan-specs">
									Dashboard
								</td>
							</tr>
							<tr>
								<td class="plan-value">
									<strong>Multi user</strong>
								</td>
								<td class="plan-specs">
									Access
								</td>
							</tr>
							<tr class="negative">
								<td class="plan-value">
									<strong>Free</strong>
								</td>
								<td class="plan-specs">
									Profile Data
								</td>
							</tr>

							<tr class="negative">
								<td class="plan-value">
									<strong>1 Free</strong>
								</td>
								<td class="plan-specs">
									Cost Report
								</td>
							</tr>
						</table>
						{{#if authenticated }}
						{{#if purchasedPlan.HHA}}
						<div class="action">
							<button class="btn3  btn-info" style="cursor: not-allowed;">Already Purchased</button>
						</div>
						{{else}}
						<div class="action">
							<a class="btn3 btn-action" href="/buyplan?plan=HHA-ANNUAL-199">Buy Plan</a>
						</div>
						{{/if}}
						{{else}}
						<div class="action">
							<a class="btn3 btn-action" href="/buyplan?plan=HHA-ANNUAL-199">Sign Up</a>
						</div>
						{{/if}}
					</div>
				</div>
				<div class="col-lg-2 plan-block">
					<div class="price">
						<div class="plan-list">
							SNF
						</div>
						<h3 class="yearly">$499<span class="small">/yr</span></h3>
						<table class="pricing-details">
							<tr>
								<td class="plan-value">
									<strong>15,530</strong>
								</td>
								<td class="plan-specs">
									Skilled Nursing Homes
								</td>
							</tr>
							<tr>
								<td class="plan-value">
									<strong>10</strong>
								</td>
								<td class="plan-specs">
									year Cost Report
								</td>
							</tr>
							<tr>
								<td class="plan-value">
									<strong>Financial</stronFinancialtd>
								<td class="plan-specs">
									Dashboard
								</td>
							</tr>
							<tr>
								<td class="plan-value">
									<strong>Multi user</strong>
								</td>
								<td class="plan-specs">
									Access
								</td>
							</tr>
							<tr class="negative">
								<td class="plan-value">
									<strong>Free</strong>
								</td>
								<td class="plan-specs">
									Profile Data
								</td>
							</tr>

							<tr class="negative">
								<td class="plan-value">
									<strong>1 Free</strong>
								</td>
								<td class="plan-specs">
									Cost Report
								</td>
							</tr>
						</table>
						{{#if authenticated }}
						{{#if purchasedPlan.SNF}}
						<div class="action">
							<button class="btn3  btn-info" style="cursor: not-allowed;">Already Purchased</button>
						</div>
						{{else}}
						<div class="action">
							<a class="btn3 btn-action" href="/buyplan?plan=SNF-ANNUAL-499">Buy Plan</a>
						</div>
						{{/if}}
						{{else}}
						<div class="action">
							<a class="btn3 btn-action" href="/buyplan?plan=SNF-ANNUAL-499">Sign Up</a>
						</div>
						{{/if}}
					</div>
				</div>
				<div class="col-lg-2 plan-block">
					<div class="price">
						<div class="plan-list">
							Hospital
						</div>
						<h3 class="yearly">$499<span class="small">/yr</span></h3>
						<table class="pricing-details">
							<tr>
								<td class="plan-value">
									<strong>6,300</strong>
								</td>
								<td class="plan-specs">
									Hospitals
								</td>
							</tr>
							<tr>
								<td class="plan-value">
									<strong>10</strong>
								</td>
								<td class="plan-specs">
									year Cost Report
								</td>
							</tr>
							<tr>
								<td class="plan-value">
									<strong>Financial</stronFinancialtd>
								<td class="plan-specs">
									Dashboard
								</td>
							</tr>
							<tr>
								<td class="plan-value">
									<strong>Multi user</strong>
								</td>
								<td class="plan-specs">
									Access
								</td>
							</tr>
							<tr class="negative">
								<td class="plan-value">
									<strong>Free</strong>
								</td>
								<td class="plan-specs">
									Profile Data
								</td>
							</tr>

							<tr class="negative">
								<td class="plan-value">
									<strong>1 Free</strong>
								</td>
								<td class="plan-specs">
									Cost Report
								</td>
							</tr>
						</table>
						{{#if authenticated }}
						{{#if purchasedPlan.HOSPITAL}}
						<div class="action">
							<button class="btn3  btn-info" style="cursor: not-allowed;">Already Purchased</button>
						</div>
						{{else}}
						<div class="action">
							<a class="btn3 btn-action" href="/buyplan?plan=HOSPITAL-ANNUAL-499">Buy Plan</a>
						</div>
						{{/if}}
						{{else}}
						<div class="action">
							<a class="btn3 btn-action" href="/buyplan?plan=HOSPITAL-ANNUAL-499">Sign Up</a>
						</div>
						{{/if}}
					</div>

				</div>
				<div class="col-lg-2 plan-block">
					<div class="price">
						<div class="plan-list">
							All Inclusive
						</div>
						{{#if totalInclusivePrice }}
						<h3 class="yearly">${{totalInclusivePrice}}<span class="small">/yr</span></h3>
						{{else}}
						<h3 class="yearly">$1499<span class="small">/yr</span></h3>
						{{/if}}
						<table class="pricing-details">
							<tr>
								<td class="plan-value">
									<strong>45,380</strong>
								</td>
								<td class="plan-specs">
									facilities
								</td>
							</tr>
							<tr>
								<td class="plan-value">
									<strong>10</strong>
								</td>
								<td class="plan-specs">
									year Cost Report
								</td>
							</tr>
							<tr>
								<td class="plan-value">
									<strong>Financial</stronFinancialtd>
								<td class="plan-specs">
									Dashboard
								</td>
							</tr>
							<tr>
								<td class="plan-value">
									<strong>Multi user</strong>
								</td>
								<td class="plan-specs">
									Access
								</td>
							</tr>
							<tr class="negative">
								<td class="plan-value">
									<strong>Free</strong>
								</td>
								<td class="plan-specs">
									Profile Data
								</td>
							</tr>

							<tr class="negative">
								<td class="plan-value">
									<strong>1 Free</strong>
								</td>
								<td class="plan-specs">
									Cost Report
								</td>
							</tr>
						</table>
						{{#if authenticated }}
						{{#if purchasedPlan.EVERYTHING}}
						<div class="action">
							<button class="btn3  btn-info" style="cursor: not-allowed;">Already Purchased</button>
						</div>
						{{else}}
						<div class="action">
							<a class="btn3 btn-action" href="/buyplan?plan=EVERYTHING-ANNUAL-1499">Buy Plan</a>
						</div>
						{{/if}}
						{{else}}
						<div class="action">
							<a class="btn3 btn-action" href="/buyplan?plan=EVERYTHING-ANNUAL-1499">Sign Up</a>
						</div>
						{{/if}}
					</div>
				</div>
			</div>
			</div>
		</section> --}}


		<!-- features -->
		{{!-- <section class="panel-row features dark align-center">
			<div class="content">

				<h2>Features</h2>

				<ul class="feature-list">
					<li>
						<div class="content align-xy">
							<i class="ico ico-light ico-creditcard"></i>
							<span>Subscription Payments</span>
						</div>
					</li>
					<li>
						<div class="content align-xy">
							<i class="ico ico-light ico-computer"></i>
							<span>User Interface Kit</span>
						</div>
					</li>
					<li>
						<div class="content align-xy">
							<i class="ico ico-light ico-users"></i>
							<span>Users &amp; Teams</span>
						</div>
					</li>
					<li>
						<div class="content align-xy">
							<i class="ico ico-light ico-mail"></i>
							<span>Email Notifications</span>
						</div>
					</li>
					<li>
						<div class="content align-xy">
							<i class="ico ico-light ico-controls"></i>
							<span>User Management</span>
						</div>
					</li>
					<li>
						<div class="content align-xy">
							<i class="ico ico-light ico-chartup"></i>
							<span>Metrics</span>
						</div>
					</li>
					<li>
						<div class="content align-xy">
							<i class="ico ico-light ico-home"></i>
							<span>Landing Page</span>
						</div>
					</li>
					<li>
						<div class="content align-xy">
							<i class="ico ico-light ico-settings"></i>
							<span>Rest API</span>
						</div>
					</li>
				</ul>

			</div>
		</section> --}}

		<!-- testimonial -->
		{{!-- <section class="panel-row tint">
			<div class="content">

				<div class="testimonial">

					<img src="/assets/images/home/kyle-gawley.jpg" alt="Kyle Gawley" />

					<blockquote>
						"MedicareCostReport saved me weeks of development time and thousands of dollars by
						eliminating the need to hire a developer to built the necessary
						infrastructure for my app. I had a beautiful product with billing
						capabilities in a matter of minutes!"

						<cite>– Kyle Gawley, MedicareCostReport Founder</cite>

					</blockquote>

				</div>

			</div>
		</section> --}}

		<!-- how it works -->
		{{!-- <section class="panel-row align-center">
			<div class="content">

				<h2>How It Works</h2>

				<div class="step">
					<div class="number">1</div>
					<div>Run npm install to deploy your SaaS app in seconds.</div>
				</div>

				<div class="step">
					<div class="number">2</div>
					<div>Use the setup wizard to connect your database.</div>
				</div>

				<div class="step">
					<div class="number">3</div>
					<div>Start making money from your application!</div>
				</div>

			</div>
		</section> --}}

		<!-- sign up -->
		{{!-- <section class="panel-row cta brand align-center">
			<div class="content">

				<h2>What are you waiting for?</h2>
				<a href="/signup" class="btn">Sign Up Now</a>

			</div>
		</section> --}}

	</main>
	{{> scripts }}


	{{> home/footernew }}

	{{!-- Modal for showing message of All Inclusive Plan - Begin --}}
	<div class="modal fade allInclusive-msg-modal" id="allInclusiveMessage" tabindex="-1" role="dialog" aria-labelledby="allInclusiveMessageTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content" style="opacity: 1; margin-top: 50%">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Congratulations!</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				You are saving {{ totalDiscount }} $ by purchasing this plan!
			</div>
			<div class="modal-footer">
					<a href="/buyplan?plan=EVERYTHING-ANNUAL-1499" class="btn-plan">Proceed</a>
			</div>
			</div>
		</div>
	</div>
	{{!-- Modal for showing message of All Inclusive Plan - End --}}

</body>

