<body class="pg-pricing sticky-footer">

  <!--<main>

    <header class="panel-row">
      <div class="content">

        <section class="logo-nav">
          {{> home/nav }}

        </section>

      </div>
    </header>-->

  {{> home/navnew }}
  <!--section class="pricing-plan">-->
      <section class="container wow fadeInUp" id="pricing">

          <div class="row mt-5 mb-2">

              <div class="col-sm-4 mb-5">
                  <section class="package-holder">
                      <h2>Hospice</h2>
                      <h3>$199/yr</h3>
                      <ul>
                          <li><strong>4,750</strong> Hospice facilities</li>
                          <li><strong>10</strong> year Cost Report</li>
                          <li><strong>Financial</strong> Dashboard</li>
                          <li><strong>Multi user</strong> Access</li>
                          <li><strong>Free Profile Data</strong></li>
                          <li><strong>1 Free Cost Report</strong></li>
                      </ul>
                      {{!-- <a href="#" class="btn-plan">Choose this Plan</a> --}}

                      {{#if authenticated }}
                          {{#if purchasedPlan.HOSPICE}}
                              <a href="#" class="btn-plan" style="cursor: not-allowed;">Already Purchased</a>
                          {{else}}
                              <a href="/signup?plan=HOSPICE-ANNUAL-199" class="btn-plan">Choose this Plan</a>
                          {{/if}}
                      {{else}}
                          <a href="/signup?plan=HOSPICE-ANNUAL-199" class="btn-plan">Sign Up</a>
                      {{/if}}
                  </section>
              </div>

              <div class="col-sm-4 mb-5">
                  <section class="package-holder">
                      <h2>Renal</h2>
                      <h3>$199/yr</h3>
                      <ul>
                          <li><strong>7,500</strong> Renal/Dialysis facilities</li>
                          <li><strong>10</strong> year Cost Report</li>
                          <li><strong>Financial</strong> Dashboard</li>
                          <li><strong>Multi user</strong> Access</li>
                          <li><strong>Free Profile Data</strong></li>
                          <li><strong>1 Free Cost Report</strong></li>
                      </ul>
                      {{!-- <a href="#" class="btn-plan">Choose this Plan</a> --}}
                      {{#if authenticated }}
                          {{#if purchasedPlan.RENAL}}
                              <a href="#" class="btn-plan" style="cursor: not-allowed;">Already Purchased</a>
                          {{else}}
                              <a href="/signup?plan=RENAL-ANNUAL-199" class="btn-plan">Choose this Plan</a>
                          {{/if}}
                      {{else}}
                          <a href="/signup?plan=RENAL-ANNUAL-199" class="btn-plan">Sign Up</a>
                      {{/if}}

                  </section>
              </div>

              <div class="col-sm-4 mb-5">
                  <section class="package-holder">
                      <h2>HHA</h2>
                      <h3>$199/yr</h3>
                      <ul>
                          <li><strong>11,300</strong> Home Health Agencies</li>
                          <li><strong>10</strong> year Cost Report</li>
                          <li><strong>Financial</strong> Dashboard</li>
                          <li><strong>Multi user</strong> Access</li>
                          <li><strong>Free Profile Data</strong></li>
                          <li><strong>1 Free Cost Report</strong></li>
                      </ul>
                      {{!-- <a href="#" class="btn-plan">Choose this Plan</a> --}}
                      {{#if authenticated }}
                          {{#if purchasedPlan.HHA}}
                              <a href="#" class="btn-plan" style="cursor: not-allowed;">Already Purchased</a>
                          {{else}}
                              <a href="/signup?plan=HHA-ANNUAL-199" class="btn-plan">Choose this Plan</a>
                          {{/if}}
                      {{else}}
                          <a href="/signup?plan=HHA-ANNUAL-199" class="btn-plan">Sign Up</a>
                      {{/if}}
                  </section>
              </div>

              <div class="col-sm-4 mb-5">
                  <section class="package-holder">
                      <h2>SNF</h2>
                      <h3>$499/yr</h3>
                      <ul>
                          <li><strong>15,530 </strong> Skilled Nursing Homes</li>
                          <li><strong>10</strong> year Cost Report</li>
                          <li><strong>Financial</strong> Dashboard</li>
                          <li><strong>Multi user</strong> Access</li>
                          <li><strong>Free Profile Data</strong></li>
                          <li><strong>1 Free Cost Report</strong></li>
                      </ul>
                      {{!-- <a href="#" class="btn-plan">Choose this Plan</a> --}}
                      {{#if authenticated }}
                          {{#if purchasedPlan.SNF}}
                              <a href="#" class="btn-plan" style="cursor: not-allowed;">Already Purchased</a>
                          {{else}}
                              <a href="/signup?plan=SNF-ANNUAL-499" class="btn-plan">Choose this Plan</a>
                          {{/if}}
                      {{else}}
                          <a href="/signup?plan=SNF-ANNUAL-499" class="btn-plan">Sign Up</a>
                      {{/if}}
                  </section>
              </div>

              <div class="col-sm-4 mb-5">
                  <section class="package-holder">
                      <h2>Hospital</h2>
                      <h3>$499/yr</h3>
                      <ul>
                          <li><strong>6,300</strong> Hospitals</li>
                          <li><strong>10</strong> year Cost Report</li>
                          <li><strong>Financial</strong> Dashboard</li>
                          <li><strong>Multi user</strong> Access</li>
                          <li><strong>Free Profile Data</strong></li>
                          <li><strong>1 Free Cost Report</strong></li>
                      </ul>
                      {{!-- <a href="#" class="btn-plan">Choose this Plan</a> --}}
                      {{#if authenticated }}
                          {{#if purchasedPlan.HOSPITAL}}
                              <a href="#" class="btn-plan" style="cursor: not-allowed;">Already Purchased</a>
                          {{else}}
                              <a href="/signup?plan=HOSPITAL-ANNUAL-499" class="btn-plan">Choose this Plan</a>
                          {{/if}}
                      {{else}}
                          <a href="/signup?plan=HOSPITAL-ANNUAL-499" class="btn-plan">Sign Up</a>
                      {{/if}}
                  </section>
              </div>

              <div class="col-sm-4 mb-5">
                  <section class="package-holder">
                      <img src="images/icon_recomended.svg" alt="icon" / class="recomended">
                      <h2>All Inclusive</h2>
                      {{#if totalInclusivePrice }}
                          <h3 class="yearly">${{totalInclusivePrice}}<span class="small">/yr</span></h3>
                      {{else}}
                          <h3 class="yearly">$1499<span class="small">/yr</span></h3>
                      {{/if}}
                      {{!-- <h3>$1499/yr</h3> --}}
                      <ul>
                          <li><strong>45,380</strong> Facilities</li>
                          <li><strong>10</strong> year Cost Report</li>
                          <li><strong>Financial</strong> Dashboard</li>
                          <li><strong>Multi user</strong> Access</li>
                          <li><strong>Free Profile Data</strong></li>
                          <li><strong>1 Free Cost Report</strong></li>
                      </ul>
                      {{!-- <a href="#" class="btn-plan">Choose this Plan</a> --}}
                      {{#if authenticated }}
                          {{#if purchasedPlan.EVERYTHING}}
                              <a href="#" class="btn-plan" style="cursor: not-allowed;">Already Purchased</a>
                          {{else}}
                              <a href="/signup?plan=EVERYTHING-ANNUAL-1499" class="btn-plan">Choose this Plan</a>
                          {{/if}}
                      {{else}}
                          <a href="/signup?plan=EVERYTHING-ANNUAL-1499" class="btn-plan">Sign Up</a>
                      {{/if}}
                  </section>
              </div>

          </div>

      <!--
      <div class="row">
        <div class="col-lg-2 plan-block">
          <div class="price">
			  <div class="plan-list">
					  Hospice
					</div>
						<h3 class="yearly">$199<span class="small">/yr</span></h3>
						<table class="pricing-details">
							<tr>
								<td class="plan-value">
									<strong>4,750</strong>
								</td>
								<td class="plan-specs">
									Hospice facilities
								</td>
							</tr>
							<tr>
								<td class="plan-value">
									<strong>10</strong>
								</td>
								<td class="plan-specs">
									year Cost Report
								</td>
							</tr>
							<tr>
								<td class="plan-value">
									<strong>Financial</stronFinancialtd>
								<td class="plan-specs">
									Dashboard
								</td>
							</tr>
							<tr>
								<td class="plan-value">
									<strong>Multi user</strong>
								</td>
								<td class="plan-specs">
									Access
								</td>
							</tr>
							<tr class="negative">
								<td class="plan-value">
									<strong>Free</strong>
								</td>
								<td class="plan-specs">
									Profile Data
								</td>
							</tr>

							<tr class="negative">
								<td class="plan-value">
									<strong>1 Free</strong>
								</td>
								<td class="plan-specs">
									Cost Report
								</td>
							</tr>
						</table>
						<div class="action">
							<a class="btn3 btn-action" href="/signup?plan=HOSPICE-ANNUAL-199">Sign Up</a>
						</div>
					</div>
		  </div>
        <div class="col-lg-2 plan-block">
          	<div class="price">
				  <div class="plan-list">
				Renal
			</div>
			<h3 class="yearly">$199<span class="small">/yr</span></h3>
						<table class="pricing-details">
							<tr>
								<td class="plan-value">
									<strong>7,500</strong>
								</td>
								<td class="plan-specs">
									Renal/Dialysis facilities
								</td>
							</tr>
							<tr>
								<td class="plan-value">
									<strong>10</strong>
								</td>
								<td class="plan-specs">
									year Cost Report
								</td>
							</tr>
							<tr>
								<td class="plan-value">
									<strong>Financial</stronFinancialtd>
								<td class="plan-specs">
									Dashboard
								</td>
							</tr>
							<tr>
								<td class="plan-value">
									<strong>Multi user</strong>
								</td>
								<td class="plan-specs">
									Access
								</td>
							</tr>
							<tr class="negative">
								<td class="plan-value">
									<strong>Free</strong>
								</td>
								<td class="plan-specs">
									Profile Data
								</td>
							</tr>

							<tr class="negative">
								<td class="plan-value">
									<strong>1 Free</strong>
								</td>
								<td class="plan-specs">
									Cost Report
								</td>
							</tr>
						</table>
					<div class="action">
							<a class="btn3 btn-action" onclick="plans()" href="/signup?plan=RENAL-ANNUAL-199">Sign Up</a>
						</div>
			  </div>
		</div>
        <div class="col-lg-2 plan-block">
         <div class="price">
			 <div class="plan-list">
					  HHA
					</div>
						<h3 class="yearly">$199<span class="small">/yr</span></h3>
						<table class="pricing-details">
							<tr>
								<td class="plan-value">
									<strong>11,300</strong>
								</td>
								<td class="plan-specs">
									Home Health Agencies
								</td>
							</tr>
							<tr>
								<td class="plan-value">
									<strong>10</strong>
								</td>
								<td class="plan-specs">
									year Cost Report
								</td>
							</tr>
							<tr>
								<td class="plan-value">
									<strong>Financial</stronFinancialtd>
								<td class="plan-specs">
									Dashboard
								</td>
							</tr>
							<tr>
								<td class="plan-value">
									<strong>Multi user</strong>
								</td>
								<td class="plan-specs">
									Access
								</td>
							</tr>
							<tr class="negative">
								<td class="plan-value">
									<strong>Free</strong>
								</td>
								<td class="plan-specs">
									Profile Data
								</td>
							</tr>

							<tr class="negative">
								<td class="plan-value">
									<strong>1 Free</strong>
								</td>
								<td class="plan-specs">
									Cost Report
								</td>
							</tr>
						</table>
						<div class="action">
							<a class="btn3 btn-action" href="/signup?plan=HHA-ANNUAL-199">Sign Up</a>
						</div>
		 </div>
        </div>
        <div class="col-lg-2 plan-block">
			<div class="price">
				<div class="plan-list">
					  SNF
					</div>
						<h3 class="yearly">$499<span class="small">/yr</span></h3>
						<table class="pricing-details">
							<tr>
								<td class="plan-value">
									<strong>15,530</strong>
								</td>
								<td class="plan-specs">
									Skilled Nursing Homes
								</td>
							</tr>
							<tr>
								<td class="plan-value">
									<strong>10</strong>
								</td>
								<td class="plan-specs">
									year Cost Report
								</td>
							</tr>
							<tr>
								<td class="plan-value">
									<strong>Financial</stronFinancialtd>
								<td class="plan-specs">
									Dashboard
								</td>
							</tr>
							<tr>
								<td class="plan-value">
									<strong>Multi user</strong>
								</td>
								<td class="plan-specs">
									Access
								</td>
							</tr>
							<tr class="negative">
								<td class="plan-value">
									<strong>Free</strong>
								</td>
								<td class="plan-specs">
									Profile Data
								</td>
							</tr>

							<tr class="negative">
								<td class="plan-value">
									<strong>1 Free</strong>
								</td>
								<td class="plan-specs">
									Cost Report
								</td>
							</tr>
						</table>
						<div class="action">
							<a class="btn3 btn-action" href="/signup?plan=SNF-ANNUAL-499">Sign Up</a>
						</div>
			</div>
		</div>
        <div class="col-lg-2 plan-block">
			<div class="price">
				<div class="plan-list">
					  Hospital
					</div>
						<h3 class="yearly">$499<span class="small">/yr</span></h3>
						<table class="pricing-details">
							<tr>
								<td class="plan-value">
									<strong>6,300</strong>
								</td>
								<td class="plan-specs">
									Hospitals
								</td>
							</tr>
							<tr>
								<td class="plan-value">
									<strong>10</strong>
								</td>
								<td class="plan-specs">
									year Cost Report
								</td>
							</tr>
							<tr>
								<td class="plan-value">
									<strong>Financial</stronFinancialtd>
								<td class="plan-specs">
									Dashboard
								</td>
							</tr>
							<tr>
								<td class="plan-value">
									<strong>Multi user</strong>
								</td>
								<td class="plan-specs">
									Access
								</td>
							</tr>
							<tr class="negative">
								<td class="plan-value">
									<strong>Free</strong>
								</td>
								<td class="plan-specs">
									Profile Data
								</td>
							</tr>

							<tr class="negative">
								<td class="plan-value">
									<strong>1 Free</strong>
								</td>
								<td class="plan-specs">
									Cost Report
								</td>
							</tr>
						</table>
						<div class="action">
							<a class="btn3 btn-action" href="/signup?plan=HOSPITALS-ANNUAL-499">Sign Up</a>
						</div>
			</div>
          
		</div>
        <div class="col-lg-2 plan-block">
          <div class="price">
			  <div class="plan-list">
					  All Inclusive
					</div>
						<h3 class="yearly">$1499<span class="small">/yr</span></h3>
						<table class="pricing-details">
							<tr>
								<td class="plan-value">
									<strong>45,380</strong>
								</td>
								<td class="plan-specs">
									 facilities
								</td>
							</tr>
							<tr>
								<td class="plan-value">
									<strong>10</strong>
								</td>
								<td class="plan-specs">
									year Cost Report
								</td>
							</tr>
							<tr>
								<td class="plan-value">
									<strong>Financial</stronFinancialtd>
								<td class="plan-specs">
									Dashboard
								</td>
							</tr>
							<tr>
								<td class="plan-value">
									<strong>Multi user</strong>
								</td>
								<td class="plan-specs">
									Access
								</td>
							</tr>
							<tr class="negative">
								<td class="plan-value">
									<strong>Free</strong>
								</td>
								<td class="plan-specs">
									Profile Data
								</td>
							</tr>

							<tr class="negative">
								<td class="plan-value">
									<strong>1 Free</strong>
								</td>
								<td class="plan-specs">
									Cost Report
								</td>
							</tr>
						</table>
						<div class="action">
							<a class="btn3 btn-action" href="/signup?plan=EVERYTHING-ANNUAL-1499">Sign Up</a>
						</div>
					</div>
		  </div>
        </div>
      </div>-->
    </section>
    

  </main>
  {{> scripts }}
  {{> home/footernew }}
