<body class="pg-home">

<div class="modal"></div>
<div class="notification"></div>
<!-- header -->
{{!-- <header class="panel-row">
    <div class="content">

        <section class="logo-nav">
            {{> home/nav }}

        </section>

    </div>
</header> --}}
{{> home/navnew }}

<div id="inner-banner" class="carousel slide" data-ride="carousel">

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active"> <img src="images/img_privacy.png"  alt="Banner" class="img-fluid banner">
            <div class="carousel-caption ">
                <h3 class="text-uppercase">Privacy Policy</h3>

            </div>
        </div>
    </div>
</div>

{{!-- Main --}}
<main>

    <div class="bg-lite1 pt-3 pb-3">
        <section class="container ">

            <h2 class="text-center text-primary ">Privacy Policy</h2>

            <p class="wow fadeInUp"><strong>We will NEVER sell, rent, loan or give your personal information to anyone at any time. Your information will only be used within Medicare Cost Reports.</strong>
            </p>
            <p class="wow fadeInUp">This privacy policy tells you how we use personal information collected at this www.medicarecostreports.com. Please read this privacy policy before using the site (www.medicarecostreports.com) or submitting any personal information. By using the site, you are accepting the practices described in this privacy policy. We may revise this Privacy Policy from time to time and will post the revised policy here. New Privacy Policies become effective when posted and apply to all current and past users. Because we make changes at any time without notifying you, we suggest that you periodically consult this Privacy Policy.
            </p>
            <p class="wow fadeInUp">Note: the privacy practices set forth in this privacy policy are for this web site only. If you link to other websites, please review the privacy policies posted at those sites, as we are not responsible for the privacy practices of other websites.
            </p>
            <p class="wow fadeInUp">
                Secure Credit Card Transactions <br>
            Membership fees paid by credit card are processes through a secure server using encrypted technology. When you choose this method of payment the transmission of all data, including credit card information goes through an encrypted system to prevent unauthorized access.
            </p>
            <p class="wow fadeInUp">Collection of Information<br>
            We collect personally identifiable information, like Name and email address, when voluntarily submitted by our visitors during the registration process. The information you provide is used to fulfill your specific request. Both free and paid users may receive, on occasion, online newsletters or surveys from our company. Newsletters offer industry news, tips, insights and other content relevant to the healthcare industry. Our online surveys help us better understand and serve the needs of our customers. You can easily opt-out of receiving future newsletters and surveys, without affecting your membership status.
            </p>
            <p class="wow fadeInUp">Cookie/Tracking Technology<br>
            We do use cookie technology on our site. Cookies are pieces of information planted on your computer by our web server. This tracking technology can be used for gathering information such as browser type and operating system, determining the number of visitors to the site, and understanding how visitors use navigation. Cookies can also simplify the site for uses, for example, by remembering their log in and password information. Personal information cannot be collected via cookies and other tracking technology. However, cookies can be used to determine referring sites.
            </p>
            <p class="wow fadeInUp"> Commitment to Data Security<br>
            Your personally identifiable information is kept secure. We may retain other companies and individuals to perform functions consistent with our Privacy Policy on our behalf. Examples include web hosting companies, fulfillment companies (e.g. companies that coordinate mailings), data analysis firms and email service providers. Such third parties may be provided with access to personally identifiable information needed to perform their functions, but may not use such information for any other purpose including marketing communications.
            </p>
            <p class="wow fadeInUp">Fraud Prevention<br>
            We may share information with governmental agencies or other companies assisting us in fraud prevention or investigation. We may do so when: (1) permitted or required by law; or, (2) trying to protect against or prevent actual or potential fraud or unauthorized transactions; or, (3) investigating fraud which has already taken place.
            </p>
            <p class="wow fadeInUp"> Privacy Contact Information<br>
            If you have any questions, concerns or comments about our privacy policy, please contact: privacy@medicarecostreports.com
            </p>

        </section>
    </div>


</main>

{{> scripts }}


{{> home/footernew }}

{{!-- Modal for showing message of All Inclusive Plan - Begin --}}
<div class="modal fade allInclusive-msg-modal" id="allInclusiveMessage" tabindex="-1" role="dialog" aria-labelledby="allInclusiveMessageTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="opacity: 1; margin-top: 50%">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Congratulations!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                You are saving {{ totalDiscount }} $ by purchasing this plan!
            </div>
            <div class="modal-footer">
                <a href="/buyplan?plan=EVERYTHING-ANNUAL-1499" class="btn-plan">Proceed</a>
            </div>
        </div>
    </div>
</div>
{{!-- Modal for showing message of All Inclusive Plan - End --}}

</body>
