<body class="pg-home">

<div class="modal"></div>
<div class="notification"></div>
<!-- header -->
{{!-- <header class="panel-row">
    <div class="content">

        <section class="logo-nav">
            {{> home/nav }}

        </section>

    </div>
</header> --}}
{{> home/navnew }}

<!-- carousel -->
<div id="inner-banner" class="carousel slide" data-ride="carousel">

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active"> <img src="images/img_refund.png"  alt="Banner" class="img-fluid banner">
            <div class="carousel-caption ">
                <h3 class="text-uppercase">Refund Policy</h3>

            </div>
        </div>
    </div>
</div>

<main>

    <div class="bg-lite1 pt-3 pb-3">
        <section class="container ">

            <h2 class="text-center text-primary ">Refund Policy</h2>

            <p class="wow fadeInUp">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce rhoncus, ex eget venenatis tincidunt, metus velit ornare velit, sit amet aliquet ligula nisi sed velit. Aliquam ac malesuada eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris suscipit leo eu sapien bibendum, eget semper lorem tempus. Proin luctus lacinia neque eu imperdiet. Phasellus consequat volutpat commodo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam sit amet elementum erat. Suspendisse venenatis condimentum nunc, quis sagittis neque laoreet sit amet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum fringilla mollis mollis. Vivamus condimentum euismod leo ut ultricies. Quisque vehicula pellentesque metus, a gravida orci scelerisque vitae.</p>

            <p class="wow fadeInUp">Vestibulum ante odio, eleifend et neque sit amet, malesuada tempus diam. Mauris elit urna, lobortis eget ligula in, imperdiet congue arcu. Nam accumsan quam ac pellentesque malesuada. Morbi non odio id ligula efficitur commodo quis tempor dolor. Praesent id purus id lorem suscipit maximus. Etiam mattis justo at felis vehicula, eget egestas libero lobortis. Aliquam egestas scelerisque ipsum, eget auctor tortor iaculis eget. Aenean massa elit, varius et tortor at, aliquet condimentum mi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam vestibulum gravida dictum. Pellentesque ultricies vulputate est id scelerisque. Aliquam erat volutpat. Sed pharetra sodales tellus accumsan vulputate. Praesent a tellus quis sapien placerat fermentum.</p>

            <p class="wow fadeInUp">Sed elit felis, volutpat vitae eros auctor, placerat tempus nisl. Morbi vestibulum a odio eget sodales. Cras congue at orci id varius. Aenean ex erat, sollicitudin vel dictum quis, rhoncus sed urna. Nunc congue a mauris sit amet luctus. Pellentesque euismod ante nisl, lobortis congue tellus rutrum venenatis. Nunc a venenatis dui. Donec est ligula, finibus in lacinia vitae, pulvinar vel nulla. Mauris vel velit ut lacus congue accumsan nec nec arcu. Quisque tincidunt quam mauris, eget condimentum nisi ultricies rutrum. In consectetur diam nec arcu efficitur, a tristique turpis hendrerit. In id nunc vestibulum, aliquam mauris vitae, fringilla libero.</p>

            <p class="wow fadeInUp">Vivamus dapibus risus eu sapien suscipit, sit amet mollis nisi placerat. Cras vitae diam blandit, placerat velit sed, finibus felis. Nunc eget aliquam erat. Integer aliquam leo eget massa rhoncus fermentum. Donec eget purus sit amet est ornare posuere vel quis dui. Vivamus commodo orci rhoncus dui feugiat, nec commodo erat tincidunt. Vestibulum ullamcorper enim ut libero cursus, suscipit fringilla augue rhoncus. Suspendisse convallis urna eget facilisis pellentesque. Maecenas consectetur, erat et dapibus pretium, risus lacus semper risus, nec rutrum ante tortor ac nisl. Donec eleifend sem a libero laoreet malesuada.</p>

            <p class="wow fadeInUp">Fusce ut ultricies nunc. Aenean luctus leo justo, in pretium risus ullamcorper ac. Donec pellentesque dictum ex, posuere volutpat orci ullamcorper at. Ut et maximus orci, in ornare erat. Suspendisse ut augue condimentum, rutrum arcu ac, blandit ante. Quisque facilisis justo ut dui maximus vulputate eu at lorem. Mauris ultricies, mi eget consectetur iaculis, purus turpis pellentesque justo, ac placerat dolor magna a lorem. Fusce lobortis consequat risus eu luctus. Curabitur suscipit ultrices cursus. Nunc vel libero augue. Nullam tempus laoreet diam, lacinia vulputate magna convallis at. Integer in dapibus sem. Fusce tellus mauris, faucibus vitae mauris quis, placerat iaculis nunc. </p>
        </section>
    </div>


</main>

{{> scripts }}


{{> home/footernew }}

{{!-- Modal for showing message of All Inclusive Plan - Begin --}}
<div class="modal fade allInclusive-msg-modal" id="allInclusiveMessage" tabindex="-1" role="dialog" aria-labelledby="allInclusiveMessageTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="opacity: 1; margin-top: 50%">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Congratulations!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                You are saving {{ totalDiscount }} $ by purchasing this plan!
            </div>
            <div class="modal-footer">
                <a href="/buyplan?plan=EVERYTHING-ANNUAL-1499" class="btn-plan">Proceed</a>
            </div>
        </div>
    </div>
</div>
{{!-- Modal for showing message of All Inclusive Plan - End --}}

</body>
