@charset "UTF-8";

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }



progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }












.ico {
  position: relative;
  display: block; }
  .ico:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-size: 1100%; }
  .ico.ico-btn:after {
    width: 50%;
    height: 50%; }
  .ico.ico-light:after {
    background-image: url("../icons/light/icons-light.svg"); }
  .ico.ico-dark:after {
    background-image: url("../icons/dark/icons-dark.svg"); }
  .ico.ico-social-dark:after {
    background-image: url("../icons/dark/icons-social.svg"); }
  .ico.ico-social-light:after {
    background-image: url("../icons/light/icons-social.svg"); }
  .ico.icon-payment:after {
    background-size: 300%;
    background-image: url("../icons/color/payment-icons.png");
    background-image: url("../icons/color/payment-icons.svg");
    background-image: url("../icons/payment-icons.png");
    background-image: url("../icons/payment-icons.svg"); }

.ico-user:after {
  background-position: 0 0; }

.ico-users:after {
  background-position: 10% 0; }

.ico-image:after {
  background-position: 20% 0; }

.ico-music:after {
  background-position: 30% 0; }

.ico-video:after {
  background-position: 40% 0; }

.ico-bell:after {
  background-position: 50% 0; }

.ico-phone:after {
  background-position: 60% 0; }

.ico-speaker:after {
  background-position: 70% 0; }

.ico-mic:after {
  background-position: 80% 0; }

.ico-star:after {
  background-position: 90% 0; }

.ico-starfilled:after {
  background-position: 100% 0; }

.ico-file:after {
  background-position: 0 16.66667%; }

.ico-files:after {
  background-position: 10% 16.66667%; }

.ico-pencil:after {
  background-position: 20% 16.66667%; }

.ico-compose:after {
  background-position: 30% 16.66667%; }

.ico-delete:after {
  background-position: 40% 16.66667%; }

.ico-share:after {
  background-position: 50% 16.66667%; }

.ico-replay:after {
  background-position: 60% 16.66667%; }

.ico-refresh:after {
  background-position: 70% 16.66667%; }

.ico-export:after {
  background-position: 80% 16.66667%; }

.ico-download:after {
  background-position: 90% 16.66667%; }

.ico-upload:after {
  background-position: 100% 16.66667%; }

.ico-inbox:after {
  background-position: 0% 33.33333%; }

.ico-mail:after {
  background-position: 10% 33.33333%; }

.ico-mailsolid:after {
  background-position: 20% 33.33333%; }

.ico-message:after {
  background-position: 30% 33.33333%; }

.ico-chat:after {
  background-position: 40% 33.33333%; }

.ico-help:after {
  background-position: 50% 33.33333%; }

.ico-calendar:after {
  background-position: 60% 33.33333%; }

.ico-calendaradd:after {
  background-position: 70% 33.33333%; }

.ico-clock:after {
  background-position: 80% 33.33333%; }

.ico-happy:after {
  background-position: 90% 33.33333%; }

.ico-sad:after {
  background-position: 100% 33.33333%; }

.ico-home:after {
  background-position: 0% 50%; }

.ico-globe:after {
  background-position: 10% 50%; }

.ico-spanner:after {
  background-position: 20% 50%; }

.ico-settings:after {
  background-position: 30% 50%; }

.ico-controls:after {
  background-position: 40% 50%; }

.ico-search:after {
  background-position: 50% 50%; }

.ico-computer:after {
  background-position: 60% 50%; }

.ico-mobile:after {
  background-position: 70% 50%; }

.ico-location:after {
  background-position: 80% 50%; }

.ico-heart:after {
  background-position: 90% 50%; }

.ico-heartfilled:after {
  background-position: 100% 50%; }

.ico-padlockclosed:after {
  background-position: 0% 66.66667%; }

.ico-padlockopen:after {
  background-position: 10% 66.66667%; }

.ico-creditcard:after {
  background-position: 20% 66.66667%; }

.ico-cash:after {
  background-position: 30% 66.66667%; }

.ico-stopcircle:after {
  background-position: 40% 66.66667%; }

.ico-infocircle:after {
  background-position: 50% 66.66667%; }

.ico-questioncircle:after {
  background-position: 60% 66.66667%; }

.ico-warning:after {
  background-position: 70% 66.66667%; }

.ico-question:after {
  background-position: 80% 66.66667%; }

.ico-info:after {
  background-position: 90% 66.66667%; }

.ico-eye:after {
  background-position: 100% 66.66667%; }

.ico-cloudupload:after {
  background-position: 0% 83.33333%; }

.ico-clouddownload:after {
  background-position: 10% 83.33333%; }

.ico-piechart:after {
  background-position: 20% 83.33333%; }

.ico-chart:after {
  background-position: 30% 83.33333%; }

.ico-chartup:after {
  background-position: 40% 83.33333%; }

.ico-chartdown:after {
  background-position: 50% 83.33333%; }

.ico-list:after {
  background-position: 60% 83.33333%; }

.ico-globe:after {
  background-position: 70% 83.33333%; }

.ico-rocket:after {
  background-position: 80% 83.33333%; }

.ico-left:after {
  background-position: 0% 100%; }

.ico-right:after {
  background-position: 10% 100%; }

.ico-up:after {
  background-position: 20% 100%; }

.ico-down:after {
  background-position: 30% 100%; }

.ico-minus:after {
  background-position: 40% 100%; }

.ico-plus:after {
  background-position: 50% 100%; }

.ico-check:after {
  background-position: 60% 100%; }

.ico-cross:after {
  background-position: 70% 100%; }

.ico-nav:after {
  background-position: 80% 100%; }

.ico-visa:after {
  background-position: 0% 0%; }

.ico-mastercard:after {
  background-position: 50% 0%; }

.ico-amex:after {
  background-position: 100% 0%; }

.ico-facebook:after {
  background-position: 0% 0%; }

.ico-twitter:after {
  background-position: 10% 0%; }

.ico-linkedin:after {
  background-position: 20% 0%; }

.ico-instagram:after {
  background-position: 30% 0%; }

.ico-youtube:after {
  background-position: 40% 0%; }

.ico-pinterest:after {
  background-position: 50% 0%; }

.ico-dribbble:after {
  background-position: 70% 0%; }

.ico-vimeo:after {
  background-position: 80% 0%; }

.ico-soundcloud:after {
  background-position: 90% 0%; }

.ico-googleplus:after {
  background-position: 100% 0%; }

.ico-rss:after {
  background-position: 0% 175%; }

form .btn[type="submit"],
form .btn-next-step {
  display: block;
  clear: both; }

label,
legend {
  display: block;
  position: relative;
  color: #7d7d7d;
  font-size: 0.85em;
  margin-bottom: 0.65em;
  text-transform: uppercase; }
  label.required:after,
  legend.required:after {
    content: "*";
    color: #d95565;
    margin-left: 0.35em;
    font-size: 1em;
    font-weight: 500; }

legend {
  margin-bottom: 1em; }

.textbox,
.creditcard {
  display: block;
  position: relative;
  width: 100%;
  color: #707070;
  font-size: 1em;
  padding: 1em;
  margin: 0 0 1.25em;
  background-color: white;
  border: 1px solid #f2f2f2; }
  .textbox:focus,
  .creditcard:focus {
    background-color: #fafafa;
    transition: all 0.3s ease-in-out; }
  .textbox.error,
  .creditcard.error {
    position: relative;
    color: #d95565;
    margin-bottom: 0;
    border: 1px solid #d95565;
    background-color: #fcf3f4; }
  .textbox.warning,
  .creditcard.warning {
    background: #efa253; }

.error-message,
.warning-message {
  display: block;
  color: white;
  font-size: 0.85em;
  font-weight: 500;
  margin-bottom: 1.5625em;
  padding: 0.6em 1em; }

.error-message {
  background: #d6485a; }

.warning-message {
  background: #F0AA61; }

.input-with-button {
  overflow: hidden; }
  .input-with-button .textbox {
    float: left;
    width: 75%;
    border-right: none; }
  .input-with-button .btn {
    float: right;
    clear: none !important;
    width: 25% !important;
    height: 3.3em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }

.input {
  position: relative;
  margin-bottom: 1.25em;
  padding: 0.64em 0.64em 0.25em 0.64em;
  border: 1px solid #f2f2f2;
  background-color: white; }
  .input label {
    font-size: 0.75em; }
  .input .textbox {
    margin: 0;
    border: none;
    padding: 0.5em 0;
    background-color: transparent; }
  .input.error {
    padding-bottom: 2.44141em;
    border: 1px solid #d95565; }
    .input.error label {
      color: #d95565; }
    .input.error .error-message {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      margin-bottom: 0; }

.select {
  position: relative;
  cursor: pointer;
  color: #707070;
  width: 100%;
  margin-bottom: 1.25em;
  overflow: hidden;
  border: 1px solid #f2f2f2;
  background-color: white; }
  .select.error {
    border: 1px solid #d95565; }
    .select.error select {
      color: #d95565; }
    .select.error .error-message {
      margin-bottom: 0; }
  .select.warning {
    border: 1px solid #F0AA61; }
    .select.warning select {
      color: #F0AA61; }
    .select.warning .warning-message {
      margin-bottom: -1px; }
  .select:after {
    content: "";
    position: absolute;
    top: 1.4em;
    right: 1em;
    width: 0.85em;
    height: 0.5em;
    opacity: 0.35;
    pointer-events: none;
    background-size: contain;
    background-image: url("../icons/dark/ico-dropdown.svg"); }
  .select select {
    width: 120%;
    color: #707070;
    font-size: 1em;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: transparent;
    outline: none;
    cursor: pointer;
    padding: 1em; }
  .select select::-ms-expand {
    display: none; }

textarea {
  min-height: 5.96046em;
  outline: none;
  resize: vertical; }

fieldset {
  clear: both;
  padding: 0;
  margin: 0 0 0.5em 0;
  border: none; }
  fieldset .checkbox,
  fieldset .radio {
    margin-bottom: 0.25em; }
  fieldset label {
    text-transform: none; }
  fieldset.error {
    padding: 0 1em 0 1em;
    border: 1px solid #d95565; }
    fieldset.error legend {
      color: #d95565;
      padding: 0 0.5em; }
  fieldset .error-message {
    clear: both;
    margin: 0 -1.25em; }

.checkbox,
.radio {
  float: left;
  margin-right: 1.5625em;
  margin-bottom: 0.75em; }
  .checkbox label,
  .radio label {
    float: left;
    line-height: 1.5625em;
    font-size: 1em;
    cursor: pointer;
    text-transform: none; }
  .checkbox input,
  .radio input {
    position: relative;
    float: left;
    width: 2em;
    height: 2em;
    cursor: pointer;
    margin-right: 1em;
    background: none;
    border: 1px solid #dedede;
    background-size: 70%;
    background-position: center center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all 0.2s ease-in-out; }

input:disabled {
  opacity: 0.5; }

.checkbox input:checked {
  border: none;
  background-color: #8CC57D;
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: center center;
  background-image: url("../icons/light/ico-check.svg"); }

.radio input {
  border-radius: 100%; }
  .radio input:checked {
    border: none;
    background-color: #8CC57D;
    transition: all 0.2s ease-in-out; }
    .radio input:checked:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1em;
      height: 1em;
      border-radius: 100%;
      background-color: white;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%); }

.selector-bar {
  width: 100%; }
  .selector-bar input {
    display: none; }
  .selector-bar :checked + label {
    color: white;
    border: none;
    background-color: #73B0F4; }
  .selector-bar label {
    display: block;
    width: 100%;
    cursor: pointer;
    margin: 0 0 0.5em 0;
    padding: 1.25em 1.5625em;
    border-radius: 2px;
    border: 1px solid #f2f2f2; }

.switch {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 1.25em; }
  .switch legend {
    position: absolute;
    left: 5em;
    top: 50%;
    text-transform: none;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%); }
  .switch .switch-button {
    position: relative;
    float: left;
    width: 2.6em;
    height: 1.6em; }
  .switch .switch-checkbox {
    display: none; }
    .switch .switch-checkbox:checked + .switch-label {
      background-color: #8CC57D;
      transition: all 0.2s ease-in-out; }
      .switch .switch-checkbox:checked + .switch-label .switch-handle {
        left: 1.6em !important; }
  .switch .switch-label {
    position: relative;
    display: block;
    cursor: pointer;
    overflow: hidden;
    height: 100%;
    border-radius: 2em;
    background: #8fa5c7; }
  .switch .switch-handle {
    position: absolute;
    top: 50%;
    left: 0.2em;
    color: white;
    width: 1.75em;
    height: 1.75em;
    font-size: 0.85em;
    font-weight: 600;
    line-height: 2.1em;
    text-align: center;
    text-transform: uppercase;
    pointer-events: none;
    background-color: white;
    transition: all 0.1s ease-out;
    border-radius: 100%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%); }

.switch.withlabel legend {
  left: 7.5em; }

.switch.withlabel .switch-button {
  width: 5em;
  height: 2em; }

.switch.withlabel .switch-label {
  border-radius: 0;
  background: white;
  border: 1px solid #f2f2f2; }

.switch.withlabel .switch-handle {
  height: auto;
  width: 3em;
  border-radius: 0;
  background-color: #73B0F4; }
  .switch.withlabel .switch-handle:after {
    content: "No"; }

.switch.withlabel .switch-checkbox:checked + .switch-label {
  background-color: white; }
  .switch.withlabel .switch-checkbox:checked + .switch-label .switch-handle {
    background-color: #8CC57D !important;
    left: 3.5em !important; }
    .switch.withlabel .switch-checkbox:checked + .switch-label .switch-handle:after {
      content: 'Yes'; }

::-webkit-input-placeholder {
  color: #adadad; }

::-moz-placeholder {
  color: #adadad; }

:-ms-input-placeholder {
  color: #adadad; }

:-moz-placeholder {
  color: #adadad; }

.error::-webkit-input-placeholder {
  color: #d95565; }

.error::-moz-placeholder {
  color: #d95565; }

.error:-ms-input-placeholder {
  color: #d95565; }

.error:-moz-placeholder {
  color: #d95565; }

button {
  outline: none;
  cursor: pointer;
  background-color: transparent; }

  .btn1 {
    cursor: pointer;
    color: white;
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    padding: 1em 2.44141em;
    transition: all 0.4s ease-in-out;
    border-radius: 2px;
    background-color: #8CC57D; }
.btn {
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  border-radius: 2px;
  background-color: #8CC57D;
}
  .btn.btn-red {
    color: white;
    background-color: #d95565; }
    .btn.btn-red:hover {
      background-color: #d44052; }
  .btn.btn-blue {
    color: white;
    background-color: #73B0F4; }
    .btn.btn-blue:hover {
      background-color: #5ba3f2; }
  .btn.btn-small {
    font-size: 0.8em;
    padding: 0.8em 1.5625em; }
  .btn:hover {
    /* background-color: #79bc68; */
    transition: all 0.4s ease-in-out; }

.btn-loader {
  position: relative;
  display: inline-block;
  padding: 0;
  cursor: pointer;
  overflow: hidden;
  background-color: #8CC57D;
  border-radius: 2px; }
  .btn-loader:hover {
    background-color: #79bc68;
    transition: all 0.4s ease-in-out; }
  .btn-loader input, .btn-loader .btn {
    position: relative;
    display: block;
    color: white;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    padding: 1em 2.44141em;
    background: transparent; }
  .btn-loader:after {
    display: none;
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    right: 1em;
    top: 1.05em;
    z-index: 3;
    background-size: contain;
    background-image: url("../icons/light/ico-loader.svg"); }
  .btn-loader.full-width.loading {
    padding-right: 0; }
  .btn-loader.loading {
    padding-right: 1em; }
    .btn-loader.loading:after {
      display: block;
      transform-origin: center center;
      -webkit-animation: rotate 1s infinite linear;
      -moz-animation: rotate 1s infinite linear;
      -o-animation: rotate 1s infinite linear;
      animation: rotate 1s infinite linear; }

.btn-outline {
  color: #707070;
  background: transparent;
  border: 1px solid whitesmoke; }
  .btn-outline:hover {
    color: white;
    border-color: #d95565;
    background: #d95565; }

.btn-inline {
  display: inline-block;
  margin: 0 0.2em;
  padding: 0.1em 0.75em 0.2em;
  color: white !important;
  font-size: 0.8em;
  text-decoration: none; }

.card {
  position: relative;
  padding: 1.5625em;
  margin-bottom: 1.5625em;
  background: white;
  overflow: scroll; }
  .card:last-of-type {
    margin-bottom: 0; }
  .card header {
    position: relative;
    overflow: hidden;
    text-align: left;
    padding-bottom: 1.25em;
    margin-bottom: 1.95312em;
    border-bottom: 1px dotted #f2f2f2; }
    .card header h1 {
      float: left;
      margin: 0;
      font-size: 1.25em;
      font-weight: 600; }
    .card header a {
      float: right;
      margin-top: 0.2em;
      font-size: 0.9em; }

.badge {
  display: inline-block;
  color: white;
  background-color: #546DB7;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0.25em;
  padding: 0.25em 0.65em;
  font-size: 0.8em;
  border-radius: 2px; }
  .badge.red {
    background-color: #d95565; }
  .badge.green {
    background-color: #8CC57D; }

.tooltip {
  position: absolute;
  display: block;
  cursor: pointer;
  font-size:12px!important; }
  .tooltip .tip {
    display: none;
    position: absolute;
    color: white;
    max-width: 11.64153em;
    padding: 0.65em 1em;
    text-align: center;
    border-radius: 2px;
    font-size: 5em;
    margin-top: 0.8em;
    background-color: white;
    z-index: 999999;
    transition: all 0.3s ease-in-out; }
    .tooltip .tip:after {
      content: " ";
      position: absolute;
      bottom: 100%;
      left: 1em;
      pointer-events: none;
      border: solid transparent;
      border-bottom-color: #333440;
      border-width: 6px; } 
  .tooltip:hover .tip {
    display: block; }
    div.tooltip-inner{
      width:150px;
      background-color:rgb(122, 116, 116);
      color:white;
    }


table.styled {
  width: 100%;
  border-spacing: 0 0.65em;
  border-collapse: separate;
  margin-top: -0.75em;
  margin-bottom: -0.5em; }
  table.styled thead {
    font-weight: 600; }
    table.styled thead th {
      text-align: left;
      outline: none;
      padding: 0 1.25em 0.5em; }
      table.styled thead th:first-child {
        padding-left: 0; }
    table.styled thead .sort {
      position: relative;
      cursor: pointer; }
      table.styled thead .sort:after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        width: 1em;
        height: 0.5em;
        opacity: 0.5;
        transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        background-size: contain; }
    table.styled thead .sorting_asc:after {
      background-image: url("../icons/dark/ico-dropdown.svg"); }
    table.styled thead .sorting_desc:after {
      background-image: url("../icons/dark/ico-dropdown-rev.svg"); }
  table.styled tbody tr {
    background-color: white; }
  table.styled tbody td {
    padding: 1.25em; }
  table.styled .actions {
    text-align: right; }
  @media (max-width: 600px) {
    table.styled thead {
      display: none; }
    table.styled tbody tr:first-child td:first-child {
      margin-top: 1em; }
    table.styled tbody td {
      float: left;
      width: 100%;
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 1em; }
      table.styled tbody td:first-child {
        padding-top: 1.25em; }
    table.styled tbody .actions {
      text-align: left;
      margin-bottom: 0;
      padding-bottom: 1em; } }

.card table.styled {
  border-spacing: 0;
  margin-bottom: -1.5625em; }
  .card table.styled.no-header {
    margin-top: -1.25em; }
  .card table.styled thead th {
    padding: 1.25em;
    border-bottom: 1px dotted #ebebeb; }
  .card table.styled th:first-child, .card table.styled td:first-child {
    padding-left: 0; }
  .card table.styled th:last-child, .card table.styled td:last-child {
    padding-right: 0; }
  .card table.styled tbody tr {
    background-color: transparent; }
    .card table.styled tbody tr:last-child td {
      border-bottom: 0; }
  @media (max-width: 600px) {
    .card table.styled tbody td {
      padding: 0; }
    .card table.styled tbody tr td:last-child {
      margin-bottom: 1em;
      padding-bottom: 1em;
      border-bottom: 1px solid #f2f2f2; } }
  @media (min-width: 601px) {
    .card table.styled tbody td {
      border-bottom: 1px solid #f2f2f2; } }


.blankslate-message {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  text-align: center;
  transform: translate(-50%, -50%); }
  .blankslate-message .mobile {
    display: inline-block; }
  .blankslate-message .desktop {
    display: none; }
  .blankslate-message img {
    max-width: 35%; }
  .blankslate-message h2 {
    position: relative;
    margin: 0 0 1.5625em; }
    .blankslate-message h2:after {
      content: "";
      position: absolute;
      bottom: -0.5em;
      left: 50%;
      width: 2.44141em;
      height: 2px;
      background-color: #bdbdbd;
      transform: translateX(-50%);
      -ms-transform: translateX(-50%); }
  .blankslate-message a {
    color: #73B0F4; }
  @media (min-width: 500px) {
    .blankslate-message {
      width: 26em; }
      .blankslate-message .mobile {
        display: none; }
      .blankslate-message .desktop {
        display: inline-block; } }
  @media (min-width: 700px) {
    .blankslate-message {
      width: 24em; } }

.search {
  position: relative;
  height: 3.4em; }
  .search .textbox {
    position: absolute;
    z-index: 1; }
  .search .btn-search {
    position: absolute;
    right: 1.2em;
    top: 50%;
    z-index: 2;
    width: 1.4em;
    height: 1.4em;
    cursor: pointer;
    opacity: 0.5;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transition: all 0.2s ease-in-out;
    background-size: contain;
    background-color: transparent;
    background-position: center center;
    background-image: url("../icons/dark/ico-search.svg"); }
    .search .btn-search:hover {
      opacity: 1;
      transition: all 0.2s ease-in-out; }

.stats {
  margin-bottom: 1.5625em; }
  .stats:after {
    content: "";
    display: table;
    clear: both; }

.stat {
  position: relative;
  float: left;
  width: 100%;
  text-align: center;
  padding: 1em 1.25em;
  box-shadow: none; }
  .stat.card {
    margin-top: 1em;
    margin-bottom: 0;
    padding: 1.5625em 3.05176em; }
    .stat.card .ico {
      left: 1.5625em; }
  .stat .ico {
    position: absolute;
    top: 50%;
    left: 0;
    width: 1.35em;
    height: 1.35em;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%); }
  .stat .loader {
    position: relative;
    left: 0;
    top: 0;
    transform: none;
    -ms-transform: none; }
  .stat .content {
    text-align: left;
    margin-left: 1.5625em; }
  .stat .value {
    font-size: 1.5625em;
    font-weight: 700; }
  .stat .change {
    position: absolute;
    top: 50%;
    right: 1.95312em;
    font-size: 0.9em;
    padding-top: 1em;
    background-size: 1em;
    background-position: top center;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%); }
    .stat .change.up {
      background-image: url("../icons/color/ico-up-green.svg"); }
    .stat .change.down {
      background-image: url("../icons/color/ico-down-red.svg"); }
  .stat .label {
    font-size: 0.85em;
    color: #8a8a8a; }
  .stat:last-child {
    margin-bottom: 0;
    margin-right: 0; }
  @media (max-width: 600px) {
    .stat {
      float: left;
      width: 48%; }
      .stat:nth-child(even) {
        margin-left: 2%; } }
  @media (min-width: 601px) {
    .stat {
      float: left;
      width: auto;
      margin-right: 1em; }
      .stat:nth-child(even) {
        float: left; } }

body.loading {
  opacity: 0.1; }

.progress-bar {
  width: 100%;
  height: 0.75em;
  background-color: #EBEFF4; }
  .progress-bar.red .progress-fill {
    background-color: #d95565; }
  .progress-bar.orange .progress-fill {
    background-color: #F0AA61; }
  .progress-bar.green .progress-fill {
    background-color: #8CC57D; }
  .progress-bar .progress-fill {
    height: 100%;
    transition: all 0.5s;
    background-color: #8CC57D; }

.progress-steps {
  list-style: none;
  text-align: center;
  counter-reset: step; }
  .progress-steps li {
    display: inline-block;
    counter-increment: step;
    text-align: center;
    margin-right: 2.44141em;
    font-size: 0.8em; }
    .progress-steps li a {
      color: #707070;
      padding-top: 3em;
      text-decoration: none; }
    .progress-steps li.completed:before {
      background-color: #73B0F4; }
    .progress-steps li:before {
      content: counter(step);
      display: block;
      color: white;
      width: 1.95312em;
      height: 1.95312em;
      margin: 0 auto;
      border-radius: 100%;
      text-align: center;
      font-weight: 700;
      font-size: 1.25em;
      line-height: 2em;
      background: #dbebfc;
      margin-bottom: 0.5em; }
    .progress-steps li:last-child {
      margin-right: 0; }

.rating {
  list-style: none;
  overflow: hidden; }
  .rating li {
    float: left;
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.25em;
    background-size: contain;
    opacity: 0.3;
    background-image: url("../icons/color/ico-star.svg"); }
  .rating.one-star li:nth-child(1) {
    opacity: 1; }
  .rating.two-star li:nth-child(-n+2) {
    opacity: 1; }
  .rating.three-star li:nth-child(-n+3) {
    opacity: 1; }
  .rating.four-star li:nth-child(-n+4) {
    opacity: 1; }
  .rating.five-star li:nth-child(-n+5) {
    opacity: 1; }
  .rating.selector li {
    cursor: pointer; }

.social-buttons {
  overflow: hidden; }
  .social-buttons a {
    float: left;
    width: 3em;
    height: 3em;
    padding: 1.25em;
    text-indent: -9000px;
    cursor: pointer; }
  .social-buttons .ico-facebook {
    background-color: #3b5998;
    transition: 0.2s all ease-in-out; }
    .social-buttons .ico-facebook:hover {
      background-color: #344e86; }
  .social-buttons .ico-twitter {
    background-color: #55acee;
    transition: 0.2s all ease-in-out; }
    .social-buttons .ico-twitter:hover {
      background-color: #3ea1ec; }
  .social-buttons .ico-linkedin {
    background-color: #0077b5;
    transition: 0.2s all ease-in-out; }
    .social-buttons .ico-linkedin:hover {
      background-color: #00669c; }
  .social-buttons .ico-mail,
  .social-buttons .ico-mailsolid {
    background-color: #8CC57D;
    transition: 0.2s all ease-in-out; }
    .social-buttons .ico-mail:hover,
    .social-buttons .ico-mailsolid:hover {
      background-color: #7cbd6b; }
  .social-buttons:after {
    display: none; }

.rd-container {
  display: none;
  padding: 1.5625em;
  text-align: center;
  border: 1px solid #f2f2f2;
  background-color: #fff; }
  .rd-container td {
    padding: 0.65em 0.75em; }

.rd-container-attachment {
  position: absolute; }

.rd-month {
  display: inline-block;
  margin-right: 25px; }

.rd-month-label {
  font-weight: 700;
  color: #55576b; }

.rd-day-head {
  padding: 1.25em 0 0.5em;
  color: #55576b; }

.rd-month:last-child {
  margin-right: 0; }

.rd-back,
.rd-next {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background: none; }

.rd-back[disabled],
.rd-next[disabled] {
  cursor: default; }

.rd-back {
  float: left; }

.rd-next {
  float: right; }

.rd-back:before {
  content: '←';
  display: block;
  color: #55576b; }

.rd-next:before {
  content: '→';
  display: block;
  color: #55576b; }

.rd-day-body {
  cursor: pointer;
  text-align: center; }

.rd-day-selected,
.rd-time-selected,
.rd-time-option:hover {
  cursor: pointer;
  color: #fff;
  background-color: #73B0F4; }

.rd-day-prev-month,
.rd-day-next-month {
  color: #999; }

.rd-day-disabled {
  cursor: default;
  color: #fcc; }

.rd-time {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-top: 1.25em; }

.rd-time-list {
  display: none;
  position: absolute;
  overflow-y: scroll;
  max-height: 160px;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: #fff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1); }

.rd-time-selected {
  padding: 5px; }

.rd-time-option {
  padding: 5px; }

.rd-day-concealed {
  visibility: hidden; }

date-input-polyfill {
  font-family: "Open Sans";
  border-radius: 2px;
  border-collapse: collapse !important;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1) !important; }
  date-input-polyfill .yearSelect,
  date-input-polyfill .monthSelect {
    float: left;
    height: 2.44141em;
    color: #707070;
    cursor: pointer;
    padding: 0 1em;
    text-align: center;
    outline: none; }
  date-input-polyfill button {
    display: inline-block;
    color: white;
    padding: 1.525em 0;
    font-size: 0.8em;
    font-weight: bold;
    line-height: 0.5em;
    text-transform: uppercase;
    background: #515D73 !important; }
  date-input-polyfill thead th {
    color: #515D73;
    padding: 0.75em 0 0; }
  date-input-polyfill tbody td {
    color: #707070;
    font-size: 0.9em;
    padding: 0.4em 0; }
  date-input-polyfill td[data-selected] {
    color: white;
    background-color: #515D73; }

.grid > li {
  width: 100%;
  float: left;
  margin-bottom: 1.5625em; }

@media (min-width: 600px) {
  .two-col > li {
    width: 49%; }
    .two-col > li:nth-of-type(2n+1) {
      margin-right: 2%; } }

@media (min-width: 850px) {
  .three-col > li {
    width: 32%; }
    .three-col > li:nth-of-type(2n+1) {
      margin-right: 0; }
    .three-col > li:nth-of-type(3n+1), .three-col > li:nth-of-type(3n+2) {
      margin-right: 2%; } }

@media (min-width: 1100px) {
  .four-col > li {
    width: 24%; }
    .four-col > li:nth-of-type(3n+1), .four-col > li:nth-of-type(3n+2) {
      margin-right: 0; }
    .four-col > li:nth-of-type(4n+1), .four-col > li:nth-of-type(4n+2), .four-col > li:nth-of-type(4n+3) {
      margin-right: 1.33%; } }

@media (min-width: 1400px) {
  .five-col > li {
    width: 19.2%; }
    .five-col > li:nth-of-type(4n+1), .five-col > li:nth-of-type(4n+2), .five-col > li:nth-of-type(4n+3) {
      margin-right: 0%; }
    .five-col > li:nth-of-type(5n+1), .five-col > li:nth-of-type(5n+2), .five-col > li:nth-of-type(5n+3), .five-col > li:nth-of-type(5n+4) {
      margin-right: 1%; } }







.users-table {
  width: 100%; }
  @media (max-width: 600px) {
    .users-table .user-name,
    .users-table .user-role {
      display: none; }
    .users-table .user-email {
      padding-left: 0 !important; } }

@-webkit-keyframes shake {
  from {
    transform: translateX(-5px);
    -ms-transform: translateX(-5px); }
  to {
    transform: translateX(5px);
    -ms-transform: translateX(5px); } }

@-moz-keyframes shake {
  from {
    transform: translateX(-5px);
    -ms-transform: translateX(-5px); }
  to {
    transform: translateX(5px);
    -ms-transform: translateX(5px); } }

@-o-keyframes shake {
  from {
    transform: translateX(-5px);
    -ms-transform: translateX(-5px); }
  to {
    transform: translateX(5px);
    -ms-transform: translateX(5px); } }

@keyframes shake {
  from {
    transform: translateX(-5px);
    -ms-transform: translateX(-5px); }
  to {
    transform: translateX(5px);
    -ms-transform: translateX(5px); } }

@-webkit-keyframes rotate {
  from {
    transform: rotate(0);
    -ms-transform: rotate(0); }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg); } }

@-moz-keyframes rotate {
  from {
    transform: rotate(0);
    -ms-transform: rotate(0); }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg); } }

@-o-keyframes rotate {
  from {
    transform: rotate(0);
    -ms-transform: rotate(0); }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg); } }

@keyframes rotate {
  from {
    transform: rotate(0);
    -ms-transform: rotate(0); }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg); } }

.loader, .loader-wrapper {
  position: absolute;
  z-index: 99999;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); }

.loader-message {
  position: relative;
  top: 10px;
  display: block;
  color: #707070;
  font-size: 1.2em;
  font-family: "Source Sans Pro"; }





.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #858796;
}
.table th,
.table td {
padding: 0.75rem!important;
vertical-align: top!important;
/* border-top: 1px solid #e3e6f0!important; */
}

.data {
  color:#0011ff;
}

.left{
  text-align:left;
}
.right{
  text-align:right;
}
.center{
  text-align: center;
}

.table thead th {
vertical-align: bottom!important;
border-bottom: 2px solid #e3e6f0!important;
background-color:#FFF!important;
}

.table tbody + tbody {
border-top: 2px solid #e3e6f0!important;
}

.table-hover tbody tr:hover {
 
  background-color:#bdbdc2!important;
}

@media (max-width: 575.98px) {
  .table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-sm > .table-bordered {
    border: 0;
  }
}
@media (max-width: 767.98px) {
  .table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-md > .table-bordered {
    border: 0;
  }
}

@media (max-width: 991.98px) {
  .table-responsive-lg {
    display: block!important;
    width: 100%!important;
    overflow-x: auto!important;
    -webkit-overflow-scrolling: touch!important;
  }
  .table-responsive-lg > .table-bordered {
    border: 0!important;
  }
}

@media (max-width: 1199.98px) {
  .table-responsive-xl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive-xl > .table-bordered {
    border: 0;
  }
}
.sheet:hover, .sheet:active, .sheet:focus{
  background-color: #73B0F4;
}
a{
  text-decoration: none!important;
}

.table-row{
  cursor: pointer;
}

a:active{
  background-color: #73B0F4;
}
.table td{
  padding:2px!important;
}
.report tr td{
  border:1px solid #333440;
  border-top:1px solid #333440;
}

.sub-items a{
  padding:3px!important;
  margin-left:19px!important;
 
}
.collapse{
  display:block;
}
.sidebar{
  margin-top: 0px;
}

.sidebar .nav>a{
  display:block;
}

@media (orientation:landscape){
  .alertText{
    color:red;
    display:flex;
    text-align: center;
  }
  #myButton{
    padding: 10px 15px 10px 15px;
    margin-left:45%;
    border-radius: 12px;
  }
  .report table {
    min-width: 900px;
    table-layout: fixed
  }
}

.report table,
.report td {
  font-family: 'Times New Roman';
  color: black;
  font-size: 12px;
  padding: 0px 5px 0px 5px;
  margin: 0 3px;
  border-collapse: collapse;
  border: 1px solid black;
  font-weight: normal;
}
.report .data {
  color:#0011ff;
}
.fillgrey {
  background-color:#BBBBBB;
}
.hospital{
  width:300px;
}
.address{
  width:270px;
}
.black{
  color:black;
}

.yellow{
  color:yellow;
}
#black{
  color:black;
}
#yellow{
  color:blue;
  
}
button.btn{
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  border-radius: 2px;;
}
button.btn1{
  padding: 10px!important;
  top:-9px;
  border:none;
  width: 88%;
  font-size:14px;
  position: absolute;
  text-align:center;
}

.search{
  padding: 10px 15px 13px 5px!important;
  right:10px;
  top:-9px;
  width:85%;
}


button.btn1{
  padding: 10px!important;
  border:none;
  top:55px;
  width: 88%;
  font-size:14px;
  position: absolute;
  text-align:center;
}
.btn1 {
  cursor: pointer;
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  padding: 1em 2.44141em;
  transition: all 0.4s ease-in-out;
  border-radius: 2px;
  background-color: #8CC57D; }
#myButton1{
  /* border-radius: 12px; */
  margin:auto;
}
button.btn2{
  background-color:#8CC57D;
  color:white;
  position: relative;
  padding: 5px!important;
  border:none;
  font-size:14px;
  font-weight:200;
  margin:auto;
  text-align:center;
  display: block;
}
.border-bottom{
  border-bottom: none;
}
.border-right{
  border-right: none;
}
.border-top{
  border-top: none;
}
.tab{
  padding-left:40px;
}
.tabPadding{
  padding:40px;
}
.noborder{
  border:none;
}
.Fy{
  font-size: 8px!important;
  font-weight:600;
  text-align: center;
}
table.Fy td{
  padding: 3px!important;
}

        
.pricing-plan{
  padding:3em;
}
.plan-list{
  background-color:#00aeef;
  text-align: center;
  color:white;
  padding:13px 0px 13px 0px;
  font-size:20px;
  width:100%
}

.yearly{
  font-size: 3em;
  text-align: center;
  padding:10px;
}
.small{
  font-size:20px!important;
  color:grey;
}
.action{
  padding:15px;
}
.btn3.btn-action{
  padding:5px 10px 5px 10px;
  background-color:#3bb878;
  color:#fff;
}
.btn3{
  font-family: "Lato",sans-serif;
  font-weight: 400;
  transition: .2s all;
  padding: 6px 12px;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  font-size: 16px;
  line-height: 1.42857143;
  text-align: center;
}
.price .action .btn3{
  display:grid;
width: 100%;
padding-left: 0;
padding-right: 0;
}
.pricing-details{
  margin-left: auto;
margin-right: auto;
margin-bottom: 15px;
}
.plan-value, .price-specs{
  text-align: right;
  font-size: 1.35rem;
  padding-left: 4px;
  padding-right: 4px;
  white-space: nowrap;
  font-weight: 400;
  line-height: 1.5rem;
}
.pricing-details tr > td{
  padding-bottom: 10px;
}
.plan-specs{
  text-align: left;
  font-size: 1.35rem;
}
.price{
  margin-bottom: 45px;
  background-color: #e9e6e6;
  width:25%;
  color:#6f6f6f;
  margin: 0 auto;
}
.plan-block{
  padding:0px!important;
  padding-right:5px!important;
}
.container{
  text-align: center; 
}
.skip{
  text-align: right;
  padding-right: 90px;
}
.fas {
  
  cursor:pointer; 
  user-select: none;
}
.fas:active{
  
  color:yellow;
}
.bold{
  color:#000!important;
  font-weight: bolder;
}
.fav{
  width:50px;
}

.fa-star{
  text-shadow: 0 0 3px #000;
}

.negative{
  color:red;
}
