/* Common */
html {  scroll-behavior: smooth; overflow-x:hidden}
body {   font-family: 'Roboto', sans-serif;	font-size:1rem; background:#FCFCFC; color:#000}
::-moz-selection { background: #FFA800; text-shadow: none;}
::selection { background: #FFA800; text-shadow: none;}
img::selection { background: transparent;}
img::-moz-selection { background: transparent;}
ul li, ol li {	list-style:none}

/* Align  and button*/
.bg-lite1{background:#FCFCFC}
.bg-lite{ background:#FFD994; color:#363636}
.btn-primary{ background:#724315; border-radius: 14px; color:#fff !important; padding:2px 20px !important; border-color: #724315; cursor: pointer}
.btn-primary:hover{ background:#593109;}
.btn-primary:disabled{ border-color: #724315}

.btn-free{ background:#FFA800; border-radius: 14px; color:#fff !important; padding:2px 20px !important; border-color: #FFA800; cursor: pointer}
.btn-free:hover{ background:#FFA800;}
.btn-free:disabled{ border-color: #FFA800}


.btn-plan{ background:#724315; border-radius: 20px; color:#fff; padding:10px 50px; font-size:0.875rem}
.btn-plan:hover{ background:#593109;  color:#fff; text-decoration:none}
.btn-subscribe{background:#724315; color:#fff; padding:10px 20px; font-size:0.875rem;  border-radius: 5px !important;}
.btn-subscribe:hover{ background:#593109;  color:#fff; text-decoration:none}
.text-primary{ color:#724315 !important}
.text-dark-lite{ color:#576078}
.text-dark-lite1{ color:#363636}
.text-red{ color:#724315}
.text-yellow{ color:#FFA800}
.text-yellow:hover{ color:#FFA800}
.wight-m{ font-weight:700}
.btn-all{ background:#FFA800; color:#fff; border-radius: 5px; padding:1% 4% 1% 2%;; text-align:left}
.btn-all:hover{ color:#724315; text-decoration:none}
.btn-outline-primary{ border:solid 1px #724315; color:#724315}
.btn-outline-primary:hover{ background:#724315; color:#fff}

/* owl */
#owl-rice .item{  margin: 3px;  display: block;  }
#owl-rice .item img{text-align:center; margin:0 auto;   height: auto;  }


/* index */
.nav-link{ padding:0; margin-left:1rem; margin-right:1rem}
.navbar-expand-lg .navbar-nav .nav-link{ padding:0}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link{ color:#000; border-bottom:solid 1px #724315; font-size:0.875rem}
.navbar-light .navbar-nav .nav-link{ color:#000; font-size:0.875rem}
#index-banner .carousel-caption{ bottom:25%;}
#index-banner .carousel-caption p { font-size:1.3125rem}
#index-banner .carousel-caption h3 { font-size:2.625rem}
#index-banner .carousel-caption p { font-size:1.3125rem}
#index-banner .carousel-caption u { font-size:1rem}
#index-banner .carousel-caption u a{ color:#fff }
.border-secondary{ border: solid 1px #724315}
.btn-outline-secondary{border: solid 1px #724315}
.search-holder input{ font-size:1rem; border:solid 0px #724315; color:#724315; }
.search-holder .input-group-append button{ background:#fff !important; border: solid 0px #724315; border-width:0; color:#724315; }
.form-control::placeholder { color: #724315; font-size:0.875rem}
.what-left h3{ font-size:1.5rem; margin-bottom:5%; }
.what-left h3 span{font-size:1.75rem; font-weight:bold}
.what-left p{ color:#363636}
.box{ background:#fff; box-shadow: 0px 0px 20px #ADADAD29; padding:2% 5%;}
.what-right p{ display:inline-block}
.what-right p:nth-child(even){ float:right}
.package-holder {box-shadow: 0px 0px 15px #B5B5B54D; background:#fff; text-align:center; padding-bottom:10%;}
.package-holder h2{ margin-top:5%; background:#FFA800; padding:2%; width:100%; float:left; color:#fff; font-size:1.75rem; text-transform:uppercase; font-weight:700}
.package-holder h3{ font-size:2.25rem; font-weight:bold}
.package-holder ul{ padding-left:0;}
.package-holder ul li{ line-height:40px}
.recomended{ float:right; position: absolute; display: block; right: 15px;}
.key{ color:#363636; font-size:1.75rem; font-weight:700}
.features-holder{ background:#fff; box-shadow: 0px 0px 15px #B5B5B54D; padding:5%; border-radius: 6px; margin-bottom:5%}
.features-holder h4{ font-size:1.3125rem; margin-top:4%; margin-bottom:4%; font-weight:700}
.features-holder p{ color:#707070}
.half-circle{ position:absolute;  right:0}
.subscribe input{ border:none}
.testimonial{ background:#FFEFD1;border-radius: 6px; padding:5%; }
.testimonial:after{ background:#FFD994 ; content: "";    width: 85%;    height: 30px; bottom:-20px; position:absolute; border-radius: 6px; z-index:-1}
.faq{  position: absolute;  top: 50%;  -ms-transform: translateY(-50%); transform: translateY(-50%);}
.owl-buttons{position: relative; float: right; margin-top: -10%;}
.owl-buttons .owl-prev,.owl-buttons .owl-next{ float:left; margin-right:5px; cursor:pointer}
.owl-buttons .owl-prev i,.owl-buttons .owl-next i{ font-size:2rem; color:#724315; cursor:pointer}
.provides a{padding: 5px 30px !important; margin-right:10px}
.interested-btn{ text-align:right}
.sources-holder{background:#fff; box-shadow: 0px 0px 15px #B5B5B54D; padding:5%; border-radius: 6px; margin-bottom:5%}
/* accordion styles */
.accordion .card{ border:0;}
.accordion .card-body{ background:#fff; box-shadow: 0px 0px 10px #EAEAEAA8;}
.accordion .card-header.collapsed{  cursor: pointer; background:#fff; box-shadow: 0px 0px 10px #EAEAEAA8; border-radius: 8px; border:none; margin-bottom:2%; color:#000}
.accordion .card-header{background:#fff; color:#FFA800; border:0}
.accordion.heading-right .card-title {  position: absolute;  right: 50px;}
.accordion.indicator-plus .card-header:after {  font-family: 'FontAwesome';  content: "\f068";  float: right;}
.accordion.indicator-plus .card-header.collapsed:after {  content: "\f105";}
.accordion.indicator-plus-before.round-indicator .card-header:after {  font-family: 'FontAwesome';  font-size: 14pt;  content: "\f107";  margin-right: 10px;}
.accordion.indicator-plus-before.round-indicator .card-header.collapsed:after {  content: "\f105";  color: #000;}
.accordion.indicator-plus-before .card-header:after {  font-family: 'FontAwesome';  content: "\f107";  float: right;}
.accordion.indicator-plus-before .card-header.collapsed:after {  content: "\f105";}
.accordion.indicator-chevron .card-header:after {  font-family: 'FontAwesome';  content: "\f107";  float: right;}
.accordion.indicator-chevron .card-header.collapsed:after {  content: "\f107";}
.accordion.background-none [class^="card"] {  background: transparent;}
.accordion.border-0 .card {  border: 0;}
footer{ color:#576078; background:#fff }
footer p{ font-size:0.875rem}
footer p a{ color:#576078; }
footer p a:hover{ color:#FFA800; text-decoration:underline; }
footer h5{ color:#FFA800; font-size:0.875rem}
footer ul{ padding-left:0}
footer ul li a{ color:#576078; font-size:0.875rem}
footer ul li a:hover{ color:#000; text-decoration:none}
footer ol{ padding-left:0}
footer ol li{ float:left}
footer ol li a{ margin-right:1rem}

#inner-banner .carousel-caption{ bottom:35%;}
#inner-banner .carousel-caption h3 { font-size:2.25rem}
#inner-banner .carousel-caption u { font-size:1.125rem}
.state-holder .nav .nav-item .nav-link{ color:#724315; margin-left: 0.3rem; margin-right: 0.3rem; width:2rem; height:2rem; text-align:center;padding:4px 11px}
.state-holder .nav .nav-item .nav-link.active{ color:#fff; background:#724315; border-radius: 100%; padding:4px 11px;}
.state-holder .nav .nav-item .nav-link.disable{ color:#D5D5D5; background:#F0F0F0; border-radius: 100%; padding:4px 11px; cursor:default}
.state-holder .tab-content .tab-pane ul { padding-left:0}
.state-holder .tab-content .tab-pane ul li .states{ background:#fff; box-shadow: 0px 0px 20px #ADADAD29;  padding:5px 10px; border-bottom:solid 1px #FFA800 ; -webkit-border-top-left-radius: 6px; -webkit-border-top-right-radius: 6px; -moz-border-radius-topleft: 6px; -moz-border-radius-topright: 6px; border-top-left-radius: 6px;
    border-top-right-radius: 6px; font-size: 0.8rem;}
.state-holder .tab-content .tab-pane ul li a{color:#000;}
.state-holder .tab-content .tab-pane ul li a:hover{ text-decoration:none; color:#724315;}
.state-holder .tab-content .tab-pane ul li .states:after {  font-family: 'FontAwesome';  content: "\f105";  float: right; color:#724315; transition: 0.5s;}
.state-holder .tab-content .tab-pane ul li .states:hover:after{padding-right: 10px;  transition: 0.5s;}
.breadcrumb-holder li{float: left; display: contents;}
.breadcrumb-holder li:first-child:before, .breadcrumb-holder li:last-child:before{ display:none}
.breadcrumb-holder li:before{ content:""; background:#724315; position:absolute; margin-left: -17px; width: 17px; height: 2px; z-index: -2; margin-top: 12px;}
.breadcrumb-holder li a{ background:#fff; box-shadow: 0px 0px 20px #ADADAD29; color: #724315; border-radius: 5px; padding:1% 1% 1% 1%;; text-align:left; margin-right:15px}
.breadcrumb-holder li a:hover{ color:#724315; text-decoration:none; cursor:default}
.breadcrumb-holder li a.active{ background:#FFA800; color:#fff; border-radius: 5px; padding:1% 4% 1% 2%;; text-align:left}
.breadcrumb-holder li a.active:hover{ color:#724315; text-decoration:none}
.hospitals{background:#fff; box-shadow: 0px 0px 20px #ADADAD29;}
.hospitals thead{ background:#724315; color:#fff}

.top-holder {box-shadow: 0px 3px 6px #D8D8D829;}
.left-links ul{ padding-left:0}
.left-links ul li{ margin-bottom:25px; }
.left-links ul li a{ color:#000}
.left-links ul li a:hover{ text-decoration:none}
.left-links ul li a.active:before{  content:"";  position:absolute; background:#FFA800; border-radius: 0px 26px 26px 0px; left: 0px; width: 90%; height: 35px; z-index:-1; margin-top:-4px}
.left-links ul li a i{ margin-right:20px;}
.bottom {  position: fixed;  bottom: 0;  width: 100%;}
.current-plan{ padding:2%; box-shadow: 0px 2px 20px #EDEDED80; border-radius: 6px; display:inline-block}
.current-plan a{ color:#FFA800}
.current-plan a:hover{ text-decoration:underline}

.main-right{ background:#FCFCFC }
.bg-yellow{ background:#FFA800; box-shadow: 5px 5px 15px #DBDBDB59; color:#fff}
.action-holder a{ background:#724315; border-radius: 100%; display: inline-block; text-align:center; width:30px; height:30px;}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link { background-color:#724315;  border-radius: 30px; padding-top:5px; padding-bottom:5px;}
.nav-pills .nav-link{ padding-top:5px; padding-bottom:5px; color:#FFA800}

.report-table tbody{ border:solid 1px #dee2e6; margin-top:5px;}



.login-container{ background:#FCFCFC; border:solid 2px #e9e9e9;}
.login-holder{ background: #FFFFFF; box-shadow: 0px 3px 20px #EDEDED46; margin:10%; padding:5%; margin-top:15%;}
.login-holder h4{ color:#FFA800}

.login-holder .input-group > .input-group-prepend > .input-group-text { background:none; border-width:0px 0px 1px 0px; border-radius:0 }
.login-holder .input-group > .input-group-postpend > .input-group-text { background:none; border-width:0px 0px 1px 0px; border-radius:0; padding:.8rem .9rem}
.login-holder .input-group > input{background:none; border-width:0px 0px 1px 0px; border-radius:0 }
.login-holder .input-group > input.form-control::placeholder { color: #5C5C5C; font-size:0.875rem}
.login-holder .form-check label, .login-holder .forgot{ color:#4D4D4D}


.border-left-yellow:before{content:""; background:#FFA800; position:absolute; margin-left: -15px; width: 3px; height: 55px; z-index: -2; margin-top: -18px;}
.border-left-yellow1:before{content:""; background:#FFA800; position:absolute; margin-left: -23px; width: 3px; height: 55px; z-index: -2; margin-top: -18px;}
.top-right-heading{ background:url(../images/img_hospital_details_top.png) center top;   background-size: cover; z-index:-3; }
.yellow-border td, .yellow-border th{ border:solid 1px #FFA800}
.yellow-border thead th {border-bottom: 2px solid #FFA800;}
.bg-yellow{ background:#FFD994}


.error-message{
    background: #d6485a;
    display: block;
    width: 100%;
    color: white;
    text-align: center;
}
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    h2,h3,h4,p{ text-align:center}
    .what-right p:nth-child(even){ float:left}
    .what-right p{ text-align:left}
    ul{ padding-left:0}
    .features-holder{ margin-bottom:2%;}
    .features-holder img{ text-align:center; display:block; margin:0 auto}
    .buttons-holder{ margin:0 auto; text-align:center; display:block;}
    #owl-client { text-align:center}
    #owl-client .shap{ display:none}
    .faq{  position:relative; }
    .owl-buttons .owl-prev,.owl-buttons .owl-next{ display:none}
    footer{ text-align:center}
    footer ol{margin:0 auto; text-align:center; display:block; padding-left:31%;}
    #index-banner img{ min-height:175px}
    #index-banner .carousel-caption{bottom:1%;}
    #index-banner .carousel-caption h3 { font-size:1rem}
    #index-banner .carousel-caption u { font-size:.8rem}
    #index-banner .carousel-caption p { font-size:1rem; margin-bottom:0}
    #inner-banner .carousel-caption{ bottom:1%;}
    #inner-banner .carousel-caption h3 { font-size:1.25rem}
    #inner-banner .carousel-caption u { font-size:1rem}
    .all-state-holder a{ margin:0 auto; display:block; text-align:center; margin-bottom:5%;}
    .breadcrumb-holder li:before{ display:none}
    .navbar-light .navbar-nav .nav-link{ margin-bottom:2%}
    .navbar-light .navbar-nav .nav-link.btn-primary{ text-align:center}
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {  }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {  }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {  }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 9px !important;
    width: 9px!important;
}

.btn-plan, .btn-primary{
    display: inline-block;
    width: auto;
}
#spin{
    display: inline-block;
}
.btn-loader {

    display: inline-block;
    text-align: start;
}

/*.btn-loader {
    position: relative;
    display: inline-block;
    padding: 0;
    cursor: pointer;
    overflow: hidden;
}
.btn-loader:hover {
    transition: all 0.4s ease-in-out;
}
.btn-loader input, .btn-loader .btn {
    position: relative;
    display: block;
    color: white;
    cursor: pointer;
}
.btn-loader:after {
    display: none;
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0;
    top: -2%;
    z-index: 3;
    background-size: contain;
    background-image: url("../icons/light/loading.gif"); }
.btn-loader.full-width.loading {
    padding-right: 0; }
.btn-loader.loading {
    padding-right: 1em; }
.btn-loader.loading:after {
    display: block;
    transform-origin: center center;
    -webkit-animation: rotate 1s infinite linear;
    -moz-animation: rotate 1s infinite linear;
    -o-animation: rotate 1s infinite linear;
    animation: rotate 1s infinite linear;
}*/

.checkbox input, .radio input {
    position: relative;
    float: left;
    width: 2em;
    height: 2em;
    cursor: pointer;
    margin-right: 1em;
    background: none;
    border: 1px solid #dedede;
    background-size: 70%;
    background-position: center center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all 0.2s ease-in-out;
}
.selector-bar input {
    display: none;
}
fieldset .checkbox, fieldset .radio {
    margin-bottom: 0.25em;
}
.selector-bar {
    width: 100%;
}
checkbox, .radio {
    float: left;
    margin-right: 1.5625em;
    margin-bottom: 0.75em;
}
.selector-bar label {
    display: block;
    width: 100%;
    cursor: pointer;
    margin: 0 0 0.5em 0;
    padding: 1.25em 1.5625em;
    border-radius: 2px;
    border: 1px solid #f2f2f2;
}
.checkbox label, .radio label {
    float: left;
    line-height: 1.5625em;
    font-size: 0.8em;
    cursor: pointer;
    text-transform: none;
}
.selector-bar :checked + label {
    color: white;
    border: none;
    background-color: #73B0F4;
}
.pg-account .content {
    margin: 0;
    max-width: 28.42171em;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card {
    position: relative;
    padding: 1.5625em;
    margin-bottom: 4.5625em;
    background: white;
    overflow: scroll;
}
.dataTables_wrapper label {
    text-transform: none; }

.dataTables_wrapper input[type=search] {
    width: 100%;
    color: #707070;
    font-size: 1em;
    padding: 1em;
    margin: 0 0 1.5625em;
    border: 1px solid #f2f2f2;
    background-size: 1.25em;
    background-position: center right 1em;
    background-image: url("../icons/dark/ico-search.svg"); }

.dataTables_wrapper .dataTables_filter label {
    color: transparent; }

.dataTables_wrapper .dataTables_length {
    display: none; }

.dataTables_wrapper .dataTables_info {
    display: none;
    margin-top: 1.5625em; }

.dataTables_wrapper .dataTables_paginate {
    margin-top: 1.5625em; }
.dataTables_wrapper .dataTables_paginate span {
    display: inline-block;
    margin: 0 1em; }
.dataTables_wrapper .dataTables_paginate a {
    cursor: pointer; }

@media (max-width: 600px) {
    .dataTables_wrapper .dataTables_info {
        font-size: 0.8em;
        text-align: center; }
    .dataTables_wrapper .dataTables_paginate {
        text-align: center;
        margin-top: 0.5em; } }

@media (min-width: 601px) {
    .dataTables_wrapper input[type=search] {
        float: right;
        max-width: 22.73737em; }
    .dataTables_wrapper .dataTables_info {
        float: left; }
    .dataTables_wrapper .dataTables_paginate {
        float: right; } }

.notification {
    position: fixed;
    top: -1.95312em;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: 999999;
    text-align: center;
    padding: 0.75em 1em;
    transition: all 0.15s ease-in-out; }
.notification.visible {
    top: 0;
    opacity: 1; }
.notification.success {
    color: white;
    background-color: #8CC57D; }
.notification.error {
    color: white;
    background-color: #d95565; }
.notification.show {
    top: 0;
    opacity: 1;
    transition: all 0.25s ease-in-out; }
.notification .btn-close-notification {
    position: absolute;
    top: 50%;
    right: 1.5625em;
    opacity: 0.7;
    /*width: 0.9em;
    height: 0.9em;*/
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transition: all 0.2s ease-in-out; }
.notification .btn-close-notification:hover {
    opacity: 1; }

.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999999;
    background: black;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0; }
.modal .modal-content {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 94%;
    opacity: 0;
    text-align: left;
    max-height: 44.40892em;
    overflow-y: scroll;
    background-color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3); }
.modal .custom {
    font-weight: 700; }
@media (max-width: 300px) {
    .modal .btn {
        width: 100%; }
    .modal .buttons .btn:first-child {
        margin-bottom: 1em; } }
@media (min-width: 299px) {
    .modal .btn:first-child {
        float: left;
        width: 48%;
        font-size: 1em; }
    .modal .btn:last-child {
        float: right;
        width: 48%;
        padding: 3.5px !important;} }
@media (min-width: 500px) {
    .modal .modal-content {
        max-width: 28.42171em; } }
.modal1 {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    z-index: 9999999;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    margin-left: 100px;
    margin-top: 0px; }

.modal1 .modal-body{
    height:250px;
}

.message {
    position: relative;
    padding: 1.95312em;
    overflow: hidden;
    width: 100%;
    margin-bottom: 1.25em; }
.message .ico:first-child {
    float: left;
    width: 3em;
    height: 3em;
    margin-right: 1.95312em;
    border-radius: 100%; }
.message .ico:first-child:after {
    width: 50%;
    height: 50%; }
.message .content {
    color: #686868;
    width: auto;
    overflow: hidden; }
.message .content h1 {
    font-size: 1.25em; }
.message .content p:last-child {
    margin-bottom: 0; }
.message .btn {
    color: white !important;
    display: inline-block;
    padding: 0.75em 1.25em; }
.message .btn-close-message {
    position: absolute;
    top: 1.25em;
    right: 1.25em;
    width: 1em;
    height: 1em;
    opacity: 0.6;
    margin-right: 0;
    background-color: transparent !important;
    transition: all 0.2s ease-in-out; }
.message .btn-close-message:hover {
    opacity: 0.9; }
.message.info {
    background-color: #e9f3fd; }
.message.info h1, .message.info a {
    color: #73B0F4; }
.message.info .ico {
    background-color: #c8e0fb; }
.message.info .btn {
    background-color: #99c5f7; }
.message.info .btn:hover {
    background-color: #73b0f4; }
.message.success {
    background-color: #f0f7ee; }
.message.success h1, .message.success a {
    color: #8CC57D; }
.message.success .ico {
    background-color: #c4e1bc; }
.message.success .btn {
    background-color: #9fce92; }
.message.success .btn:hover {
    background-color: #86c276; }
.message.warning {
    background-color: #fceedf; }
.message.warning h1, .message.warning a {
    color: #F0AA61; }
.message.warning .ico {
    background-color: #f6cda2; }
.message.warning .btn {
    background-color: #f1af6a; }
.message.warning .btn:hover {
    background-color: #ed9b45; }
.message.error {
    background-color: #f7dade; }
.message.error h1, .message.error a {
    color: #e27f8b; }
.message.error p {
    color: #595959; }
.message.error .ico {
    background-color: #eaa0a9; }
.message.error .btn {
    background-color: #e27f8b; }
.message.error .btn:hover {
    background-color: #d95565; }
@media (max-width: 400px) {
    .message .ico:first-child {
        float: none;
        width: 2.44141em;
        height: 2.44141em;
        margin: 0 auto; }
    .message .content {
        float: left;
        margin-top: 1.25em; } }



/* Custom CSS Beigns */
.label-wrapper{
    /* padding: 0 !important; */
    text-align: left !important;
}

.buy-plan-select{
    text-align: left;
}

.buy-plan-select select{
    padding: 10px;
    width: 100%;
}

.creditcard {
    display: block;
    position: relative;
    width: 100%;
    color: #707070;
    font-size: 1em;
    padding: 1em;
    margin: 0 0 1.25em;
    background-color: white;
    border: 1px solid #f2f2f2;
}

.creditcard:focus {
    background-color: #fafafa;
    transition: all 0.3s ease-in-out;
}
.creditcard.error {
    position: relative;
    color: #d95565;
    margin-bottom: 0;
    border: 1px solid #d95565;
    background-color: #fcf3f4;
}
.creditcard.warning {
    background: #efa253;
}

.show-modal-btn{
    color: #fff !important;
    cursor: pointer;
}
.allInclusive-msg-modal{
    overflow: hidden;
}
.allInclusive-msg-modal .modal-footer{
    margin: auto;
}
.allInclusive-msg-modal .modal-footer button{
    width: 100% !important;
    background: #724315;
    border-radius: 20px !important;
    color: #fff;
    padding: 8px 50px !important;
    font-size: 0.875rem !important;
}
/* Custom CSS Ends */


.autocomplete-items {position: absolute; z-index: 99;  top: 100%;  left: 0;  right: 0; font-size:.9rem}
.autocomplete-items div {padding: 10px; cursor: pointer;  background-color: #fff;   border-bottom: 1px solid #d4d4d4; margin: 0 2.5%;border-radius: 5px; color:#000; text-align:left }
.autocomplete-items div:hover {  background-color: #e9e9e9; }
.autocomplete-active {  background-color: #593109;   color: #ffffff; }

.ui-widget {
    font-family: 'Roboto', sans-serif !important;
    font-size:1rem !important;
}


.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
    background: #7e8890 !important;
    font-weight: normal;
    color: #212121 !important;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid #aaaaaa;
    background: #7e8890 !important;
    font-weight: normal;
    color: #fff !important;
}

.left-links ul{ padding-left:0}
.left-links ul li{ margin-bottom:25px; }
.left-links ul li a{ color:#000}
.left-links ul li a:hover{ text-decoration:none}
.left-links ul li a.active:before{  content:"";  position:absolute; background:#FFA800; border-radius: 0px 26px 26px 0px; left: 0px; width: 90%; height: 35px; z-index:-1; margin-top:-4px}
.left-links ul li a i{ margin-right:20px;}

.left-links .nav-link{ margin-left:0}
.left-links li ul{ padding-left:10px }
.nav-link[data-toggle].collapsed:after {  content: " ▾";}
.nav-link[data-toggle]:not(.collapsed):after {    content: " ▴";}
.left-links ul li ul li a.active:before{  content:"";  position:absolute; background:#FFA800; border-radius: 0px 26px 26px 0px; left: 0px; width: 100%; height: 35px; z-index:-1; margin-top:-4px}
.autocomplete{
    font-size: medium !important;
}

.report table,
.report td {
    font-family: 'Times New Roman';
    color: black;
    font-size: 12px;
    padding: 0px 5px 0px 5px;
    margin: 0 3px;
    border-collapse: collapse;
    border: 1px solid black;
    font-weight: normal;
}
.report .data {
    color:#0011ff;
}
.report tr td{
    border:1px solid #333440;
    border-top:1px solid #333440;
}
.fillgrey {
    background-color:#BBBBBB;
}
@media (orientation:landscape){

    .report table {
        min-width: 900px;
        table-layout: fixed
    }
}
