<!--<nav class="subnav">

  <a href="/account/profile"{{#is content.subTitle "Profile"}} class="active"{{/is}}>Profile</a>
  <a href="/account/password"{{#is content.subTitle "Password"}} class="active"{{/is}}>Password</a>
  <a href="/account/billing"{{#is content.subTitle "Billing"}} class="active"{{/is}}>Billing</a>
  <a href="/account/users"{{#is content.subTitle "Users"}} class="active"{{/is}}>Users</a>

</nav>-->
<ul class="nav nav-pills nav-justified mb-3 mt-3" id="pills-tab" role="tablist">
    <li class="nav-item"> <a class="nav-link {{#is content.subTitle "Profile"}} active {{/is}}" id="all-tab" href="/account/profile" role="tab" aria-controls="all" aria-selected="true">Profile</a> </li>
    <li class="nav-item"> <a class="nav-link {{#is content.subTitle "Password"}} active {{/is}}" id="hospice-tab"  href="/account/password" role="tab" aria-controls="hospice" aria-selected="false">Password</a> </li>
    <li class="nav-item"> <a class="nav-link {{#is content.subTitle "Billing"}} active {{/is}}" id="renal-tab"  href="/account/billing" role="tab" aria-controls="renal" aria-selected="false">Billing</a> </li>
    <li class="nav-item"> <a class="nav-link {{#is content.subTitle "Users"}} active {{/is}}" id="hha-tab"  href="/account/users" role="tab" aria-controls="hha" aria-selected="false">Users</a> </li>
</ul>
<br> <br>
