<nav class="subnav">

  <a href="/account/profile"{{#is content.subTitle "Profile"}} class="active"{{/is}}>Profile</a>
  <a href="/account/password"{{#is content.subTitle "Password"}} class="active"{{/is}}>Password</a>

</nav>
