<!--<nav class="sidebar mobile-fixed-bottom">

  <button class="btn-togglenav ico ico-dark ico-nav"></button>

  <img class="logo" src="/assets/images/logo/medicarecostreport_logo.png" alt="MedicareCostReport Logo" />

  <section class="nav-links">

    <a href="/dashboard"{{#is content.title "Dashboard" }} class="active"{{/is}}>Dashboard</a>
    <a href="/account/profile"{{#is content.title "Your Account" }} class="active"{{/is}}>Account</a>

  </section>

</nav>-->

