<nav class="sidebar mobile-slideout">

  <button class="btn-togglenav ico ico-dark ico-nav"></button>

  <img class="logo" src="/assets/images/logo/medicarecostreport_logo.png" alt="MedicareCostReport Logo" />

  <section class="nav-links">

    <a href="/config"{{#is content.title "Dashboard" }} class="active"{{/is}}>Dashboard</a>
    <a href="/config/accounts"{{#is content.title "Accounts" }} class="active"{{/is}}>Accounts</a>
    <a href="/config/users"{{#is content.title "Users" }} class="active"{{/is}}>Users</a>

  </section>

  </nav>
