<style>
    .checkbox input, .radio input {
        position: relative;
        float: left;
        width: 2em;
        height: 2em;
        cursor: pointer;
        margin-right: 1em;
        background: none;
        border: 1px solid #dedede;
        background-size: 70%;
        background-position: center center;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        transition: all 0.2s ease-in-out;
    }
    .selector-bar input {
        display: none;
    }
    fieldset .checkbox, fieldset .radio {
        margin-bottom: 0.25em;
    }
    .selector-bar {
        width: 100%;
    }
    checkbox, .radio {
        float: left;
        margin-right: 1.5625em;
        margin-bottom: 0.75em;
    }
    .selector-bar label {
        display: block;
        width: 100%;
        cursor: pointer;
        margin: 0 0 0.5em 0;
        padding: 1.25em 1.5625em;
        border-radius: 2px;
        border: 1px solid #f2f2f2;
    }
    .checkbox label, .radio label {
        float: left;
        line-height: 1.5625em;
        font-size: 0.8em;
        cursor: pointer;
        text-transform: none;
    }
    .selector-bar :checked + label {
        color: white;
        border: none;
        background-color: #73B0F4;
    }
    .pg-account .content {
        margin: 0;
        max-width: 28.42171em;
    }
    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }
    .card {
        position: relative;
        padding: 1.5625em;
        margin-bottom: 4.5625em;
        background: white;
        overflow: scroll;
    }
</style>
<div class="container-fluid top-holder">
    <div class="row">
        <div class="col-md-2"><a class="navbar-brand" href="/"><img src="/assets/images/img_logo.png" alt=""/></a> </div>
        <div class="col-md-8 mt-3 text-center">
            <!--<p><strong>Sign In to view Report</strong></p>-->
        </div>
        <div class="col-md-2 mt-2"><span class="username"><a style="float:right" href = '/signin'>Sign In</a></span></div>
        <!--<div class="col-md-2 mt-2"><img src="/assets/images/img_user_photo.png" alt="photo" class="pull-right"/></div>-->
    </div>
</div>
<!--<br/>
<div class="row navbar">
   <div class="col-lg-12">
        &nbsp;<a href="/" class="mr-4" ><i class="fas fa-home"></i>&nbsp;Home&nbsp;</a>
        <a href="#" onclick="document.getElementById('modal-search').style.display='block'"  class="mr-4" id="openModal" data-toggle="modal" data-target="#modal-search"><i class="fas fa-search"></i>&nbsp;<span data-toggle="tooltip" title="Search By Hospital/SNF/HHA/Renal/Hospice">Search by Facility Type&nbsp;</span></a>
        <a href="/state"><i class="fas fa-search"></i>&nbsp;Search by State/County/City&nbsp;</a>
      
        <a style="float:right" href = '/signin'>Sign in</a>

      <div class="modal1 fade" id="modal-search" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="ModalCenterTitle" aria-hidden="true" data-target="#modal1">
        <div id="modal1" class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="ModalLongTitle">Hospital Search</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>  
            <div class="modal-body">
              <div class="col-lg-12">
                <form class="form-inline navbar-search">

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
   </div>
</div>-->
