{{> home/navdashboard }}
{{#if permission}}
<section  class="col-md-2 left-links wow fadeInLeft">

    <ul>
        <li><a href="/"{{#is content.title "Home" }} class="active"{{/is}}><i><img src="/assets/images/icon_calendar.svg" alt="icon"/></i> Home</a></li>
        
        <li><a href="/dashboard"{{#is content.title "Dashboard" }} class="active"{{/is}}><i><img src="/assets/images/icon_dashboard.png" alt="icon"/></i> Dashboard</a></li>

        <li><a href="#" id="searchByFacilityType" onclick="searchByFacilityFunction()" data-toggle="modal" href="#" data-target="#modal-search">
          <i><img src="/assets/images/icon_search2.svg" alt="icon"/></i> Search By  Facility</a>
        </li>
        <li><a href="/state"{{#is content.title "Search By State/Country/City" }} class="active"{{/is}}><i><img src="/assets/images/icon_search2.svg" alt="icon"/></i> Search by Location </a></li>
        
        <li><a href="/account/profile"{{#is content.title "Your Account" }} class="active"{{/is}}><i><img src="/assets/images/icon_user1.svg" alt="icon"/></i> Account Settings</a></li>
    </ul>

    <ul class="bottom">
        <li> <a href="javascript:void(0)" class="logout"> <i><img src="/assets/images/icon_logout.svg" alt="icon"/></i>Logout</a></li>
    </ul>

</section>
{{/if}}
