<style>
    .accordion > a{
        display: block;
    }
</style>

<section  class="col-md-2 left-links wow fadeInLeft mb-5">
         <!-- <button class="btn-togglenav ico ico-dark ico-nav"></button>
        <img class="logo" src="/assets/images/logo/medicarecostreport_logo.png" alt="MedicareCostReport Logo" />-->
<ul>
{{#if permission}}

                <li><a href="/"{{#is content.title "Home" }} class="active"{{/is}}><i><img src="/assets/images/icon_calendar.svg" alt="icon"/></i> Home</a></li>

                <li><a href="/dashboard"{{#is content.title "Dashboard" }} class="active"{{/is}}><i><img src="/assets/images/icon_dashboard.png" alt="icon"/></i> Dashboard</a></li>

{{/if}}

{{#is type "HOSP"}}
    <li>
        <a href="#" class="nav-link" data-toggle="collapse" data-target="#submenu1sub1" aria-expanded="true"> WORKSHEET S</a>
        <div class="collapse show" id="submenu1sub1" aria-expanded="false">
            <ul class="pt-3" >
                <li><a data-toggle="tooltip" title="HOSPITAL AND HOSPITAL HEALTH CARE COMPLEX COST REPORT CERTIFICATION AND SETTLEMENT SUMMARY " href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/S000001-to-3"><span>S Part I, II & III</span></a></li>
                <li><a data-toggle="tooltip" title="HOSPITAL AND HOSPITAL HEALTH CARE COMPLEX IDENTIFICATION DATA " href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/S200001"><span>S-2 Part I</span></a></li>
                <li><a data-toggle="tooltip" title="HOSPITAL AND HOSPITAL HEALTH CARE COMPLEX REIMBURSEMENT QUESTIONNAIRE" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/S200002"><span>S-2 Part II</span></a></li>
                <li><a data-toggle="tooltip" title="HOSPITAL AND HOSPITAL HEALTH CARE COMPLEX STATISTICAL DATA " href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/S300001"><span>S-3 Part I</span></a></li>
                <li><a data-toggle="tooltip" title="HOSPITAL AND HOSPITAL HEALTH CARE COMPLEX STATISTICAL DATA " href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/S300002-to-3"><span>S-3 Part II & III</span></a></li>
                <li><a data-toggle="tooltip" title="HOSPITAL WAGE RELATED COSTS" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/S300004"><span>S-3 Part IV</span></a></li>
                <li><a data-toggle="tooltip" title="HOSPITAL CONTRACT LABOR AND BENEFIT COST" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/S300005"><span>S-3 Part V</span></a></li>
                <li><a data-toggle="tooltip" title="HOSPITAL-BASED HOME HEALTH AGENCY STATISTICAL DATA" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/S400000"><span>S-4</span></a></li>
                <li><a data-toggle="tooltip" title="HOSPITAL RENAL DIALYSIS DEPARTMENT STATISTICAL DATA" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/S500000"><span>S-5</span></a></li>
                <li><a data-toggle="tooltip" title="PROSPECTIVE PAYMENT FOR SNF STATISTICAL DATA " href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/S700000"><span>S-7</span></a></li>
                <li><a data-toggle="tooltip" title="HOSPITAL UNCOMPENSATED AND INDIGENT CARE DATA " href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/S100000"><span>S-10</span></a></li>
            </ul>
        </div>
    </li>
    <li>
        <a href="#"  class="nav-link collapsed" href="#submenu1sub2" data-toggle="collapse" data-target="#submenu1sub2"> WORKSHEET A</a>
        <div class="collapse" id="submenu1sub2" aria-expanded="false">
            <ul class="pt-3">
                    <li><a data-toggle="tooltip" title="RECLASSIFICATION AND ADJUSTMENT OF TRIAL BALANCE OF EXPENSES" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/A000000"><span>A</span></a></li>
                    <li><a data-toggle="tooltip" title="RECLASSIFICATIONS" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/A600000"><span>A-6</span></a></li>
                    <li><a data-toggle="tooltip" title="RECONCILIATION OF CAPITAL COSTS CENTERS" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/A700001-to-3"><span>A-7 Part I, II & III</span></a></li>
                    <li><a data-toggle="tooltip" title="ADJUSTMENTS TO EXPENSES" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/A800000"><span>A-8</span></a></li>
                    <li><a data-toggle="tooltip" title="STATEMENT OF COSTS OF SERVICES FROM RELATED ORGANIZATIONS AND HOME OFFICE COSTS " href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/A810000-partA"><span>A-8-1 PartA</span></a></li>
                    <li><a data-toggle="tooltip" title="STATEMENT OF COSTS OF SERVICES FROM RELATED ORGANIZATIONS AND HOME OFFICE COSTS" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/A810000-partB"><span>A-8-1 PartB</span></a></li>
                    <li><a data-toggle="tooltip" title="PROVIDER-BASED PHYSICIANS ADJUSTMENTS" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/A820000"><span>A-8-2</span></a></li>
                    <li><a data-toggle="tooltip" title="REASONABLE COST DETERMINATION FOR THERAPY SERVICES FURNISHED BY OUTSIDE SUPPLIERS " href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/A830000"><span>A-8-3</span></a></li>
            </ul>
        </div>
    </li>
    <li>
        <a href="#"  class="nav-link collapsed" href="#submenu1sub3" data-toggle="collapse" data-target="#submenu1sub3"> WORKSHEET B</a>
        <div class="collapse" id="submenu1sub3" aria-expanded="false">
            <ul class="pt-3">
                    <li><a data-toggle="tooltip" title="COST ALLOCATION - GENERAL SERVICE COSTS" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/B000001"><span>B Part I</span></a></li>
                    <li><a data-toggle="tooltip" title="ALLOCATION OF CAPITAL-RELATED COSTS" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/B000002"><span>B Part II</span></a></li>
                    <li><a data-toggle="tooltip" title="POST STEPDOWN ADJUSTMENTS" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/B200010"><span>B-2</span></a></li>
                    <li><a data-toggle="tooltip" title="COST ALLOCATION - GENERAL SERVICE COSTS" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/B1000000"><span>B Part I</span></a></li>
            </ul>
        </div>
    </li>
    <li>
        <a href="#"  class="nav-link collapsed" href="#submenu1sub4" data-toggle="collapse" data-target="#submenu1sub4"> WORKSHEET C</a>
        <div class="collapse" id="submenu1sub4" aria-expanded="false">
            <ul class="pt-3">
                <li><a data-toggle="tooltip" title="COMPUTATION OF RATIO OF COSTS TO CHARGES" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/C000001"><span>C Part I</span></a></li>
            </ul>
        </div>
    </li>
    <li>
        <a href="#"  class="nav-link collapsed" href="#submenu1sub5" data-toggle="collapse" data-target="#submenu1sub5"> WORKSHEET G</a>
        <div class="collapse" id="submenu1sub5" aria-expanded="false">
            <ul id="worksheetG" class="pt-3">
                <li><a data-toggle="tooltip" title="BALANCE SHEET" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/G000000"><span>G</span></a></li>
                <li><a data-toggle="tooltip" title="STATEMENT OF CHANGES IN FUND BALANCES" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/G100000"><span>G-1</span></a></li>
                <li><a data-toggle="tooltip" title="STATEMENT OF PATIENT REVENUES AND OPERATING EXPENSES" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/G200000"><span>G-2 Part 1 & II</span></a></li>
                <li><a data-toggle="tooltip" title="STATEMENT OF REVENUES AND EXPENSES" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/G300000"><span>G-3</span></a></li>
            </ul>
        </div>
    </li>
    <li>
        <a href="#"  class="nav-link collapsed" href="#submenu1sub6" data-toggle="collapse" data-target="#submenu1sub6"> WORKSHEET H</a>
        <div class="collapse" id="submenu1sub6" aria-expanded="false">
            <ul  class="pt-3"  >
                <li><a data-toggle="tooltip" title="Analysis of Hospital-Based Home Health Agency Costs " href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/H010000"><span>H</span></a></li>
            </ul>
        </div>
    </li>
    <li>
        <a href="#"  class="nav-link collapsed" href="#submenu1sub7" data-toggle="collapse" data-target="#submenu1sub7"> WORKSHEET K</a>
        <div class="collapse" id="submenu1sub7" aria-expanded="false">
            <ul  class="pt-3">
                <li><a data-toggle="tooltip" title="ANALYSIS OF PROVIDER-BASED HOSPICE COSTS " href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/K010000"><span>K</span></a></li>
                <li><a data-toggle="tooltip" title="HOSPICE COMPENSATION ANALYSIS" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/K110000"><span>K-1</span></a></li>
                <li><a data-toggle="tooltip" title="HOSPICE COMPENSATION ANALYSIS EMPLOYEE" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/K210000"><span>K-2</span></a></li>
                <li><a data-toggle="tooltip" title="HOSPICE COMPENSATION ANALYSIS CONTRACTED SERVICES/PURCHASED SERVICES" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/K310000"><span>K-3</span></a></li>
                <li><a data-toggle="tooltip" title="COST ALLOCATION - HOSPICE GENERAL SERVICE COST" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/K410001"><span>K-4 Part I</span></a></li>
                <li><a data-toggle="tooltip" title="COST ALLOCATION - HOSPICE STATISTICAL BASIS" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/K410002"><span>K-4 Part II</span></a></li>
                <li><a data-toggle="tooltip" title="ALLOCATION OF GENERAL SERVICE COSTS TO HOSPICE COST CENTERS " href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/K510001"><span>K-5 Part I</span></a></li>
                <li><a data-toggle="tooltip" title="ALLOCATION OF GENERAL SERVICE COSTS TO HOSPICE COST CENTERS STATISTICAL BASIS " href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/K510002"><span>K-5 Part II</span></a></li>
                <li><a data-toggle="tooltip" title="APPORTIONMENT OF HOSPICE SHARED SERVICES" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/K510003"><span>K-5 Part III</span></a></li>
                <li><a data-toggle="tooltip" title="CALCULATION OF HOSPICE PER DIEM COST" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/K610000"><span>K-6</span></a></li>
            </ul>
        </div>
    </li>

{{/is}}

{{#is type "SNF"}}
    <li>
        <a href="#" class="nav-link" data-toggle="collapse" data-target="#submenu1sub1" aria-expanded="true"> WORKSHEET S</a>
        <div class="collapse show" id="submenu1sub1" aria-expanded="false">
            <ul class="pt-3" >
                <li><a data-toggle="tooltip" title="SKILLED NURSING FACILITY AND SKILLED NURSING FACILITY HEALTH CARE COMPLEX IDENTIFICATION DATA" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/S200001"><span>S-2 Part I</span></a></li>
                <li><a data-toggle="tooltip" title="SKILLED NURSING FACILITY AND SKILLED NURSING FACILITY HEALTH CARE COMPLEX REIMBURSEMENT QUESTIONNAIRE" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/S200002"><span>S-2 Part II</span></a></li>
                <li><a data-toggle="tooltip" title="SKILLED NURSING FACILITY AND SKILLED NURSING FACILITY HEALTH CARE COMPLEX STATISTICAL DATA" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/S300001"><span>S-3 Part I</span></a></li>
                <li><a data-toggle="tooltip" title="SNF WAGE INDEX INFORMATION PART II - DIRECT SALARIES" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/S300002-to-3"><span>S-3 Part II & III</span></a></li>
                <li><a data-toggle="tooltip" title="SNF WAGE RELATED COSTS" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/S300004"><span>S-3 Part IV</span></a></li>
                <li><a data-toggle="tooltip" title="SNF REPORTING OF DIRECT CARE EXPENDITURES" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/S300005"><span>S-3 Part V</span></a></li>
                <li><a data-toggle="tooltip" title="SNF - BASED HOME HEALTH AGENCY STATISTICAL DATA" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/S400000"><span>S-4</span></a></li>
                <li><a data-toggle="tooltip" title="PROSPECTIVE PAYMENT FOR SNF STATISTICAL DATA" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/S700000"><span>S-7</span></a></li>
            </ul>
        </div>
    </li>

    <li>
        <a href="#"  class="nav-link collapsed" href="#submenu1sub2" data-toggle="collapse" data-target="#submenu1sub2"> WORKSHEET A</a>
        <div class="collapse" id="submenu1sub2" aria-expanded="false">
            <ul class="pt-3" >
                <li><a data-toggle="tooltip" title="RECLASSIFICATION AND ADJUSTMENT OF TRIAL BALANCE OF EXPENSES" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/A000000"><span>A</span></a></li>
                <li><a data-toggle="tooltip" title="RECLASSIFICATIONS" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/A600000"><span>A-6</span></a></li>
                <li><a data-toggle="tooltip" title="ANALYSIS OF CHANGES IN CAPITAL ASSET BALANCES" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/A700000"><span>A-7</span></a></li>
                <li><a data-toggle="tooltip" title="ADJUSTMENTS TO EXPENSES" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/A800000"><span>A-8</span></a></li>
                <li><a data-toggle="tooltip" title="STATEMENT OF COSTS OF SERVICES FROM RELATED ORGANIZATIONS AND HOME OFFICE COSTS" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/A810000"><span>A-8-1</span></a></li>
                <li><a data-toggle="tooltip" title="PROVIDER - BASED PHYSICIAN ADJUSTMENTS" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/A820000"><span>A-8-2</span></a></li>
            </ul>
        </div>
    </li>

    <li>
        <a href="#"  class="nav-link collapsed" href="#submenu1sub3" data-toggle="collapse" data-target="#submenu1sub3"> WORKSHEET B</a>
        <div class="collapse" id="submenu1sub3" aria-expanded="false">
            <ul class="pt-3" >
                <li><a data-toggle="tooltip" title="COST ALLOCATION - GENERAL SERVICE COSTS" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/B000001"><span>B Part-I</span></a></li>
                <li><a data-toggle="tooltip" title="COST ALLOCATION - STATISTICAL BASIS" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/B100000"><span>B-1</span></a></li>
                <li><a data-toggle="tooltip" title="POST STEP DOWN ADJUSTMENTS" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/B200000"><span>B-2</span></a></li>
            </ul>
        </div>
    </li>

    <li>
        <a href="#"  class="nav-link collapsed" href="#submenu1sub4" data-toggle="collapse" data-target="#submenu1sub4"> WORKSHEET C</a>
        <div class="collapse" id="submenu1sub4" aria-expanded="false">
            <ul class="pt-3" >
                <li><a data-toggle="tooltip" title="RATIO OF COST TO CHARGES FOR ANCILLARY AND OUTPATIENT COST CENTERS " href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/C000000"><span>C</span></a></li>
            </ul>
        </div>
    </li>

    <li>
        <a href="#"  class="nav-link collapsed" href="#submenu1sub5" data-toggle="collapse" data-target="#submenu1sub5"> WORKSHEET D</a>
        <div class="collapse" id="submenu1sub5" aria-expanded="false">
            <ul class="pt-3" >
                <li><a data-toggle="tooltip" title="APPORTIONMENT OF ANCILLARY AND OUTPATIENT COST" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/D000001"><span>D Part-I</span></a></li>
                <li><a data-toggle="tooltip" title="APPORTIONMENT OF ANCILLARY AND OUTPATIENT COST" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/D000002-to-3"><span>D Part II & III</span></a></li>
            </ul>
        </div>
    </li>

    <li>
        <a href="#"  class="nav-link collapsed" href="#submenu1sub6" data-toggle="collapse" data-target="#submenu1sub6"> WORKSHEET E</a>
        <div class="collapse" id="submenu1sub6" aria-expanded="false">
            <ul class="pt-3" >
                <li><a data-toggle="tooltip" title="CALCULATION OF REIMBURSEMENT SETTLEMENT TITLE FOR XVIII " href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/E000001"><span>E Part-I</span></a></li>
            </ul>
        </div>
    </li>

    <li>
        <a href="#"  class="nav-link collapsed" href="#submenu1sub7" data-toggle="collapse" data-target="#submenu1sub7"> WORKSHEET G</a>
        <div class="collapse" id="submenu1sub7" aria-expanded="false">
            <ul class="pt-3">
                <li><a data-toggle="tooltip" title="BALANCE SHEET" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/G000000"><span>G</span></a></li>
                <li><a data-toggle="tooltip" title="STATEMENT OF PATIENT REVENUES AND OPERATING EXPENSES" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/G200001-to-2"><span>G-2 Part I & II</span></a></li>
                <li><a data-toggle="tooltip" title="STATEMENT OF REVENUES AND EXPENSES " href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/G300000"><span>G-3</span></a></li>
            </ul>
        </div>
    </li>

{{/is}}

{{#is type "RENAL"}}
    <li>
        <a href="#" class="nav-link" data-toggle="collapse" data-target="#submenu1sub1" aria-expanded="true"> WORKSHEET S</a>
        <div class="collapse show" id="submenu1sub1" aria-expanded="false">
            <ul class="pt-3" >
                <li><a data-toggle="tooltip" title="INDEPENDENT RENAL DIALYSIS FACILITY COST REPORT CERTIFICATION" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/S000001-to-3"><span>S Parts I, II & III</span></a></li>
                <li><a data-toggle="tooltip" title="INDEPENDENT RENAL DIALYSIS FACILITY STATISTICAL DATA" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/S100000"><span>S-1</span></a></li>
                <li><a data-toggle="tooltip" title=" INDEPENDENT RENAL DIALYSIS FACILITY REIMBURSEMENT QUESTIONNAIRE" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/S200000"><span>S-2</span></a></li>
            </ul>
        </div>
    </li>

    <li>
        <a href="#"  class="nav-link collapsed" href="#submenu1sub2" data-toggle="collapse" data-target="#submenu1sub2"> WORKSHEET A</a>
        <div class="collapse" id="submenu1sub2" aria-expanded="false">
            <ul class="pt-3" >
                <li><a data-toggle="tooltip" title="RECLASSIFICATION AND ADJUSTMENT OF TRIAL BALANCE OF EXPENSES" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/A000000"><span>A</span></a></li>
                <li><a data-toggle="tooltip" title="RECLASSIFICATIONS" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/A100000"><span>A-1</span></a></li>
                <li><a data-toggle="tooltip" title="ADJUSTMENTS TO EXPENSES" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/A200000"><span>A-2</span></a></li>
                <li><a data-toggle="tooltip" title="STATEMENT OF COSTS OF SERVICES FROM RELATED ORGANIZATIONS" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/A300000"><span>A-3</span></a></li>
                <li><a data-toggle="tooltip" title="STATEMENT OF COMPENSATION" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/A400000"><span>A-4</span></a></li>
            </ul>
        </div>
    </li>

    <li>
        <a href="#"  class="nav-link collapsed" href="#submenu1sub3" data-toggle="collapse" data-target="#submenu1sub3"> WORKSHEET B</a>
        <div class="collapse" id="submenu1sub3" aria-expanded="false">
            <ul class="pt-3" >
                <li><a data-toggle="tooltip" title="COST ALLOCATION - GENERAL SERVICE COSTS" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/B000000-partA"><span>B Part-A</span></a></li>
                <li><a data-toggle="tooltip" title="COST ALLOCATION - GENERAL SERVICE COSTS" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/B000000-partB"><span>B Part-B</span></a></li>
                <li><a data-toggle="tooltip" title="COST ALLOCATION - STATISTICAL BASIS" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/B100000-partA"><span>B-1 Part-A</span></a></li>
                <li><a data-toggle="tooltip" title="COST ALLOCATION - STATISTICAL BASIS" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/B100000-partB"><span>B-1 Part-B</span></a></li>
            </ul>
        </div>
    </li>

    <li>
        <a href="#"  class="nav-link collapsed" href="#submenu1sub4" data-toggle="collapse" data-target="#submenu1sub4"> WORKSHEET C</a>
        <div class="collapse" id="submenu1sub4" aria-expanded="false">
            <ul class="pt-3" >
                <li><a data-toggle="tooltip" title="COMPUTATION OF AVERAGE COST PER TREATMENT ESRD PPS BUNDLED PAYMENT" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/C000000"><span>C</span></a></li>
            </ul>
        </div>
    </li>

    <li>
        <a href="#"  class="nav-link collapsed" href="#submenu1sub5" data-toggle="collapse" data-target="#submenu1sub5"> WORKSHEET D</a>
        <div class="collapse" id="submenu1sub5" aria-expanded="false">
            <ul class="pt-3" >
                <li><a data-toggle="tooltip" title="COMPUTATION OF AVERAGE COST PER TREATMENT BASIC COMPOSITE COST" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/D000000"><span>D</span></a></li>
            </ul>
        </div>
    </li>

    <li>
        <a href="#"  class="nav-link collapsed" href="#submenu1sub6" data-toggle="collapse" data-target="#submenu1sub6"> WORKSHEET E</a>
        <div class="collapse" id="submenu1sub6" aria-expanded="false">
            <ul class="pt-3" >
                <li><a data-toggle="tooltip" title="CALCULATION OF BAD DEBT REIMBURSEMENT" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/E000001-2"><span>E Part I & II</span></a></li>
                <li><a data-toggle="tooltip" title="ANALYSIS OF PAYMENTS TO PROVIDERS FOR SERVICES RENDERED " href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/E100000"><span>E-1</span></a></li>
            </ul>
        </div>
    </li>

    <li>
        <a href="#"  class="nav-link collapsed" href="#submenu1sub7" data-toggle="collapse" data-target="#submenu1sub7"> WORKSHEET F</a>
        <div class="collapse" id="submenu1sub7" aria-expanded="false">
            <ul class="pt-3" >
                <li><a data-toggle="tooltip" title="BALANCE SHEET" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/F000000"><span>F</span></a></li>
                <li><a data-toggle="tooltip" title="STATEMENT OF REVENUES AND EXPENSES" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/F100000"><span>F-1</span></a></li>
            </ul>
        </div>
    </li>
{{/is}}

{{#is type "HOSPICE"}}

    <li>
        <a href="#" class="nav-link" data-toggle="collapse" data-target="#submenu1sub1" aria-expanded="true"> WORKSHEET S</a>
        <div class="collapse show" id="submenu1sub1" aria-expanded="false">
            <ul class="pt-3" >
                <li><a data-toggle="tooltip" title="STATEMENT OF REVENUES AND EXPENSES" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/S000001-2"><span>S Part I & II</span></a></li>
                <li><a data-toggle="tooltip" title="HOSPICE IDENTIFICATION DATA" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/S100001"><span>S-1 Part I</span></a></li>
                <li><a data-toggle="tooltip" title="HOSPICE IDENTIFICATION DATA" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/S100002-3"><span>S-1 Part II & III</span></a></li>
                <li><a data-toggle="tooltip" title="HOSPICE REIMBURSEMENT QUESTIONNAIRE" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/S200000-partA"><span>S-2 Part A</span></a></li>
                <li><a data-toggle="tooltip" title="HOSPICE REIMBURSEMENT QUESTIONNAIRE" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/S200000-partB"><span>S-2 Part B</span></a></li>
            </ul>
        </div>
    </li>
    <li>
        <a href="#"  class="nav-link collapsed" href="#submenu1sub2" data-toggle="collapse" data-target="#submenu1sub2"> WORKSHEET A</a>
        <div class="collapse" id="submenu1sub2" aria-expanded="false">
            <ul class="pt-3">
                <li><a data-toggle="tooltip" title="RECLASSIFICATION AND ADJUSTMENT OF TRIAL BALANCE OF EXPENSES" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/A000000-partA"><span>A Part A</span></a></li>
                <li><a data-toggle="tooltip" title="RECLASSIFICATION AND ADJUSTMENT OF TRIAL BALANCE OF EXPENSES" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/A000000-partB"><span>A Part B</span></a></li>
                <li><a data-toggle="tooltip" title="RECLASSIFICATION AND ADJUSTMENT OF TRIAL BALANCE OF EXPENSES" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/A100000"><span>A-1</span></a></li>
                <li><a data-toggle="tooltip" title="RECLASSIFICATION AND ADJUSTMENT OF TRIAL BALANCE OF EXPENSES ROUTINE HOME CARE" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/A200000"><span>A-2</span></a></li>
                <li><a data-toggle="tooltip" title="RECLASSIFICATION AND ADJUSTMENT OF TRIAL BALANCE OF EXPENSES INPATIENT RESPITE CARE" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/A300000"><span>A-3</span></a></li>
                <li><a data-toggle="tooltip" title="RECLASSIFICATION AND ADJUSTMENT OF TRIAL BALANCE OF EXPENSES GENERAL INPATIENT CARE" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/A400000"><span>A-4</span></a></li>
                <li><a data-toggle="tooltip" title="RECLASSIFICATION AND ADJUSTMENT OF TRIAL BALANCE OF EXPENSES GENERAL INPATIENT CARE" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/A600000"><span>A-6</span></a></li>
                <li><a data-toggle="tooltip" title="ADJUSTMENTS TO EXPENSES" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/A800000"><span>A-8</span></a></li>
                <li><a data-toggle="tooltip" title="STATEMENT OF COSTS OF SERVICES FROM RELATED ORGANIZATIONS AND HOME OFFICE COSTS" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/A810001-2"><span>A-8-1 Part I & II</span></a></li>
            </ul>
        </div>
    </li>
    <li>
        <a href="#"  class="nav-link collapsed" href="#submenu1sub3" data-toggle="collapse" data-target="#submenu1sub3"> WORKSHEET B</a>
        <div class="collapse" id="submenu1sub3" aria-expanded="false">
            <ul class="pt-3" >
                <li><a data-toggle="tooltip" title="COST ALLOCATION" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/B000000-partA"><span>B Part A</span></a></li>
                <li><a data-toggle="tooltip" title="COST ALLOCATION" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/B000000-partB"><span>B Part B</span></a></li>
                <li><a data-toggle="tooltip" title="COST ALLOCATION - STATISTICAL BASIS" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/B100000-partA"><span>B-1 Part A</span></a></li>
                <li><a data-toggle="tooltip" title="COST ALLOCATION - STATISTICAL BASIS" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/B100000-partB"><span>B-1 Part B</span></a></li>
            </ul>
        </div>
    </li>
    <li>
        <a href="#"  class="nav-link collapsed" href="#submenu1sub4" data-toggle="collapse" data-target="#submenu1sub4"> WORKSHEET C</a>
        <div class="collapse" id="submenu1sub4" aria-expanded="false">
            <ul class="pt-3" >
                <li><a data-toggle="tooltip" title="CALCULATION OF PER DIEM COST" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/C000000"><span>C</span></a></li>
            </ul>
        </div>
    </li>
    <li>
        <a href="#"  class="nav-link collapsed" href="#submenu1sub5" data-toggle="collapse" data-target="#submenu1sub5"> WORKSHEET F</a>
        <div class="collapse" id="submenu1sub5" aria-expanded="false">
            <ul class="pt-3" >
                <li><a data-toggle="tooltip" title="BALANCE SHEET" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/F000000"><span>F</span></a></li>
                <li><a data-toggle="tooltip" title="STATEMENT OF CHANGES IN FUND BALANCES" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/F100000"><span>F-1</span></a></li>
                <li><a data-toggle="tooltip" title="STATEMENT OF REVENUES AND OPERATING EXPENSES" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/F200000"><span>F-2</span></a></li>
            </ul>
        </div>
    </li>
{{/is}}

{{#is type "HHA"}}

    <li>
        <a href="#" class="nav-link" data-toggle="collapse" data-target="#submenu1sub1" aria-expanded="true"> WORKSHEET S</a>
        <div class="collapse show" id="submenu1sub1" aria-expanded="false">
            <ul class="pt-3" >
                <li><a data-toggle="tooltip" title="HOME HEALTH AGENCY COST REPORT CERTIFICATION AND SETTLEMENT SUMMARY" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/S000000"><span>S</span></a></li>
                <li><a data-toggle="tooltip" title="HOME HEALTH AGENCY COMPLEX IDENTIFICATION DATA" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/S200000"><span>S-2</span></a></li>
                <li><a data-toggle="tooltip" title="HOME HEALTH AGENCY COMPLEX QUESTIONNAIRE" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/S200001"><span>S-2 Part I</span></a></li>
                <li><a data-toggle="tooltip" title="HOME HEALTH AGENCY STATISTICAL DATA" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/S300001-to-3"><span>S-3 Part I,II & III</span></a></li>
                <li><a data-toggle="tooltip" title="HOME HEALTH AGENCY STATISTICAL DATA" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/S300004"><span>S-3 Part IV</span></a></li>
                <li><a data-toggle="tooltip" title="HHA-BASED RHC/FQHC STATISTICAL DATA" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/S400000"><span>S-4</span></a></li>
                <li><a data-toggle="tooltip" title="HHA-BASED HOSPICE IDENTIFICATION DATA" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/S500000"><span>S-5</span></a></li>
            </ul>
        </div>
    </li>
    <li>
        <a href="#"  class="nav-link collapsed" href="#submenu1sub2" data-toggle="collapse" data-target="#submenu1sub2"> WORKSHEET A</a>
        <div class="collapse" id="submenu1sub2" aria-expanded="false">
            <ul class="pt-3" >
                <li><a data-toggle="tooltip" title="RECLASSIFICATION AND ADJUSTMENT OF TRIAL BALANCE OF EXPENSES" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/A000000"><span>A</span></a></li>
                <li><a data-toggle="tooltip" title="COMPENSATION ANALYSIS SALARIES AND WAGES" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/A100000"><span>A-1</span></a></li>
                <li><a data-toggle="tooltip" title="COMPENSATION ANALYSIS EMPLOYEE BENEFITS (PAYROLL RELATED)" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/A200000"><span>A-2</span></a></li>
                <li><a data-toggle="tooltip" title="COMPENSATION ANALYSIS CONTRACTED SERVICES/PURCHASED SERVICES" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/A300000"><span>A-3</span></a></li>
                <li><a data-toggle="tooltip" title="RECLASSIFICATIONS" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/A400000"><span>A-4</span></a></li>
                <li><a data-toggle="tooltip" title="ADJUSTMENTS TO EXPENSES" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/A500000"><span>A-5</span></a></li>
                <li><a data-toggle="tooltip" title="STATEMENT OF COSTS OF SERVICES FROM RELATED ORGANIZATIONS" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/A60000A-B-C"><span>A-6 Part A, B & C</span></a></li>
                <li><a data-toggle="tooltip" title="ANALYSIS OF CHANGES IN CAPITAL ASSET BALANCE" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/A700000"><span>A-7</span></a></li>
                {{!-- <li><a data-toggle="tooltip" title="" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/A830001-to-3"><span>A-8-3 Parts I, II & III</span></a></li>
                <li><a data-toggle="tooltip" title="" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/A830004-5"><span>A-8-3 Parts IV & V</span></a></li> --}}
            </ul>
        </div>
    </li>
    <li>
        <a href="#"  class="nav-link collapsed" href="#submenu1sub3" data-toggle="collapse" data-target="#submenu1sub3"> WORKSHEET B</a>
        <div class="collapse" id="submenu1sub3" aria-expanded="false">
            <ul class="pt-3" >
                <li><a data-toggle="tooltip" title="COST ALLOCATION - GENERAL SERVICE COST" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/B000000"><span>B</span></a></li>
                <li><a data-toggle="tooltip" title="COST ALLOCATION - STATISTICAL BASIS " href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/B100000"><span>B-1</span></a></li>
            </ul>
        </div>
    </li>
    <li>
        <a href="#"  class="nav-link collapsed" href="#submenu1sub4" data-toggle="collapse" data-target="#submenu1sub4"> WORKSHEET C</a>
        <div class="collapse" id="submenu1sub4" aria-expanded="false">
            <ul class="pt-3" >
                <li><a data-toggle="tooltip" title="APPORTIONMENT OF PATIENT SERVICE COSTS" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/C000001-2"><span>C Part I & II</span></a></li>
                <li><a data-toggle="tooltip" title="APPORTIONMENT OF PATIENT SERVICE COSTS" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/C000003-to-5"><span>C Part III, IV & V</span></a></li>
            </ul>
        </div>
    </li>
    <li>
        <a href="#"  class="nav-link collapsed" href="#submenu1sub5" data-toggle="collapse" data-target="#submenu1sub5"> WORKSHEET D</a>
        <div class="collapse" id="submenu1sub5" aria-expanded="false">
            <ul class="pt-3" >
                <li><a data-toggle="tooltip" title="CALCULATION OF REIMBURSEMENT SETTLEMENT - PART A AND PART B SERVICES" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/D000000"><span>D</span></a></li>
                <li><a data-toggle="tooltip" title="ANALYSIS OF PAYMENTS TO HHAs FOR SERVICES RENDERED TO PROGRAM BENEFICIARIES " href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/D100000"><span>D-1</span></a></li>
            </ul>
        </div>
    </li>
    <li>
        <a href="#"  class="nav-link collapsed" href="#submenu1sub6" data-toggle="collapse" data-target="#submenu1sub6"> WORKSHEET F</a>
        <div class="collapse" id="submenu1sub6" aria-expanded="false">
            <ul class="pt-3" >
                <li><a data-toggle="tooltip" title="BALANCE SHEET" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/F000000"><span>F</span></a></li>
                <li><a data-toggle="tooltip" title="STATEMENT OF REVENUE AND EXPENSES" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/F100000"><span>F-1</span></a></li>
                <li><a data-toggle="tooltip" title="STATEMENT OF CHANGES IN FUND BALANCES" href="/{{state}}/{{county}}/{{city}}/{{type}}/{{pId}}-{{name}}/{{Financial_Year}}/F200000"><span>F-2</span></a></li>
            </ul>
        </div>
    </li>
{{/is}}

                <!--<li>
                    <a href="#"  class="nav-link collapsed" href="#submenu1sub1" data-toggle="collapse" data-target="#submenu1sub1"> WORKSHEET K</a>
                    <div class="collapse" id="submenu1sub1" aria-expanded="false">
                        <ul class="pt-3">

                        </ul>
                    </div>
                </li>-->
</ul>

{{#if permission}}
    <ul class="bottom">
        <li> <a href="javascript:void(0)" class="logout"> <i><img src="/assets/images/icon_logout.svg" alt="icon"/></i>Logout</a></li>
    </ul>

{{/if}}
</section>


