<div class="report">
    <table id="report_table" border="1" width="1400" cellspacing="1" cellpadding="1">
        <colgroup>
            <col width="4%" />
            <col width="10%" />
            <col width="10%" />
            <col width="10%" />
            <col width="12%" />
            <col width="12%" />
            <col width="12%" />
            <col width="12%" />
            <col width="12%" />
            <col width="12%" />
            <col width="12%" />
            <col width="12%" />
            <col width="12%" />
            <col width="4%" />
        </colgroup>
        <thead>
            <tr>
                <td colspan="8">COMPENSATION ANALYSIS EMPLOYEE BENEFITS (PAYROLL RELATED)
</div>
</td>
<td colspan="2">Provider CCN: <span class="data">{{pId}}</span></td>
<td colspan="2">
    <div>PERIOD:</div>
    <div>FROM <span class="data">{{year.start}}</span></div>
    <div>TO <span class="data">{{year.end}}</span></div>
</td>
<td colspan="2"> WORKSHEET A-2
</td>
</tr>
</thead>
<tbody>
    <tr>
        <td rowspan="2" colspan="4"> &nbsp;</td>
        <td class="center">ADMINISTRATORS</td>
        <td class="center">DIRECTORS</td>
        <td class="center">CONSULTANTS</td>
        <td class="center">SUPERVISORS</td>
        <td class="center">NURSES</td>
        <td class="center">THERAPISTS</td>
        <td class="center">AIDES</td>
        <td class="center">ALL OTHER</td>
        <td class="center">TOTAL<div>(1)</div></td>
        <td rowspan="2">&nbsp;</td>
    </tr>
    <tr>

        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
        <td class="center">5</td>
        <td class="center">6</td>
        <td class="center">7</td>
        <td class="center">8</td>
        <td class="center">9</td>

    </tr>
    <tr>
        <td colspan="4"> GENERAL SERVICE COST CENTER</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data"></td>
    </tr>

    <tr>
        <td class="right">1</td>
        <td colspan="3">Capital Related - Bldg. and Fixtures</td>
        <td class="data fillgrey">{{NumberFormat data-1.00100-0100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00100-0200}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00100-0300}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00100-0400}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00100-0500}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00100-0600}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00100-0700}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00100-0800}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00100-0900}}</td>
        <td class="left">1</td>
    </tr>


    <tr>
        <td class="right">2</td>
        <td colspan="3"> Capital Related - Movable Equipment</td>
        <td class="data fillgrey">{{NumberFormat data-1.00200-0100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00200-0200}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00200-0300}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00200-0400}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00200-0500}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00200-0600}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00200-0700}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00200-0800}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00200-0900}}</td>
        <td class="left">2</td>
    </tr>


    <tr>
        <td class="right">3</td>
        <td colspan="3"> Plant Operation & Maintenance</td>
        <td class="data">{{NumberFormat data-1.00300-0100}}</td>
        <td class="data">{{NumberFormat data-1.00300-0200}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00300-0300}}</td>
        <td class="data">{{NumberFormat data-1.00300-0400}}</td>
        <td class="data">{{NumberFormat data-1.00300-0500}}</td>
        <td class="data">{{NumberFormat data-1.00300-0600}}</td>
        <td class="data">{{NumberFormat data-1.00300-0700}}</td>
        <td class="data">{{NumberFormat data-1.00300-0800}}</td>
        <td class="data">{{NumberFormat data-1.00300-0900}}</td>
        <td class="left">3</td>
    </tr>

    <tr>
        <td class="right">4</td>
        <td colspan="3">Transportation (See Instructions)</td>
        <td class="data">{{NumberFormat data-1.00400-0100}}</td>
        <td class="data">{{NumberFormat data-1.00400-0200}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00400-0300}}</td>
        <td class="data">{{NumberFormat data-1.00400-0400}}</td>
        <td class="data">{{NumberFormat data-1.00400-0500}}</td>
        <td class="data">{{NumberFormat data-1.00400-0600}}</td>
        <td class="data">{{NumberFormat data-1.00400-0700}}</td>
        <td class="data">{{NumberFormat data-1.00400-0800}}</td>
        <td class="data">{{NumberFormat data-1.00400-0900}}</td>
        <td class="left">4</td>
    </tr>
    <tr>
        <td class="right">5</td>
        <td colspan="3">Administrative and General</td>
        <td class="data">{{NumberFormat data-1.00500-0100}}</td>
        <td class="data">{{NumberFormat data-1.00500-0200}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00500-0300}}</td>
        <td class="data">{{NumberFormat data-1.00500-0400}}</td>
        <td class="data">{{NumberFormat data-1.00500-0500}}</td>
        <td class="data">{{NumberFormat data-1.00500-0600}}</td>
        <td class="data">{{NumberFormat data-1.00500-0700}}</td>
        <td class="data">{{NumberFormat data-1.00500-0800}}</td>
        <td class="data">{{NumberFormat data-1.00500-0900}}</td>
        <td class="left">5</td>
    </tr>
    <tr>
        <td></td>
        <td colspan="3">HHA REIMBURSABLE SERVICES</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td></td>
    </tr>

    <tr>
        <td class="right">6</td>
        <td colspan="3">Skilled Nursing Care</td>
        <td class="data">{{NumberFormat data-1.00600-0100}}</td>
        <td class="data">{{NumberFormat data-1.00600-0200}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00600-0300}}</td>
        <td class="data">{{NumberFormat data-1.00600-0400}}</td>
        <td class="data">{{NumberFormat data-1.00600-0500}}</td>
        <td class="data">{{NumberFormat data-1.00600-0600}}</td>
        <td class="data">{{NumberFormat data-1.00600-0700}}</td>
        <td class="data">{{NumberFormat data-1.00600-0800}}</td>
        <td class="data">{{NumberFormat data-1.00600-0900}}</td>
        <td class="left">6</td>
    </tr>
    <tr>
        <td class="right">7</td>
        <td colspan="3"> Physical Therapy</td>
        <td class="data">{{NumberFormat data-1.00700-0100}}</td>
        <td class="data">{{NumberFormat data-1.00700-0200}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00700-0300}}</td>
        <td class="data">{{NumberFormat data-1.00700-0400}}</td>
        <td class="data">{{NumberFormat data-1.00700-0500}}</td>
        <td class="data">{{NumberFormat data-1.00700-0600}}</td>
        <td class="data">{{NumberFormat data-1.00700-0700}}</td>
        <td class="data">{{NumberFormat data-1.00700-0800}}</td>
        <td class="data">{{NumberFormat data-1.00700-0900}}</td>
        <td class="left">7</td>
    </tr>

    <tr>
        <td class="right">8</td>
        <td colspan="3"> Occupational Therapy</td>
        <td class="data">{{NumberFormat data-1.00800-0100}}</td>
        <td class="data">{{NumberFormat data-1.00800-0200}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00800-0300}}</td>
        <td class="data">{{NumberFormat data-1.00800-0400}}</td>
        <td class="data">{{NumberFormat data-1.00800-0500}}</td>
        <td class="data">{{NumberFormat data-1.00800-0600}}</td>
        <td class="data">{{NumberFormat data-1.00800-0700}}</td>
        <td class="data">{{NumberFormat data-1.00800-0800}}</td>
        <td class="data">{{NumberFormat data-1.00800-0900}}</td>
        <td class="left">8</td>
    </tr>
    <tr>
        <td class="right">9</td>
        <td colspan="3"> Speech Pathology</td>
        <td class="data">{{NumberFormat data-1.00900-0100}}</td>
        <td class="data">{{NumberFormat data-1.00900-0200}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00900-0300}}</td>
        <td class="data">{{NumberFormat data-1.00900-0400}}</td>
        <td class="data">{{NumberFormat data-1.00900-0500}}</td>
        <td class="data">{{NumberFormat data-1.00900-0600}}</td>
        <td class="data">{{NumberFormat data-1.00900-0700}}</td>
        <td class="data">{{NumberFormat data-1.00900-0800}}</td>
        <td class="data">{{NumberFormat data-1.00900-0900}}</td>
        <td class="left">9</td>
    </tr>
    <tr>
        <td class="right">10</td>
        <td colspan="3"> Medical Social Services</td>
        <td class="data">{{NumberFormat data-1.01000-0100}}</td>
        <td class="data">{{NumberFormat data-1.01000-0200}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01000-0300}}</td>
        <td class="data">{{NumberFormat data-1.01000-0400}}</td>
        <td class="data">{{NumberFormat data-1.01000-0500}}</td>
        <td class="data">{{NumberFormat data-1.01000-0600}}</td>
        <td class="data">{{NumberFormat data-1.01000-0700}}</td>
        <td class="data">{{NumberFormat data-1.01000-0800}}</td>
        <td class="data">{{NumberFormat data-1.01000-0900}}</td>
        <td class="left">10</td>
    </tr>
    <tr>
        <td class="right">11</td>
        <td colspan="3"> Home Health Aide</td>
        <td class="data">{{NumberFormat data-1.01100-0100}}</td>
        <td class="data">{{NumberFormat data-1.01100-0200}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01100-0300}}</td>
        <td class="data">{{NumberFormat data-1.01100-0400}}</td>
        <td class="data">{{NumberFormat data-1.01100-0500}}</td>
        <td class="data">{{NumberFormat data-1.01100-0600}}</td>
        <td class="data">{{NumberFormat data-1.01100-0700}}</td>
        <td class="data">{{NumberFormat data-1.01100-0800}}</td>
        <td class="data">{{NumberFormat data-1.01100-0900}}</td>
        <td class="left">11</td>
    </tr>
    <tr>
        <td class="right">12</td>
        <td colspan="3"> Supplies</td>
        <td class="data fillgrey">{{NumberFormat data-1.01200-0100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01200-0200}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01200-0300}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01200-0400}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01200-0500}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01200-0600}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01200-0700}}</td>
        <td class="data">{{NumberFormat data-1.01200-0800}}</td>
        <td class="data">{{NumberFormat data-1.01200-0900}}</td>
        <td class="left">12</td>
    </tr>

    <tr>
        <td class="right">13</td>
        <td colspan="3">Drugs</td>
        <td class="data fillgrey">{{NumberFormat data-1.01300-0100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01300-0200}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01300-0300}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01300-0400}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01300-0500}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01300-0600}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01300-0700}}</td>
        <td class="data">{{NumberFormat data-1.01300-0800}}</td>
        <td class="data">{{NumberFormat data-1.01300-0900}}</td>
        <td class="left">13</td>
    </tr>
    <tr>
        <td class="right">14</td>
        <td colspan="3">DME</td>
        <td class="data fillgrey">{{NumberFormat data-1.01400-0100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01400-0200}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01400-0300}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01400-0400}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01400-0500}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01400-0600}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01400-0700}}</td>
        <td class="data">{{NumberFormat data-1.01400-0800}}</td>
        <td class="data">{{NumberFormat data-1.01400-0900}}</td>
        <td class="left">14</td>
    </tr>

    <tr>
        <td></td>
        <td colspan="3"> HHA NONREIMBURSABLE SERVICES</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td></td>
    </tr>
    <tr>
        <td class="right">15</td>
        <td colspan="3"> Home Dialysis Aide Services</td>
        <td class="data">{{NumberFormat data-1.01500-0100}}</td>
        <td class="data">{{NumberFormat data-1.01500-0200}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01500-0300}}</td>
        <td class="data">{{NumberFormat data-1.01500-0400}}</td>
        <td class="data">{{NumberFormat data-1.01500-0500}}</td>
        <td class="data">{{NumberFormat data-1.01500-0600}}</td>
        <td class="data">{{NumberFormat data-1.01500-0700}}</td>
        <td class="data">{{NumberFormat data-1.01500-0800}}</td>
        <td class="data">{{NumberFormat data-1.01500-0900}}</td>
        <td class="left">15</td>
    </tr>

    <tr>
        <td class="right">16</td>
        <td colspan="3"> Respiratory Therapy</td>
        <td class="data">{{NumberFormat data-1.01600-0100}}</td>
        <td class="data">{{NumberFormat data-1.01600-0200}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01600-0300}}</td>
        <td class="data">{{NumberFormat data-1.01600-0400}}</td>
        <td class="data">{{NumberFormat data-1.01600-0500}}</td>
        <td class="data">{{NumberFormat data-1.01600-0600}}</td>
        <td class="data">{{NumberFormat data-1.01600-0700}}</td>
        <td class="data">{{NumberFormat data-1.01600-0800}}</td>
        <td class="data">{{NumberFormat data-1.01600-0900}}</td>
        <td class="left">16</td>
    </tr>


    <tr>
        <td class="right">17</td>
        <td colspan="3"> Private Duty Nursing</td>
        <td class="data">{{NumberFormat data-1.01700-0100}}</td>
        <td class="data">{{NumberFormat data-1.01700-0200}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01700-0300}}</td>
        <td class="data">{{NumberFormat data-1.01700-0400}}</td>
        <td class="data">{{NumberFormat data-1.01700-0500}}</td>
        <td class="data">{{NumberFormat data-1.01700-0600}}</td>
        <td class="data">{{NumberFormat data-1.01700-0700}}</td>
        <td class="data">{{NumberFormat data-1.01700-0800}}</td>
        <td class="data">{{NumberFormat data-1.01700-0900}}</td>
        <td class="left">17</td>
    </tr>

    <tr>
        <td class="right">18</td>
        <td colspan="3"> Clinic</td>
        <td class="data">{{NumberFormat data-1.01800-0100}}</td>
        <td class="data">{{NumberFormat data-1.01800-0200}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01800-0300}}</td>
        <td class="data">{{NumberFormat data-1.01800-0400}}</td>
        <td class="data">{{NumberFormat data-1.01800-0500}}</td>
        <td class="data">{{NumberFormat data-1.01800-0600}}</td>
        <td class="data">{{NumberFormat data-1.01800-0700}}</td>
        <td class="data">{{NumberFormat data-1.01800-0800}}</td>
        <td class="data">{{NumberFormat data-1.01800-0900}}</td>
        <td class="left">18</td>
    </tr>
    <tr>
        <td class="right">19</td>
        <td colspan="3"> Health Promotion Activities</td>
        <td class="data">{{NumberFormat data-1.01900-0100}}</td>
        <td class="data">{{NumberFormat data-1.01900-0200}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01900-0300}}</td>
        <td class="data">{{NumberFormat data-1.01900-0400}}</td>
        <td class="data">{{NumberFormat data-1.01900-0500}}</td>
        <td class="data">{{NumberFormat data-1.01900-0600}}</td>
        <td class="data">{{NumberFormat data-1.01900-0700}}</td>
        <td class="data">{{NumberFormat data-1.01900-0800}}</td>
        <td class="data">{{NumberFormat data-1.01900-0900}}</td>
        <td class="left">19</td>
    </tr>
    <tr>
        <td class="right">20</td>
        <td colspan="3"> Day Care Program</td>
        <td class="data">{{NumberFormat data-1.02000-0100}}</td>
        <td class="data">{{NumberFormat data-1.02000-0200}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.02000-0300}}</td>
        <td class="data">{{NumberFormat data-1.02000-0400}}</td>
        <td class="data">{{NumberFormat data-1.02000-0500}}</td>
        <td class="data">{{NumberFormat data-1.02000-0600}}</td>
        <td class="data">{{NumberFormat data-1.02000-0700}}</td>
        <td class="data">{{NumberFormat data-1.02000-0800}}</td>
        <td class="data">{{NumberFormat data-1.02000-0900}}</td>
        <td class="left">20</td>
    </tr>
    <tr>
        <td class="right">21</td>
        <td colspan="3"> Home Delivered Meals Program</td>
        <td class="data">{{NumberFormat data-1.02100-0100}}</td>
        <td class="data">{{NumberFormat data-1.02100-0200}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.02100-0300}}</td>
        <td class="data">{{NumberFormat data-1.02100-0400}}</td>
        <td class="data">{{NumberFormat data-1.02100-0500}}</td>
        <td class="data">{{NumberFormat data-1.02100-0600}}</td>
        <td class="data">{{NumberFormat data-1.02100-0700}}</td>
        <td class="data">{{NumberFormat data-1.02100-0800}}</td>
        <td class="data">{{NumberFormat data-1.02100-0900}}</td>
        <td class="left">21</td>
    </tr>
    <tr>
        <td class="right">22</td>
        <td colspan="3"> Homemaker Service</td>
        <td class="data">{{NumberFormat data-1.02200-0100}}</td>
        <td class="data">{{NumberFormat data-1.02200-0200}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.02200-0300}}</td>
        <td class="data">{{NumberFormat data-1.02200-0400}}</td>
        <td class="data">{{NumberFormat data-1.02200-0500}}</td>
        <td class="data">{{NumberFormat data-1.02200-0600}}</td>
        <td class="data">{{NumberFormat data-1.02200-0700}}</td>
        <td class="data">{{NumberFormat data-1.02200-0800}}</td>
        <td class="data">{{NumberFormat data-1.02200-0900}}</td>
        <td class="left">22</td>
    </tr>
    <tr>
        <td class="right">23</td>
        <td colspan="3"> Other</td>
        <td class="data">{{NumberFormat data-1.02300-0100}}</td>
        <td class="data">{{NumberFormat data-1.02300-0200}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.02300-0300}}</td>
        <td class="data">{{NumberFormat data-1.02300-0400}}</td>
        <td class="data">{{NumberFormat data-1.02300-0500}}</td>
        <td class="data">{{NumberFormat data-1.02300-0600}}</td>
        <td class="data">{{NumberFormat data-1.02300-0700}}</td>
        <td class="data">{{NumberFormat data-1.02300-0800}}</td>
        <td class="data">{{NumberFormat data-1.02300-0900}}</td>
        <td class="left">23</td>
    </tr>
    <tr>
        <td></td>
        <td colspan="3">SPECIAL PURPOSE COST CENTERS</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td></td>
    </tr>
    <tr>
        <td class="right">24</td>
        <td colspan="3"> CORF</td>
        <td class="data">{{NumberFormat data-1.02400-0100}}</td>
        <td class="data">{{NumberFormat data-1.02400-0200}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.02400-0300}}</td>
        <td class="data">{{NumberFormat data-1.02400-0400}}</td>
        <td class="data">{{NumberFormat data-1.02400-0500}}</td>
        <td class="data">{{NumberFormat data-1.02400-0600}}</td>
        <td class="data">{{NumberFormat data-1.02400-0700}}</td>
        <td class="data">{{NumberFormat data-1.02400-0800}}</td>
        <td class="data">{{NumberFormat data-1.02400-0900}}</td>
        <td class="left">24</td>
    </tr>
    <tr>
        <td class="right">25</td>
        <td colspan="3"> Hospice</td>
        <td class="data">{{NumberFormat data-1.02500-0100}}</td>
        <td class="data">{{NumberFormat data-1.02500-0200}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.02500-0300}}</td>
        <td class="data">{{NumberFormat data-1.02500-0400}}</td>
        <td class="data">{{NumberFormat data-1.02500-0500}}</td>
        <td class="data">{{NumberFormat data-1.02500-0600}}</td>
        <td class="data">{{NumberFormat data-1.02500-0700}}</td>
        <td class="data">{{NumberFormat data-1.02500-0800}}</td>
        <td class="data">{{NumberFormat data-1.02500-0900}}</td>
        <td class="left">25</td>
    </tr>
    <tr>
        <td class="right">26</td>
        <td colspan="3"> CMHC</td>
        <td class="data">{{NumberFormat data-1.02600-0100}}</td>
        <td class="data">{{NumberFormat data-1.02600-0200}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.02600-0300}}</td>
        <td class="data">{{NumberFormat data-1.02600-0400}}</td>
        <td class="data">{{NumberFormat data-1.02600-0500}}</td>
        <td class="data">{{NumberFormat data-1.02600-0600}}</td>
        <td class="data">{{NumberFormat data-1.02600-0700}}</td>
        <td class="data">{{NumberFormat data-1.02600-0800}}</td>
        <td class="data">{{NumberFormat data-1.02600-0900}}</td>
        <td class="left">26</td>
    </tr>
    <tr>
        <td class="right">27</td>
        <td colspan="3"> RHC</td>
        <td class="data">{{NumberFormat data-1.02700-0100}}</td>
        <td class="data">{{NumberFormat data-1.02700-0200}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.02700-0300}}</td>
        <td class="data">{{NumberFormat data-1.02700-0400}}</td>
        <td class="data">{{NumberFormat data-1.02700-0500}}</td>
        <td class="data">{{NumberFormat data-1.02700-0600}}</td>
        <td class="data">{{NumberFormat data-1.02700-0700}}</td>
        <td class="data">{{NumberFormat data-1.02700-0800}}</td>
        <td class="data">{{NumberFormat data-1.02700-0900}}</td>
        <td class="left">27</td>
    </tr>
    <tr>
        <td class="right">28</td>
        <td colspan="3"> FQHC</td>
        <td class="data">{{NumberFormat data-1.02800-0100}}</td>
        <td class="data">{{NumberFormat data-1.02800-0200}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.02800-0300}}</td>
        <td class="data">{{NumberFormat data-1.02800-0400}}</td>
        <td class="data">{{NumberFormat data-1.02800-0500}}</td>
        <td class="data">{{NumberFormat data-1.02800-0600}}</td>
        <td class="data">{{NumberFormat data-1.02800-0700}}</td>
        <td class="data">{{NumberFormat data-1.02800-0800}}</td>
        <td class="data">{{NumberFormat data-1.02800-0900}}</td>
        <td class="left">28</td>
    </tr>
    <tr>
        <td class="right">29</td>
        <td colspan="3"> Total</td>
        <td class="data">{{NumberFormat data-1.02900-0100}}</td>
        <td class="data">{{NumberFormat data-1.02900-0200}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.02900-0300}}</td>
        <td class="data">{{NumberFormat data-1.02900-0400}}</td>
        <td class="data">{{NumberFormat data-1.02900-0500}}</td>
        <td class="data">{{NumberFormat data-1.02900-0600}}</td>
        <td class="data">{{NumberFormat data-1.02900-0700}}</td>
        <td class="data">{{NumberFormat data-1.02900-0800}}</td>
        <td class="data">{{NumberFormat data-1.02900-0900}}</td>
        <td class="left">29</td>
    </tr>
    <tr>
        <td colspan="14">(1) Transfer the amounts in column 9 to Wkst. A, column 2</td>
    </tr>
    <tr>
        <td colspan="14">FORM CMS-1728-94-A-2 (10/2016) (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2,
            SECTION 3208</td>
    </tr>
    <tr>
        <td colspan="2" class="border-right">32-310</td>
        <td colspan="10" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">Rev. 17</td>
    </tr>
</tbody>
</table>
</div>