<div class="report">
<table id="report_table" border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
    <col width="4%" />
    <col width="35%"/>
    <col width="8%"/>
    <col width="15%"/>
    <col width="8%"/>
    <col width="10%"/>
    <col width="15%"/>
    <col width="8%"/>
    <col width="10%"/>
    <col width="4%" /> 
</colgroup>
<thead>
    <tr>
        <td colspan="4">RECLASSIFICATIONS</td>
        <td colspan="2">PROVIDER  CCN:<span class="data">{{pId}}</span></td>
        <td colspan="2">
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="2">WORKSHEET A-4</td>
    </tr>
</thead>
<tbody>
    <tr>
        <td colspan="2" rowspan="3">&nbsp;</td>
        <td rowspan="3" class="center">CODE <div>(1)</div><div>1</div></td>
        <td colspan="3" class="center">INCREASE</td>
        <td colspan="3" class="center">DECREASE</td>
        <td rowspan="3">&nbsp;</td>
    </tr>
    <tr>
        <td class="center">COST CENTER</td>
        <td class="center">LINE NO.</td>
        <td class="center">AMOUNT(2)</td>
        <td class="center">COST CENTER</td>
        <td class="center">LINE NO.</td>
        <td class="center">AMOUNT(2)</td>
    </tr>
    <tr>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
        <td class="center">5</td>
        <td class="center">6</td>
        <td class="center">7</td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td class="data">{{data-1.00100-0000}}</td>
        <td class="data">{{data-1.00100-0100}}</td>
        <td class="data">{{data-1.00100-0200}}</td>
        <td class="data">{{data-1.00100-0300}}</td>
        <td class="data">{{NumberFormat data-1.00100-0400}}</td>
        <td class="data">{{data-1.00100-0500}}</td>
        <td class="data">{{data-1.00100-0600}}</td>
        <td class="data">{{NumberFormat data-1.00100-0700}}</td>
        <td class="left">1</td>
    </tr>
      <tr>
        <td class="right">2</td>
        <td class="data">{{data-1.00200-0000}}</td>
        <td class="data">{{data-1.00200-0100}}</td>
        <td class="data">{{data-1.00200-0200}}</td>
        <td class="data">{{data-1.00200-0300}}</td>
        <td class="data">{{NumberFormat data-1.00200-0400}}</td>
        <td class="data">{{data-1.00200-0500}}</td>
        <td class="data">{{data-1.00200-0600}}</td>
        <td class="data">{{NumberFormat data-1.00200-0700}}</td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td class="data">{{data-1.00300-0000}}</td>
        <td class="data">{{data-1.00300-0100}}</td>
        <td class="data">{{data-1.00300-0200}}</td>
        <td class="data">{{data-1.00300-0300}}</td>
        <td class="data">{{NumberFormat data-1.00300-0400}}</td>
        <td class="data">{{data-1.00300-0500}}</td>
        <td class="data">{{data-1.00300-0600}}</td>
        <td class="data">{{NumberFormat data-1.00300-0700}}</td>
        <td class="left">3</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td class="data">{{data-1.00400-0000}}</td>
        <td class="data">{{data-1.00400-0100}}</td>
        <td class="data">{{data-1.00400-0200}}</td>
        <td class="data">{{data-1.00400-0300}}</td>
        <td class="data">{{NumberFormat data-1.00400-0400}}</td>
        <td class="data">{{data-1.00400-0500}}</td>
        <td class="data">{{data-1.00400-0600}}</td>
        <td class="data">{{NumberFormat data-1.00400-0700}}</td>
        <td class="left">4</td>
    </tr>
    <tr>
        <td class="right">5</td>
        <td class="data">{{data-1.00500-0000}}</td>
        <td class="data">{{data-1.00500-0100}}</td>
        <td class="data">{{data-1.00500-0200}}</td>
        <td class="data">{{data-1.00500-0300}}</td>
        <td class="data">{{NumberFormat data-1.00500-0400}}</td>
        <td class="data">{{data-1.00500-0500}}</td>
        <td class="data">{{data-1.00500-0600}}</td>
        <td class="data">{{NumberFormat data-1.00500-0700}}</td>
        <td class="left">5</td>
    </tr>
    <tr>
        <td class="right">6</td>
        <td class="data">{{data-1.00600-0000}}</td>
        <td class="data">{{data-1.00600-0100}}</td>
        <td class="data">{{data-1.00600-0200}}</td>
        <td class="data">{{data-1.00600-0300}}</td>
        <td class="data">{{NumberFormat data-1.00600-0400}}</td>
        <td class="data">{{data-1.00600-0500}}</td>
        <td class="data">{{data-1.00600-0600}}</td>
        <td class="data">{{NumberFormat data-1.00600-0700}}</td>
        <td class="left">6</td>
    </tr>
    <tr>
        <td class="right">7</td>
        <td class="data">{{data-1.00700-0000}}</td>
        <td class="data">{{data-1.00700-0100}}</td>
        <td class="data">{{data-1.00700-0200}}</td>
        <td class="data">{{data-1.00700-0300}}</td>
        <td class="data">{{NumberFormat data-1.00700-0400}}</td>
        <td class="data">{{data-1.00700-0500}}</td>
        <td class="data">{{data-1.00700-0600}}</td>
        <td class="data">{{NumberFormat data-1.00700-0700}}</td>
        <td class="left">7</td>
    </tr>
    <tr>
        <td class="right">8</td>
        <td class="data">{{data-1.00800-0000}}</td>
        <td class="data">{{data-1.00800-0100}}</td>
        <td class="data">{{data-1.00800-0200}}</td>
        <td class="data">{{data-1.00800-0300}}</td>
        <td class="data">{{NumberFormat data-1.00800-0400}}</td>
        <td class="data">{{data-1.00800-0500}}</td>
        <td class="data">{{data-1.00800-0600}}</td>
        <td class="data">{{NumberFormat data-1.00800-0700}}</td>
        <td class="left">8</td>
    </tr>
    <tr>
        <td class="right">9</td>
        <td class="data">{{data-1.00900-0000}}</td>
        <td class="data">{{data-1.00900-0100}}</td>
        <td class="data">{{data-1.00900-0200}}</td>
        <td class="data">{{data-1.00900-0300}}</td>
        <td class="data">{{NumberFormat data-1.00900-0400}}</td>
        <td class="data">{{data-1.00900-0500}}</td>
        <td class="data">{{data-1.00900-0600}}</td>
        <td class="data">{{NumberFormat data-1.00900-0700}}</td>
        <td class="left">9</td>
    </tr>
    <tr>
        <td class="right">10</td>
        <td class="data">{{data-1.01000-0000}}</td>
        <td class="data">{{data-1.01000-0100}}</td>
        <td class="data">{{data-1.01000-0200}}</td>
        <td class="data">{{data-1.01000-0300}}</td>
        <td class="data">{{NumberFormat data-1.01000-0400}}</td>
        <td class="data">{{data-1.01000-0500}}</td>
        <td class="data">{{data-1.01000-0600}}</td>
        <td class="data">{{NumberFormat data-1.01000-0700}}</td>
        <td class="left">10</td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td class="data">{{data-1.01100-0000}}</td>
        <td class="data">{{data-1.01100-0100}}</td>
        <td class="data">{{data-1.01100-0200}}</td>
        <td class="data">{{data-1.01100-0300}}</td>
        <td class="data">{{NumberFormat data-1.01100-0400}}</td>
        <td class="data">{{data-1.01100-0500}}</td>
        <td class="data">{{data-1.01100-0600}}</td>
        <td class="data">{{NumberFormat data-1.01100-0700}}</td>
        <td class="left">11</td>
    </tr>
  <tr>
        <td class="right">12</td>
        <td class="data">{{data-1.01200-0000}}</td>
        <td class="data">{{data-1.01200-0100}}</td>
        <td class="data">{{data-1.01200-0200}}</td>
        <td class="data">{{data-1.01200-0300}}</td>
        <td class="data">{{NumberFormat data-1.01200-0400}}</td>
        <td class="data">{{data-1.01200-0500}}</td>
        <td class="data">{{data-1.01200-0600}}</td>
        <td class="data">{{NumberFormat data-1.01200-0700}}</td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td class="right">13</td>
        <td class="data">{{data-1.01300-0000}}</td>
        <td class="data">{{data-1.01300-0100}}</td>
        <td class="data">{{data-1.01300-0200}}</td>
        <td class="data">{{data-1.01300-0300}}</td>
        <td class="data">{{NumberFormat data-1.01300-0400}}</td>
        <td class="data">{{data-1.01300-0500}}</td>
        <td class="data">{{data-1.01300-0600}}</td>
        <td class="data">{{NumberFormat data-1.01300-0700}}</td>
        <td class="left">13</td>
    </tr>
    <tr>
        <td class="right">14</td>
        <td class="data">{{data-1.01400-0000}}</td>
        <td class="data">{{data-1.01400-0100}}</td>
        <td class="data">{{data-1.01400-0200}}</td>
        <td class="data">{{data-1.01400-0300}}</td>
        <td class="data">{{NumberFormat data-1.01400-0400}}</td>
        <td class="data">{{data-1.01400-0500}}</td>
        <td class="data">{{data-1.01400-0600}}</td>
        <td class="data">{{NumberFormat data-1.01400-0700}}</td>
        <td class="left">14</td>
    </tr>
    <tr>
        <td class="right">15</td>
        <td class="data">{{data-1.01500-0000}}</td>
        <td class="data">{{data-1.01500-0100}}</td>
        <td class="data">{{data-1.01500-0200}}</td>
        <td class="data">{{data-1.01500-0300}}</td>
        <td class="data">{{NumberFormat data-1.01500-0400}}</td>
        <td class="data">{{data-1.01500-0500}}</td>
        <td class="data">{{data-1.01500-0600}}</td>
        <td class="data">{{NumberFormat data-1.01500-0700}}</td>
        <td class="left">15</td>
    </tr>
    <tr>
        <td class="right">16</td>
        <td class="data">{{data-1.01600-0000}}</td>
        <td class="data">{{data-1.01600-0100}}</td>
        <td class="data">{{data-1.01600-0200}}</td>
        <td class="data">{{data-1.01600-0300}}</td>
        <td class="data">{{NumberFormat data-1.01600-0400}}</td>
        <td class="data">{{data-1.01600-0500}}</td>
        <td class="data">{{data-1.01600-0600}}</td>
        <td class="data">{{NumberFormat data-1.01600-0700}}</td>
        <td class="left">16</td>
    </tr>
    <tr>
        <td class="right">17</td>
        <td class="data">{{data-1.01700-0000}}</td>
        <td class="data">{{data-1.01700-0100}}</td>
        <td class="data">{{data-1.01700-0200}}</td>
        <td class="data">{{data-1.01700-0300}}</td>
        <td class="data">{{NumberFormat data-1.01700-0400}}</td>
        <td class="data">{{data-1.01700-0500}}</td>
        <td class="data">{{data-1.01700-0600}}</td>
        <td class="data">{{NumberFormat data-1.01700-0700}}</td>
        <td class="left">17</td>
    </tr>
    <tr>
        <td class="right">18</td>
        <td class="data">{{data-1.01800-0000}}</td>
        <td class="data">{{data-1.01800-0100}}</td>
        <td class="data">{{data-1.01800-0200}}</td>
        <td class="data">{{data-1.01800-0300}}</td>
        <td class="data">{{NumberFormat data-1.01800-0400}}</td>
        <td class="data">{{data-1.01800-0500}}</td>
        <td class="data">{{data-1.01800-0600}}</td>
        <td class="data">{{NumberFormat data-1.01800-0700}}</td>
        <td class="left">18</td>
    </tr>
    <tr>
        <td class="right">19</td>
        <td class="data">{{data-1.01900-0000}}</td>
        <td class="data">{{data-1.01900-0100}}</td>
        <td class="data">{{data-1.01900-0200}}</td>
        <td class="data">{{data-1.01900-0300}}</td>
        <td class="data">{{NumberFormat data-1.01900-0400}}</td>
        <td class="data">{{data-1.01900-0500}}</td>
        <td class="data">{{data-1.01900-0600}}</td>
        <td class="data">{{NumberFormat data-1.01900-0700}}</td>
        <td class="left">19</td>
    </tr>
    <tr>
        <td class="right">20</td>
        <td class="data">{{data-1.02000-0000}}</td>
        <td class="data">{{data-1.02000-0100}}</td>
        <td class="data">{{data-1.02000-0200}}</td>
        <td class="data">{{data-1.02000-0300}}</td>
        <td class="data">{{NumberFormat data-1.02000-0400}}</td>
        <td class="data">{{data-1.02000-0500}}</td>
        <td class="data">{{data-1.02000-0600}}</td>
        <td class="data">{{NumberFormat data-1.02000-0700}}</td>
        <td class="left">20</td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td class="data">{{data-1.02100-0000}}</td>
        <td class="data">{{data-1.02100-0100}}</td>
        <td class="data">{{data-1.02100-0200}}</td>
        <td class="data">{{data-1.02100-0300}}</td>
        <td class="data">{{NumberFormat data-1.02100-0400}}</td>
        <td class="data">{{data-1.02100-0500}}</td>
        <td class="data">{{data-1.02100-0600}}</td>
        <td class="data">{{NumberFormat data-1.02100-0700}}</td>
        <td class="left">21</td>
    </tr>
  <tr>
        <td class="right">22</td>
        <td class="data">{{data-1.02200-0000}}</td>
        <td class="data">{{data-1.02200-0100}}</td>
        <td class="data">{{data-1.02200-0200}}</td>
        <td class="data">{{data-1.02200-0300}}</td>
        <td class="data">{{NumberFormat data-1.02200-0400}}</td>
        <td class="data">{{data-1.02200-0500}}</td>
        <td class="data">{{data-1.02200-0600}}</td>
        <td class="data">{{NumberFormat data-1.02200-0700}}</td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td class="right">23</td>
        <td class="data">{{data-1.02300-0000}}</td>
        <td class="data">{{data-1.02300-0100}}</td>
        <td class="data">{{data-1.02300-0200}}</td>
        <td class="data">{{data-1.02300-0300}}</td>
        <td class="data">{{NumberFormat data-1.02300-0400}}</td>
        <td class="data">{{data-1.02300-0500}}</td>
        <td class="data">{{data-1.02300-0600}}</td>
        <td class="data">{{NumberFormat data-1.02300-0700}}</td>
        <td class="left">23</td>
    </tr>
    <tr>
        <td class="right">24</td>
        <td class="data">{{data-1.02400-0000}}</td>
        <td class="data">{{data-1.02400-0100}}</td>
        <td class="data">{{data-1.02400-0200}}</td>
        <td class="data">{{data-1.02400-0300}}</td>
        <td class="data">{{NumberFormat data-1.02400-0400}}</td>
        <td class="data">{{data-1.02400-0500}}</td>
        <td class="data">{{data-1.02400-0600}}</td>
        <td class="data">{{NumberFormat data-1.02400-0700}}</td>
        <td class="left">24</td>
    </tr>
    <tr>
        <td class="right">25</td>
        <td class="data">{{data-1.02500-0000}}</td>
        <td class="data">{{data-1.02500-0100}}</td>
        <td class="data">{{data-1.02500-0200}}</td>
        <td class="data">{{data-1.02500-0300}}</td>
        <td class="data">{{NumberFormat data-1.02500-0400}}</td>
        <td class="data">{{data-1.02500-0500}}</td>
        <td class="data">{{data-1.02500-0600}}</td>
        <td class="data">{{NumberFormat data-1.02500-0700}}</td>
        <td class="left">25</td>
    </tr>
    <tr>
        <td class="right">26</td>
        <td class="data">{{data-1.02600-0000}}</td>
        <td class="data">{{data-1.02600-0100}}</td>
        <td class="data">{{data-1.02600-0200}}</td>
        <td class="data">{{data-1.02600-0300}}</td>
        <td class="data">{{NumberFormat data-1.02600-0400}}</td>
        <td class="data">{{data-1.02600-0500}}</td>
        <td class="data">{{data-1.02600-0600}}</td>
        <td class="data">{{NumberFormat data-1.02600-0700}}</td>
        <td class="left">26</td>
    </tr>
    <tr>
        <td class="right">27</td>
        <td class="data">{{data-1.02700-0000}}</td>
        <td class="data">{{data-1.02700-0100}}</td>
        <td class="data">{{data-1.02700-0200}}</td>
        <td class="data">{{data-1.02700-0300}}</td>
        <td class="data">{{NumberFormat data-1.02700-0400}}</td>
        <td class="data">{{data-1.02700-0500}}</td>
        <td class="data">{{data-1.02700-0600}}</td>
        <td class="data">{{NumberFormat data-1.02700-0700}}</td>
        <td class="left">27</td>
    </tr>
    <tr>
        <td class="right">28</td>
        <td class="data">{{data-1.02800-0000}}</td>
        <td class="data">{{data-1.02800-0100}}</td>
        <td class="data">{{data-1.02800-0200}}</td>
        <td class="data">{{data-1.02800-0300}}</td>
        <td class="data">{{NumberFormat data-1.02800-0400}}</td>
        <td class="data">{{data-1.02800-0500}}</td>
        <td class="data">{{data-1.02800-0600}}</td>
        <td class="data">{{NumberFormat data-1.02800-0700}}</td>
        <td class="left">28</td>
    </tr>
    <tr>
        <td class="right">29</td>
        <td class="data">{{data-1.02900-0000}}</td>
        <td class="data">{{data-1.02900-0100}}</td>
        <td class="data">{{data-1.02900-0200}}</td>
        <td class="data">{{data-1.02900-0300}}</td>
        <td class="data">{{NumberFormat data-1.02900-0400}}</td>
        <td class="data">{{data-1.02900-0500}}</td>
        <td class="data">{{data-1.02900-0600}}</td>
        <td class="data">{{NumberFormat data-1.02900-0700}}</td>
        <td class="left">29</td>
    </tr>
    <tr>
        <td class="right">30</td>
        <td colspan="2"> TOTAL RECLASSIFICATIONS (Sum of col. 4 must equal sum of col. 7)</td>
        <td class="data fillgrey">{{data-1.03000-0200}}</td>
        <td class="data fillgrey">{{data-1.03000-0300}}</td>
        <td class="data">{{NumberFormat data-1.03000-0400}}</td>
        <td class="data fillgrey">{{data-1.03000-0500}}</td>
        <td class="data fillgrey">{{data-1.03000-0600}}</td>
        <td class="data">{{NumberFormat data-1.03000-0700}}</td>
        <td class="left">30</td>
    </tr>
    <tr>
        <td colspan="10">(1)  A letter (A, B, etc.) must be entered on each line to identify each reclassification entry.<div>(2)  Transfer to Worksheet A, column 7, line as appropriate.</div></td>
    </tr>
    <tr>
        <td colspan="10">FORM CMS-1728-94-A-4 (10/2016)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 3210)</td>
    </tr>   
    <tr>
        <td colspan="2" class="border-right">32-312</td>
        <td colspan="6" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">Rev. 17</td>
    </tr>
</tbody>
</table>
</div>