<div class="report">
<table id="report_table" border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
    <col width="4%" />
    <col width="35%"/>
    <col width="10%"/>
    <col width="10%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="4%" /> 
</colgroup>
<thead>
    <tr>
        <td colspan="2">   ADJUSTMENTS TO EXPENSES</td>
        <td colspan="2">PROVIDER  CCN:<span class="data">{{pId}}</span></td>
        <td>
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="2">  WORKSHEET A-5</td>
    </tr>
</thead>
<tbody>
    <tr>
        <td rowspan="3" colspan="2">&nbsp;</td>
        <td rowspan="2" class="center">(2)<div>BASIS/CODE</div></td>
        <td class="center" rowspan="2">Amount</td>
        <td colspan="3"> Expense Classification on Worksheet A<div> To/From Which The Amount is to be Adjusted</div></td>
    </tr>
    <tr>
        <td class="center">Cost Center</td>
        <td class="center">Line No.</td>
        <td rowspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td>Excess funds generated from operations, other than net income</td>
        <td class="center">B</td>
        <td class="data">{{NumberFormat data-1.00100-0200}}</td>
        <td class="data">{{data-1.00100-0300}}</td>
        <td class="data">{{data-1.00100-0400}}</td>
        <td class="left">1</td>
    </tr>
    <tr>
        <td class="right">2</td>
        <td>Trade, quantity, time and other discounts on purchases (Chap. 8)</td>
        <td class="center">B</td>
        <td class="data">{{NumberFormat data-1.00200-0200}}</td>
        <td class="data">{{data-1.00200-0300}}</td>
        <td class="data">{{data-1.00200-0400}}</td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td> Rebates and refunds of expenses (Chap. 8)</td>
        <td class="center">B</td>
        <td class="data">{{NumberFormat data-1.00300-0200}}</td>
        <td class="data">{{data-1.00300-0300}}</td>
        <td class="data">{{data-1.00300-0400}}</td>
        <td class="left">3</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td> Home office costs (Chap. 21)</td>
        <td class="center">A</td>
        <td class="data">{{NumberFormat data-1.00400-0200}}</td>
        <td class="data">{{data-1.00400-0300}}</td>
        <td class="data">{{data-1.00400-0400}}</td>
        <td class="left">4</td>
    </tr>
    <tr>
        <td class="right">5</td>
        <td> Adjustments resulting from transaction with related organization (Chap. 10)</td>
        <td class="center">From Wks A-6</td>
        <td class="data">{{NumberFormat data-1.00500-0200}}</td>
        <td class="data fillgrey">{{data-1.00500-0300}}</td>
        <td class="data fillgrey">{{data-1.00500-0400}}</td>
        <td class="left">5</td>
    </tr>
    <tr>
        <td class="right">6</td>
        <td> Sale of medical records and abstracts</td>
        <td class="center">B</td>
        <td class="data">{{NumberFormat data-1.00600-0200}}</td>
        <td class="data">{{data-1.00600-0300}}</td>
        <td class="data">{{data-1.00600-0400}}</td>
        <td class="left">6</td>
    </tr>
    <tr>
        <td class="right">7</td>
        <td>Income from imposition of interest, finance or penalty charges (Chap. 21)</td>
        <td class="center">B</td>
        <td class="data">{{NumberFormat data-1.00700-0200}}</td>
        <td class="data">{{data-1.00700-0300}}</td>
        <td class="data">{{data-1.00700-0400}}</td>
        <td class="left">7</td>
    </tr>
    <tr>
        <td class="right">8</td>
        <td>Sale of medical and surgical supplies to other than patients</td>
        <td class="center">A</td>
        <td class="data">{{NumberFormat data-1.00800-0200}}</td>
        <td class="data">{{data-1.00800-0300}}</td>
        <td class="data">{{data-1.00800-0400}}</td>
        <td class="left">8</td>
    </tr>
    <tr>
        <td class="right">9</td>
        <td> Sale of Drugs to other than patients</td>
        <td class="center">A</td>
        <td class="data">{{NumberFormat data-1.00900-0200}}</td>
        <td class="data">{{data-1.00900-0300}}</td>
        <td class="data">{{data-1.00900-0400}}</td>
        <td class="left">9</td>
    </tr>
    <tr>
        <td class="right">10</td>
        <td>Physical therapy adjustment (Chap. 14)</td>
        <td class="center">From Supp Wks A-8-3</td>
        <td class="data">{{NumberFormat data-1.01000-0200}}</td>
        <td class="fillgrey">Physical Therapy</td>
        <td class="center fillgrey">7</td>
        <td class="left">10</td>
    </tr>
    <tr>
        <td class="right">10.1</td>
        <td>Occupational therapy adjustment (Chap. 14)</td>
        <td class="center">From Supp Wks A-8-3</td>
        <td class="data">{{NumberFormat data-1.01001-0200}}</td>
        <td class="fillgrey">Occupational Therapy</td>
        <td class="center fillgrey">8</td>
        <td class="left">10.1</td>
    </tr>
    <tr>
        <td class="right">10.2</td>
        <td>Speech pathology adjustment (Chap. 14)</td>
        <td class="center">From Supp Wks A-8-3</td>
        <td class="data">{{NumberFormat data-1.01002-0200}}</td>
        <td class="fillgrey">Speech Pathology</td>
        <td class="center fillgrey">9</td>
        <td class="left">10.2</td>
    </tr>
    <tr>
        <td class="right">11</td>
        <td>Interest expense on Medicare overpayments and borrowings to repay Medicare overpayments</td>
        <td class="center">A</td>
        <td class="data">{{NumberFormat data-1.01100-0200}}</td>
        <td class="data">{{data-1.01100-0300}}</td>
        <td class="data">{{data-1.01100-0400}}</td>
        <td class="left">11</td>
    </tr>
    <tr>
        <td class="right">12</td>
        <td>Lobbying Activities</td>
        <td class="center">A</td>
        <td class="data">{{NumberFormat data-1.01200-0200}}</td>
        <td class="data">{{data-1.01200-0300}}</td>
        <td class="data">{{data-1.01200-0400}}</td>
        <td class="left">12</td>
    </tr>
    <tr>
        <td class="right">13</td>
        <td class="data">{{data-1.01300-0000}}</td>
        <td class="center data">{{data-1.01300-0100}}</td>
        <td class="data">{{NumberFormat data-1.01300-0200}}</td>
        <td class="data">{{data-1.01300-0300}}</td>
        <td class="data">{{data-1.01300-0400}}</td>
        <td class="left">13</td>
    </tr>
    <tr>
        <td class="right">14</td>
        <td class="data">{{data-1.01400-0000}}</td>
        <td class="center data">{{data-1.01400-0100}}</td>
        <td class="data">{{NumberFormat data-1.01400-0200}}</td>
        <td class="data">{{data-1.01400-0300}}</td>
        <td class="data">{{data-1.01400-0400}}</td>
        <td class="left">14</td>
    </tr>
    <tr>
        <td class="right">15</td>
        <td class="data">{{data-1.01500-0000}}</td>
        <td class="center data">{{data-1.01500-0100}}</td>
        <td class="data">{{NumberFormat data-1.01500-0200}}</td>
        <td class="data">{{data-1.01500-0300}}</td>
        <td class="data">{{data-1.01500-0400}}</td>
        <td class="left">15</td>
    </tr>
    <tr>
        <td class="right">16</td>
        <td class="data">{{data-1.01600-0000}}</td>
        <td class="center data">{{data-1.01600-0100}}</td>
        <td class="data">{{NumberFormat data-1.01600-0200}}</td>
        <td class="data">{{data-1.01600-0300}}</td>
        <td class="data">{{data-1.01600-0400}}</td>
        <td class="left">16</td>
    </tr>
    <tr>
        <td class="right">17</td>
        <td class="data">{{data-1.01700-0000}}</td>
        <td class="center data">{{data-1.01700-0100}}</td>
        <td class="data">{{NumberFormat data-1.01700-0200}}</td>
        <td class="data">{{data-1.01700-0300}}</td>
        <td class="data">{{data-1.01700-0400}}</td>
        <td class="left">17</td>
    </tr>
    <tr>
        <td class="right">18</td>
        <td class="data">{{data-1.01800-0000}}</td>
        <td class="center data">{{data-1.01800-0100}}</td>
        <td class="data">{{NumberFormat data-1.01800-0200}}</td>
        <td class="data">{{data-1.01800-0300}}</td>
        <td class="data">{{data-1.01800-0400}}</td>
        <td class="left">18</td>
    </tr>
    <tr>
        <td class="right">19</td>
        <td class="data">{{data-1.01900-0000}}</td>
        <td class="center data">{{data-1.01900-0100}}</td>
        <td class="data">{{NumberFormat data-1.01900-0200}}</td>
        <td class="data">{{data-1.01900-0300}}</td>
        <td class="data">{{data-1.01900-0400}}</td>
        <td class="left">19</td>
    </tr>
    <tr>
        <td class="right">20</td>
        <td class="data">{{data-1.02000-0000}}</td>
        <td class="center data">{{data-1.02000-0100}}</td>
        <td class="data">{{NumberFormat data-1.02000-0200}}</td>
        <td class="data">{{data-1.02000-0300}}</td>
        <td class="data">{{data-1.02000-0400}}</td>
        <td class="left">20</td>
    </tr>
    <tr>
        <td class="right">21</td>
        <td> TOTAL (Sum of lines 1-20)</td>
        <td class="fillgrey center data">{{data-1.02100-0100}}</td>
        <td class="data">{{NumberFormat data-1.02100-0200}}</td>
        <td class="data fillgrey">{{data-1.02100-0300}}</td>
        <td class="data fillgrey">{{data-1.02100-0400}}</td>
        <td class="left">21</td>
    </tr>
    <tr>
        <td colspan="7"><div>&nbsp;</div><div>(1) Description - All line references in this column pertain to the Provider Reimbursement Manual, Part I.</div><div>&nbsp;</div><div>(2) Basis for adjustment (See Instructions)</div><div class="tab">    A.  Costs - if cost, including applicable overhead, can be determined</div><div class="tab">    B.  Amount Received - If cost cannot be determined</div></td>
    </tr>
    <tr>
        <td colspan="7">FORM CMS-1728-94-A-5  (10/2016)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 3211)</td>
    </tr>   
    <tr>
        <td colspan="2" class="border-right">Rev. 17</td>
        <td colspan="3" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">32-313</td>
    </tr>
</tbody>
</table>
</div>