<div class="report">
<table id="report_table" border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
    <col width="4%" />
    <col width="10%"/>
    <col width="15%"/>
    <col width="25%"/>
    <col width="10%"/>
    <col width="10%"/>
    <col width="10%" /> 
</colgroup>
<thead>
    <tr>
        <td colspan="7">This report is required by law (42 USC 1395g; 42 CFR 413.20(b)).  Failure to report can result in all interim payments made since the beginning of the cost reporting period being deemed as overpayments (42 USC 1395g).</td>
    </tr>
    <tr>
        <td colspan="4">    STATEMENT OF COSTS OF SERVICES FROM RELATED ORGANIZATIONS</td>
        <td>PROVIDER  CCN:<span class="data">{{pId}}</span></td>
        <td>
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td>  WORKSHEET A-6</td>
    </tr>
</thead>
<tbody>
    <tr>
        <td colspan="7">A.  Are there any costs included on Worksheet A which resulted from transactions     with related organizations as defined in CMS Pub. 15-I, chapter 10?<div> [   ]  Yes  [   ] No    (If "Yes," complete Parts B and C)</div></td>
    </tr>
    <tr>
        <td colspan="7">B.  Costs incurred and adjustment required as result of transactions with related organizations</td>
    </tr>
    <tr>
        <td class="center" colspan="5">   LOCATION AND AMOUNT INCLUDED ON WKST A, COL. 8</td>
        <td  rowspan="2"class="center">AMOUNT ALLOWABLE IN COST</td>
        <td  rowspan="2"class="center">NET <div>ADJUSTMENT</div><span>(col 4 -5)</span></td>
    </tr>
    <tr>
        <td class="center"colspan="2">LINE  NO.</td>
        <td class="center">COST CENTER</td>
        <td class="center">EXPENSE ITEMS</td>
        <td class="center">AMOUNT</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
        <td class="center">5</td>
        <td class="center">6</td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td class="data">{{data-2.00100-0100}}</td>
        <td class="data">{{data-2.00100-0200}}</td>
        <td class="data">{{data-2.00100-0300}}</td>
        <td class="data">{{NumberFormat data-2.00100-0400}}</td>
        <td class="data">{{NumberFormat data-2.00100-0500}}</td>
        <td class="data">{{NumberFormat data-2.00100-0600}}</td>
    </tr>
    <tr>
        <td class="right">2</td>
        <td class="data">{{data-2.00200-0100}}</td>
        <td class="data">{{data-2.00200-0200}}</td>
        <td class="data">{{data-2.00200-0300}}</td>
        <td class="data">{{NumberFormat data-2.00200-0400}}</td>
        <td class="data">{{NumberFormat data-2.00200-0500}}</td>
        <td class="data">{{NumberFormat data-2.00200-0600}}</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td class="data">{{data-2.00300-0100}}</td>
        <td class="data">{{data-2.00300-0200}}</td>
        <td class="data">{{data-2.00300-0300}}</td>
        <td class="data">{{NumberFormat data-2.00300-0400}}</td>
        <td class="data">{{NumberFormat data-2.00300-0500}}</td>
        <td class="data">{{NumberFormat data-2.00300-0600}}</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td colspan="4"> TOTALS (Sum of lines 1-3)(Transfer col. 6, lines 1-3 to Wkst A, Col. 9,  lines as appropriate)(Transfer col. 6, line 4 to Wkst A-5, col. 2, line 5)</td>
        <td class="data">{{NumberFormat data-2.00400-0500}}</td>
        <td class="data">{{NumberFormat data-2.00400-0600}}</td>
    </tr>
    <tr>
        <td colspan="7">C.  Interrelationship of provider to related organization(s):</td>
    </tr>
    <tr>
        <td colspan="7"><div>&nbsp;</div><div>The Secretary, by virtue of authority granted under section 1814(b)(1) of the Social Security Act,  requires the provider to furnish the information requested on Part C of this worksheet.</div><div>&nbsp;</div><div>The information will be used by the CMS and its intermediaries in determining that the costs applicable to services,facilities and supplies furnished by organizations related to the provider by common ownership or control,represent reasonable costs as determined under section 1861 of the Social Security Act.If the provider does not provide all or any part of the requested information, the cost report will be consideredincomplete and not acceptable for purposes of claiming reimbursement under title XVIII.</div><div>&nbsp;</div></td>
    </tr>
    <tr>
        <td colspan="2" class="center">SYMBOL<sub> (1)</sub></td>
        <td class="center">Name</td>
        <td class="center">Address</td>
        <td class="center">Percent Owned by Provider</td>
        <td class="center">Percent Ownership of Provider</td>
        <td class="center">Type of Business</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
        <td class="center">5</td>
        <td class="center">6</td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td class="data">{{data-3.00100-0100}}</td>
        <td class="data">{{data-3.00100-0200}}</td>
        <td class="data">{{data-3.00100-0300}}</td>
        <td class="data">{{data-3.00100-0400}}</td>
        <td class="data">{{data-3.00100-0500}}</td>
        <td class="data">{{data-3.00100-0600}}</td>
    </tr>
    <tr>
        <td class="right">2</td>
        <td class="data">{{data-3.00200-0100}}</td>
        <td class="data">{{data-3.00200-0200}}</td>
        <td class="data">{{data-3.00200-0300}}</td>
        <td class="data">{{data-3.00200-0400}}</td>
        <td class="data">{{data-3.00200-0500}}</td>
        <td class="data">{{data-3.00200-0600}}</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td class="data">{{data-3.00300-0100}}</td>
        <td class="data">{{data-3.00300-0200}}</td>
        <td class="data">{{data-3.00300-0300}}</td>
        <td class="data">{{data-3.00300-0400}}</td>
        <td class="data">{{data-3.00300-0500}}</td>
        <td class="data">{{data-3.00300-0600}}</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td class="data">{{data-3.00400-0100}}</td>
        <td class="data">{{data-3.00400-0200}}</td>
        <td class="data">{{data-3.00400-0300}}</td>
        <td class="data">{{data-3.00400-0400}}</td>
        <td class="data">{{data-3.00400-0500}}</td>
        <td class="data">{{data-3.00400-0600}}</td>
    </tr>
    <tr>
        <td class="right">5</td>
        <td class="data">{{data-3.00500-0100}}</td>
        <td class="data">{{data-3.00500-0200}}</td>
        <td class="data">{{data-3.00500-0300}}</td>
        <td class="data">{{data-3.00500-0400}}</td>
        <td class="data">{{data-3.00500-0500}}</td>
        <td class="data">{{data-3.00500-0600}}</td>
    </tr>
    <tr>
        <td colspan="7"><div class="tab"><div>&nbsp;</div>(1)  Use the following symbols to indicate the interrelationship of the provider to related organizations:</div><div class="tab"><div class="tabPadding">A.  Individual has financial interest (stockholder, partner, etc.) in both related organization and in provider.<div>B.  Corporation, partnership or other organization has financial interest in provider</div><div>C.  Provider has financial interest in corporation, partnership or other organization.</div><div>D.  Director, officer, administrator or key person of provider or relative of such person has financial interest in     related organization.<div>E.  Individual is director, officer, administrator or key person of provider and related organization.</div><div>F.  Director, officer, administrator or key person of  related organization or relative of such person has financial     interest in provider.</div><div>G.  Other (financial or nonfinancial) specify.</div></div></td>
    </tr>
    <tr>
        <td colspan="7">FORM CMS-1728-94-A-6  (10/2016)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 3212)</td>
    </tr>   
    <tr>
        <td colspan="2" class="border-right">32-314</td>
        <td colspan="3" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">Rev. 17</td>
    </tr>
</tbody>
</table>
</div>