<div class="report">
<table id="report_table" border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
<col width="4%" />
<col width="40%"/>
<col width="8%" />
<col width="8%" />
<col width="8%" />
<col width="8%" />
<col width="8%" />
<col width="8%" />
<col width="4%" />
</colgroup>
<thead>
    <tr>
        <td colspan="2">ANALYSIS OF CHANGES IN CAPITAL ASSET BALANCE</td>
        <td colspan="2"> PROVIDER CCN:<span class="data">{{pId}}</span></td>
        <td colspan="2">
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="3">   WORKSHEET A-7</td>
    </tr>
</thead>
<tbody>
    <tr>
        <td rowspan="3">&nbsp;</td>
        <td rowspan="3" class="center">Description</td>
        <td rowspan="2" class="center">Beginning<div>Balances</div></td>
        <td colspan="3" class="center">Acquisitions</td>
        <td class="center" rowspan="2">Disposals<div>and</div><div>Retirements</div></td>
        <td class="center" rowspan="2"colspan="2">Ending Balance</td>
    </tr>
    <tr>
        <td class="center">Purchases</td>
        <td class="center">Donations</td>
        <td class="center">Total</td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
        <td class="center">5</td>
        <td class="center">6</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td>Land</td>
        <td class="data">{{NumberFormat data-1.00100-0100}}</td>
        <td class="data">{{NumberFormat data-1.00100-0200}}</td>
        <td class="data">{{NumberFormat data-1.00100-0300}}</td>
        <td class="data">{{NumberFormat data-1.00100-0400}}</td>
        <td class="data">{{NumberFormat data-1.00100-0500}}</td>
        <td class="data">{{NumberFormat data-1.00100-0600}}</td>
        <td class="left">1</td>
    </tr>
    <tr>
        <td class="right">2</td>
        <td> Land Improvements</td>
        <td class="data">{{NumberFormat data-1.00200-0100}}</td>
        <td class="data">{{NumberFormat data-1.00200-0200}}</td>
        <td class="data">{{NumberFormat data-1.00200-0300}}</td>
        <td class="data">{{NumberFormat data-1.00200-0400}}</td>
        <td class="data">{{NumberFormat data-1.00200-0500}}</td>
        <td class="data">{{NumberFormat data-1.00200-0600}}</td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td> Buildings and Fixtures</td>
        <td class="data">{{NumberFormat data-1.00300-0100}}</td>
        <td class="data">{{NumberFormat data-1.00300-0200}}</td>
        <td class="data">{{NumberFormat data-1.00300-0300}}</td>
        <td class="data">{{NumberFormat data-1.00300-0400}}</td>
        <td class="data">{{NumberFormat data-1.00300-0500}}</td>
        <td class="data">{{NumberFormat data-1.00300-0600}}</td>
        <td class="left">3</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td> Building Improvements</td>
        <td class="data">{{NumberFormat data-1.00400-0100}}</td>
        <td class="data">{{NumberFormat data-1.00400-0200}}</td>
        <td class="data">{{NumberFormat data-1.00400-0300}}</td>
        <td class="data">{{NumberFormat data-1.00400-0400}}</td>
        <td class="data">{{NumberFormat data-1.00400-0500}}</td>
        <td class="data">{{NumberFormat data-1.00400-0600}}</td>
        <td class="left">4</td>
    </tr>
    <tr>
        <td class="right">5</td>
        <td> Fixed Equipment</td>
        <td class="data">{{NumberFormat data-1.00500-0100}}</td>
        <td class="data">{{NumberFormat data-1.00500-0200}}</td>
        <td class="data">{{NumberFormat data-1.00500-0300}}</td>
        <td class="data">{{NumberFormat data-1.00500-0400}}</td>
        <td class="data">{{NumberFormat data-1.00500-0500}}</td>
        <td class="data">{{NumberFormat data-1.00500-0600}}</td>
        <td class="left">5</td>
    </tr>
    <tr>
        <td class="right">6</td>
        <td> Movable Equipment</td>
        <td class="data">{{NumberFormat data-1.00600-0100}}</td>
        <td class="data">{{NumberFormat data-1.00600-0200}}</td>
        <td class="data">{{NumberFormat data-1.00600-0300}}</td>
        <td class="data">{{NumberFormat data-1.00600-0400}}</td>
        <td class="data">{{NumberFormat data-1.00600-0500}}</td>
        <td class="data">{{NumberFormat data-1.00600-0600}}</td>
        <td class="left">6</td>
    </tr>
    <tr>
        <td class="right">7</td>
        <td>TOTAL</td>
        <td class="data">{{NumberFormat data-1.00700-0100}}</td>
        <td class="data">{{NumberFormat data-1.00700-0200}}</td>
        <td class="data">{{NumberFormat data-1.00700-0300}}</td>
        <td class="data">{{NumberFormat data-1.00700-0400}}</td>
        <td class="data">{{NumberFormat data-1.00700-0500}}</td>
        <td class="data">{{NumberFormat data-1.00700-0600}}</td>
        <td class="left">7</td>
    </tr>
    <tr>
        <td colspan="9">FORM CMS-1728-94-A-7 (10/2016)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 3213)</td>
    </tr>
    <tr>
        <td colspan="2" class="border-right">Rev. 17</td>
        <td colspan="5" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">32-315</td>
    </tr>
</tbody>
</table>
</div>