<div class="report">
<table id="report_table" border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
<col width="4%" />
<col width="10%"/>
<col width="30%"/>
<col width="10%" />
<col width="10%" />
<col width="10%" />
<col width="10%" />
<col width="10%" />
<col width="4%" />
</colgroup>
<thead>
    <tr>
        <td colspan="3">REASONABLE COST DETERMINATION FOR THERAPY<div>SERVICES FURNISHED BY OUTSIDE SUPPLIERS</div></td>
        <td colspan="2"> PROVIDER CCN:<span class="data">{{pId}}</span></td>
        <td colspan="2">
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="2"> WORKSHEET A-8-3<div>PARTS I - III        </div></td>
    </tr>
</thead>
<tbody>
    <tr>
        <td colspan="2" >Check applicable box:</td>
        <td colspan="7">[   ]  Physical Therapy services rendered before 4/10/98  [   ]  Occupational Therapy  [   ]  Speech Pathology<div>[   ]  Physical Therapy services rendered on or after 4/10/98</div></td>
    </tr>
    <tr>
        <td colspan="9">PART I - GENERAL INFORMATION</td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td colspan="6"> Total number of weeks worked (During which outside suppliers (excluding aides) worked)</td>
        <td class="data">{{NumberFormat data-1.00100-0100}}</td>
        <td class="left">1</td>
    </tr>
    <tr>
        <td class="right">2</td>
        <td colspan="6"> Line 1 multiplied by 15 hours per week</td>
        <td class="data">{{NumberFormat data-1.00200-0100}}</td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td colspan="6">  Number of unduplicated HHA visits - supervisors or therapists (See Instructions)</td>
        <td class="data">{{NumberFormat data-1.00300-0100}}</td>
        <td class="left">3</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td colspan="6"> Number of unduplicated HHA visits - therapy assistants (Include only visits made by therapy assistants and on which  supervisor and/or therapist was not present during the visit) (See Instructions)</td>
        <td class="data">{{NumberFormat data-1.00400-0100}}</td>
        <td class="left">4</td>
    </tr>
    <tr>
        <td class="right">5</td>
        <td colspan="6">  Standard travel expense rate</td>
        <td class="data">{{NumberFormat data-1.00500-0100}}</td>
        <td class="left">5</td>
    </tr>
    <tr>
        <td class="right">6</td>
        <td colspan="6"> Optional travel expense rate per mile</td>
        <td class="data">{{NumberFormat data-1.00600-0100}}</td>
        <td class="left">6</td>
    </tr>
    <tr>
        <td colspan="4" rowspan="2">&nbsp;</td>
        <td class="center">Supervisors</td>
        <td class="center">Therapists</td>
        <td class="center">Assistants</td>
        <td class="center">Aides</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="right">7</td>
        <td colspan="3"> Total hours worked</td>
        <td class="data">{{NumberFormat data-1.00700-0100}}</td>
        <td class="data">{{NumberFormat data-1.00700-0200}}</td>
        <td class="data">{{NumberFormat data-1.00700-0300}}</td>
        <td class="data">{{NumberFormat data-1.00700-0400}}</td>
        <td class="left">7</td>
    </tr>
    <tr>
        <td class="right">8</td>
        <td colspan="3">  AHSEA (See Instructions)</td>
        <td class="data">{{NumberFormat data-1.00800-0100}}</td>
        <td class="data">{{NumberFormat data-1.00800-0200}}</td>
        <td class="data">{{NumberFormat data-1.00800-0300}}</td>
        <td class="data">{{NumberFormat data-1.00800-0400}}</td>
        <td class="left">8</td>
    </tr>
    <tr>
        <td class="right">9</td>
        <td colspan="3"> Standard Travel Allowance (Cols 1 and 2, one-half of col 2, line 8; col 3, one-half of col 3, line 8)</td>
        <td class="data">{{NumberFormat data-1.00900-0100}}</td>
        <td class="data">{{NumberFormat data-1.00900-0200}}</td>
        <td class="data">{{NumberFormat data-1.00900-0300}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00900-0400}}</td>
        <td class="left">9</td>
    </tr>
    <tr>
        <td class="right">10</td>
        <td colspan="3"> Number of travel hours (HHA only)</td>
        <td class="data">{{NumberFormat data-1.01000-0100}}</td>
        <td class="data">{{NumberFormat data-1.01000-0200}}</td>
        <td class="data">{{NumberFormat data-1.01000-0300}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01000-0400}}</td>
        <td class="left">10</td>
    </tr>
    <tr>
        <td class="right">11</td>
        <td colspan="3"> Number of miles driven (HHA only)</td>
        <td class="data">{{NumberFormat data-1.01100-0100}}</td>
        <td class="data">{{NumberFormat data-1.01100-0200}}</td>
        <td class="data">{{NumberFormat data-1.01100-0300}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01100-0400}}</td>
        <td class="left">11</td>
    </tr>
    <tr>
        <td colspan="9">PART II - SALARY EQUIVALENCY COMPUTATIONS</td>
    </tr>
    <tr>
        <td class="right">12</td>
        <td colspan="6"> Supervisors (Col 1, line 7 times col 1, line 8)</td>
        <td class="data">{{NumberFormat data-1.01200-0100}}</td>
        <td class="left">12</td>
    </tr>
    <tr>
        <td class="right">13</td>
        <td colspan="6">  Therapists (Col 2, line 7 times col 2, line 8)</td>
        <td class="data">{{NumberFormat data-1.01300-0100}}</td>
        <td class="left">13</td>
    </tr>
    <tr>
        <td class="right">14</td>
        <td colspan="6"> Assistants (Col 3, line 7 times col 3, line 8)</td>
        <td class="data">{{NumberFormat data-1.01400-0100}}</td>
        <td class="left">14</td>
    </tr>
    <tr>
        <td class="right">15</td>
        <td colspan="6">  Subtotal Allowance Amount (Sum of lines 12-14)</td>
        <td class="data">{{NumberFormat data-1.01500-0100}}</td>
        <td class="left">15</td>
    </tr>
    <tr>
        <td class="right">16</td>
        <td colspan="6">  Aides (Col 4, line 7 times col 4, line 8)</td>
        <td class="data">{{NumberFormat data-1.01600-0100}}</td>
        <td class="left">16</td>
    </tr>
    <tr>
        <td class="right">17</td>
        <td colspan="6">  Total Allowance Amount (Sum of lines 15 and 16)</td>
        <td class="data">{{NumberFormat data-1.01700-0100}}</td>
        <td class="left">17</td>
    </tr>
    <tr>
        <td colspan="9"> If the sum of cols 1-3, line 7, is greater than line 2, make no entries on lines 18 and 19  and enter on line 20 the amount from line 17.  Otherwise, complete lines 18-20.</td>
    </tr>
    <tr>
        <td class="right">18</td>
        <td colspan="6"> Weighted average rate excluding aides (Line 15 divided by the sum of cols 1-3, line 7)</td>
        <td class="data">{{NumberFormat data-1.01800-0100}}</td>
        <td class="left">18</td>
    </tr>
    <tr>
        <td class="right">19</td>
        <td colspan="6">  Weighted allowance excluding aides (Line 2 times line 18)</td>
        <td class="data">{{NumberFormat data-1.01900-0100}}</td>
        <td class="left">19</td>
    </tr>
    <tr>
        <td class="right">20</td>
        <td colspan="6">  Total Salary Equivalency (Line 17 or sum of lines 16 plus 19)</td>
        <td class="data">{{NumberFormat data-1.02000-0100}}</td>
        <td class="left">20</td>
    </tr>
    <tr>
        <td colspan="9">PART III - TRAVEL ALLOWANCE AND TRAVEL EXPENSE COMPUTATION - HHA SERVICES</td>
    </tr>
    <tr>
        <td colspan="9">Standard Travel Allowance and Standard Travel Expense</td>
    </tr>
    <tr>
        <td class="right">21</td>
        <td colspan="6">  Therapists (Line 3 times col 2, line 9)</td>
        <td class="data">{{NumberFormat data-1.02100-0100}}</td>
        <td class="left">21</td>
    </tr>
    <tr>
        <td class="right">22</td>
        <td colspan="6">  Assistants (Line 4 times col 3, line 9)</td>
        <td class="data">{{NumberFormat data-1.02200-0100}}</td>
        <td class="left">22</td>
    </tr>
    <tr>
        <td class="right">23</td>
        <td colspan="6">  Subtotal (Sum of lines 21 and 22)</td>
        <td class="data">{{NumberFormat data-1.02300-0100}}</td>
        <td class="left">23</td>
    </tr>
    <tr>
        <td class="right">24</td>
        <td colspan="6">  Standard Travel Expense (Line 5 times sum of lines 3 and 4)</td>
        <td class="data">{{NumberFormat data-1.02400-0100}}</td>
        <td class="left">24</td>
    </tr>
    <tr>
        <td colspan="9">  Optional Travel Allowance and Optional Travel Expense</td>
    </tr>
    <tr>
        <td class="right">25</td>
        <td colspan="6">   Therapists (Sum of cols 1 and 2, line 10 times col 2, line 8)</td>
        <td class="data">{{NumberFormat data-1.02500-0100}}</td>
        <td class="left">25</td>
    </tr>
    <tr>
        <td class="right">26</td>
        <td colspan="6"> Assistants (Col 3, line 10 times col 3, line 8)</td>
        <td class="data">{{NumberFormat data-1.02600-0100}}</td>
        <td class="left">26</td>
    </tr>
    <tr>
        <td class="right">27</td>
        <td colspan="6">  Subtotal (Sum of lines 25 and 26)</td>
        <td class="data">{{NumberFormat data-1.02700-0100}}</td>
        <td class="left">27</td>
    </tr>
    <tr>
        <td class="right">28</td>
        <td colspan="6">  Optional Travel Expense (Line 6 times sum of cols 1-3, line 11)</td>
        <td class="data">{{NumberFormat data-1.02800-0100}}</td>
        <td class="left">28</td>
    </tr>
    <tr>
        <td colspan="9"> Total Travel Allowance and Travel Expenses - HHA Services; Complete one of the following  three lines 29, 30 or 31, as appropriate</td>
    </tr>
    <tr>
        <td class="right">29</td>
        <td colspan="6">  Standard Travel Allowance and Standard Travel Expenses (Sum of lines 23 and 24 - See Instructions)</td>
        <td class="data">{{NumberFormat data-1.02900-0100}}</td>
        <td class="left">29</td>
    </tr>
    <tr>
        <td class="right">30</td>
        <td colspan="6">   Optional Travel Allowance and Standard Travel Expenses (Sum of lines 27 and 24 - See Instructions)</td>
        <td class="data">{{NumberFormat data-1.03000-0100}}</td>
        <td class="left">30</td>
    </tr>
    <tr>
        <td class="right">31</td>
        <td colspan="6">  Optional Travel Allowance and Optional Travel Expenses (Sum of lines 27 and 28 - See Instructions)</td>
        <td class="data">{{NumberFormat data-1.03100-0100}}</td>
        <td class="left">31</td>
    </tr>
    <tr>
        <td colspan="9">FORM CMS-1728-94-A-8-3  (10/2016)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTIONS 3219 THROUGH 3219.3) </td>
    </tr>
    <tr>
        <td colspan="2" class="border-right">32-316 </td>
        <td colspan="5" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">Rev. 17</td>
    </tr>
</tbody>
</table>
</div>