<div class="report">
<table id="report_table" border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
<col width="4%" />
<col width="10%"/>
<col width="30%"/>
<col width="10%" />
<col width="10%" />
<col width="10%" />
<col width="10%" />
<col width="10%" />
<col width="4%" />
</colgroup>
<thead>
    <tr>
        <td colspan="3">REASONABLE COST DETERMINATION FOR THERAPY<div>SERVICES FURNISHED BY OUTSIDE SUPPLIERS</div></td>
        <td colspan="2"> PROVIDER CCN:<span class="data">{{pId}}</span></td>
        <td colspan="2">
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="2"> WORKSHEET A-8-3<div>PART IV & V        </div></td>
    </tr>
</thead>
<tbody>
    <tr>
        <td colspan="2" >Check applicable box:</td>
        <td colspan="7">[   ]  Physical Therapy services rendered before 4/10/98  [   ]  Occupational Therapy  [   ]  Speech Pathology<div>[   ]  Physical Therapy services rendered on or after 4/10/98</div></td>
    </tr>
    <tr>
        <td colspan="9">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="9">PART IV - OVERTIME COMPUTATION</td>
    </tr>
    <tr>
        <td colspan="4" rowspan="2" class="center">Description</td>
        <td class="center">Therapists</td>
        <td class="center">Assistants</td>
        <td class="center">Aides</td>
        <td class="center">TOTAL</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="right">32</td>
        <td colspan="3">  Overtime hours worked during cost reporting period (If col 4, line 32, is zero or equal to or greater  than 2,080, do not complete lines 33-40 and enter zero in each column of line 41)</td>
        <td class="data">{{NumberFormat data-1.03200-0100}}</td>
        <td class="data">{{NumberFormat data-1.03200-0200}}</td>
        <td class="data">{{NumberFormat data-1.03200-0300}}</td>
        <td class="data">{{NumberFormat data-1.03200-0400}}</td>
        <td class="left">32</td>
    </tr>
    <tr>
        <td class="right">33</td>
        <td colspan="3">  Overtime rate (Multiply the amounts in cols 2-4, line 8 (AHSEA) times 1.5)</td>
        <td class="data">{{NumberFormat data-1.03300-0100}}</td>
        <td class="data">{{NumberFormat data-1.03300-0200}}</td>
        <td class="data">{{NumberFormat data-1.03300-0300}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.03300-0400}}</td>
        <td class="left">33</td>
    </tr>
    <tr>
        <td class="right">34</td>
        <td colspan="3">  Total overtime (Including base and overtime allowance) (Multiply line 32 times line 33)</td>
        <td class="data">{{NumberFormat data-1.03400-0100}}</td>
        <td class="data">{{NumberFormat data-1.03400-0200}}</td>
        <td class="data">{{NumberFormat data-1.03400-0300}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.03400-0400}}</td>
        <td class="left">34</td>
    </tr>
    <tr>
        <td colspan="9">CALCULATION OF LIMIT</td>
    </tr>
    <tr>
        <td class="right">35</td>
        <td colspan="3">  Percentage of overtime hours by category (Divide the hours in each column on line 32 by the total  overtime worked - col. 4, line 32)</td>
        <td class="data">{{data-1.03500-0100}}</td>
        <td class="data">{{data-1.03500-0200}}</td>
        <td class="data">{{data-1.03500-0300}}</td>
        <td class="data">{{data-1.03500-0400}}</td>
        <td class="left">35</td>
    </tr>
    <tr>
        <td class="right">36</td>
        <td colspan="3">  Allocation of provider's standard workyear for one full-time employee times the percentage on line 35)  (See Instructions)</td>
        <td class="data">{{data-1.03600-0100}}</td>
        <td class="data">{{data-1.03600-0200}}</td>
        <td class="data">{{data-1.03600-0300}}</td>
        <td class="data">{{data-1.03600-0400}}</td>
        <td class="left">36</td>
    </tr>
    <tr>
        <td colspan="9">DETERMINATION OF OVERTIME ALLOWANCE</td>
    </tr>
    <tr>
        <td class="right">37</td>
        <td colspan="3"> Adjusted hourly salary equivalency amount (AHSEA) (From Part I, cols 2-4, line 8)</td>
        <td class="data">{{NumberFormat data-1.03700-0100}}</td>
        <td class="data">{{NumberFormat data-1.03700-0200}}</td>
        <td class="data">{{NumberFormat data-1.03700-0300}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.03700-0400}}</td>
        <td class="left">37</td>
    </tr>
    <tr>
        <td class="right">38</td>
        <td colspan="3"> Overtime cost limitation (Line 36 times line 37)</td>
        <td class="data">{{NumberFormat data-1.03800-0100}}</td>
        <td class="data">{{NumberFormat data-1.03800-0200}}</td>
        <td class="data">{{NumberFormat data-1.03800-0300}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.03800-0400}}</td>
        <td class="left">38</td>
    </tr>
    <tr>
        <td class="right">39</td>
        <td colspan="3">  Maximum overtime cost (Enter the lesser of line 34 or line 38)</td>
        <td class="data">{{NumberFormat data-1.03900-0100}}</td>
        <td class="data">{{NumberFormat data-1.03900-0200}}</td>
        <td class="data">{{NumberFormat data-1.03900-0300}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.03900-0400}}</td>
        <td class="left">39</td>
    </tr>
    <tr>
        <td class="right">40</td>
        <td colspan="3">  Portion of overtime already included in hourly computation at the AHSEA (Multiply line 32 times line 37)</td>
        <td class="data">{{NumberFormat data-1.04000-0100}}</td>
        <td class="data">{{NumberFormat data-1.04000-0200}}</td>
        <td class="data">{{NumberFormat data-1.04000-0300}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.04000-0400}}</td>
        <td class="left">40</td>
    </tr>
    <tr>
        <td class="right">41</td>
        <td colspan="3"> Overtime allowance (Line 39 minus line 40 - if negative enter zero) (Col 4, sum of cols 1-3)</td>
        <td class="data">{{NumberFormat data-1.04100-0100}}</td>
        <td class="data">{{NumberFormat data-1.04100-0200}}</td>
        <td class="data">{{NumberFormat data-1.04100-0300}}</td>
        <td class="data">{{NumberFormat data-1.04100-0400}}</td>
        <td class="left">41</td>
    </tr>
    <tr>
        <td colspan="9">PART V - COMPUTATION OF THERAPY LIMITATION AND EXCESS COST ADJUSTMENT</td>
    </tr>
    <tr>
        <td class="right">42</td>
        <td colspan="6">  Salary equivalency amount (from Part II, line 20)</td>
        <td class="data">{{NumberFormat data-1.04200-0100}}</td>
        <td class="left">42</td>
    </tr>
    <tr>
        <td class="right">43</td>
        <td colspan="6"> Travel allowance and expense - HHA services (from Part III, lines 29, 30 or 31)</td>
        <td class="data">{{NumberFormat data-1.04300-0100}}</td>
        <td class="left">43</td>
    </tr>
    <tr>
        <td class="right">44</td>
        <td colspan="6">  Overtime allowance (from Part IV, col. 4, line 41)</td>
        <td class="data">{{NumberFormat data-1.04400-0100}}</td>
        <td class="left">44</td>
    </tr>
    <tr>
        <td class="right">45</td>
        <td colspan="6">   Equipment cost (See Instructions)</td>
        <td class="data">{{NumberFormat data-1.04500-0100}}</td>
        <td class="left">45</td>
    </tr>
    <tr>
        <td class="right">46</td>
        <td colspan="6"> Supplies (See Instructions)</td>
        <td class="data">{{NumberFormat data-1.04600-0100}}</td>
        <td class="left">46</td>
    </tr>
    <tr>
        <td class="right">47</td>
        <td colspan="6"> Total allowance (Sum of lines 42-46)</td>
        <td class="data">{{NumberFormat data-1.04700-0100}}</td>
        <td class="left">47</td>
    </tr>
    <tr>
        <td class="right">48</td>
        <td colspan="6"> Total cost of outside supplier services (from provider records)</td>
        <td class="data">{{NumberFormat data-1.04800-0100}}</td>
        <td class="left">48</td>
    </tr>
    <tr>
        <td class="right">49</td>
        <td colspan="6"> Excess over limitation (line 48 minus line 47 - transfer amount to A-5, line 10, 10.1, or 10.2 as applicable - if negative, enter zero -- See Instructions)</td>
        <td class="data">{{NumberFormat data-1.04900-0100}}</td>
        <td class="left">49</td>
    </tr>

    <tr>
        <td colspan="9">FORM CMS-1728-94-A-8-3  (10/2016)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTIONS 3219 THROUGH 3219.3) </td>
    </tr>
    <tr>
        <td colspan="2" class="border-right">32-316 </td>
        <td colspan="5" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">Rev. 17</td>
    </tr>
</tbody>
</table>
</div>