<div class="report">
    <table id="report_table" border="1" width="1400" cellspacing="1" cellpadding="1">
        <colgroup>
            <col width="4%" />
            <col width="30%" />
            <col width="12%" />
            <col width="12%" />
            <col width="12%" />
            <col width="12%" />
            <col width="12%" />
            <col width="12%" />
            <col width="12%" />
            <col width="12%" />
            <col width="4%" />
        </colgroup>
        <thead>
            <tr>
                <td colspan="5">COST ALLOCATION - GENERAL SERVICE COST
</div>
</td>
<td colspan="2">Provider CCN: <span class="data">{{pId}}</span></td>
<td colspan="2">
    <div>PERIOD:</div>
    <div>FROM <span class="data">{{year.start}}</span></div>
    <div>TO <span class="data">{{year.end}}</span></div>
</td>
<td colspan="2"> WORKSHEET B
</td>
</tr>
</thead>
<tbody>
    <tr>
        <td colspan="2" rowspan="3">&nbsp;</td>
        <td rowspan="2" class="center">NET EXPENSES<div>FOR COST</div>
            <div>ALLOCATION</div>
            <div>(FR.WKST</div>
            <div>A, COL10)</div>
        </td>
        <td colspan="2" class="center">CAPITAL<div>RELATED COSTS</div>
        </td>
        <td rowspan="2" class="center">PLANT<div>OPERATION</div>
            <div>&</div>
            <div>MAINTENANCE</div>
        </td>
        <td rowspan="2" class="center">TRANS-<div>PORTATION</div>
        </td>
        <td rowspan="2" class="center">SUBTOTAL<div>(cols. 0-4)</div>
        </td>
        <td rowspan="2" class="center">ADMINISTRA-<div>TIVE </div>
            <div>& GENERAL</div>
        </td>
        <td rowspan="2" class="center">TOTAL</td>
        <td rowspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td class="center">BLDGS &<div>& FIXTURES</div>
        </td>
        <td class="center">MOVABLE<div>EQUIPMENT</div>
        </td>
    </tr>
    <tr>
        <td class="center">0</td>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
        <td class="center">4 A</td>
        <td class="center">5</td>
        <td class="center">6</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2"> GENERAL SERVICE COST CENTER</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td></td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td> Capital Related - Bldg. and Fixtures</td>
        <td class="data">{{NumberFormat data-1.00100-00000}}</td>
        <td class="data">{{NumberFormat data-1.00100-00100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00100-00200}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00100-00300}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00100-00400}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00100-00500}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00100-00600}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00100-00700}}</td>
        <td class="left">1</td>

    </tr>
    <tr>
        <td class="right">2</td>
        <td> Capital Related - Movable Equipment</td>
        <td class="data">{{NumberFormat data-1.00200-00000}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00200-00100}}</td>
        <td class="data">{{NumberFormat data-1.00200-00200}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00200-00300}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00200-00400}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00200-00500}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00200-00600}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00200-00700}}</td>
        <td class="left">2</td>

    </tr>
    <tr>
        <td class="right">3</td>
        <td> Plant Operation & Maintenance</td>
        <td class="data">{{NumberFormat data-1.00300-00000}}</td>
        <td class="data">{{NumberFormat data-1.00300-00100}}</td>
        <td class="data ">{{NumberFormat data-1.00300-00200}}</td>
        <td class="data">{{NumberFormat data-1.00300-00300}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00300-00400}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00300-00500}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00300-00600}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00300-00700}}</td>
        <td class="left">3</td>

    </tr>

    <tr>
        <td class="right">4</td>
        <td> Transportation (See Instructions)</td>
        <td class="data">{{NumberFormat data-1.00400-00000}}</td>
        <td class="data">{{NumberFormat data-1.00400-00100}}</td>
        <td class="data ">{{NumberFormat data-1.00400-00200}}</td>
        <td class="data">{{NumberFormat data-1.00400-00300}}</td>
        <td class="data ">{{NumberFormat data-1.00400-00400}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00400-00500}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00400-00600}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00400-00700}}</td>
        <td class="left">4</td>

    </tr>


    <tr>
        <td class="right">5</td>
        <td> Administrative and General</td>
        <td class="data">{{NumberFormat data-1.00500-00000}}</td>
        <td class="data">{{NumberFormat data-1.00500-00100}}</td>
        <td class="data ">{{NumberFormat data-1.00500-00200}}</td>
        <td class="data">{{NumberFormat data-1.00500-00300}}</td>
        <td class="data ">{{NumberFormat data-1.00500-00400}}</td>
        <td class="data">{{NumberFormat data-1.00500-00500}}</td>
        <td class="data">{{NumberFormat data-1.00500-00600}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00500-00700}}</td>
        <td class="left">5</td>

    </tr>
    <tr>
        <td colspan="2"> HHA REIMBURSABLE SERVICES</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td></td>
    </tr>
    <tr>
        <td class="right">6</td>
        <td> Skilled Nursing Care</td>
        <td class="data">{{NumberFormat data-1.00600-00000}}</td>
        <td class="data">{{NumberFormat data-1.00600-00100}}</td>
        <td class="data ">{{NumberFormat data-1.00600-00200}}</td>
        <td class="data">{{NumberFormat data-1.00600-00300}}</td>
        <td class="data ">{{NumberFormat data-1.00600-00400}}</td>
        <td class="data">{{NumberFormat data-1.00600-00500}}</td>
        <td class="data">{{NumberFormat data-1.00600-00600}}</td>
        <td class="data ">{{NumberFormat data-1.00600-00700}}</td>
        <td class="left">6</td>

    </tr>
    <tr>
        <td class="right">7</td>
        <td> Physical Therapy</td>
        <td class="data">{{NumberFormat data-1.00700-00000}}</td>
        <td class="data">{{NumberFormat data-1.00700-00100}}</td>
        <td class="data">{{NumberFormat data-1.00700-00200}}</td>
        <td class="data">{{NumberFormat data-1.00700-00300}}</td>
        <td class="data ">{{NumberFormat data-1.00700-00400}}</td>
        <td class="data">{{NumberFormat data-1.00700-00500}}</td>
        <td class="data">{{NumberFormat data-1.00700-00600}}</td>
        <td class="data ">{{NumberFormat data-1.00700-00700}}</td>
        <td class="left">7</td>

    </tr>
    <tr>
        <td class="right">8</td>
        <td> Occupational Therapy</td>
        <td class="data">{{NumberFormat data-1.00800-00000}}</td>
        <td class="data">{{NumberFormat data-1.00800-00100}}</td>
        <td class="data ">{{NumberFormat data-1.00800-00200}}</td>
        <td class="data">{{NumberFormat data-1.00800-00300}}</td>
        <td class="data ">{{NumberFormat data-1.00800-00400}}</td>
        <td class="data">{{NumberFormat data-1.00800-00500}}</td>
        <td class="data">{{NumberFormat data-1.00800-00600}}</td>
        <td class="data ">{{NumberFormat data-1.00800-00700}}</td>
        <td class="left">8</td>

    </tr>
    <tr>
        <td class="right">9</td>
        <td> Speech Pathology</td>
        <td class="data">{{NumberFormat data-1.00900-00000}}</td>
        <td class="data">{{NumberFormat data-1.00900-00100}}</td>
        <td class="data ">{{NumberFormat data-1.00900-00200}}</td>
        <td class="data">{{NumberFormat data-1.00900-00300}}</td>
        <td class="data ">{{NumberFormat data-1.00900-00400}}</td>
        <td class="data">{{NumberFormat data-1.00900-00500}}</td>
        <td class="data">{{NumberFormat data-1.00900-00600}}</td>
        <td class="data ">{{NumberFormat data-1.00900-00700}}</td>
        <td class="left">9</td>

    </tr>
    <tr>
        <td class="right">10</td>
        <td>Medical Social Services</td>
        <td class="data">{{NumberFormat data-1.01000-00000}}</td>
        <td class="data">{{NumberFormat data-1.01000-00100}}</td>
        <td class="data ">{{NumberFormat data-1.01000-00200}}</td>
        <td class="data">{{NumberFormat data-1.01000-00300}}</td>
        <td class="data ">{{NumberFormat data-1.01000-00400}}</td>
        <td class="data">{{NumberFormat data-1.01000-00500}}</td>
        <td class="data">{{NumberFormat data-1.01000-00600}}</td>
        <td class="data ">{{NumberFormat data-1.01000-00700}}</td>
        <td class="left">10</td>

    </tr>
    <tr>
        <td class="right">11</td>
        <td>Home Health Aide</td>
        <td class="data">{{NumberFormat data-1.01100-00000}}</td>
        <td class="data">{{NumberFormat data-1.01100-00100}}</td>
        <td class="data ">{{NumberFormat data-1.01100-00200}}</td>
        <td class="data">{{NumberFormat data-1.01100-00300}}</td>
        <td class="data ">{{NumberFormat data-1.01100-00400}}</td>
        <td class="data">{{NumberFormat data-1.01100-00500}}</td>
        <td class="data">{{NumberFormat data-1.01100-00600}}</td>
        <td class="data ">{{NumberFormat data-1.01100-00700}}</td>
        <td class="left">11</td>

    </tr>
    <tr>
        <td class="right">12</td>
        <td> Supplies (See Instructions)</td>
        <td class="data">{{NumberFormat data-1.01200-00000}}</td>
        <td class="data">{{NumberFormat data-1.01200-000100}}</td>
        <td class="data ">{{NumberFormat data-1.01200-00200}}</td>
        <td class="data">{{NumberFormat data-1.01200-00300}}</td>
        <td class="data ">{{NumberFormat data-1.01200-00400}}</td>
        <td class="data">{{NumberFormat data-1.01200-00500}}</td>
        <td class="data">{{NumberFormat data-1.01200-00600}}</td>
        <td class="data ">{{NumberFormat data-1.01200-00700}}</td>
        <td class="left">12</td>

    </tr>
    <tr>
        <td class="right">13</td>
        <td>Drugs</td>
        <td class="data">{{NumberFormat data-1.01300-00000}}</td>
        <td class="data">{{NumberFormat data-1.01300-00100}}</td>
        <td class="data ">{{NumberFormat data-1.01300-00200}}</td>
        <td class="data">{{NumberFormat data-1.01300-00300}}</td>
        <td class="data fillgrey ">{{NumberFormat data-1.01300-00400}}</td>
        <td class="data">{{NumberFormat data-1.01300-00500}}</td>
        <td class="data">{{NumberFormat data-1.01300-00600}}</td>
        <td class="data ">{{NumberFormat data-1.01300-00700}}</td>
        <td class="left">13</td>

    </tr>
    <tr>
        <td class="right">13.20</td>
        <td>Cost of Administering Vaccines</td>
        <td class="data">{{NumberFormat data-1.01320-00000}}</td>
        <td class="data">{{NumberFormat data-1.01320-00100}}</td>
        <td class="data ">{{NumberFormat data-1.01320-00200}}</td>
        <td class="data">{{NumberFormat data-1.01320-00300}}</td>
        <td class="data fillgrey ">{{NumberFormat data-1.01320-00400}}</td>
        <td class="data">{{NumberFormat data-1.01320-00500}}</td>
        <td class="data">{{NumberFormat data-1.01320-00600}}</td>
        <td class="data "{{NumberFormat data-1.01320-00700}}></td>
        <td class="left">13.20</td>

    </tr>
    <tr>
        <td class="right">14</td>
        <td> DME</td>
        <td class="data">{{NumberFormat data-1.01400-00000}}</td>
        <td class="data">{{NumberFormat data-1.01400-00100}}</td>
        <td class="data ">{{NumberFormat data-1.01400-00200}}</td>
        <td class="data">{{NumberFormat data-1.01400-00300}}</td>
        <td class="data ">{{NumberFormat data-1.01400-00400}}</td>
        <td class="data">{{NumberFormat data-1.01400-00500}}</td>
        <td class="data">{{NumberFormat data-1.01400-00600}}</td>
        <td class="data ">{{NumberFormat data-1.01400-00700}}</td>
        <td class="left">14</td>

    </tr>

    <tr>
        <td colspan="2"> HHA NONREIMBURSABLE SERVICES</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td></td>
    </tr>

    <tr>
        <td class="right">15</td>
        <td> Home Dialysis Aide Services</td>
        <td class="data">{{NumberFormat data-1.01500-00000}}</td>
        <td class="data">{{NumberFormat data-1.01500-00100}}</td>
        <td class="data ">{{NumberFormat data-1.01500-00200}}</td>
        <td class="data">{{NumberFormat data-1.01500-00300}}</td>
        <td class="data ">{{NumberFormat data-1.01500-00400}}</td>
        <td class="data">{{NumberFormat data-1.01500-00500}}</td>
        <td class="data">{{NumberFormat data-1.01500-00600}}</td>
        <td class="data ">{{NumberFormat data-1.01500-00700}}</td>
        <td class="left">15</td>

    </tr>
    <tr>
        <td class="right">16</td>
        <td> Respiratory Therapy</td>
        <td class="data">{{NumberFormat data-1.01600-00000}}</td>
        <td class="data">{{NumberFormat data-1.01600-00100}}</td>
        <td class="data ">{{NumberFormat data-1.01600-00200}}</td>
        <td class="data">{{NumberFormat data-1.01600-00300}}</td>
        <td class="data ">{{NumberFormat data-1.01600-00400}}</td>
        <td class="data">{{NumberFormat data-1.01600-00500}}</td>
        <td class="data">{{NumberFormat data-1.01600-00600}}</td>
        <td class="data ">{{NumberFormat data-1.01600-00700}}</td>
        <td class="left">16</td>

    </tr>
    <tr>
        <td class="right">17</td>
        <td> Private Duty Nursing</td>
        <td class="data">{{NumberFormat data-1.01700-00000}}</td>
        <td class="data">{{NumberFormat data-1.01700-00100}}</td>
        <td class="data ">{{NumberFormat data-1.01700-00200}}</td>
        <td class="data">{{NumberFormat data-1.01700-00300}}</td>
        <td class="data ">{{NumberFormat data-1.01700-00400}}</td>
        <td class="data">{{NumberFormat data-1.01700-00500}}</td>
        <td class="data">{{NumberFormat data-1.01700-00600}}</td>
        <td class="data ">{{NumberFormat data-1.01700-00700}}</td>
        <td class="left">17</td>

    </tr>
    <tr>
        <td class="right">18</td>
        <td>Clinic</td>
        <td class="data">{{NumberFormat data-1.01800-00000}}</td>
        <td class="data">{{NumberFormat data-1.01800-00100}}</td>
        <td class="data ">{{NumberFormat data-1.01800-00200}}</td>
        <td class="data">{{NumberFormat data-1.01800-00300}}</td>
        <td class="data ">{{NumberFormat data-1.01800-00400}}</td>
        <td class="data">{{NumberFormat data-1.01800-00500}}</td>
        <td class="data">{{NumberFormat data-1.01800-00600}}</td>
        <td class="data ">{{NumberFormat data-1.01800-00700}}</td>
        <td class="left">18 </td>

    </tr>
    <tr>
        <td class="right">19</td>
        <td> Health Promotion Activities</td>
        <td class="data">{{NumberFormat data-1.01900-00000}}</td>
        <td class="data">{{NumberFormat data-1.01900-00100}}</td>
        <td class="data ">{{NumberFormat data-1.01900-00200}}</td>
        <td class="data">{{NumberFormat data-1.01900-00300}}</td>
        <td class="data ">{{NumberFormat data-1.01900-00400}}</td>
        <td class="data">{{NumberFormat data-1.01900-00500}}</td>
        <td class="data">{{NumberFormat data-1.01900-00600}}</td>
        <td class="data ">{{NumberFormat data-1.01900-00700}}</td>
        <td class="left">19 </td>

    </tr>
    <tr>
        <td class="right">20</td>
        <td>Day Care Program</td>
        <td class="data">{{NumberFormat data-1.02000-00000}}</td>
        <td class="data">{{NumberFormat data-1.02000-00100}}</td>
        <td class="data ">{{NumberFormat data-1.02000-00200}}</td>
        <td class="data">{{NumberFormat data-1.02000-00300}}</td>
        <td class="data ">{{NumberFormat data-1.02000-00400}}</td>
        <td class="data">{{NumberFormat data-1.02000-00500}}</td>
        <td class="data">{{NumberFormat data-1.02000-00600}}</td>
        <td class="data ">{{NumberFormat data-1.02000-00700}}</td>
        <td class="left">20</td>

    </tr>
    <tr>
        <td class="right">21</td>
        <td>Home Delivered Meals Program</td>
        <td class="data">{{NumberFormat data-1.02100-00000}}</td>
        <td class="data">{{NumberFormat data-1.02100-00100}}</td>
        <td class="data ">{{NumberFormat data-1.02100-00200}}</td>
        <td class="data">{{NumberFormat data-1.02100-00300}}</td>
        <td class="data ">{{NumberFormat data-1.02100-00400}}</td>
        <td class="data">{{NumberFormat data-1.02100-00500}}</td>
        <td class="data">{{NumberFormat data-1.02100-00600}}</td>
        <td class="data ">{{NumberFormat data-1.02100-00700}}</td>
        <td class="left">21</td>

    </tr>
    <tr>
        <td class="right">22</td>
        <td>Homemaker Services</td>
        <td class="data">{{NumberFormat data-1.02200-00000}}</td>
        <td class="data">{{NumberFormat data-1.02200-00100}}</td>
        <td class="data ">{{NumberFormat data-1.02200-00200}}</td>
        <td class="data">{{NumberFormat data-1.02200-00300}}</td>
        <td class="data ">{{NumberFormat data-1.02200-00400}}</td>
        <td class="data">{{NumberFormat data-1.02200-00500}}</td>
        <td class="data">{{NumberFormat data-1.02200-00600}}</td>
        <td class="data ">{{NumberFormat data-1.02200-00700}}</td>
        <td class="left">22</td>

    </tr>
    <tr>
        <td class="right">23</td>
        <td>Others</td>
        <td class="data">{{NumberFormat data-1.02300-00000}}</td>
        <td class="data">{{NumberFormat data-1.02300-00100}}</td>
        <td class="data ">{{NumberFormat data-1.02300-00200}}</td>
        <td class="data">{{NumberFormat data-1.02300-00300}}</td>
        <td class="data ">{{NumberFormat data-1.02300-00400}}</td>
        <td class="data">{{NumberFormat data-1.02300-00500}}</td>
        <td class="data">{{NumberFormat data-1.02300-00600}}</td>
        <td class="data ">{{NumberFormat data-1.02300-00700}}</td>
        <td class="left">23</td>

    </tr>
    <tr>
        <td colspan="2"> SPECIAL PURPOSE COST CENTER</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td></td>
    </tr>
    <tr>
        <td class="right">24</td>
        <td>CORF</td>
        <td class="data">{{NumberFormat data-1.02400-00000}}</td>
        <td class="data">{{NumberFormat data-1.02400-00100}}</td>
        <td class="data ">{{NumberFormat data-1.02400-00200}}</td>
        <td class="data">{{NumberFormat data-1.02400-00300}}</td>
        <td class="data ">{{NumberFormat data-1.02400-00400}}</td>
        <td class="data">{{NumberFormat data-1.02400-00500}}</td>
        <td class="data">{{NumberFormat data-1.02400-00600}}</td>
        <td class="data ">{{NumberFormat data-1.02400-00700}}</td>
        <td class="left">24</td>

    </tr>
    <tr>
        <td class="right">25</td>
        <td>Hospice</td>
        <td class="data">{{NumberFormat data-1.02500-00000}}</td>
        <td class="data">{{NumberFormat data-1.02500-00100}}</td>
        <td class="data ">{{NumberFormat data-1.02500-00200}}</td>
        <td class="data">{{NumberFormat data-1.02500-00300}}</td>
        <td class="data ">{{NumberFormat data-1.02500-00400}}</td>
        <td class="data">{{NumberFormat data-1.02500-00500}}</td>
        <td class="data">{{NumberFormat data-1.02500-00600}}</td>
        <td class="data ">{{NumberFormat data-1.02500-00700}}</td>
        <td class="left">25</td>

    </tr>
    <tr>
        <td class="right">26</td>
        <td>CMHC</td>
        <td class="data">{{NumberFormat data-1.02600-00000}}</td>
        <td class="data">{{NumberFormat data-1.02600-00100}}</td>
        <td class="data ">{{NumberFormat data-1.02600-00200}}</td>
        <td class="data">{{NumberFormat data-1.02600-00300}}</td>
        <td class="data ">{{NumberFormat data-1.02600-00400}}</td>
        <td class="data">{{NumberFormat data-1.02600-00500}}</td>
        <td class="data">{{NumberFormat data-1.02600-00600}}</td>
        <td class="data ">{{NumberFormat data-1.02600-00700}}</td>
        <td class="left">26</td>

    </tr>
    <tr>
        <td class="right">27</td>
        <td>RHC</td>
        <td class="data">{{NumberFormat data-1.02700-00000}}</td>
        <td class="data">{{NumberFormat data-1.02700-00100}}</td>
        <td class="data ">{{NumberFormat data-1.02700-00200}}</td>
        <td class="data">{{NumberFormat data-1.02700-00300}}</td>
        <td class="data ">{{NumberFormat data-1.02700-00400}}</td>
        <td class="data">{{NumberFormat data-1.02700-00500}}</td>
        <td class="data">{{NumberFormat data-1.02700-00600}}</td>
        <td class="data ">{{NumberFormat data-1.02700-00700}}</td>
        <td class="left">27</td>

    </tr>
    <tr>
        <td class="right">28</td>
        <td>FQHC</td>
        <td class="data">{{NumberFormat data-1.02800-00000}}</td>
        <td class="data">{{NumberFormat data-1.02800-00100}}</td>
        <td class="data ">{{NumberFormat data-1.02800-00200}}</td>
        <td class="data">{{NumberFormat data-1.02800-00300}}</td>
        <td class="data ">{{NumberFormat data-1.02800-00400}}</td>
        <td class="data">{{NumberFormat data-1.02800-00500}}</td>
        <td class="data">{{NumberFormat data-1.02800-00600}}</td>
        <td class="data ">{{NumberFormat data-1.02800-00700}}</td>
        <td class="left">28</td>

    </tr>
    <tr>
        <td class="right">29</td>
        <td>Total</td>
        <td class="data">{{NumberFormat data-1.02900-00000}}</td>
        <td class="data">{{NumberFormat data-1.02900-00100}}</td>
        <td class="data ">{{NumberFormat data-1.02900-00200}}</td>
        <td class="data">{{NumberFormat data-1.02900-00300}}</td>
        <td class="data ">{{NumberFormat data-1.02900-00400}}</td>
        <td class="data">{{NumberFormat data-1.02900-00500}}</td>
        <td class="data">{{NumberFormat data-1.02900-00600}}</td>
        <td class="data ">{{NumberFormat data-1.02900-00700}}</td>
        <td class="left">29</td>

    </tr>
        <tr>
            <td colspan="11">FORM CMS-1728-94-B (10/2016) (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 3214</td>
        </tr>
        <tr>
            <td colspan="2" class="border-right">32-318</td>
            <td colspan="7" class="border-right">&nbsp;</td>
            <td colspan="2" class="right">Rev. 17</td>
        </tr>
</tbody>
</table>
</div>