<div class="report">
<table id="report_table" border="1" width="1200" cellspacing="1" cellpadding="1">
<colgroup>
    <col width="4%" />
    <col width="25%"/>
    <col width="8%"/>
    <col width="8%"/>
    <col width="8%"/>
    <col width="8%"/>
    <col width="8%"/>
    <col width="8%"/>
    <col width="8%"/>
    <col width="8%"/>
    <col width="8%"/>
    <col width="8%"/>
    <col width="4%" /> 
</colgroup>
<thead>
    <tr>
        <td colspan="6">APPORTIONMENT OF PATIENT SERVICE COSTS</td>
        <td colspan="2">PROVIDER  CCN:<span class="data">{{pId}}</span></td>
        <td colspan="2">
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="3">WORKSHEET C<div>PARTS III, IV & V</div></td>
    </tr>
</thead>
<tbody>
    <tr>
        <td colspan="13">PART III - SUPPLIES AND DRUGS COST COMPUTATION</td>
    </tr>
    <tr>
        <td colspan="2" rowspan="4">   Other Patient Services</td>
        <td class="center" rowspan="3">From Wkst <div>B, Col. 6,</div><div>Line:</div></td>
        <td class="center" rowspan="3">Total<div>Cost</div></td>
        <td class="center" rowspan="3">Total<div>Charges</div><div>from HHA</div><div>Record)</div></td>
        <td class="center" rowspan="3">Ratio<div>(Col 2 ÷ 3)</div></td>
        <td class="center" colspan="3">Medicare Covered Charges </td>
        <td class="center" colspan="3">Cost of Services </td>
        <td rowspan="4">&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="2" class="center">Part B</td>
        <td>&nbsp;</td>
        <td colspan="2" class="center">Part B</td>
    </tr>
    <tr>
        <td class="center">Part A</td>
        <td class="center">Not Subject<div>to Deductibles</div><div>& Coinsurance </div></td>
        <td class="center">Subject<div>to Deductibles</div><div>& Coinsurance </div></td>
        <td class="center">Part A</td>
        <td class="center">Not Subject<div>to Deductibles</div><div>& Coinsurance </div></td>
        <td class="center">Subject<div>to Deductibles</div><div>& Coinsurance </div></td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
        <td class="center">5</td>
        <td class="center">6</td>
        <td class="center">7</td>
        <td class="center">8</td>
        <td class="center">9</td>
        <td class="center">10</td>
    </tr>
    <tr>
        <td class="right">15</td>
        <td> Cost of Medical Supplies</td>
        <td class="center">12</td>
        <td class="data">{{NumberFormat data-1.01500-00200}}</td>
        <td class="data">{{NumberFormat data-1.01500-00300}}</td>
        <td class="data">{{NumberFormat data-1.01500-00400}}</td>
        <td class="data">{{NumberFormat data-1.01500-00500}}</td>
        <td class="data">{{NumberFormat data-1.01500-00600}}</td>
        <td class="data">{{NumberFormat data-1.01500-00700}}</td>
        <td class="data">{{NumberFormat data-1.01500-00800}}</td>
        <td class="data">{{NumberFormat data-1.01500-00900}}</td>
        <td class="data">{{NumberFormat data-1.01500-01000}}</td>
        <td class="left">15</td>
    </tr>
    <tr>
        <td class="right">16</td>
        <td> Cost of Drugs</td>
        <td class="center">13</td>
        <td class="data">{{NumberFormat data-1.01600-00200}}</td>
        <td class="data">{{NumberFormat data-1.01600-00300}}</td>
        <td class="data">{{NumberFormat data-1.01600-00400}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01600-00500}}</td>
        <td class="data">{{NumberFormat data-1.01600-00600}}</td>
        <td class="data">{{NumberFormat data-1.01600-00700}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01600-00800}}</td>
        <td class="data">{{NumberFormat data-1.01600-00900}}</td>
        <td class="data">{{NumberFormat data-1.01600-01000}}</td>
        <td class="left">16</td>
    </tr>
    <tr>
        <td class="right">16.20</td>
        <td> Cost of Administering Vaccines</td>
        <td class="center">13.20</td>
        <td class="data">{{NumberFormat data-1.01620-00200}}</td>
        <td class="data">{{NumberFormat data-1.01620-00300}}</td>
        <td class="data">{{NumberFormat data-1.01620-00400}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01620-00500}}</td>
        <td class="data">{{NumberFormat data-1.01620-00600}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01620-00700}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01620-00800}}</td>
        <td class="data">{{NumberFormat data-1.01620-00900}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01620-01000}}</td>
        <td class="left">16.20</td>
    </tr>
    <tr>
        <td colspan="13">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="13">PART IV - COMPARISON OF THE LESSER OF THE AGGREGATE MEDICARE COST, THE AGGREGATE OF THE MEDICARE COST PER VISIT LIMITATION AND THE AGGREGATE PER BENEFICIARY COST LIMITATION</td>
    </tr>
    <tr>
        <td colspan="6" rowspan="4">&nbsp;</td>
        <td class="center" rowspan="3">Medicare Program<div>Unduplicated</div><div>Census Count</div><div>For Each </div><div>MSA/CBSA</div><div>Pre 10/1/2000</div><div><span>(4)</span></div></td>
        <td class="center" rowspan="3">Per Beneficiary<div>Annual</div><div>Limitation Per</div><div>MSA/Non-MSA</div><div>CBSA/Non-CBSA</div><div><span>(From Your Contractor)</span></div></td>
        <td class="center" colspan="3">Cost of Medicare Services</td>
        <td rowspan="3" class="center">Total<div>(Sum of Cols 3 & 4</div></td>
        <td rowspan="4">&nbsp;</td>
    </tr>
    <tr>
        <td rowspan="2" class="center">Part  A</td>
        <td class="center" colspan="2">Part B</td>
    </tr>
    <tr>
        <td class="center">Not Subject<div>to Deductibles</div><div>& Coinsurance</div></td>
        <td class="center">Subject<div>to Deductibles</div><div>& Coinsurance</div></td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
        <td class="center">5</td>
        <td class="center">6</td>
    </tr>
    <tr>
        <td class="right">17</td>
        <td colspan="5">Total Cost of Medicare Services (Sum of the amounts from each Wkst. C, Pt. II, cols. 8, 9 & 11, respectively, lines 1-6 (exculsive of subscripts))</td>
        <td class="data fillgrey">{{NumberFormat data-2.01700-00100}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.01700-00200}}</td>
        <td class="data">{{NumberFormat data-2.01700-00300}}</td>
        <td class="data">{{NumberFormat data-2.01700-00400}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.01700-00500}}</td>
        <td class="data">{{NumberFormat data-2.01700-00600}}</td>
        <td class="left">17</td>
    </tr>
    <tr>
        <td class="right">18</td>
        <td colspan="5">Cost of Medical Supplies (from Part III, columns 8 and 9, line 15 (exclusive of line 15.01))</td>
        <td class="data fillgrey">{{NumberFormat data-2.01800-00100}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.01800-00200}}</td>
        <td class="data">{{NumberFormat data-2.01800-00300}}</td>
        <td class="data">{{NumberFormat data-2.01800-00400}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.01800-00500}}</td>
        <td class="data">{{NumberFormat data-2.01800-00600}}</td>
        <td class="left">18</td>
    </tr>
    <tr>
        <td class="right">19</td>
        <td colspan="5">Total (Sum of lines 17 and 18)</td>
        <td class="data fillgrey">{{NumberFormat data-2.01900-00100}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.01900-00200}}</td>
        <td class="data">{{NumberFormat data-2.01900-00300}}</td>
        <td class="data">{{NumberFormat data-2.01900-00400}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.01900-00500}}</td>
        <td class="data">{{NumberFormat data-2.01900-00600}}</td>
        <td class="left">19</td>
    </tr>
    <tr>
        <td colspan="13">&nbsp;</td>
    </tr>
    <tr>
        <td class="right">20</td>
        <td colspan="5">Total Cost Per Visit Limitation for Medicare Services (Sum of the amounts from each Wkst. C, Pt. II, cols. 8, 9 &11, respectively, line 14)</td>
        <td class="data fillgrey">{{NumberFormat data-2.02000-00100}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.02000-00200}}</td>
        <td class="data">{{NumberFormat data-2.02000-00300}}</td>
        <td class="data">{{NumberFormat data-2.02000-00400}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.02000-00500}}</td>
        <td class="data">{{NumberFormat data-2.02000-00600}}</td>
        <td class="left">20</td>
    </tr>
    <tr>
        <td class="right">21</td>
        <td colspan="5">Cost of Medical Supplies (from Part III, columns 8 and 9, line 15 (exclusive of line 15.01))</td>
        <td class="data fillgrey">{{NumberFormat data-2.02100-00100}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.02100-00200}}</td>
        <td class="data">{{NumberFormat data-2.02100-00300}}</td>
        <td class="data">{{NumberFormat data-2.02100-00400}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.02100-00500}}</td>
        <td class="data">{{NumberFormat data-2.02100-00600}}</td>
        <td class="left">21</td>
    </tr>
    <tr>
        <td class="right">22</td>
        <td colspan="5">Total (Sum of lines 20 and 21)</td>
        <td class="data fillgrey">{{NumberFormat data-2.02200-00100}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.02200-00200}}</td>
        <td class="data">{{NumberFormat data-2.02200-00300}}</td>
        <td class="data">{{NumberFormat data-2.02200-00400}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.02200-00500}}</td>
        <td class="data">{{NumberFormat data-2.02200-00600}}</td>
        <td class="left">22</td>
    </tr>
    <tr>
        <td colspan="13">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="5" rowspan="2">&nbsp;</td>
        <td class="center">MSA/CBSA  Code (3)</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td class="center">(Col 1 x 2)</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center">0</td>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
        <td class="center">5</td>
        <td class="center">6</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="right">23</td>
        <td colspan="4">Per Beneficiary Cost Limitation for MSA/CBSA:</td>
        <td class="data">{{data-2.02300-00000}}</td>
        <td class="data">{{NumberFormat data-2.02300-00100}}</td>
        <td class="data">{{NumberFormat data-2.02300-00200}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.02300-00300}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.02300-00400}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.02300-00500}}</td>
        <td class="data">{{NumberFormat data-2.02300-00600}}</td>
        <td class="left">23</td>
    </tr>
    <tr>
        <td class="right">23.01</td>
        <td colspan="4">Per Beneficiary Cost Limitation for MSA/CBSA:</td>
        <td class="data">{{data-2.02301-00000}}</td>
        <td class="data">{{NumberFormat data-2.02301-00100}}</td>
        <td class="data">{{NumberFormat data-2.02301-00200}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.02301-00300}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.02301-00400}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.02301-00500}}</td>
        <td class="data">{{NumberFormat data-2.02301-00600}}</td>
        <td class="left">23.01</td>
    </tr>
    <tr>
        <td class="right">23.02</td>
        <td colspan="4">Per Beneficiary Cost Limitation for MSA/CBSA:</td>
        <td class="data">{{data-2.02302-00000}}</td>
        <td class="data">{{NumberFormat data-2.02302-00100}}</td>
        <td class="data">{{NumberFormat data-2.02302-00200}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.02302-00300}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.02302-00400}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.02302-00500}}</td>
        <td class="data">{{NumberFormat data-2.02302-00600}}</td>
        <td class="left">23.02</td>
    </tr>
    <tr>
        <td class="right">23.03</td>
        <td colspan="4">Per Beneficiary Cost Limitation for MSA/CBSA:</td>
        <td class="data">{{data-2.02303-00000}}</td>
        <td class="data">{{NumberFormat data-2.02303-00100}}</td>
        <td class="data">{{NumberFormat data-2.02303-00200}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.02303-00300}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.02303-00400}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.02303-00500}}</td>
        <td class="data">{{NumberFormat data-2.02303-00600}}</td>
        <td class="left">23.03</td>
    </tr>
    <tr>
        <td class="right">23.04</td>
        <td colspan="4">Per Beneficiary Cost Limitation for MSA/CBSA:</td>
        <td class="data">{{data-2.02304-00000}}</td>
        <td class="data">{{NumberFormat data-2.02304-00100}}</td>
        <td class="data">{{NumberFormat data-2.02304-00200}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.02304-00300}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.02304-00400}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.02304-00500}}</td>
        <td class="data">{{NumberFormat data-2.02304-00600}}</td>
        <td class="left">23.04</td>
    </tr>
    <tr>
        <td class="right">23.05</td>
        <td colspan="4">Per Beneficiary Cost Limitation for MSA/CBSA:</td>
        <td class="data">{{data-2.02305-00000}}</td>
        <td class="data">{{NumberFormat data-2.02305-00100}}</td>
        <td class="data">{{NumberFormat data-2.02305-00200}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.02305-00300}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.02305-00400}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.02305-00500}}</td>
        <td class="data">{{NumberFormat data-2.02305-00600}}</td>
        <td class="left">23.05</td>
    </tr>
    <tr>
        <td class="right">23.06</td>
        <td colspan="4">Per Beneficiary Cost Limitation for MSA/CBSA:</td>
        <td class="data">{{data-2.02306-00000}}</td>
        <td class="data">{{NumberFormat data-2.02306-00100}}</td>
        <td class="data">{{NumberFormat data-2.02306-00200}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.02306-00300}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.02306-00400}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.02306-00500}}</td>
        <td class="data">{{NumberFormat data-2.02306-00600}}</td>
        <td class="left">23.06</td>
    </tr>
    <tr>
        <td class="right">23.07</td>
        <td colspan="4">Per Beneficiary Cost Limitation for MSA/CBSA:</td>
        <td class="data">{{data-2.02307-00000}}</td>
        <td class="data">{{NumberFormat data-2.02307-00100}}</td>
        <td class="data">{{NumberFormat data-2.02307-00200}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.02307-00300}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.02307-00400}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.02307-00500}}</td>
        <td class="data">{{NumberFormat data-2.02307-00600}}</td>
        <td class="left">23.07</td>
    </tr>
    <tr>
        <td class="right">23.08</td>
        <td colspan="4">Per Beneficiary Cost Limitation for MSA/CBSA:</td>
        <td class="data">{{data-2.02308-00000}}</td>
        <td class="data">{{NumberFormat data-2.02308-00100}}</td>
        <td class="data">{{NumberFormat data-2.02308-00200}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.02308-00300}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.02308-00400}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.02308-00500}}</td>
        <td class="data">{{NumberFormat data-2.02308-00600}}</td>
        <td class="left">23.08</td>
    </tr>
    <tr>
        <td class="right">23.09</td>
        <td colspan="4">Per Beneficiary Cost Limitation for MSA/CBSA:</td>
        <td class="data">{{data-2.02309-00000}}</td>
        <td class="data">{{NumberFormat data-2.02309-00100}}</td>
        <td class="data">{{NumberFormat data-2.02309-00200}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.02309-00300}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.02309-00400}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.02309-00500}}</td>
        <td class="data">{{NumberFormat data-2.02309-00600}}</td>
        <td class="left">23.09</td>
    </tr>
    <tr>
        <td class="right">24</td>
        <td colspan="4">Aggregate Per Beneficiary Cost Limitation (Sum of lines 23 and subscripts thereof)</td>
        <td class="data fillgrey">{{data-2.02400-00000}}</td>
        <td class="data">{{NumberFormat data-2.02400-00100}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.02400-00200}}</td>
        <td class="data">{{NumberFormat data-2.02400-00300}}</td>
        <td class="data">{{NumberFormat data-2.02400-00400}}</td>
        <td class="data">{{NumberFormat data-2.02400-00500}}</td>
        <td class="data">{{NumberFormat data-2.02400-00600}}</td>
        <td class="left">24</td>
    </tr>
    <tr>
        <td colspan="13">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="13">PART V - OUTPATIENT THERAPY REDUCTION COMPUTATION</td>
    </tr>
     <tr>
        <td colspan="2" rowspan="3">   Other Patient Services</td>
        <td class="center" rowspan="2">From Wkst C<div>Part I, Col. 4,</div><div>Line:</div></td>
        <td class="center" rowspan="2">Average<div>Cost</div><div>Per Visit</div></td>
        <td class="center" colspan="8">Part B<div>Subject to Deductibles and Coinsurance</div></td>
        <td rowspan="3">&nbsp;</td>
    </tr>
    <tr>
        <td class="center">Medicare<div>Program Visits</div><div>for Services</div><div>Before 1/1/98</div></td>
        <td class="center">Medicare<div>Program Costs</div><div>for Services</div><div>Before 1/1/98</div></td>
        <td class="center">Medicare<div>Program Visits</div><div>for Services</div><div>1/1/98-12/31/98</div></td>
        <td class="center">Medicare<div>Program Visits</div><div>for Services</div><div>1/1/99-9/30/00</div></td>
        <td class="center">Medicare<div>Program Visits</div><div>for Services</div><div>or after 10/1/00</div></td>
        <td class="center">Medicare<div>Program Visits</div><div>for Services</div><div>1/1/98-12/31/98</div></td>
        <td class="center">Application of<div>the Reasonable </div><div>Cost Reduction</div></td>
        <td class="center">Reasonable<div>Costs Net of </div><div>Adjustments</div></td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
        <td class="center">5</td>
        <td class="center">5.01</td>
        <td class="center">5.02</td>
        <td class="center">6</td>
        <td class="center">7</td>
        <td class="center">8</td>
    </tr>
    <tr>
        <td class="right">25</td>
        <td> Physical Therapy</td>
        <td class="center">3</td>
        <td class="data">{{NumberFormat data-3.02500-00200}}</td>
        <td class="data">{{NumberFormat data-3.02500-00300}}</td>
        <td class="data">{{NumberFormat data-3.02500-00400}}</td>
        <td class="data">{{NumberFormat data-3.02500-00500}}</td>
        <td class="data">{{NumberFormat data-3.02500-00501}}</td>
        <td class="data">{{NumberFormat data-3.02500-00502}}</td>
        <td class="data">{{NumberFormat data-3.02500-00600}}</td>
        <td class="data">{{NumberFormat data-3.02500-00700}}</td>
        <td class="data">{{NumberFormat data-3.02500-00800}}</td>
        <td class="left">25</td>
    </tr>
    <tr>
        <td class="right">26</td>
        <td> Occupational Therapy</td>
        <td class="center">3</td>
        <td class="data">{{NumberFormat data-3.02600-00200}}</td>
        <td class="data">{{NumberFormat data-3.02600-00300}}</td>
        <td class="data">{{NumberFormat data-3.02600-00400}}</td>
        <td class="data">{{NumberFormat data-3.02600-00500}}</td>
        <td class="data">{{NumberFormat data-3.02600-00501}}</td>
        <td class="data">{{NumberFormat data-3.02600-00502}}</td>
        <td class="data">{{NumberFormat data-3.02600-00600}}</td>
        <td class="data">{{NumberFormat data-3.02600-00700}}</td>
        <td class="data">{{NumberFormat data-3.02600-00800}}</td>
        <td class="left">26</td>
    </tr>
    <tr>
        <td class="right">27</td>
        <td> Speech Pathology</td>
        <td class="center">4</td>
        <td class="data">{{NumberFormat data-3.02700-00200}}</td>
        <td class="data">{{NumberFormat data-3.02700-00300}}</td>
        <td class="data">{{NumberFormat data-3.02700-00400}}</td>
        <td class="data">{{NumberFormat data-3.02700-00500}}</td>
        <td class="data">{{NumberFormat data-3.02700-00501}}</td>
        <td class="data">{{NumberFormat data-3.02700-00502}}</td>
        <td class="data">{{NumberFormat data-3.02700-00600}}</td>
        <td class="data">{{NumberFormat data-3.02700-00700}}</td>
        <td class="data">{{NumberFormat data-3.02700-00800}}</td>
        <td class="left">27</td>
    </tr>
    <tr>
        <td class="right">28</td>
        <td>  Total (Sum of lines 25-27)</td>
        <td class="data center fillgrey">{{NumberFormat data-3.02800-00100}}</td>
        <td class="data fillgrey">{{NumberFormat data-3.02800-00200}}</td>
        <td class="data">{{NumberFormat data-3.02800-00300}}</td>
        <td class="data">{{NumberFormat data-3.02800-00400}}</td>
        <td class="data">{{NumberFormat data-3.02800-00500}}</td>
        <td class="data">{{NumberFormat data-3.02800-00501}}</td>
        <td class="data">{{NumberFormat data-3.02800-00502}}</td>
        <td class="data">{{NumberFormat data-3.02800-00600}}</td>
        <td class="data">{{NumberFormat data-3.02800-00700}}</td>
        <td class="data">{{NumberFormat data-3.02800-00800}}</td>
        <td class="left">28</td>
    </tr>
    <tr>
        <td colspan="13"><div  class="tab"><div>(3) The MSA/CBSA codes flow from Worksheet S-3, Part III, line 29 and subscripts as indicated.</div><div>(4) The sum of column 1, line 24 must equal Worksheet S-3, Part I, column 2, line 10.01.</div></td>
    </tr>
    <tr>
        <td colspan="13">FORM CMS-1728-94-C  (10/2016)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTIONS 3215 - 3215.5)</td>
    </tr>   
    <tr>
        <td colspan="2" class="border-right">Rev. 17</td>
        <td colspan="9" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">32-321</td>
    </tr>
</tbody>
</table>
</div>