<div class="report">
<table id="report_table" border="1" width="1200" cellspacing="1" cellpadding="1">
<colgroup>
<col width="4%" />
<col width="15%"/>
<col width="10%"/>
<col width="10%" />
<col width="10%" />
<col width="10%" />
<col width="10%" />
<col width="10%" />
<col width="10%" />
<col width="10%" />
<col width="10%" />
<col width="10%" />
<col width="4%" />
</colgroup>
<thead>
    <tr>
        <td colspan="6">APPORTIONMENT OF PATIENT SERVICE COSTS</td>
        <td colspan="2"> PROVIDER CCN:<span class="data">{{pId}}</span></td>
        <td colspan="2">
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="3"> WORKSHEET C<div>PARTS I & II </div></td>
    </tr>
</thead>
<tbody>
    <tr>
        <td rowspan="4" colspan="8">Cost Per Visit Computation<div>    Patient Services</div></td>
        <td rowspan="4" class="center">From Wkst <div>B, Col. 6,</div><div>Line</div></td>
        <td colspan="2">&nbsp;</td>
        <td rowspan="4" class="center">Average<div>Cost</div><div>Per Visit</div><div>(Cols 2 ÷ 3) (1)</div></td>
        <td rowspan="4">&nbsp;</td>
    </tr>
    <tr>
        <td class="center" colspan="2">Total</td>
    </tr>
    <tr>
        <td class="center">Cost</td>
        <td class="center">Visits</td>
    </tr>   
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td colspan="7"> Skilled Nursing</td>
        <td class="center">6</td>
        <td class="data">{{NumberFormat data-1.00100-00100}}</td>
        <td class="data">{{NumberFormat data-1.00100-00200}}</td>
        <td class="data">{{NumberFormat data-1.00100-00300}}</td>
        <td class="left">1</td>
    </tr>
    <tr>
        <td class="right">2</td>
        <td colspan="7"> Physical Therapy</td>
        <td class="center">7</td>
        <td class="data">{{NumberFormat data-1.00200-00100}}</td>
        <td class="data">{{NumberFormat data-1.00200-00200}}</td>
        <td class="data">{{NumberFormat data-1.00200-00300}}</td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td colspan="7">  Occupational Therapy</td>
        <td class="center">8</td>
        <td class="data">{{NumberFormat data-1.00300-00100}}</td>
        <td class="data">{{NumberFormat data-1.00300-00200}}</td>
        <td class="data">{{NumberFormat data-1.00300-00300}}</td>
        <td class="left">3</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td colspan="7"> Speech Pathology</td>
        <td class="center">9</td>
        <td class="data">{{NumberFormat data-1.00400-00100}}</td>
        <td class="data">{{NumberFormat data-1.00400-00200}}</td>
        <td class="data">{{NumberFormat data-1.00400-00300}}</td>
        <td class="left">4</td>
    </tr>
    <tr>
        <td class="right">5</td>
        <td colspan="7"> Medical Social Services</td>
        <td class="center">10</td>
        <td class="data">{{NumberFormat data-1.00500-00100}}</td>
        <td class="data">{{NumberFormat data-1.00500-00200}}</td>
        <td class="data">{{NumberFormat data-1.00500-00300}}</td>
        <td class="left">5</td>
    </tr>
    <tr>
        <td class="right">6</td>
        <td colspan="7">  Home Health Aide Services</td>
        <td class="center">11</td>
        <td class="data">{{NumberFormat data-1.00600-00100}}</td>
        <td class="data">{{NumberFormat data-1.00600-00200}}</td>
        <td class="data">{{NumberFormat data-1.00600-00300}}</td>
        <td class="left">6</td>
    </tr>
    <tr>
        <td class="right">7</td>
        <td colspan="7">  Total (Sum of lines 1-6)</td>
        <td class="data fillgrey center">{{data-1.00700-00000}}</td>
        <td class="data">{{NumberFormat data-1.00700-00100}}</td>
        <td class="data">{{NumberFormat data-1.00700-00200}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00700-00300}}</td>
        <td class="left">7</td>
    </tr>
    <tr>
        <td colspan="13">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="13">PART II - COMPUTATION OF THE AGGREGATE MEDICARE COST AND THE AGGREGATE OF THE MEDICARE LIMITATION  (2)</td>
    </tr>
    <tr>
        <td rowspan="4">&nbsp;</td>
        <td>MSA/CBSA CODE:  </td>
        <td>&nbsp;</td>
        <td rowspan="4" class="center">From Wkst. C,<div>Part I, Col. 4,</div><div>Line</div></td>
        <td rowspan="3" class="center">Average<div>Cost</div><div>Per Visit</div></td>
        <td class="center" colspan="3">Medicare  Program Visits</td>
        <td class="center" colspan="3">Cost of Medicare Services</td>
        <td class="cemter" rowspan="3">Total<div>(Sum of Cols 8 & 9)</div></td>
        <td rowspan="4">&nbsp;</td>
    </tr>
    <tr>
        <td rowspan="3" colspan="2">    Total Medicare Patient Service Cost Computation</td>
        <td class="center">&nbsp;</td>
        <td class="center" colspan="2">Part B</td>
        <td class="center">&nbsp;</td>
        <td class="center" colspan="2">Part B</td>
    </tr>
    <tr>
        <td class="center">Part A</td>
        <td class="center">Not Subject<div>to Deductibles</div><div>& Coinsurance</div></td>
        <td class="center">Subject<div>to Deductibles</div><div>& Coinsurance</div></td>
        <td class="center">Part A</td>
        <td class="center">Not Subject<div>to Deductibles</div><div>& Coinsurance</div></td>
        <td class="center">Subject<div>to Deductibles</div><div>& Coinsurance</div></td>
    </tr>
    <tr>
        <td class="center">4</td>
        <td class="center">5</td>
        <td class="center">6</td>
        <td class="center">7</td>
        <td class="center">8</td>
        <td class="center">9</td>
        <td class="center">10</td>
        <td class="center">11</td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td colspan="2"> Skilled Nursing</td>
        <td class="center">1</td>
        <td class="data">{{NumberFormat data-2.00100-00400}}</td>
        <td class="data">{{NumberFormat data-2.00100-00500}}</td>
        <td class="data">{{NumberFormat data-2.00100-00600}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.00100-00700}}</td>
        <td class="data">{{NumberFormat data-2.00100-00800}}</td>
        <td class="data">{{NumberFormat data-2.00100-00900}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.00100-01000}}</td>
        <td class="data">{{NumberFormat data-2.00100-01100}}</td>
        <td class="left">1</td>
    </tr>
    <tr>
        <td class="right">2</td>
        <td colspan="2"> Physical Therapy</td>
        <td class="center">2</td>
        <td class="data">{{NumberFormat data-2.00200-00400}}</td>
        <td class="data">{{NumberFormat data-2.00200-00500}}</td>
        <td class="data">{{NumberFormat data-2.00200-00600}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.00200-00700}}</td>
        <td class="data">{{NumberFormat data-2.00200-00800}}</td>
        <td class="data">{{NumberFormat data-2.00200-00900}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.00200-01000}}</td>
        <td class="data">{{NumberFormat data-2.00200-01100}}</td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td colspan="2"> Occupational Therapy</td>
        <td class="center">3</td>
        <td class="data">{{NumberFormat data-2.00300-00400}}</td>
        <td class="data">{{NumberFormat data-2.00300-00500}}</td>
        <td class="data">{{NumberFormat data-2.00300-00600}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.00300-00700}}</td>
        <td class="data">{{NumberFormat data-2.00300-00800}}</td>
        <td class="data">{{NumberFormat data-2.00300-00900}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.00300-01000}}</td>
        <td class="data">{{NumberFormat data-2.00300-01100}}</td>
        <td class="left">3</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td colspan="2"> Speech Pathology</td>
        <td class="center">4</td>
        <td class="data">{{NumberFormat data-2.00400-00400}}</td>
        <td class="data">{{NumberFormat data-2.00400-00500}}</td>
        <td class="data">{{NumberFormat data-2.00400-00600}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.00400-00700}}</td>
        <td class="data">{{NumberFormat data-2.00400-00800}}</td>
        <td class="data">{{NumberFormat data-2.00400-00900}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.00400-01000}}</td>
        <td class="data">{{NumberFormat data-2.00400-01100}}</td>
        <td class="left">4</td>
    </tr>
    <tr>
        <td class="right">5</td>
        <td colspan="2"> Medical Social Services</td>
        <td class="center">5</td>
        <td class="data">{{NumberFormat data-2.00500-00400}}</td>
        <td class="data">{{NumberFormat data-2.00500-00500}}</td>
        <td class="data">{{NumberFormat data-2.00500-00600}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.00500-00700}}</td>
        <td class="data">{{NumberFormat data-2.00500-00800}}</td>
        <td class="data">{{NumberFormat data-2.00500-00900}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.00500-01000}}</td>
        <td class="data">{{NumberFormat data-2.00500-01100}}</td>
        <td class="left">5</td>
    </tr>
    <tr>
        <td class="right">6</td>
        <td colspan="2"> Home Health Aide Services</td>
        <td class="center">6</td>
        <td class="data">{{NumberFormat data-2.00600-00400}}</td>
        <td class="data">{{NumberFormat data-2.00600-00500}}</td>
        <td class="data">{{NumberFormat data-2.00600-00600}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.00600-00700}}</td>
        <td class="data">{{NumberFormat data-2.00600-00800}}</td>
        <td class="data">{{NumberFormat data-2.00600-00900}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.00600-01000}}</td>
        <td class="data">{{NumberFormat data-2.00600-01100}}</td>
        <td class="left">6</td>
    </tr>
    <tr>
        <td class="right">7</td>
        <td colspan="2">  Total (Sum of lines 1-6)</td>
        <td class="center fillgrey data"></td>
        <td class="data fillgrey">{{NumberFormat data-2.00700-00400}}</td>
        <td class="data">{{NumberFormat data-2.00700-00500}}</td>
        <td class="data">{{NumberFormat data-2.00700-00600}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.00700-00700}}</td>
        <td class="data">{{NumberFormat data-2.00700-00800}}</td>
        <td class="data">{{NumberFormat data-2.00700-00900}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.00700-01000}}</td>
        <td class="data">{{NumberFormat data-2.00700-01100}}</td>
        <td class="left">7</td>
    </tr>
    <tr>
        <td colspan="13">&nbsp;</td>
    </tr>
    <tr>
        <td rowspan="4" colspan="4">    Total Medicare Patient Service Cost Limitation Computation</td>
        <td rowspan="3" class="center">Program<div>Cost</div><div>Per Visit</div></td>
        <td class="center" colspan="3">Medicare  Program Visits</td>
        <td class="center" colspan="3">Cost of Medicare Services</td>
        <td class="cemter" rowspan="3">Total<div>(Sum of Cols 8 & 9)</div></td>
        <td rowspan="4">&nbsp;</td>
    </tr>
    <tr>
        <td class="center">&nbsp;</td>
        <td class="center" colspan="2">Part B</td>
        <td class="center">&nbsp;</td>
        <td class="center" colspan="2">Part B</td>
    </tr>
    <tr>
        <td class="center">Part A</td>
        <td class="center">Not Subject<div>to Deductibles</div><div>& Coinsurance</div></td>
        <td class="center">Subject<div>to Deductibles</div><div>& Coinsurance</div></td>
        <td class="center">Part A</td>
        <td class="center">Not Subject<div>to Deductibles</div><div>& Coinsurance</div></td>
        <td class="center">Subject<div>to Deductibles</div><div>& Coinsurance</div></td>
    </tr>
    <tr>
        <td class="center">4</td>
        <td class="center">5</td>
        <td class="center">6</td>
        <td class="center">7</td>
        <td class="center">8</td>
        <td class="center">9</td>
        <td class="center">10</td>
        <td class="center">11</td>
    </tr>
    <tr>
        <td class="right">8</td>
        <td colspan="3"> Skilled Nursing</td>
        <td class="data">{{NumberFormat data-2.00800-00400}}</td>
        <td class="data">{{NumberFormat data-2.00800-00500}}</td>
        <td class="data">{{NumberFormat data-2.00800-00600}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.00800-00700}}</td>
        <td class="data">{{NumberFormat data-2.00800-00800}}</td>
        <td class="data">{{NumberFormat data-2.00800-00900}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.00800-01000}}</td>
        <td class="data">{{NumberFormat data-2.00800-01100}}</td>
        <td class="left">8</td>
    </tr>
    <tr>
        <td class="right">9</td>
        <td colspan="3"> Physical Therapy</td>
        <td class="data">{{NumberFormat data-2.00900-00400}}</td>
        <td class="data">{{NumberFormat data-2.00900-00500}}</td>
        <td class="data">{{NumberFormat data-2.00900-00600}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.00900-00700}}</td>
        <td class="data">{{NumberFormat data-2.00900-00800}}</td>
        <td class="data">{{NumberFormat data-2.00900-00900}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.00900-01000}}</td>
        <td class="data">{{NumberFormat data-2.00900-01100}}</td>
        <td class="left">9</td>
    </tr>
    <tr>
        <td class="right">10</td>
        <td colspan="3"> Occupational Therapy</td>
        <td class="data">{{NumberFormat data-2.01000-00400}}</td>
        <td class="data">{{NumberFormat data-2.01000-00500}}</td>
        <td class="data">{{NumberFormat data-2.01000-00600}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.01000-00700}}</td>
        <td class="data">{{NumberFormat data-2.01000-00800}}</td>
        <td class="data">{{NumberFormat data-2.01000-00900}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.01000-01000}}</td>
        <td class="data">{{NumberFormat data-2.01000-01100}}</td>
        <td class="left">10</td>
    </tr>
    <tr>
        <td class="right">11</td>
        <td colspan="3"> Speech Pathology</td>
        <td class="data">{{NumberFormat data-2.01100-00400}}</td>
        <td class="data">{{NumberFormat data-2.01100-00500}}</td>
        <td class="data">{{NumberFormat data-2.01100-00600}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.01100-00700}}</td>
        <td class="data">{{NumberFormat data-2.01100-00800}}</td>
        <td class="data">{{NumberFormat data-2.01100-00900}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.01100-01000}}</td>
        <td class="data">{{NumberFormat data-2.01100-01100}}</td>
        <td class="left">11</td>
    </tr>
    <tr>
        <td class="right">12</td>
        <td colspan="3"> Medical Social Services</td>
        <td class="data">{{NumberFormat data-2.01200-00400}}</td>
        <td class="data">{{NumberFormat data-2.01200-00500}}</td>
        <td class="data">{{NumberFormat data-2.01200-00600}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.01200-00700}}</td>
        <td class="data">{{NumberFormat data-2.01200-00800}}</td>
        <td class="data">{{NumberFormat data-2.01200-00900}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.01200-01000}}</td>
        <td class="data">{{NumberFormat data-2.01200-01100}}</td>
        <td class="left">12</td>
    </tr>
    <tr>
        <td class="right">13</td>
        <td colspan="3"> Home Health Aide Services</td>
        <td class="data">{{NumberFormat data-2.01300-00400}}</td>
        <td class="data">{{NumberFormat data-2.01300-00500}}</td>
        <td class="data">{{NumberFormat data-2.01300-00600}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.01300-00700}}</td>
        <td class="data">{{NumberFormat data-2.01300-00800}}</td>
        <td class="data">{{NumberFormat data-2.01300-00900}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.01300-01000}}</td>
        <td class="data">{{NumberFormat data-2.01300-01100}}</td>
        <td class="left">13</td>
    </tr>
    <tr>
        <td class="right">14</td>
        <td colspan="3">  Total (Sum of lines 8-13 plus the subscripts of lines 1-6, respectively)</td>
        <td class="data fillgrey">{{NumberFormat data-2.01400-00400}}</td>
        <td class="data">{{NumberFormat data-2.01400-00500}}</td>
        <td class="data">{{NumberFormat data-2.01400-00600}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.01400-00700}}</td>
        <td class="data">{{NumberFormat data-2.01400-00800}}</td>
        <td class="data">{{NumberFormat data-2.01400-00900}}</td>
        <td class="data fillgrey">{{NumberFormat data-2.01400-01000}}</td>
        <td class="data">{{NumberFormat data-2.01400-01100}}</td>
        <td class="left">14</td>
    </tr>
    <tr>
        <td colspan="13">(1) Compute the average cost per visit one time for each discipline (column 4, lines 1 through  6) for the entire home health agency. <div>(2) Complete Worksheet C, Part II once for each MSA where Medicare covered services were furnished during the cost reporting period.</div></td>
    </tr>
    <tr>
        <td colspan="13">FORM CMS-1728-94-C  (10/2016)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTIONS 3215 - 3215.5)</td>
    </tr>
    <tr>
        <td colspan="2" class="border-right">32-320</td>
        <td colspan="9" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">Rev. 17</td>
    </tr>
</tbody>
</table>
</div>