<div class="report">
<table id="report_table" border="1" width="1200" cellspacing="1" cellpadding="1">
<colgroup>
    <col width="5%" />
    <col width="25%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="5%" /> 
</colgroup>
<thead>
    <tr>
        <td colspan="7">ALLOCATION OF GENERAL SERVICE<div>COSTS TO HHA-BASED CMHC COST CENTERS</div></td>
        <td colspan="2">PROVIDER  CCN:<span class="data">{{pId}}</span><div>CMHC  CCN:<span class="data"></span></div></td>
        <td colspan="2">
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="2">WORKSHEET CM-1<div>PARTS I & II</div></td>
    </tr>
</thead>
<tbody>
    <tr>
        <td colspan="13">PART I - ALLOCATION OF GENERAL SERVICE COSTS TO HHA-BASED CMHC COST CENTERS</td>
    </tr>
    <tr>
        <td colspan="2" rowspan="3" class="center">CMHC COST CENTER (OMIT CENTS)</td>
        <td rowspan="2" class="center">NET<div>EXPENSES</div><div>FOR COST</div><div>ALLOCATION (1)</div></td>
        <td class="center" colspan="2">CAPITAL RELATED COSTS</td>
        <td rowspan="2" class="center">PLANT<div>OPERATION</div><div>& MAINTE-</div><div>NANCE</div></td>
        <td rowspan="2" class="center">TRANSPOR-<div>TATION</div></td>
        <td rowspan="2" class="center">SUBTOTAL<div>(cols. 0-4)</div></td>
        <td rowspan="2" class="center">ADMINISTRA-<div>TIVE </div><div>& GENERAL</div></td>
        <td rowspan="2" class="center">SUB-<div>TOTAL</div></td>
        <td rowspan="2" class="center">ALLOCATED<div>CMHC</div><div>A&G (SEE PART II)</div></td>
        <td rowspan="2" class="center">TOTAL<div>(SUM OF COLS 6 & 7)</div></td>
        <td rowspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td class="center">BLDGS &<div>FIXTURES</div></td>
        <td class="center">MOVABLE<div>EQUIPMENT</div></td>
    </tr>
    <tr>
        <td class="center">0</td>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
        <td class="center">4A</td>
        <td class="center">5</td>
        <td class="center">6</td>
        <td class="center">7</td>
        <td class="center">8</td>
        <td class="left">&nbsp;</td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td> Administrative and General</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="left">1</td>
    </tr>
    <tr>
        <td class="right">2</td>
        <td> Drugs and Biologicals</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td> Occupational Therapy</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">3</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td> Psychiatric/Psychological Services</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">4</td>
    </tr>
    <tr>
        <td class="right">5</td>
        <td> Individual Therapy</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">5</td>
    </tr>
    <tr>
        <td class="right">6</td>
        <td>  Group Therapy</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">6</td>
    </tr>
    <tr>
        <td class="right">7</td>
        <td> Family Counseling</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">7</td>
    </tr>
    <tr>
        <td class="right">8</td>
        <td> Individualized Activity Therapy</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">8</td>
    </tr>
    <tr>
        <td class="right">9</td>
        <td> Diagnostic Therapy</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">9</td>
    </tr>
    <tr>
        <td class="right">10</td>
        <td>  Patient Training and Education</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data fillgrey"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">10</td>
    </tr>
    <tr>
        <td class="right">11</td>
        <td> Other Part B Services</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">11</td>
    </tr>
    <tr>
        <td class="right">12</td>
        <td> TOTALS (Sum of lines 1-11) (2)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">12</td>
    </tr>
    <tr>
        <td colspan="13">(1) Column 0, line 12 must agree with Wkst. A, column 10, line 26.<div>(2) Columns 0 through 5, line 12 must agree with the corresponding columns of Wkst. B, line 26.</div></td>
    </tr>
    <tr>
        <td colspan="13">PART II - COMPUTATION OF UNIT COST MULTIPLIER FOR ALLOCATION OF HHA-BASED CMHC ADMINISTRATIVE AND GENERAL COSTS</td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td colspan="10"> Amount from Part I, column 6, line 12</td>
        <td class="data"></td>
        <td class="left">1</td>
    </tr>
    <tr>
        <td class="right">2</td>
        <td colspan="10">  Amount from Part I, column 6, line 1</td>
        <td class="data"></td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td colspan="10"> Line 1 minus line 2</td>
        <td class="data"></td>
        <td class="left">3</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td colspan="10">  Unit cost multiplier for HHA-Based CMHC A&G costs (Line 2 divided by line 3)(multiply each amount in column 6,  lines 2 through 11, Part I, by the unit cost multiplier and enter the result on the corresponding line of column 7)</td>
        <td class="data"></td>
        <td class="left">4</td>
    </tr>
    <tr>
        <td colspan="13">FORM CMS 1728-94-CM-1  (10/2016)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB.15-2, SECTIONS 3225 THROUGH 3225.2)</td>
    </tr>   
    <tr>
        <td colspan="2" class="border-right">32-332</td>
        <td colspan="9" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">Rev. 17</td>
    </tr>
</tbody>
</table>
</div>