<div class="report">
<table id="report_table" border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
    <col width="5%" />
    <col width="25%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="5%" /> 
</colgroup>
<thead>
    <tr>
        <td colspan="4">ALLOCATION OF GENERAL SERVICE<div>COSTS TO HHA-BASED CMHC COST CENTERS</div></td>
        <td>PROVIDER  CCN:<span class="data">{{pId}}</span><div>CMHC  CCN:<span class="data"></span></div></td>
        <td colspan="2">
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="2">   WORKSHEET CM-1    PART III</td>
    </tr>
</thead>
<tbody>
    <tr>
        <td colspan="9">PART III - ALLOCATION OF GENERAL SERVICE COSTS TO HHA-BASED CMHC COST CENTERS - STATISTICAL BASIS</td>
    </tr>
    <tr>
        <td colspan="2" rowspan="3" class="center">CMHC COST CENTER<div>(OMIT CENTS)</div></td>
        <td colspan="2" class="center">CAPITAL<div>RELATED COSTS</div></td>
        <td rowspan="2" class="center">PLANT<div>OPERATION</div><div>& MAINTE-</div><div>NANCE</div><div>(SQUARE FEET)</div></td>
        <td rowspan="2" class="center">TRANSPOR-<div>TATION</div><div>(MILEAGE)</div></td>
        <td rowspan="2" class="center">RECONCIL-<div>IATION</div></td>
        <td rowspan="2" class="center">ADMINISTRATIVE<div>& GENERAL</div><div>(ACCUMULATED COST)</div></td>
        <td rowspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td class="center">BLDGS &<div>FIXTURES</div><div>(SQUARE FEET)</div></td>
        <td class="center">MOVABLE<div>EQUIPMENT</div><div>(SQUARE FEET)</div></td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
        <td class="center">5A</td>
        <td class="center">5</td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td> Administrative and General</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">1</td>
    </tr>
    <tr>
        <td class="right">2</td>
        <td> Drugs and Biologicals</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td> Occupational Therapy</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">3</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td> Psychiatric/Psychological Services</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">4</td>
    </tr>
    <tr>
        <td class="right">5</td>
        <td> Individual Therapy</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">5</td>
    </tr>
    <tr>
        <td class="right">6</td>
        <td>  Group Therapy</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">6</td>
    </tr>
    <tr>
        <td class="right">7</td>
        <td> Family Counseling</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">7</td>
    </tr>
    <tr>
        <td class="right">8</td>
        <td> Individualized Activity Therapy</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">8</td>
    </tr>
    <tr>
        <td class="right">9</td>
        <td> Diagnostic Therapy</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">9</td>
    </tr>
    <tr>
        <td class="right">10</td>
        <td>  Patient Training and Education</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">10</td>
    </tr>
    <tr>
        <td class="right">11</td>
        <td> Other Part B Services</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">11</td>
    </tr>
    <tr>
        <td class="right">12</td>
        <td> TOTALS (Sum of lines 1-11)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">12</td>
    </tr>
    <tr>
        <td class="right">13</td>
        <td> Total Cost to be Allocated</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data fillgrey"></td>
        <td class="data"></td>
        <td class="left">13</td>
    </tr>
    <tr>
        <td class="right">14</td>
        <td> Unit Cost Multiplier</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data fillgrey"></td>
        <td class="data"></td>
        <td class="left">14</td>
    </tr>
    
    <tr>
        <td colspan="9">FORM CMS 1728-94-CM-1  (10/2016)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB.15-2, SECTION 3225.3)</td>
    </tr>   
    <tr>
        <td colspan="2" class="border-right">Rev. 17</td>
        <td colspan="5" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">32-334</td>
    </tr>
</tbody>
</table>
</div>