<div class="report">
<table id="report_table" border="1" width="1200" cellspacing="1" cellpadding="1">
<colgroup>
    <col width="5%" />
    <col width="25%"/>
    <col width="12%"/>
    <col width="12%"/>
    <col width="12%"/>
    <col width="12%"/>
    <col width="12%"/>
    <col width="12%"/>
    <col width="12%"/>
    <col width="12%"/>
    <col width="12%"/>
    <col width="5%" /> 
</colgroup>
<thead>
    <tr>
        <td colspan="6">COMPUTATION OF HHA-BASED CMHC COSTS</td>
        <td colspan="2">PROVIDER  CCN:<span class="data">{{pId}}</span><div>CMHC  CCN:<span class="data"></span></div></td>
        <td colspan="2">
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="2">WORKSHEET CM-2</td>
    </tr>
</thead>
<tbody>
    <tr>
        <td colspan="12">PART I - APPORTIONMENT OF HHA-BASED CMHC COST CENTERS </td>
    </tr>
    <tr>
        <td colspan="3" rowspan="2" class="center">CMHC COST CENTER<div>(OMIT CENTS)</div></td>
        <td class="center">TOTAL COSTS<div>(FROM SUPP. WKST. CM-1, PT. I, COL. 8) (1)</div></td>
        <td class="center">TOTAL<div>CMHC</div><div>CHARGES (2)</div></td>
        <td class="center">RATIO OF<div>COSTS TO</div><div>CHARGES</div><div>(COL. 1 / COL. 2)</div></td>
        <td class="center">TOTAL<div>TITLE XVIII</div><div>CMHC</div><div>CHARGES</div></td>
        <td class="center">TOTAL<div>TITLE XVIII</div><div>CMHC COSTS</div><div>(COL. 3 x COL. 3.01)</div></td>
        <td class="center">TITLE XVIII <div>CMHC</div><div>CHARGES ON</div><div>OR AFTER</div><div>8/1/00, 1/1/02,</div><div>1/1/03, or 1/1/04</div></td>
        <td class="center">TITLE XVIII<div>CMHC COSTS</div><div>ON OR AFTER</div><div>8/1/00, 1/1/02,</div><div>1/1/03, or 1/1/04</div><div>(COL 3 xCOL. 4)</div></td>
        <td class="center">TITLE XVIII<div>CMHC</div><div>COSTS PRIOR</div><div>8/1/00, 1/1/02,</div><div>1/1/03, or 1/1/04</div></td>
        <td rowspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">3.01</td>
        <td class="center">3.02</td>
        <td class="center">4</td>
        <td class="center">5</td>
        <td class="center">6</td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td colspan="2"> Administrative and General</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="left">1</td>
    </tr>
    <tr>
        <td class="right">2</td>
        <td colspan="2"> Drugs and Biologicals</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td colspan="2"> Occupational Therapy</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">3</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td colspan="2"> Psychiatric/Psychological Services</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">4</td>
    </tr>
    <tr>
        <td class="right">5</td>
        <td colspan="2"> Individual Therapy</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">5</td>
    </tr>
    <tr>
        <td class="right">6</td>
        <td colspan="2">  Group Therapy</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">6</td>
    </tr>
    <tr>
        <td class="right">7</td>
        <td colspan="2"> Family Counseling</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">7</td>
    </tr>
    <tr>
        <td class="right">8</td>
        <td colspan="2"> Individualized Activity Therapy</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">8</td>
    </tr>
    <tr>
        <td class="right">9</td>
        <td colspan="2"> Diagnostic Therapy</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">9</td>
    </tr>
    <tr>
        <td class="right">10</td>
        <td colspan="2">  Patient Training and Education</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">10</td>
    </tr>
    <tr>
        <td class="right">11</td>
        <td colspan="2"> Other Part B Services</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">11</td>
    </tr>
    <tr>
        <td class="right">12</td>
        <td colspan="2"> TOTALS (Sum of lines 2-11)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data fillgrey"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">12</td>
    </tr>
    <tr>
        <td colspan="12">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2">PART II - APPORTIONMENT OF COST OF HHA-BASED CMHC SERVICES FURNISHED  BY SHARED HHA DEPARTMENTS</td>
        <td>Fr. Wkst. B,<div>Col 6, Line:</div></td>
        <td colspan="9">&nbsp;</td>
    </tr>
    <tr>
        <td class="right">13</td>
        <td>  Occupational Therapy</td>
        <td class="center">8</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">13</td>
    </tr>
    <tr>
        <td class="right">14</td>
        <td>  Medical Social Services</td>
        <td class="center">10</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">14</td>
    </tr>
    <tr>
        <td class="right">15</td>
        <td> Supplies   </td>
        <td class="center">12</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">15</td>
    </tr>
    <tr>
        <td class="right">16</td>
        <td>   Total (Sum of lines 13-15)</td>
        <td class="data fillgrey center"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data fillgrey"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">16</td>
    </tr>
    <tr>
        <td colspan="12"><div>&nbsp;</div>(1) Cost for Part II, lines 13-15 are obtained from Worksheet B, column 6, lines as appropriate<div></div>(2) Charges for Part II, column 2 are total facility charges for each cost center and are obtained from provider records<div>&nbsp;</div></td>
    </tr> 
    <tr>
        <td colspan="6">PART III - TOTAL HHA-BASED CMHC COSTS</td>
        <td class="center">3.01</td>
        <td class="center">3.02</td>
        <td class="center">4</td>
        <td class="center">5</td>
        <td class="center">6</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="right">17</td>
        <td colspan="5">Total HHA-based CMHC costs - Add the amount from Part I, column 6, line 12 and the amount from Part II, column 6, line 16. Add the amounts from Part I, line 12 and Part II, line 16 for columns 3.01, 3.02 and 4 through 6, respectively.</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">17</td>
    </tr>
    <tr><td colspan="12">Transfer the amount in Part III, column 6 to Worksheet CM-3, line 1, column 1. (see instructions)</td></tr>

    <tr>
        <td colspan="12">FORM CMS 1728-94-CM-1  (10/2016)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB.15-2, SECTIONS 3225 THROUGH 3225.2)</td>
    </tr>   
    <tr>
        <td colspan="2" class="border-right">32-332</td>
        <td colspan="8" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">Rev. 17</td>
    </tr>
</tbody>
</table>
</div>