<div class="report">
<table id="report_table" border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
    <col width="5%" />
    <col width="30%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="5%" /> 
</colgroup>
<thead>
    <tr>
        <td colspan="3">CALCULATION OF REIMBURSEMENT<div>SETTLEMENT - HHA-BASED CMHC SERVICES</div></td>
        <td>PROVIDER  CCN:<span class="data">{{pId}}</span><div>CMHC  CCN:<span class="data"></span></div></td>
        <td>
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="2">WORKSHEET CM-3</td>
    </tr>
</thead>
<tbody>
    <tr>
        <td colspan="7">PART I - COMPUTATION OF THE LESSER OF REASONABLE COST OR CUSTOMARY CHARGES</td>
    </tr>
   <tr>
       <td class="center" colspan="4">DESCRIPTION</td>
       <td class="center">1</td>
       <td class="center">1.01</td>
       <td>&nbsp;</td>
   </tr>
    <tr>
        <td class="right">1</td>
        <td colspan="3"> Total reasonable cost (see instructions)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">1</td>
    </tr>
    <tr>
        <td class="right">1.01</td>
        <td colspan="3"> CMHC PPS payments including outlier payments</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">1.01</td>
    </tr>
    <tr>
        <td class="right">1.02</td>
        <td colspan="3"> 1996 CMHC specific payment to cost ratio (obtain this ratio from your contractor) </td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">1.02</td>
    </tr>
    <tr>
        <td class="right">1.03</td>
        <td colspan="3"> Line 1, column 1 times 1.02</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">1.03</td>
    </tr>
    <tr>
        <td class="right">1.04</td>
        <td colspan="3">  Line 1.01 divided by line 1.03</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">1.04</td>
    </tr>
    <tr>
        <td class="right">1.05</td>
        <td colspan="3">  CMHC transitional corridor payment (see instructions)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">1.05</td>
    </tr>
    <tr>
        <td class="right">2</td>
        <td colspan="3">  Total charges for HHA-based CMHC Services</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td colspan="7">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="4">CUSTOMARY CHARGES</td>
        <td class="center">1</td>
        <td class="center">1.01</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td colspan="3">  Amounts actually collected from patients liable  for payments for services on a charge basis (from  your records)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">3</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td colspan="3"> Amount that would have been realized from patients  liable for payment for services on a charge basis   had such payment been made in accordance with  42 CFR 413.13(b)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">4</td>
    </tr>
    <tr>
        <td class="right">5</td>
        <td colspan="3">  Ratio of line 3 to line 4 (not to exceed 1.000000)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">5</td>
    </tr>
    <tr>
        <td class="right">6</td>
        <td colspan="3"> Total Customary charges - title XVIII  (see instructions)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">6</td>
    </tr>
    <tr>
        <td class="right">7</td>
        <td colspan="3">  Excess of total customary charges over total  reasonable cost (complete only if line 6  exceeds line 1)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">7</td>
    </tr>
    <tr>
        <td class="right">8</td>
        <td colspan="3">  Excess of reasonable costs over customary charges  (complete only if line 1 exceeds line 6)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">8</td>
    </tr>
    <tr>
        <td class="right">9</td>
        <td colspan="3">  Primary payer amounts</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">9</td>
    </tr>
    <tr>
        <td colspan="7">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="4">PART II - COMPUTATION OF HHA-BASED CMHC REIMBURSEMENT SETTLEMENT</td>
        <td class="center">1</td>
        <td class="center">1.01</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="right">10</td>
        <td colspan="3"> Cost of HHA-based CMHC services (see instructions)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">10</td>
    </tr>
    <tr>
        <td class="right">11</td>
        <td colspan="3"> Part B deductible billed to Program patients (exclude coinsurance amounts)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">11</td>
    </tr>
    <tr>
        <td class="right">12</td>
        <td colspan="3"> Excess of reasonable costs (see instructions)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">12</td>
    </tr>
    <tr>
        <td class="right">13</td>
        <td colspan="3">  Net cost (line10 minus lines 11 and 12)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">13</td>
    </tr>
    <tr>
        <td class="right">14</td>
        <td colspan="3"> 80% of Part B cost (80% x line 13) (see instructions)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">14</td>
    </tr>
    <tr>
        <td class="right">15</td>
        <td colspan="3">  Actual coinsurance billed to Program patients (from your records)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">15</td>
    </tr>
    <tr>
        <td class="right">16</td>
        <td colspan="3"> Net cost less actual billed coinsurance (Line 13 minus line 15)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">16</td>
    </tr>
    <tr>
        <td class="right">17</td>
        <td colspan="3"> Reimbursable bad debts (see instructions)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">17</td>
    </tr>
    <tr>
        <td class="right">14</td>
        <td colspan="3"> 80% of Part B cost (80% x line 13) (see instructions)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">14</td>
    </tr>
    <tr>
        <td class="right">17.01</td>
        <td colspan="3">  Adjusted reimbursable bad debts (see instructions)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">17.01</td>
    </tr>
    <tr>
        <td class="right">17.02</td>
        <td colspan="3">  Allowable bad debts for dual eligible beneficiaries  (see instructions)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">17.02</td>
    </tr>
    <tr>
        <td class="right">18</td>
        <td colspan="3"> Net reimbursable amount (see instructions)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">18</td>
    </tr>
    <tr>
        <td class="right">19</td>
        <td colspan="4">  Amounts applicable to prior cost reporting periods resulting from disposition of depreciable assets</td>
        <td class="data fillgrey"></td>
        <td class="left">19</td>
    </tr>
    <tr>
        <td class="right">20</td>
        <td colspan="4">   Recovery of excess depreciation resulting from facility's termination or a decrease in Program utilization</td>
        <td class="data fillgrey"></td>
        <td class="left">20</td>
    </tr>
    <tr>
        <td class="right">21</td>
        <td colspan="4"> Other adjustments (specify)</td>
        <td class="data"></td>
        <td class="left">21</td>
    </tr>
    <tr>
        <td class="right">22</td>
        <td colspan="4">  Total Cost (Sum of line 18, columns 1 and 2, minus lines 19 and 20, plus or minus line 21)</td>
        <td class="data"></td>
        <td class="left">22</td>
    </tr>
    <tr>
        <td class="right">23</td>
        <td colspan="4"> Sequestration adjustment (see instructions)</td>
        <td class="data"></td>
        <td class="left">23</td>
    </tr>
    <tr>
        <td class="right">24</td>
        <td colspan="4">   Amount due provider (Line 22 minus line 23)</td>
        <td class="data"></td>
        <td class="left">24</td>
    </tr>
    <tr>
        <td class="right">25</td>
        <td colspan="4">  Interim payments</td>
        <td class="data"></td>
        <td class="left">25</td>
    </tr>
    <tr>
        <td class="right">25.5</td>
        <td colspan="4"> Tentative settlement (for contractor use only)</td>
        <td class="data"></td>
        <td class="left">25.5</td>
    </tr>
    <tr>
        <td class="right">26</td>
        <td colspan="4"> Balance due HHA-based CMHC/Program (Line 24 minus line 25) (Indicate overpayments in brackets)</td>
        <td class="data"></td>
        <td class="left">16</td>
    </tr>
    <tr>
        <td class="right">27</td>
        <td colspan="4">  Protested amounts (see instructions)</td>
        <td class="data"></td>
        <td class="left">27</td>
    </tr>
    <tr>
        <td class="right">28</td>
        <td colspan="4">  Balance due HHA-based CMHC/Program (Line 26 minus line 27) (Indicate overpayments in brackets)</td>
        <td class="data"></td>
        <td class="left">28</td>
    </tr>
    
    <tr>
        <td colspan="7">FORM CMS 1728-94-CM-3 (10/2016) (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTIONS 3227 THROUGH 3227.2)</td>
    </tr>   
    <tr>
        <td colspan="2" class="border-right">Rev. 17</td>
        <td colspan="3" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">32-335</td>
    </tr>
</tbody>
</table>
</div>