<div class="report">
<table id="report_table" border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
    <col width="4%" />
    <col width="12%" />
    <col width="12%" />
    <col width="12%" />
    <col width="4%" />
    <col width="12%" />
    <col width="12%" />
    <col width="4%" />
</colgroup>
<thead>
    <tr>
        <td colspan="3">ANALYSIS OF PAYMENTS TO <div>HHA-BASED CMHC FOR SERVICES RENDERED</div><div>TO PROGRAM BENEFICIARIES</div></td>
        <td colspan="2">PROVIDER  CCN:<span class="data">{{pId}}</span><div>  CMHC CCN:<span class="data"></span></div></td>
        <td>
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="2"> WORKSHEET CM-4</td>
    </tr>
</thead>
    <tbody>
        <tr>
            <td colspan="5" rowspan="3">&nbsp;</td>
            <td colspan="2" class="center">PART B</td>
            <td rowspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td class="center">1</td>
            <td class="center">2</td>
        </tr>
        <tr>
            <td class="center">mm/dd/yyyy</td>
            <td class="center">Amount</td>
        </tr>
        <tr>
            <td class="right">1</td>
            <td colspan="4"> Total interim payments paid to HHA-based CMHC</td>
            <td class="data fillgrey"></td>
            <td class="data"></td>
            <td class="left">1</td>
        </tr>
        <tr>
            <td class="right">2</td>
            <td colspan="4"> Interim payments payable on individual bills either, submitted or to  be submitted to the contractor, for services rendered in the  cost reporting period.  If none, write "NONE" or enter a zero.</td>
            <td class="data fillgrey"></td>
            <td class="data"></td>
            <td class="left">2</td>
        </tr>
        <tr>
            <td class="right" rowspan="11">3</td>
            <td colspan="2" rowspan="10">List separately each retroactive lump sum adjustment amount based on subsequent revision of the interim rate for the cost reporting period. Also show date of each payment.  If none write "NONE" or enter a zero. (1)</td>
            <td rowspan="5" class="center">Program<div>to</div><div>Provider</div></td>
            <td class="center">.01</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">3.01</td>
        </tr>
        <tr>
            <td class="center">.02</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">3.02</td>
        </tr>
        <tr>
            <td class="center">.03</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">3.03</td>
        </tr>
        <tr>
            <td class="center">.04</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">3.04</td>
        </tr>
        <tr>
            <td class="center">.05</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">3.05</td>
        </tr>
        <tr>
            <td rowspan="5" class="center">Provider<div>to</div><div>Program</div></td>
            <td class="center">.50</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">3.50</td>
        </tr>
        <tr>
            <td class="center">.51</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">3.51</td>
        </tr>
        <tr>
            <td class="center">.52</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">3.52</td>
        </tr>
        <tr>
            <td class="center">.53</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">3.53</td>
        </tr>
        <tr>
            <td class="center">.54</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">3.54</td>
        </tr>
        <tr>
            <td colspan="3"> SUBTOTAL (Sum of lines 3.01-3.05, minus sum  of lines 3.50-3.54)</td>
            <td class="center">.99</td>
            <td class="data fillgrey"></td>
            <td class="data"></td>
            <td class="left">3.99</td>
        </tr>
        <tr>
            <td class="right">4</td>
            <td colspan="4"> TOTAL INTERIM PAYMENTS (Sum of lines 1, 2 and 3.99) <div> (Transfer to Supp. Wkst CM-3, Part II, line 25)</div></td>
            <td class="data fillgrey"></td>
            <td class="data"></td>
            <td class="left">4</td>
        </tr>
        <tr>
            <td class="center" colspan="8">TO BE COMPLETED BY CONTRACTOR</td>
        </tr>
        <tr>
            <td class="right" rowspan="7">5</td>
            <td colspan="2" rowspan="6"> List separately each tentative settlement payment   after desk review.  Also show date of each   payment.  If none, write "NONE" or enter      a zero. (1)</td>
            <td rowspan="3  " class="center">Program<div>to</div><div>Provider</div></td>
            <td class="center">.01</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">5.01</td>
        </tr>
        <tr>
            <td class="center">.02</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">5.02</td>
        </tr>
        <tr>
            <td class="center">.03</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">5.03</td>
        </tr>
        
        <tr>
            <td rowspan="3" class="center">Provider<div>to</div><div>Program</div></td>
            <td class="center">.50</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">5.50</td>
        </tr>
        <tr>
            <td class="center">.51</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">5.51</td>
        </tr>
        <tr>
            <td class="center">.52</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">5.52</td>
        </tr>
        <tr>
            <td colspan="3">  SUBTOTAL (Sum of lines 5.01-5.03, minus sum   of lines 5.50-5.52)</td>
            <td class="center">.99</td>
            <td class="data fillgrey"></td>
            <td class="data"></td>
            <td class="left">5.99</td>
        </tr>
        <tr>
            <td rowspan="2" class="right">6</td>
            <td colspan="2" rowspan="2"> Determine net settlement amount (balance due) based  on the cost report (SEE INSTRUCTIONS). (1)</td>
            <td>Program to Provider</td>
            <td class="center">.01</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">6.01</td>
        </tr>
        
        <tr>
            <td>Provider to Program</td>
            <td class="center">.02</td>
                <td class="data"></td>
                <td class="data"></td>
                <td class="left">6.02</td>
        </tr>
        
        <tr>
            <td class="right">7</td>
            <td colspan="4">  TOTAL MEDICARE PROGRAM LIABILITY <div>  (See Instructions) </div></td>
            <td class="data fillgrey"></td>
            <td class="data"></td>
            <td class="left">7</td>
        </tr>
        <tr>
            <td colspan="4"> Name of Contractor</td>
            <td colspan="4">     Contractor Number</td>
        </tr>
        <tr>
            <td colspan="4"> Signature of Authorized Person</td>
            <td colspan="4">    Date:   Month, Day, Year</td>
        </tr>
        <tr>
            <td colspan="8"> (1)  On lines 3, 5 and 6, where an amount is due "Provider to Program," show the amount and date on which the HHA-based CMHC       agrees to the amount of repayment, even though total repayment is not accomplished until a later date.</td>
        </tr>
        <tr>
            <td colspan="8">FORM CMS-1728-94-CM-4  (10/2016)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 3228</td>
        </tr>
        <tr>
            <td colspan="2" class="border-right">32-336</td>
            <td colspan="4" class="border-right">&nbsp;</td>
            <td colspan="2" class="right">Rev. 17</td>
        </tr>
    </tbody>
    </table>
    </div>