<div class="report">
    <table id="report_table" border="1" width="100%" cellspacing="1" cellpadding="1">
        <colgroup>
            <col width="4%" />
            <col width="30%" />
            <col width="12%" />
            <col width="12%" />
            <col width="12%" />
            <col width="4%" />
        </colgroup>
        <thead>
            <tr>
                <td colspan="2">CALCULATION OF REIMBURSEMENT SETTLEMENT - PART A AND PART B SERVICES
                </td>
                <td>Provider CCN: <span class="data">{{pId}}</span></td>
                <td>
                    <div>PERIOD:</div>
                    <div>FROM <span class="data">{{year.start}}</span></div>
                    <div>TO <span class="data">{{year.end}}</span></div>
                </td>
                <td colspan="2"> WORKSHEET D
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="6">PART I - COMPUTATION OF THE LESSER OF REASONABLE COST OR CUSTOMARY CHARGES</td>
            </tr>
            <tr>
                <td rowspan="3" colspan="2" class="center ">Description</td>
                <td rowspan="2" class="center">PART A</td>
                <td colspan="2" class="center">Part B</td>
                <td rowspan="4"></td>
            </tr>
            <tr>
                <td class="center">Not Subject to Deductibles & Coinsurance</td>
                <td class="center">Subject
                    to Deductibles
                    & Coinsurance</td>
            </tr>
            <tr>
                <td class="center">1</td>
                <td class="center">2</td>
                <td class="center">3</td>

            </tr>
            <tr>
                <td colspan="2">Reasonable Cost of Title XVIII - Part A & Part B Services</td>
                <td class="data fillgrey"></td>
                <td class="data fillgrey"></td>
                <td class="data fillgrey"></td>
            </tr>
            <tr>
                <td class="right">1</td>
                <td>Reasonable Cost of Services (See Instructions)</td>
                <td class="data">{{NumberFormat data-1.00100-00100}}</td>
                <td class="data">{{NumberFormat data-1.00100-00200}}</td>
                <td class="data">{{NumberFormat data-1.00100-00300}}</td>
                <td class="left">1</td>
            </tr>
            <tr>
                <td class="right">2</td>
                <td> Cost of Services, RHC & FQHC </td>
                <td class="data fillgrey">{{NumberFormat data-1.00200-00100}}</td>
                <td class="data fillgrey">{{NumberFormat data-1.00200-00200}}</td>
                <td class="data">{{NumberFormat data-1.00200-00300}}</td>
                <td class="left">2</td>
            </tr>
            <tr>
                <td class="right">3</td>
                <td> Sum of Lines 1 and 2 </td>
                <td class="data">{{NumberFormat data-1.00300-00100}}</td>
                <td class="data">{{NumberFormat data-1.00300-00200}}</td>
                <td class="data">{{NumberFormat data-1.00300-00300}}</td>
                <td class="left">3</td>
            </tr>
            <tr>
                <td class="right">4</td>
                <td> Total charges for title XVIII - Part A and Part B Services - Pre 10/1/2000</td>
                <td class="data">{{NumberFormat data-1.00400-00100}}</td>
                <td class="data">{{NumberFormat data-1.00400-00200}}</td>
                <td class="data">{{NumberFormat data-1.00400-00300}}</td>
                <td class="left">4</td>
            </tr>
            <tr>
                <td class="right">4.01</td>
                <td> Total chares for title XVIII - Part A and Part B Services - Post 9/30/2000</td>
                <td class="data fillgrey">{{NumberFormat data-1.00401-00100}}</td>
                <td class="data">{{NumberFormat data-1.00401-00200}}</td>
                <td class="data">{{NumberFormat data-1.00401-00300}}</td>
                <td class="left">4.01</td>
            </tr>
            <tr>
                <td colspan="2">Customary Charges</td>
                <td class="data fillgrey"></td>
                <td class="data fillgrey"></td>
                <td class="data fillgrey"></td>
                <td></td>
            </tr>
            <tr>
                <td class="right">5</td>
                <td> Amount actually collected from patients liable for payment for services on a
                    charge basis (From your records)</td>
                <td class="data">{{NumberFormat data-1.00500-00100}}</td>
                <td class="data">{{NumberFormat data-1.00500-00200}}</td>
                <td class="data">{{NumberFormat data-1.00500-00300}}</td>
                <td class="left">5</td>
            </tr>
            <tr>
                <td class="right">6</td>
                <td> Amount that would have been realized from patients liable for payment for services on
                    a charge basis had such payment been made in accordance with 42 CFR 413.13(b)</td>
                <td class="data">{{NumberFormat data-1.00600-00100}}</td>
                <td class="data">{{NumberFormat data-1.00600-00200}}</td>
                <td class="data">{{NumberFormat data-1.00600-00300}}</td>
                <td class="left">6</td>
            </tr>
            <tr>
                <td class="right">7</td>
                <td> Ratio of line 5 to 6 (Not to exceed 1.000000)</td>
                <td class="data">{{NumberFormat data-1.00700-00100}}</td>
                <td class="data">{{NumberFormat data-1.00700-00200}}</td>
                <td class="data">{{NumberFormat data-1.00700-00300}}</td>
                <td class="left">7</td>
            </tr>
            <tr>
                <td class="right">8</td>
                <td> Total customary charges - title XVIII (Multiply line 7 by line 4 for column 1) (Multiply line 7
                    by the sum of lines 4 & 4.01 for columns 2 & 3, respectively) (See Instructions)</td>
                <td class="data">{{NumberFormat data-1.00800-00100}}</td>
                <td class="data">{{NumberFormat data-1.00800-00200}}</td>
                <td class="data">{{NumberFormat data-1.00800-00300}}</td>
                <td class="left">8</td>
            </tr>
            <tr>
                <td class="right">9</td>
                <td> Excess of total customary charges over total reasonable cost (Complete only if
                    line 8 exceeds line 3)</td>
                <td class="data">{{NumberFormat data-1.00900-00100}}</td>
                <td class="data">{{NumberFormat data-1.00900-00200}}</td>
                <td class="data">{{NumberFormat data-1.00900-00300}}</td>
                <td class="left">9</td>
            </tr>
            <tr>
                <td class="right">10</td>
                <td> Excess of reasonable cost over customary charges (Complete only if line 3 exceeds line 8)</td>
                <td class="data">{{NumberFormat data-1.01000-00100}}</td>
                <td class="data">{{NumberFormat data-1.01000-00200}}</td>
                <td class="data">{{NumberFormat data-1.01000-00300}}</td>
                <td class="left">10</td>
            </tr>
            <tr>
                <td class="right">11</td>
                <td> Primary Payer Amounts</td>
                <td class="data">{{NumberFormat data-1.01100-00100}}</td>
                <td class="data">{{NumberFormat data-1.01100-00200}}</td>
                <td class="data">{{NumberFormat data-1.01100-00300}}</td>
                <td class="left">11</td>
            </tr>
            <tr>
                <td colspan="6">PART II - COMPUTATION OF REIMBURSEMENT SETTLEMENT</td>
            </tr>
            <tr>
                <td rowspan="2" colspan="3" class="center">Description</td>
                <td class="center">PART A Services</td>
                <td class="center">PART B
                    Services</td>
                <td rowspan="2"></td>
            </tr>
            <tr>
                <td class="center">1</td>

                <td class="center">2</td>
            </tr>
            <tr>
                <td class="right">12</td>
                <td colspan="2"> Total reasonable cost (See Instructions)</td>
                <td class="data">{{NumberFormat data-1.01200-00100}}</td>
                <td class="data">{{NumberFormat data-1.01200-00200}}</td>
                <td class="left">12</td>
            </tr>
            <tr>
                <td class="right">12.01</td>
                <td colspan="2"> Total PPS Payment - Full Episodes without Outliers</td>
                <td class="data">{{NumberFormat data-1.01201-00100}}</td>
                <td class="data">{{NumberFormat data-1.01201-00200}}</td>
                <td class="left">12.01</td>
            </tr>
            <tr>
                <td class="right">12.02</td>
                <td colspan="2">Total PPS Payment - Full Episodes with Outliers</td>
                <td class="data">{{NumberFormat data-1.01202-00100}}</td>
                <td class="data">{{NumberFormat data-1.01202-00200}}</td>
                <td class="left">12.02</td>
            </tr>
            <tr>
                <td class="right">12.03</td>
                <td colspan="2"> Total PPS Payment - LUPA Episodes</td>
                <td class="data">{{NumberFormat data-1.01203-00100}}</td>
                <td class="data">{{NumberFormat data-1.01203-00200}}</td>
                <td class="left">12.03</td>
            </tr>
            <tr>
                <td class="right">12.04</td>
                <td colspan="2"> Total PPS Payment - PEP Only Episodes</td>
                <td class="data">{{NumberFormat data-1.01204-00100}}</td>
                <td class="data">{{NumberFormat data-1.01204-00200}}</td>
                <td class="left">12.04</td>
            </tr>
            <tr>
                <td class="right">12.05</td>
                <td colspan="2"> Total PPS Payment - SCIC within a PEP Episodes</td>
                <td class="data">{{NumberFormat data-1.01205-00100}}</td>
                <td class="data">{{NumberFormat data-1.01205-00200}}</td>
                <td class="left">12.05</td>
            </tr>
            <tr>
                <td class="right">12.06</td>
                <td colspan="2"> Total PPS Pament - SCIC Onl Episodes</td>
                <td class="data">{{NumberFormat data-1.01206-00100}}</td>
                <td class="data">{{NumberFormat data-1.01206-00200}}</td>
                <td class="left">12.06</td>
            </tr>
            <tr>
                <td class="right">12.07</td>
                <td colspan="2"> Total PPS Outlier Payment - Full Episodes with Outliers</td>
                <td class="data">{{NumberFormat data-1.01207-00100}}</td>
                <td class="data">{{NumberFormat data-1.01207-00200}}</td>
                <td class="left">12.07</td>
            </tr>

            <tr>
                <td class="right">12.08</td>
                <td colspan="2">Total PPS Outlier Payment - PEP Only Episodes</td>
                <td class="data">{{NumberFormat data-1.01208-00100}}</td>
                <td class="data">{{NumberFormat data-1.01208-00200}}</td>
                <td class="left">12.08</td>
            </tr>
            <tr>
                <td class="right">12.09</td>
                <td colspan="2"> Total PPS Outlier Pament - SCIC within a PEP Episodes</td>
                <td class="data">{{NumberFormat data-1.01209-00100}}</td>
                <td class="data">{{NumberFormat data-1.01209-00200}}</td>
                <td class="left">12.09</td>
            </tr>
            <tr>
                <td class="right">12.10</td>
                <td colspan="2"> Total PPS Outlier Payment - SCIC Only Episodes</td>
                <td class="data">{{NumberFormat data-1.01210-00100}}</td>
                <td class="data">{{NumberFormat data-1.01210-00200}}</td>
                <td class="left">12.10</td>
            </tr>
            <tr>
                <td class="right">12.11</td>
                <td colspan="2"> Total Other Pament</td>
                <td class="data">{{NumberFormat data-1.01211-00100}}</td>
                <td class="data">{{NumberFormat data-1.01211-00200}}</td>
                <td class="left">12.11</td>
            </tr>
            <tr>
                <td class="right">12.12</td>
                <td colspan="2">DME Payment</td>
                <td class="data">{{NumberFormat data-1.01212-00100}}</td>
                <td class="data">{{NumberFormat data-1.01212-00200}}</td>
                <td class="left">12.12</td>
            </tr>
            <tr>
                <td class="right">12.13</td>
                <td colspan="2"> Oxygen Payment</td>
                <td class="data">{{NumberFormat data-1.01213-00100}}</td>
                <td class="data">{{NumberFormat data-1.01213-00200}}</td>
                <td class="left">12.13</td>
            </tr>
            <tr>
                <td class="right">12.14</td>
                <td colspan="2"> Prosthetics and Orthotics Payment</td>
                <td class="data">{{NumberFormat data-1.01214-00100}}</td>
                <td class="data">{{NumberFormat data-1.01214-00200}}</td>
                <td class="left">12.14</td>
            </tr>
            <tr>
                <td class="right">13</td>
                <td colspan="2"> Part B deductibles billed to Medicare patients (exclude coinsurance)</td>
                <td class="data fillgrey">{{NumberFormat data-1.01300-00100}}</td>
                <td class="data">{{NumberFormat data-1.01300-00200}}</td>
                <td class="left">13</td>
            </tr>
            <tr>
                <td class="right">14</td>
                <td colspan="2"> Subtotal (Sum of lines 12-12.14 minus line 13)</td>
                <td class="data">{{NumberFormat data-1.01400-00100}}</td>
                <td class="data">{{NumberFormat data-1.01400-00200}}</td>
                <td class="left">14</td>
            </tr>
            <tr>
                <td class="right">15</td>
                <td colspan="2"> Excess reasonable cost (from line 10)</td>
                <td class="data">{{NumberFormat data-1.01500-00100}}</td>
                <td class="data">{{NumberFormat data-1.01500-00200}}</td>
                <td class="left">15</td>
            </tr>
            <tr>
                <td class="right">16</td>
                <td colspan="2"> Subtotal (Line 14 minus line 15)</td>
                <td class="data">{{NumberFormat data-1.01600-00100}}</td>
                <td class="data">{{NumberFormat data-1.01600-00200}}</td>
                <td class="left">16</td>
            </tr>
            <tr>
                <td class="right">17</td>
                <td colspan="2"> Coinsurance billed to Medicare patients (From your records) </td>
                <td class="data fillgrey">{{NumberFormat data-1.01700-00100}}</td>
                <td class="data">{{NumberFormat data-1.01700-00200}}</td>
                <td class="left">17</td>
            </tr>
            <tr>
                <td class="right">18</td>
                <td colspan="2"> Net cost (Line 16 minus line 17)</td>
                <td class="data">{{NumberFormat data-1.01800-00100}}</td>
                <td class="data">{{NumberFormat data-1.01800-00200}}</td>
                <td class="left">18</td>
            </tr>
            <tr>
                <td class="right">19</td>
                <td colspan="2"> Reimbursable bad debts (From your records)</td>
                <td class="data fillgrey">{{NumberFormat data-1.01800-00100}}</td>
                <td class="data fillgrey">{{NumberFormat data-1.01800-00200}}</td>
                <td class="left">19</td>
            </tr>
            <tr>
                <td class="right">20</td>
                <td colspan="2"> Pneumococcal Vacci</td>
                <td class="data fillgrey">{{NumberFormat data-1.02000-00100}}</td>
                <td class="data ">{{NumberFormat data-1.02000-00200}}</td>
                <td class="left">20</td>
            </tr>
            <tr>
                <td class="right">21</td>
                <td colspan="2"> Total Costs - Current cost reporting period (See Instructions)</td>
                <td class="data">{{NumberFormat data-1.02100-00100}}</td>
                <td class="data ">{{NumberFormat data-1.02100-00200}}</td>
                <td class="left">21</td>
            </tr>
            <tr>
                <td class="right">22</td>
                <td colspan="2"> Amounts applicable to prior cost reporting periods resulting from disposition of
                    depreciable assets</td>
                <td class="data">{{NumberFormat data-1.02200-00100}}</td>
                <td class="data ">{{NumberFormat data-1.02200-00200}}</td>
                <td class="left">22</td>
            </tr>
            <tr>
                <td class="right">23</td>
                <td colspan="2"> Recovery of excess depreciation resulting from agencies' termination or decrease in
                    Medicare utilization</td>
                <td class="data">{{NumberFormat data-1.02300-00100}}</td>
                <td class="data ">{{NumberFormat data-1.02300-00200}}</td>
                <td class="left">23</td>
            </tr>
            <tr>
                <td class="right">24</td>
                <td colspan="2">Unrefunded charges to beneficiaries for excess costs erroneously collected based on
                    correction of cost limit</td>
                <td class="data">{{NumberFormat data-1.02400-00100}}</td>
                <td class="data ">{{NumberFormat data-1.02400-00200}}</td>
                <td class="left">24</td>
            </tr>
            <tr>
                <td class="right">25</td>
                <td colspan="2"> Total cost before sequestration and other adjustments- (line 21
                    plus/minus line 22 minus sum of lines 23 and 24</td>
                <td class="data">{{NumberFormat data-1.02500-00100}}</td>
                <td class="data ">{{NumberFormat data-1.02500-00200}}</td>
                <td class="left">25</td>
            </tr>
            <tr>
                <td class="right">25.50</td>
                <td colspan="2"> Other Adjustments (see instructions) (specify)</td>
                <td class="data">{{NumberFormat data-1.02550-00100}}</td>
                <td class="data ">{{NumberFormat data-1.02550-00200}}</td>
                <td class="left">25.50</td>
            </tr>
            <tr>
                <td class="right">26</td>
                <td colspan="2">Sequestration Adjustment (See Instructions)</td>
                <td class="data">{{NumberFormat data-1.02600-00100}}</td>
                <td class="data ">{{NumberFormat data-1.02600-00200}}</td>
                <td class="left">26</td>
            </tr>
            <tr>
                <td class="right">27</td>
                <td colspan="2"> Amount reimbursable after sequestration and other adjustments (Line 25 plus line 25.5
                    minus line 26)</td>
                <td class="data">{{NumberFormat data-1.02700-00100}}</td>
                <td class="data ">{{NumberFormat data-1.02700-00200}}</td>
                <td class="left">27</td>
            </tr>
            <tr>
                <td class="right">28</td>
                <td colspan="2">Total interim payments (From Worksheet D-1, line 4)</td>
                <td class="data">{{NumberFormat data-1.02800-00100}}</td>
                <td class="data ">{{NumberFormat data-1.02800-00200}}</td>
                <td class="left">28</td>
            </tr>
            <tr>
                <td class="right">28.5</td>
                <td colspan="2">Tentative settlement (For contractor use only)</td>
                <td class="data">{{NumberFormat data-1.02850-00100}}</td>
                <td class="data ">{{NumberFormat data-1.02850-00200}}</td>
                <td class="left">28.5</td>
            </tr>
            <tr>
                <td class="right">29</td>
                <td colspan="2">Balance due HHA/Medicare program (Line 27 minus line 28) (Indicate overpayments in
                    brackets)</td>
                <td class="data">{{NumberFormat data-1.02900-00100}}</td>
                <td class="data ">{{NumberFormat data-1.02900-00200}}</td>
                <td class="left">29</td>
            </tr>
            <tr>
                <td class="right">30</td>
                <td colspan="2"> Protested amounts (nonallowable cost report items) in accordance with CMS Pub. 15-2,
                    section 115.2</td>
                <td class="data">{{NumberFormat data-1.03000-00100}}</td>
                <td class="data ">{{NumberFormat data-1.03000-00200}}</td>
                <td class="left">30</td>
            </tr>
            <tr>
                <td class="right">31</td>
                <td colspan="2"> Balance due HHA/Medicare program (Line 29 minus line 30) (Indicate overpayments in
                    brackets)</td>
                <td class="data">{{NumberFormat data-1.03100-00100}}</td>
                <td class="data ">{{NumberFormat data-1.03100-00200}}</td>
                <td class="left">31</td>
            </tr>
            <tr>
                <td colspan="6">FORM CMS-1728-94-D (10/2016) (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB.
                    15-2, SECTIONS 3216 THROUGH 3216.2)</td>
            </tr>
            <tr>
                <td class="border-right">32-322</td>
                <td colspan="4" class="border-right">&nbsp;</td>
                <td class="right">Rev. 17</td>
            </tr>




        </tbody>
        </table>
        </div>