<div class="report">
        <table id="report_table" border="1" width="100%" cellspacing="1" cellpadding="1">
            <colgroup>
                <col width="4%" />
                <col width="12%" />
                <col width="12%" />
                <col width="12%" />
                <col width="4%" />
                <col width="12%" />
                <col width="12%" />
                <col width="12%" />
                <col width="12%" />
                <col width="4%" />
            </colgroup>
            <thead>
                <tr>
                    <td colspan="4">ANALYSIS OF PAYMENTS TO HHAs FOR SERVICES RENDERED TO PROGRAM BENEFICIARIES
    </div>
    </td>
    <td colspan="2">Provider CCN: <span class="data">{{pId}}</span></td>
    <td colspan="2">
        <div>PERIOD:</div>
        <div>FROM <span class="data">{{year.start}}</span></div>
        <div>TO <span class="data">{{year.end}}</span></div>
    </td>
    <td colspan="2"> WORKSHEET D-1
    </td>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="3" colspan="5" class="center">Description</td>
            <td colspan="2" class="center">Part A</td>
            <td colspan="3" class="center">Part B</td>
        </tr>
        <tr>
            <td class="center">mm/dd/yyyy</td>
            <td class="center">Amount</td>
            <td class="center">mm/dd/yyyy</td>
            <td class="center">Amount</td>
            <td></td>
        </tr>
        <tr>
                <td class="center">1</td>
                <td class="center">2</td>
                <td class="center">3</td>
                <td class="center">4</td>
                <td></td>
        </tr>
        <tr>
            <td class="right">1</td>
            <td colspan="4">Total interim aments aid to rovider</td>
            <td class="data fillgrey">{{data-1.00100-00100}}</td>
            <td class="data ">{{NumberFormat data-1.00100-00200}}</td>
            <td class="data fillgrey">{{data-1.00100-00300}}</td>
            <td class="data">{{NumberFormat data-1.00100-00400}}</td>
            <td class="left">1</td>
        </tr>
        <tr>
                <td class="right">2</td>
                <td colspan="4"> Interim pymts payable on individual bills either submitted or to 
                        be submitted to the contractor, for services rendered in the
                        cost reporting period. If none, write "NONE" or enter a zero.</td>
                <td class="data fillgrey">{{data-1.00200-00100}}</td>
                <td class="data ">{{NumberFormat data-1.00200-00200}}</td>
                <td class="data fillgrey">{{data-1.00200-00300}}</td>
                <td class="data">{{NumberFormat data-1.00200-00400}}</td>
                <td class="left">2</td>
            </tr>
            <tr>
                <td rowspan="11" class="right">3</td>
                <td colspan="2" rowspan="10"> List separately each retroactive lump sum  adjustment amount based on subsequent revision  of the interim rate for the cost reporting period.  Also show date of each payment. If none writ "NONE" or enter a zero.(1)</td>
                <td class="center"  rowspan="5">Program to Provider</td>
                <td >.01</td>
                <td class="data">{{data-1.00301-00100}}</td>
                <td class="data">{{NumberFormat data-1.00301-00200}}</td>
                <td class="data">{{data-1.00301-00300}}</td>
                <td class="data"{{NumberFormat data-1.00301-00400}}></td>
                <td class="left">3.01</td>

            </tr>
            <tr>
                    <td >.02</td>
                    <td class="data">{{data-1.00302-00100}}</td>
                    <td class="data">{{NumberFormat data-1.00302-00200}}</td>
                    <td class="data">{{data-1.00302-00300}}</td>
                    <td class="data">{{NumberFormat data-1.00302-00400}}</td>
                    <td class="left">3.02</td>
    
            </tr>
            <tr>
                <td >.03</td>
                <td class="data">{{data-1.00303-00100}}</td>
                <td class="data">{{NumberFormat data-1.00303-00200}}</td>
                <td class="data">{{data-1.00303-00300}}</td>
                <td class="data">{{NumberFormat data-1.00303-00400}}</td>
                <td class="left">3.03</td>
            </tr>
            <tr>
                    <td >.04</td>
                    <td class="data">{{data-1.00304-00100}}</td>
                    <td class="data">{{NumberFormat data-1.00304-00200}}</td>
                    <td class="data">{{data-1.00304-00300}}</td>
                    <td class="data">{{NumberFormat data-1.00304-00400}}</td>
                    <td class="left">3.04</td>
            </tr>
            <tr>
                    <td >.05</td>
                    <td class="data">{{data-1.00305-00100}}</td>
                    <td class="data">{{NumberFormat data-1.00305-00200}}</td>
                    <td class="data">{{data-1.00305-00300}}</td>
                    <td class="data">{{NumberFormat data-1.00305-00400}}</td>
                    <td class="left">3.05</td>
            </tr>
            <tr>
                    <td class="center" rowspan="5">Provider to Program</td>
                    <td >.50</td>
                    <td class="data">{{data-1.00350-00100}}</td>
                    <td class="data">{{NumberFormat data-1.00350-00200}}</td>
                    <td class="data">{{data-1.00350-00300}}</td>
                    <td class="data">{{NumberFormat data-1.00350-00200}}</td>
                    <td class="left">3.50</td>
            </tr>
<tr>
        <td >.51</td>
        <td class="data">{{data-1.00351-00100}}</td>
        <td class="data">{{NumberFormat data-1.00351-00200}}</td>
        <td class="data">{{data-1.00351-00300}}</td>
        <td class="data">{{NumberFormat data-1.00351-00400}}</td>
        <td class="left">3.51</td>
</tr>

<tr>
        <td >.52</td>
        <td class="data">{{data-1.00352-00100}}</td>
        <td class="data">{{NumberFormat data-1.00352-00200}}</td>
        <td class="data">{{data-1.00352-00300}}</td>
        <td class="data">{{NumberFormat data-1.00352-00400}}</td>
        <td class="left">3.52</td>
    </tr>
<tr>
        <td >.53</td>
        <td class="data">{{data-1.00353-00100}}</td>
        <td class="data">{{NumberFormat data-1.00353-00200}}</td>
        <td class="data">{{data-1.00353-00300}}</td>
        <td class="data">{{NumberFormat data-1.00353-00400}}</td>
        <td class="left">3.53</td>
</tr>
<tr>
        <td >.54</td>
        <td class="data">{{data-1.00354-00100}}</td>
        <td class="data">{{NumberFormat data-1.00354-00200}}</td>
        <td class="data">{{data-1.00354-00300}}</td>
        <td class="data">{{NumberFormat data-1.00354-00400}}</td>
        <td class="left">3.54</td>
</tr>
<tr>
    <td colspan="3">SUBTOTAL (Sum of lines 3.01-3.49, minus sum of lines 3.50-3.98)</td>
    <td >.99</td>
    <td class="data fillgrey">{{data-1.00399-00100}}</td>
    <td class="data">{{NumberFormat data-1.00399-00200}}</td>
    <td class="data fillgrey">{{data-1.00399-00300}}</td>
    <td class="data">{{NumberFormat data-1.00399-00400}}</td>
    <td class="left">3.99</td>
</tr>
<tr>
        <td class="right">4</td>
        <td colspan="4"> TOTAL INTERIM PAYMENTS (Sum of lines 1, 2  and 3.99)(Transfer to Wkst D, Part II,
                column as appropriate, line 28)</td>
        <td class="data fillgrey">{{data-1.00400-00100}}</td>
        <td class="data ">{{NumberFormat data-1.00400-00200}}</td>
        <td class="data fillgrey">{{data-1.00400-00300}}</td>
        <td class="data">{{NumberFormat data-1.00400-00400}}</td>
        <td class="left">4</td>
    </tr>
    <tr>
        <td class="right"></td>
        <td colspan="9">TO BE COMPLETED BY CONTRACTOR</td>
    </tr>
    <tr>
        <td rowspan="7" class="right">5</td>
        <td colspan="2" rowspan="6"> List separately each tentative settlement payment  after desk review. Also show date of each  payment. If none, write "NONE" or enter  a zero. (1)  "NONE" or enter a zero. (1)</td>
        <td rowspan="3">Program to Provider</td>
        <td >.01</td>
        <td class="data">{{data-1.00501-00100}}</td>
        <td class="data">{{NumberFormat data-1.00501-00200}}</td>
        <td class="data">{{data-1.00501-00300}}</td>
        <td class="data">{{NumberFormat data-1.00501-00400}}</td>
        <td class="left">5.01</td>
    </tr>
    <tr>
            <td >.02</td>
            <td class="data">{{data-1.00502-00100}}</td>
            <td class="data">{{NumberFormat data-1.00502-00200}}</td>
            <td class="data">{{data-1.00502-00300}}</td>
            <td class="data">{{NumberFormat data-1.00502-00400}}</td>
            <td class="left">5.02</td>
    </tr>
    <tr>
            <td >.03</td>
            <td class="data">{{data-1.00503-00100}}</td>
            <td class="data">{{NumberFormat data-1.00503-00200}}</td>
            <td class="data">{{data-1.00503-00300}}</td>
            <td class="data">{{NumberFormat data-1.00503-00400}}</td>
            <td class="left">5.03</td>
    </tr>
    <tr>
        <td rowspan="3">Provider to Program</td>
        <td >.50</td>
            <td class="data">{{data-1.00550-00100}}</td>
            <td class="data">{{NumberFormat data-1.00550-00200}}</td>
            <td class="data">{{data-1.00550-00300}}</td>
            <td class="data">{{NumberFormat data-1.00550-00400}}</td>
            <td class="left">5.50</td>
    </tr>
    <tr>
            <td >.51</td>
            <td class="data">{{data-1.00551-00100}}</td>
            <td class="data">{{NumberFormat data-1.00551-00200}}</td>
            <td class="data">{{data-1.00552-00300}}</td>
            <td class="data">{{NumberFormat data-1.00551-00400}}</td>
            <td class="left">5.51</td>
    </tr>
    <tr>
            <td >.52</td>
            <td class="data">{{data-1.00552-00100}}</td>
            <td class="data">{{NumberFormat data-1.00552-00200}}</td>
            <td class="data">{{data-1.00552-00300}}</td>
            <td class="data">{{NumberFormat data-1.00552-00400}}</td>
            <td class="left">5.52</td>
    </tr>
    <tr>
        <td colspan="3">
               SUBTOTAL (Sum of lines 5.01-5.49 minus sum  of lines 5.50-5.98)
        </td>
        <td >.99</td>
        <td class="data fillgrey">{{data-1.00599-00100}}</td>
        <td class="data">{{NumberFormat data-1.00599-00200}}</td>
        <td class="data fillgrey">{{data-1.00599-00300}}</td>
        <td class="data">{{NumberFormat data-1.00599-00400}}</td>
        <td class="left">5.99</td>
    </tr>
    <tr>
        <td rowspan="2" class="right">6</td>
        <td colspan="2" rowspan="2">Determine net settlement amount (balance due) based on the cost report (See Instructions)</td>
        <td>Program to Provider</td>
        <td >.01</td>
        <td class="data">{{data-1.00601-00100}}</td>
        <td class="data">{{NumberFormat data-1.00601-00200}}</td>
        <td class="data">{{data-1.00601-00300}}</td>
        <td class="data">{{NumberFormat data-1.00601-00400}}</td>
        <td class="left">6.01</td>
    </tr>
    
    <tr>
        <td>Provider to Program</td>
        <td >.02</td>
            <td class="data">{{data-1.00602-00100}}</td>
            <td class="data">{{NumberFormat data-1.00602-00200}}</td>
            <td class="data">{{data-1.00602-00300}}</td>
            <td class="data">{{NumberFormat data-1.00602-00400}}</td>
            <td class="left">6.02</td>
    </tr>
    
    <tr>
        <td class="right">7</td>
        <td colspan="3">  TOTAL MEDICARE PROGRAM LIABILITY <div>  (See Instructions) </div></td>
        <td>&nbsp;</td>
        <td class="data fillgrey">{{data-1.00700-00100}}</td>
        <td class="data">{{NumberFormat data-1.00700-00200}}</td>
        <td class="data fillgrey">{{data-1.00700-00300}}</td>
        <td class="data">{{NumberFormat data-1.00700-00400}}</td>
        <td class="left">7</td>
    </tr>
    <tr>
        <td colspan="6"> Name of Contractor</td>
        <td colspan="4">     Contractor Number</td>
    </tr>
    <tr>
        <td colspan="6"> Signature of Authorized Person</td>
        <td colspan="4">    Date:   Month, Day, Year</td>
    </tr>
    <tr>
        <td colspan="10"> (1)  On lines 3, 5 and 6, where an amount is due "Provider to Program," show the amount and date on which the provider       agrees to the amount of repayment, even though total repayment is not accomplished until a later date.</td>
    </tr>
    <tr>
        <td colspan="10">FORM CMS-1728-94-D-1  (10/2016)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 3217)</td>
    </tr>
    <tr>
        <td colspan="2" class="border-right">Rev. 17</td>
        <td colspan="6" class="border-right">&nbsp;</td>
        <td colspan="2">32-323</td>
    </tr>
    </tbody>
    </table>
    </div>