<div class="report">
<table id="report_table" border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
    <col width="4%" />
    <col width="40%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="4%" /> 
</colgroup>
<thead>
    <tr>
        <td colspan="3"><div class="center">              BALANCE SHEET</div><div> (To be completed by all providers maintaining fund type  accounting records.  Nonproprietary providers not  maintaining fund type accounting records, should  complete the "General Fund" column only.)</div></td>
        <td>PROVIDER  CCN:<span class="data">{{pId}}</span></td>
        <td>
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="3">WORKSHEET F</td>
    </tr>
</thead>
<tbody>
    <tr>
        <td class="center" colspan="2" rowspan="2">   ASSETS<div>(Omit Cents)</div></td>
        <td class="center">GENERAL<div>FUND</div></td>
        <td class="center">SPECIFIC<div>PURPOSE</div><div>FUND</div></td>
        <td class="center">ENDOWMENT<div>FUND</div></td>
        <td class="center">PLANT<div>FUND</div></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2" class="center">CURRENT ASSETS</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td> Cash on hand and in banks</td>
        <td class="data">{{NumberFormat data-1.00100-0100}}</td>
        <td class="data">{{NumberFormat data-1.00100-0200}}</td>
        <td class="data">{{NumberFormat data-1.00100-0300}}</td>
        <td class="data">{{NumberFormat data-1.00100-0400}}</td>
        <td class="left">1</td>
    </tr>
    <tr>
        <td class="right">2</td>
        <td> Temporary investments</td>
        <td class="data">{{NumberFormat data-1.00200-0100}}</td>
        <td class="data">{{NumberFormat data-1.00200-0200}}</td>
        <td class="data">{{NumberFormat data-1.00200-0300}}</td>
        <td class="data">{{NumberFormat data-1.00200-0400}}</td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td> Notes receivable</td>
        <td class="data">{{NumberFormat data-1.00300-0100}}</td>
        <td class="data">{{NumberFormat data-1.00300-0200}}</td>
        <td class="data">{{NumberFormat data-1.00300-0300}}</td>
        <td class="data">{{NumberFormat data-1.00300-0400}}</td>
        <td class="left">3</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td> Accounts Receivable</td>
        <td class="data">{{NumberFormat data-1.00400-0100}}</td>
        <td class="data">{{NumberFormat data-1.00400-0200}}</td>
        <td class="data">{{NumberFormat data-1.00400-0300}}</td>
        <td class="data">{{NumberFormat data-1.00400-0400}}</td>
        <td class="left">4</td>
    </tr>
    <tr>
        <td class="right">5</td>
        <td>  Other Receivables</td>
        <td class="data">{{NumberFormat data-1.00500-0100}}</td>
        <td class="data">{{NumberFormat data-1.00500-0200}}</td>
        <td class="data">{{NumberFormat data-1.00500-0300}}</td>
        <td class="data">{{NumberFormat data-1.00500-0400}}</td>
        <td class="left">5</td>
    </tr>
    <tr>
        <td class="right">6</td>
        <td>  Less: Allowance for uncollectible notes  and accounts receivable</td>
        <td>( <span class="data">{{NumberFormat data-1.00600-0100}}</span>)</td>
        <td class="data">{{NumberFormat data-1.00600-0200}}</td>
        <td class="data">{{NumberFormat data-1.00600-0300}}</td>
        <td class="data">{{NumberFormat data-1.00600-0400}}</td>
        <td class="left">6</td>
    </tr>
    <tr>
        <td class="right">7</td>
        <td> Inventory</td>
        <td class="data">{{NumberFormat data-1.00700-0100}}</td>
        <td class="data">{{NumberFormat data-1.00700-0200}}</td>
        <td class="data">{{NumberFormat data-1.00700-0300}}</td>
        <td class="data">{{NumberFormat data-1.00700-0400}}</td>
        <td class="left">7</td>
    </tr>
    <tr>
        <td class="right">8</td>
        <td>  Prepaid Expenses</td>
        <td class="data">{{NumberFormat data-1.00800-0100}}</td>
        <td class="data">{{NumberFormat data-1.00800-0200}}</td>
        <td class="data">{{NumberFormat data-1.00800-0300}}</td>
        <td class="data">{{NumberFormat data-1.00800-0400}}</td>
        <td class="left">8</td>
    </tr>
    <tr>
        <td class="right">9</td>
        <td> Other current assets</td>
        <td class="data">{{NumberFormat data-1.00900-0100}}</td>
        <td class="data">{{NumberFormat data-1.00900-0200}}</td>
        <td class="data">{{NumberFormat data-1.00900-0300}}</td>
        <td class="data">{{NumberFormat data-1.00900-0400}}</td>
        <td class="left">9</td>
    </tr>
    <tr>
        <td class="right">10</td>
        <td> Due from other funds</td>
        <td class="data">{{NumberFormat data-1.01000-0100}}</td>
        <td class="data">{{NumberFormat data-1.01000-0200}}</td>
        <td class="data">{{NumberFormat data-1.01000-0300}}</td>
        <td class="data">{{NumberFormat data-1.01000-0400}}</td>
        <td class="left">10</td>
    </tr>
    
    <tr>
        <td class="right">11</td>
        <td>  TOTAL CURRENT ASSETS (Sum of lines 1-10)</td>
        <td class="data">{{NumberFormat data-1.01100-0100}}</td>
        <td class="data">{{NumberFormat data-1.01100-0200}}</td>
        <td class="data">{{NumberFormat data-1.01100-0300}}</td>
        <td class="data">{{NumberFormat data-1.01100-0400}}</td>
        <td class="left">11</td>
    </tr>
    <tr>
        <td colspan="2" class="center">FIXED ASSETS</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="right">12</td>
        <td>Land</td>
        <td class="data">{{NumberFormat data-1.01200-0100}}</td>
        <td class="data">{{NumberFormat data-1.01200-0200}}</td>
        <td class="data">{{NumberFormat data-1.01200-0300}}</td>
        <td class="data">{{NumberFormat data-1.01200-0400}}</td>
        <td class="left">12</td>
    </tr>
    <tr>
        <td class="right">13</td>
        <td> Land Improvements</td>
        <td class="data">{{NumberFormat data-1.01300-0100}}</td>
        <td class="data">{{NumberFormat data-1.01300-0200}}</td>
        <td class="data">{{NumberFormat data-1.01300-0300}}</td>
        <td class="data">{{NumberFormat data-1.01300-0400}}</td>
        <td class="left">13</td>
    </tr>
    <tr>
        <td class="right">14</td>
        <td> Less: Accumulated Depreciation</td>
        <td>( <span class="data">{{NumberFormat data-1.01400-0100}}</span>)</td>
        <td class="data">{{NumberFormat data-1.01400-0200}}</td>
        <td class="data">{{NumberFormat data-1.01400-0300}}</td>
        <td class="data">{{NumberFormat data-1.01400-0400}}</td>
        <td class="left">14</td>
    </tr>
    <tr>
        <td class="right">15</td>
        <td>Buildings</td>
        <td class="data">{{NumberFormat data-1.01500-0100}}</td>
        <td class="data">{{NumberFormat data-1.01500-0200}}</td>
        <td class="data">{{NumberFormat data-1.01500-0300}}</td>
        <td class="data">{{NumberFormat data-1.01500-0400}}</td>
        <td class="left">15</td>
    </tr>
    <tr>
        <td class="right">16</td>
        <td> Less: Accumulated Depreciation</td>
        <td>( <span class="data">{{NumberFormat data-1.01600-0100}}</span>)</td>
        <td class="data">{{NumberFormat data-1.01600-0200}}</td>
        <td class="data">{{NumberFormat data-1.01600-0300}}</td>
        <td class="data">{{NumberFormat data-1.01600-0400}}</td>
        <td class="left">16</td>
    </tr>
    <tr>
        <td class="right">17</td>
        <td> Leasehold improvements</td>
        <td class="data">{{NumberFormat data-1.01700-0100}}</td>
        <td class="data">{{NumberFormat data-1.01700-0200}}</td>
        <td class="data">{{NumberFormat data-1.01700-0300}}</td>
        <td class="data">{{NumberFormat data-1.01700-0400}}</td>
        <td class="left">17</td>
    </tr>
    <tr>
        <td class="right">18</td>
        <td>  Less: Accumulated Depreciation</td>
        <td>( <span class="data">{{NumberFormat data-1.01800-0100}}</span>)</td>
        <td class="data">{{NumberFormat data-1.01800-0200}}</td>
        <td class="data">{{NumberFormat data-1.01800-0300}}</td>
        <td class="data">{{NumberFormat data-1.01800-0400}}</td>
        <td class="left">18</td>
    </tr>
    <tr>
        <td class="right">19</td>
        <td> Fixed equipment</td>
        <td class="data">{{NumberFormat data-1.01900-0100}}</td>
        <td class="data">{{NumberFormat data-1.01900-0200}}</td>
        <td class="data">{{NumberFormat data-1.01900-0300}}</td>
        <td class="data">{{NumberFormat data-1.01900-0400}}</td>
        <td class="left">19</td>
    </tr>
    <tr>
        <td class="right">20</td>
        <td> Less: Accumulated Depreciation</td>
        <td>( <span class="data">{{NumberFormat data-1.02000-0100}}</span>)</td>
        <td class="data">{{NumberFormat data-1.02000-0200}}</td>
        <td class="data">{{NumberFormat data-1.02000-0300}}</td>
        <td class="data">{{NumberFormat data-1.02000-0400}}</td>
        <td class="left">20</td>
    </tr>
    <tr>
        <td class="right">21</td>
        <td>  Automobiles and trucks</td>
        <td class="data">{{NumberFormat data-1.02100-0100}}</td>
        <td class="data">{{NumberFormat data-1.02100-0200}}</td>
        <td class="data">{{NumberFormat data-1.02100-0300}}</td>
        <td class="data">{{NumberFormat data-1.02100-0400}}</td>
        <td class="left">21</td>
    </tr>
    <tr>
        <td class="right">22</td>
        <td> Less: Accumulated Depreciation</td>
        <td>( <span class="data">{{NumberFormat data-1.02200-0100}}</span>)</td>
        <td class="data">{{NumberFormat data-1.02200-0200}}</td>
        <td class="data">{{NumberFormat data-1.02200-0300}}</td>
        <td class="data">{{NumberFormat data-1.02200-0400}}</td>
        <td class="left">22</td>
    </tr>
    <tr>
        <td class="right">23</td>
        <td>  Major movable equipment</td>
        <td class="data">{{NumberFormat data-1.02300-0100}}</td>
        <td class="data">{{NumberFormat data-1.02300-0200}}</td>
        <td class="data">{{NumberFormat data-1.02300-0300}}</td>
        <td class="data">{{NumberFormat data-1.02300-0400}}</td>
        <td class="left">23</td>
    </tr>
    <tr>
        <td class="right">24</td>
        <td> Less: Accumulated Depreciation</td>
        <td>( <span class="data">{{NumberFormat data-1.02400-0100}}</span>)</td>
        <td class="data">{{NumberFormat data-1.02400-0200}}</td>
        <td class="data">{{NumberFormat data-1.02400-0300}}</td>
        <td class="data">{{NumberFormat data-1.02400-0400}}</td>
        <td class="left">24</td>
    </tr>
    <tr>
        <td class="right">25</td>
        <td>  Minor equipment nondepreciable</td>
        <td class="data">{{NumberFormat data-1.02500-0100}}</td>
        <td class="data">{{NumberFormat data-1.02500-0200}}</td>
        <td class="data">{{NumberFormat data-1.02500-0300}}</td>
        <td class="data">{{NumberFormat data-1.02500-0400}}</td>
        <td class="left">25</td>
    </tr>
    <tr>
        <td class="right">26</td>
        <td>  Other fixed assets</td>
        <td class="data">{{NumberFormat data-1.02600-0100}}</td>
        <td class="data">{{NumberFormat data-1.02600-0200}}</td>
        <td class="data">{{NumberFormat data-1.02600-0300}}</td>
        <td class="data">{{NumberFormat data-1.02600-0400}}</td>
        <td class="left">26</td>
    </tr>
    <tr>
        <td class="right">27</td>
        <td> TOTAL FIXED ASSETS (Sum of lines 12-26)</td>
        <td class="data">{{NumberFormat data-1.02700-0100}}</td>
        <td class="data">{{NumberFormat data-1.02700-0200}}</td>
        <td class="data">{{NumberFormat data-1.02700-0300}}</td>
        <td class="data">{{NumberFormat data-1.02700-0400}}</td>
        <td class="left">27</td>
    </tr>
    <tr>
        <td colspan="2" class="center">OTHER ASSETS</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="right">28</td>
        <td> Investments</td>
        <td class="data">{{NumberFormat data-1.02800-0100}}</td>
        <td class="data">{{NumberFormat data-1.02800-0200}}</td>
        <td class="data">{{NumberFormat data-1.02800-0300}}</td>
        <td class="data">{{NumberFormat data-1.02800-0400}}</td>
        <td class="left">28</td>
    </tr>
    <tr>
        <td class="right">29</td>
        <td> Deposits on leases</td>
        <td class="data">{{NumberFormat data-1.02900-0100}}</td>
        <td class="data">{{NumberFormat data-1.02900-0200}}</td>
        <td class="data">{{NumberFormat data-1.02900-0300}}</td>
        <td class="data">{{NumberFormat data-1.02900-0400}}</td>
        <td class="left">29</td>
    </tr>
    <tr>
        <td class="right">30</td>
        <td> Due from owners/officers</td>
        <td class="data">{{NumberFormat data-1.03000-0100}}</td>
        <td class="data">{{NumberFormat data-1.03000-0200}}</td>
        <td class="data">{{NumberFormat data-1.03000-0300}}</td>
        <td class="data">{{NumberFormat data-1.03000-0400}}</td>
        <td class="left">30</td>
    </tr>
    <tr>
        <td class="right">31</td>
        <td class="data">{{NumberFormat data-1.03100-0000}}</td>
        <td class="data">{{NumberFormat data-1.03100-0100}}</td>
        <td class="data">{{NumberFormat data-1.03100-0200}}</td>
        <td class="data">{{NumberFormat data-1.03100-0300}}</td>
        <td class="data">{{NumberFormat data-1.03100-0400}}</td>
     
        <td class="left">31</td>
    </tr>
    <tr>
        <td class="right">32</td>
        <td>TOTAL OTHER ASSETS (Sum of lines 28-31)</td>
        <td class="data">{{NumberFormat data-1.03200-0100}}</td>
        <td class="data">{{NumberFormat data-1.03200-0200}}</td>
        <td class="data">{{NumberFormat data-1.03200-0300}}</td>
        <td class="data">{{NumberFormat data-1.03200-0400}}</td>
        <td class="left">32</td>
    </tr>
    <tr>
        <td class="right">33</td>
        <td>TOTAL ASSETS (Sum of lines 11, 27 and 32)</td>
        <td class="data">{{NumberFormat data-1.03300-0100}}</td>
        <td class="data">{{NumberFormat data-1.03300-0200}}</td>
        <td class="data">{{NumberFormat data-1.03300-0300}}</td>
        <td class="data">{{NumberFormat data-1.03300-0400}}</td>
        <td class="left">33</td>
    </tr>
    <tr>
        <td class="7" colspan="7">   LIABILITIES AND FUND BALANCE<div>(Omit Cents)</div></td>
    </tr>
    <tr>
        <td colspan="2" class="center">CURRENT  ASSETS</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="right">34</td>
        <td>  Accounts payable</td>
        <td class="data">{{NumberFormat data-1.03400-0100}}</td>
        <td class="data">{{NumberFormat data-1.03400-0200}}</td>
        <td class="data">{{NumberFormat data-1.03400-0300}}</td>
        <td class="data">{{NumberFormat data-1.03400-0400}}</td>
        <td class="left">34</td>
    </tr>
    <tr>
        <td class="right">35</td>
        <td> Salaries, wages & fees payable</td>
        <td class="data">{{NumberFormat data-1.03500-0100}}</td>
        <td class="data">{{NumberFormat data-1.03500-0200}}</td>
        <td class="data">{{NumberFormat data-1.03500-0300}}</td>
        <td class="data">{{NumberFormat data-1.03500-0400}}</td>
        <td class="left">35</td>
    </tr>
    <tr>
        <td class="right">36</td>
        <td> Payroll taxes payable</td>
        <td class="data">{{NumberFormat data-1.03600-0100}}</td>
        <td class="data">{{NumberFormat data-1.03600-0200}}</td>
        <td class="data">{{NumberFormat data-1.03600-0300}}</td>
        <td class="data">{{NumberFormat data-1.03600-0400}}</td>
        <td class="left">36</td>
    </tr>
    <tr>
        <td class="right">37</td>
        <td> Notes & loans payable (short term)/td>
        <td class="data">{{NumberFormat data-1.03700-0100}}</td>
        <td class="data">{{NumberFormat data-1.03700-0200}}</td>
        <td class="data">{{NumberFormat data-1.03700-0300}}</td>
        <td class="data">{{NumberFormat data-1.03700-0400}}</td>
        <td class="left">37</td>
    </tr>
    <tr>
        <td class="right">38</td>
        <td>  Deferred income</td>
        <td class="data">{{NumberFormat data-1.03800-0100}}</td>
        <td class="data">{{NumberFormat data-1.03800-0200}}</td>
        <td class="data">{{NumberFormat data-1.03800-0300}}</td>
        <td class="data">{{NumberFormat data-1.03800-0400}}</td>
        <td class="left">38</td>
    </tr>
    <tr>
        <td class="right">39</td>
        <td> Accelerated payments</td>
        <td class="data">{{NumberFormat data-1.03900-0100}}</td>
        <td class="data">{{NumberFormat data-1.03900-0200}}</td>
        <td class="data">{{NumberFormat data-1.03900-0300}}</td>
        <td class="data">{{NumberFormat data-1.03900-0400}}</td>
        <td class="left">39</td>
    </tr>
    <tr>
        <td class="right">40</td>
        <td>  Due to other funds</td>
        <td class="data">{{NumberFormat data-1.04000-0100}}</td>
        <td class="data">{{NumberFormat data-1.04000-0200}}</td>
        <td class="data">{{NumberFormat data-1.04000-0300}}</td>
        <td class="data">{{NumberFormat data-1.04000-0400}}</td>
        <td class="left">40</td>
    </tr>
    <tr>
        <td class="right">41</td>
        <td class="data"> {{data-1.04100-0000}}</td>
        <td class="data">{{NumberFormat data-1.04100-0100}}</td>
        <td class="data">{{NumberFormat data-1.04100-0200}}</td>
        <td class="data">{{NumberFormat data-1.04100-0300}}</td>
        <td class="data">{{NumberFormat data-1.04100-0400}}</td>
        <td class="left">41</td>
    </tr>
    <tr>
        <td class="right">42</td>
        <td> TOTAL CURRENT LIABILITIES (Sum of lines 34-41)</td>
        <td class="data">{{NumberFormat data-1.04200-0100}}</td>
        <td class="data">{{NumberFormat data-1.04200-0200}}</td>
        <td class="data">{{NumberFormat data-1.04200-0300}}</td>
        <td class="data">{{NumberFormat data-1.04200-0400}}</td>
        <td class="left">42</td>
    </tr>
    <tr>
        <td colspan="2" class="center">LONG TERM LIABILITIES</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td class="fillgrey">&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="right">43</td>
        <td> Mortgage payable</td>
        <td class="data">{{NumberFormat data-1.04300-0100}}</td>
        <td class="data">{{NumberFormat data-1.04300-0200}}</td>
        <td class="data">{{NumberFormat data-1.04300-0300}}</td>
        <td class="data">{{NumberFormat data-1.04300-0400}}</td>
        <td class="left">43</td>
    </tr>
    <tr>
        <td class="right">44</td>
        <td> Notes payable</td>
        <td class="data">{{NumberFormat data-1.04400-0100}}</td>
        <td class="data">{{NumberFormat data-1.04400-0200}}</td>
        <td class="data">{{NumberFormat data-1.04400-0300}}</td>
        <td class="data">{{NumberFormat data-1.04400-0400}}</td>
        <td class="left">44</td>
    </tr>
    <tr>
        <td class="right">45</td>
        <td> Unsecured Loans</td>
        <td class="data">{{NumberFormat data-1.04500-0100}}</td>
        <td class="data">{{NumberFormat data-1.04500-0200}}</td>
        <td class="data">{{NumberFormat data-1.04500-0300}}</td>
        <td class="data">{{NumberFormat data-1.04500-0400}}</td>
        <td class="left">45</td>
    </tr>
    <tr>
        <td class="right">46</td>
        <td> Loans from owners - prior to 7/1/66</td>
        <td class="data">{{NumberFormat data-1.04600-0100}}</td>
        <td class="data">{{NumberFormat data-1.04600-0200}}</td>
        <td class="data">{{NumberFormat data-1.04600-0300}}</td>
        <td class="data">{{NumberFormat data-1.04600-0400}}</td>
        <td class="left">46</td>
    </tr>
    <tr>
        <td class="right">47</td>
        <td>Loans from owners - on or after 7/1/66</td>
        <td class="data">{{NumberFormat data-1.04700-0100}}</td>
        <td class="data">{{NumberFormat data-1.04700-0200}}</td>
        <td class="data">{{NumberFormat data-1.04700-0300}}</td>
        <td class="data">{{NumberFormat data-1.04700-0400}}</td>
        <td class="left">47</td>
    </tr>
    <tr>
        <td class="right">48</td>
        <td>Other (Specify)</td>
        <td class="data">{{NumberFormat data-1.04800-0100}}</td>
        <td class="data">{{NumberFormat data-1.04800-0200}}</td>
        <td class="data">{{NumberFormat data-1.04800-0300}}</td>
        <td class="data">{{NumberFormat data-1.04800-0400}}</td>
        <td class="left">48</td>
    </tr>
    <tr>
        <td class="right">49</td>
        <td> TOTAL LONG TERM LIABILITIES <div> (Sum of lines 43-48)</div></td>
        <td class="data">{{NumberFormat data-1.04900-0100}}</td>
        <td class="data">{{NumberFormat data-1.04900-0200}}</td>
        <td class="data">{{NumberFormat data-1.04900-0300}}</td>
        <td class="data">{{NumberFormat data-1.04900-0400}}</td>
        <td class="left">49</td>
    </tr>
    <tr>
        <td class="right">50</td>
        <td> TOTAL LIABILITIES (Sum of lines 42 and 49)</td>
        <td class="data">{{NumberFormat data-1.05000-0100}}</td>
        <td class="data">{{NumberFormat data-1.05000-0200}}</td>
        <td class="data">{{NumberFormat data-1.05000-0300}}</td>
        <td class="data">{{NumberFormat data-1.05000-0400}}</td>
        <td class="left">50</td>
    </tr>
    <tr>
        <td colspan="7">       CAPITAL ACCOUNTS</td>
    </tr>
    <tr>
        <td class="right">51</td>
        <td> General fund balance</td>
        <td class="data">{{NumberFormat data-1.05100-0100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.05100-0200}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.05100-0300}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.05100-0400}}</td>
        <td class="left">51</td>
    </tr>
    <tr>
        <td class="right">52</td>
        <td> Specific purpose fund balance</td>
        <td class="data fillgrey">{{NumberFormat data-1.05200-0100}}</td>
        <td class="data">{{NumberFormat data-1.05200-0200}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.05200-0300}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.05200-0400}}</td>
        <td class="left">52</td>
    </tr>
    <tr>
        <td class="right">53</td>
        <td> Donor created--Endowment fund balance--restricted</td>
        <td class="data fillgrey">{{NumberFormat data-1.05300-0100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.05300-0200}}</td>
        <td class="data">{{NumberFormat data-1.05300-0300}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.05300-0400}}</td>
        <td class="left">53</td>
    </tr>
    <tr>
        <td class="right">54</td>
        <td> Donor created--Endowment fund balance--unrestricted</td>
        <td class="data fillgrey">{{NumberFormat data-1.05400-0100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.05400-0200}}</td>
        <td class="data">{{NumberFormat data-1.05400-0300}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.05400-0400}}</td>
        <td class="left">54</td>
    </tr>
    <tr>
        <td class="right">55</td>
        <td> Governing body created--Endowment fund balance</td>
        <td class="data fillgrey">{{NumberFormat data-1.05500-0100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.05500-0200}}</td>
        <td class="data">{{NumberFormat data-1.05500-0300}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.05500-0400}}</td>
        <td class="left">55</td>
    </tr>
    <tr>
        <td class="right">56</td>
        <td>  Plant fund balance--Invested in plant </td>
        <td class="data fillgrey">{{NumberFormat data-1.05600-0100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.05600-0200}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.05600-0300}}</td>
        <td class="data">{{NumberFormat data-1.05600-0400}}</td>
        <td class="left">56</td>
    </tr>
    <tr>
        <td class="right">57</td>
        <td> Plant fund balance-- Reserve for plant improvement,  replacement and expansion</td>
        <td class="data fillgrey">{{NumberFormat data-1.05700-0100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.05700-0200}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.05700-0300}}</td>
        <td class="data">{{NumberFormat data-1.05700-0400}}</td>
        <td class="left">57</td>
    </tr>
    <tr>
        <td class="right">58</td>
        <td>  TOTAL FUND BALANCES (Sum of lines 51 thru 57)</td>
        <td class="data">{{NumberFormat data-1.05800-0100}}</td>
        <td class="data">{{NumberFormat data-1.05800-0200}}</td>
        <td class="data">{{NumberFormat data-1.05800-0300}}</td>
        <td class="data">{{NumberFormat data-1.05800-0400}}</td>
        <td class="left">58</td>
    </tr>
    <tr>
        <td class="right">59</td>
        <td> TOTAL LIABILITIES AND FUND BALANCE (Sum  of lines 50 and 58)</td>
        <td class="data">{{NumberFormat data-1.05900-0100}}</td>
        <td class="data">{{NumberFormat data-1.05900-0200}}</td>
        <td class="data">{{NumberFormat data-1.05900-0300}}</td>
        <td class="data">{{NumberFormat data-1.05900-0400}}</td>
        <td class="left">59</td>
    </tr>
    <tr>
        <td class="center" colspan="7">(             ) = contra amount</td>
    </tr>
    <tr>
        <td colspan="7">FORM CMS-1728-94-F  (10/2016)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 3218)</td>
    </tr>   
    <tr>
        <td colspan="2" class="border-right">32-324</td>
        <td colspan="3" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">Rev. 17</td>
    </tr>
</tbody>
</table>
</div>