<div class="report">
<table id="report_table" border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
    <col width="4%" />
    <col width="50%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="4%" /> 
</colgroup>
<thead>
    <tr>
        <td colspan="2"><div class="center">STATEMENT OF REVENUE AND EXPENSES</div></td>
        <td>PROVIDER  CCN:<span class="data">{{pId}}</span></td>
        <td>
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="2"> WORKSHEET F-1</td>
    </tr>
</thead>
<tbody>
    <tr>
        <td class="right">1</td>
        <td colspan="2">  Total patient revenues</td>
        <td class="data">{{NumberFormat data-1.00100-0100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00100-0200}}</td>
        <td class="left">1</td>
    </tr>
    <tr>
        <td class="right">2</td>
        <td colspan="2"> Less:  Allowances and discounts on patients' accounts</td>
        <td class="data">{{NumberFormat data-1.00200-0100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00200-0200}}</td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td colspan="2"> Net patient revenues (Line 1 minus line 2)</td>
        <td class="data fillgrey">{{NumberFormat data-1.00300-0100}}</td>
        <td class="data">{{NumberFormat data-1.00300-0200}}</td>
        <td class="left">3</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td colspan="2"> Operating expenses (From Worksheet A, column 6, line 29)</td>
        <td class="data">{{NumberFormat data-1.00400-0100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00400-0200}}</td>
        <td class="left">4</td>
    </tr>
    <tr>
        <td class="right">5</td>
        <td colspan="2"> Additions to operating expenses (Specify)</td>
        <td class="data">{{NumberFormat data-1.00500-0100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00500-0200}}</td>
        <td class="left">5</td>
    </tr>
    <tr>
        <td class="right">6</td>
        <td colspan="2" class="data">{{NumberFormat data-1.00600-0000}}</td>
        <td class="data">{{NumberFormat data-1.00600-0100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00600-0200}}</td>
        <td class="left">6</td>
    </tr>
    <tr>
        <td class="right">7</td>
        <td colspan="2" class="data">{{NumberFormat data-1.00700-0000}}</td>
        <td class="data">{{NumberFormat data-1.00700-0100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00700-0200}}</td>
        <td class="left">7</td>
    </tr>
    <tr>
        <td class="right">8</td>
        <td colspan="2" class="data">{{NumberFormat data-1.00800-0000}}</td>
        <td class="data">{{NumberFormat data-1.00800-0100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00800-0200}}</td>
        <td class="left">8</td>
    </tr>
    <tr>
        <td class="right">9</td>
        <td colspan="2" class="data">{{NumberFormat data-1.00900-0000}}</td>
        <td class="data">{{NumberFormat data-1.00900-0100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00900-0200}}</td>
        <td class="left">9</td>
    </tr>
    <tr>
        <td class="right">10</td>
        <td colspan="2" class="data">{{NumberFormat data-1.01000-0000}}</td>
        <td class="data">{{NumberFormat data-1.01000-0100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01000-0200}}</td>
        <td class="left">10</td>
    </tr>
    
    <tr>
        <td class="right">11</td>
        <td colspan="2">Subtractions from operating expenses (Specify)</td>
        <td class="data">{{NumberFormat data-1.01100-0100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01100-0200}}</td>
        <td class="left">11</td>
    </tr>
    <tr>
        <td class="right">12</td>
        <td colspan="2" class="data">{{NumberFormat data-1.01200-0000}}</td>
        <td class="data">{{NumberFormat data-1.01200-0100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01200-0200}}</td>
        <td class="left">12</td>
    </tr>
    <tr>
        <td class="right">13</td>
        <td colspan="2" class="data">{{NumberFormat data-1.01300-0000}}</td>
        <td class="data">{{NumberFormat data-1.01300-0100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01300-0200}}</td>
        <td class="left">13</td>
    </tr>
    <tr>
        <td class="right">14</td>
        <td colspan="2" class="data">{{NumberFormat data-1.01400-0000}}</td>
        <td class="data">{{NumberFormat data-1.01400-0100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01400-0200}}</td>
        <td class="left">14</td>
    </tr>
    <tr>
        <td class="right">15</td>
        <td colspan="2" class="data">{{NumberFormat data-1.01500-0000}}</td>
        <td class="data">{{NumberFormat data-1.01500-0100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01500-0200}}</td>
        <td class="left">15</td>
    </tr>
    <tr>
        <td class="right">16</td>
        <td colspan="2" class="data">{{NumberFormat data-1.01600-0000}}</td>
        <td class="data">{{NumberFormat data-1.01600-0100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01600-0200}}</td>
        <td class="left">16</td>
    </tr>
    <tr>
        <td class="right">17</td>
        <td colspan="2"> Less total operating expenses (net of lines 4 thru 16)</td>
        <td class="data fillgrey">{{NumberFormat data-1.01700-0100}}</td>
        <td class="data">{{NumberFormat data-1.01700-0200}}</td>
        <td class="left">17</td>
    </tr>
    <tr>
        <td class="right">18</td>
        <td colspan="2"> Net income from service to patients (Line 3 minus line 17)</td>
        <td class="data fillgrey">{{NumberFormat data-1.01800-0100}}</td>
        <td class="data">{{NumberFormat data-1.01800-0200}}</td>
        <td class="left">18</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="4"> Other income:</td>
    </tr>
    <tr>
        <td class="right">19</td>
        <td colspan="2">  Contributions, donations, bequests, etc.</td>
        <td class="data">{{NumberFormat data-1.01900-0100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.01900-0200}}</td>
        <td class="left">19</td>
    </tr>
    <tr>
        <td class="right">20</td>
        <td colspan="2"> Income from investments</td>
        <td class="data">{{NumberFormat data-1.02000-0100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.02000-0200}}</td>
        <td class="left">20</td>
    </tr>
    <tr>
        <td class="right">21</td>
        <td colspan="2"> Purchase discounts</td>
        <td class="data">{{NumberFormat data-1.02100-0100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.02100-0200}}</td>
        <td class="left">21</td>
    </tr>
    <tr>
        <td class="right">22</td>
        <td colspan="2"> Rebates and refunds of expenses</td>
        <td class="data">{{NumberFormat data-1.02200-0100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.02200-0200}}</td>
        <td class="left">22</td>
    </tr>
    <tr>
        <td class="right">23</td>
        <td colspan="2"> Sale of Medical and Nursing Supplies to other than patients</td>
        <td class="data">{{NumberFormat data-1.02300-0100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.02300-0200}}</td>
        <td class="left">23</td>
    </tr>
    <tr>
        <td class="right">24</td>
        <td colspan="2">  Sale of durable medical equipment to other than patients</td>
        <td class="data">{{NumberFormat data-1.02400-0100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.02400-0200}}</td>
        <td class="left">24</td>
    </tr>
    <tr>
        <td class="right">25</td>
        <td colspan="2">  Sale of drugs to other than patients</td>
        <td class="data">{{NumberFormat data-1.02500-0100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.02500-0200}}</td>
        <td class="left">25</td>
    </tr>
    <tr>
        <td class="right">26</td>
        <td colspan="2">  Sale of medical records and abstracts</td>
        <td class="data">{{NumberFormat data-1.02600-0100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.02600-0200}}</td>
        <td class="left">26</td>
    </tr>
    <tr>
        <td class="right">27</td>
        <td colspan="2">Other revenues (Specify)</td>
        <td class="data">{{NumberFormat data-1.02700-0100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.02700-0200}}</td>
        <td class="left">27</td>
    </tr>
    <tr>
        <td class="right">28</td>
        <td colspan="2" class="data">{{NumberFormat data-1.02800-0000}}</td>
        <td class="data">{{NumberFormat data-1.02800-0100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.02800-0200}}</td>
        <td class="left">28</td>
    </tr>
    <tr>
        <td class="right">29</td>
        <td colspan="2" class="data">{{NumberFormat data-1.02900-0000}}</td>
        <td class="data">{{NumberFormat data-1.02900-0100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.02900-0200}}</td>
        <td class="left">29</td>
    </tr>
    <tr>
        <td class="right">30</td>
        <td colspan="2" class="data">{{NumberFormat data-1.03000-0000}}</td>
        <td class="data">{{NumberFormat data-1.03000-0100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.03000-0200}}</td>
        <td class="left">30</td>
    </tr>
    <tr>
        <td class="right">31</td>
        <td colspan="2" class="data">{{NumberFormat data-1.03100-0000}}</td>
        <td class="data">{{NumberFormat data-1.03100-0100}}</td>
        <td class="data">{{NumberFormat data-1.03100-0200}}</td>
        <td class="left">31</td>
    </tr>
    <tr>
        <td class="right">32</td>
        <td colspan="2"> Total Other Income (Sum of lines 19 thru 31)</td>
        <td class="data fillgrey">{{NumberFormat data-1.03200-0100}}</td>
        <td class="data">{{NumberFormat data-1.03200-0200}}</td>
        <td class="left">32</td>
    </tr>
    <tr>
        <td class="right">33</td>
        <td colspan="2"> Net Income or Loss for the period (Line 18 plus line 32)</td>
        <td class="data fillgrey">{{NumberFormat data-1.03300-0100}}</td>
        <td class="data">{{NumberFormat data-1.03300-0200}}</td>
        <td class="left">33</td>
    </tr>
    <tr>
        <td colspan="7">FORM CMS-1728-94  (10/2016)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 3218)</td>
    </tr>   
    <tr>
        <td colspan="2" class="border-right">Rev. 17</td>
        <td colspan="3" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">32-325</td>
    </tr>
</tbody>
</table>
</div>