<div class="report">
<table id="report_table" border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
    <col width="4%" />
    <col width="25%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="4%" /> 
</colgroup>
<thead>
    <tr>
        <td colspan="5">STATEMENT OF CHANGES IN FUND BALANCES</td>
        <td colspan="2">PROVIDER  CCN:<span class="data">{{pId}}</span></td>
        <td colspan="2">
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="2">  WORKSHEET F-2</td>
    </tr>
</thead>
<tbody>
    <tr>
        <td colspan="2" rowspan="2">&nbsp;</td>
        <td class="center" colspan="2">GENERAL FUND</td>
        <td class="center" colspan="2">SPECIFIC PURPOSE FUND</td>
        <td class="center" colspan="2">ENDOWMENT FUND</td>
        <td class="center" colspan="3">PLANT FUND</td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
        <td class="center">5</td>
        <td class="center">6</td>
        <td class="center">7</td>
        <td class="center">8</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td> Fund balances at beginning of period</td>
        <td class="data" rowspan="4">{{NumberFormat data-1.00100-00100}}</td>
        <td class="data">{{NumberFormat data-1.00100-00200}}</td>
        <td class="data" rowspan="4">{{NumberFormat data-1.00100-00300}}</td>
        <td class="data">{{NumberFormat data-1.00100-00400}}</td>
        <td class="data" rowspan="4">{{NumberFormat data-1.00100-00500}}</td>
        <td class="data">{{NumberFormat data-1.00100-00600}}</td>
        <td class="data" rowspan="4">{{NumberFormat data-1.00100-00700}}</td>
        <td class="data">{{NumberFormat data-1.00100-00800}}</td>
        <td class="left">1</td>
    </tr>
    <tr>
        <td  class="right">2</td>
        <td> Net Income (loss) (From Worksheet F-1, line 33)</td>
        <td class="data">{{NumberFormat data-1.00200-00200}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00200-00400}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00200-00600}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.00200-00800}}</td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td> Total (Sum of line 1 and line 2)</td>
        <td class="data">{{NumberFormat data-1.00300-00200}}</td>
        <td class="data">{{NumberFormat data-1.00300-00400}}</td>
        <td class="data">{{NumberFormat data-1.00300-00600}}</td>
        <td class="data">{{NumberFormat data-1.00300-00800}}</td>
        <td class="left">3</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td> Additions (Credit adjustments) (Specify)</td>
        <td class="data" rowspan="6">{{NumberFormat data-1.00400-00200}}</td>
        <td class="data" rowspan="6">{{NumberFormat data-1.00100-00400}}</td>
        <td class="data" rowspan="6">{{NumberFormat data-1.00100-00600}}</td>
        <td class="data" rowspan="6">{{NumberFormat data-1.00100-00800}}</td>
        <td class="left">4</td>
    </tr>
    <tr>
        <td class="right">5</td>
        <td class="data"></td>
        <td class="data">{{NumberFormat data-1.00500-00100}}</td>
        <td class="data">{{NumberFormat data-1.00500-00300}}</td>
        <td class="data">{{NumberFormat data-1.00500-00500}}</td>
        <td class="data">{{NumberFormat data-1.00500-00700}}</td>
        <td class="left">5</td>
    </tr>
    <tr>
        <td class="right">6</td>
        <td class="data"></td>
        <td class="data">{{NumberFormat data-1.00600-00100}}</td>
        <td class="data">{{NumberFormat data-1.00600-00300}}</td>
        <td class="data">{{NumberFormat data-1.00600-00500}}</td>
        <td class="data">{{NumberFormat data-1.00600-00700}}</td>
        <td class="left">6</td>
    </tr>
    <tr>
        <td class="right">7</td>
        <td class="data"></td>
        <td class="data">{{NumberFormat data-1.00700-00100}}</td>
        <td class="data">{{NumberFormat data-1.00700-00300}}</td>
        <td class="data">{{NumberFormat data-1.00700-00500}}</td>
        <td class="data">{{NumberFormat data-1.00700-00700}}</td>
        <td class="left">7</td>
    </tr>
    <tr>
        <td class="right">8</td>
        <td class="data"></td>
        <td class="data">{{NumberFormat data-1.00800-00100}}</td>
        <td class="data">{{NumberFormat data-1.00800-00300}}</td>
        <td class="data">{{NumberFormat data-1.00800-00500}}</td>
        <td class="data">{{NumberFormat data-1.00800-00700}}</td>
        <td class="left">8</td>
    </tr>
    <tr>
        <td class="right">9</td>
        <td> Total Additions (Sum of lines 4-8)</td>
        <td class="data" rowspan="3">{{NumberFormat data-1.00900-00100}}</td>
        <td class="data" rowspan="3">{{NumberFormat data-1.00900-00300}}</td>
        <td class="data" rowspan="3">{{NumberFormat data-1.00900-00500}}</td>
        <td class="data" rowspan="3">{{NumberFormat data-1.00900-00700}}</td>
        <td class="left">9</td>
    </tr>
    <tr>
        <td class="right">10</td>
        <td> Subtotal (line 3 plus line 9)</td>
        <td class="data">{{NumberFormat data-1.01000-00200}}</td>
        <td class="data">{{NumberFormat data-1.01000-00400}}</td>
        <td class="data">{{NumberFormat data-1.01000-00600}}</td>
        <td class="data">{{NumberFormat data-1.01000-00800}}</td>
        <td class="left">10</td>
    </tr>
    <tr>
        <td class="right">11</td>
        <td> Deductions (Debit adjustments) (Specify)</td>
        <td class="data" rowspan="6">{{NumberFormat data-1.01100-00200}}</td>
        <td class="data" rowspan="6">{{NumberFormat data-1.01100-00400}}</td>
        <td class="data" rowspan="6">{{NumberFormat data-1.01100-00600}}</td>
        <td class="data" rowspan="6">{{NumberFormat data-1.01100-00800}}</td>
        <td class="left">11</td>
    </tr>
    <tr>
        <td class="right">12</td>
        <td class="data"></td>
        <td class="data">{{NumberFormat data-1.01200-00100}}</td>
        <td class="data">{{NumberFormat data-1.01200-00300}}</td>
        <td class="data">{{NumberFormat data-1.01200-00500}}</td>
        <td class="data">{{NumberFormat data-1.01200-00700}}</td>
        <td class="left">12</td>
    </tr>
    <tr>
        <td class="right">13</td>
        <td class="data"></td>
        <td class="data">{{NumberFormat data-1.01300-00100}}</td>
        <td class="data">{{NumberFormat data-1.01300-00300}}</td>
        <td class="data">{{NumberFormat data-1.01300-00500}}</td>
        <td class="data">{{NumberFormat data-1.01300-00700}}</td>
        <td class="left">13</td>
    </tr>
    <tr>
        <td class="right">14</td>
        <td class="data"></td>
        <td class="data">{{NumberFormat data-1.01400-00100}}</td>
        <td class="data">{{NumberFormat data-1.01400-00300}}</td>
        <td class="data">{{NumberFormat data-1.01400-00500}}</td>
        <td class="data">{{NumberFormat data-1.01400-00700}}</td>
        <td class="left">14</td>
    </tr>
    <tr>
        <td class="right">15</td>
        <td class="data"></td>
        <td class="data">{{NumberFormat data-1.01500-00100}}</td>
        <td class="data">{{NumberFormat data-1.01500-00300}}</td>
        <td class="data">{{NumberFormat data-1.01500-00500}}</td>
        <td class="data">{{NumberFormat data-1.01500-00700}}</td>
        <td class="left">15</td>
        
    </tr>
    <tr>
        <td class="right">16</td>
        <td> Total Deductions (Sum of lines 11-15)</td>
        <td class="data">{{NumberFormat data-1.01600-00100}}</td>
        <td class="data" rowspan="2">{{NumberFormat data-1.01600-00300}}</td>
        <td class="data" rowspan="2">{{NumberFormat data-1.01600-00500}}</td>
        <td class="data" rowspan="2">{{NumberFormat data-1.01600-00700}}</td>
        <td class="left">16</td>
    </tr>
    <tr>
        <td class="right">17</td>
        <td> Fund balance at end of period per balance sheet  (line 10 minus line 16)</td>
        <td class="data">{{NumberFormat data-1.01700-00100}}</td>
        <td class="data">{{NumberFormat data-1.01700-00200}}</td>
        <td class="data">{{NumberFormat data-1.01700-00400}}</td>
        <td class="data">{{NumberFormat data-1.01700-00600}}</td>
        <td class="data">{{NumberFormat data-1.01700-00800}}</td>
        <td class="left">17</td>
    </tr>
    <tr>
        <td colspan="11">FORM CMS-1728-94-F-2  (10/2016)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 3218)</td>
    </tr>   
    <tr>
        <td colspan="2" class="border-right">32-326</td>
        <td colspan="7" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">Rev. 17</td>
    </tr>
</tbody>
</table>
</div>