<div class="report">
    <table id="report_table" border="1" width="1200" cellspacing="1" cellpadding="1">
        <colgroup>
        <col width="4%" />
        <col width="30%" />
        <col width="12%" />
        <col width="12%" />
        <col width="12%" />
        <col width="12%" />
        <col width="12%" />
        <col width="12%" />
        <col width="12%" />
        <col width="12%" />
        <col width="12%" />
        <col width="4%" />
        </colgroup>
        <thead>
        <tr>
        <td colspan="6">HOSPICE COST ALLOCATION - GENERAL SERVICE COST
</div>
</td>
<td colspan="2">Provider CCN: <span class="data">{{pId}}</span><div>HOSPICE  CCN: <span class="data"></span></div></td>
<td colspan="2">
    <div>PERIOD:</div>
    <div>FROM <span class="data">{{year.start}}</span></div>
    <div>TO <span class="data">{{year.end}}</span></div>
</td>
<td colspan="2"> WORKSHEET K-4 PART I
</td>
</tr>
</thead>
<tbody>
    <tr>
        <td colspan="2" rowspan="3" class="center">COST CENTER DESCRIPTIONS</td>
        <td rowspan="2" class="center">NET
        EXPENSES
        FOR COST ALLOC. (FR. WKST K, COL. 10)</td>
        <td colspan="2" class="center">CAPITAL RELATED
        COST</td>
        <td rowspan="2" class="center">PLANT OPERATION & MAINT </td>
        <td rowspan="2" class="center">TRANS- PORTATION</td>
        <td rowspan="2" class="center">VOLUNTEER
        SERVICES COORDINATOR</td>
        <td rowspan="2" class="center">SUBTOTAL (col. 0 - 5)</td>
        <td rowspan="2" class="center">ADMINIS-
        TRATIVE &
        GENERAL</td>
        <td rowspan="2" class="center">TOTAL</td>
        <td rowspan="2"></td>
    </tr>
    <tr>
        <td>BUILDINGS & FIXTURES </td>
        <td>MOVABLE EQUIPMENT</td>
    </tr>
    <tr>
        <td class="center">0</td>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
        <td class="center">5</td>
        <td class="center">5 A</td>
        <td class="center">6</td>
        <td class="center">7</td>
        <td class="center"></td>
    </tr>
    <tr>
        <td class="right"></td>
        <td> GENERAL SERVICE COST CENTER</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td></td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td> Capital Related - Bldg. and Fixtures</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>

        <td class="left">1</td>

    </tr>
    <tr>
        <td class="right">2</td>
        <td>Capital Related Costs-Movable Equip.</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>

        <td class="left">2</td>

    </tr>
    <tr>
        <td class="right">3</td>
        <td>Plant Operation and Maintenance</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>

        <td class="left">3</td>

    </tr>
    <tr>
        <td class="right">4</td>
        <td>Transortation - Staff</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>

        <td class="left">4</td>

    </tr>
    <tr>
        <td class="right">5</td>
        <td>Volunteer Service Coordination</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>

        <td class="left">5</td>

    </tr>
    <tr>
        <td class="right">6</td>
        <td>Administrative and General</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data fillgrey"></td>

        <td class="left">6</td>

    </tr>

    <tr>
        <td class="right"></td>
        <td> INPATIENT CARE SERVICE</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td></td>
    </tr>

    <tr>
        <td class="right">7</td>
        <td>Inpatient - General Care</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>

        <td class="left">7</td>

    </tr>
    <tr>
        <td class="right">8</td>
        <td>Inpatient - Respite Care</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>

        <td class="left">8</td>

    </tr>

    <tr>
        <td class="right"></td>
        <td>VISITING SERVICES</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td></td>
    </tr>

    <tr>
        <td class="right">9</td>
        <td>Physician Services</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>

        <td class="left">9</td>

    </tr>
    <tr>
        <td class="right">10</td>
        <td>Nursing Care</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>

        <td class="left">10</td>

    </tr>
    <tr>
        <td class="right">10.20</td>
        <td>Nursing Care - Continuous Home Care</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>

        <td class="left">10.20</td>

    </tr>
    <tr>
        <td class="right">11</td>
        <td>Physical Therapy</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
    
        <td class="left">11</td>
    
        </tr>
        <tr>
        <td class="right">12</td>
        <td>Occupational Therapy</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        
        <td class="left">12</td>
        
        </tr>
        <tr>
        <td class="right">13</td>
        <td>Speech/ Language Pathology</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        
        <td class="left">13</td>
        
        </tr>
        <tr>
        <td class="right">14</td>
        <td>Medical Social Services - Direct</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        
        <td class="left">14</td>
        
        </tr>
        <tr>
        <td class="right">15</td>
        <td>Spiritual Counseling</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        
        <td class="left">15</td>
        
        </tr>
        <tr>
        <td class="right">16</td>
        <td>Dietary Counseling</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        
        <td class="left">16</td>
        
        </tr>

        <tr>
        <td class="right">17</td>
        <td>Counseling - Other </td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        
        <td class="left">17</td>
        
        </tr>
        <tr>
        <td class="right">18</td>
        <td>Home Health Aide and Homemakers </td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        
        <td class="left">18</td>
        
        </tr>
        <tr>
        <td class="right">18.20</td>
        <td>Home Health Aide and Homemaker-Cont Home Care </td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        
        <td class="left">18.20</td>
        
        </tr>
        <tr>
        <td class="right">19</td>
        <td>Other </td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        
        <td class="left">19</td>
        
        </tr>
        
    <tr>
        <td class="right"></td>
        <td>OTHER HOSPICE SERVICE COSTS</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td></td>
        </tr>
        <tr>
        <td class="right">20</td>
        <td>Drugs, Biologicals and Infusion </td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        
        <td class="left">20</td>
        
        </tr>
        <tr>
        <td class="right">20.30</td>
        <td>Analgesics </td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        
        <td class="left">20.30</td>
        
        </tr>
        <tr>
        <td class="right">20.31</td>
        <td>Sedatives/Hypnotics </td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        
        <td class="left">20.31</td>
        
        </tr>
        <tr>
        <td class="right">20.32</td>
        <td>Other - specify </td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        
        <td class="left">20.32</td>
        
        </tr>
        <tr>
        <td class="right">21</td>
        <td>Durable Medical Equipment/Oxygen </td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        
        <td class="left">21</td>
        
        </tr>
        <tr>
        <td class="right">22</td>
        <td>Patient Transportation </td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        
        <td class="left">22</td>
        
        </tr>
        <tr>
        <td class="right">23</td>
        <td>Imaging Services </td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        
        <td class="left">23</td>
        
        </tr>
        <tr>
        <td class="right">24</td>
        <td>Labs and Diagnostics </td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        
        <td class="left">24</td>
        
        </tr>
        <tr>
        <td class="right">25</td>
        <td>Medical Supplies </td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        
        <td class="left">25</td>
        
        </tr>
        <tr>
        <td class="right">26</td>
        <td>Outpatient Services (incl. E/R Dept.) </td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        
        <td class="left">26</td>
        
        </tr>
        <tr>
        <td class="right">27</td>
        <td>Radiation Therapy</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        
        <td class="left">27</td>
        
        </tr>
        <tr>
        <td class="right">28</td>
        <td>Chemotherapy</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        
        <td class="left">28</td>
        
        </tr>
        <tr>
        <td class="right">29</td>
        <td>Others</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        
        <td class="left">29</td>
        
        </tr>
        <tr>
        <td class="right"></td>
        <td>HOSPICE NONREIMBURSABLE SERV</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td></td>
        </tr>
        <tr>
        <td class="right">30</td>
        <td>Bereavement Program Costs</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        
        <td class="left">30</td>
        
        </tr>
        <tr>
        <td class="right">31</td>
        <td>Volunteer Program Cost</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        
        <td class="left">31</td>
        
        </tr>
        <tr>
        <td class="right">32</td>
        <td>Fundraising</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        
        <td class="left">32</td>
        
        </tr>
        <tr>
        <td class="right">33</td>
        <td>Other Program Costs</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        
        <td class="left">33</td>
        
        </tr>
        <tr>
        <td class="right">34</td>
        <td>Total (sum of line 1 thru 33)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data  fillgrey"></td>
        <td class="data"></td>
        
        <td class="left">34</td>
        
        </tr>
        
        <tr>
        <td colspan="12">FORM CMS-1728-94-K-4 (10/2016) (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 3244)</td>
        </tr>
        <tr>
        <td colspan="2" class="border-right">32-3315</td>
        <td colspan="8" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">Rev. 17</td>
        </tr>
</tbody>
</table>
</div>