<div class="report">
<table id="report_table" border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
    <col width="5%" />
    <col width="30%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="5%" /> 
</colgroup>
<thead>
    <tr>
        <td colspan="3">STATEMENT OF CHANGES IN FUND BALANCES</td>
        <td colspan="2">PROVIDER  CCN:<span class="data">{{pId}}</span><div>HOSPICE CCN:<span class="data"></span></div></td>
        <td colspan="2">
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="2">  WORKSHEET K-5<div> Part II</div></td>
    </tr>
</thead>
<tbody>
    <tr>
        <td class="center" colspan="2" rowspan="3">HOSPICE COST CENTER</td>
        <td colspan="2" class="center">CAPITAL RELATED COST</td>
        <td class="center" rowspan="2">PLANT<div>OPERATION &</div><div>MAIN-</div><div>TENANCE</div><div>(SQUARE FEET)</div></td>
        <td class="center" rowspan="2">TRANS-<div>PORTATION</div><div>(MILAGE)</div></td>
        <td class="center" rowspan="2">RECONCIL-<div>IATION</div></td>
        <td class="center" rowspan="2">ADMINIS-<div>TRATIVE &</div><div>GENERAL</div><div>(ACCUM.</div><div>COST)</div></td>
        <td rowspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td class="center">BUILDINGS<div>& FIXTURES</div><div>(SQUARE FEET)</div></td>
        <td class="center">MOVABLE<div>EQUIPMENT</div><div>(DOLLAR VALUE)</div></td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
        <td class="center">5A</td>
        <td class="center">5</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
<td class="right">1</td>
<td>Administrative and General</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="left">1</td>
</tr>
<tr>
<td class="right">2</td>
<td>Inpatient - General Care</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="left">2</td>
</tr>
<tr>
<td class="right">3</td>
<td>Inpatient - Respite Care</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="left">3</td>
</tr>
<tr>
<td class="right">4</td>
<td>Physician Services</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="left">4</td>
</tr>
<tr>
<td class="right">5</td>
<td>Nursing Care</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="left">5</td>
</tr>
<tr>
<td class="right">5.20</td>
<td>Nursing Care - Continuous Home Care</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="left">5.20</td>
</tr>
<tr>
<td class="right">6</td>
<td>Physical Therapy</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="left">6</td>
</tr>
<tr>
<td class="right">7</td>
<td>Occupational Therapy</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="left">7</td>
</tr>
<tr>
<td class="right">8</td>
<td>Speech/ Language Pathology</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="left">8</td>
</tr>
<tr>
<td class="right">9</td>
<td>Medical Social Services - Direct</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="left">9</td>
</tr>
<tr>
<td class="right">10</td>
<td>Spiritual Counseling</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="left">10</td>
</tr>
<tr>
<td class="right">11</td>
<td>Dietary Counseling</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="left">11</td>
</tr>
<tr>
<td class="right">12</td>
<td>Counseling - Other</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="left">12</td>
</tr>
<tr>
<td class="right">13</td>
<td>Home Health Aide and Homemakers</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="left">13</td>
</tr>
  <tr>
<td class="right">13.20</td>
<td>Home Health Aide and Homemaker-Cont Home Care</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="left">13.20</td>
</tr>
<tr>
<td class="right">14</td>
<td>Other</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="left">14</td>
</tr>
<tr>
<td class="right">15</td>
<td>Drugs, Biologicals and Infusion</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="left">15</td>
</tr>
   <tr>
<td class="right">15.30</td>
<td>Analgesics</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="left">15.30</td>
</tr>
<tr>
<td class="right">15.31</td>
<td>Sedatives/Hypnotics</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="left">15.31</td>
</tr>
  <tr>
<td class="right">15.32</td>
<td>Other - specify</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="left">15.32</td>
</tr>
 
<tr>
<td class="right">16</td>
<td>Durable Medical Equipment/Oxygen</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="left">16</td>
</tr>
<tr>
<td class="right">17</td>
<td>Patient Transportation</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="left">17</td>
</tr>
<tr>
<td class="right">18</td>
<td>Imaging Services</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="left">18</td>
</tr>
<tr>
<td class="right">19</td>
<td>Labs and Diagnostics</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="left">19</td>
</tr>
<tr>
<td class="right">20</td>
<td>Medical Supplies</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="left">20</td>
</tr>
<tr>
<td class="right">21</td>
<td>Outpatient Services (incl. E/R Dept.)</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="left">21</td>
</tr>
<tr>
<td class="right">22</td>
<td>Radiation Therapy</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="left">22</td>
</tr>
<tr>
<td class="right">23</td>
<td>Chemotherapy</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="left">23</td>
</tr>
<tr>
<td class="right">24</td>
<td>Other</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="left">24</td>
</tr>
<tr>
<td class="right">25</td>
<td>Bereavement Program Costs</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="left">25</td>
</tr>
<tr>
<td class="right">26</td>
<td>Volunteer Program Costs</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="left">26</td>
</tr>
  <tr>
<td class="right">27</td>
<td>Fundraising</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="left">27</td>
</tr>
  <tr>
<td class="right">28</td>
<td>Other Program Costs</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="left">28</td>
</tr>
  <tr>
<td class="right">29</td>
<td>Totals (sum of lines 1-28)</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="left">29</td>
</tr>
  <tr>
<td class="right">30</td>
<td>Total  cost to be allocated</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="left">30</td>
</tr>
  <tr>
<td class="right">31</td>
<td>Unit Cost Multiplier</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="data">&nbsp;</td>
<td class="left">31</td>
</tr>
    <tr>
        <td colspan="9">FORM CMS-1728-94-K-5 (10/2016)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 3245.2)</td>
    </tr>   
    <tr>
        <td colspan="2" class="border-right">Rev. 17</td>
        <td colspan="5" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">32-331.8</td>
    </tr>
</tbody>
</table>
</div>