<div class="report">
<table border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
    <col width="5%" />
    <col width="30%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="5%" /> 
</colgroup>
<thead>
    <tr>
        <td colspan="2">STATEMENT OF CHANGES IN FUND BALANCES</td>
        <td colspan="3">PROVIDER  CCN:<span class="data">{{pId}}</span><div>HOSPICE CCN:<span class="data"></span></div></td>
        <td colspan="2">
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="2">  WORKSHEET K-5<div> Part III</div></td>
    </tr>
</thead>
<tbody>
    <tr>
        <td colspan="2" rowspan="2">COST CENTER </td>
        <td class="center">From Wkst B, <div>col. 6, line:</div></td>
        <td class="center">Total HHA<div>Costs</div></td>
        <td class="center">Total HHA<div>Charges</div><div>(from Provider Records)</div></td>
        <td class="center">Cost to<div>Charge</div><div>Ratio</div><div>(col. 2/col.3)</div></td>
        <td class="center">Total<div>Hospice</div><div>Charges</div><div>(from Provider Records)</div></td>
        <td class="center">Hospice<div>Shared</div><div>Ancillary </div><div>Costs</div><div>(col. 4 x col. 5)</div></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
        <td class="center">5</td>
        <td class="center">6</td>
    </tr>
    <tr>
        <td colspan="2">ANCILLARY SERVICE COST CENTERS</td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td class="fillgrey"></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td>Physical Therapy</td>
        <td class="center">7</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">1</td>
    </tr>
    <tr>
        <td class="right">2</td>
        <td>Occupational Therapy</td>
        <td class="center">8</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td>Speech/ Language Pathology</td>
        <td class="center">9</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">3</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td>Medical Social Services - Direct</td>
        <td class="center">10</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">4</td>
    </tr>
    <tr>
        <td class="right">5</td>
        <td>Durable Medical Equipment/Oxygen</td>
        <td class="center">14</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">5</td>
    </tr>
    <tr>
        <td class="right">6</td>
        <td>Medical Supplies</td>
        <td class="center">12</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">6</td>
    </tr>
    <tr>
        <td class="right">7</td>
        <td>Totals (sum of lines 1-7) </td>
        <td class="data fillgrey center"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="left">7</td>
    </tr>
    <tr>
        <td colspan="9">FORM CMS-1728-94-K-5  (10/2016)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 3245.3)</td>
    </tr>   
    <tr>
        <td colspan="2" class="border-right">32-331.9</td>
        <td colspan="5" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">Rev. 17</td>
    </tr>
</tbody>
</table>
</div>