<div class="report">
    <table id="report_table" border="1" width="1400" cellspacing="1" cellpadding="1">
        <colgroup>
            <col width="4%" />
            <col width="40%" />
            <col width="12%" />
            <col width="12%" />
            <col width="12%" />
            <col width="12%" />
            <col width="12%" />
            <col width="12%" />
            <col width="12%" />
            <col width="12%" />
            <col width="12%" />
            <col width="12%" />
            <col width="12%" />
            <col width="4%" />
        </colgroup>
        <thead>
            <tr>
                <td colspan="8">ALLOCATION OF GENERAL SERVICE COSTS TO HOSPICE COST CENTERS
</div>
</td>
<td colspan="2">Provider CCN: <span class="data">{{pId}}</span>
    <div>HOSPICE CCN:</div>
</td>
<td colspan="2">
    <div>PERIOD:</div>
    <div>FROM <span class="data">{{year.start}}</span></div>
    <div>TO <span class="data">{{year.end}}</span></div>
</td>
<td colspan="2"> WORKSHEET K 5 Part I
</td>
</tr>
</thead>
<tbody>
    <tr>
        <td rowspan="3" colspan="2" class="center">HOSPICE COST CENTER (omit cents)</td>
        <td rowspan="3" class="center">From Wkst. K-4 Part I, col. 7, line</td>
        <td rowspan="2" class="center">HOSPICE TRIAL BALANCE (1)</td>
        <td colspan="2" class="center">CAPITAL RELATED
            COST</td>
        <td rowspan="2" class="center">PLANT OPERATION & MAINTENANCE</td>
        <td rowspan="2" class="center">TRANSPORTATION</td>
        <td rowspan="2" class="center">SUBTOTAL (cols. 0-4)</td>
        <td rowspan="2" class="center">ADMINISTRATIVE & GENERAL</td>
        <td rowspan="2" class="center">SUBTOTAL</td>
        <td rowspan="2" class="center">ALLOCATED HOSPICE A&G (see Part II)</td>
        <td rowspan="2" class="center">TOTAL
            HOSPICE
            COSTS
            (col 6 + col. 7)</td>
        <td rowspan="2"></td>
    </tr>
    <tr>
        <td class="center">BUILDINGS & FIXTURES</td>
        <td class="center">MOVABLE EQUIPMENT</td>
    </tr>
    <tr>
        <td class="center">0</td>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
        <td class="center">4 A</td>
        <td class="center">5</td>
        <td class="center">6</td>
        <td class="center">7</td>
        <td class="center">8</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td>Administrative and General</td>
        <td class="center">6</td>
        <td class="data fillgrey"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="left">1</td>
    </tr>
    <tr>
        <td class="right">2</td>
        <td>Inpatient - General Care</td>
        <td class="center">7</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td>Inpatient - Respite Care</td>
        <td class="center">8</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">3</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td>Physician Services</td>
        <td class="center">9</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">4</td>
    </tr>

    <tr>
        <td class="right">5</td>
        <td>Nursing Care</td>
        <td class="center">10</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">5</td>
    </tr>

    <tr>
        <td class="right">5.20</td>
        <td>Nursing Care - Continuous Home Care</td>
        <td class="center">10.20</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">5.20</td>
    </tr>
    <tr>
        <td class="right">6</td>
        <td>Physical Therapy </td>
        <td class="center">11</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">6</td>
    </tr>
    <tr>
        <td class="right">7</td>
        <td>Occupational Therapy </td>
        <td class="center">12</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">7</td>
    </tr>
    <tr>
        <td class="right">8</td>
        <td>Speech/ Language Pathology </td>
        <td class="center">13</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">8</td>
    </tr>
    <tr>
        <td class="right">9</td>
        <td>Medical Social Services - Direct </td>
        <td class="center">14</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">9</td>
    </tr>
    <tr>
        <td class="right">10</td>
        <td>Spiritual Counseling </td>
        <td class="center">15</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">10</td>
    </tr>
    <tr>
        <td class="right">11</td>
        <td>Dietary Counseling </td>
        <td class="center">16</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">11</td>
    </tr>
    <tr>
        <td class="right">12</td>
        <td>Counseling - Other </td>
        <td class="center">17</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">12</td>
    </tr>
    <tr>
        <td class="right">13</td>
        <td>Home Health Aide and Homemakers </td>
        <td class="center">18</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">13</td>
    </tr>
    <tr>
        <td class="right">13.20</td>
        <td>Home Health Aide and Homemaker-Cont Home Care </td>
        <td class="center">18.20</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">13.20</td>
    </tr>
    <tr>
        <td class="right">14</td>
        <td>Other </td>
        <td class="center">19</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">14</td>
    </tr>
    <tr>
        <td class="right">15</td>
        <td>Drugs, Biologicals and Infusion </td>
        <td class="center">20</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">15</td>
    </tr>
    <tr>
        <td class="right">15.30</td>
        <td>Analgesics </td>
        <td class="center">20.30</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">15.30</td>
    </tr>
    <tr>
        <td class="right">15.31</td>
        <td>Sedatives/Hypnotics </td>
        <td class="center">20.31</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">15.31</td>
    </tr>
    <tr>
        <td class="right">15.32</td>
        <td>Other - specify </td>
        <td class="center">20.32</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">15.32</td>
    </tr>
    <tr>
        <td class="right">16</td>
        <td>Durable Medical Equipment/Oxygen </td>
        <td class="center">21</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">16</td>
    </tr>
    <tr>
        <td class="right">17</td>
        <td>Patient Transportation </td>
        <td class="center">22</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">17</td>
    </tr>
    <tr>
        <td class="right">18</td>
        <td>Imaging Services </td>
        <td class="center">23</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">18</td>
    </tr>
    <tr>
        <td class="right">19</td>
        <td>Labs and Diagnostics </td>
        <td class="center">24</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">19</td>
    </tr>
    <tr>
        <td class="right">20</td>
        <td>Medical Supplies </td>
        <td class="center">25</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">20</td>
    </tr>
    <tr>
        <td class="right">21</td>
        <td>Outpatient Services (incl. E/R Dept.) </td>
        <td class="center">26</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">21</td>
    </tr>
    <tr>
        <td class="right">22</td>
        <td>Radiation Therapy </td>
        <td class="center">27</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">22</td>
    </tr>
    <tr>
        <td class="right">23</td>
        <td>Chemotherapy </td>
        <td class="center">28</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">23</td>
    </tr>
    <tr>
        <td class="right">24</td>
        <td>Other </td>
        <td class="center">29</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">24</td>
    </tr>
    <tr>
        <td class="right">25</td>
        <td>Bereavement Program Costs </td>
        <td class="center">30</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">25</td>
    </tr>
    <tr>
        <td class="right">26</td>
        <td>Volunteer Proram Costs </td>
        <td class="center">31</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">26</td>
    </tr>
    <tr>
        <td class="right">27</td>
        <td>Fundraising </td>
        <td class="center">32</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">27</td>
    </tr>
    <tr>
            <td class="right">28</td>
            <td>Other Program Costs  </td>
            <td class="center">33</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">28</td>
        </tr>
        <tr>
                <td class="right">29</td>
                <td>Totals (sum of lines 1-28) (2)</td>
                <td class="fillgrey"></td>
                <td class="data"></td>
                <td class="data"></td>
                <td class="data"></td>
                <td class="data"></td>
                <td class="data"></td>
                <td class="data"></td>
                <td class="data"></td>
                <td class="data"></td>
                <td class="data fillgrey"></td>
                <td class="data"></td>
                <td class="left">29</td>
            </tr>
            <tr>
                <td class="right">30</td>
                <td colspan="4">Unit Cost Multiplier: column 6, line 1 divided by the sum of column 6, line 29 
                        minus column 6, line 1, rounded to 6 decimal places</td>
                      
                <td class="data fillgrey"></td>
                <td class="data fillgrey"></td>
                <td class="data fillgrey"></td>
                <td class="data fillgrey"></td>
                <td class="data fillgrey"></td>
                <td class="data fillgrey"></td>
                <td class="data"></td>
                <td class="data fillgrey"></td>
                <td class="left">30</td>
            </tr>
            <tr>
                <td  colspan="14">(1) Column 0, line 29 must agree with Wkst. A, column 10, line 25.
                        <div>(2) Columns 0 through 5, line 29 must agree with the corresponding columns of Wkst. B, line 25.</div></td>
            </tr>
            <tr>
                <td colspan="14">FORM CMS 1728-94-K-5 (10/2016) (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 3245-3245.1)</td>
            </tr>
            <tr>
                <td colspan="2">32-331.7</td>
                <td colspan="10"></td>
                <td colspan="2">Rev. 17</td>
            </tr>
</tbody>
</table>
</div>