<div class="report">
<table border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
    <col width="5%" />
    <col width="30%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="15%"/>
    <col width="5%" /> 
</colgroup>
<thead>
    <tr>
        <td colspan="2">CALCULATION OF HOSPICE <div>PER DIEM COST</div></td>
        <td colspan="2">PROVIDER  CCN:<span class="data">{{pId}}</span><div>HOSPICE CCN:<span class="data"></span></div></td>
        <td colspan="2">
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="2">  WORKSHEET K6</td>
    </tr>
</thead>
<tbody>
    <tr>
        <td colspan="3" rowspan="2">COMPUTATION OF PER DIEM COST</td>
        <td class="center">TITLE XVIII</td>
        <td class="center">TITLE XIX</td>
        <td class="center">OTHER</td>
        <td class="center">TOTAL</td>
        <td rowspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td colspan="2">Total cost (Worksheet K-5, Part I, col. 8, line 29 less col. 8, line 28 plus Worksheet K-5, Part III, col. 6, line 7)  (see instructions)</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data"></td>
        <td class="left">1</td>
    </tr>
    <tr>
        <td class="right">2</td>
        <td colspan="2">Total Unduplicated Days (Worksheet S-5, line 5, col. 4)</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data"></td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td colspan="2">Average cost per diem (line 1 divided by line 2)</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data"></td>
        <td class="left">3</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td colspan="2">Unduplicated Medicare Days (Worksheet S-5, line 5, col. 1)</td>
        <td class="data"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="left">4</td>
    </tr>
    <tr>
        <td class="right">5</td>
        <td colspan="2">Aggregate Medicare cost (line 3 times line 4)</td>
        <td class="data"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="left">5</td>
    </tr>
    <tr>
        <td class="right">6</td>
        <td colspan="2">Unduplicated Medicaid Days (Not Applicable)</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="left">6</td>
    </tr>
    <tr>
        <td class="right">7</td>
        <td colspan="2">Aggregate Medicaid cost (Not Applicable)</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="left">7</td>
    </tr>
    <tr>
        <td class="right">8</td>
        <td colspan="2">Unduplicated SNF days (Worksheet S-5, line 5, col. 2)</td>
        <td class="data"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="left">8</td>
    </tr>
    <tr>
        <td class="right">9</td>
        <td colspan="2">Aggregate SNF cost (line 3 times line 8)</td>
        <td class="data"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="left">9</td>
    </tr>
    <tr>
        <td class="right">10</td>
        <td colspan="2">Unduplicated NF days (Not Applicable)</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="left">10</td>
    </tr>
    <tr>
        <td class="right">11</td>
        <td colspan="2">Aggregate NF cost (Not Applicable)</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="left">11</td>
    </tr>
    <tr>
        <td class="right">12</td>
        <td colspan="2">Other unduplicated days (Worksheet S-5, line 5, col. 3)</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data"></td>
        <td class="data fillgrey"></td>
        <td class="left">12</td>
    </tr>
    <tr>
        <td class="right">13</td>
        <td colspan="2">Aggregate cost for other days (line 3 times line 12)</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data"></td>
        <td class="data fillgrey"></td>
        <td class="left">13</td>
    </tr>
    <tr>
        <td colspan="9">FORM CMS-1728-94-K-5  (10/2016)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 3245.3)</td>
    </tr>   
    <tr>
        <td colspan="2" class="border-right">32-331.9</td>
        <td colspan="4" class="border-right">&nbsp;</td>
        <td colspan="3" class="right">Rev. 17</td>
    </tr>
</tbody>
</table>
</div>