<div class="report">
<table border="1" width="1200" cellspacing="1" cellpadding="1">
<colgroup>
    <col width="4%" />
    <col width="8%" />
    <col width="25%" />
    <col width="12%" />
    <col width="12%" />
    <col width="12%" />
    <col width="12%" />
    <col width="12%" />
    <col width="12%" />
    <col width="12%" />
    <col width="4%" />
</colgroup>
<thead>
    <tr>
        <td colspan="7"> ANALYSIS OF HHA-BASED HOSPICE COSTS</td>
        <td>PROVIDER  CCN:<span class="data">{{pId}}</span><div>  HOSPICE CCN:<span class="data"></span></div></td>
        <td>
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="2">   WORKSHEET  O</td>
    </tr>
</thead>
    <tbody>
        <tr>
            <td colspan="3" rowspan="2">&nbsp;</td>
            <td class="center">SALARIES</td>
            <td class="center">OTHER</td>
            <td class="center">SUBTOTAL<div>(col. 1 plus col. 2)</div></td>
            <td class="center">RECLASSI-<div>FICATIONS</div></td>
            <td class="center">SUBTOTAL</td>
            <td class="center">ADJUST-<div>MENTS</div></td>
            <td class="center">TOTAL<div>(col. 5 ± col. 6)</div></td>
            <td rowspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td class="center">1</td>
            <td class="center">2</td>
            <td class="center">3</td>
            <td class="center">4</td>
            <td class="center">5</td>
            <td class="center">6</td>
            <td class="center">7</td>
        </tr>
        <tr>
            <td colspan="3">GENERAL SERVICE COST CENTERS</td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="right">1</td>
            <td class="center">0100</td>
            <td> Cap Rel Costs-Bldg & Fixt*</td>
            <td class="data fillgrey"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">1</td>
        </tr>
        <tr>
            <td class="right">2</td>
            <td class="center">0200</td>
            <td> Cap Rel Costs-Mvble Equip*</td>
            <td class="data fillgrey"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">2</td>
        </tr>
        <tr>
            <td class="right">3</td>
            <td class="center">0300</td>
            <td> Employee Benefits Department*</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">3</td>
        </tr>
        <tr>
            <td class="right">4</td>
            <td class="center">0400</td>
            <td> Administrative & General *</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">4</td>
        </tr>
        <tr>
            <td class="right">5</td>
            <td class="center">0500</td>
            <td> Plant Operation & Maintenance*</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">5</td>
        </tr>
        <tr>
            <td class="right">6</td>
            <td class="center">0600</td>
            <td> Laundry & Linen Service*</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">6</td>
        </tr>
        <tr>
            <td class="right">7</td>
            <td class="center">0700</td>
            <td>  Housekeeping*</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">7</td>
        </tr>
        <tr>
            <td class="right">8</td>
            <td class="center">0800</td>
            <td> Dietary*</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">8</td>
        </tr>
        <tr>
            <td class="right">9</td>
            <td class="center">0900</td>
            <td> Nursing Administration*</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">9</td>
        </tr>
        <tr>
            <td class="right">10</td>
            <td class="center">1000</td>
            <td> Routine Medical Supplies*</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">10</td>
        </tr>
        <tr>
            <td class="right">11</td>
            <td class="center">1100</td>
            <td> Medical Records*</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">11</td>
        </tr>
        <tr>
            <td class="right">12</td>
            <td class="center">1200</td>
            <td> Staff Transportation*</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">12</td>
        </tr>
        <tr>
            <td class="right">13</td>
            <td class="center">1300</td>
            <td>  Volunteer Service Coordination*</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">13</td>
        </tr>
        <tr>
            <td class="right">14</td>
            <td class="center">1400</td>
            <td> Pharmacy*</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">14</td>
        </tr>
        <tr>
            <td class="right">15</td>
            <td class="center">1500</td>
            <td>  Physician Administrative Services*</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">15</td>
        </tr>
        <tr>
            <td class="right">16</td>
            <td class="center">1600</td>
            <td>  Other General Service*</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">16</td>
        </tr>
        <tr>
            <td class="right">17</td>
            <td class="center">1700</td>
            <td> Patient/Residential Care Services</td>
            <td class="data fillgrey"></td>
            <td class="data fillgrey"></td>
            <td class="data fillgrey"></td>
            <td class="data fillgrey"></td>
            <td class="data fillgrey"></td>
            <td class="data fillgrey"></td>
            <td class="data fillgrey"></td>
            <td class="left">17</td>
        </tr>
        <tr>
            <td colspan="3"> DIRECT  PATIENT  CARE  SERVICE  COST  CENTERS</td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="right">25</td>
            <td class="center">2500</td>
            <td> Inpatient Care-Contracted**</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">25</td>
        </tr>
        <tr>
            <td class="right">26</td>
            <td class="center">2600</td>
            <td> Physician Services**</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">26</td>
        </tr>
        <tr>
            <td class="right">27</td>
            <td class="center">2700</td>
            <td> Nurse Practitioner**</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">27</td>
        </tr>
        <tr>
            <td class="right">28</td>
            <td class="center">2800</td>
            <td> Registered Nurse**</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">28</td>
        </tr>
        <tr>
            <td class="right">29</td>
            <td class="center">2900</td>
            <td> LPN/LVN**</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">29</td>
        </tr>
        <tr>
            <td class="right">30</td>
            <td class="center">3000</td>
            <td> Physical Therapy**</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">30</td>
        </tr>
        <tr>
            <td class="right">31</td>
            <td class="center">3100</td>
            <td>  Occupational Therapy**</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">31</td>
        </tr>
        <tr>
            <td class="right">32</td>
            <td class="center">3200</td>
            <td> Speech/ Language Pathology**</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">32</td>
        </tr>
        <tr>
            <td class="right">33</td>
            <td class="center">3300</td>
            <td> Medical Social Services**</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">33</td>
        </tr>
        <tr>
            <td class="right">34</td>
            <td class="center">3400</td>
            <td> Spiritual Counseling**</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">34</td>
        </tr>
        <tr>
            <td class="right">35</td>
            <td class="center">3500</td>
            <td> Dietary Counseling**</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">35</td>
        </tr>
        <tr>
            <td class="right">36</td>
            <td class="center">3600</td>
            <td> Counseling - Other**</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">36</td>
        </tr>
        <tr>
            <td class="right">37</td>
            <td class="center">3700</td>
            <td> Hospice Aide & Homemaker Services**</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">37</td>
        </tr>
        <tr>
            <td class="right">38</td>
            <td class="center">3800</td>
            <td> Durable Medical Equipment/Oxygen**</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">38</td>
        </tr>
        <tr>
            <td class="right">39</td>
            <td class="center">3900</td>
            <td> Patient Transportation**</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">39</td>
        </tr>
        <tr>
            <td colspan="11"><div class="tab">* Transfer the amounts in column 7 to Wkst. O-5, col. 1, line as appropriate.</div><div class="tab">** See instructions.  Do not transfer the amounts in col. 7 to Wkst. O-5.</div></td>
        </tr>
        <tr>
            <td colspan="11">FORM CMS-1728-94 (10/2016)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 3247)</td>
        </tr>
        <tr>
            <td colspan="2" class="border-right">32-348</td>
            <td colspan="7" class="border-right">&nbsp;</td>
            <td colspan="2" class="right">Rev. 17</td>
        </tr>
    </tbody>
    </table>
    </div>