<div class="report">
<table border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
    <col width="4%" />
    <col width="30%" />
    <col width="15%" />
    <col width="15%" />
    <col width="15%" />
    <col width="4%" />
</colgroup>
<thead>
    <tr>
        <td colspan="2">  COST  ALLOCATION  -  DETERMINATION  OF  HHA-BASED HOSPICE<div> NET EXPENSES FOR ALLOCATION</div></td>
        <td>PROVIDER  CCN:<span class="data">{{pId}}</span><div>  HOSPICE CCN:<span class="data"></span></div></td>
        <td>
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="2"> WORKSHEET O-5</td>
    </tr>
</thead>
    <tbody>
        <tr>
            <td colspan="2" rowspan="2" class="center">Descriptions</td>
            <td class="center">HOSPICE<div>DIRECT</div><div>EXPENSES</div><div><dpan>(see instructions)</dpan></div></td>
            <td class="center">GENERAL<div>SERVICE</div><div>EXPENSES</div><div>FROM WKST B</div><div><span>(see instructions)</span></div></td>
            <td class="center">TOTAL<div>EXPENSES</div><div><span>(sum of cols. 1 + 2)</span></div></td>
            <td rowspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td class="center">1</td>
            <td class="center">2</td>
            <td class="center">3</td>
        </tr>
        <tr>
            <td colspan="2">  GENERAL  SERVICE  COST  CENTERS</td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="right">1</td>
            <td> Cap Rel Costs-Bldg & Fixt</td>
            <td class="data">{{NumberFormat data-1.00100-00100}}</td>
            <td class="data">{{NumberFormat data-1.00100-00200}}</td>
            <td class="data">{{NumberFormat data-1.00100-00300}}</td>
            <td class="left">1</td>
        </tr>
        <tr>
            <td class="right">2</td>
            <td> Cap Rel Costs-Mvble Equip</td>
            <td class="data">{{NumberFormat data-1.00200-00100}}</td>
            <td class="data">{{NumberFormat data-1.00200-00200}}</td>
            <td class="data">{{NumberFormat data-1.00200-00300}}</td>
            <td class="left">2</td>
        </tr>
        <tr>
            <td class="right">3</td>
            <td> Employee Benefits Department</td>
            <td class="data"{{NumberFormat data-1.00300-00100}}></td>
            <td class="data fillgrey">{{NumberFormat data-1.00300-00200}}</td>
            <td class="data">{{NumberFormat data-1.00300-00300}}</td>
            <td class="left">3</td>
        </tr>
        <tr>
            <td class="right">4</td>
            <td> Administrative & General </td>
            <td class="data">{{NumberFormat data-1.00400-00100}}</td>
            <td class="data">{{NumberFormat data-1.00400-00200}}</td>
            <td class="data">{{NumberFormat data-1.00400-00300}}</td>
            <td class="left">4</td>
        </tr>
        <tr>
            <td class="right">5</td>
            <td> Plant Operation & Maintenance</td>
            <td class="data">{{NumberFormat data-1.00500-00100}}</td>
            <td class="data">{{NumberFormat data-1.00500-00200}}</td>
            <td class="data">{{NumberFormat data-1.00500-00300}}</td>
            <td class="left">5</td>
        </tr>
        <tr>
            <td class="right">6</td>
            <td> Laundry & Linen Service</td>
            <td class="data">{{NumberFormat data-1.00600-00100}}</td>
            <td class="data fillgrey">{{NumberFormat data-1.00600-00200}}</td>
            <td class="data">{{NumberFormat data-1.00600-00300}}</td>
            <td class="left">6</td>
        </tr>
        <tr>
            <td class="right">7</td>
            <td> Housekeeping</td>
            <td class="data">{{NumberFormat data-1.00700-00100}}</td>
            <td class="data fillgrey">{{NumberFormat data-1.00700-00200}}</td>
            <td class="data">{{NumberFormat data-1.00700-00300}}</td>
            <td class="left">7</td>
        </tr>
        <tr>
            <td class="right">8</td>
            <td>Dietary </td>
            <td class="data">{{NumberFormat data-1.00800-00100}}</td>
            <td class="data fillgrey">{{NumberFormat data-1.00800-00200}}</td>
            <td class="data">{{NumberFormat data-1.00800-00300}}</td>
            <td class="left">8</td>
        </tr>
        <tr>
            <td class="right">9</td>
            <td> Nursing Administration</td>
            <td class="data">{{NumberFormat data-1.00900-00100}}</td>
            <td class="data fillgrey">{{NumberFormat data-1.00900-00200}}</td>
            <td class="data">{{NumberFormat data-1.00900-00300}}</td>
            <td class="left">9</td>
        </tr>
        <tr>
            <td class="right">10</td>
            <td>  Routine Medical Supplies</td>
            <td class="data">{{NumberFormat data-1.01000-00100}}</td>
            <td class="data fillgrey">{{NumberFormat data-1.01000-00200}}</td>
            <td class="data">{{NumberFormat data-1.01000-00300}}</td>
            <td class="left">10</td>
        </tr>
        <tr>
            <td class="right">11</td>
            <td> Medical Records</td>
            <td class="data">{{NumberFormat data-1.01100-00100}}</td>
            <td class="data fillgrey">{{NumberFormat data-1.01100-00200}}</td>
            <td class="data">{{NumberFormat data-1.01100-00300}}</td>
            <td class="left">11</td>
        </tr>
        <tr>
            <td class="right">12</td>
            <td> Staff Transportation</td>
            <td class="data">{{NumberFormat data-1.01200-00100}}</td>
            <td class="data">{{NumberFormat data-1.01200-00200}}</td>
            <td class="data">{{NumberFormat data-1.01200-00300}}</td>
            <td class="left">12</td>
        </tr>
        <tr>
            <td class="right">13</td>
            <td> Volunteer Service Coordination</td>
            <td class="data">{{NumberFormat data-1.01300-00100}}</td>
            <td class="data fillgrey">{{NumberFormat data-1.01300-00200}}</td>
            <td class="data">{{NumberFormat data-1.01300-00300}}</td>
            <td class="left">13</td>
        </tr>
        <tr>
            <td class="right">14</td>
            <td>Pharmacy</td>
            <td class="data">{{NumberFormat data-1.01400-00100}}</td>
            <td class="data fillgrey">{{NumberFormat data-1.01400-00200}}</td>
            <td class="data">{{NumberFormat data-1.01400-00300}}</td>
            <td class="left">14</td>
        </tr>
        <tr>
            <td class="right">15</td>
            <td>  Physician Administrative Services</td>
            <td class="data">{{NumberFormat data-1.01500-00100}}</td>
            <td class="data fillgrey">{{NumberFormat data-1.01500-00200}}</td>
            <td class="data">{{NumberFormat data-1.01500-00300}}</td>
            <td class="left">15</td>
        </tr>
        <tr>
            <td class="right">16</td>
            <td> Other General Service </td>
            <td class="data">{{NumberFormat data-1.01600-00100}}</td>
            <td class="data fillgrey">{{NumberFormat data-1.01600-00200}}</td>
            <td class="data">{{NumberFormat data-1.01600-00300}}</td>
            <td class="left">16</td>
        </tr>
        <tr>
            <td class="right">17</td>
            <td> Patient/Residential Care Services</td>
            <td class="data fillgrey">{{NumberFormat data-1.01700-00100}}</td>
            <td class="data fillgrey">{{NumberFormat data-1.01700-00200}}</td>
            <td class="data fillgrey">{{NumberFormat data-1.01700-00300}}</td>
            <td class="left">17</td>
        </tr>
        <tr>
            <td colspan="2"> LEVEL  OF  CARE</td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="right">50</td>
            <td> Hospice Continuous Home Care</td>
            <td class="data">{{NumberFormat data-1.05000-00100}}</td>
            <td class="data fillgrey">{{NumberFormat data-1.05000-00200}}</td>
            <td class="data">{{NumberFormat data-1.05000-00300}}</td>
            <td class="left">50</td>
        </tr>
        <tr>
            <td class="right">51</td>
            <td>  Hospice Routine Home Care</td>
            <td class="data">{{NumberFormat data-1.05100-00100}}</td>
            <td class="data fillgrey">{{NumberFormat data-1.05100-00200}}</td>
            <td class="data">{{NumberFormat data-1.05100-00300}}</td>
            <td class="left">51</td>
        </tr>
        <tr>
            <td class="right">52</td>
            <td> Hospice Inpatient Respite Care</td>
            <td class="data">{{NumberFormat data-1.05200-00100}}</td>
            <td class="data fillgrey">{{NumberFormat data-1.05200-00200}}</td>
            <td class="data">{{NumberFormat data-1.05200-00300}}</td>
            <td class="left">52</td>
        </tr>
        <tr>
            <td class="right">53</td>
            <td> Hospice General Inpatient Care</td>
            <td class="data">{{NumberFormat data-1.05300-00100}}</td>
            <td class="data fillgrey">{{NumberFormat data-1.05300-00200}}</td>
            <td class="data">{{NumberFormat data-1.05300-00300}}</td>
            <td class="left">53</td>
        </tr>
        <tr>
            <td colspan="2"> NONREIMBURSABLE  COST  CENTERS</td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="right">60</td>
            <td>  Bereavement Program</td>
            <td class="data">{{NumberFormat data-1.06000-00100}}</td>
            <td class="data fillgrey">{{NumberFormat data-1.06000-00200}}</td>
            <td class="data">{{NumberFormat data-1.06000-00300}}</td>
            <td class="left">60</td>
        </tr>
        <tr>
            <td class="right">61</td>
            <td> Volunteer Program</td>
            <td class="data">{{NumberFormat data-1.06100-00100}}</td>
            <td class="data fillgrey">{{NumberFormat data-1.06100-00200}}</td>
            <td class="data">{{NumberFormat data-1.06100-00300}}</td>
            <td class="left">61</td>
        </tr>
        <tr>
            <td class="right">62</td>
            <td>Fundraising</td>
            <td class="data">{{NumberFormat data-1.06200-00100}}</td>
            <td class="data fillgrey">{{NumberFormat data-1.06200-00200}}</td>
            <td class="data">{{NumberFormat data-1.06200-00300}}</td>
            <td class="left">62</td>
        </tr>
        <tr>
            <td class="right">63</td>
            <td> Hospice/Palliative Medicine Fellows</td>
            <td class="data">{{NumberFormat data-1.06300-00100}}</td>
            <td class="data fillgrey">{{NumberFormat data-1.06300-00200}}</td>
            <td class="data">{{NumberFormat data-1.06300-00300}}</td>
            <td class="left">63</td>
        </tr>
        <tr>
            <td class="right">64</td>
            <td> Palliative Care Program</td>
            <td class="data">{{NumberFormat data-1.06400-00100}}</td>
            <td class="data fillgrey">{{NumberFormat data-1.06400-00200}}</td>
            <td class="data">{{NumberFormat data-1.06400-00300}}</td>
            <td class="left">64</td>
        </tr>
        <tr>
            <td class="right">65</td>
            <td> Other Physician Services</td>
            <td class="data">{{NumberFormat data-1.06500-00100}}</td>
            <td class="data fillgrey">{{NumberFormat data-1.06500-00200}}</td>
            <td class="data">{{NumberFormat data-1.06500-00300}}</td>
            <td class="left">65</td>
        </tr>
        <tr>
            <td class="right">66</td>
            <td> Residential Care</td>
            <td class="data">{{NumberFormat data-1.06600-00100}}</td>
            <td class="data fillgrey">{{NumberFormat data-1.06600-00200}}</td>
            <td class="data">{{NumberFormat data-1.06600-00300}}</td>
            <td class="left">66</td>
        </tr>
        <tr>
            <td class="right">67</td>
            <td>Advertising</td>
            <td class="data">{{NumberFormat data-1.06700-00100}}</td>
            <td class="data fillgrey">{{NumberFormat data-1.06700-00200}}</td>
            <td class="data">{{NumberFormat data-1.06700-00300}}</td>
            <td class="left">67</td>
        </tr>
        <tr>
            <td class="right">68</td>
            <td> Telehealth/Telemonitoring</td>
            <td class="data">{{NumberFormat data-1.06800-00100}}</td>
            <td class="data fillgrey">{{NumberFormat data-1.06800-00200}}</td>
            <td class="data">{{NumberFormat data-1.06800-00300}}</td>
            <td class="left">68</td>
        </tr>
        <tr>
            <td class="right">69</td>
            <td> Thrift Store</td>
            <td class="data">{{NumberFormat data-1.06900-00100}}</td>
            <td class="data fillgrey">{{NumberFormat data-1.06900-00200}}</td>
            <td class="data">{{NumberFormat data-1.06900-00300}}</td>
            <td class="left">69</td>
        </tr>
        <tr>
            <td class="right">70</td>
            <td> Nursing Facility Room & Board</td>
            <td class="data">{{NumberFormat data-1.07000-00100}}</td>
            <td class="data fillgrey">{{NumberFormat data-1.07000-00200}}</td>
            <td class="data">{{NumberFormat data-1.07000-00300}}</td>
            <td class="left">70</td>
        </tr>
        <tr>
            <td class="right">71</td>
            <td> Other Nonreimbursable </td>
            <td class="data">{{NumberFormat data-1.07100-00100}}</td>
            <td class="data fillgrey">{{NumberFormat data-1.07100-00200}}</td>
            <td class="data">{{NumberFormat data-1.07100-00300}}</td>
            <td class="left">71</td>
        </tr>
        <tr>
            <td class="right">99</td>
            <td> Negative Cost Center</td>
            <td class="data fillgrey">{{NumberFormat data-1.09900-00100}}</td>
            <td class="data fillgrey">{{NumberFormat data-1.09900-00200}}</td>
            <td class="data fillgrey">{{NumberFormat data-1.09900-00300}}</td>
            <td class="left">99</td>
        </tr>
        <tr>
            <td class="right">100</td>
            <td> Total</td>
            <td class="data">{{NumberFormat data-1.10000-00100}}</td>
            <td class="data">{{NumberFormat data-1.10000-00200}}</td>
            <td class="data">{{NumberFormat data-1.10000-00300}}</td>
            <td class="left">100</td>
        </tr>
        <tr>
            <td colspan="6">FORM CMS-1728-94 (3/2018) (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 3249)</td>
        </tr>
        <tr>
            <td colspan="2" class="border-right">32-354</td>
            <td colspan="2" class="border-right">&nbsp;</td>
            <td colspan="2" class="right">Rev. 18</td>
        </tr>
    </tbody>
    </table>
    </div>