<div class="report">
<table border="1" width="1200" cellspacing="1" cellpadding="1">
<colgroup>
    <col width="4%" />
    <col width="30%" />
    <col width="12%" />
    <col width="12%" />
    <col width="12%" />
    <col width="12%" />
    <col width="12%" />
    <col width="12%" />
    <col width="12%" />
    <col width="12%" />
    <col width="12%" />
    <col width="12%" />
    <col width="4%" />
</colgroup>
<thead>
    <tr>
        <td colspan="7">  COST  ALLOCATION  -  HHA-BASED  HOSPICE  GENERAL  SERVICE  COSTS</td>
        <td colspan="2">PROVIDER  CCN:<span class="data">{{pId}}</span><div>  HOSPICE CCN:<span class="data"></span></div></td>
        <td colspan="2">
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="2"> WORKSHEET  O-6 PART I</td>
    </tr>
</thead>
    <tbody>
        <tr>
            <td colspan="2" rowspan="2" class="center">Descriptions</td>
            <td class="center">NURSING <div>ADMINIS</div><div>TRATION</div></td>
            <td class="center">ROUTINE<div>MEDICAL</div><div>SUPPLIES</div></td>
            <td class="center">MEDICAL <div>RECORDS</div></td>
            <td class="center">STAFF <div>TRANS-</div><div>PORTATION</div></td>
            <td class="center">VOLUNTEER<div>SVC COOR-</div><div>DINATION</div></td>
            <td class="center">PHARMACY</td>
            <td class="center">PHYSICIAN<div>ADMINISTRA-</div><div>TIVE SVCS</div></td>
            <td class="center">OTHER<div>GENERAL</div><div>SERVICE</div></td>
            <td class="center">PATIENT /<div>RESIDENTIAL</div><div>CARE SVCS</div></td>
            <td class="center">TOTAL</td>
            <td rowspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td class="center">9</td>
            <td class="center">10</td>
            <td class="center">11</td>
            <td class="center">12</td>
            <td class="center">13</td>
            <td class="center">14</td>
            <td class="center">15</td>
            <td class="center">16</td>
            <td class="center">17</td>
            <td class="center">18</td>
        </tr>
        <tr>
            <td colspan="2"> GENERAL  SERVICE  COST  CENTERS</td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="right">1</td>
            <td> Cap Rel Costs-Bldg & Fixt</td>
            <td rowspan="8" class="data"></td>
            <td rowspan="9" class="data"></td>
            <td rowspan="10" class="data"></td>
            <td rowspan="11" class="data"></td>
            <td rowspan="12" class="data"></td>
            <td rowspan="13" class="data"></td>
            <td rowspan="14" class="data"></td>
            <td rowspan="15" class="data"></td>
            <td rowspan="16" class="data"></td>
            <td rowspan="17" class="data"></td>
            <td class="left">1</td>
        </tr>
        <tr>
            <td class="right">2</td>
            <td> Cap Rel Costs-Mvble Equip</td>
            <td class="left">2</td>
        </tr>
        <tr>
            <td class="right">3</td>
            <td> Employee Benefits Department</td>
            <td class="left">3</td>
        </tr>
        <tr>
            <td class="right">4</td>
            <td> Administrative & General </td>
            <td class="left">4</td>
        </tr>
        <tr>
            <td class="right">5</td>
            <td> Plant Operation & Maintenance</td>
            <td class="left">5</td>
        </tr>
        <tr>
            <td class="right">6</td>
            <td> Laundry & Linen Service</td>
            <td class="left">6</td>
        </tr>
        <tr>
            <td class="right">7</td>
            <td> Housekeeping</td>
            <td class="left">7</td>
        </tr>
        <tr>
            <td class="right">8</td>
            <td>Dietary </td>
            <td class="left">8</td>
        </tr>
        <tr>
            <td class="right">9</td>
            <td> Nursing Administration</td>
            <td class="data"></td>
            <td class="left">9</td>
        </tr>
        <tr>
            <td class="right">10</td>
            <td>  Routine Medical Supplies</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">10</td>
        </tr>
        <tr>
            <td class="right">11</td>
            <td> Medical Records</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">11</td>
        </tr>
        <tr>
            <td class="right">12</td>
            <td> Staff Transportation</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">12</td>
        </tr>
        <tr>
            <td class="right">13</td>
            <td> Volunteer Service Coordination</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">13</td>
        </tr>
        <tr>
            <td class="right">14</td>
            <td> Volunteer Service Coordination</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">14</td>
        </tr>
        <tr>
            <td class="right">15</td>
            <td>  Physician Administrative Services</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">15</td>
        </tr>
        <tr>
            <td class="right">16</td>
            <td> Other General Service </td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">16</td>
        </tr>
        <tr>
            <td class="right">17</td>
            <td> Patient/Residential Care Services</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">17</td>
        </tr>
        <tr>
            <td colspan="2"> LEVEL  OF  CARE</td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="right">50</td>
            <td>Continuous Home Care</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">50</td>
        </tr>
        <tr>
            <td class="right">51</td>
            <td>Routine Home Care</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">51</td>
        </tr>
        <tr>
            <td class="right">52</td>
            <td>Inpatient Respite Care</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">52</td>
        </tr>
        <tr>
            <td class="right">53</td>
            <td>General Inpatient Care</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">53</td>
        </tr>
        <tr>
            <td colspan="2"> NONREIMBURSABLE  COST  CENTERS</td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td class="fillgrey"></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="right">60</td>
            <td>  Bereavement Program</td>
            <td class="data fillgrey"></td>
            <td class="data fillgrey"></td>
            <td class="data fillgrey"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data fillgrey"></td>
            <td class="data"></td>
            <td class="data fillgrey"></td>
            <td class="data"></td> 
            <td class="left">60</td>
        </tr>
        <tr>
            <td class="right">61</td>
            <td> Volunteer Program</td>
            <td class="data fillgrey"></td>
            <td class="data fillgrey"></td>
            <td class="data fillgrey"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data fillgrey"></td>
            <td class="data"></td>
            <td class="data fillgrey"></td>
            <td class="data"></td>
            <td class="left">61</td>
        </tr>
        <tr>
            <td class="right">62</td>
            <td>Fundraising</td>
            <td class="data fillgrey"></td>
            <td class="data fillgrey"></td>
            <td class="data fillgrey"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data fillgrey"></td>
            <td class="data"></td>
            <td class="data fillgrey"></td>
            <td class="data"></td>
            <td class="left">62</td>
        </tr>
        <tr>
            <td class="right">63</td>
            <td> Hospice/Palliative Medicine Fellows</td>
            <td class="data fillgrey"></td>
            <td class="data fillgrey"></td>
            <td class="data fillgrey"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data fillgrey"></td>
            <td class="data"></td>
            <td class="data fillgrey"></td>
            <td class="data"></td>
            <td class="left">63</td>
        </tr>
        <tr>
            <td class="right">64</td>
            <td> Palliative Care Program</td>
            <td class="data fillgrey"></td>
            <td class="data fillgrey"></td>
            <td class="data fillgrey"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data fillgrey"></td>
            <td class="data"></td>
            <td class="data fillgrey"></td>
            <td class="data"></td>
            <td class="left">64</td>
        </tr>
        <tr>
            <td class="right">65</td>
            <td> Other Physician Services</td>
            <td class="data fillgrey"></td>
            <td class="data fillgrey"></td>
            <td class="data fillgrey"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data fillgrey"></td>
            <td class="data"></td>
            <td class="data fillgrey"></td>
            <td class="data"></td>
            <td class="left">65</td>
        </tr>
        <tr>
            <td class="right">66</td>
            <td> Residential Care</td>
            <td class="data"></td>
            <td class="data fillgrey"></td>
            <td class="data fillgrey"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">66</td>
        </tr>
        <tr>
            <td class="right">67</td>
            <td>Advertising</td>
            <td class="data fillgrey"></td>
            <td class="data fillgrey"></td>
            <td class="data fillgrey"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data fillgrey"></td>
            <td class="data"></td>
            <td class="data fillgrey"></td>
            <td class="data"></td>
            <td class="left">67</td>
        </tr>
        <tr>
            <td class="right">68</td>
            <td> Telehealth/Telemonitoring</td>
            <td class="data fillgrey"></td>
            <td class="data fillgrey"></td>
            <td class="data fillgrey"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data fillgrey"></td>
            <td class="data"></td>
            <td class="data fillgrey"></td>
            <td class="data"></td>
            <td class="left">68</td>
        </tr>
        <tr>
            <td class="right">69</td>
            <td> Thrift Store</td>
            <td class="data fillgrey"></td>
            <td class="data fillgrey"></td>
            <td class="data fillgrey"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data fillgrey"></td>
            <td class="data"></td>
            <td class="data fillgrey"></td>
            <td class="data"></td>
            <td class="left">69</td>
        </tr>
        <tr>
            <td class="right">70</td>
            <td> Nursing Facility Room & Board</td>
            <td class="data fillgrey"></td>
            <td class="data fillgrey"></td>
            <td class="data fillgrey"></td>
            <td class="data fillgrey"></td>
            <td class="data fillgrey"></td>
            <td class="data fillgrey"></td>
            <td class="data fillgrey"></td>
            <td class="data fillgrey"></td>
            <td class="data fillgrey"></td>
            <td class="data"></td>
            <td class="left">70</td>
        </tr>
        <tr>
            <td class="right">71</td>
            <td> Other Nonreimbursable </td>
            <td class="data"></td>
            <td class="data fillgrey"></td>
            <td class="data fillgrey"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data fillgrey"></td>
            <td class="data"></td>
            <td class="left">71</td>
        </tr>
        <tr>
            <td class="right">99</td>
            <td> Negative Cost Center</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">99</td>
        </tr>
        <tr>
            <td class="right">100</td>
            <td> Total</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">100</td>
        </tr>
        <tr>
            <td colspan="13">FORM CMS-1728-94 (03/2018) (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 3250)</td>
        </tr>
        <tr>
            <td colspan="2" class="border-right">32-354</td>
            <td colspan="9" class="border-right">&nbsp;</td>
            <td colspan="2" class="right">Rev. 18</td>
        </tr>
    </tbody>
    </table>
    </div>