<div class="report">
    <table border="1" width="100%" cellspacing="1" cellpadding="1">
        <colgroup>
            <col width="4%" />
            <col width="30%" />
            <col width="12%" />
            <col width="12%" />
            <col width="12%" />
            <col width="12%" />
            <col width="12%" />
            <col width="12%" />
            <col width="12%" />
            <col width="12%" />
            <col width="12%" />
            <col width="12%" />
            <col width="12%" />
            <col width="12%" />
            <col width="4%" />
        </colgroup>
        <thead>
            <tr></tr>
                <td colspan="9">   APPORTIONMENT OF HHA-BASED HOSPICE SHARED SERVICE COSTS BY LEVEL OF CARE
</div>
</td>
<td colspan="2">Provider CCN: <span class="data">{{pId}}</span><div>HOSPICE CCN:</div></td>
<td colspan="2">
    <div>PERIOD:</div>
    <div>FROM <span class="data">{{year.start}}</span></div>
    <div>TO <span class="data">{{year.end}}</span></div>
</td>
<td colspan="2"> WORKSHEET O 7
</td>
</tr>
</thead>
<tbody>
    <tr>
        <td colspan="15"></td>
    </tr>
    <tr>
        <td colspan="2" rowspan="3" class="center">Cost Center Descriptions</td>
        <td class="center" rowspan="2" >Wkst. B, col. 6, line</td>
        <td class="center" rowspan="2" >Total HHA Costs</td>
        <td class="center" rowspan="2">Total HHA
            Charges (from ProvideRecords)</td>
        <td class="center" rowspan="2" >Cost to
            Charge Ratio</td>
            <td colspan="4" class="center">Charges by LOC (from Provider Records)</td>
            <td colspan="4"  class="center">Shared Service Costs by LOC</td>
            <td rowspan="3"></td>
    </tr>
    <tr>
        <td class="center">HCHC</td>
        <td class="center">HRHC</td>
        <td class="center">HIRC</td>
        <td class="center">HGIP</td>
        <td class="center">HCHC (col. 3 x col. 4 )</td>
        <td class="center">HRHC (col. 3 x col. 5)</td>
        <td class="center">HIRC (col. 3 x col. 6)</td>
        <td class="center">HGIP
            (col. 3 x col. 7)</td>
    </tr>
    <tr>
        <td class="center">0</td>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
        <td class="center">5</td>
        <td class="center">6</td>
        <td class="center">7</td>
        <td class="center">8</td>
        <td class="center">9</td>
        <td class="center">10</td>
        <td class="center">11</td>
    </tr>
    <tr>
        <td colspan="2">ANCILLARY SERVICE COST CENTERS </td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td></td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td>Physical Therapy</td>
        <td class="center">7</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>

        <td class="data"></td>

        <td class="data"></td>
<td class="left">1</td>

    </tr>
    <tr>
        <td class="right">2</td>
        <td>Occupational Therapy</td>
        <td class="center">8</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>

        <td class="data"></td>

        <td class="data"></td>
<td class="left">2</td>

    </tr>
    <tr>
        <td class="right">3</td>
        <td>Speech/ Language Pathology</td>
        <td class="center">9</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>

        <td class="data"></td>

        <td class="data"></td>
<td class="left">3</td>

    </tr>
    <tr>
        <td class="right">4</td>
        <td>Medical Social Services - Direct</td>
        <td class="center">10</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>

        <td class="data"></td>

        <td class="data"></td>
<td class="left">4</td></tr>
<tr>
    <td class="right">5</td>
    <td>Medical Supplies</td>
    <td class="center">12</td>
    <td class="data"></td>
    <td class="data"></td>
    <td class="data"></td>
    <td class="data"></td>
    <td class="data"></td>
    <td class="data"></td>
    <td class="data"></td>
    <td class="data"></td>
    <td class="data"></td>

    <td class="data"></td>

    <td class="data"></td>
<td class="left">5</td></tr>
<tr>
    <td class="right">6</td>
    <td>Durable Medical Equipment/Oxygen</td>
    <td class="center">14</td>
    <td class="data"></td>
    <td class="data"></td>
    <td class="data"></td>
    <td class="data"></td>
    <td class="data"></td>
    <td class="data"></td>
    <td class="data"></td>
    <td class="data"></td>
    <td class="data"></td>

    <td class="data"></td>

    <td class="data"></td>
<td class="left">4</td></tr>

<tr>
    <td class="right">7</td> 
    <td> Totals (sum of lines 1-7) </td>
    <td class="data fillgrey"></td>
    <td class="data fillgrey"></td>
    <td class="data fillgrey"></td>
    <td class="data fillgrey"></td>
    <td class="data fillgrey"></td>
    <td class="data fillgrey"></td>
    <td class="data fillgrey"></td>
    <td class="data fillgrey"></td>
    <td class="data "></td>
    <td class="data "></td>
    <td class="data "></td>
    <td class="data "></td>
    <td class="left"></td>
</tr>
<tr>
    <td colspan="15">FORM CMS-1728-94 (10/2016) (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 3251)</td>

</tr>
<tr>
    <td colspan="2">32-359</td>
    <td colspan="11">&nbsp;</td>
    <td colspan="2">Rev 18</td>
</tr>

</tbody>
</table>
</div>