<div class="report">
<table border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
<col width="4%" />
<col width="40%"/>
<col width="15%" />
<col width="15%" />
<col width="15%" />
<col width="4%" />
</colgroup>
<thead>
    <tr>
        <td colspan="2"> CALCULATION OF HHA-BASED HOSPICE PER DIEM COST</td>
        <td> PROVIDER CCN:<span class="data">{{pId}}</span><div>HOSPICE CCN:</div><span class="data">{{pId}}</span></td>
        <td>
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="2"> WORKSHEET  O-8</td>
    </tr>
</thead>
<tbody>
    <tr>
        <td rowspan="2" colspan="2">&nbsp;</td>
        <td class="center">TITLE  XVIII<div>MEDICARE</div></td>
        <td class="center">TITLE  XIX<div>MEDICAID</div></td>
        <td class="center">TOTAL</td>
        <td rowspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
    </tr>
    <tr>
        <td colspan="2"> HOSPICE  CONTINUOUS  HOME  CARE</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td> Total cost  (Wkst. O-6, Part I, col. 18, line 50 plus Wkst. O-7, col. 8, line 7)</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data"></td>
        <td class="left">1</td>
    </tr>
    <tr>
        <td class="right">2</td>
        <td>  Total unduplicated days  (Wkst. S-5, col. 4, line 10)</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data"></td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td>  Total average cost per diem  (line 1 divided by line 2)</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data"></td>
        <td class="left">3</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td>  Unduplicated program days  (Wkst. S-5 col. as appropriate, line 10)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data  fillgrey"></td>
        <td class="left">4</td>
    </tr>
    <tr>
        <td class="right">5</td>
        <td>  Program cost  (line 3 times line 4)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data  fillgrey"></td>
        <td class="left">5</td>
    </tr>
    <tr>
        <td colspan="2">  HOSPICE  ROUTINE  HOME  CARE</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="right">6</td>
        <td> Total cost  (Wkst. O-6, Part I, col. 18, line 51 plus Wkst. O-7, col. 9, line 7)</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data"></td>
        <td class="left">6</td>
    </tr>
    <tr>
        <td class="right">7</td>
        <td> Total unduplicated days  (Wkst. S-5, col. 4, line 11)</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data"></td>
        <td class="left">7</td>
    </tr>
    <tr>
        <td class="right">8</td>
        <td>  Total average cost per diem  (line 6 divided by line 7)</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data"></td>
        <td class="left">8</td>
    </tr>
    <tr>
        <td class="right">9</td>
        <td>   Unduplicated program days  (Wkst. S-5, col. as appropriate, line 11)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data  fillgrey"></td>
        <td class="left">9</td>
    </tr>
    <tr>
        <td class="right">10</td>
        <td>  Program cost  (line 8 times line 9)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data  fillgrey"></td>
        <td class="left">10</td>
    </tr>
    <tr>
        <td colspan="2"> HOSPICE  INPATIENT  RESPITE  CARE</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="right">11</td>
        <td> Total cost  (Wkst. O-6, Part I, col. 18, line 52 plus Wkst. O-7, col. 10, line 7)</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data"></td>
        <td class="left">11</td>
    </tr>
    <tr>
        <td class="right">12</td>
        <td>  Total unduplicated days  (Wkst. S-5, col. 4, line 12)</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data"></td>
        <td class="left">12</td>
    </tr>
    <tr>
        <td class="right">13</td>
        <td>  Total average cost per diem  (line 11 divided by line 12)</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data"></td>
        <td class="left">13</td>
    </tr>
    <tr>
        <td class="right">14</td>
        <td>  Unduplicated program days  (Wkst. S-5, col. as appropriate, line 12)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data  fillgrey"></td>
        <td class="left">14</td>
    </tr>
    <tr>
        <td class="right">15</td>
        <td> Program cost  (line 13 times line 14)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data  fillgrey"></td>
        <td class="left">15</td>
    </tr>
    <tr>
        <td colspan="2"> HOSPICE  GENERAL  INPATIENT  CARE</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="right">16</td>
        <td> Total cost  (Wkst. O-6, Part I, col. 18, line 53 plus Wkst. O-7, col. 11, line 7)</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data"></td>
        <td class="left">16</td>
    </tr>
    <tr>
        <td class="right">17</td>
        <td> Total unduplicated days  (Wkst. S-5, col. 4, line 13)</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data"></td>
        <td class="left">17</td>
    </tr>
    <tr>
        <td class="right">18</td>
        <td> Total average cost per diem  (line 16 divided by line 17)</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data"></td>
        <td class="left">18</td>
    </tr>
    <tr>
        <td class="right">19</td>
        <td> Unduplicated program days  (Wkst. S-5, col. as appropriate, line 13)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data  fillgrey"></td>
        <td class="left">19</td>
    </tr>
    <tr>
        <td class="right">20</td>
        <td>  Program cost (line 18 times line 19)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data  fillgrey"></td>
        <td class="left">20</td>
    </tr>
    <tr>
        <td colspan="2"> TOTAL  HOSPICE  CARE</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="right">21</td>
        <td> Total cost  (sum of line 1 + line 6 + line 11 + line 16)</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data"></td>
        <td class="left">21</td>
    </tr>
    <tr>
        <td class="right">22</td>
        <td> Total unduplicated days  (Wkst. S-5, col. 4, line 14)</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data"></td>
        <td class="left">22</td>
    </tr>
    <tr>
        <td class="right">23</td>
        <td> Average cost per diem  (line 21 divided by line 22)</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data"></td>
        <td class="left">23</td>
    </tr>
    
    <tr>
        <td colspan="6">FORM CMS-1728-94  (10/2016) (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 3252)</td>
    </tr>
    <tr>
        <td colspan="2" class="border-right">32-360</td>
        <td colspan="2" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">Rev. 17</td>
    </tr>
</tbody>
</table>
</div>