<div class="report">
    <table border="1" width="1200" cellspacing="1" cellpadding="1">
        <colgroup>
        <col width="4%" />
        <col width="25%" />
        <col width="12%" />
        <col width="12%" />
        <col width="12%" />
        <col width="12%" />
        <col width="12%" />
        <col width="12%" />
        <col width="12%" />
        <col width="12%" />
        <col width="12%" />
        <col width="12%" />
        <col width="4%" />
        </colgroup>
        <thead>
        <tr>
        <td colspan="7">ANALYSIS OF HHA-BASED RHC/FQHC COSTS
</div>
</td>
<td colspan="2">Provider CCN: <span class="data">{{pId}}</span>
    <div>RHC/FQHC CCN:</div>
</td>
<td colspan="2">
    <div>PERIOD:</div>
    <div>FROM <span class="data">{{year.start}}</span></div>
    <div>TO <span class="data">{{year.end}}</span></div>
</td>
<td colspan="2"> WORKSHEET RF-1
</td>
</tr>
</thead>
<tbody>
    <tr>
        <td colspan="2" class="center">Check Applicable Box:</td>
        <td colspan="11" class="center">[ ] HHA-Based RHC<div> [ ] HHA-Based FQHC</div></td>
    </tr>
    <tr>
        <td colspan="2">&nbsp</td>
        <td class="center">SALARIES</td>
        <td class="center">EMPLOYEE BENEFITS</td>
        <td class="center">TRANSPOR-<div>TATION</div></td>
        <td class="center">CONTRACTED/<div>PURCHASED</div><div> SERVICES</div></td>
        <td class="center">OTHER COSTS</td>
        <td class="center">TOTAL <div>(sum of col. 1 thru col. 5)   </div></td>
        <td class="center">RECLASSIFI-<div>CATIONS</div></td>
        <td class="center">RECLASSIFIED TRIAL BALANCE<div> (col. 6 + col. 7)</div></td>
        <td class="center">ADJUSTMENTS</td>
        <td class="center">NET EXPENSES
        FOR
        ALLOCATION
        <div></div>(col. 8 + col. 9)</td>
        <td class="center"></td>
    </tr>
    <tr>
        <td colspan="2"></td>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
        <td class="center">5</td>
        <td class="center">6</td>
        <td class="center">7</td>
        <td class="center">8</td>
        <td class="center">9</td>
        <td class="center">10</td>
        <td rowspan="2"></td>
    </tr>
    <tr>
        <td class="right"></td>
        <td>HEALTH CARE STAFF COSTS</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td>Physician</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">1</td>
    </tr>
    <tr>
        <td class="right">2</td>
        <td> Physician Assistant</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td> Nurse Practitioner</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">3</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td> Visiting Nurse</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">4</td>
    </tr>
    <tr>
        <td class="right">5</td>
        <td>Other Nurse</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">5</td>
    </tr>
    <tr>
        <td class="right">6</td>
        <td>Clinical Psychologist</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">6</td>
    </tr>
    <tr>
        <td class="right">7</td>
        <td> Clinical Social Worker</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">7</td>
    </tr>
    <tr>
        <td class="right">8</td>
        <td> Laboratory Technician</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">8</td>
    </tr>
    <tr>
        <td class="right">9</td>
        <td> Other Facility Health Care Staff Costs</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">9</td>
    </tr>
    <tr>
        <td class="right">10</td>
        <td>Subtotal (sum of lines 1-9)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">10</td>
    </tr>
    <tr>
        <td class="right"></td>
        <td>COSTS UNDER AGREEMENT</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
    </tr>
    <tr>
        <td class="right">11</td>
        <td> Physician Services Under Agreement</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">11</td>
    </tr>
    <tr>
        <td class="right">12</td>
        <td> Physician Supervision Under Agreement</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">12</td>
    </tr>
    <tr>
        <td class="right">13</td>
        <td> Other Costs Under Areement</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">13</td>
    </tr>
    <tr>
        <td class="right">14</td>
        <td> Subtotal (sum of lines 11-13)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">14</td>
    </tr>
    <tr>
        <td class="right"></td>
        <td>OTHER HEALTH CARE COSTS</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
    </tr>
    <tr>
        <td class="right">15</td>
        <td> Medical Supplies</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">15</td>
    </tr>
    <tr>
        <td class="right">16</td>
        <td> Transportation (Health Care Staff)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">16</td>
    </tr>
    <tr>
        <td class="right">17</td>
        <td> Depreciation-Medical Equipment</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">17</td>
    </tr>
    <tr>
        <td class="right">18</td>
        <td> Professional Liability Insurance</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">18</td>
    </tr>
    <tr>
        <td class="right">19</td>
        <td> Other Health Care Costs</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">19</td>
    </tr>
    <tr>
        <td class="right">20</td>
        <td> Allowable GME Pass Through Costs</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">20</td>
    </tr>
    <tr>
        <td class="right">21</td>
        <td> Subtotal (sum of lines 15-20)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">21</td>
    </tr>
    <tr>
        <td class="right">22</td>
        <td> Total Cost of Health Care Services (sum of lines 10, 14, and 21)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">22</td>
        </tr>
        <tr>
        <td class="right"></td>
        <td>COSTS OTHER THAN RHC/FQHC SERVICES</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        </tr>
        <tr>
        <td class="right">23</td>
        <td> Pharmacy</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">23</td>
        </tr>
        <tr>
        <td class="right">24</td>
        <td> Dental</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">24</td>
        </tr>
        <tr>
        <td class="right">25</td>
        <td> Optometry</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">25</td>
        </tr>
        <tr>
        <td class="right">26</td>
        <td> All other nonreimbursable costs</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">26</td>
        </tr>
        <tr>
        <td class="right">27</td>
        <td> Non-allowable GME Pass Through Costs</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">27</td>
        </tr>
        <tr>
        <td class="right">28</td>
        <td> Total Nonreimbursable Costs (sum of lines 23-27)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">28</td>
        </tr>
        <tr>
        <td class="right"></td>
        <td>OVERHEAD</td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        </tr>
        <tr>
        <td class="right">29</td>
        <td> Facility Costs</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">29</td>
        </tr>
        <tr>
        <td class="right">30</td>
        <td>Administrative Costs</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">30</td>
        </tr>
        <tr>
        <td class="right">31</td>
        <td>Total Overhead (sum of lines 29 and 30)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">31</td>
        </tr>
        <tr>
        <td class="right">32</td>
        <td>Total costs (sum of lines 22, 28 and 31)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">32</td>
        </tr>
        <tr>
        <td colspan="13">The net expenses for cost allocation on Worksheet A for the applicable HHA-based RHC/FQHC cost center line must equal the total costs in column 10, line 32 of this worksheet for cost reporting
        periods beginning on or after January 1, 1998.</td>
        </tr>
        <tr>
        <td colspan="13">FORM CMS-1728-94-RF-1 (10/2016) (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 3234)</td>
        
        </tr>
        <tr>
        <td colspan="2">32-343</td>
        <td colspan="9"></td>
        <td colspan="2">Rev 17</td>
        </tr>
</tbody>
</table>
</div>