<div class="report">
    <table border="1" width="100%" cellspacing="1" cellpadding="1">
        <colgroup>
            <col width="4%" />
            <col width="42%" />
            <col width="12%" />
            <col width="12%" />
            <col width="12%" />
            <col width="12%" />
            <col width="12%" />
            <col width="4%" />
        </colgroup>
        <thead>
            <tr>
                <td colspan="2">ALLOCATION OF OVERHEAD TO HHA-BASED RHC/FQHC SERVICES
</div>
</td>
<td colspan="2">Provider CCN: <span class="data">{{pId}}</span>
    <div>RHC/FQHC CCN:</div>
</td>
<td colspan="2">
    <div>PERIOD:</div>
    <div>FROM <span class="data">{{year.start}}</span></div>
    <div>TO <span class="data">{{year.end}}</span></div>
</td>
<td colspan="2"> WORKSHEET RF-2
</td>
</tr>
</thead>
<tbody>
    <tr>

        <td colspan="2">Check <div>Applicable Box:</div></td>
        <td colspan="6">[ ] HHA-Based RHC
            <div>[ ] HHA-Based FQHC</div></td>

    </tr>
    <tr>
        <td colspan="8">VISITS AND PRODUCTIVITY</td>
    </tr>
    <tr>
        <td rowspan="2" colspan="2" class="center">Positions</td>
        <td class="center">Number of FTE Personnel</td>
        <td class="center">Total Visits</td>
        <td class="center">Productivity Standard (1)</td>
        <td class="center">Minimum Visits (col. 1x col. 3)</td>
        <td class="center">Greater of
            Col. 2 or
            Col. 4</td>
        <td class="center"></td>
    </tr>
    <tr>
        <td class="data center">1</td>
        <td class="data center">2</td>
        <td class="data center">3</td>
        <td class="data center">4</td>
        <td class="data center">5</td>
        <td></td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td>Physicians</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data fillgrey"></td>
        <td class="left">1</td>
    </tr>
    <tr>
        <td class="right">2</td>
        <td>Physician Assistants</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data fillgrey"></td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td>Nurse Practitioners</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data fillgrey"></td>
        <td class="left">3</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td>Subtotal (sum of lines 1-3)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data fillgrey"></td>
        <td class="data"></td>
        <td class="data "></td>
        <td class="left">4</td>
    </tr>
    <tr>
        <td class="right">5</td>
        <td>Visiting Nurse</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data "></td>
        <td class="left">5</td>
    </tr>
    <tr>
        <td class="right">6</td>
        <td>Clinical Psychologist</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data "></td>
        <td class="left">6</td>
    </tr>
    <tr>
        <td class="right">7</td>
        <td>Clinical Social Worker</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data "></td>
        <td class="left">7</td>
    </tr>
    <tr>
        <td class="right">7.01</td>
        <td> Medical Nutrition Therapist (FQHC only)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data "></td>
        <td class="left">7.01</td>
    </tr>
    <tr>
        <td class="right">7.02</td>
        <td> Diabetes Self Management Training (FQHC only)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data "></td>
        <td class="left">7.02</td>
    </tr>
    <tr>
        <td class="right">8</td>
        <td> Total FTEs and Visits (sum of lines 4-7)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data "></td>
        <td class="left">8</td>
    </tr>
    <tr>
        <td class="right">9</td>
        <td>Physician Services Under Agreements</td>
        <td class="data fillgrey"></td>
        <td class="data"></td>
        <td class="data fillgrey"></td>
        <td class="data fillgrey"></td>
        <td class="data "></td>
        <td class="left">9</td>
    </tr>
    <tr>
        <td colspan="8"><div>&nbsp;</div>(1) Productivity standards established by CMS are: 4200 visits for each physician and 2100
            visits for each nonphysician
            practitioner. If an exception to the productivity standard has been granted, (Worksheet S-4, line 13 equals
            "Y"), then input
            in column 3, lines 1-3, the productivity standards derived by the contractor.<div>&nbsp;</div></td>
    </tr>
    <tr>
        <td colspan="8">DETERMINATION OF TOTAL ALLOWABLE COST APPLICABLE TO HHA-BASED RHC/FQHC SERVICES</td>
    </tr>
    <tr>
        <td class="right">10</td>
        <td colspan="5">Total costs of health care services (from Worksheet RF-1, column 10, line 22 less the amount
            from
            Worksheet RF-1, column 10, line 20)</td>
        <td></td>
        <td class="left">10</td>
    </tr>
    <tr>
        <td class="right">11</td>
        <td colspan="5"> Total nonreimbursable costs (from Worksheet RF-1, column 10, line 28)</td>
        <td></td>
        <td class="left">11</td>
    </tr>
    <tr>
        <td class="right">12</td>
        <td colspan="5"> Cost of all services (excluding overhead) (sum of lines 10 and 11)</td>
        <td></td>
        <td class="left">12</td>
    </tr>
    <tr>
        <td class="right">13</td>
        <td colspan="5">Ratio of HHA-based RHC/FQHC services (line 10 divided b line 12)</td>
        <td></td>
        <td class="left">13</td>
    </tr>
    <tr>
        <td class="right">14</td>
        <td colspan="5">Total overhead - (from Worksheet RF-1, column 10, line 31) (see instructions)</td>
        <td></td>
        <td class="left">14</td>
    </tr>
    <tr>
        <td class="right">15</td>
        <td colspan="5">Allowable GME Overhead (see instructions)</td>
        <td></td>
        <td class="left">15</td>
    </tr>
    <tr>
        <td class="right">16</td>
        <td colspan="5">Net Overhead (line 14 minus line 15)</td>
        <td></td>
        <td class="left">16</td>
    </tr>
    <tr>
        <td class="right">17</td>
        <td colspan="5">HHA overhead allocated to HHA-based RHC/FQHC (see instructions</td>
        <td></td>
        <td class="left">17</td>
    </tr>
    <tr>
        <td class="right">18</td>
        <td colspan="5"> Total overhead of HHA-Based RHC/FQHC (sum of lines 16 and 17)</td>
        <td></td>
        <td class="left">18</td>
    </tr>
    <tr>
        <td class="right">19</td>
        <td colspan="5"> Overhead applicable to HHA-based RHC/FQHC services (line 13 x line 18)</td>
        <td></td>
        <td class="left">19</td>
    </tr>
    <tr>
        <td class="right">20</td>
        <td colspan="5"> Total allowable cost of HHA-based RHC/FQHC services (sum of lines 10 and 19)</td>
        <td></td>
        <td class="left">20</td>
    </tr>
    <tr>
        <td colspan="8">FORM CMS-1728-94-RF-2 (10/2016) (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2,
            SECTIONS 3235 THROUGH 3235.2)</td>
    </tr>
    <tr>
        <td class="border-right">32-344</td>
        <td colspan="5" class="border-right"></td>
        <td colspan="2">Rev 17</td>
    </tr>
</tbody>
</table>
</div>