<div class="report">
    <table border="1" width="100%" cellspacing="1" cellpadding="1">
        <colgroup>
            <col width="4%" />
            <col width="42%" />
            <col width="12%" />
            <col width="12%" />
            <col width="12%" />
            <col width="12%" />

            <col width="4%" />
        </colgroup>
        <thead>
            <tr>
                <td colspan="3">CALCULATION OF REIMBURSEMENT SETTLEMENT FOR HHA-BASED RHC/FQHC SERVICES
</div>
</td>
<td>Provider CCN: <span class="data">{{pId}}</span>
    <div>RHC/FQHC CCN:</div>
</td>
<td>
    <div>PERIOD:</div>
    <div>FROM <span class="data">{{year.start}}</span></div>
    <div>TO <span class="data">{{year.end}}</span></div>
</td>
<td colspan="2"> WORKSHEET RF-3
</td>
</tr>
<tr>
    <td colspan="2">Check<div> Applicable Box:</div></td>
    <td colspan="5">[ ] HHA-Based RHC
        <div>[ ] HHA-Based FQHC</div></td>
</tr>
</thead>
<tbody>
    <tr>
        <td colspan="7">DETERMINATION OF RATE FOR HHA-BASED RHC/FQHC SERVICE</td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td colspan="4"> Total Allowable Cost of HHA-based RHC/FQHC Services (from Worksheet RF-2, line 20)</td>
        <td></td>
        <td class="left">1</td>
    </tr>
    <tr>
        <td class="right">2</td>
        <td colspan="4"> Cost of vaccines and their administration (from Worksheet RF-4, line 15)</td>
        <td></td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td colspan="4"> Total allowable cost excluding vaccine (line 1 minus line 2)</td>
        <td></td>
        <td class="left">3</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td colspan="4"> Total FTEs and Visits (from Wkst. RF-2, col. 5, line 8)</td>
        <td></td>
        <td class="left">4</td>
    </tr>
    <tr>
        <td class="right">5</td>
        <td colspan="4"> Physicians visits under agreement (from Worksheet RF-2, column 5, line 9)</td>
        <td></td>
        <td class="left">5</td>
    </tr>
    <tr>
        <td class="right">6</td>
        <td colspan="4"> Total adjusted visits (line 4 plus line 5)</td>
        <td></td>
        <td class="left">6</td>
    </tr>
    <tr>
        <td class="right">7</td>
        <td colspan="4"> Adjusted cost per visit (line 3 divided by line 6)</td>
        <td></td>
        <td class="left">7</td>
    </tr>
    <tr>
        <td colspan="4" rowspan="3"></td>
        <td colspan="2" class="center">Calculation of Limit (1)</td>
        <td rowspan="3"></td>
    </tr>
    <tr>
        <td class="center">Rate<div> Period 1</div></td>
        <td class="center">Rate <div>Period 2</div></td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
    </tr>
    <tr>
        <td class="right">8</td>
        <td colspan="3">Per visit payment limit (from your contractor)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">8</td>

    </tr>
    <tr>
        <td class="right">9</td>
        <td colspan="3">Rate for Medicare covered visits (lesser of line 7 or line 8) (See instructions)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">9</td>

    </tr>
    <tr>
        <td colspan="7">CALCULATION OF HHA-BASED RHC/FQHC SETTLEMEN</td>
    </tr>
    <tr>
        <td class="right">10</td>
        <td colspan="3"> Medicare covered visits excluding mental health services (from the PS&R)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">10</td>
    </tr>
    <tr>
        <td class="right">11</td>
        <td colspan="3">Medicare cost excluding costs for mental health services (line 9 x line 10)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">11</td>
    </tr>
    <tr>
        <td class="right">12</td>
        <td colspan="3"> Medicare covered visits for mental health services (from the PS&R)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">12</td>
    </tr>
    <tr>
        <td class="right">13</td>
        <td colspan="3"> Medicare covered cost for mental health services (line 9 x line 12)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">13</td>
    </tr>
    <tr>
        <td class="right">14</td>
        <td colspan="3">Limit adjustment for mental health services (line 13 x the applicable percentage) (see
            instructions)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">14</td>
    </tr>
    <tr>
        <td class="right">15</td>
        <td colspan="3"> Graduate Medical Education Pass Throuh Cost (see instructions)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">15</td>
    </tr>
    <tr>
        <td class="right">15.5</td>
        <td colspan="3"> Primary Payer Amounts</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">15.5</td>
    </tr>
    <tr>
        <td class="right">16</td>
        <td colspan="3">Total Medicare cost (line 11, columns 1 & 2, plus line 14, columns 1 & 2, plus columns 1 and 2,
            line 15 minus line 15.5, columns 1 and 2) (see instructions)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">16</td>
    </tr>
    <tr>
        <td class="right">16.01</td>
        <td colspan="3"> Total Program Charges (see instructions)(from contractor's records)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">16.01</td>
    </tr>
    <tr>
        <td class="right">16.02</td>
        <td colspan="3"> Total Program Preventive Charges (see instructions)(from provider's records)</td>
        <td class="data fillgrey"></td>
        <td class="data"></td>
        <td class="left">16.02</td>
    </tr>
    <tr>
        <td class="right">16.03</td>
        <td colspan="3"> Total Proram Preventive Costs (see instructions)</td>
        <td class="data fillgrey"></td>
        <td class="data"></td>
        <td class="left">16.03</td>
    </tr>
    <tr>
        <td class="right">16.04</td>
        <td colspan="3"> Total Program Non-Preventive Costs (see instructions)</td>
        <td class="data fillgrey"></td>
        <td class="data"></td>
        <td class="left">16.04</td>
    </tr>
    <tr>
        <td class="right">16.05</td>
        <td colspan="3"> Total Program Cost (see instructions)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">16.05</td>
    </tr>

    <tr>
        <td class="right">17</td>
        <td colspan="3"> Less: Beneficiary deductible for RHC only (see instructions) (from contractor records)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">17</td>
    </tr>
    <tr>
        <td class="right">17.5</td>
        <td colspan="3"> Beneficiary coinsurance for HHA-based RHC/FQHC services (see instructions) (from contractor
            records)</td>
        <td class="data "></td>
        <td class="data"></td>
        <td class="left">17.5</td>
    </tr>
    <tr>
        <td class="right">18</td>
        <td colspan="3"> Net Medicare cost excluding vaccines (see instrcutions) </td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">18</td>
    </tr>
    <tr>
        <td class="right">19</td>
        <td colspan="3"> Reimbursable cost of HHA-based RHC/FQHC services, excludin vaccine (see instructions)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">19</td>
    </tr>
    <tr>
        <td class="right">20</td>
        <td colspan="3">Medicare cost of vaccines and their administration (from Worksheet. RF-4, line 16)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">20</td>
    </tr>
    <tr>
        <td class="right">21</td>
        <td colspan="3">Total reimbursable Medicare cost (see instructions)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">21</td>
    </tr>
    <tr>
        <td class="right">22</td>
        <td colspan="3"> Reimbursable bad debts</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">22</td>
    </tr>


    <tr>
        <td class="right">22.01</td>
        <td colspan="3"> Adjusted reimbursable bad debts (see instructions)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">22.01</td>
    </tr>

    <tr>
        <td class="right">22.02</td>
        <td colspan="3"> Allowable bad debts for dual eligible beneficiaries (see instructions)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">22.02</td>
    </tr>
    <tr>
        <td class="right">23</td>
        <td colspan="3"> Other adjustments (specify)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">23</td>
    </tr>
    <tr>
        <td class="right">24</td>
        <td colspan="3"> Net reimbursable amounts (see instructions)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">24</td>
    </tr>
    <tr>
        <td class="right">24.01</td>
        <td colspan="3"> Sequestration adjustment (see instructions)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">24.01</td>
    </tr>
    <tr>
        <td class="right">25</td>
        <td colspan="3"> Interim paments (From Worksheet RF-5, line 4)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">25</td>
    </tr>
    <tr>
        <td class="right">25.5</td>
        <td colspan="3"> Tentative settlement (For contractor use only)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">25.5</td>
    </tr>
    <tr>
        <td class="right">26</td>
        <td colspan="3"> Balance due HHA-based RHC and/or FQHC/program (line 24 minus lines 24.01 and 25)</td>
        <td class="data"></td>
        <td class="data"></td>
        <td class="left">26</td>
    </tr>
    <tr>
            <td class="right">27</td>
            <td colspan="3">   Protested amounts (nonallowable cost report items) in accordance with CMS Pub.  15-2 hatr 1 tin 1152</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">27</td>
        </tr>
        <tr>
            <td colspan="7">(1) Enter chronologically in columns 1, and 2, as applicable, the payment limit and corresponding data.</td>
        </tr>
        <tr>
            <td colspan="7">FORM CMS-1728-94-RF-3 (10/2016) (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTIONS 3236 THROUGH 3236.1)</td>
        </tr>
        <tr>
            <td class="border-right">32-345</td>
            <td colspan="5"></td>
            <td>Rev.17</td>
        </tr>

</tbody>
</table>
</div>