<div class="report">
<table border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
    <col width="4%" />
    <col width="20%" />
    <col width="10%" />
    <col width="12%" />
    <col width="12%" />
    <col width="12%" />
    <col width="12%" />
    <col width="4%" />
</colgroup>
<thead>
    <tr>
        <td colspan="4">ANALYSIS OF PAYMENTS TO <div>HHA-BASED CMHC FOR SERVICES RENDERED</div><div>TO PROGRAM BENEFICIARIES</div></td>
        <td>PROVIDER  CCN:<span class="data">{{pId}}</span><div> RHC/FQHC CCN:<span class="data"></span></div></td>
        <td>
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="2">WORKSHEET RF-4</td>
    </tr>
</thead>
    <tbody>
        <tr>
            <td colspan="2">Check <div>Applicable Box:</div></td>
            <td colspan="6">  [  ]  HHA-Based RHC<div>  [  ]  HHA-based FQHC</div></td>
        </tr>
        <tr>
            <td colspan="8">&nbsp;</td>
        </tr>
        <tr>
            <td class="right" colspan="3" rowspan="2">CALCULATION OF COST</td>
            <td class="center">PNEUMOCOCCAL</td>
            <td class=" center">SEASONAL<div>INFLUENZA</div><div>ONLY</div></td>
            <td class="center">H1N1<div>ONLY</div></td>
            <td class="center">INFLUENZA<div>& H1N1</div><div>(See instructions)</div></td>
            <td rowspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td class="center">1</td>
            <td class="center">2</td>
            <td class="center">2.01</td>
            <td class="center">2.02</td>
        </tr>
        <tr>
            <td class="right">1</td>
            <td colspan="2"> Health care staff cost <div> (Worksheet RF-1, column 10, line 10)</div></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">1</td>
        </tr>
         <tr>
            <td class="right">2</td>
            <td colspan="2">  Ratio of pneumococcal and influenza vaccine   staff time to total health care staff time </td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">2</td>
        </tr>
         <tr>
            <td class="right">3</td>
            <td colspan="2"> Pneumococcal and influenza vaccine   health care staff cost (line 1 x line 2)</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">3</td>
        </tr>
         <tr>
            <td class="right">4</td>
            <td colspan="2"> Medical supplies cost - pneumococcal and influenza  vaccine (from your records)</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data fillgrey"></td>
            <td class="data"></td>
            <td class="left">4</td>
        </tr>
         <tr>
            <td class="right">5</td>
            <td colspan="2"> Direct cost of pneumococcal and influenza  vaccine (line 3 plus line 4)</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">5</td>
        </tr>
         <tr>
            <td class="right">6</td>
            <td colspan="2"> Total direct cost of the HHA-based RHC/FQHC <div> (Worksheet RF-1, column 10, line 22)</div></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">6</td>
        </tr>
         <tr>
            <td class="right">7</td>
            <td colspan="2">  Total HHA-based RHC/FQHC overhead  <div> (Worksheet RF-2, line 18)</div></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">7</td>
        </tr>
         <tr>
            <td class="right">8</td>
            <td colspan="2">  Ratio of pneumococcal and influenza vaccine  direct cost to total direct cost (line 5 divided by line 6)</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">8</td>
        </tr>
         <tr>
            <td class="right">9</td>
            <td colspan="2"> Overhead cost - pneumococcal and influenza  vaccine (line 7 x line 8)</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">9</td>
        </tr>
         <tr>
            <td class="right">10</td>
            <td colspan="2">  Total pneumococcal and influenza vaccine cost and  its (their) administration  (sum of lines 5 and 9)</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">10</td>
        </tr>
         <tr>
            <td class="right">11</td>
            <td colspan="2"> Total number of pneumococcal and influenza  vaccine injections (from your records)</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">11</td>
        </tr>
         <tr>
            <td class="right">12</td>
            <td colspan="2"> Cost per pneumococcal and influenza  vaccine injection (line 10/ line 11)</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">12</td>
        </tr>
         <tr>
            <td class="right">13</td>
            <td colspan="2"> Number of pneumococcal and influenza vaccine  injections administered to Medicare beneficiaries</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">13</td>
        </tr>
         <tr>
            <td class="right">14</td>
            <td colspan="2"> Medicare cost of pneumococcal and influenza vaccine  and its (their) administration (line 12 x line 13)</td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="data"></td>
            <td class="left">14</td>
        </tr>
        <tr>
            <td colspan="8">&nbsp;</td>
        </tr>
         <tr>
            <td class="right">15</td>
            <td colspan="5"> Total cost of pneumococcal and influenza vaccine and their administration (sum of columns  1, 2, 2.01 and 2.02, line 10) (transfer this amount to Worksheet RF-3, line 2)</td>
            <td class="data"></td>
            <td class="left">15</td>
        </tr>
         <tr>
            <td class="right">16</td>
            <td colspan="5"> Total  Medicare cost of pneumococcal and influenza vaccine and their administration (sum  of columns 1, 2, 2.01 and 2.02, line 14)  (transfer this amount to Worksheet RF-3, line 20)</td>
            <td class="data"></td>
            <td class="left">16</td>
        </tr>
        <tr>
            <td colspan="8">FORM CMS-1728-94-RF-4 (10/2016) (INSTRUCTIONS FOR THIS FORM ARE PUBLISHED IN CMS PUB. 15-2, SECTION 3237)</td>
        </tr>
        <tr>
            <td colspan="2" class="border-right">32-346</td>
            <td colspan="4" class="border-right">&nbsp;</td>
            <td colspan="2" class="right">Rev. 17</td>
        </tr>
    </tbody>
    </table>
    </div>