<div class="report">
<table border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
    <col width="4%" />
    <col width="30"/>
    <col width="15"/>
    <col width="15"/>
    <col width="15"/> 
    <col width="15"/>
    <col width="15"/>
    <col width="4%" /> 
</colgroup>
<thead>
    <tr>
        <td class="border-right" colspan="6">This report is required by law (42 USC 1395g; 42 CFR 413.20(b)).  Failure to report can result<div>in all interim payments made since the beginning of the cost reporting period  being deemed</div><div>as overpayments (42 USC 1395g).</div></td>
        <td class="border-left" colspan="2">         FORM APPROVED<div>          OMB NO. 0938-0022</td>
    </tr>
    <tr>
        <td colspan="3"> HOME HEALTH AGENCY COST REPORT<div>CERTIFICATION AND SETTLEMENT SUMMARY</div></td>
        <td colspan="2">Provider CCN: <span class="data">{{pId}}</span></td>
        <td>
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="2">  WORKSHEET S</td>
    </tr>
</thead>
<tbody>
   <tr>
       <td colspan="2" class="border-right">      Contractor Use Only:<div>&nbsp;</div><div>[ ]  Audited</div><div>[ ]  Desk Reviewed</div></td>
       <td colspan="2" class="border-right"><div>&nbsp;</div><div>Date Received    ____________</div><div>Contractor No.   _____________</div></td>
       <td colspan="2" class="border-right"><div>&nbsp;</div><div>[  ] Initial</div><div>[  ] Final</div></td>
       <td colspan="2"><div>&nbsp;</div><div>[  ]  Re-opened</div></td>
   </tr>
   <tr>
       <td colspan="8">PART I - CERTIFICATION</td>
   </tr>
   <tr>
       <td colspan="2">Check <div>applicable box</div></td>
       <td colspan="3" class="border-right">[ ]   Electronically filed cost report<div>[ ] Manually submitted cost report</div></td>
       <td colspan="3" class="border-right">Date: ___________<div>Time: ___________</div></td>
   </tr>
   <tr>
       <td colspan="8"><div class="tabPadding">MISREPRESENTATION OR FALSIFICATION OF ANY INFORMATION CONTAINED IN THIS COST REPORT MAYBE PUNISHABLE BY CRIMINAL, CIVIL AND ADMINISTRATIVE ACTION, FINE   AND/OR IMPRISONMENTUNDER FEDERAL LAW.  FURTHERMORE, IF SERVICES IDENTIFIED IN  THIS REPORT WERE PROVIDEDOR PROCURED THROUGH THE PAYMENT DIRECTLY OR  INDIRECTLY OF A KICKBACK OR WERE OTHERWISEILLEGAL, CRIMINAL, CIVIL AND ADMINISTRATIVE  ACTION, FINES AND/OR IMPRISONMENT MAY RESULT.
           <div>&nbsp;</div><div class="tab">CERTIFICATION BY CHIEF FINANCIAL OFFICER OR ADMINISTRATOR OF THE PROVIDER(S)I</div><div>&nbsp;</div>
           <div>I HEREBY CERTIFY that I have read the above certification statement and that I have examined the accompanying electronically filed or manually submitted Home Health Agency Cost Report and the Balance Sheet and Statement of Revenue and Expensesprepared by _________________________________________(Provider name(s) and number(s)) for the cost reporting periodbeginning _____________________and ending __________________________, and that to the best of my knowledge and belief, this report and statement are true, correct, complete and prepared from the books and records of theprovider in accordance with applicable instructions, except as noted.  I further certify that I am familiar with the laws andregulations regarding the provision of health care services, and that the services identified in this cost report were provided incompliance with such laws and regulations.</div><div>&nbsp;</div>
            <div><form action=""><input type="checkbox">     I have read and agree with the above certification statement. I certify that I intend my electronic signature on this certification statement to be the legally binding equivalent of my original signature.</form></div><div class="center">(Signed) __________________________________________<div class="tab">Chief Financial Officer or Administrator</div><div>&nbsp;</div><div class="tab">__________________________________________</div><div class="tab">Title</div><div>&nbsp;</div><div class="tab">__________________________________________</div><div class="tab">Date</div></div></div></td>
   </tr>
   <tr>
       <td colspan="8">PART II - SETTLEMENT SUMMARY</td>
   </tr>
   <tr>
       <td colspan="3" rowspan="3">&nbsp</td>
       <td class="center" colspan="4">     TITLE XVIII</td>
       <td rowspan="3">&nbsp;</td>
   </tr>
   <tr>
       <td class="center" colspan="2">PART A</td>
       <td class="center" colspan="2">PART B</td>
   </tr>
   <tr>
       <td class="center" colspan="2">1</td>
       <td class="center" colspan="2">2</td>
   </tr>
   <tr>
       <td class="right">1</td>
       <td colspan="2"> HOME HEALTH AGENCY</td>
       <td colspan="2" class="data">{{NumberFormat data-2.00100-00100}}</td>
       <td colspan="2" class="data">{{NumberFormat data-2.00100-00200}}</td>
       <td class="left">1</td>
   </tr>
   <tr>
       <td class="right">2</td>
       <td colspan="2"> HOME HEALTH-BASED CORF</td>
       <td colspan="2" class="fillgrey data">{{NumberFormat data-2.00200-00100}}</td>
       <td colspan="2" class="data">{{NumberFormat data-2.00200-00200}}</td>
       <td class="left">2</td>
   </tr>
   <tr>
       <td class="right">3</td>
       <td colspan="2"> HOME HEALTH-BASED CMHC</td>
       <td colspan="2" class="fillgrey data">{{NumberFormat data-2.00300-00100}}</td>
       <td colspan="2" class="data">{{NumberFormat data-2.00300-00200}}</td>
       <td class="left">3</td>
   </tr>
   <tr>
       <td class="right">3.5</td>
       <td colspan="2"> HOME HEALTH-BASED RHC/FQHC<div> (specify)</div></td>
       <td colspan="2" class="fillgrey data">{{NumberFormat data-2.00350-00100}}</td>
       <td colspan="2" class="data">{{NumberFormat data-2.00350-00200}}</td>
       <td class="left">3.5</td>
   </tr>
   <tr>
       <td class="right">4</td>
       <td colspan="2">  TOTAL</td>
       <td colspan="2" class="data">{{NumberFormat data-2.00400-00100}}</td>
       <td colspan="2" class="data">{{NumberFormat data-2.00400-00100}}</td>
       <td class="left">4</td>
   </tr>
    <tr>
        <td colspan="8">FORM CMS-1728-94 (03/2018)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTIONS. 3203 THROUGH 3203.2)</td>
    </tr>
    <tr>
        <td colspan="2" class="border-right">Rev. 18</td>
        <td colspan="4" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">32-303</td>
    </tr>
</tbody>
</table>
</div>