<div class="report">
    <table border="1" width="100%" cellspacing="1" cellpadding="1">
        <colgroup>
            <col width="4%" />
            <col width="10%" />
            <col width="10%" />
            <col width="10%" />
            <col width="10%" />
            <col width="10%" />
            <col width="10%" />
            <col width="10%" />
            <col width="8%" />
            <col width="4%" />
        </colgroup>
        <thead>
            <tr>
                <td colspan="6">HOME HEALTH AGENCY COMPLEX<div>QUESTIONNAIRE</div>
                </td>
                <td>Provider CCN: <span class="data">{{pId}}</span></td>
                <td>
                    <div>PERIOD:</div>
                    <div>FROM <span class="data">{{year.start}}</span></div>
                    <div>TO <span class="data">{{year.end}}</span></div>
                </td>
                <td colspan="2"> WORKSHEET S-2-1 </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="10">
                    <div>General Instruction : For all column 1 responses, enter "Y" for YES of "N" for NO </div>
                    <div>Enter all dates in the date format (mm/dd/yyyy)</div>
                </td>
            </tr>
            <tr>
                <td colspan="10">COMPLETED BY ALL HHA's</td>
            </tr>
            <tr>
                <td rowspan="2" colspan="6">Provider Organisation and Operation</td>
                <td class="center"> Y/N </td>
                <td class="center"> Date </td>
                <td class="center"> V/I </td>
                <td rowspan="2"></td>
            </tr>
            <tr>
                <td class="center">1</td>
                <td class="center">2</td>
                <td class="center">3</td>

            </tr>
            <tr>
                <td class="right">1</td>
                <td colspan="5">Has the HHA changed ownership immediately prior to the beginning of the cost reporting
                    period? If column 1 is yes, enter the date of the change in column 2. (see instructions)</td>
                <td class="data">{{data-1.00100-00100}}</td>
                <td class="data">{{data-1.00100-00200}}</td>
                <td class="data fillgrey" >{{data-1.00100-00300}}</td>
                <td class="left">1</td>
            </tr>
            <tr>
                <td class="right">2</td>
                <td colspan="5"> Has the HHA terminated participation in the Medicare program? If column 1 is yes, enter
                    in column 2 the date 2 of termination and in column 3, "V" for voluntary or "I" for involuntary.
                    (see instructions)</td>
                <td class="data">{{data-1.00200-00100}}</td>
                <td class="data">{{data-1.00200-00200}}</td>
                <td class="data">{{data-1.00200-00300}}</td>
                <td class="left">2</td>
            </tr>
            <tr>
                <td class="right">3</td>
                <td colspan="5">Is the HHA involved in business transactions, including management contracts, with
                    individuals or entities 3
                    (e.g., chain home offices, drug or medical supply companies) that are related to the provider or its
                    officers, medical
                    staff, management personnel, or members of the board of directors through ownership, control, or
                    family and
                    other similar relationships? (see instructions)</td>
                <td class="data">{{data-1.00300-00100}}</td>
                <td class="data fillgrey">{{data-1.00300-00200}}</td>
                <td class="data fillgrey">{{data-1.00300-00300}}</td>
                <td class="left">3</td>
            </tr>
            <tr>
                <td rowspan="2" colspan="6">Financial Data and Reports</td>
                <td class="center"> Y/N </td>
                <td class="center"> Type </td>
                <td class="center"> Date </td>
                <td rowspan="2"></td>
            </tr>
            <tr>
                <td class="center">1</td>
                <td class="center">2</td>
                <td class="center">3</td>

            </tr>
            <tr>
                <td class="right">4</td>
                <td colspan="5"> Column 1: Were the financial statements prepared by a Certified Public Accountant? 4
                    Column 2: If column 1 is yes, enter "A" for Audited, "C" for Compiled, or "R" for Reviewed. Submit
                    complete copy or enter
                    date available in column 3. (see instructions) If no, see instructions.</td>
                <td class="data">{{data-1.00400-00100}}</td>
                <td class="data fillgrey">{{data-1.00400-00200}}</td>
                <td class="data fillgrey">{{data-1.00400-00300}}</td>
                <td class="left">4</td>
            </tr>
            <tr>
                <td class="right">5</td>
                <td colspan="5"> Are the cost report total expenses and total revenues different from those on the filed
                    financial statements? 5
                    Enter "Y" for yes or "N" for no in column 1. If yes, submit reconciliation.</td>
                <td class="data">{{data-1.00500-00100}}</td>
                <td class="data">{{data-1.00500-00200}}</td>
                <td class="data">{{data-1.00500-00300}}</td>
                <td class="left">5</td>
            </tr>
            <tr>
                <td colspan="8">Bad Debts</td>
                <td class="center"> Y/N </td>
                <td></td>
            </tr>

            <tr>
                <td class="right">6</td>
                <td colspan="5">Is the HHA or HHA-based entities seeking reimbursement for bad debts? If yes, see
                    instructions.</td>
                <td class="data">{{data-1.00600-00100}}</td>
                <td class="data">{{data-1.00600-00200}}</td>
                <td class="data">{{data-1.00600-00300}}</td>
                <td class="left">6</td>
            </tr>

            <tr>
                <td class="right">7</td>
                <td colspan="5"> If line 6 is yes, did the HHA's bad debt collection policy change during this cost
                    reporting period? If yes, submit copy. </td>
                <td class="data">{{data-1.00700-00100}}</td>
                <td class="data">{{data-1.00700-00200}}</td>
                <td class="data">{{data-1.00700-00300}}</td>
                <td class="left">7</td>
            <tr>

            <tr>
                <td class="right">8</td>
                <td colspan="5">If line 6 is yes, were patient coinsurance amounts waived? If yes, see instructions.
                </td>
                <td class="data">{{data-1.00800-00100}}</td>
                <td class="data">{{data-1.00800-00200}}</td>
                <td class="data">{{data-1.00800-00300}}</td>
                <td class="left">8</td>
            <tr>

            <tr>
                <td rowspan="2" colspan="7">PS&R Report Data</td>
                <td class="center"> Y/N </td>
                <td class="center"> Date </td>
                <td rowspan="2"></td>
            </tr>
            <tr>
                <td class="center">1</td>
                <td class="center">2</td>

            </tr>

            <tr>
                <td class="right">9</td>
                <td colspan="6"> Was the cost report prepared using the PS&R Report only? If column 1 is yes, enter the
                    paid-through date of the PS&R Report used in column 2. (see instructions).</td>
                <td class="data">{{data-1.00900-00100}}</td>
                <td class="data">{{data-1.00900-00200}}</td>
                <td class="left">9</td>
            <tr>

            <tr>
                <td class="right">10</td>
                <td colspan="6"> Was the cost report prepared using the PS&R Report for totals and the HHA's records for
                    allocation?
                    If column 1 is yes, enter the paid-through date in column 2. (see instructions)</td>
                <td class="data">{{data-1.01000-00100}}</td>
                <td class="data">{{data-1.01000-00200}}</td>
                <td class="left">10</td>
            <tr>

            <tr>
                <td class="right">11</td>
                <td colspan="6"> If line 9 or 10 is yes, were adjustments made to PS&R Report data for additional claims
                    that have been
                    billed but are not included on the PS&R Report used to file the cost report? If yes, see
                    instructions. (see instructions)</td>
                <td class="data">{{data-1.01100-00100}}</td>
                <td class="data fillgrey">{{data-1.01100-00200}}</td>
                <td class="left">11</td>
            <tr>


            <tr>
                <td class="right">12</td>
                <td colspan="6"> If line 9 or 10 is yes, were adjustments made to PS&R Report data for corrections of
                    other
                    PS&R Report information? If yes, see instructions</td>
                <td class="data">{{data-1.01200-00100}}</td>
                <td class="data fillgrey">{{data-1.01200-00200}}</td>
                <td class="left">12</td>
            <tr>

            <tr>
                <td class="right">13</td>
                <td colspan="6">If line 9 or 10 is yes, were adjustments made to PS&R Report data for Other?
                    Describe the other adjustments:</td>
                <td class="data">{{data-1.01300-00100}}</td>
                <td class="data fillgrey">{{data-1.01300-00200}}</td>
                <td class="left">13</td>
            <tr>
            <tr>
                <td class="right">14</td>
                <td colspan="6">Was the cost report prepared only using the HHA's records? If yes, see instructions.
                </td>
                <td class="data">{{data-1.01400-00100}}</td>
                <td class="data fillgrey">{{data-1.01400-00200}}</td>
                <td class="left">14</td>
            <tr>
            <tr>
                <td colspan="10">Cost Report Preparer Contact Information</td>
            </tr>

            <tr>
                <td class="right">15</td>
                <td colspan="2">Firstname : <span class="data">{{data-1.01500-00100}}</span></td>
                <td colspan="4">Lastname :<span class="data">{{data-1.01500-00200}}</span></td>
                <td colspan="2">Title :<span class="data">{{data-1.01500-00300}}</span></td>
                <td class="left">15</td>
            

            <tr>
                <td class=" right">16</td>
                <td colspan="8">Employer: <span class="data">{{data-1.01600-00100}}</span></td>
                <td class="left">16</td>

            </tr>

            <tr>
                    <td class=" right">17</td>
                    <td colspan="4"> Phone number:<span class="data">{{data-1.01700-00100}}</span> </td>
                    <td colspan="4"> E-mail Address: <span class="data">{{data-1.01700-00200}}</span></td>
                    <td class="left">17</td>
    
                </tr>

            <td colspan="10">FORM CMS-1728-94 (10/2016) (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 3204.1)</td>
            </tr>
            <tr>
                <td colspan="2" class="border-right">32-304.1</td>
                <td colspan="6" class="border-right">&nbsp;</td>
                <td colspan="2" class="right">Rev. 17</td>
            </tr>
        </tbody>
    </table>
</div>