<div class="report">
<table border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
<col width="4%" />
<col width="10%"/>
<col width="10%" />
<col width="10%" />
<col width="10%" />
<col width="10%"/>
<col width="10%"/>
<col width="10%"/>
<col width="8%"/>
<col width="4%" />
</colgroup>
<thead>
    <tr>
        <td colspan="6">HOME HEALTH AGENCY COMPLEX<div>IDENTIFICATION DATA</div></td>
        <td>Provider CCN: <span class="data">{{pId}}</span></td>
        <td>
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="2">  WORKSHEET S-2</td>
    </tr>
</thead>
<tbody>
    <tr>
        <td colspan="10">Home Health Agency Complex Address:</td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td colspan="4" class="border-right">Street:<span class="data">{{data-1.00100-0100}}</span></td>
        <td colspan="4">P.O. Box:<span class="data">{{data-1.00100-0200}}</span></td>
        <td class="left">1</td>
    </tr>
    <tr>
        <td class="right">1.01</td>
        <td colspan="3" class="border-right">City:<span class="data">{{data-1.00101-0100}}</span></td>
        <td colspan="2" class="border-right">State:<span class="data">{{data-1.00101-0200}}</span></td>
        <td colspan="3">Zip Code:<span class="data">{{data-1.00101-0300}}</span></td>
        <td class="left">1.01</td>
    </tr>
    <tr>
        <td colspan="10">Home Health Agency Component Identification</td>
    </tr>
    <tr>
        <td rowspan="2">&nbsp;</td>
        <td colspan="2" class="center">Component</td>
        <td colspan="2" class="center">Component Name</td>
        <td colspan="2" class="center">Provider CCN</td>
        <td colspan="2" class="center">Date Certified</td>
        <td rowspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2" class="center">0</td>
        <td colspan="2" class="center">1</td>
        <td colspan="2" class="center">2</td>
        <td colspan="2" class="center">3</td>
    </tr>
    <tr>
        <td class="right">2</td>
        <td colspan="2">Home Health Agency</td>
        <td colspan="2" class="data">{{data-1.00200-0100}}</td>
        <td colspan="2" class="data">{{data-1.00200-0200}}</td>
        <td colspan="2" class="data">{{data-1.00200-0300}}</td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td colspan="2">HHA-based CORF</td>
        <td colspan="2" class="data">{{data-1.00300-0100}}</td>
        <td colspan="2" class="data">{{data-1.00300-0100}}</td>
        <td colspan="2" class="data">{{data-1.00300-0100}}</td>
        <td class="left">3</td>
    </tr>
    <tr>
        <td class="right">3.50</td>
        <td colspan="2">HHA-based Hospice</td>
        <td colspan="2" class="data">{{data-1.00350-0100}}</td>
        <td colspan="2" class="data">{{data-1.00350-0200}}</td>
        <td colspan="2" class="data">{{data-1.00350-0300}}</td>
        <td class="left">3.50</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td colspan="2">HHA-based CMHC</td>
        <td colspan="2" class="data">{{data-1.00400-0100}}</td>
        <td colspan="2" class="data">{{data-1.00400-0200}}</td>
        <td colspan="2" class="data">{{data-1.00400-0300}}</td>
        <td class="left">4</td>
    </tr>
    <tr>
        <td class="right">5</td>
        <td colspan="2">HHA- based RHC</td>
        <td colspan="2" class="data">{{data-1.00500-0100}}</td>
        <td colspan="2" class="data">{{data-1.00500-0200}}</td>
        <td colspan="2" class="data">{{data-1.00500-0300}}</td>
        <td class="left">5</td>
    </tr>
    <tr>
        <td class="right">6</td>
        <td colspan="2">HHA-based FQHC</td>
        <td colspan="2" class="data">{{data-1.00600-0100}}</td>
        <td colspan="2" class="data">{{data-1.00600-0200}}</td>
        <td colspan="2" class="data">{{data-1.00600-0300}}</td>
        <td class="left">6</td>
    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td class="right">7</td>
        <td colspan="4" class="border-right">Cost Reporting Period (mm/dd/yyyy)</td>
        <td colspan="2" class="border-right">From: {{data-1.00700-0100}}</td>
        <td colspan="2">To: {{data-1.00700-0200}}</td>
        <td class="left">7</td>
    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td class="right">8</td>
        <td colspan="7">Type of control (see instructions)</td>
        <td class="data">{{data-1.00800-0100}}</td>
        <td class="left">8</td>
    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td class="right">9</td>
        <td colspan="7">If this a low or no Medicare utilization cost report, enter "L" for Low or "N" for No Medicare Utilization.</td>
        <td class="data">{{data-1.00900-0100}}</td>
        <td class="left">9</td>
    </tr>
    <tr>
        <td colspan="10">Depreciation: Enter the amount of depreciation reported in this HHA for the methods indicated.</td>
    </tr>
    <tr>
        <td class="right">10</td>
        <td colspan="7"> Straight Line</td>
        <td class="data">{{data-1.01000-0100}}</td>
        <td class="left">10</td>
    </tr>
    <tr>
        <td class="right">11</td>
        <td colspan="7"> Declining Balance</td>
        <td class="data">{{data-1.01100-0100}}</td>
        <td class="left">11</td>
    </tr>
    <tr>
        <td class="right">12</td>
        <td colspan="7"> Sum of the Years' Digits</td>
        <td class="data">{{data-1.01200-0100}}</td>
        <td class="left">12</td>
    </tr>
    <tr>
        <td class="right">13</td>
        <td colspan="7"> Sum of lines 10, 11 and 12</td>
        <td class="data">{{data-1.01300-0100}}</td>
        <td class="left">13</td>
    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td class="right">14</td>
        <td colspan="7"> Were there any disposals of capital assets during this cost reporting period?</td>
        <td class="data">{{data-1.01400-0100}}</td>
        <td class="left">14</td>
    </tr>
    <tr>
        <td class="right">15</td>
        <td colspan="7"> Was accelerated depreciation claimed on any assets in the current or any prior cost reporting period?</td>
        <td class="data">{{data-1.01500-0100}}</td>
        <td class="left">15</td>
    </tr>
    <tr>
        <td class="right">16</td>
        <td colspan="7"> Was accelerated depreciation claimed on assets acquired on or after August l, l970 (See PRM 15-1,  Chapter l)?</td>
        <td class="data">{{data-1.01600-0100}}</td>
        <td class="left">16</td>
    </tr>
    <tr>
        <td class="right">17</td>
        <td colspan="7"> If depreciation is funded, enter the balance at end of period.</td>
        <td class="data">{{data-1.01700-0100}}</td>
        <td class="left">17</td>
    </tr>
    <tr>
        <td class="right">18</td>
        <td colspan="7"> Did the provider cease to participate in the Medicare program at the end of  the period to which this cost report applies (See PRM 15-1, Chapter 1)?</td>
        <td class="data">{{data-1.01800-0100}}</td>
        <td class="left">18</td>
    </tr>
    <tr>
        <td class="right">19</td>
        <td colspan="7"> Was there substantial decrease in health insurance proportion of allowable  costs from prior cost reporting periods (See PRM 15-1, Chapter 1)?</td>
        <td class="data">{{data-1.01900-0100}}</td>
        <td class="left">19</td>
    </tr>
    <tr>
        <td class="right">20</td>
        <td colspan="7"> Does the provider qualify as a small HHA (see 42 CFR 413.24(d))?</td>
        <td class="data">{{data-1.02000-0100}}</td>
        <td class="left">20</td>
    </tr>
    <tr>
        <td class="right">21</td>
        <td colspan="7"> Does the HHA qualify as a nominal charge provider (see 42 CFR 409.3)?</td>
        <td class="data">{{data-1.02100-0100}}</td>
        <td class="left">21</td>
    </tr>
    <tr>
        <td class="right">22</td>
        <td colspan="7"> Does the HHA contract with outside suppliers for physical therapy services?</td>
        <td class="data">{{data-1.02200-0100}}</td>
        <td class="left">22</td>
    </tr>
    <tr>
        <td class="right">22.01</td>
        <td colspan="7"> Does the HHA contract with outside suppliers for occupational therapy services?</td>
        <td class="data">{{data-1.02201-0100}}</td>
        <td class="left">22.01</td>
    </tr>
    <tr>
        <td class="right">22.02</td>
        <td colspan="7"> Does the HHA contract with outside suppliers for speech therapy services?</td>
        <td class="data">{{data-1.02202-0100}}</td>
        <td class="left">22.02</td>
    </tr>
    <tr>
        <td colspan="10">If this facility contains a non-public provider that qualifies for an exemption from the application of the lower of costs or charges, enter "Y" for each component and type of service that qualifies for the exemption.</td>
    </tr>
    <tr>
        <td rowspan="2" colspan="7">&nbsp;</td>
        <td class="center">Part A</td>
        <td class="center">Part B</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="right">23</td>
        <td colspan="6">HHA</td>
        <td class="data">{{data-1.02300-0100}}</td>
        <td class="data">{{data-1.02300-0200}}</td>
        <td class="left">23</td>
    </tr>
    <tr>
        <td class="right">24</td>
        <td colspan="6">CORF</td>
        <td class="data fillgrey">{{data-1.02400-0100}}</td>
        <td class="data">{{data-1.02400-0100}}</td>
        <td class="left">24</td>
    </tr>
    <tr>
        <td class="right">25</td>
        <td colspan="6">CMHC</td>
         <td class="data fillgrey">{{data-1.02500-0100}}</td>
        <td class="data">{{data-1.02500-0200}}</td>
        <td class="left">25</td>
    </tr>
    <tr>
        <td class="right">26</td>
        <td colspan="7"> If the HHA componentized (or fragmented) its administrative and general service<div> costs, indicate whether option one or option two is being utilized.  (See Section 3214)</div><div> (Enter "1" for option one and "2" for option two)</div></td>
        <td class="data">{{data-1.02600-0100}}</td>
        <td class="left">26</td>
    </tr>
    <tr>
        <td colspan="10">&nbsp;</td>
    </tr>
    <tr>
        <td class="right">27</td>
        <td colspan="8"> List amounts of malpractice premiums and paid losses:<span class="data">{{data-1.02700-0100}}</span></td>
        <td class="left">27</td>
    </tr>
    <tr>
        <td class="right">27.01</td>
        <td colspan="7"> Premiums</td>
        <td class="data">{{data-1.02701-0100}}</td>
        <td class="left">27.01</td>
    </tr>
    <tr>
        <td class="right">27.02</td>
        <td colspan="7"> Paid Losses</td>
        <td class="data">{{data-1.02702-0100}}</td>
        <td class="left">27.02</td>
    </tr>
    <tr>
        <td class="right">27.03</td>
        <td colspan="7">Self Insurance</td>
        <td class="data">{{data-1.02703-0100}}</td>
        <td class="left">27.03</td>
    </tr>
    <tr>
        <td class="right">28</td>
        <td colspan="7">Are malpractice premiums and/or paid losses reported in other than the Administrative and General  cost center? If yes, submit a supporting schedule listing cost centers and amounts contained therein.</td>
        <td class="data">{{data-1.02800-0100}}</td>
        <td class="left">28</td>
    </tr>
    <tr>
        <td class="right">29</td>
        <td colspan="7"> If you are part of a chain organization, enter "Y" for yes and enter the name and address of the home  office, otherwise, enter "N" for no.</td>
        <td class="data">{{data-1.02900-0100}}</td>
        <td class="left">29</td>
    </tr>
    <tr>
        <td class="right">29.01</td>
        <td colspan="3"> Home Office Name:<span class="data">{{data-1.02901-0100}}</span></td>
        <td colspan="2">Home Office No. :<span class="data">{{data-1.02901-0200}}</span></td>
        <td colspan="3">Contractor No. :<span class="data">{{data-1.02901-0300}}</span> </td>
        <td class="left">29.01</td>
    </tr>
    <tr>
        <td class="right">29.02</td>
        <td colspan="3"> Street:<span class="data">{{data-1.02902-0100}}</span></td>
        <td colspan="2">P.O. Box:<span class="data">{{data-1.02902-0200}}</span></td>
        <td colspan="3">Contractor Name: <span class="data">{{data-1.02902-0300}}</span> </td>
        <td class="left">29.02</td>
    </tr>
    <tr>
        <td class="right">29.03</td>
        <td colspan="3"> City:<span class="data">{{data-1.02903-0100}}</span></td>
        <td colspan="2">State:<span class="data">{{data-1.02903-0200}}</span></td>
        <td colspan="3">Zip Code:<span class="data">{{data-1.02903-0300}}</span></td>
        <td class="left">29.03</td>
    </tr>
    <tr>
        <td colspan="10">FORM CMS 1728-94-S-2  (10/2016)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 3204)</td>
    </tr>
    <tr>
        <td colspan="2" class="border-right">32-304</td>
        <td colspan="6" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">Rev. 18</td>
    </tr>
</tbody>
</table>
</div>