<div class="report">
<table border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
    <col width="4%" />
    <col width="20%"/>
    <col width="8%"/>
    <col width="8%"/>
    <col width="8%"/>
    <col width="8%"/>
    <col width="8%"/>
    <col width="8%"/>
    <col width="4%" /> 
</colgroup>
<thead>
    <tr>
        <td colspan="3">HOME HEALTH AGENCY<div>STATISTICAL DATA</div></td>
        <td colspan="2">Provider CCN: <span class="data">{{pId}}</span></td>
        <td colspan="2">
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="2"> WORKSHEET S-3<div>PARTS I - III</div></td>
    </tr>
</thead>
<tbody>
    <tr>
        <td colspan="4" class="border-right">PART I - STATISTICAL DATA</td>
        <td colspan="5">COUNTY <span class="data">{{county}}</span></td>
    </tr>
    <tr>
        <td colspan="2" rowspan="3">DESCRIPTION</td>
        <td colspan="2"class="center">Title XVIII</td>
        <td colspan="2" class="center">Other</td>
        <td colspan="2" class="center">Total</td>
        <td rowspan="3">&nbsp;</td>
    </tr>
    <tr>
        <td class="center">Visits</td>
        <td class="center">Patients</td>
        <td class="center">Visits</td>
        <td class="center">Patients</td>
        <td class="center">Visits</td>
        <td class="center">Patients</td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
        <td class="center">5</td>
        <td class="center">6</td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td> Skilled Nursing</td>
        <td class="data">{{NumberFormat data.1.00100-00100}}</td>
        <td class="data">{{NumberFormat data.1.00100-00200}}</td>
        <td class="data">{{NumberFormat data.1.00100-00300}}</td>
        <td class="data">{{NumberFormat data.1.00100-00400}}</td>
        <td class="data">{{NumberFormat data.1.00100-00500}}</td>
        <td class="data">{{NumberFormat data.1.00100-00600}}</td>
        <td class="left">1</td>
    </tr>
    <tr>
        <td class="right">2</td>
        <td> Physical Therapy</td>
        <td class="data">{{NumberFormat data.1.00200-00100}}</td>
        <td class="data">{{NumberFormat data.1.00200-00200}}</td>
        <td class="data">{{NumberFormat data.1.00200-00300}}</td>
        <td class="data">{{NumberFormat data.1.00200-00400}}</td>
        <td class="data">{{NumberFormat data.1.00200-00500}}</td>
        <td class="data">{{NumberFormat data.1.00200-00600}}</td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td> Occupational Therapy</td>
        <td class="data">{{NumberFormat data.1.00300-00100}}</td>
        <td class="data">{{NumberFormat data.1.00300-00200}}</td>
        <td class="data">{{NumberFormat data.1.00300-00300}}</td>
        <td class="data">{{NumberFormat data.1.00300-00400}}</td>
        <td class="data">{{NumberFormat data.1.00300-00500}}</td>
        <td class="data">{{NumberFormat data.1.00300-00600}}</td>
        <td class="left">3</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td> Speech Pathology</td>
        <td class="data">{{NumberFormat data.1.00400-00100}}</td>
        <td class="data">{{NumberFormat data.1.00400-00200}}</td>
        <td class="data">{{NumberFormat data.1.00400-00300}}</td>
        <td class="data">{{NumberFormat data.1.00400-00400}}</td>
        <td class="data">{{NumberFormat data.1.00400-00500}}</td>
        <td class="data">{{NumberFormat data.1.00400-00600}}</td>
        <td class="left">4</td>
    </tr>
    <tr>
        <td class="right">5</td>
        <td> Medical Social Service</td>
        <td class="data">{{NumberFormat data.1.00500-00100}}</td>
        <td class="data">{{NumberFormat data.1.00500-00200}}</td>
        <td class="data">{{NumberFormat data.1.00500-00300}}</td>
        <td class="data">{{NumberFormat data.1.00500-00400}}</td>
        <td class="data">{{NumberFormat data.1.00500-00500}}</td>
        <td class="data">{{NumberFormat data.1.00500-00600}}</td>
        <td class="left">5</td>
    </tr>
    <tr>
        <td class="right">6</td>
        <td> Home Health Aide</td>
        <td class="data">{{NumberFormat data.1.00600-00100}}</td>
        <td class="data">{{NumberFormat data.1.00600-00200}}</td>
        <td class="data">{{NumberFormat data.1.00600-00300}}</td>
        <td class="data">{{NumberFormat data.1.00600-00400}}</td>
        <td class="data">{{NumberFormat data.1.00600-00500}}</td>
        <td class="data">{{NumberFormat data.1.00600-00600}}</td>
        <td class="left">6</td>
    </tr>
    <tr>
        <td class="right">7</td>
        <td> All Other Services</td>
        <td class="data fillgrey">{{NumberFormat data.1.00700-00100}}</td>
        <td class="data fillgrey">{{NumberFormat data.1.00700-00200}}</td>
        <td class="data">{{NumberFormat data.1.00700-00300}}</td>
        <td class="data">{{NumberFormat data.1.00700-00400}}</td>
        <td class="data">{{NumberFormat data.1.00700-00500}}</td>
        <td class="data">{{NumberFormat data.1.00700-00600}}</td>
        <td class="left">7</td>
    </tr>
    <tr>
        <td class="right">8</td>
        <td> Total Visits</td>
        <td class="data">{{NumberFormat data.1.00800-00100}}</td>
        <td class="data fillgrey">{{NumberFormat data.1.00800-00200}}</td>
        <td class="data">{{NumberFormat data.1.00800-00300}}</td>
        <td class="data fillgrey">{{NumberFormat data.1.00800-00400}}</td>
        <td class="data">{{NumberFormat data.1.00800-00500}}</td>
        <td class="data fillgrey">{{NumberFormat data.1.00800-00600}}</td>
        <td class="left">8</td>
    </tr>
    <tr>
        <td class="right">9</td>
        <td> Home Health Aide Hours</td>
        <td class="data">{{NumberFormat data.1.00900-00100}}</td>
        <td class="data fillgrey">{{NumberFormat data.1.00900-00200}}</td>
        <td class="data">{{NumberFormat data.1.00900-00300}}</td>
        <td class="data fillgrey">{{NumberFormat data.1.00900-00400}}</td>
        <td class="data">{{NumberFormat data.1.00900-00500}}</td>
        <td class="data fillgrey">{{NumberFormat data.1.00900-00600}}</td>
        <td class="left">9</td>
    </tr>
    <tr>
        <td class="right">10</td>
        <td>  Unduplicated Census Count -<div> Full Cost Reporting Period</div></td>
        <td class="data fillgrey">{{NumberFormat data.1.01000-00100}}</td>
        <td class="data">{{NumberFormat data.1.01000-00200}}</td>
        <td class="data fillgrey">{{NumberFormat data.1.01000-00300}}</td>
        <td class="data">{{NumberFormat data.1.01000-00400}}</td>
        <td class="data fillgrey">{{NumberFormat data.1.01000-00500}}</td>
        <td class="data">{{NumberFormat data.1.01000-00600}}</td>
        <td class="left">10</td>
    </tr>
    <tr>
        <td class="right">10.01</td>
        <td> Unduplicated Census Count -<div> Pre 10/1/2000</div></td>
        <td class="data">{{NumberFormat data.1.01001-00100}}</td>
        <td class="data">{{NumberFormat data.1.01001-00200}}</td>
        <td class="data">{{NumberFormat data.1.01001-00300}}</td>
        <td class="data">{{NumberFormat data.1.01001-00400}}</td>
        <td class="data">{{NumberFormat data.1.01001-00500}}</td>
        <td class="data">{{NumberFormat data.1.01001-00600}}</td>
        <td class="left">10.01</td>
    </tr>
    <tr>
        <td class="right">10.02</td>
        <td> Unduplicated Census Count -<div> Post 9/30/2000</div></td>
        <td class="data">{{NumberFormat data.1.01002-00100}}</td>
        <td class="data">{{NumberFormat data.1.01002-00200}}</td>
        <td class="data">{{NumberFormat data.1.01002-00300}}</td>
        <td class="data">{{NumberFormat data.1.01002-00400}}</td>
        <td class="data">{{NumberFormat data.1.01002-00500}}</td>
        <td class="data">{{NumberFormat data.1.01002-00600}}</td>
        <td class="left">10.02</td>
    </tr>
    <tr>
        <td colspan="9">PART II - EMPLOYMENT DATA<div>(FULL TIME EQUIVALENT)</div></td>
    </tr>
    <tr>
        <td colspan="5" rowspan="2">Number of hours in<div>your normal work week __________</div></td>
        <td class="center">Staff</td>
        <td class="center">Contract</td>
        <td class="center">Total</td>
        <td rowspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
    </tr>
    <tr>
        <td class="right">11</td>
        <td colspan="4">Administrator and Assistant Administrator(s)</td>
        <td class="data">{{NumberFormat data-1.01100-00100}}</td>
        <td class="data">{{NumberFormat data-1.01100-00200}}</td>
        <td class="data">{{NumberFormat data-1.01100-00300}}</td>
        <td class="left">11</td>
    </tr>
    <tr>
        <td class="right">12</td>
        <td colspan="4">Director and Assistant Director(s)</td>
        <td class="data">{{NumberFormat data-1.01200-00100}}</td>
        <td class="data">{{NumberFormat data-1.01200-00200}}</td>
        <td class="data">{{NumberFormat data-1.01200-00300}}</td>
        <td class="left">12</td>
    </tr>
    <tr>
        <td class="right">13</td>
        <td colspan="4">Other Administrative Personnel</td>
        <td class="data">{{NumberFormat data-1.01300-00100}}</td>
        <td class="data">{{NumberFormat data-1.01300-00200}}</td>
        <td class="data">{{NumberFormat data-1.01300-00300}}</td>
        <td class="left">13</td>
    </tr>
    <tr>
        <td class="right">14</td>
        <td colspan="4">Direct Nursing Service</td>
        <td class="data">{{NumberFormat data-1.01400-00100}}</td>
        <td class="data">{{NumberFormat data-1.01400-00200}}</td>
        <td class="data">{{NumberFormat data-1.01400-00300}}</td>
        <td class="left">14</td>
    </tr>
    <tr>
        <td class="right">15</td>
        <td colspan="4">Nursing Supervisor</td>
        <td class="data">{{NumberFormat data-1.01500-00100}}</td>
        <td class="data">{{NumberFormat data-1.01500-00200}}</td>
        <td class="data">{{NumberFormat data-1.01500-00300}}</td>
        <td class="left">15</td>
    </tr>
    <tr>
        <td class="right">16</td>
        <td colspan="4">Physical Therapy Service</td>
        <td class="data">{{NumberFormat data-1.01600-00100}}</td>
        <td class="data">{{NumberFormat data-1.01600-00200}}</td>
        <td class="data">{{NumberFormat data-1.01600-00300}}</td>
        <td class="left">16</td>
    </tr>
    <tr>
        <td class="right">17</td>
        <td colspan="4">Physical Therapy Supervisor</td>
        <td class="data">{{NumberFormat data-1.01700-00100}}</td>
        <td class="data">{{NumberFormat data-1.01700-00200}}</td>
        <td class="data">{{NumberFormat data-1.01700-00300}}</td>
        <td class="left">17</td>
    </tr>
    <tr>
        <td class="right">18</td>
        <td colspan="4">Occupational Therapy Service</td>
        <td class="data">{{NumberFormat data-1.01800-00100}}</td>
        <td class="data">{{NumberFormat data-1.01800-00200}}</td>
        <td class="data">{{NumberFormat data-1.01800-00300}}</td>
        <td class="left">18</td>
    </tr>
    <tr>
        <td class="right">19</td>
        <td colspan="4">Occupational Therapy Supervisor</td>
        <td class="data">{{NumberFormat data-1.01900-00100}}</td>
        <td class="data">{{NumberFormat data-1.01900-00200}}</td>
        <td class="data">{{NumberFormat data-1.01900-00300}}</td>
        <td class="left">19</td>
    </tr>
    <tr>
        <td class="right">20</td>
        <td colspan="4">Speech Pathology Service</td>
        <td class="data">{{NumberFormat data-1.02000-00100}}</td>
        <td class="data">{{NumberFormat data-1.02000-00200}}</td>
        <td class="data">{{NumberFormat data-1.02000-00300}}</td>
        <td class="left">20</td>
    </tr>
    <tr>
        <td class="right">21</td>
        <td colspan="4">Speech Pathology Supervisor</td>
        <td class="data">{{NumberFormat data-1.02100-00100}}</td>
        <td class="data">{{NumberFormat data-1.02100-00210}}</td>
        <td class="data">{{NumberFormat data-1.02100-00300}}</td>
        <td class="left">21</td>
    </tr>
    <tr>
        <td class="right">22</td>
        <td colspan="4">Medical Social Service</td>
        <td class="data">{{NumberFormat data-1.02200-00100}}</td>
        <td class="data">{{NumberFormat data-1.02200-00220}}</td>
        <td class="data">{{NumberFormat data-1.02200-00300}}</td>
        <td class="left">22</td>
    </tr>
    <tr>
        <td class="right">23</td>
        <td colspan="4">Medical Social Supervisor</td>
        <td class="data">{{NumberFormat data-1.02300-00100}}</td>
        <td class="data">{{NumberFormat data-1.02300-00230}}</td>
        <td class="data">{{NumberFormat data-1.02300-00300}}</td>
        <td class="left">23</td>
    </tr>
    <tr>
        <td class="right">24</td>
        <td colspan="4">Home Health Aide</td>
        <td class="data">{{NumberFormat data-1.02400-00100}}</td>
        <td class="data">{{NumberFormat data-1.02400-00240}}</td>
        <td class="data">{{NumberFormat data-1.02400-00300}}</td>
        <td class="left">24</td>
    </tr>
    <tr>
        <td class="right">25</td>
        <td colspan="4">Home Health Aide Supervisor</td>
        <td class="data">{{NumberFormat data-1.02500-00100}}</td>
        <td class="data">{{NumberFormat data-1.02500-00250}}</td>
        <td class="data">{{NumberFormat data-1.02500-00300}}</td>
        <td class="left">25</td>
    </tr>
    <tr>
        <td class="right">26</td>
        <td colspan="4">{{NumberFormat data-1.02600-00000}}</td>
        <td class="data">{{NumberFormat data-1.02600-00100}}</td>
        <td class="data">{{NumberFormat data-1.02600-00260}}</td>
        <td class="data">{{NumberFormat data-1.02600-00300}}</td>
        <td class="left">26</td>
    </tr>
    <tr>
        <td class="right">27</td>
        <td colspan="4">{{NumberFormat data-1.02700-00000}}</td>
        <td class="data">{{NumberFormat data-1.02700-00100}}</td>
        <td class="data">{{NumberFormat data-1.02700-00270}}</td>
        <td class="data">{{NumberFormat data-1.02700-00300}}</td>
        <td class="left">27</td>
    </tr>
    <tr>
        <td colspan="9">PART III - METROPOLITAN STATISTICAL AREA (MSA) AND CORE BASED STATISTICAL AREA (CBSA) CODES</td>
    </tr>
    <tr>
        <td colspan="6">&nbsp;</td>
        <td class="center">1</td>
        <td class="center">1.01</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="right">28</td>
        <td colspan="5">Enter the total number of MSAs in column 1 and/or CBSAs in column 2 where Medicare covered services were provided during the cost reporting period.</td>
        <td class="data">{{NumberFormat data-1.02800-00100}}</td>
        <td class="data">{{NumberFormat data-1.02800-00101}}</td>
        <td class="left">28</td>
    </tr>
    <tr>
        <td rowspan="2"class="right">29</td>
        <td rowspan="2" colspan="5">List all MSA and CBSA codes in which Medicare covered home health services were provided during the cost reporting period (line 29 contains the first code):</td>
        <td class="center">MSA Codes</td>
        <td class="center">CBSA Codes</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="data">&nbsp;{{NumberFormat data-1.02900-00100}}</td>
        <td class="data">&nbsp;{{NumberFormat data-1.02900-00101}}</td>
        <td class="left">29</td>
    </tr>
    <tr>
        <td colspan="6" rowspan="9"></td>
        <td class="data">&nbsp;{{NumberFormat data-1.02901-00100}}</td>
        <td class="data">&nbsp;{{NumberFormat data-1.02901-00101}}</td>
        <td class="left">29.01</td>
    </tr>
    <tr>
        <td class="data">&nbsp;{{NumberFormat data-1.02902-00100}}</td>
        <td class="data">&nbsp;{{NumberFormat data-1.02902-00101}}</td>
        <td class="left">29.02</td>
    </tr>
    <tr>
        <td class="data">&nbsp;{{NumberFormat data-1.02903-00100}}</td>
        <td class="data">&nbsp;{{NumberFormat data-1.02903-00101}}</td>
        <td class="left">29.03</td>
    </tr>
    <tr>
        <td class="data">&nbsp;{{NumberFormat data-1.02904-00100}}</td>
        <td class="data">&nbsp;{{NumberFormat data-1.02904-00101}}</td>
        <td class="left">29.04</td>
    </tr>
    <tr>
        <td class="data">&nbsp;{{NumberFormat data-1.02905-00100}}</td>
        <td class="data">&nbsp;{{NumberFormat data-1.02905-00101}}</td>
        <td class="left">29.05</td>
    </tr>
    <tr>
        <td class="data">&nbsp;{{NumberFormat data-1.02906-00100}}</td>
        <td class="data">&nbsp;{{NumberFormat data-1.02906-00101}}</td>
        <td class="left">29.06</td>
    </tr>
    <tr>
        <td class="data">&nbsp;{{NumberFormat data-1.02907-00100}}</td>
        <td class="data">&nbsp;{{NumberFormat data-1.02907-00101}}</td>
        <td class="left">29.07</td>
    </tr>
    <tr>
        <td class="data">&nbsp;{{NumberFormat data-1.02908-00100}}</td>
        <td class="data">&nbsp;{{NumberFormat data-1.02908-00101}}</td>
        <td class="left">29.08</td>
    </tr>
    <tr>
        <td class="data">&nbsp;{{NumberFormat data-1.02909-00100}}</td>
        <td class="data">&nbsp;{{NumberFormat data-1.02909-00101}}</td>
        <td class="left">29.09</td>
    </tr>
    <tr>
        <td colspan="9">FORM CMS-1728-94 (10/2016)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 3205) </td>
    </tr>
    <tr>
        <td colspan="2" class="border-right">Rev. 17</td>
        <td colspan="5" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">32-305</td>
    </tr>
</tbody>
</table>
</div>