<div class="report">
<table border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
    <col width="4%" />
    <col width="30%"/>
    <col width="12%"/>
    <col width="12%"/>
    <col width="12%"/>
    <col width="12%"/>
    <col width="12%"/>
    <col width="12%"/>
    <col width="12%"/>
    <col width="4%" /> 
</colgroup>
<thead>
    <tr>
        <td colspan="4">HOME HEALTH AGENCY<div>STATISTICAL DATA</div></td>
        <td colspan="2">Provider CCN: <span class="data">{{pId}}</span></td>
        <td colspan="2">
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="2"> WORKSHEET S-3<div>PART IV</div></td>
    </tr>
</thead>
<tbody>
    <tr>
        <td colspan="7" class="border-right">PART IV - PPS ACTIVITY DATA - Applicable for Services Rendered on or After October 1, 2000</td>
        <td colspan="3">Cook</td>
    </tr>
    <tr>
        <td colspan="2" rowspan="2">DESCRIPTION</td>
        <td class="center">Full Episodes<div>without Outliers</div></td>
        <td class="center">Full Episodes<div>with Outliers</div></td>
        <td class="center">LUPA Episodes</td>
        <td class="center">PEP Only<div>Episodes</div></td>
        <td class="center">SCIC within a<div>PEP</div></td>
        <td class="center">SCIC Only<div>Episodes</div></td>
        <td class="center">Totals</td>
        <td rowspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
        <td class="center">5</td>
        <td class="center">6</td>
        <td class="center">7</td>
    </tr>
    <tr>
        <td class="right">30</td>
        <td>Skilled Nursing Visits</td>
        <td class="data">{{NumberFormat data-1.03000-00100}}</td>
        <td class="data">{{NumberFormat data-1.03000-00200}}</td>
        <td class="data">{{NumberFormat data-1.03000-00300}}</td>
        <td class="data">{{NumberFormat data-1.03000-00400}}</td>
        <td class="data">{{NumberFormat data-1.03000-00500}}</td>
        <td class="data">{{NumberFormat data-1.03000-00600}}</td>
        <td class="data">{{NumberFormat data-1.03000-00700}}</td>
        <td class="left">30</td>
    </tr>
    <tr>
        <td class="right">31</td>
        <td>Skilled Nursing Visit Charges</td>
        <td class="data">{{NumberFormat data-1.03100-00100}}</td>
        <td class="data">{{NumberFormat data-1.03100-00200}}</td>
        <td class="data">{{NumberFormat data-1.03100-00300}}</td>
        <td class="data">{{NumberFormat data-1.03100-00400}}</td>
        <td class="data">{{NumberFormat data-1.03100-00500}}</td>
        <td class="data">{{NumberFormat data-1.03100-00600}}</td>
        <td class="data">{{NumberFormat data-1.03100-00700}}</td>
        <td class="left">31</td>
    </tr>
    <tr>
        <td class="right">32</td>
        <td>Physical Therapy Visits</td>
        <td class="data">{{NumberFormat data-1.03200-00100}}</td>
        <td class="data">{{NumberFormat data-1.03200-00200}}</td>
        <td class="data">{{NumberFormat data-1.03200-00300}}</td>
        <td class="data">{{NumberFormat data-1.03200-00400}}</td>
        <td class="data">{{NumberFormat data-1.03200-00500}}</td>
        <td class="data">{{NumberFormat data-1.03200-00600}}</td>
        <td class="data">{{NumberFormat data-1.03200-00700}}</td>
        <td class="left">32</td>
    </tr>
    <tr>
        <td class="right">33</td>
        <td>Physical Therapy Visits Charges</td>
        <td class="data">{{NumberFormat data-1.03300-00100}}</td>
        <td class="data">{{NumberFormat data-1.03300-00200}}</td>
        <td class="data">{{NumberFormat data-1.03300-00300}}</td>
        <td class="data">{{NumberFormat data-1.03300-00400}}</td>
        <td class="data">{{NumberFormat data-1.03300-00500}}</td>
        <td class="data">{{NumberFormat data-1.03300-00600}}</td>
        <td class="data">{{NumberFormat data-1.03300-00700}}</td>
        <td class="left">33</td>
    </tr>
    <tr>
        <td class="right">34</td>
        <td>Occupational Therapy Visits</td>
        <td class="data">{{NumberFormat data-1.03400-00100}}</td>
        <td class="data">{{NumberFormat data-1.03400-00200}}</td>
        <td class="data">{{NumberFormat data-1.03400-00300}}</td>
        <td class="data">{{NumberFormat data-1.03400-00400}}</td>
        <td class="data">{{NumberFormat data-1.03400-00500}}</td>
        <td class="data">{{NumberFormat data-1.03400-00600}}</td>
        <td class="data">{{NumberFormat data-1.03400-00700}}</td>
        <td class="left">34</td>
    </tr>
    <tr>
        <td class="right">35</td>
        <td>Occupational Therapy Visit Charges</td>
        <td class="data">{{NumberFormat data-1.03500-00100}}</td>
        <td class="data">{{NumberFormat data-1.03500-00200}}</td>
        <td class="data">{{NumberFormat data-1.03500-00300}}</td>
        <td class="data">{{NumberFormat data-1.03500-00400}}</td>
        <td class="data">{{NumberFormat data-1.03500-00500}}</td>
        <td class="data">{{NumberFormat data-1.03500-00600}}</td>
        <td class="data">{{NumberFormat data-1.03500-00700}}</td>
        <td class="left">35</td>
    </tr>
    <tr>
        <td class="right">36</td>
        <td>Speech Pathology Visits</td>
        <td class="data">{{NumberFormat data-1.03600-00100}}</td>
        <td class="data">{{NumberFormat data-1.03600-00200}}</td>
        <td class="data">{{NumberFormat data-1.03600-00300}}</td>
        <td class="data">{{NumberFormat data-1.03600-00400}}</td>
        <td class="data">{{NumberFormat data-1.03600-00500}}</td>
        <td class="data">{{NumberFormat data-1.03600-00600}}</td>
        <td class="data">{{NumberFormat data-1.03600-00700}}</td>
        <td class="left">36</td>
    </tr>
    <tr>
        <td class="right">37</td>
        <td>Speech Pathology Visit Charges</td>
        <td class="data">{{NumberFormat data-1.03700-00100}}</td>
        <td class="data">{{NumberFormat data-1.03700-00200}}</td>
        <td class="data">{{NumberFormat data-1.03700-00300}}</td>
        <td class="data">{{NumberFormat data-1.03700-00400}}</td>
        <td class="data">{{NumberFormat data-1.03700-00500}}</td>
        <td class="data">{{NumberFormat data-1.03700-00600}}</td>
        <td class="data">{{NumberFormat data-1.03700-00700}}</td>
        <td class="left">37</td>
    </tr>
    <tr>
        <td class="right">38</td>
        <td>Medical Social Service Visits</td>
        <td class="data">{{NumberFormat data-1.03800-00100}}</td>
        <td class="data">{{NumberFormat data-1.03800-00200}}</td>
        <td class="data">{{NumberFormat data-1.03800-00300}}</td>
        <td class="data">{{NumberFormat data-1.03800-00400}}</td>
        <td class="data">{{NumberFormat data-1.03800-00500}}</td>
        <td class="data">{{NumberFormat data-1.03800-00600}}</td>
        <td class="data">{{NumberFormat data-1.03800-00700}}</td>
        <td class="left">38</td>
    </tr>
    <tr>
        <td class="right">39</td>
        <td>Medical Social Service Visit Charges</td>
        <td class="data">{{NumberFormat data-1.03900-00100}}</td>
        <td class="data">{{NumberFormat data-1.03900-00200}}</td>
        <td class="data">{{NumberFormat data-1.03900-00300}}</td>
        <td class="data">{{NumberFormat data-1.03900-00400}}</td>
        <td class="data">{{NumberFormat data-1.03900-00500}}</td>
        <td class="data">{{NumberFormat data-1.03900-00600}}</td>
        <td class="data">{{NumberFormat data-1.03900-00700}}</td>
        <td class="left">39</td>
    </tr>
    <tr>
        <td class="right">40</td>
        <td>Home Health Aide Visits</td>
        <td class="data">{{NumberFormat data-1.04000-00100}}</td>
        <td class="data">{{NumberFormat data-1.04000-00200}}</td>
        <td class="data">{{NumberFormat data-1.04000-00300}}</td>
        <td class="data">{{NumberFormat data-1.04000-00400}}</td>
        <td class="data">{{NumberFormat data-1.04000-00500}}</td>
        <td class="data">{{NumberFormat data-1.04000-00600}}</td>
        <td class="data">{{NumberFormat data-1.04000-00700}}</td>
        <td class="left">40</td>
    </tr>
    <tr>
        <td class="right">41</td>
        <td>Home Health Aide Visit Charges</td>
        <td class="data">{{NumberFormat data-1.04100-00100}}</td>
        <td class="data">{{NumberFormat data-1.04100-00200}}</td>
        <td class="data">{{NumberFormat data-1.04100-00300}}</td>
        <td class="data">{{NumberFormat data-1.04100-00400}}</td>
        <td class="data">{{NumberFormat data-1.04100-00500}}</td>
        <td class="data">{{NumberFormat data-1.04100-00600}}</td>
        <td class="data">{{NumberFormat data-1.04100-00700}}</td>
        <td class="left">41</td>
    </tr>
    <tr>
        <td class="right">42</td>
        <td>Total Visits (Sum of lines 30,32,34,36,38,40)</td>
        <td class="data">{{NumberFormat data-1.04200-00100}}</td>
        <td class="data">{{NumberFormat data-1.04200-00200}}</td>
        <td class="data">{{NumberFormat data-1.04200-00300}}</td>
        <td class="data">{{NumberFormat data-1.04200-00400}}</td>
        <td class="data">{{NumberFormat data-1.04200-00500}}</td>
        <td class="data">{{NumberFormat data-1.04200-00600}}</td>
        <td class="data">{{NumberFormat data-1.04200-00700}}</td>
        <td class="left">42</td>
    </tr>
    <tr>
        <td class="right">43</td>
        <td>Other Charges</td>
        <td class="data">{{NumberFormat data-1.04300-00100}}</td>
        <td class="data">{{NumberFormat data-1.04300-00200}}</td>
        <td class="data">{{NumberFormat data-1.04300-00300}}</td>
        <td class="data">{{NumberFormat data-1.04300-00400}}</td>
        <td class="data">{{NumberFormat data-1.04300-00500}}</td>
        <td class="data">{{NumberFormat data-1.04300-00600}}</td>
        <td class="data">{{NumberFormat data-1.04300-00700}}</td>
        <td class="left">43</td>
    </tr>
    <tr>
        <td class="right">44</td>
        <td>Total Charges (Sum of lines 31,33,35,37,39,41,43)</td>
        <td class="data">{{NumberFormat data-1.04400-00100}}</td>
        <td class="data">{{NumberFormat data-1.04400-00200}}</td>
        <td class="data">{{NumberFormat data-1.04400-00300}}</td>
        <td class="data">{{NumberFormat data-1.04400-00400}}</td>
        <td class="data">{{NumberFormat data-1.04400-00500}}</td>
        <td class="data">{{NumberFormat data-1.04400-00600}}</td>
        <td class="data">{{NumberFormat data-1.04400-00700}}</td>
        <td class="left">44</td>
    </tr>
    <tr>
        <td class="right">45</td>
        <td>Total Number of Episodes</td>
        <td class="data">{{NumberFormat data-1.04500-00100}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.04500-00200}}</td>
        <td class="data">{{NumberFormat data-1.04500-00300}}</td>
        <td class="data">{{NumberFormat data-1.04500-00400}}</td>
        <td class="data">{{NumberFormat data-1.04500-00500}}</td>
        <td class="data">{{NumberFormat data-1.04500-00600}}</td>
        <td class="data">{{NumberFormat data-1.04500-00700}}</td>
        <td class="left">45</td>
    </tr>
    <tr>
        <td class="right">46</td>
        <td>Total Number of Outlier Episodes</td>
        <td class="data fillgrey">{{NumberFormat data-1.04600-00100}}</td>
        <td class="data">{{NumberFormat data-1.04600-00200}}</td>
        <td class="data fillgrey">{{NumberFormat data-1.04600-00300}}</td>
        <td class="data">{{NumberFormat data-1.04600-00400}}</td>
        <td class="data">{{NumberFormat data-1.04600-00500}}</td>
        <td class="data">{{NumberFormat data-1.04600-00600}}</td>
        <td class="data">{{NumberFormat data-1.04600-00700}}</td>
        <td class="left">46</td>
    </tr>
    <tr>
        <td class="right">47</td>
        <td>Total Non-Routine Medical Supply Charges</td>
        <td class="data">{{NumberFormat data-1.04700-00100}}</td>
        <td class="data">{{NumberFormat data-1.04700-00200}}</td>
        <td class="data">{{NumberFormat data-1.04700-00300}}</td>
        <td class="data">{{NumberFormat data-1.04700-00400}}</td>
        <td class="data">{{NumberFormat data-1.04700-00500}}</td>
        <td class="data">{{NumberFormat data-1.04700-00600}}</td>
        <td class="data">{{NumberFormat data-1.04700-00700}}</td>
        <td class="left">47</td>
    </tr>
    <tr>
        <td colspan="10">FORM CMS-1728-94 (10/2016) (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 3205) </td>
    </tr>   
    <tr>
        <td colspan="2" class="border-right">32-305.1</td>
        <td colspan="6" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">Rev. 17</td>
    </tr>
</tbody>
</table>
</div>