<div class="report">
<table border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
    <col width="4%" />
    <col width="10%"/>
    <col width="5%"/>
    <col width="5%"/>
    <col width="5%"/>
    <col width="5%"/>
    <col width="5%"/>
    <col width="5%"/>
    <col width="5%"/>
    <col width="5%"/>
    <col width="5%"/>
    <col width="5%"/>
    <col width="5%"/>
    <col width="5%"/>
    <col width="5%"/>
    <col width="5%"/>
    <col width="4%" /> 
</colgroup>
<thead>
    <tr>
        <td colspan="8">HHA-BASED RHC/FQHC<div>STATISTICAL DATA</div></td>
        <td colspan="3">Provider CCN:<div>FROM: <span class="data">{{pId}}</span></div><div>FQHC/RHC CCN:<span class="data"></span></div></td>
        <td colspan="3">
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="3">WORKSHEET S-4</td>
    </tr>
</thead>
<tbody>
    <tr>
        <td colspan="2">Check <div>Applicable Box</div></td>
        <td colspan="15">  [  ]  HHA-Based RHC<div>  [  ]  HHA-Based FQHC</div></td>
    </tr>
    <tr>
        <td colspan="17">Clinic/Center Address and Identification:</td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td colspan="15">Street:<span class="data">{{data-1.00100-00100}}</span></td>
        <td class="left">1</td>
    </tr>
    <tr>
        <td class="right">1.01</td>
        <td colspan="9"class="border-right"> City:<span class="data">{{data-1.00101-00100}}</span></td>
        <td colspan="3" class="border-right">Zip Code:<span class="data">{{data-1.00101-00200}}</span></td>
        <td colspan="3">County:<span class="data">{{data-1.00101-00300}}</span></td>
        <td class="left">1.01</td>
    </tr>
    <tr>
        <td class="right">2</td>
        <td colspan="12">Designation (for FQHCs only) - Enter "R" for rural or "U" for urban</td>
        <td colspan="3" class="data">{{data-1.00200-00100}}</td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td rowspan="2"colspan="12">Source of Federal Funds:</td>
        <td colspan="2" class="center">Grant Award</td>
        <td colspan="2" class="center">Date</td>
        <td rowspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td class="center" colspan="2">1</td>
        <td class="center" colspan="2">2</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td colspan="11"> Community Health Center (Section 330(d), PHS Act)</td>
        <td colspan="2"class="data">{{data-1.00300-00100}}</td>
        <td colspan="2" class="data">{{data-1.00300-00200}}</td>
        <td class="left">3</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td colspan="11">Migrant Health Center (Section 329(d), PHS Act)</td>
        <td colspan="2"class="data">{{data-1.00400-00100}}</td>
        <td colspan="2" class="data">{{data-1.00400-00200}}</td>
        <td class="left">4</td>
    </tr>
    <tr>
        <td class="right">5</td>
        <td colspan="11"> Health Services for the Homeless (Section 350(d), PHS Act)</td>
        <td colspan="2"class="data">{{data-1.00500-00100}}</td>
        <td colspan="2" class="data">{{data-1.00500-00200}}</td>
        <td class="left">5</td>
    </tr>
    <tr>
        <td class="right">6</td>
        <td colspan="11">Appalachian Regional Commission</td>
        <td colspan="2"class="data">{{data-1.00600-00100}}</td>
        <td colspan="2" class="data">{{data-1.00600-00200}}</td>
        <td class="left">6</td>
    </tr>
    <tr>
        <td class="right">7</td>
        <td colspan="11">Look-Alikes</td>
        <td colspan="2"class="data">{{data-1.00700-00100}}</td>
        <td colspan="2" class="data">{{data-1.00700-00200}}</td>
        <td class="left">7</td>
    </tr>
    <tr>
        <td class="right">8</td>
        <td colspan="11">Other (specify)</td>
        <td colspan="2"class="data">{{data-1.00800-00100}}</td>
        <td colspan="2" class="data">{{data-1.00800-00200}}</td>
        <td class="left">8</td>
    </tr>
     <tr>
        <td rowspan="2"colspan="12">Physician Information:</td>
        <td colspan="2" class="center">Physician Name</td>
        <td colspan="2" class="center">Billing Number</td>
        <td rowspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td class="center" colspan="2">1</td>
        <td class="center" colspan="2">2</td>
    </tr>
    <tr>
        <td class="right">9</td>
        <td colspan="11">Physician(s) furnishing services at the clinic/center or under agreement (see instructions)</td>
        <td colspan="2"class="data">{{data-1.00900-00100}}</td>
        <td colspan="2" class="data">{{data-1.00900-00200}}</td>
        <td class="left">9</td>
    </tr>
     <tr>
        <td rowspan="2"colspan="12">&nbsp;</td>
        <td colspan="2" class="center">Physician Name</td>
        <td colspan="2" class="center">Hours of Supervision</td>
        <td rowspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td class="center" colspan="2">1</td>
        <td class="center" colspan="2">2</td>
    </tr>
    <tr>
        <td class="right">10</td>
        <td colspan="11"> Supervisory physician(s) and hours of supervision during period (see instructions)</td>
        <td colspan="2"class="data">{{data-1.01000-00100}}</td>
        <td colspan="2" class="data">{{data-1.01000-00200}}</td>
        <td class="left">10</td>
    </tr>
    <tr>
        <td colspan="17">&nbsp;</td>
    </tr>
    <tr>
        <td class="right">11</td>
        <td colspan="13"> Does the HHA-based RHC/FQHC operate as other than an RHC or FQHC?  If yes, indicate number of other operations in column 2 and  list the other type(s) of operation(s) and hours on subscripts of line 12.</td>
        <td class="data">{{data-1.01100-00100}}</td>
        <td class="data">{{data-1.01100-00200}}</td>
        <td class="left">11</td>
    </tr>
    <tr>
        <td colspan="17">Enter the clinic/center hours on line 12 and list the other type(s) of operation(s) and hours on subscripts of line 12. (1)</td>
    </tr>
    <tr>
        <td colspan="2" rowspan="2">&nbsp;</td>
        <td colspan="2" class="center">Sunday</td>
        <td colspan="2" class="center">Monday</td>
        <td colspan="2" class="center">Tuesday</td>
        <td colspan="2" class="center">Wednesday</td>
        <td colspan="2" class="center">Thursday</td>
        <td colspan="2" class="center">Friday</td>
        <td colspan="2" class="center">Saturday</td>
    </tr>
    <tr>
        <td class="center">from</td>
        <td class="center">to</td>
        <td class="center">from</td>
        <td class="center">to</td>
        <td class="center">from</td>
        <td class="center">to</td>
        <td class="center">from</td>
        <td class="center">to</td>
        <td class="center">from</td>
        <td class="center">to</td>
        <td class="center">from</td>
        <td class="center">to</td>
        <td class="center">from</td>
        <td class="center">to</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td class="center">0</td>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
        <td class="center">5</td>
        <td class="center">6</td>
        <td class="center">7</td>
        <td class="center">8</td>
        <td class="center">9</td>
        <td class="center">10</td>
        <td class="center">11</td>
        <td class="center">12</td>
        <td class="center">13</td>
        <td class="center">14</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="right">12</td>
        <td>Clinic</td>
        <td class="data">{{data-1.01200-00100}}</td>
        <td class="data">{{data-1.01200-00200}}</td>
        <td class="data">{{data-1.01200-00300}}</td>
        <td class="data">{{data-1.01200-00400}}</td>
        <td class="data">{{data-1.01200-00500}}</td>
        <td class="data">{{data-1.01200-00600}}</td>
        <td class="data">{{data-1.01200-00700}}</td>
        <td class="data">{{data-1.01200-00800}}</td>
        <td class="data">{{data-1.01200-00900}}</td>
        <td class="data">{{data-1.01200-01000}}</td>
        <td class="data">{{data-1.01200-01100}}</td>
        <td class="data">{{data-1.01200-01200}}</td>
        <td class="data">{{data-1.01200-01300}}</td>
        <td class="data">{{data-1.01200-01400}}</td>
        <td class="left">12</td>
    </tr>
    <tr>
        <td class="right">12.01</td>
        <td> Specify:</td>
        <td class="data">{{data-1.01201-00100}}</td>
        <td class="data">{{data-1.01201-00200}}</td>
        <td class="data">{{data-1.01201-00300}}</td>
        <td class="data">{{data-1.01201-00400}}</td>
        <td class="data">{{data-1.01201-00500}}</td>
        <td class="data">{{data-1.01201-00600}}</td>
        <td class="data">{{data-1.01201-00700}}</td>
        <td class="data">{{data-1.01201-00800}}</td>
        <td class="data">{{data-1.01201-00900}}</td>
        <td class="data">{{data-1.01201-01000}}</td>
        <td class="data">{{data-1.01201-01100}}</td>
        <td class="data">{{data-1.01201-01200}}</td>
        <td class="data">{{data-1.01201-01300}}</td>
        <td class="data">{{data-1.01201-01400}}</td>
        <td class="left">12.01</td>
    </tr>
    <tr>
        <td class="right">12.02</td>
        <td> Specify:</td>
        <td class="data">{{data-1.01202-00100}}</td>
        <td class="data">{{data-1.01202-00200}}</td>
        <td class="data">{{data-1.01202-00300}}</td>
        <td class="data">{{data-1.01202-00400}}</td>
        <td class="data">{{data-1.01202-00500}}</td>
        <td class="data">{{data-1.01202-00600}}</td>
        <td class="data">{{data-1.01202-00700}}</td>
        <td class="data">{{data-1.01202-00800}}</td>
        <td class="data">{{data-1.01202-00900}}</td>
        <td class="data">{{data-1.01202-01000}}</td>
        <td class="data">{{data-1.01202-01100}}</td>
        <td class="data">{{data-1.01202-01200}}</td>
        <td class="data">{{data-1.01202-01300}}</td>
        <td class="data">{{data-1.01202-01400}}</td>
        <td class="left">12.02</td>
    </tr>
    <tr>
        <td class="right">12.03</td>
        <td> Specify:</td>
        <td class="data">{{data-1.01203-00100}}</td>
        <td class="data">{{data-1.01203-00200}}</td>
        <td class="data">{{data-1.01203-00300}}</td>
        <td class="data">{{data-1.01203-00400}}</td>
        <td class="data">{{data-1.01203-00500}}</td>
        <td class="data">{{data-1.01203-00600}}</td>
        <td class="data">{{data-1.01203-00700}}</td>
        <td class="data">{{data-1.01203-00800}}</td>
        <td class="data">{{data-1.01203-00900}}</td>
        <td class="data">{{data-1.01203-01000}}</td>
        <td class="data">{{data-1.01203-01100}}</td>
        <td class="data">{{data-1.01203-01200}}</td>
        <td class="data">{{data-1.01203-01300}}</td>
        <td class="data">{{data-1.01203-01400}}</td>
        <td class="left">12.03</td>
    </tr>
    <tr>
        <td colspan="17">(1) List hours of operation based on a 24 hour clock.  For example, 8:30am is 0830, 5:30pm is 1730 and 12 midnight is 2400. </td>
    </tr>
    <tr>
        <td class="right">13</td>
        <td colspan="14">   Has the HHA-based RHC/FQHC been approved for an exception to the productivity standard?</td>
        <td class="data">{{data-1.01300-00100}}</td>
        <td class="left">13</td>
    </tr>
    <tr>
        <td class="right">14</td>
        <td colspan="13">  Is this a consolidated cost report as defined in CMS Pub. 27, section 508(D)?  If yes, enter in column 2 the   number of clinics/centers included in this report.  List all clinic/centers names and numbers below.</td>
        <td class="data">{{data-1.01400-00100}}</td>
        <td class="data">{{data-1.01400-00200}}</td>
        <td class="left">14</td>
    </tr>
    <tr>
        <td class="right">15</td>
        <td colspan="7" class="border-right">   Clinic/Center name:<span class="data">{{data-1.01500-00100}}</span></td>
        <td colspan="8">   Clinic/Center number:<span class="data">{{data-1.01500-00200}}</span></td>
        <td class="left">15</td>
    </tr>
    <tr>
        <td class="right">15.01</td>
        <td colspan="7" class="border-right">   Clinic/Center name:<span class="data">{{data-1.01501-00100}}</span></td>
        <td colspan="8">   Clinic/Center number:<span class="data">{{data-1.01501-00200}}</span></td>
        <td class="left">15.01</td>
    </tr>
    <tr>
        <td class="right">15.02</td>
        <td colspan="7" class="border-right">   Clinic/Center name:<span class="data">{{data-1.01502-00100}}</span></td>
        <td colspan="8">   Clinic/Center number:<span class="data">{{data-1.01502-00200}}</span></td>
        <td class="left">15.02</td>
    </tr>
    <tr>
        <td class="right">15.03</td>
        <td colspan="7" class="border-right">   Clinic/Center name:<span class="data">{{data-1.01503-00100}}</span></td>
        <td colspan="8">   Clinic/Center number:<span class="data">{{data-1.01503-00200}}</span></td>
        <td class="left">15.03</td>
    </tr>
    <tr>
        <td class="right" rowspan="3">16</td>
        <td colspan="12" rowspan="3"> Are you claiming allowable GME costs as a result of "substantial payment" for interns  and residents?  If yes, enter the number of Medicare visits in column 2 and total visits in column 3   performed by interns and residents and complete Worksheet RF-1, lines 20 and 27 as applicable.</td>
        <td class="center">Y/N</td>
        <td class="center">XVIII</td>
        <td class="center">TOTAL</td>
        <td class="left" rowspan="3">16</td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
    </tr>
    <tr>
        <td class="data">&nbsp;{{data-1.01600-00100}}</td>
        <td class="data">&nbsp;{{data-1.01600-00200}}</td>
        <td class="data">&nbsp;{{data-1.01600-00300}}</td>
    </tr>
    <tr>
        <td colspan="17">FORM CMS-1728-94-S4  (10/2016)  (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB. 15-2, SECTION 3233)</td>
    </tr>   
    <tr>
        <td colspan="3" class="border-right">Rev. 17</td>
        <td colspan="11" class="border-right">&nbsp;</td>
        <td colspan="3" class="right">32-305.2</td>
    </tr>
</tbody>
</table>
</div>