<div class="report">
<table border="1" width="100%" cellspacing="1" cellpadding="1">
<colgroup>
    <col width="4%" />
    <col width="25%"/>
    <col width="10%"/>
    <col width="10%"/>
    <col width="10%"/>
    <col width="10%"/>
    <col width="10%"/>
    <col width="4%" /> 
</colgroup>
<thead>
    <tr>
        <td colspan="2">HHA-BASED HOSPICE IDENTIFICATION DATA </td>
        <td colspan="2">PROVIDER  CCN:<span class="data">{{pId}}</span><div>HOSPICE  CCN:<span class="data"></span></div></td>
        <td colspan="2">
            <div>PERIOD:</div>
            <div>FROM <span class="data">{{year.start}}</span></div>
            <div>TO <span class="data">{{year.end}}</span></div> 
        </td>
        <td colspan="2">WORKSHEET S-5</td>
    </tr>
</thead>
<tbody>
    <tr>
        <td colspan="8"><div>&nbsp;</div>PART I - ENROLLMENT DAYS FOR COST REPORTING PERIODS BEGINNING BEFORE OCTOBER 1, 2015</td>
    </tr>
    <tr>
        <td rowspan="3">&nbsp;</td>
        <td class="center" rowspan="3" colspan="2">Enrollment Days</td>
        <td class="center" colspan="2">Title XVIII</td>
        <td class="center" rowspan="2">Other<div>Unduplicated</div><div>Days</div></td>
        <td class="center" rowspan="2">Total<div>Unduplicated</div><div>Days</div><span>(sum of cols. 1 & 3)</span></td>
        <td rowspan="3">&nbsp;</td>
    </tr>
    <tr>
        <td class="center">Unduplicated<div>Days</div></td>
        <td class="center">Unduplicated<div>Skilled</div><div>Nursing</div><div>Facility Days</div></td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
    </tr>
    <tr>
        <td class="right">1</td>
        <td colspan="2">Hospice Continuous Home Care</td>
        <td class="data">{{data-1.00100-00100}}</td>
        <td class="data">{{data-1.00100-00200}}</td>
        <td class="data">{{data-1.00100-00300}}</td>
        <td class="data">{{data-1.00100-00400}}</td>
        <td class="left">1</td>
    </tr>
    <tr>
        <td class="right">2</td>
        <td colspan="2">Hospice Routine Home Care</td>
        <td class="data">{{data-1.00200-00100}}</td>
        <td class="data">{{data-1.00200-00200}}</td>
        <td class="data">{{data-1.00200-00300}}</td>
        <td class="data">{{data-1.00200-00400}}</td>
        <td class="left">2</td>
    </tr>
    <tr>
        <td class="right">3</td>
        <td colspan="2">Hospice Inpatient Respite Care </td>
        <td class="data">{{data-1.00300-00100}}</td>
        <td class="data">{{data-1.00300-00200}}</td>
        <td class="data">{{data-1.00300-00300}}</td>
        <td class="data">{{data-1.00300-00400}}</td>
        <td class="left">3</td>
    </tr>
    <tr>
        <td class="right">4</td>
        <td colspan="2">Hospice General Inpatient Care</td>
        <td class="data">{{data-1.00400-00100}}</td>
        <td class="data">{{data-1.00400-00200}}</td>
        <td class="data">{{data-1.00400-00300}}</td>
        <td class="data">{{data-1.00400-00400}}</td>
        <td class="left">4</td>
    </tr>
    <tr>
        <td class="right">5</td>
        <td colspan="2">Total Hospice Days</td>
        <td class="data">{{data-1.00500-00100}}</td>
        <td class="data">{{data-1.00500-00200}}</td>
        <td class="data">{{data-1.00500-00300}}</td>
        <td class="data">{{data-1.00500-00400}}</td>
        <td class="left">5</td>
    </tr>
    <tr>
        <td colspan="8"><div>&nbsp;</div>PART II - CENSUS DATA FOR COST REPORTING PERIODS BEGINNING BEFORE OCTOBER 1, 2015</td>
    </tr>
    <tr>
        <td rowspan="2">&nbsp;</td>
        <td colspan="2"rowspan="2">Census Data</td>
        <td class="center">Title XVIII</td>
        <td class="center">Title XVIII<div>Skilled</div><div>Nursing</div><div>Facility</div></td>
        <td class="center">Other</td>
        <td class="center">Total<div>(sum of cols. 1 & 3)</div></td>
        <td rowspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
    </tr>
    <tr>
        <td class="right">6</td>
        <td colspan="2">Number of Patients Receiving Hospice Care</td>
        <td class="data">{{data-1.00600-00100}}</td>
        <td class="data">{{data-1.00600-00200}}</td>
        <td class="data">{{data-1.00600-00300}}</td>
        <td class="data">{{data-1.00600-00400}}</td>
        <td class="left">6</td>
    </tr>
    <tr>
        <td class="right">7</td>
        <td colspan="2">Total Number of Unduplicated Continuous Care Hours Billable to Medicare</td>
        <td class="data">{{data-1.00700-00100}}</td>
        <td class="data">{{data-1.00700-00200}}</td>
        <td class="data fillgrey">{{data-1.00700-00300}}</td>
        <td class="data fillgrey">{{data-1.00700-00400}}</td>
        <td class="left">7</td>
    </tr>
    <tr>
        <td class="right">8</td>
        <td colspan="2">Average Length of Stay (line 5 divided by line 6)</td>
        <td class="data">{{data-1.00800-00100}}</td>
        <td class="data">{{data-1.00800-00200}}</td>
        <td class="data">{{data-1.00800-00300}}</td>
        <td class="data">{{data-1.00800-00400}}</td>
        <td class="left">8</td>
    </tr>
    <tr>
        <td class="right">9</td>
        <td colspan="2">Unduplicated Census Count</td>
        <td class="data">{{data-1.00900-00100}}</td>
        <td class="data">{{data-1.00900-00200}}</td>
        <td class="data">{{data-1.00900-00300}}</td>
        <td class="data">{{data-1.00900-00400}}</td>
        <td class="left">9</td>
    </tr>
    
    <tr>
        <td colspan="8"><div>&nbsp;</div>NOTE:   Parts I & II, column 1 also includes the days reported in column 2.<div>&nbsp;</div><div>PART III - ENROLLMENT DAYS FOR COST REPORTING PERIODS BEGINNING ON OR AFTER OCTOBER 1, 2015</div></td>
    </tr>
    <tr>
        <td rowspan="3" colspan="3">&nbsp;</td>
        <td class="center" colspan="5">Unduplicated Days</td>
    </tr>
    <tr>
        <td class="center">Title XVIII <div>Medicare</div></td>
        <td class="center">Title XIX <div>Medicaid</div></td>
        <td class="center">Other</td>
        <td class="center">Total</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="right">10</td>
        <td colspan="2"> Hospice Continuous Home Care</td>
        <td class="data">{{data-1.01000-00100}}</td>
        <td class="data">{{data-1.01000-00200}}</td>
        <td class="data">{{data-1.01000-00300}}</td>
        <td class="data">{{data-1.01000-00400}}</td>
        <td class="left">10</td>
    </tr>
    <tr>
        <td class="right">11</td>
        <td colspan="2"> Hospice Routine Home Care</td>
        <td class="data">{{data-1.01100-00100}}</td>
        <td class="data">{{data-1.01100-00200}}</td>
        <td class="data">{{data-1.01100-00300}}</td>
        <td class="data">{{data-1.01100-00400}}</td>
        <td class="left">11</td>
    </tr>
    <tr>
        <td class="right">12</td>
        <td colspan="2"> Hospice Inpatient Respite Care </td>
        <td class="data">{{data-1.01200-00100}}</td>
        <td class="data">{{data-1.01200-00200}}</td>
        <td class="data">{{data-1.01200-00300}}</td>
        <td class="data">{{data-1.01200-00400}}</td>
        <td class="left">12</td>
    </tr>
    <tr>
        <td class="right">13</td>
        <td colspan="2">  Hospice General Inpatient Care</td>
        <td class="data">{{data-1.01300-00100}}</td>
        <td class="data">{{data-1.01300-00200}}</td>
        <td class="data">{{data-1.01300-00300}}</td>
        <td class="data">{{data-1.01300-00400}}</td>
        <td class="left">13</td>
    </tr>
    <tr>
        <td class="right">14</td>
        <td colspan="2"> Total Hospice Days</td>
        <td class="data">{{data-1.01400-00100}}</td>
        <td class="data">{{data-1.01400-00200}}</td>
        <td class="data">{{data-1.01400-00300}}</td>
        <td class="data">{{data-1.01400-00400}}</td>
        <td class="left">14</td>
    </tr>
    <tr>
        <td colspan="8"><div>&nbsp;</div>PART IV - CONTRACTED STATISTICAL DATA FOR COST REPORTING PERIODS BEGINNING ON OR AFTER OCTOBER 1, 2015</td>
    </tr>
    <tr>
        <td colspan="3"rowspan="2">&nbsp;</td>
        <td class="center">Title XVIII<div>Medicare</div> </td>
        <td class="center">Title XIX<div>Medicaid</div></td>
        <td class="center">Other</td>
        <td class="center">Total</td>
        <td rowspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td class="center">1</td>
        <td class="center">2</td>
        <td class="center">3</td>
        <td class="center">4</td>
    </tr>
    <tr>
        <td class="right">15</td>
        <td colspan="2"> Hospice Inpatient Respite Care</td>
        <td class="data">{{data-1.01500-00100}}</td>
        <td class="data">{{data-1.01500-00200}}</td>
        <td class="data">{{data-1.01500-00300}}</td>
        <td class="data">{{data-1.01500-00400}}</td>
        <td class="left">15</td>
    </tr>
    <tr>
        <td class="right">16</td>
        <td colspan="2"> Hospice General Inpatient Care</td>
        <td class="data">{{data-1.01600-00100}}</td>
        <td class="data">{{data-1.01600-00200}}</td>
        <td class="data fillgrey">{{data-1.01600-00300}}</td>
        <td class="data fillgrey">{{data-1.01600-00400}}</td>
        <td class="left">16</td>
    </tr>
    <tr>
        <td colspan="8">FORM CMS-1728-94 (10/2016) (INSTRUCTIONS FOR THIS WORKSHEET ARE PUBLISHED IN CMS PUB 15-2, SECTIONS 3239.1 THROUGH 3239.4) </td>
    </tr>   
    <tr>
        <td colspan="2" class="border-right">32-306</td>
        <td colspan="4" class="border-right">&nbsp;</td>
        <td colspan="2" class="right">Rev. 17</td>
    </tr>
</tbody>
</table>
</div>