
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

        <input class="form-control py-2 autocomplete" id="selectProvider" type="text" placeholder="Search by Hospital Name or Provider ID" data-width="auto">
        <div class="input-group-append">
            <button class="btn " type="button">
                <i class="fa fa-search"></i>
            </button>
        </div>

