<form action="/api/config/mailgun" method="POST" class="card use-ajax" novalidate data-redirect="finish">

  <header>
    <h1>Connect to Mailgun</h1>
  </header>

  <label>API Key</label>
  <input class="textbox" type="text" name="apiKey" value="{{content.mailgun.apiKey}}" required data-error="Please enter your Mailgun API key"/>

  <label>Domain</label>
  <input class="textbox" type="url" name="domain" value="{{content.mailgun.domain}}" required data-error="Please enter your mailing domain" />

  <label>Sender Address</label>
  <input class="textbox" type="text" name="sender" placeholder="Sender Name <name@domain.com>" value="{{content.mailgun.sender}}" required data-error="Please enter your mail sender name and address" />

  <div class="btn btn-loader full-width">
  <input type="submit" class="btn" value="Save" />
  </div>

</form>
