<div class="user dropdown dark right-align">

  <div class="hotspot">
    <i class="ico ico-light ico-user ico-btn"></i>
  </div>

  <nav class="dropdown">
    <a href="/signout">Sign Out</a>
  </nav>
</div>
