<form action="/api/config/stripe" method="POST" class="card use-ajax" novalidate data-redirect="/setup/mailgun">

<header>
  <h1>Stripe Settings</h1>
</header>

<section>

  <h2>API Keys</h2>

  <label>Stripe Publishable Key</label>
  <input class="textbox" type="text" name="publishableAPIKey" value="{{content.stripe.publishableAPIKey}}" required data-error="Please provide your publishable API Key" />

  <label>Stripe Secret Key</label>
  <input class="textbox" type="text" name="secretAPIKey" value="{{content.stripe.secretAPIKey}}" required data-error="Please provide your secret API Key" />

  <label>Billing Interval</label>
  <div class="select" required>
    <select name="billingInterval">
      <option value="month">Monthly</option>
      <option value="year">Yearly</option>
    </select>
  </div>

  <label>Currency Symbol</label>
  <input class="textbox" type="text" name="currencySymbol"value="{{content.stripe.currencySymbol}}" required data-error="Please provide your currency symbol" />

</section>

<section>

  <h2>Plans</h2>

  {{#each content.stripe.plans}}

    <section class="plan">

      <button class="btn-remove-stripe-plan ico ico-dark ico-delete"></button>

      <label>Plan #{{counter @index}} ID</label>
      <input class="textbox" type="text" name="plans[{{@index}}][id]" value="{{this.id}}" required data-error="Please provide the plan ID" />

      <label>Plan #{{counter @index}} Name</label>
      <input class="textbox" type="text" name="plans[{{@index}}][name]" value="{{this.name}}" required data-error="Please provide the plan name" />

      <label>Plan #{{counter @index}} Price</label>
      <input class="textbox" type="number" name="plans[{{@index}}][price]" value="{{this.price}}" required data-error="Please provide the plan price" />

    </section>

  {{/each}}

  <button class="btn btn-small btn-green btn-add-stripe-plan">Add Plan</button>

</section>

<div class="btn btn-loader full-width">
  <input type="submit" class="btn" value="Save" />
</div>

</form>

<script type="text/template" id="plan-template">

  <section class="plan">

    <button class="btn-remove-stripe-plan ico ico-dark ico-delete"></button>

    <label>Plan #$ ID</label>
    <input class="textbox" type="text" name="plans[$][id]" required />

    <label>Plan #$ Name</label>
    <input class="textbox" type="text" name="plans[$][name]" required />

    <label>Plan #$ Price</label>
    <input class="textbox" type="number" name="plans[$][price]" required />

  </section>

</script>
